@import "~less/variables";

.sw-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: @color-light-gray no-repeat center center;
    background-size: cover;
}