{% block sw_avatar %}
    <span class="sw-avatar" role="img" :style="[avatarImage, avatarSize]">
        <span class="sw-avatar__initials" v-if="!isLoading">{{ userInitials }}</span>
    </span>
{% endblock %}