{% block layout_navigation_offcanvas_navigation_category_headline %}
    <a class="nav-item nav-link navigation-offcanvas-headline"
       href="{{ category_url(item) }}"
       {% if category_linknewtab(item) %}target="_blank"{% endif %}
       itemprop="url">
        {% block layout_navigation_offcanvas_navigation_category_headline_text %}
            <span itemprop="name">
                {{ item.translated.name }}
            </span>
        {% endblock %}
    </a>
{% endblock %}
