{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_close %}
    <div class="offcanvas-header row no-gutters align-items-center sticky-top">

        <div class="col-10 offcanvas-title">
            {{ 'listing.filterTitleText'|trans }}
        </div>

        <button class="col-2 btn btn-light offcanvas-close js-offcanvas-close justify-content-end">
            {% block utilities_offcanvas_close_text %}
            {% endblock %}

            {% block utilities_offcanvas_close_icon %}
                <div>
                    {% sw_icon 'x' style { 'size': 'md' } %}
                </div>
            {% endblock %}
        </button>
    </div>
{% endblock %}

{% block utilities_offcanvas_content %}
    <div class="filter-menu">
        {% block layout_filter_offcanvas %}
            {% sw_include '@Storefront/storefront/component/listing/filter-panel.html.twig' with {
                listing: searchResult,
                offcanvasFilter: true
            } %}
        {% endblock %}
    </div>

    <div class="offcanvas-footer">
        <button class="col-12 btn btn-block btn-buy offcanvas-close js-offcanvas-close">
            {{ 'listing.showResults'|trans }}
        </button>
    </div>
{% endblock %}
