{% block layout_navigation_offcanvas_navigation_categories_headline %}
    <div class="navigation-offcanvas-headline">
        {% block layout_navigation_offcanvas_navigation_categories_headline_text %}
            {{ "general.categories"|trans|sw_sanitize }}
        {% endblock %}
    </div>
{% endblock %}
