{% block layout_navigation_offcanvas_navigation_home_link %}
    <a class="nav-item nav-link is-home-link navigation-offcanvas-link js-navigation-offcanvas-link"
       href="{{ path('frontend.menu.offcanvas') }}"
       itemprop="url"
       title="{{ "general.mainMenu"|trans|striptags }}">
        {% block layout_navigation_offcanvas_navigation_home_link_text %}
            <span class="navigation-offcanvas-link-icon js-navigation-offcanvas-loading-icon">
                {% sw_icon 'stack' %}
            </span>
            <span itemprop="name">
                {{ "general.mainMenu"|trans|sw_sanitize }}
            </span>
        {% endblock %}
    </a>
{% endblock %}
