<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_side_navigation_item %}
<!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
<a
    v-if="isNative"
    class="sw-tabs-item"
    :class="tabsItemClasses"
    v-bind="$attrs"
    @click="clickEvent"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_tabs_item_slot %}
    <slot></slot>
    {% endblock %}

    <sw-icon
        v-if="hasError"
        v-tooltip="{ message: errorTooltip }"
        class="sw-tabs-item__error-badge"
        name="solid-exclamation-circle"
        size="12px"
    />

    <sw-icon
        v-if="!hasError && hasWarning"
        v-tooltip="{ message: warningTooltip }"
        class="sw-tabs-item__warning-badge"
        name="solid-exclamation-triangle"
        size="12px"
    />
</a>

<router-link
    v-else
    ref="sw-tabs-item"
    :class="tabsItemClasses"
    v-bind="$attrs"
    class="sw-tabs-item"
    :to="route"
    @click.native="clickEvent"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_tabs_item_slot_native %}
    <slot></slot>
    <sw-icon
        v-if="hasError"
        v-tooltip="{ message: errorTooltip }"
        class="sw-tabs-item__error-badge"
        name="solid-exclamation-circle"
        size="12px"
    />
    <sw-icon
        v-if="!hasError && hasWarning"
        v-tooltip="{ message: warningTooltip }"
        class="sw-tabs-item__warning-badge"
        name="solid-exclamation-triangle"
        size="12px"
    />
    {% endblock %}
</router-link>
{% endblock %}
