$sw-side-navigation-item-link-distance: 10px;

.sw-tabs-item {
    transition: 0.3s color ease-in-out;
    padding: $sw-side-navigation-item-link-distance ($sw-side-navigation-item-link-distance * 1.75);
    border-bottom: 1px solid var(--color-border-brand-default);
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-text-primary-default);
    cursor: pointer;
    user-select: none;

    .sw-tabs-item__error-badge {
        color: var(--color-icon-critical-default);
        transform: translateY(-9%);
        margin-left: 4px;
    }

    .sw-tabs-item__warning-badge {
        color: var(--color-icon-attention-default);
        transform: translateY(-9%);
        margin-left: var(--scale-size-);
    }

    &.sw-tabs-item--active {
        color: var(--color-icon-primary-default);

        .sw-tabs-item__error-badge {
            color: var(--color-icon-critical-default);
        }

        &:focus-visible {
            border-bottom: none;
        }
    }

    &.sw-tabs-item--has-error {
        color: var(--color-text-critical-default);

        &.sw-tabs-item--active {
            color: var(--color-text-critical-default);
        }
    }

    &.sw-tabs-item--is-disabled {
        color: var(--color-text-primary-disabled);
        pointer-events: none;
    }

    &:disabled {
        color: var(--color-text-primary-disabled);
        cursor: not-allowed;
    }

    &:focus-visible {
        outline: var(--scale-size-2) solid var(--color-border-brand-selected);
        outline-offset: -2px;
    }
}

.sw-tabs--vertical .sw-tabs-item {
    padding: $sw-side-navigation-item-link-distance;
    border-bottom: 0 none;
    border-left: 1px solid var(--color-border-primary-default);
}

.sw-tabs--vertical.sw-tabs--align-right .sw-tabs-item {
    border-left: 0 none;
    border-right: 1px solid var(--color-border-brand-default);
}
