{% block sw_side_navigation_item %}
<a
    v-if="isNative"
    class="sw-tabs-item"
    :class="tabsItemClasses"
    v-bind="$attrs"
    @click="clickEvent"
>
    {% block sw_tabs_item_slot %}
    <slot></slot>
    {% endblock %}
</a>

<router-link
    v-else
    ref="sw-tabs-item"
    :class="tabsItemClasses"
    v-bind="$attrs"
    class="sw-tabs-item"
    :to="route"
    @click.native="clickEvent"
>
    {% block sw_tabs_item_slot_native %}
    <slot></slot>
    <sw-icon
        v-if="hasError"
        v-tooltip="{ message: $tc('global.sw-tabs-item.tooltipTabHasErrors') }"
        class="sw-tabs-item__error-badge"
        name="default-basic-shape-circle-filled"
        size="8px"
    />
    {% endblock %}
</router-link>
{% endblock %}
