{% block sw_manufacturer_detail %}
    <sw-page class="sw-manufacturer-detail">

        {% block sw_manufacturer_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="manufacturer.name">{{ manufacturer.name }}</h2>
                <h2 v-else class="sw-manufacturer-detail__empty-title">{{ $tc('sw-manufacturer.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_manufacturer_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_manufacturer_detail_actions_abort %}
                    <sw-button :disabled="manufacturer.isLoading" :routerLink="{ name: 'sw.manufacturer.index' }">
                        {{ $tc('sw-manufacturer.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_manufacturer_detail_actions_save %}
                    <sw-button class="sw-manufacturer-detail__save-action" variant="primary" :disabled="manufacturer.isLoading" @click.prevent="onSave">
                        {{ $tc('sw-manufacturer.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_manufacturer_detail_content %}
            <sw-card-view slot="content">
                {% block sw_manufacturer_detail_base_basic_info_card %}
                    <sw-card :title="$tc('sw-manufacturer.detail.cardTitleManufacturerInfo')" :isLoading="manufacturer.isLoading">
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">
                            {% block sw_manufacturer_detail_base_info_field_name %}
                                <sw-field type="text"
                                          :label="$tc('sw-manufacturer.detail.labelName')"
                                          :placeholder="$tc('sw-manufacturer.detail.placeholderName')"
                                          name="name"
                                          validation="required"
                                          v-model="manufacturer.name">
                                </sw-field>
                            {% endblock %}

                            {% block sw_manufacturer_detail_base_info_field_link %}
                                <sw-field type="url"
                                          :label="$tc('sw-manufacturer.detail.labelLink')"
                                          :placeholder="$tc('sw-manufacturer.detail.placeholderLink')"
                                          name="link"
                                          v-model="manufacturer.link">
                                </sw-field>
                            {% endblock %}

                            <template v-if="manufacturer.catalogId">
                                {% block sw_manufacturer_detail_logo_upload %}
                                    <sw-media-upload-button v-if="!manufacturer.mediaId && !manufacturer.isLoading"
                                        class="sw-manufacturer-detail__logo-upload"
                                        :catalogId="manufacturer.catalogId"
                                        :allowMultiSelect="false"
                                        variant="regular"
                                        :caption="$tc('sw-manufacturer.detail.addLogoCaption')"
                                        @media-upload-success="onSuccessfulImageUpload">
                                    </sw-media-upload-button>
                                {% endblock %}

                                <div v-else-if="mediaItem" class="sw-manufacturer-image-pane" :class="logoFieldClasses">
                                    {% block sw_manufacturer_detail_logo %}
                                        <sw-media-preview class="sw-manufacturer-detail__logo"
                                                          :item="mediaItem"
                                                          :transparency="false">
                                        </sw-media-preview>
                                    {% endblock %}

                                    {% block sw_manufacturer_detail_logo_unlink_button %}
                                        <sw-button class="sw-manufacturer-detail__delete-logo"
                                                   variant="danger"
                                                   @click="onUnlinkLogo">
                                            <sw-icon color="#fff" name="default-action-trash" medium></sw-icon>
                                        </sw-button>
                                    {% endblock %}
                                </div>
                            </template>
                        </sw-container>

                        {% block sw_manufacturer_detail_base_info_field_description %}
                            <sw-text-editor
                                      :label="$tc('sw-manufacturer.detail.labelDescription')"
                                      :placeholder="$tc('sw-manufacturer.detail.placeholderDescription')"
                                      name="description"
                                      v-model="manufacturer.description">
                            </sw-text-editor>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}