@import "~scss/variables";
@import "~scss/mixins";

.sw-data-grid {
    overflow: hidden;
    background-color: $color-white;

    &.sw-data-grid--full-page {
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .sw-data-grid__wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        overflow-y: auto;
    }

    .sw-data-grid__table {
        border-collapse: collapse;
        width: 100%;
    }

    .sw-data-grid__cell {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: $color-gutenberg;
        border-right: 1px solid $color-steam-cloud;
        overflow: hidden;
        background-color: $color-white;

        &:last-child {
            border-right: 0 none;
        }
    }

    &.sw-data-grid--actions .sw-data-grid__cell {
        border-right: 1px solid $color-steam-cloud;

        &:last-child,
        &:nth-last-child(2) {
            border-right: 0 none;
        }
    }

    .sw-data-grid__cell-content {
        @include truncate();
        min-width: 0;
        padding: 20px;
        line-height: 22px;
        height: 64px;
        font-size: 14px;
        display: flex;
        align-items: center;

        .sw-field,
        .sw-field.sw-field--small {
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }

        .sw-field.sw-field--checkbox {
            display: block;
            margin-bottom: 0;
            width: auto;
        }

        .sw-label {
            margin-bottom: 0;
        }

        a {
            color: $color-gutenberg;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .sw-icon,
        .sw-color-badge {
            flex-shrink: 0;
        }
    }

    .sw-data-grid__cell-value {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sw-data-grid__cell--align-right {
        .sw-data-grid__cell-content {
            justify-content: flex-end;
        }

        .sw-data-grid-inline-edit {
            justify-content: flex-end;
        }
    }

    .sw-data-grid__cell--align-left {
        .sw-data-grid__cell-content {
            justify-content: flex-start;
        }

        .sw-data-grid-inline-edit {
            justify-content: flex-start;
        }
    }

    .sw-data-grid__cell--align-center {
        .sw-data-grid__cell-content {
            justify-content: center;
        }

        .sw-data-grid-inline-edit {
            justify-content: center;
        }
    }

    .sw-data-grid__cell-resize {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 100%;
        background-color: $color-steam-cloud;
        cursor: ew-resize;
        opacity: 0;
        transition: all 0.2s ease-in-out;

        &.is--column-resizing {
            background-color: darken($color-steam-cloud, 10%);
        }
    }

    .sw-data-grid__action-edit-column {
        margin-left: 5px;

        .sw-icon {
            color: $color-steam-cloud;
        }
    }

    .sw-data-grid__header {
        &:hover {
            .sw-data-grid__cell-resize {
                opacity: 1;
                width: 4px;
            }
        }
    }

    .sw-data-grid__cell--header {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background-clip: padding-box;
        box-shadow: inset 0 -1px 0 $color-steam-cloud;
        background-color: $color-white;
        z-index: 5;
        overflow: visible;

        .sw-data-grid__cell-content {
            position: relative;
            overflow: hidden;
        }
    }

    .sw-data-grid__cell--sortable:hover {
        cursor: pointer;
        background-color: $color-light-gray;
    }

    .sw-data-grid__cell--property {
        .sw-data-grid__sort-indicator {
            margin-left: auto;
        }

        &.is--column-resizing {
            background-color: $color-cadet-blue;
        }

        &:hover {
            .sw-data-grid__action-edit-column .sw-icon {
                color: $color-gutenberg;
            }
        }
    }

    &.is--resizing .sw-data-grid__cell--property {
        cursor: ew-resize;
        user-select: none;
    }

    .sw-data-grid__cell--selection {
        width: 88px;
        min-width: 88px;
        max-width: 88px;

        .sw-data-grid__cell-content {
            justify-content: center;
        }
    }

    .sw-data-grid__body .sw-data-grid__row {
        &:nth-child(even) .sw-data-grid__cell {
            background-color: $color-light-gray;
        }

        &:hover .sw-data-grid__cell {
            background-color: $color-cadet-blue;

            a {
                color: $color-shopware-blue;
            }
        }

        &.is--inline-edit {
            .sw-data-grid__cell {
                background-color: $color-cadet-blue;
                border-top: 1px solid $color-shopware-blue;
                border-bottom: 1px solid $color-shopware-blue;
            }

            .sw-data-grid__cell-content {
                padding: 10px;
                color: darken($color-steam-cloud, 10%);
            }

            .sw-data-grid__cell-value {
                display: inline-block;
                margin: 0 10px;
                color: darken($color-steam-cloud, 10%);
                user-select: none;
                cursor: default;
            }
        }

        &.is--selected {
            .sw-data-grid__cell {
                background-color: $color-cadet-blue;
                border-top: 1px solid $color-shopware-blue;
                border-bottom: 1px solid $color-shopware-blue;
            }
        }
    }

    .sw-data-gird__cell--actions {
        position: sticky;
        position: -webkit-sticky;
        right: 0;
        width: 88px;
        min-width: 88px;
        max-width: 88px;
        box-shadow: inset 1px 0 0 $color-steam-cloud;
        overflow: visible;
        z-index: 4;

        &.is--loading {
            position: initial;
        }

        .sw-data-grid__cell-content {
            justify-content: center;
        }

        .sw-button:not(:last-child) {
            margin-right: 5px;
        }
    }

    .sw-data-grid__cell-settings {
        box-shadow: inset 1px -1px 0 $color-steam-cloud;
        z-index: 5;
    }

    &.is--scroll-x {
        .sw-data-gird__cell--actions::before {
            pointer-events: none;
            width: 8px;
            display: block;
            content: '';
            background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1));
            position: absolute;
            top: 0;
            bottom: 0;
            left: -8px;
        }
    }

    &.is--compact {
        .sw-data-grid__body .sw-data-grid__cell-content {
            padding: 10px 20px;
            height: 42px;
        }
    }

    .sort-indicator-enter-active,
    .sort-indicator-leave-active {
        transition: all .1s ease-in-out;
        transform: translateY(0);
        opacity: 1;
    }

    .sort-indicator-enter,
    .sort-indicator-leave-to  {
        transform: translateY(10px);
        opacity: 0;
    }
}
