@import "~scss/variables";

.sw-shortcut-overview-item {
    margin: 10px 40px 10px 0;

    kbd span {
        font-family: $font-family-default;
        font-size: $font-size-small;
        color: $color-darkgray-200;
        border: 1px solid $color-gray-300;
        background-color: $color-white;
        padding: 4px 6px;
        margin-right: 8px;
        cursor: default;

        #{$dark-theme-class} & {
            color: lighten($color-darkgray-200, $dark-theme-contrast-factor);
            border: 1px solid lighten($color-gray-300, $dark-theme-contrast-factor);
            background-color: darken($color-white, $dark-theme-contrast-factor);
        }
    }

    span.sw-shortcut-overview-item__title {
        font-family: $font-family-default;
        font-size: $font-size-small;
        color: $color-darkgray-200;

        #{$dark-theme-class} & {
            color: lighten($color-darkgray-200, $dark-theme-contrast-factor);
        }
    }
}
