<router-link v-if="link.length"
             :to="{ 'name': link }"
             class="sw-button"
             :class="buttonClasses">
    <slot></slot>
</router-link>

<button class="sw-button"
        :class="buttonClasses"
        :disabled="disabled"
        v-on="$listeners"
        v-else>
    <slot></slot>
</button>