{% block sw_button %}
    {% block sw_button_router_link %}
        <router-link v-if="routerLink"
                     :to="routerLink"
                     class="sw-button"
                     :class="buttonClasses">
            {% block sw_button_router_link_content %}
                <span class="sw-button__content">
                    <slot>{% block sw_button_router_link_slot_default %}{% endblock %}</slot>
                </span>
            {% endblock %}
        </router-link>
    {% endblock %}

    {% block sw_button_link %}
        <a v-else-if="link"
           :href="link"
           class="sw-button"
           :class="buttonClasses">
            {% block sw_button_link_content %}
                <span class="sw-button__content">
                    <slot>{% block sw_button_link_slot_default %}{% endblock %}</slot>
                </span>
            {% endblock %}
        </a>
    {% endblock %}

    {% block sw_button_button %}
        <button class="sw-button"
                :class="buttonClasses"
                :disabled="disabled"
                v-on="$listeners"
                v-else>
            {% block sw_button_button_content %}
                <span class="sw-button__content">
                    <slot>{% block sw_button_button_slot_default %}{% endblock %}</slot>
                </span>
            {% endblock %}
        </button>
    {% endblock %}
{% endblock %}