@import '~scss/variables';

$sw-button-transition: all 0.15s ease-out;

.sw-button {
    border: 1px solid $color-steam-cloud;
    background: $color-link-water;
    color: $color-kashmir;
    transition: $sw-button-transition;
    display: inline-block;
    border-radius: $border-radius-default;
    padding: 2px 24px;
    font-size: 14px;
    line-height: 34px;
    outline: none;
    font-weight: 600;
    font-family: $font-family-default;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 0;
    position: relative;

    .sw-button__content {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0 8px;
    }

    .sw-button__content.is--hidden {
        visibility: hidden;
    }

    &:hover {
        color: darken($color-kashmir, 5%);
        background: darken($color-link-water, 5%);
        border-color: darken($color-steam-cloud, 5%);
    }

    &:active {
        color: darken($color-kashmir, 10%);
        background: darken($color-link-water, 10%);
        border-color: darken($color-steam-cloud, 20%);
    }

    &:disabled,
    &.sw-button--disabled {
        background-color: $color-light-gray;
        color: lighten($color-kashmir, 25%);
        pointer-events: none;
        cursor: default;
    }

    .sw-icon {
        color: lighten($color-kashmir, 30%);
    }

    &.sw-button--square:not([disabled]) .sw-icon,
    &.sw-button--square:not(.sw-button--disabled) .sw-icon {
        color: $color-kashmir;
    }

    &.sw-button--primary {
        background: $color-shopware-blue;
        color: $color-white;
        line-height: 36px;
        border: 0 none;

        .sw-icon {
            color: $color-white;
        }

        &.sw-button--x-small {
            line-height: 20px;
        }

        &.sw-button--small {
            line-height: 28px;
        }

        &.sw-button--large {
            line-height: 44px;
        }

        &:hover {
            background: darken($color-shopware-blue, 10%);
        }

        &:active {
            background: darken($color-shopware-blue, 15%);
        }

        &:disabled,
        &.sw-button--disabled {
            background: lighten($color-shopware-blue, 20%);
        }

        &.sw-button--square .sw-icon {
            color: $color-white;
        }
    }

    &.sw-button--contrast {
        background: $color-contrast;
        color: $color-kashmir;
        line-height: 36px;
        border: 0 none;

        .sw-icon {
            color: $color-kashmir;
        }

        &.sw-button--x-small {
            line-height: 20px;
        }

        &.sw-button--small {
            line-height: 28px;
        }

        &.sw-button--large {
            line-height: 44px;
        }

        &:hover {
            background: darken($color-contrast, 3%);
        }

        &:active {
            background: darken($color-contrast, 5%);
        }

        &:disabled,
        &.sw-button--disabled {
            background: lighten($color-contrast, 20%);
            color: lighten($color-kashmir, 25%);
        }
    }

    &.sw-button--danger {
        background: $color-crimson;
        color: $color-white;
        line-height: 36px;
        border: 0 none;

        .sw-icon {
            color: $color-white;
        }

        &.sw-button--x-small {
            line-height: 20px;
        }

        &.sw-button--small {
            line-height: 28px;
        }

        &.sw-button--large {
            line-height: 44px;
        }

        &:hover {
            background: darken($color-crimson, 10%);
        }

        &:active {
            background: darken($color-crimson, 15%);
        }

        &:disabled,
        &.sw-button--disabled {
            background: lighten($color-crimson, 20%);
        }
    }

    &.sw-button--ghost {
        background-color: transparent;
        border-color: $color-shopware-blue;
        color: $color-shopware-blue;

        .sw-icon {
            color: $color-shopware-blue;
        }

        &:hover {
            background-color: lighten($color-shopware-blue, 40%);
            color: $color-shopware-blue;
        }

        &:active {
            background-color: darken(lighten($color-shopware-blue, 40%), 5%);
            color: darken($color-shopware-blue, 10);
        }

        &:disabled,
        &.sw-button--disabled {
            background-color: transparent;
            border-color: lighten($color-shopware-blue, 20%);
            color: lighten($color-shopware-blue, 20%);
        }
    }

    &.sw-button--block {
        display: block;
        width: 100%;
    }

    &.sw-button--x-small {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        line-height: 18px;

        &.sw-button--square {
            width: 24px;
        }
    }

    &.sw-button--small {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        line-height: 26px;

        &.sw-button--square {
            width: 32px;
        }
    }

    &.sw-button--large {
        padding-left: 28px;
        padding-right: 28px;
        line-height: 42px;
        font-size: 15px;

        &.sw-button--square {
            width: 48px;
        }
    }

    &.sw-button--square {
        width: 40px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .sw-button__content {
            display: inline;
        }
    }

    .sw-button__loader {
        position: absolute;
        left: 50%;
        top: 50%;
        animation:spin 2s linear infinite;
    }

    @keyframes spin {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        to {
            transform: translate(-50%, -50%) rotate(360deg)
        }
    }
}
