.sw_review_list {
    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .sw-review-text_ellipsis {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}
