<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_sidebar_filter_config %}
<div class="sw-cms-el-config-sidebar-filter">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_sidebar_filter_config_info %}
    <sw-alert variant="info">
        {{ $tc('sw-cms.elements.general.config.infoText.listingElement') }}
    </sw-alert>
    {% endblock %}
</div>
{% endblock %}
