@import "~scss/variables";

.sw-select.sw-multi-ip-select {
    .sw-select__selection-indicators {
        display: none;
    }

    .sw-select-selection-list {
        width: 100%;
    }

    .sw-select-selection-list .sw-select-selection-list__item-holder {
        max-width: 246px;
    }
}

.sw-multi-ip-select-validation-popover {
    .sw-multi-ip-select-valid-ip,
    .sw-multi-ip-select-invalid-ip {
        padding: 5px 8px;
        margin: 5px 8px;
    }

    .sw-multi-ip-select-valid-ip {
        cursor: pointer;
        background: $color-shopware-brand-50;
    }

    .sw-multi-ip-select-invalid-ip {
        background: $color-gray-50;
    }
}
