<div>
    <sw-card
        class="sw-generic-cms-page-assignment"
        position-identifier="sw-generic-cms-page-assignment"
        :title="$tc('sw-category.base.cms.title')"
        :is-loading="isLoading"
    >
        <div class="sw-generic-cms-page-assignment__base-layout">
            <sw-cms-list-item
                active
                :page="cmsPage"
                @onItemClick="openLayoutModal"
            />

            <div class="sw-generic-cms-page-assignment__page-selection">
                <div class="sw-generic-cms-page-assignment__page-selection-info">
                    <div
                        class="sw-generic-cms-page-assignment__page-selection-headline"
                        :class="{ 'is--empty': !cmsPage }"
                    >
                        {{ cmsPage ? cmsPage.name : $tc('sw-category.base.cms.defaultTitle') }}
                    </div>
                    <div
                        class="sw-generic-cms-page-assignment__page-selection-subheadline"
                        :class="{ 'is--empty': !cmsPage }"
                    >
                        {{ pageTypeTitle }}
                    </div>
                </div>

                <div
                    v-if="cmsPage"
                    class="sw-generic-cms-page-assignment__page-selection-actions"
                >
                    <sw-button
                        class="sw-generic-cms-page-assignment__change-layout-action"
                        size="small"
                        @click="openLayoutModal"
                    >
                        {{ $tc('sw-category.base.cms.changeLayout') }}
                    </sw-button>

                    <sw-button
                        class="sw-generic-cms-page-assignment__open-in-pagebuilder"
                        size="small"
                        @click="openInCmsEditor"
                    >
                        {{ $tc('sw-category.base.cms.editInPagebuilder') }}
                    </sw-button>

                    <sw-button
                        size="small"
                        class="sw-generic-cms-page-assignment__layout-reset"
                        square
                        @click="onLayoutSelect(null)"
                    >
                        <sw-icon
                            name="regular-trash"
                            small
                        />
                    </sw-button>
                </div>

                <div
                    v-else
                    class="sw-generic-cms-page-assignment__page-selection-actions"
                >
                    <sw-button
                        class="sw-generic-cms-page-assignment__change-layout-action"
                        size="small"
                        @click="openLayoutModal"
                    >
                        {{ $tc('sw-category.base.cms.changeLayoutEmpty') }}
                    </sw-button>

                    <sw-button
                        class="sw-generic-cms-page-assignment__create-layout"
                        size="small"
                        @click="createNewLayout"
                    >
                        {{ $tc('sw-category.base.cms.editInPagebuilderEmpty') }}
                    </sw-button>
                </div>
            </div>
        </div>
    </sw-card>

    <sw-cms-page-form
        v-if="cmsPage"
        :page="cmsPage"
    />

    <sw-cms-layout-modal
        v-if="showLayoutSelection"
        :cms-page-types="allowedPageTypes"
        :pre-selection="cmsPage"
        @modal-layout-select="onLayoutSelect"
        @modal-close="closeLayoutModal"
    />
</div>
