@import "~scss/variables";

.sw-cms-block-config {
    padding: 25px;

    .sw-media-compact-upload{
        margin-bottom: 22px;
    }

    .sw-media-upload .sw-media-upload__dropzone {
        border: 1px solid $color-steam-cloud;

        #{$dark-theme-class} & { 
            border: 1px solid lighten($color-steam-cloud, $dark-theme-contrast-factor);
        }
    }
}