<div class="sw-cms-block-config">
    <sw-text-field label="Block name" tooltipText="Name your block for better usage..." v-model="block.config.name"></sw-text-field>

    <sw-select-field label="Size mode" v-model="block.config.sizingMode">
        <option value="boxed">Boxed</option>
        <option value="full_width">Full width</option>
    </sw-select-field>

    <sw-colorpicker label="Background color" v-model="block.config.backgroundColor"></sw-colorpicker>

    <sw-text-field label="Top margin" v-model="block.config.marginTop"></sw-text-field>
    <sw-text-field label="Bottom margin" v-model="block.config.marginBottom"></sw-text-field>
</div>
