{% block sw_cms_block_config %}
    <div class="sw-cms-block-config">
        {% block sw_cms_block_config_name_field %}
            <sw-text-field :label="$tc('sw-cms.detail.labelBlockNameField')"
                           :tooltipText="$tc('sw-cms.detail.tooltipBlockNameField')"
                           v-model="block.config.name">
            </sw-text-field>
        {% endblock %}

        {% block sw_cms_block_config_sizing_field %}
            <sw-select-field :label="$tc('sw-cms.detail.labelBlockSizingField')" v-model="block.config.sizingMode">
                <option value="boxed">{{ $tc('sw-cms.detail.labelBlockSizingOptionBoxed') }}</option>
                <option value="full_width">{{ $tc('sw-cms.detail.labelBlockSizingOptionFull') }}</option>
            </sw-select-field>
        {% endblock %}

        {% block sw_cms_block_config_background_color_field %}
            <sw-colorpicker :label="$tc('sw-cms.detail.labelBlockBackgroundColorField')" v-model="block.config.backgroundColor"></sw-colorpicker>
        {% endblock %}
    </div>
{% endblock %}
