{% block sw_promotion_code_form %}
    <div class="sw-promotion-code-form">
        {% block sw_promotion_code_form_code_field %}
            <sw-field type="text"
                      :label="$tc('sw-promotion.detail.main.general.codes.labelCode')"
                      :placeholder="placeholder(promotion, 'code', $tc('sw-promotion.detail.main.general.codes.placeholderCode'))"
                      v-model="promotion.code"
                      :disabled="isCodeFieldDisabled"
                      :validation="isCodeFieldValid">
            </sw-field>
        {% endblock %}
    </div>
{% endblock %}
