<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_gallery_preview %}
<div class="sw-cms-el-preview-gallery">
    <div class="sw-cms-el-preview-gallery-preview">
        <img
            :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
            alt=""
        >
        <img
            :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
            alt=""
        >
        <img
            :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
            alt=""
        >
    </div>

    <sw-cms-el-preview-image-slider class="sw-cms-el-preview-gallery__slider" />
</div>
{% endblock %}
