{% block sw_settings_search_view_general %}
    <div class="sw-settings-search__view-general">
        {% block sw_settings_search_search_behaviour_card %}
            <sw-settings-search-search-behaviour
                :isLoading="isLoading"
                :searchBehaviourConfigs="productSearchConfigs">
            </sw-settings-search-search-behaviour>
        {% endblock %}

        {% block sw_settings_search_searchable_content_card %}
            <sw-settings-search-searchable-content
                :searchConfigId="searchConfigId">
            </sw-settings-search-searchable-content>
        {% endblock %}

        {% block sw_settings_search_excluded_search_terms_card %}
            {#TODO: NEXT-11993 - Implement Excluded search temrs in new Search settings module #}
        {% endblock %}

        {% block sw_settings_search_search_index_card %}
            <sw-settings-search-search-index :isLoading="isLoading">
            </sw-settings-search-search-index>
        {% endblock %}
    </div>
{% endblock %}
