<form>
    <input type="hidden" name="_csrf_token" value="1b4dfebfc2584cf58b63c72c20d521d0token1#">
</form>

<form>
    <input type="hidden" name="_csrf_token" value="1b4dfebfc2584cf58b63c72c20d521d0token2#">
</form>

<div data-csrf-only="1b4dfebfc2584cf58b63c72c20d521d0token3#"></div>