{% block sw_settings_number_range_detail %}
    <sw-page class="sw-settings-number-range-detail">

        {% block sw_settings_number_range_detail_header %}
            <template slot="smart-bar-header">
                <h2>{{ placeholder(numberRange, 'name', $tc('sw-settings-number-range.detail.textHeadline')) }}</h2>
            </template>
        {% endblock %}
        {% block sw_settings_number_range_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch @on-change="onChangeLanguage"
                                    :saveChangesFunction="saveOnLanguageChange"
                                    :abortChangeFunction="abortOnLanguageChange">
                </sw-language-switch>
            </template>
        {% endblock %}
        {% block sw_settings_number_range_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_number_range_detail_actions_abort %}
                    <sw-button :disabled="numberRange.isLoading" v-tooltip.bottom="tooltipCancel" @click="onCancel">
                        {{ $tc('sw-settings-number-range.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_number_range_detail_actions_save %}
                    <sw-button-process class="sw-settings-number-range-detail__save-action"
                                       :isLoading="isLoading"
                                       :processSuccess="isSaveSuccessful"
                                       :disabled="numberRange.isLoading"
                                       variant="primary"
                                       @process-finish="saveFinish"
                                       v-tooltip.bottom="tooltipSave"
                                       @click.prevent="onSave">
                        {{ $tc('sw-settings-number-range.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_number_range_detail_content %}
            <sw-card-view slot="content">

                {% block sw_settings_number_range_detail_language_info %}
                    <sw-language-info :entityDescription="identifier"></sw-language-info>
                {% endblock %}

                {% block sw_settings_number_range_detail_content_card %}
                    <sw-card :title="$tc('sw-settings-number-range.detail.configCard')">
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">

                            {% block sw_settings_number_range_detail_content_field_name %}
                                <sw-field type="text"
                                          :label="$tc('sw-settings-number-range.detail.labelName')"
                                          :placeholder="placeholder(numberRange,'name', $tc('sw-settings-number-range.detail.placeholderName'))"
                                          validation="required"
                                          required
                                          v-model="numberRange.name">
                                </sw-field>
                            {% endblock %}

                            {% block sw_settings_number_range_detail_content_field_description %}
                                <sw-field type="text"
                                          :label="$tc('sw-settings-number-range.detail.labelDescription')"
                                          :placeholder="placeholder(numberRange,'description', $tc('sw-settings-number-range.detail.placeholderDescription'))"
                                          v-model="numberRange.description">
                                </sw-field>
                            {% endblock %}
                        </sw-container>

                        <sw-container columns="repeat(auto-fit, minmax(200px, 1fr)" gap="0px 30px">
                            {% block sw_settings_number_range_detail_content_field_prefix %}
                                <sw-field type="text"
                                          :disabled="advanced"
                                          @input="onChangePattern()"
                                          :label="$tc('sw-settings-number-range.detail.labelPrefix')"
                                          :placeholder="advanced?$tc('sw-settings-number-range.detail.placeholderSimpleModeImpossible'):$tc('sw-settings-number-range.detail.placeholderPrefix')"
                                          v-model="prefix">
                                </sw-field>
                            {% endblock %}

                            {% block sw_settings_number_range_detail_content_field_start %}
                                <sw-field type="number"
                                          numberType="int"
                                          @change="onChangePattern()"
                                          :label="$tc('sw-settings-number-range.detail.labelStart')"
                                          :placeholder="$tc('sw-settings-number-range.detail.placeholderStart')"
                                          v-model="numberRange.start"
                                          required
                                          validation="required">
                                </sw-field>
                            {% endblock %}

                            {% block sw_settings_number_range_detail_content_field_suffix %}
                                <sw-field type="text"
                                          :disabled="advanced"
                                          @input="onChangePattern()"
                                          :label="$tc('sw-settings-number-range.detail.labelSuffix')"
                                          :placeholder="advanced?$tc('sw-settings-number-range.detail.placeholderSimpleModeImpossible'):$tc('sw-settings-number-range.detail.placeholderSuffix')"
                                          v-model="suffix">
                                </sw-field>
                            {% endblock %}
                        </sw-container>

                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                            {% block sw_settings_number_range_detail_content_field_default %}
                                <div class="sw-settings-number-range-detail__field_default">
                                    <sw-field type="switch"
                                              bordered
                                              v-model="advanced"
                                              :label="$tc('sw-settings-number-range.detail.labelAdvanced')">
                                    </sw-field>
                                    <sw-help-text :width="380" :text="$t('sw-settings-number-range.detail.helpTextAdvancedField')"></sw-help-text>
                                </div>
                            {% endblock %}

                            {% block sw_settings_number_range_detail_content_field_pattern %}
                                <sw-field type="text"
                                          v-if="advanced"
                                          @input="onChangePattern()"
                                          :label="$tc('sw-settings-number-range.detail.labelPattern')"
                                          :placeholder="$tc('sw-settings-number-range.detail.placeholderPattern')"
                                          v-model="numberRange.pattern">
                                </sw-field>
                                <div v-if="!advanced"></div>
                            {% endblock %}

                            {% block sw_settings_number_range_detail_content_field_current_number %}
                            <sw-field type="text"
                                      disabled
                                      :label="$tc('sw-settings-number-range.detail.labelCurrentNumber')"
                                      :placeholder="numberRange.start?numberRange.start.toString():''"
                                      v-if="state"
                                      v-model="state">
                            </sw-field>
                            {% endblock %}

                            {% block sw_settings_number_range_detail_content_field_preview %}
                            <sw-field type="text"
                                      disabled
                                      :label="$tc('sw-settings-number-range.detail.labelPreview')"
                                      v-model="preview">
                            </sw-field>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}
                {% block sw_settings_number_range_detail_assignment_card %}
                    <sw-card :title="$tc('sw-settings-number-range.detail.assignmentCard')">
                        <sw-container columns="repeat(auto-fit, minmax(100%, 1fr)" gap="0px 30px">
                            {% block sw_sales_channel_detail_base_general_input_type %}
                                <sw-entity-single-select
                                    v-if="numberRange.type"
                                    entity="number_range_type"
                                    v-model="numberRange.typeId"
                                    :disabled="
                                            numberRange.type.global ||
                                            numberRange.global ||
                                            (
                                                numberRange.type !== null &&
                                                numberRange.numberRangeSalesChannels &&
                                                numberRange.numberRangeSalesChannels.length > 0
                                            )"
                                    :label="$tc('sw-settings-number-range.detail.labelType')"
                                    id="numberRangeTypes"
                                    @change="onChangeType"
                                    class="sw-number-range-detail__select-type"
                                    required
                                    :criteria="numberRangeTypeCriteria"
                                    labelProperty="typeName">
                                </sw-entity-single-select>
                            {% endblock %}

                            {% block sw_sales_channel_detail_base_general_input_sales_channel %}
                                <sw-multi-select
                                    v-if="numberRange && (!numberRange.global || numberRange.global === false)"
                                    class="sw-number-range-detail__select-type"
                                    :label="$tc('sw-settings-number-range.detail.labelSalesChannel')"
                                    :disabled="!numberRange.typeId"
                                    required
                                    :value="selectedNumberRangeSalesChannels"
                                    @item-add="addSalesChannel"
                                    @item-remove="removeSalesChannel"
                                    :options="salesChannels"
                                    labelProperty="translated.name"
                                    valueProperty="id">
                                </sw-multi-select>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
