<div class="sw-product-detail-general">
    <sw-product-basic-form :product="product"
                           :manufacturers="manufacturers"
                           :taxRates="taxRates"
                           :serviceProvider="serviceProvider">
    </sw-product-basic-form>
</div>