<div class="sw-cms-stage-add-block" @click="$emit('onStageAddBlock')">
    <div class="add-block__handle"></div>
    <div class="add-block__button">
        <sw-icon name="default-basic-plus-line" size="20"></sw-icon>
    </div>
</div>
