/*
Header
==================================================
Contains custom skin styles for the header at the top of the page.
The header contains the shop logo, the search form and various actions like the offcanvas cart button.
*/

.header-search-btn,
.header-close-btn {
    --#{$prefix}btn-focus-box-shadow: var(--sw-focus-ring-box-shadow);
    --#{$prefix}btn-border-color: var(--sw-border-color);
    --#{$prefix}btn-hover-border-color: var(--sw-color-primary);
    --#{$prefix}btn-active-border-color: var(--sw-color-primary);
    --#{$prefix}btn-disabled-bg: var(--sw-color-base);
    --#{$prefix}btn-disabled-border-color: var(--sw-border-color);
    border-left: 0 none;

    &:hover {
        .icon {
            color: var(--sw-color-primary);
        }
    }

    &.btn:disabled {
        display: flex;
        align-items: center;
    }
}

.header-search-input {
    --#{$prefix}-focus-ring-box-shadow: var(--sw-focus-ring-box-shadow);
    border-right: 0;
}

.header-cart-total {
    color: var(--sw-color-primary);
    font-size: var(--sw-font-size-lg);
}

@include media-breakpoint-up(sm) {
    .header-cart-badge {
        display: none;
    }
}
