/*
Navigation offcanvas
==============================================
Custom skin styling for navigation offcanvas which replaces main navigation on smaller screens.
Based on custom offcanvas component.
*/

.navigation-offcanvas-headline {
    font-weight: var(--sw-font-weight-bold);
    color: var(--sw-color-secondary);

    &:focus-visible {
        box-shadow: var(--sw-focus-ring-box-shadow-inset);
    }
}

.navigation-offcanvas-list-item {
    background-color: var(--sw-color-base);
    border-top: 1px solid var(--sw-color-base-300);

    &:last-child {
        border-bottom: 1px solid var(--sw-color-base-300);
    }
}

.navigation-offcanvas-link {
    color: var(--sw-color-base-content);

    &:focus-visible {
        box-shadow: var(--sw-focus-ring-box-shadow-inset);
    }

    &.is-home-link {
        &,
        .icon {
            color: var(--sw-color-primary);
        }
    }

    &.is-back-link {
        border-top: 1px solid var(--sw-color-base-300);
        font-weight: var(--sw-font-weight-bold);
        color: var(--sw-color-secondary);
    }

    &.is-current-category {
        color: var(--sw-color-primary);
        font-weight: var(--sw-font-weight-bold);
    }
}
