{% block sw_cms_block_gallery_buybox %}
<div
    class="sw-cms-block-gallery-buybox"
    :class="currentDeviceViewClass"
>
    <slot name="left">
        {% block sw_cms_block_gallery_buybox_slot_left %}{% endblock %}
    </slot>
    <slot name="right">
        {% block sw_cms_block_gallery_buybox_slot_right %}{% endblock %}
    </slot>
</div>
{% endblock %}
