@import "~scss/variables";

$sw-order-list-color-error: $color-crimson;
$sw-order-list-color-success: $color-emerald;

.sw-order-list {
    .sw-order-list__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .is--inactive {
        color: $sw-order-list-color-error;
    }

    .is--active {
        color: $sw-order-list-color-success;
    }
}