<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_add_section %}
<div
    class="sw-cms-stage-add-section"
    :class="componentClasses"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_add_section_selection %}
    <sw-cms-stage-section-selection
        v-if="showSelection"
        @section-select="onAddSection"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_add_section_button %}
    <div
        v-if="!forceChoose"
        class="sw-cms-stage-add-section__button"
        :class="{ 'is--open': showSelection }"
        role="button"
        tabindex="0"
        @click="toggleSelection"
        @keydown.enter="toggleSelection"
    >
        <sw-icon
            name="regular-plus-circle"
            size="24"
        />
    </div>
    {% endblock %}
</div>
{% endblock %}
