@import "~scss/variables";

.sw-cms-toolbar {
    padding: 0 20px;
    min-height: 70px;
    border-bottom: 2px solid #d1d9e0;
    display: grid;
    grid-template-columns: 1fr 1fr 158px auto;
    align-items: center;
    align-content: center;

    #{$dark-theme-class} & {
        border-bottom: 2px solid lighten(#d1d9e0, $dark-theme-contrast-factor);
    }

    .sw-cms-toolbar__back-btn {
        padding: 10px 20px;

        .sw-icon {
            color: $color-steam-cloud;
            transform: rotate(180deg);

            #{$dark-theme-class} & {
                color: lighten($color-steam-cloud, $dark-theme-contrast-factor);
            }
        }

        a:hover .sw-icon {
            color: $color-kashmir;

            #{$dark-theme-class} & {
                color: lighten($color-kashmir, $dark-theme-contrast-factor);
            }
        }
    }

    .sw-cms-toolbar__title h2 {
        color: $color-kashmir;
        font-size: 18px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;

        #{$dark-theme-class} & {
            color: lighten($color-kashmir, $dark-theme-contrast-factor);
        }
    }

    .sw-cms-toolbar__actions {
        text-align: right;
    }
}
