<div class="sw-cms-toolbar">
    <div class="sw-cms-toolbar__back-btn">
        <slot name="back-btn">
            <sw-icon name="default-arrow-head-left"></sw-icon>
        </slot>
    </div>

    <div class="sw-cms-toolbar__language-selection">
        <slot name="language-switch"></slot>
    </div>

    <div class="sw-cms-toolbar__title">
        <slot name="title"></slot>
    </div>

    <div class="sw-cms-toolbar__tools">
        <slot name="tools"></slot>
    </div>

    <div class="sw-cms-toolbar__actions">
        <slot name="actions"></slot>
    </div>
</div>