{% block sw_context_button %}
    <div class="sw-context-button" :class="contextClass" @click="onClickButton" ref="swContextButton">
        {% block sw_context_button_button %}
            <slot name="button">
                <button class="sw-context-button__button" :class="contextButtonClass">
                    <sw-icon :name="icon" small decorative></sw-icon>
                </button>
            </slot>
        {% endblock %}

        {% block sw_context_button_menu %}
            <sw-popover class="sw-context-button__menu-position"
                        popoverClass="sw-context-button__menu-popover"
                        :zIndex="9000"
                        v-if="showMenu">
                <sw-context-menu
                    :class="contextMenuClass"
                    :style="menuStyles"
                    ref="swContextMenu">
                    <slot>{% block sw_context_button_menu_slot_default %}{% endblock %}</slot>
                </sw-context-menu>
            </sw-popover>
        {% endblock %}
    </div>
{% endblock %}
