@import '~scss/variables';

$sw-context-button-color-text:    $color-gutenberg;
$sw-context-button-border-radius: $border-radius-default;
$sw-context-button-color-border:  $color-steam-cloud;
$sw-context-button-color-disabled:  $color-light-gray;

.sw-context-button {
    display: inline-block;
    position: relative;
    color: $sw-context-button-color-text;

    &.is--disabled {
        .sw-context-button__button {
            color: lighten($sw-context-button-color-text, 20%);
            cursor: initial;

            &:hover,
            &.is--active {
                border: none;
            }
        }
    }

    .sw-context-button__button {
        color: $sw-context-button-color-text;
        background: 0 none;
        border: 1px solid transparent;
        border-radius: $sw-context-button-border-radius;
        cursor: pointer;
        height: 24px;
        line-height: 20px;
        padding: 0 8px;
        outline: none;

        &:hover,
        &.is--active {
            border-color: $sw-context-button-color-border;
        }
    }

    .sw-context-button__menu-position {
        position: absolute;
        left: 50%;
        bottom: 0;

        .sw-context-menu {
            position: relative;
        }
    }
}

.sw-popover__wrapper.sw-context-button__menu-popover {
    &.--placement-bottom-outside {
        transform: translate(0, 0);

        .sw-context-menu {
            transform: translate(0, calc(-100% - 52px));

            .sw-context-menu__content::before {
                top: auto;
                bottom: -5px;
                transform: rotate(225deg);
            }
        }
    }
}
