.sw-modal.sw-extension-permissions-details-modal {
    .sw-modal__body {
        padding: 0;
        overflow: auto;
    }
}

.sw-extension-permissions-details-modal__table {
    font-size: var(--font-size-xs);
    border-spacing: unset;
    border-collapse: collapse;

    .sw-extension-permissions-details-modal__operations {
        border-bottom: 1px solid var(--color-border-primary-default);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 10%);
        display: block;
        top: 0;
        position: sticky;
        background: #fff;
    }

    tr {
        padding: var(--scale-size-16) var(--scale-size-36);

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-border-primary-default);
        }

        &.sw-extension-permissions-details-modal__category {
            display: grid;
            font-weight: var(--font-weight-semi-bold);
            background: var(--color-elevation-surface-sunken);
        }

        &.sw-extension-permissions-details-modal__grid-columns {
            display: grid;
            grid-template-columns: 284px repeat(4, 86px);
        }

        .sw-extension-permissions-details-modal__operation {
            text-align: center;
        }

        .sw-extension-permissions-details-modal__operation-header {
            text-align: center;
        }
    }
}
