<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_desktop %}
<div
    class="sw-desktop"
    :class="desktopClasses"
>
    <div
        v-if="isStaging"
        class="sw-staging-bar"
    >
        {{ $tc('global.sw-desktop.stagingBarText') }}
    </div>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_desktop_sidebar %}
    <sw-admin-menu v-if="!noNavigation" />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_desktop_content %}
    <div class="sw-desktop__content">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_desktop_content_view %}
        <sw-error-boundary>
            <router-view />
        </sw-error-boundary>
        {% endblock %}
    </div>
    <sw-app-app-url-changed-modal
        v-if="urlDiff !== null"
        :url-diff="urlDiff"
        @modal-close="closeModal"
    />
    {% endblock %}
</div>
{% endblock %}
