<h2>{% trans %}frontend.error.exception.ExceptionHeader{% endtrans %}</h2>

{% if exception %}
    <h3>{% trans %}frontend.error.exception.ExceptionText{% endtrans %}</h3>

    {% if app.environment == 'dev' %}
        <h3>{{ exception.getMessage() }}</h3>
        <h3>Stack trace:</h3>
        <div style="overflow:auto;">
            <pre>{{ dump(exception.getTrace()) }}</pre>
        </div>
    {% endif %}
    {% if followingException %}
        <h3>{{ followingException.getMessage() }}</h3>

        {% if app.environment == 'dev' %}
            <h3>Stack trace:</h3>
            <div style="overflow:auto;">
                <pre>{{ dump(followingException.getTrace()) }}</pre>
            </div>
        {% endif %}
    {% endif %}
{% else %}
    {% trans %}frontend.error.exception.InformText{% endtrans %}
{% endif %}