<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_rule_detail_base %}
<div class="sw-settings-rule-detail-base">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_rule_detail_base_content_card %}
    <sw-card
        position-identifier="sw-settings-rule-detail-base-content"
        :large="true"
        :is-loading="isLoading"
        :title="$tc('sw-settings-rule.detail.titleCard')"
    >
        <template v-if="rule">
            <sw-container
                columns="2fr 1fr"
                gap="0px 32px"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_rule_detail_base_content_card_field_name %}
                <sw-field
                    v-model="rule.name"
                    type="text"
                    :label="$tc('sw-settings-rule.detail.labelName')"
                    :placeholder="$tc('sw-settings-rule.detail.placeholderName')"
                    :error="ruleNameError"
                    :disabled="!acl.can('rule.editor')"
                    required
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_rule_detail_base_content_card_field_priority %}
                <sw-field
                    v-model="rule.priority"
                    type="number"
                    :label="$tc('sw-settings-rule.detail.labelPriority')"
                    :placeholder="$tc('sw-settings-rule.detail.placeholderPriority')"
                    :error="rulePriorityError"
                    :disabled="!acl.can('rule.editor')"
                    required
                />
                {% endblock %}
            </sw-container>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_rule_detail_base_content_card_field_description %}
            <sw-field
                v-model="rule.description"
                type="textarea"
                :label="$tc('sw-settings-rule.detail.labelDescription')"
                :placeholder="$tc('sw-settings-rule.detail.placeholderDescription')"
                :disabled="!acl.can('rule.editor')"
            />
            {% endblock %}

            <sw-container
                columns="1fr 1fr"
                gap="0px 32px"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_rule_detail_base_content_card_field_type %}
                <sw-multi-select
                    v-if="rule"
                    v-model="moduleTypes"
                    class="sw-settings-rule-detail__type-field"
                    value-property="id"
                    label-property="name"
                    :label="$tc('sw-settings-rule.detail.labelType')"
                    :disabled="!acl.can('rule.editor')"
                    :options="availableModuleTypes"
                >
                    <template #selection-label-property="{ item }">
                        {{ $tc(item.name) }}
                    </template>

                    <template #result-label-property="{ item }">
                        {{ $tc(item.name) }}
                    </template>
                </sw-multi-select>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_rule_detail_base_content_card_field_tags %}
                <sw-entity-tag-select
                    v-if="rule"
                    v-model="rule.tags"
                    class="sw-settings-rule-detail__tags-field"
                    :label="$tc('global.sw-tag-field.title')"
                    :disabled="!acl.can('rule.editor')"
                    :placeholder="$tc('sw-settings-rule.detail.placeholderTags')"
                />
                {% endblock %}
            </sw-container>
        </template>
        <sw-loader v-else />
    </sw-card>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_rule_detail_base_conditions_card %}
    <sw-card
        class="sw-settings-rule-detail__condition_container"
        position-identifier="sw-settings-rule-detail-base-conditions"
        :large="true"
        :is-loading="isLoading"
        :title="$tc('sw-settings-rule.detail.ruleCard')"
    >
        <sw-condition-tree
            :initial-conditions="conditions"
            :condition-repository="conditionRepository"
            :condition-data-provider-service="ruleConditionDataProviderService"
            association-field="ruleId"
            :association-value="rule.id"
            :association-entity="rule"
            :root-condition="null"
            :disabled="!acl.can('rule.editor')"
            @conditions-changed="onConditionsChanged"
            @initial-loading-done="$emit('tree-finished-loading')"
        />
    </sw-card>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_rule_detail_custom_field_sets %}
    <sw-card
        v-if="showCustomFields"
        position-identifier="sw-settings-rule-detail-base-custom-field-sets"
        :large="true"
        :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
        :is-loading="isLoading"
    >
        <sw-custom-field-set-renderer
            :entity="rule"
            :disabled="!acl.can('rule.editor')"
            :sets="customFieldSets"
        />
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
