{% block sw_cms_element_image_slider_preview %}
<div class="sw-cms-el-preview-image-slider">
    <sw-icon
        name="default-arrow-head-left"
        size="10"
    />
    <div>
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
    <sw-icon
        name="default-arrow-head-right"
        size="10"
    />
</div>
{% endblock %}
