{% block sw_first_run_wizard_modal %}
    <sw-modal :title="title" class="sw-first-run-wizard-modal" variant="full">
        {% block sw_first_run_wizard_modal_content %}
            <div class="sw-first-run-wizard-modal-content">
                <sw-container class="sw-first-run-wizard-modal-content__two_columns" columns="1fr 4fr">
                    {% block sw_first_run_wizard_modal_content_steps %}
                        <div class="sw-first-run-wizard-modal-content__steps">
                            <sw-step-display :itemIndex="stepIndex"
                             :itemVariant="stepVariant"
                             :initialItemVariants="stepInitialItemVariants">
                                <sw-step-item>
                                    Demodata
                                </sw-step-item>
                                <sw-step-item>
                                    Setup PayPal
                                </sw-step-item>
                                <sw-step-item>
                                    Plugins
                                </sw-step-item>
                                <sw-step-item>
                                    Shopware
                                </sw-step-item>
                            </sw-step-display>
                        </div>
                    {% endblock %}

                    {% block sw_first_run_wizard_modal_content_page %}
                        <div class="sw-first-run-wizard-modal-content__page">
                            <router-view></router-view>
                        </div>
                    {% endblock %}
                </sw-container>
            </div>
        {% endblock %}

        {% block sw_first_run_wizard_modal_footer %}
            <template v-slot:modal-footer>
                <div class="sw-first-run-wizard-modal__footer">
                    {% block sw_first_run_wizard_modal_footer_left %}
                        <div class="footer-left">
                            <sw-button v-if="backVisible" size="small" @click="onBack">
                                {{ $tc('sw-first-run-wizard.general.buttonBack') }}
                            </sw-button>
                        </div>
                    {% endblock %}

                    {% block sw_first_run_wizard_modal_footer_right %}
                        <div class="footer-right">
                            <sw-button v-if="skipable" class="skip-button" size="small"cla @click="onSkip">
                                {{ $tc('sw-first-run-wizard.general.buttonSkip') }}
                            </sw-button>
                            <sw-button v-if="nextVisible" size="small" variant="primary" @click="onNext">
                                {{ $tc('sw-first-run-wizard.general.buttonNext') }}
                            </sw-button>
                            <sw-button v-if="finishable" size="small" variant="primary" @click="onFinish">
                                {{ $tc('sw-first-run-wizard.general.buttonFinish') }}
                            </sw-button>
                        </div>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
