{% block sw_media_preview %}
    <div class="sw-media-preview"
         :class="mediaPreviewClasses"
         v-tooltip.bottom="{ message: mediaName, disabled: hideTooltip }">

        {% block sw_media_preview_no_media %}
            <template v-if="!source">
                {% block sw_media_preview_no_media_icon %}
                    <sw-icon name="default-object-image" size="16px"></sw-icon>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_media_preview_file_types %}
            <template v-else>
                {% block sw_media_preview_file_type_check %}
                    <template v-if="mimeTypeGroup === 'image'">
                        {% block sw_media_preview_file_type_image %}
                            <img v-if="!imagePreviewFailed"
                                 class="sw-media-preview__item"
                                 :class="transparencyClass"
                                 :src="previewUrl"
                                 :alt="alt"
                                 :srcset="sourceSet"
                                 :sizes="`${width}px`"
                                 draggable="false"
                                 @click="$emit('click')"
                                 @error="showEvent">
                            <sw-icon v-else class="sw-media-preview__item" name="multicolor-file-thumbnail-broken" multicolor></sw-icon>
                            <sw-icon v-if="mediaIsPrivate" class="sw-media-preview__locked-icon sw-icon--small" name="default-lock-closed" multicolor></sw-icon>
                        {% endblock %}
                    </template>

                    <template v-else-if="isPlayable && mimeTypeGroup === 'video'">
                        {% block sw_media_preview_file_type_video %}
                            <video :controls="showControls"
                                   :autoplay="autoplay"
                                   controlsList="nodownload"
                                   class="sw-media-preview__item">
                                <source :src="previewUrl" :type="mimeType">
                                {{ $tc('global.sw-media-preview.fallbackVideoTagSupport') }}
                            </video>
                            <button class="sw-media-preview__play-button" v-if="!showControls" @click="onPlayClick">
                                <sw-icon class="sw-media-preview__play-icon" name="multicolor-action-play" multicolor></sw-icon>
                            </button>
                            <sw-icon v-if="mediaIsPrivate" class="sw-media-preview__locked-icon sw-icon--small" name="default-lock-closed" multicolor></sw-icon>
                        {% endblock %}
                    </template>

                    <template v-else-if="isPlayable && mimeTypeGroup === 'audio'">
                        {% block sw_media_preview_file_type_audio %}
                            <sw-icon name="multicolor-file-thumbnail-mp3"
                                     class="sw-media-preview__item"
                                     size="80%"
                                     multicolor>
                            </sw-icon>
                            <audio :controls="showControls"
                                   :autoplay="autoplay"
                                   controlsList="nodownload"
                                   class="sw-media-preview__item sw-media-preview__item--audio">
                                <source :src="previewUrl" :type="mimeType">
                                {{ $tc('global.sw-media-preview.fallbackAudioTagSupport') }}
                            </audio>
                            <button class="sw-media-preview__play-button" v-if="!showControls" @click="onPlayClick">
                                <sw-icon class="sw-media-preview__play-icon" name="multicolor-action-play" multicolor></sw-icon>
                            </button>
                            <sw-icon v-if="mediaIsPrivate" class="sw-media-preview__locked-icon sw-icon--small" name="default-lock-closed" multicolor></sw-icon>
                        {% endblock %}
                    </template>

                    <template v-else-if="isUrl && !urlPreviewFailed">
                        <img :src="previewUrl" @error="removeUrlPreview" class="sw-media-preview__item" draggable="false">
                    </template>

                    <template v-else>
                        {% block sw_media_preview_file_type_placeholder %}
                            <sw-icon class="sw-media-preview__item sw-media-preview__placeholder"
                                     :name="placeholderIcon"
                                     multicolor>
                            </sw-icon>
                        {% endblock %}
                        <sw-icon v-if="mediaIsPrivate" class="sw-media-preview__locked-icon sw-icon--small" name="default-lock-closed" multicolor></sw-icon>
                    </template>
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}
