{% block sw_media_preview %}
    <div class="sw-media-preview" :class="mediaPreviewClasses" v-tooltip.bottom="{ message: mediaNameFilter(trueSource, trueSource.fileName), disabled: hideTooltip }">
        {% block sw_media_preview_file_type_check %}
            <template v-if="mimeTypeGroup === 'image'">
                {% block sw_media_preview_file_type_image %}
                    <img :src="previewUrl" :alt="alt" class="sw-media-preview__item" :class="transparencyClass">
                {% endblock %}
            </template>

            <template v-else-if="isPlayable && mimeTypeGroup === 'video'">
                {% block sw_media_preview_file_type_video %}
                    <video :controls="showControls"
                           :autoplay="autoplay"
                           controlsList="nodownload"
                           class="sw-media-preview__item">
                        <source :src="previewUrl" :type="mimeType">
                        {{ $tc('global.sw-media-preview.fallbackVideoTagSupport') }}
                    </video>
                    <button class="sw-media-preview__play-button" v-if="!showControls" @click="onPlayClick">
                        <sw-icon class="sw-media-preview__play-icon" name="default-action-play" multicolor></sw-icon>
                    </button>
                {% endblock %}
            </template>

            <template v-else-if="isPlayable && mimeTypeGroup === 'audio'">
                {% block sw_media_preview_file_type_audio %}
                    <sw-icon name="file-thumbnail-mp3"
                             class="sw-media-preview__item"
                             size="80%"
                             multicolor>
                    </sw-icon>
                    <audio :controls="showControls"
                           :autoplay="autoplay"
                           controlsList="nodownload"
                           class="sw-media-preview__item sw-media-preview__item--audio">
                        <source :src="previewUrl" :type="mimeType">
                        {{ $tc('global.sw-media-preview.fallbackAudioTagSupport') }}
                    </audio>
                    <button class="sw-media-preview__play-button" v-if="!showControls" @click="onPlayClick">
                        <sw-icon class="sw-media-preview__play-icon" name="default-action-play" multicolor></sw-icon>
                    </button>
                {% endblock %}
            </template>

            <template v-else-if="isUrl && !urlPreviewFailed">
                <img :src="previewUrl" @error="removeUrlPreview" class="sw-media-preview__item">
            </template>

            <template v-else>
                {% block sw_media_preview_file_type_else %}
                    <sw-icon class="sw-media-preview__item sw-media-preview__placeholder"
                             :name="placeholderIcon"
                             multicolor>
                    </sw-icon>
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}
