{% block sw_media_preview %}
    <div class="sw-media-preview">
        {% block sw_media_preview_file_type_check %}
            <template v-if="checkForFileTypeImage">
                {% block sw_media_preview_file_type_image %}
                    <img :src="imageURLFromItem" :alt="item.name" class="sw-media-preview-item">
                {% endblock %}
            </template>

            <template v-else-if="checkForInMemoryFile">
                {% block sw_media_preview_file_type_in_memory_image %}
                    <img :src="item.dataUrl" :alt="item.name" class="sw-media-preview-item">
                {% endblock %}
            </template>

            <template v-else-if="checkForFileTypeVideo">
                {% block sw_media_preview_file_type_video %}
                    <video :controls="playable"
                           :autoplay="autoplay"
                           class="sw-media-preview-item">
                        <source :src="item.url" :type="item.mimeType">
                        {{ $tc('global.sw-media-preview.fallbackVideoTagSupport') }}
                    </video>
                {% endblock %}
            </template>

            <template v-else-if="checkForFileTypeAudio">
                {% block sw_media_preview_file_type_audio %}
                    <sw-icon name="file-thumbnail-mp3"
                             class="sw-media-preview-item"
                             size="80%"
                             multicolor>
                    </sw-icon>
                    <audio :controls="playable"
                           :autoplay="autoplay"
                           class="sw-media-preview-item sw-media-preview-item__audio">
                        <source :src="item.url" :type="item.mimeType">
                        {{ $tc('global.sw-media-preview.fallbackAudioTagSupport') }}
                    </audio>
                {% endblock %}
            </template>

            <template v-else>
                {% block sw_media_preview_file_type_else %}
                    <sw-icon class="sw-media-preview-item"
                             :name="placeholderIcon"
                             size="80%"
                             multicolor>
                    </sw-icon>
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}