@import "~less/variables";

@sw-media-preview-play-button-size:         50%;
@sw-media-preview-play-button-z-index:      5;
@sw-media-preview-border-color:             @color-steam-cloud;
@sw-media-preview-border-color-highlighted: @color-shopware-blue;
@sw-media-preview-border-radius:            @border-radius-default;
@sw-media-preview-background:               @color-white;

.sw-media-preview {
    &.is--icon {
        .sw-media-preview__item {
            transform: translate(-50%, -50%) scale(0.7);
        }
    }

    .sw-media-preview__item {
        max-width: calc(100% - 32px);
        max-height: calc(100% - 32px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &.shows--transparency {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEX39/f////+/v66RnnUAAAAM0lEQVQIHQXBwQ3AMAgEMC95SPRPpQxENuiete2HCqZRhWlkcV4kIIPb6MUWZpEHN+j9ARNGDXV0xoICAAAAAElFTkSuQmCC);
        }

        &.sw-media-preview__item--audio {
            top: 100%;
            transform: translate(-50%, -100%);
            padding-bottom: 5px;
        }
    }
    svg.sw-media-preview__item {
        height: calc(100% - 32px);
        width: calc(100% - 32px);
        max-height: 100px;
    }

    .sw-media-preview__play-button {
        position: absolute;
        visibility: hidden;
        z-index: @sw-media-preview-play-button-z-index;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .sw-media-preview__play-icon {
        visibility: visible;
        height: @sw-media-preview-play-button-size;
        width: @sw-media-preview-play-button-size;
    }

    .sw-media-preview__placeholder {
        padding: 0;
    }
}
