{% block sw_sales_channel_google_merchant %}
    <div class="sw-sales-channel-google-merchant">
        {% block sw_sales_channel_google_merchant_connect_existing_account %}
            <sw-card-section divider="bottom" class="sw-sales-channel-google-merchant__top">
                <strong>{{ $tc('sw-sales-channel.modalGooglePrograms.step-3.titleGeneral') }}</strong>
                <p class="sw-sales-channel-google-merchant__description">
                    {{ $tc('sw-sales-channel.modalGooglePrograms.step-3.textLearnMore') }}

                    <sw-sales-channel-detail-protect-link
                        href="https://www.google.com/retail/solutions/merchant-center/">
                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-3.textGoogleMerchantCenter') }}
                    </sw-sales-channel-detail-protect-link>.
                </p>
                <br/>
                <strong>{{ $tc('sw-sales-channel.modalGooglePrograms.step-3.titleConnectExistingMerchant') }}</strong>
                <p v-if="googleShoppingAccount" class="sw-sales-channel-google-merchant__description">
                    <a :href="`mailto:${googleShoppingAccount.email}`">
                        {{ googleShoppingAccount.email }}
                    </a>
                    {{ $tc('sw-sales-channel.modalGooglePrograms.step-3.textConnectExistingMerchantDescription') }}
                </p>

                {% block sw_sales_channel_google_merchant_select_existing_account %}
                    <sw-single-select :options="merchantAccounts"
                                      :isLoading="isListLoading"
                                      class="sw-sales-channel-google-merchant__select-merchant"
                                      v-model="selectedMerchant"
                                      valueProperty="id"
                                      :placeholder="$tc('sw-sales-channel.modalGooglePrograms.step-3.placeholderSelectMerchant')">
                        <template #selection-label-property="{ item: singleSelection, labelProperty, valueProperty, searchTerm, getKey }">
                            {{ getMerchantItemLabel(singleSelection) }}
                        </template>

                        <template #result-label-property="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, getKey }">
                            <sw-highlight-text v-if="highlightSearchTerm"
                                               :text="getMerchantItemLabel(item)"
                                               :searchTerm="searchTerm">
                            </sw-highlight-text>
                            <template v-else>
                                {{ getMerchantItemLabel(item) }}
                            </template>
                        </template>
                    </sw-single-select>
                {% endblock %}
            </sw-card-section>
        {% endblock %}

        {% block sw_sales_channel_google_merchant_creact_new_account %}
            <sw-card-section class="sw-sales-channel-google-merchant__bottom">
                <strong>{{ $tc('sw-sales-channel.modalGooglePrograms.step-3.titleCreateMerchant') }}</strong>
                <p class="sw-sales-channel-google-merchant__description">
                    {{ $tc('sw-sales-channel.modalGooglePrograms.step-3.textCreateMerchantDescription') }}
                </p>

                {% block sw_sales_channel_google_merchant_button_create %}
                    <sw-button variant="primary" size="small" disabled>
                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-3.buttonCreateMerchant') }}
                    </sw-button>
                {% endblock %}
            </sw-card-section>
        {% endblock %}
    </div>
{% endblock %}
