.sw-filter-panel {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
    background-color: var(--bs-body-bg);
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.sw-filter-panel__filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.is--collapse .sw-filter-panel__filter {
    flex-direction: column;
    align-items: start;
}

.sw-filter-panel__actions {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.sw-filter-panel__counter {
    line-height: 40px;
}
