<sw-page class="sw-configuration-list">
    <template slot="search-bar">
        <sw-search-bar :placeholder="$tc('sw-configuration.general.placeholderSearchBar')" :searchType="$tc('sw-configuration.general.mainMenuItemGeneral')" @search="this.onSearch" />
    </template>

    <template slot="smart-bar-header">
        <h2>
            {{ $tc('sw-configuration.list.textConfigurations') }}
            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                ({{ total }})
            </span>
        </h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'sw.configuration.create' }" variant="primary">
            {{ $tc('sw-configuration.list.buttonAddConfiguration') }}
        </sw-button>
    </template>

    <template slot="content">
        <div class="sw-configuration-list__content">

            <sw-grid v-if="total || term" :items="configurations" :selectable="false" isFullpage sidebar>

                <template slot="columns" slot-scope="{ item }">

                    <sw-grid-column flex="minmax(100px, 1fr)" :label="$tc('sw-configuration.list.columnName')" dataIndex="name" truncate sortable>
                        <router-link :to="{ name: 'sw.configuration.detail', params: { id: item.id } }">
                            {{ item.name }}
                        </router-link>
                    </sw-grid-column>

                    <sw-grid-column flex="minmax(200px, 2fr)" :label="$tc('sw-configuration.list.columnOptions')" truncate>
                        <span v-for="(option, index) in item.options" :key="option.id" v-if="index < 4">{{ (index > 0) ?`, ${option.name}`:`${option.name}`}}</span>
                        <span v-if="item.options.length >= 5">
                            , ...
                        </span>
                    </sw-grid-column>

                    <sw-grid-column flex="minmax(200px, 2fr)" :label="$tc('sw-configuration.list.columnDescription')" truncate sortable >
                        {{ item.description }}
                    </sw-grid-column>

                    <sw-grid-column flex="minmax(100px, 100px)" align="center">
                        <sw-context-button>
                            <sw-context-menu-item :routerLink="{ name: 'sw.configuration.detail', params: { id: item.id } }">
                                {{ $tc('sw-configuration.list.contextMenuView') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item variant="danger" @click="onDelete(item.id)">
                                {{ $tc('sw-configuration.list.contextMenuDelete') }}
                            </sw-context-menu-item>

                        </sw-context-button>
                    </sw-grid-column>

                    <sw-modal v-if="showDeleteModal === item.id" @closeModal="onCloseDeleteModal" :title="$tc('sw-configuration.list.modalTitleDelete')" variant="small">
                        <p class="sw-configuration-list__confirm-delete-text">
                            {{ $tc('sw-configuration.list.textDeleteConfirm', 0, { name: item.name }) }}
                        </p>

                        <template slot="modal-footer">
                            <sw-button @click="onCloseDeleteModal" size="small">
                                {{ $tc('sw-configuration.list.buttonCancel') }}
                            </sw-button>

                            <sw-button @click="onConfirmDelete(item.id)" variant="primary" size="small">
                                {{ $tc('sw-configuration.list.buttonDelete') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                </template>

                <template slot="pagination">
                    <sw-pagination :page="page" :limit="limit" :total="total" :total-visible="7" @page-change="onPageChange" />
                </template>

                <sw-sidebar slot="sidebar">
                    <sw-sidebar-item icon="default-arrow-360-left" :title="$tc('sw-configuration.list.titleSidebarItemRefresh')" @click="onRefresh" />
                </sw-sidebar>

            </sw-grid>

            <sw-empty-state v-else-if="!isLoading && !total" :title="$tc('sw-configuration.list.messageEmpty')"></sw-empty-state>

            <sw-loader v-if="isLoading"></sw-loader>
        </div>
    </template>
</sw-page>
