<sw-workspace>
    <header class="toolbar--middle-section" slot="header" v-if="isLoaded">
        <h1 class="workspace--headline">
            <span v-if="product.name">{{ product.name }} <span v-if="product.manufacturer" class="is--small">von {{ product.manufacturer.name }}</span></span>
            <span v-else class="headline--empty">(neues Produkt)</span>
        </h1>

        <div class="toolbar--primary-actions">
            <sw-button :isDisabled="isLoading" link="sw.product.index">
                Abbrechen
            </sw-button>

            <sw-button :isPrimary="true" :isDisabled="isLoading" @click.prevent="onSave">
                Speichern
            </sw-button>
        </div>
    </header>

    <div class="sw-product-detail" slot="default" v-if="isLoaded">
        <sw-tabs>
            <sw-tabs-item :route="{ name: 'sw.product.detail.general', params: { id: product.id } }" title="Allgemein">Allgemein</sw-tabs-item>
            <sw-tabs-item :route="{ name: 'sw.product.detail.variants', params: { id: product.id } }" title="Varianten">Varianten</sw-tabs-item>
            <sw-tabs-item :route="{ name: 'sw.product.detail.advancedPrices', params: { id: product.id } }" title="Erweiterte Preise">Erweiterte Preise</sw-tabs-item>
        </sw-tabs>

        <router-view :product="product"
                     :manufacturers="manufacturers"
                     :taxRates="taxRates"
                     :serviceProvider="categoryService">
        </router-view>

        {% block core_product_detail_workspace_additional %}{% endblock %}
    </div>

    <sw-loader v-if="isLoading"></sw-loader>
</sw-workspace>
