/*
Alert
==============================================
Custom skin styling for bootstrap alert component.

https://getbootstrap.com/docs/5.2/components/alerts
*/

.alert {
    .icon {
        margin-right: $spacer-sm;
        flex-shrink: 0;

        svg {
            top: 0;
        }
    }
}