/*
Product box
==============================================
Styling for productbox component.
*/

.product-box {
    border-color: var(--sw-border-color);
    background-color: var(--sw-color-base);

    .card-body {
        --#{$prefix}card-spacer-y: #{$spacer};
        --#{$prefix}card-spacer-x: #{$spacer};
    }
}

.product-name {
    font-weight: $font-weight-semibold;
}

.product-price {
    color: $price-color;
}
