@import "~scss/variables";

.sw-settings-measurement-default-units {
    &__description {
        margin-bottom: 32px;
    }

    &__popover .sw-select-result__result-item-text {
        flex-direction: row;
        gap: 8px;
    }

    &__popover-short-name {
        color: $color-gray-500;
    }
}
