@import "~scss/variables";

.sw-settings-measurement-default-units {
    &__description {
        margin-bottom: 32px;
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 20px;
    }

    &__description a.sw-internal-link {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 20px;
    }
}

.mt-select-result-list-popover-wrapper {
    .mt-select-result__result-item-text {
        flex-direction: row;
        gap: 8px;
    }

    &__popover-short-name {
        color: $color-gray-500;
    }

    .mt-select-result > .mt-icon {
        color: $color-gray-500;
    }
}
