<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_ratings_card %}
<sw-meteor-card
    class="sw-extension-ratings-card"
    :is-loading="isLoading"
    :title="$tc('sw-extension-store.component.sw-extension-ratings.sw-extension-ratings-card.cardTitle')"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_ratings_card_has_reviews %}
    <template v-if="hasReviews">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_ratings_card_has_reviews_summary %}
        <sw-extension-ratings-summary :summary="summary" />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_ratings_card_has_reviews_wrapper %}
        <div class="sw-extension-ratings-card__reviews">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_ratings_card_has_reviews_wrapper_review %}
            <sw-extension-review
                v-for="(review, index) in reviews"
                :key="`sw-extension-ratings-card__reviews-review-${index}`"
                :producer-name="producerName"
                :review="review"
            />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_ratings_card_has_reviews_wrapper_more_button %}
            <sw-button
                v-if="canShowMore"
                size="small"
                @click="loadMoreReviews"
            >
                {{ $tc('sw-extension-store.component.sw-extension-ratings.sw-extension-ratings-card.labelMoreReviewsBtn') }}
            </sw-button>
            {% endblock %}
        </div>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_ratings_card_empty_state %}
    <template v-else>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_ratings_card_empty_state_content %}
        {{ $tc('sw-extension-store.component.sw-extension-ratings.sw-extension-ratings-card.labelNoReviews') }}
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_ratings_card_installed_and_licensed_headline %}
    <h3
        v-if="isInstalledAndLicensed && !isLoading"
        class="sw-extension-ratings-card__footer-headline"
    >
        {{ $tc('sw-extension-store.component.sw-extension-ratings.sw-extension-ratings-card.footerHeadline') }}
    </h3>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_ratings_card_footer %}
    <template
        v-if="isInstalledAndLicensed && !isLoading"
        #footer
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_ratings_card_footer_review_creation %}
        <sw-extension-review-creation
            :extension="extension"
            @created="$emit('update-extension')"
        />
        {% endblock %}
    </template>
    {% endblock %}
</sw-meteor-card>
{% endblock %}
