{% block sw_sidebar_media_item %}
    <sw-sidebar-item
        class="sw-sidebar-media-item"
        icon="default-object-image"
        :title="$tc('global.sw-sidebar-media-item.title')"
        ref="sidebarItem">

        {% block sw_sidebar_media_item_content %}
            <div class="sw-sidebar-media-item__content">
                {% block sw_sidebar_media_item_search_field %}
                    <div class="sw-sidebar-media-item__search-field">
                        <sw-field
                            class="sw-sidebar-media-item__search-input"
                            v-model="term"
                            :placeholder="$tc('global.sw-sidebar-media-item.placeholderSearch')"
                            @input="onSearchInput">
                        </sw-field>
                        <sw-icon class="sw-sidebar-media-item__search-icon" name="small-search" small></sw-icon>
                    </div>
                {% endblock %}

                {% block sw_sidebar_media_item_media_item_list %}
                    <sw-media-media-item
                        v-for="mediaItem in mediaItems"
                        :key="mediaItem.id"
                        :item="mediaItem"
                        :showSelectionIndicator="false"
                        :showContextMenuButton="true"
                        :selected="false"
                        :isList="true"
                        @sw-media-media-item-delete="handleMediaGridItemDelete">

                        {% block sw_sidebar_media_item_context_items %}
                            <slot name="context-menu-items" slot="additional-context-menu-items" :mediaItem="mediaItem"></slot>
                        {% endblock %}
                    </sw-media-media-item>

                    {% block sw_sidebar_media_item_load_more_button %}
                        <sw-button
                            size="small"
                            block
                            v-if="showMore"
                            @click="onLoadMore"
                            class="sw-sidebar-media-item__load-more-button">

                            {{ $tc('global.sw-sidebar-media-item.labelLoadMore') }}
                        </sw-button>
                    {% endblock %}
                {% endblock %}

                {% block sw_sidebar_media_item_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-sidebar-item>
{% endblock %}