.sw-login-v2-recovery {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--scale-size-16);
        margin-bottom: var(--scale-size-24);
    }

    &__title {
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-semibold);
        line-height: var(--font-line-height-2xl);
        margin: 0;
    }

    &__description {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: var(--font-line-height-xs);
    }

    &__email.mt-email-field {
        margin-bottom: var(--scale-size-24);
    }

    &__error.mt-banner {
        margin: 0 0 var(--scale-size-24);
    }

    &__warning.mt-banner {
        margin: 0 0 var(--scale-size-24);
    }
}
