{% block sw_flow_detail_general %}
<div class="sw-flow-detail-general">
    {% block sw_flow_detail_general_information %}
    <sw-card
        class="sw-flow-detail-general__general-card"
        :title="$tc('sw-flow.detail.labelGeneralCard')"
        :is-loading="isLoading"
    >
        {% block sw_flow_detail_general_information_name %}
        <sw-text-field
            v-model="flow.name"
            class="sw-flow-detail-general__general-name"
            required
            :disabled="!acl.can('flow.editor')"
            :label="$tc('sw-flow.detail.labelGeneralInformationName')"
            :placeholder="$tc('sw-flow.detail.placeholderGeneralInformationName')"
            :error="flowNameError"
        />
        {% endblock %}

        {% block sw_flow_detail_general_information_description %}
        <sw-textarea-field
            v-model="flow.description"
            class="sw-flow-detail-general__general-description"
            :disabled="!acl.can('flow.editor')"
            :label="$tc('sw-flow.detail.labelGeneralInformationDescription')"
            :placeholder="$tc('sw-flow.detail.placeholderGeneralInformationDescription')"
        />
        {% endblock %}

        <sw-container
            columns="repeat(auto-fit, minmax(250px, 1fr))"
            gap="0 30px"
        >
            {% block sw_flow_detail_general_information_priority %}
            <sw-number-field
                v-model="flow.priority"
                class="sw-flow-detail-general__general-priority"
                :disabled="!acl.can('flow.editor')"
                :label="$tc('sw-flow.detail.labelGeneralInformationPriority')"
            />
            {% endblock %}

            {% block sw_flow_detail_general_information_active %}
            <sw-switch-field
                v-model="flow.active"
                class="sw-flow-detail-general__general-active"
                :disabled="!acl.can('flow.editor')"
                :label="$tc('sw-flow.detail.labelGeneralInformationActive')"
            />
            {% endblock %}
        </sw-container>
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
