.sw-media-gravatar-form {
    .sw-media-gravatar-form__avatar {
        border-radius: 0;
        display: block;
        margin: 0 auto;
    }

    .sw-media-gravatar-form__values {
        display: grid;
    }
}
