@import "~less/variables";

@sw-modal-color-backdrop:             rgba(0, 0, 0, 0.4);
@sw-modal-z-index:                    1000;
@sw-modal-loader-z-index:             1010;
@sw-modal-dialog-color-background:    @color-white;
@sw-modal-footer-color-background:    @color-light-gray;
@sw-modal-color-text:                 @color-gutenberg;
@sw-modal-close-color-text:           @color-gutenberg;
@sw-modal-title-font-size:            18px;
@sw-modal-border-radius:              @border-radius-default;
@sw-modal-color-border:               @color-steam-cloud;
@sw-modal-transition-duration:        .4s;
@sw-modal-transition-timing-function: cubic-bezier(.68, -0.55, .26, 1.55);

.sw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: none;
    background-color: @sw-modal-color-backdrop;
    z-index: @sw-modal-z-index;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    .sw-modal__dialog {
        max-width: 700px;
        margin: 50px auto;
        background-color: @sw-modal-dialog-color-background;
        border-radius: @sw-modal-border-radius;
        color: @sw-modal-color-text;
        outline: none;
    }

    &.sw-modal--default .sw-modal__dialog {
        @media screen and (max-width: 740px) {
            margin: 20px;
        }
    }

    &.sw-modal--large .sw-modal__dialog {
        max-width: 900px;

        @media screen and (max-width: 940px) {
            margin: 20px;
        }
    }

    @media screen and (max-width: 500px) {
        &.sw-modal--default .sw-modal__dialog {
            margin: 0;
            border-radius: 0;
        }

        .sw-modal__body {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    &.sw-modal--small .sw-modal__dialog {
        max-width: 450px;
    }

    &.sw-modal--full .sw-modal__dialog {
        max-width: 100%;
        margin: 20px;
    }

    .sw-modal__header {
        padding: 20px 80px 20px 30px;
        border-bottom: 1px solid @sw-modal-color-border;
        position: relative;
        min-height: 65px;
    }

    .sw-modal__title {
        margin: 0;
        font-weight: normal;
        font-size: @sw-modal-title-font-size;
    }

    .sw-modal__close {
        position: absolute;
        top: 12px;
        right: 20px;
        border-radius: 50%;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: 0 none;
        border: 0 none;
        color: lighten(@sw-modal-close-color-text, 10%);
        cursor: pointer;
        outline: none;

        &:hover {
            color: @sw-modal-close-color-text;
        }

        &:focus {
            background-color: darken(@color-light-gray, 5%);
            color: @sw-modal-close-color-text;
        }
    }

    .sw-modal__body {
        padding: 20px 30px;
        position: relative;
    }

    .sw-modal__footer {
        padding: 20px 30px;
        border-top: 1px solid @sw-modal-color-border;
        background-color: @sw-modal-footer-color-background;
        border-radius: 0 0 @sw-modal-border-radius @sw-modal-border-radius;
        text-align: right;
    }

    .sw-loader {
        z-index: @sw-modal-loader-z-index;
    }
}

// Vue.js Transitions
.sw-modal-fade-enter-active,
.sw-modal-fade-leave-active {
    transition: opacity @sw-modal-transition-duration @sw-modal-transition-timing-function;

    .sw-modal__dialog {
        transition: transform @sw-modal-transition-duration @sw-modal-transition-timing-function;
        transform: scale(1);
    }
}

// Vue.js Transitions
.sw-modal-fade-enter,
.sw-modal-fade-leave-to {
    opacity: 0;

    .sw-modal__dialog {
        transform: scale(.8);
    }
}