{% block sw_promotion_persona_form %}
    <sw-card class="sw-promotion-persona-form"
             :title="$tc('sw-promotion.detail.main.preconditions.persona.card')"
             :isLoading="!promotion || promotion.isLoading">
        <h4>{{ $tc('sw-promotion.detail.main.preconditions.persona.title') }}</h4>
        <p>
            {{ $tc('sw-promotion.detail.main.preconditions.persona.text') }}
        </p>

        {% block sw_promotion_persona_form_persona_rule_id_field %}
            <sw-promotion-rule-select
                    v-if="promotion"
                    class="sw-promotion-persona-form__persona-rules"
                    :localMode="promotion.isNew()"
                    :criteria="ruleFilter"
                    :label="$tc('sw-promotion.detail.main.preconditions.persona.labelRules')"
                    :placeholder="$tc('sw-promotion.detail.main.preconditions.persona.placeholderRules')"
                    :ruleScope="['checkout']"
                    v-model="promotion.personaRules">
            </sw-promotion-rule-select>
        {% endblock %}

        {% block sw_promotion_persona_form_customer_field %}
            <sw-many-to-many-select
                    v-if="promotion"
                    class="sw-promotion-persona-form__persona-customers"
                    :localMode="promotion.isNew()"
                    :label="$tc('sw-promotion.detail.main.preconditions.persona.labelCustomers')"
                    :placeholder="$tc('sw-promotion.detail.main.preconditions.persona.placeholderCustomers')"
                    :collection="promotion.personaCustomers">
                <template #labelProperty="{ item }">
                    {{ item.firstName }} {{ item.lastName }}
                </template>
                <template #result_items="{ item, index }">
                    <sw-multi-select-option v-bind="{ index, item }">
                        {{ item.firstName }} {{ item.lastName }}
                    </sw-multi-select-option>
                </template>
            </sw-many-to-many-select>
        {% endblock %}
    </sw-card>
{% endblock %}
