.sw-promotion-persona-form {

    p {
        margin-bottom: 30px;
    }

    .sw-promotion-persona-form__persona-rules {
        margin-top: 20px;
    }

    .sw-promotion-persona-form__persona-customers {
        margin-top: 20px;
    }

}
