{% block sw_promotion_persona_form %}
<div class="sw-promotion-persona-form">
    <sw-card :title="$tc('sw-promotion.detail.main.preconditions.persona.card')">
        {% block sw_promotion_persona_form_rules %}
        <div class="sw-promotion-persona-form-rules">
            <h4>{{ $tc('sw-promotion.detail.main.preconditions.persona.title') }}</h4>
            <p>
                {{ $tc('sw-promotion.detail.main.preconditions.persona.text') }}
            </p>
            {% block sw_promotion_persona_form_persona_rule_id_field %}
            <sw-promotion-rule-select
                v-if="promotion"
                v-model="promotion.personaRules"
                class="sw-promotion-persona-form__persona-rules"
                :local-mode="promotion.isNew()"
                :criteria="ruleFilter"
                :label="$tc('sw-promotion.detail.main.preconditions.persona.labelRules')"
                :placeholder="$tc('sw-promotion.detail.main.preconditions.persona.placeholderRules')"
                :rule-scope="['checkout']"
                :disabled="isEditingDisabled"
            />
            {% endblock %}
            {% block sw_promotion_persona_form_persona_customers_switch %}
            <sw-field
                v-if="promotion"
                v-model="promotion.customerRestriction"
                type="switch"
                class="sw-promotion-persona-form__customers-switch"
                :label="$tc('sw-promotion.detail.main.preconditions.persona.switchAssignCustomers')"
                :disabled="isEditingDisabled"
            />
            {% endblock %}
        </div>
        {% endblock %}
    </sw-card>

    <sw-card v-if="promotion && promotion.customerRestriction">
        {% block sw_promotion_persona_form_customers %}
        <div class="sw-promotion-persona-form-customers">
            {% block sw_promotion_persona_form_customer_search_field %}
            <sw-entity-single-select
                ref="selectCustomerSearch"
                v-model="customerModel"
                class="sw-promotion-persona-form-customers__customer-search"
                :search-placeholder="$tc('sw-promotion.detail.main.preconditions.persona.placeholderAddCustomers')"
                required
                entity="customer"
                :criteria="customerCriteria"
                label-property="firstName"
                :disabled="isEditingDisabled"
                @change="onAddCustomer"
            >
                <template #result-label-property="{ item, index, searchTerm, getKey }">
                    <sw-highlight-text
                        :text="`${getKey(item, 'firstName')} ${getKey(item, 'lastName')}`"
                        :search-term="searchTerm"
                    />
                </template>
            </sw-entity-single-select>
            {% endblock %}
            {% block sw_promotion_persona_form_customer_grid %}
            <sw-data-grid
                ref="gridCustomers"
                :data-source="gridCustomersPageDataSource"
                :columns="gridCustomersColumns"
                :show-selection="!isEditingDisabled"
                @select-all-items="onGridSelectionChanged"
                @selection-change="onGridSelectionChanged"
            >
                <template
                    slot="column-fullName"
                    slot-scope="{ item, index }"
                >
                    {{ item.firstName }} {{ item.lastName }}
                </template>
                <template
                    slot="actions"
                    slot-scope="{ item }"
                >
                    {% block sw_promotion_persona_form_customer_grid_action_remove %}
                    <sw-context-menu-item
                        variant="danger"
                        :disabled="isEditingDisabled"
                        @click="onRemoveCustomer(item)"
                    >
                        {{ $tc('sw-promotion.detail.main.preconditions.persona.customers.grid.delete') }}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                <template slot="pagination">
                    <sw-pagination
                        :total="gridCustomersTotalCount"
                        :page="gridCustomersPageNr"
                        :limit="gridCustomersPageLimit"
                        :total-visible="7"
                        :steps="[10, 25, 50]"
                        @page-change="onCustomerPageChange"
                    />
                </template>
            </sw-data-grid>
            {% endblock %}
            {% block sw_promotion_persona_form_customer_grid_remove_all %}
            <sw-button
                v-if="gridCustomersTotalCount > 0"
                class="sw-promotion-persona-form-customers__remove-selected-customers"
                :disabled="isRemoveButtonDisabled"
                size="small"
                square
                @click="onRemoveSelectedCustomers"
            >
                <sw-icon
                    name="default-action-trash"
                    small
                />
            </sw-button>
            {% endblock %}
        </div>
        {% endblock %}
    </sw-card>
</div>
{% endblock %}
