<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_value_content %}
<div class="sw-condition-shipping-zip-code sw-condition__condition-value">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_shipping_zip_code_field_numeric %}
    <sw-single-select
        v-model:value="isNumeric"
        name="sw-field--isNumeric"
        :disabled="disabled"
        class="sw-condition-zipcode-type-select"
        size="medium"
        :options="numericOptions"
        required
        @update:value="onChangeNumeric"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_shipping_zip_code_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_shipping_zip_code_field_zip_codes %}
    <sw-tagged-field
        v-if="!isNumeric && !isEmpty"
        v-model:value="zipCodes"
        name="sw-field--zipCodes"
        size="medium"
        :placeholder="taggedFieldPlaceholder"
        :disabled="disabled"
    />
    <sw-number-field
        v-if="isNumeric && !isEmpty"
        v-model:value="zipCodes"
        name="sw-field--zipCodes"
        size="medium"
        :disabled="disabled"
        :min="0"
        :digits="20"
    />
    {% endblock %}
</div>
{% endblock %}
