{% block component_line_item_unit_price %}
    {% set taxFootNote = "general.star"|trans|sw_sanitize %}

    {% if not isTaxStateSame %}
        {% set taxFootNote = ("general.star"|trans|sw_sanitize) ~ ("general.star"|trans|sw_sanitize) %}
    {% endif %}

    {% block component_line_item_unit_price_label %}
        <div class="line-item-unit-price-label">
            {{ "checkout.cartHeaderUnitPrice"|trans|sw_sanitize }}
        </div>
    {% endblock %}

    {% block component_line_item_unit_price_inner %}
        {{ lineItem.price.unitPrice|currency }}{{ taxFootNote }}
    {% endblock %}
{% endblock %}
