<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_block_field %}
<sw-base-field
    class="sw-block-field"
    :class="swBlockFieldClasses"
    v-bind="$attrs"
    v-on="listeners"
>
    <template #sw-field-input="{ identification, error, disabled }">
        <div class="sw-block-field__block">
            <slot
                name="sw-field-input"
                v-bind="{ identification, error, disabled, size, setFocusClass, removeFocusClass }"
            ></slot>
        </div>
    </template>

    <template #hint>
        <slot name="hint"></slot>
    </template>

    <template #label>
        <slot name="label"></slot>
    </template>
</sw-base-field>
{% endblock %}
