@import "~scss/variables";

$sw-field-transition: border-color 0.3s ease-out, background 0.3s ease;

.sw-block-field {
    .sw-block-field__block {
        border: 1px solid $color-steam-cloud;
        border-radius: $border-radius-default;
        overflow: hidden;
    }

    input,
    select,
    textarea {
        display: block;
        width: 100%;
        min-width: 0;
        padding: 12px 16px;
        border: none;
        background: $color-white;
        font-size: $font-size-small;
        font-family: $font-family-default;
        line-height: 22px;
        transition: $sw-field-transition;
        color: $color-gutenberg;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:invalid,
        &:-moz-submit-invalid,
        &:-moz-ui-invalid {
            box-shadow: none;
        }

        &:disabled {
            background: $color-light-gray;
            border-color: $color-steam-cloud;
            cursor: default !important;
        }

        &::placeholder {
            color: lighten($color-gutenberg, 25%);
        }
    }

    &.has--focus {
        .sw-block-field__block {
            border-color: $color-shopware-blue;
            box-shadow: 0 0 4px lighten($color-shopware-blue, 30%);
        }
    }

    &.has--error {
        .sw-block-field__block {
            border-color: $color-crimson;
        }
    }

    &.has--error.has--focus {
        .sw-block-field__block {
            box-shadow: 0 0 4px lighten($color-crimson, 30%);
        }
    }

    &.sw-field--small {
        margin-bottom: 0;

        input,
        textarea,
        select {
            padding: 4px 16px;
        }
    }

    &.sw-field--medium {
        margin-bottom: 6px;

        input,
        textarea,
        select {
            padding: 8px 16px;
        }
    }
}
