{% block sw_sales_channel_detail_template %}
    <div v-if="salesChannel" class="sw-sales-channel-detail-template">
        {% block sw_sales_channel_detail_template_template %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleTemplate')">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, error.
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
