<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <import resource="../../Cart/**/*Controller.php" type="annotation" />
    <import resource="../../Payment/**/*Controller.php" type="annotation" />
    <import resource="../../Cart/SalesChannel/**/*Controller.php" type="annotation" />
    <import resource="../../Customer/SalesChannel/**/*Controller.php" type="annotation" />
    <import resource="../../Document/**/*Controller.php" type="annotation" />
    <import resource="../../Promotion/**/*Controller.php" type="annotation" />
    <import resource="../../Order/Api/**/*Controller.php" type="annotation" />
    <import resource="../../Customer/SalesChannel/**/*Route.php" type="annotation" />
    <import resource="../../Payment/SalesChannel/**/*Route.php" type="annotation" />
    <import resource="../../Shipping/SalesChannel/**/*Route.php" type="annotation" />
    <import resource="../../Customer/Api/**/*Controller.php" type="annotation" />
    <import resource="../../Customer/SalesChannel/**/*Route.php" type="annotation" />
    <import resource="../../Order/SalesChannel/**/*Route.php" type="annotation" />
    <import resource="../../Cart/SalesChannel/**/*Route.php" type="annotation" />
    <import resource="../../Document/SalesChannel/**/*Route.php" type="annotation" />
</routes>
