{% block sw_checkbox_field %}
{% block sw_switch_field %}
<div
    class="sw-field--switch"
    :class="swSwitchFieldClasses"
>
    <div class="sw-field--switch__content">
        <div class="sw-field--switch__input">
            <input
                :id="identification"
                type="checkbox"
                :name="formFieldName || identification"
                :checked="inputState"
                :disabled="disabled"
                @change="onChange"
            >
            <div class="sw-field__switch-state">
                <div class="sw-field__switch-state-knob"></div>
            </div>
        </div>

        <sw-base-field
            v-bind="$attrs"
            :disabled="disabled"
            :name="identification"
            :is-inheritance-field="isInheritanceField"
            :is-inherited="isInherited"
            @inheritance-restore="onInheritanceRestore($event)"
            @inheritance-remove="$emit('inheritance-remove', $event)"
        >
            <template #label>
                <slot name="label"></slot>
            </template>
        </sw-base-field>

    </div>
    <sw-field-error :error="error" />
</div>
    {% endblock %}
{% endblock %}
