{% block sw_range_filter %}
    <sw-base-filter
        :title="filter.label"
        :active="active"
        :showResetButton="!!value.from || !!value.to"
        @filter-reset="resetFilter">
        {% block sw_range_filter_content %}
            <sw-container :columns="columns" :gap="gap">
                <slot name="from-field" v-bind="{ value, changeFromValue }">
                    {% block sw_range_filter_from_field %}{% endblock %}
                </slot>

                <slot name="divider">
                    {% block sw_range_filter_divider %}
                        <span v-if="isShowDivider" class="sw-range-filter__divider"></span>
                    {% endblock %}
                </slot>

                <slot name="to-field" v-bind="{ value, changeToValue }">
                    {% block sw_range_filter_to_field %}{% endblock %}
                </slot>
            </sw-container>
        {% endblock %}
    </sw-base-filter>
{% endblock %}
