{% block sw_product_basic_form %}
    <div class="product-basic-form">

        {% block sw_product_basic_form_title_field %}
            <sw-field type="text"
                      label="Titel"
                      name="title"
                      placeholder="Your product title..."
                      v-model="product.name">
            </sw-field>
        {% endblock %}

        {% block sw_product_basic_form_description_field %}
            <sw-field type="textarea"
                      label="Artikel-Beschreibung"
                      name="descriptionLong"
                      placeholder="Your product description..."
                      v-model="product.descriptionLong">
            </sw-field>
        {% endblock %}

        <sw-container grid="1fr 1fr" gap="30px">
            {% block sw_product_basic_form_id_field %}
                <sw-field type="text"
                          label="Artikelnummer"
                          name="id"
                          placeholder="Your product Id"
                          :value="product.id">
                </sw-field>
            {% endblock %}

            {% block sw_product_basic_form_manufacturer_field %}
                <sw-field type="select"
                          label="Hersteller"
                          name="manufacturer"
                          placeholder="Your product manufacturer"
                          v-model="product.manufacturerId">
                    {% block sw_product_basic_form_manufacturer_field_options %}
                        <option slot="options" v-for="manufacturer in manufacturers" :value="manufacturer.id">{{ manufacturer.name }}</option>
                    {% endblock %}
                </sw-field>
            {% endblock %}
        </sw-container>
    </div>
{% endblock %}
