{% block page_content_section_default %}
    {% set layout = section.sizingMode ? section.sizingMode|replace({"_": "-"}) : "container" %}
    <div class="cms-section-default {{ layout }}">
        {% for block in section.blocks %}

            {% block section_default_content_block %}
                {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
