{% block sw_settings_country_detail %}
    <sw-page class="sw-settings-country-detail">

        {% block sw_settings_country_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="country.name">{{ country.name }}</h2>
                <h2 v-else>{{ $tc('sw-settings-country.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_settings_country_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_country_detail_actions_abort %}
                    <sw-button :disabled="country.isLoading" link="sw.settings.country.index">
                        {{ $tc('sw-settings-country.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_country_detail_actions_save %}
                    <sw-button variant="primary" :disabled="country.isLoading" @click.prevent="onSave">
                        {{ $tc('sw-settings-country.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_country_detail_content %}
            <sw-card-view slot="content">

                {% block sw_settings_country_detail_content_card %}
                    <sw-card :title="$tc('sw-settings-country.detail.titleCard')">
                        <sw-container grid="1fr 1fr" gap="0px 30px">

                            {% block sw_settings_country_detail_content_field_name %}
                                <sw-field type="text"
                                          :label="$tc('sw-settings-country.detail.labelName')"
                                          :placeholder="$tc('sw-settings-country.detail.placeholderName')"
                                          v-model="country.name">
                                </sw-field>
                            {% endblock %}

                            <sw-field type="checkbox"
                                      :label="$tc('sw-settings-country.detail.labelActive')"
                                      v-model="country.active">
                            </sw-field>
                        </sw-container>
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}