<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_skeleton_bar %}
<div class="sw-skeleton-bar">
    <div class="sw-skeleton-bar__shimmer"></div>
</div>
{% endblock %}
