<div class="sw-desktop">
    <sw-notifications></sw-notifications>
    <sw-sidebar></sw-sidebar>

    <div class="desktop">
        <sw-search-bar id="main-toolbar"></sw-search-bar>
        <router-view></router-view>
    </div>
</div>