<div class="sw-desktop">
    <sw-admin-menu></sw-admin-menu>

    <div class="desktop">
        <sw-search-bar id="main-toolbar"></sw-search-bar>
        <router-view></router-view>
    </div>
</div>
