{% block sw_sidebar_item %}
    <div class="sw-sidebar-item">
        {% block sw_sidebar_item_button %}
            <button class="sw-sidebar-item__button" :class="sidebarItemClasses" @click="sidebarButtonClick">
                {% block sw_sidebar_item_icon %}<sw-icon :name="icon" size="20px" :title="title"></sw-icon>{% endblock %}
            </button>
        {% endblock %}

        {% block sw_sidebar_item_content %}
            <div class="sw-sidebar-item__content" v-if="isExpanded">
                {% block sw_sidebar_item_headline %}
                    <div class="sw-sidebar-item__headline">
                        {% block sw_sidebar_item_title %}
                            <h1 class="sw-sidebar-item__title">{{ title }}</h1>
                        {% endblock %}

                        {% block sw_sidebar_item_close_button %}
                            <div class="sw-sidebar-item__close-button" @click="closeSideBarPanel">
                                <sw-icon name="small-default-x-line-small"></sw-icon>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
                <slot>{% block sw_sidebar_item_slot_default %}{% endblock %}</slot>
            </div>
        {% endblock %}
    </div>
{% endblock %}