@import "~less/variables";

@sw-sidebar-color-border:            @color-steam-cloud;
@sw-sidebar-hover-color-background:  @color-light-gray;
@sw-sidebar-color-headline:          @color-black;
@sw-sidebar-icon-color:              @color-gutenberg;
@sw-sidebar-active-icon-color:       @color-shopware-blue;
@sw-sidebar-active-color-background: @color-cadet-blue;
@sw-sidebar-color-white:             @color-white;
@sw-sidebar-z-index:                 @z-index-sidebar;

.sw-sidebar-item {
    .sw-sidebar-item__content {
        position: absolute;
        z-index: @sw-sidebar-z-index;
        right: 64px;
        width: 30%;
        min-width: 356px;
        max-width: 400px;
        top: 0; bottom: 0;
        border-left: 1px solid @sw-sidebar-color-border;
        overflow-y: auto;
        background: @sw-sidebar-color-white;
        padding:0 25px;
    }

    .sw-sidebar-item__headline {
        display: grid;
        grid-template-columns: auto 64px;
        position: sticky;
        top: 0px;
        background-color: @sw-sidebar-color-white;
        margin: 0 -25px;
        padding: 25px 25px 0;
    }


    .sw-sidebar-item__title {
        font-size: 18px;
        line-height: 23px;
        color: @sw-sidebar-color-headline;
    }

    .sw-sidebar-item__close-button {
        justify-self: end;
    }

    .sw-sidebar-item__button {
        width: 64px;
        height: 64px;
        font-size: 22px;
        line-height: 12px;
        text-align: center;
        border: 0 none;
        color: @sw-sidebar-icon-color;
        background: none;
        cursor: pointer;
        outline: none;

        &:hover {
            background: @sw-sidebar-hover-color-background;
        }
        &.is--active {
            background: @sw-sidebar-active-color-background;
            color: @sw-sidebar-active-icon-color;
        }

        &.is--disabled {
            cursor: not-allowed;
            opacity: .3;
        }
    }
}