<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_gallery_config %}
<div class="sw-cms-el-config-image-gallery">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_image_gallery_config_tabs %}
    <sw-tabs
        position-identifier="sw-cms-element-config-image-gallery"
        class="sw-cms-el-config-image-gallery__tabs"
        default-item="content"
    >
        <template #default="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_gallery_config_tab_content %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.content')"
                name="content"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
            {% endblock %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_gallery_config_tab_options %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.settings')"
                name="settings"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
            {% endblock %}
        </template>

        <template
            #content="{ active }"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_gallery_config_content %}
            <sw-container
                v-if="active === 'content'"
                class="sw-cms-el-config-image-gallery__tab-content"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_image_gallery_config_media_selection %}
                <sw-cms-mapping-field
                    v-model:config="element.config.sliderItems"
                    entity="product_media"
                    value-types="entity"
                    :label="$tc('sw-cms.elements.imageGallery.label')"
                >

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_image_gallery_config_media_list_selection %}
                    <sw-media-list-selection-v2
                        :entity-media-items="mediaItems"
                        :entity="entity"
                        :upload-tag="uploadTag"
                        :default-folder="defaultFolderName"
                        @upload-finish="onImageUpload"
                        @item-remove="onItemRemove"
                        @open-sidebar="onOpenMediaModal"
                        @item-sort="onItemSort"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_image_gallery_config_media_mapping_preview %}
                    <template #preview="{ demoValue }">

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_media_preview_list %}
                        <div
                            v-if="demoValue && demoValue.length"
                            ref="demoMediaGrid"
                            class="sw-cms-el-config-image-gallery__mapping-preview"
                            :style="gridAutoRows"
                        >

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_image_gallery_config_media_preview_item %}
                            <div
                                v-for="demo in demoValue"
                                :key="demo.id"
                                class="sw-cms-el-config-image-gallery__preview-image"
                            >
                                <img
                                    :src="demo.media.url"
                                    alt=""
                                >
                            </div>
                            {% endblock %}
                        </div>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_media_preview_info %}
                        <sw-alert
                            v-else
                            class="sw-cms-el-config-image__preview-info"
                            variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </sw-cms-mapping-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_image_gallery_config_media_modal %}
                <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="full"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onItemRemove"
                    @media-modal-selection-change="onMediaSelectionChange"
                    @modal-close="onCloseMediaModal"
                />
                {% endblock %}
            </sw-container>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_gallery_config_settings %}
            <sw-container
                v-if="active === 'settings'"
                class="sw-cms-el-config-image-gallery__tab-settings"
            >
                <div class="sw-cms-el-config-image-gallery__settings-options">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_image_gallery_config_settings_display_mode %}
                    <div class="sw-cms-el-config-image-gallery__setting-option">

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_display_mode_select %}
                        <sw-select-field
                            v-model:value="element.config.displayMode.value"
                            class="sw-cms-el-config-image-gallery__setting-display-mode"
                            :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                            :help-text="$tc('sw-cms.elements.imageGallery.config.helpText.displayMode')"
                            @update:value="onChangeDisplayMode"
                        >
                            <option value="standard">
                                {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                            </option>
                            <option value="contain">
                                {{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
                            </option>
                            <option value="cover">
                                {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                            </option>
                        </sw-select-field>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_min_height %}
                        <sw-text-field
                            v-model:value="element.config.minHeight.value"
                            :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                            :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')"
                            :help-text="$tc('sw-cms.elements.image.config.label.minHeightHelpText')"
                            :disabled="!['cover', 'contain'].includes(element.config.displayMode.value)"
                            @update:value="onChangeMinHeight"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_vertical_align %}
                        {# ToDo NEXT-38801 - Re-enable and fix broken vertical align #}
                        <sw-select-field
                            v-if="false"
                            v-model:value="element.config.verticalAlign.value"
                            :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                            :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                            :disabled="['cover', 'contain'].includes(element.config.displayMode.value)"
                        >
                            <option value="flex-start">
                                {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                            </option>
                            <option value="center">
                                {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                            </option>
                            <option value="flex-end">
                                {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                            </option>
                        </sw-select-field>
                        {% endblock %}
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_image_gallery_config_settings_navigation %}
                    <div class="sw-cms-el-config-image-gallery__setting-navigations sw-cms-el-config-image-gallery__setting-option">
                        <div class="sw-cms-el-config-image-gallery__settings-navigation">

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_image_gallery_config_settings_navigation_arrow_position %}
                            <sw-select-field
                                v-model:value="element.config.navigationArrows.value"
                                :label="$tc('sw-cms.elements.imageSlider.config.label.navigationArrows')"
                                @update:value="emitUpdateEl"
                            >

                                <option :value="null">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionNone') }}
                                </option>
                                <option value="inside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionInside') }}
                                </option>
                                <option value="outside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionOutside') }}
                                </option>
                            </sw-select-field>
                            {% endblock %}
                        </div>

                        <div class="sw-cms-el-config-image-gallery__settings-navigation">

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_image_gallery_config_settings_navigation_dots_position %}
                            <sw-select-field
                                v-model:value="element.config.navigationDots.value"
                                :label="$tc('sw-cms.elements.imageSlider.config.label.navigationDots')"
                                @update:value="emitUpdateEl"
                            >

                                <option :value="null">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionNone') }}
                                </option>
                                <option value="inside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionInside') }}
                                </option>
                                <option value="outside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionOutside') }}
                                </option>
                            </sw-select-field>
                            {% endblock %}
                        </div>

                        <div class="sw-cms-el-config-image-gallery__settings-navigation">

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_image_gallery_config_settings_navigation_preview_position %}
                            <sw-select-field
                                v-model:value="element.config.galleryPosition.value"
                                :label="$tc('sw-cms.elements.imageGallery.config.label.navigationPreview')"
                                @update:value="emitUpdateEl"
                            >

                                <option value="left">
                                    {{ $tc('sw-cms.elements.imageGallery.config.label.navigationPreviewPositionLeft') }}
                                </option>
                                <option value="underneath">
                                    {{ $tc('sw-cms.elements.imageGallery.config.label.navigationPreviewPositionUnderneath') }}
                                </option>
                            </sw-select-field>
                            {% endblock %}
                        </div>
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_image_gallery_config_settings_zoom_toggles %}
                    <div class="sw-cms-el-config-image-gallery__setting-option">

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_toggle_zoom %}
                        <sw-switch-field
                            v-model:value="element.config.zoom.value"
                            bordered
                            :label="$tc('sw-cms.elements.imageGallery.config.label.zoom')"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_toggle_fullscreen %}
                        <sw-switch-field
                            v-model:value="element.config.fullScreen.value"
                            bordered
                            :label="$tc('sw-cms.elements.imageGallery.config.label.fullscreen')"
                        />
                        {% endblock %}
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_image_gallery_config_settings_aspect_ratio_magnifier_over_gallery_toggles %}
                    <div class="sw-cms-el-config-image-gallery__setting-option">

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_toggle_keep_aspect_ratio_on_zoom %}
                        <sw-switch-field
                            v-model:value="element.config.keepAspectRatioOnZoom.value"
                            bordered
                            :label="$tc('sw-cms.elements.imageGallery.config.label.keepAspectRatioOnZoom')"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_gallery_config_settings_toggle_magnifier_over_gallery %}
                        <sw-switch-field
                            v-model:value="element.config.magnifierOverGallery.value"
                            bordered
                            :label="$tc('sw-cms.elements.imageGallery.config.label.magnifierOverGallery')"
                            :help-text="$tc('sw-cms.elements.imageGallery.config.label.magnifierOverGalleryHelpText')"
                        />
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
            </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
    {% endblock %}
</div>
{% endblock %}
