<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_preview %}
<div class="sw-cms-preview-image-text">
    <img
        :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
        alt=""
    >
    <div>
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
</div>
{% endblock %}
