{

  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "babel-plugin-transform-object-rest-spread"
  ]
}