@import "~less/variables";

@sw-color-swatch-color-fallback:   @color-steam-cloud;
@sw-color-swatch-color-warning:    @color-pumpkin-spice;
@sw-color-swatch-color-error:      @color-crimson;
@sw-color-swatch-color-success:    @color-emerald;
@sw-color-swatch-color-info:       @color-shopware-blue;

.sw-color-swatch {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 2px;
    margin: 0 0 1px 10px;
    background-color: @sw-color-swatch-color-fallback;

    &.sw-color-swatch__warning {
        background-color: @sw-color-swatch-color-warning;
    }

    &.sw-color-swatch__error {
        background-color: @sw-color-swatch-color-error;
    }

    &.sw-color-swatch__success {
        background-color: @sw-color-swatch-color-success;
    }

    &.sw-color-swatch__info {
        background-color: @sw-color-swatch-color-info;
    }
}