{% block sw_color_swatch %}
    <span class="sw-color-swatch" :class="variantClass" v-bind="$attrs" :style="colorStyle">
        <slot>{% block sw_color_swatch_default_slot %}{% endblock %}</slot>
    </span>
{% endblock %}