@import "~scss/variables";

.sw-settings-price-rounding {
    .sw-settings-price-rounding__headline {
        font-size: $font-size-s;
        color: var(--color-text-secondary-default);
        margin: 0 0 10px;
        font-weight: $font-weight-bold;
    }

    .sw-settings-price-rounding__info-text {
        margin-bottom: 22px;
    }

    .sw-settings-price-rounding__spacer {
        margin: 0 0 20px;
        border: none;
        height: 1px;
        background-color: var(--color-border-primary-default);
    }
}
