{% block sw_settings_price_rounding %}
    <div class="sw-settings-price-rounding">
        {% block sw_settings_price_rounding_header_items %}
            <div role="heading"
                 aria-level="3"
                 class="sw-settings-price-rounding__headline">
                {{ $tc('sw-settings-currency.price-rounding.itemsHeadline') }}
            </div>
        {% endblock %}

        {% block sw_settings_price_rounding_subline_items %}
            <p class="sw-settings-price-rounding__info-text">
                {{ $tc('sw-settings-currency.price-rounding.itemsSubline') }}
            </p>
        {% endblock %}

        {% block sw_settings_price_rounding_container_items %}
            <sw-container
                class="sw-settings-price-rounding__rounding-container"
                columns="repeat(auto-fit, minmax(250px, 1fr))"
                gap="0px 30px">
                {% block sw_settings_price_rounding_container_items_decimals %}
                    <sw-number-field
                        :label="$tc('sw-settings-currency.price-rounding.labelDecimals')"
                        :helpText="$tc('sw-settings-currency.price-rounding.helpTextDecimals')"
                        required
                        numberType="int"
                        :step="1"
                        :min="0"
                        :max="20"
                        @change="onChangeDecimals($event, 'itemRounding')"
                        v-model="itemRounding.decimals">
                    </sw-number-field>
                {% endblock %}

                {% block sw_settings_price_rounding_container_items_interval %}
                    <sw-single-select
                        class="sw-settings-price-rounding__item-interval-select"
                        :label="$tc('sw-settings-currency.price-rounding.labelInterval')"
                        :helpText="$tc('sw-settings-currency.price-rounding.helpTextInterval')"
                        :disabled="itemIntervalDisabled"
                        v-tooltip="{
                            message: $tc('sw-settings-currency.price-rounding.tooltipIntervalDisabled'),
                            disabled: !itemIntervalDisabled,
                            showOnDisabledElements: true
                        }"
                        required
                        :options="intervalOptions"
                        v-model="itemRounding.interval">
                    </sw-single-select>
                {% endblock %}

                {% block sw_settings_price_rounding_container_items_round_for_net %}
                    <sw-switch-field
                        class="sw-settings-price-rounding__round-for-net-checkbox"
                        :label="$tc('sw-settings-currency.price-rounding.labelRoundForNet')"
                        :helpText="$tc('sw-settings-currency.price-rounding.helpTextRoundForNet')"
                        v-model="itemRounding.roundForNet">
                    </sw-switch-field>
                {% endblock %}
            </sw-container>
        {% endblock %}

        {% block sw_settings_price_rounding_spacer %}
            <hr class="sw-settings-price-rounding__spacer" />
        {% endblock %}

        {% block sw_settings_price_rounding_header_grand %}
            <div role="heading"
                 aria-level="3"
                 class="sw-settings-price-rounding__headline">
                {{ $tc('sw-settings-currency.price-rounding.grandHeadline') }}
            </div>
        {% endblock %}

        {% block sw_settings_price_rounding_subline_grand %}
            <p class="sw-settings-price-rounding__info-text">
                {{ $tc('sw-settings-currency.price-rounding.grandSubline') }}
            </p>
        {% endblock %}

        {% block sw_settings_price_rounding_subline_description %}
            <sw-alert class="sw-settings-price-rounding__info-description"
                      variant="warning">
                {{ $tc('sw-settings-currency.price-rounding.infoDescription') }}
            </sw-alert>
        {% endblock %}

        {% block sw_settings_price_rounding_container_grand %}
            <sw-container
                class="sw-settings-price-rounding__rounding-container"
                columns="repeat(auto-fit, minmax(250px, 1fr))"
                gap="0px 30px">
                {% block sw_settings_price_rounding_container_grand_decimals %}
                    <sw-number-field
                        :label="$tc('sw-settings-currency.price-rounding.labelDecimals')"
                        :helpText="$tc('sw-settings-currency.price-rounding.helpTextDecimals')"
                        required
                        numberType="int"
                        :step="1"
                        :min="0"
                        :max="20"
                        @change="onChangeDecimals($event, 'totalRounding')"
                        v-model="totalRounding.decimals">
                    </sw-number-field>
                {% endblock %}

                {% block sw_settings_price_rounding_container_grand_interval %}
                    <sw-single-select
                        class="sw-settings-price-rounding__grand-interval-select"
                        :label="$tc('sw-settings-currency.price-rounding.labelInterval')"
                        :helpText="$tc('sw-settings-currency.price-rounding.helpTextInterval')"
                        required
                        :disabled="totalIntervalDisabled"
                        v-tooltip="{
                            message: $tc('sw-settings-currency.price-rounding.tooltipIntervalDisabled'),
                            disabled: !totalIntervalDisabled,
                            showOnDisabledElements: true
                        }"
                        :options="intervalOptions"
                        v-model="totalRounding.interval">
                    </sw-single-select>
                {% endblock %}

                {% block sw_settings_price_rounding_container_grand_round_for_net %}
                    <sw-switch-field
                        class="sw-settings-price-rounding__round-for-net-checkbox"
                        :label="$tc('sw-settings-currency.price-rounding.labelRoundForNet')"
                        :helpText="$tc('sw-settings-currency.price-rounding.helpTextRoundForNet')"
                        v-model="totalRounding.roundForNet">
                    </sw-switch-field>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}
