{% block sw_promotion_rebate_form %}
    <div class="promotion-rebate-form">
        <sw-container columns="3fr 1fr" gap="0px 30px">
            {% block sw_promotion_rebate_form_rebate_value_field %}
                <sw-field type="number"
                          :suffix="promotion.percental ? '%' : '€'"
                          :label="$tc('sw-promotion.detail.main.discounts.labelValue')"
                          :placeholder="$tc('sw-promotion.detail.main.discounts.placeholderValue')"
                          validation="required"
                          v-model="promotion.value">
                </sw-field>
            {% endblock %}

            {% block sw_promotion_rebate_form_rebate_type_field %}
                <sw-field type="boolean"
                          :label="$tc('sw-promotion.detail.main.discounts.labelPercental')"
                          v-model="promotion.percental">
                </sw-field>
            {% endblock %}
        </sw-container>
    </div>
{% endblock %}
