{% block sw_condition_fields %}
    {% block sw_condition_fields_operator %}
        <sw-condition-operator-select operatorSetName="string"
                                      v-model="condition.value.operator">
        </sw-condition-operator-select>
    {% endblock %}
    {% block sw_condition_fields_value %}
        <sw-field type="select"
                  name="lineItemType"
                  v-model="condition.value.lineItemType"
                  class="field field--main field--select">
            <option v-for="(lineItemType, identifier) in lineItemTypes" :value="identifier">
                {{ $tc(lineItemType.label) }}
            </option>
        </sw-field>
    {% endblock %}
{% endblock %}
