{% block sw_condition_fields %}
    {% block sw_condition_fields_operator %}
        <sw-select name="operator"
                   id="createId()"
                   itemValueKey="identifier"
                   displayName="label"
                   :store="operators"
                   :required="true"
                   v-model="condition.value.operator"
                   class="field field--select has--arrow">
        </sw-select>
    {% endblock %}
    {% block sw_condition_fields_value %}
        <sw-field type="select"
                  name="lineItemType"
                  v-model="condition.value.lineItemType"
                  class="field field--main field--select">
            <option v-for="(lineItemType, identifier) in lineItemTypes" :value="identifier">
                {{ $tc(lineItemType.label) }}
            </option>
        </sw-field>
    {% endblock %}
{% endblock %}
