@import "~scss/variables";

.sw-meteor-page-context-item {
    position: relative;
    display: flex;
    font-size: $font-size-extra-small;
    align-items: center;
    border: 0 none;
    border-radius: $border-radius-default;
    color: #0c1f34;
    padding: 6px;

    &:hover {
        background-color: $color-gray-50;
        cursor: pointer;
    }

    .sw-icon {
        width: 12px;
        height: 12px;
    }

    .sw-meteor-page-context-item__icon-action {
        margin-right: 12px;
    }

    .sw-meteor-page-context-item__icon-collapsed {
        margin-left: 4px;
    }

    .sw-meteor-page-context-item__menu-position {
        position: absolute;
        left: 100%;
        bottom: 0;
        border: 1px solid red;
    }
}

.sw-popover__wrapper.sw-meteor-page-context-item__popover {
    transform: translate(-100%, 0);

    .sw-context-menu {
        position: relative;
    }
}
