.sw-base-filter {
    &__headline {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        color: var(--color-text-primary-default);
        margin-bottom: var(--scale-size-8);
    }

    .sw-base-filter__headline .sw-base-filter__reset {
        padding-right: 0;
    }
}
