<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_base_filter %}
<div class="sw-base-filter">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_base_filter_headline %}
    <div class="sw-base-filter__headline">
        <h4 class="sw-base-filter__title">
            {{ title }}
        </h4>
        <a
            v-if="showResetButton"
            class="sw-base-filter__reset"
            role="button"
            tabindex="0"
            @click="resetFilter"
            @keydown.enter="resetFilter"
        >{{ $tc('sw-base-filter.resetButton') }}</a>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_base_filter_content %}
    <slot></slot>
    {% endblock %}
</div>
{% endblock %}
