<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_toolbar %}
<div class="sw-cms-toolbar">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_toolbar_title %}
    <div class="sw-cms-toolbar__title">
        <slot name="title">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_toolbar_slot_title %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_toolbar_tools %}
    <div class="sw-cms-toolbar__tools">
        <slot name="tools">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_toolbar_slot_tools %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_toolbar_language_switch %}
    <div class="sw-cms-toolbar__language-selection">
        <slot name="language-switch">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_toolbar_slot_language_switch %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_toolbar_actions %}
    <div class="sw-cms-toolbar__actions">

        <sw-app-actions />

        <slot name="actions">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_toolbar_slot_actions %}{% endblock %}
        </slot>
    </div>
    {% endblock %}
</div>
{% endblock %}
