@import "~scss/variables";

.sw-cms-toolbar {
    padding: 0 20px;
    min-height: 81px;
    border-bottom: 2px solid var(--color-border-primary-default);
    display: grid;
    grid-template-columns: 1fr 1fr auto auto auto;
    align-items: center;
    align-content: center;
    z-index: 251;
    background-color: var(--color-elevation-surface-raised);

    .sw-cms-toolbar__back-btn {
        padding: 10px 20px;

        .mt-icon {
            color: var(--color-icon-secondary-default);
            transform: rotate(180deg);
        }

        a:hover .mt-icon {
            color: var(--color-text-primary-default);
        }
    }

    .sw-cms-toolbar__title h2 {
        color: var(--color-text-primary-default);
        font-size: $font-size-m;
        font-weight: $font-weight-semi-bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .sw-cms-toolbar__actions {
        text-align: center;

        .sw-app-actions {
            float: left;
        }
    }
}
