@import "~scss/variables";

.sw-cms-toolbar {
    padding: 0 20px;
    min-height: 70px;
    border-bottom: 2px solid $color-gray-300;
    display: grid;
    grid-template-columns: 1fr 1fr 158px auto;
    align-items: center;
    align-content: center;
    z-index: 251;
    background-color: $color-white;

    .sw-cms-toolbar__back-btn {
        padding: 10px 20px;

        .sw-icon {
            color: $color-gray-300;
            transform: rotate(180deg);
        }

        a:hover .sw-icon {
            color: $color-darkgray-200;
        }
    }

    .sw-cms-toolbar__title h2 {
        color: $color-darkgray-200;
        font-size: $font-size-m;
        font-weight: $font-weight-semi-bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .sw-cms-toolbar__actions {
        text-align: center;

        .sw-app-actions {
            float: left;
        }
    }
}
