@import "~scss/variables";

$sw-simple-search-field-search-icon-color: $color-gutenberg;

.sw-simple-search-field {
    position: relative;
    margin-bottom: 8px;

    .sw-simple-search-field__input {
        margin-bottom: 0;

        input {
            padding-right: 44px;
            padding-left: 20px;
        }
    }

    .sw-simple-search-field__search-icon, .sw-icon {
        color: $sw-simple-search-field-search-icon-color;
        transform: translate(0, -50%);
        position: absolute;
        right: 18px;
        top: 50%;
    }
}
