@import "~scss/variables";

$sw-simple-search-field-search-icon-color: $color-gutenberg;

.sw-simple-search-field {
    position: relative;

    .sw-simple-search-field__input {
        input {
            padding: 0 20px 0 44px;
        }
    }

    .sw-simple-search-field__search-icon, .sw-icon {
        position: absolute;
        color: $sw-simple-search-field-search-icon-color;
        left: 24px;
        top: 50%;
        transform: translate(0, -50%);
    }
}