@import "~scss/variables";

$sw-side-navigation-item-link-color: $color-gutenberg;
$sw-side-navigation-item-link-distance: 10px;
$sw-side-navigation-item-color-disabled: $color-kashmir;

.sw-tabs-item {
    transition: 0.3s all ease-in-out;
    padding: $sw-side-navigation-item-link-distance ($sw-side-navigation-item-link-distance * 1.75);
    border-bottom: 2px solid lighten($sw-side-navigation-item-link-color, 45);
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
    color: lighten($sw-side-navigation-item-link-color, 30);
    cursor: pointer;

    &.sw-tabs-item--active {
        color: $sw-side-navigation-item-link-color;
    }

    &:hover {
        color: $sw-side-navigation-item-link-color;
    }

    &:disabled {
        color: $sw-side-navigation-item-color-disabled;
        cursor: not-allowed;
    }
}

.sw-tabs--vertical .sw-tabs-item {
    padding: $sw-side-navigation-item-link-distance;
    border-bottom: 0px solid lighten($sw-side-navigation-item-link-color, 45);
    border-left: 2px solid lighten($sw-side-navigation-item-link-color, 45);
}

.sw-tabs--vertical.sw-tabs--align-right .sw-tabs-item{
    border-left: 0px;
    border-right: 2px solid lighten($sw-side-navigation-item-link-color, 45);
}