{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_search %}
        <div class="cms-page search-page">
            {% block page_search_headline %}
                <h1 class="search-headline">
                    {% block page_search_headline_text %}
                        {{ "search.headline"|trans({
                            '%count%': page.listing.total,
                            '%searchTerm%': page.searchTerm,
                        }) }}
                    {% endblock %}
                </h1>
            {% endblock %}

            {% sw_include '@Storefront/storefront/page/search/search-pagelet.html.twig' with { page: page } %}
        </div>
    {% endblock %}
{% endblock %}
