<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_box_config %}
<div class="sw-cms-el-config-product-box">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_product_box_config_product_select %}
    <sw-entity-single-select
        ref="cmsProductSelection"
        v-model:value="element.config.product.value"
        :label="$tc('sw-cms.elements.productBox.config.label.selection')"
        :placeholder="$tc('sw-cms.elements.productBox.config.placeholder.selection')"
        entity="product"
        :criteria="productCriteria"
        :context="productSelectContext"
        show-clearable-button
        @update:value="onProductChange"
    >
        <template #selection-label-property="{ item }">
            <sw-product-variant-info
                :variations="item.variation"
            >
                {{ item.translated.name || item.name }}
            </sw-product-variant-info>
        </template>
        <template #result-item="{ item, index }">
            <slot
                name="result-item"
                v-bind="{ item, index }"
            >
                <sw-select-result
                    v-bind="{ item, index }"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_entity_single_select_base_results_list_result_label %}
                    <span class="sw-select-result__result-item-text">
                        <sw-product-variant-info :variations="item.variation">
                            {{ item.translated.name || item.name }}
                        </sw-product-variant-info>
                    </span>
                    {% endblock %}
                </sw-select-result>
            </slot>
        </template>
    </sw-entity-single-select>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_product_box_config_layout_select %}
    <sw-select-field
        v-model:value="element.config.boxLayout.value"
        :label="$tc('sw-cms.elements.productBox.config.label.layoutType')"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_product_box_config_layout_select_options %}
        <option value="standard">
            {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
        </option>
        <option value="image">
            {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
        </option>
        <option value="minimal">
            {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
        </option>
        {% endblock %}
    </sw-select-field>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_product_box_config_displaymode_select %}
    <sw-select-field
        v-model:value="element.config.displayMode.value"
        :label="$tc('sw-cms.elements.general.config.label.displayMode')"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_product_box_config_displaymode_select_options %}
        <option value="standard">
            {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
        </option>
        <option value="cover">
            {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
        </option>
        <option value="contain">
            {{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
        </option>
        {% endblock %}
    </sw-select-field>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_product_box_config_settings_vertical_align %}
    <sw-select-field
        v-model:value="element.config.verticalAlign.value"
        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_product_box_config_settings_vertical_align_options %}
        <option value="flex-start">
            {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
        </option>
        <option value="center">
            {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
        </option>
        <option value="flex-end">
            {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
        </option>
        {% endblock %}
    </sw-select-field>
    {% endblock %}
</div>
{% endblock %}
