.sw-cms-preview-image-three-cover {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    padding: 2px;
    height: 140px;

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
