<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_three_cover_preview %}
<div class="sw-cms-preview-image-three-cover">
    <img
        :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
        alt=""
    >
    <img
        :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
        alt=""
    >
    <img
        :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
        alt=""
    >
</div>
{% endblock %}
