{% block sw_order_detail %}
    <sw-page class="sw-order-detail">

        {% block sw_order_detail_header %}
            <template slot="smart-bar-header">
                {% block sw_order_detail_header_title %}
                    <h2 v-if="order.id">{{ $tc('sw-order.detail.textHeadline') }} {{ order.id }}</h2>
                {% endblock %}

                {% block sw_order_detail_header_title_new %}
                    <h2 v-else>{{ $tc('sw-order.detail.textHeadlineNew') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_order_detail_language_switch %}
            <sw-language-switch slot="language-switch" @on-change="onChangeLanguage"></sw-language-switch>
        {% endblock %}

        {% block sw_order_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_order_detail_actions_abort %}
                    <sw-button v-if="isEditing" :disabled="order.isLoading" @click ="onCancelEditing">
                        {{ $tc('sw-order.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_order_detail_actions_save %}
                    <sw-button v-if="isEditing" variant="primary"  :disabled="order.isLoading" @click ="onSave">
                        {{ $tc('sw-order.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}

                <sw-button v-if="!isEditing" :disabled="order.isLoading" square @click="onStartEditing">
                    <sw-icon name="default-documentation-paper-pencil" small></sw-icon>
                </sw-button>

            </template>
        {% endblock %}

        {% block sw_order_detail_content %}
            <sw-card-view slot="content">
                {% block sw_order_detail_content_view %}
                    <router-view :order="order" ref="baseComponent" @sw-order-detail-base-error = "onError"></router-view>
                {% endblock %}

                {% block sw_order_detail_attribute_sets %}
                    <sw-attribute-set-renderer
                            v-if="next754"
                            :entity="order"
                            :sets="attributeSets">
                    </sw-attribute-set-renderer>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}