@import "~less/variables";

@sw-order-detail-color-border: @color-steam-cloud;

.sw-order-detail {
    .sw-card-section--secondary .sw-address {
        .sw-address__headline {
            padding: 15px;
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            border-bottom: 1px solid @sw-order-detail-color-border;
        }

        .sw-address__body {
            padding: 15px;
        }
    }
}