{% block sw_order_detail %}
    <sw-page class="sw-order-detail">

        {% block sw_order_detail_header %}
            <template slot="smart-bar-header">
                {% block sw_order_detail_header_title %}
                    <h2 v-if="order.id">{{ $tc('sw-order.detail.textHeadline') }} {{ order.id }}</h2>
                {% endblock %}

                {% block sw_order_detail_header_title_new %}
                    <h2 v-else>{{ $tc('sw-order.detail.textHeadlineNew') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_order_detail_language_switch %}
            <sw-language-switch slot="language-switch" @on-change="onChangeLanguage"></sw-language-switch>
        {% endblock %}

        {% block sw_order_detail_actions %}
            <template slot="smart-bar-actions">

                <sw-button-group splitButton v-if="isEditing" :disabled="order.isLoading">
                    {% block sw_order_detail_actions_save %}
                        <sw-button variant="primary"
                            @click ="onSave"
                            class="sw-order-detail__save_button">
                            {{ $tc('sw-order.detail.buttonSave') }}
                        </sw-button>
                    {% endblock %}

                    <sw-context-button>
                        <sw-button square slot="button" variant="primary" class="sw-media-upload__button-context-menu">
                            <sw-icon name="small-arrow-medium-down" size="16"></sw-icon>
                        </sw-button>

                        <sw-context-menu-item @click ="onCancelEditing">
                            {{ $tc('sw-order.detail.buttonCancel') }}
                        </sw-context-menu-item>
                    </sw-context-button>
                </sw-button-group>

                <sw-button v-if="!isEditing" :disabled="order.isLoading" variant="primary" @click="onStartEditing">
                    {{ $tc('sw-order.detail.buttonEdit') }}
                </sw-button>

            </template>
        {% endblock %}

        {% block sw_order_detail_content %}
            <sw-card-view slot="content">
                {% block sw_order_detail_content_view %}
                    <router-view :order="order" ref="baseComponent" @sw-order-detail-base-error = "onError"></router-view>
                {% endblock %}

                {% block sw_order_detail_attribute_sets %}
                <sw-card :title="$tc('sw-settings-attribute.general.mainMenuItemGeneral')"
                         v-if="next754 && attributeSets.length > 0"
                         :isLoading="order.isLoading">
                        <sw-attribute-set-renderer
                                :disabled="!isEditing"
                                :entity="order"
                                :sets="attributeSets">
                        </sw-attribute-set-renderer>
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}