<div style="font-family:arial; font-size:12px;">
    <p>
        Hello {{ customer.salutation.translated.displayName }} {{ customer.lastName }},<br/>
        <br/>
        Please confirm your email address via the following link:<br/>
        <br/>
        <a href="{{ confirmUrl }}">Confirm email</a><br/>
        <br/>
        After the confirmation, you will be directed to the checkout, where you can check and complete your order again.<br/>
        By this confirmation, you also agree that we may send you further emails as part of the fulfillment of the contract.
    </p>
</div>
