<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_credit_item %}
<div
    class="sw-order-credit-item"
    style="height: calc(100vh - 400px)"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_credit_item_container %}
    <sw-container
        class="sw-order-credit-item-container"
        gap="0px 30px"
        :columns="'1fr 1fr'"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_credit_item_credit_name %}
        <sw-text-field
            v-model="credit.label"
            :label="$tc('sw-order.itemModal.credit.labelCreditName')"
            :placeholder="$tc('sw-order.itemModal.credit.placeholderCreditName')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_credit_item_price %}
        <sw-number-field
            class="sw-order-credit-item__price"
            :value="credit.price"
            :label="$tc('sw-order.itemModal.credit.labelCreditAmount')"
            :placeholder="$tc('sw-order.itemModal.credit.placeholderAmount')"
            @change="onChangeCreditPrice"
        >
            <template #suffix>
                {{ currency.symbol }}
            </template>
        </sw-number-field>
        {% endblock %}
    </sw-container>
    {% endblock %}
</div>
{% endblock %}
