{% block frontend_detail_actions_compare %}
    {% if shopware.config.compareShow %}
        <form action="{url controller='compare' action='add_article' articleID=$sArticle.articleID}" method="post" class="action--form">
            <button type="submit" data-product-compare-add="true" title="{{ frontend.detail.actions.DetailActionLinkCompare | trans | escape }}" class="action--link action--compare">
                <i class="icon--compare"></i> {% trans %}frontend.detail.actions.DetailActionLinkCompare{% endtrans %}
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block frontend_detail_actions_review %}
    {% if shopware.config.VoteDisable == false %}
        <a href="#content--product-reviews" data-show-tab="true" class="action--link link--publish-comment" rel="nofollow" title="{{ frontend.detail.actions.DetailLinkReview | trans | escape }}">
            <i class="icon--star"></i> {% trans %}frontend.detail.actions.DetailLinkReviewShort{% endtrans %}
        </a>
    {% endif %}
{% endblock %}

{% block frontend_detail_actions_voucher %}
    {% if shopware.config.showTellAFriend %}
        <a href="{{ page.productDetail.product.linkTellAFriend }}" rel="nofollow" title="{{ frontend.detail.actions.DetailLinkVoucher | trans | escape }}" class="action--link link--tell-a-friend">
            <i class="icon--comment"></i> {% trans %}frontend.detail.actions.DetailLinkVoucherShort{% endtrans %}
        </a>
    {% endif %}
{% endblock %}
