{% block frontend_detail_configurator_reset %}
    {% set break = false %}
    {%  for configurator in page.product.configurators if not break %}
        {% if configurator.user_selected %}
            {% block frontend_detail_configurator_reset_button %}
                {# @var canonical \Shopware\Core\Api\Seo\Struct\SeoUrlEntity #}
                {# @var product \Shopware\Core\Content\Product\Storefront\StorefrontProductEntity #}

                {% set url = path('frontend.detail.page', { productId: page.product.id }) %}
                {% if page.product.parentId %}
                    {% set url = path('frontend.detail.page', { productId: page.product.parentId }) %}
                {% endif %}

                {% set canonical = page.product.extension('canonicalUrl') %}
                {% if canonical  %}
                    {% set url = canonical.url %}
                {% endif %}

                <a class="btn is--icon-left reset--configuration" href="{{ url }}">
                    <i class="icon--cross"></i>
                    {% trans %}frontend.detail.index.DetailConfiguratorReset{% endtrans %}
                </a>
            {% endblock %}
            {% set break = true %}
        {% endif %}
    {% endfor %}
{% endblock %}