{% block frontend_index_content_inner %}
    {% set product = page.product %}

    {% set ajaxVariantSwitch = '' %}
    {% if shopware.theme.ajaxVariantSwitch %}
        {% set ajaxVariantSwitch = 'data-ajax-variants-container=true' %}
    {% endif %}

    <div class="content product--details"
         itemscope itemtype="http://schema.org/Product"
         data-ajax-wishlist="true"
         data-compare-ajax="true"
         {{ ajaxVariantSwitch }}>

        {# @var url \Shopware\Api\Seo\Struct\SeoUrlBasicStruct #}
        {% set url = product.extension('canonicalUrl') %}

        <div class="is--hidden canonical-url">{{ url.url }}</div>

        {# Product header #}
        {% sw_include '@Shopware/frontend/detail/content/header.html.twig' %}

        <div class="product--detail-upper block-group">
            {# Product image #}
            {% block frontend_detail_index_image_container %}
                <div class="product--image-container image-slider{% if product.media.count and shopware.config.usezoomplus %} product--image-zoom{% endif %}"
                    {% if product.media.count %}
                        data-image-slider="true"
                        data-image-gallery="true"
                        data-maxZoom="{{ theme.lightboxZoomFactor }}"
                        data-thumbnails=".image--thumbnails"
                    {% endif %}>

                    {% sw_include '@Storefront/frontend/detail/image.html.twig' %}
                </div>
            {% endblock %}

            {# "Buy now" box container #}
            {% sw_include '@Storefront/frontend/detail/content/buy_container.html.twig' %}
        </div>

        {% block frontend_detail_index_detail %}
            {# Tab navigation #}
            {% block frontend_detail_index_tabs %}
                {% sw_include '@Storefront/frontend/detail/tabs.html.twig' %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
