{#{namespace name="frontend/detail/index"}#}

{# Previous product #}
{% block frontend_detail_article_back %}
    <a href="#" class="navigation--link link--prev">
        <div class="link--prev-button">
            <span class="link--prev-inner">{% trans from 'frontend/detail/index' %}DetailNavPrevious{% endtrans %}</span>
        </div>
        <div class="image--wrapper">
            <div class="image--container"></div>
        </div>
    </a>
{% endblock %}

{# Next product #}
{% block frontend_detail_article_next %}
    <a href="#" class="navigation--link link--next">
        <div class="link--next-button">
            <span class="link--next-inner">{% trans from 'frontend/detail/index' %}DetailNavNext{% endtrans %}</span>
        </div>
        <div class="image--wrapper">
            <div class="image--container"></div>
        </div>
    </a>
{% endblock %}