{# Tab navigation for the product detail page #}
{% block frontend_detail_tabs %}
    <div class="tab-menu--product">
        {% block frontend_detail_tabs_inner %}

            {# Tab navigation #}
            {% block frontend_detail_tabs_navigation %}
                <div class="tab--navigation">
                    {% block frontend_detail_tabs_navigation_inner %}
                        {# Description tab #}
                        {% block frontend_detail_tabs_description %}
                            <a href="#" class="tab--link" title="{% trans from 'frontend/detail/tabs' %}DetailTabsDescription{% endtrans %}" data-tabName="description">{% trans from 'frontend/detail/tabs' %}DetailTabsDescription{% endtrans %}</a>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}

            {# Content list #}
            {% block frontend_detail_tabs_content %}
                <div class="tab--container-list">
                    {% block frontend_detail_tabs_content_inner %}

                        {# Description container #}
                        {% block frontend_detail_tabs_content_description %}
                            <div class="tab--container">
                                {% block frontend_detail_tabs_content_description_inner %}

                                    {# Description title #}
                                    {% block frontend_detail_tabs_content_description_title %}
                                        <div class="tab--header">
                                            {% block frontend_detail_tabs_content_description_title_inner %}
                                                <a href="#" class="tab--title" title="{% trans from 'frontend/detail/tabs' %}DetailTabsDescription{% endtrans %}">{% trans from 'frontend/detail/tabs' %}DetailTabsDescription{% endtrans %}</a>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {# Description preview #}
                                    {% block frontend_detail_tabs_description_preview %}
                                        <div class="tab--preview">
                                            {% block frontend_detail_tabs_content_description_preview_inner %}
                                                {{ product.descriptionLong|striptags|slice(0, 100) }}...<a href="#" class="tab--link" title="{% trans from 'frontend/detail/tabs' %}PreviewTextMore{% endtrans %}">{% trans from 'frontend/detail/tabs' %}PreviewTextMore{% endtrans %}</a>
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                    {# Description content #}
                                    {% block frontend_detail_tabs_content_description_description %}
                                        <div class="tab--content">
                                            {% block frontend_detail_tabs_content_description_description_inner %}
                                                {% sw_include '@Shopware/frontend/detail/tabs/description.html.twig' %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}

                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}

        {% endblock %}
    </div>
{% endblock %}
