@import "~scss/variables";

.sw-property-search {
    &__tree-selection__option_grid {
        padding-top: 10px;

        .sw-property-search__tree-selection__option_grid--option-value div.sw-grid__cell-content {
            padding: 0 20px 0 0;
        }
    }

    .sw-property-search__tree-selection {
        .sw-property-search__tree-selection__group_grid {
            padding-top: 10px;
            border-radius: 0 0 0 $border-radius-default;
            border-right: 1px solid $color-gray-300;
        }

        .sw-grid-column .sw-grid__cell-content {
            min-height: 34px;
            line-height: 34px;
        }

        .sw-grid-column.is-selected {
            .sw-grid__cell-content {
                color: $color-shopware-brand-500;
                font-weight: 900;
            }
        }

        .sw-grid__cell-content {
            padding: 0 0 0 20px;
        }

        .sw-property-search__tree-selection__column-items-selected {
            margin-right: 10px;
        }

        .sw-grid-column {
            font-size: $font-size-xs;
        }

        .sw-grid-row {
            border: none;
        }

        .sw-grid-row.is--selected {
            border: none;
            box-shadow: none;
        }

        .sw-grid-row:first-child.is--selected {
            box-shadow: none;
        }
    }

    .sw-property-search__tree-selection,
    .sw-property-search__search-selection {
        width: 100%;
    }

    .sw-property-search__tree-selection-container {
        height: 100%;
        min-height: 414px;

        .group_grid__column-name {
            cursor: pointer;
        }

        .sw-icon {
            margin-right: 10px;
        }

        .sw-grid__pagination {
            background-color: $color-white;
        }
    }

    &.overlay {
        position: relative;

        .sw-property-search__toolbar {
            margin-bottom: 5px;
        }
    }

    .sw-property-search__search-selection .sw-grid-column .sw-grid__cell-content {
        min-height: 0;
        padding: 0;

        .sw-field__checkbox {
            margin-left: 15px;
        }
    }

    .sw-property-search__search-selection .sw-grid.sw-grid--table .sw-grid-row {
        padding: 8px;
    }

    .sw-property-search__search-selection__option_grid {
        border-radius: $border-radius-default;

        .sw-grid__body {
            min-height: 410px;
        }
    }

    .sw-property-search__search-selection {
        flex: 1;

        .sw-grid__row--0.is--selected {
            box-shadow: none;
        }

        .sw-grid-row:last-child {
            border-radius: 0;
            border-bottom: 0;
        }
    }

    &.overlay .sw-property-search__tree-selection,
    &.overlay .sw-property-search__search-selection {
        position: absolute;
        z-index: $z-index-flyout;
        border-radius: $border-radius-default;
        background-color: $color-white;
        background-clip: padding-box;
        box-shadow: 0 1px 6px 0 lighten($color-darkgray-200, 30%);
    }

    .sw-property-search__search-field {
        margin-bottom: 0;
    }

    .sw-property-search__toolbar {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
}
