/*
Backdrop
==============================================
Custom styling for backdrop used by bootstrap modal und custom offcanvas component.

https://getbootstrap.com/docs/5.2/components/modal
*/

.modal-backdrop {
    opacity: 0;
    @include transition($modal-transition);

    &.modal-backdrop-open {
        opacity: 1;
    }

    > .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -$spacer;
        margin-top: -$spacer;
    }
}
