/*
Language flags
==================================================
Displays a country flag the size of 14px x 11px used for language selections purposes.

inspired by: https://github.com/dhanishgajjar/css-flags

en-GB: we need to use svg for en-GB, cause it's smaller than the CSS-Version
*/

.language-flag {
    height: 11px;
    width: 14px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &.country-de {
        background-position: 0 0;
        background-image: linear-gradient(to bottom, #000 33%, #d00 33%, #d00 66%, #ffce00 66%);
    }

    &.country-en {
        background-position: 0 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' width='640' height='480'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M-85 0h682v512H-85z'%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path='url%28%23a%29' transform='translate%2880%29 scale%28.94%29'%3E%3Cpath fill='%23006' d='M-256 0H768v512H-256z'%2F%3E%3Cpath fill='%23fff' d='M-256 0v57l910 455h114v-57L-141 0h-115zM768 0v57l-909 455h-115v-57L654 0h114z'%2F%3E%3Cpath fill='%23fff' d='M171 0v512h170V0H171zm-427 171v170H768V171H-256z'%2F%3E%3Cpath fill='%23c00' d='M-256 205v102H768V205H-256zM205 0v512h102V0H205zm-461 512L85 341h77l-342 171h-76zm0-512L85 171H9L-256 38V0zm606 171L692 0h76L427 171h-77zm418 341L427 341h76l265 133v38z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }

    &.country-nl {
        background-position: 0 0;
        background-image: linear-gradient(to bottom, #d00 33%, #fff 33%, #fff 66%, #21468b 66%);
    }

    &.country-fr {
        background-position: 0 0;
        background-image: linear-gradient(to right, #21468b 33%, #fff 33%, #fff 66%, #d00 66%);
    }

    &.country-es {
        background-position: 0 0;
        background-image: linear-gradient(#d00 25%, #ffce00 25%, #ffce00 75%, #d00 75%);
    }

    &.country-it {
        background-position: 0 0;
        background-image: linear-gradient(to right, #009246 33%, #fff 33%, #fff 66%, #d00 66%);
    }
}
