/*
Modal
==============================================
Custom styling for bootstrap modal component.

https://getbootstrap.com/docs/5.2/components/modal
*/

.modal {
    .modal-header {
        &.only-close {
            border-bottom-color: transparent;
        }
    }

    .modal-close:focus {
        outline: 0;
    }

    &.is-fullscreen {
        .modal-dialog,
        .modal-content {
            width: 100%;
            height: 100%;
            min-height: 100%;
            position: absolute;
            max-width: 100%;
            top: 0;
            left: 0;
            margin: 0;
            overflow-y: scroll;
            box-shadow: none;
        }

        .modal-dialog,
        .modal-content,
        .modal-header,
        .modal-body,
        .modal-footer {
            border-radius: 0;
        }
    }
}
