/*
Pagination
==============================================
Custom styling for bootstrap pagination component.

https://getbootstrap.com/docs/5.2/components/pagination
*/

.pagination {
    margin-bottom: 0;
    flex-wrap: wrap;

    @include media-breakpoint-only(xs) {
        --bs-pagination-padding-x: 0.6875rem;
    }

    .page-link {
        cursor: pointer;
        margin-bottom: 0;
    }
}