.product-feature {
    &-list {
        &-list {
            list-style: none;
            padding-left: unset;
        }
    }

    &-feature {
        font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-sm), $font-size-sm);
    }

    &-value {
        font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    }
}
