/*
Product box for wishlist
==============================================
Styling for productbox component.
*/

.product-wishlist {
    margin-top: 10px;

    .icon-wishlist {
        svg {
            top: 0;
        }
    }

    &-not-added {
        .icon-wishlist-added,
        .text-wishlist-remove {
            display: none;
        }

        .icon-wishlist-not-added,
        .text-wishlist-not-added {
            display: inline-flex;
        }

        .icon-wishlist-not-added {
            animation: pulse 0.5s alternate;
        }
    }

    &-added {
        .icon-wishlist-added,
        .text-wishlist-remove {
            display: inline-flex;
        }

        .icon-wishlist-added {
            animation: pulse 0.5s alternate;
        }

        .icon-wishlist-not-added,
        .text-wishlist-not-added {
            display: none;
        }
    }

    &-action-circle {
        height: 40px;
        width: 40px;
        background: #f9f9f9;
        border-radius: 50%;
        border-style: none;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: 10px;

        &::before {
            content: '';
            position: absolute;
            width: 120%;
            height: 120%;
            left: calc(50% - 24px);
            top: calc(50% - 24px);
        }

        &:focus {
            outline: none;
        }
    }

    &-action {
        background: transparent;
        border-style: none;
        padding: 0;
        display: inline-flex;

        &:focus {
            outline: none;
        }
    }

    &-btn {
        height: 40px;
        width: 40px;
    }

    &-btn-remove {
        z-index: 10;
        position: absolute;
        background: $gray-100;
        border-radius: 50%;
        border-style: none;
        right: 25px;
        top: 25px;
        padding: 0;

        &:focus {
            outline: none;
        }
    }

    .icon-wishlist {

        svg {
            top: 0;
        }

        &-remove {
            color: $gray-800;
        }
    }

    &-btn-content {
        text-decoration: underline;

        &-md {
            margin-left: 8px;
            font-size: 14px;
        }

        &-sm {
            margin-left: 6px;
            font-size: 12px;
        }

        &-disabled {
            display: none;
        }

        &-active {
            display: inline-flex;
        }
    }
}

.product-wishlist-info {
    &-item {
        min-height: 2em;
        font-size: $font-size-sm;
    }

    &-text {
        font-weight: $font-weight-bold;
    }

    /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
    &-manufacturer {
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-variant-characteristics-text {
        text-transform: capitalize;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
