.cms-element-image {
    &.display-cover {
        .cms-image {
            object-fit: cover;
            width: 100%;
        }
    }
    
    .image-link {
        display: block;
    }
}

.cms-element-product-listing {
    .listing-col {
        margin-bottom: $spacer-lg;
    }
}

.cms-element-product-box {
    width: 100%;
}
