.offcanvas-cart {
    .btn.disabled {
        color: $gray-500;
    }

    .cart-item {
        padding: 10px 0;
        border-bottom: 1px solid $border-color;

        &.is-empty {
            padding-top: 0;
            border-bottom: 0;
        }
    }

    .cart-item-image {
        $size: 38px;
        border: solid 1px $border-color;
        background: $white;
        width: $size;
        height: $size;
        float: left;
        position: relative;
        margin-right: 10px;

        img {
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .cart-item-link {
        display: inline-block;
        width: 150px;
        color: $gray-600;

        &:hover {
            text-decoration: none;
        }

        .cart-item-link-quantity {
            margin-right: 5px;
            font-weight: $font-weight-bold;
        }

        .cart-item-link-price {
            float: none;
            display: block;
            font-weight: $font-weight-bold;
        }
    }

    .cart-item-remove {
        $size: 38px;
        float: right;

        button {
            width: $size;
            height: $size;
            line-height: 1;
        }
    }

    .cart-prices {
        padding: 10px 0;
        color: $gray-800;

        .cart-prices-text {
            font-weight: $font-weight-bold;
        }

        .cart-prices-subtotal {
            float: right;
            font-weight: $font-weight-bold;
        }
    }

    .cart-tax {
        font-size: $font-size-sm;
    }

    .cart-item-promotion {
        .cart-item-image {
            text-align: center;
            height: auto;
            color: $success;
        }
    }
}
