.product-box {
    height: 100%;
}

.product-image-wrapper {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer;

    .product-image {
        max-height: 190px;
    }
}

.product-image-link {
    display: block;
}

.product-name {
    display: block;
    height: 50px;
    overflow: hidden;
    margin-bottom: $spacer;
}

.product-price {
    height: 25px;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
}

.product-price-info {
    height: 50px;
}

.product-price-unit {
    height: 25px;
    overflow: hidden;
    margin-bottom: 0;
    font-size: $font-size-sm;
}

.product-description {
    height: 70px;
    overflow: hidden;
    margin-bottom: $spacer-md;
}

.product-btn {
    margin-top: $spacer-sm;
}

.product-badges {
    position: absolute;
    top: $spacer-lg;
    left: -1px;
    z-index: 10;

    .badge {
        position: relative;
        display: block;
        padding: 3px 10px;
        margin: 0 0 5px;
        line-height: inherit;
    }
}
