.cms-element-product-listing .product-listing-top-bar {
    .pagination-nav {
        display: inline-block;
    }

    .sorting {
        display: inline-block;
        float: right;
        width: 260px;
    }
}
