<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_promotion_v2_settings_rule_selection %}
<div class="sw-promotion-v2-settings-rule-selection">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_v2_settings_rule_selection_description %}
    <sw-promotion-v2-wizard-description class="sw-promotion-v2-settings-rule-selection__description">
        {{ $tc('sw-promotion-v2.detail.discounts.settings.ruleSelection.description') }}
    </sw-promotion-v2-wizard-description>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_v2_settings_rule_selection_selection %}
    <sw-promotion-v2-rule-select
        v-model="discount.discountRules"
        :criteria="ruleCriteria"
        :rule-scope="['cart']"
        local-mode
        :label="$tc('sw-promotion-v2.detail.discounts.settings.ruleSelection.labelSelection')"
        :placeholder="$tc('sw-promotion-v2.detail.discounts.settings.ruleSelection.placeholderSelection')"
        :disabled="!acl.can('promotion.editor')"
    />
    {% endblock %}

</div>
{% endblock %}
