/*
Footer
==================================================
Contains custom skin styles for the footer located at the bottom of the page.
*/

.footer-main {
    border-top: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-border-color), $border-color);
}

.footer-column {
    border-bottom: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-border-color), $border-color);
}

.footer-column-headline {
    color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
    font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-lg), $font-size-lg);
    font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
}

.footer-link {
    color: if(feature('EXPERIENCE_THEME'), var(--sw-color-base-content), $body-color);

    &:hover {
        color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
    }
}

.footer-contact-hotline a {
    @extend .footer-link;
    display: block;
    margin: $spacer 0 $spacer-sm;
    font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-lg), $font-size-lg);
    font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
}

.footer-bottom {
    background: if(feature('EXPERIENCE_THEME'), var(--sw-color-base-100), $gray-100);
}

.footer-service-menu-item {
    padding-right: $spacer;
    font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);

    &:last-child {
        padding-right: 0;
    }
}

.footer-service-menu-link {
    color: inherit;
}

@include media-breakpoint-up(md) {
    .footer-column {
        border: 0;
    }

    .footer-link-item {
        padding: 2px 0;
    }
}
