/*
Footer
==================================================
Contains custom skin styles for the footer located at the bottom of the page.
*/

.footer-main {
    border-top: 1px solid $border-color;
}

.footer-column {
    border-bottom: 1px solid $border-color;
}

.footer-column-headline {
    color: $primary;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
}

.footer-link {
    color: $body-color;

    &:hover {
        color: $primary;
        text-decoration: none;
    }
}

.footer-contact-hotline a {
    @extend .footer-link;
    display: block;
    margin: $spacer 0 $spacer-sm;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
}

.footer-bottom {
    background: $gray-100;
}

.footer-service-menu-item {
    padding-right: $spacer;
    font-weight: $font-weight-bold;

    &:last-child {
        padding-right: 0;
    }
}

.footer-service-menu-link {
    color: inherit;
}

@include media-breakpoint-up(md) {
    .footer-column {
        border: 0;
    }

    .footer-link-item {
        padding: 2px 0;
    }
}
