/*
Header
==================================================
Contains custom skin styles for the header at the top of the page.
The header contains the shop logo, the search form and various actions like the offcanvas cart button.
*/

.header-search-btn {
    background: $input-bg;
    border: $input-border-width solid $input-border-color;
    border-left: 0;

    &:hover {
        border-color: $input-border-color;

        .icon {
            color: $primary;
        }
    }

    &:focus {
        box-shadow: none;
    }

    &.btn:disabled {
        background: $input-bg;
        border-color: $border-color;
        display: flex;
        align-items: center;
    }
}

.header-search-input {
    border-right: 0;

    &:focus {
        &,
        ~ .header-search-btn {
            border-color: $primary;
        }
    }
}

.header-actions-btn {
    &,
    &:active,
    &:hover {
        background: none;
        border: 0 none;
    }

    &:hover {
        &,
        .icon {
            color: $primary;
        }
    }

    &:focus {
        box-shadow: none;
    }
}

.header-cart-total {
    color: $primary;
    font-size: $font-size-lg;
}

@include media-breakpoint-up(sm) {
    .header-cart-badge {
        display: none;
    }
}
