/*
Main navigation
==============================================
Custom styling for main navigation on larger screens.

Active styling is handled by views/storefront/layout/navigation/active-styling.html.twig

Based on bootstrap nav:
https://getbootstrap.com/docs/5.2/components/navs-tabs
*/

@include media-breakpoint-up(md) {
    .main-navigation-menu {
        --#{$prefix}navbar-color: #{$body-color};
        --#{$prefix}navbar-nav-link-padding-x: 0;

        .nav-item:not(:last-child) {
            padding-right: 1rem;
        }
    }

    .main-navigation-link-text {
        border-bottom: 2px solid transparent;
        padding-bottom: 3px;
    }
}
