/*
Navigation flyout
==============================================
Custom skin styling for navigation flyout which opens on hover over the main navigation.
*/

.navigation-flyout-categories {
    &:not(.is-level-0) {
        margin-left: 20px;
    }

    &.is-level-0 {
        > .navigation-flyout-col {
            margin-bottom: 30px;
            position: relative;

            &::before {
                border-left: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-border-color), $border-color);
                content: '';
                height: 100%;
                left: 15px;
                position: absolute;
                top: 0;
            }

            &.col-3:nth-child(4n + 1),
            &.col-4:nth-child(3n + 1) {
                border-left: 0;
            }
        }
    }
}

.navigation-flyout-link {
    @include transition(padding 0.25s cubic-bezier(0, 0.77, 0.33, 1));
    color: if(feature('EXPERIENCE_THEME'), var(--sw-color-base-content), $body-color);
    font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-base), $font-size-base);
    margin: 0 $spacer;
    padding: $spacer-xs 0;

    &.is-level-0 {
        font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    }

    &.is-level-2 {
        font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-base), $font-size-base);
        padding: $spacer-xs / 2 0;
    }

    &:hover {
        color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
        padding-left: 5px;
    }

    &.active {
        color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
        font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    }
}

.navigation-flyout-bar {
    align-items: center;
    padding: 20px 0;
}

.navigation-flyout-category-link {
    font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-base), $font-size-base);
}
