/*
Navigation offcanvas
==============================================
Custom skin styling for navigation offcanvas which replaces main navigation on smaller screens.
Based on custom offcanvas component.
*/

.navigation-offcanvas-headline {
    font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    color: if(feature('EXPERIENCE_THEME'), var(--sw-color-secondary), $secondary);

    &:focus-visible {
        box-shadow: if(feature('EXPERIENCE_THEME'), var(--sw-focus-ring-box-shadow-inset), $focus-ring-box-shadow-inset);
    }
}

.navigation-offcanvas-list-item {
    background-color: if(feature('EXPERIENCE_THEME'), var(--sw-color-base), $white);
    border-top: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-color-base-300), $gray-300);

    &:last-child {
        border-bottom: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-color-base-300), $gray-300);
    }
}

.navigation-offcanvas-link {
    color: if(feature('EXPERIENCE_THEME'), var(--sw-color-base-content), $body-color);

    &:focus-visible {
        box-shadow: if(feature('EXPERIENCE_THEME'), var(--sw-focus-ring-box-shadow-inset), $focus-ring-box-shadow-inset);
    }

    &.is-home-link {
        &,
        .icon {
            color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
        }
    }

    &.is-back-link {
        border-top: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-color-base-300), $gray-300);
        font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
        color: if(feature('EXPERIENCE_THEME'), var(--sw-color-secondary), $secondary);
    }

    &.is-current-category {
        color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
        font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    }
}
