/*
Search suggest
==================================================
Contains custom skin styles for the search suggest popover in the shop header.
*/

.search-suggest-product {
    border-bottom: 1px solid $border-color;

    &:last-child {
        border-bottom: 0;
    }
}

.search-suggest-product-link {
    color: $body-color;

    &:hover {
        color: $primary;
    }
}
