/*
Top bar
==================================================
Contains skin styles for the top bar located at the top of the page.
The top bar contains e.g. the language switcher, the currency switcher and the service menu.
*/

.top-bar-nav-btn.btn {
    --#{$prefix}btn-focus-box-shadow: #{$input-btn-focus-box-shadow};
    --#{$prefix}btn-color: #{$body-color};
    --#{$prefix}btn-font-weight: #{$font-weight-normal};
    --#{$prefix}btn-border-width: 0;
    --#{$prefix}btn-border-color: transparent;
    --#{$prefix}btn-padding-x: 0;
    --#{$prefix}btn-padding-y: 0;

    &:hover {
        &,
        .icon {
            color: $primary;
        }
    }
}

.dropdown.show {
    .top-bar-nav-btn {
        &,
        .icon {
            color: $primary;
        }
    }
}

.top-bar-list-item {
    color: $body-color;

    &.is-checked {
        color: $primary;
    }

    &:hover {
        color: $primary;
        background: transparent;
        text-decoration: none;

        .top-bar-list-label {
            cursor: pointer;
        }
    }
}
