<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_first_run_wizard_store %}
<div class="sw-first-run-wizard-store">
    <template v-if="loadStatus">
        <sw-loader />

        <p class="message">
            {{ $tc('sw-first-run-wizard.store.loadStatusCollect') }}
            <br>
            {{ $tc('sw-first-run-wizard.store.takeMinutes') }}
        </p>
    </template>

    <template v-else-if="extensionStatus && extensionStatus.active">
        <sw-label
            class="sw-first-run-wizard-store__label"
            appearance="pill"
            variant="success"
        >
            <sw-icon
                name="regular-check-circle"
                size="30px"
            />
        </sw-label>

        <h2>
            {{ $tc('sw-first-run-wizard.store.alreadyActivated') }}
        </h2>
    </template>

    <template v-else-if="isActivating">
        <sw-loader />

        <p class="message">
            {{ $tc('sw-first-run-wizard.store.enablingStore') }}
            <br>
            {{ $tc('sw-first-run-wizard.store.takeMinutes') }}
        </p>
    </template>

    <template v-else-if="activationError">
        <sw-label
            class="sw-first-run-wizard-store__label"
            appearance="pill"
            variant="danger"
        >
            <sw-icon
                name="regular-times-circle"
                size="30px"
            />
        </sw-label>

        <h2>
            {{ error && error.title || $tc('sw-first-run-wizard.store.activationErrorTitle') }}
        </h2>
        <p>
            {{ error && error.detail || $tc('sw-first-run-wizard.store.activationErrorDescription') }}
        </p>
    </template>

    <template v-else>
        <img
            :src="assetFilter('/administration/static/img/extension-store/store_illustration.svg')"
            alt=""
        >

        <h2 class="sw-first-run-wizard-store__heading">
            {{ $tc('sw-first-run-wizard.store.headingOne') }}
            <br>
            {{ $tc('sw-first-run-wizard.store.headingTwo') }}
        </h2>

        <p>
            {{ $tc('sw-first-run-wizard.store.description') }}
        </p>
    </template>
</div>
{% endblock %}
