@import "~scss/variables";

.sw-first-run-wizard-store {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    align-self: center;
    max-width: 600px;

    img {
        margin-bottom: 24px;
    }

    .sw-first-run-wizard-store__heading {
        font-size: $font-size-m;
        font-weight: $font-weight-semi-bold;
    }

    p {
        padding-bottom: 24px;
    }

    .sw-first-run-wizard-store__label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        margin-bottom: 24px;
    }

    .sw-loader {
        position: unset;
        background: unset;
        margin-bottom: 12px;
    }
}
