.sw-extension-file-upload {
    .sw-extension-file-upload__file-input {
        display: none;
    }
}

.sw-modal {
    &.sw-extension-file-upload-confirm-modal {
        .sw-modal__footer {
            justify-content: space-between;
            grid-auto-columns: inherit;

            .sw-field--checkbox {
                margin-bottom: 0;
            }
        }
    }
}
