{% block sw_extension_file_upload %}
<div class="sw-extension-file-upload">
    {% block sw_extension_file_upload_content %}
    <div class="sw-extension-file-upload__content">
        {% block sw_extension_file_upload_button %}
        <sw-button
            class="sw-extension-file-upload__button"
            :is-loading="isLoading"
            variant="primary"
            @click="onClickUpload"
        >
            {{ $tc('sw-extension.my-extensions.fileUpload.buttonFileUpload') }}
        </sw-button>
        {% endblock %}
        {% block sw_extension_file_upload_form %}
        <form
            ref="fileForm"
            class="sw-extension-file-upload__form"
        >
            <input
                id="files"
                ref="fileInput"
                class="sw-extension-file-upload__file-input"
                type="file"
                @change="onFileInputChange"
            >
        </form>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
