@import "~scss/variables";

.sw-customer-detail__customer-registration-alert {
    max-width: $content-width;
    margin: 0 auto;

    .sw-alert__message {
        display: flex;
        align-items: center;
    }

    .sw-alert .sw-alert__icon {
        top: 50%;
        transform: translateY(-50%);
    }
}

.sw-customer-detail__customer-registration-alert-actions {
    margin-left: auto;

    .sw-button:not(:last-child) {
        margin-right: 8px;
    }
}

.sw-customer-detail {
    .smart-bar__header {
        display: flex;
        align-items: center;
    }

    .smart-bar__actions {
        span {
            display: flex;
        }

        .sw-tooltip--wrapper {
            margin-left: 8px;
        }
    }

    &__created-by-admin-label {
        margin-left: 10px;
        text-align: center;
    }
}
