{% block sw_cms_element_category_navigation %}
<div class="sw-cms-el-category-navigation">
    <div class="sw-cms-el-category-navigation__content">
        <h2>{{ $tc('sw-cms.elements.sidebarCategoryNavigation.component.label.navigation') }}</h2>
        <hr>
        <div class="sw-cms-el-category-placeholder-listing">
            <div class="sw-cms-el-category-navigation__placeholder" />
            <div class="sw-cms-el-category-navigation__placeholder--subcategory" />
            <div class="sw-cms-el-category-navigation__placeholder--subcategory" />
            <div class="sw-cms-el-category-navigation__placeholder--subcategory" />
            <div class="sw-cms-el-category-navigation__placeholder--subcategory" />
            <hr>
            <div class="sw-cms-el-category-navigation__placeholder" />
            <hr>
            <div class="sw-cms-el-category-navigation__placeholder" />
        </div>
    </div>
</div>
{% endblock %}
