<sw-modal :title="$tc('sw-plugin.store-login.headline')" variant="small">
    <form @submit.prevent="onLoginClick()">
        <sw-text-field v-model="shopwareId" :label="$tc('sw-plugin.store-login.labelShopwareId')"></sw-text-field>
        <sw-password-field v-model="password" :label="$tc('sw-plugin.store-login.labelPassword')"></sw-password-field>

        <sw-button variant="primary" type="submit">{{ $tc('sw-plugin.store-login.buttonLogin') }}</sw-button>
    </form>
</sw-modal>
