{% block sw_shopware_updates_info %}
    <sw-card :title="$t('sw-settings-shopware-updates.cards.info')" :isLoading="isLoading">
        {% block sw_shopware_updates_info_content %}
            <div v-html="changelog"></div>
        {% endblock %}
    </sw-card>
{% endblock %}
