<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_category_seo_form %}
<div class="sw-category-seo-form">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_seo_form_meta_title %}
    <sw-text-field
        v-model:value="category.metaTitle"
        maxlength="255"
        :disabled="!acl.can('category.editor')"
        :label="$tc('sw-category.base.seo.labelMetaTitle')"
        :help-text="$tc('sw-landing-page.base.seo.helpTextMetaTitle')"
        :placeholder="$tc('sw-category.base.seo.placeholderMetaTitle')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_seo_form_meta_description %}
    <sw-textarea-field
        v-model:value="category.metaDescription"
        maxlength="255"
        :disabled="!acl.can('category.editor')"
        :label="$tc('sw-category.base.seo.labelMetaDescription')"
        :help-text="$tc('sw-landing-page.base.seo.helpTextMetaDescription')"
        :placeholder="$tc('sw-category.base.seo.placeholderMetaDescription')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_seo_form_keywords %}
    <sw-text-field
        v-model:value="category.keywords"
        :disabled="!acl.can('category.editor')"
        :label="$tc('sw-category.base.seo.labelKeywords')"
        :placeholder="$tc('sw-category.base.seo.placeholderKeywords')"
    />
    {% endblock %}
</div>
{% endblock %}
