.account-sidebar {
    margin-bottom: $spacer-lg;
}

.account-sidebar-footer .btn {
    padding: 0;
}

.account-welcome {
    margin-bottom: $spacer-lg;
}

.account-card {
    margin-bottom: $spacer-lg;

    .card-body {
        display: flex;
        flex-direction: column;
    }
}

.account-card-actions {
    align-items: flex-start;
    margin-top: auto;
}

@include media-breakpoint-up(md) {
    .account-sidebar {
        margin-bottom: 0;
    }
}
