.account-register {
    padding: $spacer-sm 0;
}

.login-card {
    margin-bottom: $spacer;
}

.register-advantages {
    display: none;
}

.register-advantages-header {
    font-size: $h5-font-size;
}

.register-personal {
    margin-bottom: $spacer-xl;
}

.register-address {
    margin-bottom: $spacer-xl;
}

.register-required-info {
    margin-bottom: $spacer;
}

@include media-breakpoint-up(lg) {
    .account-register {
        padding: $spacer-xl 0;
    }

    .register-advantages {
        display: block;
    }
}
