{% block sw_condition_group %}
    <div class="sw-condition-group">
        {% block sw_condition_group_field_condition %}
            <div class="sw-condition-group__container field--condition">
                {% block sw_condition_group_field_condition_select %}
                    <select name="name"
                            class="sw-condition-group__field"
                            ref="conditionTypeSelect"
                            @change="handleConditionChange">
                        {% block sw_condition_group_field_condition_select_option %}
                            <option v-for="(innerCondition, innerConditionType) in ruleConditionService.getConditions()"
                                    :selected="innerConditionType === condition.type"
                                    :value="innerConditionType">
                                {{ $tc(innerCondition.label) }}
                            </option>
                        {% endblock %}
                    </select>
                {% endblock %}
            </div>
        {% endblock %}

        <div class="sw-condition-group__container"
             v-for="(field, fieldName) in conditionFields"
             :class="'field--' + fieldName">

            {% block sw_condition_group_field_condition_type_multi_select %}
                <sw-condition-value multi :id="fieldName"
                           :store="getStore(field.store)" class="sw-condition-group__field is--secondary"
                           v-if="field.type === 'multiselect' && field.mode === 'store'"
                           v-model="condition.value[fieldName]">
                </sw-condition-value>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_single_select %}
                <sw-select :id="fieldName" :store="getStore(field.store)"
                           class="sw-condition-group__field is--secondary"
                           v-else-if="field.type === 'select' && field.mode === 'store'"
                           v-model="condition.value[fieldName]">
                </sw-select>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_single_value_select %}
                <sw-field type="select"
                          :name="fieldName"

                          v-model="condition.value[fieldName]"
                          v-else-if="field.type === 'select' && field.mode === 'static'">
                    <template slot="options">
                        <template v-if="field.values">
                            <option v-for="(option, identifier) in field.values" :value="option.identifier ? option.identifier : identifier">
                                {{ $tc(option.label) }}
                            </option>
                        </template>
                    </template>
                </sw-field>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_datetime %}
                <sw-field type="datetime" :name="fieldName" v-model="condition.value[fieldName]"
                          v-else-if="field.type === 'datetime'">
                </sw-field>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_decimal %}
                <sw-field type="number" step="0.01" v-model="condition.value[fieldName]"
                          v-else-if="field.type === 'decimal'">
                </sw-field>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_int %}
                <sw-field type="number" step="1" v-model="condition.value[fieldName]" v-else-if="field.type === 'int'">
                </sw-field>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_text %}
                <sw-field type="text" v-else-if="field.type === 'text'" v-model="condition.value[fieldName]"></sw-field>
            {% endblock %}

            {% block sw_condition_group_field_condition_type_multi_other %}
                <sw-field type="text" v-else v-model="condition.value[fieldName]"></sw-field>
            {% endblock %}
        </div>

        {% block sw_condition_group_field_actions %}
            <div class="sw-condition-group__container field--actions">
                ...
            </div>
        {% endblock %}
    </div>
{% endblock %}