<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_step_item %}
<div
    class="sw-step-item"
    :class="modifierClasses"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_step_item_bubble %}
    <div class="sw-step-item__bubble">
        <sw-icon
            class="sw-step-item__icon"
            :name="icon"
            size="12px"
            small
        />
    </div>
    {% endblock %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_step_item_description %}
    <span class="sw-step-item__description">
        <slot></slot>
    </span>
    {% endblock %}
</div>
{% endblock %}
