{% block sw_plugin_store_login_modal %}
    <sw-modal class="sw-plugin-store-login" @modal-close="onCloseModal()" :showHeader="false">
        {% block sw_plugin_store_login_modal_close %}
            <div class="sw-plugin-store-login__close-button-container">
                {% block sw_plugin_store_login_modal_close_button %}
                    <button class="sw-modal__close"
                            :title="$tc('global.sw-modal.labelClose')"
                            :aria-label="$tc('global.sw-modal.labelClose')"
                            @click.prevent="onCloseModal()">
                        {% block sw_plugin_store_login_modal_close_icon %}
                            <sw-icon name="small-default-x-line-medium" small></sw-icon>
                        {% endblock %}
                    </button>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_plugin_store_login_modal_content %}
            <div class="sw-plugin-store-login__content">
                {% block sw_plugin_store_login_modal_content_illustration %}
                    <div class="sw-plugin-store-login__illustration">
                        {% block sw_plugin_store_login_modal_content_illustration_image %}
                            <img :src="'/administration/static/img/plugin-manager--login.png' | asset" alt="Shopware Account Login">
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block sw_plugin_store_login_modal_content_login_form %}
                    <div class="sw-plugin-store-login__form">
                        {% block sw_plugin_store_login_modal_content_login_form_information %}
                            <div class="sw-plugin-store-login__information">
                                <h3>{{ $tc('sw-plugin.store-login.headline') }}</h3>
                                <p class="information-text">{{ $tc('sw-plugin.store-login.information') }}</p>
                            </div>
                        {% endblock %}
                        {% block sw_plugin_store_login_modal_content_login_form_input %}
                            <form role="form">
                                {% block sw_plugin_store_login_modal_content_login_form_input_shopwareId %}
                                    <sw-text-field
                                        v-model="shopwareId"
                                        :label="$tc('sw-plugin.store-login.labelEmailAddress')"
                                        :placeholder="$tc('sw-plugin.store-login.placeholderEmailAddress')"
                                        @keyup.enter="onLoginClick">

                                        {% block sw_plugin_store_login_modal_content_login_form_input_shopwareId_label %}
                                            <template label>
                                                <div class="shopware-id-label">
                                                    <span>{{ $tc('sw-plugin.store-login.labelShopwareId') }}</span>
                                                </div>
                                            </template>
                                        {% endblock %}
                                    </sw-text-field>
                                {% endblock %}
                                {% block sw_plugin_store_login_modal_content_login_form_input_password %}
                                    <sw-password-field v-model="password"
                                                       :label="$tc('sw-plugin.store-login.labelPassword')"
                                                       :placeholder="$tc('sw-plugin.store-login.placeholderPassword')"
                                                       @keyup.enter="onLoginClick">
                                    </sw-password-field>
                                {% endblock %}
                            </form>
                        {% endblock %}
                        {% block sw_plugin_store_login_modal_content_login_form_forgot_password %}
                            <div class="forgot-password">
                                {% block sw_plugin_store_login_modal_content_login_form_forgot_password_link %}
                                    <a :href="$tc('sw-plugin.store-login.forgotPasswordUrl')"
                                       target="_blank"
                                       rel="noopener">
                                        {{ $tc('sw-plugin.store-login.forgotPassword') }}
                                    </a>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_plugin_store_login_modal_footer %}
            <template #modal-footer>
                <div class="sw-plugin-store-login__footer">
                    {% block sw_plugin_store_login_modal_footer_information %}
                        <div class="footer-information">
                            <span>{{ $tc('sw-plugin.store-login.footerNoAccount') }}</span>
                            <a class="new-account-link"
                               :href="$tc('sw-plugin.store-login.registerAccountUrl')"
                               target="_blank"
                               rel="noopener">
                                {{ $tc('sw-plugin.store-login.footerRegisterAccount') }}
                            </a>
                        </div>
                    {% endblock %}
                    {% block sw_plugin_store_login_modal_footer_actions %}
                        <div class="footer-button-container">
                            {% block sw_plugin_store_login_modal_footer_actions_cancel %}
                                <sw-button class="cancel-button" size="small" @click="onCloseModal">
                                    {{ $tc('sw-plugin.store-login.buttonCancel') }}
                                </sw-button>
                            {% endblock %}
                            {% block sw_plugin_store_login_modal_footer_actions_login %}
                                <sw-button variant="primary" type="submit" size="small" @click="onLoginClick">
                                    {{ $tc('sw-plugin.store-login.buttonLogin') }}
                                </sw-button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
