.sw-promotion-discount-component {

    p {
        margin-bottom: 30px;
    }

    .sw-promotion-discount-component__select-discount-rules {
        margin-bottom: 20px;
    }

    .sw-card__quick-link.advanced-prices {
        cursor: pointer;
    }

}

.sw-promotion-discount-form__advanced-prices-modal.sw-modal .sw-modal__body {
    padding: 0;

    .sw-data-grid .sw-data-grid__header .sw-data-grid__cell-label {
        white-space: normal;
        overflow: visible;
        text-overflow: initial;
    }

    .sw-data-grid__cell-content .sw-field input {
        margin: 3px;
        padding: 2px;
    }

    .sw-field__addition {
        padding: 5px 20px;
    }
}
