{% block sw_password_field %}
    {% block sw_text_field %}
        <sw-contextual-field class="sw-field--password" v-bind="$attrs" :name="formFieldName">
            <template #sw-field-input="{ identification, disabled, size, setFocusClass, removeFocusClass }">
                <div class="sw-field--password__container">
                    <input :type="showPassword ? 'text' : 'password'"
                           :id="identification"
                           :name="identification"
                           :placeholder="passwordPlaceholder"
                           :disabled="disabled"
                           :value="currentValue"
                           :autocomplete="autocomplete"
                           @input="onInput"
                           @change="onChange"
                           @focus="setFocusClass"
                           @blur="removeFocusClass"
                           v-on="additionalListeners">
                    <span v-if="passwordToggleAble" @click="onTogglePasswordVisibility(disabled)"
                        :title="showPassword ? $tc('global.sw-field.titleHidePassword') : $tc('global.sw-field.titleShowPassword')"
                        class="sw-field__toggle-password-visibility">
                        <sw-icon v-if="showPassword" name="default-eye-crossed" small></sw-icon>

                        <sw-icon v-else name="default-eye-open" small></sw-icon>
                    </span>
                </div>
            </template>

            <template v-if="copyable" #sw-contextual-field-suffix="{ identification }">
                <sw-field-copyable
                    v-if="copyable"
                    :displayName="identification"
                    :copyableText="currentValue"
                    :tooltip="copyableTooltip">
                </sw-field-copyable>
            </template>
        </sw-contextual-field>
    {% endblock %}
{% endblock %}
