{% block sw_password_field %}
{% block sw_text_field %}
<sw-contextual-field
    class="sw-field--password"
    v-bind="$attrs"
    :name="formFieldName"
    @inheritance-restore="$emit('inheritance-restore', $event)"
    @inheritance-remove="$emit('inheritance-remove', $event)"
>
    <template #sw-field-input="{ identification, disabled, size, setFocusClass, removeFocusClass }">
        <div class="sw-field--password__container">
            <input
                :id="identification"
                :type="showPassword ? 'text' : 'password'"
                :name="identification"
                :placeholder="passwordPlaceholder"
                :disabled="disabled"
                :value="currentValue"
                :autocomplete="autocomplete"
                @input="onInput"
                @change="onChange"
                @focus="setFocusClass"
                @blur="removeFocusClass"
                v-on="additionalListeners"
            >
            <span
                v-if="passwordToggleAble"
                :title="showPassword ? $tc('global.sw-field.titleHidePassword') : $tc('global.sw-field.titleShowPassword')"
                class="sw-field__toggle-password-visibility"
                @click="onTogglePasswordVisibility(disabled)"
            >
                <sw-icon
                    v-if="showPassword"
                    name="default-eye-crossed"
                    small
                />

                <sw-icon
                    v-else
                    name="default-eye-open"
                    small
                />
            </span>
        </div>
    </template>

    <template
        v-if="copyable"
        #sw-contextual-field-suffix="{ identification }"
    >
        <sw-field-copyable
            v-if="copyable"
            :display-name="identification"
            :copyable-text="currentValue"
            :tooltip="copyableTooltip"
        />
    </template>

    <template #label>
        <slot name="label"></slot>
    </template>
</sw-contextual-field>
    {% endblock %}
{% endblock %}
