<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_list_price_field %}
<div
    :class="{
        'sw-list-price-field': true,
        'sw-list-price-field__vertical': vertical
    }"
>

    <div class="sw-list-price-field__price">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_list_price_field_price %}
        <sw-price-field
            class="sw-list-price-field__price-field"
            :price="price"
            required
            :compact="compact"
            :disable-suffix="disableSuffix"
            :default-price="defaultPrice"
            :tax-rate="taxRate"
            :error="error"
            :disabled="disabled"
            :enable-inheritance="enableInheritance"
            :label="label"
            :currency="currency"
        />
        {% endblock %}
    </div>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_price_form_purchase_price_field %}
    <div
        v-if="!hidePurchasePrices && showSettingPrice"
        class="sw-list-price-field__purchase-price"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_price_form_purchase_price_field_content %}
        <sw-price-field
            class="sw-purchase-price-field"
            :price="purchasePrices"
            :gross-label="$tc('sw-product.priceForm.labelPurchasePriceGross')"
            :net-label="$tc('sw-product.priceForm.labelPurchasePriceNet')"
            :tax-rate="taxRate"
            :disabled="disabled"
            :currency="currency"
        />
        {% endblock %}
    </div>
    {% endblock %}

    <div class="sw-list-price-field__list-price">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_list_price_field_list_price %}
        <sw-price-field
            v-if="!hideListPrices && showSettingPrice"
            :price="listPrice"
            :default-price="defaultListPrice"
            :tax-rate="taxRate"
            :disabled="disabled"
            allow-empty
            :gross-label="$tc('global.sw-list-price-field.labelListPriceGross')"
            :gross-help-text="listPriceHelpText"
            :net-label="$tc('global.sw-list-price-field.labelListPriceNet')"
            :compact="compact"
            :disable-suffix="disableSuffix"
            :label="label"
            :enable-inheritance="enableInheritance"
            :inherited="isInherited"
            class="sw-list-price-field__list-price-field"
            :currency="currency"
            @change="listPriceChanged"
        />
        {% endblock %}
    </div>

    <div class="sw-list-price-field__regulation-price">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_list_price_field_regulation_price %}
        <sw-price-field
            v-if="!hideRegulationPrices && showSettingPrice"
            :price="regulationPrice"
            :default-price="defaultRegulationPrice"
            :tax-rate="taxRate"
            :disabled="disabled"
            allow-empty
            :gross-label="$tc('global.sw-list-price-field.labelRegulationPriceGross')"
            :gross-help-text="regulationPriceHelpText"
            :net-label="$tc('global.sw-list-price-field.labelRegulationPriceNet')"
            :compact="compact"
            :disable-suffix="disableSuffix"
            :label="label"
            :enable-inheritance="enableInheritance"
            :inherited="isInherited"
            class="sw-list-price-field__regulation-price-field"
            :currency="currency"
            @change="regulationPriceChanged"
        />
        {% endblock %}
    </div>
</div>
{% endblock %}
