{% block sw_plugin_manager %}
    <sw-page class="sw-plugin-manager">
        {% block sw_plugin_manager_search_bar %}
            <template #search-bar>
                <sw-search-bar initialSearchType="plugin_manager"
                               :placeholder="$tc('sw-plugin.general.placeholderSearchBar')"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_plugin_manager_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_plugin_manager_smart_bar_header_title %}
                    <h2>
                        {% block sw_plugin_manager_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }}
                            <sw-icon name="small-arrow-medium-right" small></sw-icon>
                            {{ $tc('sw-plugin.list.textPluginManager') }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_plugin_manager_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block sw_plugin_list_top_actions_upload %}
                    <sw-plugin-file-upload @upload-success="reloadPluginListing"></sw-plugin-file-upload>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_plugin_manager_content %}
            <template #content>
                <sw-card-view>
                    {% block sw_plugin_manager_content_sidebar %}
                        <div class="plugin-manager-sidebar">
                            {% block sw_plugin_manager_content_sidebar_tabs %}
                                <sw-tabs isVertical small>
                                    {% block sw_plugin_manager_content_sidebar_tabs_list %}
                                        <sw-tabs-item :route="{ name: 'sw.plugin.index.list' }"
                                                      :title="$tc('sw-plugin.general.tabList')"
                                                      variant="minimal">
                                            {{ $tc('sw-plugin.general.tabList') }}
                                        </sw-tabs-item>
                                    {% endblock %}

                                    {% block sw_plugin_manager_content_sidebar_tabs_licenses %}
                                        <sw-tabs-item :route="{ name: 'sw.plugin.index.licenses' }"
                                                      :title="$tc('sw-plugin.general.tabLicenses')"
                                                      variant="minimal">
                                            {{ $tc('sw-plugin.general.tabLicenses') }}
                                        </sw-tabs-item>
                                    {% endblock %}

                                    {% block sw_plugin_manager_content_sidebar_tabs_updates %}
                                        <sw-tabs-item :route="{ name: 'sw.plugin.index.updates' }"
                                                      :title="$tc('sw-plugin.general.tabUpdates')"
                                                      variant="minimal">
                                            {{ $tc('sw-plugin.general.tabUpdates') }}
                                            <template v-if="availableUpdates">({{ availableUpdates }})</template>
                                        </sw-tabs-item>
                                    {% endblock %}

                                    {% block sw_plugin_manager_content_sidebar_tabs_recommendations %}
                                        <sw-tabs-item :route="{name: 'sw.plugin.index.recommendations' }"
                                                      title="recommendations"
                                                      variant="minimal">
                                            {{ $tc('sw-plugin.general.recommendationsLabel') }}
                                        </sw-tabs-item>
                                    {% endblock %}

                                    {% block sw_plugin_manager_content_sidebar_tabs_store_link %}
                                        <sw-tabs-item :href="$tc('sw-plugin.general.storeLink')"
                                                      target="_blank"
                                                      rel="noopener"
                                                      title="Store"
                                                      variant="minimal">
                                            {{ $tc('sw-plugin.general.storeLabel') }}
                                            <sw-icon class="external-icon" name="default-action-external" size="8px"></sw-icon>
                                        </sw-tabs-item>
                                    {% endblock %}
                                </sw-tabs>
                            {% endblock %}

                            {% block sw_plugin_manager_content_sidebar_store_login_status %}
                                <sw-plugin-store-login-status></sw-plugin-store-login-status>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sw_plugin_main_content %}
                        <div class="sw-plugin-manager__main-content">
                            {% block sw_plugin_manger_content_alert %}
                                <sw-alert class="sw-plugin-manager__top-actions" v-if="!storeAvailable && !isLoading" variant="warning">
                                    {{ $tc('sw-plugin.general.storeNotAvailable') }}
                                </sw-alert>
                            {% endblock %}

                            {% block sw_plugin_manager_content_view %}
                                <router-view :searchTerm="searchTerm" :pageLoading="isLoading"></router-view>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
