<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_checkbox_field %}
<div
    class="sw-field--checkbox"
    :class="swCheckboxFieldClasses"
>
    <div
        class="sw-field--checkbox__content"
        :class="swCheckboxFieldContentClasses"
    >
        <div class="sw-field__checkbox">
            <!-- eslint-disable-next-line vuejs-accessibility/form-control-has-label -->
            <input
                :id="identification"
                type="checkbox"
                :name="formFieldName || identification"
                :checked="inputState"
                :disabled="disabled"
                @change="onChange"
            >
            <div class="sw-field__checkbox-state">
                <sw-icon
                    name="regular-checkmark-xxs"
                />
            </div>
        </div>

        <sw-base-field
            v-bind="$attrs"
            :disabled="disabled"
            :is-inheritance-field="isInheritanceField"
            :is-inherited="isInherited"
            :name="identification"
            @inheritance-restore="$emit('inheritance-restore', $event)"
            @inheritance-remove="$emit('inheritance-remove', $event)"
        >

            <template #label>
                <slot name="label"></slot>
            </template>
        </sw-base-field>
    </div>

    <sw-field-error :error="error" />
</div>
{% endblock %}
