.product-detail {
    padding: 0.5rem 0;
}

.product-detail--headline {
    margin-bottom: 1rem;
}

.product-detail--content {
    margin-bottom: 3rem;
}

.product-detail--main {
    margin-bottom: 3rem;
}

.product-detail--gallery {
    margin-bottom: 1rem;
}

.product-detail--buy {
    margin-bottom: 1rem;
}

.product-detail--price-container {
    margin-bottom: 1rem;
}

.product-detail--price {
    @include font-size(28);
    margin-bottom: 1rem;
    font-weight: $font-weight-bold;
}

.product-detail--form-container {
    margin-bottom: 1rem;
}

.product-detail--ordernumber-container {
    margin-bottom: 1rem;
}

@include media-breakpoint-up(lg) {
    .product-detail {
        padding: 3rem 0;
    }
}
