@import "~scss/variables";

$sw-settings-snippets-sidebar-border:       $color-steam-cloud;

.sw-settings-snippet-filter-switch {
  .sw-settings-snippet-filter-switch__field {
    padding-left: 20px;

    &.border-top {
      border-top: 1px solid $sw-settings-snippets-sidebar-border;

      #{$dark-theme-class} & { 
          border-top: 1px solid lighten($sw-settings-snippets-sidebar-border, $dark-theme-contrast-factor);
      }
    }

    &.border-bottom {
      border-bottom: 1px solid $sw-settings-snippets-sidebar-border;

      #{$dark-theme-class} & { 
          border-bottom: 1px solid lighten($sw-settings-snippets-sidebar-border, $dark-theme-contrast-factor);
      }
    }

    &.sw-settings-snippet-filter-switch--small {
      padding-top: 0;
    }

    &.sw-settings-snippet-filter-switch--large {
      padding-top: 30px;
    }
  }
}