{% block sw_order_detail_base %}
    <div class="sw-order-detail-base">
        {% block sw_order_detail_base_leave_page_modal %}
            <sw-order-leave-page-modal v-if="isDisplayingLeavePageWarning"
                @leave-page-cancel = "onLeaveModalClose"
                @leave-page-confirm = "onLeaveModalConfirm">
            </sw-order-leave-page-modal>
        {% endblock %}
        {% block sw_order_detail_base__user_card %}
            <sw-order-user-card v-if="hasAssociations"
                :currentOrder="currentOrder"
                :isLoading = "isLoading"
                :isEditing = "isEditing"
                @order-changed="saveAndReloadVersionedOrder"
                @error="$emit('sw-order-detail-base-error',$event)">
                {% block  sw_order_detail_base_overview_status_change %}
                    <sw-container v-if="next1567 && !isEditing"
                        slot="additional-actions"
                        columns="minmax(min-content, 1fr) minmax(min-content, 1fr) 1fr"
                        gap="0 15px">
                        {% block sw_order_detail_base_status_change_transaction %}
                            <sw-order-state-select :transitionOptions="transactionOptions"
                                roundedStyle
                                @state-selected="onQuickTransactionStatusChange"
                                :placeholder="transactionOptionPlaceholder"
                                :backgroundStyle="transactionOptionsBackground">
                            </sw-order-state-select>
                        {% endblock %}
                        {% block sw_order_detail_base_status_change_order %}
                            <sw-order-state-select :transitionOptions="orderOptions"
                                roundedStyle
                                @state-selected="onQuickOrderStatusChange"
                                :placeholder="orderOptionPlaceholder"
                                :backgroundStyle="orderOptionsBackground">
                            </sw-order-state-select>
                        {% endblock %}
                    </sw-container>
                {% endblock %}
            </sw-order-user-card>
        {% endblock %}
        {% block sw_order_detail_base_line_items_card %}
            <sw-card :title="$tc('sw-order.detailBase.cardTitleLineItems')"
                v-if="hasAssociations"
                :isLoading="isLoading"
                class="sw-order-detail-base__line-item-grid-card">
                {% block sw_order_detail_base_line_items_card_rows %}
                    <sw-container isLoading="isLoading"
                            slot="grid"
                            type="row">
                        {% block sw_order_detail_base_line_items_grid %}
                            <sw-order-line-items-grid :order="currentOrder"
                                :editable="isEditing"
                                ref="sw-order-line-item-grid"
                                @item-deleted="onLineItemsDeleted"
                                @item-edited="onLineItemsEdited">
                            </sw-order-line-items-grid>
                        {% endblock %}
                        {% block sw_order_detail_base_line_items_summary %}
                            <sw-card-section divider="top" secondary slim>
                                <sw-container columns="1fr 440px"
                                              class="sw-order-detail-base__summary">
                                    <sw-description-list columns="265px 1fr"
                                                         class="sw-order-detail-base__summary-data">
                                        {% block sw_order_detail_base_line_items_summary_entries %}
                                            {% block sw_order_detail_base_line_items_summary_amount %}
                                                <dt>{{ $tc('sw-order.detailBase.summaryLabelAmount') }}</dt>
                                                <dd>{{ currentOrder.positionPrice | currency(order.currency.translated.shortName) }}</dd>
                                            {% endblock %}
                                            {% block sw_order_detail_base_line_items_summary_shipping_cost %}
                                                <dt>{{ $tc('sw-order.detailBase.summaryLabelShippingCosts') }}</dt>
                                                <dd>
                                                    <sw-order-saveable-field type="number"
                                                        v-tooltip="{
                                                            showDelay: 300,
                                                            message: shippingCostsDetail,
                                                        }"
                                                        :editable="isEditing"
                                                        :value="currentOrder.deliveries[0].shippingCosts.unitPrice"
                                                        @valueChanged="onShippingChargeEdited">
                                                    </sw-order-saveable-field>
                                                </dd>
                                            {% endblock %}

                                            {% block sw_order_detail_base_line_items_summary_amount_without_tax %}
                                                <dt><strong>{{ $tc('sw-order.detailBase.summaryLabelAmountWithoutTaxes') }}</strong></dt>
                                                <dd><strong>{{ currentOrder.amountNet | currency(order.currency.translated.shortName) }}</strong></dd>
                                            {% endblock %}

                                            {% block sw_order_detail_base_line_items_summary_taxes %}
                                                <template v-for="calculatedTax in sortedCalculatedTaxes">
                                                    <dt>{{ $t('sw-order.detailBase.summaryLabelTaxes', { taxRate: calculatedTax.taxRate }) }}</dt>
                                                    <dd>{{ calculatedTax.tax | currency(order.currency.translated.shortName)}}</dd>
                                                </template>
                                            {% endblock %}

                                            {% block sw_order_detail_base_line_items_summary_slot %}
                                            {% endblock %}

                                            {% block sw_order_detail_base_line_items_summary_amount_total %}
                                                <dt><strong>{{ $tc('sw-order.detailBase.summaryLabelAmountTotal') }}</strong></dt>
                                                <dd><strong>{{ currentOrder.amountTotal | currency(order.currency.shortName) }}</strong></dd>
                                            {% endblock %}
                                        {% endblock %}
                                    </sw-description-list>
                                </sw-container>
                            </sw-card-section>
                        {% endblock %}
                    </sw-container>
                {% endblock %}
            </sw-card>
        {% endblock %}
        {% block sw_order_detail_base_status_card %}
            <sw-order-state-history-card v-if="next1567 && hasAssociations &&!isEditing"
                :title="$tc('sw-order.stateCard.cardTitle')"
                :isLoading="isLoading"
                :order="currentOrder"
                @order-state-changed="loadLiveVersion"
                @state-transition-options-changed="onStateTransitionOptionsChanged"
                ref="state-card">
            </sw-order-state-history-card>
        {% endblock %}
        {% block sw_order_detail_delivery_metadata %}
            <sw-order-delivery-metadata v-if="hasAssociations"
                class="sw-order-delivery-metadata"
                :title="$tc('sw-order.detailDeliveries.cardTitleItems', 0, { count: ' '})"
                :isLoading="isLoading"
                :order="currentOrder"
                :delivery="currentOrder.deliveries[0]">
            </sw-order-delivery-metadata>
        {% endblock %}
        {% block sw_order_detail_base_document_grid %}
            <sw-order-document-card v-if="hasAssociations && !isEditing"
                class="sw-order-detail-base__document-grid"
                :order="currentOrder"
                :isLoading="isLoading">
            </sw-order-document-card>
        {% endblock %}
        {% block sw_order_detail_attribute_sets %}
            <sw-card v-if="next754 && attributeSets.length > 0 && !isEditing"
                :title="$tc('sw-settings-attribute.general.mainMenuItemGeneral')"
                :isLoading="order.isLoading">
                <sw-attribute-set-renderer
                    :disabled="!isEditing"
                    :entity="order"
                    :sets="attributeSets">
                </sw-attribute-set-renderer>
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
