{% block sw_event_action_deprecated_alert  %}
<div
    v-if="showAlert"
    class="sw-event-action-deprecated-alert"
    :class="{ 'is--top': showAtTop}"
>
    <sw-alert
        variant="warning"
        appearance="default"
    >
        {% block sw_event_action_deprecated_alert_business_info  %}
        <span v-html="$tc('sw-event-action.deprecatedAlert.textBusinessEvent')"></span>
        {% endblock %}

        {% block sw_event_action_deprecated_alert_more_info_link  %}
        <a
            :href="$tc('sw-event-action.deprecatedAlert.linkFlowBuilder')"
            target="_blank"
            rel="noopener"
            class="sw-event-action-deprecated-alert__link"
        >
            {{ $tc('sw-event-action.deprecatedAlert.linkMoreInfo') }}
            <sw-icon
                small
                name="default-arrow-simple-right"
            />
        </a>
        {% endblock %}

        {% block sw_event_action_deprecated_alert_close_button  %}
        <button
            v-if="!showAtTop"
            class="sw-event-action-deprecated-alert__close sw-alert__close"
            :aria-label="$tc('sw-event-action.deprecatedAlert.textHide')"
            :title="$tc('sw-event-action.deprecatedAlert.textHide')"
            @click.prevent="dismissModal"
        >
            {{ $tc('sw-event-action.deprecatedAlert.textHide') }}
            <sw-icon
                name="small-default-x-line-medium"
                small
            />
        </button>
        {% endblock %}
    </sw-alert>
</div>
{% endblock %}
