@import "~scss/variables";

.sw-event-action-deprecated-alert {
    width: 720px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;

    .sw-alert__message {
        font-size: $font-size-small;
        color: $color-darkgray-200;
    }

    &__link {
        color: $color-shopware-brand-500;
    }

    &__close.sw-alert__close {
        width: 100px;
        line-height: 22px;
        font-size: $font-size-small;
        margin-top: 3px;
    }
}
