@import "~scss/variables";

.sw-settings-rule-detail-assignments__card-loader {
    .mt-card__content {
        min-height: 250px;
    }
}

.sw-settings-rule-detail-assignments__empty-state {
    .sw-empty-state .sw-empty-state__title {
        font-size: $font-size-s;
        margin-bottom: 0;
    }
}

.sw-settings-rule-detail-assignments {
    .mt-card__toolbar {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0;
    }
}

.sw-data-grid.is--compact.sw-settings-rule-detail-assignments__entity-listing-product .sw-data-grid__body .sw-data-grid__cell-content {
    height: auto;
}
