@import '~scss/variables';

.sw-settings-rule-detail-assignments__card .sw-card__toolbar {
    border-radius: 4px 4px 0 0;
}

.sw-settings-rule-detail-assignments__card-loader {
    .sw-card__content {
        min-height: 250px;
    }
}

.sw-settings-rule-detail-assignments__empty-state {
    .sw-empty-state .sw-empty-state__title {
        font-size: $font-size-default;
        margin-bottom: 0;
    }
}
