# ops
/.github/               @shopware/product-operations
/.gitlab/               @shopware/product-operations

# ctrl-alt-elite
src/Core/System/UsageData/usage-data-allow-list.json @shopware/st-ctrl-alt-elite
