.btn {
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-link {
    --#{$prefix}btn-font-weight: var(--sw-font-weight-semibold);
    --#{$prefix}btn-focus-box-shadow: var(--sw-focus-ring-box-shadow);
}

// Button styling with the appearance of a regular text link
.btn-link-inline {
    --#{$prefix}btn-color: var(--sw-color-primary);
    --#{$prefix}btn-hover-color: var(--sw-color-primary-light);
    --#{$prefix}btn-font-weight: var(--sw-font-weight-normal);
    --#{$prefix}btn-font-size: inherit;
    --#{$prefix}btn-focus-box-shadow: var(--sw-focus-ring-box-shadow);
    --#{$prefix}btn-line-height: var(--sw-line-height-base);
    --#{$prefix}btn-padding-y: 0;
    --#{$prefix}btn-padding-x: 0;
    --#{$prefix}btn-border-width: 0;
    text-decoration: underline;
    vertical-align: baseline;
    text-align: left;
    white-space: normal;

    &:hover {
        text-decoration: underline;
    }
}