<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_card_section %}
<div
    class="sw-card-section"
    :class="cardSectionClasses"
>
    <slot></slot>
</div>
{% endblock %}
