@import "~scss/variables";

$sw-product-price-suffix-font-size: 20px;

.sw-product-price-form {
    &__tax-rate.sw-inherit-wrapper {
        justify-content: flex-start;
    }

    &__currency {
        font-weight: $font-weight-regular;
        font-size: $sw-product-price-suffix-font-size;
    }

    &__links {
        a:first-child {
            margin-top: 0;
        }

        a {
            transition: color 0.3s ease;
            cursor: pointer;
            margin-top: 16px;
        }
    }

    &__price-list:not(.has--parent) {
        .sw-inherit-wrapper__toggle-wrapper {
            margin: 0;
        }
    }
}
