{% block sw_flow_sequence_action %}
<div
    class="sw-flow-sequence-action"
    :class="actionClasses"
>
    {% block sw_flow_sequence_action_card %}
    <div class="sw-flow-sequence-action__card">
        {% block sw_flow_sequence_action_header %}
        <div class="sw-flow-sequence-action__header">
            {% block sw_flow_sequence_action_title %}
            <h3 class="sw-flow-sequence-action__title">
                {{ $tc('sw-flow.detail.sequence.actionTitle') }}
            </h3>
            {% endblock %}

            {% block sw_flow_sequence_action_context_menu %}
            <sw-context-button
                class="sw-flow-sequence-action__context-button"
                :class="actionClasses"
                :disabled="disabled"
            >
                {% block sw_flow_sequence_action_remove_action_container %}
                <sw-context-menu-item
                    variant="danger"
                    class="sw-flow-sequence-action__delete-action-container"
                    @click="removeActionContainer"
                >
                    {{ $tc('sw-flow.detail.sequence.contextButton.deleteActionContainer') }}
                </sw-context-menu-item>
                {% endblock %}
            </sw-context-button>
            {% endblock %}
        </div>
        {% endblock %}

        {% block sw_flow_sequence_action_content %}
        <div class="sw-flow-sequence-action__content">
            {% block sw_flow_sequence_action_actions %}
            <div class="sw-flow-sequence-action__actions">
                {% block sw_flow_sequence_action_actions_empty %}
                <div
                    v-if="sequenceData.length === 1 && !sequence.actionName"
                    class="sw-flow-sequence-action__actions-empty"
                >
                    <sw-icon
                        size="12px"
                        name="small-default-minus-medium"
                    />
                    <span class="sw-flow-sequence-action__no-action">
                        {{ $tc('sw-flow.detail.sequence.noActions') }}
                    </span>
                </div>
                {% endblock %}

                {% block sw_flow_sequence_action_actions_list %}
                <ul
                    v-else
                    class="sw-flow-sequence-action__action-list"
                >
                    {% block sw_flow_sequence_action_actions_item %}
                    <li
                        v-for="item in sequenceData"
                        :key="item.id"
                        class="sw-flow-sequence-action__action-item"
                    >

                        {% block sw_flow_sequence_action_actions_item_header %}
                        <div class="sw-flow-sequence-action__action-header">
                            {% block sw_flow_sequence_action_actions_item_name %}
                            <div class="sw-flow-sequence-action__action-name">
                                <sw-icon
                                    :name="`${item.icon}`"
                                    size="12px"
                                    class="sw-icon-action"
                                />

                                <h3>{{ item.label }}</h3>
                            </div>
                            {% endblock %}

                            {% block sw_flow_sequence_action_actions_item_context_button %}
                            <sw-context-button
                                class="sw-flow-sequence-action__context-button"
                                :disabled="disabled"
                            >
                                {% block sw_flow_sequence_action_actions_item_button_edit %}
                                <sw-context-menu-item
                                    v-if="isNotStopFlow(item)"
                                    class="sw-flow-sequence-action__edit-action"
                                    @click="onEditAction(item)"
                                >
                                    {{ $tc('sw-flow.actions.contextButton.editAction') }}
                                </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_flow_sequence_action_actions_item_button_delete %}
                                <sw-context-menu-item
                                    variant="danger"
                                    class="sw-flow-sequence-action__delete-action"
                                    @click="removeAction(item.id)"
                                >
                                    {{ $tc('sw-flow.actions.contextButton.deleteAction') }}
                                </sw-context-menu-item>
                                {% endblock %}
                            </sw-context-button>
                            {% endblock %}
                        </div>
                        {% endblock %}

                        {% block sw_flow_sequence_action_actions_item_description %}
                        <div
                            class="sw-flow-sequence-action__action-description"
                            v-html="getActionDescription(item)"
                        >
                        </div>
                        {% endblock %}
                    </li>
                    {% endblock %}
                </ul>
                {% endblock %}
            </div>
            {% endblock %}

            {% block sw_flow_sequence_action_add_action %}
            <div
                v-if="showAddAction && !disabled"
                class="sw-flow-sequence-action__add-action"
            >
                {% block sw_flow_sequence_action_add_button %}
                <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
                <a
                    v-if="showAddButton"
                    class="sw-flow-sequence-action__add-button"
                    @click="toggleAddButton"
                >
                    {% block sw_flow_sequence_action_add_icon %}
                    <div class="sw-flow-sequence-action__add-icon">
                        <sw-icon
                            size="10px"
                            color="#fff"
                            name="small-default-plus-line-small"
                        />
                    </div>
                    {% endblock %}

                    <p>{{ $tc('sw-flow.actions.addAction') }}</p>
                </a>
                {% endblock %}

                {% block sw_flow_sequence_action_add_select %}
                <div
                    v-else
                    class="sw-flow-sequence-action__select"
                >
                    <sw-icon
                        size="12px"
                        color="#758ca3"
                        name="small-default-x-circle"
                        @click="toggleAddButton"
                    />

                    <sw-single-select
                        class="sw-flow-sequence-action__selection-action"
                        size="small"
                        value=""
                        :placeholder="$tc('sw-flow.actions.placeholderSelectAction')"
                        :options="actionOptions"
                        :popover-classes="['sw-flow-sequence-action__popover']"
                        :error="fieldError"
                        @change="openDynamicModal"
                    >

                        <template #result-item="{ item, index, labelProperty, highlightSearchTerm, isSelected, setValue, getKey }">
                            <li
                                is="sw-select-result"
                                :selected="isSelected(item)"
                                v-bind="{ item, index }"
                                :class="stopFlowStyle(item.value)"
                                @item-select="setValue"
                            >
                                {% block sw_flow_sequence_action_select_results_list_result_label %}
                                <sw-icon
                                    :name="`${item.icon}`"
                                    size="12px"
                                    class="sw-icon-action"
                                />

                                <sw-highlight-text
                                    v-if="highlightSearchTerm"
                                    :text="getKey(item, labelProperty)"
                                />

                                <template v-else>
                                    {{ getKey(item, labelProperty) }}
                                </template>
                                {% endblock %}
                            </li>
                        </template>
                    </sw-single-select>
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_flow_sequence_action_modal %}
    <sw-flow-sequence-modal
        :sequence="currentSequence"
        :modal-name="modalName"
        @process-finish="onSaveActionSuccess"
        @modal-close="onCloseModal"
    />
    {% endblock %}
</div>
{% endblock %}
