@import "~scss/variables";
@import "~scss/mixins";

.sw-flow-sequence-action {
    &__card {
        margin-right: 32px;
        width: 322px;
        background: $color-white;
        border-radius: 8px;
        border: 1px solid $color-gray-300;
        box-shadow: 0 3px 6px 0 rgba(120, 138, 155, 0.2);
        overflow: hidden;
    }

    &__header {
        display: flex;
        padding: 16px 23px;
        justify-content: space-between;
        max-height: 55px;
        border-bottom: 1px solid $color-gray-300;
    }

    &__title {
        font-size: $font-size-default;
        font-weight: $font-weight-semi-bold;
    }

    &__actions {
        min-height: 52px;
    }

    &__actions-empty {
        @include flex-centering-vertical;

        padding: 16px 23px;

        .sw-icon {
            color: $color-gray-500;
        }
    }

    &__no-action {
        color: $color-gray-400;
        font-size: 15px;
        font-weight: $font-weight-semi-bold;
        margin-left: 8px;
    }

    &__action-list {
        list-style-type: none;
    }

    &__action-item {
        padding: 12px 24px;

        &:not(:last-child) {
            border-bottom: 1px solid $color-gray-300;
        }

        &:only-child {
            border: none;
        }
    }

    &__action-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
    }

    &__action-name {
        @include flex-centering-vertical;

        h3 {
            font-size: 15px;
            font-weight: $font-weight-semi-bold;
            color: $color-darkgray-200;
            margin-left: 8px;
            margin-bottom: 0;
        }

        &.is--stop-flow {
            h3 {
                color: $color-crimson-500;
            }
        }
    }

    &__action-description {
        font-size: $font-size-small;
        margin-left: 20px;
    }

    &__context-button {
        &.is--stop-flow {
            .sw-context-button__button:hover,
            .sw-context-button__button:focus {
                border-color: $color-crimson-200;
            }

            .sw-icon {
                color: $color-crimson-500;
            }
        }
    }

    &.is--stop-flow {
        .sw-flow-sequence-action__card {
            border-color: $color-crimson-300;
        }

        .sw-flow-sequence-action__header {
            background: $color-crimson-50;
            border-bottom: 1px solid $color-crimson-300;
        }

        .sw-flow-sequence-action__title {
            color: $color-crimson-500;
        }

        .sw-flow-sequence-action__action-item:last-child {
            color: $color-crimson-500;

            .sw-flow-sequence-action__action-name h3 {
                color: $color-crimson-500;
            }

            .sw-flow-sequence-action__context-button {
                .sw-context-button__button:hover,
                .sw-context-button__button:focus {
                    border-color: $color-crimson-200;
                }

                .sw-icon {
                    color: $color-crimson-500;
                }
            }
        }
    }

    &__add-action {
        border-top: 1px solid $color-gray-300;
        height: 56px;
        display: flex;
    }

    &__add-button {
        @include flex-centering-vertical;

        padding-left: 24px;
        cursor: pointer;

        p {
            color: $color-shopware-brand-500;
            text-decoration: underline;
            font-size: $font-size-small;
        }
    }

    &__add-icon {
        @include circle(12px);
        @include flex-centering;

        background: $color-shopware-brand-500;
        color: $color-white;
        margin-right: 9px;
    }

    &__select {
        @include flex-centering-vertical;

        justify-content: start;
        padding: 0 24px;
        margin-bottom: 0;
        width: 100%;

        .icon--small-default-x-circle {
            cursor: pointer;
        }
    }

    &__selection-action {
        margin-left: 9px;
    }

    &__popover {
        .sw-select-result__result-item-text {
            flex-direction: row !important;
            align-items: center;
            font-size: $font-size-small;
        }

        .sw-select-result .sw-icon-action {
            margin-left: 0;
            margin-right: 10px;
        }

        .sw-select-result-list__content {
            padding: 8px 0 !important;
        }

        .sw-select-result {
            margin: 0 5px;
            padding: 5px 16px;

            .sw-select-result__result-item-text,
            .sw-icon {
                color: $color-gray-900;
            }

            &.is--stop-flow {
                .sw-select-result__result-item-text,
                .sw-icon {
                    color: $color-crimson-500;
                }
            }
        }
    }

    &__tags-description {
        span {
            text-transform: capitalize;
        }
    }
}
