@mixin sw-label-variant($color-background, $color-text, $color-border) {
    background-color: $color-background;
    border-color: transparent;
    color: $color-text;

    &.sw-label--small::before {
        background: $color-border;
    }

    .sw-label__dismiss {
        color: $color-text;
    }

    &.sw-label--ghost {
        background: transparent;
        border-color: $color-border;
    }
}
