<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_shortcut_overview_item %}
<div
    v-if="showItem"
    class="sw-shortcut-overview-item"
>
    <kbd
        v-for="key in keys"
        :key="key"
    >
        <span>{{ key }}</span>
    </kbd>
    <span class="sw-shortcut-overview-item__title">{{ title }}</span>
</div>
{% endblock %}
