{% block sw_media_upload_button %}
    <div class="sw-media-upload-button">
        <sw-context-button v-if="variant == 'compact'">
            <template slot="button">
                {% block sw_media_upload_button %}
                    <sw-button variant="primary" class="sw-media-upload-button__context-button">
                        {{ $tc('global.sw-media-upload-button.buttonUpload') }}
                        <sw-icon name="small-arrow-small-down" decorative></sw-icon>
                    </sw-button>
                {% endblock %}
            </template>

            {% block sw_media_upload_context_item_file_upload %}
                <sw-context-menu-item class="sw-media-upload-button__button-file" @click="onClickUpload">
                    {{ $tc('global.sw-media-upload-button.buttonFileUpload') }}
                </sw-context-menu-item>
            {% endblock %}

            {% block sw_media_upload_context_item_url_upload %}
                <sw-context-menu-item class="sw-media-upload-button__button-url" @click="openUrlModal">
                    {{ $tc('global.sw-media-upload-button.buttonUrlUpload') }}
                </sw-context-menu-item>
            {% endblock %}
        </sw-context-button>

        <template v-if="variant == 'regular'">
            <div class="sw-upload-button__dropzone">
                {%  block sw_media_upload_caption %}
                    <div v-if="caption" class="sw-upload-button__upload-caption">
                        <sw-icon name="default-action-cloud-upload" medium></sw-icon>
                        {{ caption }}
                    </div>
                {% endblock %}

                <div class="sw-upload-button__buttons">
                    {% block sw_media_upload_url_upload_button %}
                        <sw-button class="sw-media-upload-button__button-url"
                                   size="small"
                                   @click="openUrlModal">
                            {{ $tc('global.sw-media-upload-button.buttonUrlUpload') }}
                        </sw-button>
                    {% endblock %}

                    {% block sw_media_upload_file_upload_button %}
                        <sw-button class="sw-media-upload-button__button-file"
                                   variant="primary"
                                   size="small"
                                   @click="onClickUpload">
                            {{ $tc('global.sw-media-upload-button.buttonFileUpload') }}
                        </sw-button>
                    {% endblock %}
                </div>
            </div>
        </template>

        <form class="sw-media-upload-button__form" ref="fileForm">
            {% block sw_media_upload_file_input %}
                <input class="sw-media-upload-button__file-input"
                       type="file"
                       id="files"
                       ref="fileInput"
                       accept="image/*"
                       :multiple="allowMultiSelect"
                       @change="onFileInputChange"/>
            {% endblock %}
        </form>

        {% block sw_media_catalog_modal_upload %}
            <sw-media-upload-url-modal
                v-if="showUrlModal"
                @closeModal="closeUrlModal"
                @sw-media-upload-url-modal-submit="onUrlUpload">
            </sw-media-upload-url-modal>
        {% endblock %}
    </div>
{% endblock %}