@import "~less/variables";

@sw-media-upload-button-border-color:                 @color-steam-cloud;
@sw-media-upload-button-border-color-highlighted:     @color-shopware-blue;
@sw-media-upload-button-border-radius:                @border-radius-default;
@sw-media-upload-button-upload-background-color:      @color-light-gray;
@sw-media-upload-button-background-color-highlighted: #E8F6FF;
@sw-media-caption-font-size:                          @font-size-large;
@sw-media-caption-icon-color:                         #9AA8B5;

.sw-media-upload-button {

    .sw-media-upload-button__file-input {
        display: none;
    }

    .sw-upload-button__dropzone {
        margin: 20px 0 0 0;
        border: 1px dashed @sw-media-upload-button-border-color;
        border-radius: @sw-media-upload-button-border-radius;
        background-color: @sw-media-upload-button-upload-background-color;
        position: relative;
        padding: 50px 20px 50px 20px;

        &.is--active {
            border-color: @sw-media-upload-button-border-color-highlighted;
            background-color: @sw-media-upload-button-background-color-highlighted;
        }

        .sw-upload-button__upload-caption {
            font-size: @sw-media-caption-font-size;
            text-align: center;
            margin: 0 0 8px;

            .sw-icon {
                margin-right: 8px;
                color: @sw-media-caption-icon-color;
            }
        }
    }

    .sw-media-upload-button__file-form {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 8px;

        align-items: center;
        justify-content: center;
        justify-items: start;
    }

    .sw-media-upload-button__file-form--preview {
        grid-template-rows: auto auto;
    }

    .sw-media-upload-button__preview-placeholder {
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .sw-media-upload-button__preview {
        width: 100px;
        height: 100px;
    }

    .sw-media-upload-button__preview--is-fallback {
        border: 1px dashed @sw-media-upload-button-border-color;
        border-radius: @sw-media-upload-button-border-radius;
    }

    .sw-media-upload-button__fallback-icon {
        position: relative;
        vertical-align: unset;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sw-media-upload-button__switch-container {
        text-align: right;
    }

    .sw-media-upload-button__button {
        justify-self: stretch;
    }

    .sw-media-upload-button__switch-mode {
        margin: 10px;
        border: 0 none;
        color: @sw-media-upload-button-border-color-highlighted;
        background: none;
    }
}