.sw-media-upload-button {
    .sw-media-upload-button__file-input {
        display: none;
    }

    .sw-media-upload-button__context-button {
        padding-right: 10px;

        .sw-icon {
            position: relative;
            top: 1px;
        }
    }
}