<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_adding_success %}
<div class="sw-extension-adding-success">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_adding_success_content %}
    <div class="sw-extension-buy-modal__content-installed">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_adding_success_icon %}
        <sw-circle-icon
            :size="72"
            icon-name="regular-checkmark"
            variant="success"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_adding_success_headline %}
        <h3>{{ $tc('sw-extension-store.component.sw-extension-adding-success.titleSuccess') }}</h3>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_adding_success_sub_headline %}
        <p>{{ $tc('sw-extension-store.component.sw-extension-adding-success.subtitleSuccess') }}</p>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_adding_success_back_button %}
        <sw-button
            variant="primary"
            block
            @click="$emit('close')"
        >
            {{ $tc('global.default.close') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
