@import "~less/variables";

@sw-condition-group-color-primary: #6E8A97;
@sw-condition-group-color-primary-text: @color-white;

@sw-condition-group-color-secondary: @color-white;
@sw-condition-group-color-secondary-text: #4D6989;

@sw-condition-group-color-border: #D6DDE5;
@sw-condition-group-font-size: 14px;

@sw-condition-group-z-index-value: 10000;
@sw-condition-group-z-index-operator: 10050;
@sw-condition-group-z-index-condition: 10100;

.sw-condition-group {
    width: 100%;
    margin-bottom: 20px;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .sw-condition-group__container {
        position: relative;
        line-height: 40px;
        padding: 0 15px;
        height: 44px;
        float: left;
        width: 33%;

        &.field--condition {
            background: @sw-condition-group-color-primary;
            color: @sw-condition-group-color-primary-text;
            z-index: @sw-condition-group-z-index-condition;
            width: 25%;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding-right: 30px;

            &:before {
                content: '';
                position: absolute;
                right: -5px;
                top: 1px;
                width: 10px;
                height: 25px;
                background: @sw-condition-group-color-primary;
                transform: rotate(-20deg);
                border-bottom-right-radius: 3px;
            }

            &:after {
                content: '';
                position: absolute;
                right: -5px;
                bottom: 1px;
                width: 10px;
                height: 25px;
                background: @sw-condition-group-color-primary;
                border-top-right-radius: 3px;
                transform: rotate(20deg);
            }
        }

        &.field--operator {
            width: 20%;
            border-top: 1px solid @sw-condition-group-color-border;
            border-bottom: 1px solid @sw-condition-group-color-border;
            margin-left: -10px;
            z-index: @sw-condition-group-z-index-operator;
            padding-left: 30px;

            &:before {
                content: '';
                position: absolute;
                right: -5px;
                top: -1px;
                width: 1px;
                height: 23px;
                background: @sw-condition-group-color-border;
                transform: rotate(-20deg);
            }

            &:after {
                content: '';
                position: absolute;
                right: -5px;
                bottom: -1px;
                width: 1px;
                height: 23px;
                background: @sw-condition-group-color-border;
                transform: rotate(20deg);
            }
        }

        &.field--value {
            width: 49%;
            border-top: 1px solid @sw-condition-group-color-border;
            border-bottom: 1px solid @sw-condition-group-color-border;
            z-index: @sw-condition-group-z-index-value;
            padding-left: 20px;
        }

        &.field--actions {
            width: 6%;
            border-top: 1px solid @sw-condition-group-color-border;
            border-bottom: 1px solid @sw-condition-group-color-border;
            border-right: 1px solid @sw-condition-group-color-border;
            border-left: 1px solid @sw-condition-group-color-border;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            line-height: 45px;
            text-align: left;
        }
    }

    .sw-condition-group__field {
        border: 0;
        background: none;
        color: @sw-condition-group-color-primary-text;
        font-size: @sw-condition-group-font-size;
        padding: 0;
        margin: 0;
        width: 100%;

        &.is--primary {
            color: @sw-condition-group-color-primary-text;
        }

        &.is--secondary {
            color: @sw-condition-group-color-secondary-text;
        }

        &:active,
        &:focus {
            outline: none;
        }
    }
}