{% block sw_condition_group %}
    <div class="sw-condition-group"
         :class="fieldClasses">

        <div class="group-container field--condition">

            <select name="name" id="" class="condition-group--field">
                <option value="">Versandkosten</option>
                <option value="">Versandart</option>
                <option value="">Kundengruppe</option>
                <option value="">Kundennummer</option>
                <option value="">Shop ID</option>
                <option value="">Warenkorbwert Netto</option>
                <option value="">Warenkorbwert Brutto</option>
                <option value="">Warenkorbwert MwSt.</option>
                <option value="">Artikel Anzahl</option>
            </select>

        </div>

        <div class="group-container field--operator">

            <select name="name" id="" class="condition-group--field is--dark">
                <option value="">ist gleich</option>
                <option value="">ist ungleich</option>
                <option value="">beginnt mit</option>
                <option value="">endet mit</option>
                <option value="">enthält</option>
                <option value="">Regex</option>
            </select>

        </div>

        <div class="group-container field--value">

            <input type="text" value="Value.." class="condition-group--field is--dark">

        </div>

        <div class="group-container field--actions">
            ...
        </div>

{% endblock %}