{% block sw_condition_group %}
    <div class="sw-condition-group">
        <div class="group-container field--condition">
            <select name="name" id="" class="condition-group--field" ref="conditionTypeSelect">
                <option v-for="innerCondition in conditionTypes"
                        :selected="innerCondition.identifier == condition.type"
                        value="innerCondition.identifier">
                    {{ innerCondition.label }}
                </option>
            </select>
        </div>
        <div class="group-container field--operator">
            <select name="name" id="" class="condition-group--field is--dark">
                <option value="">{{ condition.value.operator }}</option>
                <option value="">ist gleich</option>
                <option value="">ist ungleich</option>
                <option value="">beginnt mit</option>
                <option value="">endet mit</option>
                <option value="">enthält</option>
                <option value="">Regex</option>
            </select>
        </div>
        <div class="group-container field--value">
            <input type="text" value="" v-bind:value="condition.value.amount" class="condition-group--field is--dark">
        </div>
        <div class="group-container field--actions">
            ...
        </div>
    </div>
{% endblock %}