{% block sw_cms_element_sidebar_filter %}
    <div class="sw-cms-element-sidebar-filter">
        <span class="sw-cms-element-sidebar-filter__element">
            <sw-icon name="small-arrow-large-down" color="#C2CCD6" size="12px"></sw-icon>
        </span>
        <span class="sw-cms-element-sidebar-filter__element">
            <sw-icon name="small-arrow-large-down" color="#C2CCD6" size="12px"></sw-icon>
        </span>
        <span class="sw-cms-element-sidebar-filter__element">
            <sw-icon name="small-arrow-large-down" color="#C2CCD6" size="12px"></sw-icon>
        </span>
        <span class="sw-cms-element-sidebar-filter__element">
            <sw-icon name="small-arrow-large-down" color="#C2CCD6" size="12px"></sw-icon>
        </span>
        <span class="sw-cms-element-sidebar-filter__element">
            <sw-icon name="small-arrow-large-down" color="#C2CCD6" size="12px"></sw-icon>
        </span>
    </div>
{% endblock %}
