{# Add product using the sku #}
{% block frontend_checkout_cart_footer_add_product %}
    <form method="post" action="{{ path('frontend.cart.product.add') }}" class="table--add-product add-product--form block-group">
        {% block frontend_checkout_cart_footer_add_product_field %}
            <input name="number" class="add-product--field block" type="text" placeholder="{% trans %}frontend.checkout.cart_footer_left.CheckoutFooterAddProductPlaceholder{% endtrans %}" />
        {% endblock %}

        {% block frontend_checkout_cart_footer_add_product_button %}
            <button type="submit" class="add-product--button btn is--primary is--center block">
                <i class="icon--arrow-right"></i>
            </button>
        {% endblock %}
    </form>
{% endblock %}

{% block frontend_checkout_cart_footer_element %}
    <div class="basket--footer">
        <div class="table--aggregation">
            {# Add product using a voucher #}
            {% block frontend_checkout_cart_footer_add_voucher %}
                {#<form method="post" action="{url action='addVoucher' sTargetAction=$sTargetAction}" class="table--add-voucher add-voucher--form">#}
                <form method="post" action="#" class="table--add-voucher add-voucher--form">

                    {% block frontend_checkout_cart_footer_add_voucher_trigger %}
                        <input type="checkbox" id="add-voucher--trigger" class="add-voucher--checkbox">
                    {% endblock %}

                    {% block frontend_checkout_cart_footer_add_voucher_label %}
                        <label for="add-voucher--trigger" class="add-voucher--label">
                            {% trans %}frontend.checkout.cart_footer.CheckoutFooterVoucherTrigger{% endtrans %}
                        </label>
s                   {% endblock %}

                    <div class="add-voucher--panel is--hidden block-group">
                        {% block frontend_checkout_cart_footer_add_voucher_field %}
                            {#<input type="text" class="add-voucher--field is--medium block" name="code" placeholder="{"{s name='CheckoutFooterAddVoucherLabelInline'}{/s}"|escape}" />#}
                            <input type="text" class="add-voucher--field is--medium block" name="code" placeholder="{% trans %}frontend.checkout.cart_footer.CheckoutFooterAddVoucherLabelInline{% endtrans %}" />
                        {% endblock %}

                        {% block frontend_checkout_cart_footer_add_voucher_button %}
                            <button type="submit" class="add-voucher--button is--medium btn is--primary is--center block">
                                <i class="icon--arrow-right"></i>
                            </button>
                        {% endblock %}
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
