{% sw_extends '@Shopware/frontend/index/index.html.twig' %}

{# Title #}
{% block frontend_index_header_title %}
    {% trans from 'frontend/checkout/cart' %}CartTitle{% endtrans %} | {{ shopware.config.shopname|e }}
{% endblock %}

{# Hide breadcrumb #}
{% block frontend_index_breadcrumb %}{% endblock %}

{# Step Box #}
{% block frontend_index_content_top %}{% endblock %}

{# Main content #}
{% block frontend_index_content %}

    <div class="content content--basket content--checkout">

        <h1 style="text-align: center;">Warenkorb Übersicht</h1>

        {# If articles are in the basket... #}
        {% if cart.viewLineItems.count > 0 %}
            {# Add article informations #}
            {% block frontend_checkout_add_article %}{% endblock %}

            {# Product table #}
            {% block frontend_checkout_cart_table %}
                <div class="product--table{% if shopware.config.basketshippinginfo %} has--dispatch-info{% endif %}">

                    {# Deliveryfree dispatch notification #}
                    {% block frontend_checkout_cart_deliveryfree %}
                    {% endblock %}

                    {# Error messages #}
                    {% block frontend_checkout_cart_error_messages %}
                        {#{include file="frontend/checkout/error_messages.tpl"}#}
                    {% endblock %}

                    {% block frontend_checkout_cart_table_actions %}
                        <div class="table--actions">

                            <div class="main--actions">
                                {# Continue shopping #}
                                {% block frontend_checkout_actions_link_last %}{% endblock %}

                                {% block frontend_checkout_actions_confirm %}

                                    {# Forward to the checkout #}
                                    {% if true %}

                                        {% block frontend_checkout_actions_checkout %}
                                            <a href="{{ path('checkout_confirm') }}" title="{% trans from 'frontend/checkout/cart' %}CheckoutActionsLinkProceedShort{% endtrans %}"
                                               class="btn btn--checkout-proceed is--primary right is--icon-right is--large">
                                                {% trans from 'frontend/checkout/actions' %}CheckoutActionsLinkProceedShort{% endtrans %}
                                                <i class="icon--arrow-right"></i>
                                            </a>
                                        {% endblock %}
                                    {% else %}
                                        {# renamed to prevent multiple definitions of the same block #}
                                        {% block frontend_checkout_actions_checkout_disabled %}
                                        {% endblock %}
                                    {% endif %}
                                {% endblock %}

                            </div>
                        </div>
                    {% endblock %}

                    {# Product table content #}
                    {% block frontend_checkout_cart_panel %}
                        <div class="panel has--border">
                            <div class="panel--body is--rounded">

                                {# Product table header #}
                                {% block frontend_checkout_cart_cart_head %}
                                    {% sw_include 'frontend/checkout/cart/cart-header.html.twig' %}
                                    {#{include file="frontend/checkout/cart_header.tpl"}#}
                                {% endblock %}

                                {# Basket items #}
                                {#{% for viewLineItem in cart.viewLineItems %}#}
                                {% block frontend_checkout_cart_item %}
                                    {% for lineItem in cart.viewLineItems %}

                                        {% sw_include 'frontend/checkout/cart/cart-item.html.twig' with {
                                            'viewLineItem': lineItem,
                                            'depth': 0
                                        } %}

                                    {% endfor %}
                                    {#{include file='frontend/checkout/cart_item.tpl' isLast=$sBasketItem@last}#}
                                {% endblock %}
                                {#{% endfor %}#}

                                {# Product table footer #}
                                {% block frontend_checkout_cart_cart_footer %}
                                    {% sw_include 'frontend/checkout/cart/cart-footer.html.twig' %}
                                    {#{include file="frontend/checkout/cart_footer.tpl"}#}
                                {% endblock %}

                            </div>
                        </div>
                    {% endblock %}

                    {% block frontend_checkout_cart_table_actions_bottom %}
                        <div class="table--actions actions--bottom">
                            {% block frontend_checkout_actions_confirm_bottom %}
                                <div class="main--actions">

                                    {# Continue shopping #}
                                    {% block frontend_checkout_actions_link_last_bottom %}{% endblock %}

                                    {# Forward to the checkout #}
                                    {% block frontend_checkout_actions_confirm_bottom_checkout %}
                                        <a href="{{ path('checkout_confirm') }}" title="{% trans from 'frontend/checkout/cart' %}CheckoutActionsLinkProceedShort{% endtrans %}"
                                           class="btn btn--checkout-proceed is--primary right is--icon-right is--large">
                                            {% trans from 'frontend/checkout/actions' %}CheckoutActionsLinkProceedShort{% endtrans %}
                                            <i class="icon--arrow-right"></i>
                                        </a>
                                    {% endblock %}

                                </div>
                            {% endblock %}

                        </div>
                    {% endblock %}

                </div>
            {% endblock %}

        {% else %}

            {# Empty basket #}
            {% block frontend_basket_basket_is_empty %}
                <div class="basket--info-messages">
                    {% sw_include '@Shopware/frontend/_includes/messages.html.twig' with {'type': 'warning', 'content': 'CartInfoEmpty'|trans([], 'frontend/checkout/cart') } %}
                </div>
            {% endblock %}

        {% endif %}

    </div>
{% endblock %}