{% block sw_cms_block_image_text_row %}
<div class="sw-cms-block-image-text-row">
    <div class="sw-cms-block-image-text-row__left">
        <slot name="left-image" />
        <slot name="left-text" />
    </div>

    <div class="sw-cms-block-image-text-row__center">
        <slot name="center-image" />
        <slot name="center-text" />
    </div>

    <div class="sw-cms-block-image-text-row__right">
        <slot name="right-image" />
        <slot name="right-text" />
    </div>
</div>
{% endblock %}
