{% block sw_product_image %}
<div
    class="sw-product-image"
    :class="productImageClasses"
>
    <template v-if="!isPlaceholder">
        {% block sw_product_image_preview %}
        <sw-media-preview-v2
            class="sw-product-image__image"
            :source="mediaId"
            :hide-tooltip="false"
        />
        <sw-label
            v-if="isCover"
            class="sw-product-image__cover-label"
            variant="primary"
            size="medium"
            appearance="pill"
        >
            {{ $tc('sw-product.mediaForm.coverSubline') }}
        </sw-label>
        {% endblock %}
        <sw-context-button class="sw-product-image__context-button">
            {% block sw_product_image_context %}
            {% block sw_product_image_context_cover_action %}
            <sw-context-menu-item
                v-if="!isCover"
                @click="$emit('sw-product-image-cover')"
            >
                {{ $tc('global.sw-product-image.context.buttonAsCover') }}
            </sw-context-menu-item>
            {% endblock %}

            {% block sw_product_image_context_delete_action %}
            <sw-context-menu-item
                variant="danger"
                @click="$emit('sw-product-image-delete')"
            >
                {{ $tc('global.sw-product-image.context.buttonRemove') }}
            </sw-context-menu-item>
            {% endblock %}
            {% endblock %}
        </sw-context-button>
    </template>
    <template
        v-else
        class="is--invalid-drag"
    >
        {% block sw_product_image_placeholder %}
        <sw-icon
            class="sw-product-image__placeholder-icon"
            :name="'default-object-image'"
            :small="true"
        />
        {% endblock %}
    </template>
</div>
{% endblock %}
