/* stylelint-disable max-nesting-depth */
@import "~scss/variables";

$sw-tree-item-color-border: $color-gray-300;
$sw-tree-item-color-background: $color-gray-50;
$sw-tree-item-color-text: $color-darkgray-200;

.sw-multi-snippet-drag-and-drop {
    position: relative;

    &__action {
        position: absolute;
        top: 18px;
        left: 8px;
        z-index: 1;
    }

    &__context-button {
        top: 12px;
        right: 10px;
        z-index: 1;
    }

    .sw-select .sw-select__selection-indicators {
        display: none;
    }

    .sw-multi-snippet-select {
        margin-bottom: 0;

        & > div {
            padding-left: 20px;
        }

        .sw-select__selection {
            cursor: initial;
        }

        .sw-label__dismiss .sw-icon {
            top: 10px;
            left: -5px;
            cursor: pointer;
        }

        .sw-label .sw-label__caption {
            text-align: center;
        }
    }

    .sw-context-button {
        position: absolute;
    }

    .is--dragging {
        user-select: none;
        pointer-events: none;
        background: transparent;
        border: 1px dashed $sw-tree-item-color-border;
    }

    .is--drag-element {
        user-select: none;
        pointer-events: none;
        background: $color-white;
        box-shadow: 0 0 5px 1px $color-shopware-brand-500;
    }
}
