/* stylelint-disable max-nesting-depth */
@import "~scss/variables";

$sw-tree-item-color-border: var(--color-border-primary-default);
$sw-tree-item-color-background: var(--color-background-secondary-default);
$sw-tree-item-color-text: var(--color-text-primary-default);

.sw-multi-snippet-drag-and-drop {
    position: relative;

    &__action {
        position: absolute;
        top: 18px;
        left: 8px;
        z-index: 1;
    }

    &__context-button {
        top: 12px;
        right: 10px;
        z-index: 1;
    }

    .sw-select .sw-select__selection-indicators {
        display: none;
    }

    .sw-multi-snippet-select {
        margin-bottom: 0;

        & > div {
            padding-left: 20px;
        }

        .sw-block-field__block {
            min-height: 48px;
            height: auto;
        }

        .sw-select__selection {
            cursor: initial;
        }

        .sw-select-selection-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            width: calc(100% - 30px);
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .sw-select-selection-list__item-holder {
            max-width: 220px;
            line-height: 0;
            margin: 8px 6px 0 0;
        }

        .sw-select-selection-list__input-wrapper {
            flex: 1 1 0;
            min-width: 0;
            position: relative;
        }

        .sw-label__dismiss .mt-icon {
            top: 10px;
            left: -5px;
            cursor: pointer;
        }

        .sw-label .sw-label__caption {
            text-align: center;
        }

        .sw-label.is--valid-drop {
            box-shadow: none;
        }

        .sw-label.is--drop-before,
        .sw-label.is--drop-after {
            position: relative;
        }

        .sw-label.is--drop-before::before,
        .sw-label.is--drop-after::after {
            content: "";
            position: absolute;
            top: 4px;
            bottom: 4px;
            width: 2px;
            border-radius: 2px;
            background: var(--color-border-brand-selected);
        }

        .sw-label.is--drop-before::before {
            left: -4px;
        }

        .sw-label.is--drop-after::after {
            right: -4px;
        }
    }

    .sw-context-button {
        position: absolute;
    }

    &.is--droppable.is--draggable.is--drag-element {
        position: absolute;
    }

    .is--dragging {
        user-select: none;
        pointer-events: none;
        background: transparent;
        border: 1px dashed $sw-tree-item-color-border;
    }

    .is--drag-element {
        user-select: none;
        pointer-events: none;
        background: var(--color-elevation-surface-raised);
        box-shadow: 0 0 5px 1px var(--color-border-brand-selected);
    }
}
