{% block sw_mail_template_list_grid %}
    <sw-card :isLoading="isLoading">
        <sw-grid slot="grid"
                 :selectable="false"
                 :items="mailTemplates"
                 :sortBy="sortBy"
                 :sortDirection="sortDirection"
                 @edit="onEdit"
                 @sort-column="onSortColumn"
                 table>
            <template slot="columns" slot-scope="{ item }">
                {% block sw_mail_template_list_grid_columns %}
                    {% block sw_mail_template_list_grid_columns_name %}
                        <sw-grid-column flex="minmax(200px, 1fr)"
                                        class="sw-mail-template-list__column-mail-type"
                                        :label="$tc('sw-mail-template.list.columnMailType')"
                                        dataIndex="mailType"
                                        sortable
                                        truncate>
                            {% block sw_mail_template_list_grid_columns_mail_type_link %}
                                <router-link :to="{ name: 'sw.mail.template.detail', params: { id: item.id } }">
                                    {% block sw_mail_template_list_grid_columns_mail_type_label %}
                                        {{ item.mailType }}
                                    {% endblock %}
                                </router-link>
                            {% endblock %}
                        </sw-grid-column>
                    {% endblock %}

                    {% block sw_mail_template_list_grid_columns_description %}
                        <sw-grid-column flex="minmax(200px, 1fr)"
                                        class="sw-mail-template-list__column-description"
                                        :label="$tc('sw-mail-template.list.columnDescription')"
                                        dataIndex="description"
                                        truncate>
                            {% block sw_mail_template_list_grid_columns_description_label %}
                                <span>{{ item.translated.description }}</span>
                            {% endblock %}
                        </sw-grid-column>
                    {% endblock %}

                    {% block sw_mail_template_list_columns_sales_channels %}
                        <sw-grid-column flex="minmax(200px, 1fr)"
                                        class="sw-mail-template-list__column-date-sales-channels"
                                        :label="$tc('sw-mail-template.list.columnSalesChannels')"
                                        dataIndex="salesChannels"
                                        sortable>
                            {% block sw_mail_template_list_columns_sales_channels %}
                                {% block sw_mail_template_list_columns_sales_channels_label %}
                                    <span>
                                        <span v-for="(salesChannel, index) in item.salesChannels.slice(0, 4)" :key="`salechannel-list-item--${index}`">{{ (index > 0) ?`, ${salesChannel.translated.name}`:`${salesChannel.translated.name}`}}</span>
                                        <span v-if="item.salesChannels.length >= 5">, ...</span>
                                    </span>
                                {% endblock %}
                            {% endblock %}
                        </sw-grid-column>
                    {% endblock %}

                    {% block sw_mail_template_list_grid_columns_actions %}
                        <sw-grid-column flex="100px" align="center">
                            <sw-context-button>
                                {% block sw_mail_template_list_grid_columns_actions_edit %}
                                    <sw-context-menu-item class="sw_mail_template_list__edit-action" :routerLink="{ name: 'sw.mail.template.detail', params: { id: item.id } }">
                                        {{ $tc('sw-mail-template.list.contextMenuEdit') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_mail_template_list_grid_columns_actions_duplicate %}
                                    <sw-context-menu-item @click="onDuplicate(item.id)">
                                        {{ $tc('sw-mail-template.list.contextMenuDuplicate') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_mail_template_list_grid_columns_actions_delete %}
                                    <sw-context-menu-item @click="onDeleteMailTemplate(item.id)" variant="danger">
                                        {{ $tc('sw-mail-template.list.contextMenuDelete') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </sw-context-button>
                        </sw-grid-column>
                    {% endblock %}

                    {% block sw_mail_template_list_delete_modal %}
                        <sw-modal v-if="showDeleteModal === item.id"
                                  @modal-close="onCloseDeleteModal"
                                  :title="$tc('sw-mail-template.list.modalTitleDelete')"
                                  variant="small">
                            {% block sw_mail_template_list_delete_modal_confirm_delete_text %}
                                <p class="sw-mail-template-list__confirm-delete-text">
                                    {{ $tc('sw-mail-template.list.textDeleteConfirm', 0, { name: item.subject }) }}
                                </p>
                            {% endblock %}

                            {% block sw_mail_template_list_delete_modal_footer %}
                                <template slot="modal-footer">
                                    {% block sw_mail_template_list_delete_modal_cancel %}
                                        <sw-button @click="onCloseDeleteModal"
                                                   size="small">
                                            {{ $tc('sw-mail-template.list.buttonCancel') }}
                                        </sw-button>
                                    {% endblock %}

                                    {% block sw_mail_template_list_delete_modal_confirm %}
                                        <sw-button @click="onConfirmDelete(item.id)"
                                                   variant="primary"
                                                   size="small">
                                            {{ $tc('sw-mail-template.list.buttonDelete') }}
                                        </sw-button>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-modal>
                    {% endblock %}
                {% endblock %}
            </template>
        </sw-grid>
    </sw-card>
{% endblock %}
