.sw-file-input {
    .sw-file-input__file-input {
        display: none;
    }

    .sw-file-input__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        color: var(--color-text-primary-default);
        margin: 0 var(--scale-size-6) var(--scale-size-6) 0;
        padding: var(--scale-size-8) 0;
        min-height: var(--scale-size-16);
        user-select: none;
    }

    .sw-file-input__dropzone {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: var(--scale-size-24);
        min-height: var(--scale-size-160);
        border: 2px dashed var(--color-border-secondary-default);
        border-radius: var(--border-radius-xs);
        background: var(--color-elevation-surface-sunken);

        &.is--active {
            border-color: var(--color-border-brand-default);
            background: var(--color-background-brand-default);
            color: var(--color-text-brand-default);

            .sw-file-input__upload-caption {
                .mt-icon {
                    color: var(--color-icon-brand-default);
                }
            }
        }
    }

    .sw-file-input__upload-caption {
        font-size: var(--font-size-s);
        line-height: var(--font-line-height-s);
        color: var(--color-text-primary-default);
        font-weight: var(--font-weight-medium);
        margin: var(--scale-size-12) auto;

        .mt-icon {
            margin-right: var(--scale-size-6);
            color: var(--color-icon-primary-default);
        }
    }

    .sw-file-input__actions {
        display: flex;
        width: 100%;

        .sw-file-input__file-info {
            display: flex;
            flex-grow: 1;
            align-items: center;
            font-size: var(--font-size-xs);
            line-height: var(--font-line-height-xs);
            color: var(--color-text-primary-default);
        }

        .sw-file-input__file-headline {
            word-break: break-word;
            padding-right: var(--scale-size-16);
        }

        .sw-file-input__remove-icon {
            cursor: pointer;
        }
    }

    .sw-file-input__button {
        min-width: var(--scale-size-128);
        margin: 0 auto;
    }
}
