{% block sw_file_input %}
    <div class="sw-file-input">

        {% block sw_file_input_regular %}
            {% block sw_file_input_regular_header %}
                <div class="sw-file-input__header">
                    {% block sw_file_input_regular_header_label %}
                        <label v-if="label" :for="id" class="sw-file-input__label">
                            {{ label }}
                        </label>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block sw_file_input_regular_drop_zone %}
                <div class="sw-file-input__dropzone" ref="dropzone">

                    {% block sw_file_input_caption %}
                        <div v-if="selectedFile === null" class="sw-file-input__upload-caption">
                            <sw-icon name="default-action-cloud-upload"></sw-icon>
                            <slot name="caption-label">
                                {{ $tc('global.sw-file-input.caption') }}
                            </slot>
                        </div>
                    {% endblock %}

                    {% block sw_file_input_actions %}
                        <div class="sw-file-input__actions" :class="{ 'has--source': selectedFile }">

                            <div class="sw-file-input__file-info" v-if="selectedFile">
                                <span class="sw-file-input__file-headline">
                                    {{ selectedFile.name }}
                                </span>
                                <sw-icon class="sw-file-input__remove-icon"
                                         name="small-default-x-line-small"
                                         small
                                         @click="onRemoveIconClick">
                                </sw-icon>
                            </div>

                            {% block sw_file_input_regular_choose_button %}
                                <sw-button class="sw-file-input__button"
                                           variant="ghost"
                                           size="small"
                                           @click="onChooseButtonClick">
                                    {{ $tc('global.sw-file-input.buttonChoose') }}
                                </sw-button>
                            {% endblock %}

                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}

        {% block sw_file_input_hidden_form %}
            <form class="sw-file-input__file-form" ref="fileForm">
                <input class="sw-file-input__file-input"
                       :id="id"
                       type="file"
                       ref="fileInput"
                       @change="onFileInputChange"/>
            </form>
        {% endblock %}
    </div>
{% endblock %}
