{% block sw_first_run_wizard_plugins %}
    <div>
        <h3>Install plugins recommended by shopware</h3>
        <p>Lorem ipsum dolor set amet, consetetur sadipscing elitr...</p>

        <div>
            <p>Available in region</p>
            <sw-label v-for="region in regions"
                      :key="region.name"
                      :variant="regionVariant(region)"
                      appearance="pill"
                      :ghost="false"
                      :caps="false">
                <span @click="onSelectRegion(region)">
                    {{ region.label }}
                </span>
            </sw-label>
        </div>

        <div>
            <p>Category</p>
            <sw-label v-for="category in categories"
                      :key="category.name"
                      :variant="categoryVariant(category)"
                      appearance="pill"
                      :ghost="false"
                      :caps="false">
                <span @click="onSelectCategory(category)">
                    {{ category.label }}
                </span>
            </sw-label>
        </div>

        <sw-container columns="1fr 1fr">
            <sw-plugin-card v-for="plugin in plugins"
                            :key="plugin.name"
                            :plugin="plugin">
            </sw-plugin-card>
        </sw-container>
    </div>
{% endblock %}
