@import "~scss/variables";

.sw-first-run-wizard-plugins {
    height: 100%;
    position: relative;

    .recommended-plugins__headline {
        font-size: $font-size-large;
        font-weight: 600;
        line-height: 25px;
        margin-top: 20px;
    }

    .recommended-plugins__description {
        margin-bottom: 25px;
    }

    .select-region,
    .select-category {
        p {
            line-height: 22px;
            margin: 10px 0;
        }
    }

    .sw-label-region,
    .sw-label-category {
        &.sw-label {
            text-align: center;
            font-weight: 600;

            &:hover {
                cursor: pointer;
            }
        }

        &.sw-label--neutral {
            color: $color-gray-500;
            border-color: $color-gray-500;

            #{$dark-theme-class} & {
                color: lighten($color-gray-500, $dark-theme-contrast-factor);
                border-color: lighten($color-gray-500, $dark-theme-contrast-factor);
            }
        }

        &.sw-label--info {
            border-color: $color-shopware-brand-500;

            #{$dark-theme-class} & {
                border-color: lighten($color-shopware-brand-500, $dark-theme-contrast-factor);
            }
        }
    }

    .spacer {
        border: none;
        height: 1px;
        background-color: $color-gray-300;
        margin: 20px 0;

        #{$dark-theme-class} & {
            background-color: darken($color-gray-300, $dark-theme-contrast-factor);
        }
    }

    .plugins-category-lead {
        .sw-plugin-card {
            margin-bottom: 24px;
        }
    }

    .plugins-category-lead,
    .plugins-not-category-lead {
        margin: 20px 0;
    }
}
