<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_vimeo_video_config %}
<div class="sw-cms-el-config-vimeo-video">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_video_id %}
    <sw-text-field
        v-model="videoID"
        class="sw-cms-el-config-vimeo-video__video-id"
        :label="$tc('sw-cms.elements.vimeoVideo.config.label.videoId')"
        :placeholder="$tc('sw-cms.elements.vimeoVideo.config.placeholder.videoId')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_player_controls %}
    <div class="sw-cms-el-config-vimeo-video__player-controls">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_autoplay %}
        <sw-switch-field
            v-model="element.config.autoplay.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.autoPlay')"
            :help-text="$tc('sw-cms.elements.vimeoVideo.config.helpText.autoPlay')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_do_not_track %}
        <sw-switch-field
            v-model="element.config.doNotTrack.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.advancedPrivacy')"
            :help-text="$tc('sw-cms.elements.vimeoVideo.config.helpText.advancedPrivacy')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_loop %}
        <sw-switch-field
            v-model="element.config.loop.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.loop')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_controls %}
        <sw-switch-field
            v-model="element.config.controls.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.showControls')"
        />
        {% endblock %}

    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_color %}
    <sw-colorpicker
        v-model="element.config.color.value"
        class="sw-cms-el-config-vimeo-video__color"
        :label="$tc('sw-cms.elements.vimeoVideo.config.label.controlsColor')"
        color-output="hex"
        :z-index="1001"
        :alpha="false"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_artist_information %}
    <div class="sw-cms-el-config-vimeo-video__artist-information">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_byline %}
        <sw-switch-field
            v-model="element.config.byLine.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.byLine')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_portrait %}
        <sw-switch-field
            v-model="element.config.portrait.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.showPortrait')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_title %}
        <sw-switch-field
            v-model="element.config.title.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.showTitle')"
        />
        {% endblock %}

    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_needs_confirmation %}
    <div class="sw-cms-el-config-vimeo-video__confirmation">
        <sw-switch-field
            v-model="element.config.needsConfirmation.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.needsConfirmation')"
        />
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_preview_media %}
    <sw-cms-mapping-field
        v-if="element.config.needsConfirmation.value"
        v-model="element.config.previewMedia"
        :label="$tc('sw-cms.elements.vimeoVideo.config.label.previewImage')"
        value-types="entity"
        entity="media"
    >
        <sw-media-upload-v2
            variant="regular"
            :upload-tag="uploadTag"
            :source="previewSource"
            :allow-multi-select="false"
            :default-folder="cmsPageState.pageEntityName"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            @media-upload-sidebar-open="onOpenMediaModal"
            @media-upload-remove-image="onImageRemove"
        />

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_vimeo_video_config_preview_media_display %}
        <template #preview="{ demoValue }">
            <div class="sw-cms-el-config-image__mapping-preview">
                <img
                    v-if="demoValue.url"
                    :src="demoValue.url"
                    alt=""
                >
                <sw-alert
                    v-else
                    class="sw-cms-el-config-image__preview-info"
                    variant="info"
                >
                    {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                </sw-alert>
            </div>
        </template>
        {% endblock %}
    </sw-cms-mapping-field>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_preview_media_upload_listener %}
    <sw-upload-listener
        :upload-tag="uploadTag"
        auto-upload
        @media-upload-finish="onImageUpload"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_vimeo_video_config_preview_media_modal %}
    <sw-media-modal-v2
        v-if="mediaModalIsOpen"
        variant="regular"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        :entity-context="cmsPageState.entityName"
        :allow-multi-select="false"
        :initial-folder-id="cmsPageState.defaultMediaFolderId"
        @media-upload-remove-image="onImageRemove"
        @media-modal-selection-change="onSelectionChanges"
        @modal-close="onCloseModal"
    />
    {% endblock %}
    {% endblock %}
</div>
{% endblock %}
