@import "~scss/variables";

.sw-sales-channel-modal {
    .sw-modal__body {
        min-height: 150px;
    }

    footer.sw-modal__footer {
        display: flex;
        gap: 8px;
    }

    .sw-modal__footer {
        a {
            color: $color-shopware-brand-500;
        }
    }

    &__footer_left {
        margin-right: auto;
    }
}
