<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_value_content %}
<div class="sw-condition-line-item-with-quantity">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_line_item_with_quantity_field_product %}
    <sw-entity-single-select
        v-model="id"
        entity="product"
        :disabled="disabled"
        :value="initialProduct"
        size="medium"
        advanced-selection-component="sw-advanced-selection-product"
        show-clearable-button
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_line_item_with_quantity_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :plural="matchesAll"
        :disabled="disabled"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_line_item_with_quantity_field_quantity %}
    <sw-number-field
        v-model="quantity"
        :disabled="disabled"
        size="medium"
        :step="1"
    />
    {% endblock %}
</div>
{% endblock %}
