{% block sw_product_detail_prices %}
    <sw-container rows="auto" columns="1fr" class="sw-product-detail-context-prices">

        {% block sw_product_detail_prices_empty_state %}
            <sw-card class="context-prices__empty-state"
                     v-if="isLoading"
                     :large="true">
                <sw-loader></sw-loader>
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_prices_price_card %}
            <sw-container v-else-if="priceRuleGroupsExists">
                <sw-card :title="priceGroup.rule ? priceGroup.rule.name : $tc('sw-product.prices.cardTitlePriceRule')"
                         v-for="(priceGroup, key, index) in priceRuleGroups"
                         :key="priceGroup.ruleId"
                         class="context-price"
                         :class="getPriceRuleGroupClass(index)"
                         :isLoading="isLoading"
                         :large="true">

                    {% block sw_product_detail_prices_price_card_toolbar %}
                        <div class="sw-product-detail-context-prices__toolbar">
                            <sw-container columns="1fr minmax(50px, max-content) minmax(50px, max-content)" gap="0 10px">

                                {% block sw_product_detail_prices_price_card_toolbar_rule_selection %}
                                    <sw-entity-single-select
                                            class="sw-product-detail-context-prices__toolbar-selection"
                                            v-if="rules.entity"
                                            id="rule"
                                            size="small"
                                            :value="priceGroup.ruleId"
                                            :placeholder="$tc('sw-product.advancedPrices.selectRule')"
                                            @change="onRuleChange($event, priceGroup.ruleId)"
                                            :entity="rules.entity">
                                        <template #result-item="{ isSelected, setValue, item, index, labelProperty, searchTerm, highlightSearchTerm, getKey }">
                                            <li is="sw-select-result"
                                                :selected="isSelected(item)"
                                                :disabled="!!priceRuleGroups[item.id]"
                                                @item-select="setValue"
                                                v-bind="{ item, index }">
                                                <sw-highlight-text v-if="highlightSearchTerm"
                                                                   :text="getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`)"
                                                                   :searchTerm="searchTerm">
                                                </sw-highlight-text>
                                                <template v-else>
                                                    {{ getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                                                </template>
                                            </li>
                                        </template>
                                    </sw-entity-single-select>
                                {% endblock %}

                                {% block sw_product_detail_prices_price_card_toolbar_rule_delete %}
                                    <sw-button @click="onPriceGroupDelete(priceGroup.ruleId)" size="small">
                                        {{ $tc('sw-product.prices.buttonPriceRuleDelete') }}
                                    </sw-button>
                                {% endblock %}

                                {% block sw_product_detail_prices_price_card_toolbar_add_price_rule %}
                                    <sw-button v-if="canAddPriceRule"
                                               size="small"
                                               class="sw-product-detail-context-prices__toolbar-duplicate"
                                               @click="onPriceGroupDuplicate(priceGroup)"
                                               :disabled="priceGroup.ruleId === null">
                                        {{ $tc('sw-product.prices.buttonPriceRuleDuplicate') }}
                                    </sw-button>
                                {% endblock %}

                            </sw-container>
                        </div>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_grid %}
                        <sw-data-grid v-if="priceGroup.ruleId"
                                      :dataSource="priceGroup.prices"
                                      :columns="pricesColumns"
                                      showSettings
                                      :showSelection="false"
                                      :compactMode="true">

                            {% block sw_product_detail_prices_price_card_price_group_grid_quantity_start %}
                                <template slot="column-quantityStart" slot-scope="{ item, itemIndex, compact }">
                                    {% block sw_product_detail_prices_price_card_price_group_grid_quantity_start_field %}
                                        <sw-field type="number"
                                                  v-model="item.quantityStart"
                                                  validation="required"
                                                  :min="priceGroup.prices[itemIndex - 1] ? priceGroup.prices[itemIndex - 1].quantityEnd + 1 : 1"
                                                  :max="item.quantityEnd ? item.quantityEnd : null"
                                                  :size="compact ? 'small' : 'default'">
                                        </sw-field>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block sw_product_detail_prices_price_card_price_group_grid_quantity_end %}
                                <template slot="column-quantityEnd" slot-scope="{ item, itemIndex, compact }">
                                    {% block sw_product_detail_prices_price_card_price_group_grid_quantity_end_field %}
                                        <sw-field type="number"
                                                  v-model="item.quantityEnd"
                                                  :validation="item.quantityEnd === null || item.quantityEnd > item.quantityStart"
                                                  placeholder="∞"
                                                  @change="onQuantityEndChange(item, priceGroup)"
                                                  :min="item.quantityStart"
                                                  :max="priceGroup.prices[itemIndex + 1] ? priceGroup.prices[itemIndex + 1].quantityStart - 1 : null"
                                                  :size="compact ? 'small' : 'default'">
                                        </sw-field>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block sw_product_detail_prices_price_card_price_group_grid_currencies_list %}
                                <template v-for="currency in currencies" :slot="`column-price-${currency.isoCode}`" slot-scope="{ item, column, compact }">
                                    <div class="product-detail-context-prices__price-field-wrapper">

                                        {% block sw_product_detail_prices_price_card_price_group_grid_currencies_list_inherit_field %}
                                            <sw-inheritance-switch :isInherited="isPriceFieldInherited(item, currency)"
                                                              v-if="!currency.isSystemDefault"
                                                              class="sw-product-detail-context-prices__inherited-icon"
                                                              @inheritance-restore="onInheritanceRestore(item, currency)"
                                                              @inheritance-remove="onInheritanceRemove(item, currency)">
                                            </sw-inheritance-switch>
                                        {% endblock %}

                                        {% block sw_product_detail_prices_price_card_price_group_grid_currencies_list_price_field %}
                                            <sw-price-field :price="item.price"
                                                            :defaultPrice="findDefaultPriceOfRule(item)"
                                                            :taxRate="productTaxRate"
                                                            :label="false"
                                                            :compact="compact"
                                                            :currency="currency">
                                            </sw-price-field>
                                        {% endblock %}

                                    </div>
                                </template>
                            {% endblock %}

                            {% block sw_product_detail_prices_price_card_price_group_grid_actions %}
                                <template slot="actions" slot-scope="{ item }">

                                    {% block sw_product_detail_prices_price_card_price_group_grid_actions_delete %}
                                        <sw-context-menu-item variant="danger"
                                                              class="product-detail-context-prices__context-delete"
                                                              @click="onPriceRuleDelete(item)">
                                            {{ $tc('sw-product.prices.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                </template>
                            {% endblock %}

                        </sw-data-grid>
                    {% endblock %}

                    {% block sw_product_detail_prices_price_card_price_group_empty_state %}
                        <div v-else class="sw-product-detail-context-prices__empty-state">

                            {% block sw_product_detail_prices_price_card_price_group_empty_state_warning %}
                                <p>{{ $tc('sw-product.advancedPrices.newRuleWarning') }}</p>
                            {% endblock %}

                            {# @deprecated tag:v6.2.0 #}
                            {% block sw_product_detail_prices_price_card_price_group_empty_state_rule_select %}{% endblock %}
                        </div>
                    {% endblock %}

                </sw-card>

                {% block sw_product_detail_prices_price_card_price_group_add_price_rule %}
                    <sw-container justify="center" columns="250x">
                        {% block sw_product_detail_prices_price_card_price_group_add_price_rule_button %}
                            <sw-button v-if="canAddPriceRule"
                                       @click="onAddNewPriceGroup(null)"
                                       class="sw-product-detail-context-prices__add-new-rule"
                                       variant="ghost"
                                       :disabled="emptyPriceRuleExists"
                                       size="small">
                                {{ $tc('sw-product.prices.buttonAddAdditionalPriceRuleGroup') }}
                            </sw-button>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

            </sw-container>

            <sw-card class="sw-product-detail-context-prices__empty-state-card" v-else>
                {% block sw_product_detail_prices_price_empty_state %}
                    <div class="sw-product-detail-context-prices__empty-state">

                        {% block sw_product_detail_prices_empty_state_image %}
                            <img :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset">
                        {% endblock %}

                        {% block sw_product_detail_prices_price_empty_state_text %}
                            <p>{{ $tc('sw-product.advancedPrices.advancedPricesNotExisting') }}</p>
                        {% endblock %}

                        {% block sw_product_detail_prices_price_empty_state_select_rule %}
                            <sw-entity-single-select v-if="rules.entity"
                                                     class="sw-product-detail-context-prices__empty-state-select-rule"
                                                     id="rule"
                                                     value=""
                                                     :placeholder="$tc('sw-product.advancedPrices.selectRule')"
                                                     @input="onAddNewPriceGroup($event)"
                                                     :entity="rules.entity">
                                <template #result-item="{ isSelected, setValue, item, index, labelProperty, searchTerm, highlightSearchTerm, getKey }">
                                    <li is="sw-select-result"
                                        :selected="isSelected(item)"
                                        :disabled="!!priceRuleGroups[item.id]"
                                        @item-select="setValue"
                                        v-bind="{ item, index }">
                                        <sw-highlight-text v-if="highlightSearchTerm"
                                                           :text="getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`)"
                                                           :searchTerm="searchTerm">
                                        </sw-highlight-text>
                                        <template v-else>
                                            {{ getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                                        </template>
                                    </li>
                                </template>
                            </sw-entity-single-select>
                        {% endblock %}
                    </div>
                {% endblock %}
            </sw-card>

        {% endblock %}
    </sw-container>
{% endblock %}
