{# Currency changer #}
{% block frontend_index_actions_currency %}
    {% if currency.currencies|length > 1 %}
        <div class="top-bar--currency navigation--entry">
            {% block frontend_index_actions_currency_form %}
                <form method="post" action="{{ url('frontend.context.update') }}" class="currency--form">
                    {% block frontend_index_actions_currency_form_content %}
                        <div class="field--select">
                            {% block frontend_index_actions_currency_form_select %}
                                <div class="select-field">
                                    <select name="__currency" class="currency--select" data-auto-submit="true">
                                        {% for selection in currency.currencies %}
                                            <option value="{{ selection.id }}"{% if selection.id == currency.currency.id %} selected="selected"{% endif %}>
                                                {% if selection.symbol != selection.currency %}{{ selection.symbol|raw }} {% endif %} {{ selection.shortName }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}