<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_stage_section_selection %}
<div class="sw-cms-stage-section-selection">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_stage_section_selection__sidebar %}
    <div
        class="sw-cms-stage-section-selection__sidebar"
        role="button"
        tabindex="0"
        @click="selectSection('sidebar')"
        @keydown.enter="selectSection('sidebar')"
    >
        <div class="sw-cms-stage-section-selection__sidebar-preview">
            <div class="sw-cms-stage-section-selection__sidebar-preview-inner">
                <div class="sw-cms-stage-section-selection__sidebar-preview-placeholder"></div>
                <div class="sw-cms-stage-section-selection__sidebar-preview-placeholder"></div>
            </div>
        </div>
        {{ $tc('sw-cms.section.sidebar') }}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_stage_section_selection__fullwidth %}
    <div
        class="sw-cms-stage-section-selection__default"
        role="button"
        tabindex="0"
        @click="selectSection('default')"
        @keydown.enter="selectSection('default')"
    >
        <div class="sw-cms-stage-section-selection__default-preview">
            <div class="sw-cms-stage-section-selection__default-preview-inner"></div>
        </div>
        {{ $tc('sw-cms.section.fullWidth') }}
    </div>
    {% endblock %}
</div>
{% endblock %}
