{% block component_privacy_notice %}
    <p class="form-text privacy-notice">
        {% block component_privacy_label %}
            <label>
                <strong>{{ "general.privacyTitle"|trans|sw_sanitize }}</strong><br />
                {{ "general.privacyNotice"|trans({
                    '%url%': path('frontend.cms.page',{ id: shopware.config.core.basicInformation.privacyPage })
                })|raw }}
            </label>
        {% endblock %}
    </p>
{% endblock %}
