{% block component_privacy_notice %}
    <fieldset class="form-text privacy-notice">
        {% block component_privacy_title %}
            <legend class="form-text privacy-notice-title">
                <strong>{{ 'general.privacyTitle'|trans|sw_sanitize }}</strong>
            </legend>
            <br>
        {% endblock %}

        {% block component_privacy_dpi %}
            {% if config('core.loginRegistration.requireDataProtectionCheckbox') == 1 %}
                <div class="form-check data-protection-information">
                    {% block component_privacy_dpi_checkbox %}
                        <input type="checkbox"
                               class="form-check-input {% if formViolations.getViolations('/acceptedDataProtection') is not empty %} is-invalid{% endif %}"
                               name="acceptedDataProtection"
                               required="required"
                               value="1"
                               id="acceptedDataProtection"
                               {% if data.get('acceptedDataProtection') %}checked="checked"{% endif %}>
                    {% endblock %}

                    {% block component_privacy_dpi_label %}
                        <label class="custom-control-label no-validation"
                               for="acceptedDataProtection">
                            {{ 'general.privacyNoticeText'|trans({
                                '%privacyUrl%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') }),
                                '%tosUrl%': path('frontend.cms.page', { id: config('core.basicInformation.tosPage') })
                            })|raw }}

                            {{ 'general.required'|trans|sw_sanitize }}
                        </label>
                    {% endblock %}
                </div>
            {% else %}
                <div class="data-protection-information">
                    {% block component_privacy_label %}
                        <div>
                            {{ 'general.privacyNoticeText'|trans({
                                '%privacyUrl%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') }),
                                '%tosUrl%': path('frontend.cms.page', { id: config('core.basicInformation.tosPage') })
                            })|raw }}
                        </div>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
    </fieldset>
{% endblock %}
