{% block component_privacy_notice %}
    <div class="form-text privacy-notice">
        {% block component_privacy_title %}
            <strong>{{ "general.privacyTitle"|trans|sw_sanitize }}</strong><br/>
        {% endblock %}

        {% block component_privacy_dpi %}
            {% if config('core.loginRegistration.requireDataProtectionCheckbox') == 1 %}
                <div class="custom-control custom-checkbox data-protection-information">
                    {% block component_privacy_dpi_checkbox %}
                        <input type="checkbox"
                               class="custom-control-input {% if formViolations.getViolations('/acceptedDataProtection') is not empty %} is-invalid{% endif %}"
                               name="acceptedDataProtection"
                               required="required"
                               value="1"
                               id="acceptedDataProtection"
                               {% if data.get('acceptedDataProtection') %}checked="checked"{% endif %}>
                    {% endblock %}

                    {% block component_privacy_dpi_label %}
                        <label class="custom-control-label no-validation"
                               for="acceptedDataProtection">
                            {# @deprecated tag:v6.5.0 - Translation parameter %url% will be removed, use %privacyUrl% and %tosUrl% instead #}
                            {{ "general.privacyNotice"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.privacyPage') }),
                                '%privacyUrl%': path('frontend.cms.page',{ id: config('core.basicInformation.privacyPage') }),
                                '%tosUrl%': path('frontend.cms.page',{ id: config('core.basicInformation.tosPage') })
                            })|raw }}

                            {{ "general.required"|trans|sw_sanitize }}
                        </label>
                    {% endblock %}
                </div>
            {% else %}
                <div class="data-protection-information">
                    {% block component_privacy_label %}
                        <label>
                            {# @deprecated tag:v6.5.0 - Translation parameter %url% will be removed, use %privacyUrl% and %tosUrl% instead #}
                            {{ "general.privacyNotice"|trans({
                                '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.privacyPage') }),
                                '%privacyUrl%': path('frontend.cms.page',{ id: config('core.basicInformation.privacyPage') }),
                                '%tosUrl%': path('frontend.cms.page',{ id: config('core.basicInformation.tosPage') })
                            })|raw }}
                        </label>
                    {% endblock %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
