@import "~scss/mixins";

.sw-settings-snippet-list {
    .content__column-translationKey {
        @include truncate();
        text-align: left;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.3);
        user-select: none;
    }

    .sidebar__custom-snippet-switch {
        padding: 0 25px;
    }

    .sw-snippet-settings__sidebar {
        height: 100%;
    }
}
