<sw-workspace>
    <header class="toolbar--middle-section" slot="header">
        <h1 class="workspace--headline">
            <span v-if="!isWorking">{{ order.uuid }} <span class="is--small">von {{ order.customer.firstName }} {{ order.customer.lastName }}</span></span>
            <span v-else class="headline--empty">(lade Bestellung...)</span>
        </h1>

        <div class="toolbar--primary-actions">
            <sw-button :isDisabled="isWorking" link="core.order.index">Abbrechen</sw-button>

            <sw-button :isPrimary="true" :isDisabled="isWorking" @click.prevent="onSaveForm">Speichern</sw-button>
        </div>
    </header>

    <div class="sw-core-order--detail" slot="default">
        <ul class="container--tabs">
            <li class="tabs--item router-link-active">
                <a href="#" class="item--link">Allgemein</a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">Positionen</a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">Lieferungen</a>
            </li>
        </ul>

        <core-order-basic-form
                :isWorking="isWorking"
                :order="order"
                :shops="shops"
                :currencies="currencies"
                :orderStates="orderStates"
                :customers="customers"
                :paymentMethods="paymentMethods" >

        </core-order-basic-form>

        <sw-card title="Beträge">
            <div class="container--item">
                <sw-field label="Total amount" id="amountTotal" type="string" name="amountTotal" v-model="order.amountTotal" :suffix="order.currency.shortName"></sw-field>
            </div>
            <div class="container--item">
                <sw-field label="Position price" id="positionPrice" type="string" name="positionPrice" v-model="order.positionPrice" :suffix="order.currency.shortName"></sw-field>
            </div>
            <div class="container--item">
                <sw-field label="Total shipping costs" id="shippingTotal" type="string" name="shippingTotal" v-model="order.shippingTotal" :suffix="order.currency.shortName"></sw-field>
            </div>
            <div class="container--item">
                <sw-field label="Is tax free" id="isTaxFree" type="checkbox" name="isTaxFree" v-model="order.isTaxFree"></sw-field>
            </div>
            <div class="container--item">
                <sw-field label="Net prices" id="isNet" type="checkbox" name="isNet" v-model="order.isNet"></sw-field>
            </div>
        </sw-card>

        <sw-card title="Rechnungsadresse">
            <core-order-address-form :address="order.billingAddress" :isWorking="isWorking" :countries="countries" ></core-order-address-form>
        </sw-card>

        <sw-card title="Positionen">
            <core-order-line-item-list :order="order"></core-order-line-item-list>
            <sw-loader v-if="isWorking"></sw-loader>
        </sw-card>

        <sw-card title="Lieferungen">
            <core-order-delivery-list :order="order"></core-order-delivery-list>
            <sw-loader v-if="isWorking"></sw-loader>
        </sw-card>
    </div>
</sw-workspace>
