@import "~scss/variables";

.sw-mail-template-detail {
    .sw-card {
        .sw-single-select,
        .sw-multi-select {
            margin-bottom: 20px;
        }
    }

    .sw-mail-template-detail__test-mail-sidebar {
        .sw-mail-template-detail__test-mail-sidebar-container {
            padding: 20px;
            border-top: 1px solid $color-steam-cloud;

            label {
                font-weight: bold;
            }
        }
    }

    .sw-mail-template-detail__attachments-info-grid {
        position: relative;
        margin-top: 20px;
        border: 1px solid $color-steam-cloud;
    }
}
