{% block sw_settings_list %}
    {% block sw_settings_number_range_index %}
        <sw-page class="sw-settings-number-range-list">

            {% block sw_settings_number_range_list_search_bar %}
                <template slot="search-bar">
                    <sw-search-bar initialSearchType="number_range"
                                   :placeholder="$tc('sw-settings-number-range.general.placeholderSearchBar')"
                                   :initialSearch="term"
                                   @search="onSearch">
                    </sw-search-bar>
                </template>
            {% endblock %}

            {% block sw_settings_number_range_list_smart_bar_header %}
                <template slot="smart-bar-header">
                    {% block sw_settings_number_range_list_smart_bar_header_title %}
                        <h2>
                            {% block sw_settings_number_range_list_smart_bar_header_title_text %}
                                {{ $tc('sw-settings.index.title') }}
                                <sw-icon name="small-arrow-medium-right" small>
                                </sw-icon> {{ $tc('sw-settings-number-range.list.textHeadline') }}
                            {% endblock %}

                            {% block sw_settings_number_range_list_smart_bar_header_amount %}
                                <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                    ({{ total }})
                                </span>
                            {% endblock %}
                        </h2>
                    {% endblock %}
                </template>
            {% endblock %}

            {% block sw_settings_number_range_list_smart_bar_actions %}
                <template slot="smart-bar-actions">
                    {% block sw_settings_number_range_list_smart_bar_actions_add %}
                        <sw-button :routerLink="{ name: 'sw.settings.number.range.create' }" variant="primary">
                            {{ $tc('sw-settings-number-range.list.buttonAddNumberRange') }}
                        </sw-button>
                    {% endblock %}
                </template>
            {% endblock %}

            {% block sw_settings_number_range_list_content %}
                <sw-card-view slot="content">
                    {% block sw_settings_number_range_list_content_card %}
                        <sw-card :isLoading="isLoading">
                            {% block sw_settings_number_range_list_grid %}
                                <sw-grid slot="grid"
                                         class="sw-settings-number-range-list-grid"
                                         :items="items"
                                         :selectable="false"
                                         @inline-edit-cancel="onInlineEditCancel"
                                         @inline-edit-finish="onInlineEditSave"
                                         table>
                                    <template slot="columns" slot-scope="{ item }">
                                        {% block sw_product_list_grid_columns %}

                                            {% block sw_settings_number_range_list_columns_name %}
                                                <sw-grid-column class="sw-number-range-list__column-name" flex="minmax(150px, 1fr)"
                                                                editable
                                                                :label="$tc('sw-settings-number-range.list.columnName')">

                                                    {% block sw_settings_number_range_list_columns_name_link %}
                                                        <router-link :title="$tc('sw-settings-number-range.list.contextMenuEdit')"
                                                                     :to="{ name: 'sw.settings.number.range.detail', params: { id: item.id } }">
                                                            {% block sw_settings_number_range_list_columns_name_link %}
                                                                {{ item.name }}
                                                            {% endblock %}
                                                        </router-link>
                                                    {% endblock %}

                                                    {% block sw_settings_number_range_list_columns_name_editor %}
                                                        <sw-field type="text"
                                                                  v-model="item.name"
                                                                  slot="inline-edit">
                                                        </sw-field>
                                                    {% endblock %}
                                                </sw-grid-column>
                                            {% endblock %}

                                            {% block sw_settings_number_range_list_columns_used_in %}
                                                <sw-grid-column flex="minmax(120px, 1fr)"
                                                                :label="$tc('sw-settings-number-range.list.columnUsedIn')">
                                                    {% block sw_settings_number_range_list_columns_used_in_label %}
                                                        {{ item.type.translated.typeName }}
                                                    {% endblock %}
                                                </sw-grid-column>
                                            {% endblock %}

                                            {% block sw_settings_number_range_list_columns_assignment %}
                                                <sw-grid-column flex="minmax(150px, 1fr)"
                                                                :label="$tc('sw-settings-number-range.list.columnAssignment')">
                                                    {% block sw_settings_number_range_list_columns_assignment_label %}
                                                        <sw-label small class="sw-settings-number-range-list__columns-assignment-tag" v-if="item.type.global || item.global">
                                                            {{ $tc('sw-settings-number-range.list.global') }}
                                                        </sw-label>

                                                        <template v-if="!item.type.global && !item.global">
                                                            <sw-label :key="numberRangeSalesChannel.id" small class="sw-settings-number-range-list__columns-assignment-tag" v-for="numberRangeSalesChannel in item.numberRangeSalesChannels">
                                                                {{ numberRangeSalesChannel.salesChannel.translated.name }}
                                                            </sw-label>
                                                        </template>
                                                    {% endblock %}
                                                </sw-grid-column>
                                            {% endblock %}


                                            {% block sw_settings_number_range_list_columns_actions %}
                                                <sw-grid-column flex="minmax(70px, 70px)"
                                                                align="center"
                                                                label="">
                                                    <sw-context-button>

                                                        {% block sw_settings_number_range_list_columns_actions_edit %}
                                                            <sw-context-menu-item class="sw-number-range-list__edit-action" :routerLink="{ name: 'sw.settings.number.range.detail', params: { id: item.id } }">
                                                                {{ $tc('sw-settings-number-range.list.contextMenuEdit') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block sw_settings_number_range_list_columns_actions_delete %}
                                                            <sw-context-menu-item v-if="!item.type.global && !item.global" variant="danger"
                                                                                  @click="onDelete(item.id)">
                                                                {{ $tc('sw-settings-number-range.list.buttonDelete') }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}
                                                    </sw-context-button>
                                                </sw-grid-column>
                                            {% endblock %}

                                            {% block sw_settings_number_range_list_delete_modal %}
                                                <sw-modal v-if="showDeleteModal === item.id"
                                                          @closeModal="onCloseDeleteModal"
                                                          :title="$tc('sw-settings-number-range.list.modalTitleDelete')"
                                                          variant="small">
                                                    {% block sw_settings_number_range_list_delete_modal_confirm_text %}
                                                        <p>
                                                            {{ $tc('sw-settings-number-range.list.textDeleteConfirm', 0, { name: item.name }) }}
                                                        </p>
                                                    {% endblock %}

                                                    {% block sw_settings_number_range_list_delete_modal_footer %}
                                                        <template slot="modal-footer">
                                                            {% block sw_settings_number_range_list_delete_modal_actions_cancel %}
                                                                <sw-button @click="onCloseDeleteModal"
                                                                           size="small">
                                                                    {{ $tc('sw-settings-number-range.list.buttonCancel') }}
                                                                </sw-button>
                                                            {% endblock %}

                                                            {% block sw_settings_number_range_list_delete_modal_actions_delete %}
                                                                <sw-button @click="onConfirmDelete(item.id)"
                                                                           variant="primary"
                                                                           size="small">
                                                                    {{ $tc('sw-settings-number-range.list.buttonDelete') }}
                                                                </sw-button>
                                                            {% endblock %}
                                                        </template>
                                                    {% endblock %}
                                                </sw-modal>
                                            {% endblock %}
                                        {% endblock %}
                                    </template>

                                    {% block sw_settings_number_range_list_grid_pagination %}
                                        <sw-pagination slot="pagination"
                                                       :page="page"
                                                       :limit="limit"
                                                       :total="total"
                                                       :total-visible="7"
                                                       @page-change="onPageChange">
                                        </sw-pagination>
                                    {% endblock %}
                                </sw-grid>
                            {% endblock %}
                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            {% endblock %}
        </sw-page>
    {% endblock %}
{% endblock %}