/.github export-ignore
/.gitlab export-ignore
/.run export-ignore
/.vscode export-ignore
/adr export-ignore
/changelog export-ignore
/coding-guidelines export-ignore
/tests export-ignore
/vendor-bin export-ignore
/.bc-exclude.php export-ignore
/.danger.php export-ignore
/.editorconfig export-ignore
/.envrc export-ignore
/.gitignore export-ignore
/.gitlab-ci.yml export-ignore
/.gitpod.Dockerfile export-ignore
/.gitpod.yml export-ignore
/.nvmrc export-ignore
/.phpstorm.meta.php export-ignore
/bin/pre-commit export-ignore
/bin/pre-push export-ignore
/config-schema.json export-ignore
/*.md export-ignore
/devenv.* export-ignore
/docker-compose.yml export-ignore
/easy-coding-standard.php export-ignore
/ecs.php export-ignore
/intellij.yaml export-ignore
/LICENSE export-ignore
/phpbench.json export-ignore
/phpstan.neon export-ignore
/phpstan-baseline.neon export-ignore
/phpunit.xml.dist export-ignore
/rector.php export-ignore
/sonar-project.properties export-ignore
/src/WebInstaller export-ignore
