header: |
  SHOPWARE Developer Version

         _
        | |
     ___| |__   ___  _ ____      ____ _ _ __ ___
    / __| '_ \ / _ \| '_ \ \ /\ / / _` | '__/ _ \
    \__ \ | | | (_) | |_) \ V  V / (_| | | |  __/
    |___/_| |_|\___/| .__/ \_/\_/ \__,_|_|  \___|
                    | |
                    |_|

paths:
  - dev-ops/common/actions

templates:
  - source: "dev-ops/docker/templates/php-dockerfile.tpl"
    destination: "dev-ops/docker/containers/php7/Dockerfile"
  - source: "dev-ops/common/templates/parameters.yml.dist"
    destination: "app/config/parameters.yml"
  - source: "dev-ops/docker/docker-compose.override.yml"
    destination: "docker-compose.override.yml"
  - source: "dev-ops/common/templates/check_requirements.php"
    destination: "dev-ops/check_requirements.php"

const:
  DB_USER: "app"
  DB_PASSWORD: "app"
  DB_HOST: "mysql"
  DB_NAME: "shopware"
  SW_HOST: "10.101.101.56"
  PHP_VERSION: "7.1"

dynamic:
  USERKEY: echo "$(id -u):$(id -g)"
  APP_ID: docker-compose ps -q app_server
  MYSQL_ID: docker-compose ps -q app_mysql
  USER_ID: id -u
  GROUP_ID: id -g

environments:
  docker:
    paths:
      - "dev-ops/docker/actions"
  mac:
    paths:
      - "dev-ops/common/actions"
    const:
      DB_USER: "root"
      DB_PASSWORD: "root"
      DB_HOST: "localhost"
      DB_NAME: "next"
      SW_HOST: "shopware.next"
      PHP_VERSION: "7.1"
