parameters:
    ignoreErrors:
        - # Added optional request parameter @deprecated tag:v6.7.0 - remove this exclusion
            message: '#Method .* invoked with 4 parameters, 3 required#'
            paths:
                - src/Core/Framework/Api/Controller/SalesChannelProxyController.php

        - # @deprecated tag:v6.7.0 - File will be removed
            message: '#^.*$#'
            count: 4
            path: tests/devops/Core/Test/AnnotationTagTest.php
