parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    tmpDir: %rootDir%/../../../../../../../var/cache/phpstan
    paths:
        - src
        - ../src
    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by dev-ops/analyze/phpstan-config-generator.php script
        container_xml_path: '%rootDir%/../../../../../../..%ShopwareHashedCacheDir%/srcShopware_Development_KernelDevDebugContainer.xml'
    inferPrivatePropertyTypeFromConstructor: true

    excludes_analyse:
        - src/Core/Flag/feature_*.php
        - src/Recovery/*
        - src/Docs/Resources/*
        - src/Storefront/Framework/Cache/CacheDecorator.php
        - src/Docs/Resources/current/2-internals/1-core/50-checkout-process/_examples/10-cart-example.php

        # Tests
        - src/**/*Test.php
        - src/Core/Framework/Test/**/*.php

        - src/**/Test/**/_fixture/feature_*.php

        - src/Core/TestBootstrap.php

    ignoreErrors:
        # https://github.com/phpstan/phpstan/issues/1060
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::(variableNode|scalarNode|end|integerNode|booleanNode|enumNode)\(\)\.#'
        # PhpStan does not recognize the Faker plugins correctly. They are called via magic methods
        - '#Access to an undefined property Faker\\Generator::\$[^.]+\.#'
        # For BC with Symfony 4
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'
        # For BC in Store api routes
        - '#Method Shopware\\Core\\Content\\Category\\SalesChannel\\AbstractNavigationRoute::load\(\) invoked with 5 parameters, 4 required\.#'
        - '#Method Shopware\\Core\\Content\\Product\\SalesChannel\\Listing\\AbstractProductListingRoute::load\(\) invoked with 4 parameters, 3 required\.#'
        - '#Method .*Route::load\(\) invoked with 3 parameters, 2 required\.#'
        -
            message: '#PHPDoc tag @param references unknown parameter: \$criteria#'
            path: src/Core/**/SalesChannel/**Route.php
        # For BC in Entity repository clone
        - '#Method .*EntityRepositoryInterface::clone\(\) invoked with 4 parameters, 2-3 required\.#'
        -
            message: '#PHPDoc tag @param references unknown parameter: \$behavior#'
            path: src/Core/Framework/DataAbstractionLayer/EntityRepositoryInterface.php

        # To fix this error, the \Shopware\Core\Framework\Struct\Collection::createNew method has to be implemented
        # in every implementation of `Collection` and needs to return `new self` instead of `new static`. See https://github.com/phpstan/phpstan/issues/2773
        -
             message: '#Unsafe usage of new static\(\)#'
             path: src/Core/Framework/Struct/Collection.php
        # Exception for CopyBatch file system plugin. It is called via magic method
        - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::copyBatch\(\)\.#'
        -
             message: '#Access to private property#'
             path: src/Core/Framework/Api/Controller/CacheController.php
        # Invalid phpdoc in OpenAPI Library
        -
             message: '#Strict comparison using#'
             path: src/Core/Framework/Api/ApiDefinition/Generator/OpenApi/OpenApiLoader.php

services:
    -
        class: Shopware\Development\Analyze\PHPStan\Rules\Decoratable\DecoratableImplementsInterfaceRule
        tags:
            - phpstan.rules.rule
    -
        class: Shopware\Development\Analyze\PHPStan\Rules\Decoratable\DecoratableDoesNotAddPublicMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: Shopware\Development\Analyze\PHPStan\Rules\Decoratable\DecoratableDoesNotCallOwnPublicMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: Shopware\Development\Analyze\PHPStan\Rules\Decoratable\DecoratableNotDirectlyDependetRule
        tags:
            - phpstan.rules.rule
    -
        class: Shopware\Development\Analyze\PHPStan\Rules\Decoratable\DecoratableNotInstantiatedRule
        tags:
            - phpstan.rules.rule
