includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        containerXmlPath: var/cache/static_phpstan_dev/Shopware_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml
