{% block basic_captcha_content_image %}
    <div class="basic-captcha-content-image" id="{{ formId }}-basic-captcha-content-image">
        <img src="data:image/png;base64, {{ page.getCaptcha.imageBase64 }}">
    </div>
{% endblock %}
