{% block frontend_checkout_shipping_payment_core_payment_fields_sepa %}
    <div class="method--bankdata">
        <p class="none">
            <input name="sepaIban"
                   type="text"
                   id="iban"
                   placeholder="{% trans from 'frontend' %}plugins/payment/sepa.PaymentSepaLabelIban{% endtrans %}{% trans from 'frontend' %}register/index.RequiredField{% endtrans %}"
                   {#value="{$form_data.sSepaIban|escape}"#}
                   {#class="is--required{if $error_flags.sSepaIban} has--error{/if}"#}
                   class="is--required"
                   {#{if $payment_mean.id == $form_data.payment}required="required" aria-required="true"{/if} />#}
                   aria-required="true" />
        </p>
        {#{if {config name=sepaShowBic}}#}
        <p class="none">
            <input name="sepaBic"
                   type="text"
                   id="bic"
                   {#placeholder="{s namespace='frontend/plugins/payment/sepa' name='PaymentSepaLabelBic'}{/s}{if {config name=sepaRequireBic}}{s name="RequiredField" namespace="frontend/register/index"}{/s}{/if}"#}
                   placeholder="{% trans from 'frontend' %}plugins/payment/sepa.PaymentSepaLabelBic{% endtrans %}"
                   {#value="{$form_data.sSepaBic|escape}"#}
                   {#class="{if {config name=sepaRequireBic}}is--required {/if}{if $error_flags.sSepaBic} has--error{/if}"#}
                   {#{if $payment_mean.id == $form_data.payment && {config name=sepaRequireBic}}required="required" aria-required="true"{/if} />#}
            >
        </p>
        {#{/if}#}
        {#{if {config name=sepaShowBankName}}#}
        <p class="none">
            <input name="sepaBankName"
                   type="text"
                   id="bank"
                   {#placeholder="{s namespace='frontend/plugins/payment/sepa' name='PaymentSepaLabelBankName'}{/s}{if {config name=sepaRequireBankName}}{s name="RequiredField" namespace="frontend/register/index"}{/s}{/if}"#}
                   placeholder="{% trans from 'frontend' %}plugins/payment/sepa.PaymentSepaLabelBankName{% endtrans %}"
                   {#value="{$form_data.sSepaBankName|escape}"#}
                   {#class="{if {config name=sepaRequireBankName}}is--required {/if}{if $error_flags.sSepaBankName} has--error{/if}"#}
                   {#{if $payment_mean.id == $form_data.payment  && {config name=sepaRequireBankName}}required="required" aria-required="true"{/if} />#}
            >
        </p>
        {#{/if}#}
        {#{if {config name=sepaSendEmail}}#}
        <p class="none clearfix">
            <input name="sepaUseBillingData" type="checkbox" id="usebilling" value="true"
                   {#{if $form_data.sSepaUseBillingData === 'true' || (!$form_data.isPost && $form_data.sSepaUseBillingData !== false)}#}
                        {#checked="checked"#}
                   {#{/if}#}
            {#class="checkbox{if $error_flags.sSepaBankHolder} has--error{/if}"/>#}
            class="checkbox"/>
            <label for="usebilling" style="float:none; width:100%; display:inline">
                {% trans from 'frontend' %}plugins/payment/sepa.PaymentSepaLabelUseBillingData{% endtrans %}
            </label>
        </p>
        {#{/if}#}
</div>
{% endblock %}
