{% block sw_splash_screen %}
    <div v-bind="$attrs" class="sw-splash-screen">

        {% block sw_splash_screen_content %}
            <div class="sw-splash-screen__column-content">

                {% block sw_splash_screen_content_title %}
                    <h1 class="sw-splash-screen__title">{{ title }}</h1>
                {% endblock %}

                {% block sw_splash_screen_content_description %}
                    <div v-if="showDescription" class="sw-splash-screen__description">
                        {{ description }}
                    </div>
                {% endblock %}

                {% block sw_splash_screen_content_actions %}
                    <div v-if="!!$slots.actions || !!$scopedSlots.actions" class="sw-splash-screen__actions">
                        <slot name="actions">
                            {% block sw_splash_screen_slot_actions %}{% endblock %}
                        </slot>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}

        {% block sw_splash_screen_image %}
            <div class="sw-splash-screen__column-image">

                {% block sw_splash_screen_image_asset %}
                    <img class="sw-splash-screen__splash" :src="imagePath | asset">
                {% endblock %}

            </div>
        {% endblock %}

    </div>
{% endblock %}
