<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_product_three_column_preview %}
<div class="sw-cms-preview-product-three-column">
    <sw-cms-product-box-preview has-text />
    <sw-cms-product-box-preview has-text />
    <sw-cms-product-box-preview has-text />
</div>
{% endblock %}
