<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_my_extensions_recommendation %}
<div class="sw-extension-my-extensions__recommendation">
    <div v-if="isLoading">
        <sw-skeleton />
        <sw-skeleton />
    </div>

    <sw-meteor-card v-show="!isLoading">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_my_extensions_recommendation_plugin_wizard %}
        <sw-first-run-wizard-plugins @loading-finished="finishLoading" />
        {% endblock %}
    </sw-meteor-card>
</div>
{% endblock %}
