@import "~scss/variables";

$sw-customer-color-mail-to-link: $color-shopware-brand-500;

.sw-customer-card {
    .sw-customer-card__metadata {
        padding-top: 17px;
    }

    .sw-customer-card__metadata-customer-name {
        align-items: center;
        display: flex;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-m;
        margin-bottom: 1px;
    }

    .sw-customer-card__metadata-customer-guest-label {
        margin: 0 0 0 12px;
        text-align: center;
    }

    .sw-customer-card__metadata-item {
        margin-bottom: 8px;
        font-size: $font-size-xs;

        .sw-customer-card-email-link {
            color: $sw-customer-color-mail-to-link;
            text-decoration: none;
        }
    }

    .sw-customer-card__actions {
        padding-top: 10px;

        .sw-button {
            margin-right: 6px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .sw-customer-card__tag-select {
        &.is--disabled {
            background-color: transparent;
            border-color: transparent;

            .sw-block-field__block {
                border: none;
                background: transparent;
            }

            .sw-select__selection {
                padding-left: 0;
            }

            .sw-select__selection-indicators {
                display: none;
            }

            input {
                background: transparent;
            }
        }
    }

    .sw-customer-card__salutation-select {
        grid-column: 1;
    }
}
