{% block sw_customer_card %}
    <sw-card class="sw-customer-card" :title="title" :isLoading="isLoading">
        {% block sw_customer_card_rows %}
            <template #grid>
                <sw-container rows="auto auto">
                    {% block sw_customer_card_row_primary %}
                        <sw-card-section divider="bottom">
                            {% block sw_customer_card_metadata_container %}
                                <sw-container columns="80px 1fr max-content" gap="0px 30px">
                                    {% block sw_customer_card_avatar %}
                                        <sw-avatar size="80px"
                                                   :sourceContext="customer"
                                                   :firstName="customer.firstName"
                                                   :lastName="customer.lastName">
                                        </sw-avatar>
                                    {% endblock %}

                                    {% block sw_customer_card_metadata %}
                                        <div class="sw-customer-card__metadata">
                                            {% block sw_customer_card_metadata_customer_name %}
                                                {% block sw_custsomer_card_metadata_customer_name_label %}
                                                    <template v-if="!editMode">
                                                        <div v-if="customer && customer.salutation" class="sw-customer-card__metadata-customer-name">
                                                            {{ fullName }}
                                                        </div>
                                                    </template>
                                                {% endblock %}

                                                {% block sw_customer_card_metadata_customer_name_editor %}
                                                    <div v-else>
                                                        <sw-container columns="1fr 1fr" gap="10px">
                                                            {% block sw_customer_card_metadata_customer_name_editor_salutation %}
                                                                <sw-entity-single-select
                                                                    entity="salutation"
                                                                    labelProperty="displayName"
                                                                    v-model="customer.salutationId"
                                                                    :label="$tc('sw-customer.card.labelSalutation')"
                                                                    required>
                                                                </sw-entity-single-select>
                                                            {% endblock %}

                                                            {% block sw_customer_card_metadata_customer_name_editor_title %}
                                                                <sw-text-field v-model="customer.title"
                                                                               :label="$tc('sw-customer.card.labelTitle')"
                                                                               :placeholder="$tc('sw-customer.card.placeholderTitle')">
                                                                </sw-text-field>
                                                            {% endblock %}
                                                        </sw-container>

                                                        <sw-container columns="1fr 1fr" gap="10px">
                                                            {% block sw_customer_card_metadata_customer_name_editor_first_name %}
                                                                <sw-text-field v-model="customer.firstName"
                                                                               :label="$tc('sw-customer.card.labelFirstName')"
                                                                               validation="required"
                                                                               required
                                                                               :error="customerFirstNameError"
                                                                               :placeholder="$tc('sw-customer.card.placeholderFirstName')">
                                                                </sw-text-field>
                                                            {% endblock %}

                                                            {% block sw_customer_card_metadata_customer_name_editor_last_name %}
                                                                <sw-text-field v-model="customer.lastName"
                                                                               :label="$tc('sw-customer.card.labelLastName')"
                                                                               validation="required"
                                                                               required
                                                                               :error="customerLastNameError"
                                                                               :placeholder="$tc('sw-customer.card.placeholderLastName')">
                                                                </sw-text-field>
                                                            {% endblock %}
                                                        </sw-container>

                                                        {% block sw_customer_card_metadata_customer_name_editor_company %}
                                                            <sw-text-field v-model="customer.company"
                                                                           :label="$tc('sw-customer.card.labelCompany')"
                                                                           :placeholder="$tc('sw-customer.card.placeholderCompany')">
                                                            </sw-text-field>
                                                        {% endblock %}
                                                    </div>
                                                {% endblock %}
                                            {% endblock %}

                                            {% block sw_customer_card_metadata_customer_email %}
                                                {% block sw_customer_card_metadata_customer_email_label %}
                                                    <div v-if="customer.email && !editMode" class="sw-customer-card__metadata-item ">
                                                        <a class="sw-customer-card-email-link" :href="getMailTo(customer.email)">{{ customer.email }}</a>
                                                    </div>
                                                {% endblock %}

                                                {% block sw_customer_card_metadata_customer_email_editor %}
                                                    <sw-text-field v-else
                                                                   v-model="customer.email"
                                                                   :label="$tc('sw-customer.card.labelEmail')"
                                                                   validation="required"
                                                                   required
                                                                   :placeholder="$tc('sw-customer.card.placeholderEmail')">
                                                    </sw-text-field>
                                                {% endblock %}
                                            {% endblock %}

                                            {% block sw_customer_card_metadata_customer_tag %}
                                                <sw-entity-tag-select :label="editMode ? $tc('sw-customer.baseForm.labelTags') : ''"
                                                                      class="sw-customer-card__tag-select"
                                                                      :disabled="!editMode"
                                                                      :size="editMode ? 'default' : 'medium'"
                                                                      v-model="customer.tags">
                                                </sw-entity-tag-select>
                                            {% endblock %}

                                            {% block sw_customer_card_metadata_additional %}
                                                <slot name="metadata-additional">
                                                    {% block sw_customer_card_slot_metadata_additional %}{% endblock %}
                                                </slot>
                                            {% endblock %}

                                            {% block sw_customer_card_actions %}
                                                <div v-if="hasActionSlot" class="sw-customer-card__actions">
                                                    <slot name="actions">
                                                        {% block sw_customer_card_slot_actions %}{% endblock %}
                                                    </slot>
                                                </div>
                                            {% endblock %}

                                        </div>
                                    {% endblock %}
                                </sw-container>
                            {% endblock %}
                        </sw-card-section>
                    {% endblock %}

                    {% block sw_customer_card_row_secondary %}
                        <sw-card-section secondary slim>
                            <slot name="default">
                                {% block sw_customer_card_slot_default %}{% endblock %}
                            </slot>
                        </sw-card-section>
                    {% endblock %}
                </sw-container>
            </template>
        {% endblock %}
    </sw-card>
{% endblock %}
