{% block sw_cms_element_image_config %}
    <div class="sw-cms-el-config-image">
        {% block sw_cms_element_image_config_media_upload %}
            <sw-media-upload variant="regular"
                             :uploadTag="uploadTag"
                             :source="element.data && element.data.media ? element.data.media : null"
                             :allowMultiSelect="false"
                             :defaultFolder="cmsPageState.pageEntityName"
                             :caption="$tc('sw-cms.elements.captionMediaUpload')"
                             @sw-media-upload-open-sidebar="onOpenMediaModal"
                             @sw-media-upload-remove-image="onImageRemove">
            </sw-media-upload>
            <sw-upload-store-listener
                :uploadTag="uploadTag"
                @sw-media-upload-added="onChangeMedia"
                @sw-media-upload-finished="onImageUpload">
            </sw-upload-store-listener>
        {% endblock %}

        {% block sw_cms_element_image_config_display_mode %}
            <sw-select-field :label="$tc('sw-cms.elements.labelMediaDisplayMode')" v-model="element.config.displayMode.value">
                <option value="standard">{{ $tc('sw-cms.elements.labelMediaDisplayModeStandard') }}</option>
                <option value="cover">{{ $tc('sw-cms.elements.labelMediaDisplayModeCover') }}</option>
            </sw-select-field>
        {% endblock %}

        {% block sw_cms_element_image_config_media_modal %}
            <sw-media-modal
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.captionMediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @sw-media-upload-remove-image="onImageRemove"
                @media-modal-selection-change="onSelectionChanges"
                @closeModal="onCloseModal">
            </sw-media-modal>
        {% endblock %}
    </div>
{% endblock %}
