{% block sw_cms_element_image_config %}
    <div class="sw-cms-el-config-image">
        {% block sw_cms_element_image_config_media_upload %}
            <sw-media-upload variant="regular"
                             :uploadTag="uploadTag"
                             :source="element.data && element.data.media && element.data.media.id ? element.data.media : null"
                             :allowMultiSelect="false"
                             :defaultFolder="cmsPageState.pageEntityName"
                             :caption="$tc('sw-cms.elements.captionMediaUpload')"
                             @media-upload-sidebar-open="onOpenMediaModal"
                             @media-upload-remove-image="onImageRemove">
            </sw-media-upload>
            <sw-upload-store-listener
                :uploadTag="uploadTag"
                @media-upload-add="onChangeMedia"
                @media-upload-finish="onImageUpload">
            </sw-upload-store-listener>
        {% endblock %}

        {% block sw_cms_element_image_config_display_mode %}
            <sw-select-field :label="$tc('sw-cms.elements.labelMediaDisplayMode')" v-model="element.config.displayMode.value">
                <option value="standard">{{ $tc('sw-cms.elements.labelMediaDisplayModeStandard') }}</option>
                <option value="cover">{{ $tc('sw-cms.elements.labelMediaDisplayModeCover') }}</option>
                <option value="stretch">{{ $tc('sw-cms.elements.labelMediaDisplayModeStretch') }}</option>
            </sw-select-field>
        {% endblock %}

        <template v-if="element.config.displayMode.value === 'cover'">
            {% block sw_cms_element_image_config_min_height %}
                <sw-text-field :label="$tc('sw-cms.elements.labelMediaMinHeight')"
                               @input="onChangeMinHeight">
                </sw-text-field>
            {% endblock %}
        </template>

        {% block sw_cms_element_image_config_link %}
            <div class="sw-cms-el-config-image__link">
                <sw-field v-model="element.config.url.value"
                          class="sw-cms-el-config-image__link-input"
                          type="text"
                          :label="$tc('sw-cms.elements.labelSettingsLinkTo')"
                          :placeholder="$tc('sw-cms.elements.placeholderSettingsEnterUrl')">
                </sw-field>
                <sw-field class="sw-cms-el-config-image__link-tab"
                          v-model="element.config.newTab.value"
                          type="switch"
                          :label="$tc('sw-cms.elements.labelSettingsLinkNewTab')">
                </sw-field>
            </div>
        {% endblock %}

        {% block sw_cms_element_image_config_media_modal %}
            <sw-media-modal
                variant="regular"
                v-if="mediaModalIsOpen"
                :caption="$tc('sw-cms.elements.captionMediaUpload')"
                :entityContext="cmsPageState.entityName"
                :allowMultiSelect="false"
                :initialFolderId="cmsPageState.defaultMediaFolderId"
                @media-upload-remove-image="onImageRemove"
                @media-modal-selection-change="onSelectionChanges"
                @modal-close="onCloseModal">
            </sw-media-modal>
        {% endblock %}
    </div>
{% endblock %}
