.sw-customer-list {
    &__content {
        width: 100%;
        height: 100%;
        position: absolute;

        &:has(.mt-empty-state) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__avatar {
        margin-right: var(--scale-size-8);
    }

    .sw-data-grid__cell--active .sw-data-grid__cell-content {
        display: flex;
        justify-content: center;
    }

    .sw-data-grid__cell:not(.sw-data-grid__cell--header) {
        .is--inactive {
            color: var(--color-icon-critical-default);
        }

        .is--active {
            color: var(--color-icon-positive-default);
        }
    }

    &__metadata-customer-guest-label {
        margin: 0 0 0 var(--scale-size-8);
        text-align: center;
    }

    &__created-by-admin-label {
        margin: 0 0 0 var(--scale-size-8);
    }
}
