<div class="sw-hidden-iframes" style="display: none">
    <iframe
        v-for="iFrame in iFrames"
        :key="iFrame"
        :title="iFrame"
        :src="iFrame"
        frameborder="0"
    ></iframe>
</div>
