<div
    class="sw-hidden-iframes"
    style="display: none;"
>
    <sw-iframe-renderer
        v-for="iFrame in iFrames"
        :key="iFrame"
        :src="iFrame"
        :location-id="MAIN_HIDDEN"
    />
</div>
