{% block sw_image_slider %}
    <div v-if="images.length > 0"
         class="sw-image-slider">

        {% block sw_image_slider_image_container %}
            <div class="sw-image-slider__image-container"
                 :style="containerStyles">

                {% block sw_image_slider_image_container_scrollable %}
                    <div class="sw-image-slider__image-container-scrollable"
                         :style="scrollableContainerStyles">

                        {% block sw_image_slider_images %}
                            <div v-for="(image, index) in images"
                                 class="sw-image-slider__image-container-element-wrapper"
                                 :style="componentStyles">

                                {% block sw_image_slider_image_container %}
                                    <div class="sw-image-slider__image-container-element"
                                         :style="elementStyles(image, index)"
                                         @click="currentPageNumber = index">

                                        {% block sw_image_slider_image %}
                                            <img class="sw-image-slider__image-container-element-image"
                                                 :style="borderStyles(image)"
                                                 :src="getImage(image)"
                                                 :alt="imageAlt(index)">
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block sw_image_slider_element_description %}
                                    <div v-if="hasValidDescription(image)"
                                         class="sw-image-slider__image-container-element-description"
                                         :style="componentStyles">
                                        {{ image.description }}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_image_slider_image_container_arrows %}
                    <template v-if="['arrow', 'all'].includes(navigationType)">

                        {% block sw_image_slider_image_container_arrow_left %}
                            <div class="sw-image-slider__arrow arrow-left"
                                 :style="arrowStyles"
                                 @click="goToPreviousImage">
                                <sw-icon name="default-arrow-head-left"></sw-icon>
                            </div>
                        {% endblock %}

                        {% block sw_image_slider_image_container_arrow_right %}
                            <div class="sw-image-slider__arrow arrow-right"
                                 :style="arrowStyles"
                                 @click="goToNextImage">
                                <sw-icon name="default-arrow-head-right"></sw-icon>
                            </div>
                        {% endblock %}
                    </template>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_image_slider_button_container %}
            <div v-if="images.length >= 2 && ['button', 'all'].includes(navigationType)"
                 class="sw-image-slider__buttons">

                {% block sw_image_slider_buttons %}
                    <button v-for="(image, index) in images"
                            class="sw-image-slider__buttons-element"
                            :class="{ 'is--active': index === currentPageNumber }"
                            @click="setCurrentPageNumber(index)">
                        {{ imageAlt(index) }}
                    </button>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}