<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_customer_group_list %}
<sw-page class="sw-settings-customer-group-list">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_customer_group_list_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="customer_group"
            :placeholder="$tc('sw-settings-customer-group.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_customer_group_list_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_customer_group_list_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_customer_group_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('sw-settings-customer-group.general.mainMenuItemGeneral') }}
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_customer_group_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading && customerGroups && total"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_customer_group_list_language_switch %}
    <template #language-switch>
        <sw-language-switch @on-change="onRefresh" />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_customer_group_list_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_customer_group_list_actions_create %}
        <sw-button
            v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('customer_groups.creator'),
                showOnDisabledElements: true
            }"
            class="sw-settings-customer-group-list__create"
            variant="primary"
            :disabled="!acl.can('customer_groups.creator')"
            :router-link="{ name: 'sw.settings.customer.group.create' }"
        >
            {{ $tc('sw-settings-customer-group.general.buttonCreate') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_customer_group_list_cardview %}
    <template #content>
        <sw-card-view>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_customer_group_list_card_content %}
            <sw-card
                position-identifier="sw-settings-customer-group-list"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_customer_group_list_grid %}
                <template #grid>
                    <sw-entity-listing
                        v-if="isLoading || entitySearchable"
                        ref="listing"
                        class="sw-settings-customer-group-list-grid"
                        identifier="sw-settings-customer-group-list"
                        detail-route="sw.settings.customer.group.detail"
                        :repository="customerGroupRepository"
                        :is-loading="isLoading"
                        :items="customerGroups"
                        :columns="columns"
                        :sort-by="currentSortBy"
                        :sort-direction="sortDirection"
                        :full-page="false"
                        :allow-view="acl.can('customer_groups.viewer')"
                        :allow-edit="acl.can('customer_groups.editor')"
                        :allow-inline-edit="acl.can('customer_groups.editor')"
                        :allow-delete="acl.can('customer_groups.deleter')"
                        :show-selection="acl.can('customer_groups.deleter')"
                        @column-sort="onSortColumn"
                        @page-change="onPageChange"
                    >

                        <template #bulk-modal-delete-items>
                            <sw-button
                                variant="danger"
                                size="small"
                                @click="deleteCustomerGroups"
                            >
                                {{ $tc('global.default.delete') }}
                            </sw-button>
                        </template>

                        <template #delete-action="{ item }">
                            <sw-context-menu-item
                                class="sw-settings-customer-group-list-grid__delete-action"
                                variant="danger"
                                :disabled="!acl.can('customer_groups.deleter')"
                                @click="onContextMenuDelete(item)"
                            >
                                {{ $tc('global.default.delete') }}
                            </sw-context-menu-item>
                        </template>

                        <template #delete-modal-delete-item="{ item }">
                            <sw-button
                                variant="danger"
                                size="small"
                                @click="deleteCustomerGroup(item)"
                            >
                                {{ $tc('global.default.delete') }}
                            </sw-button>
                        </template>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_customer_group_list_grid_column_display_gross %}
                        <template #column-displayGross="{ item }">
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_customer_group_list_grid_column_display_gross_inner %}
                            {{ $tc('sw-settings-customer-group.detail.fieldDisplayGrossValues', item.displayGross) }}
                            {% endblock %}
                        </template>
                        {% endblock %}
                    </sw-entity-listing>
                </template>
                {% endblock %}

            </sw-card>
            {% endblock %}
        </sw-card-view>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_customer_group_list_empty_state %}
        <sw-empty-state
            v-if="!isLoading && !total && isValidTerm(term)"
            :title="$tc('sw-empty-state.messageNoResultTitle')"
        >
            <template #default>
                {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                <router-link
                    class="sw-empty-state__description-link"
                    :to="{ name: 'sw.profile.index.searchPreferences' }"
                >
                    {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                </router-link>
                {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
            </template>
        </sw-empty-state>
        {% endblock %}
    </template>
    {% endblock %}

</sw-page>
{% endblock %}
