{% block sw_promotion_rule_select %}
<div class="sw-promotion-rule-select">
    {% block a  %}
    <sw-entity-many-to-many-select
        ref="ruleSelect"
        class="sw-promotion-rule-select"
        v-bind="$attrs"
        :entity-collection="collection"
        @change="onChange"
        v-on="$listeners"
    >

        <template #before-item-list>
            <li
                class="sw-select-result sw-promotion-rule-select__add-new-rule"
                @click="showRuleModal = true"
            >
                {{ $tc('sw-promotion.swPromotionRuleSelect.labelAddNewRule') }}
            </li>
        </template>
    </sw-entity-many-to-many-select>
    {% endblock %}

    {% block b %}
    <sw-rule-modal
        v-if="showRuleModal"
        :allowed-rule-scopes="ruleScope"
        @save="onSaveRule"
        @modal-close="showRuleModal = false"
    />
</div>{% endblock%}
    </div>
{% endblock %}