<div style="font-family:arial; font-size:12px;">
    Address:<br>
    {{ config('core.basicInformation.address')|raw }}
    <br>
    Bank account:<br>
    {{ config('core.basicInformation.bankAccount')|raw }}
</div>
