{% block sw_settings_shipping_index %}
    <sw-page class="sw-settings-shipping-list">

        {% block sw_settings_shipping_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar initialSearchType="shipping_method"
                               :placeholder="$tc('sw-settings-shipping.general.placeholderSearchBar')"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_settings_shipping_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_settings_shipping_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_settings_shipping_list_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }} <sw-icon name="small-arrow-medium-right" small></sw-icon> {{ $tc('sw-settings-shipping.list.textHeadline') }}
                        {% endblock %}

                        {% block sw_settings_shipping_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_shipping_list_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_shipping_list_smart_bar_actions_add %}
                    <sw-button :routerLink="{ name: 'sw.settings.shipping.create' }" variant="primary">
                        {{ $tc('sw-settings-shipping.list.buttonAddShippingMethod') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_shipping_stream_list_language_switch %}
            <sw-language-switch slot="language-switch" @on-change="onChangeLanguage"></sw-language-switch>
        {% endblock %}

        <template slot="content">
            {% block sw_settings_shipping_list_content %}
                <div class="sw-settings-shipping-list__content">
                    {% block sw_settings_shipping_list_grid %}
                        <sw-data-grid :dataSource="items"
                                      :columns="columns"
                                      :showSelection="false"
                                      :showSettings="true"
                                      :fullPage="true"
                                      :allowInlineEdit="true"
                                      :sortBy="sortBy"
                                      :sortDirection="sortDirection"
                                      :isLoading="isLoading"
                                      :allowColumnEdit="true"
                                      identifier="sw-shipping-method-list"
                                      @column-sort="onSortColumn"
                                      @inline-edit-save="onInlineEditSave"
                                      @inline-edit-cancel="onInlineEditCancel">
                            {% block sw_setting_shipping_list_grid_columns %}
                                {% block sw_settings_shipping_list_grid_columns_active %}
                                    <template slot="column-active" slot-scope="{ item, isInlineEdit }">
                                        {% block sw_settings_shipping_list_grid_columns_active_inline_edit %}
                                        <template v-if="isInlineEdit">
                                            <sw-checkbox-field v-model="item.active"></sw-checkbox-field>
                                        </template>
                                        {% endblock %}

                                        {% block sw_settings_shipping_list_grid_columns_active_content %}
                                        <template v-else>
                                            <sw-icon v-if="item.active" name="small-default-checkmark-line-medium" small class="is--active"></sw-icon>
                                            <sw-icon v-else name="small-default-x-line-medium" small class="is--inactive"></sw-icon>
                                        </template>
                                        {% endblock %}
                                    </template>
                                {% endblock %}
                            {% endblock %}
                            {% block sw_settings_shipping_list_grid_columns_actions %}
                                <template slot="actions" slot-scope="{ item }">
                                    {% block sw_settings_shipping_list_grid_columns_actions_edit %}
                                        <sw-context-menu-item class="sw-settings-shipping-list__edit-action" :routerLink="{ name: 'sw.settings.shipping.detail', params: { id: item.id } }">
                                            {{ $tc('sw-settings-shipping.list.contextMenuEdit') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_settings_shipping_list_grid_columns_actions_duplicate %}
                                        <sw-context-menu-item :disabled="true">
                                            {{ $tc('sw-settings-shipping.list.contextMenuDuplicate') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_settings_shipping_list_grid_columns_actions_delete %}
                                        <sw-context-menu-item @click="onDelete(item.id)" variant="danger">
                                            {{ $tc('sw-settings-shipping.list.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block sw_settings_shipping_list_grid_action_modals %}
                                <template slot="action-modals" slot-scope="{ item }">
                                    {% block sw_settings_shipping_list_delete_modal %}
                                    <sw-modal v-if="showDeleteModal === item.id"
                                              @modal-close="onCloseDeleteModal"
                                              :title="$tc('sw-settings-shipping.list.modalTitleDelete')"
                                              variant="small">
                                        {% block sw_settings_shipping_list_delete_modal_confirm_delete_text %}
                                            <p class="sw-settings-shipping-list__confirm-delete-text">
                                                {{ $tc('sw-settings-shipping.list.textDeleteConfirm', 0, { name: item.translated.name }) }}
                                            </p>
                                        {% endblock %}

                                        {% block sw_settings_shipping_list_delete_modal_footer %}
                                            <template slot="modal-footer">
                                                {% block sw_settings_shipping_list_delete_modal_cancel %}
                                                    <sw-button @click="onCloseDeleteModal" size="small">
                                                        {{ $tc('sw-settings-shipping.list.buttonCancel') }}
                                                    </sw-button>
                                                {% endblock %}

                                                {% block sw_settings_shipping_list_delete_modal_confirm %}
                                                    <sw-button @click="onConfirmDelete(item.id)" variant="primary" size="small">
                                                        {{ $tc('sw-settings-shipping.list.buttonDelete') }}
                                                    </sw-button>
                                                {% endblock %}
                                            </template>
                                        {% endblock %}
                                    </sw-modal>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            <template slot="pagination">
                                {% block sw_settings_shipping_list_grid_pagination %}
                                    <sw-pagination :page="page"
                                                   :limit="limit"
                                                   :total="total"
                                                   :total-visible="7"
                                                   @page-change="onPageChange">
                                    </sw-pagination>
                                {% endblock %}
                            </template>
                        </sw-data-grid>
                    {% endblock %}

                    {% block sw_settings_shipping_list_empty_state %}
                        <sw-empty-state v-if="!isLoading && !total" :title="$tc('sw-settings-shipping.list.messageEmpty')"></sw-empty-state>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>

        {% block sw_settings_shipping_list_sidebar %}
            <sw-sidebar slot="sidebar">
                {% block sw_settings_shipping_list_sidebar_refresh %}
                <sw-sidebar-item
                        icon="default-arrow-360-left"
                        :title="$tc('sw-settings-shipping.list.titleSidebarItemRefresh')"
                        @click="onRefresh">
                </sw-sidebar-item>
                {% endblock %}
            </sw-sidebar>
        {% endblock %}
    </sw-page>
{% endblock %}
