{% block sw_sales_channel_detail %}
    <sw-page class="sw-sales-channel-detail">
        {% block sw_sales_channel_detail_header %}
            <template slot="smart-bar-header">
                {% block sw_sales_channel_detail_header_headline %}
                    <h2>{{ salesChannel.name }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_sales_channel_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_sales_channel_detail_actions_save %}
                    <sw-button variant="primary" :disabled="isLoading" @click.prevent="onSave">
                        {{ $tc('sw-sales-channel.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_sales_channel_detail_content %}
            <sw-card-view slot="content">
                {% block sw_sales_channel_detail_content_tabs %}
                    <sw-tabs class="sw-sales-channel-detail-__tabs">
                        {%  block sw_sales_channel_detail_content_tabs_general %}
                            <sw-tabs-item :route="{ name: 'sw.sales.channel.detail', params: { id: $route.params.id } }"
                                          :title="$tc('sw-sales-channel.detail.tabBase')">
                                {{ $tc('sw-sales-channel.detail.tabBase') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </sw-tabs>
                {% endblock %}

                {% block sw_sales_channel_detail_content_view %}
                    <router-view :salesChannel="salesChannel"
                                 :salesChannelCurrencies="salesChannelCurrencies"
                                 :currencies="currencies"
                                 :countries="countries">
                    </router-view>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}