{% block sw_media_catalog %}
    <sw-page class="sw-media-catalog">

        {% block sw_media_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar :placeholder="$tc('sw-media.general.placeholderSearchBar')"
                               :searchType="$tc('sw-media.general.mainMenuItemGeneral')"
                               @search="this.onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_media_catalog_smart_bar %}
            {% block sw_media_catalog_smart_bar_header %}
                <template slot="smart-bar-header">
                    {% block sw_media_catalog_smart_bar_header %}
                        <h2>
                            {% block sw_media_catalog_smart_bar_heading %}
                                {{ $tc('sw-media.smart-bar.smartBarHeader') }}
                            {% endblock %}
                        </h2>
                    {% endblock %}
                </template>
            {% endblock %}

            <template slot="smart-bar-actions">

                {% block sw_media_catalog_smart_bar_media_upload %}
                    <sw-media-upload-button
                        variant="compact"
                        @new-upload-started="onNewUpload">
                    </sw-media-upload-button>
                {% endblock %}

            </template>
        {% endblock %}

        <template slot="content">
            {% block sw_media_catalog_page_content %}
                <div v-if="displayedItems.length > 0" class="sw-media-catalog__page-content">
                    {% block sw_media_catalog_content_container %}
                        <div class="sw-media-catalog__content-container">
                            {% block sw_media_catalog_content %}
                                <div class="sw-media-catalog__content">
                                    <div class="sw-media-catalog__options-container">

                                        {% block sw_media_catalog_presentation %}
                                        <sw-field type="select"
                                                  name="presentation"
                                                  :label="$tc('sw-media.catalog.labelPresentation')"
                                                  v-model="presentation">
                                            <template slot="options">
                                                {% block sw_media_catalog_presentation_options_small %}
                                                    <option value="small-preview">
                                                        {{ $tc('sw-media.catalog.labelPresentationSmall') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_presentation_options_medium %}
                                                    <option value="medium-preview">
                                                        {{ $tc('sw-media.catalog.labelPresentationMedium') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_presentation_options_large %}
                                                    <option value="large-preview">
                                                        {{ $tc('sw-media.catalog.labelPresentationLarge') }}
                                                    </option>
                                                {% endblock %}
                                            </template>
                                        </sw-field>
                                        {% endblock %}

                                        {% block sw_media_catalog_single_select_sort %}
                                            <sw-field type="select"
                                                      name="sortType"
                                                      :label=" $tc('sw-media.catalog.labelSort')"
                                                      value="createdAt:dsc"
                                                      @change="sortMediaItems">
                                                {% block sw_media_catalog_single_select_sort_createdAt_asc %}
                                                    <option slot="options"
                                                            value="createdAt:asc">
                                                        {{ $tc('sw-media.catalog.labelSortByCreatedAsc') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_single_select_sort_createdAt_dsc %}
                                                    <option slot="options"
                                                            value="createdAt:dsc" selected>
                                                        {{ $tc('sw-media.catalog.labelSortByCreatedDsc') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_single_select_sort_name_asc %}
                                                    <option slot="options"
                                                            value="fileName:asc">
                                                        {{ $tc('sw-media.catalog.labelSortByNameAsc') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_single_select_sort_name_dsc %}
                                                    <option slot="options"
                                                            value="fileName:dsc">
                                                        {{ $tc('sw-media.catalog.labelSortByNameDsc') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_single_select_sort_fileSize_asc %}
                                                    <option slot="options"
                                                            value="fileSize:asc">
                                                        {{ $tc('sw-media.catalog.labelSortBySizeAsc') }}
                                                    </option>
                                                {% endblock %}

                                                {% block sw_media_catalog_single_select_sort_fileSize_dsc %}
                                                    <option slot="options"
                                                            value="fileSize:dsc">
                                                        {{ $tc('sw-media.catalog.labelSortBySizeDsc') }}
                                                    </option>
                                                {% endblock %}
                                            </sw-field>
                                        {% endblock %}
                                    </div>

                                    <div class="sw-media-catalog__scroll-container">
                                        {% block sw_media_catalog_media_grid %}
                                        <sw-media-grid
                                                ref="mediaGrid"
                                                class="sw-media-catalog__media-grid"
                                                dragSelectorClass="sw-media-grid-media-item"
                                                :presentation="presentation"
                                                @sw-media-grid-selection-clear="clearSelection">

                                            <sw-media-grid-media-item
                                                    v-for="mediaItem in displayedItems"
                                                    :key="mediaItem.id"
                                                    :item="mediaItem"
                                                    :selected="showItemSelected(mediaItem)"
                                                    :showSelectionIndicator="isListSelect"
                                                    :isList="false"
                                                    @sw-media-grid-media-item-delete="handleMediaGridItemDelete"
                                                    v-on="mediaItemSelectionHandler">

                                                {% block sw_media_catalog_context_item_detail %}
                                                <sw-context-menu-item @click="showDetails(mediaItem)"
                                                                      slot="additional-context-menu-items">
                                                    {{ $tc('global.sw-media-grid-media-item.labelContextMenuDetail') }}
                                                </sw-context-menu-item>
                                                {% endblock %}
                                            </sw-media-grid-media-item>
                                        </sw-media-grid>
                                        {% endblock %}

                                        {% block sw_media_catalog_load_more %}
                                        <div class="sw-media-catalog__load-more">
                                            <sw-loader v-if="isLoadingMore" size="30" slot="load-more"></sw-loader>

                                            <sw-button v-else-if="itemsLeft" @click="onLoadMore">
                                                {{ $t('sw-media.catalog.labelLoadMore', {
                                                        count: (itemsLeft > limit) ? limit : itemsLeft
                                                    })
                                                }}
                                            </sw-button>
                                        </div>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sw_media_catalog_sidebar %}
                        <div class="sw-media-catalog__sidebar">
                            <sw-media-sidebar
                                :items="selectedItems"
                                @sw-media-sidebar-items-delete="handleMediaGridItemDelete"
                                ref="mediaSidebar">
                            </sw-media-sidebar>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block sw_media_catalog_list_grid_loader %}
                <sw-loader v-if="isLoading"></sw-loader>
            {% endblock %}

            {% block sw_media_catalog_empty_state %}
                <sw-empty-state v-else-if="!isLoading && displayedItems.length === 0" :title="$tc('sw-media.catalog.messageEmpty')"></sw-empty-state>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
