{% block sw_media_catalog %}
    <sw-page class="sw-media-catalog">
        <template slot="content">
            {% block sw_media_catalog_page_content %}
                <div class="sw-media-catalog__page-content">
                    {% block sw_media_catalog_content_container %}
                        <div class="sw-media-catalog__content-container">
                            {% block sw_media_catalog_content %}
                                <div class="sw-media-catalog__content">
                                    {% block sw_media_catalog_display_options_bar %}
                                        <div class="sw-media-catalog__display-options-bar">
                                        </div>
                                    {% endblock %}

                                    {% block sw_media_catalog_media_grid %}
                                        <sw-media-grid
                                            class="sw-media-catalog__media-grid"
                                            :previewType="previewType"
                                            previewComponent="sw-media-grid-media-item"
                                            :selectable="true"
                                            :editable="true"
                                            :items="mediaItems"
                                            ref="mediaGrid"
                                            v-on="mediaMediaGridListener">
                                        </sw-media-grid>
                                    {% endblock %}

                                    {% block sw_media_catalog_pagination %}
                                    <sw-pagination
                                        :page="page"
                                        :limit="limit"
                                        :total="total"
                                        @page-change="onPageChange">
                                    </sw-pagination>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sw_media_catalog_sidebar %}
                        <div class="sw-media-catalog__sidebar">
                            <sw-media-sidebar
                                    :item="lastSelectedItem"
                                    v-on="mediaSidebarListener"
                            ></sw-media-sidebar>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}