<sw-modal
    class="sw-flow-grant-download-access-modal"
    :title="$tc('sw-flow.modals.downloadAccess.titleSetDownloadAccess')"
    :closable="false"
    @modal-close="onClose"
>
    <div class="sw-flow-grant-download-access-modal__content">
        <sw-single-select
            v-model="value"
            class="sw-flow-grant-download-access-modal__value-field"
            required
            :label="$tc('sw-flow.modals.downloadAccess.labelValueField')"
            :placeholder="$tc('sw-flow.modals.downloadAccess.placeholderValueField')"
            :error="valueError"
            :options="valueOptions"
        />
    </div>

    <template #modal-footer>
        <sw-button
            class="sw-flow-grant-download-access-modal__cancel-button"
            size="small"
            @click="onClose"
        >
            {{ $tc('global.default.cancel') }}
        </sw-button>

        <sw-button
            class="sw-flow-grant-download-access-modal__save-button"
            variant="primary"
            size="small"
            @click="onSave"
        >
            {{ $tc('sw-flow.modals.buttonSaveAction') }}
        </sw-button>
    </template>
</sw-modal>
