{% block sw_select_option %}
    <li
        class="sw-single-select-option"
        :class="componentClasses"
        @mouseenter="onMouseEnter($event)"
        @click.stop="onClicked($event)">
        {% block sw_select_option_item_text_holder %}
            <span class="sw-single-select-option__result-item-text">
                 {% block sw_select_option_item_text %}
                     <slot></slot>
                 {% endblock %}
             </span>
        {% endblock %}

        {% block sw_select_option_item_icon_transition %}
            <transition name="sw-single-select-appear">
                {% block sw_select_option_item_icon %}
                    <sw-icon v-if="isSelected(item) && !selected || selected"
                             name="small-default-checkmark-line-medium"
                             size="16px">
                    </sw-icon>
                {% endblock %}
            </transition>
        {% endblock %}
    </li>
{% endblock %}
