{% block sw_gtc_checkbox %}
<div class="sw-gtc-checkbox">
    {% block sw_gtc_checkbox_input %}
    <sw-checkbox-field
        :value="value"
        @change="onChange"
    >
        <template #label>
            {% block sw_gtc_checkbox_input_label %}
            {{ $tc('global.sw-gtc-checkbox.label') }}

            {# @deprecated tag:v6.5.0 - CSS class "sw-gtc-checkbox__link" is deprecated, use "sw-external-link" instead #}
            {% block sw_gtc_checkbox_input_label_link %}
            <sw-external-link
                class="sw-gtc-checkbox__link"
                :href="$tc('global.sw-gtc-checkbox.url')"
            >
                {% block sw_gtc_checkbox_input_label_text %}
                {{ $tc('global.sw-gtc-checkbox.link') }}
                {% endblock %}

                {# @deprecated tag:v6.5.0 - Block will be removed completely #}
                {% block sw_gtc_checkbox_input_label_link_icon %}
                {% endblock %}
            </sw-external-link>
            {% endblock %}
            {% endblock %}
        </template>
    </sw-checkbox-field>
    {% endblock %}
</div>
{% endblock %}
