{% block sw_gtc_checkbox %}
<div class="sw-gtc-checkbox">
    {% block sw_gtc_checkbox_input %}
    <sw-checkbox-field
        :value="value"
        @change="onChange"
    >
        <template #label>
            {% block sw_gtc_checkbox_input_label %}
            {{ $tc('global.sw-gtc-checkbox.label') }}

            {% block sw_gtc_checkbox_input_label_link %}
            <a
                :href="$tc('global.sw-gtc-checkbox.url')"
                class="sw-gtc-checkbox__link"
                target="_blank"
            >

                {% block sw_gtc_checkbox_input_label_text %}
                {{ $tc('global.sw-gtc-checkbox.link') }}
                {% endblock %}

                {% block sw_gtc_checkbox_input_label_link_icon %}
                <sw-icon
                    class="sw-gtc-checkbox__icon"
                    name="small-arrow-small-external"
                />
                {% endblock %}
            </a>
            {% endblock %}
            {% endblock %}
        </template>
    </sw-checkbox-field>
    {% endblock %}
</div>
{% endblock %}
