<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_gtc_checkbox %}
<div class="sw-gtc-checkbox">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_gtc_checkbox_input %}
    <sw-checkbox-field
        :value="value"
        @change="onChange"
    >
        <template #label>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_gtc_checkbox_input_label %}
            {{ $tc('global.sw-gtc-checkbox.label') }}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_gtc_checkbox_input_label_link %}
            <sw-external-link
                class="sw-external-link"
                :href="$tc('global.sw-gtc-checkbox.url')"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_gtc_checkbox_input_label_text %}
                {{ $tc('global.sw-gtc-checkbox.link') }}
                {% endblock %}

            </sw-external-link>
            {% endblock %}
            {% endblock %}
        </template>
    </sw-checkbox-field>
    {% endblock %}
</div>
{% endblock %}
