{% block sw_cms_block_image_row_preview %}
    <div class="sw-cms-preview-image-row">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}
