{% block sw_dashboard_index_content_view %}
    <div class="swag-dashboard-extension">
        <h1>Hello World</h1>

        <swag-speech></swag-speech>

        {#<swag-extend-speech></swag-extend-speech>#}
    </div>
{% endblock %}