@import "~scss/variables";

$sw-order-state-card-neutral: var(--color-icon-secondary-default);
$sw-order-state-card-progress: var(--color-icon-brand-default);
$sw-order-state-card-danger: var(--color-icon-critical-default);
$sw-order-state-card-success: var(--color-icon-positive-default);
$sw-order-state-card-warning: var(--color-icon-attention-default);

.sw-order-state-history-card-entry {
    .sw-order-state-card__history-entry {
        display: block;
        padding-bottom: 4px;

        .sw-order-state-card__date {
            float: right;
            line-height: $line-height-md;
            font-size: $font-size-xxs;
        }

        .sw-order-state-card__text {
            padding: 0 4px 4px;
            position: absolute;
            line-height: 22px;
        }

        .sw-order-state__neutral-icon-bg {
            background: var(--color-background-tertiary-default);
        }

        .sw-order-state__progress-icon-bg {
            background: var(--color-background-brand-default);
        }

        .sw-order-state__danger-icon-bg {
            background: var(--color-background-critical-default);
        }

        .sw-order-state__warning-icon-bg {
            background: var(--color-background-attention-default);
        }

        .sw-order-state__success-icon-bg {
            background: var(--color-background-positive-default);
        }

        .sw-order-state__neutral-icon {
            color: $sw-order-state-card-neutral;
        }

        .sw-order-state__progress-icon {
            color: $sw-order-state-card-progress;
        }

        .sw-order-state__warning-icon {
            color: $sw-order-state-card-warning;
        }

        .sw-order-state__danger-icon {
            color: $sw-order-state-card-danger;
        }

        .sw-order-state__success-icon {
            color: $sw-order-state-card-success;
        }

        .icon--regular-chevron-down-xxs {
            padding: 4px;
        }
    }
}
