@import "~scss/variables";

$sw-order-state-card-neutral: $color-gray-700;
$sw-order-state-card-progress: $color-shopware-brand-500;
$sw-order-state-card-danger: $color-crimson-500;
$sw-order-state-card-success: $color-emerald-500;
$sw-order-state-card-warning: $color-pumpkin-spice-500;

.sw-order-state-history-card-entry {
    .sw-order-state-card__history-entry {
        display: block;
        padding-bottom: 4px;

        .sw-order-state-card__date {
            float: right;
            line-height: $line-height-md;
            font-size: $font-size-xxs;
        }

        .sw-order-state-card__text {
            padding: 0 4px 4px;
            position: absolute;
            line-height: 22px;
        }

        .sw-order-state__neutral-icon-bg {
            background: lighten($sw-order-state-card-neutral, 40%);
        }

        .sw-order-state__progress-icon-bg {
            background: lighten($sw-order-state-card-progress, 40%);
        }

        .sw-order-state__danger-icon-bg {
            background: lighten($sw-order-state-card-danger, 42%);
        }

        .sw-order-state__warning-icon-bg {
            background: lighten($sw-order-state-card-warning, 42%);
        }

        .sw-order-state__success-icon-bg {
            background: lighten($sw-order-state-card-success, 40%);
        }

        .sw-order-state__neutral-icon {
            color: $sw-order-state-card-neutral;
        }

        .sw-order-state__progress-icon {
            color: $sw-order-state-card-progress;
        }

        .sw-order-state__warning-icon {
            color: $sw-order-state-card-warning;
        }

        .sw-order-state__danger-icon {
            color: $sw-order-state-card-danger;
        }

        .sw-order-state__success-icon {
            color: $sw-order-state-card-success;
        }

        .icon--regular-chevron-down-xxs {
            padding: 4px;
        }
    }
}
