<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_text %}
<div class="sw-cms-block-text">
    <slot name="content">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_text_slot_text_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
