@import "~scss/variables";

.sw-cms-el-text {
    position: relative;

    .content-editor {
        h1, h2, h3, h4, h5, h6 {
            word-break: break-word;
        }

        &[contenteditable="true"] {
            border: 1px solid transparent;
            caret-color: $color-shopware-blue;
            outline: none;
        }
        &[contenteditable="true"]:hover {
            border: 1px dashed $color-steam-cloud;
        }
        &[contenteditable="true"]:focus,
        &[contenteditable="true"]:active {
            border: 1px solid $color-steam-cloud;
        }
    }

    .content-editor__toolbar {
        transform: translateY(-100%);
        position: absolute;
        top: 1px;
        left: 0;
        background: $color-light-gray;
        border: 1px solid $color-steam-cloud;

        button {
            padding: 6px 8px;
            color: $color-gutenberg;
            background: none;
            border: 0 none;
            text-align: center;
            line-height: 26px;
            cursor: pointer;
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            &:hover {
                color: $color-shopware-blue;
            }
        }
    }

    &.has--focus {
        .content-editor,
        .content-editor:hover {
            border: 1px solid $color-steam-cloud;
        }
    }
}