{% block sw_cms_element_text %}
    <div class="sw-cms-el-text">
        <sw-text-editor v-if="element.config.content.source === 'static'"
                        v-model="element.config.content.value"
                        :placeholder="element.data.content"
                        @blur="onBlur"
                        @input="onInput"
                        :isInlineEdit="true">
        </sw-text-editor>

        <div class="content-editor"
             v-html="demoValue"
             v-if="element.config.content.source === 'mapped'">
        </div>

    </div>
{% endblock %}