{% block sw_settings_tax_rule_modal %}
<sw-modal
    :title="$tc('sw-settings-tax.taxRuleCard.labelCountryName')"
    class="sw-settings-tax-rule-modal__settings-modal"
    @modal-close="$emit('modal-close')"
>
    {% block sw_settings_tax_rule_modal_form_first_row %}
    <sw-container
        columns="1fr 1fr"
        gap="0px 32px"
    >
        {% block sw_settings_tax_rule_modal_country_select %}
        <sw-entity-single-select
            v-model="taxRule.countryId"
            required
            :label="$tc('sw-settings-tax.taxRuleCard.labelCountryName')"
            :help-text="$tc('sw-settings-tax.taxRuleCard.tooltipCountries')"
            :error="taxRuleCountryIdError"
            entity="country"
        />
        {% endblock %}
        {% block sw_settings_tax_rule_modal_type_select %}
        <sw-entity-single-select
            v-model="taxRule.taxRuleTypeId"
            required
            :label="$tc('sw-settings-tax.taxRuleCard.labelAppliesOn')"
            label-property="typeName"
            :error="taxRuleTaxRuleTypeIdError"
            :criteria="taxRuleTypeCriteria"
            entity="tax_rule_type"
            @change="changeRuleType"
        />
        {% endblock %}
    </sw-container>
    {% endblock %}

    {% block sw_settings_tax_rule_modal_form_second_row %}
    <sw-container
        columns="1fr 1fr"
        gap="0 32px"
    >
        {% block sw_settings_tax_rule_modal_additional_component %}
        <component
            :is="additionalComponent"
            v-if="additionalComponent"
            :tax-rule="taxRule"
        />
        {% endblock %}

        {% block sw_settings_tax_rule_modal_tax_rate %}
        <sw-number-field
            v-model="taxRule.taxRate"
            required
            :error="taxRuleTaxRateError"
            :label="$tc('sw-settings-tax.taxRuleCard.labelTaxRate')"
        >
            <template #suffix>
                <span>
                    <span v-html="$sanitize($tc('sw-settings-tax.general.taxRateSymbol'))"></span>
                </span>
            </template>
        </sw-number-field>
        {% endblock %}
    </sw-container>
    {% endblock %}

    {% block sw_settings_tax_rule_modal_form_footer %}
    <template #modal-footer>
        {% block sw_settings_tax_rule_modal_form_footer_cancel %}
        <sw-button
            size="small"
            @click="$emit('modal-close')"
        >
            {{ $tc('sw-settings-tax.taxRuleCard.labelCancel') }}
        </sw-button>
        {% endblock %}

        {% block sw_settings_tax_rule_modal_form_footer_button_create %}
        <sw-button
            variant="primary"
            size="small"
            @click="onConfirm"
        >
            {{ $tc('sw-settings-tax.detail.buttonSave') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}
</sw-modal>
{% endblock %}
