{% block sw_base_field %}
    <div class="sw-field" :class="swFieldClasses">
        <div class="sw-field__label" v-if="hasLabel">
            <sw-inheritance-switch v-if="isInheritanceField"
                            :disabled="disableInheritanceToggle"
                            class="sw-field__inheritance-icon"
                            :isInherited="isInherited"
                            v-on="$listeners">
            </sw-inheritance-switch>

            <label v-if="label" :for="identification" :class="swFieldLabelClasses">
                {{ label }}
            </label>

            <sw-help-text class="sw-field__help-text" :text="helpText" v-if="helpText"></sw-help-text>
        </div>
        <slot name="sw-field-input" v-bind="{identification, error, disabled}"></slot>
        <sw-field-error :error="error"></sw-field-error>
    </div>
{% endblock %}
