@import "~scss/variables";
@import "~scss/mixins";

$sw-condition-base-color-primary: #6E8A97;
$sw-condition-base-color-primary-text: $color-white;
$sw-condition-base-color-background: $color-white;
$sw-condition-base-color-secondary: $color-white;
$sw-condition-base-color-secondary-text: #4D6989;
$sw-condition-base-color-border: #D6DDE5;
$sw-condition-base-font-size: 14px;
$sw-condition-base-z-index-arrow: 100;
$sw-condition-base-color-error: $color-crimson;

.sw-condition-base {
    background: none;

    .sw-condition-base__container {
        display: flex;
        width: 100%;
    }

    .sw-condition-base__base-field {
        background-color: $sw-condition-base-color-background;
        position: relative;
        line-height: 40px;
        padding-left: 6px;
        height: 40px;
        flex-shrink: 0;
        border-top: 1px solid $sw-condition-base-color-border;
        border-bottom: 1px solid $sw-condition-base-color-border;
    }

    .sw-field {
        margin-bottom: 0;
    }

    .field--select {
        @extend .sw-condition-base__base-field;
        width: 144px;
        border-top: 1px solid $sw-condition-base-color-border;
        border-bottom: 1px solid $sw-condition-base-color-border;
        padding-left: 0;

        .sw-select__inner {
            background: transparent;
            min-height: 40px;
            border: 0;
            padding-right: 24px;
            padding-top: 4px;

            .sw-select__single-selection {
                @include truncate();
            }

            .sw-select__indicators {
                top: 10px;
            }

            .sw-select__indicator .sw-icon {
                top: 12px;
                right: 5px;
                color: $sw-condition-base-color-primary-text;
            }

            .sw-select__results {
                top: calc(100% - 1px);
                left: 0;

                .sw-icon {
                    color: unset;
                }
            }
        }
    }

    .field--condition {
        @extend .field--select;
        background: $sw-condition-base-color-primary;
        color: $sw-condition-base-color-primary-text;
        width: 168px;
        height: 40px;
        border-top-color: $sw-condition-base-color-primary;
        border-bottom-color: $sw-condition-base-color-primary;
        padding-left: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        &.is--expanded {
            border-bottom-left-radius: 0;
        }

        .sw-select__indicator .sw-icon {
            color: $sw-condition-base-color-primary-text;
        }

        .sw-select__inner {
            .sw-select__results {
                border-color: $sw-condition-base-color-primary;
                color: $sw-condition-base-color-secondary-text;

                .sw-icon {
                    color: unset;
                }
            }
        }

        &:before {
            content: '';
            position: absolute;
            right: -5px;
            top: 0;
            width: 10px;
            height: 23px;
            background: $sw-condition-base-color-primary;
            z-index: $sw-condition-base-z-index-arrow;
            transform: rotate(-20deg);
            border-bottom-right-radius: 3px;
        }

        &:after {
            content: '';
            position: absolute;
            right: -5px;
            bottom: 0;
            width: 10px;
            height: 23px;
            background: $sw-condition-base-color-primary;
            z-index: $sw-condition-base-z-index-arrow;
            border-top-right-radius: 3px;
            transform: rotate(20deg);
        }
    }

    .has--arrow {
        &:before {
            content: '';
            position: absolute;
            right: -5px;
            top: -1px;
            width: 1px;
            height: 21px;
            background: $sw-condition-base-color-border;
            z-index: $sw-condition-base-z-index-arrow;
            transform: rotate(-20deg);
        }

        &:after {
            content: '';
            position: absolute;
            right: -5px;
            bottom: -1px;
            width: 1px;
            height: 21px;
            background: $sw-condition-base-color-border;
            z-index: $sw-condition-base-z-index-arrow;
            transform: rotate(20deg);
        }
    }

    .field--date {
        @extend .sw-condition-base__base-field;
        .sw-datepicker {
            width: 100%;
        }

        .sw-field__addition {
            display: none;
        }
    }

    .field--main {
        @extend .sw-condition-base__base-field;
        flex-grow: 1;
        flex-shrink: 1;

        &:not(.field--select):not(.field--multi) {
            padding-left: 20px;
        }
    }

    .field--switch {
        @extend .sw-condition-base__base-field;
    }

    .field--multi {
        @extend .sw-condition-base__base-field;
        height: auto;
        padding: 0;

        .sw-select__inner, .sw-tagged-field__inner {
            border: none;
            padding: 0 45px 0 13px;
            min-height: 38px;

            .sw-select__input, .sw-tagged-field__input {
                margin-top: 7px;
                margin-bottom: 7px;
                padding: 0 8px;
                line-height: 24px;
            }

            .sw-label {
                font-size: 14px;
                margin-top: 7px;
                margin-bottom: 7px;
                padding: 0 24px 0 8px;

                .sw-label__dismiss {
                    width: 24px;

                    .sw-icon {
                        height: 10px;
                        width: 10px;
                    }
                }
            }

            .sw-select__selection-item-input, .sw-tagged-field__tag-item-input {
                margin-bottom: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            left: 0;
            top: 38px;
            bottom: -1px;
            background-color: $sw-condition-base-color-border;
            z-index: $sw-condition-base-z-index-arrow;
        }
    }

    .field--actions {
        @extend .sw-condition-base__base-field;
        width: 40px;
        border: 1px solid $sw-condition-base-color-border;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        line-height: 38px;
        text-align: left;
        padding: 0 0;
        height: auto;
        cursor: pointer;

        .sw-context-button {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .sw-field input:disabled {
        background-color: $sw-condition-base-color-background;
    }

    .sw-field--switch {
        padding-left: 20px;
        padding-top: 12px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .sw-select__inner {
        border: none;
    }

    .sw-field__input {
        input, select {
            outline: none;
            box-shadow: none;
            border: 0 none;
            padding: 7px 0;
            background: $sw-condition-base-color-background;
            height: 38px;
        }

        input {
            &:active,
            &:focus {
                box-shadow: none;
            }
        }

        .sw-field__select select {
            padding-left: 10px;
            padding-right: 8px;

            &:active,
            &:focus {
                box-shadow: none;
            }
        }
    }

    .sw-condition-base__field {
        border: 0;
        background: none;
        color: $sw-condition-base-color-primary-text;
        font-size: $sw-condition-base-font-size;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .sw-context-button .sw-context-button__button {
        border: none;
    }

    &.has--error .sw-condition-base__container {
        .sw-field__addition {
            border: none;
            background: none;
            padding-top: 11px;
            padding-bottom: 0;
        }

        .field--condition {
            background-color: $sw-condition-base-color-error;

            &:before, &:after {
                background-color: $sw-condition-base-color-error;
            }
        }

        .field {
            border-top-color: $sw-condition-base-color-error;
            border-bottom-color: $sw-condition-base-color-error;
        }

        .has--arrow {
            &:before, &:after {
                background-color: $sw-condition-base-color-error;
            }
        }

        .field--actions {
            border-color: $sw-condition-base-color-error;
        }
    }

    .sw-condition-base__error-container {
        display: block;
        color: $sw-condition-base-color-error;
    }
}