{% block sw_condition %}
<div class="sw-condition-base" :class="[conditionClass, { 'has--error': hasErrors }]">
    <div class="sw-condition-base__container">
        {% block sw_condition_field_condition %}
            <sw-select :id="createId()"
                       itemValueKey="type"
                       displayName="label"
                       :store="conditionStore"
                       v-model="condition.type"
                       :required="true"
                       class="field--condition"
                       :title="$tc(getLabel(condition.type))"
                       @input="conditionChanged">
            </sw-select>
        {% endblock %}

        {% block sw_condition_fields %}
            <slot name="condition-fields">
                <sw-field type="text" class="field--main"
                          :placeholder="$tc('global.sw-condition.condition.placeholder-warning')"
                          :disabled="true">
                </sw-field>
            </slot>
        {% endblock %}

        {% block sw_condition_field_actions %}
            <div class="field field--actions">
                <sw-context-button>
                    <template slot="button">
                        <button class="sw-context-button__button">
                            <sw-icon name="small-more" decorative></sw-icon>
                        </button>
                    </template>
                    <sw-context-menu-item class="sw-rule-list__create-before-action" @click="$emit('create-before', condition)">
                        {{ $tc('global.sw-condition.condition.createBefore') }}
                    </sw-context-menu-item>
                    <sw-context-menu-item class="sw-rule-list__create-after-action" @click="$emit('create-after', condition)">
                        {{ $tc('global.sw-condition.condition.createAfter') }}
                    </sw-context-menu-item>
                    <sw-context-menu-item @click="$emit('delete-condition', condition)"
                                          :disabled="parentDisabledDelete"
                                          variant="danger">
                        {{ $tc('global.sw-condition.condition.delete') }}
                    </sw-context-menu-item>
                </sw-context-button>
            </div>
        {% endblock %}
    </div>
    {% block sw_condition_errors %}
        <div v-if="hasErrors" class="sw-condition-base__error-container">
            <div v-for="(error, fieldName) in formErrors">
                <span v-if="error.detail">
                    {{ fieldName }}: {{ error.detail }}
                </span>
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}
