@import "~scss/variables";

$sw-condition-base-color-primary: #6E8A97;
$sw-condition-base-color-primary-text: $color-white;
$sw-condition-base-color-background: $color-white;
$sw-condition-base-color-secondary: $color-white;
$sw-condition-base-color-secondary-text: #4D6989;
$sw-condition-base-color-border: #D6DDE5;
$sw-condition-base-font-size: 14px;
$sw-condition-base-z-index-arrow: 100;
$sw-condition-base-color-error: $color-crimson;

.sw-condition-base {
    background: none;

    .sw-condition-base__container {
        display: flex;
        width: 100%;
    }

    .field {
        background-color: $sw-condition-base-color-background;
        position: relative;
        line-height: 40px;
        padding-left: 6px;
        height: 40px;
        flex-shrink: 0;
        border-top: 1px solid $sw-condition-base-color-border;
        border-bottom: 1px solid $sw-condition-base-color-border;
    }

    .sw-field {
        margin-bottom: 0;
    }

    .field--select {
        width: 124px;
        border-top: 1px solid $sw-condition-base-color-border;
        border-bottom: 1px solid $sw-condition-base-color-border;

        .sw-field__select select {
            outline: none;
            box-shadow: none;
            border: 0;
            padding: 7px 0;
            background: $sw-condition-base-color-background;
            height: 38px;
        }

        &.field--condition {
            background: $sw-condition-base-color-primary;
            color: $sw-condition-base-color-primary-text;
            width: 168px;
            height: 40px;
            border-top-color: $sw-condition-base-color-primary;
            border-bottom-color: $sw-condition-base-color-primary;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding-right: 8px;

            .sw-field__select {
                .sw-icon {
                    color: $sw-condition-base-color-primary-text;
                }

                select {
                    background: transparent;
                    color: $sw-condition-base-color-primary-text;
                }
            }

            &:before {
                content: '';
                position: absolute;
                right: -5px;
                top: 0;
                width: 10px;
                height: 23px;
                background: $sw-condition-base-color-primary;
                z-index: $sw-condition-base-z-index-arrow;
                transform: rotate(-20deg);
                border-bottom-right-radius: 3px;
            }

            &:after {
                content: '';
                position: absolute;
                right: -5px;
                bottom: 0;
                width: 10px;
                height: 23px;
                background: $sw-condition-base-color-primary;
                z-index: $sw-condition-base-z-index-arrow;
                border-top-right-radius: 3px;
                transform: rotate(20deg);
            }
        }
    }

    .has--arrow {
        &:before {
            content: '';
            position: absolute;
            right: -5px;
            top: -1px;
            width: 1px;
            height: 21px;
            background: $sw-condition-base-color-border;
            z-index: $sw-condition-base-z-index-arrow;
            transform: rotate(-20deg);
        }

        &:after {
            content: '';
            position: absolute;
            right: -5px;
            bottom: -1px;
            width: 1px;
            height: 21px;
            background: $sw-condition-base-color-border;
            z-index: $sw-condition-base-z-index-arrow;
            transform: rotate(20deg);
        }
    }

    .field--date {
        .sw-datepicker {
            width: 100%;
        }

        .sw-field__addition {
            display: none;
        }
    }

    .field--main {
        flex-grow: 1;
        flex-shrink: 1;
        padding-left: 20px;
    }

    .field--multi {
        height: auto;
        padding: 0;

        .sw-select__inner, .sw-tagged-field__inner {
            border: none;
            padding: 0 45px 0 13px;
            min-height: 38px;

            .sw-select__input, .sw-tagged-field__input {
                margin-top: 7px;
                margin-bottom: 7px;
                padding: 0 8px;
                line-height: 24px;
            }

            .sw-label {
                font-size: 14px;
                margin-top: 7px;
                margin-bottom: 7px;
                padding: 0 24px 0 8px;

                .sw-label__dismiss {
                    width: 24px;

                    .sw-icon {
                        height: 10px;
                        width: 10px;
                    }
                }
            }

            .sw-select__selection-item-input, .sw-tagged-field__tag-item-input {
                margin-bottom: 0;
            }
        }

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            left: 0;
            top: 38px;
            bottom: -1px;
            background-color: $sw-condition-base-color-border;
            z-index: $sw-condition-base-z-index-arrow;
        }
    }

    .field--actions {
        width: 40px;
        border: 1px solid $sw-condition-base-color-border;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        line-height: 38px;
        text-align: left;
        padding: 0 0;
        height: auto;
        cursor: pointer;

        .sw-context-button {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .sw-field input:disabled {
        background-color: $sw-condition-base-color-background;
    }

    .sw-field--switch {
        padding-left: 20px;
        padding-top: 12px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .sw-select__inner {
        border: none;
    }

    .sw-field {
        input, select {
            outline: none;
            box-shadow: none;
            border: 0 none;
            padding: 7px 0;
            background: $sw-condition-base-color-background;
            height: 38px;
        }

        input {
            &:active,
            &:focus {
                box-shadow: none;
            }
        }

        .sw-field__select select {
            padding-left: 10px;
            padding-right: 8px;

            &:active,
            &:focus {
                box-shadow: none;
            }
        }
    }

    .sw-condition-base__field {
        border: 0;
        background: none;
        color: $sw-condition-base-color-primary-text;
        font-size: $sw-condition-base-font-size;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .sw-context-button .sw-context-button__button {
        border: none;
    }

    .sw-condition-base__field {
        border: 0;
        background: none;
        color: $sw-condition-base-color-primary-text;
        font-size: $sw-condition-base-font-size;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    &.has--error .sw-condition-base__container {
        .sw-field__addition {
            border: none;
            background: none;
            padding-top: 11px;
            padding-bottom: 0;
        }

        .field--condition {
            background-color: $sw-condition-base-color-error;

            &:before, &:after {
                background-color: $sw-condition-base-color-error;
            }
        }

        .field {
            border-top-color: $sw-condition-base-color-error;
            border-bottom-color: $sw-condition-base-color-error;
        }

        .has--arrow {
            &:before, &:after {
                background-color: $sw-condition-base-color-error;
            }
        }

        .field--actions {
            border-color: $sw-condition-base-color-error;
        }
    }

    .sw-condition-base__error-container {
        display: block;
        color: $sw-condition-base-color-error;
    }
}