{% block sw_sales_channel_google_website_verification %}
    <div class="sw-sales-channel-google-website-verification">
        {% block sw_sales_channel_google_store_verification_top %}

            <strong>{{ $tc('sw-sales-channel.modalGooglePrograms.step-5.titleCreateMerchant') }}</strong>
            <p class="sw-sales-channel-google-website-verification__description">
                {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textVerifyDescription') }}
                <br/>
                <sw-sales-channel-detail-protect-link
                    :href="$tc('sw-sales-channel.modalGooglePrograms.step-5.textClaimnWebsiteUrl')">
                    {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textLearnMore') }}
                </sw-sales-channel-detail-protect-link>
            </p>

            {% block sw_sales_channel_google_automatically_claimed_info %}
                <sw-alert
                    class="sw-sales-channel-google-website-verification__claim-info"
                    variant="info"
                    appearance="default">
                    {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textAutoClaimedInfo') }}
                </sw-alert>
            {% endblock %}

            {% block sw_sales_channel_google_website_verification_form %}

                {% block sw_sales_channel_google_website_url %}
                    <div class="sw-sales-channel-google-website-verification__form-container">
                        <sw-text-field
                            v-model="websisteUrl"
                            :label="$tc('sw-sales-channel.modalGooglePrograms.step-5.textWebsiteUrl')"
                            :placeholder="$tc('sw-sales-channel.modalGooglePrograms.step-5.textWebsitePlaceholder')">
                        </sw-text-field>
                        <sw-help-text
                            class="sw-sales-channel-google-website-verification__form-helptext"
                            :text="$tc('sw-sales-channel.modalGooglePrograms.step-5.textWebsiteTooltips')"
                            tooltipPosition="top">
                        </sw-help-text>
                    </div>
                {% endblock %}

                {% block sw_sales_channel_google_store_name %}
                    <div class="sw-sales-channel-google-website-verification__form-container">
                        <sw-text-field
                            v-model="storeName"
                            validation="required"
                            :label="$tc('sw-sales-channel.modalGooglePrograms.step-5.textStoreName')"
                            :placeholder="$tc('sw-sales-channel.modalGooglePrograms.step-5.textStoreNamePlaceholder')">
                        </sw-text-field>
                        <sw-help-text
                            class="sw-sales-channel-google-website-verification__form-helptext"
                            :text="$tc('sw-sales-channel.modalGooglePrograms.step-5.textStoreNameTooltips')"
                            tooltipPosition="top">
                        </sw-help-text>
                    </div>
                {% endblock %}

                {% block sw_sales_channel_google_store_location %}
                    <sw-entity-single-select
                        v-model="businessLocation"
                        class="sw-sales-channel-detail__select-footer-category-id"
                        :label="$tc('sw-sales-channel.modalGooglePrograms.step-5.textBusinessLocation')"
                        entity="country">
                    </sw-entity-single-select>
                {% endblock %}

                {% block sw_sales_channel_google_terms_agree_checkbox %}
                    <div class="sw-sales-channel-google-website-verification__adult-checkbox">
                        <sw-checkbox-field
                            v-model="hasAdultContent"
                            :label="$tc('sw-sales-channel.modalGooglePrograms.step-5.textShopContain')">
                        </sw-checkbox-field>
                        <sw-sales-channel-detail-protect-link
                            class="sw-sales-channel-google-website-verification__adult-checkbox-link"
                            :href="$tc('sw-sales-channel.modalGooglePrograms.step-5.textAdultPolicyUrl')">
                            {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textAdultContent') }}
                        </sw-sales-channel-detail-protect-link>
                    </div>
                {% endblock %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
