<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_rating_stars %}
<div
    class="sw-extension-rating-stars"
    :class="editableClass"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_rating_stars_wrapper %}
    <div class="sw-extension-rating-stars__wrapper">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_rating_stars_wrapper_stars %}
        <button
            v-for="(ratingValue, key) in maxRating"
            :key="key"
            :disabled="!editable"
            class="sw-extension-rating-stars__star"
            :class="colorClass(key + 1)"
            @click="addRating(key)"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_rating_stars_wrapper_stars_full_star %}
            <sw-icon
                name="solid-star"
                :style="starSize"
            />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_rating_stars_wrapper_stars_partial_star %}
            <span
                v-if="showPartialStar(key)"
                class="sw-extension-rating-stars__partial-star"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_extension_rating_stars_wrapper_stars_partial_star_wrapper %}
                <span
                    class="sw-extension-rating-stars__partial-star-wrapper"
                    :style="{ width: partialStarWidth }"
                >
                    <sw-icon
                        name="solid-star"
                        :size="partialStarSize"
                    />
                </span>
                {% endblock %}
            </span>
            {% endblock %}
        </button>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
