<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_el_preview_html %}
    <div class="sw-cms-el-preview-html">
        <sw-code-editor
            v-model:value="demoValue"
            :disabled="true"
            :editor-config="editorConfig"
        />
    </div>
{% endblock %}
