{% block sw_order_product_select %}
    <span class="sw-order-product-select">
        {% block sw_order_product_select_blank_item%}
            <sw-text-field v-if="isShownItemLabelInput"
                      v-model="item.label"
                      size="small"
                      :placeholder="$tc('sw-order.detailBase.columnProductName')">
            </sw-text-field>
        {% endblock %}

        {% block sw_order_product_select_existing_product %}
            <sw-entity-single-select class="sw-order-product-select__single-select"
                                     v-else-if="isShownProductSelect"
                                     :context="contextWithInheritance"
                                     v-model="product"
                                     entity="product"
                                     @change="onItemChanged"
                                     size="small">
            </sw-entity-single-select>
        {% endblock %}

        {% block sw_order_product_show_product %}
            <template v-else>
                {{ item.label }}
            </template>
        {% endblock %}
    </span>
{% endblock %}
