.sw-order-product-select {
    width: 100%;

    &__label {
        padding: 0 var(--scale-size-8);
    }

    .sw-entity-single-select__selection {
        white-space: nowrap;
    }

    .sw-entity-single-select__selection-text {
        width: 100%;
        padding-right: var(--scale-size-16);
    }
}
