{% sw_extends '@Storefront/component/checkout/_item/product-offcanvas.html.twig' %}

{% block component_offcanvas_product_image_inner %}
    <div class="cart-item-promotion-icon">
        {% sw_icon 'marketing' %}
    </div>
{% endblock %}

{% block component_offcanvas_product_label %}
    <div class="cart-item-details">
        <div class="cart-item-label">
            {{ lineItem.quantity }}{{ "checkout.quantityTimes"|trans }} {{ lineItem.label|truncate(60) }}
        </div>
    </div>
{% endblock %}
