<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_document_order_inline_field %}
<div class="sw-order-inline-field">

    <slot v-if="editable">
        <sw-confirm-field
            :value="value"
            :required="required"
            @input="onInput"
        />
    </slot>
    <span v-else>
        {{ displayValue }}
    </span>
</div>
{% endblock %}
