.sw-button.sw-button--square.sw-data-grid-settings__trigger {
    width: 32px;
}

.sw-data-grid-settings {
    .sw-data-grid__settings-container {
        padding: 10px;
    }

    .sw_context_menu_divider {
        margin-bottom: 8px;
    }

    .sw-data-grid__settings-column-item {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .sw-data-grid__settings-column-item-controls {
            margin-left: auto;
            flex-shrink: 0;
        }
    }

    .sw-field.sw-field--switch {
        margin-top: 0;
    }

    .sw-field--checkbox,
    .sw-field--switch {
        margin-bottom: 5px;

        &:last-child,
        label {
            margin-bottom: 0;
        }
    }

    .columns-list-move {
       transition: transform .2s ease-in-out;
    }
}
