{% block sw_admin_menu_item %}
<li
    v-if="showMenuItem"
    class="sw-admin-menu__navigation-list-item"
    :class="getElementClasses(entry.id || entryPath)"
    :style="{ 'border-color': borderColor }"
    @click.prevent="$emit('menu-item-click', entry, $event.target)"
    @mouseenter="$emit('menu-item-enter', entry, $event, parentEntries)"
>

    {% block sw_admin_menu_item_router_link %}
    <router-link
        v-if="entryPath"
        class="sw-admin-menu__navigation-link"
        :class="{'router-link-active': subIsActive(entryPath)}"
        :to="getLinkToProp"
    >

        {% block sw_admin_menu_item_icon %}
        <sw-icon
            v-if="displayIcon"
            :size="iconSize"
            class="sw-admin-menu__navigation-link-icon"
            :name="getIconName(entry.icon)"
            :style="{ 'color': entry.color }"
        />
        {% endblock %}

        {% block sw_admin_menu_item_text %}
        <span
            class="sw-admin-menu__navigation-link-label"
            :class="collapsibleText ? 'collapsible-text' : ''"
        >
            {{ getEntryLabel }}
        </span>
        {% endblock %}

        {% block sw_admin_menu_item_arrow_indicato %}
        <sw-icon
            v-if="entry.level > 1 && entry.children.length"
            name="default-arrow-head-right"
            size="8"
            class="sw-admin-menu__navigation-link-icon-arrow"
        />
        {% endblock %}

        <slot name="additional-text"></slot>
    </router-link>
    {% endblock %}

    {% block sw_admin_menu_item_external_link %}
    <a
        v-else-if="entry.link"
        :href="entry.link"
        :target="entry.target"
        :title="$tc(entry.label)"
        class="sw-admin-menu__navigation-link"
    >

        {% block sw_admin_menu_item_external_icon %}
        <sw-icon
            v-if="displayIcon"
            :size="iconSize"
            class="sw-admin-menu__navigation-link-icon"
            :name="getIconName(entry.icon)"
            :style="{ 'color': entry.color }"
        />
        {% endblock %}

        {% block sw_admin_menu_item_external_text %}
        <span
            class="sw-admin-menu__navigation-link-label"
            :class="collapsibleText ? 'collapsible-text' : ''"
        >
            {{ getEntryLabel }}
        </span>
        {% endblock %}

        {% block sw_admin_menu_item_external_arrow_indicato %}
        <sw-icon
            v-if="entry.level > 1 && entry.children.length"
            name="default-arrow-head-right"
            size="8"
            class="sw-admin-menu__navigation-link-icon-arrow"
        />
        {% endblock %}

        <slot name="additional-text"></slot>
    </a>
    {% endblock %}

    {% block sw_admin_menu_item_navigation_link %}
    <span
        v-else
        class="sw-admin-menu__navigation-link"
        :class="{ 'router-link-active': subIsActive(entry.id) }"
    >

        {% block sw_admin_menu_item_navigation_icon %}
        <sw-icon
            v-if="displayIcon"
            :size="iconSize"
            class="sw-admin-menu__navigation-link-icon"
            :name="getIconName(entry.icon)"
            :style="{ 'color': entry.color }"
        />
        {% endblock %}

        {% block sw_admin_menu_item_navigation_text %}
        <span
            class="sw-admin-menu__navigation-link-label"
            :class="collapsibleText ? 'collapsible-text' : ''"
        >
            {{ getEntryLabel }}
        </span>
        {% endblock %}

        <slot name="additional-text"></slot>

        {% block sw_admin_menu_item_arrow_indicator %}
        <sw-icon
            v-if="entry.level > 1 && entry.children.length"
            name="default-arrow-head-right"
            size="8"
            class="sw-admin-menu__navigation-link-icon-arrow"
        />
        {% endblock %}
    </span>
    {% endblock %}

    {% block sw_sidebar_sub_items_list %}
    <ul
        v-if="children.length > 0"
        class="sw-admin-menu__sub-navigation-list"
    >
        <template v-for="entry in children">
            <li
                v-if="isFirstPluginInMenuEntries(entry, children)"
                :key="getCustomKey(entry.id || entryPath + '-separator')"
                :style="{ 'border-color': borderColor }"
                class="sw-admin-menu__separator"
            >
                <span class="sw-admin-menu__separator-line"></span>
            </li>

            <sw-admin-menu-item
                :key="getCustomKey(entry.id || entryPath)"
                :entry="entry"
                :border-color="borderColor"
                :display-icon="false"
                @menu-item-enter="onSubMenuItemEnter"
            />
        </template>
    </ul>
    {% endblock %}
</li>
{% endblock %}
