{% block sw_settings_country_sidebar %}
<sw-sidebar
    class="sw-settings-country-sidebar"
    :class="{'is--disabled': disabled}"
>
    {% block sw_settings_country_sidebar_inner_variables %}
    <sw-sidebar-item
        ref="countrySidebar"
        icon="default-text-code"
        class="sw-settings-country-sidebar__show-available-variables"
        :title="$tc('sw-settings-country.detail.sidebar.titleShowAvailableVariables')"
        :disabled="isLoading"
    >
        {% block sw_settings_country_sidebar_inner_variables_list %}
        <div
            v-for="(item, index) in variables"
            :key="index"
            class="sw-settings-country-sidebar__variable-item"
        >
            {{ item }}

            <sw-icon
                v-tooltip="{
                    message: $tc('sw-settings-country.detail.sidebar.copyTooltip'),
                    width: 150,
                    position: 'bottom'
                }"
                name="small-copy"
                small
                class="sw-settings-country-sidebar__copy-icon"
                @click="onCopyVariable(item)"
            />
        </div>
        {% endblock %}
    </sw-sidebar-item>
    {% endblock %}

    {% block sw_settings_country_sidebar_inner_preview %}
    <sw-sidebar-item
        ref="countrySidebar"
        class="sw-settings-country-sidebar__show-preview"
        icon="default-eye-open"
        :title="$tc('sw-settings-country.detail.sidebar.titleShowPreview')"
        :disabled="isLoading"
    >
        {% block sw_settings_country_sidebar_customer_selection %}
        <sw-entity-single-select
            v-model="customerId"
            class="sw-settings-country-sidebar__customer-select"
            :label="$tc('sw-settings-country.detail.sidebar.labelCustomer')"
            :placeholder="$tc('sw-settings-country.detail.sidebar.placeholderSelectCustomer')"
            entity="customer"
            show-clearable-button
            :criteria="customerCriteria"
            :label-callback="getCustomerLabel"
            @change="onChangeCustomer"
        />
        {% endblock %}

        {% block sw_settings_country_sidebar_customer_info %}
        <div v-if="customerId">
            {% block sw_settings_country_sidebar_customer_info_button_preview %}
            <sw-button
                class="sw-settings-country-sidebar__preview-button"
                @click="onClickShowPreview"
            >
                {{ $tc('sw-settings-country.detail.sidebar.buttonPreview') }}
            </sw-button>
            {% endblock %}

            {% block sw_settings_country_sidebar_customer_info_variable_list %}
            <div
                v-for="key in Object.keys(previewData)"
                :key="key"
                class="sw-settings-country-sidebar__customer-variable"
            >
                {% block sw_settings_country_sidebar_customer_info_variable_property %}
                <span class="sw-settings-country-sidebar__customer-property">{{ key }}</span>
                {% endblock %}

                {% block sw_settings_country_sidebar_customer_info_variable_value %}
                <span class="sw-settings-country-sidebar__customer-value">{{ previewData[key] }}</span>
                {% endblock %}
            </div>
            {% endblock %}

        </div>
        {% endblock %}
    </sw-sidebar-item>
    {% endblock %}
</sw-sidebar>
{% endblock %}
