@import "~scss/variables";

.sw-plugin-box {
    .sw-plugin-box__container {
        border: 1px solid var(--color-border-secondary-default);
        border-radius: $border-radius-default;
        padding: 8px 16px;
        margin-bottom: 22px;

        .sw-container {
            grid-template-columns: 48px 1fr;
            gap: 0 10px;

            &.has--no-icon {
                grid-template-columns: 1fr;
                gap: 0;
            }
        }

        .sw-plugin-box__icon {
            height: 48px;
            width: 48px;
        }

        .sw-plugin-box__description {
            margin: auto 0;

            .sw-plugin-box__label {
                font-size: var(--font-size-xs);
                font-weight: var(--font-weight-semibold);
                line-height: var(--font-size-xs);
                margin-bottom: 2px;
            }

            .sw-plugin-box__author {
                font-size: 12px;
                color: var(--color-text-secondary-default);
                line-height: 12px;
            }
        }

        .sw-plugin-box__button {
            margin: auto 0 auto auto;
        }
    }
}
