.sw-customer-detail-addresses {
    .sw-field--radio .sw-field__radio-option {
        margin-bottom: 0;
        width: var(--scale-size-16);
    }

    .mt-card__toolbar {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}
