.sw-settings-customer-group-detail {
    .sw-settings-customer-group-detail__price-separator {
        width: 100%;
        margin: 24px 0;
        border: 0;
        border-top: 1px solid var(--color-border-primary-default);
    }

    .sw-settings-customer-group-detail__registration-form-switch {
        margin-top: 0;
        margin-bottom: 0;
    }

    .sw-settings-customer-group-detail-content-registration-card__info-text {
        margin-bottom: 36px;
    }

    .sw-settings-customer-group-detail__urlGenerateContainer {
        margin-bottom: 20px;
    }
}
