<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_category_navigation_preview %}
<div class="sw-cms-preview-category-navigation">
    <div class="sw-cms-block-category-placeholder-listing">
        <h2>{{ $tc('sw-cms.blocks.sidebar.categoryNavigation.preview.label.navigation') }}</h2>
        <hr>
        <div class="sw-cms-block-category-navigation__placeholder"></div>
        <hr>
        <div class="sw-cms-block-category-navigation__placeholder"></div>
        <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
        <hr>
    </div>
</div>
{% endblock %}
