.sw-settings-payment-detail {
    .sw-field.sw-field--checkbox {
        align-self: center;
        margin: 0;
    }

    .sw-settings-payment-detail__description textarea {
        min-height: 148px;
    }
}