.sw-extension-my-extensions-listing-controls {
    display: flex;
    margin-top: -16px;
}

.sw-field--switch.sw-extension-my-extensions-listing-controls__active-filter-switch {
    margin: 0 auto 0 32px;
}

.sw-field.sw-extension-my-extensions-listing-controls__sorting-dropdown {
    width: auto;
    display: inline-block;
}
