{% block sw_cms_block_image_four_column %}
<div class="sw-cms-block-image-four-column">
    <slot name="left" />
    <slot name="center-left" />
    <slot name="center-right" />
    <slot name="right" />
</div>
{% endblock %}