<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_form_field_renderer %}
<component
    :is="componentName"
    v-if="!config.hidden"
    v-bind="bind"
    ref="component"
    {% if VUE3 %}
    v-model:value="currentValue"
    {% else %}
    v-model="currentValue"
    {% endif %}
    class="sw-form-field-renderer"
    @change="$emit('change', $event)"
    {% if VUE3 %}
    @update:value="emitChange"
    @update:ids="emitChange"
    {% endif %}
    @input="emitUpdate"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_form_field_renderer_inner %}
    {% parent %}

    <template
        v-if="suffixLabel"
        #suffix
    >
        <span>{{ suffixLabel }}</span>
    </template>
    {% endblock %}
</component>
{% endblock %}
