<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_search_view_live_search_keyword %}
<div class="sw-settings-search-live-search-keyword">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_search_view_live_search_keyword_highlight %}
    <span
        v-for="(keyword, i) in parsedMsg"
        :key="i"
        :class="getClass(i%2)"
    >{{ keyword }}</span>
    {% endblock %}

</div>
{% endblock %}
