{% block sw_settings_list %}
{% block sw_settings_tax_index %}
<sw-page class="sw-settings-tax-list">
    {% block sw_settings_tax_list_search_bar %}
    <template slot="search-bar">
        <sw-search-bar
            initial-search-type="tax"
            :placeholder="$tc('sw-settings-tax.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_settings_tax_list_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block sw_settings_tax_list_smart_bar_header_title %}
        <h2>
            {% block sw_settings_tax_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }} <sw-icon
                name="small-arrow-medium-right"
                small
            /> {{ $tc('sw-settings-tax.list.textHeadline') }}
            {% endblock %}

            {% block sw_settings_tax_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_tax_list_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block sw_settings_tax_list_smart_bar_actions_add %}
        <sw-button
            v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('tax.creator'),
                showOnDisabledElements: true
            }"
            class="sw-settings-tax-list__button-create"
            variant="primary"
            :disabled="!acl.can('tax.creator')"
            :router-link="{ name: 'sw.settings.tax.create' }"
        >
            {{ $tc('sw-settings-tax.list.buttonAddTax') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_tax_list_content %}
    <sw-card-view slot="content">
        {% block sw_settings_tax_list_content_card %}
        <sw-card
            v-if="tax"
            :is-loading="isLoading"
        >
            <template #grid>
                {% block sw_settings_tax_list_grid %}
                <sw-entity-listing
                    ref="swSettingsTaxGrid"
                    class="sw-settings-tax-list-grid"
                    detail-route="sw.settings.tax.detail"
                    :items="tax"
                    :columns="getTaxColumns()"
                    :repository="taxRepository"
                    :full-page="false"
                    :show-selection="false"
                    :is-loading="isLoading"
                    :allow-view="acl.can('tax.viewer')"
                    :allow-edit="acl.can('tax.editor')"
                    :allow-inline-edit="acl.can('tax.editor')"
                    :allow-delete="acl.can('tax.deleter')"
                    :disable-data-fetching="true"
                    :sort-by="sortBy"
                    :sort-direction="sortDirection"
                    @column-sort="onSortColumn"
                    @page-change="onPageChange"
                    @inline-edit-save="onInlineEditSave"
                >
                    {% block sw_settings_tax_list_grid_column_default_name %}
                    <template #column-name="{ item, column, isInlineEdit, compact }">
                        {# if it is not a default tax, the default slot content will be rendered #}
                        <router-link
                            v-if="isShopwareDefaultTax(item)"
                            class="sw-data-grid__cell-value"
                            :to="{ name: column.routerLink, params: { id: item.id } }"
                        >
                            {{ getLabel(item) }}
                        </router-link>
                    </template>
                    {% endblock %}

                    {% block sw_settings_tax_list_grid_column_default_tax_rate %}
                    <template #column-taxRate="{ item, isInlineEdit, compact }">
                        <template v-if="isInlineEdit">
                            <sw-number-field
                                v-model="item.taxRate"
                                :size="compact ? 'small' : 'default'"
                            >
                                <template #suffix>
                                    <span>
                                        <span v-html="$sanitize($tc('sw-settings-tax.general.taxRateSymbol'))"></span>
                                    </span>
                                </template>
                            </sw-number-field>
                        </template>
                        <template v-else>
                            {{ item.taxRate }}%
                        </template>
                    </template>
                    {% endblock %}

                    {% block sw_settings_tax_list_grid_columns_actions %}
                    <template #actions="{ item }">
                        {% block sw_settings_tax_list_grid_columns_actions_edit %}
                        <sw-context-menu-item
                            class="sw-tax-list__edit-action"
                            :disabled="!acl.can('tax.editor')"
                            :router-link="{
                                name: 'sw.settings.tax.detail',
                                params: { id: item.id, edit: 'edit' }
                            }"
                        >
                            {{ $tc('sw-settings-tax.list.contextMenuEdit') }}
                        </sw-context-menu-item>
                        {% endblock %}

                        {% block sw_settings_tax_list_grid_columns_actions_delete %}
                        <sw-context-menu-item
                            class="sw-tax-list__delete-action"
                            variant="danger"
                            :disabled="!acl.can('tax.deleter')"
                            @click="onDelete(item.id)"
                        >
                            {{ $tc('sw-settings-tax.list.contextMenuDelete') }}
                        </sw-context-menu-item>
                        {% endblock %}
                    </template>
                    {% endblock %}

                    {% block sw_settings_tax_list_grid_action_modals %}
                    <template #action-modals="{ item }">
                        {% block sw_settings_tax_list_delete_modal %}
                        <sw-modal
                            v-if="showDeleteModal === item.id"
                            :title="$tc('global.default.warning')"
                            variant="small"
                            @modal-close="onCloseDeleteModal"
                        >
                            {% block sw_settings_tax_list_delete_modal_confirm_delete_text %}
                            <p class="sw-settings-tax-list__confirm-delete-text">
                                {{ $tc('sw-settings-tax.list.textDeleteConfirm', 0, { name: item.name }) }}
                            </p>
                            {% endblock %}

                            {% block sw_settings_tax_list_delete_modal_footer %}
                            <template #modal-footer>
                                {% block sw_settings_tax_list_delete_modal_cancel %}
                                <sw-button
                                    size="small"
                                    @click="onCloseDeleteModal"
                                >
                                    {{ $tc('sw-settings-tax.list.buttonCancel') }}
                                </sw-button>
                                {% endblock %}

                                {% block sw_settings_tax_list_delete_modal_confirm %}
                                <sw-button
                                    variant="danger"
                                    size="small"
                                    @click="onConfirmDelete(item.id)"
                                >
                                    {{ $tc('sw-settings-tax.list.buttonDelete') }}
                                </sw-button>
                                {% endblock %}
                            </template>
                            {% endblock %}
                        </sw-modal>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </sw-entity-listing>
                {% endblock %}
            </template>
        </sw-card>
        {% endblock %}
    </sw-card-view>
    {% endblock %}
</sw-page>
    {% endblock %}
{% endblock %}
