<aside class="sw--sidebar is--collapsed">
    <div class="sidebar--logo">
        <div class="shopware--logo"></div>
        <div class="logo--text">Admin Prototype<br><span class="text--suffix">Shopware Administration</span></div>
    </div>

    <nav class="main-navigation">
        <ul class="nav">
            <li v-for="entry, routeName in mainMenuEntries" class="nav--link">
                <router-link :to="{ name: routeName }">
                    <i :class="getIconName(entry.icon)" :style="{ 'color': entry.color }"></i>
                    {{ entry.name }}
                </router-link>
            </li>
        </ul>
    </nav>
</aside>