<aside class="sw--sidebar is--collapsed">
    <div class="sidebar--logo">
        <div class="shopware--logo"></div>
        <div class="logo--text">Admin Prototype<br><span class="text--suffix">Shopware Administration</span></div>
    </div>

    <nav class="main-navigation">
        <ul class="nav">
            <sw-sidebar-item v-for="entry in mainMenuEntries" :entry="entry" :key="entry.path"></sw-sidebar-item>
        </ul>
    </nav>

    <nav class="account-navigation">
        <li>
            <a href="#" v-on:click.prevent="onLogoutUser">
                Logout current user
            </a>
        </li>
    </nav>
</aside>