{% block sw_sidebar %}
    <aside class="sw-sidebar"
           :class="isExpanded ? 'is--expanded' : 'is--collapsed'"
           :aria-expanded="isExpanded ? 'true' : 'false'">

        {% block sw_sidebar_header %}
            <div class="sw-sidebar__header">

                {% block sw_sidebar_header_logo %}
                    <div class="sw-sidebar__header-logo" role="img"></div>
                {% endblock %}

                {% block sw_sidebar_header_shop_attributes %}
                    <div class="sw-sidebar__header-shop-attributes collapsible-text">

                        {% block sw_sidebar_header_shop_name %}
                            <h1 class="sw-sidebar__header-shop-name">
                                Admin Prototype
                            </h1>
                        {% endblock %}

                        {% block sw_sidebar_header_shop_version %}
                            <div class="sw-sidebar__header-shop-version">
                                Shopware Administration
                            </div>
                        {% endblock %}

                        {% block sw_sidebar_header_shop_status %}
                            <span class="sw-sidebar__shop-status"
                                  data-tooltip="check"
                                  title="Shop status: OK">
                            </span>
                        {% endblock %}

                    </div>
               {% endblock %}

            </div>
        {% endblock %}

        {% block sw_sidebar_body %}
            <div class="sw-sidebar__body">

                {% block sw_sidebar_navigation_main %}
                    <nav class="sw-sidebar__navigation">

                        {% block sw_sidebar_navigation_main_list %}
                            <ul class="sw-sidebar__navigation-list">

                                {% block sw_sidebar_navigation_main_items %}
                                    <sw-sidebar-item v-for="entry in mainMenuEntries"
                                                     v-on:menuItemChanged="openFlyout"
                                                     v-on:listItemClicked="openSubMenu"
                                                     :sidebarExpanded="isExpanded"
                                                     :entry="entry"
                                                     :key="entry.path"
                                                     :class="entry.label">
                                    </sw-sidebar-item>
                                {% endblock %}

                            </ul>
                        {% endblock %}

                    </nav>
                {% endblock %}

            </div>
        {% endblock %}

        {% block sw_sidebar_footer %}
            <div class="sw-sidebar__footer">

                {% block sw_sidebar_toggle_sidebar %}
                    <button class="sw-sidebar__toggle" @click="onToggleSidebar">

                        {% block sw_sidebar_toggle_sidebar_icon %}
                            <sw-icon :name="sidebarCollapseIcon" small></sw-icon>
                        {% endblock %}

                        {% block sw_sidebar_toggle_sidebar_text %}
                            <span class="collapsible-text">Menü minimieren</span>
                        {% endblock %}

                    </button>
                {% endblock %}

                {% block sw_sidebar_user_actions_toggle %}
                    <div class="sw-sidebar__user-actions-toggle"
                         :class="{'is--active': isUserActionsActive}"
                         @click="onToggleUserActions"
                         @mouseenter="openUserActions">

                        {% block sw_sidebar_user_actions_avatar %}
                            <sw-avatar class="sw-sidebar__avatar"></sw-avatar>
                        {% endblock %}

                        {% block sw_sidebar_user_actions_attributes %}
                            <div class="sw-sidebar__user-attributes collapsible-text">
                                <div class="sw-sidebar__user-name">admin</div>
                                <div class="sw-sidebar__user-type">Administrator</div>

                                {% block sw_sidebar_user_actions_toggle_icon %}
                                    <sw-icon :name="userActionsToggleIcon" class="sw-sidebar__user-actions-indicator" small></sw-icon>
                                {% endblock %}

                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_sidebar_user_actions %}
                    <div class="sw-sidebar__user-actions"
                         :class="{'is--active': isUserActionsActive}"
                         @mouseleave="closeUserActions">

                        {% block sw_sidebar_user_actions_label %}
                            <div v-if="!isExpanded" class="sw-sidebar__user-actions-label">
                                admin
                            </div>
                        {% endblock %}

                        {% block sw_sidebar_user_actions_list %}
                            <ul class="sw-sidebar__navigation-list">

                                {% block sw_sidebar_user_actions_items %}
                                    <li class="sw-sidebar__navigation-list-item">
                                        <a href="#" class="sw-sidebar__navigation-link" @click.prevent="onLogoutUser">
                                            <sw-icon class="sw-sidebar__navigation-link-icon"
                                                     name="default-action-log-out"
                                                     small>
                                            </sw-icon>
                                            Logout
                                        </a>
                                    </li>
                                {% endblock %}

                            </ul>
                        {% endblock %}

                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_sidebar_flyout %}
            <template v-if="!isExpanded && flyoutEntries.length">
                <div class="sw-sidebar__flyout" :style="flyoutStyle" @mouseleave="closeFlyout">

                    {% block sw_sidebar_flyout_label %}
                        <div class="sw-sidebar__flyout-label">
                            {{ flyoutLabel }}
                        </div>
                    {% endblock %}

                    {% block sw_sidebar_flyout_list %}
                        <ul v-if="flyoutEntries" class="sw-sidebar__flyout-list">
                            <sw-sidebar-item v-for="entry in flyoutEntries"
                                             :entry="entry"
                                             :key="entry.path"
                                             :collapsibleText="false"
                                             :displayIcon="false">
                            </sw-sidebar-item>
                        </ul>
                    {% endblock %}
                </div>
            </template>
        {% endblock %}

    </aside>
{% endblock %}
