<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_snippet_field %}
<div class="sw-snippet-field">
    <sw-field
        v-bind="$attrs"
        :value="textValue"
        :type="fieldType"
        disabled
    />

    <sw-loader
        v-if="isLoading"
        size="16px"
    />
    <sw-icon
        v-else
        v-tooltip="{
            message: $tc('global.sw-snippet-field.tooltip'),
        }"
        class="sw-snippet-field__icon"
        name="regular-globe-stand"
        small
        @click="openEditModal()"
    />

    <sw-snippet-field-edit-modal
        v-if="showEditModal"
        :snippets="snippets"
        :snippet-sets="snippetSets"
        :translation-key="snippet"
        :field-type="fieldType"
        @modal-close="closeEditModal"
        @save="onSave"
    />
</div>
{% endblock %}
