.account-widget-login {
    padding: $spacer 0;
}

.account-widget-register {
    text-align: center;
}

.js-account-widget-dropdown {
    &.show {
        display: none;
    }
}

.account-widget-dropdown {
    padding: $spacer-sm $spacer;
    width: 200px;
    font-size: $font-size-base;

    .account-sidebar-footer {
        background: none;
        padding: $spacer-xs 0;
    }
}

.account-widget-header {
    border-bottom: 1px solid $border-color;
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    padding: $spacer 0 $spacer 0;
    color: $gray-800;
}

.account-widget-login {
    border-bottom: 1px solid $border-color;
    margin-bottom: $spacer-xs;
}

.account-widget-login-button {
    width: 100%;
    margin-bottom: $spacer-sm;
}

.account-widget-links .list-group a {
    padding: $spacer-xs 0;
}

@include media-breakpoint-up(md) {
    .js-account-widget-dropdown.show {
        display: block;
    }
}
