.off-canvas {
    z-index: $off-canvas-zindex;
    width: 280px;
    height: 100%;
    background: $white;
    position: fixed;
    top: 0;
    transition: all 0.45s cubic-bezier(0.3, 0, 0.15, 1);
    overflow-y: auto;

    &.is-left {
        transform: translateX(-100%);
        left: 0;
    }

    &.is-right {
        transform: translateX(100%);
        right: 0;
    }

    &.is-open {
        transform: translateX(0) !important;
    }

    .off-canvas-close {
        @extend .btn;
        @extend .btn-block;
        @extend .btn-dark;
        border-radius: 0;
    }

    > .spinner-border {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -$spacer;
        margin-top: -$spacer;
    }
}
