.js-off-canvas {
    z-index: $off-canvas-zindex;
    width: 280px;
    height: 100%;
    background: $white;
    position: fixed;
    top: 0;
    transition: all 0.45s cubic-bezier(0.3, 0, 0.15, 1);
    overflow-y: auto;

    &.is-left {
        transform: translateX(-100%);
        left: 0;

        .js-off-canvas-close {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
        }

        .off-canvas-close-icon {
            @extend .fa-chevron-right;
        }
    }

    &.is-right {
        transform: translateX(100%);
        right: 0;

        .off-canvas-close-icon {
            @extend .fa-chevron-left;
        }
    }

    &.is-open {
        transform: translateX(0) !important;
    }

    &.is-fullwidth {
        width: 100%;
    }

    .js-off-canvas-close {
        border-radius: 0;
        text-align: left;
        padding: $spacer-xs $spacer-sm;
    }

    .off-canvas-close-icon {
        margin-right: $spacer-xs;
    }

    > .spinner-border {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -$spacer;
        margin-top: -$spacer;
    }

    .off-canvas-content-container {
        padding: $spacer;
    }
}
