.product-box {
    height: 100%;
}

.product-image {
    margin-bottom: $spacer;
}

.product-image-link {
    display: block;
}

.product-name {
    display: block;
    margin-bottom: $spacer;
}

.product-price {
    font-weight: $font-weight-bold;
}
