.search-form {
    position: relative;
}

.search-suggest-container {
    list-style-type: none;
    touch-action: manipulation;
    position: absolute;
    top: 55px;
    background: $white;
    padding: $spacer-sm;
    border: 1px solid $border-color;
    width: 100%;
    left: 0;
    text-align: left;
    z-index: $search-suggest-zindex;
    box-shadow: 0 10px 25px -15px $black;

    &::after {
        transform: rotate(135deg);
        width: 12px;
        height: 12px;
        top: -7px;
        content: '';
        display: block;
        position: absolute;
        background: $white;
        left: 48%;
        border: 1px solid $border-color;
        border-top: 0 none;
        border-right: 0 none;
    }

    a:hover {
        text-decoration: none;
    }
}

.result-product {
    display: flex;
    height: 42px;
    padding: $spacer-sm 0;
    border-bottom: 1px solid $border-color;

    &:last-child {
        border-bottom: 0;
    }
}

.result-total {
    display: flex;
    justify-content: space-between;
    padding: $spacer-sm;
}

.result-link {
    display: flex;
    width: 100%;
    align-items: center;
    color: $gray-600;
}

.result-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-product .result-name {
    font-weight: $font-weight-bold;
}

.result-image {
    margin: 0 $spacer-sm;
    position: relative;
    text-align: center;

    img {
        max-width: 35px;
        max-height: 35px;
    }
}

.result-price {
    margin-left: auto;
}

.total-link-icon {
    margin-right: $spacer-sm;
}

@include media-breakpoint-up(md) {
    .search-suggest-container {
        width: 450px;
        left: 50%;
        transform: translateX(-50%);
    }
}
