.modal.zoom-modal {
    overflow: hidden;

    .zoom-modal-actions,
    .modal-close {
        position: absolute;
        top: 0;
        z-index: 9999;
        margin: 15px;
    }

    .zoom-modal-actions {
        left: 0;
        opacity: 1;

        .btn {
            font-size: 16px;
            vertical-align: middle;
        }
    }

    .modal-close {
        font-size: 16px;
        vertical-align: middle;
        line-height: $btn-line-height;
        right: 0;
        opacity: 1;
    }

    .modal-dialog {
        .modal-content,
        .modal-body {
            padding: 0;
            overflow: hidden;
        }
    }

    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100px;
        padding: 0;
        justify-content: center;
        background-color: $white;
    }

    .image-slider {
        top: 0;
        bottom: 100px;
        position: absolute;
        height: auto;
    }

    .image-slider-thumbnails-item {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    .image-slider-controls-next {
        right: 0;
    }

    .image-slider-controls-prev {
        left: 0;
    }

    &.no-thumbnails {
        .image-slider {
            bottom: 0;
        }
    }
}
