{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_account_orders %}
        <div class="account-orders">
            {% block page_account_orders_welcome %}
                <div class="account-welcome">
                    {% block page_account_orders_welcome_headline %}
                        <h1>{{ "account.ordersTitle"|trans|sw_sanitize }}</h1>
                        <p>{{ "account.ordersWelcome"|trans|sw_sanitize }}</p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_orders_main %}
                <div class="account-orders-main">
                    {% if page.orders.total == 0 %}
                        {% block page_account_orders_info_empty %}
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "warning",
                                content: "account.ordersInfoEmpty"|trans|sw_sanitize
                            } %}
                        {% endblock %}
                    {% else %}
                        {% block page_account_orders_overview %}
                            <div class="account-orders-overview">
                                {% block page_account_orders_table %}

                                    {# @deprecated tag:v6.4.0 #}
                                    {% block page_account_orders_table_header %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_account_orders_table_header_date %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_account_orders_table_header_number %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_account_orders_table_header_payment_method %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_account_orders_table_header_shipping_method %}{% endblock %}

                                        {# @deprecated tag:v6.4.0 #}
                                        {% block page_account_orders_table_header_actions %}{% endblock %}
                                    {% endblock %}

                                    {% block page_account_orders_table_body %}
                                        {% for order in page.orders %}
                                            <div class="table order-table"
                                                 data-order-detail-loader="true">
                                                {% sw_include '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}
                                            </div>
                                        {% endfor %}
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
