{% block page_account_order_item_detail_body %}
    <div class="order-detail-content-body">
        {% block page_account_order_item_detail_line_items %}
            {% for lineItem in order.lineItems %}
                {% block page_account_order_item_detail_line_item %}
                    {% sw_include '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}
                {% endblock %}
            {% endfor %}
        {% endblock %}

        {# @deprecated tag:v6.4.0 #}
        {% block page_account_order_item_detail_action %}

            {# @deprecated tag:v6.4.0 #}
            {% block page_account_order_item_detail_reorder %}

                {# @deprecated tag:v6.4.0 #}
                {% block page_account_order_item_detail_reorder_form_action %}{% endblock %}

                {# @deprecated tag:v6.4.0 #}
                {% block page_account_order_item_detail_reorder_csrf %}{% endblock %}

                {# @deprecated tag:v6.4.0 #}
                {% block page_account_order_item_detail_reorder_redirect_input %}{% endblock %}

                {# @deprecated tag:v6.4.0 #}
                {% block page_account_order_item_detail_reorder_lineitems_input %}

                    {# @deprecated tag:v6.4.0 #}
                    {% block page_account_order_item_detail_reorder_lineitem_input %}{% endblock %}
                {% endblock %}

                {# @deprecated tag:v6.4.0 #}
                {% block page_account_order_item_detail_reorder_button %}{% endblock %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
