@import "~scss/variables";

.sw-order-promotion-field {
    &__apply_auto_promotions {
        &__title {
            color: var(--color-text-primary-default);
        }

        &__text {
            font-size: var(--font-size-xs);
            line-height: var(--font-line-height-xs);
            color: var(--color-text-primary-default);
        }

        &__button {
            width: min-content;
            margin-top: var(--scale-size-24);
        }
    }
}
