{% block sw_collapse_panel %}
<div class="sw-collapse">
    {% block sw_collapse_panel_header %}
    <div
        class="sw-collapse__header"
        @click="collapseItem"
    >
        <slot
            name="header"
            v-bind="{ expanded }"
        >
            {% block sw_collapse_panel_header_slot %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    {% block sw_collapse_panel_content %}
    <div
        v-if="expanded"
        class="sw-collapse__content"
    >
        <slot name="content">
            {% block sw_collapse_panel_content_slot %}{% endblock %}
        </slot>
    </div>
    {% endblock %}
</div>
{% endblock %}