<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_tree %}
<div class="sw-condition-tree">
    <sw-condition-tree-node
        v-if="conditionTree !== null"
        :disabled="disabled"
        :parent-condition="rootCondition"
        :condition="conditionTree"
        :level="0"
    />
    <sw-loader v-else />
</div>
{% endblock %}
