{% block sw_condition_tree %}
    <div class="sw-condition-tree">
        <sw-condition-tree-node
            v-if="conditionTree !== null"
            :disabled="disabled"
            :parentCondition="rootCondition"
            :condition="conditionTree"
            :level="0">
        </sw-condition-tree-node>
        <sw-loader v-else></sw-loader>
    </div>
{% endblock %}
