<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_highlight_row %}
<div class="sw-cms-block-image-highlight-row">
    <slot name="left"></slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
