{% block sw_order_create %}
<sw-page class="sw-order-create">
    {% block sw_order_create_smart_bar_header %}
    <template #smart-bar-header>
        {% block sw_order_create_smart_bar_header_title %}
        <h2>
            {% block sw_order_create_smart_bar_header_title_text %}
            {{ $tc('sw-order.create.textNewOrder') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_order_create_smart_bar_actions %}
    <template #smart-bar-actions>
        {% block sw_order_create_smart_bar_actions_slot %}
        {% block sw_order_create_smart_bar_actions_cancel %}
        <sw-button @click="onCancelOrder">
            {{ $tc('sw-order.create.buttonCancelOrder') }}
        </sw-button>
        {% endblock %}
        {% block sw_order_create_smart_bar_actions_add %}
        <sw-button-process
            variant="primary"
            :disabled="isLoading"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            @process-finish="saveFinish"
            @click.prevent="onSaveOrder"
        >
            {{ $tc('sw-order.create.buttonSaveOrder') }}
        </sw-button-process>
        {% endblock %}
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_order_create_content %}
    <template #content>
        <router-view @error="showError" />

        {% block sw_order_create_invalid_promotion_modal %}
        <sw-order-create-invalid-promotion-modal
            v-if="showInvalidCodeModal"
            @confirm="removeInvalidCode"
            @close="closeInvalidCodeModal"
        />
        {% endblock %}

        {% block sw_order_create_remind_payment_modal %}
        <sw-modal
            v-if="showRemindPaymentModal"
            class="sw-order-create__remind-payment-modal"
            :title="$tc('sw-order.create.remindPaymentModal.title')"
            :is-loading="remindPaymentModalLoading"
            @modal-close="onRemindPaymentModalClose"
        >
            {% block sw_order_create_remind_payment_modal_content %}
            <p>{{ $tc('sw-order.create.remindPaymentModal.text', 0, {paymentMethodName: paymentMethodName }) }}</p>
            {% endblock %}

            <template #modal-footer>
                {% block sw_order_create_remind_payment_modal_footer %}
                <sw-button
                    class="sw-order-create__remind-payment-modal-decline"
                    size="small"
                    @click="onRemindPaymentModalClose"
                >
                    {{ $tc('global.default.no') }}
                </sw-button>

                <sw-button
                    class="sw-order-create__remind-payment-modal-remind"
                    variant="primary"
                    size="small"
                    @click="onRemindCustomer"
                >
                    {{ $tc('sw-order.create.remindPaymentModal.primaryAction') }}
                </sw-button>
                {% endblock %}

            </template>
        </sw-modal>
        {% endblock %}

    </template>
    {% endblock %}
</sw-page>
{% endblock %}
