@import "~scss/variables";

.sw-data-grid.sw-flow-list-my-templates__grid {
    .sw-data-grid__cell {
        border-right: none;
    }

    .sw-flow-list-my-flows__content__update-flow-template-link {
        text-decoration: none;
        color: inherit;
    }

    .sw-flow-list-my-flows__content__create-flow-link {
        color: $color-shopware-brand-300;
        text-decoration: underline;
    }
}

.sw-flow-list-my-templates {
    .sw-flow-list-my_templates__empty-state {
        min-height: 550px;
    }
}
