@import "~less/variables";
@import "~less/mixins";

@sw-media-grid-catalog-item-border:        1px solid @color-steam-cloud;
@sw-media-grid-catalog-item-border-radius: @border-radius-default;

.sw-media-grid-catalog-item {
    .sw-media-grid-catalog-item__svg-container {
        border: @sw-media-grid-catalog-item-border;
        border-radius: @sw-media-grid-catalog-item-border-radius;
        position: relative;

        &:after {
            content: "";
            display: block;
            padding-bottom: 75%;
        }
    }

    .sw-media-grid-catalog-item__catalog-item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sw-media-grid-catalog-item__name {
        .truncate();
    }
}