{% block sw_media_grid_catalog_item %}
    <sw-media-grid-item
        class="sw-media-grid-catalog-item"
        :isLoading="catalog.isLoading"
        @sw-media-grid-item-clicked="viewCatalogContent">

        {% block sw_media_grid_catalog_item_slot_preview %}
            <template slot="media-item-preview">
                {% block sw_media_grid_catalog_item_preview %}
                    <div class="sw-media-grid-catalog-item__svg-container">
                        {% block sw_media_grid_catalog_item_placeholder %}
                            <sw-icon class="sw-media-grid-catalog-item__catalog-item"
                                     name="folder-thumbnail"
                                     multicolor
                                     size="64px">
                            </sw-icon>
                        {% endblock %}
                    </div>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_media_grid_catalog_item_slot_item_name %}
            <template slot="media-item-name">
                <div class="sw-media-grid-catalog-item__name" :title="catalog.name">
                    {{ catalog.name }}
                </div>
            </template>
        {% endblock %}

        {% block sw_media_grid_catalog_item_slot_context_menu %}
            <template slot="media-item-context-menu">
                {% block sw_media_grid_catalog_item_context_menu %}
                    {% block sw_media_grid_catalog_item_show_content_button %}
                        <sw-context-menu-item :routerLink="{ name: 'sw.media.catalog-content', params: { id: catalog.id }, query: {limit: 25, page: 1} }">
                            {{ $tc('sw-media.catalogItem.showCatalogContent') }}
                        </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_media_grid_catalog_item_show_catalog_button %}
                        <sw-context-menu-item :routerLink="{ name: 'sw.catalog.detail', params: { id: catalog.id } }">
                            {{ $tc('sw-media.catalogItem.showCatalogDetails') }}
                        </sw-context-menu-item>
                    {% endblock %}
                {% endblock %}
            </template>
        {% endblock %}
    </sw-media-grid-item>
{% endblock %}
