<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_text_on_image %}
<div class="sw-cms-block-text-on-image">
    <slot name="content"></slot>
</div>
{% endblock %}
