{% block sw_order_document_settings_modal_form_first_row %}

{% block sw_order_document_settings_modal_form_document_number %}
<sw-text-field
    v-model="documentConfig.documentNumber"
    :label="$tc('sw-order.documentModal.labelDocumentStornoNumber')"
/>
{% endblock %}

{% block sw_sales_channel_detail_base_general_input_type %}
<sw-select-field
    v-model="documentConfig.custom.invoiceNumber"
    :label="$tc('sw-order.documentModal.labelInvoiceNumber')"
    :placeholder="$tc('sw-order.documentModal.selectInvoiceNumber')"
    @change="onSelectInvoice"
>
    <option
        v-for="invoice in invoices"
        :key="invoice.config.custom.invoiceNumber"
        :value="invoice.config.custom.invoiceNumber"
    >
        {{ invoice.config.custom.invoiceNumber }}
    </option>
</sw-select-field>
{% endblock %}
{% block sw_order_document_settings_modal_form_document_date %}
<sw-datepicker
    v-model="documentConfig.documentDate"
    date-type="date"
    required
    :label="$tc('sw-order.documentModal.labelDocumentDate')"
/>
{% endblock %}
{% endblock %}
