<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_document_settings_modal_form_first_row %}
<sw-container
    columns="1fr 1fr 1fr"
    gap="0 14px"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_document_settings_modal_form_cancellation_document_number %}
    <sw-text-field
        v-model="documentConfig.documentNumber"
        :label="$tc('sw-order.documentModal.labelDocumentStornoNumber')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_document_settings_modal_form_document_select_invoice %}
    <sw-select-field
        v-model="documentConfig.custom.invoiceNumber"
        class="sw-order-document-settings-storno-modal__invoice-select"
        :label="$tc('sw-order.documentModal.labelInvoiceNumber')"
        :placeholder="$tc('sw-order.documentModal.selectInvoiceNumber')"
    >
        <option
            v-for="invoice in invoices"
            :key="invoice.config.custom.invoiceNumber"
            :value="invoice.config.custom.invoiceNumber"
        >
            {{ invoice.config.custom.invoiceNumber }}
        </option>
    </sw-select-field>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_document_settings_modal_form_cancellation_document_date %}
    <sw-datepicker
        v-model="documentConfig.documentDate"
        date-type="date"
        required
        :label="$tc('sw-order.documentModal.labelDocumentDate')"
    />
    {% endblock %}
</sw-container>
{% endblock %}
