<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_custom_field_type_base %}
<div class="sw-custom-field-type-base">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_custom_field_type_base_content %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_custom_field_type_base_labels %}
    <sw-custom-field-translated-labels
        v-model="currentCustomField.config"
        :disabled="!acl.can('custom_field.editor')"
        :property-names="propertyNames"
        :locales="locales"
    />
    {% endblock %}
    {% endblock %}
</div>
{% endblock %}
