{% block sw_condition_value_content %}
    <div class="sw-condition-line-item-tag sw-condition__condition-value">
        {% block sw_condition_line_item_tag_field_operator %}
            <sw-condition-operator-select v-bind="{ operators, condition }"></sw-condition-operator-select>
        {% endblock %}

        {% block sw_condition_line_item_tag_field_identifiers %}
            <sw-entity-tag-select
                size="medium"
                entity="tag"
                :entityCollection="tags"
                @change="setTags">
            </sw-entity-tag-select>
        {% endblock %}
    </div>
{% endblock %}
