{% block sw_customer_address_form_options %}
<div class="sw-customer-address-form__options">
    {% block sw_customer_address_form_options_default_shipping_address %}
    <sw-field
        v-model="isDefaultShippingAddressId"
        type="checkbox"
        :disabled="isDefaultShippingAddressId"
        :label="$tc('sw-customer.detailAddresses.contextMenuDefaultShippingAddress')"
        @change="onChangeDefaultShippingAddress"
    />
    {% endblock %}

    {% block sw_customer_address_form_options_default_billing_address %}
    <sw-field
        v-model="isDefaultBillingAddressId"
        class="sw-customer-address-form__set-default-billing-address-action"
        type="checkbox"
        :disabled="isDefaultBillingAddressId"
        :label="$tc('sw-customer.detailAddresses.contextMenuDefaultBillingAddress')"
        @change="onChangeDefaultBillingAddress"
    />
    {% endblock %}

    {% block sw_customer_address_form_options_custom_field_sets %}
    <sw-custom-field-set-renderer
        :entity="address"
        variant="tabs"
        :sets="customFieldSets"
    />
    {% endblock %}
</div>
{% endblock %}
