<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_customer_address_form_options %}
<div class="sw-customer-address-form__options">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_customer_address_form_options_default_shipping_address %}
    <sw-checkbox-field
        {% if VUE3 %}
        v-model:value="isDefaultShippingAddressId"
        {% else %}
        v-model="isDefaultShippingAddressId"
        {% endif %}
        :label="$tc('sw-customer.detailAddresses.contextMenuDefaultShippingAddress')"
        {% if VUE3 %}
        @update:value="onChangeDefaultShippingAddress"
        {% else %}
        @change="onChangeDefaultShippingAddress"
        {% endif %}
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_customer_address_form_options_default_billing_address %}
    <sw-checkbox-field
        {% if VUE3 %}
        v-model:value="isDefaultBillingAddressId"
        {% else %}
        v-model="isDefaultBillingAddressId"
        {% endif %}
        class="sw-customer-address-form__set-default-billing-address-action"
        :label="$tc('sw-customer.detailAddresses.contextMenuDefaultBillingAddress')"
        {% if VUE3 %}
        @update:value="onChangeDefaultBillingAddress"
        {% else %}
        @change="onChangeDefaultBillingAddress"
        {% endif %}
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_customer_address_form_options_custom_field_sets %}
    <sw-custom-field-set-renderer
        :entity="address"
        variant="tabs"
        :sets="customFieldSets"
    />
    {% endblock %}
</div>
{% endblock %}
