{% block sw_property_option_list %}
    <sw-card :isLoading="isLoading"
             class="sw-property-option-list"
             :title="$tc('sw-property.detail.cardTitle')">

        {% block sw_property_option_list_toolbar %}
            <div class="sw-property-option-list__toolbar">

                {% block sw_property_option_list_toolbar_container %}
                    <sw-container columns="1fr 32px minmax(100px, 200px)" gap="0 10px">

                        {% block sw_property_option_list_toolbar_search %}
                            <sw-simple-search-field
                                size="small"
                                variant="form"
                                v-model="term"
                                @search-term-change="onSearch">
                            </sw-simple-search-field>
                        {% endblock %}

                        {% block sw_property_option_list_toolbar_delete %}
                            <sw-button :disabled="deleteButtonDisabled || !acl.can('property.editor')"
                                @click="onDeleteOptions"
                                square
                                size="small"
                                class="sw-property-option-list__delete-button"
                                v-tooltip="{
                                    message: $tc('sw-privileges.tooltip.warning'),
                                    disabled: acl.can('property.editor'),
                                    showOnDisabledElements: true
                                }">
                                <sw-icon name="default-action-trash" small/>
                            </sw-button>
                        {% endblock %}

                        {% block sw_property_option_list_toolbar_add %}
                            <sw-container v-tooltip="tooltipAdd">
                                <sw-button
                                    :disabled="disableAddButton"
                                    @click="onAddOption(propertyGroup)"
                                    size="small"
                                    class="sw-property-option-list__add-button"
                                    v-tooltip="{
                                        message: $tc('sw-privileges.tooltip.warning'),
                                        disabled: acl.can('property.editor'),
                                        showOnDisabledElements: true
                                    }">
                                    {{ $tc('sw-property.detail.addOption') }}
                                </sw-button>
                            </sw-container>
                        {% endblock %}
                    </sw-container>
                {% endblock %}
            </div>
        {% endblock %}

    {% block sw_property_option_list_grid %}
        <template #grid>
            <sw-one-to-many-grid
                :isLoading="isLoading"
                :collection="propertyGroup.options"
                ref="grid"
                :columns="getGroupColumns()"
                :fullPage="false"
                :localMode="propertyGroup.isNew()"
                :allowInlineEdit="allowInlineEdit"
                :sortBy="sortBy"
                :sortDirection="sortDirection"
                @selection-change="onGridSelectionChanged">

                <template #column-name="{ item, isInlineEdit }">
                    <template v-if="isInlineEdit">
                       <sw-field v-model="item.name" size="small"></sw-field>
                    </template>

                    <div v-else-if="!acl.can('property.editor')"
                         class="sw-settings-option-detail__link">
                        {{ item.translated.name }}
                    </div>

                    <a v-else class="sw-settings-option-detail__link"
                       @click="onOptionEdit(item)">
                        {{ item.translated.name }}
                    </a>
                </template>

                {% block sw_settings_property_list_grid_columns_actions %}
                    <template #more-actions="{ item }">
                        {% block sw_settings_property_list_grid_columns_actions_edit %}
                            <sw-context-menu-item
                                @click="onOptionEdit(item)"
                                class="sw-property-option-list__edit-action"
                                :disabled="!acl.can('property.editor')">
                                {{ $tc('sw-property.list.contextMenuView') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    </template>
                {% endblock %}

                {% block sw_property_list_grid_columns_actions_delete %}
                    <template #delete-action="{ item }">
                        <sw-context-menu-item
                            variant="danger"
                            @click="onSingleOptionDelete(item.id)"
                            :disabled="!acl.can('property.editor')">
                            {{ $tc('sw-property.list.contextMenuDelete') }}
                        </sw-context-menu-item>
                    </template>
                {% endblock %}
            </sw-one-to-many-grid>
        {% endblock %}
    </template>
        {% block sw_property_option_list_detail %}
            <sw-property-option-detail
                v-if="currentOption"
                :currentOption="currentOption"
                @save-option-edit="onSaveOption"
                @cancel-option-edit="onCancelOption">
            </sw-property-option-detail>
        {% endblock %}

        {% block sw_property_option_list_loader %}
            <sw-loader v-if="isLoading"></sw-loader>
        {% endblock %}
    </sw-card>
{% endblock %}
