includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - extension.neon
    - rules.neon

parameters:
    phpVersion: 80200
    level: 8
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportAnyTypeWideningInVarTag: true

    # Would otherwise flag usage of internal classes from different namespaces
    featureToggles:
        internalTag: false

    # For stricter testing those should be set to true at some point
    reportMaybesInMethodSignatures: false

    # For stricter testing those should be set to true at some point
    strictRules:
        booleansInConditions: false
        booleansInLoopConditions: false
        requireParentConstructorCall: false
        disallowedEmpty: false
        disallowedShortTernary: false
        dynamicCallOnStaticMethod: false
        strictArrayFilter: false

    type_perfect:
        no_mixed_property: true
        no_mixed_caller: true
        null_over_false: true

    shopware:
        allowedNonDomainExceptions:
            - Shopware\Core\Framework\Plugin\Exception\DecorationPatternException
            - Shopware\Core\Framework\Validation\Exception\ConstraintViolationException
            - Shopware\Core\Framework\Api\Controller\Exception\PermissionDeniedException
            - Shopware\Core\Content\MailTemplate\Exception\MailEventConfigurationException
            - Twig\Error\LoaderError
            - Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException
            - Symfony\Component\Messenger\Exception\UnrecoverableMessageHandlingException
            - Symfony\Component\Messenger\Exception\RecoverableMessageHandlingException
            - Symfony\Component\HttpKernel\Exception\NotFoundHttpException
            - Symfony\Component\HttpFoundation\Exception\BadRequestException

        allowedStorefrontRouteNamespaces:
            - Shopware\Storefront

services:
    -   factory: Shopware\Core\DevOps\StaticAnalyze\PHPStan\Configuration(%shopware%)
    -   class: Shopware\Core\DevOps\StaticAnalyze\PHPStan\Rules\AclValidPermissionsHelper

parametersSchema:
    shopware: structure([
        allowedNonDomainExceptions: list(string),
        allowedStorefrontRouteNamespaces: list(string),
])
