<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_media_display_options %}
<div class="sw-media-display-options">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_display_options_presentation %}
    <sw-select-field
        v-if="!hidePresentation"
        name="presentation"
        size="small"
        aside
        :label="$tc('sw-media.presentation.labelPresentation')"
        :value="presentation"
        @change="onPresentationChanged"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_display_options_presentations_options %}
        <option
            v-for="previewType in previewOptions"
            :key="previewType.value"
            :value="previewType.value"
        >
            {{ previewType.name }}
        </option>

        <slot name="additional-preview-options"></slot>
        {% endblock %}
    </sw-select-field>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_display_options_sorting %}
    <sw-select-field
        name="sortType"
        size="small"
        aside
        :label="$tc('sw-media.sorting.labelSort')"
        :value="sortingConCat"
        @change="onSortingChanged"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_display_options_sorting_options %}
        <option
            v-for="sortOption in sortOptions"
            :key="sortOption.value"
            :value="sortOption.value"
        >
            {{ sortOption.name }}
        </option>

        <slot name="additional-sorting"></slot>
        {% endblock %}
    </sw-select-field>
    {% endblock %}
</div>
{% endblock %}
