{% block sw_cms_el_youtube_video_preview %}
    <div class="sw-cms-el-preview-youtube-video">
        <img class="sw-cms-el-preview-youtube-video__img"
            :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        <sw-icon class="sw-cms-el-preview-youtube-video__play-icon"
                 name="multicolor-action-play"
                 size="80">
        </sw-icon>
    </div>
{% endblock %}
