.sw-configuration-option-list {
    height: 865px;

    .sw-empty-state {
        height: 200px;
        margin-top: 30px;
    }

    .media-column .sw-grid__cell-content {
        padding: 0;
    }

    &.sw-card .sw-card__content {
        padding: 0;
    }

    .sw-configuration-option-list__toolbar {
        background: #000;
        padding: 25px 35px;
        background-color: #F9FAFB;
        border-bottom: 1px solid #D8DDE6;

        .sw-configuration-option-list__delete-button {
            border-color: #DE294C;

            &.sw-button--disabled {
                opacity: 0.2;
            }
        }

        .sw-simple-search-field .sw-simple-search-field__search-icon {
            top: 8px;
        }

        .sw-simple-search-field .sw-simple-search-field__input {
            margin-bottom: 0px;

            input {
                height: 32px;
                background: #fff;
                padding: 0 20px 0 56px;
            }
        }
    }
}
