{% block sw_sales_channel_modal %}
    <sw-modal class="sw-sales-channel-modal"
              @modal-close="onCloseModal">

        {% block sw_sales_channel_modal_header %}
            <template slot="modal-header">
                {% block sw_sales_channel_modal_header_title %}
                    <h4 class="sw-sales-channel-modal__title">
                        {{ modalTitle }}
                    </h4>
                {% endblock %}

                {% block sw_sales_channel_modal_header_close %}
                    <button class="sw-modal__close"
                            :title="$tc('global.sw-modal.labelClose')"
                            :aria-label="$tc('global.sw-modal.labelClose')"
                            @click.prevent="onCloseModal">
                            <sw-icon name="small-default-x-line-medium" small></sw-icon>
                    </button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_sales_channel_modal_grid %}
            <sw-sales-channel-modal-grid v-if="!detailType"
                                         @grid-detail-open="onGridOpenDetails"
                                         @grid-channel-add="onAddChannel">
            </sw-sales-channel-modal-grid>
        {% endblock %}

        {% block sw_sales_channel_modal_detail %}
            <sw-sales-channel-modal-detail v-else :detailType="detailType"></sw-sales-channel-modal-detail>
        {% endblock %}

        {% block sw_sales_channel_modal_footer %}
            <template slot="modal-footer">
                <template v-if="detailType">
                    {% block sw_sales_channel_modal_footer_detail_actions %}
                        {% block sw_sales_channel_modal_footer_back %}
                            <sw-button size="small" @click.prevent="detailType = false">
                                {{ $tc('sw-sales-channel.modal.buttonBack') }}
                            </sw-button>
                        {% endblock %}

                        {% block sw_sales_channel_modal_footer_add_channel %}
                            <sw-button class="sw-sales-channel-modal__add-sales-channel-action" variant="primary" size="small" @click="onAddChannel(detailType.id)">
                                {{ $tc('sw-sales-channel.modal.buttonAddChannel') }}
                            </sw-button>
                        {% endblock %}
                    {% endblock %}
                </template>

                <template v-else>
                    {% block sw_sales_channel_modal_footer_actions %}
                        {% block sw_sales_channel_modal_footer_cancel %}
                            <sw-button size="small" @click="onCloseModal">
                                {{ $tc('sw-sales-channel.modal.buttonCancel') }}
                            </sw-button>
                        {% endblock %}
                    {% endblock %}
                </template>
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
