/* stylelint-disable max-nesting-depth */
@import "~scss/variables";
@import "~scss/mixins";

$tree-base-size: calc(var(--scale-size-224) + var(--scale-size-56));

.sw-product-variant-modal {
    &__main-product-link {
        color: var(--color-shopware-brand-500);
        text-decoration: none;
        font-size: var(--font-size-xs);
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    div.sw-modal__body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: calc(var(--scale-size-80) + var(--scale-size-4)) auto;
        height: 100%;
        padding: 0;
    }

    .sw-data-grid {
        display: grid;
        grid-template-rows: 1fr auto;

        .sw-data-grid__body {
            .sw-data-grid__cell--media {
                .sw-data-grid__cell-content {
                    height: auto;
                }
            }

            .sw-media-preview-v2 {
                @include square(var(--scale-size-32));
            }
        }
    }

    .sw-product-variant-modal__label {
        width: 100%;
        height: auto;
        border-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        padding: var(--scale-size-24) var(--scale-size-32);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__variants {
        color: var(--color-gray-600);
        margin-left: var(--scale-size-6);
    }

    &__price-inheritance-switch {
        margin-right: var(--scale-size-10);
    }

    &__active-inheritance-switch {
        margin-left: var(--scale-size-10);
    }

    footer.sw-modal__footer {
        display: flex;
        justify-content: space-between;
    }

    .mt-icon {
        &.is--inactive {
            color: var(--color-crimson-500);
        }

        &.is--active {
            color: var(--color-emerald-500);
        }
    }

    span.sw-data-grid__bulk-selected {
        margin: 0 var(--scale-size-6) 0 0;
    }

    &__delete-modal-subline {
        color: var(--color-gray-600);
        margin-top: var(--scale-size-8);
        font-size: var(--font-size-xs);
    }

    &__variant-name {
        margin-right: var(--scale-size-6);
    }

    &__variant-options span {
        color: var(--color-darkgray-200) !important;
    }

    &__variant-options:hover span {
        color: var(--color-shopware-brand-500) !important;
    }

    &__media-inherited-icon {
        margin-right: var(--scale-size-8);
    }

    .sw-product-variants-media-upload__preview-images img {
        object-fit: contain;
    }

    .sw-configuration-option-list__toolbar {
        background-color: var(--color-background-secondary-default);
        border-bottom: var(--scale-size-1) solid var(--color-gray-300);
        padding: var(--scale-size-26);
    }

    .sw-product-variant-modal__filter-list-button {
        position: relative;

        .sw-context-menu {
            position: absolute;
            top: calc(100% + var(--scale-size-10));
            right: 0;
            z-index: 10;

            .sw-context-menu__content::before {
                left: auto;
                right: var(--scale-size-48);
            }

            .sw-tree {
                max-height: calc(#{$tree-base-size} + var(--scale-size-40) * 4 + var(--scale-size-10));
                width: calc(var(--scale-size-224) + var(--scale-size-56));
                overflow: auto;
            }

            .sw-tree__content {
                max-height: none;
                overflow: hidden;
            }

            .sw-tree-actions__headline {
                display: none;
            }

            .sw-tree-item__element {
                grid-template-columns: var(--scale-size-30) var(--scale-size-24) 1fr;
            }

            .sw-tree-item__icon {
                margin-right: var(--scale-size-8);
            }

            .sw-tree-item__actions {
                display: none;
            }

            .sw-tree-item.is--no-children .sw-tree-item__element {
                grid-template-columns: 0 var(--scale-size-24) var(--scale-size-24) 1fr;
            }

            .sw-tree-item__element .sw-tree-item__selection {
                display: none;
            }

            .sw-tree-item.is--no-children .sw-tree-item__element .sw-tree-item__selection {
                display: block;
            }

            .sw-product-variant-modal__filter-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: var(--scale-size-40);
            }
        }
    }

    &__bulk-edit-modal {
        .sw-data-grid.is--compact .sw-data-grid__body .sw-data-grid__cell-content {
            height: auto;
        }

        .sw-product-variants-media-upload.sw-media-upload-v2,
        .sw-product-variants-media-upload.sw-media-upload-v2 .sw-media-upload-v2__dropzone {
            width: 100%;
        }
    }

    &__bulk-edit-modal .sw-product-variant-modal__digital-indicator,
    .sw-product-variant-modal__digital-indicator {
        height: var(--scale-size-24);
        padding: var(--scale-size-4) var(--scale-size-8);
        margin: 0;
        min-width: auto;
        vertical-align: middle;
    }
}
