.sw-promotion-code-form {
    .sw-container {
        .sw-promotion-code-form__switch-individual {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .sw-promotion-code-form__link-manage-individual {
        cursor: pointer;
    }

    .sw-field .sw-field__help-text {
        position: relative;
        top: 40px;
        right: 15px;
    }

    .sw-promotion-code-form__switch-codes {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.sw-promotion-code-form__modal-individual {
    .sw-modal__dialog {
        .sw-modal__body {
            padding: 0 0 20px 0;
            min-height: 680px;
        }
    }
}
