{% block sw_grid_row %}
    <div class="sw-grid-row" @dblclick="onInlineEditStart($event.currentTarget)" ref="swGridRow">
        {% block sw_grid_row_actions %}
            <div class="sw-grid-row__actions">
                <slot name="actions">
                    {% block sw_grid_row_slot_actions %}
                        <sw-button @click="onInlineEditCancel" size="small">
                            {{ $tc('global.sw-grid-row.buttonInlineEditCancel') }}
                        </sw-button>
                        <sw-button variant="primary" size="small" @click="onInlineEditFinish">
                            {{ $tc('global.sw-grid-row.buttonInlineEditSave') }}
                        </sw-button>
                    {% endblock %}
                </slot>
            </div>
        {% endblock %}

        <slot>{% block sw_grid_row_slot_default %}{% endblock %}</slot>
    </div>
{% endblock %}