{% block sw_grid_row %}
    <div class="sw-grid-row" @dblclick="onInlineEditStart($event.currentTarget)" ref="swGridRow">
        <slot>{% block sw_grid_row_slot_default %}{% endblock %}</slot>

        {% block sw_grid_row_actions %}
            <div class="sw-grid-row__actions">
                <slot name="actions">
                    {% block sw_grid_row_slot_actions %}
                        <sw-button @click="onInlineEditCancel">Cancel</sw-button>
                        <sw-button :isPrimary="true" @click="onInlineEditFinish">Save changes</sw-button>
                    {% endblock %}
                </slot>
            </div>
        {% endblock %}
    </div>
{% endblock %}