@import "~scss/variables";

.sw-settings-usage-data {
    & .sw-usage-data-consent-banner__footer {
        display: flex;
        justify-content: space-between;

        & .sw-usage-data-consent-banner__list-item-container {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}
