{% sw_extends "@Storefront/frontend/listing/product-box/box-basic.html.twig" %}

{% block frontend_listing_box_article_description %}{% endblock %}

{% block frontend_listing_box_article_actions %}{% endblock %}

{% block frontend_listing_box_article_price %}
    <div class="product--price-outer">
        <div class="product--price">

            {# Discount price #}
            {% block frontend_listing_box_article_price_discount %}
                {% if product.has_pseudoprice %}
                    <span class="price--pseudo">

                        {% block frontend_listing_box_article_price_discount_before %}
                            {% trans from 'frontend/detail/data' %}priceDiscountLabel{% endtrans %}
                        {% endblock %}

                        <span class="price--discount is--nowrap">
                            {{ sArticle.pseudoprice|localizedcurrency(context.currency.shortName) }}
                            {% trans from 'frontend/listing/box_article' %}Star{% endtrans %}
                        </span>

                        {% block frontend_listing_box_article_price_discount_after %}
                            {% trans from 'frontend/detail/data' %}priceDiscountInfo{% endtrans %}
                        {% endblock %}
                    </span>
                {% endif %}
            {% endblock %}

            {# Default price #}
            {% block frontend_listing_box_article_price_default %}
                <span class="price--default is--nowrap{% if product.listingPrice.pseudoPrice %} is--discount{% endif %}">
                    {% if product.listingPrice.displayFromPrice %}
                        {% trans from 'frontend/listing/box_article' %}ListingBoxArticleStartsAt{% endtrans %}
                    {% endif %}
                    {{ product.calculatedListingPrice.totalPrice|localizedcurrency(context.currency.shortName) }}
                    {% trans from 'frontend/listing/box_article' %}Star{% endtrans %}
                </span>
            {% endblock %}
        </div>
    </div>
{% endblock %}

