{% block frontend_listing_product_box_button_buy %}
    {% block frontend_listing_product_box_button_buy_form %}
        <form name="addToCart"
              method="post"
              action="{{ path('cart_add_product') }}"
              class="buybox--form"
              data-add-article="true"
              data-addArticleUrl="{{ path('cart_ajax_add_line_item') }}"
              data-showModal="false">

            {% block frontend_listing_product_box_button_buy_order_number %}
                <input type="hidden" name="identifier" value="{{ product.id }}"/>
                <input type="hidden" name="quantity" value="1"/>
            {% endblock %}

            {% block frontend_listing_product_box_button_buy_button %}
                <button class="buybox--button % block btn is--primary is--icon-right is--center is--large">
                    {% block frontend_listing_product_box_button_buy_button_text %}
                        {% trans from 'frontend/listing/box_article' %}ListingBuyActionAdd{% endtrans %}<i class="icon--basket"></i> <i class="icon--arrow-right"></i>
                    {% endblock %}
                </button>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}
