{#{namespace name="frontend/listing/box_article"}#}
<div class="product--price">

    {% block frontend_listing_box_article_price_default %}
        <span class="price--default is--nowrap{% if product.listingPrice.pseudoPrice %} is--discount{% endif %}">
            {#{% if product.listingPrice.displayFromPrice %}#}
                {#{% trans from 'frontend/listing/box_article' %}ListingBoxArticleStartsAt{% endtrans %}#}
            {#{% endif %}#}
            {{ product.calculatedListingPrice.totalPrice|localizedcurrency(context.currency.shortName) }}

            {% trans from 'frontend/listing/box_article' %}Star{% endtrans %}
        </span>
     {% endblock %}

    {% block frontend_listing_box_article_price_discount %}
        {% if product.has_pseudoprice %}
            <span class="price--pseudo">

                {% block frontend_listing_box_article_price_discount_before %}
                    {% trans from 'frontend/detail/data' %}priceDiscountLabel{% endtrans %}
                 {% endblock %}

                <span class="price--discount is--nowrap">
                    {{ product.pseudoprice|localizedcurrency(context.currency.shortName) }}
                    {% trans from 'frontend/listing/box_article' %}Star{% endtrans %}
                </span>

                {% block frontend_listing_box_article_price_discount_after %}
                    {% trans from 'frontend/detail/data' %}priceDiscountInfo{% endtrans %}
                {% endblock %}
            </span>
        {% endif %}
     {% endblock %}
</div>
