@import "~scss/variables";

.sw-order-document-settings-modal__settings-modal {
    .sw-order-document-settings-credit-note-modal__highlighted-items {
        display: grid;

        dt {
            font-weight: inherit;
        }

        dd {
            text-align: right;
        }
    }

    .sw-order-document-settings-credit-note-modal__no-items-text {
        margin-bottom: 22px;
        color: $color-crimson-500;
    }
}

.sw-order-document-settings-credit-note-modal {
    &__no-items-text {
        display: flex;
        border: 1px solid $color-pumpkin-spice-500;
        background: $color-pumpkin-spice-50;
        padding: 24px;
        border-radius: 4px;
    }

    &__no-items-text .sw-icon {
        margin-right: 8px;
    }

    &__no-items-text span {
        color: $color-pumpkin-spice-500;
    }
}
