{% block sw_order_document_settings_modal_form_document_number %}
    <sw-field type="text"
              :label="$tc('sw-order.documentModal.labelDocumentNumber')"
              v-model="documentConfig.documentNumber">
    </sw-field>
{% endblock %}

{% block sw_order_document_settings_modal_form_additional_content %}
    <sw-select-field :label="$tc('sw-order.documentModal.labelInvoiceNumber')"
                     v-model="documentConfig.custom.invoiceNumber"
                     :placeholder="$tc('sw-order.documentModal.selectInvoiceNumber')">
        <option v-for="number in invoiceNumbers" :value="number">
            {{ number }}
        </option>
    </sw-select-field>

    <sw-description-list v-if="highlightedItems.length !== 0"
                         columns="1fr 1fr"
                         class="sw-order-document-settings-credit-note-modal__highlighted-items">
            <dt>{{ $tc('sw-order.documentModal.labelHighlightedItemsHeader') }}</dt>
            <dd>{{ $tc('sw-order.documentModal.labelHighlightedItemsEntry') }}</dd>
            <template v-for="item in highlightedItems">
                <dt>{{ item.label }}</dt>
                <dd>{{ item.totalPrice | currency(order.currency.shortName) }}</dd>
            </template>
    </sw-description-list>
    <div v-else class="sw-order-document-settings-credit-note-modal__no-items-text">
        {{ $tc('sw-order.documentModal.labelNoItems') }}
    </div>
{% endblock %}
