<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <!-- Versioning -->
        <service alias="Shopware\Application\Context\Repository\ContextRuleRepository.v1" id="Shopware\Application\Context\Repository\ContextRuleRepository" public="true" />
        <service alias="Shopware\Application\Context\Repository\ContextCartModifierRepository.v1" id="Shopware\Application\Context\Repository\ContextCartModifierRepository" public="true" />

         <service class="Shopware\Application\Context\Definition\ContextRuleDefinition" id="Shopware\Application\Context\Definition\ContextRuleDefinition" >
            <tag name="shopware.entity.definition" entity="context_rule" />
        </service>

        <service class="Shopware\Application\Context\Repository\ContextRuleRepository" id="Shopware\Application\Context\Repository\ContextRuleRepository.v1" public="true">
          <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
          <argument id="Shopware\Version\VersionManager" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
          <argument id="event_dispatcher" type="service"/>
        </service>


        <service class="Shopware\Application\Context\Definition\ContextCartModifierDefinition" id="Shopware\Application\Context\Definition\ContextCartModifierDefinition" >
            <tag name="shopware.entity.definition" entity="context_cart_modifier" />
        </service>
        <service class="Shopware\Application\Context\Repository\ContextCartModifierRepository" id="Shopware\Application\Context\Repository\ContextCartModifierRepository.v1" public="true">
            <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
            <argument id="Shopware\Version\VersionManager" type="service"/>
            <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
            <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
            <argument id="event_dispatcher" type="service"/>
        </service>
    </services>
</container>
                