<div class="sw-settings-import-export-view-export">
    <sw-card title="Export" :isLoading="exportLoading">
        <sw-settings-import-export-exporter
            :isLoading="exportLoading"
            @export-finish="onExportFinish">
        </sw-settings-import-export-exporter>

    </sw-card>

    <sw-card class="sw-settings-import-export-view-export__activity">
        <template #title>
            <div class="sw-card__title">
                Export activity
                <p class="sw-settings-import-export__card-subtitle">
                    Activity older then 30 days will automatically be removed.
                </p>
            </div>
        </template>

        <template #grid>
            <sw-settings-import-export-activity
                ref="activityGrid"
                type="export">
            </sw-settings-import-export-activity>
        </template>
    </sw-card>
</div>
