{% block sw_card_view %}
<div class="sw-card-view">
    {% block sw_card_view_content %}
    <div class="sw-card-view__content">
        <slot>{% block sw_card_view_slot_default %}{% endblock %}</slot>
    </div>
    {% endblock %}
</div>
{% endblock %}