.sw-language-switch {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    text-align: left;
    margin-right: 5px;

    .sw-select__inner {
        min-height: 40px;

        .sw-select__single-selection {
            line-height: 22px;
        }
    }
}