<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="Shopware\Core\Framework\Api\Acl\Role\AclRoleDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\Api\Acl\Role\AclUserRoleDefinition">
            <tag name="shopware.entity.definition" entity="user_role_acl"/>
            <tag name="shopware.entity.acl"/>
        </service>

        <service id="Shopware\Core\Framework\Api\Acl\AclWriteValidator">
            <argument type="service" id="event_dispatcher"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="Shopware\Core\Framework\Api\Acl\AclAnnotationValidator">
            <argument type="service" id="Doctrine\DBAL\Connection"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="Shopware\Core\Framework\Api\Acl\AclCriteriaValidator" public="true">
            <argument type="service" id="Shopware\Core\Framework\DataAbstractionLayer\DefinitionInstanceRegistry"/>
        </service>

        <service id="Shopware\Core\Framework\Api\EventListener\Acl\CreditOrderLineItemListener">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="Shopware\Core\Framework\Api\Controller\AclController" public="true">
            <argument type="service" id="Shopware\Core\Framework\DataAbstractionLayer\DefinitionInstanceRegistry"/>
            <argument type="service" id="event_dispatcher"/>

            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
        </service>

    </services>
</container>
