<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="shopware.app_dir">%kernel.project_dir%/custom/apps</parameter>
    </parameters>
    <services>
        <service id="Shopware\Core\Framework\App\Subscriber\AppLoadedSubscriber">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="Shopware\Core\Framework\App\Subscriber\CustomFieldProtectionSubscriber">
            <argument type="service" id="Doctrine\DBAL\Connection"/>

            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="Shopware\Core\Framework\App\ShopId\ShopIdProvider" public="true">
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>
        </service>

        <service id="Shopware\Core\Framework\App\Manifest\ModuleLoader">
            <argument type="service" id="app.repository"/>
            <argument>%env(APP_URL)%</argument>
            <argument type="service" id="Shopware\Core\Framework\App\ShopId\ShopIdProvider"/>
            <argument>%kernel.shopware_version%</argument>
        </service>

        <service id="Shopware\Core\Framework\App\Validation\TranslationValidator">
            <tag name="shopware.app_manifest.validator"/>
        </service>

        <service id="Shopware\Core\Framework\App\Validation\AppNameValidator">
            <tag name="shopware.app_manifest.validator"/>
        </service>

        <service id="Shopware\Core\Framework\App\Validation\ManifestValidator">
            <argument type="tagged" tag="shopware.app_manifest.validator"/>
        </service>

        <service id="Shopware\Core\Framework\App\Validation\ConfigValidator">
            <argument type="service" id="Shopware\Core\System\SystemConfig\Util\ConfigReader"/>

            <tag name="shopware.app_manifest.validator"/>
        </service>

        <service id="Shopware\Core\Framework\App\Validation\HookableValidator">
            <argument type="service" id="Shopware\Core\Framework\Webhook\Hookable\HookableEventCollector"/>

            <tag name="shopware.app_manifest.validator"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\CustomFieldPersister">
            <argument type="service" id="custom_field_set.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\PermissionPersister">
            <argument type="service" id="Doctrine\DBAL\Connection"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\ActionButtonPersister">
            <argument type="service" id="app_action_button.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\TemplatePersister">
            <argument type="service" id="Shopware\Core\Framework\App\Template\TemplateLoader"/>
            <argument type="service" id="app_template.repository"/>
            <argument type="service" id="app.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\Template\TemplateLoader">
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\WebhookPersister">
            <argument type="service" id="webhook.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\PaymentMethodPersister">
            <argument type="service" id="payment_method.repository"/>
            <argument type="service" id="Shopware\Core\Content\Media\MediaService"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Persister\CmsBlockPersister">
            <argument type="service" id="app_cms_block.repository" on-invalid="null"/>
            <argument type="service" id="Shopware\Core\Framework\App\Cms\BlockTemplateLoader" on-invalid="null"/>
            <tag name="shopware.feature" flag="FEATURE_NEXT_14408"/>
        </service>

        <service id="Shopware\Core\Framework\App\AppService">
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLifecycleIterator"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLifecycle"/>
        </service>

        <service id="Shopware\Core\Framework\App\AppStateService">
            <argument type="service" id="app.repository"/>
            <argument type="service" id="event_dispatcher"/>
            <argument type="service" id="Shopware\Core\Framework\App\ActiveAppsLoader"/>
            <argument type="service" id="Shopware\Core\Framework\App\Template\TemplateStateService"/>
            <argument type="service" id="Shopware\Core\Framework\App\Payment\PaymentMethodStateService"/>
        </service>

        <service id="Shopware\Core\Framework\App\ActiveAppsLoader">
            <argument type="service" id="Doctrine\DBAL\Connection"/>
        </service>

        <service id="Shopware\Core\Framework\App\Template\TemplateStateService" public="true">
            <argument type="service" id="app_template.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\Payment\PaymentMethodStateService">
            <argument type="service" id="payment_method.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\Payment\Payload\PayloadService">
            <argument type="service" id="Shopware\Core\Framework\Api\Serializer\JsonEntityEncoder"/>
            <argument type="service" id="Shopware\Core\Framework\DataAbstractionLayer\DefinitionInstanceRegistry"/>
            <argument type="service" id="shopware.app_system.guzzle"/>
            <argument type="service" id="Shopware\Core\Framework\App\ShopId\ShopIdProvider"/>
            <argument type="string">%env(APP_URL)%</argument>
            <argument>%kernel.shopware_version%</argument>
        </service>

        <service id="Shopware\Core\Framework\App\Payment\Handler\AbstractAppPaymentHandler" abstract="true">
            <argument type="service" id="Shopware\Core\Checkout\Order\Aggregate\OrderTransaction\OrderTransactionStateHandler"/>
            <argument type="service" id="Shopware\Core\System\StateMachine\StateMachineRegistry"/>
            <argument type="service" id="Shopware\Core\Framework\App\Payment\Payload\PayloadService"/>
        </service>

        <service id="Shopware\Core\Framework\App\Payment\Handler\AppSyncPaymentHandler"
                 parent="Shopware\Core\Framework\App\Payment\Handler\AbstractAppPaymentHandler">
            <tag name="shopware.payment.method.sync"/>
        </service>

        <service id="Shopware\Core\Framework\App\Payment\Handler\AppAsyncPaymentHandler"
                 parent="Shopware\Core\Framework\App\Payment\Handler\AbstractAppPaymentHandler">
            <tag name="shopware.payment.method.async"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Registration\AppRegistrationService">
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Registration\HandshakeFactory"/>
            <argument type="service" id="shopware.app_system.guzzle"/>
            <argument type="service" id="app.repository"/>
            <argument type="string">%env(APP_URL)%</argument>
            <argument type="service" id="Shopware\Core\Framework\App\ShopId\ShopIdProvider"/>
            <argument>%kernel.shopware_version%</argument>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Registration\HandshakeFactory">
            <argument type="string">%env(APP_URL)%</argument>
            <argument type="service" id="Shopware\Core\Framework\App\ShopId\ShopIdProvider"/>
            <argument type="service" id="Shopware\Core\Framework\Store\Services\StoreClient"/>
            <argument>%kernel.shopware_version%</argument>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\AppLifecycle">
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\PermissionPersister"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\CustomFieldPersister"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\ActionButtonPersister"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\TemplatePersister"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\WebhookPersister"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\PaymentMethodPersister"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Persister\CmsBlockPersister" on-invalid="null"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLoader"/>
            <argument type="service" id="event_dispatcher"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Registration\AppRegistrationService"/>
            <argument type="service" id="Shopware\Core\Framework\App\AppStateService"/>
            <argument type="service" id="language.repository"/>
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>
            <argument type="service" id="Shopware\Core\Framework\App\Validation\ConfigValidator"/>
            <argument type="service" id="integration.repository"/>
            <argument type="service" id="acl_role.repository"/>
            <argument type="string">%kernel.project_dir%</argument>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\AppLifecycleIterator">
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLoader"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\Update\AbstractAppUpdater" class="Shopware\Core\Framework\App\Lifecycle\Update\AppUpdater">
            <argument type="service" id="Shopware\Core\Framework\Store\Services\AbstractExtensionDataProvider"/>
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\Store\Services\ExtensionDownloader"/>
            <argument type="service" id="Shopware\Core\Framework\Store\Services\AbstractStoreAppLifecycleService"/>
            <tag name="shopware.feature" flag="FEATURE_NEXT_12608"/>
        </service>

        <service id="Shopware\Core\Framework\App\ScheduledTask\UpdateAppsTask">
            <tag name="shopware.scheduled.task"/>
        </service>

        <service id="Shopware\Core\Framework\App\ScheduledTask\UpdateAppsHandler">
            <argument type="service" id="scheduled_task.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Update\AbstractAppUpdater" on-invalid="null"/>
            <tag name="messenger.message_handler"/>
        </service>

        <service id="Shopware\Core\Framework\App\ScheduledTask\DeleteCascadeAppsTask">
            <tag name="shopware.scheduled.task"/>
        </service>

        <service id="Shopware\Core\Framework\App\ScheduledTask\DeleteCascadeAppsHandler">
            <argument type="service" id="scheduled_task.repository"/>
            <argument type="service" id="acl_role.repository"/>
            <argument type="service" id="integration.repository"/>
            <tag name="messenger.message_handler"/>
        </service>

        <service id="Shopware\Core\Framework\App\Lifecycle\AppLoader">
            <argument>%shopware.app_dir%</argument>
            <argument>%kernel.project_dir%</argument>
            <argument type="service" id="Shopware\Core\System\SystemConfig\Util\ConfigReader"/>
        </service>

        <service id="shopware.app_system.guzzle" class="GuzzleHttp\Client">
        </service>

        <service id="Shopware\Core\Framework\App\ActionButton\ActionButtonLoader">
            <argument type="service" id="app_action_button.repository"/>
        </service>

        <service id="Shopware\Core\Framework\App\ActionButton\Response\ActionButtonResponseFactory">
        </service>

        <service id="Shopware\Core\Framework\App\ActionButton\Executor">
            <argument type="service" id="shopware.app_system.guzzle"/>
            <argument type="service" id="logger"/>
            <argument>%kernel.shopware_version%</argument>
            <argument type="service" id="Shopware\Core\Framework\App\ActionButton\Response\ActionButtonResponseFactory"/>
        </service>

        <service id="Shopware\Core\Framework\App\ActionButton\AppActionLoader">
            <argument>%env(APP_URL)%</argument>
            <argument type="service" id="app_action_button.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\ShopId\ShopIdProvider"/>
        </service>

        <service id="Shopware\Core\Framework\App\Api\AppActionController" public="true">
            <argument type="service" id="Shopware\Core\Framework\App\ActionButton\ActionButtonLoader"/>
            <argument type="service" id="Shopware\Core\Framework\App\ActionButton\AppActionLoader"/>
            <argument type="service" id="Shopware\Core\Framework\App\ActionButton\Executor"/>
            <argument type="service" id="Shopware\Core\Framework\App\Manifest\ModuleLoader"/>
            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
        </service>

        <service id="Shopware\Core\Framework\App\Api\AppCmsController" public="true">
            <argument type="service" id="app_cms_block.repository" on-invalid="null"/>

            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
            <tag name="shopware.feature" flag="FEATURE_NEXT_14408"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\AppPrinter">
            <argument type="service" id="app.repository"/>
        </service>

        <!-- COMMANDS -->
        <service id="Shopware\Core\Framework\App\Command\RefreshAppCommand">
            <argument type="service" id="Shopware\Core\Framework\App\AppService"/>
            <argument type="service" id="Shopware\Core\Framework\App\Command\AppPrinter"/>
            <argument type="service" id="Shopware\Core\Framework\App\Command\ValidateAppCommand"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\InstallAppCommand">
            <argument>%shopware.app_dir%</argument>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLifecycle"/>
            <argument type="service" id="Shopware\Core\Framework\App\Command\AppPrinter"/>
            <argument type="service" id="Shopware\Core\Framework\App\Command\ValidateAppCommand"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\UninstallAppCommand">
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLifecycle"/>
            <argument type="service" id="app.repository"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\ActivateAppCommand">
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\AppStateService"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\DeactivateAppCommand">
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\AppStateService"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\ValidateAppCommand">
            <argument>%shopware.app_dir%</argument>
            <argument type="service" id="Shopware\Core\Framework\App\Validation\ManifestValidator"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Command\ResolveAppUrlChangeCommand">
            <argument type="service" id="Shopware\Core\Framework\App\AppUrlChangeResolver\Resolver"/>

            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\App\Api\AppUrlChangeController" public="true">
            <argument type="service" id="Shopware\Core\Framework\App\AppUrlChangeResolver\Resolver"/>
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>

            <call method="setContainer">
                <argument type="service" id="service_container"/>
            </call>
        </service>

        <service id="Shopware\Core\Framework\App\AppUrlChangeResolver\Resolver" public="true">
            <argument type="tagged" tag="shopware.app_url_changed_resolver"/>
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>
        </service>

        <service id="Shopware\Core\Framework\App\AppUrlChangeResolver\MoveShopPermanentlyStrategy">
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLoader"/>
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Registration\AppRegistrationService"/>
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>

            <tag name="shopware.app_url_changed_resolver"/>
        </service>

        <service id="Shopware\Core\Framework\App\AppUrlChangeResolver\ReinstallAppsStrategy">
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\AppLoader"/>
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\Framework\App\Lifecycle\Registration\AppRegistrationService"/>
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>
            <argument type="service" id="event_dispatcher"/>

            <tag name="shopware.app_url_changed_resolver"/>
        </service>

        <service id="Shopware\Core\Framework\App\AppUrlChangeResolver\UninstallAppsStrategy">
            <argument type="service" id="app.repository"/>
            <argument type="service" id="Shopware\Core\System\SystemConfig\SystemConfigService"/>
            <argument type="service" id="Shopware\Storefront\Theme\ThemeAppLifecycleHandler"/>

            <tag name="shopware.app_url_changed_resolver"/>
        </service>

        <!-- ENTITY DEFINITIONS -->
        <service id="Shopware\Core\Framework\App\AppDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\App\Aggregate\AppTranslation\AppTranslationDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\App\Aggregate\ActionButton\ActionButtonDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\App\Aggregate\ActionButtonTranslation\ActionButtonTranslationDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\App\Template\TemplateDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\App\Aggregate\AppPaymentMethod\AppPaymentMethodDefinition">
            <tag name="shopware.entity.definition"/>
        </service>

        <service id="Shopware\Core\Framework\App\Aggregate\CmsBlock\AppCmsBlockDefinition">
            <tag name="shopware.entity.definition"/>
            <tag name="shopware.feature" flag="FEATURE_NEXT_14408"/>
        </service>

        <service id="Shopware\Core\Framework\App\Aggregate\CmsBlockTranslation\AppCmsBlockTranslationDefinition">
            <tag name="shopware.entity.definition"/>
            <tag name="shopware.feature" flag="FEATURE_NEXT_14408"/>
        </service>

        <service id="Shopware\Core\Framework\App\Cms\BlockTemplateLoader">
            <tag name="shopware.feature" flag="FEATURE_NEXT_14408"/>
        </service>
    </services>
</container>
