<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="Shopware\Core\Framework\Plugin\PluginDefinition">
            <tag name="shopware.entity.definition" entity="plugin"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Aggregate\PluginTranslation\PluginTranslationDefinition">
            <tag name="shopware.entity.definition" entity="plugin_translation"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\PluginService">
            <argument>%kernel.plugin_dir%</argument>
            <argument type="service" id="plugin.repository"/>
            <argument type="service" id="language.repository"/>
            <argument type="service" id="Shopware\Core\Framework\Plugin\Helper\ComposerPackageProvider"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\PluginLifecycleService">
            <argument type="service" id="plugin.repository"/>
            <argument type="service" id="event_dispatcher"/>
            <argument type="service" id="kernel"/>
            <argument type="service" id="service_container"/>
            <argument type="service" id="Shopware\Core\Framework\Migration\MigrationCollection"/>
            <argument type="service" id="Shopware\Core\Framework\Migration\MigrationCollectionLoader"/>
            <argument type="service" id="Shopware\Core\Framework\Migration\MigrationRuntime"/>
            <argument type="service" id="Doctrine\DBAL\Connection"/>
        </service>

        <!-- Commands -->
        <service id="Shopware\Core\Framework\Plugin\Command\PluginRefreshCommand">
            <argument type="service" id="Shopware\Core\Framework\Plugin\PluginService"/>
            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Command\PluginListCommand">
            <argument type="service" id="plugin.repository"/>
            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Command\Lifecycle\PluginInstallCommand">
            <argument type="service" id="Shopware\Core\Framework\Plugin\PluginLifecycleService"/>
            <argument type="service" id="plugin.repository"/>
            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Command\Lifecycle\PluginActivateCommand">
            <argument type="service" id="Shopware\Core\Framework\Plugin\PluginLifecycleService"/>
            <argument type="service" id="plugin.repository"/>
            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Command\Lifecycle\PluginUpdateCommand">
            <argument type="service" id="Shopware\Core\Framework\Plugin\PluginLifecycleService"/>
            <argument type="service" id="plugin.repository"/>
            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Command\Lifecycle\PluginDeactivateCommand">
            <argument type="service" id="Shopware\Core\Framework\Plugin\PluginLifecycleService"/>
            <argument type="service" id="plugin.repository"/>
            <tag name="console.command"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Command\Lifecycle\PluginUninstallCommand">
            <argument type="service" id="Shopware\Core\Framework\Plugin\PluginLifecycleService"/>
            <argument type="service" id="plugin.repository"/>
            <tag name="console.command"/>
        </service>

        <!-- Helper -->
        <service id="Shopware\Core\Framework\Plugin\Helper\PluginIdProvider">
            <argument type="service" id="plugin.repository"/>
        </service>

        <service id="Shopware\Core\Framework\Plugin\Helper\ComposerPackageProvider"/>
    </services>
</container>
