{% block sw_system_config %}
    <div class="sw-system-config">
        <div class="sw-system-config__global-sales-channel-switch"
             v-if="salesChannelSwitchable && config.length > 1">
            <sw-sales-channel-switch
                     :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                     @change-sales-channel-id="onSalesChannelChanged">
            </sw-sales-channel-switch>
        </div>
        {% block sw_system_config_content_card %}
            <sw-card v-for="card, index in config"
                     :key="index"
                     :class="`sw-system-config__card--${index}`"
                     :isLoading="isLoading"
                     :title="getInlineSnippet(card.title)">
                <slot name="beforeElements" v-bind="{ card, config: actualConfigData[currentSalesChannelId] }"></slot>
                <template #toolbar
                          v-if="salesChannelSwitchable && config.length === 1">
                    <sw-sales-channel-switch
                            :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                            @change-sales-channel-id="onSalesChannelChanged">
                    </sw-sales-channel-switch>
                </template>
                <template v-if="!isLoading">
                    <template v-for="element in card.elements">
                        <slot name="card-element" v-bind="{ element: getElementBind(element), config: actualConfigData[currentSalesChannelId], card }">
                            {% block sw_system_config_content_card_field %}
                                <sw-form-field-renderer v-bind="getElementBind(element)"
                                                        v-model="actualConfigData[currentSalesChannelId][element.name]">
                                </sw-form-field-renderer>
                            {% endblock %}
                        </slot>
                    </template>
                    <slot name="card-element-last"/>
                </template>
                <slot name="afterElements" v-bind="{ card, config: actualConfigData[currentSalesChannelId] }"></slot>
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
