<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="../autoload.php"
         backupGlobals="false"
         colors="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Unit">
            <directory>./Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../engine/Shopware/</directory>
            <directory suffix=".php">../engine/Library/Enlight/</directory>
        </whitelist>
    </filter>
</phpunit>
