{% block sw_custom_field_set_renderer %}
    <div class="sw-custom-field-set-renderer">
        <template v-if="sets.length > 0">
            {% block sw_custom_field_set_renderer_card %}
                <sw-tabs v-if="variant === 'tabs'"
                         class="sw-custom-field-set-renderer__card-tabs"
                         variant="minimal"
                         :defaultItem="sets[0].name">
                    {% block sw_custom_field_set_renderer_card_tabs %}
                        <template slot-scope="{ active }">
                            <sw-tabs-item
                                    v-for="set in sets"
                                    v-if="set.customFields"
                                    :key="`sw-tab--${set.id}`"
                                    variant="minimal"
                                    :name="set.name"
                                    :activeTab="active">
                                {{ getInlineSnippet(set.config.label) || set.name }}
                            </sw-tabs-item>
                        </template>
                    {% endblock %}

                    {% block sw_custom_field_set_renderer_card_tabs_content %}
                        <template slot="content" slot-scope="{ active }">
                            <div v-for="set in sets"
                                 v-if="set.customFields"
                                 v-show="active === set.name">
                                <template v-for="customField in set.customFields">
                                    {% block sw_custom_field_set_renderer_card_form_renderer %}
                                        <sw-form-field-renderer
                                                v-bind="customField"
                                                :disabled="disabled"
                                                v-model="entity.customFields[customField.name]">
                                        </sw-form-field-renderer>
                                    {% endblock %}
                                </template>
                            </div>
                        </template>
                    {% endblock %}
                </sw-tabs>
            {% endblock %}

            {% block sw_custom_field_set_renderer_media %}
                <template v-else-if="variant === 'media-collapse'">
                    <sw-media-collapse
                            v-for="set in sets"
                            v-if="set.customFields.length > 0"
                            :key="`sw-media-collapse--${set.id}`"
                            :expandOnLoading="false"
                            :title="getInlineSnippet(set.config.label) || set.name">
                        <template slot="content">
                            <template v-for="customField in set.customFields">
                                {% block sw_custom_field_set_renderer_media_form_renderer %}
                                    <sw-form-field-renderer
                                            v-bind="customField"
                                            :disabled="disabled"
                                            v-model="entity.customFields[customField.name]">
                                    </sw-form-field-renderer>
                                {% endblock %}
                            </template>
                            {% block sw_custom_field_set_renderer_media_button_save %}
                                <sw-button-process
                                        :isLoading="isLoading"
                                        :processSuccess="isSaveSuccessful"
                                        :disabled="isLoading"
                                        variant="primary"
                                        size="small"
                                        @process-finish="$emit('process-finish')"
                                        @click="$emit('save')">
                                    {{ $tc('global.default.save') }}
                                </sw-button-process>
                            {% endblock %}
                        </template>
                    </sw-media-collapse>
                </template>
            {% endblock %}
        </template>
    </div>
{% endblock %}