@import "~less/variables";

.sw-table {
    display: grid;
    font-size: 14px;

    .sw-table__cell {
        padding: 15px;
        border-bottom: 1px solid @color-steam-cloud;
        font-size: 14px;
    }
}