{% block sw_condition_fields %}
    {% block sw_condition_fields_operator %}
        <sw-field type="select"
                  name="operator"
                  v-model="condition.value.operator"
                  class="field field--select has--arrow">
            <template slot="options">
                <option v-for="operator in operators" :value="operator.identifier">
                    {{ $tc(operator.label) }}
                </option>
            </template>
        </sw-field>
    {% endblock %}
    {% block sw_condition_fields_value %}
        <sw-field type="number"
                  step="0.01"
                  class="field field--main"
                  v-model="condition.value.amount">
        </sw-field>
    {% endblock %}
{% endblock %}