{% block sw_settings_import_export_edit_profile_modal %}
    <sw-modal v-if="profile"
              class="sw-settings-import-export-edit-profile-modal"
              @modal-close="$emit('profile-close')"
              :title="modalTitle">

        <sw-alert v-if="profile.systemDefault" variant="info">
            {{ $tc('sw-settings-import-export.profile.systemDefaultInfoText') }}
        </sw-alert>

        {% block sw_settings_import_export_edit_profile_modal_tabs %}
            <sw-tabs defaultItem="general">

                <template #default="{ active }" >
                    {% block sw_settings_import_export_edit_profile_modal_tabs_general %}
                        <sw-tabs-item title="General"
                                      name="general"
                                      :activeTab="active">
                            {{ $tc('sw-settings-import-export.profile.generalTab') }}
                        </sw-tabs-item>
                    {% endblock %}

                    {% block sw_settings_import_export_edit_profile_modal_tabs_field_indicators %}
                        <sw-tabs-item title="Field indicators"
                                      name="fieldIndicators"
                                      :activeTab="active">
                            {{ $tc('sw-settings-import-export.profile.fieldIndicatorsTab') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }">
                    <template v-if="active === 'general'">

                        <p class="sw-settings-import-export-edit-profile-modal__text">
                            {{ $tc('sw-settings-import-export.profile.descriptionBlock') }}
                        </p>

                        <sw-container columns="1fr 1fr" gap="16px">
                            {% block sw_settings_import_export_edit_profile_modal_tabs_name_field %}
                                <sw-field type="text"
                                          label="Profile name"
                                          required
                                          :disabled="profile.systemDefault"
                                          :error="profileNameError"
                                          v-model="profile.name">
                                </sw-field>
                            {% endblock %}

                            {% block sw_settings_import_export_edit_profile_modal_tabs_object_type_field %}
                                <sw-single-select
                                    label="Object type"
                                    ref="objectTypeSelect"
                                    required
                                    :options="supportedEntities"
                                    :disabled="profile.systemDefault || mappingLength > 0"
                                    :error="profileSourceEntityError"
                                    v-model="profile.sourceEntity"
                                    v-tooltip="{
                                        message: 'The object type cannot be changed when mapping options are present.',
                                        disabled: mappingLength <= 0,
                                        showOnDisabledElements: true
                                    }">
                                </sw-single-select>
                            {% endblock %}
                        </sw-container>

                        <p class="sw-settings-import-export-edit-profile-modal__text">
                            {{ $tc('sw-settings-import-export.profile.mappingDescriptionBlock') }}
                        </p>

                        {% block sw_settings_import_export_edit_profile_modal_tabs_mapping %}
                            <sw-settings-import-export-edit-profile-modal-mapping
                                :profile="profile">
                            </sw-settings-import-export-edit-profile-modal-mapping>
                        {% endblock %}

                    </template>

                    <template v-if="active === 'fieldIndicators'">
                        <p class="sw-settings-import-export-edit-profile-modal__text">
                            {{ $tc('sw-settings-import-export.profile.csvDescriptionBlock') }}
                        </p>

                        <sw-container columns="repeat(1fr, 1fr)">
                            {% block sw_settings_import_export_edit_profile_modal_tabs_seperator_field %}
                                <sw-single-select
                                    v-model="profile.delimiter"
                                    required
                                    label="Seperator character"
                                    :error="profileDelimiterError"
                                    :disabled="profile.systemDefault"
                                    :options="supportedDelimiter">
                                </sw-single-select>
                            {% endblock %}

                            {% block sw_settings_import_export_edit_profile_modal_tabs_enclosure_field %}
                                <sw-single-select
                                    v-model="profile.enclosure"
                                    required
                                    label="Enclosure character"
                                    :error="profileEnclosureError"
                                    :disabled="profile.systemDefault"
                                    :options="supportedEnclosures">
                                </sw-single-select>
                            {% endblock %}
                        </sw-container>
                    </template>
                </template>
            </sw-tabs>
        {% endblock %}

        {% block sw_settings_import_export_edit_profile_modal_footer %}
            <template slot="modal-footer">
                <sw-button size="small" @click="$emit('profile-close')">
                    {{ $tc('sw-settings-import-export.profile.cancelLabel') }}
                </sw-button>
                <sw-button size="small" @click="$emit('profile-save')" variant="primary">
                    {{ saveLabelSnippet }}
                </sw-button>
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
