<sw-modal v-if="profile"
          class="sw-settings-import-export-edit-profile-modal"
          @modal-close="$emit('profile-close')"
          :title="modalTitle">

    <sw-tabs defaultItem="general">

        <template slot-scope="{ active }" >
            <sw-tabs-item title="General"
                          name="general"
                          :activeTab="active">
                {{ $tc('sw-settings-import-export.profile.generalTab') }}
            </sw-tabs-item>

            <sw-tabs-item title="Field indicators"
                          name="fieldIndicators"
                          :activeTab="active">
                {{ $tc('sw-settings-import-export.profile.fieldIndicatorsTab') }}
            </sw-tabs-item>
        </template>

        <template slot="content" slot-scope="{ active }">
            <template v-if="active === 'general'">

                <p>
                    {{ $tc('sw-settings-import-export.profile.descriptionBlock') }}
                    <br>
                    <br>
                </p>

                <sw-field type="text"
                          label="Profile name"
                          required
                          v-model="profile.name">
                </sw-field>

                <sw-container columns="1fr 1fr" gap="16px">

                    {# TODO: change to entity single select #}
                    <sw-single-select label="Object type"
                                      required
                                      :options="supportedEntities"
                                      v-model="profile.sourceEntity">
                    </sw-single-select>

                    {# TODO: change to entity single select #}
                    <sw-single-select label="Identifier"
                                      required
                                      :disabled="!profile.sourceEntity"
                                      :options="[
                                          { value: 'product', label: 'product.id' },
                                          { value: 'manufacturer', label: 'manufacturer.id' },
                                      ]"
                                      v-model="profile.identifier">
                    </sw-single-select>
                </sw-container>

                <p>
                    {{ $tc('sw-settings-import-export.profile.mappingDescriptionBlock') }}
                </p>

                <sw-settings-import-export-edit-profile-modal-mapping
                    :profile="profile">
                </sw-settings-import-export-edit-profile-modal-mapping>

            </template>

            <template v-if="active === 'fieldIndicators'">
                <p>
                    {{ $tc('sw-settings-import-export.profile.csvDescriptionBlock') }}
                    <br><br>
                </p>

                <sw-container columns="repeat(1fr, 1fr)">
                    <sw-single-select
                        v-model="profile.delimiter"
                        label="Seperator character"
                        :options="supportedDelimiter"></sw-single-select>

                    <sw-single-select
                        v-model="profile.enclosure"
                        label="Enclosure character"
                        :options="supportedEnclosures">
                    </sw-single-select>
                </sw-container>
            </template>
        </template>

    </sw-tabs>

    <template slot="modal-footer">
        <sw-button @click="$emit('profile-close')">{{ $tc('sw-settings-import-export.profile.cancelLabel') }}</sw-button>
        <sw-button @click="$emit('profile-save')" variant="primary">{{ saveLabelSnippet }}</sw-button>
    </template>
</sw-modal>
