@import "~scss/variables";

.sw-generic-social-media-card {
    .sw-generic-social-media-card__media-preview {
        margin-top: 32px;
    }

    .sw-generic-social-media-card__media-preview-title {
        margin-bottom: 8px;
    }

    .sw-generic-social-media-card__media-preview-container {
        border: 1px solid $color-gray-300;

        &.media-preview--sm {
            display: flex;

            .sw-generic-social-media-card__media-preview-image {
                width: 160px;
                height: 160px;
            }
        }

        &.media-preview--lg {
            .sw-generic-social-media-card__media-preview-image {
                width: 100%;
            }
        }
    }

    .sw-generic-social-media-card__media-preview-content {
        padding: 16px;

        &-title {
            margin-bottom: 8px;
        }

        &-link {
            margin-bottom: 6px;
        }
    }
}
