.sw-cms-preview-image-slider {
    align-items: center;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-gap: 5px;

    img {
        margin: 0;
        display: block;
        max-width: 100%;
        overflow: hidden;
    }
}
