{% block sw_cms_block_image_slider_preview %}
<div class="sw-cms-preview-image-slider">
    <sw-icon
        name="default-arrow-head-left"
        size="20"
    />
    <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    <sw-icon
        name="default-arrow-head-right"
        size="20"
    />
</div>
{% endblock %}
