<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_slider_preview %}
<div class="sw-cms-preview-image-slider">
    <sw-icon
        name="regular-chevron-left"
        size="20"
    />
    <img
        :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
        alt=""
    >
    <sw-icon
        name="regular-chevron-right"
        size="20"
    />
</div>
{% endblock %}
