.sw-product-detail-variants {
    &__generated-variants.mt-card .sw-tabs__custom-content {
        padding: 0;
    }

    .sw-product-detail-variants__generated-variants.is--loading .mt-card__content {
        min-height: 250px;
    }

    .sw-product-detail-variants__generated-variants .mt-card__content {
        padding: 0;
        height: 100%;
    }

    .sw-skeleton__detail:not(:last-child),
    .sw-skeleton {
        margin-top: 56px;
        margin-bottom: 26px;
        background-color: transparent;
    }
}
