.sw-product-detail-variants {
    &__generated-variants.mt-card .sw-tabs__custom-content {
        padding: 0;
    }

    .sw-product-detail-variants__generated-variants.is--loading .mt-card__content {
        min-height: calc(var(--scale-size-224) + var(--scale-size-26));
    }

    .sw-product-detail-variants__generated-variants .mt-card__content {
        padding: 0;
        height: 100%;
    }

    .sw-skeleton__detail:not(:last-child),
    .sw-skeleton {
        margin-top: var(--scale-size-56);
        margin-bottom: var(--scale-size-26);
        background-color: transparent;
    }
}
