.sw-product-detail-variants {
    .sw-card__configurator .sw-card__content {
        padding: 0;
        background: #f8f9fa;
    }

    .sw-product-detail-variants__generated-variants.is--loading .sw-card__content {
        min-height: 250px;
    }

    .sw-product-detail-variants__generated-variants .sw-card__content {
        padding: 0;
        height: 100%;

        .sw-product-detail-variants__generated-variants__empty-state {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 400px;

            .sw-product-detail-variants__generated-variants__empty-state--label {
                max-width: 240px;
                margin-top: 25px;
                margin-bottom: 25px;
                text-align: center;
            }
        }
    }
}
