{% block sw_settings_attribute_set_list %}
    <sw-page class="sw-settings-attribute-set-list">
        {% block sw_settings_attribute_set_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar initialSearchType="attribute"
                               :placeholder="$tc('sw-settings-attribute.general.placeholderSearchBar')"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_settings_attribute_set_list_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small>

                    </sw-icon>
                    {{ $tc('sw-settings-attribute.set.list.textHeadline') }}

                    <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                        ({{ total }})
                    </span>
                </h2>
            </template>
        {% endblock %}

        {% block sw_settings_attribute_set_list_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_attribute_set_list_actions_add %}
                    <sw-button :routerLink="{ name: 'sw.settings.attribute.create' }" variant="primary">
                        {{ $tc('sw-settings-attribute.set.list.buttonAdd') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_attribute_set_list_content %}
            <sw-card-view slot="content">
                {% block sw_settings_attribute_set_list_content_inner %}
                    <sw-card :isLoading="isLoading" class="sw-settings-attribute-set-list__card">
                        {% block sw_settings_attribute_set_list_grid %}
                            <sw-grid slot="grid"
                                     v-show="total"
                                     class="sw-settings-attribute-set-list-grid"
                                     :selectable="false"
                                     :items="items"
                                     table>
                                {% block sw_settings_attribute_set_list_grid_columns %}
                                    <template slot="columns" slot-scope="{ item }">

                                        {% block sw_settings_attribute_set_list_grid_column_label %}
                                            <sw-grid-column flex="minmax(180px, 2fr)"
                                                            :label="$tc('sw-settings-attribute.set.list.columnName')">
                                                <router-link
                                                        :title="$tc('sw-settings-attribute.set.list.contextMenuEdit')"
                                                         class="sw-attribute-set-list__column-name"
                                                         :to="{ name: 'sw.settings.attribute.detail', params: { id: item.id } }">
                                                    {{ getInlineSnippet(item.config.label) || item.name }}
                                                </router-link>
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_settings_attribute_set_list_grid_column_actions %}
                                            <sw-grid-column flex="minmax(70px, 70px)"
                                                            align="center"
                                                            label="">
                                                <sw-context-button>
                                                    <sw-context-menu-item
                                                            class="sw-attribute-set-list__edit-action"
                                                            :routerLink="{ name: 'sw.settings.attribute.detail', params: { id: item.id } }">
                                                        {{ $tc('sw-settings-attribute.set.list.contextMenuEdit') }}
                                                    </sw-context-menu-item>

                                                    <sw-context-menu-item variant="danger"
                                                                          @click="onDelete(item.id)">
                                                        {{ $tc('sw-settings-attribute.set.list.buttonDelete') }}
                                                    </sw-context-menu-item>
                                                </sw-context-button>
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_settings_attribute_set_list_grid_delete_modal %}
                                            <sw-modal v-if="showDeleteModal === item.id"
                                                      @closeModal="onCloseDeleteModal"
                                                      :title="$tc('sw-settings-attribute.set.list.titleModalDelete')"
                                                      variant="small">
                                                {% block sw_settings_attribute_set_list_grid_delete_modal_text %}
                                                    <p>
                                                        {{ $tc('sw-settings-attribute.set.list.textDeleteConfirm', 0, { name: getInlineSnippet(item.config.label) }) }}
                                                    </p>
                                                {% endblock %}

                                                {% block sw_settings_attribute_set_list_grid_delete_modal_footer %}
                                                    <template slot="modal-footer">
                                                        {% block sw_settings_attribute_set_list_grid_delete_modal_cancel %}
                                                            <sw-button @click="onCloseDeleteModal"
                                                                       size="small">
                                                                {{ $tc('sw-settings-attribute.set.list.buttonCancel') }}
                                                            </sw-button>
                                                        {% endblock %}

                                                        {% block sw_settings_attribute_set_list_grid_delete_modal_delete %}
                                                            <sw-button @click="onConfirmDelete(item.id)"
                                                                       variant="primary"
                                                                       size="small">
                                                               {{ $tc('sw-settings-attribute.set.list.buttonDelete') }}
                                                            </sw-button>
                                                        {% endblock %}
                                                    </template>
                                                {% endblock %}
                                            </sw-modal>
                                        {% endblock %}
                                    </template>
                                {% endblock %}

                                {% block sw_settings_attribute_set_list_content_columns_pagination %}
                                    <sw-pagination slot="pagination"
                                                   :page="page"
                                                   :limit="limit"
                                                   :total="total"
                                                   :total-visible="7"
                                                   @page-change="onPageChange">
                                    </sw-pagination>
                                {% endblock %}
                            </sw-grid>
                        {% endblock %}
                        {% block sw_settings_attributes_set_list_empty_message %}
                            <sw-empty-state v-if="!isLoading && !total"
                                            :title="$tc('sw-settings-attribute.set.list.messageEmpty')">
                            </sw-empty-state>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}