<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_text_teaser_preview %}
<div class="sw-cms-preview-text-teaser">
    <h2>Lorem ipsum dolor</h2>
    <p><i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</i></p>
</div>
{% endblock %}
