{% block page_checkout_finish_address_inner %}
    {% set order = page.order %}
    {% set deliveries = order.deliveries.elements %}
    {% set billingAddress = order.billingAddress %}

    {% if deliveries|length > 0 and order.billingAddress.id != deliveries|first.shippingOrderAddressId %}
        {% set shippingAddress = deliveries|first.shippingOrderAddress %}
    {% else %}
        {% set shippingAddress = billingAddress %}
    {% endif %}
    <div class="row">
        {% block page_checkout_finish_address_billing %}
            <div class="col-sm-6">
                <div class="card checkout-card">
                    <div class="card-body">
                        {% block page_checkout_finish_address_billing_title %}
                            <div class="card-title">
                                {{ "checkout.billingAddressHeader"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}

                        {% block page_checkout_finish_address_billing_data %}
                            <div class="finish-address-billing">
                                {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {'address': billingAddress} %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block page_checkout_finish_address_shipping %}
            <div class="col-sm-6">
                <div class="card checkout-card">
                    <div class="card-body">
                        {% block page_checkout_finish_address_shipping_title %}
                            <div class="card-title">
                                {{ "checkout.shippingAddressHeader"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}

                        {% block page_checkout_finish_address_shipping_data %}
                            <div class="finish-address-shipping">
                                {% sw_include '@Storefront/storefront/component/address/address.html.twig' with {'address': shippingAddress} %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
