{% block sw_cms_block_image_text_cover_preview %}
<div class="sw-cms-preview-image-text-cover">
    <div class="sw-cms-preview-image-text-cover__image">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
    <div class="sw-cms-preview-image-text-cover__text">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
</div>
{% endblock %}
