<div>
    <sw-card title="Simple fields">
        <sw-field type="text" readonly label="Id" v-model="record.id"></sw-field>

        <sw-field type="text" label="Name" v-model="record.name"></sw-field>

        <sw-single-select label="Single select raw" :options="options" v-model="optionId"></sw-single-select>

        <sw-entity-single-select label="Entity single select" v-model="record.manufacturerId" entity="product_manufacturer"></sw-entity-single-select>

        <sw-multi-select label="Multi select raw" :options="options" v-model="selectedOptions"></sw-multi-select>

        <sw-entity-multi-select label="Entity multi select" :collection="record.categories"></sw-entity-multi-select>
    </sw-card>

    <sw-card title="1:N - prices (loaded with product)">
        <sw-one-to-many-grid slot="grid"
                             :collection="record.priceRules"
                             :localMode="true"
                             :columns="priceColumns">

        </sw-one-to-many-grid>
    </sw-card>

    <sw-card title="1:N - categories (loaded lazy)">

        <sw-one-to-many-grid slot="grid"
                             :collection="record.categories"
                             :localMode="record.isNew()"
                             :columns="categoryColumns">

        </sw-one-to-many-grid>
    </sw-card>

    <sw-card title="Some actions for the record">
        <sw-button @click="save">Save</sw-button>
    </sw-card>
</div>