@import "~scss/variables";

.sw-product-stream-value {
    display: flex;
    flex-basis: 0;
    align-items: center;
    flex-grow: var(--product-stream-value-grow);

    .is--disabled {
        background-color: $color-gray-100;
    }

    div.sw-product-stream-value__operator-select {
        height: 100%;
    }

    .sw-entity-single-select__selection {
        display: flex;
        align-items: center;
    }

    .sw-product-variant-info {
        max-width: 280px;
    }

    .sw-field.sw-field--medium {
        margin-bottom: 0;
    }

    .mt-block-field__block,
    .sw-block-field .sw-block-field__block {
        border: 0;
        min-height: auto;
        height: auto;
    }

    .sw-block-field.has--focus .sw-block-field__block {
        box-shadow: none;
    }

    .sw-contextual-field:not(.sw-product-stream-value__time-input) .sw-field__addition {
        display: none;
    }

    .mt-field {
        margin-bottom: 0;
        height: 34px;

        .mt-block-field__block,
        input {
            max-height: 100%;
        }

        .mt-number-field__controls > * {
            flex: 1 1 0;
            min-height: 0;
        }

        &.sw-product-stream-value__time-input {
            .mt-field__addition {
                border-left: 0;
            }
        }
    }

    & > * {
        flex: 1;
    }

    .sw-product-stream-value__placeholder {
        height: 100%;
    }

    .sw-label {
        height: auto;
    }

    .mt-datepicker__hint {
        &.field-hint {
            margin-bottom: 0;
        }
    }

    .sw-entity-multi-select {
        .sw-select-selection-list__load-more {
            margin-top: 0;

            .sw-select-selection-list__load-more-button {
                min-height: 24px;
            }
        }

        .sw-label__dismiss {
            top: -2px;
        }
    }
}

.sw-product-stream-value--grow-0 {
    --product-stream-value-grow: 0;
}

.sw-product-stream-value--grow-1 {
    --product-stream-value-grow: 1;
}

.sw-product-stream-value--grow-2 {
    --product-stream-value-grow: 2;
}

.sw-product-stream-value--grow-3 {
    --product-stream-value-grow: 3;
}
