{% block sw_product_stream_value %}
    <div class="sw-product-stream-value"
         :class="componentClasses">

        <template v-if="!fieldDefinition">
            {% block sw_product_stream_value_no_definition_placeholder %}
                <sw-container class="sw-product-stream-value__placeholder"></sw-container>
            {% endblock %}
        </template>
        <template v-else-if="fieldType === 'boolean'">
            {% block sw_product_stream_value_boolean_value %}
                <sw-single-select
                    class="sw-product-stream-value__select"
                    size="medium"
                    :options="booleanOptions"
                    :value="condition.value"
                    @change="setBooleanValue">
                </sw-single-select>
            {% endblock %}
        </template>

        <template v-else>
            {% block sw_product_stream_value_operator_select %}
                <sw-arrow-field class="sw-product-stream-value__operator-select">
                    <sw-single-select
                        size="medium"
                        :options="operators"
                        :placeholder="$tc('sw-product-stream.filter.placeholderOperatorSelect')"
                        v-model="filterType">
                    </sw-single-select>
                </sw-arrow-field>
            {% endblock %}

            <template v-if="fieldType === 'uuid'">
                {% block sw_product_stream_value_entity_single_value %}
                    <sw-entity-single-select
                        v-if="definition.entity === 'product' && actualCondition.type === 'equals'"
                        size="medium"
                        :entity="definition.entity"
                        :criteria="productCriteria"
                        :context="context"
                        v-model="actualCondition.value">
                        <template #selection-label-property="{ item }">
                            <slot name="selection-label-property" v-bind="{ item }">
                                {% block sw_product_stream_value_results_variant_info %}
                                    <sw-product-variant-info
                                        :variations="item.variation">
                                        {{ item.translated.name || item.name }}
                                    </sw-product-variant-info>
                                {% endblock %}
                            </slot>
                        </template>

                        <template #result-item="{ item, index }">
                            <slot name="result-item" v-bind="{ item, index }">
                                <li is="sw-select-result" v-bind="{ item, index }">
                                    {% block sw_product_stream_value_results_list_result_label %}
                                        <span class="sw-select-result__result-item-text">
                                            <sw-product-variant-info
                                                :variations="item.variation">
                                                {{ item.translated.name || item.name }}
                                            </sw-product-variant-info>
                                        </span>
                                    {% endblock %}
                                </li>
                            </slot>
                        </template>
                    </sw-entity-single-select>

                    <sw-entity-single-select
                        v-else-if="actualCondition.type === 'equals'"
                        size="medium"
                        :entity="definition.entity"
                        :context="context"
                        v-model="actualCondition.value">
                    </sw-entity-single-select>
                {% endblock %}

                {% block sw_product_stream_value_entity_multi_value %}
                    <sw-entity-multi-id-select
                        v-else-if="actualCondition.type === 'equalsAny'"
                        size="medium"
                        :repository="repository"
                        :criteria="productCriteria"
                        :context="context"
                        v-model="multiValue">
                        <template #selection-label-property="{ item }">
                            <slot name="selection-label-property" v-bind="{ item }">
                                <sw-product-variant-info
                                    class="product-view"
                                    :variations="item.variation">
                                    {{ item.translated.name || item.name }}
                                </sw-product-variant-info>
                            </slot>
                        </template>

                        <template #result-label-property="{ item, index }">
                            <slot name="result-label-property" v-bind="{ item, index }">
                                {% block sw_product_stream_value_results_list_result_label %}
                                    <span class="sw-select-result__result-item-text">
                                        <sw-product-variant-info :variations="item.variation">
                                            {{ item.translated.name || item.name }}
                                        </sw-product-variant-info>
                                    </span>
                                {% endblock %}
                            </slot>
                        </template>
                    </sw-entity-multi-id-select>
                {% endblock %}

                {% block sw_product_stream_value_entity_no_operator_selected_placeholder %}
                    <sw-container class="sw-product-stream-value__placeholder" v-else></sw-container>
                {% endblock %}
            </template>

            <template v-else-if="getConditionType(condition) === 'range'">
                {% block sw_product_stream_value_range_value %}
                    <template v-if="filterType === 'range'">
                        {% block sw_product_stream_value_range_from_value %}
                            <sw-arrow-field>
                                <component
                                    :is="inputComponent"
                                    size="medium"
                                    v-model="gte">
                                </component>
                            </sw-arrow-field>
                        {% endblock %}

                        {% block sw_product_stream_value_range_to_value %}
                            <component
                                :is="inputComponent"
                                size="medium"
                                v-model="lte">
                            </component>
                        {% endblock %}
                    </template>

                    <template v-else>
                        {% block sw_product_stream_value_range_one_limit %}
                            <component
                                :is="inputComponent"
                                size="medium"
                                v-model="currentParameter">
                            </component>
                        {% endblock%}
                    </template>
                {% endblock %}
            </template>

            <template v-else-if="actualCondition.type === 'equalsAny'">
                {% block sw_product_stream_value_multi_value %}
                    <sw-tagged-field size="medium" v-model="multiValue"></sw-tagged-field>
                {% endblock %}
            </template>

            <template v-else>
                {% block sw_product_stream_value_single_value %}
                    <component
                        :is="inputComponent"
                        size="medium"
                        v-model="stringValue">
                    </component>
                {% endblock %}
            </template>
        </template>
    </div>
{% endblock %}
