<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_inheritance_warning %}
<div class="sw-inheritance-warning">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_inheritance_warning_icon %}
    <sw-icon
        size="16px"
        name="regular-link-horizontal"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_inheritance_warning_text %}
    <p>
        {{ $tc('sw-inheritance-warning.infoTextInheritedField', name, { moduleName: name }) }}
    </p>
    {% endblock %}
</div>
{% endblock %}
