@import "~scss/variables";

$sw-field-help-font-size: $font-size-xs;
$sw-field-help-line-height: 22px;
$sw-field-help-color: $color-darkgray-200;
$sw-field-icon-border-radius: $border-radius-default;

.sw-integration-list {
    .sw-card.sw-card--hero .sw-card__content {
        text-align: left;
        line-height: 25px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    p {
        margin-bottom: 22px;
    }

    .sw-integration-list__overview {
        .sw-card__content {
            padding: 0;

            .sw-data-grid {
                border-radius: 3px;
            }

            .sw-empty-state {
                padding: 30px;
            }
        }
    }

    .sw-empty-state {
        position: relative;
    }

    .sw-integration-list__app-icon {
        margin-right: 16px;
        background-color: $color-darkgray-500;
        border-radius: $sw-field-icon-border-radius;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .sw-icon {
            color: $color-white;
            width: 10px;
            height: 10px;
        }

        + a {
            font-weight: bold;
        }
    }

    .sw-label {
        margin-bottom: 0;
    }

    .sw-grid .sw-grid__content.sw-grid__content--pagination {
        grid-template-rows: auto;
    }
}

.sw-integration-list__detail {
    .sw-integration-list__secret-help-text-alert {
        margin-top: 22px;
    }

    .sw-field.sw-field--checkbox {
        margin: 0;
    }

    .sw-integration-list__help-text {
        font-size: $sw-field-help-font-size;
        color: lighten($sw-field-help-color, 20);
        line-height: $sw-field-help-line-height;
        margin-top: 7px;
    }
}
