<transition name="slide-fade">
    <div v-if="notifications.length" class="sw-notifications" :style="notificationsStyle">
        <transition-group name="slide-fade">
            <sw-alert v-for="(notification, index) in notifications"
                      :key="notification.uuid"
                      :title="notification.title"
                      :variant="notification.variant"
                      :system="notification.system"
                      :notificationIndex="index"
                      @swAlertRemove="onRemove">
                {{ notification.text }}
            </sw-alert>
        </transition-group>
    </div>
</transition>