{% block sw_navigation %}
    <sw-page class="sw-navigation" :class="pageClasses">

        <template slot="smart-bar-header">
            {% block sw_navigation_smart_bar_header %}
                <h2>{{ $tc('sw-navigation.general.headlineNavigations') }}</h2>
            {% endblock %}
        </template>

        <template slot="smart-bar-actions">
            {% block sw_navigation_smart_bar_actions %}
                <sw-button v-if="navigation" variant="primary" @click.prevent="onSave">
                    {{ $tc('sw-navigation.general.buttonSafeNavigation') }}
                </sw-button>
            {% endblock %}
        </template>

        <template slot="side-content">
            {% block sw_navigation_side_content %}
                <sw-navigation-tree
                    v-if="!isMobileViewport || isMobileViewport && !navigation"
                    :navigations="navigations"
                    @sw-navigation-on-save="onSaveNavigations"
                    @sw-navigation-on-reset-details="resetNavigation"
                ></sw-navigation-tree>
            {% endblock %}
        </template>

        <template slot="content">
            {% block sw_navigation_content %}
                <sw-navigation-view v-if="navigation"
                    ref="navigationView"
                    :navigation="navigation"
                    :isLoading="isLoading"
                ></sw-navigation-view>
            {% endblock %}

            {% block sw_navigation_loader %}
                <sw-loader v-if="!navigations"></sw-loader>
            {% endblock %}
        </template>

    </sw-page>
{% endblock %}
