@import "~less/variables";

@sw-settings-item-text-color:       @color-kashmir;
@sw-settings-item-hover-text-color: @color-shopware-blue;

.sw-settings-item {
    color: @sw-settings-item-text-color;
    text-decoration: none;
    height: 150px;
    display: block;
    padding: 24px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 2px;

    &:hover {
        color: @sw-settings-item-hover-text-color;
        box-shadow: 0 1px 6px 0 rgba(120, 138, 155, 0.3);
    }

    .sw-settings-item__icon {
        margin-bottom: 8px;
    }
}