.sw-settings-services-index {
  .sw-settings-services__listing-section {
    max-width: 960px;
    margin: 0 auto;
  }

  .sw-settings-services__listing-section h3 {
    margin-bottom: var(--scale-size-24);
  }

  .sw-settings-services__optional-services {
    margin-bottom: var(--scale-size-24);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--scale-size-24);
    list-style-type: none;
  }

  .sw-settings-services__default-services {
    list-style-type: none;

    li {
      border-bottom: 1px solid var(--color-border-primary-default);

      &:last-child:not(:only-child) {
        border-bottom: none;
      }
    }
  }
}