<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_sidebar %}
<sw-sidebar class="sw-cms-sidebar">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_page_settings %}
    <sw-sidebar-item
        ref="pageConfigSidebar"
        icon="regular-cog"
        :title="$tc('sw-cms.detail.sidebar.titlePageSettings')"
        :has-simple-badge="hasPageConfigErrors"
        badge-type="error"
        :disabled="page.locked || disabled"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_page_settings_content %}
        <sw-sidebar-collapse :expand-on-loading="true">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_page_settings_header %}
            <template #header>
                <span>{{ $tc('sw-cms.detail.sidebar.headerPageSettings') }}</span>
            </template>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_page_settings_form %}
            <template #content>
                <div class="sw-cms-sidebar__settings">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_page_settings_name_field %}
                    <sw-text-field
                        v-model:value="page.name"
                        :label="$tc('sw-cms.detail.label.pageName')"
                        :placeholder="placeholder(page, 'name')"
                        :error="pageNameError"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_page_settings_css_class_field %}
                    <sw-text-field
                        v-model:value="page.cssClass"
                        :label="$tc('sw-cms.detail.label.pageCssClass')"
                        :placeholder="placeholder(page, 'cssClass')"
                        :help-text="$tc('sw-cms.detail.helpText.cssClassField')"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_page_settings_type_field %}
                    <sw-select-field
                        v-tooltip.bottom="tooltipDisabled"
                        :value="page.type"
                        :label="$tc('sw-cms.detail.label.pageTypeSelection')"
                        :disabled="!isSystemDefaultLanguage || page.type === 'product_detail' || undefined"
                        @update:value="onPageTypeChange"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_page_settings_type_field_options %}
                        <option
                            v-for="pageType in pageTypes"
                            :key="pageType.name"
                            :value="pageType.name"
                            :disabled="isDisabledPageType(pageType) || undefined"
                        >
                            {{ $tc(pageType.title) }}
                        </option>
                        {% endblock %}
                    </sw-select-field>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_page_settings_demo_field %}
                    <sw-entity-single-select
                        v-if="demoEntity !== null"
                        v-model:value="demoEntityId"
                        :label="$tc('sw-cms.detail.label.demoEntity')"
                        :placeholder="$tc('sw-cms.detail.placeholder.demoEntity')"
                        :entity="demoEntity"
                        :criteria="demoCriteria"
                        :context="demoContext"
                        show-clearable-button
                        @update:value="onDemoEntityChange"
                    >

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_page_settings_demo_field_variant_label %}
                        <template
                            v-if="demoEntity === 'product'"
                            #selection-label-property="{ item }"
                        >
                            <sw-product-variant-info :variations="item.variation">
                                {{ item.translated.name || item.name }}
                            </sw-product-variant-info>
                        </template>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_page_settings_demo_field_result_item %}
                        <template
                            v-if="demoEntity === 'product'"
                            #result-item="{ item, index }"
                        >
                            <sw-select-result
                                v-bind="{ item, index }"
                            >

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_cms_sidebar_page_settings_demo_field_result_label %}
                                <span class="sw-select-result__result-item-text">
                                    <sw-product-variant-info :variations="item.variation">
                                        {{ item.translated.name || item.name }}
                                    </sw-product-variant-info>
                                </span>
                                {% endblock %}
                            </sw-select-result>
                        </template>
                        {% endblock %}
                    </sw-entity-single-select>
                    {% endblock %}
                </div>
            </template>
            {% endblock %}
        </sw-sidebar-collapse>
        {% endblock %}
    </sw-sidebar-item>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_block_overview %}
    <sw-sidebar-item
        ref="blockSelectionSidebar"
        icon="regular-plus-circle"
        :title="addBlockTitle"
        :disabled="currentDeviceView === 'form' || !isSystemDefaultLanguage || page.locked || disabled"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_block_overview_content %}
        <div class="sw-cms-sidebar__block-overview">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_block_overview_category %}
            <div class="sw-cms-sidebar__block-category">
                <sw-select-field
                    v-model:value="currentBlockCategory"
                    :label="$tc('sw-cms.detail.label.blockCategorySelection')"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_block_overview_category_options %}
                    <option
                        v-for="blockCategory in cmsBlockCategories"
                        :key="blockCategory.value"
                        :value="blockCategory.value"
                    >
                        {{ $tc(blockCategory.label) }}
                    </option>
                    {% endblock %}
                </sw-select-field>
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_block_overview_preview %}
            <div
                class="sw-cms-sidebar__block-selection"
            >
                <sw-empty-state
                    v-if="cmsBlocksBySelectedBlockCategory.length === 0 && currentBlockCategory === 'favorite'"
                    icon="solid-heart"
                    :absolute="false"
                    :title="$tc('sw-cms.detail.title.blockFavoriteEmptyState')"
                >
                    {{ $tc('sw-cms.detail.label.blockFavoriteEmptyState') }}
                </sw-empty-state>

                <div
                    v-for="block in cmsBlocksBySelectedBlockCategory"
                    :key="block.name"
                    class="sw-cms-sidebar__block"
                >

                    <div class="sw-cms-sidebar__block-preview-with-actions">
                        <div
                            v-draggable="{ dragGroup: 'cms-stage', data: { block }, onDrop: onBlockStageDrop }"
                            class="sw-cms-sidebar__block-preview"
                            :class="{ 'has--no-label': !block.label }"
                        >

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_sidebar_block_overview_preview_component %}
                            <component
                                :is="block.previewComponent"
                                :block="block"
                            />
                            {% endblock %}
                        </div>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_block_overview_preview_favorite_action %}
                        <sw-button
                            class="sw-cms-sidebar__block-favorite"
                            size="small"
                            square
                            block
                            :disabled="block.appName === 'SwagCeToRiseUpsellingApp'"
                            @click="onToggleBlockFavorite(block.name)"
                        >
                            <sw-icon
                                v-if="cmsBlockFavorites.isFavorite(block.name)"
                                name="solid-heart"
                                size="20"
                                class="sw-cms-sidebar__icon-cms-block-favorite"
                            />
                            <sw-icon
                                v-else
                                name="regular-heart"
                                size="20"
                                class="sw-cms-sidebar__icon-cms-block-favorite"
                            />
                        </sw-button>
                        {% endblock %}
                    </div>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_block_overview_preview_label %}
                    <span
                        v-if="block.label"
                        class="sw-cms-sidebar__block-label"
                    >
                        {{ $tc(block.label) }}
                    </span>
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </sw-sidebar-item>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_block_and_section_settings %}
    <sw-sidebar-item
        ref="itemConfigSidebar"
        icon="regular-file-edit"
        :title="sidebarItemSettings"
        :disabled="(selectedBlock === null && selectedSection === null) || page.locked || disabled"
        @close-content="onCloseBlockConfig"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_block_settings %}
        <div class="sw-cms-sidebar__block-settings">
            <template v-if="selectedBlock !== null">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_sidebar_block_settings_content %}
                <sw-sidebar-collapse :expand-on-loading="true">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_block_settings_header %}
                    <template #header>
                        <span>
                            {{ $tc('sw-cms.sidebar.contentMenu.generalSettings') }}
                        </span>
                    </template>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_block_settings_form %}
                    <template #content>
                        <sw-cms-block-config
                            :block="selectedBlock"
                            @block-delete="onBlockDelete"
                            @block-duplicate="onBlockDuplicate"
                        />
                    </template>
                    {% endblock %}
                </sw-sidebar-collapse>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_sidebar_block_layout_settings_content %}
                <sw-sidebar-collapse :expand-on-loading="false">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_block_layout_settings_header %}
                    <template #header>
                        <span> {{ $tc('sw-cms.sidebar.contentMenu.layoutSettings') }}</span>
                    </template>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_block_layout_settings_form %}
                    <template #content>
                        <sw-cms-block-layout-config :block="selectedBlock" />
                    </template>
                    {% endblock %}
                </sw-sidebar-collapse>
                {% endblock %}

                <sw-sidebar-collapse :expand-on-loading="false">
                    <template #header>
                        <span>{{ $tc('sw-cms.sidebar.contentMenu.visibilitySettings') }}</span>
                    </template>
                    <template #content>
                        <sw-cms-visibility-config
                            class="sw-cms-sidebar__visibility-config-block"
                            :visibility="selectedBlock.visibility"
                            @visibility-change="(viewport, isVisible) => onVisibilityChange(selectedBlock, viewport, isVisible)"
                        />
                    </template>
                </sw-sidebar-collapse>
            </template>
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_section_settings %}
        <div class="sw-cms-sidebar__section-settings">
            <template v-if="selectedSection !== null">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_sidebar_section_settings_content %}
                <sw-sidebar-collapse :expand-on-loading="true">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_section_settings_header %}
                    <template #header>
                        <span>
                            {{ $tc('sw-cms.sidebar.contentMenu.generalSettings') }}
                        </span>
                    </template>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_section_settings_form %}
                    <template #content>
                        <sw-cms-section-config
                            :section="selectedSection"
                            @section-duplicate="onSectionDuplicate"
                            @section-delete="onSectionDelete"
                        />
                    </template>
                    {% endblock %}
                </sw-sidebar-collapse>

                <sw-sidebar-collapse :expand-on-loading="false">
                    <template #header>
                        <span>{{ $tc('sw-cms.sidebar.contentMenu.visibilitySettings') }}</span>
                    </template>
                    <template #content>
                        <sw-cms-visibility-config
                            class="sw-cms-sidebar__visibility-config-section"
                            :visibility="selectedSection.visibility"
                            @visibility-change="(viewport, isVisible) => onVisibilityChange(selectedSection, viewport, isVisible)"
                        />
                    </template>
                </sw-sidebar-collapse>
                {% endblock %}
            </template>
        </div>
        {% endblock %}
    </sw-sidebar-item>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_navigator %}
    <sw-sidebar-item
        ref="blockNavigator"
        icon="regular-layer-group"
        :title="$tc('sw-cms.detail.sidebar.titleNavigator')"
        :disabled="!page.sections.length === 0 || currentDeviceView === 'form' || page.locked || disabled"
        @click="onSidebarNavigatorClick"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_navigator_content %}
        <div class="sw-cms-sidebar__navigator">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_navigator_section %}
            <div
                v-for="(section, sectionIndex) in page.sections"
                :id="`sw-cms-sidebar__section-${section.id}`"
                :key="section.id"
                class="sw-cms-sidebar__navigator-section"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_sidebar_navigator_section_header %}
                <div class="sw-cms-sidebar__navigator-section-header">
                    <template v-if="section.name">
                        {{ $tc('sw-cms.section.layoutSection') }} - {{ section.name }}
                    </template>

                    <template v-else-if="section.type === 'sidebar'">
                        {{ $tc('sw-cms.section.isSidebar') }}
                    </template>

                    <template v-else>
                        {{ $tc('sw-cms.section.isDefault') }}
                    </template>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_navigator_section_menu %}
                    <sw-context-button :key="section.position">

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_section_menu_move_up %}
                        <sw-context-menu-item
                            class="sw-cms-sidebar__navigator-section-move-up"
                            :disabled="section.position === 0 || undefined"
                            @click="moveSectionUp(section)"
                        >
                            {{ $tc('sw-cms.sidebar.contentMenu.moveUp') }}
                        </sw-context-menu-item>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_section_menu_move_down %}
                        <sw-context-menu-item
                            class="sw-cms-sidebar__navigator-section-move-down"
                            :disabled="section.position === page.sections.length - 1 || undefined"
                            @click="moveSectionDown(section)"
                        >
                            {{ $tc('sw-cms.sidebar.contentMenu.moveDown') }}
                        </sw-context-menu-item>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_section_menu_settings %}
                        <sw-context-menu-item
                            class="sw-cms-sidebar__navigator-section-settings"
                            @click="openSectionSettings(sectionIndex)"
                        >
                            {{ $tc('sw-cms.sidebar.contentMenu.settings') }}
                        </sw-context-menu-item>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_section_menu_duplicate %}
                        <sw-context-menu-item
                            class="sw-cms-sidebar__navigator-section-duplicate"
                            :disabled="!sectionIsDuplicable(section)"
                            @click="onSectionDuplicate(section)"
                        >
                            {{ $tc('global.default.duplicate') }}
                        </sw-context-menu-item>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_section_menu_delete %}
                        <sw-context-menu-item
                            class="sw-cms-sidebar__navigator-section-delete"
                            variant="danger"
                            @click="onSectionDelete(section.id)"
                        >
                            {{ $tc('sw-cms.general.buttonDelete') }}
                        </sw-context-menu-item>
                        {% endblock %}
                    </sw-context-button>
                    {% endblock %}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_sidebar_navigator_main_elements %}
                <template v-if="getMainContentBlocks(section.blocks).length > 0">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_navigator_main_element %}
                    <template
                        v-for="block in getMainContentBlocks(section.blocks)"
                        :key="block.id"
                    >
                        <sw-cms-sidebar-nav-element
                            v-draggable="getDragData(block, sectionIndex)"
                            v-droppable="getDropData(block, sectionIndex)"
                            :block="block"
                            class="sw-cms-sidebar__navigator-block"
                            :removable="blockIsRemovable(block)"
                            :duplicable="blockIsDuplicable(block)"
                            :class="{ 'is--dragging': block.isDragging }"
                            @block-delete="onBlockDelete($event, section)"
                            @block-duplicate="onBlockDuplicate($event, section)"
                        />
                    </template>
                    {% endblock %}
                </template>

                <template v-else>
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_navigator_main_empty %}
                    <div
                        :key="section.id + '_main'"
                        v-droppable="getDropData({ position: 0, sectionPosition: 'main' }, sectionIndex)"
                        class="sw-cms-sidebar__navigator-empty-element"
                    >
                        {{ $tc('sw-cms.detail.label.addBlocks') }}
                    </div>
                    {% endblock %}
                </template>
                {% endblock %}

                <template v-if="section.type === 'sidebar'">
                    <div class="sw-cms-sidebar__navigator-section-spacer"></div>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_sidebar_navigator_sidebar_elements %}
                    <template v-if="getSidebarContentBlocks(section.blocks).length > 0">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_sidebar_element %}
                        <template
                            v-for="block in getSidebarContentBlocks(section.blocks)"
                            :key="block.id"
                        >
                            <sw-cms-sidebar-nav-element
                                v-draggable="getDragData(block, sectionIndex)"
                                v-droppable="getDropData(block, sectionIndex)"
                                :block="block"
                                :removable="blockIsRemovable(block)"
                                class="sw-cms-sidebar__navigator-block is--sidebar"
                                :class="{ 'is--dragging': block.isDragging }"
                                @block-delete="onBlockDelete($event, section)"
                                @block-duplicate="onBlockDuplicate($event, section)"
                            />
                        </template>
                        {% endblock %}
                    </template>

                    <template v-else>
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_sidebar_navigator_sidebar_empty %}
                        <div
                            :key="section.id + '_sidebar'"
                            v-droppable="getDropData({ position: 0, sectionPosition: 'sidebar' }, sectionIndex)"
                            class="sw-cms-sidebar__navigator-empty-element"
                        >
                            {{ $tc('sw-cms.detail.label.addBlocks') }}
                        </div>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </template>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </sw-sidebar-item>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_layout_assignment %}
    <sw-sidebar-item
        ref="layoutAssignment"
        class="sw-cms-sidebar__layout-assignment"
        icon="regular-share"
        :title="$tc('sw-cms.detail.sidebar.titleLayoutAssignment')"
        :disabled="page.locked || disabled"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_layout_assignment_content %}
        <div class="sw-cms-sidebar__layout-assignment-content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_layout_assignment_headline %}
            <h3 class="sw-cms-sidebar__layout-assignment-headline">
                {{ $tc('sw-cms.sidebar.layoutAssignment.headline') }}
            </h3>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_layout_assignment_info_text %}
            <p class="sw-cms-sidebar__layout-assignment-info-text">
                {{ $tc('sw-cms.sidebar.layoutAssignment.infoText') }}
            </p>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_layout_assignment_action_open %}
            <sw-button
                variant="ghost"
                size="small"
                class="sw-cms-sidebar__layout-assignment-open"
                @click="onOpenLayoutAssignment"
            >
                {{ $tc('sw-cms.sidebar.layoutAssignment.actionAssignLayout') }}
            </sw-button>
            {% endblock %}
        </div>
        {% endblock %}

        <div
            v-if="showDefaultLayoutSelection"
            class="sw-cms-sidebar__layout-set-as-default-content"
        >
            <h3 class="sw-cms-sidebar__layout-set-as-default-headline">
                {{ $tc('sw-cms.sidebar.layoutSetAsDefault.headline') }}
            </h3>

            <p class="sw-cms-sidebar__layout-set-as-default-info-text">
                {{ $tc('sw-cms.components.setDefaultLayoutModal.infoText', page.type === 'product_detail') }}
            </p>

            <sw-button
                variant="ghost"
                size="small"
                class="sw-cms-sidebar__layout-set-as-default-open"
                @click="onOpenLayoutSetAsDefault"
            >
                {{ $tc('sw-cms.sidebar.layoutSetAsDefault.actionSetAsDefaultLayout') }}
            </sw-button>
        </div>
    </sw-sidebar-item>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_navigator_confirm_modal %}
    <sw-modal
        v-if="showSidebarNavigatorModal"
        class="sw-cms-sidebar__navigator-confirm-modal"
        :title="$tc('global.default.warning')"
        variant="small"
        @modal-close="onSidebarNavigationCancel"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_sidebar_navigator_confirm_modal_content %}
        <p class="sw-confirm-modal__text">
            {{ $tc('sw-cms.detail.sidebar.confirmTextNavigator') }}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_navigator_confirm_modal_content_input_reminder %}
            <sw-checkbox-field
                v-model:value="navigatorDontRemind"
                class="sw-cms-sidebar__navigator-confirm-modal-reminder"
                :label="$tc('sw-cms.detail.sidebar.confirmReminderNavigator')"
            />
            {% endblock %}
        </p>
        {% endblock %}

        <template #modal-footer>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_navigator_confirm_modal_content_footer %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_navigator_confirm_modal_content_footer_cancel %}
            <sw-button
                class="sw-cms-sidebar__navigator-confirm-modal-cancel"
                size="small"
                @click="onSidebarNavigationCancel"
            >
                {{ $tc('global.default.cancel') }}
            </sw-button>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_sidebar_navigator_confirm_modal_content_footer_confirm %}
            <sw-button
                class="sw-cms-sidebar__navigator-confirm-modal-confirm"
                variant="primary"
                size="small"
                @click="onSidebarNavigationConfirm"
            >
                {{ $tc('global.default.confirm') }}
            </sw-button>
            {% endblock %}
            {% endblock %}
        </template>
    </sw-modal>
    {% endblock %}
</sw-sidebar>
{% endblock %}
