<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_description_reviews_preview %}
<div class="sw-cms-el-preview-product-description-reviews">
    <div class="sw-cms-el-preview-product-description-reviews__tabs">
        <h6 class="sw-cms-el-preview-product-description-reviews__description-tab">
            {{ $tc('sw-cms.elements.productDescriptionReviews.preview.label.description') }}
        </h6>
        <h6 class="sw-cms-el-preview-product-description-reviews__reviews-tab">
            {{ $tc('sw-cms.elements.productDescriptionReviews.preview.label.reviews') }}
        </h6>
    </div>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
</div>
{% endblock %}
