<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_product_clone_modal %}
<sw-modal
    v-if="cloningVariants"
    :title="$tc('sw-product.general.cloneTitle')"
    :closable="false"
    variant="small"
    class="clone-variant__modal"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_clone_modal_description %}
    <div class="clone-variant__description">
        {{ $tc('sw-product.general.cloneNotice') }}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_clone_modal_progress_bar %}
    <sw-progress-bar
        class="clone-variant-progress-bar"
        :value="progressInPercentage"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_clone_modal_progress_bar_description %}
    <div class="clone-variant-progress-bar__description">
        {{ cloneProgress }} {{ $tc('sw-product.variations.progressTypeOf') }} {{ cloneMaxProgress }} {{ $tc('sw-product.general.cloneSuffix') }}
    </div>
    {% endblock %}
</sw-modal>
{% endblock %}
