<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_first_run_wizard_mailer_smtp %}
<div class="sw-first-run-wizard-mailer-smtp">
    <sw-loader v-if="isLoading" />

    <h2>{{ $tc('sw-first-run-wizard.mailerSmtp.headline') }}</h2>
    <sw-settings-mailer-smtp :mailer-settings="mailerSettings" />
</div>
{% endblock %}
