{% block sw_suffix_field %}
    <span class="sw-field__suffix" :class="fieldClasses">
        <slot>
            {% block sw_field_slot_suffix %}
                {{ suffix }}
            {% endblock %}
        </slot>
    </span>
{% endblock %}
