.sw-condition-time-range {
    display: grid;
    gap: var(--scale-size-4);
    grid-template-columns: 1fr 1fr 1fr;

    .wrapper {
        row-gap: 0;
    }

    .field-hint {
        display: none;
    }

    .mt-field-label {
        display: none;
    }

    .sw-contextual-field {
        .sw-field__addition .mt-icon {
            line-height: 0;
        }
    }

    .sw-single-select.sw-select {
        .sw-single-select__selection-text,
        .sw-single-select__selection-input {
            min-height: 0;
        }
    }
}
