{% block sw_condition_value_content %}
<div class="sw-condition-time-range">
    {% block sw_condition_time_range_field_from_time %}
    <sw-arrow-field
        :primary="disabled ? null : '#F9FAFB'"
        :disabled="disabled"
    >
        <sw-datepicker
            v-model="fromTime"
            size="medium"
            date-type="time"
            required
            :config="datepickerConfig"
            :disabled="disabled"
        />
    </sw-arrow-field>
    {% endblock %}

    {% block sw_condition_time_range_field_to_time %}
    <sw-datepicker
        v-model="toTime"
        size="medium"
        date-type="time"
        required
        :disabled="disabled"
        :config="datepickerConfig"
    />
    {% endblock %}
</div>
{% endblock %}
