{% block sw_media_list_selection_item_v1 %}
    <div class="sw-media-list-selection-item-v1" :class="productImageClasses">

        {% block sw_media_list_selection_item_v1_preview %}
            <template v-if="!isPlaceholder">

                {% block sw_media_list_selection_item_v1_preview_media %}
                    <sw-media-preview-v1
                        class="sw-media-list-selection-item-v1__image"
                        :source="sourceId"
                        @click="$emit('click')"
                        :hideTooltip="hideTooltip">
                    </sw-media-preview-v1>
                {% endblock %}

                {% block sw_media_list_selection_item_v1_preview_actions %}
                    <sw-context-button v-if="!hideActions" class="sw-media-list-selection-item-v1__context-button">
                        {% block sw_media_list_selection_item_v1_context %}
                            {% block sw_media_list_selection_item_v1_context_delete_action %}
                                <sw-context-menu-item variant="danger" @click="$emit('item-remove')">{{ $tc('global.sw-media-list-selection-item-v1.buttonRemove') }}</sw-context-menu-item>
                            {% endblock %}
                        {% endblock %}
                    </sw-context-button>
                {% endblock %}
            </template>

        {% endblock %}

        {% block sw_media_list_selection_item_v1_placeholder %}
            <template v-else>
                {% block sw_media_list_selection_item_v1_placeholder %}
                    <sw-icon class="sw-media-list-selection-item-v1__placeholder-icon" :name="'default-object-image'" :small="true"></sw-icon>
                {% endblock %}
            </template>
        {% endblock %}

    </div>
{% endblock %}
