{% block sw_condition_container %}
    <div class="sw-condition-and-container" :class="containerRowClass">
        {% block sw_condition_container_content %}
            <div class="sw-condition-and-container__condition-content">
                {% block sw_condition_container_children %}
                    <div v-for="(child, index) in sortedChildren"
                         :key="index">
                        {% block sw_condition_container_children_spacer %}
                            <div v-if="index"
                                 class="condition-content__spacer--and">
                                {{ $tc('global.sw-condition.condition.and') }}
                            </div>
                        {% endblock %}
                        {% block sw_condition_container_children_component %}
                            <component v-bind:is="getComponent(child.type)"
                                       :condition="child"
                                       :conditionAssociations="conditionAssociations"
                                       :level="level + 1"
                                       :conditionStore="conditionStore"
                                       :entityName="entityName"
                                       @delete-condition="onDeleteCondition"
                                       @create-before="createPlaceholderBefore"
                                       @create-after="createPlaceholderAfter">
                                       @delete-condition="onDeleteCondition">
                            </component>
                        {% endblock %}
                    </div>
                {% endblock %}
                {% block sw_condition_container_actions %}
                    <div class="sw-condition-and-container__actions">
                        <sw-button class="sw-condition-and-container__actions--and" @click="onAddAndClick">
                            {{ $tc('global.sw-condition.condition.and') }}
                        </sw-button>
                        <sw-button class="sw-condition-and-container__actions--sub" @click="onAddChildClick">
                            {{ $tc('global.sw-condition.condition.subCondition') }}
                        </sw-button>
                        <sw-button class="sw-condition-and-container__actions--delete"
                                   :disabled="disabledDeleteButton"
                                   @click="onDeleteAll">
                            {{ $tc('global.sw-condition.condition.deleteConditions') }}
                        </sw-button>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}