{#
Global messages template

https://getbootstrap.com/docs/4.3/components/alerts/

*Type:
The template provides an easy way to display messages in the storefront. The following types are supported:

* primary
* secondary
* danger (red)
* success (green)
* warning (yellow)
* info (blue)
* light (white)
* dark (dark gray)

    {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
        type:"primary",
        content:"Primary Lorem ipsum dolor"
    } %}

*Message Content:
The component requires the parameters ```content``` or ```list``` to display a message. If no ```type``` is defined it
will use the fallback option (success).

    {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
        type:"primary",
        content:"Primary Lorem ipsum dolor"
    } %}

*Message List:
If you need to display a bunch of messages (for example error messages in the registration), you can pass an array
of messages to the template using the parameter ```list```:

     {% set list1 = [
        'Error message 1',
        'Error message 2',
        'Error message 3'
    ] %}

    {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
        type:"secondary",
        list: list1
    } %}

*Heading:
To display a heading, use "heading".

    {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
        type:"primary",
        content:"Primary Lorem ipsum dolor",
        heading: "Test Heading"
    } %}

*Dismissible Button:
To display a dismissible button set the value of "dismissible" to true.

    {% sw_include '@Storefront/base/_utilities/alert.html.twig' with {
        type:"primary",
        content:"Primary Lorem ipsum dolor",
        dismissible: true
    } %}

#}

{% block base_utilities_alert %}
    <div class="alert alert-{% if type %}{{ type }}{% else %}success{% endif %}{% if dismissible %} alert-dismissible fade show{% endif %}"
         role="alert">
        {% block base_utilities_alert_icon %}
            {#TODO: NEXT-1899 - alert icon#}
        {% endblock %}

        {% block base_utilities_alert_heading %}
            {% if heading %}
                <h4 class="alert-heading">
                    {{ heading }}
                </h4>
            {% endif %}
        {% endblock %}

        {% block base_utilities_alert_content %}
            {% if content %}
                {{ content }}
            {% else %}
                <ul>
                    {% for entry in list %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}

        {% block base_utilities_alert_dismissible %}
            {% if dismissible %}
                <button type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
