<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_captcha_select_v2 %}
<sw-container class="sw-settings-captcha-select-v2">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_captcha_select_v2_multi_select %}
    <sw-multi-select
        v-model:value="activeCaptchaSelect"
        v-bind="attributes"
        :options="availableCaptchas"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_captcha_select_v2_google_recaptcha_v2 %}
    <sw-container
        v-if="currentValue.googleReCaptchaV2.isActive"
        class="sw-settings-captcha-select-v2__google-recaptcha-v2"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v2_description %}
        <p class="sw-settings-captcha-select-v2__description sw-settings-captcha-select-v2__google-recaptcha-v2-description">
            {{ $tc('sw-settings-basic-information.captcha.label.googleReCaptchaV2CheckboxDescription') }}
        </p>

        <p class="sw-settings-captcha-select-v2__description sw-settings-captcha-select-v2__google-recaptcha-v2-description">
            {{ $tc('sw-settings-basic-information.captcha.label.googleReCaptchaV2InvisibleDescription') }}
        </p>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v2_site_key %}
        <sw-text-field
            v-model:value="currentValue.googleReCaptchaV2.config.siteKey"
            name="googleReCaptchaV2SiteKey"
            :label="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV2SiteKey')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v2_secret_key %}
        <sw-text-field
            v-model:value="currentValue.googleReCaptchaV2.config.secretKey"
            name="googleReCaptchaV2SecretKey"
            :label="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV2SecretKey')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v2_invisible %}
        <sw-switch-field
            v-model:value="currentValue.googleReCaptchaV2.config.invisible"
            bordered
            name="googleReCaptchaV2Invisible"
            :label="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV2Invisible')"
        />
        {% endblock %}

    </sw-container>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_captcha_select_v2_google_recaptcha_v3 %}
    <sw-container
        v-if="currentValue.googleReCaptchaV3.isActive"
        class="sw-settings-captcha-select-v2__google-recaptcha-v3"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v3_description %}
        <p class="sw-settings-captcha-select-v2__description sw-settings-captcha-select-v2__google-recaptcha-v3-description">
            {{ $tc('sw-settings-basic-information.captcha.label.googleReCaptchaV3Description') }}
        </p>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v3_site_key %}

        <sw-text-field
            v-model:value="currentValue.googleReCaptchaV3.config.siteKey"
            name="googleReCaptchaV3SiteKey"
            :label="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV3SiteKey')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v3_secret_key %}
        <sw-text-field
            v-model:value="currentValue.googleReCaptchaV3.config.secretKey"
            name="googleReCaptchaV3SecretKey"
            :label="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV3SecretKey')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_captcha_select_v2_google_recaptcha_v3_threshold_score %}
        <sw-number-field
            v-model:value="currentValue.googleReCaptchaV3.config.thresholdScore"
            name="googleReCaptchaV3ThresholdScore"
            number-type="float"
            :min="0"
            :max="1"
            :step="0.1"
            :label="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV3ThresholdScore')"
            :help-text="$tc('sw-settings-basic-information.captcha.label.googleReCaptchaV3DescriptionThresholdScore')"
        />
        {% endblock %}

    </sw-container>
    {% endblock %}

</sw-container>
{% endblock %}
