<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_simple_grid_preview %}
<div class="sw-cms-preview-image-simple-grid">
    <div class="sw-cms-preview-image-simple-grid__side-images">
        <div class="sw-cms-preview-image-simple-grid__image-top">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-simple-grid__image-bottom">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
                alt=""
            >
        </div>
    </div>
    <img
        :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
        alt=""
    >
</div>
{% endblock %}
