@import "~less/variables";

@sw-sidebar-item-headline-color: @color-kashmir;
@sw-sidebar-item-color-border:   @color-steam-cloud;

.sw-sidebar-item {
    width: 400px;
    height: 100%;
    display: grid;
    grid-template-rows: 64px 1fr;
    border-left: 1px solid @sw-sidebar-item-color-border;
    overflow: hidden;

    .sw-sidebar-item__headline {
        display: grid;
        grid-template-columns: 1fr 32px;
        margin: 25px 25px 0;
    }

    .sw-sidebar-item__title {
        margin: 0;
        font-size: 18px;
        color: @sw-sidebar-item-headline-color;
    }

    .sw-sidebar-item__close-button {
        color: @sw-sidebar-item-headline-color;
        height: 24px;
        width: 24px;
        justify-self: end;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .sw-sidebar-item__content {
        position: relative;
        width: 100%;
        height: 100%
    }

    .sw-sidebar-item__scrollable-container {
        position: absolute;
        width: 400px;
        height: 100%;
        overflow-y: auto;
    }
}

// Vue.js animations
.sw-sidebar-item-fade-enter-active,
.sw-sidebar-item-fade-leave-active {
    transition: opacity ease-in-out .3s,
                width cubic-bezier(.50, .32, .01, 1) .3s;
    width: 400px;
}

.sw-sidebar-item-fade-enter,
.sw-sidebar-item-fade-leave-to {
    opacity: 0;
    width: 0;
}