$order-grid-gutter-width: 20px;

.order-table-header,
.order-item-header,
.order-detail-content-header,
.order-detail-content-footer {
    .row {
        margin-right: -$order-grid-gutter-width / 2;
        margin-left: -$order-grid-gutter-width / 2;

        > .col,
        > [class*='col-'] {
            padding-right: $order-grid-gutter-width / 2;
            padding-left: $order-grid-gutter-width / 2;
        }
    }
}

.order-table-header {
    font-weight: bold;
}

.order-item-name {
    color: $gray-800;
}

.order-detail-content-header {
    font-weight: bold;
}

.order-item-product-name {
    color: $headings-color;

    &:hover {
        color: $primary;
        text-decoration: none;
    }
}

.order-item-number-value {
    font-weight: $font-weight-bold;
}

.order-pseudo-price-value {
    text-decoration: line-through;
}

.order-item-detail-list-item {
    margin: 0;

    &.is-child {
        background-color: $gray-100;
    }
}

.order-item-nested-icon {
    background-color: $gray-600;
}

.order-item-detail-footer {
    background-color: $gray-100;
}

.order-item-detail-summary dd {
    font-weight: $font-weight-bold;
}

.order-detail-table-footer {
    @extend .bg-light;
}

.order-price-unit {
    font-size: $font-size-sm;
}

.order-item-variants {
    font-size: $font-size-sm;
}

.order-item-variants-properties-name {
    font-weight: bold;
}
