.account {
    .account-sidebar {
        display: none;
    }
}

.account-sidebar-header {
    background: none;
    color: $headings-color;
    font-weight: $font-weight-bold;
}

.account-sidebar-footer {
    background: none;
    margin-top: 1px;
    border-top: 1px solid $border-color;

    .btn {
        line-height: normal;
    }
}

.account-welcome {
    padding-top: $spacer;
}

@include media-breakpoint-up(md) {
    .account {
        .account-sidebar {
            display: block;
        }
    }
}
