<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_flow_detail %}
<sw-page class="sw-flow-detail">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_flow_detail_header %}
    <template #smart-bar-header>
        <h2>{{ placeholder(flow, 'name', $tc('sw-flow.detail.textHeadline')) }}</h2>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_flow_detail_smart_bar_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_flow_detail_smart_bar_actions_save %}
        <sw-button-process
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('flow.editor'),
                position: 'bottom',
                showOnDisabledElements: true
            }"
            class="sw-flow-detail__save"
            variant="primary"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            :disabled="!acl.can('flow.editor')"
            @process-finish="saveFinish"
            @click.prevent="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_flow_content %}
    <template #content>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_flow_leave_page_modal %}
        <sw-flow-leave-page-modal
            v-if="showLeavePageWarningModal"
            @page-leave-cancel="onLeaveModalClose"
            @page-leave-confirm="onLeaveModalConfirm"
        />
        {% endblock %}

        <sw-card-view :class="{'sw-flow-detail__template': isTemplate }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_flow_tabs_header %}
            <sw-tabs position-identifier="sw-flow-detail">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_flow_tabs_header_general %}
                <sw-tabs-item
                    class="sw-flow-detail__tab-general"
                    :route="routeDetailTab('general')"
                >
                    {{ $tc('sw-flow.page.tabGeneral') }}
                </sw-tabs-item>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_flow_tabs_header_builder %}
                <sw-tabs-item
                    class="sw-flow-detail__tab-flow"
                    :route="routeDetailTab('flow')"
                >
                    {{ $tc('sw-flow.page.tabFlow') }}
                </sw-tabs-item>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_flow_tabs_header_extension %}{% endblock %}
            </sw-tabs>
            {% endblock %}
            <sw-alert
                v-if="isTemplate"
                variant="warning"
                class="sw-flow-detail__warning"
            >
                {{ $tc('sw-flow.flowNotification.messageWarningSave') }}
            </sw-alert>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_flow_tabs_content %}
            <template v-if="isLoading">
                <sw-skeleton />
                <sw-skeleton />
            </template>

            <router-view
                v-else
                :is-loading="isLoading"
                :is-new-flow="isNewFlow"
                :is-template="isTemplate"
            />
            {% endblock %}
        </sw-card-view>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_flow_detail_modal_extension %}{% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
