{% block sw_flow_detail %}
<sw-page class="sw-flow-detail">
    {% block sw_flow_detail_header %}
    <template #smart-bar-header>
        <h2>{{ placeholder(flow, 'name', $tc('sw-flow.detail.textHeadline')) }}</h2>
    </template>
    {% endblock %}

    {% block sw_flow_detail_smart_bar_actions %}
    <template #smart-bar-actions>
        {% block sw_flow_detail_smart_bar_actions_save %}
        <sw-button-process
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('flow.editor'),
                position: 'bottom',
                showOnDisabledElements: true
            }"
            class="sw-flow-detail__save"
            variant="primary"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            :disabled="!acl.can('flow.editor')"
            @process-finish="saveFinish"
            @click.prevent="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_flow_content %}
    <template #content>
        <sw-card-view>
            {% block sw_flow_tabs_header %}
            <sw-tabs>
                {% block sw_flow_tabs_header_general %}
                <sw-tabs-item
                    class="sw-flow-detail__tab-general"
                    :route="{ name: routeDetailTab('general') }"
                >
                    {{ $tc('sw-flow.page.tabGeneral') }}
                </sw-tabs-item>
                {% endblock %}

                {% block sw_flow_tabs_header_builder %}
                <sw-tabs-item
                    class="sw-flow-detail__tab-flow"
                    :route="{ name: routeDetailTab('flow') }"
                >
                    {{ $tc('sw-flow.page.tabFlow') }}
                </sw-tabs-item>
                {% endblock %}

                {% block sw_flow_tabs_header_extension %}{% endblock %}
            </sw-tabs>
            {% endblock %}

            {% block sw_flow_tabs_content %}
            <router-view
                :is-loading="isLoading"
                :is-new-flow="isNewFlow"
            />
            {% endblock %}
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
