{% block sw_condition_fields %}
    {% block sw_condition_fields_operator %}
        <sw-field type="select"
                  name="operator"
                  v-model="condition.value.operator"
                  class="field field--select has--arrow">
            <option v-for="operator in operators" :value="operator.identifier">
                {{ $tc(operator.label) }}
            </option>
        </sw-field>
    {% endblock %}
    {% block sw_condition_fields_value %}
        <sw-condition-value multi
                            :id="condition.id"
                            name="countryIds"
                            :store="getCountryStore()"
                            class="field field--main field--multi"
                            v-model="condition.value.countryIds">
        </sw-condition-value>
    {% endblock %}
{% endblock %}
