{% block sw_text_field_input %}
    <div class="sw-field__input">
        {% block sw_password_field_input %}
            <input :type="showPassword ? 'text' : 'password'"
                   :id="id"
                   :name="displayName"
                   :placeholder="placeholder"
                   :disabled="disabled ? 'disabled' : false"
                   @input="onInput"
                   @change="onChange"
                   :value="currentValue"/>
        {% endblock %}

        {% block sw_password_field_toggle_visibility %}
            <span v-if="passwordToggleAble" @click="onTogglePasswordVisibility"
                  :title="showPassword ? $tc('global.sw-field.titleHidePassword') : $tc('global.sw-field.titleShowPassword')"
                  class="sw-field__toggle-password-visibility">
                {% block sw_field_hide_password_icon %}
                    <sw-icon v-if="showPassword" name="default-eye-crossed" small></sw-icon>
                {% endblock %}

                {% block sw_field_show_password_icon %}
                    <sw-icon v-else name="default-eye-open" small></sw-icon>
                {% endblock %}
            </span>
        {% endblock %}
    </div>
{% endblock %}
