{% block sw_settings_user_list %}
    <sw-page class="sw-settings-user-list">
        {% block sw_settings_user_list_search_bar %}
            <template #search-bar>
                <sw-search-bar
                        :placeholder="$tc('sw-settings-user.general.placeholderSearchBar')"
                        :searchType="$tc('sw-settings-user.general.mainMenuItemGeneral')"
                        :initialSearch="term"
                        @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_settings_user_list_smart_bar_header %}
            <template #smart-bar-header>
                <h2>
                    {% block sw_settings_user_list_smart_bar_header_title_text %}
                        {{ $tc('sw-settings-user.general.labelUserList') }}
                    {% endblock %}

                    {% block sw_settings_user_list_smart_bar_header_amount %}
                        <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                            ({{ total }})
                        </span>
                    {% endblock %}
                </h2>
            </template>
        {% endblock %}

        {% block sw_settings_user_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block sw_settings_user_list_actions_create_user %}
                    <sw-button class="sw-settings-user-list__create-user-action"
                               variant="primary"
                               :routerLink="{ name: 'sw.settings.user.create' }">
                        {{ $tc('sw-settings-user.general.labelCreateNewUser') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_user_list_content %}
            <template #content>
                {% block sw_settings_user_list_content_grid %}
                    <sw-data-grid
                        :dataSource="user"
                        :columns="userColumns"
                        identifier="user-grid"
                        :showSettings="true"
                        :showSelection="false"
                        :isLoading="isLoading"
                        @column-sort="onSortColumn">

                        {% block sw_settings_user_list_content_grid_actions %}
                            <template #actions="{ item }">
                                {% block sw_settings_user_list_actions_edit %}
                                    <sw-context-menu-item :routerLink="{ name: 'sw.settings.user.detail', params: { id: item.id } }">
                                        {{ $tc('sw-settings-user.user-grid.contextMenuEdit') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_settings_user_list_actions_delete %}
                                    <sw-context-menu-item variant="danger" @click="onDelete(item)">
                                        {{ $tc('sw-settings-user.user-grid.contextMenuDelete') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </template>
                        {% endblock %}

                        {% block sw_settings_user_list_column_username %}
                            <template #column-username="{ item }">
                                {% block sw_settings_user_list_column_username_content %}
                                    <router-link class="sw-settings-user-list__columns"
                                                 :to="{ name: 'sw.settings.user.detail', params: { id: item.id } }">
                                        {{ item.username }}
                                    </router-link>
                                {% endblock %}
                            </template>
                        {% endblock %}

                        <template #action-modals="{ item }">
                            {% block sw_settings_user_list_delete_modal %}
                                <sw-modal v-if="getItemToDelete(item)"
                                          @modal-close="onCloseDeleteModal"
                                          :title="$tc('sw-settings-user.user-grid.titleModalDelete')"
                                          variant="small">
                                    {% block sw_settings_user_list_delete_modal_confirm_delete_text %}
                                        <p class="sw-settings-user-list__confirm-delete-text">
                                            {{ $tc('sw-settings-user.user-grid.textModalDelete', 0, { name: salutation(item) }) }}
                                        </p>
                                    {% endblock %}

                                    {% block sw_settings_user_list_delete_modal_footer %}
                                        <template #modal-footer>
                                            {% block sw_settings_user_list_delete_modal_cancel %}
                                                <sw-button @click="onCloseDeleteModal" size="small">
                                                    {{ $tc('sw-settings-user.user-grid.labelButtonCancel') }}
                                                </sw-button>
                                            {% endblock %}

                                            {% block sw_settings_user_list_delete_modal_confirm %}
                                                <sw-button @click="onConfirmDelete(item)" variant="primary" size="small">
                                                    {{ $tc('sw-settings-user.user-grid.labelButtonDelete') }}
                                                </sw-button>
                                            {% endblock %}
                                        </template>
                                    {% endblock %}
                                </sw-modal>
                            {% endblock %}
                        </template>
                    </sw-data-grid>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
