/*
Breadcrumb
==============================================
Custom skin styling for bootstrap breadcrumb component.

https://getbootstrap.com/docs/4.3/components/breadcrumb/
*/

.breadcrumb {
    border-bottom: 1px solid $border-color;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item {
    .breadcrumb-link {
        color: $body-color;
    }

    &.active {
        .breadcrumb-link {
            color: $primary;
        }
    }
}
