/*
Form
==============================================
Custom skin styling for bootstrap forms.

https://getbootstrap.com/docs/4.3/components/forms/
*/

.form-label {
    margin-bottom: 3px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
}
