/*
Image slider
==============================================
Skin styling for image slider component.
based on: https://github.com/ganlanyuan/tiny-slider
*/

.image-slider-controls-prev,
.image-slider-controls-next {
    background: rgba($white, 0.5);
    border: 1px solid $border-color;
    display: block;
    height: 70px;
    line-height: 70px;
    margin-top: -35px;
    position: absolute;
    top: 50%;
    width: 30px;

    &:hover {
        border-color: $primary;
        color: $primary;
    }
}

.image-slider-controls-prev {
    left: 15px;
    border-radius: 0 $border-radius $border-radius 0;
}

.image-slider-controls-next {
    right: 15px;
    border-radius: $border-radius 0 0 $border-radius;
}
