/*
Product box
==============================================
Styling for productbox component.
*/

.product-box {
    border-color: $border-color;

    .card-body {
        padding: $spacer;
    }
}

.product-price {
    color: $price-color;
}
