@import "~scss/variables";

.sw-cms-detail {
    .sw-cms-detail__content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .sw-cms-detail__device-actions {
        display: grid;
        grid-template-columns: 24px 24px 24px 24px;
        grid-column-gap: 20px;
        align-content: center;
        align-items: center;
        justify-content: start;
        justify-items: center;

        .sw-icon {
            color: $color-steam-cloud;
            cursor: pointer;

            &:hover {
                color: $color-kashmir;
            }

            &.is--active {
                color: $color-shopware-blue;
            }
        }
    }

    .sw-cms-detail__actions {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 20px;
        align-content: center;
        align-items: center;

        .sw-field {
            margin: 0;

            .sw-field__select select,
            .sw-field__select .sw-field__select-load-placeholder {
                height: 40px;
                line-height: 22px;
            }
        }
    }

    .sw-cms-detail__sidebar {
        .sw-sidebar-collapse__title {
            font-size: 18px;
        }
    }

    .sw-cms-detail__stage-container {
        display: grid;
        grid-template-columns: 1fr auto;
        position: relative;
        overflow: hidden;

        .sw-cms-detail__page-form {
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            padding: 50px 30px;
        }

        .sw-cms-detail__stage {
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            padding: 50px 30px;
            background: #fafbfc;
        }

        .sw-cms-detail__empty-stage {
            width: 100%;
            height: 400px;
            display: grid;
            align-items: center;
            align-content: center;
            justify-items: center;
            justify-content: center;
            border: 2px dashed #d1d9e0;
            border-radius: 10px;
            cursor: auto;

            &.is--valid-drop {
                background-color: $color-cadet-blue;
                border-color: $color-shopware-blue;
            }

            h2.empty-stage__headline {
                margin-bottom: 5px;
            }

            p.empty-stage__claim {
                margin-bottom: 20px;
            }
        }

        .sw-cms-stage {
            background: $color-white;
            box-shadow: 0 0 5px 0 $color-steam-cloud;
            border: 0 none;
            position: relative;
            margin: auto;
            transition: max-width 0.4s ease-in-out, border-width 0.4s ease-in-out;
            box-sizing: content-box;

            &.is--mobile,
            &.is--tablet-portrait,
            &.is--tablet-landscape {
                border: 30px solid #f0f2f5;
                border-radius: 15px;
                box-shadow: 0 0 0 1px #d1d9e0;
            }

            &.is--mobile {
                max-width: 460px;
            }

            &.is--tablet-portrait {
                max-width: 768px;
            }

            &.is--tablet-landscape {
                max-width: 1024px;
            }

            &.is--desktop {
                max-width: 100%;
            }
        }
    }

    .sw-cms-detail__settings,
    .sw-cms-detail__block-overview,
    .sw-cms-detail__navigator {
        padding: 10px 25px;
    }

    .sw-cms-detail__block-category {
        margin-bottom: 20px;
        border-bottom: 1px solid $color-steam-cloud;
    }
}

.sw-cms-detail__block-preview {
    margin: 0 0 20px 0;
    padding: 15px;
    background: $color-white;
    border: 1px solid $color-steam-cloud;
    box-shadow: 0 0 4px 0 rgba($color-steam-cloud, 0.8);
    cursor: grab;
    user-select: none;
    user-focus: none;

    &.is--dragging {
        box-shadow: none;
        border: 1px dashed $color-steam-cloud;
        background-color: $color-iron;
    }

    &.is--drag-element {
        border: 1px solid $color-shopware-blue;
        box-shadow: 0 0 4px 0 rgba($color-shopware-blue, 0.4);
    }
}

.sw-cms-detail__navigator-element {
    display: grid;
    grid-template-columns: 1fr 28px 28px;
    align-items: center;
    align-content: center;
    padding: 8px 4px 8px 14px;
    margin: 0 0 12px 0;
    border: 1px solid $color-steam-cloud;
    background: $color-light-gray;
    color: $color-gutenberg;
    border-radius: 4px;
    cursor: move;

    &.is--drag-element {
        border: 1px solid $color-shopware-blue;
        box-shadow: 0 0 4px 0 rgba($color-shopware-blue, 0.4);

        .navigator-element__action-duplicate,
        .navigator-element__action-delete {
            display: none;
        }
    }

    &.is--dragging {
        background: none;
    }

    .navigator-element__action-duplicate,
    .navigator-element__action-delete {
        line-height: 12px;
        cursor: pointer;

        &:hover {
            color: $color-shopware-blue;
        }
    }
}