{% block sw_category %}
    <sw-page class="sw-category" :class="pageClasses">

        <template slot="search-bar">
            {% block sw_category_search_bar %}
                <sw-search-bar
                    initialSearchType="category"
                    :initialSearch="term"
                    typeSearchAlwaysInContainer
                    ref="searchBar"
                    @search="onSearch">
                </sw-search-bar>
            {% endblock %}
        </template>

        <template slot="smart-bar-header">
            {% block sw_category_smart_bar_header %}
                <h2 v-if="category">{{ placeholder(category, 'name') }}</h2>
                <h2 v-else>{{ $tc('sw-category.general.headlineCategories') }}</h2>
            {% endblock %}
        </template>

        <template slot="language-switch">
            {% block sw_category_language_switch %}
                <sw-language-switch
                    @on-change="onChangeLanguage"
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange">
                </sw-language-switch>
            {% endblock %}
        </template>

        <template slot="smart-bar-actions">
            <template v-if="category">
                {% block sw_category_smart_bar_abort %}
                    <sw-button :disabled="isLoading" @click="cancelEdit">
                        {{ $tc('sw-product.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}
                {% block sw_category_smart_bar_save %}
                    <sw-button v-if="category" variant="primary" @click.prevent="onSave">
                        {{ $tc('sw-category.general.buttonSafeCategory') }}
                    </sw-button>
                {% endblock %}
            </template>
        </template>

        <template slot="side-content">
            {% block sw_category_side_content %}
                <sw-category-tree
                    :categories="categories"
                    :activeCategory="category"
                    :disableContextMenu="disableContextMenu"
                    @sw-category-on-save="onSaveCategories"
                    @sw-category-on-refresh="onRefreshCategories"
                    @sw-category-on-reset-details="resetCategory"
                    @sw-category-load-children="getCategories"
                    @sw-category-tree-on-unsaved-changes="openChangeModal"
                ></sw-category-tree>
            {% endblock %}
        </template>

        {% block sw_category_content %}
            <template slot="content">

                {% block sw_category_content_view %}
                    <sw-category-view v-if="!isMobileViewport && category || isMobileViewport && category"
                        ref="categoryView"
                        :category="category"
                        :mediaItem="mediaItem"
                        :isLoading="isLoading"
                        @sw-category-view-on-open-sidebar="openSidebar"
                        @sw-category-view-on-set-media="setMediaItem"
                        @sw-category-view-on-upload-media="onUploadAdded"
                        @sw-category-view-on-remove-media="onUnlinkLogo"
                    ></sw-category-view>
                {% endblock %}

                {% block sw_category_content_leave_modal %}
                    <sw-category-leave-page-modal v-if="isDisplayingLeavePageWarning"
                        @leave-page-cancel="onLeaveModalClose(nextRoute)"
                        @leave-page-confirm="onLeaveModalConfirm(nextRoute)">
                    </sw-category-leave-page-modal>
                {% endblock %}

                {% block sw_category_content_loader %}
                    <sw-loader v-if="!categories"></sw-loader>
                {% endblock %}

                {% block sw_category_content_empty %}
                    <sw-empty-state v-if="!category" :title="$tc('sw-category.general.emptyStateHeadline')"></sw-empty-state>
                {% endblock %}
            </template>

        {% endblock %}

        {% block sw_category_sidebar %}
            <sw-sidebar slot="sidebar">
                <sw-sidebar-media-item ref="mediaSidebarItem">
                    <template slot="context-menu-items" slot-scope="media">
                        <sw-context-menu-item @click="setMediaItem(media.mediaItem)">
                            {{ $tc('sw-category.general.useAsLogo') }}
                        </sw-context-menu-item>
                    </template>
                </sw-sidebar-media-item>
            </sw-sidebar>
        {% endblock %}

    </sw-page>
{% endblock %}
