@import "~less/variables";

.sw-category {
    .sw-category__content {
        position: relative;
        height: 100%;
        width: 100%;

        .sw-card-view .sw-card-view__content {
            padding: 30px;
        }
    }

    // remove back button with css
    .sw-page__back-btn-container {
        display: none;
    }

    // class is added by the viewport observer
    &.is--mobile {
        &.has--category .sw-page__back-btn-container {
            display: block;
        }
        .sw-page__content.is--split {
            grid-template-columns: 1fr;
        }
        .sw-category-tree {
            width: unset;
        }
    }
}
