{% block sw_category %}
    <sw-page class="sw-category" :class="pageClasses">

        <template slot="search-bar">
            {% block sw_category_search_bar %}
                <sw-search-bar
                    initialSearchType="category"
                    :initialSearch="term"
                    typeSearchAlwaysInContainer
                    ref="searchBar"
                    @search="onSearch">
                </sw-search-bar>
            {% endblock %}
        </template>

        <template slot="smart-bar-header">
            {% block sw_category_smart_bar_header %}
                <h2 v-if="category">{{ placeholder(category, 'name') }}</h2>
                <h2 v-else>{{ $tc('sw-category.general.headlineCategories') }}</h2>
            {% endblock %}
        </template>

        <template slot="language-switch">
            {% block sw_category_language_switch %}
                <sw-language-switch
                    @on-change="onChangeLanguage"
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange">
                </sw-language-switch>
            {% endblock %}
        </template>

        <template slot="smart-bar-actions">
            <template v-if="category">
                {% block sw_category_smart_bar_abort %}
                    <sw-button :disabled="isLoading" v-tooltip.bottom="tooltipCancel" @click="cancelEdit">
                        {{ $tc('sw-product.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}
                {% block sw_category_smart_bar_save %}
                <sw-button-process v-if="category"
                        class="sw-category-detail__save-action"
                        :isLoading="isLoading"
                        :processSuccess="isSaveSuccessful"
                        :disabled="isLoading"
                        variant="primary"
                        @process-finish="saveFinish"
                        v-tooltip.bottom="tooltipSave"
                        @click.prevent="onSave">
                    {{ $tc('sw-category.general.buttonSafeCategory') }}
                </sw-button-process>
                {% endblock %}
            </template>
        </template>

        <template slot="side-content">
            {% block sw_category_side_content %}
                <sw-category-tree
                    :categories="categories"
                    :isLoadingInitialData="isLoadingInitialData"
                    :activeCategory="category"
                    :disableContextMenu="disableContextMenu"
                    @save="onSaveCategories"
                    @refresh="onRefreshCategories"
                    @details-reset="resetCategory"
                    @children-load="getCategories"
                    @unsaved-changes="openChangeModal"
                ></sw-category-tree>
            {% endblock %}
        </template>

        {% block sw_category_content %}
            <template slot="content">

                {% block sw_category_content_view %}
                    <sw-category-view
                        v-if="category"
                        ref="categoryView"
                        :category="category"
                        :cmsPage="cmsPage"
                        :mediaItem="mediaItem"
                        :isLoading="isLoading"
                        @media-drop="onDropMedia"
                        @page-change="getAssignedCmsPage"
                        @sidebar-open="openSidebar"
                        @media-set="setMediaItem"
                        @media-upload="onUploadAdded"
                        @media-remove="onUnlinkLogo"
                    ></sw-category-view>
                {% endblock %}

                {% block sw_category_content_discard_changes_modal %}
                    <sw-discard-changes-modal v-if="isDisplayingLeavePageWarning"
                                              @keep-editing="onLeaveModalClose(nextRoute)"
                                              @discard-changes="onLeaveModalConfirm(nextRoute)">
                    </sw-discard-changes-modal>
                {% endblock %}

                {% block sw_category_content_loader %}
                    <sw-loader v-if="isLoadingInitialData || isLoadingCategory"></sw-loader>
                {% endblock %}

                {% block sw_category_content_empty %}
                    <sw-empty-state v-if="!category" :title="$tc('sw-category.general.emptyStateHeadline')"></sw-empty-state>
                {% endblock %}
            </template>

        {% endblock %}

        {% block sw_category_sidebar %}
            <sw-sidebar slot="sidebar">
                <sw-sidebar-media-item ref="mediaSidebarItem">
                    <template slot="context-menu-items" slot-scope="media">
                        <sw-context-menu-item @click="setMediaItem(media.mediaItem)">
                            {{ $tc('sw-category.general.useAsLogo') }}
                        </sw-context-menu-item>
                    </template>
                </sw-sidebar-media-item>
            </sw-sidebar>
        {% endblock %}
    </sw-page>
{% endblock %}
