.sw-category {
    .sw-page__back-btn-container {
        display: none;
    }

    &.is--mobile {
        .sw-page__content.has--side-content {
            grid-template-columns: 1fr auto;
        }
        .sw-page__main-content {
            display: none;
        }

        &.has--category {
            .sw-page__back-btn-container {
                display: block;
            }
            .sw-page__main-content {
                display: block;
            }
            .sw-page__side-content {
                display: none;
            }
        }
    }
}
