@import "~less/variables";

.condition-and-container {
  .condition-content {
    padding-left: 20px;
  }

  .spacer {
    padding: 10px 0;
  }
}

.background--white {
  background-color: @color-white;
}

.background--gray {
  background-color: @color-light-gray;
}