@import "~less/variables";

.condition-and-container {
    &.background--white {
        background-color: @color-white;
    }

    &.background--gray {
        background-color: @color-light-gray;
    }

    .condition-content {
        padding: 20px;
    }

    .spacer--and {
        padding: 10px 0;
        margin-left: 0;
        font-weight: bold;
    }

    &.first-container {
        background-color: transparent;
    }

    &.first-container > .condition-content {
        padding: 0;
    }

    .condition-buttons {
        margin-top: 20px;

        .condition-buttons--and {
            margin-right: 10px;
        }

        .condition-buttons--delete {
            float: right;
        }
    }
}