<div class="condition-and-container" :class="level % 2 ? 'background--white' : 'background--gray'">
    <div class="condition-content">
        <div v-for="(child, index) in condition.children"
             :key="index">
            <div v-if="index" class="spacer">{{ conjunction }}</div>
            <component v-bind:is="getComponent(child.type)"
                       :condition="child"
                       :conditionAssociations="conditionAssociations"
                       :level="level + 1"
                       @delete-condition="onDeleteCondition">
            </component>
        </div>
        <div class="condition-buttons">
            <sw-button @click="onAddAndClick">{{ conjunction }}</sw-button>
            <sw-button @click="onAddChildClick">{{ $tc('global.sw-condition-group.condition.addSubCondition') }}</sw-button>
            <sw-button @click="onDeleteAll">{{ $tc('global.sw-condition-group.condition.deleteConditions') }}</sw-button>
        </div>
    </div>
</div>