@import "~less/variables";

@sw-condition-and-container-background-even: @color-white;
@sw-condition-and-container-background-odd: @color-solitude;
@sw-condition-and-container-button-border: @color-pattens-blue;
@sw-condition-and-container-button: @color-wedgewood;

.sw-condition-and-container {
    &.container-condition-level__is--even {
        background-color: @sw-condition-and-container-background-even;
    }

    &.container-condition-level__is--odd {
        background-color: @sw-condition-and-container-background-odd;
    }

    .sw-condition-and-container__condition-content {
        padding: 20px;
    }

    .condition-content__spacer--and {
        padding: 10px 0;
        margin-left: 0;
        font-weight: bold;
    }

    .sw-condition-and-container__actions {
        margin-top: 20px;
        .sw-button {
            height: 32px;
            border: 1px solid @sw-condition-and-container-button-border;
            border-radius: 4px;
            padding: auto;
        }

        .sw-button__content {
            color: @sw-condition-and-container-button;
            font-size: 12px;
            font-weight: 600;
            line-height: 19px;
            text-align: center;
        }

        .sw-condition-and-container__actions--and {
            margin-right: 10px;
        }

        .sw-condition-and-container__actions--delete {
            float: right;
        }
    }
}