@import "~scss/variables";

.sw-import-export-log-modal {
    .sw-modal__body {
        .sw-import-export-log-modal-detail {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-auto-rows: 40px;
            grid-column-gap: 16px;
            align-items: center;
            overflow: visible;

            dt {
                padding: 5px;
            }

            dd {
                padding: 5px;
            }
        }
    }
}
