{% block frontend_detail_index_buy_container %}
    <div class="product--buybox block{% if product.sConfigurator and product.sConfiguratorSettings.type == 2 %} is--wide{% endif %}">

        {% block frontend_detail_rich_snippets_brand %}
            {#<meta itemprop="brand" content="{$sArticle.supplierName|escape}"/>#}
        {% endblock %}

        {% block frontend_detail_rich_snippets_weight %}
            {#{% if $sArticle.weight}#}
                {#<meta itemprop="weight" content="{$sArticle.weight} kg"/>#}
            {#{% endif }#}
        {% endblock %}

        {% block frontend_detail_rich_snippets_height %}
            {#{% if $sArticle.height}#}
                {#<meta itemprop="height" content="{$sArticle.height} cm"/>#}
            {#{% endif }#}
        {% endblock %}

        {% block frontend_detail_rich_snippets_width %}
            {#{% if $sArticle.width}#}
                {#<meta itemprop="width" content="{$sArticle.width} cm"/>#}
            {#{% endif }#}
        {% endblock %}

        {% block frontend_detail_rich_snippets_depth %}
            {#{% if $sArticle.length}#}
                {#<meta itemprop="depth" content="{$sArticle.length} cm"/>#}
            {#{% endif }#}
        {% endblock %}

        {% block frontend_detail_rich_snippets_release_date %}
            {#{% if $sArticle.sReleasedate}#}
                {#<meta itemprop="releaseDate" content="{$sArticle.sReleasedate}"/>#}
            {#{% endif }#}
        {% endblock %}

        {% block frontend_detail_buy_laststock %}
            {#{% if !$sArticle.isAvailable && ($sArticle.isSelectionSpecified || !$sArticle.sConfigurator)}#}
                {#{include file="frontend/_includes/messages.tpl" type="error" content="{s name='DetailBuyInfoNotAvailable' namespace='frontend/detail/buy'}{/s}"}#}
            {#{% endif }#}
        {% endblock %}

        {# Product email notification #}
        {% block frontend_detail_index_notification %}
            {#{% if $sArticle.notification && $sArticle.instock <= 0 && $ShowNotification}#}
                {#{include file="frontend/plugins/notification/index.tpl"}#}
            {#{% endif }#}
        {% endblock %}

        {# Product data #}
        {% block frontend_detail_index_buy_container_inner %}
            <div itemprop="offers" itemscope itemtype="{% if product.sBlockPrices %}http://schema.org/AggregateOffer{% else %}http://schema.org/Offer{% endif %}" class="buybox--inner">

                {% block frontend_detail_index_data %}
                    {#{% if $sArticle.sBlockPrices}#}
                        {#{$lowestPrice=false}#}
                        {#{$highestPrice=false}#}
                        {#{foreach $sArticle.sBlockPrices as $blockPrice}#}
                            {#{% if $lowestPrice === false || $blockPrice.price < $lowestPrice}#}
                                {#{$lowestPrice=$blockPrice.price}#}
                            {#{% endif }#}
                            {#{% if $highestPrice === false || $blockPrice.price > $highestPrice}#}
                                {#{$highestPrice=$blockPrice.price}#}
                            {#{% endif }#}
                        {#{/foreach}#}
                        {#<meta itemprop="lowPrice" content="{$lowestPrice}"/>#}
                        {#<meta itemprop="highPrice" content="{$highestPrice}"/>#}
                        {#<meta itemprop="offerCount" content="{$sArticle.sBlockPrices|count}"/>#}
                    {#{else}#}
                        {#<meta itemprop="priceCurrency" content="{$Shop->getCurrency()->getCurrency()}"/>#}
                    {#{% endif }#}
                    {% sw_include '@Shopware/frontend/detail/data.html.twig' %} {#sArticle=$sArticle sView=1 #}
                {% endblock %}

                {% block frontend_detail_index_after_data %}{% endblock %}

                {# Configurator drop down menu's #}
                {% block frontend_detail_index_configurator %}
                    <div class="product--configurator">
                        {#{% if $sArticle.sConfigurator %}#}
                            {#{% if $sArticle.sConfiguratorSettings.type == 1 %}#}
                                {#{include file="frontend/detail/config_step.tpl" %}#}
                            {#{elseif $sArticle.sConfiguratorSettings.type == 2}#}
                                {#{include file="frontend/detail/config_variant.tpl" %}#}
                            {#{% else %}#}
                                {#{include file="frontend/detail/config_upprice.tpl" %}#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    </div>
                {% endblock %}

                {# Include buy button and quantity box #}
                {% block frontend_detail_index_buybox %}
                    {% sw_include '@Shopware/frontend/detail/buy.html.twig' %}
                {% endblock %}

                {# Product actions #}
                {% block frontend_detail_index_actions %}
                    <nav class="product--actions">
                        {% sw_include '@Shopware/frontend/detail/actions.html.twig' %}
                    </nav>
                {% endblock %}
            </div>
        {% endblock %}

        {# Product - Base information #}
        {% block frontend_detail_index_buy_container_base_info %}
            <ul class="product--base-info list--unstyled">

                {# Product SKU #}
                {% block frontend_detail_data_ordernumber %}
                    <li class="base-info--entry entry--sku">

                        {# Product SKU - Label #}
                        {% block frontend_detail_data_ordernumber_label %}
                            <strong class="entry--label">
                                {% trans from 'frontend/detail/data' %}DetailDataId{% endtrans %}
                            </strong>
                        {% endblock %}

                        {# Product SKU - Content #}
                        {% block frontend_detail_data_ordernumber_content %}
                            <meta itemprop="productID" content="{$sArticle.articleDetailsID}"/>
                            <span class="entry--content" itemprop="sku">
                                {{ product.id }}
                            </span>
                        {% endblock %}
                    </li>
                {% endblock %}

                {# Product attributes fields #}
                {% block frontend_detail_data_attributes %}

                    {# Product attribute 1 #}
                    {% block frontend_detail_data_attributes_attr1 %}
                        {#{% if $sArticle.attr1}#}
                            {#<li class="base-info--entry entry-attribute">#}
                                {#<strong class="entry--label">#}
                                    {#{s name="DetailAttributeField1Label" namepace="frontend/detail/index"}{/s}:#}
                                {#</strong>#}

                                {#<span class="entry--content">#}
                                    {#{$sArticle.attr1|escape}#}
                                {#</span>#}
                            {#</li>#}
                        {#{% endif }#}
                    {% endblock %}

                    {# Product attribute 2 #}
                    {% block frontend_detail_data_attributes_attr2 %}
                        {#{% if $sArticle.attr2}#}
                            {#<li class="base-info--entry entry-attribute">#}
                                {#<strong class="entry--label">#}
                                    {#{s name="DetailAttributeField2Label" namepace="frontend/detail/index"}{/s}:#}
                                {#</strong>#}

                                {#<span class="entry--content">#}
                                    {#{$sArticle.attr2|escape}#}
                                {#</span>#}
                            {#</li>#}
                        {#{% endif }#}
                    {% endblock %}
                {% endblock %}
            </ul>
        {% endblock %}
    </div>
{% endblock %}
