{% block frontend_detail_index_tabs_navigation %}
    <div class="tab--navigation">
        {% block frontend_detail_index_tabs_navigation_inner %}
            {% block frontend_detail_index_related_similiar_tabs %}

                {# Tab navigation - Accessory products #}
                {% block frontend_detail_tabs_entry_related %}
                    {% if product.sRelatedArticles and not product.crossbundlelook %}
                        <a href="#content--related-products" title="{% trans from 'frontend/detail/tabs' %}DetailTabsAccessories{% endtrans %}" class="tab--link">
                            {% trans from 'frontend/detail/tabs' %}DetailTabsAccessories{% endtrans %}
                            <span class="product--rating-count-wrapper">
                                <span class="product--rating-count">{{ product.sRelatedArticles|length }}</span>
                            </span>
                        </a>
                    {% endif %}
                {% endblock %}

                {# Similar products #}
                {% block frontend_detail_index_recommendation_tabs_entry_similar_products %}
                    {% if product.sSimilarArticles|length > 0 %}
                        <a href="#content--similar-products" title="{s name="DetailRecommendationSimilarLabel" namespace="frontend/detail/index}{/s}" class="tab--link">{s name="DetailRecommendationSimilarLabel" namespace="frontend/detail/index}{/s}</a>
                    {% endif %}
                {% endblock %}
            {% endblock %}

            {# Customer also bought #}
            {% block frontend_detail_index_tabs_entry_also_bought %}
                {% if showAlsoBought %}
                    <a href="#content--also-bought" title="{s name="DetailRecommendationAlsoBoughtLabel" namespace="frontend/detail/index}{/s}" class="tab--link">{s name="DetailRecommendationAlsoBoughtLabel" namespace="frontend/detail/index}{/s}</a>
                {% endif %}
            {% endblock %}

            {# Customer also viewed #}
            {% block frontend_detail_index_tabs_entry_also_viewed %}
                {% if showAlsoViewed %}
                    <a href="#content--customer-viewed" title="{s name="DetailRecommendationAlsoViewedLabel" namespace="frontend/detail/index}{/s}" class="tab--link">{s name="DetailRecommendationAlsoViewedLabel" namespace="frontend/detail/index}{/s}</a>
                {% endif %}
            {% endblock %}

            {# Related product streams #}
            {% block frontend_detail_index_tabs_entry_related_product_streams %}
                {#{% for sArticle.relatedProductStreams as key => relatedProductStream %}#}
                    {#<a href="#content--related-product-streams-{key}" title="{relatedProductStream.name}" class="tab--link">{{ relatedProductStream.name }}</a>#}
                {#{% endfor %}#}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
