{% block sw_sales_channel_google_store_verification %}
    <div class="sw-sales-channel-google-store-verification">
        {% block sw_sales_channel_google_store_verification %}
            <div class="sw-sales-channel-google-store-verification__top">
                <strong>{{ $tc('sw-sales-channel.modalGooglePrograms.step-4.titleGeneral') }}</strong>

                {% block sw_sales_channel_google_store_verification_items %}
                    <div class="sw-sales-channel-google-store-verification__check-list">
                        <div v-for="(item, index) in items"
                             :key="index"
                             class="sw-sales-channel-google-store-verification__check-item">
                            <sw-label appearance="circle" :variant="item.status">
                                <sw-icon :name="getIconName(item.status)"
                                         size="16px">
                                </sw-icon>
                            </sw-label>

                            <span class="sw-sales-channel-google-store-verification__check-item-description">
                                {{ item.description }}

                                <template v-if="item.status === 'danger'">
                                    <sw-sales-channel-detail-protect-link
                                        v-if="item.key === 'siteIsVerified' || item.key === 'shoppingAdsPolicies'"
                                        :href="item.errorLink"
                                        class="sw-sales-channel-google-store-verification__fix-link">
                                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-4.textFixHere') }}
                                    </sw-sales-channel-detail-protect-link>

                                    <router-link v-else
                                                 :to="getFixPath(item)"
                                                 target="_blank"
                                                 rel="noopener"
                                                 class="sw-sales-channel-google-store-verification__fix-link">
                                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-4.textFixHere') }}
                                    </router-link>
                                </template>
                            </span>
                        </div>
                    </div>
                {% endblock %}

                {% block sw_sales_channel_google_store_verification_button_check_again %}
                    <sw-button variant="ghost" size="small"
                               :isLoading="isLoading"
                               @click="verifyStore">
                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-4.buttonCheckAgain') }}
                    </sw-button>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
