@import "~scss/variables";
@import "~scss/mixins";

.sw-sales-channel-google-store-verification {
    &__top {
        padding-top: 0;
    }

    .sw-sales-channel-google-store-verification__checked-list {
        padding: 10px 0;
    }

    .sw-sales-channel-google-store-verification__checked-item {
        height: 32px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        position: relative;

        .sw-label {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            @include circle(32px);
        }

        &-description {
            padding-left: 10px;
            font-size: $font-size-small;
            line-height: 32px;
        }

        &-link {
            text-decoration: none;
            color: $color-shopware-brand-500;
            font-size: $font-size-small;

            &:hover {
                color: $color-shopware-brand-600;
            }
        }
    }

    &__bottom {
        padding-bottom: 0;
    }
}
