<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_cross_selling %}
<div class="sw-cms-block-cross-selling">
    <slot name="content">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_cross_selling_slot_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
