{% block sw_media_folder_item %}
    <div class="sw-media-folder-item"
         @dblclick="navigateToFolder">
        {% block sw_media_folder_base_item %}
            <sw-media-base-item
                    ref="innerComponent"
                    v-bind="$attrs"
                    :isLoading="item.isLoading"
                    :displayName="item.name"
                    :editValue="item.name"
                    @sw-media-item-selection-add="selectItem"
                    @sw-media-item-selection-remove="removeFromSelection"
                    @sw-media-item-clicked="handleGridItemClick">

                {% block sw_media_folder_item_preview %}
                    {% block sw_media_folder_parent_icon%}
                        <sw-icon slot="sw-media-item-preview"
                                 v-if="isParent"
                                 name="folder-breadcums-parent"
                                 size="90%"
                                 class="sw-media-folder-item__folder-thumbnails"
                                 multicolor>
                        </sw-icon>
                    {% endblock %}

                    {% block sw_media_folder_default_icon%}
                        <span slot="sw-media-item-preview" v-else-if="isDefaultFolder">
                            <sw-icon name="default-folder-thumbnail"
                                     size="90%"
                                     class="sw-media-folder-item__folder-thumbnails"
                                     :color="iconConfig.color">
                            </sw-icon>
                            <sw-icon :name="iconConfig.name"
                                     class="sw-media-folder-item__folder-thumbnails is--inner"
                                     :color="iconConfig.color">
                            </sw-icon>
                        </span>
                    {% endblock %}

                    {% block sw_media_folder_folder_icon%}
                        <sw-icon slot="sw-media-item-preview"
                                 v-else
                                 size="90%"
                                 name="folder-thumbnail"
                                 class="sw-media-folder-item__folder-thumbnails"
                                 multicolor>
                        </sw-icon>
                    {% endblock %}
                {% endblock %}

                {% block sw_media_folder_meta_data %}
                    <div slot="media-item-metadata" class="sw-media-folder-item__metadata">
                    </div>
                {% endblock %}

                {% block sw_media_folder_item_context_menu %}
                    <template slot="media-item-context-menu">
                        <slot>
                            {% block sw_media_folder_item_additional_context_menu_slot %}{% endblock %}
                        </slot>

                        {% block sw_media_media_item_context_group_quick_actions %}
                            <div class="defaultContextMenuClass">
                                {% block sw_media_media_item_context_item_show_media %}
                                    <sw-context-menu-item @click="navigateToFolder">
                                        {{ $tc('global.sw-media-folder-item.labelContextMenuShowMedia') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_show_settings %}
                                    <sw-context-menu-item @click="openSettings">
                                        {{ $tc('global.sw-media-folder-item.labelContextMenuShowSettings') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_dissolve %}
                                    <sw-context-menu-item @click="openDissolveModal">
                                        {{ $tc('global.sw-media-folder-item.labelContextMenuDissolve') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_rename_item %}
                                    <sw-context-menu-item @click="onStartRenaming">
                                        {{ $tc('global.sw-media-folder-item.labelContextMenuRename') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-media-base-item>
        {% endblock %}

        {% block sw_media_folder_settings_modal %}
            <sw-media-modal-folder-settings
                v-if="showSettings"
                :folder="item"
                @sw-media-modal-folder-settings-save="closeSettings"
                @sw-media-modal-folder-settings-close="closeSettings">
            </sw-media-modal-folder-settings>
        {% endblock %}

        {% block sw_media_folder_dissolve_modal %}
            <sw-media-modal-folder-dissolve
                    v-if="showDissolveModal"
                    :itemsToDissolve="[item]"
                    @sw-media-modal-folder-dissolve-items-dissolved="onFolderDissolved"
                    @sw-media-modal-folder-dissolve-close="closeDissolveModal">
            </sw-media-modal-folder-dissolve>
        {% endblock %}
    </div>
{% endblock %}