{% block sw_product_detail_base %}
    <div class="sw-product-detail-base">
        {% block sw_product_detail_base_basic_info_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitleProductInfo')" :isLoading="isLoading">
                {% block sw_product_detail_base_basic_info_form %}
                    <sw-product-basic-form v-if="!isLoading"></sw-product-basic-form>
                {% endblock %}
            </sw-card>
        {% endblock %}


        {% block sw_product_detail_base_price_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitlePrices')" :isLoading="loading.product">
                {% block sw_product_detail_base_price_form %}
                    <sw-product-price-form></sw-product-price-form>
                {% endblock %}

                {% block sw_product_detail_base_advanced_prices_link %}
                <sw-container columns="1fr" justify="end" v-if="productId">
                    <router-link :to="{ name: 'sw.product.detail.prices', params: { id: $route.params.id } }" class="sw-card__quick-link">
                        {{ $tc('sw-product.detailBase.linkAdvancedPrices') }} <sw-icon name="default-arrow-simple-right" small></sw-icon>
                    </router-link>
                </sw-container>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_deliverability_info_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitleDeliverabilityInfo')" :isLoading="isLoading">
                {% block sw_product_detail_deliverability_info_form %}
                    <sw-product-deliverability-form v-if="!isLoading"></sw-product-deliverability-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_base_category_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitleAssignment')" :isLoading="loading.product">
                {% block sw_product_detail_base_category_form %}
                    <sw-product-category-form></sw-product-category-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_base_media %}
            <sw-inherit-wrapper v-model="product.media"
                                :inheritedValue="parentProduct.media"
                                :customRestoreInheritanceFunction="mediaRestoreInheritanceFunction"
                                :customRemoveInheritanceFunction="mediaRemoveInheritanceFunction"
                                isAssociation
                                ref="productMediaInheritance">
                <template #content="{ isInherited, isInheritField, restoreInheritance, removeInheritance }">

                    {% block sw_product_detail_base_media_card %}
                        <sw-card :isLoading="loading.product || loading.customFieldSets || loading.media"
                                 :class="{ 'sw-card__inherited': isInherited }">
                            <template #title>
                                {% block sw_product_detail_base_media_card_title %}
                                    <div class="sw-card__title" :class="{ 'sw-card__title__inherited': isInherited }">
                                        <sw-inheritance-switch v-if="isInheritField"
                                                          class="sw-inherit-wrapper__inheritance-icon"
                                                          :isInherited="isInherited"
                                                          @inheritance-restore="restoreInheritance"
                                                          @inheritance-remove="removeInheritance">
                                        </sw-inheritance-switch>
                                        {{ $tc('sw-product.detailBase.cardTitleMedia') }}
                                    </div>
                                {% endblock %}
                            </template>

                            {% block sw_product_detail_base_media_card_form %}
                                <sw-product-media-form v-if="mediaFormVisible"
                                                       :productId="isInherited ? parentProduct.id : product.id"
                                                       :key="isInherited"
                                                       :isInherited="isInherited"
                                                       :disabled="isInherited"
                                                       @media-drop="$emit('media-drop', $event)"
                                                       @cover-change="$emit('cover-change', $event)">
                                </sw-product-media-form>
                            {% endblock %}
                        </sw-card>
                    {% endblock %}

                </template>
            </sw-inherit-wrapper>
        {% endblock %}

        {% block sw_product_detail_base_settings_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitleSettings')" :isLoading="loading.product">
                {% block sw_product_detail_base_settings_form %}
                    <sw-product-settings-form></sw-product-settings-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_base_settings_seo_settings %}
            {% block sw_product_detail_base_settings_seo_settings_general %}
                <sw-card :title="$tc('sw-product.detailBase.cardTitleSeo')" :isLoading="loading.product">
                    <sw-product-seo-form></sw-product-seo-form>
                </sw-card>
            {% endblock %}

            {% block sw_product_detail_base_settings_seo_settings_url %}
                <sw-seo-url v-if="product.seoUrls"
                            :isLoading="loading.product"
                            :hasDefaultTemplate="false"
                            :urls="product.seoUrls">

                    <template #seo-additional="props">
                        {% block sw_product_detail_base_settings_seo_card_additions %}
                        <sw-seo-main-category v-if="product.mainCategories"
                                              :currentSalesChannelId="props.currentSalesChannelId"
                                              :categories="product.categories"
                                              :mainCategories="product.mainCategories"
                                              :isLoading="loading.product"
                                              @main-category-add="onMainCategoryAdded">
                        </sw-seo-main-category>
                        {% endblock %}

                    </template>
                </sw-seo-url>
            {% endblock %}
        {% endblock %}


        {% block sw_product_detail_base_packaging_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitlePackaging')" :isLoading="isLoading">
                {% block sw_product_detail_base_packaging_form %}
                    <sw-product-packaging-form v-if="!isLoading"></sw-product-packaging-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_base_feature_set_card %}
            <sw-card :title="$tc('sw-product.featureSets.cardTitle')"
                     :isLoading="loading.product">
                {% block sw_product_detail_base_feature_set_form %}
                    <sw-product-feature-set-form></sw-product-feature-set-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_product_detail_attribute_sets %}
            <sw-card :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                     v-if="customFieldSetsArray.length > 0 && !isLoading"
                     :isLoading="loading.product || loading.customFieldSets">
                    <sw-custom-field-set-renderer
                            :entity="product"
                            showCustomFieldSetSelection
                            :parentEntity="parentProduct"
                            :sets="customFieldSetsArray">
                    </sw-custom-field-set-renderer>
                </sw-card>
        {% endblock %}

        {% block sw_product_detail_base_ratings_card %}
            <sw-card :title="$tc('sw-product.detailBase.cardTitleReviews')"
                     v-if="reviewItemData"
                     class="sw-product-detail-base__review-card"
                     :isLoading="product.isLoading">
                <template #grid>
                    <sw-data-grid
                        v-if="total"
                        ref="gridReview"
                        :dataSource="reviewItemData"
                        :columns="reviewColumns"
                        :showSelection="false"
                        :isLoading="loading.product"
                        :showActions="true">
                            {% block sw_product_detail_base_ratings_column_status %}
                                <template slot="column-status" slot-scope="{ item }">
                                    <sw-data-grid-column-boolean v-model="item.status" :isInlineEdit="false"/>
                                </template>
                            {% endblock %}
                            {% block sw_product_detail_base_ratings_column_created_at %}
                                <template slot="column-createdAt" slot-scope="{ item }">
                                    {{ item.createdAt | date({hour: '2-digit', minute: '2-digit', second: '2-digit'}) }}
                                </template>
                            {% endblock %}
                            {% block sw_product_detail_base_ratings_column_stars %}
                                <template slot="column-points" slot-scope="{ item }">
                                    <div class="sw-review-detail-base__stars">
                                        <sw-icon v-for="star, index in item.points" :key="`star-${index}`"
                                                 name="default-review-star-full"
                                                 size="14">
                                        </sw-icon>
                                        <sw-icon v-for="missingStar, index in (5-item.points)" :key="`missingStar-${index}`"
                                                name="default-basic-shape-star"
                                                size="14">
                                        </sw-icon>
                                    </div>
                                </template>
                            {% endblock %}
                        {% block sw_product_detail_base_ratings_actions %}
                        <template #actions="{ item }">
                            {% block sw_product_detail_base_ratings_actions_edit %}
                            <sw-context-menu-item
                                :routerLink="{ name: 'sw.review.detail', params: { id: item.id } }">
                                {{ $tc('sw-product.reviewForm.contextMenuEdit') }}
                            </sw-context-menu-item>
                            {% endblock %}

                            {% block sw_product_detail_base_ratings_actions_delete %}
                            <sw-context-menu-item variant="danger"
                                                  @click="onStartReviewDelete(item)">
                                {{ $tc('sw-product.reviewForm.contextMenuDelete') }}
                            </sw-context-menu-item>
                            {% endblock %}
                        </template>
                        {% endblock %}

                        {% block sw_product_detail_base_ratings_grid_pagination %}
                        <template slot="pagination">
                            <sw-pagination :total="total"
                                           :limit="limit"
                                           :page="page"
                                           :total-visible="7"
                                           :steps="[10]"
                                           @page-change="onChangePage">
                            </sw-pagination>
                        </template>
                        {% endblock %}

                    </sw-data-grid>
                </template>
                {% block sw_product_detail_base_ratings_modal_delete %}
                <sw-modal v-if="showReviewDeleteModal"
                          @modal-close="onCancelReviewDelete"
                          variant="small"
                          :title="$tc('sw-product.reviewForm.modal.confirmTitle')"
                          class="sw-promotion-detail-discounts-modal">
                    {% block sw_product_detail_base_ratings_modal_delete_text %}
                    <p>
                        {{ $tc('sw-product.reviewForm.modal.confirmText') }}
                    </p>
                    {% endblock %}

                    {% block sw_product_detail_base_ratings_modal_delete_footer %}
                    <template slot="modal-footer">
                        {% block sw_promotion_detail_discounts_modal_delete_action_cancel %}
                        <sw-button @click="onCancelReviewDelete" size="small">
                            {{ $tc('sw-product.reviewForm.modal.buttonCancel') }}
                        </sw-button>
                        {% endblock %}

                        {% block sw_product_detail_base_ratings_modal_delete_action_delete %}
                        <sw-button @click="onConfirmReviewDelete" size="small" variant="danger"
                                   class="sw-promotion-discount-delete-button">
                            {{ $tc('sw-product.reviewForm.modal.buttonDelete') }}
                        </sw-button>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </sw-modal>
                {% endblock %}
                <sw-empty-state v-if="!total"
                                :title="$tc('sw-product.reviewForm.messageEmptyTitle')"
                                icon="default-documentation-file"
                                :subline="$tc('sw-product.reviewForm.messageEmptySubline')">
                </sw-empty-state>
            </sw-card>
        {% endblock %}

    </div>
{% endblock %}
