@import "~scss/variables";

.sw-modal.sw-maintain-currencies-modal {
    .sw-modal__dialog {
        max-width: 1170px;
    }

    .sw-modal__body {
        padding: 0;
        border-bottom: 1px solid $color-gray-300;

        .sw-data-grid__cell--header {
            border-width: 0;
        }

        .sw-data-grid.is--compact .sw-data-grid__body .sw-data-grid__cell-content {
            height: auto;
        }

        .sw-price-form__inherited-icon.sw-inheritance-switch {
            cursor: pointer;
            margin-right: 5px;
        }

        .sw-field {
            width: 130px;
        }
    }

    .sw-maintain-currencies-modal__price-label-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 320px);
        width: 100%;
    }
}
