{% block sw_extension_card_base_activation_switch %}
    {% parent %}

    {% block sw_bought_extension_card_deactivation_modal %}
        <sw-extension-deactivation-modal v-if="showDeactivationModal"
            :extensionName="label"
            :isLicensed="license !== null"
            :isLoading="isLoading"
            @modal-close="closeDeactivationModal"
            @extension-deactivate="closeModalAndDeactivateExtension">
        </sw-extension-deactivation-modal>
    {% endblock %}
{% endblock %}

{% block sw_extension_card_base_info_content %}
    {% parent %}

    {% block sw_extension_card_base_calculated_price %}
        <section v-if="priceInfo && extension.storeLicense.variant === 'rent'">
            {% block sw_bought_extension_card_info_price %}
                <span class="sw-extension-card-bought__info-price">
                    {{ priceInfo }}
                </span>
            {% endblock %}
        </section>
    {% endblock %}

    {% block sw_extension_card_base_subscription_expired_info %}
        <section v-if="subscriptionExpiredText">
            {% block sw_extension_card_base_subscription_expired_info_text %}
                <span>
                    {{ subscriptionExpiredText }}
                </span>
            {% endblock %}
        </section>
    {% endblock %}
{% endblock %}

{% block sw_extension_card_base_context_menu_actions %}

    {% block sw_bought_extension_card_context_menu_open_detail %}
        <sw-context-menu-item class="sw-extension-card-bought__detail-link" v-if="detailLink" :routerLink="detailLink">
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.seeDetailsLabel') }}
        </sw-context-menu-item>
    {% endblock %}

    {% block sw_bought_extension_card_context_menu_rate %}
        <sw-context-menu-item class="sw-extension-card-bought__rate-link" v-if="isInstalled && extension.storeLicense" @click="openRatingModal">
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.rateLabel') }}
        </sw-context-menu-item>
    {% endblock %}

    {% parent %}
{% endblock %}

{% block sw_extension_card_base_modals %}
    {% parent %}

    {% block sw_bought_extension_card_rating_modal %}
        <sw-extension-rating-modal v-if="showRatingModal"
            :extension="extension"
            @modal-close="closeRatingModal">
        </sw-extension-rating-modal>
    {% endblock %}

    {% block sw_bought_extension_card_installation_failed_modal %}
        <sw-modal v-if="showExtensionInstallationFailedModal"
                  :title="extension.label"
                  variant="small"
                  @modal-close="closeInstallationFailedNotification">
            {% block sw_bought_extension_card_installation_failed_modal %}
                <sw-extension-adding-failed
                    :extensionName="extension.name"
                    @close="closeInstallationFailedNotification">
                </sw-extension-adding-failed>
            {% endblock %}
        </sw-modal>
    {% endblock %}
{% endblock %}
