<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base_activation_switch %}
{% parent %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bought_extension_card_deactivation_modal %}
<sw-extension-deactivation-modal
    v-if="showDeactivationModal"
    :extension-name="label"
    :is-licensed="license !== null"
    :is-loading="isLoading"
    @modal-close="closeDeactivationModal"
    @extension-deactivate="closeModalAndDeactivateExtension"
/>
{% endblock %}
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base_info_content %}
{% parent %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base_calculated_price %}
<section v-if="priceInfo && extension.storeLicense.variant === 'rent'">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bought_extension_card_info_price %}
    <span class="sw-extension-card-bought__info-price">
        {{ priceInfo }}
    </span>
    {% endblock %}
</section>
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base_subscription_expired_info %}
<section v-if="subscriptionExpiredText">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_subscription_expired_info_text %}
    <span
        class="sw-extension-card-bought__info-subscription-expiry"
        :class="subscriptionExpiredTextClasses"
    >
        <sw-icon
            v-if="isExpiredTestPhase || isExpiredRent"
            name="solid-exclamation-circle"
            size="14"
            small
        />
        {{ subscriptionExpiredText }}
    </span>
    {% endblock %}
</section>
{% endblock %}
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base_context_menu_actions %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bought_extension_card_context_menu_open_detail %}
<sw-context-menu-item
    v-if="detailLink"
    class="sw-extension-card-bought__detail-link"
    :router-link="detailLink"
>
    {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.seeDetailsLabel') }}
</sw-context-menu-item>
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bought_extension_card_context_menu_rate %}
<sw-context-menu-item
    v-if="isInstalled && extension.storeLicense"
    class="sw-extension-card-bought__rate-link"
    @click="openRatingModal"
>
    {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.rateLabel') }}
</sw-context-menu-item>
{% endblock %}

{% parent %}
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base_modals %}
{% parent %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bought_extension_card_rating_modal %}
<sw-extension-rating-modal
    v-if="showRatingModal"
    :extension="extension"
    @modal-close="closeRatingModal"
/>
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bought_extension_card_installation_failed_modal %}
<sw-modal
    v-if="showExtensionInstallationFailedModal"
    :title="extension.label"
    variant="small"
    class="sw-extension-card-bought__installation-failed-modal"
    @modal-close="closeInstallationFailedNotification"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bought_extension_card_installation_failed_modal_extension %}
    <sw-extension-adding-failed
        :extension-name="extension.name"
        :title="installationFailedError && installationFailedError.title"
        :detail="installationFailedError && installationFailedError.message"
        :documentation-link="installationFailedError && installationFailedError.parameters && installationFailedError.parameters.documentationLink"
        @close="closeInstallationFailedNotification"
    />
    {% endblock %}
</sw-modal>
    {% endblock %}
{% endblock %}
