@import "~scss/variables";

.sw-extension-card-bought {
    .sw-extension-card-bought__info-price-subscription {
        color: $color-darkgray-200;
        font-weight: $font-weight-semi-bold;
    }

    .sw-extension-card-bought__info-price {
        margin-top: 4px;
        color: $color-darkgray-200;
    }

    .sw-loader {
        background-color: rgba($color-gray-50, 0.8);
    }

    .sw-extension-card-bought__info-subscription-expiry {
        display: inline-flex;
        align-items: center;
        margin-top: 2px;
        font-weight: $font-weight-medium;

        .sw-icon {
            margin-right: 4px;
            color: $color-pumpkin-spice-500;
        }
    }
}
