{% block sw_settings_list %}
{% block sw_settings_country_index %}
<sw-page class="sw-settings-country-list">

    {% block sw_settings_country_list_search_bar %}
    <template slot="search-bar">
        <sw-search-bar
            initial-search-type="country"
            :placeholder="$tc('sw-settings-country.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_settings_country_list_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block sw_settings_country_list_smart_bar_header_title %}
        <h2>
            {% block sw_settings_country_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }} <sw-icon
                name="small-arrow-medium-right"
                small
            /> {{ $tc('sw-settings-country.list.textHeadline') }}
            {% endblock %}

            {% block sw_settings_country_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_country_list_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block sw_settings_country_list_smart_bar_actions_add %}
        <sw-button
            v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('country.creator'),
                showOnDisabledElements: true
            }"
            class="sw-settings-country-list__button-create"
            variant="primary"
            :router-link="{ name: 'sw.settings.country.create' }"
            :disabled="!acl.can('country.creator')"
        >
            {{ $tc('sw-settings-country.list.buttonAddCountry') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_country_list_language_switch %}
    <sw-language-switch
        slot="language-switch"
        @on-change="onChangeLanguage"
    />
    {% endblock %}

    {% block sw_settings_country_list_content %}
    <sw-card-view slot="content">
        {% block sw_settings_country_list_content_card %}
        <sw-card
            v-if="country"
            :is-loading="isLoading"
        >
            {% block sw_settings_country_list_grid %}
            <template #grid>
                {% block sw_settings_country_list_grid_inner %}
                <sw-entity-listing
                    ref="swSettingsCountryGrid"
                    class="sw-settings-country-list-grid"
                    :items="country"
                    :columns="getCountryColumns()"
                    :repository="countryRepository"
                    :full-page="false"
                    detail-route="sw.settings.country.detail"
                    :show-selection="showSelection"
                    :is-loading="isLoading"
                    :allow-view="acl.can('country.viewer')"
                    :allow-edit="acl.can('country.editor')"
                    :allow-inline-edit="acl.can('country.editor')"
                    :allow-delete="acl.can('country.deleter')"
                    @inline-edit-save="onInlineEditSave"
                >

                    <template #column-active="{ item, isInlineEdit }">
                        <template v-if="isInlineEdit">
                            {% block sw_settings_country_list_columns_active_editor %}
                            <sw-field
                                v-model="item.active"
                                type="checkbox"
                            />
                            {% endblock %}
                        </template>
                        <template v-else>
                            {% block sw_settings_country_list_columns_active_label %}
                            <sw-icon
                                v-if="item.active"
                                name="small-default-checkmark-line-medium"
                                small
                                class="is--active"
                            />
                            <sw-icon
                                v-else
                                name="small-default-x-line-medium"
                                small
                                class="is--inactive"
                            />
                            {% endblock %}
                        </template>
                    </template>

                    {% block sw_settings_country_list_grid_columns_actions %}
                    <template #actions="{ item }">
                        {% block sw_settings_country_list_grid_columns_actions_edit %}
                        <sw-context-menu-item
                            :router-link="{ name: 'sw.settings.country.detail', params: { id: item.id, edit: 'edit' }}"
                            :disabled="!acl.can('country.editor') && !acl.can('country.viewer')"
                            class="sw-country-list__edit-action"
                        >
                            {{ detailPageLinkText }}
                        </sw-context-menu-item>
                        {% endblock %}

                        {% block sw_settings_country_list_grid_columns_actions_delete %}
                        <sw-context-menu-item
                            class="sw-country-list__delete-action"
                            variant="danger"
                            :disabled="!acl.can('country.deleter')"
                            @click="onDelete(item.id)"
                        >
                            {{ $tc('sw-settings-country.list.contextMenuDelete') }}
                        </sw-context-menu-item>
                        {% endblock %}
                    </template>
                    {% endblock %}

                    {% block sw_settings_country_list_grid_action_modals %}
                    <template #action-modals="{ item }">
                        {% block sw_settings_country_list_delete_modal %}
                        <sw-modal
                            v-if="showDeleteModal === item.id"
                            :title="$tc('global.default.warning')"
                            variant="small"
                            @modal-close="onCloseDeleteModal"
                        >
                            {% block sw_settings_country_list_delete_modal_confirm_delete_text %}
                            <p class="sw-settings-country-list__confirm-delete-text">
                                {{ $tc('sw-settings-country.list.textDeleteConfirm', 0, { name: item.name }) }}
                            </p>
                            {% endblock %}

                            {% block sw_settings_country_list_delete_modal_footer %}
                            <template #modal-footer>
                                {% block sw_settings_country_list_delete_modal_cancel %}
                                <sw-button
                                    size="small"
                                    @click="onCloseDeleteModal"
                                >
                                    {{ $tc('sw-settings-country.list.buttonCancel') }}
                                </sw-button>
                                {% endblock %}

                                {% block sw_settings_country_list_delete_modal_confirm %}
                                <sw-button
                                    variant="danger"
                                    size="small"
                                    @click="onConfirmDelete(item.id)"
                                >
                                    {{ $tc('sw-settings-country.list.buttonDelete') }}
                                </sw-button>
                                {% endblock %}
                            </template>
                            {% endblock %}
                        </sw-modal>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </sw-entity-listing>
                {% endblock %}
            </template>
            {% endblock %}
        </sw-card>
        {% endblock %}
    </sw-card-view>
    {% endblock %}
</sw-page>
    {% endblock %}
{% endblock %}
