.sw-privilege-error {
    .sw-privilege-error__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;

        .sw-privilege-error__access-denied-image {
            margin-top: -15px;
        }

        h1 {
            font-weight: normal;
            margin-top: 10px;
        }

        p {
            text-align: center;
            max-width: 550px;
            margin-bottom: 30px;
        }
    }
}
