<sw-workspace>
    <header class="toolbar--middle-section" slot="header">
        <h1 class="workspace--headline">
            <span v-if="product.name">{{ product.name }} <span class="is--small">von {{ product.manufacturer.name }}</span></span>
            <span v-else class="headline--empty">(neues Produkt)</span>
        </h1>

        <div class="toolbar--primary-actions">
            <sw-button :isDisabled="isWorking" link="core.product.index">
                Abbrechen
            </sw-button>

            <sw-button :isPrimary="true" :isDisabled="isWorking" @click.prevent="onSaveForm">
                Speichern
            </sw-button>
        </div>
    </header>

    <div class="sw-core-product--create" slot="default">
        <core-product-basic-form :product="product" :isWorking="isWorking"></core-product-basic-form>
    </div>
</sw-workspace>