@import "~scss/variables";

.sw-sidebar-item.sw-sidebar-filter-panel {
    .sw-sidebar-item__headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 25px;
        border-bottom: 1px solid $color-gray-300;

        a {
            float: left;
            width: 100%;
            padding-left: 15px;
        }
    }

    a {
        font-size: $font-size-xs;
        color: $color-shopware-brand-500;
        text-decoration: underline;
        cursor: pointer;
    }
}
