{% block sw_sidebar_filter_panel %}
    <div v-if="showContent" class="sw-sidebar-filter-panel">
        {% block sw_sidebar_filter_panel_headline %}
            <div class="sw-sidebar-filter-panel__headline">
                {% block sw_sidebar_filter_panel_title %}
                    <div class="sw-sidebar-filter-panel__info">
                        <h3 class="sw-sidebar-filter-panel__title">{{ title }}</h3>
                        <a href="#" @click.prevent="resetAll">{{ $tc('sw-sidebar-filter-panel.resetButton') }}</a>
                    </div>
                {% endblock %}

                {% block sw_sidebar_filter_panel_close_button %}
                    <button class="sw-sidebar-filter-panel__close-button" @click="closeContent" aria-label="closeContent">
                        <sw-icon name="small-default-x-line-small" size="20px">
                        </sw-icon>
                    </button>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_sidebar_filter_panel_content %}
            <div class="sw-sidebar-filter-panel__content">
                <div class="sw-sidebar-filter-panel__scrollable-container">
                    <slot>{% block sw_sidebar_filter_panel_default_slot%}{% endblock %}</slot>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
