<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_sidebar_filter_panel %}
<sw-sidebar-item
    class="sw-sidebar-filter-panel"
    icon="regular-filter"
    :badge="activeFilterNumber"
    :title="$tc('sw-filter-panel.titleSidebarItemFilter')"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_sidebar_filter_panel_headline %}
    <template #headline-content>
        <a
            v-if="activeFilterNumber"
            role="button"
            tabindex="0"
            @click="resetAll"
            @keydown.enter="resetAll"
        >{{ $tc('sw-sidebar-filter-panel.resetButton') }}</a>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_sidebar_filter_panel_content %}
    <sw-filter-panel
        ref="filterPanel"
        v-bind="$attrs"
        v-on="listeners"
    />
    {% endblock %}
</sw-sidebar-item>
{% endblock %}
