{% block sw_sidebar_filter_panel %}
<sw-sidebar-item
    class="sw-sidebar-filter-panel"
    icon="default-action-filter"
    :badge="activeFilterNumber"
    :title="$tc('sw-filter-panel.titleSidebarItemFilter')"
>
    {% block sw_sidebar_filter_panel_headline %}
    <template #headline-content>
        <a
            v-if="activeFilterNumber"
            @click="resetAll"
        >{{ $tc('sw-sidebar-filter-panel.resetButton') }}</a>
    </template>
    {% endblock %}

    {% block sw_sidebar_filter_panel_content %}
    <sw-filter-panel
        ref="filterPanel"
        v-bind="$attrs"
        v-on="$listeners"
    />
    {% endblock %}
</sw-sidebar-item>
{% endblock %}
