@import "~scss/variables";

.sw-sidebar-item.sw-sidebar-filter-panel {
    .sw-sidebar-item__headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 25px;
        border-bottom: 1px solid var(--color-border-primary-default);

        a {
            float: left;
            margin-left: 15px;
            margin-right: auto;
        }
    }

    a {
        font-size: var(--font-size-xs);
        color: var(--color-text-brand-default);
        text-decoration: underline;
        cursor: pointer;

        &:focus-visible {
            outline: var(--scale-size-2) solid var(--color-border-brand-selected);
            outline-offset: var(--scale-size-2);
            border-radius: var(--border-radius-xs);
        }
    }
}
