<div class="swag-radio">
    <label v-if="getInlineSnippet(label)" :for="id">
        <slot name="label">{{ getInlineSnippet(label) }}</slot>
    </label>
    <div :id="id"
         class="swag-radio__options">
        <template v-for="option in options">
            <sw-label class="swag-radio__option"
                      variant
                      @selected="onOptionClicked(option)"
                      :variant="(value === option.id) ? 'success' : 'info'">
                {{ getInlineSnippet(option.name) }}
            </sw-label>
        </template>
    </div>
</div>