{% block sw_admin_menu_item %}
    <li class="sw-admin-menu__navigation-list-item"
        :class="getItemName(entry.path)"
        @click="$emit('listItemClicked', entry, $event.currentTarget)"
        @mouseover="$emit('menuItemChanged', entry, $event.currentTarget)">

        {% block sw_admin_menu_item_link %}
            <router-link class="sw-admin-menu__navigation-link" :to="{ name: entry.path }">

                {% block sw_admin_menu_item_icon %}
                    <sw-icon v-if="displayIcon"
                             size="20px"
                             class="sw-admin-menu__navigation-link-icon"
                             :name="getIconName(entry.icon)"
                             :style="{ 'color': entry.color }">
                    </sw-icon>
                {% endblock %}

                {% block sw_admin_menu_item_text %}
                    <span :class="collapsibleText ? 'collapsible-text' : ''">
                        {{ entry.label }}
                    </span>
                {% endblock %}

            </router-link>
        {% endblock %}

        {% block sw_sidebar_sub_items_list %}
            <ul v-if="sidebarExpanded" class="sw-admin-menu__sub-navigation-list">
                <sw-admin-menu-item v-for="entry in entry.children"
                                 :entry="entry"
                                 :key="entry.path"
                                 :displayIcon="false">
                </sw-admin-menu-item>
            </ul>
        {% endblock %}
    </li>
{% endblock %}