{% sw_extends '@Storefront/storefront/base.html.twig' %}

{# @var page \Shopware\Storefront\Page\LandingPage\LandingPage|\Shopware\Storefront\Page\CategoryPage\CategoryPage #}
{% block base_main_inner %}
    <div class="container-main">
        {% block page_content %}
            {% block cms_breadcrumb %}
                <div class="breadcrumb cms-breadcrumb container">
                    {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                        context: context,
                        category: page.header.navigation.active
                    } only %}
                </div>
            {% endblock %}

            {% block cms_content %}
                {% set cmsPageClasses = ('cms-page ' ~ page.landingPage.cmsPage.cssClass|striptags)|trim %}
                {% set cmsPage = page.landingPage ? page.landingPage.cmsPage : page.cmsPage %}
                {% set landingPage = page.landingPage ? page.landingPage : {} %}
                <div class="{{ cmsPageClasses }}">
                    {% block page_content_blocks %}
                        {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': cmsPage, 'landingPage': landingPage} %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
