{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/product-detail/meta.html.twig' %}
{% endblock %}

{% block base_content %}
    <div class="container-main">
        {% block page_product_detail %}
            <div class="product-detail"
                 itemscope
                 itemtype="https://schema.org/Product">
                {% block page_product_detail_inner %}
                    <div class="product-detail-content">
                        {% block page_product_detail_main %}
                            <div class="cms-page product-detail-page">
                                {% block page_content_blocks %}
                                    {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
