.header-main {
    background: $white;
}

.account-widget .account-widget-btn,
.cart-widget .cart-widget-btn {
    width: 40px;
    height: 40px;
}

.cart-widget-total {
    color: $primary;
}

@include media-breakpoint-up(md) {
    .account-widget .account-widget-btn,
    .cart-widget .cart-widget-btn {
        width: auto;
        height: auto;
    }
}
