.btn.top-bar-nav-btn {
    color: $gray-600;
    font-weight: normal;
    padding: 0;
}

.btn.top-bar-nav-btn:hover {
    color: $secondary;

    .select-arrow-down {
        color: $secondary;
    }
}

.top-bar-list-item {
    color: $gray-600;

    &.item-checked {
        color: $secondary;
    }
}

.top-bar-list-item:hover {
    color: $secondary;
    background: transparent;
    text-decoration: none;

    .top-bar-list-label {
        cursor: pointer;
    }
}

.select-arrow-down {
    line-height: 1.75;
    color: $gray-600;
    display: inline-block;
    padding: 3px;
}

.language-form {
    display: flex;
    align-items: center;
}

.header-main {
    background: $white;
}

.header-actions-btn {
    width: 40px;
    height: 40px;
}

.cart-widget-total {
    color: $primary;
}

@include media-breakpoint-up(md) {
    .header-actions-btn {
        width: auto;
        height: auto;
    }
}
