{% block page_content_element_product_box %}
    <div class="col-md-6">
        {% block page_content_element_product_box_inner %}
            {% if element.data.product %}
                <div class="cms-product-box">
                    {% sw_include '@Storefront/component/product/widget/box.html.twig' with {
                        'product': element.data.product,
                        'layout': 'list'
                    } %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
