{#

Notice for plugins and theme developer:

This template can be extended over sw_extends.
The blocks from the templates in the /includes folder can be overwritten directly in this template

#}

{% sw_extends '@Framework/documents/base.html.twig' %}

{% block document_title_tag %}
    {% trans with {'%creditNoteNumber%': config.custom.creditNoteNumber} %}document.creditNoteNumber{% endtrans %}
{% endblock %}

{% block document_headline %}
    <h1 class="headline">
        {% trans with {'%creditNoteNumber%': config.custom.creditNoteNumber, '%invoiceNumber%': config.custom.invoiceNumber}  %}document.creditNoteHeadline{% endtrans %}
    </h1>
{% endblock %}

{% block document_loop_shipping_costs %}
{% endblock %}
