{% sw_extends '@Framework/documents/base.html.twig' %}

{% block document_title_tag %}{% trans with {'%invoiceNumber%': config.custom.invoiceNumber} %}document.invoiceHeadline{% endtrans %}{% endblock %}

{% block document_headline %}
    <h1>{% trans with {'%invoiceNumber%': config.custom.invoiceNumber} %}document.invoiceHeadline{% endtrans %}</h1>
{% endblock %}
