{% sw_extends '@Framework/documents/base.html.twig' %}

{% block document_title_tag %}{% trans with {'%stornoNumber%': order.id} %}document.stornoHeadline{% endtrans %}{% endblock %}

{% block document_headline %}
    <h1>{% trans with {'%stornoNumber%': config.custom.stornoNumber, '%invoiceNumber%': config.custom.invoiceNumber} %}document.stornoHeadline{% endtrans %}</h1>
{% endblock %}

 {% block document_side_info_contents %}
     {{ parent() }}
     {% block document_side_info_storno_number %}
         <tr><td>{% trans with {'%stornoNumber%': config.custom.stornoNumber} %}document.stornoNumber{% endtrans %}</td></tr>
     {% endblock %}
 {% endblock %}
