@import "~less/variables";

.sw-customer-detail-base {
    .sw-customer-detail-base__info .sw-card__content,
    .sw-customer-detail-base__default-addresses .sw-card__content {
        padding: 0;
    }

    // Vue.js Transitions
    .sw-customer-fade-enter-active,
    .sw-customer-fade-leave-active {
        transition: opacity .2s ease-in-out;
    }

    // Vue.js Transitions
    .sw-customer-fade-enter,
    .sw-customer-fade-leave-to {
        opacity: 0;
    }
}