@import "~less/variables";

@sw-customer-detail-base-color-text: @color-gutenberg;

.sw-customer-detail-base {
    .sw-field.sw-customer-detail-base__active-field {
        grid-template-columns: 16px 140px 1fr;
        grid-gap: 10px;
        margin: 0;

        .sw-field__input {
            order: 1;
        }

        label {
            color: @sw-customer-detail-base-color-text;
            order: 2;
        }
    }
}