{% block sw_customer_detail_base %}
    <div class="sw-customer-detail-base">
        {% block sw_customer_detail_base_transition %}
            <transition-group name="sw-customer-fade" mode="out-in">
                {% block sw_customer_detail_base_form_card %}
                    <sw-card :title="$tc('sw-customer.detailBase.labelAccountCard')"
                             v-if="createMode"
                             :isLoading="customer.isLoading"
                             key="create">
                        {% block sw_customer_detail_base_form %}
                            <sw-customer-base-form :customer="customer"
                                                   :salesChannels="salesChannels"
                                                   :customerGroups="customerGroups"
                                                   :paymentMethods="paymentMethods">
                            </sw-customer-base-form>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block sw_customer_detail_base_info_holder %}
                    <div v-if="!createMode"
                         key="info"
                         class="sw-customer-detail-base__info-holder">

                        {% block sw_customer_detail_base_info_card %}
                            <sw-customer-card :title="$tc('sw-customer.detailBase.labelAccountCard')"
                                              :customer="customer"
                                              :editMode="editMode"
                                              :isLoading="customer.isLoading">
                                {% block sw_customer_detail_base_info_metadata %}
                                    <sw-customer-base-info @activateCustomerEditMode="onActivateCustomerEditMode"
                                                           :customerEditMode="editMode"
                                                           :customerName="customerName"
                                                           :customerGroups="customerGroups"
                                                           :paymentMethods="paymentMethods"
                                                           :isLoading="isLoading"
                                                           :languages="languages"
                                                           :language="language"
                                                           :customer="customer">
                                    </sw-customer-base-info>
                                {% endblock %}
                            </sw-customer-card>
                        {% endblock %}

                        {% block sw_customer_detail_base_default_addresses_card %}
                            <sw-card :title="$tc('sw-customer.detailBase.labelAddressesCard')"
                                     v-if="customer.defaultShippingAddress || customer.defaultBillingAddress"
                                     class="sw-customer-detail-base__default-addresses"
                                     :isLoading="customer.isLoading">
                                {% block sw_customer_detail_base_default_addresses %}
                                    <sw-customer-default-addresses :customerEditMode="customerEditMode" :customer="customer" slot="grid"></sw-customer-default-addresses>
                                {% endblock %}
                            </sw-card>
                        {% endblock %}

                        {% block sw_customer_detail_attribute_sets %}
                            <sw-card :title="$tc('sw-settings-attribute.general.mainMenuItemGeneral')"
                                     v-if="next754 && customerAttributeSets.length > 0"
                                     :isLoading="customer.isLoading">
                                <sw-attribute-set-renderer
                                        :entity="customer"
                                        :disabled="!editMode"
                                        :sets="customerAttributeSets">
                                </sw-attribute-set-renderer>
                            </sw-card>
                        {% endblock %}
                    </div>
                {% endblock %}
            </transition-group>
        {% endblock %}
    </div>
{% endblock %}