@import "~less/variables";

.sw-customer-detail-base {
    .sw-customer-detail-base__info .sw-card__content {
        padding: 0;
    }

    .customer-fade-enter-active, .customer-fade-leave-active {
        transition: opacity .2s ease-in-out;
    }

    .customer-fade-enter, .customer-fade-leave-to {
        opacity: 0;
    }
}