{% block sw_context_button %}
    <div class="sw-context-button" @click="openMenu" ref="swContextButton">
        {% block sw_context_button_button %}
            <slot name="button">
                <button class="sw-context-button__button" :class="{ 'is--active': showMenu }">
                    <sw-icon name="default-action-more-horizontal" decorative></sw-icon>
                </button>
            </slot>
        {% endblock %}

        {% block sw_context_button_menu %}
            <sw-context-menu :style="menuStyles">
                <slot>{% block sw_context_button_menu_slot_default %}{% endblock %}</slot>
            </sw-context-menu>
        {% endblock %}
    </div>
{% endblock %}