@import '~scss/variables';

$sw-context-button-color-text:    $color-gutenberg;
$sw-context-button-border-radius: $border-radius-default;
$sw-context-button-color-border:  $color-steam-cloud;
$sw-context-button-color-disabled:  $color-light-gray;

.sw-context-button {
    display: inline-block;
    position: relative;
    color: $sw-context-button-color-text;

    #{$dark-theme-class} & {
        color: lighten($sw-context-button-color-text, $dark-theme-contrast-factor);
    }

    &.is--disabled {
        .sw-context-button__button {
            color: lighten($sw-context-button-color-text, 20%);
            cursor: initial;

            #{$dark-theme-class} & {
                color: lighten(lighten($sw-context-button-color-text, $dark-theme-contrast-factor), 20%);
            }

            &:hover,
            &.is--active {
                border: none;
            }
        }
    }

    .sw-context-button__button {
        color: $sw-context-button-color-text;
        background: 0 none;
        border: 1px solid transparent;
        border-radius: $sw-context-button-border-radius;
        cursor: pointer;
        height: 24px;
        line-height: 20px;
        padding: 0 8px;
        outline: none;

        #{$dark-theme-class} & {
            color: lighten($sw-context-button-color-text, $dark-theme-contrast-factor);
            border: 1px solid transparent;
        }

        &:hover,
        &.is--active {
            border-color: $sw-context-button-color-border;

            #{$dark-theme-class} & {
                border-color: lighten($sw-context-button-color-border, $dark-theme-contrast-factor);
            }
        }
    }
}
