@import '~less/variables';

@sw-context-button-color-text: @color-gutenberg;

.sw-context-button {
    display: inline-block;
    position: relative;
    color: @sw-context-button-color-text;
    cursor: pointer;
}