<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_center_text %}
<div class="sw-cms-block-center-text">
    <div class="sw-cms-block-center-text__image-left">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-center-text__text">
        <slot name="center"></slot>
    </div>

    <div class="sw-cms-block-center-text__image-right">
        <slot name="right"></slot>
    </div>
</div>
{% endblock %}
