{% block sw_cms_block_center_text %}
<div class="sw-cms-block-center-text">
    <div class="sw-cms-block-center-text__image-left">
        <slot name="left" />
    </div>

    <div class="sw-cms-block-center-text__text">
        <slot name="center" />
    </div>

    <div class="sw-cms-block-center-text__image-right">
        <slot name="right" />
    </div>
</div>
{% endblock %}
