/*
Hypheration mixin
======================================
The mixins provides you a cross-browser compatible method to set the hyphenation.

Please refer to <http://caniuse.com/css-hyphens> to see the browser support table of the feature.

######Example:
`.hyphens([value]);`

`@param: {String} hyphenation: The hyphenation that should be used (Default: auto)`
*/

.hyphens(@hyphenation: auto) {
    -webkit-hyphens: @hyphenation;
    -moz-hyphens: @hyphenation;
    -ms-hyphens: @hyphenation;
    hyphens: @hyphenation;
}