<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_shortcut_overview %}
<div class="sw-shortcut-overview">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_shortcut_overview_modal %}
    <sw-modal
        v-if="showShortcutOverviewModal"
        class="sw-shortcut-overview--modal"
        :title="$tc(`sw-shortcut-overview.modalTitle`)"
        variant="large"
        @modal-close="onCloseShortcutOverviewModal"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_shortcut_overview_modal_section_adding_items %}
        <h3>{{ $tc(`sw-shortcut-overview.sectionAddingItems`) }}</h3>
        <sw-shortcut-overview-item
            v-for="section in sections.addingItems"
            :key="section.id"
            :title="section.title"
            :content="section.content"
            :privilege="section.privilege"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_shortcut_overview_modal_section_navigation %}
        <h3>{{ $tc(`sw-shortcut-overview.sectionNavigation`) }}</h3>
        <sw-shortcut-overview-item
            v-for="section in sections.navigation"
            :key="section.id"
            :title="section.title"
            :content="section.content"
            :privilege="section.privilege"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_shortcut_overview_modal_section_special_shortcuts %}
        <h3>{{ $tc(`sw-shortcut-overview.sectionSpecialShortcuts`) }}</h3>
        <sw-shortcut-overview-item
            v-for="section in sections.specialShortcuts"
            :key="section.id"
            :title="section.title"
            :content="section.content"
            :privilege="section.privilege"
        />
        {% endblock %}

    </sw-modal>
    {% endblock %}
</div>
{% endblock %}
