@import "~less/variables";

@sw-multi-select-border-radius:                   @border-radius-default;
@sw-multi-select-color-border:                    @color-steam-cloud;
@sw-multi-select-color-border-focus:              @color-shopware-blue;
@sw-multi-select-color-background:                @color-white;
@sw-multi-select-color-label:                     @color-kashmir;
@sw-multi-select-selection-item-color-text:       @color-gutenberg;
@sw-multi-select-selection-item-color-background: darken(@color-light-gray, 5%);
@sw-multi-select-input-color-text:                @color-gutenberg;
@sw-multi-select-input-color-placeholder:         lighten(@color-gutenberg, 25%);
@sw-multi-select-results-max-height:              315px;
@sw-multi-select-results-z-index:                 1000;
@sw-multi-select-results-box-shadow:              0 2px 4px 0 rgba(0, 0, 0, 0.09);
@sw-multi-select-result-color-icon:               darken(@color-light-gray, 20%);
@sw-multi-select-result-active-color-background:  lighten(@color-shopware-blue, 40%);
@sw-multi-select-result-active-color-text:        @color-shopware-blue;
@sw-multi-select-color-error:                     @color-crimson;
@sw-multi-select-disabled-color-background:       @color-light-gray;
@sw-multi-select-disabled-color-text:             lighten(@color-gutenberg, 40%);
@sw-multi-select-transition-results:              all ease-in-out .2s;
@sw-multi-select-transition-selections:           all ease-in-out .15s;
@sw-multi-select-transition-result-icon:          all ease-in-out .15s;

.sw-multi-select {
    .sw-multi-select__label {
        display: block;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: @sw-multi-select-color-label;
        font-weight: normal;
        cursor: pointer;
        user-select: none;
    }

    .sw-multi-select__inner {
        display: block;
        position: relative;
        width: 100%;
        padding: 6px 45px 0 6px;
        line-height: 20px;
        min-height: 45px;
        font-size: 14px;
        border-radius: @sw-multi-select-border-radius;
        border: 1px solid @sw-multi-select-color-border;
        background-color: @sw-multi-select-color-background;
        transition: @sw-multi-select-transition-results;
        cursor: text;
    }

    .sw-loader {
        width: 45px;
        left: auto;
        border-radius: @sw-multi-select-border-radius;
    }

    .sw-multi-select__selections {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .sw-multi-select__selection-item {
        display: block;
        position: relative;
        margin-right: 6px;
        margin-bottom: 6px;
        padding: 4px 40px 4px 12px;
        line-height: 22px;
        font-size: 13px;
        background: @sw-multi-select-selection-item-color-background;
        border-radius: @sw-multi-select-border-radius;
        color: @sw-multi-select-selection-item-color-text;
        flex-shrink: 0;
        cursor: default;

        &:hover {
            background: darken(@sw-multi-select-selection-item-color-background, 3%);
        }
    }

    .sw-multi-select__selection-dismiss {
        display: inline-block;
        position: absolute;
        width: 35px;
        height: 100%;
        padding: 4px 10px;
        right: 0;
        top: 0;
        color: @sw-multi-select-selection-item-color-text;
        font-size: 14px;
        text-align: center;
        background: 0 none;
        border: 0 none;
        cursor: pointer;
        text-decoration: none;
        line-height: 0;
        font-weight: bold;
        outline: none;

        .sw-icon {
            width: 12px;
            height: 12px;
        }
    }

    .sw-multi-select__selection-item-input {
        flex-grow: 1;
        margin-bottom: 6px;
    }

    .sw-multi-select__input {
        display: inline-block;
        min-width: 200px;
        width: 100%;
        padding: 2px 8px;
        font-size: 14px;
        line-height: 26px;
        border: 0 none;
        outline: none;
        color: @sw-multi-select-input-color-text;
        background: 0 none;

        &::placeholder {
            color: @sw-multi-select-input-color-placeholder;
        }
    }

    .sw-multi-select__results {
        position: absolute;
        left: -1px;
        right: -1px;
        max-height: @sw-multi-select-results-max-height;
        top: 100%;
        padding: 0;
        margin: 0;
        z-index: @sw-multi-select-results-z-index;
        background: @sw-multi-select-color-background;
        box-shadow: @sw-multi-select-results-box-shadow;
        overflow-x: hidden;
        overflow-y: auto;
        border: 1px solid @sw-multi-select-color-border-focus;
        border-top: 0 none;
        border-bottom-right-radius: @sw-multi-select-border-radius;
        border-bottom-left-radius: @sw-multi-select-border-radius;
    }

    .sw-multi-select__results-list {
        display: block;
        list-style: none;
        border-top: 0 none;
    }

    .sw-multi-select__result-item {
        padding: 12px 15px;
        border-bottom: 1px solid @sw-multi-select-color-border;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sw-icon {
            color: @sw-multi-select-result-color-icon;
        }

        &:last-child {
            border-bottom: 0 none;
        }

        &:hover,
        &.is--active {
            background: @sw-multi-select-result-active-color-background;
            color: @sw-multi-select-result-active-color-text;
        }

        &:active {
            background: darken(@sw-multi-select-result-active-color-background, 3%);
        }
    }

    .sw-multi-select__results-empty-message {
        padding: 10px 16px;

        .sw-icon {
            color: darken(@sw-multi-select-result-color-icon, 10%);
            margin-right: 10px;
        }
    }

    &.is--expanded {
        .sw-multi-select__inner {
            border-color: @sw-multi-select-color-border-focus;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-color: transparent;
        }
    }

    &.has--error {
        .sw-multi-select__label {
            color: @sw-multi-select-color-error;
        }

        .sw-multi-select__inner,
        .sw-multi-select__results {
            border-color: @sw-multi-select-color-error;
        }
    }

    &.is--disabled {
        pointer-events: none;
        color: @sw-multi-select-disabled-color-text;

        .sw-multi-select__inner {
            background: @sw-multi-select-disabled-color-background;
        }

        .sw-multi-select__selection-item {
            opacity: 0.6;
        }

        .sw-multi-select__input {
            color: @sw-multi-select-disabled-color-text;

            &::placeholder {
                color: @sw-multi-select-disabled-color-text;
            }
        }
    }

    // Vue.js transitions
    .sw-multi-select-fade-down-enter-active,
    .sw-multi-select-fade-down-leave-active {
        transition: @sw-multi-select-transition-results;
        transform: translateY(0);
    }

    .sw-multi-select-fade-down-enter,
    .sw-multi-select-fade-down-leave-to {
        transform: translateY(-10px);
        opacity: 0;
    }

    .sw-multi-select-magnify-enter-active,
    .sw-multi-select-magnify-leave-active {
        transition: @sw-multi-select-transition-selections;
        transform: scale(1);
    }

    .sw-multi-select-magnify-enter,
    .sw-multi-select-magnify-leave-to {
        opacity: 0;
        transform: scale(0.4);
    }

    .sw-multi-select-appear-enter-active,
    .sw-multi-select-appear-leave-active {
        transition: @sw-multi-select-transition-result-icon;
        transform: translateY(0);
    }

    .sw-multi-select-appear-enter,
    .sw-multi-select-appear-leave-to {
        opacity: 0;
        transform: translateY(-15px);
    }
}