{% block sw_multi_select %}
    <div class="sw-multi-select"
         :class="multiSelectClasses"
         ref="swMultiSelect"
         @click="setFocus"
         @keyup.esc="closeResultList"
         @keyup.enter.prevent="addSelectionOnEnter"
         @keydown.up.prevent="navigateUpResults"
         @keydown.down.prevent="navigateDownResults">

        {% block sw_multi_select_label %}
            <label v-if="label" :for="id" class="sw-multi-select__label">{{ label }}</label>
        {% endblock %}

        {% block sw_multi_select_inner %}
            <div class="sw-multi-select__inner">

                {% block sw_multi_select_selections %}
                    <transition-group name="sw-multi-select-magnify"
                                      tag="ul"
                                      class="sw-multi-select__selections"
                                      mode="out-in">

                        {% block sw_multi_select_selection_item %}
                            <li class="sw-multi-select__selection-item"
                                v-for="selection in selections"
                                :key="selection.id"
                                :data-id="selection.id">

                                {% block sw_multi_select_selection_text_holder %}
                                    <span class="sw-multi-select__selection-text">
                                        {% block sw_multi_select_selection_text %}
                                            {{ selection.name }}
                                        {% endblock %}
                                    </span>
                                {% endblock %}

                                {% block sw_multi_select_selection_dismiss %}
                                    <button class="sw-multi-select__selection-dismiss"
                                            title="Delete"
                                            @click.prevent="dismissSelection(selection.id)">
                                        {% block sw_multi_select_selection_dismiss_icon %}
                                            <sw-icon name="small-default-x-line-medium"></sw-icon>
                                        {% endblock %}
                                    </button>
                                {% endblock %}
                            </li>
                        {% endblock %}

                        {% block sw_multi_select_list_item_input %}
                            <li class="sw-multi-select__selection-item-input" key="listInput">
                                {% block sw_multi_select_input %}
                                    <input ref="swMultiSelectInput"
                                           class="sw-multi-select__input"
                                           type="text"
                                           :placeholder="placeholder"
                                           v-model="searchTerm"
                                           @focus="openResultList"
                                           @keydown.delete="dismissLastSelection">
                                {% endblock %}
                            </li>
                        {% endblock %}
                    </transition-group>
                {% endblock %}

                {% block sw_multi_select_loader %}
                    <sw-loader v-if="isLoading" size="20px"></sw-loader>
                {% endblock %}

                {% block sw_multi_select_results_transition %}
                    <transition name="sw-multi-select-fade-down">
                        {% block sw_multi_select_results %}
                            <div class="sw-multi-select__results" v-if="isExpanded">

                                {% block sw_multi_select_results_list %}
                                    <ul v-if="results.length > 0" class="sw-multi-select__results-list">
                                        {% block sw_multi_select_result_item %}
                                            <li v-for="(result, index) in results"
                                                class="sw-multi-select__result-item"
                                                :class="{ 'is--active': (index === activeResultPosition) }"
                                                :data-id="result.id"
                                                @mouseover="setActiveResultPosition(index)"
                                                @click="addSelection(result)">

                                                {% block sw_multi_select_result_item_text_holder %}
                                                    <span class="sw-multi-select__result-item-text">
                                                        {% block sw_multi_select_result_item_text %}
                                                            {{ result.name }}
                                                        {% endblock %}
                                                    </span>
                                                {% endblock %}

                                                {% block sw_multi_select_result_item_icon_transition %}
                                                    <transition name="sw-multi-select-appear">
                                                        {% block sw_multi_select_result_item_icon %}
                                                            <sw-icon v-if="isInSelections(result)"
                                                                     name="small-default-checkmark-line-medium"
                                                                     size="16px">
                                                            </sw-icon>
                                                        {% endblock %}
                                                    </transition>
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    </ul>
                                {% endblock %}

                                {% block sw_multi_select_results_empty %}
                                    <div class="sw-multi-select__results-empty-message" v-else>
                                        {% block sw_multi_select_results_empty_icon %}
                                            <sw-icon name="default-action-search" size="20px"></sw-icon>
                                        {% endblock %}

                                        {% block sw_multi_select_results_empty_text %}
                                            {{ $tc('global.sw-multi-select.messageNoResults', searchTerm, { term: searchTerm }) }}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}