@import "~less/variables";

@sw-multi-select-border-radius:      @border-radius-default;
@sw-multi-select-color-border:       @color-steam-cloud;
@sw-multi-select-color-border-focus: @color-shopware-blue;
@sw-multi-select-color-background:   @color-white;

.sw-multi-select {
    .sw-multi-select__label {
        display: block;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: @color-kashmir;
        font-weight: normal;
        cursor: pointer;
        user-select: none;
    }

    .sw-multi-select__inner {
        display: block;
        position: relative;
        width: 100%;
        padding: 4px 6px;
        border-radius: @sw-multi-select-border-radius;
        border: 1px solid @sw-multi-select-color-border;
        background-color: @sw-multi-select-color-background;
        font-size: 14px;
        line-height: 27px;

        &.is--active {
            border-color: @sw-multi-select-color-border-focus;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    .sw-multi-select__list {
        display: block;
        list-style: none;

        &:after {
            content: ".";
            clear: both;
            display: block;
            visibility: hidden;
            height: 0;
        }
    }

    .sw-multi-select__list-item {
        display: block;
        float: left;
        position: relative;
        margin-right: 12px;
        background: darken(@color-light-gray, 2%);
        border-radius: @border-radius-default;
        color: @color-gutenberg;
        padding: 4px 46px 4px 16px;
    }

    .value--dismiss {
        background: darken(@color-light-gray, 5%);
        border-radius: 0 @border-radius-default @border-radius-default 0;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        color: @color-gutenberg;
        text-decoration: none;
        font-size: 14px;
        text-align: center;
        width: 35px;
        line-height: 27px;
        padding: 4px 10px;
        font-weight: bold;
    }

    .input--element {
        display: inline-block;
        min-width: 200px;
        padding: 4px 8px;
        font-size: 14px;
        line-height: 27px;
        border: 0 none;
        outline: none;
        color: @color-gutenberg;

        &::placeholder {
            color: lighten(@color-gutenberg, 25%);
        }
    }

    .sw-multi-select__results {
        position: absolute;
        left: -1px;
        right: -1px;
        top: 43px;
        z-index: 1000;
        background: @color-white;
        padding: 0;
        margin: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        border: 1px solid @color-shopware-blue;
        border-top-color: white;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        .sw-drop-down--list {
            display: block;
            list-style: none;
            border-top: 0 none;
        }

        .list--entry {
            border-bottom: 1px solid @color-steam-cloud;
            padding: 10px 15px;
            cursor: pointer;

            &:hover {
                background: @color-light-gray;
            }
        }
    }
}

// Vue.js transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity ease-in-out .2s
}

.fade-enter, .fade-leave-to {
    opacity: 0
}