{% block sw_multi_select %}
    <div class="sw-multi-select" @click="setFocus" ref="swMultiSelect">

        {% block sw_multi_select_label %}
            <label v-if="label" :for="id" class="sw-multi-select__label">{{ label }}</label>
        {% endblock %}

        {% block sw_multi_select_inner %}
            <div class="sw-multi-select__inner" ref="swMultiSelectInner" :class="{ 'is--active' : isExpanded }">

                {% block sw_multi_select_data %}
                    <input type="hidden" :value="stringifyValues">
                {% endblock %}

                {% block sw_multi_select_list %}
                    <transition-group name="appear" tag="ul" class="sw-multi-select__list" mode="out-in">
                        {% block sw_multi_select_list_item %}
                            <li class="sw-multi-select__list-item"
                                v-for="entry in displayValues"
                                :key="entry.id"
                                :data-id="entry.id">
                                <span class="value--display">{{ entry.name }}</span>
                                <button class="value--dismiss" @click.prevent="onDismissEntry(entry.id)">
                                    <sw-icon name="small-default-x-line-medium"></sw-icon>
                                </button>
                            </li>
                        {% endblock %}

                        {% block sw_multi_select_list_item_input %}
                            <li class="sw-multi-select__list-item-input" key="listInput">
                                {% block sw_multi_select_input %}
                                    <input ref="swMultiSelectInput"
                                           class="sw-multi-select__input"
                                           type="text"
                                           :placeholder="placeholder"
                                           v-model="searchTerm"
                                           @focus="openResultList">
                                {% endblock %}
                            </li>
                        {% endblock %}
                    </transition-group>
                {% endblock %}

                {% block sw_multi_select_loader %}
                    <sw-loader v-if="isLoading" size="20px"></sw-loader>
                {% endblock %}

                {% block sw_multi_select_results_transition %}
                    <transition name="fade">
                        {% block sw_multi_select_results %}
                            <div class="sw-multi-select__results" v-if="isExpanded">

                                {% block sw_multi_select_results_list %}
                                    <ul v-if="filteredEntries.length > 0" class="sw-multi-select__results-list">
                                        {% block sw_multi_select_results_item %}
                                            <li v-for="(entry, index) in filteredEntries"
                                                class="list--entry"
                                                :class="{ 'is--selected' : (index === activePosition) }"
                                                :data-id="entry.id"
                                                @click="onSelectEntry(entry.id)">
                                                {{ entry.name }}
                                            </li>
                                        {% endblock %}
                                    </ul>
                                {% endblock %}

                                {% block sw_multi_select_results_empty %}
                                    <div class="sw-multi-select__results-empty" v-else>
                                        {% block sw_multi_select_results_empty_text %}
                                            <sw-icon name="default-action-search" size="20px"></sw-icon>
                                            No Results found for "{{ currentSearchTerm }}"
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}