<div class="sw-cms-block-html">
    <slot name="content">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_html_slot_html_content %}{% endblock %}
    </slot>
</div>
