<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_data_grid_column_boolean %}
<div class="sw-data-grid-column-boolean">
    <sw-checkbox-field
        v-if="isInlineEdit"
        v-model="currentValue"
        :disabled="disabled"
    />

    <template v-else>
        <sw-icon
            v-if="currentValue"
            name="regular-checkmark-xs"
            small
            class="is--active"
        />
        <sw-icon
            v-else
            name="regular-times-s"
            class="is--inactive"
        />
    </template>
</div>
{% endblock %}
