{% block sw_data_grid_column_boolean %}
<div class="sw-data-grid-column-boolean">
    <sw-checkbox-field
        v-if="isInlineEdit"
        v-model="currentValue"
        :disabled="disabled"
    />

    <template v-else>
        <sw-icon
            v-if="currentValue"
            name="small-default-checkmark-line-medium"
            small
            class="is--active"
        />
        <sw-icon
            v-else
            name="small-default-x-line-medium"
            small
            class="is--inactive"
        />
    </template>
</div>
{% endblock %}
