<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_media_breadcrumbs %}
<nav
    class="sw-media-breadcrumbs"
    :class="swMediaBreadcrumbsClasses"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_breadcrumbs_root_folder %}
    <!-- eslint-disable-next-line  vuejs-accessibility/click-events-have-key-events vuejs-accessibility/anchor-has-content -->
    <a
        class="sw-media-breadcrumbs__button-back-to-root"
        @click="onBreadcrumbsItemClicked(null)"
    >
        <sw-icon
            v-if="!small"
            large
            name="multicolor-folder-breadcrumbs-back-to-root"
            multicolor
        />
        <sw-icon
            v-else
            small
            name="multicolor-folder-breadcrumbs"
            multicolor
        />
    </a>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_breadcrumbs_parent_folder %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <a
        v-if="parentFolder"
        class="sw-media-breadcrumbs__entry sw-media-breadcrumbs__parent-folder"
        @click="onBreadcrumbsItemClicked(parentFolder.id)"
    >
        <sw-icon
            class="sw-media-breadcrumbs__arrow-separator"
            name="regular-chevron-right-xxs"
        />
        {{ parentFolder.name }}
    </a>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_breadcrumbs_current_folder %}
    <span
        v-if="currentFolder"
        class="sw-media-breadcrumbs__entry sw-media-breadcrumbs__current-folder"
    >
        <sw-icon
            class="sw-media-breadcrumbs__arrow-separator"
            name="regular-chevron-right-xxs"
        />
        {{ currentFolder.name }}
    </span>
    {% endblock %}
</nav>
{% endblock %}
