@import "~scss/variables";
@import "~scss/mixins";

.sw-media-breadcrumbs {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;

    a {
        cursor: pointer;
    }

    .sw-media-breadcrumbs__entry {
        font-size: $font-size-large;
        @include truncate;
    }

    .sw-media-breadcrumbs__parent-folder {
        color: $color-gray-300;
    }

    .sw-media-breadcrumbs__arrow-separator {
        color: $color-darkgray-200;
    }

    &.is--small .sw-media-breadcrumbs__entry {
        font-size: $font-size-small;
    }
}
