@import "~scss/variables";

$sw-media-list-selection-item-color-white:       $color-white;
$sw-media-list-selection-item-color-hover:       $color-black;
$sw-media-list-selection-item-color-border:      $color-steam-cloud;
$sw-media-list-selection-item-border-radius:     $border-radius-default;
$sw-media-list-selection-item-placeholder-color: lighten($color-steam-cloud, 5%);

.sw-media-list-selection-item {
    position: relative;
    border-radius: $sw-media-list-selection-item-border-radius;
    border: 2px solid $sw-media-list-selection-item-placeholder-color;

    &.is--placeholder {
        border: 2px dashed $sw-media-list-selection-item-placeholder-color;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: transparent;
        }
    }

    .sw-media-list-selection-item__image {
        width: 100%;
        height: 100%;

        .sw-media-preview__item {
            border-radius: $sw-media-list-selection-item-border-radius;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &:hover {
        background-color: $sw-media-list-selection-item-color-hover;
        
        .sw-media-list-selection-item__image {
            opacity: 0.7;
        }

        .sw-context-button__button {
            visibility: visible;
            border: none;
        }
    }

    .sw-media-list-selection-item__context-button {
        position: absolute;
        top: 9px;
        right: 9px;
    }

    .sw-context-button__button {
        visibility: hidden;

        .sw-icon {
            color: $sw-media-list-selection-item-color-white;
            height: 100%;
        }
    }

    .sw-media-list-selection-item__placeholder-icon {
        color: $sw-media-list-selection-item-placeholder-color;
    }
}
