@import "~scss/variables";

.sw-product-category-form {
    .sw-product-category-form__tag-field-wrapper {
        margin-top: var(--scale-size-8);
    }

    &__visibility-title {
        font-weight: var(--font-weight-semibold);
        margin-bottom: var(--scale-size-8);
    }

    &__visibility_field {
        margin-top: var(--scale-size-20);

        .sw-product-detail__select-visibility.sw-field {
            margin-bottom: 0;
        }
    }
}
