{% block sw_filter_panel %}
    <div class="sw-filter-panel">
        {% block sw_filter_panel_item %}
            <div class="sw-filter-panel__item" v-for="filter in filters" :key="filter.name">
                <div v-if="false"></div>

                {% block sw_filter_panel_extension_point %}{% endblock %}

                <sw-boolean-filter
                    v-else-if="showFilter(filter, 'boolean-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-boolean-filter>

                <sw-existence-filter
                    v-else-if="showFilter(filter, 'existence-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-existence-filter>

                <sw-multi-select-filter
                    v-else-if="showFilter(filter, 'multi-select-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-multi-select-filter>

                <sw-date-filter
                    v-else-if="showFilter(filter, 'date-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-date-filter>

                <sw-string-filter
                    v-else-if="showFilter(filter, 'string-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-string-filter>

                <sw-number-filter
                    v-else-if="showFilter(filter, 'number-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-number-filter>

                <sw-price-filter
                    v-else-if="showFilter(filter, 'price-filter')"
                    :filter="filter"
                    :active="!!activeFilters[filter.name]"
                    @filter-update="updateFilter"
                    @filter-reset="resetFilter">
                </sw-price-filter>
            </div>
        {% endblock %}
    </div>
{% endblock %}
