{% block component_filter_panel %}
    {% set sidebar = block.sectionPosition == 'sidebar' ? true : false %}

    {% block component_filter_panel_element %}
        <div class="filter-panel{% if sidebar %} is--sidebar{% endif %}">

            {% block component_filter_panel_items_container %}
                <div class="filter-panel-items-container">

                    {% block component_filter_panel_item_manufacturer %}

                        {# @var listing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
                        {% if listing.aggregations.get('manufacturer') %}
                            {% set manufacturers = listing.aggregations.get('manufacturer') %}

                            {# @var manufacturers \Shopware\Core\Framework\DataAbstractionLayer\Search\AggregationResult\Metric\EntityResult #}
                            {% sw_include '@Storefront/component/listing/filter/filter-multi-select.html.twig' with {
                                elements: manufacturers.entities,
                                sidebar: sidebar,
                                name: 'manufacturer',
                                displayName: 'listing.filterManufacturerDisplayName'|trans
                            } %}
                        {% endif %}
                    {% endblock %}

                    {% block component_filter_panel_item_properties %}

                        {# @var listing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
                        {% if listing.aggregations.get('properties') %}
                            {% set properties = listing.aggregations.get('properties') %}

                            {% for property in properties.entities %}
                                {% sw_include '@Storefront/component/listing/filter/filter-property-select.html.twig' with {
                                    elements: property.options,
                                    sidebar: sidebar,
                                    name: 'properties',
                                    displayName: property.translated.name,
                                    displayType: property.displayType,
                                    pluginSelector: 'filter-property-select'
                                } %}
                            {% endfor %}
                        {% endif %}
                    {% endblock %}

                    {% block component_filter_panel_item_price %}

                        {# @var listing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
                        {% if listing.aggregations.get('price') %}
                            {% set price = listing.aggregations.get('price') %}

                            {% sw_include '@Storefront/component/listing/filter/filter-range.html.twig' with {
                                price: price,
                                sidebar: sidebar,
                                name: 'price',
                                minKey: 'min-price',
                                maxKey: 'max-price',
                                displayName: 'listing.filterPriceDisplayName'|trans,
                            } %}
                        {% endif %}
                    {% endblock %}

                    {% block component_filter_panel_item_rating %}

                        {# @var listing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
                        {% if listing.aggregations.get('rating') %}
                            {% sw_include '@Storefront/component/listing/filter/filter-rating.html.twig' with {
                                name: 'rating',
                                displayName: 'listing.filterRatingDisplayName'|trans
                            } %}
                        {% endif %}
                    {% endblock %}

                    {% block component_filter_panel_item_shipping_free %}

                        {# @var listing \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
                        {% if listing.aggregations.get('shipping-free') %}
                            {% sw_include '@Storefront/component/listing/filter/filter-boolean.html.twig' with {
                                name: 'shipping-free',
                                displayName: 'listing.filterFreeShippingDisplayName'|trans
                            } %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block component_filter_panel_active_container %}
                <div class="filter-panel-active-container">
                    {% block component_filter_panel_active_container_inner %}{% endblock %}
                </div>
            {% endblock %}
        </div>
     {% endblock %}
{% endblock %}
