.sw-settings-search {
    &__search-index-latest-build {
        padding-left: var(--scale-size-10);
        font-size: var(--font-size-xs);
        color: var(--color-text-primary-default);
    }

    &__search-index-rebuilding-progress {
        margin: var(--scale-size-20) 0;
    }
}
