.sw-bulk-edit-order-documents-download-documents {
    &__checkbox.mt-field--checkbox__container .mt-field--checkbox__content {
        padding: 10px 0;
    }

    &__checkbox.mt-field--checkbox__container:first-child .mt-field--checkbox__content {
        padding: 15px 0 10px;
    }

    &__checkbox.mt-field--checkbox__container:last-child .mt-field--checkbox__content {
        padding: 10px 0 0;
    }
}
