{% block sw_cms_element_product_box_config %}
    <div class="sw-cms-el-config-product-box">
        <sw-select :multi="false"
                   ref="cmsProductSelection"
                   :label="$tc('sw-cms.elements.labelProductSelection')"
                   :placeholder="$tc('sw-cms.elements.placeholderProductSelection')"
                   :store="productStore"
                   @input="onProductChange"
                   v-model="element.config.product.value">
        </sw-select>

        <sw-select-field :label="$tc('sw-cms.elements.labelProductLayoutType')" v-model="element.config.boxLayout.value">
            <option value="standard">{{ $tc('sw-cms.elements.labelProductLayoutTypeStandard') }}</option>
            <option value="image">{{ $tc('sw-cms.elements.labelProductLayoutTypeImage') }}</option>
            <option value="minimal">{{ $tc('sw-cms.elements.labelProductLayoutTypeMinimal') }}</option>
        </sw-select-field>
    </div>
{% endblock %}
