<div class="sw-settings-import-export-activity">
    <sw-entity-listing
        :repository="productRepository" {# TODO: change to activites #}
        :items="products" {# TODO: change to activites #}
        :isLoading="isLoading"
        :columns="exportActivityColumns"
        :showSettings="false"
        :showSelection="false"
        :allowColumnEdit="false"
        :fullPage="true">
    </sw-entity-listing>
</div>
