@import "~scss/variables";

.sw-cms-el-config-buy-box {
    &__alignment.sw-block-field,
    .sw-entity-single-select {
        margin-bottom: 0;
    }

    .sw-entity-single-select__selection {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .sw-entity-single-select__selection-text {
        vertical-align: middle;
        padding-right: 16px;
        width: 100%;
    }
}
