.buy-widget--submit {
    @extend .btn-lg;
}

<<<<<<< HEAD
.product-detail-name {
    @extend .text-dark;
}

.product-detail-price {
    @extend .text-dark;
}

.product-detail-ordernumber-label {
    font-weight: $font-weight-bold;
}

@include media-breakpoint-down(xs) {
    .product-detail-tabs {
        .card-tabs .nav-link,
        .card-tabs .nav-link.active {
            color: $gray-600;
        }

        .card-tabs .nav-link:hover {
            color: $primary;
        }

        .card-tabs .nav-link.active {
            border-color: $gray-300;
        }
    }
}
=======
.product-detail--ordernumber-label {
    font-weight: $font-weight-bold;
}
>>>>>>> NEXT-1921, NEXT-1919: product-detail: add to cart and quantity
