.sw-customer-detail-order {
    .sw-customer-detail-order-toolbar {
        padding: 20px;
    }

    .sw-empty-state {
        position: relative;
    }

    .sw-customer-detail-order__content {
        position: relative;
    }
}