{% block sw_promotion_order_condition_form %}
    <div class="promotion-order-condition-form">
        <h4>{{ $tc('sw-promotion.orderCondition.title') }}</h4>
        <p>
            {{ $tc('sw-promotion.orderCondition.subheading') }}
            <router-link :to="{ name: 'sw.settings.rule.index' }">
                {{ $tc('sw-promotion.orderCondition.linkRuleBuilder') }}
            </router-link>
        </p>

        {% block sw_promotion_order_condition_form_rules_field %}
            <sw-select
                multi
                class="sw-promotion-detail__select-order-rules"
                :label="$tc('sw-promotion.orderCondition.rules.caption')"
                :placeholder="$tc('sw-promotion.orderCondition.rules.placeholder')"
                :store="rulesStore"
                :associationStore="orderRulesAssociationStore">
                <template slot="result_items" slot-scope="{ item, index }">
                    <sw-select-option :index="index" :item="item">
                        {{ item.name }}
                    </sw-select-option>
                </template>
            </sw-select>
        {% endblock %}
    </div>
{% endblock %}
