<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.18.1/swagger-ui.css" integrity="sha512-pkKqXkAix8w/wgCkShLxOW9ArOmolqwuGqyYxHcJfj+9GKij35CagHOHGDeDIm3V1aXfj5dPjgKjOa3Y39Lzzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    html
    {
      box-sizing: border-box;
      overflow-y: scroll;
    }

    *,
    *:before,
    *:after
    {
      box-sizing: inherit;
    }

    body
    {
      margin:0;
      background: #fafafa;
    }
  </style>
  <style>.swagger-ui .topbar { display: none !important; }</style>
</head>

<body>
<div id="swagger-ui"></div>

<script nonce="{{ cspNonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.18.1/swagger-ui-bundle.js" integrity="sha512-SGn/6ZFgyfmSIMLa/hIO3srJ9gKJouzVFfuS/RwrfVpElt/rMv+O8Ikuym7vZUiuHshWjl7NOnCcFoMUgMe6oQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nonce="{{ cspNonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.18.1/swagger-ui-standalone-preset.js" integrity="sha512-V5Zdt9ZPs6AWG/eQJp9a27pWGO8iBITXxdCD6/VNbO+XdHD8QnhsifVaUKeAkoYumdQZOFy45hPPLZ5aRolGxQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nonce="{{ cspNonce }}" >
    window.onload = function() {

        // Build a system
        const ui = SwaggerUIBundle({
            url: "{{ url(schemaUrl, {'version': apiVersion, 'type': apiType}) }}",
            dom_id: '#swagger-ui',
            deepLinking: true,
            displayOperationId: true,
            docExpansion: 'list',
            defaultModelsExpandDepth: -1,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset,
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout",
            showCommonExtensions: true
        });

        window.ui = ui
    }
</script>
</body>
</html>
