.sw-settings-sso-user-detail {
    .sw-sso-user-invitation-info {
        max-width: 60rem;
    }

    .sw-settings-sso-user-detail__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: var(--scale-size-32);

        &.sw-detail-grid__information {
            grid-template-areas:
                "FirstName LastName"
                "EMail EMPTY";
        }

        &.sw-detail-grid__user-interface {
            grid-template-areas:
                "Language ProfilePicture"
                "Timezone ProfilePicture";
        }

        &.sw-detail-grid__roles-and-permissions {
            grid-template-areas:
                "AclRoles JobTitle"
                "IsAdmin EMPTY";
        }
    }

    .sw-detail-grid__information-firstName {
        grid-area: FirstName;
    }

    .sw-detail-grid__information-lastName {
        grid-area: LastName;
    }

    .sw-detail-grid__information-eMail {
        grid-area: EMail;
    }

    .sw-settings-user-detail__grid-username {
        grid-area: Username;
    }

    .sw-settings-user-detail__grid-password {
        grid-area: Password;
    }

    .sw-settings-user-detail__grid-language {
        grid-area: Language;
    }

    .sw-settings-user-detail__grid-profile-picture {
        grid-area: ProfilePicture;
    }

    .sw-settings-user-detail__grid-jobTitle {
        grid-area: JobTitle;
    }

    .sw-settings-user-detail__grid-aclRoles {
        grid-area: AclRoles;
    }

    .sw-settings-user-detail__grid-is-admin {
        grid-area: IsAdmin;
    }

    &__grid-timezone {
        grid-area: Timezone;
        margin-top: 0;
    }
}
