@import "~scss/variables";

.sw-property-assignment {
    font-size: 14px;

    .sw-grid-column .sw-grid__cell-content {
        padding: 15px 15px 5px 15px;
    }

    .sw-empty-state {
        position: relative;
        margin-top: 40px;
    }
}

.sw-property-assignment__grid_option_item {
    display: inline-block;
    max-width: 220px;
    padding-right: 6px;
    padding-bottom: 6px;
    line-height: 0;

    .sw-label {
        margin: 0;
    }

    .sw-label--dismiss-able .sw-label__dismiss {
        display: none;
    }

    &:hover .sw-label--dismiss-able {
        .sw-property-assignment__label-content {
            display: block;
            width: calc(100% - 15px);
        }

        .sw-label__dismiss {
            display: block;
            color: $color-shopware-brand-500;
        }
    }

    .sw-property-assignment__label-content {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.sw-property-assignment .sw-property-assignment__grid_option_column {
    .sw-grid__cell-content {
        display: block;
    }
}
