{% block sw_property_assignment %}
<div class="sw-property-assignment">

    {% block sw_property_assignment_search_field %}
    <sw-property-search
        ref="searchField"
        :collapsible="true"
        :overlay="true"
        :disabled="disabled"
        :options="properties"
        @option-select="onSelectOption"
    />
    {% endblock %}

    {% block sw_property_assignment_grid %}
    <sw-grid
        v-if="groupWithOptions.length > 0"
        class="sw-property-assignment__grid"
        :selectable="false"
        :items="groupWithOptions"
        :is-fullpage="false"
        table
    >

        {% block sw_property_assignment_grid_columns %}
        <template
            slot="columns"
            slot-scope="{ item }"
        >

            {% block sw_property_assignment_grid_columns_name %}
            <sw-grid-column
                flex="200px"
                data-index="group.translated.name"
                :label="$tc('sw-property-assignment.columnGroup')"
                class="sw-property-assignment__grid_group_column"
            >
                {{ item.translated.name }}
            </sw-grid-column>
            {% endblock %}

            {% block sw_property_assignment_grid_columns_options %}
            <sw-grid-column
                data-index="options"
                :label="$tc('sw-property-assignment.columnOptions')"
                flex="minmax(100px, 1fr)"
                class="sw-property-assignment__grid_option_column"
            >
                {% block sw_property_assignment_grid_columns_options_loop %}
                <div
                    v-for="option in item.options"
                    :key="option.id"
                    class="sw-property-assignment__grid_option_item"
                >
                    <sw-label
                        :dismissable="!disabled"
                        @dismiss="deleteOption(option)"
                    >
                        <span class="sw-property-assignment__label-content">{{ option.translated.name }}</span>
                    </sw-label>
                </div>
                {% endblock %}
            </sw-grid-column>
            {% endblock %}
        </template>
        {% endblock %}

        {% block sw_property_assignment_empty_state %}
        <template slot="empty">
            <sw-empty-state
                v-if="!isLoading"
                :title="$tc('sw-property-assignment.messageEmptyTitle')"
                :subline="$tc('sw-property-assignment.messageEmptySubline')"
            />
        </template>
        {% endblock %}
    </sw-grid>
    {% endblock %}

    {% block sw_property_assignment_empty_state_no_options %}
    <template slot="empty">
        <sw-empty-state
            v-if="!isLoading"
            :title="$tc('sw-property-assignment.messageEmptyTitle')"
            :subline="$tc('sw-property-assignment.messageEmptySubline')"
        />
    </template>
    {% endblock %}

    <sw-loader v-if="isLoading" />
</div>
{% endblock %}
