<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <import resource="../../Cms/SalesChannel/**/*Controller.php" type="attribute" />
    <import resource="../../Product/**/*Controller.php" type="attribute" />
    <import resource="../../Media/**/*Controller.php" type="attribute" />
    <import resource="../../Media/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../MailTemplate/**/*Controller.php" type="attribute" />
    <import resource="../../ImportExport/**/*Controller.php" type="attribute" />
    <import resource="../../Newsletter/**/*Controller.php" type="attribute" />
    <import resource="../../ProductExport/**/*Controller.php" type="attribute" />
    <import resource="../../Seo/Api/**/*Controller.php" type="attribute" />
    <import resource="../../Breadcrumb/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Category/SalesChannel/**/*Controller.php" type="attribute" />
    <import resource="../../Category/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../LandingPage/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Product/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Cms/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../ContactForm/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Newsletter/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Seo/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../ProductExport/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Sitemap/SalesChannel/**/*Route.php" type="attribute" />
    <import resource="../../Flow/**/*Controller.php" type="attribute" />
</routes>
