@import "~scss/variables";

.sw-import-export-new-profile-wizard-general-page {
    &__text {
        font-size: $font-size-xs;
        margin: 12px 0 40px;
    }

    &__general-import-settings-headline,
    &__field-indicators-headline {
        margin-top: 16px;
        font-size: $font-size-m;
        font-weight: $font-weight-semi-bold;
    }

    &__general-import-settings-create-switch,
    &__general-import-settings-update-switch {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__violation-modal ul {
        margin-left: 31px;
        margin-top: 18px;
    }

    h3 {
        margin-top: 48px;
    }
}
