<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_status %}
<span
    class="sw-status"
    :class="statusClass"
    v-bind="$attrs"
>
    <sw-color-badge :rounded="true" />
    <slot></slot>
</span>
{% endblock %}
