<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_category_detail_cms %}
<div class="sw-category-detail__cms">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_detail_cms_layout %}
    <sw-category-layout-card
        v-if="category.type === 'page'"
        v-bind="{ category, cmsPage, isLoading }"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_detail_cms_form %}
    <sw-cms-page-form
        v-if="cmsPage && acl.can('category.editor')"
        :page="cmsPage"
    />
    {% endblock %}

</div>
{% endblock %}
