@import "~scss/variables";

.sw-dashboard-index {
    .sw-dashboard-intro {
        display: flex;
        padding: 30px;
        border-bottom: 1px solid $color-gray-300;

        .sw-dashboard-intro-stats-today {
            width: 100%;

            h1 {
                font-size: ($font-size-default * 2);
                margin-bottom: 0;
            }
        }

        .sw-dashboard-intro-stats-today__stats {
            padding-top: 32px;
            padding-right: 32px;
        }

        .sw-dashboard-intro-stats-today__single-stat {
            padding: 0 32px;

            h1 {
                font-size: ($font-size-large * 2.5);
            }

            h4 {
                color: $color-gray-800;
                font-size: $font-size-large;
            }
        }

        .sw-dashboard-intro-stats-today__single-stat-number {
            text-align: center;
            display: inline-block;
        }

        .sw-dashboard-intro-image {
            padding-right: 32px;
            min-width: 232px;

            img {
                width: 100%;
            }
        }
    }

    .sw-dashboard-headline-statistics {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 32px;
        padding-bottom: 16px;

        h1 {
            color: $color-darkgray-200;
            font-size: ($font-size-default * 1.75);
            font-weight: normal;
            margin-bottom: 0;
        }

        .sw-dashboard-headline-statistics__timerange {
            font-size: ($font-size-default * 1.5);
            color: $color-gray-500;
        }
    }
}

@media screen and (max-width: 1360px) {
    .sw-dashboard-index .sw-dashboard-headline-statistics {
        max-width: 770px;
    }
}
