<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_create_invalid_promotion_modal %}
<sw-modal
    :title="$tc('sw-order.invalidPromotionModal.modalTitle')"
    variant="small"
    class="sw-order-create-invalid-promotion-modal"
    @modal-close="onClose"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_invalid_promotion_modal_description %}
    <p class="sw-order-create-invalid-promotion-modal__description">
        {{ $tc('sw-order.invalidPromotionModal.modalDescription') }}
    </p>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_invalid_promotion_modal_lists %}
    <template v-for="item in invalidPromotionCodes">
        <li :key="item.code">
            - <strong>{{ item.code }}</strong>
        </li>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_invalid_promotion_modal_actions %}
    <template #modal-footer>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_invalid_promotion_modal_actions_confirm %}
        <sw-button
            variant="primary"
            size="small"
            @click="onConfirm"
        >
            {{ $tc('sw-order.invalidPromotionModal.buttonConfirm') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}
</sw-modal>
{% endblock %}

