@import "~scss/variables";

.sw-order-create-invalid-promotion-modal {
    &__description {
        font-size: $font-size-xs;
        color: var(--color-text-secondary-default);
        margin-bottom: 22px;
    }

    li {
        display: block;
    }
}
