.sw-settings-services-grant-permissions-modal__content {
    text-align: center;

    h2 {
        font-size: var(--font-size-l);
    }

    p {
        margin-bottom: var(--scale-size-16);
        font-size: var(--font-size-xs);
    }
}

.sw-settings-services-grant-permissions-modal__footer {
    text-align: end;
}
