@import "~scss/variables";

.sw-mail-template-detail {
    .sw-card {
        .sw-single-select, .sw-multi-select {
            margin-bottom: 20px;
        }
    }

    .sw-mail-template-detail__test-mail-sidebar {
        .sw-mail-template-detail__test-mail-sidebar-container {
            padding: 20px;
            border-top: 1px solid #D8DDE6;

            #{$dark-theme-class} & {
                border-top: 1px solid lighten(#D8DDE6, $dark-theme-contrast-factor);
            }

            label {
                font-weight: bold;
            }
        }
    }
}
