{% block sw_mail_template_detail %}
    <sw-page class="sw-mail-template-detail">

        {% block sw_mail_template_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="mailTemplate">{{ $tc('sw-mail-template.detail.textHeadlineEdit') }}</h2>
                <h2 v-else class="sw-mail-template-detail__empty-title">{{ $tc('sw-mail-template.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_mail_template_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_mail_template_detail_actions_save %}
                    <sw-button class="sw-mail-template-detail__save-action" variant="primary" :disabled="mailTemplate.isLoading" @click.prevent="onSave">
                        {{ $tc('sw-mail-template.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_mail_template_detail_language_switch %}
            <sw-language-switch slot="language-switch"
                                @on-change="onChangeLanguage"
                                :saveChangesFunction="saveOnLanguageChange"
                                :abortChangeFunction="abortOnLanguageChange">
            </sw-language-switch>
        {% endblock %}

        {% block sw_mail_template_detail_content %}
            <sw-card-view slot="content" sidebar>
                {% block sw_mail_template_detail_content_language_info %}
                    <sw-language-info
                            :entityDescription="placeholder(mailTemplate, 'description', $tc('sw-mail-template.detail.textHeadline'))">
                    </sw-language-info>
                {% endblock %}

                {% block sw_mail_template_detail_basic_info %}
                    <sw-card :title="$tc('sw-mail-template.detail.basic.titleCard')">
                        {% block sw_mail_template_basic_form_mail_type_field %}
                            <sw-field type="text"
                                      :label="$tc('sw-mail-template.detail.basic.labelMailType')"
                                      :placeholder="$tc('sw-mail-template.detail.basic.placeholderMailType')"
                                      v-model="mailTemplate.mailType"
                                      validation="required">
                            </sw-field>
                        {% endblock %}

                        {% block sw_mail_template_basic_form_sales_channels_field %}
                            <sw-select id="salesChannels"
                                       multi
                                       :store="salesChannelStore"
                                       :associationStore="salesChannelAssociationStore"
                                       :label="$tc('sw-mail-template.detail.basic.labelSalesChannels')"
                                       :placeholder="$tc('sw-mail-template.detail.basic.placeholderSalesChannels')"
                                       v-model="mailTemplate.salesChannels">
                            </sw-select>
                        {% endblock %}

                        {% block sw_mail_template_basic_form_description_field %}
                            <sw-field type="textarea"
                                      :label="$tc('sw-mail-template.detail.basic.labelDescription')"
                                      :placeholder="$tc('sw-mail-template.detail.basic.placeholderDescription')"
                                      v-model="mailTemplate.description">
                            </sw-field>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block sw_mail_template_detail_options_info %}
                    <sw-card :title="$tc('sw-mail-template.detail.options.titleCard')">
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px" class="sw-mail-template-detail-options__container">
                            <div class="sw-mail-template-detail__options-info-wrapper">
                                {% block sw_mail_template_options_form_sender_mail_field %}
                                    <sw-field type="text"
                                              :label="$tc('sw-mail-template.detail.options.labelSenderMail')"
                                              :placeholder="$tc('sw-mail-template.detail.options.placeholderSenderMail')"
                                              v-model="mailTemplate.senderMail">
                                    </sw-field>
                                {% endblock %}

                                {% block sw_mail_template_options_form_subject_field %}
                                    <sw-field type="text"
                                              :label="$tc('sw-mail-template.detail.options.labelSubject')"
                                              :placeholder="$tc('sw-mail-template.detail.options.placeholderSubject')"
                                              v-model="mailTemplate.subject">
                                    </sw-field>
                                {% endblock %}
                            </div>

                            {% block sw_mail_template_options_form_sender_name_field %}
                                <sw-field type="text"
                                          :label="$tc('sw-mail-template.detail.options.labelSenderName')"
                                          :placeholder="$tc('sw-mail-template.detail.options.placeholderSenderName')"
                                          v-model="mailTemplate.senderName">
                                </sw-field>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}

                {% block sw_mail_template_detail_mail_text_info %}
                    <sw-card :title="$tc('sw-mail-template.detail.mailText.titleCard')">
                        {% block sw_mail_template_mail_text_form_content_plain_field %}
                            <sw-field type="textarea"
                                      :label="$tc('sw-mail-template.detail.mailText.labelContentPlain')"
                                      :placeholder="$tc('sw-mail-template.detail.mailText.placeholderPlain')"
                                      v-model="mailTemplate.contentPlain">
                            </sw-field>
                        {% endblock %}

                        {% block sw_mail_template_mail_text_form_content_html_field %}
                            <sw-text-editor
                                    :label="$tc('sw-mail-template.detail.mailText.labelContentHtml')"
                                    :placeholder="$tc('sw-mail-template.detail.mailText.placeholderHtml')"
                                    name="content_html"
                                    v-model="mailTemplate.contentHtml">
                            </sw-text-editor>
                        {% endblock %}

                        {% block sw_mail_template_mail_text_form_test_mail_field %}
                            <sw-field type="text"
                                      :placeholder="$tc('sw-mail-template.detail.mailText.placeholderTestMail')"
                                      v-model="testerMail">
                            </sw-field>
                        {% endblock %}

                        {% block sw_mail_template_mail_text_form_test_mail_button %}
                            <sw-button :disabled="mailTemplate.isLoading"  @click="onClickTestMailTemplate" >
                                {{ $tc('sw-mail-template.detail.mailText.buttonTestMail') }}
                            </sw-button>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
