{%  block sw_category_sales_channel_card %}
    <sw-card class="sw-category-sales-channel-card"
             :title="$tc('sw-category.base.entry-point.title')"
             :isLoading="isLoading">

        {% block sw_category_detail_entry_point_navigation_headline %}
            <p class="sw-category-sales-channel-card-desc" v-if="navigationSalesChannels.length">
                {{ $tc('sw-category.base.entry-point.navigation.descriptionGeneral') }}
            </p>
        {% endblock %}

        {% block sw_category_detail_entry_point_navigation_list %}
            <div class="sw-category-sales-channel-card__list" v-if="navigationSalesChannels.length">
                {% block sw_category_detail_entry_point_navigation_list_link %}
                    <router-link v-for="salesChannel in navigationSalesChannels"
                                 :key="salesChannel.id"
                                 :to="{ name: 'sw.sales.channel.detail.base', params: { id: salesChannel.id }}"
                                 class="sw-category-sales-channel-card__entry">
                        {{ salesChannel.name }}
                    </router-link>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_category_detail_entry_point_serviceSales_headline %}
            <p class="sw-category-sales-channel-card-desc" v-if="serviceSalesChannels.length">
                {{ $tc('sw-category.base.entry-point.serviceSales.descriptionGeneral') }}
            </p>
        {% endblock %}

        {% block sw_category_detail_entry_point_serviceSales_list %}
            <div class="sw-category-sales-channel-card__list" v-if="serviceSalesChannels.length">
                {% block sw_category_detail_entry_point_serviceSales_list_link %}
                    <router-link v-for="salesChannel in serviceSalesChannels"
                                 v-bind:key="salesChannel.id"
                                 :to="{ name: 'sw.sales.channel.detail.base', params: { id: salesChannel.id }}"
                                 class="sw-category-sales-channel-card__entry">
                        {{ salesChannel.name }}
                    </router-link>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_category_detail_entry_point_footerSales_headline %}
            <p class="sw-category-sales-channel-card-desc" v-if="footerSalesChannels.length">
                {{ $tc('sw-category.base.entry-point.footerSales.descriptionGeneral') }}
            </p>
        {% endblock %}

        {% block sw_category_detail_entry_point_footerSales_list %}
            <div class="sw-category-sales-channel-card__list" v-if="footerSalesChannels.length">
                {% block sw_category_detail_entry_point_footerSales_list_link %}
                    <router-link v-for="salesChannel in footerSalesChannels"
                                 v-bind:key="salesChannel.id"
                                 :to="{ name: 'sw.sales.channel.detail.base', params: { id: salesChannel.id }}"
                                 class="sw-category-sales-channel-card__entry">
                        {{ salesChannel.name }}
                    </router-link>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}