@import "~scss/variables";

.sw-container {
    display: grid;
    width: 100%;

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4, h5, h6 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        color: $color-darkgray-200;
    }
}
