.sw-product-detail-reviews {
    &__stars {
        font-size: 0;

        .icon--default-review-star-full {
            color: var(--color-yellow-500);
        }
    }

    &__list {
        .mt-card__content {
            padding: 0;
        }
    }
}
