{% block sw_attribute_set_renderer %}
    <div class="sw-attribute-set-renderer">
        {% block sw_attribute_set_renderer_card %}
            <sw-card
                    v-for="set in sets"
                    :key="set.id"
                    :title="getInlineSnippet(set.config.label) || set.name">
                <template v-for="attribute in set.attributes">
                    {% block sw_attribute_set_renderer_card_form_renderer %}
                        <sw-form-field-renderer v-bind="attribute" v-model="entity.attributes[attribute.name]">
                        </sw-form-field-renderer>
                    {% endblock %}
                </template>
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}