.sw-media-modal-folder-settings {
    .sw-tabs__bar {
        &.sw-tabs__bar-minimal {
            margin: 0 0 24px;
            max-width: none;
        }
    }

    .sw-media-modal-folder-settings__thumbnails-list-caption {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .sw-media-modal-folder-settings__thumbnails-list-container {
        border: 1px solid var(--color-border-secondary-default);
        padding: 22px 24px 0;
    }

    .sw-media-modal-folder-settings__thumbnails-list {
        list-style: none;

        &.is--editable {
            li {
                border-bottom: 1px solid var(--color-border-secondary-default);
            }
        }

        li {
            border-bottom: 1px solid transparent;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;

            .sw-field--switch {
                margin: 0;
            }
        }

        .sw-media-modal-folder-settings__delete-thumbnail {
            margin: 16px 6px 8px 0;
            height: 16px;
            background: 0 none;
            border: 0 none;
            color: var(--color-text-critical-default);
            cursor: pointer;
            outline: none;
        }

        .sw-media-modal-folder-settings__delete-thumbnail[disabled] {
            color: var(--color-text-primary-disabled);
            cursor: not-allowed;
        }
    }
}
