@import "~scss/variables";

.sw-plugin-last-updates-grid {
    .sw-plugin-last-updates-grid__info-container {
        align-items: center;

        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }

        .sw-plugin-last-updates-grid__plugin-info {
            display: flex;
            flex-direction: column;

            .sw-plugin-last-updates-grid__upgraded-date {
                color: $color-gray;
                font-size: $font-size-small;

                #{$dark-theme-class} & {
                    color: lighten($color-gray, $dark-theme-contrast-factor);
                }
            }
        }

    }

    .sw-plugin-last-updates-grid__version {
        font-size: $font-size-small;
        color: $color-gray;

        #{$dark-theme-class} & {
            color: lighten($color-gray, $dark-theme-contrast-factor);
        }
    }
}
