{% block sw_condition_value_content %}
<div class="sw-condition-is-gross">
    {% block sw_condition_cart_tax_display %}
    <sw-single-select
        v-model="taxDisplay"
        size="medium"
        :options="selectValues"
        :disabled="disabled"
        show-clearable-button
    />
    {% endblock %}
</div>
{% endblock %}
