{% block sw_dashboard_external_link %}
<a
    class="sw-dashboard-external-link"
    :href="link"
    target="_blank"
    rel="noopener"
>
    {{ title }}
    <sw-icon
        name="default-arrow-simple-right"
        small
        color="#d1d9e0"
    />
</a>
{% endblock %}
