.product-detail-name {
    color: $gray-800;
}

.product-detail-price {
    color: $gray-800;
}

.product-detail-ordernumber-label {
    font-weight: $font-weight-bold;
}

.product-detail-properties-table {
    th, td {
        border: 0;
    }
}

@include media-breakpoint-down(xs) {
    .product-detail-tabs {
        .card-tabs .nav-link,
        .card-tabs .nav-link.active {
            color: $gray-600;
        }

        .card-tabs .nav-link:hover {
            color: $primary;
        }

        .card-tabs .nav-link.active {
            border-color: $border-color;
        }
    }
}
