.product-detail-name {
    color: $gray-800;
}

.product-detail-manufacturer-logo {
    max-width: 200px;
    max-height: 70px;
}

.product-detail-price {
    color: $gray-800;
    margin-bottom: 0;
    font-weight: $font-weight-bold;
}

.product-detail-ordernumber-label {
    font-weight: $font-weight-bold;
}

.product-detail-quantity-select {
    height: 100%;
}
