<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_sales_channel_config %}
<div
    class="sw-sales-channel-config"
    @salesChannelChanged="save"
>
    <div class="sw-sales-channel-config__global-sales-channel-switch">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_sales_channel_config_switch %}
        <slot
            name="select"
            v-bind="{ onInput, selectedSalesChannelId, salesChannel }"
        >
            <sw-single-select
                v-model:value="selectedSalesChannelId"
                :options="salesChannel"
                label-property="translated.name"
                value-property="id"
                show-clearable-button
                @update:value="onInput"
            />
        </slot>
        {% endblock %}
    </div>

    <slot
        name="content"
        v-bind="{ actualConfigData, allConfigs, selectedSalesChannelId }"
    ></slot>
</div>
{% endblock %}
