{% block sw_media_modal_delete %}
    <sw-modal variant="small"
              class="sw-media-modal-delete"
              @modal-close="closeDeleteModal($event)"
              :title="snippets.modalTitle">

        {% block sw_media_modal_body %}
            <div v-if="mediaQuickInfo">
                <p>{{ $tc('global.sw-media-modal-delete.mediaQuickInfoMessage') }}</p>
                <sw-media-quickinfo-usage
                        :item="mediaQuickInfo"
                        routerLinkTarget="_blank">
                </sw-media-quickinfo-usage>
            </div>
            <div v-if="mediaInUsages && mediaInUsages.length > 0">
                <p>{{ $tc('global.sw-media-modal-delete.mediaInUsagesMessage') }}</p>
                <sw-media-media-item class="sw-media-modal-delete__media-list-item"
                        v-for="mediaInUsage in mediaInUsages"
                        :item="mediaInUsage"
                        :key="`sw-media-modal-delete-${mediaInUsage.id}`"
                        :isList="true"
                        :editable="false"
                        :selected="false"
                        :showSelectionIndicator="false"
                        :showContextMenuButton="false">
                </sw-media-media-item>
            </div>
            <p v-html="$sanitize(snippets.deleteMessage)"></p>
        {% endblock %}

        {% block sw_media_modal_footer %}
            <template slot="modal-footer">

                {% block sw_media_modal_delete_cancel_button %}
                    <sw-button @click="closeDeleteModal($event)" size="small">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_media_modal_delete_confirm_button %}
                    <sw-button class="sw-media-modal-delete__confirm"
                               @click="deleteSelection($event)"
                               size="small"
                               variant="danger">
                        {{ $tc('global.default.delete') }}
                    </sw-button>
                {% endblock %}

            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
