{% block sw_media_modal_delete %}
    <sw-modal variant="small"
              class="sw-media-modal-delete"
              @modal-close="closeDeleteModal($event)"
              :title="snippets.modalTitle">

        {% block sw_media_modal_body %}
            <p v-html="$sanitize(snippets.deleteMessage)"></p>
        {% endblock %}

        {% block sw_media_modal_footer %}
            <template slot="modal-footer">

                {% block sw_media_modal_delete_cancel_button %}
                    <sw-button @click="closeDeleteModal($event)" size="small">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_media_modal_delete_confirm_button %}
                    <sw-button class="sw-media-modal-delete__confirm"
                               @click="deleteSelection($event)"
                               size="small"
                               variant="primary">
                        {{ $tc('global.default.delete') }}
                    </sw-button>
                {% endblock %}

            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
