<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_category_entry_point_modal %}
<sw-modal
    class="sw-category-entry-point-modal"
    :title="$tc('sw-category.base.entry-point-modal.modalTitle')"
    @modal-close="closeModal"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_entry_point_modal_sales_channel_selection %}
    <sw-single-select
        v-model:value="selectedSalesChannelId"
        class="sw-category-entry-point-modal__sales-channel-selection"
        :label="$tc('sw-category.base.entry-point-modal.salesChannelSelection')"
        :options="salesChannelOptions"
        show-clearable-button
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_entry_point_modal_selected_sales_channel %}
    <template v-if="selectedSalesChannel">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_show_in_main_navigation %}
        <sw-switch-field
            v-model:value="selectedSalesChannel.homeEnabled"
            class="sw-category-entry-point-modal__show-in-main-navigation"
            :label="$tc('sw-category.base.entry-point-modal.showInMainNavigation')"
            :disabled="!acl.can('category.editor') || undefined"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_name_in_main_navigation %}
        <sw-text-field
            v-model:value="selectedSalesChannel.homeName"
            class="sw-category-entry-point-modal__name-in-main-navigation"
            :label="$tc('sw-category.base.entry-point-modal.mainNavigationName')"
            :help-text="$tc('sw-category.base.entry-point-modal.mainNavigationNameHelpText')"
            :placeholder="selectedSalesChannel.translated.homeName || $tc('sw-category.base.entry-point-modal.mainNavigationNamePlaceholder')"
            :disabled="!selectedSalesChannel.homeEnabled || !acl.can('category.editor')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_layout_headline %}
        <h3 class="sw-category-entry-point-modal__layout-headline">
            {{ $tc('sw-category.base.entry-point-modal.layoutHeadline') }}
        </h3>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_layout_selection %}
        <div class="sw-category-entry-point-modal__base-layout">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_category_entry_point_modal_layout_preview %}
            <div
                class="sw-category-entry-point-modal__preview"
                role="button"
                tabindex="0"
                @click="openLayoutModal"
                @keydown.enter="openLayoutModal"
            >
                <sw-cms-list-item
                    class="sw-category-entry-point-modal__layout-item"
                    :page="selectedSalesChannel.homeCmsPage"
                    :disabled="!acl.can('category.editor') || undefined"
                    active
                />
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_category_entry_point_modal_layout_modal %}
            <sw-cms-layout-modal
                v-if="showLayoutSelectionModal"
                :pre-selection="selectedSalesChannel.homeCmsPage"
                :cms-page-types="pageTypes"
                @modal-layout-select="onLayoutSelect"
                @modal-close="closeLayoutModal"
            />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_category_entry_point_modal_layout_desc %}
            <div class="sw-category-entry-point-modal__desc">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_entry_point_modal_layout_desc_info %}
                <div class="sw-category-entry-point-modal__desc-info">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_category_entry_point_modal_layout_desc_info_headline %}
                    <div
                        class="sw-category-entry-point-modal__desc-headline"
                        :class="{ 'is--empty': !selectedSalesChannel.homeCmsPage }"
                    >
                        {{ selectedSalesChannel.homeCmsPage ? selectedSalesChannel.homeCmsPage.name : $tc('sw-category.base.cms.defaultTitle') }}
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_category_entry_point_modal_layout_desc_info_subheadline %}
                    <div
                        class="sw-category-entry-point-modal__desc-subheadline"
                        :class="{ 'is--empty': !selectedSalesChannel.homeCmsPage }"
                    >
                        {{ getCmsPageTypeName(selectedSalesChannel.homeCmsPage?.type) }}
                    </div>
                    {% endblock %}

                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_entry_point_modal_layout_desc_actions %}
                <div class="sw-category-entry-point-modal__desc-actions">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_category_entry_point_modal_layout_desc_actions_layout %}
                    <sw-button
                        class="sw-category-detail-layout__change-layout-action"
                        size="small"
                        :disabled="!acl.can('category.editor')"
                        @click="openLayoutModal"
                    >
                        {{ selectedSalesChannel.homeCmsPage ? $tc('sw-category.base.cms.changeLayout') : $tc('sw-category.base.cms.changeLayoutEmpty') }}
                    </sw-button>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_category_entry_point_modal_layout_desc_actions_designer %}
                    <sw-button
                        class="sw-category-detail-layout__open-in-pagebuilder"
                        size="small"
                        :disabled="!acl.can('category.editor')"
                        @click="openInPagebuilder"
                    >
                        {{ selectedSalesChannel.homeCmsPage ? $tc('sw-category.base.cms.editInPagebuilder'): $tc('sw-category.base.cms.editInPagebuilderEmpty') }}
                    </sw-button>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_category_entry_point_modal_layout_desc_actions_remove %}
                    <sw-button
                        v-if="selectedSalesChannel.homeCmsPage"
                        size="small"
                        :disabled="!acl.can('category.editor')"
                        class="sw-category-detail-layout__layout-reset"
                        square
                        @click="onLayoutReset"
                    >
                        <sw-icon
                            name="regular-trash"
                            small
                        />
                    </sw-button>
                    {% endblock %}

                </div>
                {% endblock %}

            </div>
            {% endblock %}

        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_seo_settings_headline %}
        <h2 class="sw-category-entry-point-modal__seo-headline">
            {{ $tc('sw-category.base.entry-point-modal.seoSettingsHeadline') }}
        </h2>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_seo_meta_title %}
        <sw-text-field
            v-model:value="selectedSalesChannel.homeMetaTitle"
            class="sw-category-entry-point-modal__meta-title"
            :label="$tc('sw-category.base.entry-point-modal.metaTitleLabel')"
            :placeholder="selectedSalesChannel.translated.homeMetaTitle || $tc('sw-category.base.entry-point-modal.metaTitlePlaceholder')"
            :disabled="!acl.can('category.editor') || undefined"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_seo_meta_description %}
        <sw-textarea-field
            v-model:value="selectedSalesChannel.homeMetaDescription"
            class="sw-category-entry-point-modal__meta-description"
            :label="$tc('sw-category.base.entry-point-modal.metaDescriptionLabel')"
            :placeholder="selectedSalesChannel.translated.homeMetaDescription || $tc('sw-category.base.entry-point-modal.metaDescriptionPlaceholder')"
            :disabled="!acl.can('category.editor') || undefined"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_selected_sales_channel_seo_keywords %}
        <sw-text-field
            v-model:value="selectedSalesChannel.homeKeywords"
            class="sw-category-entry-point-modal__seo-keywords"
            :label="$tc('sw-category.base.entry-point-modal.seoKeywordsLabel')"
            :placeholder="selectedSalesChannel.translated.homeKeywords || $tc('sw-category.base.entry-point-modal.seoKeywordsPlaceholder')"
            :disabled="!acl.can('category.editor') || undefined"
        />
        {% endblock %}

    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_entry_point_modal_footer %}
    <template #modal-footer>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_footer_cancel_button %}
        <sw-button
            class="sw-category-entry-point-modal__cancel-button"
            @click="closeModal"
        >
            {{ $tc('global.default.cancel') }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_entry_point_modal_footer_apply_button %}
        <sw-button
            class="sw-category-entry-point-modal__apply-button"
            variant="primary"
            :disabled="!acl.can('category.editor')"
            @click="applyChanges"
        >
            {{ $tc('global.default.apply') }}
        </sw-button>
        {% endblock %}

    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_category_entry_point_modal_discard_changes_modal %}
    <sw-discard-changes-modal
        v-if="isDisplayingLeavePageWarning"
        @keep-editing="onLeaveModalClose()"
        @discard-changes="onLeaveModalConfirm(nextRoute)"
    />
    {% endblock %}

</sw-modal>
{% endblock %}
