{% block sw_condition_value_content %}
<div class="sw-condition-line-item-dimension-height sw-condition__condition-value">
    {% block sw_condition_line_item_dimension_height_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_line_item_dimension_height_field_amount %}
    <sw-number-field
        v-if="!isEmpty"
        v-model="amount"
        number-type="float"
        size="medium"
        :disabled="disabled"
        :placeholder="$tc('sw-product.settingsForm.placeholderHeight')"
        :min="0"
    >
        <template #suffix>
            <span>mm</span>
        </template>
    </sw-number-field>
    {% endblock %}
</div>
{% endblock %}
