.sw-app-action-button {
    .sw-icon {
        margin-left: 4px;
        vertical-align: baseline;
    }

    .sw-icon svg {
        vertical-align: baseline;
    }
}

.sw-context-menu-item--disabled {
    color: #b3bfcc;
    pointer-events: none;
    opacity: 0.5;
}
