{# @feature-deprecated (FEATURE_NEXT_14360) tag:v6.5.0 - `component` will be removed use `div` as a replacement,
`:is="openInNewTab ? 'a' : 'div'"` and `v-bind="linkData"` will be removed #}
{% block sw_connect_action_button %}
<component
    :is="openInNewTab ? 'a' : 'div'"
    v-tooltip.left="{
        message: $tc('sw-privileges.tooltip.warning'),
        disabled: acl.can(`app.${action.app}`),
        showOnDisabledElements: true
    }"
    class="sw-app-action-button sw-context-menu-item"
    :class="{
        'sw-context-menu-item--icon': !!action.icon,
        'sw-context-menu-item--disabled': !acl.can(`app.${action.app}`)
    }"
    v-bind="linkData"
    @click="runAction"
>

    <img
        v-if="action.icon"
        class="sw-app-action-button__icon"
        :src="`data:image/png;base64, ${action.icon}`"
    >

    <span class="sw-context-menu-item__text">
        {{ buttonLabel }}
        {# @feature-deprecated (FEATURE_NEXT_14360) tag:v6.5.0 - `sw-icon` will be removed #}
        <sw-icon
            v-if="openInNewTab"
            name="default-action-external"
            size="12px"
        />
    </span>
</component>
{% endblock %}
