{% block sw_media_media_item %}
    <div class="sw-media-media-item">
        {% block sw_media_media_item_item %}
            <sw-media-base-item
                ref="innerComponent"
                v-bind="$attrs"
                :isLoading="item.isLoading"
                :displayName="displayName"
                :editValue="editFileName"
                @sw-media-item-selection-add="selectItem"
                @sw-media-item-selection-remove="removeFromSelection"
                @sw-media-item-clicked="handleGridItemClick">

                {% block sw_media_media_item_preview %}
                    <sw-media-preview
                        slot="sw-media-item-preview"
                        :class="mediaPreviewClasses"
                        :source="item.id"
                        @sw-media-preview-play="emitPlayEvent">
                    </sw-media-preview>
                {% endblock %}

                {% block sw_media_media_item_metadata %}
                    <div slot="media-item-metadata" class="sw-media-media-item__metadata">
                        {{ getMetaData }}
                    </div>
                {% endblock %}

                {% block sw_media_media_item_context_menu %}
                    <template slot="media-item-context-menu">
                        <slot>
                            {% block sw_media_media_item_additional_context_menu_slot %}{% endblock %}
                        </slot>

                        {% block sw_media_media_item_context_group_quick_actions %}
                            <div :class="defaultContextMenuClass">
                                {% block sw_media_media_item_context_item_rename_item %}
                                    <sw-context-menu-item v-if="item.hasFile" @click="onStartRenaming">
                                        {{ $tc('global.sw-media-media-item.labelContextMenuRename') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_copy_item_link %}
                                    <sw-context-menu-item v-if="item.hasFile" @click="copyItemLink">
                                        {{ $tc('global.sw-media-media-item.labelContextMenuCopyLink') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_replace %}
                                    <sw-context-menu-item class="sw-media-context-item__replace-media-action"  @click="openModalReplace">
                                        {{ $tc('global.sw-media-media-item.labelContextMenuReplace') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_move %}
                                    <sw-context-menu-item v-if="next1207" class="sw-media-context-item__move-media-action"  @click="openModalMove">
                                        {{ $tc('global.sw-media-media-item.labelContextMenuMove') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_media_item_context_item_delete %}
                                    <sw-context-menu-item @click="openModalDelete" variant="danger">
                                        {{ $tc('global.sw-media-media-item.labelContextMenuDelete') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-media-base-item>

            {% block sw_media_media_item_modal_replace %}
                <sw-media-modal-replace
                    v-if="showModalReplace"
                    :itemToReplace="item"
                    @sw-media-modal-replace-close="closeModalReplace">
                </sw-media-modal-replace>
            {% endblock %}
        {% endblock %}

        {% block sw_media_media_item_delete_modal %}
            <sw-media-modal-delete
                v-if="showModalDelete"
                :itemsToDelete="[item]"
                @sw-media-modal-delete-items-deleted="emitItemDeleted"
                @sw-media-modal-delete-close="closeModalDelete">
            </sw-media-modal-delete>
        {% endblock %}

        {% block sw_media_media_item_move_modal %}
            <sw-media-modal-move
                v-if="showModalMove"
                :itemsToMove="[item]"
                @sw-media-modal-move-close="closeModalMove"
                @sw-media-modal-move-items-moved="onMediaItemMoved">
            </sw-media-modal-move>
        {% endblock %}
    </div>
{% endblock %}