@import "~scss/variables";

$sw-field-color-text: $color-gutenberg;
$sw-select-api: #D1D9E0;
$sw-condition-base-api: #F0F2F5;
$sw-condition-base-z-index-arrow: 100;

.sw-product-stream-filter {
    .sw-select__input-single {
        font-size: 14px;
    }

    .field--condition {
        &.field--not-last {
            &:before {
                content: '';
                position: absolute;
                right: -5px;
                top: -1px;
                width: 1px;
                height: 21px;
                background: $color-white;
                z-index: $sw-condition-base-z-index-arrow;
                transform: rotate(-20deg);

                #{$dark-theme-class} & {
                    background: darken($color-white, $dark-theme-contrast-factor);
                }
            }

            &:after {
                content: '';
                position: absolute;
                right: -5px;
                bottom: -1px;
                width: 1px;
                height: 21px;
                background: $color-white;
                z-index: $sw-condition-base-z-index-arrow;
                transform: rotate(20deg);

                #{$dark-theme-class} & {
                    background: darken($color-white, $dark-theme-contrast-factor);
                }
            }
        }
    }

    &.is--api {
        background: $sw-condition-base-api;

        #{$dark-theme-class} & {
            background: darken($sw-condition-base-api, $dark-theme-contrast-factor);
        }
        .sw-condition-base__container {
            .sw-tagged-field, .sw-tagged-field__inner {
                background: transparent;
            }

            .condition--api {
                padding: 4px 24px 0 6px;
                min-height: 40px;

                .condition--api-value {
                    padding: 2px 12px 2px 16px;
                    line-height: 26px;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .field--condition {
                background: $sw-select-api;
                border-top-color: $sw-select-api;
                border-bottom-color: $sw-select-api;
                color: $sw-field-color-text;
                padding-left: 6px;

                #{$dark-theme-class} & {
                    background: darken($sw-select-api, $dark-theme-contrast-factor);
                    border-top-color: lighten($sw-select-api, $dark-theme-contrast-factor);
                    border-bottom-color: lighten($sw-select-api, $dark-theme-contrast-factor);
                    color: lighten($sw-field-color-text, $dark-theme-contrast-factor);
                }

                &:not(.field--not-last) {
                    &:before {
                        background: $sw-select-api;

                        #{$dark-theme-class} & {
                            background: darken($sw-select-api, $dark-theme-contrast-factor);
                        }
                    }

                    &:after {
                        background: $sw-select-api;

                        #{$dark-theme-class} & {
                            background: darken($sw-select-api, $dark-theme-contrast-factor);
                        }
                    }
                }
            }

            .sw-field {
                background: transparent;


                input,
                textarea {
                    background: transparent;
                }
            }

            .field--actions {
                background: transparent;
            }

            .sw-select {
                background: transparent;

                .sw-select__inner {
                    background: transparent;

                    .sw-select__single-selection {
                        color: $sw-field-color-text;

                        #{$dark-theme-class} & {
                            color: lighten($sw-field-color-text, $dark-theme-contrast-factor);
                        }
                    }
                }
            }
        }
    }
}
