---
title: Fix email template attachment mime content type check
author: Bruno Di Miceli
author_email: dimicelibruno@gmail.com
author_github: @dimiceli
---
# Administration
* Changed `src/Administration/Resources/app/administration/src/app/component/media/sw-media-upload-v2/index.js` so the uploaded files content mime types are correctly verified according to the accepted mime types 
