<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_text_editor_toolbar_button %}
<div
    class="sw-text-editor-toolbar-button"
    :class="'sw-text-editor-toolbar-button__type-' + buttonConfig.type"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_icon %}
    <template v-if="buttonConfig.icon">
        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
        <div
            v-tooltip="{ appearance: tooltipAppearance, message: buttonConfig.title }"
            class="sw-text-editor-toolbar-button__icon"
            :class="classes"
            @click="buttonHandler($event, buttonConfig)"
        >
            <sw-icon
                :name="buttonConfig.icon"
                size="12"
            />
            <sw-icon
                v-if="buttonConfig.children"
                name="regular-chevron-down"
                size="8"
            />
        </div>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_name %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
        v-else-if="buttonConfig.name"
        v-tooltip="{ appearance: tooltipAppearance, message: buttonConfig.title }"
        :class="classes"
        @click="buttonHandler($event, buttonConfig)"
    >
        {{ buttonConfig.name }}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_color %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
        v-else-if="buttonConfig.type === 'foreColor'"
        v-tooltip="{ appearance: tooltipAppearance, message: buttonConfig.title }"
        :class="classes"
        @click="buttonHandler($event, buttonConfig)"
    >
        <sw-field
            v-model="buttonConfig.value"
            type="compactColorpicker"
            :disabled="disabled"
            compact
            :alpha="false"
            @input="handleButtonClick(buttonConfig)"
        />
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_child %}
    <div
        v-if="buttonConfig.children && buttonConfig.expanded"
        class="sw-text-editor-toolbar-button__children"
        :class="getDropdownClasses(buttonConfig)"
    >
        <div class="sw-text-editor-toolbar-button__children-inner-container">
            <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
            <div
                v-for="(child, childIndex) in buttonConfig.children"
                :key="childIndex"
                v-tooltip.right="getTooltipConfig(buttonConfig, child)"
                :class="childActive(child)"
                class="sw-text-editor-toolbar-button__children-child"
                @click="handleButtonClick(child)"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_text_editor_toolbar_button_child_item %}
                <div>
                    <sw-icon
                        v-if="child.icon"
                        :name="child.icon"
                    />
                    <div
                        v-else
                        class="sw-text-editor-toolbar-button__children-child-content"
                    >
                        {{ child.name }}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_link_menu %}
    <div
        v-else-if="buttonConfig.type === 'link' && buttonConfig.expanded"
        ref="flyoutLinkMenu"
        class="sw-text-editor-toolbar-button__children"
    >
        <sw-text-editor-link-menu
            :button-config="buttonConfig"
            @button-click="handleButtonClick"
            @mounted="positionLinkMenu"
        />
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_table %}
    <div
        v-else-if="buttonConfig.type === 'table' && buttonConfig.expanded"
        ref="flyoutMenu"
        class="sw-text-editor-toolbar-button__children sw-text-editor-toolbar-button__table-menu"
        :class="flyoutClasses"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_toolbar_button_table_menu_content %}
        <sw-text-editor-toolbar-table-button
            :button-config="buttonConfig"
            @mounted="onChildMounted"
            @table-create="handleButtonClick(buttonConfig)"
        />
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_toolbar_button_slot %}
    <slot name="buttonSlot"></slot>
    {% endblock %}
</div>
{% endblock %}
