{% block sw_media_sidebar %}
    <div class="sw-media-sidebar">
        <sw-sidebar slot="sidebar">
            {% block sw_media_sidebar_container %}
                <div class="sw-media-sidebar__item-container">
                    {% block sw_media_sidebar_items_top %}
                        <div class="sw-media-sidebar__items-top">
                            {% block sw_media_sidebar_actions_quickinfo %}
                                <sw-sidebar-item icon="default-action-document-view"
                                                 :title="$tc('sw-media.sidebar.actions.quickInfo')"
                                                 ref="quickInfoButton"
                                                 :disabled="!hasItem">
                                    <sw-media-quickinfo :key="getKey" :item="item" :autoplay="autoplay" v-on="$listeners"></sw-media-quickinfo>
                                </sw-sidebar-item>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sw_media_sidebar_items_bottom %}
                        <div class="sw-media-sidebar__items-bottom">
                            {% block sw_media_sidebar_actions_move_file %}
                                <sw-sidebar-item icon="default-action-move-file"
                                                 @click="emitRequestMoveSelection">
                                </sw-sidebar-item>
                            {% endblock %}

                            {% block sw_media_sidebar_actions_delete_file %}
                                <sw-sidebar-item icon="default-action-trash"
                                                 @click="emitRequestRemoveSelection">
                                </sw-sidebar-item>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </sw-sidebar>
    </div>
{% endblock %}