{% block sw_media_sidebar %}
    <div class="sw-media-sidebar">
        {% block sw_media_sidebar_sidebar %}
            <sw-sidebar>
                {% block sw_media_sidebar_item_quickinfo %}
                    <sw-sidebar-item
                        icon="default-action-document-view"
                        :title="$tc('sw-media.sidebar.actions.quickInfo')"
                        ref="quickInfoButton"
                        :disabled="!hasItems">

                        {% block sw_media_sidebar_item_quickinfo_content %}
                            <div class="sw-media-sidebar__quickinfo-wrapper">
                                <sw-media-quickinfo
                                    v-if="isSingleFile && items[0].entityName === 'media'"
                                    :key="getKey"
                                    :item="items[0]"
                                    :autoplay="autoplay"
                                    @sw-media-quickinfo-open-modal-replace="openModalReplace"
                                    @sw-media-quickinfo-open-modal-delete="openModalDelete">
                                </sw-media-quickinfo>

                                <sw-media-quickinfo-multiple
                                    v-else-if="isMultipleFile"
                                    :items="items"
                                    @sw-media-quickinfo-open-modal-delete="openModalDelete">
                                </sw-media-quickinfo-multiple>
                            </div>
                        {% endblock %}
                    </sw-sidebar-item>
                {% endblock %}

                {% block sw_media_sidebar_item_delete %}
                    <sw-sidebar-item
                        icon="default-action-trash"
                        :title="$tc('sw-media.sidebar.actions.delete')"
                        :disabled="!hasItems"
                        position="bottom"
                        @click="openModalDelete">
                    </sw-sidebar-item>
                {% endblock %}
            </sw-sidebar>
        {% endblock %}

        {% block sw_media_sidebar_modal_replace %}
            <sw-media-modal-replace
                v-if="isSingleFile && showModalReplace"
                :itemToReplace="items[0]"
                @sw-media-modal-replace-close="closeModalReplace">
            </sw-media-modal-replace>
        {% endblock %}

        {% block sw_media_sidebar_modal_delete %}
            <sw-media-modal-delete
                v-if="hasItems && showModalDelete"
                :itemsToDelete="items"
                @sw-media-modal-delete-close="closeModalDelete"
                @sw-media-modal-delete-items-deleted="deleteSelectedItems">
            </sw-media-modal-delete>
        {% endblock %}
    </div>
{% endblock %}