{% block sw_category %}
    <sw-page class="sw-category" :class="pageClasses">
        <template #search-bar>
            {% block sw_category_search_bar %}
                <sw-search-bar
                    initialSearchType="category"
                    :initialSearch="term"
                    typeSearchAlwaysInContainer
                    ref="searchBar"
                    @search="onSearch">
                </sw-search-bar>
            {% endblock %}
        </template>

        <template #smart-bar-header>
            {% block sw_category_smart_bar_header %}
                <h2 v-if="category">{{ placeholder(category, 'name') }}</h2>
                <h2 v-else>{{ $tc('sw-category.general.headlineCategories') }}</h2>
            {% endblock %}
        </template>

        <template #language-switch>
            {% block sw_category_language_switch %}
                <sw-language-switch
                    @on-change="onChangeLanguage"
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange"
                    :disabled="landingPageId === 'create'">
                </sw-language-switch>
            {% endblock %}
        </template>

        <template #smart-bar-actions>
            <template v-if="category || landingPage">
                {% block sw_category_smart_bar_abort %}
                    <sw-button :disabled="isLoading" v-tooltip.bottom="tooltipCancel" @click="cancelEdit">
                        {{ $tc('sw-product.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_category_smart_bar_save %}

                    {% block sw_category_smart_bar_save_category %}
                        <sw-button-process v-if="category"
                                class="sw-category-detail__save-action"
                                :isLoading="isLoading"
                                :processSuccess="isSaveSuccessful"
                                :disabled="isLoading || !acl.can('category.editor')"
                                variant="primary"
                                @process-finish="saveFinish"
                                v-tooltip.bottom="tooltipSave"
                                @click.prevent="onSave">
                            {{ $tc('sw-category.general.buttonSafeCategory') }}
                        </sw-button-process>
                    {% endblock %}

                    {% block sw_category_smart_bar_save_landing_page %}
                        <sw-button-process v-if="landingPage"
                                           class="sw-category-detail__save-landing-page-action"
                                           :isLoading="isLoading"
                                           :processSuccess="isSaveSuccessful"
                                           :disabled="isLoading || !acl.can('landingPage.editor')"
                                           variant="primary"
                                           @process-finish="saveFinish"
                                           v-tooltip.bottom="tooltipSave"
                                           @click.prevent="onSaveLandingPage">
                            {{ $tc('sw-category.general.buttonSafeCategory') }}
                        </sw-button-process>
                    {% endblock %}
                {% endblock %}
            </template>
        </template>

        <template #side-content>
            {% block sw_category_side_content %}

                {% block sw_category_collapse %}
                    <sw-sidebar-collapse :expandOnLoading="categoryId !== null">
                        <template slot="header">

                            {% block sw_category_collapse_header %}
                                <div
                                    v-if="categoryCheckedItem > 0"
                                    class="sw-category-detail__collapse-selected-count">
                                    {{ $tc(`sw-category.general.treeHeadSelected`, 0, { count: categoryCheckedItem }) }}:
                                </div>
                                <div
                                    v-else
                                    class="sw-category-detail__collapse-headline">
                                    {{ $tc(`sw-category.general.treeHeadline`) }}
                                </div>
                            {% endblock %}
                        </template>

                        <template slot="actions">

                            {% block sw_category_collapse_actions %}
                                <div v-if="categoryCheckedItem > 0">
                                    <sw-button
                                            class="sw-tree-actions__delete_categories"
                                            @click="$refs.categoryTree.$refs.categoryTree.onDeleteElements(null)"
                                            variant="danger"
                                            size="small">
                                        {{ $tc('global.default.delete') }}
                                    </sw-button>
                                </div>
                            {% endblock %}
                        </template>

                        <template slot="content">

                            {% block sw_category_tree %}
                                <sw-category-tree
                                    ref="categoryTree"
                                    :categoryId="categoryId"
                                    :currentLanguageId="currentLanguageId"
                                    @unsaved-changes="openChangeModal"
                                    @category-checked-elements-count="categoryCheckedElementsCount"
                                    :allowEdit="acl.can('category.editor')"
                                    :allowCreate="acl.can('category.creator')"
                                    :allowDelete="acl.can('category.deleter')"
                                ></sw-category-tree>
                            {% endblock %}
                        </template>
                    </sw-sidebar-collapse>
                {% endblock %}

                {% block sw_landing_page_collapse %}
                    <sw-sidebar-collapse v-if="feature.isActive('FEATURE_NEXT_12032')" :expandOnLoading="landingPageId !== null">
                        <template slot="header">

                            {% block sw_landing_page_collapse_header %}
                                <div
                                    v-if="landingPageCheckedItem > 0"
                                    class="sw-category-detail__collapse-selected-count">
                                    {{ $tc(`sw-landing-page.general.treeHeadSelected`, 0, { count: landingPageCheckedItem }) }}:
                                </div>
                                <div
                                    v-else
                                    class="sw-category-detail__collapse-headline">
                                    {{ $tc(`sw-landing-page.general.treeHeadline`) }}
                                </div>
                            {% endblock %}
                        </template>

                        <template slot="actions">

                            {% block sw_landing_page_collapse_actions %}
                                <div v-if="landingPageCheckedItem > 0">
                                    <sw-button
                                        class="sw-tree-actions__delete_categories"
                                        @click="$refs.landingPageTree.$refs.landingPageTree.onDeleteElements(null)"
                                        variant="danger"
                                        size="small">
                                        {{ $tc('global.default.delete') }}
                                    </sw-button>
                                </div>
                            {% endblock %}
                        </template>

                        <template slot="content">

                            {% block sw_landing_page_tree %}
                                <sw-landing-page-tree
                                    ref="landingPageTree"
                                    :landingPageId="landingPageId"
                                    :currentLanguageId="currentLanguageId"
                                    @unsaved-changes="openChangeModal"
                                    @landingPage-checked-elements-count="landingPageCheckedElementsCount"
                                    :allowEdit="acl.can('landingPage.editor')"
                                    :allowCreate="acl.can('landingPage.creator')"
                                    :allowDelete="acl.can('landingPage.deleter')"
                                ></sw-landing-page-tree>
                            {% endblock %}
                        </template>
                    </sw-sidebar-collapse>
                {% endblock %}
            {% endblock %}
        </template>

        {% block sw_category_content %}
            <template #content>

                {% block sw_category_content_view %}
                    <sw-category-view
                        v-if="category"
                        ref="categoryView"
                        :isLoading="isLoading"
                        :type="category.type"
                    ></sw-category-view>
                {% endblock %}

                {% block sw_landing_page_content_view %}
                    <sw-landing-page-view
                        v-if="feature.isActive('FEATURE_NEXT_12032') && landingPage"
                        ref="landingPageView"
                        :isLoading="isLoading"
                    ></sw-landing-page-view>
                {% endblock %}

                {% block sw_category_content_discard_changes_modal %}
                    <sw-discard-changes-modal v-if="isDisplayingLeavePageWarning"
                                              @keep-editing="onLeaveModalClose(nextRoute)"
                                              @discard-changes="onLeaveModalConfirm(nextRoute)">
                    </sw-discard-changes-modal>
                {% endblock %}

                {% block sw_category_content_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}

                {% block sw_category_content_empty %}
                    <sw-empty-state v-if="showEmptyState" :title="$tc('sw-category.general.emptyStateHeadline')"></sw-empty-state>
                {% endblock %}
            </template>

        {% endblock %}

        {% block sw_category_sidebar %}
            <template #sidebar>
                <sw-sidebar>
                    <sw-sidebar-media-item ref="mediaSidebarItem">
                        <template #context-menu-items="media">
                            <sw-context-menu-item @click="setMediaItemFromSidebar(media.mediaItem)">
                                {{ $tc('sw-category.general.useAsLogo') }}
                            </sw-context-menu-item>
                        </template>
                    </sw-sidebar-media-item>
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
