.sw-condition-operator-select {
    background-color: var(--color-static-white);
    min-width: var(--scale-size-128);
    position: relative;
    flex-shrink: 0;
    height: 100%;

    .sw-condition-operator-select__select {
        height: 100%;
    }
}
