.sw-condition-operator-select {
    background-color: var(--color-background-primary-default);
    min-width: var(--scale-size-128);
    position: relative;
    flex-shrink: 0;
    height: 100%;

    &.has--error {
        background: var(--color-background-critical-default);
        border-color: var(--color-border-critical-default);
    }

    .sw-condition-operator-select__select {
        height: 100%;
    }
}
