@import "~scss/variables";

$sw-select-result-active-color-background: var(--color-background-brand-default);
$sw-select-result-active-color-text: var(--color-text-primary-default);
$sw-select-result-color-border: var(--color-border-primary-default);
$sw-select-result-color-icon: var(--color-text-primary-default);
$sw-select-result-transition-item-icon: all ease-in-out 0.15s;
$sw-select-result-disabled-color-background: var(--color-background-primary-disabled);
$sw-select-result-disabled-color-text: var(--color-text-primary-disabled);

.sw-select-result {
    padding: var(--scale-size-12) 15px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "a b c d";
    align-items: center;
    border-radius: 4px;

    .sw-select-result__result-item-preview {
        order: 1;
        margin-right: var(--scale-size-10);
        display: block;
        grid-area: a;

        &:empty {
            margin-right: 0;
        }
    }

    .sw-select-result__result-item-text {
        max-width: 100%;
        word-break: break-word;
        display: flex;
        flex-direction: column;
        color: var(--color-text-primary-default);
        order: 2;
        overflow: hidden;
        grid-area: b;
    }

    .sw-select-result__result-item-checkmark {
        width: var(--scale-size-16);
        height: var(--scale-size-16);
        padding-top: var(--scale-size-4);
        padding-right: var(--scale-size-2);
        padding-bottom: 3px;
        padding-left: var(--scale-size-2);
    }

    &.is--active {
        background: $sw-select-result-active-color-background;
        color: $sw-select-result-active-color-text;

        .sw-select-result__result-item-text {
            color: $sw-select-result-active-color-text;
        }
    }

    .sw-select-result__result-item-description {
        width: 100%;
        color: var(--color-text-secondary-default);
        order: 3;
        line-height: 14px;
        padding: 0 0 0 var(--scale-size-8);
        grid-area: c;
    }

    > .mt-icon {
        color: $sw-select-result-color-icon;
        margin-left: 10px;
        order: 4;
        justify-self: end;
        grid-area: d;
    }

    &.is--description-bottom {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "a b d"
            "c c c";

        .sw-select-result__result-item-description {
            grid-column-start: 1;
            padding: var(--scale-size-8) 0 0;
            order: 3;

            &:empty {
                padding: 0;
            }
        }

        .mt-icon {
            order: 2;
        }
    }

    &.is--description-left {
        grid-template-columns: 2fr 7fr 2fr;
        grid-template-areas:
            "a b d"
            "c c c";

        .sw-select-result__result-item-text {
            grid-area: a;
        }

        .sw-select-result__result-item-description {
            grid-area: b;
            padding: 0;
        }
    }

    &.is--disabled {
        color: $sw-select-result-disabled-color-text;

        &.is--active {
            background: $sw-select-result-disabled-color-background;
            color: $sw-select-result-disabled-color-text;
            cursor: default;
        }

        .sw-highlight-text__highlight {
            color: $sw-select-result-disabled-color-text;
        }

        .sw-select-result__result-item-text {
            color: $sw-select-result-disabled-color-text;
        }
    }

    &:last-child {
        border-bottom: 0 none;
    }

    // Vue.js transitions
    .sw-select-result-appear-enter-active,
    .sw-select-result-appear-leave-active {
        transition: $sw-select-result-transition-item-icon;
        transform: translateY(0);
    }

    .sw-select-result-appear-enter,
    .sw-select-result-appear-leave-to {
        opacity: 0;
        transform: translateY(-15px);
    }
}
