@import "~less/variables";

.sw-media-index {
    .sw-media-index__page {
        display: grid;
        grid-template-columns: 1fr auto;
        height: 100%;
    }

    .sw-media-index__content {
        padding-left: 20px;
        padding-top: 30px;
        justify-self: stretch;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sw-media-index__divider {
        border: 0;
        height: 1px;
        margin: 30px 10px 30px 10px;
        background: @color-steam-cloud;
    }

    .sw-media-index__headline {
        margin-left: 10px;
    }
}