{% block sw_media_index %}
    <sw-page class="sw-media-index">

        {% block sw_media_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar
                    :placeholder="$tc('sw-media.general.placeholderSearchBar')"
                    :searchType="$tc('sw-media.general.mainMenuItemGeneral')"
                    :initialSearch="term"
                    @search="this.onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_media_index_smart_bar %}
            {% block sw_media_index_bread_crumb_navigation %}
                <div slot="smart-bar-back"
                     class="sw-media-index__navigation"
                     v-if="next1207">

                    <template v-if="parentFolder">
                         {% block sw_media_index_bread_crumb_navigation_icon %}
                            <router-link :to="{ name: 'sw.media.index', params: { folderId: null } }">
                                <sw-icon class="sw-media-index__navigation-breadcrumb"
                                         name="folder-breadcrumbs-back-to-root"
                                         large
                                         multicolor>
                                </sw-icon>
                            </router-link>
                        {% endblock %}

                        {% block sw_media_index_bread_crumb_navigation_parent%}
                            <router-link class="sw-media-index__navigation-label"
                                         :to="{ name: 'sw.media.index', params: { folderId: currentFolder.parentId } }">
                                {{ this.parentFolderName }}
                            </router-link>
                        {% endblock %}
                    </template>
                </div>
            {% endblock %}

            {% block sw_media_index_smart_bar_header %}
                <h2 slot="smart-bar-header">
                    {% block sw_media_index_smart_bar_heading %}
                        {{ this.currentFolderName }}
                    {% endblock %}
                </h2>
            {% endblock %}

            <template slot="smart-bar-actions">
                {% block sw_media_index_smart_bar_media_upload %}
                    <sw-media-upload
                        variant="compact"
                        @sw-media-upload-new-uploads-added="onUploadsAdded"
                        @sw-media-upload-media-upload-failure="onUploadFailed"
                        @sw-media-upload-media-upload-success="onUploadFinished">
                    </sw-media-upload>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_media_index_language_switch %}
            <sw-language-switch slot="language-switch"
                                @on-change="reloadList">
            </sw-language-switch>
        {% endblock %}

        {% block sw_media_index_page_content %}
            <div slot="content"class="sw-media-index__page-content">
                {% block sw_media_index_listing_grid %}
                    <sw-media-library
                        class="sw-media-index__media-library"
                        :folderId="routeFolderId"
                        :pendingUploads="uploads"
                        :term="term"
                        editable
                        @media-folder-changed="updateRoute"
                        v-model="selectedItems"
                        ref="mediaLibrary">
                    </sw-media-library>
                {% endblock %}

                {% block sw_media_index_sidebar %}
                    <sw-media-sidebar
                        :items="selectedItems"
                        :currentFolderId="routeFolderId"
                        editable
                        @sw-media-sidebar-items-delete="reloadList"
                        @sw-media-sidebar-folder-items-dissolved="onMediaFoldersDissolved"
                        @sw-media-sidebar-items-moved="reloadList"
                        @sw-media-item-selection-remove="onMediaUnselect">
                    </sw-media-sidebar>
                {% endblock %}

                {% block sw_media_index_list_grid_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-page>
{% endblock %}