{% block sw_media_index %}
    <sw-page class="sw-media-index">
        {% block sw_media_index_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_media_index_smart_bar_header %}
                    <h2>
                        {% block sw_media_index_smart_bar_heading %}
                            {{ $tc('sw-media.smart-bar.smartBarHeader') }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        <template slot="content">
            {% block sw_media_index_page_content %}
                <div class="sw-media-index__page">
                    {% block sw_media_index_content %}
                        <div class="sw-media-index__content-container">
                            <div class="sw-media-index__content">
                                {% block sw_media_index_catalogs %}
                                    {% block sw_media_index_catalogs_title %}
                                        <h4 class="sw-media-index__headline">{{ $tc('sw-media.index.catalogs') }}</h4>
                                    {% endblock %}

                                    {% block sw_media_index_catalogs_grid %}
                                        <sw-media-grid previewType="media-grid-preview-as-grid"
                                                       :selectable="false"
                                                       :items="catalogs">
                                        </sw-media-grid>
                                    {% endblock %}

                                    {% block sw_media_index_catalogs_divider %}
                                        <hr class="sw-media-index__divider">
                                    {% endblock %}
                                {% endblock %}

                                {% block sw_media_index_items %}
                                    {% block sw_media_index_items_title %}
                                        <h4 class="sw-media-index__headline" v-if="!isSearch">{{ $tc('sw-media.index.lastAdded') }}</h4>
                                    {% endblock %}
                                    {% block sw_media_index_searched_item_title %}
                                        <h4 class="sw-media-index__headline" v-if="isSearch">{{ $tc('sw-media.index.searchResult') }}</h4>
                                    {% endblock %}

                                    {% block sw_media_index_items_grid %}
                                        <sw-media-grid previewType="media-grid-preview-as-grid"
                                            :editable="false"
                                            :selectable="true"
                                            :items="mediaItems"
                                            dragSelectorClass="sw-media-grid-media-item"
                                            ref="mediaGrid"
                                            v-on="mediaMediaGridListener">
                                        </sw-media-grid>
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sw_media_index_sidebar %}
                        <div class="sw-media-index__sidebar">
                            <sw-media-sidebar
                                :items="selectedItems"
                                v-on="mediaSidebarListener"
                                ref="mediaSidebar">
                            </sw-media-sidebar>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block sw_media_index_modal_delete %}
                <sw-media-modal-delete
                   :itemsToDelete ="selectionToDelete"
                   @sw-media-modal-delete-close="closeDeleteModal"
                   @sw-media-modal-delete-delete="deleteSelection">
                </sw-media-modal-delete>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
