@import "~scss/variables";

.sw-product-stream-detail {
    .sw-product-stream-detail__condition_container .sw-card__content {
        padding: 0;
    }

    &__condition_alert.sw-alert {
        margin-top: 75px;
        max-width: 1330px;
    }

    .sw-product-stream-detail__open_modal_preview {
        display: flex;
        margin: auto auto 20px;
    }

    .sw-card.is--disabled .sw-card__content {
        background-color: $color-gray-100;
    }

    &__button-context-menu {
        .sw-icon {
            width: 16px;
            height: 16px;
            padding-top: 6px;
            padding-right: 3px;
            padding-bottom: 4px;
            padding-left: 3px;
        }
    }
}
