<div class="sw-inactivity-login">

    <sw-modal
        v-if="lastKnownUser"
        class="sw-inactivity-login__modal"
        :title="$tc('sw-inactivity-login.modal.title')"
        :closable="false"
    >
        <sw-password-field
            v-model="password"
            v-autofocus
            :label="$tc('sw-login.index.labelPassword')"
            :disabled="isLoading"
            :error="passwordError"
            @keydown.enter="loginUserWithPassword"
        />

        <template #modal-footer>
            <a
                @click="onBackToLogin"
                @keydown.enter="onBackToLogin"
            >
                {{ $tc('sw-inactivity-login.modal.actions.backToLogin') }}
            </a>

            <sw-button
                variant="primary"
                :is-loading="isLoading"
                @click="loginUserWithPassword"
            >
                {{ $tc('sw-login.index.buttonLogin') }}
            </sw-button>
        </template>
    </sw-modal>
</div>
