<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_data_grid_inline_edit %}
<div
    class="sw-data-grid-inline-edit"
    :class="classes"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_inline_edit_type_string %}
    <sw-field
        v-if="column.inlineEdit === 'string'"
        key="string"
        v-model="currentValue"
        :size="inputFieldSize"
        type="text"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_inline_edit_type_number %}
    <sw-field
        v-else-if="column.inlineEdit === 'number'"
        key="number"
        v-model="currentValue"
        :size="inputFieldSize"
        type="number"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_inline_edit_type_boolean %}
    <sw-checkbox-field
        v-else-if="column.inlineEdit === 'boolean'"
        key="boolean"
        v-model="currentValue"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_inline_edit_type_unknown %}
    <span
        v-else
        key="unknown"
        class="sw-data-grid-inline-edit__placeholder"
    >
        Unknown type {{ column.inlineEdit }}
    </span>
    {% endblock %}
</div>
{% endblock %}
