.sw-data-grid-inline-edit {
    width: 100%;
    display: flex;

    .sw-data-grid-inline-edit__placeholder {
        display: inline-block;
        margin: 0 10px;
        color: rgba(0, 0, 0, 20%);
        cursor: default;
        user-select: none;
    }
}
