{% for violation in formViolations.getViolations(violationPath) %}
    {% set snippetName = "error.#{violation.code}" %}
    {% set fieldName = violation.propertyPath|split('/')|last|trim('/', 'left')|capitalize %}
    <div class="invalid-feedback">
        {% if violation.parameters %}
            {{ snippetName|trans(violation.parameters) }}
        {% else %}
            {{ snippetName|trans({'%field%': fieldName}) }}
        {% endif %}
    </div>
{% endfor %}
