{% block utilities_offcanvas %}
	{% block utilities_offcanvas_close %}
		<a class="btn btn-light btn-block js-offcanvas-close sticky-top"
		   href="#offcanvas-close">
			{% block utilities_offcanvas_close_icon %}
                {% sw_icon 'x' %}
			{% endblock %}

			{% block utilities_offcanvas_close_text %}
				{{ "general.offcanvasCloseMenu"|trans }}
			{% endblock %}
		</a>
	{% endblock %}

    {% block utilities_offcanvas_content_container %}
        <div class="offcanvas-content-container">
            {% block utilities_offcanvas_content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}
