{% sw_extends "frontend/checkout/cart/cart-item.html.twig" %}

{# @var viewLineItem \Shopware\CartBridge\View\ViewLineItemInterface #}
{% block frontend_checkout_cart_item_quantity_selection %}
    {{ deliveryPosition.quantity }}
{% endblock %}

{% block frontend_checkout_cart_item_tax_price %}
    <div class="panel--td column--tax-price block is--align-right">
        {% block frontend_checkout_cart_item_tax_label %}
            <div class="column--label tax-price--label">
                {% trans from "frontend/checkout/confirm_header" %}CheckoutColumnExcludeTax{% endtrans %}
                {/if}
            </div>
        {% endblock %}
        {{ deliveryPosition.price.calculatedTaxes.amount|localizedcurrency(context.currency.shortName) }}
    </div>
{% endblock %}

{# Accumulated product price #}
{% block frontend_checkout_cart_item_total_sum %}
    <div class="panel--td column--total-price is--align-right">
        {% block frontend_checkout_cart_item_total_price_label %}
            <div class="column--label total-price--label">
                {% trans from 'frontend/checkout/cart_header' %}CartColumnTotal{% endtrans %}
            </div>
        {% endblock %}

        {{ deliveryPosition.price.totalPrice|localizedcurrency(context.currency.shortName) }}
        {{ block('frontend_checkout_cart_tax_symbol') }}
    </div>
{% endblock %}

{% block frontend_checkout_cart_item_delete_article %}{% endblock %}