@import "~less/variables";

@sw-card-color-background:                  @color-white;
@sw-card-color-border:                      @color-steam-cloud;
@sw-card-border-radius:                     @border-radius-default;
@sw-card-color-title-text:                  @color-kashmir;
@sw-card-tabs-item-color-border:            @color-steam-cloud;
@sw-card-tabs-item-color-background:        @color-light-gray;
@sw-card-tabs-item-color-background-active: @color-white;

.sw-card {
    max-width: 800px;
    margin: 0 auto 40px auto;
    position: relative;

    &.sw-card--tabs {
        padding: 0;
    }

    .sw-card__title {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 24px;
        color: @sw-card-color-title-text;

        @media screen and (min-width: 1580px) {
            width: 200px;
            position: absolute;
            left: -240px;
            top: 0;
            text-align: right;
        }
    }

    .sw-card__content {
        padding: 30px;
        background: @sw-card-color-background;
        background-clip: padding-box;
        border-radius: @sw-card-border-radius;
        border: 1px solid @sw-card-color-border;
        position: relative;

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
        }


        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }

        h4, h5, h6 {
            font-size: 18px;
        }

        a.sw-card__quick-link {
            display: grid;
            grid-auto-flow: column;
            grid-column-gap: 6px;
            align-items: center;
            text-decoration: none;
            color: @color-shopware-blue;
            font-size: 14px;

            &:hover {
                color: darken(@color-shopware-blue, 10);
            }
        }
    }

    .sw-tabs {
        border-width: 0 0 1px 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;

        .sw-tabs__container {
            position: relative;
            top: -5px;
        }
    }

    .sw-tabs-item {
        margin: 0;
        padding-top: 5px;
        line-height: 44px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
            border-bottom-color: @sw-card-tabs-item-color-border;
        }

        &:focus {
            background-color: @sw-card-tabs-item-color-background;
            border-bottom-color: @sw-card-tabs-item-color-border;
        }

        &:active {
            border-bottom-color: @sw-card-tabs-item-color-background-active;
            background-color: @sw-card-tabs-item-color-background-active;
        }

        &.router-link-active {
            background-color: @sw-card-tabs-item-color-background-active;
            border-bottom-color: @sw-card-tabs-item-color-background-active;
        }
    }
}