<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Ihr Account wurde f端r die Kundengruppe {{ customerGroup.translated.name }} freigeschaltet.<br/>
        Ab sofort kaufen Sie zu den neuen Konditionen dieser Kundengruppe ein.<br/>

        F端r R端ckfragen stehen wir Ihnen jederzeit gerne zur Verf端gung.
    </p>
</div>
