<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Your account has been activated for the customer group {{ customerGroup.translated.name }}.<br/>
        From now on you can shop at the new conditions of this customer group.<br/><br/>

        Please do not hesitate to contact us at any time if you have any questions.
    </p>
</div>
