{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% block component_account_register_personal_account_fields %}
    {% block page_checkout_register_personal_guest %}
        <div class="custom-control custom-checkbox register-guest-control">
            {% block page_checkout_register_personal_guest_input %}
                <input type="checkbox"
                       class="custom-control-input"
                       name="guest"
                       value="1"
                       id="personalGuest"
                       {% if data.get('guest') %}checked="checked"{% endif %}
                       data-form-field-toggle="true"
                       data-form-field-toggle-target=".js-form-field-toggle-guest-mode"
                       data-form-field-toggle-value="false">
            {% endblock %}

            {% block page_checkout_register_personal_guest_label %}
                <label class="custom-control-label"
                       for="personalGuest">
                    {{ "checkout.registerGuestmodeLabel"|trans|sw_sanitize }}
                </label>
            {% endblock %}
        </div>
    {% endblock %}

    {{ parent() }}
{% endblock %}

{% block component_account_register_form_action %}
    <input type="hidden"
           name="errorRoute"
           value="frontend.checkout.register.page"/>
{% endblock %}
