{% block sw_first_run_wizard_welcome %}
    <div class="sw-first-run-wizard-welcome">
        <div class="center">
            <img class="sw-first-run-wizard__welcome-image" :src="'/administration/static/img/first-run-wizard/welcome.svg' | asset">
            <h4 class="headline-welcome">{{ $tc('sw-first-run-wizard.welcome.headlineWelcome') }}</h4>
            <p v-html="$tc('sw-first-run-wizard.welcome.messageWelcome')"
               class="text-welcome">
            </p>
        </div>

        <h5 class="text-change-language">{{ $tc('sw-first-run-wizard.welcome.headlineChangeLanguage') }}</h5>

        <sw-container columns="1fr 1fr" gap="24px 0">
            <sw-plugin-card v-for="languagePlugin in languagePlugins"
                            :key="languagePlugin.name"
                            :plugin="languagePlugin">
            </sw-plugin-card>
        </sw-container>
    </div>
{% endblock %}
