<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_my_apps_page %}
<sw-page class="sw-my-apps-page">
    <template
        v-if="!suspend"
        #smart-bar-header
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_my_apps_page_header %}
        <h2>{{ heading }}</h2>
        {% endblock %}
    </template>

    <template #content>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_my_apps_page_content %}
        <template v-if="!suspend">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_my_apps_page_content_app_content %}
            <iframe
                v-show="appLoaded"
                id="app-content"
                ref="innerFrame"
                class="sw-my-apps-page__app-content"
                referrerpolicy="origin-when-cross-origin"
                :src="entryPoint"
                :title="heading"
            ></iframe>
            {% endblock %}

            <template v-if="!appLoaded">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_my_apps_page_content_not_loaded %}
                <template v-if="timedOut">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_my_apps_page_content_timed_out %}
                    <sw-my-apps-error-page />
                    {% endblock %}
                </template>

                <template v-else>
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_my_apps_page_content_loading %}
                    <sw-loader />
                    {% endblock %}
                </template>
                {% endblock %}
            </template>
        </template>
        {% endblock %}
    </template>
</sw-page>
{% endblock %}
