{% block sw_tagged_field %}
    <div class="sw-tagged-field"
         :class="taggedClasses"
         tabindex="0">
        {% block sw_tagged_field_label %}
            <label v-if="label" :for="id" class="sw-tagged-field__label">{{ label }}</label>
        {% endblock %}

        {% block sw_tagged_field_inner %}
            <div class="sw-tagged-field__inner">
                <transition-group name="sw-tagged-field-mangify"
                                  tag="ul"
                                  class="sw-tagged-field__tags"
                                  mode="out-in">
                    {% block sw_tagged_field_tag_items %}
                        <sw-label v-for="(tag, index) in tags"
                                  :key="index"
                                  @dismiss="dismissTag(index)"
                                  @selected="$emit('sw-tagged-field-tag-clicked', { tag, index })">
                            <template v-if="!editTags[index]">
                                {{ tag }}
                            </template>
                            <template v-else slot="sw_label_text_holder">
                                <span contenteditable="true"
                                      class="sw-tagged-field__edit-text"
                                      @keydown="performModifyTag(index, $event)"
                                      :ref="`input${index}`">
                                    {{ editTags[index] }}
                                </span>
                            </template>
                            <template v-if="editTags[index]" slot="sw-label__dismiss-icon">
                                <sw-icon name="text-editor-undo">
                                </sw-icon>
                            </template>
                        </sw-label>
                    {% endblock %}

                    {% block sw_tagged_field_item_input %}
                        <li class="sw-tagged-field__tag-item-input" key="tagInput">
                            {% block sw_tagged_field_input %}
                                <input ref="newTagInput"
                                       class="sw-tagged-field__input"
                                       type="text"
                                       :placeholder="placeholder"
                                       v-model="newTag"
                                       @keydown="performAddTag"
                                       @keydown.delete="dismissLastTag">
                            {% endblock %}
                        </li>
                    {% endblock %}
                </transition-group>

                {% block sw_tagged_field_indicators %}
                    <div class="sw-tagged-field__indicators">
                        {% block sw_tagged_field_indicators_helptext %}
                            <sw-help-text v-if="helpText" :text="helpText"></sw-help-text>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}