@import "~scss/variables";

.sw-sales-channel-modal-grid {
    .sw-grid-row {
        border-bottom: 0;
    }

    .sw-grid-column .sw-grid__cell-content {
        padding: 10px;
    }

    .sw-sales-channel-modal-grid__item-name {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        font-size: $font-size-m;
        margin-bottom: 0;
        color: var(--color-text-primary-default);
        font-weight: normal;
        cursor: pointer;

        &:hover {
            color: var(--color-text-brand-default);
        }
    }

    .sw-sales-channel-modal-grid__item-description {
        color: var(--color-text-primary-default);
        font-size: $font-size-xs;
        margin-top: 5px;
        cursor: pointer;
    }

    .sw-sales-channel-modal-grid__icon-column .sw-grid__cell-content {
        padding: 10px 0;
        cursor: pointer;
    }

    .sw-sales-channel-modal-grid__icon {
        background: var(--color-background-tertiary-default);
        width: 64px;
        height: 64px;
        border-radius: 8px;

        .mt-icon {
            color: var(--color-text-secondary-default);
            height: 24px;
            width: 24px;
            margin: 20px;
        }
    }

    .sw-sales-channel-modal-grid__actions {
        .sw-grid__cell-content {
            grid-gap: 5px;
        }
    }
}
