{% block sw_attribute_type_colorpicker %}
    <div class="sw-attribute-type-colorpicker">
        {% block sw_attribute_type_colorpicker_labels %}
            <sw-attribute-translated-labels
                    v-model="currentAttribute.config"
                    :propertyNames="propertyNames"
                    :locales="locales">
            </sw-attribute-translated-labels>
        {% endblock %}
    </div>
{% endblock %}