<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Vielen Dank für Ihr Interesse an den Konditionen für Kundengruppe {{ customerGroup.translated.name }}.<br/>
        Leider können wir sie nicht für diese Kundengruppe freischalten.<br/>

        Bei Rückfragen aller Art können Sie uns gerne telefonisch oder per Mail diesbezüglich erreichen.
    </p>
</div>
