{% block sw_manufacturer_list %}
    <sw-page class="sw-manufacturer-list">
        {% block sw_manufacturer_list_header %}
            <template slot="smart-bar-header">
                {% block sw_manufacturer_list_smart_bar_header %}
                    <h2>{{ $tc('sw-manufacturer.list.textManufacturerOverview') }} <span v-if="!isLoading">({{ $tc('sw-manufacturer.list.textTotalManufacturer', total, { count: total }) }})</span></h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_manufacturer_list_actions %}
            <template slot="smart-bar-actions">
                {% block sw_manufacturer_list_smart_bar_actions %}
                    <sw-button :link="'sw.manufacturer.create'" variant="primary">
                        {{ $tc('sw-manufacturer.list.buttonAddManufacturer') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        <template slot="content">
            {% block sw_manufacturer_list_content %}
                <div class="sw-manufacturer-list__content">
                    {% block sw_manufacturer_list_grid %}
                        <sw-grid :items="manufacturers"
                                 :pagination="true"
                                 :sortBy="sortBy"
                                 :sortDirection="sortDirection"
                                 :sidebar="true"
                                 :selectable="false"
                                 :isFullpage="true"
                                 @sort-column="onSortColumn"
                                 @inline-edit-finish="onInlineEditSave">

                            {% block sw_manufacturer_list_grid_slots %}
                                <template slot="columns" slot-scope="{ item }">
                                    {% block sw_manufacturer_list_grid_columns %}

                                        {% block sw_manufacturer_list_grid_columns_name %}
                                            <sw-grid-column flex="minmax(200px, 1fr)"
                                                            :label="$tc('sw-manufacturer.list.columnName')"
                                                            dataIndex="name"
                                                            sortable
                                                            truncate
                                                            editable>
                                                <router-link :to="{ name: 'sw.manufacturer.detail', params: { id: item.id } }">
                                                    {{ item.name }}
                                                </router-link>

                                                {% block sw_manufacturer_list_grid_columns_name_editor %}
                                                    <sw-field type="text" v-model="item.name" slot="inline-edit"></sw-field>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_manufacturer_list_grid_columns_link %}
                                            <sw-grid-column flex="minmax(200px, 1fr)"
                                                            :label="$tc('sw-manufacturer.list.columnLink')"
                                                            dataIndex="link"
                                                            sortable
                                                            truncate
                                                            editable>
                                                {{ item.link }}

                                                {% block sw_manufacturer_list_grid_columns_link_editor %}
                                                    <sw-field type="text" v-model="item.link" slot="inline-edit"></sw-field>
                                                {% endblock %}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_manufacturer_list_grid_columns_description %}
                                            <sw-grid-column flex="minmax(200px, 1fr)"
                                                            :label="$tc('sw-manufacturer.list.columnDescription')"
                                                            dataIndex="description"
                                                            truncate
                                                            sortable>
                                                {{ item.description | truncate }}
                                            </sw-grid-column>
                                        {% endblock %}

                                        {% block sw_product_list_grid_columns_actions %}
                                            <sw-grid-column flex="minmax(100px, 100px)" align="center">
                                                <sw-context-button>

                                                    {% block sw_product_list_grid_columns_actions_edit %}
                                                        <sw-context-menu-item :routerLink="{
                                                                name: 'sw.manufacturer.detail',
                                                                params: { id: item.id } }">
                                                            {{ $tc('sw-manufacturer.list.contextMenuEdit') }}
                                                        </sw-context-menu-item>
                                                    {% endblock %}

                                                    {% block sw_product_list_grid_columns_actions_duplicate %}
                                                        <sw-context-menu-item :disabled="true">
                                                            {{ $tc('sw-manufacturer.list.contextMenuDuplicate') }}
                                                        </sw-context-menu-item>
                                                    {% endblock %}

                                                    {% block sw_product_list_grid_columns_actions_delete %}
                                                        <sw-context-menu-item variant="danger" @click="onDeleteManufacturer(item.id)">
                                                            {{ $tc('sw-manufacturer.list.contextMenuDelete') }}
                                                        </sw-context-menu-item>
                                                    {% endblock %}
                                            </sw-context-button>
                                        </sw-grid-column>
                                    {% endblock %}

                                    {% block sw_manufacturer_list_delete_modal %}
                                        <sw-modal v-if="showDeleteModal === item.id"
                                                  @closeModal="onCloseDeleteModal"
                                                  :title="$tc('sw-manufacturer.list.modalTitleDelete')"
                                                  variant="small">
                                            {% block sw_manufacturer_list_delete_modal_confirm_delete_text %}
                                                <p class="sw-customer-detail-addresses__confirm-delete-text">
                                                    {{ $tc('sw-manufacturer.list.textDeleteConfirm', 0, { name: item.name }) }}
                                                </p>
                                            {% endblock %}

                                            {% block sw_manufacturer_list_delete_modal_footer %}
                                                <template slot="modal-footer">
                                                    {% block sw_manufacturer_list_delete_modal_cancel %}
                                                        <sw-button @click="onCloseDeleteModal"
                                                                   size="small">
                                                            {{ $tc('sw-manufacturer.list.buttonCancel') }}
                                                        </sw-button>
                                                    {% endblock %}

                                                    {% block sw_manufacturer_list_delete_modal_confirm %}
                                                        <sw-button @click="onConfirmDelete(item.id)"
                                                                   variant="primary"
                                                                   size="small">
                                                            {{ $tc('sw-manufacturer.list.buttonDelete') }}
                                                        </sw-button>
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                        </sw-modal>
                                        {% endblock %}
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            <template slot="pagination">
                                {% block sw_manufacturer_list_grid_pagination %}
                                    <sw-pagination :offset="offset"
                                                   :limit="limit"
                                                   :total="total"
                                                   :total-visible="7"
                                                   @page-change="onPageChange">
                                    </sw-pagination>
                                {% endblock %}
                            </template>

                            {% block sw_manufacturer_list_grid_sidebar %}
                                <sw-sidebar slot="sidebar">
                                    {% block sw_manufacturer_list_grid_sidebar_refresh %}
                                        <sw-sidebar-item icon="default-arrow-360-left" @click="onRefresh"></sw-sidebar-item>
                                    {% endblock %}
                                </sw-sidebar>
                            {% endblock %}
                        </sw-grid>
                    {% endblock %}

                    {% block sw_manufacturer_list_grid_loader %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}