{% block sw_product_seo_form %}
    <div class="sw-product-seo-form">
        {% block sw_product_seo_form_meta_title %}
            <sw-inherit-wrapper
                v-model="product.metaTitle"
                :hasParent="hasParent"
                :label="$tc('sw-product.seoForm.labelMetaTitle')"
                :inheritedValue="parentProduct.metaTitle">
                <template #content="props">
                    <sw-field
                        type="text"
                        :placeholder="$tc('sw-product.seoForm.placeholderMetaTitle')"
                        :error="productMetaTitleError"
                        :disabled="props.isInherited || !allowEdit"
                        :value="props.currentValue"
                        @change="props.updateCurrentValue">
                    </sw-field>
                </template>
            </sw-inherit-wrapper>
        {% endblock %}

        {% block sw_product_seo_form_meta_description %}
            <sw-inherit-wrapper
                v-model="product.metaDescription"
                :hasParent="hasParent"
                :label="$tc('sw-product.seoForm.labelMetaDescription')"
                :inheritedValue="parentProduct.metaDescription">
                <template #content="props">
                    <sw-field
                        type="textarea"
                        :placeholder="$tc('sw-product.seoForm.placeholderMetaDescription')"
                        :error="productMetaDescriptionError"
                        :disabled="props.isInherited || !allowEdit"
                        :value="props.currentValue"
                        @change="props.updateCurrentValue">
                    </sw-field>
                </template>
            </sw-inherit-wrapper>
        {% endblock %}

        {% block sw_product_seo_form_keywords %}
            <sw-inherit-wrapper
                v-model="product.keywords"
                :hasParent="hasParent"
                :label="$tc('sw-product.seoForm.labelKeywords')"
                :inheritedValue="parentProduct.keywords">
                <template #content="props">
                    <sw-field
                        type="text"
                        :placeholder="$tc('sw-product.seoForm.placeholderKeywords')"
                        :error="productKeywordsError"
                        :disabled="props.isInherited || !allowEdit"
                        :value="props.currentValue"
                        @change="props.updateCurrentValue">
                    </sw-field>
                </template>
            </sw-inherit-wrapper>
        {% endblock %}

        {% block sw_product_seo_form_canonical_url %}
            <template v-if="!hasParent && hasVariants">

                {% block sw_product_seo_form_canonical_url_switch %}
                    <sw-switch-field v-model="canonicalProductSwitchEnabled"
                        :label="$tc('sw-product.seoForm.labelCanonicalUrlMode')">
                    </sw-switch-field>
                {% endblock %}

                {% block sw_product_seo_form_canonical_url_select %}
                    <sw-single-select v-model="product.canonicalProductId"
                         ref="canonicalProductSelect"
                         :options="variants"
                         :disabled="!canonicalProductSwitchEnabled"
                         valueProperty="id"
                         :label="$tc('sw-product.seoForm.labelCanonicalProduct')"
                         :placeholder="$tc('sw-product.seoForm.placeholderCanonicalProduct')"
                         :disableSearchFunction="true"
                         @search="onSearch">

                        <template #selection-label-property="{ item }">
                            {% block sw_product_seo_form_canonical_url_select_selection %}
                                <sw-product-variant-info :variations="item.variation"
                                     :showTooltip="false">
                                    {{ getItemName(item) }}
                                </sw-product-variant-info>
                            {% endblock %}
                        </template>

                        <template #result-label-property="{ item }">
                            {% block sw_product_seo_form_canonical_url_select_result %}
                                <sw-product-variant-info :variations="item.variation"
                                     :showTooltip="false">
                                    {{ getItemName(item) }}
                                </sw-product-variant-info>
                            {% endblock %}
                        </template>
                    </sw-single-select>
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}
