{% block sw_settings_country_new_snippet_modal %}
<sw-modal
    class="sw-settings-country-new-snippet-modal"
    :title="$tc('sw-settings-country.detail.newSnippetModalTitle')"
    @modal-close="onCloseModal"
>
    <sw-contextual-field
        class="sw-settings-country-new-snippet-modal__search-field"
        required
        :disabled="disabled"
        :error="null"
    >
        <template #sw-field-input="{ identification, disabled, error, size, setFocusClass, removeFocusClass }">
            {% block sw_flow_trigger_select_field_input %}
            <!-- eslint-disable-next-line vuejs-accessibility/form-control-has-label -->
            <input
                ref="searchInput"
                v-model="searchTerm"
                type="text"
                class="sw-settings-country-new-snippet-modal__input-field"
                :placeholder="$tc('sw-settings-country.detail.placeholderSearchSnippet')"
                :disabled="disabled"
                @input="debouncedSearch"
            >
            {% endblock %}

            {% block sw_flow_trigger_loader %}
            <sw-loader
                v-if="isLoading"
                class="sw-settings-country-new-snippet-modal__loader"
                size="16px"
            />
            {% endblock %}

            {% block sw_flow_trigger_dropdown_icon %}
            <sw-icon
                class="sw-settings-country-new-snippet-modal__search-icon"
                name="regular-search-s"
                small
            />
            {% endblock %}
        </template>
    </sw-contextual-field>

    {% block sw_settings_country_new_snippet_modal_content %}
    <sw-tree
        :sortable="false"
        :items="searchResults"
        :searchable="false"
        :disable-context-menu="true"
        bind-items-to-folder
        :active-tree-item-id="activeFocusId"
        initially-expanded-root
        route-params-active-element-id="snippet"
    >

        {% block sw_settings_country_new_snippet_tree_headline %}
        <template #headline>
            <span></span>
        </template>
        {% endblock %}

        {% block sw_settings_country_new_snippet_search %}
        <template #search>
            <span></span>
        </template>
        {% endblock %}

        <template
            #items="{
                treeItems,
                sortable,
                disableContextMenu,
                onChangeRoute,
                newElementId,
                checkItem,
                checkedItemIds,
                selectedItemsPathIds,
            }"
        >
            <sw-tree-item
                v-for="item in treeItems"
                :key="item.id"
                should-focus
                :item="item"
                :active="item.active"
                :sortable="sortable"
                :on-change-route="onChangeRoute"
                :display-checkbox="false"
                :active-parent-ids="selectedItemsPathIds"
                :active-item-ids="checkedItemIds"
                @check-item="checkItem"
            >

                {% block sw_settings_country_new_snippet_item_actions %}
                <template #actions="{ item }">

                    {% block sw_settings_country_new_snippet_item_actions_add %}
                    <sw-button
                        v-if="item.childCount === 0"
                        @click="addElement(item)"
                    >
                        {{ $tc('sw-settings-country.detail.buttonInsertSnippet') }}
                    </sw-button>
                    {% endblock %}
                </template>
                {% endblock %}
            </sw-tree-item>
        </template>
    </sw-tree>
    {% endblock %}

    {% block sw_settings_country_new_snippet_modal_select_base %}
    <sw-select-base
        class="sw-multi-snippet-select"
        :is-loading="isLoading"
        :error="null"
        v-bind="$attrs"
        v-on="$listeners"
    >
        {% block sw_multi_snippet_drag_and_drop_base %}
        {% block sw_multi_snippet_drag_and_drop_base_selection %}
        <template #sw-select-selection="{ identification, error, disabled, size, expand, collapse }">
            {% block sw_multi_snippet_drag_and_drop_base_selection_slot %}
            <ul
                ref="selectionList"
                class="sw-select-selection-list"
            >
                {% block sw_select_selection_list_item %}
                <!-- eslint-disable vue/no-use-v-if-with-v-for -->
                <li
                    v-for="(snippet, index) in selection"
                    :key="index"
                    class="sw-select-selection-list__item-holder"
                    :class="'sw-select-selection-list__item-holder--' + index"
                    :data-id="snippet['label']"
                >
                    {% block sw_select_selection_list_item_inner %}
                    <slot
                        name="selected-option"
                        v-bind="{ snippet, defaultLabel: snippet['label'], disabled }"
                    >
                        <sw-label
                            :dismissable="true"
                            :size="size"
                            @dismiss="onClickDismiss(index)"
                        >
                            {% block sw_select_selection_list_item_text %}
                            <span class="sw-select-selection-list__item">
                                <slot
                                    name="label-property"
                                    v-bind="{ item: snippet, index }"
                                >
                                    {{ snippet['label'] }}
                                </slot>
                            </span>
                            {% endblock %}
                        </sw-label>
                    </slot>
                    {% endblock %}
                </li>
                {% endblock %}

                {% block sw_select_selection_list_input %}
                <li>
                    <slot name="input">
                        <!-- eslint-disable-next-line vuejs-accessibility/form-control-has-label -->
                        <input
                            class="sw-select-selection-list__input"
                            type="text"
                            :disabled="disabled"
                        >
                    </slot>
                </li>
                {% endblock %}
            </ul>
            {% endblock %}
        </template>
        {% endblock %}
        {% endblock %}
    </sw-select-base>
    {% endblock %}
</sw-modal>
{% endblock %}
