{# @deprecated tag:v6.5.0 - The block content will be deleted and switch to use sw-settings-captcha-v2 #}
{% block sw_settings_captcha_select %}
<div class="sw-settings-captcha-select">
    <sw-multi-select
        ref="component"
        v-model="currentValue"
        :options="captchas"
        v-bind="attributes"
    />
</div>
{% endblock %}
