@import "~scss/variables";

.sw-modal.sw-modal--default.sw-product-modal-delivery {
    .sw-modal__dialog {
        max-width: 1280px;

        .sw-modal__body {
            display: flex;
            padding: 0;
            height: 520px;

            .sw-tabs .sw-tabs__custom-Content {
                padding: var(--scale-size-10) 0;
            }

            .sw-product-modal-delivery__main {
                width: 100%;
            }

            .sw-product-modal-delivery__sidebar {
                padding: var(--scale-size-20) var(--scale-size-30);
                flex-basis: 400px;
                border-right: 1px solid var(--color-gray-300);
            }
        }

        .sw-modal__footer {
            border-top: 1px solid var(--color-gray-300);
        }
    }
}
