<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_cover %}
<div class="sw-cms-block-image-text-cover">
    <slot name="left"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
