@import "~scss/variables";

.sw-product-detail-cross-selling {
    &__context-button {
        float: right;
        padding-bottom: 20px;
    }

    &__add-btn {
        display: block;
        margin: 0 auto;
    }

    .sw-empty-state__description p {
        font-size: $font-size-s;
        margin: 20px 0;
    }

    &__parent-cross-sellings-link {
        margin-bottom: 20px;
    }

    &__inherit-toggle-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 16px;
        font-size: $font-size-xs;
        margin-bottom: 20px;
        color: $color-darkgray-200;

        &.is--inherited {
            color: $color-module-purple-900;
        }
    }

    &__inherit-switch {
        margin: 0 10px 0 0;

        .sw-field--switch__input {
            height: 16px;
            padding: 0;
        }
    }

    &__inheritance-icon {
        margin-right: 8px;
    }
}
