@import "~scss/variables";
@import "~scss/mixins";

$sw-order-line-item-grid-trash: $color-crimson-500;
$sw-order-line-item-border: $color-gray-300;

.sw-order-line-items-grid-sales-channel {
    .mt-card__toolbar {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    &__quantity {
        &::after {
            content: "x";
        }
    }

    .sw-data-grid .sw-data-grid__cell-content {
        height: auto;
    }

    .sw-order-line-items-grid-sales-channel__item-payload-options .sw-product-variant-info {
        white-space: normal;
        text-overflow: unset;
        padding-right: 0;
    }

    .sw-entity-single-select__selection-text .sw-product-variant-info {
        max-width: 280px;
    }

    .icon--regular-chevron-down-xxs {
        padding: 4px;
    }
}
