@import "~less/variables";
@import "~less/mixins";

@sw-metadata-item-caption-color: @color-gutenberg;

.sw-media-quickinfo-metadata-item__term {
    font-size: @font-size-small;
    color: @sw-metadata-item-caption-color;
}

.sw-media-quickinfo-metadata-item__description {
    .truncate();
    font-size: @font-size-small;
}
