<div class="sw-media-quickinfo-metadata-item">
    <dt>
        {{ getLabel }}:
    </dt>
    <dd :title="getValue" ref="value" :data-last-content="lastContent">
        {{ getValue }}
    </dd>
</div>
