@import "~scss/variables";

.sw-plugin-list {
    .sw-plugin-list__plugin-info-container {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }

        .sw-plugin-list__plugin-info {
            display: flex;
            flex-direction: column;

            .sw-plugin-list__author-name {
                color: $color-gray;
                font-size: $font-size-small;
            }
        }
    }

    .sw-plugin-manager__top-actions {
        padding-right: 14px;
    }

    .sw-grid-row {
        align-items: center;
    }

    .sw-plugin-list__sort_field {
        display: flex;
        align-items: center;

        .sw-field__label {
            margin-bottom: 0;
            margin-right: 8px;
        }

        .sw-block-field__block {
            width: 250px;
        }
    }

    .sw-plugin-list__listing {
        border-radius: $border-radius-default;
    }

    .sw-plugin-list__switch-active .sw-field--switch__content {
        background: 0;
    }
}

.sw-plugin-list__uninstall_modal {
    .sw-field .sw-field__label {
        font-size: 16px;
        color: $color-crimson-500;
    }

    .sw-plugin-list__remove_plugin_data_checkbox {
        margin-top: 0.5em;
        margin-bottom: 0;
    }
}
