{% block sw_plugin_list_content %}
    <div class="sw-plugin-list">
        {% block sw_plugin_list_top_actions %}
            <div class="sw-plugin-manager__top-actions">
                {% block sw_plugin_list_top_actions_header %}
                    <h1>{{ $tc('sw-plugin.list.pluginHeader') }}</h1>
                {% endblock %}
                {% block sw_plugin_list_top_actions_sorting %}
                    <div class="sw-plugin-list__action">
                        {% block sw_plugin_list_sort %}
                            <sw-single-select
                                class="sw-plugin-list__sort_field"
                                size="small"
                                :label="$tc('sw-plugin.list.sortLabel')"
                                :options="sortOptions"
                                :value="sorting"
                                @change="sortPluginList">
                            </sw-single-select>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_plugin_list_content %}
            <sw-card :isLoading="isLoading || pageLoading">
                {% block sw_plugin_list_grid %}
                    <template #grid>
                        {% block sw_plugin_list_card_empty_state %}
                        <sw-empty-state
                                v-if="!isLoading && totalPlugins === 0"
                                :title="$tc('sw-plugin.list.messageEmpty')">
                        </sw-empty-state>
                        {% endblock %}

                        <sw-entity-listing v-else
                            class="sw-plugin-list__listing"
                            :repository="pluginRepository"
                            :columns="pluginColumns"
                            :items="plugins"
                            :showSelection="false"
                            :fullPage="false"
                            :showPreviews="true"
                            :sortBy="sortBy"
                            :sortDirection="sortDirection"
                            :compactMode="false">

                            <template #column-label="{ item, compact }" >
                                {% block sw_plugin_list_grid_columns_label_label %}
                                    <sw-plugin-table-entry
                                        :icon="item.icon"
                                        :licenseInformation="getLicenseInformationForPlugin(item)"
                                        :title="item.translated.label"
                                        :subtitle="item.author || ''">
                                    </sw-plugin-table-entry>
                                {% endblock %}
                            </template>

                            <template #column-active="{ item, compact }">
                                {% block sw_plugin_list_grid_columns_activated_label %}
                                    <sw-switch-field
                                        class="sw-plugin-list__switch-active"
                                        v-model="item.active"
                                        :value="item.active"
                                        :label="item.active ? $tc('sw-plugin.list.activated') : $tc('sw-plugin.list.deactivated')"
                                        :disabled="!item.installedAt"
                                        @change="changeActiveState(item, $event)"
                                        v-tooltip="{ disabled: item.installedAt, message: $tc('sw-plugin.list.tooltipActivationDisabled') }">
                                    </sw-switch-field>
                                {% endblock %}
                            </template>

                            <template #actions="{ item }">
                                {% block sw_plugin_list_grid_columns_actions_install %}
                                    <sw-context-menu-item v-if="!item.installedAt" @click="onInstallPlugin(item)">
                                        {{ $tc('sw-plugin.list.contextInstall') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_plugin_list_grid_columns_actions_update %}
                                    <sw-context-menu-item v-if="item.upgradeVersion" @click="onUpdatePlugin(item)">
                                        {{ $tc('sw-plugin.list.contextUpdate') }} {{ item.upgradeVersion }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                <template v-if="item.customFields">
                                    {% block sw_plugin_list_grid_columns_actions_settings %}
                                        <sw-context-menu-item
                                            v-if="item.customFields.configAvailable"
                                            @click="onPluginSettings(item)">

                                            {{ $tc('sw-plugin.list.config') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block sw_plugin_list_grid_columns_actions_description %}
                                        <sw-context-menu-item
                                            v-if="item.description"
                                            @click="onPluginDescription(item)">

                                            {{ $tc('sw-plugin.list.description') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>

                                {% block sw_plugin_list_grid_columns_actions_uninstall %}
                                    <sw-context-menu-item
                                        v-if="item.installedAt"
                                        variant="danger"
                                        @click="onShowUninstallPluginModal(item)">

                                        {{ $tc('sw-plugin.list.contextUninstall') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_plugin_list_grid_columns_actions_delete %}
                                    <sw-context-menu-item
                                        v-if="!item.installedAt"
                                        variant="danger"
                                        @click="onDeletePlugin(item)">

                                        {{ $tc('sw-plugin.list.contextDelete') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </template>

                            <template #action-modals="{ item }">
                                {% block sw_plugin_list_delete_modal %}
                                <sw-modal v-if="showDeleteModal === item.id"
                                          @modal-close="onCloseDeleteModal"
                                          :title="$tc('global.default.warning')"
                                          variant="small">
                                    {% block sw_plugin_list_delete_modal_confirm_delete_text %}
                                    <p class="sw-plugin-list__confirm-delete-text">
                                        {{ $tc('sw-plugin.list.messageDeleteConfirm') }}
                                    </p>
                                    {% endblock %}

                                    {% block sw_plugin_list_delete_modal_footer %}
                                    <template #modal-footer>
                                        {% block sw_plugin_list_delete_modal_cancel %}
                                        <sw-button @click="onCloseDeleteModal" size="small">
                                            {{ $tc('global.default.cancel') }}
                                        </sw-button>
                                        {% endblock %}

                                        {% block sw_plugin_list_delete_modal_confirm %}
                                        <sw-button @click="onConfirmDelete(item)" variant="primary" size="small">
                                            {{ $tc('global.default.delete') }}
                                        </sw-button>
                                        {% endblock %}
                                    </template>
                                    {% endblock %}
                                </sw-modal>
                                {% endblock %}
                                {% block sw_plugin_list_uninstall_modal %}
                                <sw-modal v-if="showUninstallModal === item.id"
                                          @modal-close="onCloseUninstallModal"
                                          :title="$tc('sw-plugin.list.titleUninstallConfirm')"
                                          :isLoading="isLoading"
                                          variant="small"
                                          class="sw-plugin-list__uninstall_modal">
                                    {% block sw_plugin_list_uninstall_modal_confirm_uninstall_text %}
                                    <p class="sw-plugin-list__confirm-uninstall-text">
                                        {{ $tc('sw-plugin.list.messageUninstallConfirm', 0, { pluginName: item.translated.label }) }}
                                    </p>
                                    {% endblock %}

                                    <p>
                                        <sw-switch-field
                                            v-model="removePluginData"
                                            :label="$tc('sw-plugin.list.labelRemovePluginData')"
                                            :helpText="$tc('sw-plugin.list.helpTextRemovePluginData')"
                                            class="sw-plugin-list__remove_plugin_data_checkbox">
                                        </sw-switch-field>
                                    </p>

                                    {% block sw_plugin_list_uninstall_modal_footer %}
                                    <template #modal-footer>
                                        {% block sw_plugin_list_uninstall_modal_cancel %}
                                        <sw-button @click="onCloseUninstallModal" size="small">
                                            {{ $tc('global.default.cancel') }}
                                        </sw-button>
                                        {% endblock %}

                                        {% block sw_plugin_list_uninstall_modal_uninstall %}
                                        <sw-button @click="onUninstallPlugin(item)" variant="primary" size="small">
                                            {{ $tc('sw-plugin.list.labelUninstallButton') }}
                                        </sw-button>
                                        {% endblock %}
                                    </template>
                                    {% endblock %}
                                </sw-modal>
                                {% endblock %}
                            </template>
                        </sw-entity-listing>
                    </template>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
