@import "~scss/variables";

.sw-cms-el-form {
    width: 100%;
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        pointer-events: all;
        cursor: not-allowed;
    }

    .sw-cms-el-form-headline {
        border-bottom: 1px solid $color-gray-300;
        padding-bottom: 10px;
    }

    .sw-cms-el-form-note {
        font-size: $font-size-xs;
    }

    .sw-cms-el-form__action {
        float: right;
        padding: 3px 15px;
        background: $color-gray-300;
        color: $color-darkgray-200;
        text-align: center;
        line-height: 26px;
        border-radius: 3px;
    }

    .sw-cms-el-form-contact-form-group {
        display: flex;
        justify-content: space-between;

        &.three-items > * {
            width: calc(33% - 15px);
        }

        &.two-items > * {
            width: calc(50% - 15px);
        }
    }
}
