.sw-breadcrumb__list {
    margin-bottom: 0;
}

.sw-breadcrumb__link {
    color: var(--bs-body-color);
    font-size: var(--bs-body-font-size);

    &:hover {
        color: var(--bs-primary);
        text-decoration: none;
    }

    &.is--active {
        color: var(--bs-primary);
        font-weight: 700;
    }
}
