<div class="sw-settings-import-export-exporter">
    <h3>
        <strong>{{  $tc('sw-settings-import-export.importer.selectProfileLabel')  }}</strong>
    </h3>

    <sw-entity-single-select
        :disabled="isLoading"
        :label="$tc('sw-settings-import-export.importer.profileLabel')"
        entity="import_export_profile"
        v-model="selectedProfileId"
        required>
    </sw-entity-single-select>

    <sw-settings-import-export-progress
        activityType="export"
        :offset="this.progressOffset"
        :total="this.progressTotal"
        :logEntry="this.progressLogEntry"
        :state="this.progressState"
        :isLoading="isLoading"
        :disableButton="disableExporting"
        @process-start="onStartProcess">
    </sw-settings-import-export-progress>

</div>
