<div class="sw-settings-import-export-exporter">
    <h3>
        {{  $tc('sw-settings-import-export.importer.selectProfileLabel')  }}
    </h3>

    <sw-entity-single-select
        :disabled="isLoading"
        :label="$tc('sw-settings-import-export.importer.profileLabel')"
        entity="import_export_profile"
        v-model="selectedProfileId"
        required>
    </sw-entity-single-select>

    <sw-settings-import-export-progress
        activityType="export"
        :offset="progressOffset"
        :total="progressTotal"
        :logEntry="progressLogEntry"
        :state="progressState"
        :isLoading="isLoading"
        :disableButton="disableExporting"
        @process-start="onStartProcess">
    </sw-settings-import-export-progress>

</div>
