{% block sw_cms_create_wizard %}
<div class="sw-cms-create-wizard">
    <div class="sw-cms-create-wizard-inner">

        {% block sw_cms_create_wizard_first_step %}
        <div
            v-if="step === 1"
            class="sw-cms-create-wizard__step-1"
        >
            <h2 class="sw-cms-create-wizard__title">
                {{ $tc('sw-cms.createWizard.choosePageTypeTitle') }}
            </h2>

            {% block sw_cms_create_wizard_page_type %}
            <div class="sw-cms-create-wizard__page-type-selection">
                {% block sw_cms_create_wizard_page_type_options %}

                {% block sw_cms_create_wizard_page_type_options_page %}
                <div
                    class="sw-cms-create-wizard__page-type"
                    @click="onPageTypeSelect('page')"
                >
                    <sw-icon
                        name="default-object-lightbulb"
                        size="24"
                    />
                    <p>{{ $tc('sw-cms.detail.label.pageTypeShopPage') }}</p>
                </div>
                {% endblock %}

                {% block sw_cms_create_wizard_page_type_options_landing_page %}
                <div
                    class="sw-cms-create-wizard__page-type"
                    @click="onPageTypeSelect('landingpage')"
                >
                    <sw-icon
                        name="default-web-dashboard"
                        size="24"
                    />
                    <p>{{ $tc('sw-cms.detail.label.pageTypeLandingpage') }}</p>
                </div>
                {% endblock %}

                {% block sw_cms_create_wizard_page_type_options_product_list %}
                <div
                    class="sw-cms-create-wizard__page-type"
                    @click="onPageTypeSelect('product_list')"
                >
                    <sw-icon
                        name="default-shopping-basket"
                        size="24"
                    />
                    <p>{{ $tc('sw-cms.detail.label.pageTypeCategory') }}</p>
                </div>
                {% endblock %}

                {% block sw_cms_create_wizard_page_type_options_product_detail %}
                <div
                    class="sw-cms-create-wizard__page-type"
                    @click="onPageTypeSelect('product_detail')"
                >
                    <sw-icon
                        name="default-action-tags"
                        size="24"
                    />
                    <p>{{ $tc('sw-cms.detail.label.pageTypeProduct') }}</p>
                </div>
                {% endblock %}
                {% endblock %}
            </div>
            {% endblock %}

            {% block sw_cms_create_wizard_first_step_abort %}
            <router-link
                class="sw-cms-create-wizard__back"
                :to="{ name: 'sw.cms.index' }"
            >
                <sw-icon
                    name="small-default-x-line-medium"
                    small
                /> {{ $tc('sw-cms.createWizard.abortCreation') }}
            </router-link>
            {% endblock %}

            {% block sw_cms_create_wizard_first_step_helptext %}
            <p class="sw-cms-create-wizard__step1-helptext">
                {{ $tc('sw-cms.createWizard.choosePageTypeHelpText') }}
            </p>
            {% endblock %}

        </div>
        {% endblock %}

        {% block sw_cms_create_wizard_second_step %}
        <div
            v-if="step === 2"
            class="sw-cms-create-wizard__step-2"
        >
            <h2 class="sw-cms-create-wizard__title">
                {{ $tc('sw-cms.createWizard.chooseSectionTitle') }}
            </h2>

            {% block sw_cms_create_wizard_section %}
            <div class="sw-cms-create-wizard__section-selection">
                <sw-cms-stage-section-selection @section-select="onSectionSelect" />
            </div>
            {% endblock %}

            {% block sw_cms_create_wizard_second_step_back %}
            <div
                class="sw-cms-create-wizard__back"
                @click="goToStep('pageType')"
            >
                <sw-icon
                    name="default-arrow-simple-left"
                    small
                /> {{ $tc('sw-cms.createWizard.stepBack') }}
            </div>
            {% endblock %}

            {% block sw_cms_create_wizard_second_step_helptext %}
            <p class="sw-cms-create-wizard__step2-helptext">
                {{ $tc('sw-cms.createWizard.chooseSectionHelpText') }}
            </p>
            {% endblock %}
        </div>
        {% endblock %}

        {% block sw_cms_create_wizard_third_step %}
        <div
            v-if="step === 3"
            class="sw-cms-create-wizard__step-3"
        >
            <h2 class="sw-cms-create-wizard__title">
                {{ $tc('sw-cms.createWizard.chooseNameTitle') }}
            </h2>

            <div class="sw-cms-create-wizard__name-select">
                {% block sw_cms_create_wizard_page_preview %}
                <div class="sw-cms-create-wizard__page-preview">
                    <div
                        class="sw-cms-create-wizard__preview_image"
                        :style="pagePreviewStyle"
                    ></div>
                    <div class="sw-cms-create-wizard__preview_info">
                        <sw-icon
                            :name="getPageIconName()"
                            size="16"
                        />
                        <p>{{ getPageTypeName() }}</p>
                    </div>
                </div>
                {% endblock %}

                {% block sw_cms_create_wizard_page_completion %}
                <div class="sw-cms-create-wizard__page-completion">

                    {% block sw_cms_create_wizard_page_name %}
                    <sw-field
                        v-model="page.name"
                        type="text"
                        :label="$tc('sw-cms.detail.label.pageName')"
                        :placeholder="$tc('sw-cms.detail.label.pageName')"
                        @keypress.enter="onCompletePageCreation"
                    />
                    {% endblock %}

                    {% block sw_cms_create_wizard_page_completion_buttons %}
                    <div class="sw-cms-create-wizard__page-completion-buttons">
                        {% block sw_cms_create_wizard_page_completion_save_button %}
                        <sw-button
                            variant="primary"
                            :disabled="!page.name"
                            @click="onCompletePageCreation"
                        >
                            {{ $tc('sw-cms.createWizard.createLayout') }}
                        </sw-button>
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
                {% endblock %}
            </div>

            {% block sw_cms_create_wizard_third_step_back %}
            <div
                class="sw-cms-create-wizard__back"
                @click="goToStep('sectionType')"
            >
                <sw-icon
                    name="default-arrow-simple-left"
                    small
                /> {{ $tc('sw-cms.createWizard.stepBack') }}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
