{% sw_extends '@Storefront/frontend/account/index.html.twig'%}
{% trans_default_domain 'frontend/account/payment' %}

{# Breadcrumb #}
{% block frontend_index_start %}
    {#{{ parent() }}#}
    {#{$sBreadcrumb[] = ['name'=>"{s name='ChangePaymentTitle'}{/s}", 'link'=>{url}]}#}
    {#{$sActiveAction = 'payment'}#}
{% endblock %}

{# Main content #}
{% block frontend_index_content %}
    <div class="account--change-payment account--content register--content" data-register="true">

        {# Payment headline #}
        {% block frontend_account_payment_headline %}
            <div class="account--welcome">
                <h1 class="panel--title">{% trans %}PaymentHeadline{% endtrans %}</h1>
            </div>
        {% endblock %}

        {# Payment form #}
        {% block frontend_account_payment_content %}
            <div class="panel has--border is--rounded">
                {# Error messages #}
                {% block frontend_account_error_messages %}
                    {#{include file="frontend/register/error_message.tpl" error_messages=$sErrorMessages}#}
                {% endblock %}

                {# Payment form #}
                {% block frontend_account_payment_form %}
                    <div class="account--payment-form">
                        {#<form name="frmRegister" method="post" action="{url action=savePayment sTarget=$sTarget sTargetAction=$sTargetAction|default:"index"}" class="payment">#}
                        <form name="frmRegister" method="post" action="{{ path('account_save_payment') }}" class="payment">

                            {# Payment fieldset #}
                            {% block frontend_account_payment_form_content %}
                                {% include '@Storefront/frontend/register/payment_fieldset.html.twig' %}
                                {#{include file='frontend/register/payment_fieldset.tpl' form_data=$sFormData error_flags=$sErrorFlag payment_means=$sPaymentMeans}#}
                            {% endblock %}

                            {# Payment actions #}
                            {% block frontend_account_payment_action_buttons %}
                                <div class="account--actions">
                                    {#{% block frontend_account_payment_action_button_back %}#}
                                        {#{if $sTarget}#}
                                            {#<a class="btn is--secondary left" href="{url controller=$sTarget action=$sTargetAction|default:"index"}" title="{"{s name='PaymentLinkBack'}{/s}"|escape}">#}
                                                {#{s name="PaymentLinkBack"}{/s}#}
                                            {#</a>#}
                                        {#{% endif %}#}
                                    {#{% endblock %}#}
                                    {% block frontend_account_payment_action_button_send %}
                                        <input type="submit" value="{% trans %}PaymentLinkSend{% endtrans %}" class="btn is--primary register--submit right" />
                                    {% endblock %}
                                </div>
                            {% endblock %}

                        </form>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}

    </div>
{% endblock %}