<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_promotion_v2_wizard_description %}
<p class="sw-promotion-v2-wizard-description">
    <slot>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_wizard_description_slot_default %}{% endblock %}
    </slot>
</p>
{% endblock %}
