@import "~scss/variables";

$content-max-width: 960px;

.sw-dashboard-statistics {
    &__card-headline {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: $content-max-width;
        margin: 0 auto;
        padding-top: var(--scale-size-32);
        padding-bottom: var(--scale-size-16);

        h1 {
            color: var(--color-text-primary-default);
            font-size: var(--font-size-m);
            line-height: var(--font-line-height-m);
            font-weight: var(--font-weight-regular);
            margin-bottom: 0;
        }

        &-timerange {
            color: var(--color-text-primary-default);
        }
    }

    &__intro-stats-today {
        &-stats {
            display: flex;
            justify-content: center;
            padding: 40px 20px;
            border-bottom: 1px solid var(--color-border-primary-default);
        }

        &-single-stat {
            display: flex;
            margin-right: 40px;

            &-number-type {
                font-size: var(--font-size-m);
                color: var(--color-text-secondary-default);
                margin-top: var(--scale-size-10);
                margin-right: var(--scale-size-10);
            }

            &-number-value {
                font-size: $font-size-3xl;
            }
        }
    }

    &__title {
        font-weight: var(--font-weight-semibold);
    }

    &__help-text {
        margin-left: var(--scale-size-8);
    }

    .sw-block-field__block {
        height: auto;
    }
}
