<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_sdk_module %}
<sw-page :show-search-bar="showSearchBar">
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_sdk_module_header %}
        <template v-if="!isLoading">
            <h2>{{ module.heading }}</h2>
        </template>
        {% endblock %}
    </template>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_sdk_module_smart_bar_buttons %}
    <template #smart-bar-actions>
        <sw-button
            v-for="button in smartBarButtons"
            :id="button.buttonId"
            :key="button.buttonId"
            :disabled="button.disabled"
            :variant="button.variant"
            @click="button.onClickCallback"
        >
            {{ button.label }}
        </sw-button>
    </template>
    {% endblock %}

    <template #content>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_sdk_module_content %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_sdk_module_content_iframe_renderer %}
        <sw-iframe-renderer
            v-if="!isLoading"
            ref="iframeRenderer"
            :src="module.baseUrl"
            :location-id="module.locationId"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_sdk_module_content_loader %}
        <sw-loader v-else-if="!timedOut" />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_sdk_module_content_error_state %}
        <sw-my-apps-error-page v-if="timedOut" />
        {% endblock %}
        {% endblock %}
    </template>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_sdk_module_language_switch %}
    <template
        v-if="showLanguageSwitch"
        #language-switch
    >
        <sw-language-switch
            :change-global-language="true"
            @on-change="onChangeLanguage"
        />
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
