@import "~scss/variables";

.sw-external-link {
    display: inline-flex;
    align-items: center;
    color: var(--color-text-brand-default);
    font-size: var(--font-size-xs);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: var(--color-text-brand-hover);
    }

    &:focus-visible {
        outline: var(--scale-size-2) solid var(--color-border-brand-selected);
        outline-offset: var(--scale-size-2);
        border-radius: var(--border-radius-xs);
    }

    &__icon {
        margin-left: var(--scale-size-4);
    }

    &--small {
        font-size: var(--font-size-xs);

        .sw-external-link__icon {
            margin-left: var(--scale-size-2);
        }
    }
}

a[target="_blank"].sw-external-link:not(.mt-external-link, .mt-internal-link, .mt-button)::after {
    content: none;
}
