@import "~scss/variables";

.mt-select-result-list-popover-wrapper {
    .mt-select-result__result-item-text {
        flex-direction: row;
        gap: 8px;
    }

    &__length-unit-short-name,
    &__mass-unit-short-name {
        color: $color-gray-500;
    }

    .mt-select-result > .mt-icon {
        width: 12px;
        height: 12px;
        color: $color-gray-500;
    }
}
