@import "~scss/variables";

.sw-cms-sidebar__block-preview .sw-cms-block-preview-product-description-reviews {
    color: var(--color-text-primary-default);
    padding: 10px;

    &__tabs {
        display: flex;
        margin: 0 0 10px;
    }

    &__tab-description,
    &__tab-reviews {
        font-size: $font-size-xs;
        color: var(--color-text-secondary-default);
        border-bottom: 1px solid var(--color-border-primary-default);
        margin: auto 10px auto 0;
        padding: 0 0 5px;
    }

    &__tab-description {
        color: var(--color-text-primary-default);
        border-bottom: 1px solid var(--color-border-primary-default);
    }

    &__content {
        font-size: $font-size-xxs;
        color: var(--color-text-primary-default);
    }
}
