<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_product_description_reviews_preview %}
<div class="sw-cms-block-preview-product-description-reviews">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_product_description_reviews_preview_tabs %}
    <div class="sw-cms-block-preview-product-description-reviews__tabs">
        <p class="sw-cms-block-preview-product-description-reviews__tab-description">
            {{ $tc('sw-cms.blocks.commerce.productDescriptionReviews.preview.label.description') }}
        </p>
        <p class="sw-cms-block-preview-product-description-reviews__tab-reviews">
            {{ $tc('sw-cms.blocks.commerce.productDescriptionReviews.preview.label.reviews') }}
        </p>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_product_description_reviews_preview_content %}
    <p class="sw-cms-block-preview-product-description-reviews__content">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
        ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.
    </p>
    {% endblock %}
</div>
{% endblock %}
