<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_boolean_filter %}
<div class="sw-boolean-filter">
    <sw-base-filter
        :title="filter.label"
        :show-reset-button="!!value"
        :active="active"
        @filter-reset="resetFilter"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_boolean_filter_content %}
        <sw-select-field
            :value="value"
            :placeholder="filter.placeholder"
            @update:value="changeValue"
        >
            <option :value="'true'">
                {{ $tc('sw-boolean-filter.active') }}
            </option>
            <option :value="'false'">
                {{ $tc('sw-boolean-filter.inactive') }}
            </option>
        </sw-select-field>
        {% endblock %}
    </sw-base-filter>
</div>
{% endblock %}
