.sw-product-measurement-form {
    &__description-group p {
        margin-bottom: 32px;
        color: var(--color-text-primary-default);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 20px;
    }

    &__description-group a.sw-internal-link {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: 20px;
    }
}
