@import "~scss/variables";

.sw-cms-page-form {
    .sw-cms-page-form__element-config {
        margin-bottom: 22px;
        border-bottom: 1px solid $color-steam-cloud;

        #{$dark-theme-class} & {
            border-bottom: 1px solid lighten($color-steam-cloud, $dark-theme-contrast-factor);
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0 none;
        }
    }

    .sw-cms-page-form__language-warning {
        max-width: 800px;
        margin: auto;
    }
}
