{% block sw_cms_page_form %}
    <div class="sw-cms-page-form">

        {% block sw_cms_page_form_content %}
            <template v-for="block in page.blocks">

                {% block sw_cms_page_form_card %}
                    <sw-card class="sw-cms-page-form__block-card" :title="getBlockTitle(block)" :key="block.id">

                        {% block sw_cms_page_form_card_content %}
                            <div class="sw-cms-page-form__element-config" v-for="element in block.slots">

                                {% block sw_cms_page_form_element_config %}
                                    <component :is="cmsElements[element.type].configComponent" :element="element"></component>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </sw-card>
                {% endblock %}
            </template>
        {% endblock %}
    </div>
{% endblock %}
