.sw-settings-custom-field-set-create__custom-fields-card {
    .sw-settings-custom-field-set-create__custom-fields-empty-state {
        align-self: start;
        min-height: 180px;
        padding: 24px 30px;
    }

    .mt-empty-state__description {
        max-width: 560px;
        overflow-wrap: break-word;
    }
}
