.sw-admin-menu {
  padding: var(--scale-size-20);
  min-width: 280px;
  display: flex;
  flex-direction: column;
  row-gap: var(--scale-size-16);
}

.sw-admin-menu__header {
  display: flex;
  column-gap: var(--scale-size-12);
  align-items: center;
}

.sw-admin-menu__navigation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--scale-size-16);
}

.sw-admin-menu__modules {
  list-style: none;
  margin-inline-start: calc(var(--scale-size-10) * -1);
}

.sw-admin-menu__nav-item {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
  font-weight: var(--font-weight-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--scale-size-10);
  color: var(--color-text-primary-default);
  min-height: var(--scale-size-36);
  border-radius: var(--border-radius-xs);
  padding-inline-start: var(--scale-size-10);
  padding-inline-end: var(--scale-size-16);
  text-decoration: none;

  &:focus-visible {
    outline-offset: var(--scale-size-2);
    outline-width: var(--scale-size-2);
    outline-color: var(--color-border-brand-selected);
  }

  &:hover {
    background-color: #fff;
  }

  &:active {
    background-color: #F2F3F8;
  }
}

.sw-admin-menu__sales-channel-list {
  list-style: none;
  margin-inline-start: calc(var(--scale-size-10) * -1);
}

.sw-admin-menu__sales-channel-heading {
  min-height: var(--scale-size-36);
  display: flex;
  align-items: center;
}

.sw-admin-menu__sales-channel {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
  color: var(--color-text-primary-default);
  font-weight: var(--font-weight-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--scale-size-10);
  min-height: var(--scale-size-36);
  text-decoration: none;
  border-radius: var(--border-radius-xs);
  padding-inline-start: var(--scale-size-10);
  padding-inline-end: var(--scale-size-16);

  &:focus-visible {
    outline-offset: var(--scale-size-2);
    outline-width: var(--scale-size-2);
    outline-color: var(--color-border-brand-selected);
  }

  &:hover {
    background-color: #fff;
  }

  &:active {
    background-color: #F2F3F8;
  }
}

.sw-admin-menu__dark-mode-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sw-admin-menu__dark-mode-experimental-badge {
  background-color: var(--color-background-attention-default);
  color: var(--color-text-primary-default);
  border-radius: var(--border-radius-xs);
  padding: var(--scale-size-2) var(--scale-size-6);
  line-height: var(--font-line-height-2xs);
  font-size: var(--font-size-2xs);
}