{% block sw_multi_select_selection_item_text %}
    <span class="sw-multi-select__selection-item">
        <slot name="labelProperty" :item="selection">
            {{ selection.salesChannel.translated.name }}
        </slot>
    </span>
{% endblock %}