.sw-cms-preview-youtube-video {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    &__img {
        width: 100%;
        height: auto;
    }

    &__icon {
        $icon-heigth: 50px;

        height: $icon-heigth;
        position: absolute;
    }
}
