.sw-field.sw-field--select {
    .sw-block-field__block {
        width: 100%;
        position: relative;

        .sw-field--select__options {
            display: block;
            position: absolute;
            top: calc(50% - 10px);
            right: 12px;
            text-align: center;
            color: var(--color-icon-primary-default);
            pointer-events: none;

            .mt-icon {
                width: 16px;
                height: 16px;
                padding-top: 6px;
                padding-right: 3px;
                padding-bottom: 4px;
                padding-left: 3px;
            }
        }
    }

    &.sw-field--select-aside {
        display: inline-grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 8px;
        align-items: center;

        .sw-field__label {
            text-align: right;
            margin-bottom: 0;
        }
    }

    .sw-field--select__placeholder-option {
        color: var(--color-text-secondary-default);
    }

    select {
        padding-right: 30px;

        option {
            color: var(--color-text-primary-default);
            background-color: var(--color-background-primary-default);
        }

        option:disabled {
            color: var(--color-text-primary-disabled);
        }

        &.is--placeholder {
            color: var(--color-text-secondary-default);
        }
    }

    .sw-field--select__load-placeholder {
        height: 45px;
        border-radius: var(--border-radius-xs);
        border: 1px solid var(--color-border-primary-default);
        background: var(--color-background-primary-default);
        appearance: none;
        user-select: none;
        position: relative;
    }

    .sw-field--select__loader {
        background: none;
    }
}
