{% sw_extends '@Storefront/base/header/header.html.twig' %}

{% block base_header %}
    <header class="header-minimal">
        {% block base_header_minimal_inner %}
            <div class="container">
                {% block base_header_minimal_row %}
                    <div class="row header-row header-minimal-row">
                        {% block base_header_minimal_logo %}
                            <div class="col-6 col-md-auto header-minimal-logo">
                                {% sw_include '@Storefront/base/header/logo.html.twig' %}
                            </div>
                        {% endblock %}

                        {% block base_header_minimal_contact %}
                            <div class="header-minimal-contact">
                                {{ "header.supportInfo"|trans|raw }}
                            </div>
                        {% endblock %}

                        {% block base_header_minimal_switch %}
                            <div class="col-6 col-md-auto header-minimal-home">
                                <a class="btn btn-light btn-sm header-minimal-home-btn"
                                   href="{{ path('frontend.home.page') }}"
                                   title="{{ "header.logoLink"|trans }}">
                                    {{ "header.logoLink"|trans }}
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </header>
{% endblock %}
