{% block base_header %}
    {% block base_top_bar %}
        {% sw_include '@Storefront/base/header/top-bar.html.twig' %}
    {% endblock %}

    {% block base_header_navigation %}
        <div class="row header-row">
            {% block base_header_logo %}
                <div class="col-12 col-md-auto header-logo-col">
                    {% sw_include '@Storefront/base/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {% block base_header_search %}
                <div class="col-12 col-md header-search-col">
                    {% sw_include '@Storefront/base/header/search.html.twig' %}
                </div>
            {% endblock %}

            {% block base_header_actions %}
                <div class="col-12 col-md-auto header-actions-col">
                    {% block base_header_main_navigation_toggle %}
                        <div class="nav-main-toggle">
                            {% block base_header_main_navigation_toggle_button %}
                                <button class="btn btn-light nav-main-toggle-btn header-actions-btn"
                                        type="button"
                                        data-offcanvas-menu="true"
                                        aria-label="{{ "general.menuLink"|trans }}">
                                    <i class="fas fa-bars"></i>
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block base_header_search_toggle %}
                        <div class="search-toggle">
                            <button class="btn btn-light search-toggle-btn header-actions-btn collapsed"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#searchCollapse"
                                    aria-expanded="false"
                                    aria-controls="searchCollapse"
                                    aria-label="{{ "header.searchButton"|trans }}">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    {% endblock %}

                    {% block base_header_actions_account %}
                        <div class="account-widget">
                            {% sw_include '@Storefront/base/header/actions/account-widget.html.twig' %}
                        </div>
                    {% endblock %}

                    {% block base_header_actions_cart %}
                        <div class="cart-widget" data-cart-mini="true">
                            {% sw_include '@Storefront/base/header/actions/cart-widget.html.twig' %}
                        </div>
                    {% endblock %}

                    {% block base_header_tablet_main_navigation_toggle_button %}
                        <div class="menu-button">
                            {% block base_header_tablet_main_navigation_toggle_button_inner %}
                                <button class="btn btn-light nav-main-toggle-btn header-actions-btn" type="button"
                                        data-offcanvas-menu="true" aria-label="{{ "general.menuLink"|trans }}">
                                    {% block base_header_tablet_main_navigation_toggle_button_icon %}
                                        <i class="fas fa-bars"></i>
                                    {% endblock %}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
