{% block base_header_search %}
    <form class="header-search">
        <div class="input-group">
            {% block base_header_search_input %}
                <input type="text" class="form-control" placeholder="{{ "header.searchPlaceholder"|trans }}">
            {% endblock %}

            {% block base_header_search_button %}
                <div class="input-group-append">
                    <button type="button" class="btn btn-light"><i class="fas fa-search fa-lg"></i></button>
                </div>
            {% endblock %}
        </div>
    </form>
{% endblock %}
