{% block base_header_search %}
    <div class="header-search">
        <form action="{{ path('frontend.search.page') }}"
              method="get"
              data-url="{{ path('frontend.search.suggest') }}?search="
              class="search-form">

            {% block base_header_search_input %}
                <input type="search"
                       name="search"
                       class="form-control"
                       autocomplete="off"
                       autocapitalize="off"
                       placeholder="{{ "header.searchPlaceholder"|trans }}"
                       maxlength="30">
            {% endblock %}

            {% block base_header_search_button %}
                <button type="submit"
                        class="btn btn-light">
                    <i class="fas fa-search fa-lg"></i>
                </button>
            {% endblock %}
        </form>
    </div>
{% endblock %}
