{% block base_header_top_bar %}
	<div class="top-bar">
		<nav class="top-bar-navigation">
			{% block base_header_top_bar_language %}
				{% sw_include '@Storefront/base/header/actions/language-widget.html.twig' %}
			{% endblock %}

			{% block base_header_top_bar_currency %}
				{% sw_include '@Storefront/base/header/actions/currency-widget.html.twig' %}
			{% endblock %}

			{% block base_header_top_bar_service %}
				{% sw_include '@Storefront/base/header/actions/service-menu-widget.html.twig' %}
			{% endblock %}
		</nav>
	</div>
{% endblock %}
