@import "~scss/variables";

$sw-promotion-list-color-error: $color-crimson;
$sw-promotion-list-color-success: $color-emerald;

.sw-promotion-list {
    .sw-promotion-list__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .is--inactive {
        color: $sw-promotion-list-color-error;

        #{$dark-theme-class} & { 
            color: lighten($sw-promotion-list-color-error, $dark-theme-contrast-factor);
        }
    }

    .is--active {
        color: $sw-promotion-list-color-success;

        #{$dark-theme-class} & { 
            color: lighten($sw-promotion-list-color-success, $dark-theme-contrast-factor);
        }
    }
}