@import "~scss/variables";

.sw-order-detail-state-card {
    font-size: $font-size-xs;

    &__divider {
        margin: 32px 0;
        border: none;
        height: 1px;
        background-color: $color-gray-300;
    }

    &__content {
        column-gap: 32px;
        margin-bottom: -16px;
    }

    &__state-container > * {
        margin-top: auto;
    }

    &__state-history-text {
        color: $color-gray-500;
    }

    &__state-history-text,
    &__state-history-button {
        margin-bottom: 6px;
    }

    &__state-history-button {
        text-align: right;
    }
}
