/*
Offcanvas cart
==============================================
Custom skin styling for the cart offcanvas.
*/

.offcanvas-cart-header-count {
    color: $text-muted;
    font-weight: $font-weight-bold;
}

.offcanvas-cart-tax {
    color: $text-muted;
}
