<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_step_display %}
<div class="sw-step-display">
    <slot>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_step_display_slot %}
        {% endblock %}
    </slot>
</div>
{% endblock %}
