{% block sw_settings_storefront %}
<div class="sw-settings-storefront-configuration">
    {% block sw_settings_storefront_settings_icon_cache %}
    <sw-switch-field
        {% if VUE3 %}
        v-model:value="storefrontSettings['core.storefrontSettings.iconCache']"
        {% else %}
        v-model="storefrontSettings['core.storefrontSettings.iconCache']"
        {% endif %}
        :label="$tc('sw-settings-storefront.configuration.iconCache')"
        v-tooltip.top="{
                        message: $tc('sw-settings-storefront.configuration.iconCacheToolTip'),
                        showOnDisabledElements: true
                    }"
    />
    {% endblock %}
    {% block sw_settings_storefront_settings_theme_async %}
        <sw-switch-field
            v-if="feature.isActive('ASYNC_THEME_COMPILATION')"
            v-model="storefrontSettings['core.storefrontSettings.asyncThemeCompilation']"
            :label="$tc('sw-settings-storefront.configuration.theme.async')"
            v-tooltip.top="{
                        message: $tc('sw-settings-storefront.configuration.theme.asyncTooltip'),
                        showOnDisabledElements: true
                    }"
        />
    {% endblock %}
</div>
{% endblock %}
