{% block sw_drop_zone %}
    <div class="sw-product-file-upload">
        <label>
            <h3>Produktfotos</h3>
        </label>
        <input class="sw-product-file-upload__file-input" type="file" id="files" ref="fileInput" accept="image/*" multiple @change="handleFileUploads"/>
        {% block sw_product_media_upload_button %}
            <div class="sw-product-file-upload__dropzone">
                <sw-button class="sw-product-file-upload__upload-button" @click="addFiles" variant="primary">
                    {{ $tc('sw-product.file-upload.buttonUpload') }}
                </sw-button>
            </div>
        {% endblock %}
        {% block sw_product_media_grid %}
            <div class="sw-product-file-upload__grid">
                {%  block sw_media_grid_items %}
                    <sw-image v-for="mediaItem in mediaItems"
                              @sw-image-delete="removeFile( mediaItem.mediaId )"
                              @sw-image-cover="markMediaAsCover( mediaItem )"
                              :key="mediaItem.mediaId"
                              :ref="'image' + mediaItem.mediaId"
                              :isCover="isCover(mediaItem)"
                              :altText="mediaItem.media.name"
                              :url="getPreviewForMedia(mediaItem.media)"
                              :downloadable="true"></sw-image>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
