{% block sw_condition_value_content %}
<div class="sw-condition-payment-method sw-condition__condition-value">
    {% block sw_condition_payment_method_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_payment_method_field_payment_method_ids %}
    <sw-entity-multi-select
        size="medium"
        entity="payment_method"
        :entity-collection="paymentMethods"
        :disabled="disabled"
        label-property="distinguishableName"
        @change="setPaymentMethodIds"
    />
    {% endblock %}
</div>
{% endblock %}
