<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_promotion_detail_restrictions %}
<div class="sw-promotion-detail-restrictions">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_detail_restrictions_persona_rule_form %}
    <sw-promotion-persona-form v-bind="$attrs" />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_detail_restrictions_scope_rule_form %}
    <sw-promotion-cart-condition-form v-bind="$attrs" />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_detail_restrictions_discount_rule_form %}
    <sw-promotion-order-condition-form v-bind="$attrs" />
    {% endblock %}
</div>
{% endblock %}
