<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bulk_edit_save_modal_confirm %}
<div class="sw-bulk-edit-save-modal-confirm">
    <p class="sw-bulk-edit-save-modal__help-text">
        {{ $tc('sw-bulk-edit.modal.confirm.description', itemTotal, {itemCount: itemTotal}) }}
    </p>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_save_modal_confirm_trigger_flows %}
    <div
        v-if="triggeredFlows.length > 0"
        class="sw-bulk-edit-save-modal-confirm__trigger-flows"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_save_modal_confirm_trigger_flows_switch %}
        <sw-field
            v-if="!bulkEditData?.statusMails?.isChanged"
            v-model="isFlowTriggered"
            type="switch"
            name="sw-bulk-edit-save-modal-confirm-trigger-flows-switch"
            class="sw-bulk-edit-save-modal-confirm__trigger-flows-switch"
            :label="$tc('sw-bulk-edit.modal.confirm.switchLabel')"
            :help-text="$tc('sw-bulk-edit.modal.confirm.switchHelpText')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_save_modal_confirm_trigger_flows_alert %}
        <sw-alert
            v-show="isFlowTriggered"
            class="sw-bulk-edit-save-modal-confirm__trigger-flows-alert"
        >
            <p>{{ $tc('sw-bulk-edit.modal.confirm.alertTitle') }}</p>
            <span>{{ triggeredFlows.join(', ') }}</span>
        </sw-alert>
        {% endblock %}
    </div>
    {% endblock %}

    <sw-alert
        variant="warning"
        class="sw-bulk-edit-save-modal__warning"
    >
        {{ $tc('sw-bulk-edit.modal.warningText') }}
    </sw-alert>
</div>
{% endblock %}
