{% extends "base.html.twig" %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Install Shopware</h5>

            <p>
                This will install Shopware 6 into the directory named <strong>shopware</strong>.
            </p>

            <div class="alert alert-info" role="alert">
                After installation you should switch your Document Root to the new created <strong>shopware</strong> directory.
            </div>

            <button class="btn btn-primary" id="install-start">Install</button>
        </div>
    </div>

    <div class="card mt-4" id="install-log-card" style="display: none">
        <div class="card-body">
            <h5 class="card-title">Log</h5>

            <div class="alert alert-danger" style="display: none" id="install-log-error">Installation failed</div>

            <pre id="install-log-output" class="form-control" style="height: 60vh;"></pre>
        </div>
    </div>
{% endblock %}