{% extends "base.html.twig" %}

{% block main %}
    <div class="card__title">
        <h2>Configure PHP executable</h2>
    </div>

    <div class="card__body">
        <form method="POST" id="submit">
            <div class="form-group">
                <label for="name">PHP Binary</label>
                <input class="form-control" type="text" name="phpBinary" value="{{ phpBinary }}">
            </div>
        </form>
    </div>

    <div class="card__footer flex-container">
        <button type="submit" class="btn btn-primary flex-item flex-right" form="submit">Save configuration</button>
    </div>
{% endblock %}