{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    {% block page_product_detail_description_container %}
        <div class="product-detail-description tab-pane-container">
            {% block page_product_detail_description_title %}
                <div class="h3 product-detail-description-title">
                    {{ "detail.descriptionTitle"|trans|sw_sanitize }} "{{ page.product.translated.name }}"
                </div>
            {% endblock %}

            {% block page_product_detail_description_content %}
                {% block page_product_detail_description_content_text %}
                    <div class="product-detail-description-text"
                         itemprop="description">
                        {{ page.product.translated.description|raw }}
                    </div>
                {% endblock %}

                {% block page_product_detail_description_content_properties %}
                    {% if page.product.sortedProperties|length > 0 %}
                        {% sw_include '@Storefront/storefront/page/product-detail/properties.html.twig' %}
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
