.sw-extension-deactivation-modal {
    font-size: var(--font-size-xs);
    line-height: 22px;

    .sw-extension-deactivation-modal__description {
        margin-block-end: 1em;
    }

    .sw-extension-deactivation-modal__bold-paragraph {
        font-weight: var(--font-weight-semibold);
    }

    .sw-extension-deactivation-modal__hint-paragraph {
        color: var(--color-text-secondary-default);
    }
}
