@import "~scss/variables";

.sw-changelog a[href^="https://github.com/shopware/shopware/issues"] {
    font-family: monospace;
    color: $color-darkgray-300;

    &[visited] {
        color: $color-darkgray-200;
    }
}
