{% block sw_shopware_updates_info %}
<sw-card
    :title="$t('sw-settings-shopware-updates.cards.info')"
    :is-loading="isLoading"
>
    {% block sw_shopware_updates_info_content %}
    <div
        class="sw-changelog"
        v-html="changelog"
    ></div>
    {% endblock %}
</sw-card>
{% endblock %}
