<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_collapse_panel_header %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_collapse_panel_header_slot %}
<div
    class="sw-sidebar-collapse__header"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_sidebar_collapse_title %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <h4
        class="sw-sidebar-collapse__title"
        @click="collapseItem"
    >
        <slot
            name="header"
            :expanded="expanded"
        >

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_sidebar_collapse_panel_header_slot %}{% endblock %}

        </slot>
    </h4>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_sidebar_collapse_buttons %}
    <div class="sw-sidebar-collapse__actions">
        <slot name="actions"></slot>
    </div>
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
        class="sw-sidebar-collapse__indicator"
        @click="collapseItem"
    >
        <sw-icon
            :name="`regular-chevron-${expandChevronDirection}-xxs`"
            class="sw-sidebar-collapse__expand-button"
            :class="expandButtonClass"
        />
        <sw-icon
            name="regular-chevron-down-xxs"
            class="sw-sidebar-collapse__collapse-button"
            :class="collapseButtonClass"
        />
    </div>
    {% endblock %}

</div>
{% endblock %}

{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_collapse_panel_content_slot %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_sidebar_collapse_panel_content_template %}
<!-- eslint-disable-next-line vue/valid-v-slot -->
<template #content>
    <slot name="content">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_sidebar_collapse_panel_content_slot %}{% endblock %}

    </slot>
</template>
    {% endblock %}

{% endblock %}
