{% block sw_condition_value_content %}
<div class="sw-condition-billing-country sw-condition__condition-value">
    {% block sw_condition_billing_country_field_operator %}
    <sw-condition-operator-select
        v-bind="{ condition, operators }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_billing_country_field_country_ids %}
    <sw-entity-multi-select
        v-if="!isEmpty"
        size="medium"
        entity="country"
        :entity-collection="billingCountries"
        :disabled="disabled"
        @change="setCountryIds"
    />
    {% endblock %}
</div>
{% endblock %}
