{% block sw_bulk_edit_change_type %}
<div class="sw-bulk-edit-change-type">
    {% block sw_bulk_edit_change_type_select_field %}
    <sw-single-select
        class="sw-bulk-edit-change-type__selection"
        :options="options"
        v-model="currentValue"
        @change="onChangeType"
    />
    {% endblock %}

    {% block sw_bulk_edit_change_type_value_field %}
    <slot
        name="value-field"
        v-bind="{ isDisplayingValue }">
    </slot>
    {% endblock %}
</div>
{% endblock %}
