<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bulk_edit_change_type %}
<div class="sw-bulk-edit-change-type">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_change_type_select_field %}
    <sw-single-select
        v-model="currentValue"
        class="sw-bulk-edit-change-type__selection"
        :options="options"
        @change="onChangeType"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_change_type_value_field %}
    <slot
        name="value-field"
        v-bind="{ isDisplayingValue }"
    >
    </slot>
    {% endblock %}
</div>
{% endblock %}
