.sw-cms-visibility-config {
    padding: 25px;

    &__checkbox-group-label {
        margin-bottom: 8px;
        color: var(--color-text-primary-default);
    }

    &__checkbox {
        margin-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 6px;
        align-items: center;
        color: var(--color-text-primary-default);
        cursor: pointer;

        &-group {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            padding: 16px 30px;
            border: 1px solid var(--color-border-primary-default);
            border-radius: 4px;
            margin-bottom: 32px;
        }

        &-input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked {
                ~ .mt-icon {
                    color: var(--color-icon-brand-default);
                }
            }
        }

        .mt-icon {
            color: var(--color-icon-primary-default);
        }
    }
}
