<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_visibility_config %}
<div class="sw-cms-visibility-config">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_visibility_config_label %}
    <div class="sw-cms-visibility-config__checkbox-group-label">
        {{ $tc('sw-cms.sidebar.contentMenu.visibilityLabelCheckboxGroup') }}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_visibility_config_group %}
    <div
        class="sw-cms-visibility-config__checkbox-group"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_visibility_config_mobile %}
        <label
            class="sw-cms-visibility-config__checkbox"
            for="sw-cms-visibility-config-mobile"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_mobile_text %}
            {{ $tc('sw-cms.sidebar.contentMenu.visibilityMobile') }}
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_mobile_input %}
            <input
                id="sw-cms-visibility-config-mobile"
                class="sw-cms-visibility-config__checkbox-input"
                type="checkbox"
                :value="visibility.mobile"
                @change="onVisibilityChange('mobile', !visibility.mobile)"
            >
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_mobile_icon %}
            <sw-icon
                :name="visibility.mobile ? 'regular-mobile' : 'regular-mobile-slash'"
                size="24"
            />
            {% endblock %}
        </label>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_visibility_config_tablet %}
        <label
            class="sw-cms-visibility-config__checkbox"
            for="sw-cms-visibility-config-tablet"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_tablet_text %}
            {{ $tc('sw-cms.sidebar.contentMenu.visibilityTablet') }}
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_tablet_input %}
            <input
                id="sw-cms-visibility-config-tablet"
                class="sw-cms-visibility-config__checkbox-input"
                type="checkbox"
                :value="visibility.tablet"
                @change="onVisibilityChange('tablet', !visibility.tablet)"
            >
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_tablet_icon %}
            <sw-icon
                :name="visibility.tablet ? 'regular-tablet' : 'regular-tablet-slash'"
                size="24"
            />
            {% endblock %}
        </label>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_visibility_config_desktop %}
        <label
            class="sw-cms-visibility-config__checkbox"
            for="sw-cms-visibility-config-desktop"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_desktop_text %}
            {{ $tc('sw-cms.sidebar.contentMenu.visibilityDesktop') }}
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_desktop_input %}
            <input
                id="sw-cms-visibility-config-desktop"
                class="sw-cms-visibility-config__checkbox-input"
                type="checkbox"
                :value="visibility.desktop"
                @change="onVisibilityChange('desktop', !visibility.desktop)"
            >
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_visibility_config_desktop_icon %}
            <sw-icon
                :name="visibility.desktop ? 'regular-desktop' : 'regular-desktop-slash'"
                size="24"
            />
            {% endblock %}
        </label>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
