
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    color: #142432;
    margin-top: .75em;
    margin-bottom: .75em;
    max-width: none
}

.h1+p,.h2+p,.h3+p,.h4+p,.h5+p,.h6+p,h1+p,h2+p,h3+p,h4+p,h5+p,h6+p {
    padding-top: 0!important
}

.h3,.h4,.h5,.h6,h3,h4,h5,h6 {
    line-height: 1.2;
    font-weight: 500
}

.h1,h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 600
}

.h2,h2 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 400
}

.h3,h3 {
    font-size: 24px;
    font-size: 1.5rem
}

.h4,h4 {
    font-size: 19px;
    font-size: 1.1875rem
}

.h5,h5 {
    font-size: 17px;
    font-size: 1.0625rem
}

.h6,h6 {
    font-size: 16px;
    font-size: 1rem
}