<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_buy_box_preview %}
<div class="sw-cms-el-preview-buy-box">
    <p class="sw-cms-el-preview-buy-box__price">
        0,00 €
    </p>

    <div class="sw-cms-el-preview-buy-box__placeholders">
        <div class="sw-cms-el-preview-buy-box__placeholder"></div>
        <div class="sw-cms-el-preview-buy-box__placeholder"></div>
        <div class="sw-cms-el-preview-buy-box__placeholder"></div>
        <div class="sw-cms-el-preview-buy-box__placeholder"></div>
    </div>

    <div class="sw-cms-el-preview-buy-box__placeholder"></div>
    <div class="sw-cms-el-preview-buy-box__placeholder"></div>

    <div class="sw-cms-el-preview-buy-box__action">
        Add to cart
    </div>
</div>
{% endblock %}
