<div class="sw-cms-el-image">
    <img :src="element.data.media.url" v-if="element.data.media">

    <sw-media-upload v-else
                     variant="regular"
                     :source="element.data.media"
                     :allowMultiSelect="false"
                     caption="Upload an image"
                     @sw-media-upload-new-uploads-added="onChangeMedia"
                     @sw-media-upload-media-upload-success="onImageUpload"
                     @sw-media-upload-remove-image="onImageRemove">
    </sw-media-upload>
</div>
