.sw-cms-block-product-heading {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-column-gap: 20px;

    &.is--mobile {
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    }
}
