// Bootstrap

// Color system
$sw-color-brand-primary: #008490 !default; // @deprecated tag:v6.5.0 - Color will be #0B539B
$sw-color-brand-secondary: #526e7f !default; // @deprecated tag:v6.5.0 - Color will be #3D444D
$sw-color-price: #4a545b !default; // @deprecated tag:v6.5.0 - Color will be #2B3136

$sw-color-success: #3cc261 !default;
$sw-color-info: #26b6cf !default;
$sw-color-warning: #ffbd5d !default;
$sw-color-danger: #e52427 !default;

$sw-background-color: #fff !default;
$sw-text-color: #4a545b !default; // @deprecated tag:v6.5.0 - Color will be #2B3136
$sw-headline-color: #4a545b !default; // @deprecated tag:v6.5.0 - Color will be #2B3136
$sw-border-color: #bcc1c7 !default; // @deprecated tag:v6.5.0 - Color will be #798490

$sw-color-buy-button: #008490 !default; // @deprecated tag:v6.5.0 - Color will be #0B539B
$sw-color-buy-button-text: #fff !default;

// Fonts
$sw-font-family-base: 'Inter', sans-serif !default;
$sw-font-family-headline: 'Inter', sans-serif !default;

// Logos
$sw-logo-default: url('logo.png') !default;
$sw-logo-default-sm: url('logo.png') !default;
$sw-logo-default-md: url('logo.png') !default;
$sw-logo-default-lg: url('logo.png') !default;
$sw-logo-default-xl: url('logo.png') !default;

$sw-logo-share: url('logo-share.png') !default;
$sw-logo-favicon: url('logo-favicon.png') !default;
$sw-logo-app-icon: url('logo-app-icon.png') !default;
