// Bootstrap

// Color system
$sw-color-brand-primary: #0042a0 !default;
$sw-color-brand-secondary: #474a57 !default;
$sw-color-price: #2b3136 !default;

$sw-color-success: #007e4e !default;
$sw-color-info: #005b99 !default;
$sw-color-warning: #974200 !default;
$sw-color-danger: #c20017 !default;

$sw-background-color: #fff !default;
$sw-text-color: #2b3136 !default;
$sw-headline-color: #2b3136 !default;
$sw-border-color: #798490 !default;

$sw-color-buy-button: #0042a0 !default;
$sw-color-buy-button-text: #fff !default;

// Fonts
$sw-font-family-base: 'Inter', sans-serif !default;
$sw-font-family-headline: 'Inter', sans-serif !default;

// Logos
$sw-logo-default: url('logo.png') !default;
$sw-logo-default-sm: url('logo.png') !default;
$sw-logo-default-md: url('logo.png') !default;
$sw-logo-default-lg: url('logo.png') !default;
$sw-logo-default-xl: url('logo.png') !default;

$sw-logo-share: url('logo-share.png') !default;
$sw-logo-favicon: url('logo-favicon.png') !default;
$sw-logo-app-icon: url('logo-app-icon.png') !default;
