<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_cache_index %}
<sw-page class="sw-settings-cache">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_cache_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_cache_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_cache_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('sw-settings-cache.general.mainMenuItemGeneral') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_cache_content %}
    <template #content>
        <sw-card-view>
            <template v-if="isLoading">
                <sw-skeleton />
                <sw-skeleton />
            </template>

            <sw-card
                v-else
                position-identifier="sw-settings-cache-content"
                :title="$tc('sw-settings-cache.general.mainMenuItemGeneral')"
                :is-loading="isLoading"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_cache_content_toolbar %}
                <template #toolbar>
                    <sw-card-section secondary>
                        <sw-container
                            class="sw-settings-cache__card-toolbar"
                            columns="1fr 1fr"
                            rows="repeat(2, 40px)"
                        >

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_toolbar_environment %}
                            <div>

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_settings_cache_content_toolbar_environment_heading %}
                                <p class="sw-settings-cache__card-toolbar-heading">
                                    {{ $tc('sw-settings-cache.toolbar.environment') }}
                                </p>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_settings_cache_content_toolbar_environment_text %}
                                <p>{{ environmentValue }}</p>
                                {% endblock %}
                            </div>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_toolbar_http_cache %}
                            <div>

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_settings_cache_content_toolbar_http_cache_heading %}
                                <p class="sw-settings-cache__card-toolbar-heading">
                                    {{ $tc('sw-settings-cache.toolbar.httpCache') }}
                                </p>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_settings_cache_content_toolbar_http_cache_text %}
                                <p>{{ httpCacheValue }}</p>
                                {% endblock %}
                            </div>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_toolbar_cache_adapter %}
                            <div>

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_settings_cache_content_toolbar_cache_adapter_heading %}
                                <p class="sw-settings-cache__card-toolbar-heading">
                                    {{ $tc('sw-settings-cache.toolbar.cacheAdapter') }}
                                </p>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_settings_cache_content_toolbar_cache_adapter_text %}
                                <p>{{ cacheAdapterValue }}</p>
                                {% endblock %}
                            </div>
                            {% endblock %}
                        </sw-container>
                    </sw-card-section>
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_cache_content_clear_cache_row %}
                <sw-card-section divider="bottom">
                    <sw-container
                        align="center"
                        columns="1fr auto"
                        gap="20px"
                    >
                        <div>

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_clear_cache_row_heading %}
                            <p class="sw-settings-cache__card-section-heading">
                                {{ $tc('sw-settings-cache.section.clearCachesHeadline') }}
                            </p>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_clear_cache_row_text %}
                            <p>{{ $tc('sw-settings-cache.section.clearCachesText') }}</p>
                            {% endblock %}
                        </div>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_cache_content_clear_cache_row_button %}
                        <sw-button-process
                            variant="ghost"
                            :is-loading="processes.normalClearCache"
                            :process-success="processSuccess.normalClearCache"
                            @process-finish="resetButtons"
                            @click="clearCache"
                        >
                            {{ $tc('sw-settings-cache.section.clearCachesButton') }}
                        </sw-button-process>
                        {% endblock %}
                    </sw-container>
                </sw-card-section>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_cache_content_clear_and_warm_up_cache_row %}
                <sw-card-section divider="bottom">
                    <sw-container
                        align="center"
                        columns="1fr auto"
                        gap="20px"
                    >
                        <div>

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_clear_and_warm_up_cache_row_heading %}
                            <p class="sw-settings-cache__card-section-heading">
                                {{ $tc('sw-settings-cache.section.clearAndWarmUpHeadline') }}
                            </p>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_clear_and_warm_up_cache_row_text %}
                            <p>{{ $tc('sw-settings-cache.section.clearAndWarmUpText') }}</p>
                            {% endblock %}
                        </div>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_cache_content_clear_and_warm_up_cache_row_button %}
                        <sw-button-process
                            variant="ghost"
                            :is-loading="processes.clearAndWarmUpCache"
                            :process-success="processSuccess.clearAndWarmUpCache"
                            @process-finish="resetButtons"
                            @click="clearAndWarmUpCache"
                        >
                            {{ $tc('sw-settings-cache.section.clearAndWarmUpButton') }}
                        </sw-button-process>
                        {% endblock %}
                    </sw-container>
                </sw-card-section>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_cache_content_indexes_row %}
                <sw-card-section>
                    <sw-container
                        align="center"
                        columns="1fr auto"
                        gap="20px"
                    >
                        <div>

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_indexes_row_heading %}
                            <p class="sw-settings-cache__card-section-heading">
                                {{ $tc('sw-settings-cache.section.indexesHeadline') }}
                            </p>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_cache_content_indexes_row_text %}
                            <p>{{ $tc('sw-settings-cache.section.indexesText') }}</p>
                            {% endblock %}
                        </div>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_cache_content_indexes_row_button %}
                        <sw-button-process
                            variant="ghost"
                            :is-loading="processes.updateIndexes"
                            :process-success="processSuccess.updateIndexes"
                            @process-finish="resetButtons"
                            @click="updateIndexes"
                        >
                            {{ $tc('sw-settings-cache.section.indexesButton') }}
                        </sw-button-process>
                        {% endblock %}
                    </sw-container>
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_cache_content_indexes_row_skip_select %}
                    <sw-select-base
                        class="sw-settings-cache__indexers-select"
                        :disabled="processes.updateIndexes"
                    >
                        <template #sw-select-selection>
                            <sw-label
                                v-for="(selection, index) in skip"
                                :key="index"
                                @dismiss="changeSkip(false, selection)"
                            >
                                {{ selection }}
                            </sw-label>
                            <sw-label
                                ghost
                                class="sw-settings-cache__indexers-placeholder"
                            >
                                {{ $tc('sw-settings-cache.section.indexesSkipSelectPlaceholder') }}
                            </sw-label>
                        </template>
                        <template #results-list>
                            <sw-select-result-list :options="[indexers]">
                                <template #result-item="{ item, index }">
                                    <ul
                                        class="sw-settings-cache__indexers-list"
                                        @click.stop
                                    >
                                        <li
                                            v-for="(updaters, indexer) in item"
                                            :key="indexer"
                                        >
                                            <sw-checkbox-field
                                                class="sw-settings-cache__indexers-entry"
                                                :value="skip.includes(indexer)"
                                                :label="indexer"
                                                size="small"
                                                @change="changeSkip($event, indexer)"
                                            />
                                            <ul>
                                                <li
                                                    v-for="(updater, index) in updaters"
                                                    :key="index"
                                                >
                                                    <sw-checkbox-field
                                                        class="sw-settings-cache__indexers-entry"
                                                        :value="skip.includes(updater) || skip.includes(indexer)"
                                                        :label="updater"
                                                        size="small"
                                                        :disabled="skip.includes(indexer)"
                                                        @click.prevent
                                                        @change="changeSkip($event, updater)"
                                                    />
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </template>
                            </sw-select-result-list>
                        </template>
                    </sw-select-base>
                    {% endblock %}
                </sw-card-section>
                {% endblock %}
            </sw-card>
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
