{% block grid_header_columns %}
    {% parent %}

    <sw-grid-col :width="100">Extension</sw-grid-col>
{% endblock %}

{% block title %}
    <h1 v-if="title">Dies ist eine Extension von {{title}}</h1>
{% endblock %}