{% sw_extends 'frontend/checkout/cart/cart-item.html.twig' %}

{# @var calcauledLineItem \Shopware\Cart\LineItem\CalculatedLineItemInterface #}

{# Delivery item quantity #}
{% block frontend_checkout_cart_item_quantity %}
    <div class="panel--td column--quantity is--align-right">

        {# Label #}
        {% block frontend_checkout_cart_item_quantity_label %}
            <div class="column--label quantity--label">
                {% trans from 'frontend/checkout/cart_header' %}CartColumnQuantity{% endtrans %}
            </div>
        {% endblock %}

        {% block frontend_checkout_cart_item_quantity_selection %}
            {{ calculatedLineItem.quantity }}
        {% endblock %}
    </div>
{% endblock %}


{% block frontend_checkout_cart_item_price %}{% endblock %}

{# Delete column #}
{% block frontend_checkout_cart_item_delete_article %}{% endblock %}