@use "sass:meta";
@use "variables";

:root {
    /**
    *  Generate css variables for all scss variables automatically
    */
    @each $name, $value in meta.module-variables("variables") {
        --#{$name}: #{meta.inspect($value)};
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color-scheme: light;
    font-family: $font-family-default;
}

@supports (font-variation-settings: normal) {
    *,
    body {
        font-family: $font-family-variables;
        font-feature-settings: $font-family-default-feature-settings;
    }
}

body {
    font-family: $font-family-default;
    font-size: $font-size-s;
    color: $color-menu-start;
    background: $color-gray-50;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

.sw-drag-select-box {
    position: absolute;
    background: $color-drag-select-box;
    z-index: $z-index-drag-select-box;
}

a,
.link {
    display: inline-block;
    color: $color-shopware-brand-500;
    font-size: $font-size-xs;
    text-decoration: underline;
    cursor: pointer;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mt-textarea {
    margin-bottom: 24px;

    button.mt-help-text {
        margin-left: auto;
    }
}

.mt-password-field {
    margin-bottom: 32px;

    // TODO: remove when the issue is fixed https://github.com/shopware/meteor/issues/537
    &__block {
        min-height: 45px !important;
    }
}

// TODO: remove when the issue is fixed https://github.com/shopware/meteor/issues/563
.mt-url-field {
    &__protocol-toggle * {
        white-space: nowrap;
    }
}

// TODO: remove when the issue is fixed https://github.com/shopware/meteor/issues/587
.wrapper {
    & > .mt-field-label.mt-field-label {
        line-height: 16px;
        margin-bottom: 1.6px;
    }

    .dp__input {
        height: 45px;
    }
}

// TODO: remove when the bottom margin issue is fixed in checkbox field
.mt-field--checkbox__container .mt-field--checkbox.mt-field--checkbox {
    margin-bottom: 0;
}

.mt-switch.mt-switch--not-bordered {
    min-height: 0;
}

// TODO: rename selector after https://github.com/shopware/meteor/issues/603
.field-hint {
    margin-bottom: 24px;
}

.mt-card__toolbar {
    flex-basis: 100%;
    padding: 30px;
    background-color: $color-gray-100;
    border-bottom: 1px solid $color-gray-300;
}

.mt-button {
    line-height: 1;
}

.mt-inheritance-switch {
    margin-right: 8px;
}
