{% block sw_condition_value_content %}
<div class="sw-condition-different-addresses">
    {% block sw_condition_different_addresses_field_is_different %}
    <sw-single-select
        v-model="isDifferent"
        size="medium"
        :disabled="disabled"
        :options="selectValues"
    />
    {% endblock %}
</div>
{% endblock %}
