<div class="sw-grid" :class="{ 'sw-grid--sidebar': sidebar  }">

    <slot name="content">
        <div class="sw-grid__content" :class="{ 'sw-grid__content--header': header, 'sw-grid__content--pagination': pagination }">

            <slot name="header" v-if="header">
                <div class="sw-grid__header" :style="columnFlex">
                    <div class="sw-grid__cell" v-if="selectable"><input type="checkbox" v-on:change="selectAll($event.target.checked)"></div>
                    <div class="sw-grid__cell" v-for="column in columns">{{ column.label }}</div>
                    <div class="sw-grid__cell" v-if="actions.length > 0">Actions</div>
                </div>
            </slot>

            <slot name="body">
                <div class="sw-grid__body">

                    <slot name="items" v-for="item in items">
                        <div class="sw-grid__item" :style="columnFlex" :class="{ 'is--selected': item.selected }">

                            <div class="sw-grid__cell" v-if="selectable"><input type="checkbox" v-model="item.selected"></div>

                            <slot name="columns" :item="item"></slot>

                            <slot name="actions" v-if="actions.length > 0">
                                <div class="sw-grid__cell">
                                    <button class="sw-grid__action-button" v-on:click="$emit('edit', item)" v-if="actions.indexOf('edit') !== -1">
                                        <sw-icon name="small-pencil-paper" title="Edit" small />
                                    </button>
                                    <button class="sw-grid__action-button" v-on:click="$emit('delete', item)" v-if="actions.indexOf('delete') !== -1">
                                        <sw-icon name="small-default-x-line-medium" title="Delete" small />
                                    </button>
                                    <button class="sw-grid__action-button" v-on:click="$emit('duplicate', item)" v-if="actions.indexOf('duplicate') !== -1">
                                        <sw-icon name="small-copy" title="Copy" small />
                                    </button>
                                </div>
                            </slot>
                        </div>
                    </slot>

                </div>
            </slot>

            <div class="sw-grid__pagination" v-if="pagination">
                <slot name="pagination"></slot>
            </div>
        </div>
    </slot>

    <div class="sw-grid__sidebar" v-if="sidebar">
        <slot name="sidebar">
            <button class="sw-grid__sidebar-button">
                <sw-icon name="default-action-settings" title="Settings" />
            </button>
            <button class="sw-grid__sidebar-button">
                <sw-icon name="default-arrow-360-right" title="Reload" />
            </button>
            <button class="sw-grid__sidebar-button">
                <sw-icon name="default-action-filter" title="Filter" />
            </button>
        </slot>
    </div>
</div>