@import "~less/variables";

@sw-grid-item-color-border:               @color-steam-cloud;
@sw-grid-item-color-background:           @color-light-gray;
@sw-grid-item-even-color-background:      @color-white;
@sw-grid-item-active-color-border:        @color-shopware-blue;
@sw-grid-item-active-color-background:    @color-cadet-blue;
@sw-grid-item-active-color-text:          @color-black;
@sw-grid-header-color-background:         @color-white;
@sw-grid-header-color-border:             @color-steam-cloud;
@sw-grid-header-color-text:               @color-kashmir;
@sw-grid-actions-icon-color:              @color-gutenberg;
@sw-grid-actions-icon-hover-color:        @color-shopware-blue;

.sw-grid {
    display: grid;
    overflow: hidden;
    position: relative;
    grid-template-rows: 100%;
    border: 1px solid @sw-grid-item-color-border;

    &.sw-grid--sidebar {
        grid-template-columns: auto 64px;
    }

    &.sw-grid--fullpage {
        width: 100%;
        height: 100%;
        position: absolute;
        border: 0 none;
    }

    // Small mode
    &.sw-grid--small {
        .sw-grid__content.sw-grid__content--header.sw-grid__content--pagination {
            grid-template-rows: 42px auto 64px;
        }
        .sw-grid__header {
            height: 42px;
        }
        .sw-grid__header .sw-grid-column {
            font-size: 15px;
            padding: 8px 20px;
            min-height: 24px;
        }
        .sw-grid__body .sw-grid-column {
            min-height: 24px;
            padding: 4px 20px;
            font-size: 14px;
        }
    }

    .sw-grid__content {
        display: grid;
        grid-template-rows: auto;

        &.sw-grid__content--header {
            grid-template-rows: 64px 1fr;
        }

        &.sw-grid__content--pagination {
            grid-template-rows: 1fr 64px;
        }

        &.sw-grid__content--header.sw-grid__content--pagination {
            grid-template-rows: 64px 1fr 64px;
        }
    }

    .sw-grid__header {
        display: grid;
        grid-auto-flow: column;
        background-color: @sw-grid-header-color-background;
        border-bottom: 1px solid @sw-grid-header-color-border;
        padding-right: 17px; // ToDo: Has to be set dynamically for the scrollbar width

        .sw-grid-column {
            font-size: 16px;
            font-weight: bold;
            color: @sw-grid-header-color-text;

            &:last-child {
                border-right: 0 none;
            }

            &.is--sortable {
                cursor: pointer;
            }

            &.is--sorted {
                color: @sw-grid-item-active-color-text;
            }
        }

        .sw-grid_cell-sortable {
            position: absolute;
            right: 16px;
        }
    }

    .sw-grid__body {
        justify-self: stretch;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .sw-grid__item {
        display: grid;
        grid-auto-flow: column;
        border-bottom: 1px solid @sw-grid-item-color-border;
        background: @sw-grid-item-color-background;

        &:nth-child(even) {
            background: @sw-grid-item-even-color-background;
        }

        &:last-child {
            border-bottom: 0 none;
        }

        &:hover {
            background: lighten(@sw-grid-item-active-color-background, 2%);
        }

        &.is--selected {
            background: @sw-grid-item-active-color-background;
            border-bottom: 1px solid @sw-grid-item-active-color-border;
            box-shadow: 0 -1px 0 0 @sw-grid-item-active-color-border;
        }
    }

    .sw-grid__action-button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 20px;
        color: @sw-grid-actions-icon-color;

        &:hover {
            color: @sw-grid-actions-icon-hover-color;
        }
    }

    .sw-grid__pagination {
        background: @sw-grid-item-color-background;
        border-top: 1px solid @sw-grid-item-color-border;
    }
}