{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "corejs": 2
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-json-strings",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-transform-export-namespace-from",
        "@babel/plugin-transform-numeric-separator",
        "@babel/plugin-proposal-throw-expressions"
    ],
    "comments": true,
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-syntax-dynamic-import",
                "@babel/plugin-syntax-import-meta",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-transform-json-strings",
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                "@babel/plugin-proposal-function-sent",
                "@babel/plugin-transform-export-namespace-from",
                "@babel/plugin-transform-numeric-separator",
                "@babel/plugin-proposal-throw-expressions"
            ]
        }
    }
}
