{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "ignoreFiles": ["build/**/*.scss"],
  "rules": {
    "indentation": 4,
    "color-hex-case": "lower",
    "no-missing-end-of-source-newline": true,
    "property-no-unknown": [true, {
        "severity": "warning",
        "ignoreProperties": [
            "user-focus",
            "user-input",
            "user-modify"
        ]
    }],
    "no-descending-specificity": null,
    "max-nesting-depth": [3, {
      "ignore": ["blockless-at-rules", "pseudo-classes"],
      "severity": "warning"
    }],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
