{% block sw_custom_field_detail %}
    <sw-modal
            class="sw-custom-field-detail"
            :title="modalTitle"
            @modal-close="onCancel">
        {% block sw_custom_field_detail_modal %}
            <sw-container columns="1fr 1fr" gap="20px">
                {% block sw_custom_field_detail_modal_type %}
                    <sw-field
                            :label="$tc('sw-settings-custom-field.customField.detail.labelCustomFieldType')"
                            :placeholder="$tc('sw-settings-custom-field.customField.detail.placeholderCustomFieldType')"
                            type="select"
                            v-model="currentCustomField.config.customFieldType"
                            :helpText="$tc('sw-settings-custom-field.general.tooltipType')"
                            :disabled="!currentCustomField._isNew">
                        <option v-for="(option, key) in fieldTypes" :value="key">
                            {{ $tc(`sw-settings-custom-field.types.${key}`) }}
                        </option>
                    </sw-field>
                {% endblock %}

                {% block sw_custom_field_detail_modal_technical_name %}
                    <sw-field
                            type="text"
                            :label="$tc('sw-settings-custom-field.customField.detail.labelTechnicalName')"
                            :helpText="$tc('sw-settings-custom-field.general.tooltipTechnicalName')"
                            :disabled="!currentCustomField._isNew"
                            v-model="currentCustomField.name">
                    </sw-field>
                {% endblock %}

                {% block sw_custom_field_detail_modal_position %}
                    <sw-field
                            type="number"
                            :helpText="$tc('sw-settings-custom-field.customField.detail.tooltipCustomFieldPosition')"
                            numberType="int"
                            :label="$tc('sw-settings-custom-field.customField.detail.labelCustomFieldPosition')"
                            v-model="currentCustomField.config.customFieldPosition">
                    </sw-field>
                {% endblock %}

                {% block sw_custom_field_detail_modal_required %}
                    <sw-field
                            type="switch"
                            bordered
                            :helpText="$tc('sw-settings-custom-field.customField.detail.tooltipRequired')"
                            class="sw-custom-field-detail__switch"
                            :label="$tc('sw-settings-custom-field.customField.detail.labelRequired')"
                            required
                            v-model="required">
                    </sw-field>
                {% endblock %}
            </sw-container>

            {% block sw_custom_field_detail_modal_render_component %}
                <div v-if="currentCustomField.config.customFieldType.length > 0">
                    <component v-bind:is="renderComponentName"
                            :currentCustomField="currentCustomField"
                            :set="set">
                    </component>
                </div>
            {% endblock %}

            {% block sw_custom_field_detail_modal_footer %}
                <template slot="modal-footer">
                    {% block sw_custom_field_detail_modal_footer_cancel %}
                        <sw-button size="small" @click="onCancel">
                            {{ $tc('sw-settings-custom-field.customField.detail.buttonCancel') }}
                        </sw-button>
                    {% endblock %}

                    {% block sw_custom_field_detail_modal_footer_save %}
                        <sw-button variant="primary"
                                   size="small"
                                   :disabled="!canSave"
                                   @click="onSave">
                            {{ labelSaveButton }}
                        </sw-button>
                    {% endblock %}
                </template>
            {% endblock %}
        {% endblock %}
    </sw-modal>
{% endblock %}
