.sw-custom-field-detail {
    .sw-custom-field-translated-labels .sw-tabs-item.sw-tabs-item__minimal {
        line-height: 38px;
    }

    .sw-custom-field-detail__switch {
        margin-right: auto;
    }

    .sw-custom-field-detail__info {
        grid-column: span 2;
        margin-bottom: 24px;
    }

    .sw-custom-field-detail__allow-customer-write,
    .sw-custom-field-detail__allow-cart-expose {
        margin: 0;
    }
}
