{% block sw_condition_fields %}
    {% block sw_condition_fields_operator %}
        <sw-field type="select"
                  name="operator"
                  v-model="condition.value.operator"
                  class="field--operator">
            <template slot="options">
                <option v-for="operator in operators" :value="operator.identifier">
                    {{ $tc(operator.label) }}
                </option>
            </template>
        </sw-field>
    {% endblock %}
    {% block sw_condition_fields_value %}
        <sw-condition-value :id="condition.id"
                            multi
                            :store="getCurrencyStore()"
                            class="field--value is--secondary"
                            v-model="condition.value.currencyIds">
        </sw-condition-value>
    {% endblock %}
{% endblock %}