@import "~scss/variables";

.sw-cms-preview-gallery-buybox {
    display: grid;
    grid-template-columns: 7fr 5fr;
    padding: 15px 5px 15px 15px;
    height: 150px;

    &__gallery {
        display: grid;
        grid-template-columns: 22px 1fr;
        grid-gap: 4px;
    }

    &__images {
        display: grid;
        grid-auto-rows: 22px;
        grid-gap: 4px;

        img {
            border: 1px solid $color-gray-300;
            border-radius: 2px;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            padding: 4px;
        }
    }

    &__slider {
        position: relative;

        img {
            margin: 0;
            display: block;
            width: 100%;
            overflow: hidden;
            height: 120px;
        }

        span {
            position: absolute;
            z-index: 1;
            top: calc(50% - 8px);

            &:first-child {
                left: 2px;
            }

            &:last-child {
                right: 2px;
            }
        }
    }

    .sw-cms-el-preview-buy-box__price {
        font-size: $font-size-m;
    }
}
