<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_newsletter_recipient_filter_switch %}
<div class="sw-newsletter-recipient-filter-switch">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_newsletter_recipient_filter_switch_field %}
    <slot name="field">
        <sw-field
            type="switch"
            :name="id"
            :label="label"
            @change="onChange"
        />
    </slot>
    {% endblock %}
</div>
{% endblock %}
