{% sw_extends '@Storefront/base.html.twig' %}

{% block base_content %}
    {% set id = '01E966BCCE2C4187A866DD1EDCF58F9E' %}
    <form action="{{ path('storefront-api.checkout.frontend.cart.product.add', {'version': 1, 'id': id}) }}"
          data-add-to-cart="true">
        <label for="quantity">Qty</label>
        <input id="quantity"
               type="number"
               name="quantity"
               value="1">
        <button>In den Warenkorb</button>
    </form>
{% endblock %}