@import "~less/variables";

@sw-image-tooltip-color-background: @color-biscay;
@sw-image-color-white:              @color-white;
@sw-image-color-hover:              @color-black;
@sw-image-color-border:             @color-steam-cloud;
@sw-image-border-radius:            @border-radius-default;
@sw-image-tooltip-border-radius:    @border-radius-default;
@sw-image-placeholder-color:        lighten(@color-steam-cloud, 5%);

.sw-image {
    position: relative;
    display: inline-block;
    border-radius: @sw-image-border-radius;

    &.is--placeholder {
        border: 2px dashed @sw-image-placeholder-color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: transparent;
        }
    }

    .sw-image__image {
        border-radius: @sw-image-border-radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sw-image__tooltip {
        visibility: hidden;
        background-color: @sw-image-tooltip-color-background;
        color: @sw-image-color-white;
        text-align: center;
        border-radius: @sw-image-tooltip-border-radius;
        position: absolute;
        padding: 8px 8px;
        z-index: 1;

        &:after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: max-content;
            margin-left: -8px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent @sw-image-tooltip-color-background transparent;
        }
    }

    &:hover {
        background-color: @sw-image-color-hover;
        
        .sw-image__image {
            opacity: 0.7;
        }

        .sw-image__tooltip {
            visibility: visible;
            left: 0;
            right: 0;
        }

        .sw-context-button__button {
            visibility: visible;
            border: none;
        }
    }

    .sw-image__context-button {
        position: absolute;
        top: 9px;
        right: 9px;
    }

    .sw-context-button__button {
        visibility: hidden;

        .sw-icon {
            color: @sw-image-color-white;
            height: 100%;
        }
    }

    .sw-image__placeholder-icon {
        color: @sw-image-placeholder-color;
    }
}
