{% block sw_media_upload %}
    <div class="sw-media-upload">
        {% block sw_media_upload_button %}
            <sw-button variant="primary" @click="onClickUpload">{{ $tc('sw-media.smart-bar.buttonUpload') }}</sw-button>
        {% endblock %}
        
        {% block sw_media_upload_file_input %}
            <input class="sw-media-upload__file-input" type="file" id="files" ref="fileInput" accept="image/*" multiple @change="onFileInputChange"/>
        {% endblock %}
    </div>
{% endblock %}