{% block sw_media_upload %}
    <div class="sw-media-upload">

        <sw-context-button>
            <template slot="button">
                {% block sw_media_upload_button %}
                    <sw-button class="sw-media-upload__context-button" variant="primary">
                        {{ $tc('sw-media.smart-bar.buttonUpload') }}
                        <sw-icon name="small-arrow-small-down" decorative></sw-icon>
                    </sw-button>
                {% endblock %}
            </template>

            {% block sw_media_upload_context_item_file_upload %}
                <sw-context-menu-item class="sw-media-upload__file" @click="onClickUpload">
                    {{ $tc('sw-media.smart-bar.buttonFileUpload') }}
                </sw-context-menu-item>
            {% endblock %}

            {% block sw_media_upload_context_item_url_upload %}
                <sw-context-menu-item class="sw-media-upload__url" @click="openUrlModal">
                    {{ $tc('sw-media.smart-bar.buttonUrlUpload') }}
                </sw-context-menu-item>
            {% endblock %}
        </sw-context-button>

        <form class="sw-media-upload__form" ref="fileForm">
            {% block sw_media_upload_file_input %}
                <input class="sw-media-upload__file-input"
                       type="file" id="files"
                       ref="fileInput"
                       accept="image/*"
                       multiple
                       @change="onFileInputChange"/>
            {% endblock %}
        </form>

        {% block sw_media_catalog_modal_upload %}
            <sw-media-upload-url-modal
                v-if="showUrlModal"
                @closeModal="closeUrlModal"
                @sw-media-upload-url-modal-submit="onUrlUpload">
            </sw-media-upload-url-modal>
        {% endblock %}
    </div>
{% endblock %}
