.sw-media-upload{
    .sw-media-upload__file-input {
        display: none;
    }

    .sw-media-upload__context-button {
        padding-right: 10px;

        .sw-icon {
            position: relative;
            top: 1px;
        }
    }
}