.sw-search-more-results__link {
    color: var(--color-text-brand-default);
    margin-left: 5px;

    &--v2 {
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary-default);
        text-decoration: none;
        margin-left: 10px;
    }
}
