@import "~scss/variables";

.sw-cms-el-config-image-gallery {
    .sw-cms-el-config-image-gallery__setting-option {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
        gap: 0 32px;

        .sw-cms-el-config-image-gallery__setting-display-mode {
            grid-column: 1 / -1;
        }
    }
}
