@import "~scss/variables";

$sw-pagination-color-background: $color-white;
$sw-pagination-controls-color-border: $color-gray-300;
$sw-pagination-controls-color-hover: $color-shopware-brand-500;
$sw-pagination-controls-color-text: $color-darkgray-200;
$sw-pagination-border-radius: $border-radius-default;

.sw-pagination {
    min-height: 64px;
    padding: 15px 20px;
    background: $sw-pagination-color-background;
    text-align: center;
    color: $sw-pagination-controls-color-text;
    position: relative;
    border-top: 1px solid $sw-pagination-controls-color-border;

    .sw-pagination__list {
        display: inline-block;
    }

    .sw-pagination__list-item {
        display: inline-block;
        list-style: none;
        margin: 0;
    }

    .sw-pagination__page-button {
        &-prev {
            .sw-icon {
                width: 16px;
                height: 16px;
                padding-top: 3px;
                padding-right: 5px;
                padding-bottom: 3px;
                padding-left: 5px;
            }
        }

        &-next {
            .sw-icon {
                width: 16px;
                height: 16px;
                padding-top: 3px;
                padding-right: 5px;
                padding-bottom: 3px;
                padding-left: 5px;
            }
        }
    }

    .sw-pagination__list-button,
    .sw-pagination__page-button,
    .sw-pagination__list-separator {
        padding: 8px 12px;
        border: 0 none;
        color: $sw-pagination-controls-color-text;
        background: none;
        cursor: pointer;
        outline: none;

        &:hover {
            color: $sw-pagination-controls-color-hover;
        }
    }

    .sw-pagination__page-button[disabled="disabled"] {
        cursor: default;

        &:hover {
            color: $sw-pagination-controls-color-text;
        }
    }

    .sw-pagination__list-separator {
        cursor: default;

        &:hover {
            color: $sw-pagination-controls-color-text;
        }
    }

    .sw-pagination__list-button {
        border-radius: 3px;

        &.is-active {
            background: $sw-pagination-controls-color-hover;
            color: #fff;
        }
    }

    .sw-pagination__per-page {
        display: inline-block;
        font-size: $font-size-xs;
        line-height: 16px;
        position: absolute;
        right: 0;
        margin: 0 20px;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }
}
