{% set label = lineItem.label|trans|sw_sanitize %}
{% set label = label !== '' ? label : lineItem.label %}

{% if nestingLevel is not defined %}
    {% set nestingLevel = 0 %}
{% endif %}

{% if displayMode is not defined %}
    {% set displayMode = 'default' %}
{% endif %}

{% if showRemoveButton is not defined %}
    {% set showRemoveButton = true %}
{% endif %}

{% set lineItemClasses = 'line-item line-item-' ~ lineItem.type ~ ' is-' ~ displayMode %}

{% if displayMode === 'offcanvas' %}
    {% set lineItemClasses = lineItemClasses ~ ' js-cart-item' %}
{% endif %}

{% if not showRemoveButton %}
    {% set lineItemClasses = lineItemClasses ~ ' no-remove-button' %}
{% endif %}

{% block component_line_item_type_generic %}
    {# @deprecated tag:v6.7.0 - Line item wrapper element will be `<li>` element instead of `<div>` #}
    {%- if feature('ACCESSIBILITY_TWEAKS') -%}
        <li class="{{ lineItemClasses }}">
    {%- else -%}
        <div class="{{ lineItemClasses }}" role="listitem">
    {%- endif -%}
        <div class="row line-item-row">
            {% block component_line_item_type_generic_col_info %}
                <div class="line-item-info">
                    <div class="row line-item-row">

                        {% if nestingLevel < 1 %}
                            {% block component_line_item_type_generic_image %}
                                <div class="col-auto line-item-info-img">
                                    <div class="line-item-img-container">
                                        {% block component_line_item_type_generic_image_inner %}
                                            {% sw_include '@Storefront/storefront/component/line-item/element/image.html.twig' %}
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}

                        {% block component_line_item_type_generic_details %}
                            <div class="line-item-details">
                                <div class="line-item-details-container">
                                    {% block component_line_item_type_generic_label %}
                                        {% sw_include '@Storefront/storefront/component/line-item/element/label.html.twig' %}
                                    {% endblock %}

                                    {% if lineItem.payload.options is not empty %}
                                        {% block component_line_item_type_generic_variant_characteristics %}
                                            {% sw_include '@Storefront/storefront/component/line-item/element/variant-characteristics.html.twig' %}
                                        {% endblock %}
                                    {% endif %}

                                    {% if lineItem.payload.features is not empty %}
                                        {% block component_line_item_type_generic_features %}
                                            {% sw_include '@Storefront/storefront/component/product/feature/list.html.twig' with {
                                                features: lineItem.payload.features
                                            } %}
                                        {% endblock %}
                                    {% endif %}

                                    {% if lineItem.payload.productNumber %}
                                        {% block component_line_item_type_generic_product_number %}
                                            <div class="line-item-product-number">
                                                {{ 'checkout.cartItemInfoId'|trans|sw_sanitize }} {{ lineItem.payload.productNumber }}
                                            </div>
                                        {% endblock %}
                                    {% endif %}

                                    {% if config('core.cart.showDeliveryTime') %}
                                        {% block component_line_item_type_generic_delivery_date %}
                                            {% sw_include '@Storefront/storefront/component/line-item/element/delivery-date.html.twig' %}
                                        {% endblock %}
                                    {% endif %}

                                    {% if config('core.cart.wishlistEnabled') %}
                                        {% block component_line_item_type_generic_wishlist %}
                                            {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                                                showText: true,
                                                size: 'sm',
                                                productId: lineItem.referencedId
                                            } %}
                                        {% endblock %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block component_line_item_type_generic_col_quantity %}
                <div class="line-item-quantity">
                    {% sw_include '@Storefront/storefront/component/line-item/element/quantity.html.twig' %}
                </div>
            {% endblock %}

            {% if showTaxPrice %}
                {% block component_line_item_type_generic_col_tax_price %}
                    <div class="line-item-tax-price">
                        {% if context.salesChannel.taxCalculationType == 'horizontal' %}
                            {% sw_include '@Storefront/storefront/component/line-item/element/tax-price.html.twig' %}
                        {% endif %}
                    </div>
                {% endblock %}
            {% else %}
                {% block component_line_item_type_generic_col_unit_price %}
                    <div class="line-item-unit-price">
                        {% sw_include '@Storefront/storefront/component/line-item/element/unit-price.html.twig' %}
                    </div>
                {% endblock %}
            {% endif %}

            {% block component_line_item_type_generic_col_total_price %}
                <div class="line-item-total-price">
                    {% sw_include '@Storefront/storefront/component/line-item/element/total-price.html.twig' with {
                        currency: lineItem.order.currency.isoCode
                    } %}
                </div>
            {% endblock %}

            {% if showRemoveButton %}
                {% block component_line_item_type_generic_col_remove %}
                    <div class="line-item-remove">
                        {% if lineItem.removable and nestingLevel < 1 %}
                            {% sw_include '@Storefront/storefront/component/line-item/element/remove.html.twig' %}
                        {% endif %}
                    </div>
                {% endblock %}
            {% endif %}

            {% if lineItem.children.count > 0 %}
                {% block component_line_item_type_generic_children %}
                    {% sw_include '@Storefront/storefront/component/line-item/element/children-wrapper.html.twig' %}
                {% endblock %}
            {% endif %}
        </div>
    {# @deprecated tag:v6.7.0 - Line item wrapper element will be `<li>` element instead of `<div>` #}
    {%- if not feature('ACCESSIBILITY_TWEAKS') -%}
        </div>
    {%- else -%}
        </li>
    {%- endif -%}
{% endblock %}
