<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_three_column %}
<div class="sw-cms-block-image-three-column">
    <slot name="left"></slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
