{% block sw_first_run_wizard_finish %}
    <div>
        <h3>All done!</h3>
        <p>Your Shopware 6 Professional Edition is now ready to be used.</p>

        <h3>Usefull links</h3>
        <sw-container columns="1fr 1fr 1fr">
            <div><a href="http://wwww.shopware.com/">www.shopware.com</a></div>
            <div><a href="http://wwww.shopware.com/">www.shopware.com</a></div>
            <div><a href="http://wwww.shopware.com/">www.shopware.com</a></div>
            <div><a href="http://wwww.shopware.com/">www.shopware.com</a></div>
            <div><a href="http://wwww.shopware.com/">www.shopware.com</a></div>
            <div><a href="http://wwww.shopware.com/">www.shopware.com</a></div>
        </sw-container>
    </div>
{% endblock %}
