{% block sw_first_run_wizard_finish %}
    <div class="sw-first-run-wizard-finish">

        <span class="sw-first-run-wizard-finish__bubble">
            <sw-icon class="sw-first-run-wizard-finish__icon"
                     name="small-default-checkmark-line-medium"
                     size="42px"
                     small>
            </sw-icon>
        </span>
        <h3 class="headline-success">{{ $tc('sw-first-run-wizard.finish.headline-all-done') }}</h3>
        <p class="message-success">{{ $tc('sw-first-run-wizard.finish.message', {}, { edition }) }}</p>

        <h3 class="headline-useful-links">{{ $tc('sw-first-run-wizard.finish.headline-useful-links') }}</h3>
        <sw-container columns="1fr 1fr 1fr"
                      class="list-useful-links">
            <a href="http://wwww.shopware.com/" class="external-link">www.shopware.com</a>
            <a href="http://wwww.shopware.com/" class="external-link">www.shopware.com</a>
            <a href="http://wwww.shopware.com/" class="external-link">www.shopware.com</a>
            <a href="http://wwww.shopware.com/" class="external-link">www.shopware.com</a>
            <a href="http://wwww.shopware.com/" class="external-link">www.shopware.com</a>
            <a href="http://wwww.shopware.com/" class="external-link">www.shopware.com</a>
        </sw-container>
    </div>
{% endblock %}
