{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="container-main">
        <h1>{{ page.getExtension('myProduct').translated.name }}</h1>
    </div>
{% endblock %}
