<div>
    <sw-select label="Produktauswahl"
               :store="productStore"
               name="productId"
               id="productId"
               :value="config.productId"
               v-model="config.productId">
    </sw-select>
</div>