<?xml version="1.0" encoding="UTF-8" ?>
<config>

    <card>
        <title>Basic configuration</title>
        <title lang="de_DE">Grundeinstellungen</title>
        <input-field>
            <name>email</name>
            <label>eMail</label>
            <label lang="de_DE">E-Mail</label>
            <placeholder>Enter your eMail address</placeholder>
            <placeholder lang="de_DE">Bitte gib deine E-Mail Adresse ein</placeholder>
            <copyable>true</copyable>
        </input-field>

        <input-field type="select">
            <name>mailMethod</name>
            <label>Mailing protocol</label>
            <label lang="de_DE">E-Mail Versand Protokoll</label>
            <placeholder>Choose your preferred transfer method</placeholder>
            <placeholder lang="de_DE">Bitte wähle dein bevorzugtes Versand Protokoll</placeholder>
            <options>
                <option>
                    <value>smtp</value>
                    <label>SMTP</label>
                </option>
                <option>
                    <value>pop3</value>
                    <label>POP3</label>
                </option>
            </options>
        </input-field>
    </card>

</config>