.sw-import-export-importer {
    &__title {
        font-weight: var(--font-weight-semibold);
    }

    &__text {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        color: var(--color-text-primary-default);
        margin-top: var(--scale-size-8);
    }

    &__profile-select {
        margin-bottom: var(--scale-size-18) !important;
    }

    .sw-file-input {
        margin-bottom: var(--scale-size-32);
    }

    &__variants-warning-links {
        display: flex;
        flex-direction: column;
        gap: var(--scale-size-2);
        margin-top: var(--scale-size-8);
    }
}
