@import "~scss/variables";

.sw-import-export-importer {
    .sw-file-input {
        margin-bottom: 32px;

        .sw-file-input__dropzone {
            border: 1px solid $color-gray-300;
        }
    }

    .sw-import-export-importer__link {
        text-decoration: underline;
        color: $color-darkgray-200;

        &:hover {
            color: $color-shopware-brand-500;
        }
    }
}
