@import "~scss/variables";

$sw-alert-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
$sw-alert-size-close: 40px;

.sw-alert {
    border: 1px solid $color-steam-cloud;
    border-radius: $border-radius-default;
    color: $color-gutenberg;
    background-color: $color-white;
    padding: 15px 15px 15px 55px;
    text-align: left;
    position: relative;
    margin: 0 auto 20px;
    font-size: $font-size-small;

    &.sw-alert--no-icon {
        padding: 15px 30px;
    }

    .sw-alert__icon {
        color: $color-steam-cloud;
        position: absolute;
        display: block;
        left: 15px;
        top: 15px;
    }

    .sw-alert__close {
        width: $sw-alert-size-close;
        height: $sw-alert-size-close;
        line-height: $sw-alert-size-close;
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        text-align: center;
        background: none;
        border: 0 none;
        outline: none;
        cursor: pointer;
    }

    .sw-alert__title {
        font-size: $font-size-small;
        margin-bottom: 8px;
        display: block;
        font-weight: bold;
    }

    .sw-alert__message {
        font-size: $font-size-small;
    }

    &.sw-alert--closable {
        padding-right: $sw-alert-size-close;
    }

    &.sw-alert--notification {
        box-shadow: $sw-alert-box-shadow;
        border: 1px solid $color-steam-cloud;
        border-left: 4px solid $color-steam-cloud;
    }

    &.sw-alert--warning {
        border-color: $color-contrast;
        background-color: lighten($color-contrast, 48%);

        &.sw-alert--notification {
            background-color: $color-white;
            border-color: $color-steam-cloud;
            border-left-color: $color-contrast;
        }

        .sw-alert__icon,
        .sw-alert__close {
            color: $color-contrast;
        }
    }

    &.sw-alert--error {
        border-color: $color-crimson;
        background-color: lighten($color-crimson, 46%);

        &.sw-alert--notification {
            background-color: $color-white;
            border-color: $color-steam-cloud;
            border-left-color: $color-crimson;
        }

        .sw-alert__icon,
        .sw-alert__close {
            color: $color-crimson;
        }
    }

    &.sw-alert--success {
        border-color: $color-emerald-500;
        background-color: $color-emerald-50;

        &.sw-alert--notification {
            background-color: $color-white;
            border-color: $color-gray-300;
            border-left-color: $color-emerald-500;
        }

        .sw-alert__icon,
        .sw-alert__close {
            color: $color-emerald;
        }
    }

    &.sw-alert--info {
        border-color: $color-shopware-blue;
        background-color: lighten($color-shopware-blue, 42%);

        &.sw-alert--notification {
            background-color: $color-white;
            border-color: $color-steam-cloud;
            border-left-color: $color-shopware-blue;
        }

        .sw-alert__icon,
        .sw-alert__close {
            color: $color-shopware-blue;
        }
    }

    &.sw-alert--system {
        color: $color-white;
        background: $color-deep-cove;
        border: 1px solid $color-kashmir;
        box-shadow: none;
    }
}
