; bcremer
[mysqld]
innodb_buffer_pool_size = 2G
innodb_flush_log_at_trx_commit = 0
innodb_log_buffer_size         = 64M
innodb_log_file_size = 512M
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0
innodb_checksums = 0

query_cache_size=0
join_buffer_size=256K
table_open_cache=128

max_connections=10000

; jbücker
;[mysqld]
;user = jb
;query-cache-size = 0
;table-open-cache = 128
;join_buffer_size = 256K
;
;innodb-flush-method = O_DIRECT
;innodb-flush-log-at-trx-commit = 2
;innodb-file-per-table = 1
;innodb-buffer-pool-size = 3G
;innodb_log_buffer_size = 128M
;innodb_log_file_size = 256M
;innodb_thread_concurrency=0
;innodb_doublewrite=1
;
;max_allowed_packet = 4G