[mysqld]
innodb_buffer_pool_size = 2G
innodb_flush_log_at_trx_commit = 0
innodb_log_buffer_size         = 64M
innodb_log_file_size = 512M
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0
innodb_checksums = 0

query_cache_size=0
join_buffer_size=256K
table_open_cache=128

max_connections=10000
