{% block sw_promotion_scope_form %}
    <sw-card class="sw-promotion-scope-form">
        <h4>{{ $tc('sw-promotion.detail.main.preconditions.cart.title') }}</h4>
        <p>
            {{ $tc('sw-promotion.detail.main.preconditions.cart.text') }}
        </p>
        {% block sw_promotion_cart_condition_form_rules_field %}
        <sw-promotion-rule-select
                v-if="promotion"
                :label="$tc('sw-promotion.detail.main.preconditions.cart.rulesCaption')"
                :placeholder="$tc('sw-promotion.detail.main.preconditions.cart.rulesPlaceholder')"
                :criteria="ruleFilter"
                :ruleScope="['cart']"
                v-model="promotion.cartRules"
                :disabled="isEditingDisabled">
        </sw-promotion-rule-select>
        {% endblock %}
    </sw-card>
{% endblock %}
