{% block sw_promotion_scope_form %}
    <div class="sw-promotion-scope-form">
        <h4>{{ $tc('sw-promotion.detail.main.preconditions.descriptionTitleScope') }}</h4>
        <p>
            {{ $tc('sw-promotion.detail.main.preconditions.descriptionTextScope') }}
            <router-link :to="{ name: 'sw.settings.rule.index' }">
                {{ $tc('sw-promotion.detail.main.preconditions.ruleModuleLink') }}
            </router-link>
        </p>
        {% block sw_promotion_cart_condition_form_rules_field %}
        <sw-select id="rule" :store="rulesStore"
                   multi
                   class="sw-promotion-scope-form__select-cart-rules"
                   :label="$tc('sw-promotion.detail.main.preconditions.cart.rulesCaption')"
                   :placeholder="$tc('sw-promotion.detail.main.preconditions.cart.rulesPlaceholder')"

                   :associationStore="cartRulesAssociationStore">
            <template slot="result_items" slot-scope="{ item, index }">
                <sw-select-option :index="index" :item="item">
                    {{ item.name }}
                </sw-select-option>
            </template>
        </sw-select>
        {% endblock %}
    </div>
{% endblock %}
