{% sw_extends '@Storefront/storefront/page/error/_page.html.twig' %}

{% block base_flashbags %}
    <div class="flashbags container">
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: "danger", content: "error.message-404"|trans } %}
    </div>
{% endblock %}
