{% block sw_event_action_deprecated_modal  %}
<sw-modal
    v-if="showModal"
    class="sw-event-action-deprecated-modal"
    variant="large"
    :title="$tc('sw-event-action.deprecatedModal.titleModal')"
    @modal-close="closeModal"
>
    {% block sw_event_action_deprecated_modal_content_container %}
    <sw-container
        columns="1fr 1fr"
        gap="24px"
    >
        {% block sw_event_action_deprecated_modal_content %}
        <div>
            {% block sw_event_action_deprecated_modal_content_title %}
            <div class="sw-event-action-deprecated-modal__content-title">
                {{ $tc('sw-event-action.deprecatedModal.titleFlowBuilder') }}
            </div>
            {% endblock %}

            {% block sw_event_action_deprecated_modal_content_description %}
            <div
                class="sw-event-action-deprecated-modal__content-description"
                v-html="$tc('sw-event-action.deprecatedModal.textFlowBuilderDescription')"
            ></div>
            {% endblock %}

            {% block sw_event_action_deprecated_modal_content_link %}
            <a
                target="_blank"
                rel="noopener"
                :href="$tc('sw-event-action.deprecatedAlert.linkFlowBuilder')"
                class="sw-event-action-deprecated-modal__content-link"
            >
                {{ $tc('sw-event-action.deprecatedModal.linkLearnMore') }}
            </a>
            {% endblock %}
        </div>
        {% endblock %}

        {% block sw_event_action_deprecated_modal_image %}
        <div class="sw-event-action-deprecated-modal__image">
            <img
                alt="Flow builder UI sample"
                :src="'/administration/static/img/flowbuilder/ui-sample.png' | asset"
            >
        </div>
        {% endblock %}
    </sw-container>
    {% endblock %}

    <template #modal-footer>
        {% block sw_event_action_deprecated_modal_start_button %}
        <sw-button
            class="sw-media-modal-folder-settings__confirm"
            variant="primary"
            @click="redirectToFlowBuilder"
        >
            {{ $tc('sw-event-action.deprecatedModal.buttonStartBuilding') }}
        </sw-button>
        {% endblock %}
    </template>
</sw-modal>
{% endblock %}
