.sw-plugin-updates-list {
    height: 100%;

    .top-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .update-context {
        .highest-version {
            margin-top: 4px;
            text-align: right;
        }
    }

    .version {
        color: #9aa7be;
    }
}
