{% block sw_plugin_updates_list %}
<div class="sw-plugin-updates-list">

    {% block sw_plugin_updates_list_file_upload %}
        <div class="top-actions">
            Top Actions
        </div>
    {% endblock %}

    <sw-card>
        <sw-container slot="grid" type="row">
            {% block sw_plugin_updates_list_content %}
                {% block sw_plugin_updates_list_grid %}
                    <sw-grid v-if="total || term"
                             :items="updates"
                             :sortBy="sortBy"
                             :sortDirection="sortDirection"
                             :sidebar="true"
                             :selectable="false"
                             :isFullpage="true"
                             @sort-column="onSortColumn"
                             table>

                        {% block sw_plugin_updates_list_grid_slots %}
                            <template slot="columns" slot-scope="{ item }">

                                {% block sw_plugin_updates_list_grid_columns_id %}
                                    <sw-grid-column flex="minmax(100px, 1fr)"
                                                    :label="$tc('sw-plugin.updates-list.columnPlugin')"
                                                    dataIndex="name"
                                                    truncate
                                                    sortable>
                                        {% block sw_plugin_updates_list_grid_columns_id_label %}
                                            {{ item.name }}
                                        {% endblock %}
                                    </sw-grid-column>
                                {% endblock %}

                                {% block sw_plugin_updates_list_grid_columns_name %}
                                    <sw-grid-column flex="minmax(100px, 1fr)"
                                                    :label="$tc('sw-plugin.updates-list.columnChangelog')"
                                                    dataIndex="changelog"
                                                    truncate
                                                    sortable>
                                        {% block sw_plugin_updates_list_grid_columns_name_label %}
                                            {{ item.changelog }}
                                        {% endblock %}
                                    </sw-grid-column>
                                {% endblock %}

                                {% block sw_plugin_updates_list_grid_columns_actions %}
                                    <sw-grid-column flex="minmax(100px, 100px)"
                                                    align="center">
                                        {% block sw_plugin_updates_list_grid_columns_actions_context_button %}
                                            <sw-context-button>

                                                {% block sw_plugin_updates_list_grid_columns_actions_view %}
                                                    <sw-context-menu-item @click="onDownload(item.id)">
                                                        Download
                                                    </sw-context-menu-item>
                                                {% endblock %}

                                            </sw-context-button>
                                        {% endblock %}
                                    </sw-grid-column>
                                {% endblock %}

                            </template>
                        {% endblock %}

                        <template slot="pagination">
                            {% block sw_plugin_updates_list_grid_pagination %}
                                <sw-pagination :page="page"
                                               :limit="limit"
                                               :total="total"
                                               :total-visible="7"
                                               @page-change="onPageChange">
                                </sw-pagination>
                            {% endblock %}
                        </template>
                    </sw-grid>
                {% endblock %}

                {% block sw_plugin_updates_list_empty_state %}
                    <sw-empty-state v-else-if="!isLoading && !total"
                                    :title="$tc('sw-plugin.updates-list.messageEmpty')"></sw-empty-state>
                {% endblock %}

                {% block sw_plugin_updates_list_grid_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}
            {% endblock %}
        </sw-container>
    </sw-card>
</div>
{% endblock %}
