{% block sw_media_upload %}
    <div class="sw-media-upload sw-media-compact-upload">
        {% block sw_media_upload_compact %}
            {% block sw_media_upload_compact_label %}
                <label v-if="label" class="sw-media-compact-upload__label" :class="swMediaUploadLabelClasses">
                    {{ label }}
                </label>
            {% endblock %}

            <div v-if="variant == 'compact'" class="sw-media-upload__content">
                <sw-button-group splitButton>
                    {% block sw_media_upload_compact_button_file_upload %}
                        <sw-button class="sw-media-upload__button-compact-upload" variant="primary" @click="onClickUpload">
                            {{ $tc('global.sw-media-upload.buttonFileUpload') }}
                        </sw-button>
                    {% endblock %}

                    {% block sw_media_upload_compact_button_context_menu %}
                        <sw-context-button>
                            <template slot="button">
                                <sw-button square variant="primary" class="sw-media-upload__button-context-menu">
                                    <sw-icon name="small-arrow-medium-down" size="16"></sw-icon>
                                </sw-button>
                            </template>

                            <sw-context-menu-item @click="openUrlModal" class="sw-media-upload__button-url-upload">
                                {{ $tc('global.sw-media-upload.buttonUrlUpload') }}
                            </sw-context-menu-item>
                        </sw-context-button>
                    {% endblock %}
                </sw-button-group>

                {% block sw_media_upload_compact_url_form %}
                    <sw-media-url-form
                            v-if="showUrlInput"
                            variant="modal"
                            @modal-close="closeUrlModal"
                            @media-url-form-submit="onUrlUpload">
                    </sw-media-url-form>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_media_upload_regular %}
            <div v-if="variant == 'regular'" class="sw-media-upload__content">
                {% block sw_media_upload_regular_header %}
                {% endblock %}

                {% block sw_media_upload_regular_drop_zone %}
                    <div class="sw-media-upload__dropzone" ref="dropzone" :class="isDragActiveClass">

                        {% block sw_media_upload_preview %}
                            <template v-if="showPreview">
                                {% block sw_media_upload_regular_preview_file %}
                                    <sw-media-preview
                                            v-if="source || preview"
                                            class="sw-media-upload__preview"
                                            :source="source || preview">
                                    </sw-media-preview>
                                {% endblock %}
                                {% block sw_media_upload_regular_preview_fallback %}
                                    <div v-else class="sw-media-upload__preview is--fallback">
                                        <sw-icon class="sw-media-upload__fallback-icon" name="default-object-image"></sw-icon>
                                    </div>
                                {% endblock %}
                            </template>
                        {% endblock %}

                        {% block sw_media_upload_actions %}
                        <div class="sw-media-upload__actions" :class="{ 'has--source': source }">
                            <div class="sw-media-upload__file-info" v-if="source">
                                <div class="sw-media-upload__file-headline">
                                    {{ source | mediaName }}
                                </div>
                                <sw-icon class="sw-media-upload__remove-icon"
                                         name="small-default-x-line-small"
                                         @click="onRemoveMediaItem"
                                         small>
                                </sw-icon>
                            </div>

                            <template v-else>
                                {% block sw_media_upload_regular_actions_url %}
                                    <sw-media-url-form
                                            class="sw-media-upload__url-form"
                                            v-if="showUrlInput"
                                            variant="inline"
                                            @media-url-form-submit="onUrlUpload">
                                    </sw-media-url-form>
                                {% endblock %}

                                {% block sw_media_upload_regular_actions_add %}
                                    <template v-if="!showUrlInput">
                                        {% block sw_media_upload_regular_upload_button %}
                                            <sw-button class="sw-media-upload__button upload"
                                                       variant="ghost"
                                                       size="small"
                                                       @click="onClickUpload">
                                                {{ $tc('global.sw-media-upload.buttonFileUpload') }}
                                            </sw-button>
                                        {% endblock %}

                                        <sw-button variant="primary"
                                                   class="sw-media-compact-upload__browse-button"
                                                   @click="mediaModalIsOpen = true">
                                            <sw-icon class="sw-media-compact-upload__browse-icon"
                                                     name="default-object-image"></sw-icon>
                                        </sw-button>

                                        <sw-media-modal
                                            v-if="mediaModalIsOpen"
                                            @modal-close="mediaModalIsOpen = false"
                                            @media-modal-selection-change="onModalClosed"
                                            :allowMultiSelect="false"
                                        ></sw-media-modal>

                                        {% block sw_media_upload_regular_media_sidebar_button %}{% endblock %}
                                    </template>
                                {% endblock %}
                            </template>
                        </div>
                        {% endblock %}
                    </div>
                    <sw-field-error :error="error"></sw-field-error>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_media_upload_file_input %}
            <form class="sw-media-upload__form" ref="fileForm">
                <input class="sw-media-upload__file-input"
                       type="file"
                       id="files"
                       ref="fileInput"
                       accept="image/*"
                       :multiple="multiSelect"
                       @change="onFileInputChange"/>
            </form>
        {% endblock %}
    </div>
{% endblock %}
