.sw-select-result {
    .sw-sales-channel-defaults-select__active-icon {
        margin-right: 10px;
        display: block;
    }
}

.sw-sales-channel-detail__assign {
    .sw-select__selection {
        height: auto;
    }

    .sw-block-field__block {
        height: auto;
        min-height: var(--scale-size-48);
    }
}
