<li class="nav--link">
    <router-link :to="{ name: entry.path }">
        <sw-icon :name="getIconName(entry.icon)" size="20" :style="{ 'color': entry.color }" />
        {{ entry.label }}
    </router-link>

    <ul class="sw-sidebar--sub-list" v-if="entry.children.length">
        <sw-sidebar-item v-for="entry in entry.children" :entry="entry" :key="entry.path"></sw-sidebar-item>
    </ul>
</li>