<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_first_run_wizard_defaults %}
<div class="sw-first-run-wizard-defaults">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_first_run_wizard_defaults_sales_channel_card %}
    <sw-settings-listing-default-sales-channel
        ref="defaultSalesChannelCard"
        :is-loading="isLoading"
        @vue:mounted="() => defaultSalesChannelCardLoaded = true"
    />
    {% endblock %}

</div>
{% endblock %}
