@import "~scss/variables";

.sw-product-guarantee-form {
    > p {
        margin-bottom: 32px;
        color: $color-darkgray-200;
        font-size: $font-size-xs;
        font-weight: 400;
        line-height: $line-height-sm;
    }

    .sw-product-guarantee-form__switches {
        display: flex;
        align-items: center;
        height: 100%;

        .mt-switch {
            margin: 0;
        }
    }

    .sw-product-guarantee-form__requirements-notice {
        margin: 24px 0 0;

        ul {
            margin: 4px 0 0;
            padding-left: 16px;
            list-style: disc outside;
        }
    }
}
