{% block sw_notification_center %}
    <sw-context-button class="sw-notification-center__context-button"
                       :class="additionalContextButtonClass"
                       :autoClose="false"
                       :menuWidth="360"
                       :menuOffsetTop="10"
                       :menuOffsetLeft="24"
                       :additionalContextMenuClasses="additionalContextMenuClasses"
                       @context-menu-after-close="onContextMenuClose">
        <template #button>
            {% block sw_notification_center_context_button_button_slot %}
                <sw-icon name="default-bell-bell" size="20px"></sw-icon>
            {% endblock %}
        </template>

        {% block sw_notification_center_content %}
            <div class="sw-notification-center__content">
                {% block sw_notification_center_content_header %}
                    <div class="sw-notification-center__header">
                        <h3 class="sw-notification-center__title">
                            {{ $t('global.notification-center.title') }}
                        </h3>
                    </div>
                {% endblock %}

                {% block sw_notification_center_content_notification_container %}
                    <div class="sw-notification-center__notification-container">
                        <sw-notification-center-item v-for="notification in notifications"
                                                     :notification="notification"
                                                     :key="notification.uuid">
                        </sw-notification-center-item>
                        <div v-if="notifications.length === 0"
                             class="sw-notification-center__empty-text">
                            {{ $t('global.notification-center.emptyText') }}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-context-button>
{% endblock %}