.sw-custom-field-set-renderer {
    .sw-select {
        margin-bottom: 22px;
    }

    .sw-custom-field-set-renderer__card-tabs .sw-tabs-item__minimal {
        line-height: 44px;
    }

    .sw-custom-field-set-renderer__modal-tabs .sw-tabs-item__minimal {
        line-height: 38px;
    }

    .sw-custom-field-set-renderer__selection-switch {
        margin-top: 0;
    }

    .sw-custom-field-set-renderer__global-custom-field-list {
        padding-left: 22px;
        margin-bottom: 22px;
    }

    .sw-inherit-wrapper {
        .sw-field--switch {
            margin-top: 0;

            .sw-field--switch__input {
                height: 16px;
                padding: 0;
            }
        }
    }
}
