<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_media_base_item %}
<!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
<div
    class="sw-media-base-item"
    :class="mediaItemClasses"
    @click="handleItemClick"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_selected_indicator %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
        v-if="!isList && allowEdit"
        class="sw-media-base-item__selected-indicator"
        :class="selectionIndicatorClasses"
        @click="onClickedItem"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_base_item_selection_indicator_icon %}
        <sw-icon
            v-if="listSelected"
            small
            size="10px"
            name="regular-checkmark-xxs"
        />
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_preview %}
    <div class="sw-media-base-item__preview-container">
        <slot
            name="preview"
            v-bind="{ item }"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_media_base_item_slot_media_preview %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_name_container %}
    <div
        class="sw-media-base-item__name-container"
        :class="mediaNameContainerClasses"
    >
        <slot
            name="name"
            v-bind="{ item, isInlineEdit, startInlineEdit, endInlineEdit }"
        ></slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_metadata_container %}
    <div
        v-if="isList && showContextMenuButton"
        class="sw-media-base-item__metadata-container"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_base_item_metadata %}
        <slot
            name="metadata"
            v-bind="{ item }"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_media_base_item_slot_media_item_metadata %}{% endblock %}
        </slot>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_context_menu %}
    <sw-context-button
        v-if="showContextMenuButton && !isLoading"
        ref="swContextButton"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_base_item_context_items %}
        <slot
            name="context-menu"
            v-bind="{ item, startInlineEdit, allowEdit, allowDelete }"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_media_base_item_slot_media_item_context_menu %}{% endblock %}
        </slot>
    {% endblock %}
    </sw-context-button>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_list_selected_indicator %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
        v-if="isList && showSelectionIndicator && allowMultiSelect"
        class="sw-media-base-item__selected-indicator"
        :class="selectionIndicatorClasses"
        @click="onClickedItem"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_base_item_list_selection_indicator_icon %}
        <sw-icon
            v-if="listSelected"
            small
            name="regular-checkmark-xxs"
            size="10px"
        />
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_base_item_loading_indicator %}
    <sw-icon
        v-if="isLoading"
        class="sw-media-base-item__loader"
        name="regular-spinner-star"
        size="16px"
    />
    {% endblock %}

    <slot
        name="modal-windows"
        v-bind="{ item, allowEdit, allowDelete }"
    ></slot>
</div>
{% endblock %}
