{% block sw_media_list_selection %}
    <div class="sw-media-list-selection">

        {% block sw_media_list_selection_upload %}
            <sw-upload-store-listener
                :uploadTag="uploadId"
                @media-upload-add="onUploadsAdded"
                @media-upload-finish="successfulUpload"
                @media-upload-fail="onUploadFailed">
            </sw-upload-store-listener>

            <sw-media-upload
                :uploadTag="uploadId"
                variant="regular"
                :defaultFolder="defaultFolderName"
                @media-upload-sidebar-open="onMediaUploadButtonOpenSidebar">
            </sw-media-upload>
        {% endblock %}

        {% block sw_media_list_selection_grid %}
            <div class="sw-media-list-selection__grid" ref="grid" :style="gridAutoRows">
                <sw-loader v-if="entity.isLoading"></sw-loader>
                {%  block sw_media_list_selection_grid_items %}
                    <sw-media-list-selection-item v-for="mediaItem in mediaItems"
                                                  @item-remove="removeItem(mediaItem)"
                                                  :key="mediaItem.id"
                                                  :item="mediaItem">
                    </sw-media-list-selection-item>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
