.checkout-main-left {
    @extend .col-lg-12;
}

.checkout-main-right {
    @extend .offset-lg-8;
}

.confirm-terms {
    margin-bottom: $spacer-lg;
}

.confirm-info {
    margin-bottom: $spacer-lg;
}

.confirm-card {
    height: 100%;

    .btn {
        align-self: flex-start;
    }
}

.confirm-card-body {
    display: flex;
    flex-direction: column;
}

.confirm-address {
    margin-bottom: $spacer-lg;
}

@include media-breakpoint-up(lg) {
    .confirm-address {
        margin-bottom: 0;
    }
}
