{% block block_image_simple_grid %}
    {% set columns = 2 %}

    {% block block_image_simple_grid_left %}
        <div class="col-md-6">
            {% block block_image_simple_grid_left_top %}
                {% set element = block.slots.getSlot('left-top') %}

                <div class="left-top" data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

            {% block block_image_simple_grid_left_bottom %}
                {% set element = block.slots.getSlot('left-bottom') %}

                <div class="left-bottom" data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_simple_grid_right %}
        <div class="col-md-6">
            {% block block_image_simple_grid_right_inner %}
                {% set element = block.slots.getSlot('right') %}

                <div class="right" data-cms-element-id="{{ element.id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
