{% block block_image_bubble_row %}
    {% set columns = 3 %}

    {% block block_image_bubble_row_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="col-md-4" data-cms-element-id="{{ element.id }}">
            {% block block_image_bubble_row_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_bubble_row_center %}
        {% set element = block.slots.getSlot('center') %}

        <div class="col-md-4" data-cms-element-id="{{ element.id }}">
            {% block block_image_bubble_row_center_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_bubble_row_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="col-md-4" data-cms-element-id="{{ element.id }}">
            {% block block_image_text_row_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

