{% block block_gallery_buybox %}
    {% block block_gallery_buybox_column_left %}
        {% set element = block.slots.getSlot('left') %}
        {% set config = element.fieldConfig.elements %}

        <div class="col-lg-7 product-detail-media" data-cms-element-id="{{ element.id }}">
            {% block block_gallery_buybox_column_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing
                    with {
                    'isProduct': config.sliderItems.value == 'product.media' and config.sliderItems.source == 'mapped',
                    'startIndexThumbnails': 1,
                    'startIndexSlider': 1
                } %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_gallery_buybox_column_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="col-lg-5 product-detail-buy" data-cms-element-id="{{ element.id }}">
            {% block block_gallery_buybox_column_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
