{% block block_text_teaser_section %}
    {% set columns = 2 %}

    {% block block_text_teaser_section_left %}
        {% set element = block.slots.getSlot('left') %}

        <div class="col-md-4" data-cms-element-id="{{ element.id }}">
            {% block block_text_teaser_section_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_text_teaser_section_right %}
        {% set element = block.slots.getSlot('right') %}

        <div class="col-md-8" data-cms-element-id="{{ element.id }}">
            {% block block_text_teaser_section_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
