{% block block_image_gallery %}
    {% set element = block.slots.getSlot('imageGallery') %}
    {% set columns = 1 %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_image_gallery_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
