@import "~scss/variables";

.sw-cms-el-preview-product-box {
    height: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;

    .sw-cms-product-box-preview {
        max-width: 180px;
        grid-template-rows: 95px 22px auto 22px 26px;

        .sw-cms-product-box-preview__image {
            height: 90px;
        }
    }
}