@font-face {
	font-family: 'Brandon';
	src: url('../fonts/2D7E1D_6_0.eot');
	src: url('../fonts/2D7E1D_6_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D7E1D_6_0.woff2') format('woff2'),
	url('../fonts/2D7E1D_6_0.woff') format('woff'),
	url('../fonts/2D7E1D_6_0.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/2D7E1D_7_0.eot');
	src: url('../fonts/2D7E1D_7_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D7E1D_7_0.woff2') format('woff2'),
	url('../fonts/2D7E1D_7_0.woff') format('woff'),
	url('../fonts/2D7E1D_7_0.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/2D7E1D_8_0.eot');
	src: url('../fonts/2D7E1D_8_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D7E1D_8_0.woff2') format('woff2'),
	url('../fonts/2D7E1D_8_0.woff') format('woff'),
	url('../fonts/2D7E1D_8_0.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/2D7E1D_B_0.eot');
	src: url('../fonts/2D7E1D_B_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D7E1D_B_0.woff2') format('woff2'),
	url('../fonts/2D7E1D_B_0.woff') format('woff'),
	url('../fonts/2D7E1D_B_0.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/2D7E1D_0_0.eot');
	src: url('../fonts/2D7E1D_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D7E1D_0_0.woff2') format('woff2'),
	url('../fonts/2D7E1D_0_0.woff') format('woff'),
	url('../fonts/2D7E1D_0_0.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;

}

@font-face {
	font-family: 'Brandon';
	src: url('../fonts/2D7E1D_1_0.eot');
	src: url('../fonts/2D7E1D_1_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2D7E1D_1_0.woff2') format('woff2'),
	url('../fonts/2D7E1D_1_0.woff') format('woff'),
	url('../fonts/2D7E1D_1_0.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'shopware';
	src: url('../fonts/shopware.eot?-g83jdd');
	src: url('../fonts/shopware.eot?#iefix-g83jdd') format('embedded-opentype'), url('../fonts/shopware.woff?-g83jdd') format('woff'), url('../fonts/shopware.ttf?-g83jdd') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon--"],
[class*=" icon--"] {
	font-family: 'shopware';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
