/*
Alert
==============================================
Custom styling for bootstrap alert component.

https://getbootstrap.com/docs/5.2/components/alerts
*/

.alert-list {
    padding-left: 20px;
    margin-bottom: 0;
}
