.confirm-message {
    padding: 10% 20%;
    text-align: center;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    div.alert {
        margin-top: 1em;
    }
}

.confirm-alert {
    padding: 1em 1em 3em;
}

@include media-breakpoint-down(md) {
    .confirm-message {
        padding: 10% 0;
    }
}
