.product-feature {
    &-list {
        &-list {
            list-style: none;
            padding-left: unset;
        }
    }

    &-feature {
        font-size: var(--sw-font-size-sm);
    }

    &-value {
        font-weight: var(--sw-font-weight-bold);
    }
}
