<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_text_preview %}
<div class="sw-cms-el-preview-text">
    <h2>Lorem ipsum dolor</h2>
    <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
    </p>
</div>
{% endblock %}
