<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_create_create_initial %}
<div class="sw-order-create-initial">
    <sw-order-create-initial-modal
        @modal-close="onCloseCreateModal"
        @order-preview="onPreviewOrder"
    />
</div>
{% endblock %}
