<sw-card :title="$tc('sw-configuration.detail.cardTitleGroupInfo')" :isLoading="group.isLoading">

    <sw-field v-model="group.name" type="text" validation="required" :label="$tc('sw-configuration.detail.labelName')" :placeholder="$tc('sw-configuration.detail.placeholderName')" />

    <sw-field v-model="group.description" type="textarea" :label="$tc('sw-configuration.detail.labelDescription')"  />

    <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">

        <sw-field v-model="group.displayType" validation="required" type="select" :label="$tc('sw-configuration.detail.labelDisplayType')" >
            <option slot="options" v-for="option in displayTypes" :value="option.value" :key="option.value">{{ option.label }}</option>
        </sw-field>

        <sw-field v-model="group.sortingType" validation="required" type="select" :label="$tc('sw-configuration.detail.labelSortingType')" >
            <option slot="options" v-for="option in sortingTypes" :value="option.value">{{ option.label }}</option>
        </sw-field>
    </sw-container>
</sw-card>
