.sw-cms-skin__fancy {
    font-family: Verdana, sans-serif;
}

.sw-cms-skin__fancy .sw-cms-el-product-box__buy-button button {
    background: linear-gradient(to bottom, #32afea 0%, #177faf 100%);
}

.sw-cms-skin__fancy .is--boxed .sw-cms-block__content {
    max-width: 1200px;
}