{% block sw_property_detail %}
    <sw-page class="sw-property-detail">

        {% block sw_property_detail_smart_bar_header %}
            <template slot="smart-bar-header">

                {% block sw_property_detail_smart_bar_header_title %}
                    <h2>{{ placeholder(propertyGroup, 'name', $tc('sw-property.detail.textHeadline')) }}</h2>
                {% endblock %}

            </template>
        {% endblock %}

        {% block sw_property_detail_smart_bar_actions %}
            <template slot="smart-bar-actions">
                {% block sw_property_detail_smart_bar_actions_cancel %}
                    <sw-button class="sw-property-detail__back-action"
                        :disabled="isLoading"
                        v-tooltip.bottom="tooltipCancel"
                        @click="onCancel">
                        {{ $tc('sw-property.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_property_detail_smart_bar_actions_save %}
                    <sw-button-process
                        class="sw-property-detail__save-action"
                        :isLoading="isLoading"
                        :processSuccess="isSaveSuccessful"
                        :disabled="isLoading || !acl.can('property.editor')"
                        variant="primary"
                        @process-finish="saveFinish"
                        v-tooltip="tooltipSave"
                        @click.prevent="onSave">
                        {{ $tc('sw-property.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_property_detail_language_switch %}
            <template slot="language-switch">
                <sw-language-switch @on-change="onChangeLanguage"
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange"
                    :savePermission="acl.can('property.editor')">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block sw_property_detail_content %}
            <sw-card-view slot="content">
                {% block sw_property_detail_content_language_info %}
                    <sw-language-info
                            :entityDescription="placeholder(propertyGroup, 'name', $tc('sw-property.detail.textHeadline'))">
                    </sw-language-info>
                {% endblock %}

                {% block sw_property_detail_content_detail_base %}
                <sw-property-detail-base v-if="propertyGroup" :propertyGroup="propertyGroup" :isLoading="isLoading"></sw-property-detail-base>
                {% endblock %}

                {% block sw_property_detail_content_option_list %}
                <sw-property-option-list :optionRepository="optionRepository" v-if="propertyGroup" :propertyGroup="propertyGroup" ref="optionListing" :isLoading="isLoading"></sw-property-option-list>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
