{% block sw_property_detail %}
<sw-page class="sw-property-detail">

    {% block sw_property_detail_smart_bar_header %}
    <template slot="smart-bar-header">

        {% block sw_property_detail_smart_bar_header_title %}
        <h2>{{ placeholder(propertyGroup, 'name', $tc('sw-property.detail.textHeadline')) }}</h2>
        {% endblock %}

    </template>
    {% endblock %}

    {% block sw_property_detail_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block sw_property_detail_smart_bar_actions_cancel %}
        <sw-button
            v-tooltip.bottom="tooltipCancel"
            class="sw-property-detail__back-action"
            :disabled="isLoading"
            @click="onCancel"
        >
            {{ $tc('sw-property.detail.buttonCancel') }}
        </sw-button>
        {% endblock %}

        {% block sw_property_detail_smart_bar_actions_save %}
        <sw-button-process
            v-tooltip="tooltipSave"
            class="sw-property-detail__save-action"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            :disabled="isLoading || !acl.can('property.editor')"
            variant="primary"
            @process-finish="saveFinish"
            @click.prevent="onSave"
        >
            {{ $tc('sw-property.detail.buttonSave') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_property_detail_language_switch %}
    <template slot="language-switch">
        <sw-language-switch
            :save-changes-function="saveOnLanguageChange"
            :abort-change-function="abortOnLanguageChange"
            :save-permission="acl.can('property.editor')"
            @on-change="onChangeLanguage"
        />
    </template>
    {% endblock %}

    {% block sw_property_detail_content %}
    <sw-card-view slot="content">
        {% block sw_property_detail_content_language_info %}
        <sw-language-info
            :entity-description="placeholder(propertyGroup, 'name', $tc('sw-property.detail.textHeadline'))"
        />
        {% endblock %}

        {% block sw_property_detail_content_detail_base %}
        <sw-property-detail-base
            v-if="propertyGroup"
            :property-group="propertyGroup"
            :allow-edit="acl.can('property.editor')"
            :is-loading="isLoading"
        />
        {% endblock %}

        {% block sw_property_detail_content_option_list %}
        <sw-property-option-list
            v-if="propertyGroup"
            ref="optionListing"
            :option-repository="optionRepository"
            :property-group="propertyGroup"
            :is-loading="isLoading"
        />
        {% endblock %}

        {% block sw_property_detail_custom_field_sets %}
        <sw-card
            v-if="showCustomFields"
            :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
            :is-loading="isLoading"
        >
            <sw-custom-field-set-renderer
                :entity="propertyGroup"
                :disabled="!acl.can('property.editor')"
                :sets="customFieldSets"
            />
        </sw-card>
        {% endblock %}
    </sw-card-view>
    {% endblock %}
</sw-page>
{% endblock %}
