.sw-property-detail {
    .smart-bar__actions {
        .sw-tooltip--wrapper {
            margin-left: 8px;
        }
    }
}

.sw-property-create {
    &__option-list-empty-state {
        .mt-card__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
