.sw-newsletter-recipient-list {
    .sw-collapse__content {
        padding: 0 20px;
    }

    .smart-bar__header {
        .sw-icon.icon--regular-chevron-right-xs {
            width: 16px;
            height: 16px;
            padding-top: 3px;
            padding-right: 5px;
            padding-bottom: 3px;
            padding-left: 5px;
        }
    }
}
