@import "~scss/variables";

.sw-cms-stage.is--mobile {
    .sw-cms-section.is--sidebar {
        display: flex;
        flex-direction: column;
    }
}

.sw-cms-section {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    min-height: 400px;
    display: grid;
    border-top: 1px solid $color-gray-300;

    &.has--shadow-top {
        box-shadow: 0 -5px 5px -5px $color-gray-300;
    }

    &.has--shadow-bottom {
        box-shadow: 0 5px 5px -5px $color-gray-300;
    }

    &.is--sidebar {
        grid-template-columns: 2fr 4fr;
        grid-gap: 28px;
        justify-content: center;
    }

    &.is--sidebar.is--boxed {
        grid-template-columns: 340px 1fr;
        justify-items: initial;
    }

    &:hover {
        .sw-cms-section__config-overlay {
            display: block;
        }

        .sw-cms-slot__preview-overlay {
            display: block;
        }

        .sw-cms-section__config-toolbar {
            display: block;
        }
    }

    &.is--boxed {
        justify-items: center;
        padding: 20px;

        .sw-cms-section__content {
            max-width: 1080px;
            width: 100%;
        }
    }

    .sw-cms-section__sidebar.is--offcanvas {
        display: none;
    }

    .sw-cms-section__sidebar,
    .sw-cms-section__content {
        position: relative;

        &.is--empty {
            border: 2px dashed $color-gray-300;
            border-radius: 10px;
            max-height: 980px;
            min-height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sw-cms-section__empty-stage {
            color: $color-gray-500;
            text-align: center;
            cursor: pointer;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &.is--valid-drop {
                background-color: $color-cadet-blue;
                border-color: $color-shopware-blue;
            }

            .sw-icon {
                margin-bottom: 8px;
            }
        }
    }

    .sw-cms-section__config-overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 1px dashed rgba($color-shopware-blue, 0.4);
        cursor: pointer;
        z-index: 50;

        &.is--active {
            display: block;
            pointer-events: none;
            border: 1px solid $color-shopware-blue;
            z-index: 10;
        }
    }

    .sw-cms-section__config-toolbar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: $color-white;
        border: 1px dashed rgba($color-shopware-blue, 0.4);
        border-bottom-right-radius: 4px;
        z-index: 240;

        .sw-cms-section__config-toolbar-action {
            padding: 10px;
            color: rgba($color-gutenberg, 0.3);
            cursor: pointer;
        }

        &.is--active {
            display: block;
            border: 1px solid $color-shopware-blue;

            .sw-cms-section__config-toolbar-action {
                color: $color-gutenberg;

                &:hover {
                    color: $color-shopware-blue;
                }
            }
        }
    }
}
