@import "~scss/variables";

.sw-single-select {
    .sw-single-select__selection-input {
        padding: 12px 0;
        min-height: 22px + 2 * 12px;
        width: 0;
        display: inline-block;

        &.is--expanded {
            width: 100%;
            display: block;
            padding: 12px 8px;
        }

        &:disabled {
            background-color: $color-white;
            border-color: $color-white;
        }
    }

    .sw-single-select__selection-text {
        padding: 12px 8px;
        min-height: 22px + 2 * 12px;

        &.is--placeholder {
            color: lighten($color-darkgray-200, 25%);
        }
    }

    &.sw-field--medium {
        .sw-select__selection {
            padding: 0 6px;
        }

        .sw-single-select__selection-input,
        .sw-single-select__selection-text {
            padding: 8px;
            min-height: 22px + 2 * 8px;
        }
    }

    &.sw-field--small {
        .sw-select__selection {
            padding: 0 6px;
        }

        .sw-single-select__selection-input,
        .sw-single-select__selection-text {
            padding: 4px 8px;
            min-height: 22px + 2 * 4px;
        }
    }
}
