{% block block_wishlist_listing %}
    <div class="col-12">
        {% block block_wishlist_listing_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-wishlist-listing.html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
