.sw-sales-channel-detail {
    .sw-sales-channel-detail-analytics__headline-text {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .sw-sales-channel-detail-analytics__description {
        font-size: 14px;
        margin-bottom: 30px;
    }
}
