@import "~scss/variables";

.sw-users-permissions-detailed-permissions-grid {
    &.sw-card .sw-card__content {
        padding: 0;
    }

    .sw-users-permissions-detailed-permissions-grid__grid {
        display: flex;
        flex-direction: column;
    }

    .sw-users-permissions-detailed-permissions-grid__entry {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid $color-gray-300;
        padding-left: 20px;
        background: $color-white;

        &:nth-child(even) {
            background: $color-gray-100;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    .sw-users-permissions-detailed-permissions-grid__entry-header {
        font-weight: bold;

        .sw-users-permissions-detailed-permissions-grid__title {
            min-height: 60px;
        }
    }

    .sw-users-permissions-detailed-permissions-grid__title,
    .sw-users-permissions-detailed-permissions-grid__all,
    .sw-users-permissions-detailed-permissions-grid__checkbox-wrapper, {
        min-width: 100px;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .sw-field--checkbox {
            margin-bottom: 0;
        }

        .sw-field--checkbox .sw-icon {
            padding: 0;
        }
    }

    .sw-users-permissions-detailed-permissions-grid__title {
        margin-right: auto;
        width: auto;
        justify-content: left;
        padding-left: 10px;
    }
}
