.sw-sales-channel-products-assignment-modal {
    &__tabs.sw-tabs.sw-tabs--small {
        margin: 0 auto;
    }

    &__tabs.sw-tabs .sw-tabs__custom-content {
        padding: 20px 0 0;
    }

    &__content {
        position: relative;
        overflow: hidden;
    }
}
