@import "~scss/variables";

.sw-settings-product-feature-sets-values-card {
    &.is--empty {
        .sw-card__content {
            min-height: 390px;
        }
    }

    .sw-settings-product-feature-set-card__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .sw-settings-product-feature-set-card__empty-state--label {
        margin-top: 25px;
        margin-bottom: 25px;
        max-width: 270px;
        text-align: center;
        font-size: $font-size-xs;
        color: rgb(148, 167, 183);
    }

    .sw-product-feature-set__toolbar {
        padding: 25px 35px;
        background-color: $color-gray-100;
        border-bottom: 1px solid $color-gray-300;

        .sw-product-feature-set__delete-button {
            border-color: $color-crimson-500;

            .sw-icon {
                color: $color-crimson-500;
            }

            &.sw-button--disabled {
                opacity: 0.2;
            }
        }
    }
}
