.sw-settings-product-feature-sets-values-card {
    &.is--empty {
        .mt-card__content {
            min-height: 390px;
        }
    }

    .sw-settings-product-feature-set-card__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .sw-settings-product-feature-set-card__empty-state--label {
        margin-top: var(--scale-size-24);
        margin-bottom: var(--scale-size-24);
        max-width: 270px;
        text-align: center;
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary-default);
    }

    .sw-product-feature-set__toolbar {
        padding: var(--scale-size-24) var(--scale-size-32);
        background-color: var(--color-background-secondary-default);
        border-bottom: 1px solid var(--color-border-primary-default);

        .sw-product-feature-set__delete-button {
            border-color: var(--color-crimson-500);

            .mt-icon {
                color: var(--color-crimson-500);
            }

            &.mt-button--disabled {
                opacity: 0.2;
            }
        }
    }
}
