<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_import_export_view_export %}
<div class="sw-import-export-view-export">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_import_export_view_export_exporter %}
    <sw-card
        :title="$tc('sw-import-export.exporter.exportLabel')"
        position-identifier="sw-import-export-view-export"
    >
        <sw-import-export-exporter
            @export-started="reloadContent"
        />
    </sw-card>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_import_export_view_export_activity %}
    <sw-card
        class="sw-import-export-view-export__activity"
        position-identifier="sw-import-export-view-export-activity"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_view_export_activity_title %}
        <template #title>
            <div class="sw-card__title">
                {{ $tc('sw-import-export.exporter.exportActivityLabel') }}
                <p class="sw-import-export__card-subtitle">
                    {{ $tc('sw-import-export.exporter.exportActivityDescription') }}
                </p>
            </div>
        </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_view_export_activity_grid %}
        <template #grid>
            <sw-import-export-activity
                ref="activityGrid"
                type="export"
            />
        </template>
        {% endblock %}
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
