<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_text_teaser_section_preview %}
<div class="sw-cms-preview-text-teaser-section">
    <div class="sw-cms-preview-text-teaser-section__left">
        <h2>Lorem ipsum</h2>
        <p><i>Dolor sit amet</i></p>
    </div>

    <div class="sw-cms-preview-text-teaser-section__right">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum.</p>
    </div>
</div>
{% endblock %}
