@import "~scss/variables";

.sw-users-permissions-role-listing {
    .mt-card__toolbar {
        padding: 25px 35px;
        background-color: $color-gray-100;
        border-bottom: 1px solid $color-gray-300;
    }

    &__add-role-button {
        justify-self: end;
        text-align: center;
    }

    &__toolbar {
        width: 100%;

        .sw-container {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 0 10px;
            align-items: center;
            width: 100%;
        }
    }

    .mt-empty-state {
        min-height: 250px;
    }
}
