{% block sw_settings_tax_area_rule_type_zip_code_range_cell %}
    <span>
        {{ taxAreaRule.taxAreaRuleType.typeName }}: {{ taxAreaRule.data.fromZipCode }} - {{ taxAreaRule.data.toZipCode }}
    </span>
{% endblock %}
