{% block sw_settings_newsletter_receiver_list %}
    <sw-page class="sw-settings-newsletter-receiver-list">
        {% block sw_settings_newsletter_receiver_list_search_bar %}
            <template slot="search-bar">
                <sw-search-bar :initialSearchType="$tc('sw-settings-newsletter-receiver.general.mainMenuItemGeneral')"
                               :placeholder="$tc('sw-settings-newsletter-receiver.general.placeholderSearchBarSnippets')"
                               :initialSearch="term"
                               @search="onSearch">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_settings_newsletter_receiver_list_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_settings_newsletter_receiver_list_smart_bar_header_title %}
                    <h2>
                        {% block sw_settings_newsletter_receiverlist_list_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }}
                            <sw-icon name="small-arrow-medium-right" small></sw-icon> {{ $tc('sw-settings-newsletter-receiver.list.textHeadline') }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_newsletter_receiverlist_list_content %}
            <template slot="content">
                {% block sw_settings_newsletter_receiverlist_list_content_card %}
                    {% block sw_settings_newsletter_receiverlist_list_grid %}
                        <sw-entity-listing slot="grid"
                                           ref="swNewsletterReceiverGrid"
                                           v-if="items"
                                           :showSelection="false"
                                           class="sw-settings-newsletter-receiver-list-grid"
                                           :items="items"
                                           :columns="columns"
                                           :repository="repository"
                                           detailRoute="sw.settings.newsletter.receiver.detail">
                            <template slot="column-status" slot-scope="{ item, compact, isInlineEdit }">
                                <template v-if="item.status === 'notSet'">
                                    {{ $tc('sw-settings-newsletter-receiver.list.notSet') }}
                                </template>
                                <template v-else-if="item.status === 'optIn'">
                                    {{ $tc('sw-settings-newsletter-receiver.list.optIn') }}
                                </template>
                                <template v-else-if="item.status === 'optOut'">
                                    {{ $tc('sw-settings-newsletter-receiver.list.optOut') }}
                                </template>
                                <template v-else-if="item.status === 'direct'">
                                    {{ $tc('sw-settings-newsletter-receiver.list.direct') }}
                                </template>
                            </template>
                        </sw-entity-listing>
                    {% endblock %}
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_newsletter_receiver_list_sidebar %}
        <sw-sidebar slot="sidebar">
            {% block sw_settings_newsletter_receiver_list_sidebar_refresh %}
                <sw-sidebar-item
                        icon="default-arrow-360-left"
                        :title="$tc('sw-settings-newsletter-receiver.list.titleSidebarItemRefresh')"
                        @click="onRefresh">
                </sw-sidebar-item>
            {% endblock %}

            {% block sw_settings_newsletter_receiver_list_sidebar_filter %}
                <sw-sidebar-item
                        ref="filterSideBar"
                        icon="default-action-filter"
                        :title="$tc('sw-settings-newsletter-receiver.list.titleSidebarItemFilter')"
                        @sw-sidebar-item-close-content="closeContent"
                        @click="closeContent">

                    {% block sw_settings_newsletter_receiver_list_sidebar_filter_status %}
                        <sw-sidebar-collapse>
                            <template slot="header">{{ $tc('sw-settings-newsletter-receiver.list.status') }}</template>
                            <template slot="content">
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_status_not_set %}
                                    <sw-settings-newsletter-receiver-boolean-filter
                                            id="notSet"
                                            group="status"
                                            :label="$tc('sw-settings-newsletter-receiver.list.notSet')"
                                            @change="onChange">
                                    </sw-settings-newsletter-receiver-boolean-filter>
                                {% endblock %}
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_status_direct %}
                                    <sw-settings-newsletter-receiver-boolean-filter
                                            id="direct"
                                            group="status"
                                            :label="$tc('sw-settings-newsletter-receiver.list.direct')"
                                            @change="onChange">
                                    </sw-settings-newsletter-receiver-boolean-filter>
                                {% endblock %}
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_status_opt_in %}
                                    <sw-settings-newsletter-receiver-boolean-filter
                                            id="optIn"
                                            group="status"
                                            :label="$tc('sw-settings-newsletter-receiver.list.optIn')"
                                            @change="onChange">
                                    </sw-settings-newsletter-receiver-boolean-filter>
                                {% endblock %}
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_status_opt_out %}
                                    <sw-settings-newsletter-receiver-boolean-filter
                                            id="optOut"
                                            group="status"
                                            :label="$tc('sw-settings-newsletter-receiver.list.optOut')"
                                            @change="onChange">
                                    </sw-settings-newsletter-receiver-boolean-filter>
                                {% endblock %}
                            </template>
                        </sw-sidebar-collapse>
                    {% endblock %}

                    {% block sw_settings_newsletter_receiver_list_sidebar_filter_language %}
                        <sw-sidebar-collapse>
                            <template slot="header">{{ $tc('sw-settings-newsletter-receiver.general.language') }}</template>
                            <template slot="content">
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_language_items %}
                                    <div v-for="(item, index) in languageFilters">
                                        <sw-settings-newsletter-receiver-boolean-filter
                                                :id="item.id"
                                                group="languageId"
                                                :label="item.name"
                                                @change="onChange">
                                        </sw-settings-newsletter-receiver-boolean-filter>
                                    </div>
                                {% endblock %}
                            </template>
                        </sw-sidebar-collapse>
                    {% endblock %}

                    {% block sw_settings_newsletter_receiver_list_sidebar_filter_sales_channel %}
                        <sw-sidebar-collapse>
                            <template slot="header">{{ $tc('sw-settings-newsletter-receiver.general.salesChannel') }}</template>
                            <template slot="content">
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_sales_channel_items %}
                                    <div v-for="(item, index) in salesChannelFilters">
                                        <sw-settings-newsletter-receiver-boolean-filter
                                                :id="item.id"
                                                group="salesChannelId"
                                                :label="item.translated.name"
                                                @change="onChange">
                                        </sw-settings-newsletter-receiver-boolean-filter>
                                    </div>
                                {% endblock %}
                            </template>
                        </sw-sidebar-collapse>
                    {% endblock %}

                    {% block sw_settings_newsletter_receiver_list_sidebar_filter_sales_tags %}
                        <sw-sidebar-collapse>
                            <template slot="header">{{ $tc('sw-settings-newsletter-receiver.general.tags') }}</template>
                            <template slot="content">
                                {% block sw_settings_newsletter_receiver_list_sidebar_filter_sales_tags_select %}
                                    <sw-entity-multi-select entity="tag"></sw-entity-multi-select>

{#                                    <sw-select multi id="tags" :store="tagStore" :associationStore="tagAssociationStore" @input="onChange"></sw-select>#}
                                {% endblock %}
                            </template>
                        </sw-sidebar-collapse>
                    {% endblock %}
                </sw-sidebar-item>
            {% endblock %}

        </sw-sidebar>
        {% endblock %}
    </sw-page>
{% endblock %}