<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_button_process %}
<sw-button
    class="sw-button-process"
    v-bind="$attrs"
    v-on="listeners"
>

    <sw-icon
        v-if="processSuccess"
        class="sw-button-process__status-indicator"
        name="regular-checkmark-xs"
    />
    <span
        class="sw-button-process__content"
        :class="contentVisibilityClass"
    >
        <slot></slot>
    </span>
</sw-button>
{% endblock %}
