@import "~scss/variables";

.sw-mail-header-footer-detail__sales-channel-list {
    margin-top: 10px;
}

.sw-mail-header-footer-detail__sales-channel-list-entry {
    margin-bottom: 5px;
    font-weight: $font-weight-semi-bold;
}
