{% block sw_condition_and_container %}
    <div class="sw-condition-and-container" :class="containerRowClass">
        {% block sw_condition_and_container_children %}
            <template v-for="(child, index) in condition[childAssociationField]">
                <div v-if="index > 0" class="condition-content__spacer--and">
                    {{ $tc('global.sw-condition.condition.and') }}
                </div>

                <sw-condition-tree-node
                        :key="`sw-condition-container__or-child--${index}`"
                        :parentCondition="condition"
                        :condition="child"
                        :disabled="disabled"
                        :level="level + 1">
                </sw-condition-tree-node>
            </template>
        {% endblock %}

        {% block sw_condition_and_container_actions %}
            <div class="sw-condition-and-container__actions">
                <sw-button class="sw-condition-and-container__actions--and"
                           @click="onAddPlaceholder"
                           :disabled="disabled"
                           v-tooltip.bottom="getNoPermissionsTooltip('product_stream.editor')">
                    {{ $tc('global.sw-condition.condition.and') }}
                </sw-button>
                <sw-button class="sw-condition-and-container__actions--sub"
                           @click="onAddOrContainer"
                           :disabled="disabled"
                           v-tooltip.bottom="getNoPermissionsTooltip('product_stream.editor')">
                    {{ $tc('global.sw-condition.condition.subCondition') }}
                </sw-button>
                <sw-button class="sw-condition-and-container__actions--delete"
                           :disabled="disabled"
                           @click="onDeleteAll"
                           v-tooltip.bottom="getNoPermissionsTooltip('product_stream.editor')">
                    {{ $tc('global.sw-condition.condition.deleteConditions') }}
                </sw-button>
            </div>
        {% endblock %}
    </div>
{% endblock %}
