@import "~scss/variables";
@import "~scss/mixins";

$sw-colorpicker-color-border: $color-steam-cloud;
$sw-colorpicker-color-focus: $color-shopware-blue;
$sw-colorpicker-color-text: $color-gutenberg;
$sw-colorpicker-color-background: $color-white;
$sw-colorpicker-transition: border-color 0.3s ease-out;
$sw-colorpicker-border-radius: $border-radius-default;
$sw-colorpicker-color-placeholder: lighten($sw-colorpicker-color-text, 25%);
$sw-colorpicker-color-label: $color-kashmir;
$sw-colorpicker-color-error: $color-crimson;
$sw-colorpicker-font-family: $font-family-default;
$sw-colorpicker-font-size: 14px;

.sw-colorpicker {

    .sw-colorpicker__field {
        border-radius: $sw-colorpicker-border-radius;
        border: 1px solid $sw-colorpicker-color-border;
        background: $sw-colorpicker-color-background;
        display: grid;
        grid-template-columns: 1fr 48px;
        margin-bottom: 22px;
        height: 45px;
        line-height: 27px;
        transition: $sw-colorpicker-transition;
        width: 100%;
    }

    .sw-colorpicker__label {
        display: block;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: $sw-colorpicker-color-label;
        font-weight: normal;
        user-select: none;
    }

    .sw-colorpicker__icon {
        color: $sw-colorpicker-color-text;
        @include size(20px);
    }

    .sw-colorpicker__trigger {
        border-left: 1px solid $sw-colorpicker-color-border;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .sw-colorpicker__preview {
        border-radius: 2px;
        margin: 4px;
    }

    &.is--open {
        .sw-colorpicker__field {
            border-color: $sw-colorpicker-color-focus;
            color: $sw-colorpicker-color-focus;
            box-shadow: 0 0 4px lighten($sw-colorpicker-color-focus, 30%);
            outline: none;
        }
    }

    &.is--disabled {
        .sw-colorpicker__field {
            background: $color-light-gray;
            border-color: $color-steam-cloud;
            color: lighten($sw-colorpicker-color-text, 40%);
        }
        .sw-colorpicker__trigger {
            cursor: default;
        }
        .sw-colorpicker__icon {
            color: lighten($sw-colorpicker-color-text, 40%);
        }
    }

    // colorpicker adjustments
    .sw-colorpicker__field {
        .picker_wrapper {
            border: 1px solid $sw-colorpicker-color-border;
            border-radius: $sw-colorpicker-border-radius;
            background: $sw-colorpicker-color-background;
            padding: 10px;
            box-shadow: 0 3px 6px 0 rgba(120,138,155,0.5);

            &.popup_left {
                top: 0;
                right: 0px;
                margin-top: 35px;
                margin-right: 6px;
            }

            &::after {
                content: '';
                top: -6px;
                right: 7px;
                position: absolute;
                border-bottom: 10px solid $sw-colorpicker-color-background;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                transform: rotate(135deg);
                z-index: 3;
                width: 0;
                height: 0;
            }
            &::before {
                content: '';
                top: -7px;
                right: 7px;
                position: absolute;
                border-bottom: 10px solid $sw-colorpicker-color-border;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                transform: rotate(135deg);
                z-index: 2;
                width: 0;
                height: 0;
            }
        }
        .layout_default .picker_editor {
            order: 2;
        }
        .picker_hue.picker_slider {
            order: 1;
        }
        .picker_done,
        .picker_arrow {
            display: none;
        }
        .picker_hue,
        .picker_sl {
            border-radius: $sw-colorpicker-border-radius;
            box-shadow: none;
        }
        .picker_hue .picker_slider {
            padding: 8px 0;
            margin-top: 4px;
        }
        .picker_hue .picker_selector {
            padding: 10px 0px;
            border: 3px solid $color-white;
            box-shadow: 0 0 0 1px $color-steam-cloud;
        }
        .picker_sl .picker_selector {
            border: 3px solid $color-white;
            padding: 6px;
        }
        .picker_sample {
            border-radius: $sw-colorpicker-border-radius;
            box-shadow: none;
            overflow: hidden;
            max-width: 32px;
            height: 32px;
        }
        .picker_editor {
            flex: 1;

            input {
                font-size: $sw-colorpicker-font-size;
                font-family: $sw-colorpicker-font-family;
                color: $sw-colorpicker-color-text;
                border-radius: $sw-colorpicker-border-radius;
                border: 1px solid $sw-colorpicker-color-border;
                padding: 0 10px;
                max-height: 32px;
                margin-top: 0;
                outline: none;

                &:focus {
                    border-color: $sw-colorpicker-color-focus;
                }
            }
        }
    }
}
