{% block sw_settings_country_address_handling %}
<div class="sw-settings-country-address-handling">
    {% block sw_settings_country_address_handling_options_card %}
    <sw-card
        position-identifier="sw-settings-country-address-handling-options"
        :title="$tc('sw-settings-country.detail.titleOptions')"
        :is-loading="isLoading"
    >
        <sw-container class="sw-settings-country-address-handling__options-container">
            {% block sw_settings_country_address_handling_options_card_field_force_state_on_registration %}
            <sw-switch-field
                v-model="country.forceStateInRegistration"
                class="sw-settings-country-address-handling__option-items"
                bordered
                :disabled="!acl.can('country.editor')"
                :label="$tc('sw-settings-country.detail.labelForceStateInRegistration')"
            />
            {% endblock %}

            {% block sw_settings_country_address_handling_options_card_field_postal_code_required %}
            <sw-switch-field
                v-model="country.postalCodeRequired"
                class="sw-settings-country-address-handling__option-items"
                bordered
                :disabled="!acl.can('country.editor')"
                :label="$tc('sw-settings-country.detail.labelPostalCodeRequired')"
            />
            {% endblock %}

            {% block sw_settings_country_address_handling_options_card_field_check_postal_code_pattern %}
            <sw-switch-field
                v-model="country.checkPostalCodePattern"
                class="sw-settings-country-address-handling__option-items"
                bordered
                :disabled="!acl.can('country.editor')"
                :label="$tc('sw-settings-country.detail.labelCheckPostalCodePattern')"
                :help-text="$tc('sw-settings-country.detail.helpTextCheckPostalCodePattern')"
            />
            {% endblock %}

            {% block sw_settings_country_address_handling_options_card_field_advanced_postal_code %}
            <div class="sw-settings-country-address-handling__option-items advanced-postal-code">
                {% block sw_settings_country_address_handling_options_card_field_check_advanced_postal_code_pattern %}
                <sw-switch-field
                    v-model="country.checkAdvancedPostalCodePattern"
                    class="sw-settings-country-address-handling__option-items"
                    :disabled="!acl.can('country.editor') || !country.checkPostalCodePattern"
                    :label="$tc('sw-settings-country.detail.labelCheckAdvancedPostalCodePattern')"
                    :help-text="$tc('sw-settings-country.detail.helpTextAdvancedPostalCodePattern')"
                />
                {% endblock %}

                {% block  sw_settings_country_address_handling_options_card_field_advanced_postal_code_pattern %}
                <sw-text-field
                    v-model="country.advancedPostalCodePattern"
                    class="sw-settings-country-address-handling__text-field"
                    :class="{'is--disabled': !country.checkAdvancedPostalCodePattern}"
                    :disabled="!acl.can('country.editor')"
                    :placeholder="$tc('sw-settings-country.detail.placeholderAdvancedPostalCodePattern')"
                />
                {% endblock %}
            </div>
            {% endblock %}
        </sw-container>
    </sw-card>
    {% endblock %}

    {% block sw_settings_country_address_handling_formatting_card %}
    <sw-card
        position-identifier="sw-settings-country-address-handling-formatting"
        :title="$tc('sw-settings-country.detail.titleFormatting')"
        :is-loading="isLoading"
    >
        <sw-container class="sw-settings-country-address-handling__options-container">
            {% block sw_settings_country_address_handling_drag_drop %}
            <div class="sw-settings-country-address-handling__address-markup">
                <sw-multi-snippet-drag-and-drop
                    v-for="(snippet, index) in advancedAddressFormat"
                    :key="index"
                    v-droppable="{ data: { snippet, index }, dragGroup: 'sw-multi-snippet' }"
                    v-draggable="{ ...dragConf, data: { snippet, index }}"
                    :value="snippet"
                    :line-position="index"
                    :disabled="isDisabled"
                    @change="change"
                    @drag-end="onDragEnd"
                    @location-move="moveToLocation"
                    @add-new-line="addNewLineAt"
                    @open-snippet-modal="openSnippetModal"
                />
            </div>
            {% endblock %}

            {% block sw_settings_country_address_handling_preview %}
            <div class="sw-settings-country-address-handling__address-preview">
                {% block sw_settings_country_address_handling_address_preview_title %}
                <div class="sw-card__title">
                    {{ $tc('sw-settings-country.detail.previewTitle') }}
                </div>
                {% endblock %}

                {% block sw_settings_country_address_handling_preview_customer_selection %}
                <sw-entity-single-select
                    v-model="customerId"
                    class="sw-settings-country-address-handling__customer-select"
                    :label="$tc('sw-settings-country.detail.labelCustomer')"
                    :placeholder="$tc('sw-settings-country.detail.placeholderSelectCustomer')"
                    entity="customer"
                    show-clearable-button
                    :criteria="customerCriteria"
                    :label-callback="customerLabel"
                    @change="onChangeCustomer"
                />
                {% endblock %}

                {% block sw_settings_country_address_handling_rendering %}
                <sw-settings-country-preview-template
                    :preview-data="previewData"
                    :advanced-address-format="advancedAddressFormat"
                />
                {% endblock %}

                {% block sw_settings_country_address_handling_preview_reset_button %}
                <sw-button
                    class="sw-settings-country-address-handling__button-reset"
                    variant="ghost-danger"
                    @click="resetMarkup"
                >
                    {{ $tc('sw-settings-country.detail.buttonResetMarkup') }}
                </sw-button>
                {% endblock %}
            </div>
            {% endblock %}
        </sw-container>
    </sw-card>
    {% endblock %}

    {% block sw_settings_country_address_handling_new_snippet_modal %}
    <sw-settings-country-new-snippet-modal
        v-if="isOpenModal"
        :selections="snippets"
        :current-position="currentPosition"
        :advanced-address-format="advancedAddressFormat"
        @change="change"
        @modal-close="onCloseModal"
    />
    {% endblock %}
</div>
{% endblock %}
