{% block sw_customer_address_form %}
    <div class="sw-customer-address-form">
        {% block sw_customer_address_form_container %}
            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_customer_address_form_company_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelCompany')"
                              v-model="address.company">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_department_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelDepartment')"
                              v-model="address.department">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_salutation_title_container %}
                    <sw-container columns="1fr 1fr" gap="10px">
                        {% block sw_customer_address_form_salutation_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelSalutation')"
                                      validation="required"
                                      v-model="address.salutation">
                            </sw-field>
                        {% endblock %}

                        {% block sw_customer_address_form_title_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelTitle')"
                                      v-model="address.title">
                            </sw-field>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_customer_address_form_first_name_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelFirstName')"
                              validation="required"
                              v-model="address.firstName">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_last_name_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelLastName')"
                              validation="required"
                              v-model="address.lastName">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_street_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelStreet')"
                              validation="required"
                              v-model="address.street">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_additional_address_line_1_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine1')"
                              v-model="address.additionalAddressLine1">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_additional_address_line_2_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine2')"
                              v-model="address.additionalAddressLine2">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_zipcode_city_container %}
                    <sw-container columns="90px 1fr" gap="10px">
                        {% block sw_customer_address_form_zipcode_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelZipcode')"
                                      validation="required"
                                      v-model="address.zipcode">
                            </sw-field>
                        {% endblock %}

                        {% block sw_customer_address_form_city_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelCity')"
                                      validation="required"
                                      v-model="address.city">
                            </sw-field>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_customer_address_form_country_field %}
                    <sw-field type="select"
                              :label="$tc('sw-customer.addressForm.labelCountry')"
                              validation="required"
                              v-model="address.countryId">
                        {% block sw_customer_address_form_country_field_options %}
                            <option v-for="country in countries" :key="country.id" :value="country.id">
                                {{ country.name }}
                            </option>
                        {% endblock %}
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_phone_number_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelPhoneNumber')"
                              v-model="address.phoneNumber">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_vat_id_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelVatId')"
                              name="vatId"
                              v-model="address.vatId">
                    </sw-field>
                {% endblock %}
            </sw-container>
        {% endblock %}

        {% block sw_customer_address_form_default_shipping_address %}
            <sw-field type="checkbox"
                      v-model="this.isDefaultShippingAddressId"
                      :disabled="this.isDefaultShippingAddressId"
                      @change="onChangeDefaultShippingAddress"
                      :label="$tc('sw-customer.detailAddresses.contextMenuDefaultShippingAddress')">
            </sw-field>
        {% endblock %}

        {% block sw_customer_address_form_default_billing_address %}
            <sw-field type="checkbox"
                      v-model="this.isDefaultBillingAddressId"
                      :disabled="this.isDefaultBillingAddressId"
                      @change="onChangeDefaultBillingAddress"
                      :label="$tc('sw-customer.detailAddresses.contextMenuDefaultBillingAddress')">
            </sw-field>
        {% endblock %}
    </div>
{% endblock %}
