{% block sw_customer_address_form %}
    <div class="sw-customer-address-form">
        {% block sw_customer_address_form_container %}
            <sw-container grid="1fr 1fr" gap="30px">
                {% block sw_customer_address_form_company_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelCompany')"
                              name="addressCompany"
                              v-model="address.company">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_department_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelDepartment')"
                              name="addressDepartment"
                              v-model="address.department">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_salutation_title_container %}
                    <sw-container grid="1fr 1fr" gap="10px">
                        {% block sw_customer_address_form_salutation_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelSalutation')"
                                      name="addressSalutation"
                                      validation="required"
                                      v-model="address.salutation">
                            </sw-field>
                        {% endblock %}

                        {% block sw_customer_address_form_title_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelTitle')"
                                      name="addressTitle"
                                      v-model="address.title">
                            </sw-field>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_customer_address_form_first_name_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelFirstName')"
                              name="addressFirstName"
                              validation="required"
                              v-model="address.firstName">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_last_name_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelLastName')"
                              name="addressLastName"
                              validation="required"
                              v-model="address.lastName">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_street_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelStreet')"
                              name="addressStreet"
                              validation="required"
                              v-model="address.street">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_additional_address_line_1_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine1')"
                              name="addressAdditionalAddressLine1"
                              v-model="address.additionalAddressLine1">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_additional_address_line_2_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelAdditionalAddressLine2')"
                              name="addressAdditionalAddressLine2"
                              v-model="address.additionalAddressLine2">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_zipcode_city_container %}
                    <sw-container grid="90px 1fr" gap="10px">
                        {% block sw_customer_address_form_zipcode_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelZipcode')"
                                      name="addressZipcode"
                                      validation="required"
                                      v-model="address.zipcode">
                            </sw-field>
                        {% endblock %}

                        {% block sw_customer_address_form_city_field %}
                            <sw-field :label="$tc('sw-customer.addressForm.labelCity')"
                                      name="addressCity"
                                      validation="required"
                                      v-model="address.city">
                            </sw-field>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_customer_address_form_country_field %}
                    <sw-field type="select"
                              :label="$tc('sw-customer.addressForm.labelCountry')"
                              name="addressCountry"
                              validation="required"
                              v-model="address.countryId">
                        {% block sw_customer_address_form_country_field_options %}
                            <option slot="options" v-for="country in countries" :key="country.id" :value="country.id">
                                {{ country.name }}
                            </option>
                        {% endblock %}
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_phone_number_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelPhoneNumber')"
                              name="addressPhoneNumber"
                              v-model="address.phoneNumber">
                    </sw-field>
                {% endblock %}

                {% block sw_customer_address_form_vat_id_field %}
                    <sw-field :label="$tc('sw-customer.addressForm.labelVatId')"
                              name="vatId"
                              v-model="address.vatId">
                    </sw-field>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}