{% block sw_condition_value_content %}
<div class="sw-condition-cart-amount sw-condition__condition-value">
    {% block sw_condition_cart_amount_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_value_content_field %}
    <sw-number-field
        v-model="amount"
        :min="0"
        :digits="20"
        size="medium"
        :disabled="disabled"
    />
    {% endblock %}
</div>
{% endblock %}
