{% block sw_order_create_details_footer %}
    <sw-container
        class="sw-order-create-details-footer"
        columns="minmax(min-content, 1fr) minmax(min-content, 1fr)"
        gap="0 32px">
        <div>
            {% block sw_order_create_details_footer_sales_channel %}
                <sw-entity-single-select
                    disabled
                    size="small"
                    class="sw-order-create-details-footer__item"
                    entity="sales_channel"
                    v-model="salesChannelId"
                    :label="$tc('sw-order.createBase.detailsFooter.labelSalesChannel')"
                    :placeholder="$tc('sw-order.createBase.detailsFooter.labelSalesChannel')">
                </sw-entity-single-select>
            {% endblock %}

            {% block sw_order_create_details_footer_payment_method %}
                <sw-entity-single-select
                    size="small"
                    class="sw-order-create-details-footer__item"
                    entity="payment_method"
                    v-model="context.paymentMethodId"
                    :disabled="!isCustomerActive"
                    :label="$tc('sw-order.createBase.detailsFooter.labelPaymentMethod')"
                    :placeholder="$tc('sw-order.createBase.detailsFooter.labelPaymentMethod')"
                    :loadDataOptions="{
                        id: salesChannelId,
                        source: 'payment-method',
                        entity: 'payment_method'
                    }"
                    @load-data-options="loadDataOptions">
                </sw-entity-single-select>
            {% endblock %}

            {% block sw_order_create_details_footer_shipping_method %}
                <sw-entity-single-select
                    size="small"
                    class="sw-order-create-details-footer__item"
                    entity="shipping_method"
                    v-model="context.shippingMethodId"
                    :disabled="!isCustomerActive"
                    :label="$tc('sw-order.createBase.detailsFooter.labelShippingMethod')"
                    :placeholder="$tc('sw-order.createBase.detailsFooter.labelShippingMethod')"
                    :loadDataOptions="{
                        id: salesChannelId,
                        source: 'shipping-method',
                        entity: 'shipping_method'
                    }"
                    @load-data-options="loadDataOptions">
                </sw-entity-single-select>
            {% endblock %}
        </div>

        <div>
            {% block sw_order_create_details_footer_order_language %}
                <sw-entity-single-select
                    size="small"
                    class="sw-order-create-details-footer__item"
                    entity="language"
                    v-model="context.languageId"
                    :disabled="!isCustomerActive"
                    :label="$tc('sw-order.createBase.detailsFooter.labelOrderLanguage')"
                    :placeholder="$tc('sw-order.createBase.detailsFooter.labelOrderLanguage')"
                    :loadDataOptions="{
                        id: salesChannelId,
                        source: 'language',
                        entity: 'language'
                    }"
                    @load-data-options="loadDataOptions">
                </sw-entity-single-select>
            {% endblock %}

            {% block sw_order_create_details_footer_currency %}
                <sw-entity-single-select
                    size="small"
                    class="sw-order-create-details-footer__item"
                    entity="currency"
                    v-model="context.currencyId"
                    :disabled="!isCustomerActive"
                    :label="$tc('sw-order.createBase.detailsFooter.labelCurrency')"
                    :placeholder="$tc('sw-order.createBase.detailsFooter.labelCurrency')"
                    :loadDataOptions="{
                        id: salesChannelId,
                        source: 'currency',
                        entity: 'currency'
                    }"
                    @load-data-options="loadDataOptions">
                </sw-entity-single-select>
            {% endblock %}
        </div>
    </sw-container>
{% endblock %}
