<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings %}
<sw-page
    class="sw-settings-index"
    :show-smart-bar="false"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_content %}
    <template #content>
        <sw-card-view>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_content_tabs %}
            <sw-tabs
                class="sw-settings__tabs"
                position-identifier="sw-settings-index"
                :is-vertical="true"
                :small="false"
            >
                <template #default="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_content_tab_shop %}
                    <sw-tabs-item
                        v-if="settingsGroups['shop']"
                        class="sw-settings__tab-shop"
                        :route="{ name: 'sw.settings.index.shop'}"
                        name="shop"
                        :active-tab="active"
                        :title="$tc('sw-settings.index.tabShop')"
                    >
                        {{ $tc('sw-settings.index.tabShop') }}
                    </sw-tabs-item>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_content_tab_system %}
                    <sw-tabs-item
                        v-if="settingsGroups['system']"
                        class="sw-settings__tab-system"
                        name="system"
                        :route="{ name: 'sw.settings.index.system'}"
                        :active-tab="active"
                        :title="$tc('sw-settings.index.tabSystem')"
                    >
                        {{ $tc('sw-settings.index.tabSystem') }}
                    </sw-tabs-item>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_content_tab_plugins %}
                    <sw-tabs-item
                        v-if="hasPluginConfig()"
                        class="sw-settings__tab-plugins"
                        name="plugins"
                        :route="{ name: 'sw.settings.index.plugins'}"
                        :active-tab="active"
                        :title="$tc('sw-settings.index.tabPlugins')"
                    >
                        {{ $tc('sw-settings.index.tabPlugins') }}
                    </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_content_card %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_content_header %}
                    <h1 class="sw-settings__content-header">
                        {{ $tc('sw-settings.index.title') }}
                    </h1>
                    {% endblock %}

                    <sw-card
                        class="sw-settings__card"
                        position-identifier="sw-settings-index-content"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_content_card_content %}
                        <slot
                            v-for="(settingsItems, settingsGroup) in settingsGroups"
                            :name="settingsGroup"
                        >
                            <div
                                v-show="active === settingsGroup"
                                :id="`sw-settings__content-grid-${settingsGroup}`"
                                :key="settingsGroup"
                                class="sw-settings__content-grid"
                            >
                                <sw-settings-item
                                    v-for="settingsItem in settingsItems"
                                    :id="settingsItem.id"
                                    :key="settingsItem.name"
                                    :label="getLabel(settingsItem)"
                                    :to="getRouteConfig(settingsItem)"
                                    :background-enabled="settingsItem.backgroundEnabled"
                                >
                                    <template #icon>
                                        <component
                                            :is="settingsItem.iconComponent"
                                            v-if="settingsItem.iconComponent"
                                        />
                                        <sw-icon
                                            v-else
                                            :name="settingsItem.icon"
                                        />
                                    </template>
                                </sw-settings-item>
                            </div>
                        </slot>
                        {% endblock %}
                    </sw-card>
                    {% endblock %}
                </template>
            </sw-tabs>
            {% endblock %}
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
