.register-personal {
    margin-bottom: $spacer;
}

.register-address {
    margin-bottom: $spacer-xl;
}

.register-different-shipping {
    margin-bottom: $spacer;
}

.register-shipping {
    padding-top: $spacer-lg;
}

.register-form .privacy-notice {
    margin-bottom: $spacer;
}
