@import "~scss/variables";

.sw-condition .sw-contidion-goods-price__numfield.sw-block-field {
    border: none;
}

.sw-condition-goods-price__value {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid $color-gray-500;
    border-radius: $border-radius-default;
    overflow: hidden;
}

.sw-condition-goods-price {
    display: grid;
    gap: 4px;
    grid-template-columns: auto 1fr;

    .sw-condition-goods-price__filter {
        background-color: $color-white;
        padding: 4px;

        .sw-button {
            height: 100%;
            display: flex;
            align-items: center;
            border: none;
            background: $color-gray-100;
            padding: 2px 11px;

            &:hover {
                background: $color-gray-200;
            }
        }

        .sw-icon {
            color: $color-darkgray-200;
        }
    }
}
