<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_value_content %}
<div class="sw-condition-goods-price">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_goods_price_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    <div class="sw-condition-goods-price__value">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_condition_goods_price_field_amount %}
        <sw-number-field
            v-model="amount"
            class="sw-contidion-goods-price__numfield"
            size="medium"
            number-type="float"
            :min="0"
            :digits="20"
            :disabled="disabled"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_condition_goods_price_filter_button %}
        <div class="sw-condition-goods-price__filter">
            <sw-button
                v-tooltip="{ message: $tc('sw-settings-rule.conditionFilter.infoText') }"
                :disabled="disabled"
                @click="showFilterModal = true"
            >
                <sw-icon
                    name="regular-filter-s"
                    small
                />
            </sw-button>
        </div>
        {% endblock %}
    </div>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_goods_price_condition_modal %}
    <sw-condition-modal
        v-if="showFilterModal"
        :disabled="disabled"
        v-bind="{ condition, conditionDataProviderService }"
        @modal-close="showFilterModal = false"
    />
    {% endblock %}
</div>
{% endblock %}
