@import "~scss/variables";

.sw-profile-index {
    .sw-profile-index__user-image {
        padding: 30px;
        text-align: center;
        border: 2px dashed $color-steam-cloud;
    }

    .sw-profile-index__user-image-info {
        margin: 30px 0 0 0;
        color: lighten($color-gutenberg, 20);

        a {
            color: $color-shopware-blue;
        }
    }
}
