{% block sw_sales_channel_detail_google_categories %}
    <div v-if="selectedShopCategory" class="sw-sales-channel-detail-google-categories">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptatibus.
    </div>
{% endblock %}
