{% block sw_settings %}
    <sw-page class="sw-settings-index">

        {% block sw_settings_header %}
            <template slot="smart-bar-header">
                <h2>{{ $tc('sw-settings.index.title') }}</h2>
            </template>
        {% endblock %}

        {% block sw_settings_content %}
            <sw-card-view slot="content">
                {% block sw_settings_content_card %}
                    <sw-card class="sw-settings__card">
                        <slot>{% block sw_settings_content_card_slot_default %}{% endblock %}</slot>
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}