{% block sw_product_detail %}
    <sw-page class="sw-product-detail-page">

        {% block sw_product_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="product.name">{{ product.name }}</h2>
                <h2 v-else>New product</h2>
            </template>
        {% endblock %}

        {% block sw_product_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_product_detail_actions_abort %}
                    <sw-button :isDisabled="isLoading" link="sw.product.index">Abbrechen</sw-button>
                {% endblock %}

                {% block sw_product_detail_actions_save %}
                    <sw-button :isPrimary="true" :isDisabled="isLoading" @click.prevent="onSave">Speichern</sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_product_detail_content %}
            <sw-card-view slot="content">
                {% block sw_product_detail_content_basic_info_card %}
                    <sw-card title="Produkt Informationen">
                        {% block sw_product_detail_content_basic_info_form %}
                            <sw-product-basic-form :product="product"
                                                   :manufacturers="manufacturers"
                                                   :serviceProvider="categoryService">
                            </sw-product-basic-form>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block sw_product_detail_content_basic_price_card %}
                    <sw-card title="Preise">
                        <sw-product-price-form :product="product" :taxRates="taxRates"></sw-product-price-form>
                    </sw-card>
                {% endblock %}

                {% block sw_product_detail_content_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
