@import "~scss/variables";

$sw-product-stream-modal-color-error: $color-crimson;
$sw-product-stream-modal-color-success: $color-emerald;

.sw-product-stream-modal-preview {
  .sw-modal__dialog {
    .sw-modal__body{
      height: 900px;
      padding: 0;
    }
  }
  .sw-product-stream-modal-preview__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [search-field] 96px [product-grid] 664px;

  }
  .sw-product-stream-modal-preview__search-field-label {
    width: 100%;
    height: 100%;
    grid-row: search-field;

    .sw-product-stream-modal-preview__search-field {
      margin: 24px 32px;
    }
  }
  .sw-product-stream-modal-preview__grid {
    grid-row: product-grid;
  }
  .is--inactive {
    color: $sw-product-stream-modal-color-error;
  }

  .is--active {
    color: $sw-product-stream-modal-color-success;
  }
}