[Core] @product/engineering/platform-group/core

/src/Core/Checkout/Cart/Facade/
/src/Core/Checkout/Cart/AbstractCartPersister.php
/src/Core/Checkout/Cart/CartCalculator.php
/src/Core/Checkout/Cart/CartDataCollectorInterface.php
/src/Core/Checkout/Cart/CartPersister.php
/src/Core/Checkout/Cart/CartProcessorInterface.php
/src/Core/Checkout/Cart/CartRuleLoader.php
/src/Core/Checkout/Cart/RuleLoader.php
/src/Core/Checkout/Cart/Processor.php
/src/Core/Checkout/Cart/Validator.php
/src/Core/Checkout/Cart/Price/
/src/Core/Checkout/Cart/Processor/
/src/Core/Checkout/Cart/CartValidatorInterface.php
/src/Core/Checkout/Order/SalesChannel/OrderRoute.php
/src/Core/Checkout/Promotion/Cart/PromotionProcessor.php
/src/Core/Checkout/Promotion/Cart/PromotionDeliveryProcessor.php
/src/Core/Checkout/Promotion/Cart/PromotionCalculator.php
/src/Core/Content/Media/Pathname/
/src/Core/Content/Product/SalesChannel/
/src/Core/Content/Product/DataAbstractionLayer/
/src/Core/Content/Product/Cart/
/src/Core/Content/Product/Subscriber/ProductSubscriber.php
/src/Core/Content/Seo/SeoUrlGenerator.php
/src/Core/Content/Seo/SeoResolver.php
/src/Core/Content/Seo/SeoUrlPersister.php
/src/Core/Content/Seo/SeoUrlUpdater.php
/src/Core/Content/Seo/SeoUrlTwigFactory.php
/src/Core/Content/Seo/SeoUrlPlaceholderHandler.php
/src/Core/**/Cache*.php
/src/Core/Framework/Adapter/
/src/Core/Framework/Api/
/src/Core/Framework/App/
/src/Core/Framework/DataAbstractionLayer/
/src/Core/Framework/Feature/
/src/Core/Framework/Log/
/src/Core/Framework/MessageQueue/
/src/Core/Framework/Migration/
/src/Core/Framework/Plugin/
/src/Core/Framework/Resources/config/
/src/Core/Framework/Routing/
/src/Core/Framework/Rule/
/src/Core/Framework/Script/
/src/Core/Framework/Update/
/src/Core/Framework/Util/
/src/Core/Framework/Uuid/
/src/Core/Framework/Validation/
/src/Core/Framework/Webhook/
/src/Core/Framework/*.php
/src/Core/Profiling/
/src/Core/DevOps/
/src/Core/System/CustomEntity/
/src/Core/System/CustomField/
/src/Core/System/Integration/
/src/Elasticsearch/
/bin/
/public/
/config/bundles.php
composer.json
/vendor-bin/*/composer.json
phpstan.neon
.bc-exclude.php
deprecation.ignore
/src/Core/Framework/Resources/config/packages/shopware.yaml
# shared code ownership of multiple groups seems only to work for the last entries
# so don't put any new folders below this line, that are not shared by multiple groups
/adr/                                                           @product/engineering/platform-group/core

[Admin] @product/engineering/platform-group/admin
/src/Administration/Resources/*
/src/Administration/Resources/app/administration/*
/src/Administration/Resources/app/administration/build/
/src/Administration/Resources/app/administration/config/
/src/Administration/Resources/app/administration/patches/
/src/Administration/Resources/app/administration/src/*
/src/Administration/Resources/app/administration/test/*
/src/Administration/Resources/app/administration/src/meta/*
/src/Administration/Resources/app/administration/src/app/
/src/Administration/Resources/app/administration/src/core/
/src/Administration/Resources/app/administration/src/module/sw-first-run-wizard/
/src/Administration/Resources/app/administration/src/module/sw-login/
/src/Administration/Resources/app/administration/src/module/sw-settings/
/src/Administration/Resources/app/administration/static/
/src/Administration/Resources/app/administration/twigViewPlugin/
/src/Administration/Resources/views/
/src/Administration/Resources/config/
# shared code ownership of multiple groups seems only to work for the last entries
# so don't put any new folders below this line, that are not shared by multiple groups
/adr/                                                                                   @product/engineering/platform-group/admin

[Storefront] @product/engineering/platform-group/storefront
/src/Storefront/
# /src/Storefront/**/test/
# shared code ownership of multiple groups seems only to work for the last entries
# so don't put any new folders below this line, that are not shared by multiple groups
/adr/                                              @product/engineering/platform-group/storefront

[Operations]
/.github/               @product/engineering/operations @product/engineering/platform-group/core @product/engineering/platform-group/admin @product/engineering/platform-group/storefront
/.gitlab/               @product/engineering/operations @product/engineering/platform-group/core @product/engineering/platform-group/admin @product/engineering/platform-group/storefront
/src/Core/DevOps/       @product/engineering/operations @product/engineering/platform-group/core @product/engineering/platform-group/admin @product/engineering/platform-group/storefront
.gitlab-ci.yml          @product/engineering/operations @product/engineering/platform-group/core @product/engineering/platform-group/admin @product/engineering/platform-group/storefront

[Main]
/.gitlab/CODEOWNERS     @product/engineering/platform-group/core @product/engineering/platform-group/admin @product/engineering/platform-group/storefront

[UsageData]
src/Core/System/UsageData/usage-data-allow-list.json @product/engineering/solution-teams/ctrl-alt-elite
