@import "~scss/variables";

$sw-product-variants-configurator-prices-active-color-background: $color-shopware-brand-50;
$sw-product-variants-configurator-prices-search-background: #f8f9fa;
$sw-product-variants-configurator-prices-search-border: $color-gray-300;

.sw-product-variants-configurator-prices {
    height: 100%;
    display: flex;
    flex-direction: column;

    .sw-product-variants-configurator-prices__alert {
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 8px;
    }

    .sw-product-variants-configurator-prices__table {
        display: flex;
        height: 100%;
        padding: 0;
    }

    .sw-product-variants-configurator-prices__groups {
        font-size: $font-size-xs;
        flex-basis: 270px;
        height: 100%;
        overflow: auto;
        border-right: 1px solid $color-gray-300;
        padding: 20px 0;

        .sw-icon {
            margin-right: 8px;
        }
    }

    .sw-product-variants-configurator-prices__groupElement {
        cursor: pointer;
        display: flex;
        align-items: center;
        min-height: 34px;
        line-height: 34px;
        list-style: none;
        padding-left: 20px;

        &:hover {
            background-color: lighten($sw-product-variants-configurator-prices-active-color-background, 2.5);
        }

        &.is--selected {
            background-color: $sw-product-variants-configurator-prices-active-color-background;
        }
    }

    .sw-product-variants-configurator-prices__prices {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;

        .sw-data-grid {
            border-bottom: 1px solid $sw-product-variants-configurator-prices-search-border;
        }
    }

    .sw-product-variants-configurator-prices__grid-wrapper {
        flex: 1;
        position: relative;
    }

    .sw-product-variants-configurator-prices__search {
        padding: 25px;
        background-color: $sw-product-variants-configurator-prices-search-background;
        border-bottom: 1px solid $sw-product-variants-configurator-prices-search-border;
    }
}
