.product-detail-configurator-group {
    margin-bottom: $spacer-md;
}

.product-detail-configurator-group-title {
    font-weight: $font-weight-bold;
    margin-bottom: $spacer-sm;
}

.product-detail-configurator-option {
    display: inline-block;
    padding-right: $spacer-xs;
}

.product-detail-configurator-option-input {
    display: none;

    + .product-detail-configurator-option-label {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid $border-color;
        background-color: $white;
        opacity: 0.35;
        transition: border-color 0.45s cubic-bezier(0.3, 0, 0.15, 1), background-color 0.45s cubic-bezier(0.3, 0, 0.15, 1);

        &:hover,
        &:active,
        &:focus {
            border: 1px solid $primary;
        }
    }

    &:checked + .product-detail-configurator-option-label {
        border: 1px solid $primary;
        background-color: $primary;
        color: $white;
    }

    &.is-combinable + .product-detail-configurator-option-label {
        opacity: 1;
    }
}
