{% block sw_product_variants_generated_variants %}
    <div class="sw-product-variants-overview">

        <div class="sw-configuration-option-list__toolbar">
            <sw-container columns="1fr 32px minmax(100px, 150px)" gap="0 10px">

            <sw-simple-search-field
                @searchTermChanged="onSearch"
                v-model="term"
            ></sw-simple-search-field>

            <sw-button size="small" square>
                <sw-icon name="default-basic-stack-line"></sw-icon>
            </sw-button>

            <sw-button>
                {{ $tc('sw-product.variations.generatedFilterList') }}
                <sw-icon name="default-action-filter"></sw-icon>
            </sw-button>

            </sw-container>
        </div>

        <sw-data-grid
            :dataSource="variantList"
            :columns="variantColumns"
            {#:showSelection="false"#}
            :showSettings="true"
            {#:fullPage="true"#}
            :allowInlineEdit="true"
            :sortBy="sortBy"
            :sortDirection="sortDirection"
            :isLoading="isLoading"
            :skeletonItemAmount="limit"
            {#:allowColumnEdit="true"#}
            {#identifier="sw-product-variant-list"#}
            @column-sort="onSortColumn"
            @inline-edit-save="onInlineEditSave"
            @inline-edit-cancel="onInlineEditCancel"
        >

            <template slot="column-name" slot-scope="{ item }">
                <template v-if="item.meta.viewData.variations">
                    <span v-for="singleVariation in item.meta.viewData.variations.elements">
                        {{ singleVariation.name }} – &#160;
                    </span>
                </template>
            </template>


            <template slot="column-price" slot-scope="{ item, isInlineEdit, compact }">
                <template v-if="isInlineEdit">
                    <sw-price-field
                            :price="item.price"
                            :taxRate="item.tax"
                            :label="false"
                            :compact="true"
                            validation="required">
                    </sw-price-field>

                </template>
                <template v-else>
                    {#
                        Make the price field preview inactive with pointer-events: none,
                        so that the user have to double click to edit it
                    #}
                    <sw-price-field
                            class="sw-product-variants-overview__grid--priceFieldEdit"
                            :price="item.price"
                            :taxRate="item.tax"
                            :label="false"
                            :compact="true"
                            validation="required">
                    </sw-price-field>
                </template>
            </template>

            <template slot="column-stock" slot-scope="{ item, isInlineEdit, compact }">
                    <template v-if="isInlineEdit">
                        <sw-number-field :size="compact ? 'small' : 'default'" v-model="item.stock"></sw-number-field>
                    </template>

                    <template v-else>
                        {{ item.stock }}
                    </template>
            </template>



            <template slot="action-modals" slot-scope="{ item }">
                <sw-modal v-if="showDeleteModal === item.id"
                          @closeModal="onCloseDeleteModal"
                          title="Variante"
                          variant="small">

                    <p class="sw-product-variants-overview__modal--confirm-delete-text">
                        {{ $tc('sw-product.variations.generatedListDeleteModalMessage') }}
                    </p>

                    <template slot="modal-footer">
                        <sw-button @click="onCloseDeleteModal"
                                   size="small"
                                   :disabled="modalLoading">
                            {{ $tc('sw-product.variations.generatedListDeleteModalButtonCancel') }}
                        </sw-button>
                        <sw-button @click="onConfirmDelete(item)"
                                   variant="primary"
                                   size="small"
                                   :disabled="modalLoading">
                            {{ $tc('sw-product.variations.generatedListDeleteModalButtonDelete') }}
                        </sw-button>
                    </template>
                </sw-modal>
            </template>

            <template slot="actions" slot-scope="{ item }">
                <sw-context-menu-item @click="onOptionEdit(item)">
                {{ $tc('sw-product.variations.generatedListContextMenuEdit') }}
                </sw-context-menu-item>

                <sw-context-menu-item variant="danger" @click="onOptionDelete(item)">
                {{ $tc('sw-product.variations.generatedListContextMenuDelete') }}
                </sw-context-menu-item>
            </template>

            <template slot="pagination">
                <sw-pagination :page="page"
                               :limit="limit"
                               :total="total"
                               :total-visible="7"
                               @page-change="onPageChange">
                </sw-pagination>
            </template>

        </sw-data-grid>
    </div>
{% endblock %}