@import "~scss/variables";
$sw-products-variants-generated-variants-toolbar-background: #f8f9fa;

.sw-product-variants-overview {

    .sw-configuration-option-list__toolbar {
        background-color: $sw-products-variants-generated-variants-toolbar-background;
        padding: 25px;

        .sw-button {
            height: 32px;
            line-height: 16px;

            .sw-icon {
                width: 15px;
                height: 15px;
            }
        }
    }

    .sw-product-variants-overview__grid--priceFieldEdit {
        pointer-events: none;
    }
}