.sw-settings-search-excluded-search-terms {
    .sw-empty-state .sw-empty-state__title {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-bold);
    }
}

.sw-settings-search__no-data-results {
    text-align: center;
    padding: var(--scale-size-10) 0;
}

.sw-settings-search-excluded-search-terms__header-bar {
    padding: var(--scale-size-24);
    border-bottom: var(--scale-size-1) solid var(--color-gray-300);
    background: var(--color-gray-100);

    .sw-block-field__block {
        height: var(--scale-size-32);
    }
}

.sw-settings-search-excluded-search-terms_grid {
    &.sw-settings-search__grid .sw-data-grid__cell--selection {
        display: table-cell;
        box-shadow: inset 0 0 0 var(--color-gray-300);
    }

    &.sw-settings-search__grid .sw-data-grid__cell--header.sw-data-grid__cell--selection {
        box-shadow: inset 0 calc(var(--scale-size-1) * -1) 0 0 var(--color-gray-300);
    }
}
