.sw-sales-channel-products-assignment-single-products {
    .sw-card {
        margin: 0;
    }

    &-primary.sw-card-section {
        padding: 0;
    }

    .sw-data-grid.sw-data-grid--full-page {
        position: relative;
    }

    .sw-card .sw-card__content {
        padding: 0;
        min-height: 100px;
    }
}
