{% block sw_product_detail %}
    <sw-page class="sw-product-detail">

        {% block sw_product_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="product.name">{{ product.name }}</h2>
                <h2 v-else>{{ $tc('sw-product.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_product_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_product_detail_actions_abort %}
                    <sw-button :disabled="product.isLoading" :routerLink="{ name: 'sw.product.index' }">
                        {{ $tc('sw-product.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_product_detail_actions_save %}
                    <sw-button variant="primary" class="sw-product-detail__save-action" :disabled="product.isLoading" @click.prevent="onSave">
                        {{ $tc('sw-product.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_product_detail_content %}
            <sw-card-view slot="content" sidebar>
                {% block sw_product_detail_content_tabs %}
                    <sw-tabs class="sw-product-detail-page__tabs">
                        <sw-tabs-item :route="{ name: 'sw.product.detail.base', params: { id: $route.params.id } }"
                                      :title="$tc('sw-product.detail.tabGeneral')">
                            {{ $tc('sw-product.detail.tabGeneral') }}
                        </sw-tabs-item>
                        <sw-tabs-item :route="{ name: 'sw.product.detail.prices', params: { id: $route.params.id } }"
                                      :title="$tc('sw-product.detail.tabAdvancedPrices')">
                            {{ $tc('sw-product.detail.tabAdvancedPrices') }}
                        </sw-tabs-item>
                    </sw-tabs>
                {% endblock %}

                {% block sw_product_detail_content_view %}
                    <router-view :product="product"
                                 :manufacturers="manufacturers"
                                 :taxes="taxes"
                                 :currencies="currencies">
                    </router-view>
                {% endblock %}

                <template slot="card-view-sidebar">
                    <sw-sidebar-media-item
                            @sw-sidebar-media-item-add-item-to-product="onAddItemToProduct">
                    </sw-sidebar-media-item>
                </template>
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
