{% block sw_product_detail %}
    <sw-page class="sw-product-detail">

        {% block sw_product_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="product.name">{{ product.name }}</h2>
                <h2 v-else>New product</h2>
            </template>
        {% endblock %}

        {% block sw_product_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_product_detail_actions_abort %}
                    <sw-button :isDisabled="isLoading" link="sw.product.index">Abbrechen</sw-button>
                {% endblock %}

                {% block sw_product_detail_actions_save %}
                    <sw-button :isPrimary="true" :isDisabled="isLoading" @click.prevent="onSave">Speichern</sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_product_detail_content %}
            <sw-card-view slot="content">
                <sw-tabs class="sw-product-detail-page__tabs">
                    <sw-tabs-item :route="{ name: 'sw.product.detail.base', params: { id: product.id } }" title="Allgemein">Allgemein</sw-tabs-item>
                </sw-tabs>

                <router-view :product="product"
                             :manufacturers="manufacturers"
                             :taxes="taxes"
                             :isLoading="isLoading">
                </router-view>
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
