@import "~less/variables";

.sw-product-detail {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 70px;
}

.split--container {
    &:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
    }

    .container--item {
        width: 50%;
        display: block;
        float: left;

        &:first-child {
            padding-right: 16px;
        }

        &:last-child {
            padding-left: 16px;
        }
    }
}