@import "~less/variables";

@sw-settings-wrapper-item-text-color:       @color-kashmir;
@sw-settings-wrapper-item-hover-text-color: @color-shopware-blue;

.sw-settings-wrapper-item {
    color: @sw-settings-wrapper-item-text-color;
    text-decoration: none;
    width: 150px;
    height: 150px;
    display: inline-block;
    padding: 24px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        color: @sw-settings-wrapper-item-hover-text-color;
        box-shadow: 0 0 5px 0 @color-gutenberg;
    }

    .sw-settings-wrapper-item__icon {
        margin-bottom: 8px;
    }
}