<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_grid %}
<div
    class="sw-grid"
    :class="gridClasses"
>
    <slot name="content">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_grid_slot_content %}
        <div
            class="sw-grid__content"
            :class="gridContentClasses"
        >

            <slot
                v-if="header"
                name="header"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_grid_slot_header %}
                <div
                    class="sw-grid__header"
                    :style="[columnFlex, { paddingRight: `${scrollbarOffset}px` }]"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_grid_slot_header_cell_selectable %}
                    <div
                        v-if="selectable"
                        class="sw-grid-column"
                    >
                        <div class="sw-grid__cell-content">
                            <sw-checkbox-field
                                v-model="allSelectedChecked"
                                @change="selectAll"
                            />
                        </div>
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_grid_slot_header_cell %}
                    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
                    <div
                        v-for="(column, columnIndex) in columns"
                        :key="columnIndex"
                        :class="[{ 'sw-grid-column': true, 'is--sortable': column.sortable, 'is--sorted': sort === column.dataIndex }, `sw-grid-column--${column.align}`]"
                        @click="onGridCellClick($event, column)"
                    >

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_grid_slot_header_cell_content %}
                        <div class="sw-grid__cell-content">
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_grid_slot_header_cell_icon_label %}
                            <span
                                v-if="column.iconLabel"
                                class="sw-grid__cell-label"
                            >
                                <sw-icon
                                    :name="column.iconLabel"
                                    :title="column.label"
                                />
                            </span>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_grid_slot_header_cell_label %}
                            <span
                                v-else-if="column.label"
                                class="sw-grid__cell-label"
                            >{{ column.label }}</span>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_grid_slot_header_cell_sortable %}
                            <span
                                v-if="column.sortable && sort === column.dataIndex"
                                class="sw-grid_cell-sortable"
                            >
                                <sw-icon
                                    v-if="sortDir === 'ASC'"
                                    name="regular-chevron-down-xxs"
                                    size="16px"
                                />
                                <sw-icon
                                    v-else
                                    name="regular-chevron-up-xxs"
                                    size="16px"
                                />
                            </span>
                            {% endblock %}
                        </div>
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
                {% endblock %}
            </slot>

            <slot name="body">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_grid_slot_body %}
                <div
                    ref="swGridBody"
                    class="sw-grid__body"
                >

                    <slot
                        v-for="(item, index) in items"
                        name="items"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_grid_body_slot_items %}
                        <sw-grid-row
                            :key="item.id"
                            :style="columnFlex"
                            :item="item"
                            :index="index"
                            :allow-inline-edit="allowInlineEdit"
                            :class="['sw-grid__row--' + index, { 'is--selected': isSelected(item.id), 'is--deleted': item.isDeleted, 'is--new': item.isLocal }]"
                            @inline-edit-finish="onInlineEditFinish"
                            @inline-edit-start="onInlineEditStart"
                        >

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_grid_body_item_selectable %}
                            <div
                                v-if="selectable"
                                class="sw-grid-column"
                            >
                                <div class="sw-grid__cell-content">
                                    <sw-checkbox-field
                                        :value="isSelected(item.id)"
                                        @change="selectItem($event, item)"
                                    />
                                </div>
                            </div>
                            {% endblock %}

                            <slot
                                name="columns"
                                :item="item"
                            >
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_grid_slot_columns %}{% endblock %}
                            </slot>
                        </sw-grid-row>
                        {% endblock %}
                    </slot>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_grid_slot_empty_columns %}
                    <slot
                        v-if="!items.length"
                        name="empty"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_grid_slot_empty_columns_content %}{% endblock %}
                    </slot>
                    {% endblock %}
                </div>
                {% endblock %}
            </slot>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_grid_pagination %}
            <div
                v-if="hasPaginationSlot && items.length"
                class="sw-grid__pagination"
            >
                <slot name="pagination">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_grid_slot_pagination %}{% endblock %}
                </slot>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </slot>
</div>
{% endblock %}
