<div class="sw-settings-import-export-view-import">
    <sw-card title="Import">

        <sw-settings-import-export-importer></sw-settings-import-export-importer>

    </sw-card>

    <sw-card class="sw-settings-import-export-view-import__activity">
        <template slot="title">
            <div class="sw-card__title">
                Import activity
                <p class="sw-settings-import-export__card-subtitle">
                    Activity older then 30 days will automatically be removed.
                </p>
            </div>
        </template>

        <sw-settings-import-export-activity slot="grid"></sw-settings-import-export-activity>

    </sw-card>
</div>
