@import "~scss/variables";
@import "~scss/mixins";

$sw-media-sidebar-z-index: $z-index-sidebar;
$sw-media-sidebar-font-size-headline: $font-size-m;
$sw-media-sidebar-color-headline: var(--color-text-primary-default);
$sw-media-sidebar-border-color-headline: var(--color-border-primary-default);
$sw-media-sidebar-color-quick-action: var(--color-text-brand-default);
$sw-media-sidebar-color-quick-action-danger: var(--color-icon-critical-default);

.sw-media-sidebar {
    display: grid;
    height: 100%;
    width: 400px;
    grid-template-rows: auto 1fr;
    border-left: 1px solid var(--color-border-primary-default);

    @media screen and (max-width: 768px) {
        width: 300px;
    }

    &.no-headline {
        grid-template-rows: unset;
    }

    .sw-media-sidebar__headline {
        @include truncate;

        padding: 25px;
        margin: 0;
        font-size: $sw-media-sidebar-font-size-headline;
        font-weight: normal;
        color: $sw-media-sidebar-color-headline;
        border-bottom: 1px solid $sw-media-sidebar-border-color-headline;

        &.has--middle-truncation {
            display: block;
        }

        &.has--middle-truncation:hover {
            .sw-media-sidebar__headline-text-middle {
                display: flex;
            }

            .sw-media-sidebar__headline-text {
                display: none;
            }
        }
    }

    .sw-media-sidebar__headline-text-middle {
        display: none;
        min-width: 0;
    }

    .sw-media-sidebar__headline-text-middle-start {
        min-width: 0;
        overflow: hidden;
        white-space: nowrap;
    }

    .sw-media-sidebar__headline-text-middle-separator {
        flex: 0 0 auto;
    }

    .sw-media-sidebar__headline-text-middle-end {
        flex: 0 0 auto;
    }

    .sw-media-sidebar__quickinfo-scroll-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;

        & > * {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &:has(.mt-empty-state) {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            background: var(--color-elevation-surface-sunken);

            & > * {
                position: relative;
                width: auto;
                height: auto;
            }
        }
    }

    .sw-media-sidebar__empty-state {
        color: var(--color-text-secondary-default);

        .mt-empty-state__icon {
            background: var(--color-background-primary-disabled);
            color: var(--color-icon-secondary-default);
        }

        .mt-empty-state__headline {
            color: var(--color-text-secondary-default);
        }
    }

    .sw-media-sidebar__empty-state-label {
        color: var(--color-text-secondary-default);
        margin: 8px auto 0;
    }

    .sw-media-sidebar__metadata-list {
        .mt-field {
            width: 100%;
            margin-bottom: 0;
        }

        .sw-confirm-field__button-list {
            display: flex;
            gap: var(--scale-size-4);
        }

        .sw-confirm-field--editing input {
            padding-right: calc(var(--scale-size-80) - 22px);
        }

        @media screen and (min-width: 769px) {
            display: grid;
            grid-template-columns: minmax(76px, max-content) minmax(0, 1fr);
            grid-auto-rows: minmax(var(--scale-size-32), auto);
            grid-row-gap: var(--scale-size-8);
            grid-column-gap: 0;
            align-items: center;
            overflow: visible;
        }
    }

    .sw-media-sidebar__quickactions-list {
        list-style: none;

        @media screen and (min-width: 769px) {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row-gap: var(--scale-size-12);
            grid-column-gap: var(--scale-size-16);
        }
    }

    .sw-media-sidebar__quickaction {
        display: inline-flex;
        align-items: center;
        min-height: var(--scale-size-20);
        cursor: pointer;
        margin-bottom: var(--scale-size-12);

        @media screen and (min-width: 769px) {
            margin-bottom: 0;
        }

        &:hover {
            color: $sw-media-sidebar-color-quick-action;
        }

        &:hover.is--danger {
            color: $sw-media-sidebar-color-quick-action-danger;
        }
    }

    .sw-media-sidebar__quickactions-icon {
        flex: 0 0 auto;
        color: $sw-media-sidebar-color-quick-action;
        margin-right: var(--scale-size-4);

        &.is--danger {
            color: $sw-media-sidebar-color-quick-action-danger;
        }
    }
}
