<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_icon %}
    <div class="sw-extension-icon">
        <img
            class="sw-extension-icon__icon"
            :draggable="false"
            :src="src"
            :alt="alt"
        >
    </div>
{% endblock %}
