.address-item-content {
    margin-bottom: $spacer-lg;
}

.address-item-body .card-title {
    margin-bottom: $spacer-lg;
}

.address-actions-set-defaults {
    margin-bottom: $spacer-sm;
}

.address-actions-form {
    display: flex;

    .btn {
        margin-right: $spacer-sm;
    }
}

.address-front {
    order: -1;
}

// Forms
.address-required-info {
    margin-bottom: $spacer-lg;
}
