// general
.account-content {
    @extend .row;

    .account-content-aside {
        @extend .offset-lg-2;
        @extend .col-lg-2;
    }

    .account-content-main {
        @extend .col-lg-6;
    }

}

.is-ctl-accountpage:not(.is-act-login) {
    .content-main-inner {
        padding-top: 0;
    }
}

.account-welcome {
    margin-bottom: $spacer-lg;
}

.account-sidebar-item {
    border: 0;

    &.active {
        color: $primary;
        background: $list-group-bg;
        font-weight: $font-weight-bold;
    }

    &:hover {
        color: $primary;
        background: $list-group-bg;
    }
}
