.profile-personal {
    margin-bottom: $spacer-md;
}

.profile-item-content {
    margin-bottom: $spacer-md;
}

.profile-required-info {
    margin-bottom: $spacer-md;
}

.profile-item-card {
    height: 100%;
}

.profile-item-card-body {
    display: flex;
    flex-direction: column;
}

.profile-item-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-form-actions {
    align-items: flex-start;
    margin-top: auto;
}
