@import "~scss/variables";

.sw-chart-card {
    &__header-right {
        display: flex;
        align-items: baseline;

        > a {
            margin-right: 0.25rem;
            flex-shrink: 0;
        }

        > :last-child {
            margin-left: 1rem;
        }
    }

    &__title-help-text {
        color: $color-shopware-brand-500;
    }
}
