<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_chart_card %}
<sw-card
    :subtitle="cardSubtitle"
    :position-identifier="positionIdentifier"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_chart_card_title %}
    <template #title>
        <div class="sw-card__title">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_chart_card_title_slot %}
            <slot name="header-title">
                {{ cardTitle }}
            </slot>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_chart_card_title_help_text %}
            <sw-icon
                v-if="helpText"
                v-tooltip="helpText"
                class="sw-chart-card__title-help-text"
                name="solid-question-circle"
                size="20"
            />
            {% endblock %}
        </div>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_chart_card_header %}
    <template #header-right>
        <div class="sw-chart-card__header-right">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_chart_card_header_slot_link %}
            <slot name="header-link"></slot>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_chart_card_header_link_arrow %}
            <span v-if="hasHeaderLink">&rarr;</span>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_chart_card_header_range_select %}
            <sw-select-field
                v-model="selectedRange"
                size="small"
                @change="dispatchRangeUpdate"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_chart_card_header_range_select_options %}
                <option
                    v-for="(range, index) in availableRanges"
                    :key="range"
                    :value="range"
                >
                    <slot
                        name="range-option"
                        v-bind="{ index, range }"
                    ></slot>
                </option>
                {% endblock %}
            </sw-select-field>
            {% endblock %}
        </div>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_chart_card_inner_chart %}
    <sw-chart v-bind="$attrs" />
    {% endblock %}
</sw-card>
{% endblock %}
