{% block sw_system_config %}
    <div class="sw-system-config">
        {% block sw_system_config_content_card %}
            <sw-card v-for="card, index in config"
                     :key="index"
                     :isLoading="isLoading"
                     :title="getInlineSnippet(card.title)">
                <template #toolbar
                          v-if="salesChannelSwitchable">
                    <sw-sales-channel-switch
                            :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                            @change-sales-channel-id="onSalesChannelChanged">
                    </sw-sales-channel-switch>
                </template>
                <template v-for="element in card.elements"
                          v-if="!isLoading">
                    {% block sw_system_config_content_card_field %}
                        <sw-form-field-renderer v-bind="getElementBind(element)"
                                                :key="element.name"
                                                v-model="actualConfigData[currentSalesChannelId][element.name]">
                        </sw-form-field-renderer>
                    {% endblock %}
                </template>
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
