.is-act-cartpage {
    .checkout {
        .checkout-container {
            @extend .row;
        }

        .checkout-main {
            @extend .col-lg-8;
            margin-bottom: $spacer-lg;
        }

        .checkout-aside {
            @extend .col-xl-4;
            @extend .col-lg-4;
            @extend .col-md-5;
            @extend .offset-lg-0;
            @extend .offset-md-7;
        }

        .checkout-aside-container {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
}

.cart-main-header {
    margin-bottom: $spacer-lg;
}

.cart-table-header {
    display: none;
}

.cart-header-unit-price,
.cart-header-total-price,
.cart-header-tax-price {
    text-align: right;
}

.cart-header-quantity {
    text-align: center;
}

$cart-grid-gutter-width: $spacer-sm;

.cart-header-row,
.cart-item-row,
.line-item-row {
    margin-right: -$cart-grid-gutter-width / 2;
    margin-left: -$cart-grid-gutter-width / 2;

    > .col,
    > [class*='col-'] {
        padding-right: $cart-grid-gutter-width / 2;
        padding-left: $cart-grid-gutter-width / 2;
    }
}

.cart-add-product-container {
    margin-bottom: $spacer;
}

.cart-shipping-costs-container {
    align-self: center;
}

.cart-shipping-costs-btn {
    padding-left: 0;
    margin: 1px 0;
}

@include media-breakpoint-up(md) {
    .cart-table-header {
        display: block;
    }

    .cart-add-product {
        max-width: 250px;
    }

    .cart-add-product-container {
        margin-bottom: 0;
    }
}

@include media-breakpoint-up(lg) {
    .cart-table-header {
        display: block;
    }
}
