.cart-item {
    margin-bottom: $spacer;

    &.is-nested,
    &.is-child {
        border-left: 3px solid $border-color;
        border-bottom-color: transparent;
        padding-left: $spacer;
    }

    &.is-child {
        padding-right: $spacer;
    }

    &.is-discount {
        .cart-item-total-price {
            color: $success;
        }
    }
}

.cart-item-discount-icon {
    text-align: center;
    height: 100%;

    .icon {
        height: 100%;

        > svg {
            top: 0;
        }
    }
}

.cart-item-nested-icon {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: 50px;

    .icon {
        > svg {
            top: 0;
        }
    }
}

.cart-item-info {
    order: 1;
}

.cart-item-quantity {
    order: 3;
}

.cart-item-unit-price,
.cart-item-tax-price {
    order: 4;
}

.cart-item-total-price {
    order: 5;
}

.cart-item-remove {
    order: 2;
    text-align: right;
}

.cart-item-img-container {
    text-align: center;
    width: 70px;
}

.cart-item-img-link {
    display: block;
}

.cart-item-info {
    margin-bottom: $spacer;
}

.cart-item-total-price {
    font-weight: $font-weight-bold;
}

.cart-item-unit-price,
.cart-item-total-price,
.cart-item-tax-price {
    justify-content: space-between;
    display: flex;
}

.cart-item-quantity-label,
.cart-item-unit-price-label,
.cart-item-total-price-label,
.cart-item-tax-price-label {
    font-weight: $font-weight-bold;
    margin-bottom: $spacer-sm;
}

.cart-item-quantity-row {
    align-items: center;
    margin-bottom: $spacer-sm;
}

.cart-item-quantity {
    margin-bottom: $spacer-sm;
}

.cart-item-details-characteristics {
    margin: $spacer-sm 0;
    font-size: $font-size-sm;

    .cart-item-details-characteristics-option {
        font-weight: $font-weight-bold;
    }
}

.cart-item-variants {
    margin-bottom: $spacer-sm;
}

.cart-item-variants-properties {
    display: flex;
}

.cart-item-variants-properties-name {
    margin-right: $spacer-sm;
}

@include media-breakpoint-up(sm) {
    .cart-item-quantity-container {
        width: 70px;
        margin-left: auto;
    }

    .cart-item-quantity-row {
        align-items: normal;
        margin-bottom: 0;
    }

    .cart-item-quantity {
        justify-content: space-between;
        display: flex;
    }

    .cart-item-quantity,
    .cart-item-unit-price,
    .cart-item-total-price,
    .cart-item-tax-price {
        text-align: right;
    }

    .cart-item-unit-price,
    .cart-item-total-price,
    .cart-item-tax-price {
        justify-content: normal;
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .cart-item {
        &.is-nested,
        &.is-child {
            padding-left: 0;
            padding-right: 0;

            .cart-item-info {
                padding-left: $spacer;
            }
        }
    }

    .cart-item-info,
    .cart-item-quantity,
    .cart-item-unit-price,
    .cart-item-total-price,
    .cart-item-tax-price,
    .cart-item-remove {
        order: 0;
    }

    .cart-item-info {
        margin-bottom: 0;
    }

    .cart-item-quantity-label,
    .cart-item-unit-price-label,
    .cart-item-total-price-label,
    .cart-item-tax-price-label {
        display: none;
    }
}
