.is-act-confirmpage, // @deprecated tag:v6.8.0 - Body class `is-act-confirmpage` will be removed, use active route classes starting with `is-active-route-*` instead.
.is-ctl-accountorder, // @deprecated tag:v6.8.0 - Body class `is-ctl-accountorder` will be removed, use active route classes starting with `is-active-route-frontend-account-*` instead.
.is-active-route-frontend-checkout-confirm-page,
.is-active-route-frontend-account-order-page,
.is-active-route-frontend-account-order-cancel,
.is-active-route-frontend-account-order-single-page,
.is-active-route-widgets-account-order-detail,
.is-active-route-frontend-account-edit-order-page {
    .checkout {
        padding-top: 70px;

        .checkout-container {
            @include make-row();
        }

        .checkout-main {
            @include make-col-ready();

            @include media-breakpoint-up(lg) {
                @include make-col(8);
                @include make-col-offset(2);
            }
        }

        .checkout-additional {
            @include make-col-ready();
            margin-top: $spacer;
            margin-bottom: $spacer;

            @include media-breakpoint-up(sm) {
                @include make-col(6);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(4);
                @include make-col-offset(2);
            }
        }

        .checkout-aside {
            @include make-col-ready();
            @include make-col();

            @include media-breakpoint-up(md) {
                @include make-col(6);
                @include make-col-offset(6);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(4);
            }
        }

        .checkout-aside-no-offset {
            @include make-col-offset(0);
        }
    }
}

.confirm-main-header,
.confirm-tos,
.confirm-address,
.confirm-payment-shipping,
.confirm-payment,
.confirm-product {
    margin-bottom: $spacer-lg;
}

.confirm-tos-bottom {
    margin-bottom: $spacer-xl;
}

.confirm-payment-current,
.confirm-shipping-current {
    margin-bottom: $spacer-xl;

    &.is-invalid {
        color: $danger;
    }
}

.confirm-method-tooltip {
    margin-left: $spacer-xs;
}

.payment-method-label,
.shipping-method-label {
    width: 100%;

    .payment-method-description,
    .shipping-method-description {
        width: 66%;
    }
}
