.is-act-confirmpage,
.is-ctl-accountorder {
    .checkout {
        padding-top: 70px;

        .checkout-container {
            @extend .row;
        }

        .checkout-main {
            @extend .col-lg-8;
            @extend .offset-lg-2;
        }

        .checkout-additional {
            @extend .col-sm-6;
            @extend .offset-lg-2;
            @extend .col-lg-4;
            margin-top: $spacer;
            margin-bottom: $spacer;
        }

        .checkout-aside {
            @extend .col;
            @extend .col-md-6;
            @extend .offset-md-6;
            @extend .col-lg-4;
        }

        .checkout-aside-no-offset {
            @include make-col-offset(0);
        }
    }
}

.confirm-main-header,
.confirm-tos,
.confirm-address,
.confirm-payment-shipping,
.confirm-payment,
.confirm-product {
    margin-bottom: $spacer-lg;
}

.confirm-payment-current,
.confirm-shipping-current {
    margin-bottom: $spacer-xl;

    &.is-invalid {
        color: $danger;
    }
}

.confirm-method-tooltip {
    margin-left: $spacer-xs;
}


.payment-method-label,
.shipping-method-label {
    width: 100%;

    .payment-method-description,
    .shipping-method-description {
        width: 66%;
    }
}

.confirm-checkout-collapse-trigger {
    text-underline: $link-color;

    &:hover {
        cursor: pointer;
    }

    .icon-confirm-checkout-chevron {
        height: 1.375rem;

        > svg {
            color: $link-color;
            transition: transform 0.2s ease-in-out;
        }
    }
}
