.is-act-checkoutpreparepage {
    .checkout {
        padding-top: 70px;

        .checkout-container {
            @extend .row;
        }

        .checkout-main {
            @extend .col-lg-8;
            margin-bottom: $spacer-lg;
        }

        .checkout-aside {
            @extend .col-md-4;
            @extend .d-lg-block;
        }

        .login-card {
            @extend .col-md-6;
        }
    }
}

@include media-breakpoint-up(lg) {
    .is-act-checkoutpreparepage {
        .checkout {
            .checkout-main {
                margin-bottom: 0;
            }
        }
    }
}
