<div class="sw-attribute-type-radio">
    <sw-attribute-translated-labels
            v-model="currentAttribute.config"
            :propertyNames="propertyNames"
            :locales="locales">
    </sw-attribute-translated-labels>

    {# the list of options #}
    <div v-for="(option, index) in currentAttribute.config.options">
        <span>
            {{ $tc('swag-attribute-type-radio.labelOption', 0, { count: (index+1) }) }}
        </span>

        <sw-button
                class="sw-attribute-type-radio__delete-option-button"
                size="small"
                @click="onDeleteOption(index)">
            {{ $tc('swag-attribute-type-radio.labelDeleteOption') }}
        </sw-button>

        <sw-container
                class="sw-attribute-type-radio__option-container"
                columns="1fr 1fr"
                gap="20px">
            <sw-field
                    :label="$tc('swag-attribute-type-radio.labelValue')"
                    v-model="option.id">
            </sw-field>

            <div>
                {# Add input fields for every locale #}
                <sw-field
                        v-for="locale in locales"
                        type="text"
                        :key="locale"
                        :label="getLabel(locale)"
                        v-model="option.name[locale]">
                </sw-field>
            </div>
        </sw-container>
    </div>

    <sw-button @click="onClickAddOption">
        {{ $tc('swag-attribute-type-radio.buttonAddOption') }}
    </sw-button>
</div>
