<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_price_field %}
<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_price_preview %}
<div class="sw-price-preview">
    <span>
        {{ currencyFilter(priceForCurrency.gross, currency.isoCode) }} | {{ currencyFilter(priceForCurrency.net, currency.isoCode) }}
    </span>
</div>
{% endblock %}
{% endblock %}
