{% block sw_price_field %}
{% block sw_price_preview %}
<div class="sw-price-preview">
    <span>
        {{ priceForCurrency.gross | currency(currency.isoCode) }} | {{ priceForCurrency.net | currency(currency.isoCode) }}
    </span>
</div>
{% endblock %}
{% endblock %}