@import "~less/variables";

@sw-pagination-color-background:        @color-white;
@sw-pagination-controls-color-border:   @color-border;
@sw-pagination-controls-color-hover:    @color-shopware-blue;
@sw-pagination-controls-color-disabled: #D2DEE6;
@sw-pagination-controls-color-text:     #7b8c9d;
@sw-pagination-border-radius:           3px;

.sw-pagination {
    padding: 15px 20px;
    background: @sw-pagination-color-background;
    text-align: center;

    .page-selection, .page-total, .per-page {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        color: #353E47;
    }

    .number {
        font-weight: bold;
    }

    button {
        display: inline-block;
        height: 32px;
        width: 32px;
        font-size: 16px;
        line-height: 12px;
        text-align: center;
        color: @sw-pagination-controls-color-text;
        border: 1px solid @sw-pagination-controls-color-border;
        border-radius: @sw-pagination-border-radius;
        background-color: @sw-pagination-color-background;
        vertical-align: middle;
        cursor: pointer;
        -webkit-appearance: none;
        outline: none;

        &:hover {
            color: @sw-pagination-controls-color-hover;
            border-color: @sw-pagination-controls-color-hover;
        }

        &[disabled="disabled"] {
            color: @sw-pagination-controls-color-disabled;
            cursor: default;

            &:hover {
                color: @sw-pagination-controls-color-disabled;
                border-color: @sw-pagination-controls-color-disabled;
            }
        }
    }

    .btn--refresh {
        margin: 0 0 0 20px;
    }

    .page-selection {
        margin: 0 20px;

        input {
            margin: 0 5px;
            display: inline-block;
            height: 32px;
            width: 40px;
            font-weight: bold;
            border: 1px solid @sw-pagination-controls-color-border;
            border-radius: @sw-pagination-border-radius;
            background-color: @sw-pagination-color-background;
            text-align: center;
            -webkit-appearance: none;
            outline: none;
        }
    }

    .per-page {
        margin: 0 20px;

        select {
            display: inline-block;
            height: 32px;
            width: 60px;
            padding: 0 0 0 5px;
            font-weight: bold;
            border: 1px solid @sw-pagination-controls-color-border;
            border-radius: @sw-pagination-border-radius;
            background-color: @sw-pagination-color-background;
            text-align: center;
            outline: none;
        }
    }
}