<div class="sw-pagination">

    <button class="btn--first-page" :disabled="page === 1" @click="firstPage">
        <i class="icon-arrow-thin-left"></i>
    </button>

    <button class="btn--prev-page" :disabled="page === 1" @click="prevPage">
        <i class="icon-chevron-left"></i>
    </button>

    <div class="page-selection">
        Page
        <input type="number" class="page-selection--field" name="current-page-number" min="1" :max="maxPage" :value="currentPage" v-model="currentPage" @change="pageChange">
        of <span class="number">{{ maxPage }}</span>
    </div>

    <button class="btn--next-page" :disabled="page === maxPage" @click="nextPage">
        <i class="icon-chevron-right"></i>
    </button>

    <button class="btn--last-page" :disabled="page === maxPage" @click="lastPage">
        <i class="icon-arrow-thin-right"></i>
    </button>

    <button class="btn--refresh" @click="refresh">
        <i class="icon-clockwise"></i>
    </button>

    <div class="per-page">
        Items per page:
        <select class="per-page--select" :value="perPage" v-model="perPage" @change="pageChange">
            <option v-for="step in steps" :value="step">
                {{ step }}
            </option>
        </select>
    </div>

    <div class="page-total">
        Items total: <span class="number">{{ total }}</span>
    </div>
</div>