@import "~less/variables";

@sw-pagination-color-background:        @color-link-water;
@sw-pagination-controls-color-border:   @color-steam-cloud;
@sw-pagination-controls-color-hover:    @color-shopware-blue;
@sw-pagination-controls-color-text:     @color-gutenberg;
@sw-pagination-border-radius:           @border-radius-default;

.sw-pagination {
    padding: 15px 20px;
    background: @sw-pagination-color-background;
    text-align: center;
    color: @sw-pagination-controls-color-text;
    position: relative;

    .sw-pagination__per-page {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        color: @color-kashmir;
    }

    .sw-pagination__list {
        display: inline-block;
    }

    .sw-pagination__list-item {
        display: inline-block;
        list-style: none;
        margin: 0;
    }
    .sw-pagination__list-button,
    .sw-pagination__page-button,
    .sw-pagination__list-separator {
        border: 0 none;
        padding: 8px 12px;
        background: #fff;
        outline: none;
    }

    .sw-pagination__list-button {
        border-radius: 3px;

        &.is-active {
            background: @sw-pagination-controls-color-hover;
            color: #fff;
        }
    }

    .sw-pagination__per-page {
        position: absolute;
        right: 0;
        margin: 0 20px;

        select {
            display: inline-block;
            height: 32px;
            width: 60px;
            padding: 0 0 0 5px;
            margin: 0 0 0 10px;
            border: 1px solid @sw-pagination-controls-color-border;
            border-radius: @sw-pagination-border-radius;
            background-color: @sw-pagination-color-background;
            text-align: center;
            outline: none;
        }
    }
}