@import "~less/variables";

@sw-pagination-color-background:        @color-link-water;
@sw-pagination-controls-color-border:   @color-steam-cloud;
@sw-pagination-controls-color-hover:    @color-shopware-blue;
@sw-pagination-controls-color-text:     @color-gutenberg;
@sw-pagination-border-radius:           @border-radius-default;

.sw-pagination {
    padding: 15px 20px;
    background: @sw-pagination-color-background;
    text-align: center;
    color: @sw-pagination-controls-color-text;
    position: relative;

    .sw-pagination__list {
        display: inline-block;
    }

    .sw-pagination__list-item {
        display: inline-block;
        list-style: none;
        margin: 0;
    }
    .sw-pagination__list-button,
    .sw-pagination__page-button,
    .sw-pagination__list-separator {
        padding: 8px 12px;
        border: 0 none;
        color: @sw-pagination-controls-color-text;
        background: #fff;
        cursor: pointer;
        outline: none;

        &:hover {
            color: @sw-pagination-controls-color-hover;
        }
    }

    .sw-pagination__list-button {
        border-radius: 3px;

        &.is-active {
            background: @sw-pagination-controls-color-hover;
            color: #fff;
        }
    }

    .sw-pagination__per-page {
        display: inline-block;
        font-size: 14px;
        line-height: 16px;
        position: absolute;
        right: 0;
        margin: 0 20px;

        .sw-field {
            display: grid;
            grid-template-columns: 120px 60px;
            align-items: center;

            label {
                margin-bottom: 0;
            }

            .sw-field__select {
                select {
                    padding: 2px 12px;
                }

                .sw-icon {
                    top: 9px;
                    right: 9px;
                }
            }
        }
    }
}