{% block sw_settings_list %}
{% block sw_settings_currency_index %}
<sw-page class="sw-settings-currency-list">

    {% block sw_settings_currency_list_search_bar %}
    <template slot="search-bar">
        <sw-search-bar
            initial-search-type="currency"
            :placeholder="$tc('sw-settings-currency.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_settings_currency_list_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block sw_settings_currency_list_smart_bar_header_title %}
        <h2>
            {% block sw_settings_currency_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }} <sw-icon
                name="small-arrow-medium-right"
                small
            /> {{ $tc('sw-settings-currency.list.textHeadline') }}
            {% endblock %}

            {% block sw_settings_currency_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_currency_list_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block sw_settings_currency_list_smart_bar_actions_add %}
        <sw-button
            :router-link="{ name: 'sw.settings.currency.create' }"
            class="sw-settings-currency-list__button-create"
            :disabled="!acl.can('currencies.creator')"
            variant="primary"
        >
            {{ $tc('sw-settings-currency.list.buttonAddCurrency') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_currency_list_language_switch %}
    <sw-language-switch
        slot="language-switch"
        @on-change="onChangeLanguage"
    />
    {% endblock %}

    <template #content>
        {% block sw_settings_currency_list_content %}
        <div class="sw-currency-list__content">
            <sw-entity-listing
                v-if="currency"
                ref="swSettingsCurrencyGrid"
                class="sw-settings-currency-list-grid"
                :items="currency"
                :columns="getCurrencyColumns()"
                :repository="currencyRepository"
                :full-page="false"
                :allow-edit="acl.can('currencies.editor')"
                :allow-delete="acl.can('currencies.deleter')"
                :allow-inline-edit="acl.can('currencies.editor')"
                detail-route="sw.settings.currency.detail"
                :show-selection="false"
                :is-loading="isLoading"
                :sort-by="sortBy"
                :sort-direction="sortDirection"
                :disable-data-fetching="true"
                identifier="sw-settings-currency-list"
                @page-change="onPageChange"
                @column-sort="onSortColumn"
                @inline-edit-save="onInlineEditSave"
            >

                {% block sw_settings_currency_list_grid_columns_actions %}
                <template #actions="{ item }">
                    {% block sw_settings_currency_list_grid_columns_actions_edit %}
                    <sw-context-menu-item
                        :disabled="!acl.can('currencies.editor')"
                        :router-link="{ name: 'sw.settings.currency.detail', params: { id: item.id, edit: 'edit' }}"
                        class="sw-currency-list__edit-action"
                    >
                        {{ $tc('sw-settings-currency.list.contextMenuEdit') }}
                    </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_settings_currency_list_grid_columns_actions_delete %}
                    <sw-context-menu-item
                        :disabled="item.isSystemDefault || !acl.can('currencies.deleter')"
                        variant="danger"
                        class="sw-currency-list__delete-action"
                        @click="onDelete(item.id)"
                    >
                        {{ $tc('sw-settings-currency.list.contextMenuDelete') }}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block sw_settings_currency_list_grid_action_modals %}
                <template #action-modals="{ item }">
                    {% block sw_settings_currency_list_delete_modal %}
                    <sw-modal
                        v-if="showDeleteModal === item.id"
                        :title="$tc('global.default.warning')"
                        variant="small"
                        @modal-close="onCloseDeleteModal"
                    >
                        {% block sw_settings_currency_list_delete_modal_confirm_delete_text %}
                        <p class="sw-settings-currency-list__confirm-delete-text">
                            {{ $tc('sw-settings-currency.list.textDeleteConfirm', 0, { name: item.name }) }}
                        </p>
                        {% endblock %}

                        {% block sw_settings_currency_list_delete_modal_footer %}
                        <template #modal-footer>
                            {% block sw_settings_currency_list_delete_modal_cancel %}
                            <sw-button
                                size="small"
                                @click="onCloseDeleteModal"
                            >
                                {{ $tc('sw-settings-currency.list.buttonCancel') }}
                            </sw-button>
                            {% endblock %}

                            {% block sw_settings_currency_list_delete_modal_confirm %}
                            <sw-button
                                variant="danger"
                                size="small"
                                @click="onConfirmDelete(item.id)"
                            >
                                {{ $tc('sw-settings-currency.list.buttonDelete') }}
                            </sw-button>
                            {% endblock %}
                        </template>
                        {% endblock %}
                    </sw-modal>
                    {% endblock %}
                </template>
                {% endblock %}
            </sw-entity-listing>
        </div>
        {% endblock %}
    </template>
</sw-page>
    {% endblock %}
{% endblock %}
