<div class="sw-iframe-renderer">
    <template v-if="componentName">
        <component :is="componentName" />
    </template>

    <iframe
        ref="iframe"
        :src="iFrameSrcResult"
        frameborder="0"
        :title="src"
        width="100%"
        :height="iFrameHeight"
        @load="$emit('load')"
    ></iframe>
</div>
