@import "~less/variables";

@sw-address-color-text: @color-gutenberg;

.sw-address {
    margin-bottom: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: @sw-address-color-text;
}