@import "~scss/variables";

.sw-plugin-updates-grid {

    p {
        white-space: initial;
    }

    .sw-plugin-updates-grid__info-container {
        align-items: center;

        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }

        .sw-plugin-updates-grid__plugin-info {
            display: flex;
            flex-direction: column;

            .sw-plugin-updates-grid__upgraded-date {
                color: $color-gray;
                font-size: $font-size-small;
            }
        }

    }

    .sw-data-grid.sw-plugin-updates-grid__grid,
    .sw-data-grid.sw-plugin-updates-grid__grid.is--compact {
        border-radius: $border-radius-default;

        .sw-data-grid__cell-content {
            height: auto;
        }

        .sw-data-grid__cell--changelog .sw-data-grid__cell-content {
            white-space: normal;
            word-wrap: break-word;
        }
    }

    .sw-plugin-updates-grid__update-context {
        display: flex;
        flex-direction: column;

        .sw-loader {
            position: unset;
            background: none;

            .sw-loader__container {
                display: inherit;
            }
        }

        .sw-plugin-updates-grid__version {
            margin-top: 6px;
            font-size: $font-size-small;
            color: $color-gray;
        }
    }
}
