{% block sw_plugin_updates_grid %}
    <div class="sw-plugin-updates-grid">
        {% block sw_plugin_updates_grid_top_actions %}
            <div class="sw-plugin-manager__top-actions">
                {% block sw_plugin_updates_grid_top_actions_header %}
                    <h1>{{ $tc('sw-plugin.updates.updateHeader') }}</h1>
                {% endblock %}
                {% block sw_plugin_updates_grid_top_actions_update_all %}
                    <sw-button v-if="total && updateQueue.length === 0" variant="ghost" @click="updateAll()">
                        {{ $tc('sw-plugin.updates.updateAllButton') }}
                    </sw-button>
                {% endblock %}
                {% block sw_plugin_updates_grid_top_actions_cancel_updates %}
                    <sw-button v-if="updateQueue.length !== 0" variant="ghost" @click="cancelUpdates()">
                        {{ $tc('sw-plugin.updates.cancelUpdates') }}
                    </sw-button>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_plugin_updates_grid_card %}
            <sw-card :isLoading="isLoading || pageLoading">
                {% block sw_plugin_updates_list_grid %}
                    <template #grid>
                        <sw-data-grid v-show="isLoading || total"
                                      class="sw-plugin-updates-grid__grid"
                                      :columns="updateColumns"
                                      :dataSource="updates"
                                      :showSelection="false"
                                      :showActions="false">
                            <template #column-label="{ item }">
                                {% block sw_plugin_updates_list_grid_columns_name_label %}
                                    <sw-plugin-table-entry :iconPath="item.iconPath"
                                                           :title="item.label"
                                                           :subtitle="item.releaseDate | date">
                                    </sw-plugin-table-entry>
                                {% endblock %}
                            </template>

                            <template #column-changelog="{ item }">
                                {% block sw_plugin_updates_list_grid_columns_changelog_label %}
                                <div v-html="$sanitize(item.changelog)"></div>
                                {% endblock %}
                            </template>

                            <template #column-action-update="{ item }">
                                {% block sw_plugin_updates_list_grid_columns_update %}
                                    <div class="sw-plugin-updates-grid__update-context">
                                        {% block sw_plugin_updates_list_grid_columns_update_button %}
                                            <sw-button v-if="!isUpdating(item)"
                                                       variant="ghost"
                                                       size="small"
                                                       @click="onUpdate(item)">
                                                {{ $tc('sw-plugin.updates.updateButton') }}
                                            </sw-button>
                                        {% endblock %}

                                        {% block sw_plugin_updates_list_grid_columns_update_loader %}
                                            <sw-loader v-else size="14px"></sw-loader>
                                        {% endblock %}

                                        {% block sw_plugin_updates_list_grid_columns_update_version %}
                                            <span class="sw-plugin-updates-grid__version">
                                                {{ $tc('sw-plugin.general.version') }} {{ item.version }}
                                            </span>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </template>
                        </sw-data-grid>
                    </template>
                {% endblock %}

                {% block sw_plugin_updates_list_empty_state %}
                    <sw-empty-state v-if="noUpdates"
                                    :title="$tc('sw-plugin.updates.messageEmpty')">
                    </sw-empty-state>
                {% endblock %}

                {% block sw_plugin_updates_list_login_modal %}
                    <sw-plugin-store-login v-if="showLoginModal" @close-modal="closeModal"></sw-plugin-store-login>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
