.sw-cms-el-preview-image {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__img {
        height: 100%;
        object-fit: cover;
    }
}
