{% block sw_order_custom_item %}
<div class="sw-order-custom-item">
    {% block sw_order_custom_item_container %}
    <sw-container
        class="sw-order-create-products-container"
        gap="0px 30px"
        columns="1fr 1fr"
    >
        {% block sw_order_custom_item_name %}
        <sw-text-field
            v-model="customItem.label"
            :label="$tc('sw-order.itemModal.customItem.labelName')"
            :placeholder="$tc('sw-order.itemModal.customItem.placeholderName')"
        />
        {% endblock %}

        {% block sw_order_custom_item_price_net %}
        <sw-number-field
            v-model="customItem.price"
            class="sw-order-custom-item__price"
            :label="priceLabel"
            :placeholder="pricePlaceholder"
            :min="0"
        >
            <template #suffix>
                {{ currency.symbol }}
            </template>
        </sw-number-field>
        {% endblock %}

        {% block sw_order_custom_item_amount %}
        <sw-number-field
            v-model="customItem.quantity"
            :label="$tc('sw-order.itemModal.customItem.labelAmount')"
            :min="1"
            :placeholder="$tc('sw-order.itemModal.customItem.placeholderAmount')"
        />
        {% endblock %}

        {% block sw_order_custom_item_vat %}
        <sw-entity-single-select
            v-model="taxId"
            entity="tax"
            :label="$tc('sw-order.itemModal.customItem.labelVat')"
            :placeholder="$tc('sw-order.itemModal.customItem.placeholderSelectVat')"
            @change="onChangeTax"
        />
        {% endblock %}
    </sw-container>
    {% endblock %}
</div>
{% endblock %}
