@import "~scss/variables";

.sw-meteor-single-select {
    .sw-meteor-single-select__preview {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $color-white;
        padding: 6px 16px;
        border-radius: 20px;
        border: 1px solid $color-gray-300;
        font-size: $font-size-xs;
        color: $color-darkgray-200;
        cursor: pointer;
        transition: 0.1s all ease-in-out;

        &:hover {
            border-color: $color-shopware-brand-500;
            color: $color-shopware-brand-500;
        }

        .sw-icon {
            margin-top: 2px;
            margin-left: 2px;

            &.icon--regular-chevron-down-xxs {
                width: 16px;
                height: 16px;
                padding: 5px 4px;
            }
        }
    }

    .sw-meteor-single-select__label {
        font-weight: $font-weight-semi-bold;
        padding-right: 4px;
    }

    .sw-meteor-single-select__result-list {
        position: relative;
        width: 100%;
    }
}

.sw-meteor-single-select__popover {
    .sw-select-result-list__content {
        max-height: 420px;
        min-width: 240px;
        max-width: 320px;
        padding: 0;

        .sw-select-result-list__item-list {
            padding: 0 8px 8px;
            margin-top: 8px;
        }

        .sw-simple-search-field {
            --search-field-padding: 12px;

            position: sticky;
            top: 0;
            border-radius: 3px 3px 0 0;
            border-bottom: 1px solid $color-gray-300;
            padding: var(--search-field-padding);
            background: $color-white;
            margin: 0;

            .sw-simple-search-field__search-icon {
                right: calc(var(--search-field-padding) + 12px);
            }
        }
    }
}
