{
  "url": "http://sw6.dev.localhost",
  "oauth": {
    "client_id": "administration",
    "grant_type": "password",
    "username": "admin",
    "password": "shopware"
  },
  "wait": [2, 4],
  "aggregate": true,
  "indexing_behavior": false,
  "erp": true,
  "track_ajax_requests": true,
  "advertisements": 1,
  "allow_filter": true,
  "category_page_limit": null,
  "product_page_limit": null
}
