<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_cross_selling_config %}
<div class="sw-cms-el-config-cross-selling">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_cross_selling_config_tabs %}
    <sw-tabs
        position-identifier="sw-cms-element-cross-selling"
        class="sw-cms-el-config-cross-selling__tabs"
        default-item="content"
    >
        <template #default="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_cross_selling_config_tab_content %}
            <sw-tabs-item
                name="content"
                :title="$tc('sw-cms.elements.general.config.tab.content')"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_cross_selling_config_tab_options %}
            <sw-tabs-item
                name="options"
                :title="$tc('sw-cms.elements.general.config.tab.options')"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.options') }}
            </sw-tabs-item>
            {% endblock %}
        </template>

        <template #content="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_cross_selling_config_content %}
            <sw-container
                v-if="active === 'content'"
                class="sw-cms-el-config-cross-selling__tab-content"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_cross_selling_config_content_warning_text %}
                <sw-alert
                    v-if="isProductPageType"
                    class="sw-cms-el-config-cross-selling__warning-text"
                    variant="info"
                >
                    {{ $tc('sw-cms.elements.crossSelling.config.infoText.productDetailElement') }}
                </sw-alert>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_cross_selling_config_content_products %}
                <sw-entity-single-select
                    v-if="!isProductPageType"
                    ref="cmsProductSelection"
                    v-model:value="element.config.product.value"
                    entity="product"
                    class="sw-cms-el-config-cross-selling__products"
                    :label="$tc('sw-cms.elements.crossSelling.config.label.selection')"
                    :placeholder="$tc('sw-cms.elements.crossSelling.config.placeholder.selection')"
                    :criteria="productCriteria"
                    :context="productSelectContext"
                    show-clearable-button
                    @update:value="onProductChange"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_entity_single_select_variant_selected_item %}
                    <template #selection-label-property="{ item }">
                        <sw-product-variant-info
                            :variations="item.variation"
                        >
                            {{ item.translated.name || item.name }}
                        </sw-product-variant-info>
                    </template>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_entity_single_select_variant_result_item %}
                    <template #result-item="{ item, index }">
                        <sw-select-result
                            v-bind="{ item, index }"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_entity_single_select_base_results_list_result_label %}
                            <span class="sw-select-result__result-item-text">
                                <sw-product-variant-info :variations="item.variation">
                                    {{ item.translated.name || item.name }}
                                </sw-product-variant-info>
                            </span>
                            {% endblock %}
                        </sw-select-result>
                    </template>
                    {% endblock %}
                </sw-entity-single-select>
                {% endblock %}
            </sw-container>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_cross_selling_config_options %}
            <sw-container
                v-else-if="active === 'options'"
                class="sw-cms-el-config-cross-selling__tab-options"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_cross_selling_config_options_box_layout %}
                <sw-select-field
                    v-model:value="element.config.boxLayout.value"
                    :label="$tc('sw-cms.elements.productBox.config.label.layoutType')"
                >
                    <option value="standard">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
                    </option>
                    <option value="image">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
                    </option>
                    <option value="minimal">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
                    </option>
                </sw-select-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_cross_selling_config_options_display_mode %}
                <sw-select-field
                    v-model:value="element.config.displayMode.value"
                    :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                >
                    <option value="standard">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                    </option>
                    <option value="cover">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                    </option>
                    <option value="contain">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
                    </option>
                </sw-select-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_cross_selling_config_options_min_width %}
                <sw-text-field
                    v-model:value="element.config.elMinWidth.value"
                    :label="$tc('sw-cms.elements.crossSelling.config.label.minWidth')"
                    :placeholder="$tc('sw-cms.elements.crossSelling.config.placeholder.minWidth')"
                />
                {% endblock %}
            </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
    {% endblock %}
</div>
{% endblock %}
