<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_select_selection_list %}
<ul class="sw-select-selection-list">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_select_selection_list_item %}
    <template v-if="!hideLabels">
        <li
            v-for="(selection, index) in selections"
            :key="selection[valueProperty]"
            class="sw-select-selection-list__item-holder"
            :class="'sw-select-selection-list__item-holder--' + index"
            :data-id="selection[valueProperty]"
        >

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_select_selection_list_item_inner %}
            <slot
                name="selected-option"
                v-bind="{ selection, defaultLabel: selection[labelProperty], disabled }"
            >
                <sw-label
                    :dismissable="!isSelectionDisabled(selection)"
                    :size="size"
                    @dismiss="onClickDismiss(selection)"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_select_selection_list_item_text %}
                    <span class="sw-select-selection-list__item">
                        <slot
                            name="label-property"
                            v-bind="{ item: selection, index, labelProperty, valueProperty }"
                        >
                            {{ selection[labelProperty] }}
                        </slot>
                    </span>
                {% endblock %}
                </sw-label>
            </slot>
        {% endblock %}
        </li>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_select_selection_list_load_more %}
    <li
        v-if="invisibleCount > 0 && !hideLabels"
        class="sw-select-selection-list__load-more"
    >
        <slot
            name="invisible-count"
            v-bind="{ invisibleCount, onClickInvisibleCount }"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_select_selection_list_load_more_item_button %}
            <sw-button
                class="sw-select-selection-list__load-more-button"
                @click.stop="onClickInvisibleCount"
            >
                +{{ invisibleCount }}
            </sw-button>
            {% endblock %}
        </slot>
    </li>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_select_selection_list_input %}
    <li>
        <slot
            name="input"
            v-bind="{ placeholder, searchTerm, onSearchTermChange, onKeyDownDelete }"
        >
            <!-- eslint-disable-next-line vuejs-accessibility/form-control-has-label -->
            <input
                ref="swSelectInput"
                class="sw-select-selection-list__input"
                type="text"
                :disabled="disabled"
                :readonly="!enableSearch"
                :placeholder="showPlaceholder"
                :value="searchTerm"
                @input="onSearchTermChange"
                @keydown.delete="onKeyDownDelete"
            >
        </slot>
    </li>
    {% endblock %}
</ul>
{% endblock %}
