<div class="workspace-container">
    <div class="workspace--toolbar" :style="{ 'border-bottom-color': primaryColor }">

        <!-- Contains the name and icon of the parent root if defined -->
        <a href="#" title="Main Route" v-if="parentRoute">
            <i :class="iconClassName"></i>
        </a>

        <!-- Mainly for primary actions like saving, canceling, etc. -->
        <slot name="header">
            <header class="toolbar--middle-section">
                <h1 class="workspace--headline">
                    {{ title }}
                </h1>
            </header>
        </slot>

        <slot name="header-tools"></slot>
    </div>

    <div class="workspace--content">
        <main class="content--main">
            <router-view></router-view>
        </main>
        <aside class="content--sidebar">
            <!-- <router-view name="sidebar"></router-view> -->
        </aside>
    </div>
</div>