<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_preview_product_heading %}
<div class="sw-cms-preview-product-heading">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_preview_product_heading_name %}
    <div class="sw-cms-preview-product-heading__name">
        Lorem ipsum dolor sit amet.
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_preview_product_heading_logo %}
    <div class="sw-cms-preview-product-heading__logo">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_preview_product_heading_placeholder_container %}
        <div class="sw-cms-preview-product-heading__placeholder-container">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_preview_product_heading_placeholder %}
            <div class="sw-cms-preview-product-heading__placeholder"></div>
            <div class="sw-cms-preview-product-heading__placeholder"></div>
            {% endblock %}

        </div>
        {% endblock %}

    </div>
    {% endblock %}

</div>
{% endblock %}
