.sw-text-preview__expand-button::before {
    height: calc(var(--font-size-s) * 1.25);
    width: 50px;
    display: inline-block;
    position: absolute;
    left: -56px;
    content: "";
    background: var(--color-background-primary-default);
    background: linear-gradient(90deg, transparent 0%, var(--color-background-primary-default) 100%);
}

.sw-text-preview__expand-button {
    margin-left: 0.5rem;
}
