<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_text_preview %}
<div class="sw-text-preview">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_preview_shortened_content %}
    <span v-html="shortenedText"></span>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_preview_expand_button %}
    <sw-button
        v-if="shortened"
        class="sw-text-preview__expand-button"
        variant="ghost"
        size="x-small"
        @click.prevent="openModal"
    >
        {{ $tc('global.sw-text-preview.showMoreButton') }}
    </sw-button>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_preview_modal %}
    <sw-modal
        v-if="showModal"
        :title="modalTitle"
        @modal-close="closeModal"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_preview_modal_content %}
        <div v-html="fullText"></div>
        {% endblock %}

        <template #modal-footer>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_text_preview_modal_footer %}
            <sw-button
                size="small"
                @click="closeModal"
            >
                {{ $tc('global.sw-modal.labelClose') }}
            </sw-button>
            {% endblock %}
        </template>
    </sw-modal>
    {% endblock %}
</div>
{% endblock %}
