@import "~scss/variables";

$sw-media-modal-duplicate-media-separator-color: $color-steam-cloud;
$sw-media-modal-duplicate-media-text-color: $color-gutenberg;


.sw-media-modal-duplicate-media {
    .sw-media-modal-duplicate-media__description {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .sw-media-modal-duplicate-media__preview_label {
        font-size: 12px;
    }

    .sw-media-modal-duplicate-media__preview {
        margin-bottom: 35px;
    }

    .sw-media-base-item {
        margin-bottom: 0;
    }

    .sw-media-modal-duplicate-media__preview-separator {
        justify-self: center;
        color: $sw-media-modal-duplicate-media-separator-color;
    }

    .sw-media-modal-duplicate-media__options {
        font-size: 14px;
        margin-bottom: 0;
    }

    .sw-field--checkbox {
        grid-template-columns: 16px 1fr 0;
        text-align: left;
        margin-bottom: 0;

        label {
            margin-bottom: 0;
        }
    }

    .sw-field__radio-option {
        label {
            color: $sw-media-modal-duplicate-media-text-color !important;
        }
    }
}