{% block sw_media_modal_duplicate_media %}
    <sw-modal class="sw-media-modal-duplicate-media"
              @closeModal="closeModal"
              :title="$tc('global.sw-media-modal-duplicate-media.titleModal')">

        {% block sw_media_modal_duplicate_media_body %}
            {% block sw_media_modal_duplicate_media_body_description %}
                <p class="sw-media-modal-duplicate-media__description">
                    {{ $tc('global.sw-media-modal-duplicate-media.description') }}
                </p>
            {% endblock %}

            {% block sw_media_modal_duplicate_media_body_preview %}
                <sw-container class="sw-media-modal-duplicate-media__preview"
                              rows="20px 1fr"
                              columns="1fr 100px 1fr"
                              align="center">
                    {% block sw_media_modal_duplicate_media_body_preview_label_old_file %}
                        <label class="sw-media-modal-duplicate-media__preview_label">
                            {{ $tc('global.sw-media-modal-duplicate-media.labelNewFile') }}
                        </label>
                    {%  endblock %}

                    <div></div>

                    {% block sw_media_modal_duplicate_media_body_preview_label_new_file %}
                        <label class="sw-media-modal-duplicate-media__preview_label">
                            {{ $tc('global.sw-media-modal-duplicate-media.labelOldFile') }}
                        </label>
                    {%  endblock %}

                    {% block sw_media_modal_duplicate_media_body_preview_new_media %}
                        <sw-media-media-item
                                :key="item.id"
                                :item="item"
                                :selected="false"
                                :showSelectionIndicator="false"
                                :isList="true"
                                :showContextMenuButton="false">
                        </sw-media-media-item>
                    {%  endblock %}

                    {% block sw_media_modal_duplicate_media_body_preview_separator %}
                        <sw-icon class="sw-media-modal-duplicate-media__preview-separator"
                                 name="default-arrow-simple-right">
                        </sw-icon>
                    {%  endblock %}

                    {% block sw_media_modal_duplicate_media_body_preview_old_media %}
                        <sw-media-media-item
                                v-if="existingMedia"
                                :key="existingMedia.id"
                                :item="existingMedia"
                                :selected="false"
                                :showSelectionIndicator="false"
                                :isList="true"
                                :showContextMenuButton="false">
                        </sw-media-media-item>
                    {% endblock %}
                </sw-container>
            {% endblock %}

            {% block sw_media_modal_duplicate_media_body_options %}
                <sw-field class="sw-media-modal-duplicate-media__options"
                        type="radio"
                        :options="options"
                        v-model="selectedOption">
                </sw-field>
            {% endblock %}
        {% endblock %}

        {% block sw_media_modal_duplicate_media_footer %}
            <template slot="modal-footer">
                <sw-container columns="1fr 1fr" align="center">

                    {% block sw_media_modal_duplicate_media__left_footer_container %}
                        <div>

                            {% block sw_media_modal_duplicate_media__save_selection %}
                                <sw-field type="checkbox"
                                          v-model="saveSelection"
                                          :label="$tc('global.sw-media-modal-duplicate-media.labelSaveSelection')">
                                </sw-field>
                            {% endblock %}

                        </div>
                    {% endblock %}

                    {% block sw_media_modal_duplicate_media__right_footer_container %}
                    <div>

                        {% block sw_media_modal_duplicate_media__cancel_button %}
                            <sw-button @click="closeModal" size="small">
                                {{ $tc('global.sw-media-modal-duplicate-media.buttonCancel') }}
                            </sw-button>
                        {% endblock %}

                        {% block sw_media_modal_duplicate_media_upload_button %}
                            <sw-button class="sw-media-modal-duplicate-media__upload"
                                       {#@click="solveDuplicate"#}
                                       size="small"
                                       variant="primary">
                                {{ buttonLabel }}
                            </sw-button>
                        {% endblock %}
                    </div>
                    {% endblock %}
                </sw-container>
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}