{% block sw_text_editor_toolbar %}
    <div class="sw-text-editor-toolbar" :style="[position, arrowPosition]" :class="classes" @click="handleToolbarClick">
        {% block sw_text_editor_toolbar_buttons %}

            {% block sw_text_editor_toolbar_buttons_left %}
                <div class="sw-text-editor-buttons is--left" v-if="leftButtons.length > 0">
                    <sw-text-editor-toolbar-button
                            v-for="(button, index) in leftButtons"
                            :isInlineEdit="isInlineEdit"
                            :key="index"
                            :buttonConfig="setButtonValues(button)"
                            :disabled="isDisabled(button)"
                            @button-click="onButtonClick"
                            @menu-toggle="onToggleMenu">
                    </sw-text-editor-toolbar-button>
                </div>
            {% endblock %}

            {% block sw_text_editor_toolbar_buttons_middle %}
                <div class="sw-text-editor-buttons is--middle" v-if="middleButtons.length > 0">
                    <sw-text-editor-toolbar-button
                            v-for="(button, index) in middleButtons"
                            :isInlineEdit="isInlineEdit"
                            :key="index"
                            :buttonConfig="setButtonValues(button)"
                            :disabled="isDisabled(button)"
                            @button-click="onButtonClick"
                            @menu-toggle="onToggleMenu">
                    </sw-text-editor-toolbar-button>
                </div>
            {% endblock %}

            {% block sw_text_editor_toolbar_buttons_right %}
                <div class="sw-text-editor-buttons is--right" v-if="rightButtons.length > 0">
                    <sw-text-editor-toolbar-button
                            v-for="(button, index) in rightButtons"
                            :isInlineEdit="isInlineEdit"
                            :key="index"
                            :buttonConfig="setButtonValues(button)"
                            :disabled="isDisabled(button)"
                            @button-click="onButtonClick"
                            @menu-toggle="onToggleMenu">
                    </sw-text-editor-toolbar-button>
                </div>
            {% endblock %}

            {% block sw_text_editor_toolbar_slot %}
                <slot name="itemsSlot"></slot>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
