@import "~less/variables";

@color-quickinfo-collapse-divider:   @color-steam-cloud;
@color-quickinfo-header:             @color-gutenberg;


.sw-collapse {
    .sw-media-collapse__header {
        display: grid;
        grid-template-columns: auto 24px;
        cursor: pointer;
        padding: 0px 25px 16px 25px;
        color: @color-quickinfo-header;
        border-bottom: 1px solid @color-quickinfo-collapse-divider;
    }

    .sw-media-collapse__button {
        &.is--hidden {
            display: none;
        }
    }
}