{% block sw_sales_channel_google_terms_verification %}
    <div class="sw-sales-channel-google-terms-verification">
        {% block sw_sales_channel_google_terms_verification_top %}
            <div class="sw-sales-channel-google-terms-verification__top">

                {% block sw_sales_channel_google_terms %}
                    <strong>{{ $tc('sw-sales-channel.modalGooglePrograms.step-5.titleTerms') }}</strong>
                    <p class="sw-sales-channel-google-terms-verification__description">
                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.titleTermsDescription') }}
                        <sw-sales-channel-detail-protect-link
                            :href="$tc('sw-sales-channel.modalGooglePrograms.step-5.textMerchantTermsUrl')">
                            {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textMerchantTerms') }}
                        </sw-sales-channel-detail-protect-link>,

                        <sw-sales-channel-detail-protect-link
                            :href="$tc('sw-sales-channel.modalGooglePrograms.step-5.textShoppingAdsPolicyUrl')">
                            {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textShoppingAdsPolicy') }}
                        </sw-sales-channel-detail-protect-link>

                        {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textAnd') }}

                        <sw-sales-channel-detail-protect-link
                            :href="$tc('sw-sales-channel.modalGooglePrograms.step-5.textGoogleAdsTermsUrl')">
                            {{ $tc('sw-sales-channel.modalGooglePrograms.step-5.textGoogleAdsTerms') }}
                        </sw-sales-channel-detail-protect-link>
                    </p>
                {% endblock %}

                {% block sw_sales_channel_google_terms_agree_checkbox %}
                    <div class="sw-sales-channel-google-terms-verification__agree-checkbox">
                        <sw-checkbox-field
                            :label="$tc('sw-sales-channel.modalGooglePrograms.step-5.labelAcceptTerms')"
                            v-model="isAgree">
                        </sw-checkbox-field>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}
    </div>
{% endblock %}
