<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_vimeo_video_preview %}
<div class="sw-cms-preview-vimeo-video">
    <img
        class="sw-cms-preview-vimeo-video__img"
        :src="assetFilter('/administration/static/img/cms/preview_vimeo.jpg')"
        alt=""
    >
    <img
        class="sw-cms-preview-vimeo-video__icon"
        :src="assetFilter('/administration/static/img/cms/vimeo-icon.png')"
        alt=""
    >
</div>
{% endblock %}
