{% block sw_cms_block_vimeo_video_preview %}
<div class="sw-cms-preview-vimeo-video">
    <img
        class="sw-cms-preview-vimeo-video__img"
        :src="'/administration/static/img/cms/preview_vimeo.jpg' | asset"
    >
    <img
        class="sw-cms-preview-vimeo-video__icon"
        :src="'/administration/static/img/cms/vimeo-icon.png' | asset"
    >
</div>
{% endblock %}
