@import "~scss/variables";

.sw-navigation-tree.sw-tree {
    background: $color-white;
    height: 100%;
    border: none;

    .sw-tree__content {
        padding: 24px 16px;
        max-height: unset;
        min-height: unset;
        height: calc(100% - 64px);
    }

    .tree-link {
        cursor: pointer;
        color: inherit;
        text-decoration: inherit;
    }
}
