<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=MOD_REWRITE:1]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

DirectoryIndex index.php
