{% block sw_promotion_detail_restrictions %}
    <div class="sw-promotion-detail-restrictions">
        {% block sw_promotion_detail_restrictions_persona_rule_card %}
            <sw-card :title="$tc('sw-promotion.detail.main.preconditions.persona.card')" :isLoading="promotion.isLoading">
                {% block sw_promotion_detail_restrictions_persona_rule_form %}
                    <sw-promotion-persona-form :promotion="promotion"></sw-promotion-persona-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_promotion_detail_restrictions_scope_rule_card %}
            <sw-card :title="$tc('sw-promotion.detail.main.preconditions.cardTitleScopeRules')" :isLoading="promotion.isLoading">
                    {% block sw_promotion_detail_restrictions_scope_rule_form %}
                    <sw-promotion-scope-form :promotion="promotion"></sw-promotion-scope-form>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_promotion_detail_restrictions_discount_rule_card %}
            <sw-card :title="$tc('sw-promotion.detail.main.preconditions.order.card')" :isLoading="promotion.isLoading">
                    {% block sw_promotion_detail_restrictions_discount_rule_form %}
                    <sw-promotion-order-condition-form :promotion="promotion"></sw-promotion-order-condition-form>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
