<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_product_listing_preview %}
<div class="sw-cms-preview-product-listing">
    <div class="sw-cms-preview-product-listing__filter-panel">
        <div class="sw-cms-preview-product-listing__filter"></div>
        <div class="sw-cms-preview-product-listing__filter"></div>
        <div class="sw-cms-preview-product-listing__filter"></div>
        <div class="sw-cms-preview-product-listing__filter"></div>
    </div>
    <sw-cms-product-box-preview has-text />
    <sw-cms-product-box-preview has-text />
</div>
{% endblock %}
