<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_gallery %}
<div class="sw-cms-block-image-gallery">
    <slot name="imageGallery"></slot>
</div>
{% endblock %}
