{% block sw_condition_value_content %}
    <div class="sw-condition-line-item-creation-date">
        {% block sw_condition_line_item_creation_date %}
            <sw-arrow-field primary="#F9FAFB">
                <sw-datepicker
                    size="medium"
                    dateType="date"
                    required
                    :config="datepickerConfig"
                    v-model="lineItemCreationDate">
                </sw-datepicker>
            </sw-arrow-field>
        {% endblock %}
    </div>
{% endblock %}
