{% block sw_product_visibility_detail %}
    <sw-grid table slot="grid" :items="items" :selectable="false">
        {% block sw_product_visibility_detail_columns %}
            <template slot="columns" slot-scope="{ item }">
                {% block sw_product_visibility_detail_columns_sales_channel %}
                    <sw-grid-column flex="minmax(100px, 2fr)">
                        {% block sw_product_visibility_detail_columns_sales_channel_label %}
                            <span v-if="item.salesChannelInternal" class="sw-select__selection-item">
                                {{ item.salesChannelInternal.translated.name }}
                            </span>
                            <span v-else>
                                {{ item.salesChannel.translated.name }}
                            </span>
                        {% endblock %}
                    </sw-grid-column>
                {% endblock %}

                {% block sw_product_visibility_detail_columns_link_only %}
                    <sw-grid-column flex="1fr" :label="$tc('sw-product.visibility.columnLinkOnly')" align="center">
                        <sw-field type="radio" :disabled="disabled" :value="item.visibility" @change="changeVisibilityValue($event, item)" :name="'visibility' + item.id" :options="[{ value: 10 }]"></sw-field>
                    </sw-grid-column>
                {% endblock %}

                {% block sw_product_visibility_detail_columns_search_only %}
                    <sw-grid-column flex="1fr" :label="$tc('sw-product.visibility.columnSearchOnly')" align="center">
                        <sw-field type="radio" :disabled="disabled" :value="item.visibility" @change="changeVisibilityValue($event, item)" :name="'visibility' + item.id" :options="[{ value: 20 }]"></sw-field>
                    </sw-grid-column>
                {% endblock %}

                {% block sw_product_visibility_detail_columns_all %}
                    <sw-grid-column flex="1fr" :label="$tc('sw-product.visibility.columnAll')" align="center">
                        <sw-field type="radio" :disabled="disabled" :value="item.visibility" @change="changeVisibilityValue($event, item)" :name="'visibility' + item.id" :options="[{ value: 30 }]"></sw-field>
                    </sw-grid-column>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_product_visibility_detail_pagination %}
            <template slot="pagination">
                <sw-pagination :page="page" :limit="limit" :total="total" :total-visible="10" @page-change="onPageChange" :steps="[10]"></sw-pagination>
            </template>
        {% endblock %}
    </sw-grid>
{% endblock %}
