.sw-model-editor {
    width: 100%;
    height: 100%;
}

.sw-model-editor-content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sw-model-editor-canvas-wrapper {
    position: relative;
    display: block;
    width: 100%;
}
