{% block sw_customer_detail_content_tabs %}{% endblock %}

{% block sw_customer_detail_header %}
    <template slot="smart-bar-header">
        <h2>{{ customer | salutation($tc('sw-customer.general.newCustomer')) }}</h2>
    </template>
{% endblock %}
