<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bulk_edit_save_modal_success %}
<div class="sw-bulk-edit-save-modal-success">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_save_modal_success_icon %}
    <sw-label
        class="sw-bulk-edit-save-modal__icon"
        appearance="pill"
        variant="success"
    >
        <sw-icon
            name="regular-check-circle"
            size="30px"
        />
    </sw-label>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_save_modal_error_content %}
    <p
        class="sw-bulk-edit-save-modal__help-text"
        v-html="description"
    >
    </p>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_save_modal_success_download_document %}
    <ul
        v-if="selectedDocumentTypes.length > 0"
        class="sw-bulk-edit-save-modal-success__download-document-container"
    >
        <li
            v-for="selectedDocumentType in selectedDocumentTypes"
            :key="selectedDocumentType.id"
            class="sw-bulk-edit-save-modal-success__download-document"
            :class="`is--${selectedDocumentType.technicalName}`"
        >
            <span class="label">
                {{ selectedDocumentType.translated.name }}
            </span>
            <sw-button
                class="action"
                size="small"
                :disabled="document[selectedDocumentType.technicalName].isDownloading"
                @click="downloadDocument(selectedDocumentType.technicalName)"
            >
                {{ $tc('sw-bulk-edit.modal.success.buttonDownload') }}
            </sw-button>
        </li>
    </ul>
    {% endblock %}
</div>
{% endblock %}
