<!-- eslint-disable vuejs-accessibility/click-events-have-key-events -->
{% block sw_bulk_edit_save_modal_success %}
<div class="sw-bulk-edit-save-modal-success">
    {% block sw_bulk_edit_save_modal_success_icon %}
    <sw-label
        class="sw-bulk-edit-save-modal__icon"
        appearance="pill"
        variant="success"
    >
        <sw-icon
            name="regular-check-circle"
            size="30px"
        />
    </sw-label>
    {% endblock %}

    {% block sw_bulk_edit_save_modal_error_content %}
    <p class="sw-bulk-edit-save-modal__help-text">
        {{ $tc('sw-bulk-edit.modal.success.description') }}
    </p>
    {% endblock %}

    {% block sw_bulk_edit_save_modal_success_download_order_documents %}
    <p
        v-if="canDownloadOrderDocuments"
        :class="{
            'sw-bulk-edit-save-modal-success__download-order-documents': true,
            'is--disabled': isDownloadingOrderDocument === true
        }"
        @click="onDownloadOrderDocuments"
    >
        {{ $tc('sw-bulk-edit.modal.success.downloadDocuments') }}
    </p>
    {% endblock %}
</div>
{% endblock %}
