{% block sw_product_category_form %}
    <div class="sw-product-category-form">

        {% block sw_product_category_form_category_field %}
            <sw-select id="categories"
                       multi
                       class="sw-product-detail__select-category"
                       ref="multiSelectCategories"
                       :label="$tc('sw-product.categoryForm.labelCategory')"
                       :placeholder="$tc('sw-product.categoryForm.placeholderCategory')"
                       :associationStore="categoryAssociationStore"
                       :store="categoryStore"
                       v-model="product.categories">
            </sw-select>
        {% endblock %}
    </div>
{% endblock %}
