.sw-import-export-edit-profile-modal {
    .sw-import-export-edit-profile-modal-mapping,
    .sw-import-export-edit-profile-modal-identifiers {
        margin-left: -30px;
        margin-right: -30px;
    }

    &__text {
        font-size: var(--font-size-xs);
        color: var(--color-text-primary-default);
        font-weight: var(--font-weight-regular);
        margin: 0 0 var(--scale-size-24);
    }
}

.sw-import-export-edit-profile-modal__violation-modal {
    &:has(.sw-import-export-edit-profile-modal__violation-modal-missing-required-field):has(.sw-import-export-edit-profile-modal__violation-modal-duplicate-mapping) {
        .sw-import-export-edit-profile-modal__violation-modal-duplicate-mapping {
            margin-top: var(--scale-size-26);
        }
    }

    ul {
        margin-left: var(--scale-size-18);
        margin-top: var(--scale-size-10);
        list-style-type: disc;
    }
}
