{% extends '@Storefront/page/checkout/items/product.html.twig' %}

{% block page_checkout_item_product_info_image_link %}
	<div class="cart-item-promotion-icon">
		<i class="fas fa-percentage fa-2x"></i>
	</div>
{% endblock %}

{% block page_checkout_item_product_info_details_inner %}
	<div class="cart-item-details-container">
		{% block page_checkout_item_product_info_label %}
			<div class="cart-item-label">
				{{ lineItem.label|truncate(60) }}
			</div>
		{% endblock %}
	</div>
{% endblock %}

{% block page_checkout_item_product_quantity_form %}{% endblock %}

{% block page_checkout_item_product_unit_price_wrapper %}{% endblock %}

{% block page_checkout_item_product_remove_form %}{% endblock %}
