<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_existence_filter %}
<div class="sw-existence-filter">
    <sw-base-filter
        :title="filter.label"
        :show-reset-button="!!value"
        :active="active"
        @filter-reset="resetFilter"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_existence_filter_content %}
        <sw-select-field
            :value="value"
            :placeholder="filter.placeholder"
            @update:value="changeValue"
        >
            <option :value="true">
                {{ filter.optionHasCriteria }}
            </option>
            <option :value="false">
                {{ filter.optionNoCriteria }}
            </option>
        </sw-select-field>
        {% endblock %}
    </sw-base-filter>
</div>
{% endblock %}
