{% block list %}
    <sw-workspace>

        <header class="toolbar--middle-section" slot="header">
            {% block core_product_list_headline %}
                <h1 class="workspace--headline">Produktübersicht</h1>
            {% endblock %}

            <div class="toolbar--primary-actions">
                <router-link :to="{ name: 'sw.product.create' }">
                    <sw-button :isPrimary="true">Neues Produkt anlegen</sw-button>
                </router-link>
            </div>
        </header>

        <div class="sw-product--list">
            {% block core_product_list_grid %}
                <sw-grid :items="products"
                         :pagination="true"
                         :sortBy="sortBy"
                         :sortDirection="sortDirection"
                         :sidebar="true"
                         @edit="onEdit"
                         @sort-column="onSortColumn">
                    {% block core_product_list_grid_slots %}
                        <template slot="columns" slot-scope="{ item }">
                            {% block core_product_list_grid_columns %}
                                {% block core_product_list_grid_columns_name %}
                                    <sw-grid-column flex="1" label="Name" sortable dataIndex="name">{{ item.name }}</sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_manufacturer %}
                                    <sw-grid-column flex="1" label="Hersteller" sortable dataIndex="manufacturer.name">{{ item.manufacturer.name }}</sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_active %}
                                    <sw-grid-column flex="75px" label="Aktiv" sortable dataIndex="active" align="center">
                                        <sw-icon name="small-default-checkmark-line-medium" small v-if="item.active" class="is--active" />
                                        <sw-icon name="small-default-x-line-medium" small v-else class="is--inactive" />
                                    </sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_price %}
                                    <sw-grid-column flex="100px" label="Preis" sortable dataIndex="price" align="right">{{ item.price.gross | currency }}</sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_stock %}
                                    <sw-grid-column flex="135px" label="Lager" sortable dataIndex="stock" align="right">
                                        {{ item.stock }}
                                        <sw-color-swatch :variant="item.stock | stockColorVariant"></sw-color-swatch>
                                    </sw-grid-column>
                                {% endblock %}
                            {% endblock %}
                        </template>

                        <template slot="pagination">
                            {% block core_product_list_grid_pagination %}
                                <sw-pagination :page="page" :max-page="maxPage" :limit="limit" :total="total" v-on:page-change="pageChange"></sw-pagination>
                            {% endblock %}
                        </template>

                        {% block core_product_list_grid_sidebar %}
                            <sw-sidebar slot="sidebar">
                                <sw-sidebar-item icon="default-action-search" title="Search">
                                    <sw-field type="text" placeholder="Enter search term..." :value="term" @change="onSearch"></sw-field>

                                    <sw-alert variant="warning" :showIcon="false">
                                        This is a <strong>demo</strong>. The search will be placed in the header later on.
                                    </sw-alert>
                                </sw-sidebar-item>

                                <sw-sidebar-item icon="default-action-filter" title="Filter">
                                    <sw-field type="switch" v-for="(filter, index) in filters" :label="filter.label" :value="filter.active" :key="index" @change="onSwitchFilter(filter.criteria, index)"></sw-field>

                                    <sw-alert variant="warning" :showIcon="false">
                                        <strong>Demo</strong> filters which will be replaced with more meaningful filters in the future.
                                    </sw-alert>
                                </sw-sidebar-item>

                                <sw-sidebar-item icon="default-arrow-360-left" @click="onRefresh"></sw-sidebar-item>
                            </sw-sidebar>
                        {% endblock %}
                    {% endblock %}
                </sw-grid>
            {% endblock %}

            {% block core_product_list_grid_loader %}
                <sw-loader v-if="isLoading"></sw-loader>
            {% endblock %}
        </div>
    </sw-workspace>
{% endblock %}
