{% block list %}
    <sw-workspace>

        <header class="toolbar--middle-section" slot="header">
            {% block core_product_list_headline %}
                <h1 class="workspace--headline">Produktübersicht</h1>
            {% endblock %}

            <div class="toolbar--primary-actions">
                <router-link :to="{ name: 'sw.product.create' }">
                    <sw-button :isPrimary="true">Neues Produkt anlegen</sw-button>
                </router-link>
            </div>
        </header>

        <div class="sw-product--list">
            {% block core_product_list_grid %}
                <sw-grid :items="products" :pagination="true" v-on:edit="onEdit">
                    {% block core_product_list_grid_slots %}

                        <template slot="columns" slot-scope="{ item }">
                            {% block core_product_list_grid_columns %}
                                {% block core_product_list_grid_columns_id %}
                                    <sw-grid-column flex="50px" label="#"></sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_name %}
                                    <sw-grid-column flex="1" label="Name">{{ item.name }}</sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_manufacturer %}
                                    <sw-grid-column flex="1" label="Manufacturer">{{ item.manufacturer.name }}</sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_active %}
                                    <sw-grid-column flex="100px" label="Active">
                                        <sw-icon name="small-default-checkmark-line-medium" small v-if="item.active" />
                                        <sw-icon name="small-default-x-line-medium" small v-else />
                                    </sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_price %}
                                    <sw-grid-column flex="100px" label="Price">{{ item.price | currency }}</sw-grid-column>
                                {% endblock %}

                                {% block core_product_list_grid_columns_stock %}
                                    <sw-grid-column flex="200px" label="Stock">{{ item.stock }} in stock</sw-grid-column>
                                {% endblock %}
                            {% endblock %}
                        </template>

                        <template slot="pagination">
                            {% block core_product_list_grid_pagination %}
                                <sw-pagination :page="page" :max-page="maxPage" :limit="limit" :total="total" v-on:page-change="pageChange"></sw-pagination>
                            {% endblock %}
                        </template>
                    {% endblock %}
                </sw-grid>
            {% endblock %}

            <sw-loader v-if="isLoading"></sw-loader>
        </div>
    </sw-workspace>
{% endblock %}