@import "~scss/variables";

.sw-import-export-exporter {
    .sw-import-export-exporter__link {
        text-decoration: underline;
        color: $color-darkgray-200;

        &:hover {
            color: $color-shopware-brand-500;
        }
    }
}
