{% block frontend_widgets_delivery_infos %}
    <div class="product--delivery">
        {# @var product \Shopware\StorefrontApi\Product\ProductBasicStruct#}
        {% if product.shippingFree %}
            <p class="delivery--information">
                <span class="delivery--text delivery--text-shipping-free">
                    <i class="delivery--status-icon delivery--status-shipping-free"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataInfoShippingfree{% endtrans %}
                </span>
            </p>
        {% endif %}

        {% if not product.released %}
            <link itemprop="availability" href="http://schema.org/PreOrder" />
            <p class="delivery--information">
                <span class="delivery--text delivery--text-more-is-coming">
                    <i class="delivery--status-icon delivery--status-more-is-coming"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataInfoShipping{% endtrans %} {{ product.releaseDate|date('m/d/Y') }}
                </span>
            </p>
        {% elseif product.esd %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            <p class="delivery--information">
                <span class="delivery--text delivery--text-available">
                    <i class="delivery--status-icon delivery--status-available"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataInfoInstantDownload{% endtrans %}
                </span>
            </p>
        {% elseif shopware.config.instockinfo and product.stock > product.minPurchase and product.isCloseout %}
            <link itemprop="availability" href="http://schema.org/LimitedAvailability" />
            <p class="delivery--information">
                <span class="delivery--text delivery--text-more-is-coming">
                    <i class="delivery--status-icon delivery--status-more-is-coming"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataInfoPartialStock{% endtrans %}
                </span>
            </p>
        {% elseif product.stock >= product.minPurchase %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            <p class="delivery--information">
                <span class="delivery--text delivery--text-available">
                    <i class="delivery--status-icon delivery--status-available"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataInfoInstock{% endtrans %}
                </span>
            </p>
        {% elseif product.deliveryTime %}
            <link itemprop="availability" href="http://schema.org/LimitedAvailability" />
            <p class="delivery--information">
                <span class="delivery--text delivery--text-more-is-coming">
                    <i class="delivery--status-icon delivery--status-more-is-coming"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataShippingtime{% endtrans %}
                    {{ product.deliveryTime|date('m/d/Y') }}
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataShippingDays{% endtrans %}
                </span>
            </p>
        {% else %}
            <link itemprop="availability" href="http://schema.org/LimitedAvailability" />
            <p class="delivery--information">
                <span class="delivery--text delivery--text-not-available">
                    <i class="delivery--status-icon delivery--status-not-available"></i>
                    {% trans from 'frontend/plugins/index/delivery_informations' %}DetailDataNotAvailable{% endtrans %}
                    {{ shopware.config.notavailable }}
                </span>
            </p>
        {% endif %}
    </div>
{% endblock %}
