{% block sw_cms_block_center_text_preview %}
<div class="sw-cms-preview-center-text">
    <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
    <div class="sw-cms-preview-center-text__text">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
    </div>
    <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
</div>
{% endblock %}
