<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_center_text_preview %}
<div class="sw-cms-preview-center-text">
    <img
        :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
        alt=""
    >
    <div class="sw-cms-preview-center-text__text">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
    </div>
    <img
        :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
        alt=""
    >
</div>
{% endblock %}
