.sw-cms-preview-center-text {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 15px;

    .sw-cms-preview-center-text__text {
        padding: 15px;
        text-align: center;
        height: 124px;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
