<div class="sw-desktop">
    <sw-sidebar class="main-sidebar"></sw-sidebar>

    <div class="desktop">
        <sw-search-bar id="main-toolbar"></sw-search-bar>

        <div class="workspace-container">
            <router-view></router-view>
        </div>
    </div>
</div>