<div class="sw-desktop">
    <sw-sidebar class="main-sidebar"></sw-sidebar>

    <div class="desktop">
        <sw-search-bar id="main-toolbar"></sw-search-bar>
        <router-view></router-view>
    </div>
</div>