.sw-users-permissions-additional-permissions {
    h4 {
        margin: 12px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .sw-users-permissions-additional-permissions__switches {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 12px;
    }

    .mt-switch {
        margin-top: 0;
        margin-bottom: 0;
    }
}
