@import '~scss/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    color: $color-deep-cove;
    background: $color-iron;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
    height: 100%;
    overflow: hidden;

    &#{$dark-theme-class} {
        background: $color-darkgray-700;
        color: lighten($color-deep-cove, $dark-theme-contrast-factor);
    }
}

.sw-drag-select-box {
    position: absolute;
    background: $color-drag-select-box;
    z-index: $z-index-drag-select-box;

    #{$dark-theme-class} & {
        background: darken($color-drag-select-box, $dark-theme-contrast-factor);
    }
}

.link {
    display: inline-block;
    color: $color-shopware-blue;

    #{$dark-theme-class} & {
        color: lighten($color-shopware-blue, $dark-theme-contrast-factor);
    }
}
