@import "~scss/variables";

.sw-help-text {
    width: 16px;
    height: 16px;
    background-color: $color-shopware-brand-500;
    color: $color-white;
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    #{$dark-theme-class} & {
        background-color: darken($color-shopware-brand-500, $dark-theme-contrast-factor);
        color: lighten($color-white, $dark-theme-contrast-factor);
    }

    .sw-icon {
        width: 14px;
        height: 14px;
    }
}
