@import "~scss/variables";

$sw-order-state-card-neutral: $color-gutenberg;
$sw-order-state-card-progress: $color-shopware-blue;
$sw-order-state-card-danger: $color-pumpkin-spice;
$sw-order-state-card-success: $color-emerald;

.sw-order-state-card-entry {

  .sw-order-state-card__history-entry{
    display:block;

    .sw-order-state-card__date{
      float: right;
      line-height: 32px;
      font-size: 12px;
    }

    .sw-order-state-card__neutral-label{
      background: lighten($sw-order-state-card-neutral,40%);
    }

    .sw-order-state-card__progress-label{
      background: lighten($sw-order-state-card-progress,40%);
    }

    .sw-order-state-card__danger-label{
      background: lighten($sw-order-state-card-danger,40%);
    }

    .sw-order-state-card__success-label{
      background: lighten($sw-order-state-card-success,40%);
    }

    .sw-order-state-card__neutral-icon{
      color: $sw-order-state-card-neutral;
    }

    .sw-order-state-card__progress-icon{
      color: $sw-order-state-card-progress;
    }

    .sw-order-state-card__danger-icon{
      color: $sw-order-state-card-danger;
    }

    .sw-order-state-card__success-icon{
      color: $sw-order-state-card-success;
    }
  }

}

