/*
Cookie permission
==============================================
Shows a cookie permission alert at the bottom of the page.
*/

.cookie-permission-container {
    display: none;
    border-top: 1px solid $border-color;
    background: $white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: $spacer-sm;
    font-size: $font-size-sm;
    z-index: $cookie-msg-zindex;
}

.cookie-permission-content {
    margin-bottom: $spacer-sm;

    a {
        display: inline-block;
    }
}

.cookie-permission-actions {
    gap: 0.5rem;
}

@include media-breakpoint-up(md) {
    .cookie-permission-content {
        text-align: left;
        margin-bottom: 0;
    }
}
