/*
Main navigation
==============================================
Custom styling for main navigation on larger screens.

Based on bootstrap nav:
https://getbootstrap.com/docs/5.2/components/navs-tabs

@deprecated tag:v6.7.0 - Remove this file without replacement.
*/

.main-navigation {
    display: none;
}

@include media-breakpoint-up(lg) {
    .main-navigation {
        display: inherit;
    }
}
