/*
Offcanvas cart
==============================================
Extends the basic offcanvas component with additional cart styles.
*/

.offcanvas-cart {
    .alert {
        margin-top: $spacer;
    }
}

.offcanvas-cart-items,
.offcanvas-summary {
    margin: $spacer 0;
}

.offcanvas-cart-items {
    border-bottom: 1px solid $border-color;
}

.offcanvas-summary-list {
    margin-bottom: 0;
}

.offcanvas-cart-promotion-form {
    margin-bottom: $spacer;
}

.offcanvas-summary {
    .js-toggle-shipping-selection {
        --#{$prefix}btn-font-weight: var(--#{$prefix}body-font-weight);
        --#{$prefix}btn-padding-y: 0;
        --#{$prefix}btn-padding-x: 0;
        --#{$prefix}btn-font-size: 90%;
        --#{$prefix}btn-color: var(--#{$prefix}body-color);
        --#{$prefix}btn-line-height: inherit;
        text-decoration: underline;
    }

    .offcanvas-shipping-preference {
        transition: max-height 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
        max-height: 100px;
        height: auto;
        visibility: visible;
        opacity: 1;

        &--hidden {
            max-height: 0;
            visibility: hidden;
            opacity: 0;
            margin: 0 !important;
        }
    }

    .summary-value,
    .shipping-value {
        text-align: right;
    }
}
