.sw-order-state-change-modal-attach-documents {
    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .sw-order-state-change-modal-attach-documents__button {
        margin-left: 10px;
    }
}

.sw-order-state-change-modal-attach-document {
    .sw-order-state-change-modal-attach-documents__switch {
        margin: 0 10px 0 0;
    }

    .sw-order-state-change-modal-attach-documents__button {
        height: 32px;
        margin-top: 8px;
    }
}
