<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_state_change_modal_attach_documents %}
<div class="sw-order-state-change-modal-attach-document">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_state_change_modal_attach_documents_documents_grid %}
    <sw-order-document-card
        ref="attachDocuments"
        class="sw-order-detail-base__documents-grid"
        :order="order"
        :is-loading="isLoading"
        attach-view
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_state_change_modal_attach_documents_button_wrapper %}
    <div class="sw-order-state-change-modal-attach-documents__button-wrapper">
        <div>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_state_change_modal_attach_documents_send_mail_switch %}
            <sw-field
                v-model="sendMail"
                class="sw-order-state-change-modal-attach-documents__switch"
                type="switch"
                :label="$tc('sw-order.stateCard.labelSendMailSwitch')"
            />
            {% endblock %}
        </div>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_state_change_modal_attach_documents_button %}
        <sw-button
            class="sw-order-state-change-modal-attach-documents__button"
            variant="primary"
            size="small"
            @click="onConfirm"
        >
            {{ $tc('sw-order.stateCard.labelSelectStateButton') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
