{# Sorting filter which will be included in the "listing/listing_actions.tpl" #}

{% set hideSortings = sCategoryContent.hide_sortings or sortings|length == 0 %}
{% set hideSortings = false %}

<form class="action--sort action--content block{% if hideSortings %} is--hidden{% endif %}" method="get" data-action-form="true">

    {# Necessary to reset the page to the first one #}
    <input type="hidden" name="p" value="1">

    {# Sorting label #}
    {% block frontend_listing_actions_sort_label %}
        <label class="sort--label action--label">{% trans from 'frontend/listing/listing_actions' %}ListingLabelSort{% endtrans %}</label>
    {% endblock %}

    {# Sorting field #}
    {% block frontend_listing_actions_sort_field %}
        {% set listingMode = shopware.config.listingMode %}
        {% set listingMode = 'full_page_reload' %}

        <div class="sort--select select-field">
            <select name="o"
                    class="sort--field action--field"
                    data-auto-submit="true"
                    {% if listingMode != 'full_page_reload' %}data-loadingindicator="false"{% endif %}>


                {# @var listing \Shopware\Storefront\Page\Listing\ListingPageStruct #}
                {% for sorting in listing.sortings %}
                    {# @var sorting \Shopware\Api\Listing\Struct\ListingSortingBasicStruct #}
                    {% block frontend_listing_actions_sort_field_release %}
                        <option value="{{ sorting.uniqueKey }}"{% if listing.currentSorting == sorting.uniqueKey %} selected="selected"{% endif %}>{{ sorting.label }}</option>
                    {% endblock %}
                {% endfor %}

                {% block frontend_listing_actions_sort_values %}{% endblock %}
            </select>
        </div>
    {% endblock %}
</form>
