.sw-custom-field-translated-labels {
    .sw-tabs .sw-tabs__bar {
        margin: 0 0 24px;
        max-width: none;
    }

    .sw-tabs-item.sw-tabs-item__minimal {
        line-height: 44px;
    }
}
