<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_import_export_view_import %}
<div class="sw-import-export-view-import">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_import_export_view_import_importer %}
    <sw-card
        :title="$tc('sw-import-export.importer.importLabel')"
        position-identifier="sw-import-export-view-import"
    >
        <sw-import-export-importer
            @import-started="reloadContent"
        />
    </sw-card>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_import_export_view_import_activity %}
    <sw-card
        class="sw-import-export-view-import__activity"
        position-identifier="sw-import-export-view-import-log-activity"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_view_import_activity_title %}
        <template #title>
            <div class="sw-card__title">
                {{ $tc('sw-import-export.importer.importActivityLabel') }}
                <p class="sw-import-export__card-subtitle">
                    {{ $tc('sw-import-export.exporter.exportActivityDescription') }}
                </p>
            </div>
        </template>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_view_import_activity_grid %}
        <template #grid>
            <sw-import-export-activity
                ref="activityGrid"
                type="import"
            />
        </template>
        {% endblock %}
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
