@import "~scss/variables";

.sw-tree {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid #dcdde2;

    .sw-tree__search {
        display: grid;
        grid-template-columns: 20px 1fr;
        padding: 10px 20px;
        align-items: center;
        border-bottom: 1px solid #dcdde2;

        .sw-icon {
            color: lighten($color-gutenberg, 25);;
        }

        .sw-field  {
            margin-bottom: 0;

            input {
                border: 0 none;
                box-shadow: none;
            }
        }
    }

    .sw-tree-actions__headline {
        display: grid;
        color: $color-kashmir;
        font-size: 18px;
        padding: 21px 40px;
        grid-template-columns: 1fr auto;
        align-items: center;
        line-height: 32px;
        border-bottom: 1px solid $color-steam-cloud;

        .sw-tree__batch-delete {
            color: $color-crimson;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .sw-tree__actions {
        padding: 20px 20px 20px 20px;

        .sw-field {
            margin-bottom: 0;
        }
    }

    .sw-tree__content {
        min-height: 400px;
        max-height: 600px;
        padding: 20px;
        position: relative;
        overflow: auto;
    }
}
