.component-library {
    .component-library-header {
        padding: 1rem;
        background: #142432;
        color: #fff;

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0;
            color: #fff;
        }
    }

    .component-library-content {
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 360px 1fr;
        align-content: stretch;
        gap: 2rem;
        position: relative;
    }

    .component-library-navigation {
        padding: 1rem 1rem 1rem 0;
        background-color: rgb(224,230,235);
        position: sticky;
        top: 0;

        a {
            color: rgb(82,102,122);
            text-decoration: none;
            font-weight: 500;

            &:hover {
                color: #3b8eed;
            }
        }
    }

    .component-library-components {
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem;
    }
}