{% block sw_popover %}
    <div class="sw-popover">
        <div class="sw-popover__wrapper"
             :class="popoverClass"
             :style="componentStyle"
             v-popover="{ active: true }">
            <slot></slot>
        </div>
    </div>
{% endblock %}
