<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_media_library %}
<div class="sw-media-library">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_library_display_options %}
    <div class="sw-media-library__options-container">
        <sw-media-display-options
            class="sw-media-library__display-options"
            :presentation="presentation"
            :sorting="sorting"
            :hide-presentation="compact"
            @media-presentation-change="presentation = $event"
            @media-sorting-change="sorting = $event"
        />

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_media_index_create_folder %}
        <sw-button
            v-if="editable"
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('media.creator'),
                showOnDisabledElements: true
            }"
            :disabled="!acl.can('media.creator')"
            class="sw-media-index__create-folder-action"
            variant="ghost"
            size="small"
            @click="createFolder"
        >
            {{ $tc('sw-media.index.buttonCreateFolder') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_library_scroll_container %}
    <div
        ref="scrollContainer"
        class="sw-media-library__scroll-container"
    >
        <div class="sw-media-library__scroll-content">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_media_library_media_grid %}
            <sw-media-grid
                ref="mediaGrid"
                class="sw-media-library_media-grid"
                :presentation="gridPresentation"
                @media-grid-selection-clear="clearSelection"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_library_back_to_parent_item %}
                <sw-media-folder-item
                    v-if="parentFolder && (!isLoading || selectableItems.length > 0)"
                    :allow-edit="acl.can('media.editor')"
                    :allow-delete="acl.can('media.deleter')"
                    class="sw-media-library__parent-folder"
                    :item="parentFolder"
                    :show-selection-indicator="false"
                    :show-context-menu-button="false"
                    :allow-multi-select="allowMultiSelect"
                    :is-list="showItemsAsList"
                    is-parent
                    @media-item-click="goToParentFolder"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_library_media_item_list %}
                <sw-media-entity-mapper
                    v-for="(gridItem, index) in selectableItems"
                    :key="gridItem.getEntityName() + '_' + gridItem.id"
                    :class="`sw-media-grid-item__item--${index}`"
                    :item="gridItem"
                    :allow-edit="acl.can('media.editor')"
                    :allow-delete="acl.can('media.deleter')"
                    :selected="showItemSelected(gridItem)"
                    :show-selection-indicator="isListSelect"
                    :show-context-menu-button="editable"
                    :is-list="showItemsAsList"
                    :editable="editable"
                    :allow-multi-select="allowMultiSelect"
                    @media-item-replaced="refreshList"
                    @media-item-delete="refreshList"
                    @media-folder-delete="refreshList"
                    @media-folder-remove="removeNewFolder"
                    @media-folder-dissolve="refreshList"
                    @media-folder-move="refreshList"
                    @media-folder-changed="refreshList"
                    v-on="mediaItemSelectionHandler"
                />
                {% endblock %}

                <template v-if="isLoading">
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                    <sw-skeleton variant="media" />
                </template>

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_library_load_more_button %}
                <sw-button
                    v-if="showLoadMoreButton"
                    class="sw-media-library__load-more-button"
                    @click="loadNextItems"
                >
                    {{ $tc('sw-media.mediaLibrary.labelButtonLoadMore') }}
                </sw-button>
                {% endblock %}
            </sw-media-grid>
            {% endblock %}
        </div>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_media_library_empty_state %}
    <sw-empty-state
        v-if="shouldDisplayEmptyState"
        :title="$tc('sw-empty-state.messageNoResultTitle')"
    >
        <template #icon>
            <img
                :src="'/administration/static/img/empty-states/media-empty-state.svg' | asset"
                :alt="$tc('sw-empty-state.messageNoResultSubline')"
            >
        </template>

        <template #default>
            {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
            <router-link
                class="sw-empty-state__description-link"
                :to="{ name: 'sw.profile.index.searchPreferences' }"
            >
                {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
            </router-link>
            {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
        </template>
    </sw-empty-state>
    {% endblock %}
</div>
{% endblock %}
