@import "~scss/variables";

.product-detail-cross-selling-form {
    .sw-product-detail-cross-selling__context-button {
        float: right;
    }

    p {
        margin-bottom: 30px;
    }

    .sw-field .sw-field__help-text {
        position: relative;
        top: 40px;
        right: 65px;
    }

    .product-basic-form__switches {
        display: flex;

        .sw-field {
            margin-right: 20px;
        }
    }
}
