.sw-condition-order-custom-field {
    display: grid;
    grid-template-columns: auto auto 1fr !important;

    .sw-form-field-renderer {
        label,
        .sw-field__label {
            display: none;
        }
    }

    .sw-field--checkbox {
        margin-left: 16px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
