{% block base_header_actions_language_widget%}
	{% if  page.header.languages.elements|length > 1 %}
		<div class="top-bar-nav-item top-bar-language">
			{% block base_header_actions_language_widget_form %}
			{#TODO: NEXT-1980 - add form functionality#}
				<form method="post"
					  class="language-form">
					{% block base_header_actions_language_widget_content %}
						<div class="language-flag {{ page.header.activeLanguage.translationCode.code }}"></div>
						<div class="top-bar-select">
							{% block base_header_actions_language_widget_form_select %}
								<select name="__shop"
										class="top-bar-select-field form-control-sm">
										{% for language in  page.header.languages.elements %}
											<option value="{{ language.id }}"
													{% if language.id is same as(page.header.activeLanguage.id) %}selected="selected"{% endif %}>
												{{ language.name }}
											</option>
										{% endfor %}
								</select>
							{% endblock %}

							{% block base_header_actions_language_widget_form_select_icon %}
								<i class="select-arrow-down fas fa-chevron-down"></i>
							{% endblock %}
						</div>
					{% endblock %}
				</form>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
