{% block sw_tag_multi_select %}
    <div class="sw-tag-multi-select"
         :class="classes"
         tabindex="0"
         ref="swEntityTagSelect"
         @click="onFocus"
         @keyup.esc="onBlurField"
         @keyup.enter.prevent="onKeyEnter"
         @keydown.up.prevent="onNavigateUp"
         @keydown.down.prevent="onNavigateDown">

        {% block sw_tag_multi_select_label %}
            <label v-if="label" for="entiy_tag_select" class="sw-tag-multi-select__label">
                {{ $tc('global.sw-tag-field.title') }}
            </label>
        {% endblock %}

        {% block sw_tag_multi_select_container %}
            <div class="sw-tag-multi-select__inner">
                {% block sw_tag_multi_select_selected_list %}
                    <ul class="sw-tag-multi-select__selections">
                        {% block sw_tag_multi_select_selected_list_items %}
                            <li class="sw-tag-multi-select__selection-item-holder"
                                v-for="tag in selectedTags"
                                :key="tag.id"
                                :data-id="tag.id">

                                {% block sw_tag_multi_select_selected_list_items_label %}
                                    <sw-label dismissAble @dismiss="deleteSelectedTag(tag)">
                                        <template>
                                            {% block sw_tag_multi_select_selected_list_items_label_content %}
                                                <span class="sw-tag-multi-select__selection-item">
                                                    <slot name="labelProperty" :item="tag">
                                                        {{ tag.name }}
                                                    </slot>
                                                </span>
                                            {% endblock %}
                                        </template>

                                        {% block sw_tag_multi_select_selected_list_items_remove %}
                                            <template slot="dismiss-icon">
                                                <sw-icon name="small-default-x-line-medium"></sw-icon>
                                            </template>
                                        {% endblock %}
                                    </sw-label>
                                {% endblock %}
                            </li>
                        {% endblock %}

                        {% block sw_tag_multi_select_selected_list_load_more %}
                            <li class="sw-tag-multi-select__load-more-list-item is--clickAble">
                                {% block sw_tag_multi_select_selected_list_load_more_button %}
                                    <sw-button v-if="selectedNextStep > 0"
                                               class="sw-tag-multi-select__load-more-list-item-button"
                                               @click="loadMoreSelected">
                                        +{{ selectedNextStep }}
                                    </sw-button>
                                {% endblock %}
                            </li>
                        {% endblock %}

                        {% block sw_tag_multi_select_selected_search %}
                            <li class="sw-tag-multi-select__selection-item-input" key="listInput">
                                {% block sw_tag_multi_select_selected_search_input %}
                                    <input ref="swEntityTagSelectInput"
                                           class="sw-tag-multi-select__input"
                                           type="text"
                                           v-model="searchTerm"
                                           :placeholder="$tc('global.sw-tag-field.placeholder')"
                                           @input="onSearchTermChange"
                                           @focus="openList"
                                           @keydown.delete="onDelete">
                                {% endblock %}
                            </li>
                        {% endblock %}
                    </ul>
                {% endblock %}

                {% block sw_tag_multi_select_loading_indicator %}
                    <div class="sw-tag-multi-select__indicators">
                        <sw-loader class="sw-tag-multi-select__indicator" v-if="isLoading" size="16px"></sw-loader>
                    </div>
                {% endblock %}

                {% block sw_tag_multi_select_option_list_wrapper %}
                    <transition name="sw-tag-multi-select-fade-down">
                        {% block sw_tag_multi_select_option_list_wrapper_inner %}
                            <div @scroll="onScroll" class="sw-tag-multi-select__results" v-if="isExpanded">
                                {% block sw_tag_multi_select_option_list %}
                                    <ul class="sw-tag-multi-select__results-list">

                                        {% block sw_tag_multi_select_option_list_create_option %}
                                            <sw-multi-select-option  v-if="searchTerm && !recentlyAdded && !tagExists"
                                                               slot="sw_select_list_before"
                                                               :index="-1"
                                                               :disabled="false"
                                                               :item="{ index: -1 }"
                                                               class="sw-tag-field-add sw-select-option">
                                                {{ $tc('global.sw-tag-field.listItemAdd', 0, { term: searchTerm }) }}
                                            </sw-multi-select-option>
                                        {% endblock %}

                                        {% block sw_tag_multi_select_option_list_options_template %}
                                            <template v-for="(tag, index) in tags">
                                                <slot name="result_items"
                                                      :item="tag"
                                                      :index="index">
                                                    {% block sw_tag_multi_select_option_list_options %}
                                                        <sw-multi-select-option :ref="`swSelectOption${index}`"
                                                                                :index="index"
                                                                                :item="tag"
                                                                                :selected="selectedTagIds[tag.id]">
                                                            <slot name="labelProperty" :item="tag">
                                                                {% block sw_tag_multi_select_option_list_options_label %}
                                                                    <span v-html="tag.name" class="sw-tag-multi-select__results-list-item">
                                                                        {{ tag.name }}
                                                                    </span>
                                                                {% endblock %}
                                                            </slot>
                                                        </sw-multi-select-option>
                                                    {% endblock %}
                                                </slot>
                                            </template>
                                        {% endblock %}
                                    </ul>
                                {% endblock %}

                                {% block sw_tag_multi_select_option_list_empty_result_item %}
                                    <div v-if="tags.length <= 0 && !isLoading" class="sw-tag-multi-select__results-empty-message">
                                        <sw-icon name="default-action-search" size="20px"></sw-icon>
                                        {% block sw_tag_multi_select_option_list_empty_result_item_text %}
                                            {{ $tc('global.sw-select.messageNoResults', searchTerm, { term: searchTerm }) }}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
