{% block order_line_item_list %}

    <div class="core-order-line-item--list">
        {% block order_line_item_list_grid %}
            <sw-grid :items="lineItems" :pagination="true" :actions="[]" v-if="lineItems.length > 0">
                {% block order_line_item_list_grid_slots %}

                    <template slot="columns" slot-scope="{ item }">
                        {% block order_line_lineItem_list_grid_columns %}
                            <sw-grid-column flex="1" label="Type">{{ item.type }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Stückpreis">{{ item.unitPrice | currency(order.currency.shortName) }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Anzahl">{{ item.quantity }}</sw-grid-column>
                            <sw-grid-column flex="1" label="Gesamtpreis">{{ item.totalPrice | currency(order.currency.shortName) }}</sw-grid-column>
                        {% endblock %}
                    </template>

                    <template slot="pagination">
                        {% block order_line_item_list_grid_pagination %}
                            <sw-pagination :page="page" :max-page="maxPage" :limit="limit" :total="total" v-on:page-change="pageChange"></sw-pagination>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-grid>
        {% endblock %}

        <sw-loader v-if="isWorking"></sw-loader>
    </div>
{% endblock %}