.account-aside-header {
    background: none;
    color: $headings-color;
    font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    margin-bottom: $spacer;
}

.account-aside-item {
    --#{$prefix}list-group-item-padding-x: 0;
    --#{$prefix}list-group-action-active-color: #{if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary)};
    --#{$prefix}list-group-action-active-bg: #{$list-group-bg};
    --#{$prefix}list-group-action-hover-color: #{if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary)};
    --#{$prefix}list-group-action-hover-bg: #{$list-group-bg};
    --#{$prefix}list-group-border-width: 0;

    &.is-active {
        color: if(feature('EXPERIENCE_THEME'), var(--sw-color-primary), $primary);
        font-weight: if(feature('EXPERIENCE_THEME'), var(--sw-font-weight-bold), $font-weight-bold);
    }
}

.account-aside-footer {
    background: none;
    margin-top: 1px;
    border-top: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-border-color), $border-color);
}

.account-aside-btn {
    line-height: normal;
    padding: 3px 0;

    .icon {
        vertical-align: middle;
        margin-right: $spacer-xs;

        svg {
            top: 0;
        }
    }
}

.account-guest-abort {
    border-top: 0;
}
