.account-profile-mail-label {
    font-weight: $font-weight-bold;
}

.account-profile-change {
    font-weight: $font-weight-bold;
    // @deprecated tag:v6.7.0 - The general font size of the storefront will be optimized to 1rem base size.
    font-size: if(feature('ACCESSIBILITY_TWEAKS'), $font-size-base, $font-size-sm);
}
