.sw-import-export-new-profile-wizard-csv-page {
    &__text {
        font-size: var(--font-size-s);
        color: var(--color-text-primary-default);
        font-weight: var(--font-weight-medium);
    }
}
