<div class="core-product--sidebar">
    <h2>Sidebar content</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At blanditiis cumque doloremque ducimus eum laboriosam modi nisi, perspiciatis recusandae reiciendis? Aliquid illo iusto laboriosam, nisi porro saepe tempora! Rerum, velit?
    </p>
</div>