{% block element_sidebar_filter %}
    {% set config = element.fieldConfig.elements %}
    {% set slot = page.cmsPage.firstElementOfType('product-listing') %}

    <div class="cms-element-sidebar-filter">
        {% block element_product_slider_alignment %}
            {% sw_include '@Storefront/storefront/component/listing/filter-panel.html.twig' with {
                listing: slot.data.listing
            } %}
        {% endblock %}
    </div>
{% endblock %}
