{% block element_product_name %}
    {%  set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}">
        {% block element_product_name_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
            {% block element_product_name_inner %}
                {% if config.content.isStatic %}
                    <span itemprop="name">
                        {{ element.data.content|raw }}
                    </span>
                {% else %}
                    <h1 class="product-detail-name" itemprop="name">
                        {{ element.data.content|raw }}
                    </h1>
                {% endif %}
            {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
