<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_listing %}
<div class="sw-cms-el-product-listing">

    <div class="sw-cms-el-product-listing__content">
        <sw-cms-el-product-box
            v-for="index in demoProductCount"
            :key="index"
            :element="getProduct(index)"
        />
    </div>

    <div class="sw-cms-el-product-listing__pagination">
        <div class="sw-cms-el-product-listing__pagination-entry">
            <sw-icon
                name="regular-chevron-left-xxs"
                size="20px"
            />
        </div>

        <div class="sw-cms-el-product-listing__pagination-entry">
            1
        </div>
        <div class="sw-cms-el-product-listing__pagination-entry">
            2
        </div>
        <div class="sw-cms-el-product-listing__pagination-entry">
            3
        </div>

        <div class="sw-cms-el-product-listing__pagination-entry">
            <sw-icon
                name="regular-chevron-right-xxs"
                size="20px"
            />
        </div>
    </div>
</div>
{% endblock %}
