@import "~scss/variables";

.sw-field.sw-block-field.sw-field--textarea {
    textarea {
        line-height: 22px;
        min-height: 125px;
        max-height: 300px;
        resize: vertical;
    }
}
