@import "~scss/variables";

.sw-field.sw-block-field.sw-field--textarea {
    textarea {
        line-height: 22px;
        min-height: 125px;
        max-height: 300px;
        resize: vertical;
    }

    textarea:disabled {
        background: $color-light-gray;
        border-color: $color-steam-cloud;
        color: lighten($color-gutenberg, 40%);
        cursor: default !important;

        #{$dark-theme-class} & {
            background: darken($color-light-gray, $dark-theme-contrast-factor);
            border-color: lighten($color-steam-cloud, $dark-theme-contrast-factor);
            color: lighten(lighten($color-gutenberg, $dark-theme-contrast-factor), 40%);
        }
    }
}
