.checkout {
    &.is-cart {
        .checkout-main {
            @extend .row;
        }

        .checkout-main-left {
            @extend .col-lg-8;
            margin-bottom: $spacer-lg;
        }

        .checkout-main-right {
            @extend .col-md-6;
            @extend .offset-lg-1;
            @extend .col-lg-3;
        }

        .checkout-sidebar {
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
}

// sidebar
.checkout-sidebar-header {
    margin-bottom: $spacer-lg;
}

// cart table
.cart-table {
    margin-bottom: $spacer-lg;
}

.checkout-main {
    margin-bottom: $spacer-lg;
}

.cart-main-header {
    margin-bottom: $spacer-lg;
}

.cart-header {
    display: none;
}

.cart-header-quantity,
.cart-header-unit-price,
.cart-header-total-price,
.cart-header-tax-price {
    text-align: right;
}

$cart-grid-gutter-width: $spacer-sm;

.cart-header-row,
.cart-item-row {
    margin-right: -$cart-grid-gutter-width / 2;
    margin-left: -$cart-grid-gutter-width / 2;

    > .col,
    > [class*='col-'] {
        padding-right: $cart-grid-gutter-width / 2;
        padding-left: $cart-grid-gutter-width / 2;
    }
}

.cart-add-promotion {
    margin-bottom: $spacer;
}

@include media-breakpoint-up(md) {
    .cart-header {
        display: block;
    }

    .cart-add-product {
        max-width: 250px;
    }
}

@include media-breakpoint-up(lg) {
    .cart-header {
        display: block;
    }
}
