// general
.checkout {
    &.is-finish {
        .checkout-main {
            @extend .row;
        }

        .checkout-main-left {
            @extend .offset-lg-3;
            @extend .col-lg-6;

        }

        .checkout-main-right {
            @extend .offset-lg-4;
            @extend .col-lg-4;
        }
    }
}

.finish-content {
    margin-left: auto;
    margin-right: auto;
}

.finish-ordernumber {
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
}

.finish-teaser {
    margin-bottom: $spacer-lg;
    text-align: center;
}

.finish-header {
    margin-bottom: $spacer-lg;
}

.finish-actions {
    margin-bottom: $spacer;
}

.finish-back-button {
    margin-right: $spacer-sm;
}

.finish-info {
    margin-bottom: $spacer-lg;
}

.finish-address {
    margin-bottom: $spacer-lg;
}

// equal height checkout finish card
.finish-card {
    height: 100%;

    .btn {
        align-self: flex-start;
    }
}

.finish-card-body {
    display: flex;
    flex-direction: column;
}

@include media-breakpoint-up(lg) {
    .finish-address {
        margin-bottom: 0;
    }
}
