<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_snippet_filter_switch %}
<div class="sw-settings-snippet-filter-switch">
    <slot name="template">
        <div :class="fieldClasses">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_snippet_filter_switch_field %}
            <slot name="field">
                <sw-switch-field
                    :name="name"
                    :value="value"
                    :label="label"
                    @update:value="onChange"
                />
            </slot>
            {% endblock %}
        </div>
    </slot>
</div>
{% endblock %}
