{% sw_extends '@Storefront/page/account/address.html.twig' %}

{% block page_account_overview_addresses_inner %}

    {% block page_account_overview_addresses_ajax_flash_bags_container %}
        <div class="col-12">
            {# ATTENTION - THIS IS USED BY AN AJAX CONTENT REPLACEMENT - DO NOT INCLUDE THIS WITHIN THE NORMAL REQUST FLOW BECAUSE OF THE FLASHBAG #}
            {% block page_account_overview_addresses_ajax_flash_bags %}
                <div class="flash-bags">
                    {% for type, messages in app.flashes %}
                        {% block page_account_overview_addresses_ajax_flash_bag_include %}
                            {% sw_include '@Storefront/layout/_utilities/alert.html.twig' with { type: type, list: messages } %}
                        {% endblock %}
                    {% endfor %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {{ parent() }}

{% endblock %}
