{% block sw_product_variant_info %}
    <span class="sw-product-variant-info"
          v-tooltip="{
                message: helpText,
                width: tooltipWidth,
                disabled: !showTooltip
              }">
        <span class="sw-product-variant-info__text">
            {% block sw_product_variant_info_product_name %}
                <span class="sw-product-variant-info__product-name">
                    <sw-highlight-text
                        v-if="highlighted"
                        :text="getFirstSlot()"
                        :searchTerm="searchTerm">
                    </sw-highlight-text>
                    <slot v-else></slot>
                </span>
            {% endblock %}
            {% block sw_product_variant_info_options %}
                <span v-if="variations.length > 0"
                    v-for="(variation, index) in variations"
                    class="sw-product-variant-info__specification"
                    :key="variation.group">
                    <template v-if="index === 0 && !ommitParenthesis">(</template>

                    {% block sw_product_variant_info_options_text %}
                        <span>{{ variation.group }}</span>: {{ variation.option }}
                    {% endblock %}

                    <template v-if="index !== Object.keys(variations).length - 1">{{ seperator }}</template>
                    
                    <template v-if="index === Object.keys(variations).length - 1 && !ommitParenthesis">)</template>
                </span>
            {% endblock %}
        </span>
    </span>
{% endblock %}
