{% block sw_sales_channel_detail_base %}
    <div class="sw-sales-channel-detail-base">
        {% block sw_sales_channel_detail_base_general %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleGeneralSettings')"
                     :isLoading="salesChannel.isLoading"
                     key="edit">
                <sw-container grid="1fr 1fr" gap="0px 30px">
                    {% block sw_sales_channel_detail_base_general_input_name %}
                        <sw-field type="text"
                                  validation="required"
                                  :label="$tc('sw-sales-channel.detail.labelInputName')"
                                  v-model="salesChannel.name">
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_general_input_active %}
                        <sw-field type="checkbox"
                                  :label="$tc('sw-sales-channel.detail.labelInputActive')"
                                  v-model="salesChannel.active">
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_general_input_shipping %}
                        <sw-field type="select"
                                  :label="$tc('sw-sales-channel.detail.labelInputShipping')"
                                  validation="required"
                                  v-model="salesChannel.shippingMethodId">
                            <option slot="options" v-for="shippingMethod in shippingMethods" :value="shippingMethod.id">
                                {{ shippingMethod.name }}
                            </option>
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_general_input_payment %}
                        <sw-field type="select"
                                  :label="$tc('sw-sales-channel.detail.labelInputPayment')"
                                  validation="required"
                                  v-model="salesChannel.paymentMethodId">
                            <option slot="options" v-for="paymentMethod in paymentMethods" :value="paymentMethod.id">
                                {{ paymentMethod.name }}
                            </option>
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_general_input_country %}
                        <sw-field type="select"
                                  :label="$tc('sw-sales-channel.detail.labelInputCountry')"
                                  validation="required"
                                  v-model="salesChannel.countryId">
                            <option slot="options" v-for="country in countries" :value="country.id">
                                {{ country.name }}
                            </option>
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_general_input_tax_calculation %}
                        <sw-field type="select"
                                  :label="$tc('sw-sales-channel.detail.labelInputTaxCalculation')"
                                  validation="required"
                                  v-model="salesChannel.taxCalculationType">
                            <template slot="options">
                                <option value="vertical">{{ $tc('sw-sales-channel.detail.labelOptionTaxVertical') }}</option>
                                <option value="horizontal">{{ $tc('sw-sales-channel.detail.labelOptionTaxHorizontal') }}</option>
                            </template>
                        </sw-field>
                    {% endblock %}
                </sw-container>

                {% block sw_sales_channel_detail_base_general_input_currencies %}
                    <sw-multi-select id="currencyIds"
                                     :label="$tc('sw-sales-channel.detail.labelInputCurrencies')"
                                     :serviceProvider="currencyService"
                                     :store="currencyStore"
                                     entityName="currency"
                                     :defaultItemId="salesChannel.currencyId"
                                     v-model="salesChannel.currencies"
                                     @default_changed="changeDefaultCurrency">
                    </sw-multi-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_languages %}
                    <sw-multi-select id="languageIds"
                                     :label="$tc('sw-sales-channel.detail.labelInputLanguages')"
                                     :serviceProvider="languageService"
                                     :store="languageStore"
                                     entityName="language"
                                     :defaultItemId="salesChannel.languageId"
                                     v-model="salesChannel.languages"
                                     @default_changed="changeDefaultLanguage">
                    </sw-multi-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_catalogs %}
                    <sw-multi-select id="catalogIds"
                                     :label="$tc('sw-sales-channel.detail.labelInputCatalogs')"
                                     :serviceProvider="catalogService"
                                     :store="catalogStore"
                                     entityName="catalog"
                                     v-model="salesChannel.catalogs">
                    </sw-multi-select>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_base_api %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleAPICard')">
                {% block sw_sales_channel_detail_base_api_field_accesskey %}
                    <sw-field :label="$tc('sw-sales-channel.detail.labelIdField')"
                              :disabled="true"
                              v-model="salesChannel.accessKey"
                              :copyAble="true">
                    </sw-field>
                {% endblock %}

                {% block sw_sales_channel_detail_base_api_field_secretaccesskey %}
                    <sw-field :type="secretAccessKeyFieldType"
                              :label="$tc('sw-sales-channel.detail.labelSecretField')"
                              :disabled="true"
                              v-model="salesChannel.secretAccessKey"
                              :passwordToggleAble="false"
                              :copyAble="showSecretAccessKey">

                    </sw-field>

                    <sw-button v-if="!showSecretAccessKey" @click="onGenerateKeys"
                               variant="danger">
                        {{ $tc('sw-sales-channel.detail.buttonCreateNewApiKeys') }}
                    </sw-button>
                {% endblock %}

                {% block sw_sales_channel_detail_base_api_helptext%}
                    <sw-alert variant="info"
                              class="sw-sales-channel-detail-base__secret-help-text-alert"
                              :title="$tc('sw-sales-channel.detail.titleSecretHelpText')">
                        {{ $tc('sw-sales-channel.detail.secretHelpText') }}
                    </sw-alert>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}