{% block sw_sales_channel_detail_base %}
    <div class="sw-sales-channel-detail-base">
        {% block sw_sales_channel_detail_base_general %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleGeneralSettings')"
                     :isLoading="salesChannel.isLoading"
                     key="edit">
                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                    {% block sw_sales_channel_detail_base_general_input_name %}
                        <sw-field type="text"
                                  validation="required"
                                  :label="$tc('sw-sales-channel.detail.labelInputName')"
                                  v-model="salesChannel.name">
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_general_input_active %}
                        <sw-field type="boolean"
                                  :label="$tc('sw-sales-channel.detail.labelInputActive')"
                                  v-model="salesChannel.active">
                        </sw-field>
                    {% endblock %}
                </sw-container>

                {% block sw_sales_channel_detail_base_general_input_payments_methods %}
                    <sw-select id="paymentMethodIds"
                               multi
                               class="sw-sales-channel-detail__input-payment-method":label="$tc('sw-sales-channel.detail.labelInputPaymentMethods')"
                               validation="required"
                               :serviceProvider="paymentMethodService"
                               :store="paymentMethodStore"
                               entityName="paymentMethod"
                               :defaultItemId="salesChannel.paymentMethodId"
                               v-model="salesChannel.paymentMethods"
                               @default_changed="changeDefaultPaymentMethod">
                    </sw-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_shipping_methods %}
                    <sw-select id="shippingMethodIds"
                               multi
                               class="sw-sales-channel-detail__input-shipping-method":label="$tc('sw-sales-channel.detail.labelInputShippingMethods')"
                               validation="required"
                               :serviceProvider="shippingMethodService"
                               :store="shippingMethodStore"
                               entityName="shippingMethod"
                               :defaultItemId="salesChannel.shippingMethodId"
                               v-model="salesChannel.shippingMethods"
                               @default_changed="changeDefaultShippingMethod">
                    </sw-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_countries %}
                    <sw-select id="countryIds"
                               multi
                               class="sw-sales-channel-detail__input-countries":label="$tc('sw-sales-channel.detail.labelInputCountries')"
                               validation="required"
                               :serviceProvider="countryService"
                               :store="countryStore"
                               entityName="country"
                               :defaultItemId="salesChannel.countryId"
                               v-model="salesChannel.countries"
                               @default_changed="changeDefaultCountry">
                    </sw-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_currencies %}
                    <sw-select id="currencyIds"
                               multi
                               class="sw-sales-channel-detail__input-currencies":label="$tc('sw-sales-channel.detail.labelInputCurrencies')"
                               validation="required"
                               :serviceProvider="currencyService"
                               :store="currencyStore"
                               entityName="currency"
                               :defaultItemId="salesChannel.currencyId"
                               v-model="salesChannel.currencies"
                               @default_changed="changeDefaultCurrency">
                    </sw-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_languages %}
                    <sw-select id="languageIds"
                               multi
                               class="sw-sales-channel-detail__input-languages":label="$tc('sw-sales-channel.detail.labelInputLanguages')"
                               validation="required"
                               :serviceProvider="languageService"
                               :store="languageStore"
                               entityName="language"
                               :defaultItemId="salesChannel.languageId"
                               v-model="salesChannel.languages"
                               @default_changed="changeDefaultLanguage">
                    </sw-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_catalogs %}
                    <sw-select id="catalogIds"
                               multi
                               class="sw-sales-channel-detail__input-catalogues":label="$tc('sw-sales-channel.detail.labelInputCatalogs')"
                               :serviceProvider="catalogService"
                               :store="catalogStore"
                               entityName="catalog"
                               v-model="salesChannel.catalogs">
                    </sw-select>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_base_options %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleOptionsCard')">
                {% block sw_sales_channel_detail_base_options_api %}
                    <sw-container columns="1fr auto" gap="30px">
                        {% block sw_sales_channel_detail_base_options_input_access_key %}
                            <sw-field :label="$tc('sw-sales-channel.detail.labelAccessKeyField')"
                                      :disabled="true"
                                      v-model="salesChannel.accessKey"
                                      :copyAble="true">
                            </sw-field>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_options_input_generate_key %}
                            <div class="sw-sales-channel-detail__action-button">
                                <sw-button @click="onGenerateKeys"
                                           class="sw-sales-channel-detail-base__button-generate-keys">
                                    <sw-icon name="small-arrow-360-right" size="18"></sw-icon>
                                    {{ $tc('sw-sales-channel.detail.buttonCreateNewApiKeys') }}
                                </sw-button>
                            </div>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_options_delete %}
                    <div class="sw-sales-channel-detail-base__delete">
                        {% block sw_sales_channel_detail_base_options_delete_info %}
                            <sw-alert variant="error" >
                                {{ $tc('sw-sales-channel.detail.textDeleteInfo') }}
                            </sw-alert>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_options_delete_button %}
                            <div class="sw-sales-channel-detail-base__button-delete">
                                <sw-button variant="danger"
                                           @click="showDeleteModal = true">
                                    {{ $tc('sw-sales-channel.detail.buttonDelete') }}
                                </sw-button>
                            </div>
                        {% endblock %}
                    </div>

                    {% block sw_sales_channel_detail_base_options_delete_modal %}
                        <sw-modal v-if="showDeleteModal"
                                  ref="modal"
                                  :title="$tc('sw-sales-channel.detail.deleteModalTitle')"
                                  @closeModal="onCloseDeleteModal">
                            {% block sw_sales_channel_detail_options_delete_modal_confirmtext %}
                                {{ $tc('sw-sales-channel.detail.textConfirmDelete') }}
                                {{ salesChannel.name }}
                            {% endblock %}

                            {% block sw_sales_channel_detail_options_delete_modal_footer %}
                                <template slot="modal-footer">
                                    <sw-button size="small" @click="onCloseDeleteModal">
                                        {{ $tc('sw-sales-channel.detail.buttonCloseDeleteModal') }}
                                    </sw-button>
                                    <sw-button size="small"
                                               variant="primary"
                                               @click="onConfirmDelete">
                                        {{ $tc('sw-sales-channel.detail.buttonConfirmDelete') }}
                                    </sw-button>
                                </template>
                            {% endblock %}
                        </sw-modal>
                    {% endblock %}
                {% endblock %}

            </sw-card>
        {% endblock %}
    </div>
{% endblock %}