{% block sw_sales_channel_detail_base %}
    <div class="sw-sales-channel-detail-base">

        {% block sw_sales_channel_detail_base_general %}
            <sw-card v-if="salesChannel" :isLoading="isLoading" :title="$tc('sw-sales-channel.detail.titleGeneralSettings')" key="edit">

                {% block sw_sales_channel_detail_base_general %}
                    <sw-container columns="1fr 200px" gap="0px 30px">
                        {% block sw_sales_channel_detail_base_general_input_name %}
                            <sw-field
                                type="text"
                                validation="required"
                                required
                                :placeholder="placeholder(salesChannel, 'name', $tc('sw-sales-channel.detail.placeholderName'))"
                                :label="$tc('sw-sales-channel.detail.labelInputName')"
                                v-model="salesChannel.name">
                            </sw-field>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_general_input_active %}
                            <sw-field
                                type="switch"
                                bordered
                                :label="$tc('sw-sales-channel.detail.labelInputActive')"
                                @change="onToggleActive"
                                v-model="salesChannel.active">
                            </sw-field>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_payments_methods %}
                    <sw-container columns="1fr 200px" gap="0 30px">
                        {% block sw_sales_channel_detail_base_general_input_payments_methods_selection %}
                            <sw-entity-multi-select
                                class="sw-sales-channel-detail__select-payment-method"
                                :label="$tc('sw-sales-channel.detail.labelInputPaymentMethods')"
                                @item-remove="(item) => onRemoveItem(item, 'paymentMethodSelect', 'paymentMethodId')"
                                 v-model="salesChannel.paymentMethods">
                            </sw-entity-multi-select>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_general_input_payments_methods_assignment %}
                            <sw-entity-single-select
                                ref="paymentMethodSelect"
                                class="sw-sales-channel-detail__assign-payment-method"
                                :label="$tc('sw-sales-channel.detail.labelInputDefaultPaymentMethod')"
                                entity="payment_method"
                                required
                                @change="(itemId, item) => onDefaultItemAdd(item, 'paymentMethodSelect', 'paymentMethods')"
                                :error="salesChannelPaymentMethodIdError"
                                v-model="salesChannel.paymentMethodId">
                            </sw-entity-single-select>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_shipping_methods %}
                    <sw-container columns="1fr 200px" gap="0 30px">
                        {% block sw_sales_channel_detail_base_general_input_shipping_methods_selection %}
                            <sw-entity-multi-select
                                class="sw-sales-channel-detail__select-shipping-method"
                                :label="$tc('sw-sales-channel.detail.labelInputShippingMethods')"
                                @item-remove="(item) => onRemoveItem(item, 'shippingMethodSelect', 'shippingMethodId')"
                                v-model="salesChannel.shippingMethods">
                            </sw-entity-multi-select>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_general_input_shipping_methods_assignment %}
                            <sw-entity-single-select
                                ref="shippingMethodSelect"
                                class="sw-sales-channel-detail__assign-shipping-method"
                                :label="$tc('sw-sales-channel.detail.labelInputDefaultShippingMethod')"
                                entity="shipping_method"
                                required
                                @change="(itemId, item) => onDefaultItemAdd(item, 'shippingMethodSelect', 'shippingMethods')"
                                :error="salesChannelShippingMethodIdError"
                                v-model="salesChannel.shippingMethodId">
                            </sw-entity-single-select>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_countries %}
                    <sw-container columns="1fr 200px" gap="0 30px">
                        {% block sw_sales_channel_detail_base_general_input_countries_selection %}
                            <sw-entity-multi-select
                                class="sw-sales-channel-detail__select-countries"
                                :label="$tc('sw-sales-channel.detail.labelInputCountries')"
                                @item-remove="(item) => onRemoveItem(item, 'countrySelect', 'countryId')"
                                v-model="salesChannel.countries">
                            </sw-entity-multi-select>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_general_input_countries_assignment %}
                            <sw-entity-single-select
                                ref="countrySelect"
                                class="sw-sales-channel-detail__assign-countries"
                                :label="$tc('sw-sales-channel.detail.labelInputDefaultCountry')"
                                entity="country"
                                required
                                @change="(itemId, item) => onDefaultItemAdd(item, 'countrySelect', 'countries')"
                                :error="salesChannelCountryIdError"
                                v-model="salesChannel.countryId">
                            </sw-entity-single-select>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_currencies %}
                    <sw-container columns="1fr 200px" gap="0 30px">
                        {% block sw_sales_channel_detail_base_general_input_currencies_selection %}
                            <sw-entity-multi-select
                                class="sw-sales-channel-detail__select-currencies"
                                :label="$tc('sw-sales-channel.detail.labelInputCurrencies')"
                                @item-remove="(item) => onRemoveItem(item, 'currencySelect', 'currencyId')"
                                v-model="salesChannel.currencies">
                            </sw-entity-multi-select>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_general_input_currencies_assignment %}
                            <sw-entity-single-select
                                ref="currencySelect"
                                class="sw-sales-channel-detail__assign-currencies"
                                :label="$tc('sw-sales-channel.detail.labelInputDefaultCurrency')"
                                entity="currency"
                                @change="(itemId, item) => onDefaultItemAdd(item, 'currencySelect', 'currencies')"
                                :error="salesChannelCurrencyIdError"
                                required
                                v-model="salesChannel.currencyId">
                            </sw-entity-single-select>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_languages %}
                    <sw-container columns="1fr 200px" gap="0 30px">
                        {% block sw_sales_channel_detail_base_general_input_languages_selection %}
                            <sw-entity-multi-select
                                class="sw-sales-channel-detail__select-languages"
                                @item-remove="(item) => onRemoveItem(item, 'languageSelect', 'languageId')"
                                :label="$tc('sw-sales-channel.detail.labelInputLanguages')"
                                v-model="salesChannel.languages">
                            </sw-entity-multi-select>
                        {% endblock %}

                        {% block sw_sales_channel_detail_base_general_input_languages_assignment %}
                            <sw-entity-single-select
                                ref="languageSelect"
                                class="sw-sales-channel-detail__assign-languages"
                                :label="$tc('sw-sales-channel.detail.labelInputDefaultLanguage')"
                                entity="language"
                                @change="(itemId, item) => onDefaultItemAdd(item, 'languageSelect', 'languages')"
                                :error="salesChannelLanguageIdError"
                                required
                                v-model="salesChannel.languageId">
                            </sw-entity-single-select>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_customer_group %}
                    <sw-entity-single-select
                        class="sw-sales-channel-detail__select-customer-group"
                        :label="$tc('sw-sales-channel.detail.customerGroup')"
                        entity="customer_group"
                        :error="salesChannelCustomerGroupIdError"
                        v-model="salesChannel.customerGroupId">
                    </sw-entity-single-select>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_base_general_input_navigation %}
            <sw-card v-if="salesChannel" :isLoading="isLoading" :title="$tc('sw-sales-channel.detail.navigation')">
                {% block sw_sales_channel_detail_base_general_input_navigation_category %}
                    <sw-entity-single-select
                        required
                        class="sw-sales-channel-detail__select-navigation-category-id"
                        id="navigationCategoryId"
                        :label="$tc('sw-sales-channel.detail.navigationCategoryId')"
                        :criteria="mainNavigationCriteria"
                        :helpText="$tc('sw-sales-channel.detail.navigationCategoryHelpText')"
                        v-model="salesChannel.navigationCategoryId"
                        :error="salesChannelNavigationCategoryIdError"
                        entity="category">
                    </sw-entity-single-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_footer_category %}
                    <sw-entity-single-select
                        class="sw-sales-channel-detail__select-footer-category-id"
                        id="footerCategoryId"
                        :label="$tc('sw-sales-channel.detail.footerCategory')"
                        v-model="salesChannel.footerCategoryId"
                        entity="category">
                    </sw-entity-single-select>
                {% endblock %}

                {% block sw_sales_channel_detail_base_general_input_service_category %}
                    <sw-entity-single-select
                        class="sw-sales-channel-detail__select-service-category-id"
                        id="serviceCategoryId"
                        :label="$tc('sw-sales-channel.detail.serviceCategory')"
                        v-model="salesChannel.serviceCategoryId"
                        entity="category">
                    </sw-entity-single-select>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_base_domains %}
            <sw-card v-if="salesChannel && isStoreFront" :isLoading="isLoading" :title="$tc('sw-sales-channel.detail.titleDomains')">

                {% block sw_sales_channel_detail_base_domains_container %}
                    <div v-for="(domain, index) in salesChannel.domains"
                         class="sw-sales-channel-detail-base__domain-container">

                        {% block sw_sales_channel_detail_base_domains_headline %}
                            <h4 class="sw-sales-channel-detail-base__domain-headline">
                                {% block sw_sales_channel_detail_base_domains_headline_text %}
                                    <span class="sw-sales-channel-detail-base__domain-headline-text">
                                        {{ $tc('sw-sales-channel.detail.titleDomainItem', 0, { index: index + 1 }) }}
                                    </span>
                                {% endblock %}

                                {% block sw_sales_channel_detail_base_domains_delete %}
                                    <button
                                        class="sw-sales-channel-detail-base__domain-delete"
                                        @click="onClickDeleteDomain(domain)">
                                        {{ $tc('sw-sales-channel.detail.buttonDeleteDomain') }}
                                    </button>
                                {% endblock %}
                            </h4>
                        {% endblock %}

                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                            {% block sw_sales_channel_detail_base_domains_input_url %}
                                <sw-url-field type="text" label="Url" v-model="domain.url"></sw-url-field>
                            {% endblock %}

                            {% block sw_sales_channel_detail_base_domains_input_language %}
                                <sw-entity-single-select
                                    :label="$tc('sw-sales-channel.detail.labelInputLanguage')"
                                    entity="language"
                                    required
                                    v-model="domain.languageId">
                                </sw-entity-single-select>
                            {% endblock %}
                        </sw-container>

                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                            {% block sw_sales_channel_detail_base_domains_input_currency %}
                                <sw-entity-single-select
                                    :label="$tc('sw-sales-channel.detail.labelInputCurrency')"
                                    entity="currency"
                                    required
                                    v-model="domain.currencyId">
                                </sw-entity-single-select>
                            {% endblock %}

                            {% block sw_sales_channel_detail_base_domains_input_snippet_set %}
                                <sw-entity-single-select
                                    :label="$tc('sw-sales-channel.detail.labelInputSnippet')"
                                    v-model="domain.snippetSetId"
                                    entity="snippet_set">
                                </sw-entity-single-select>
                            {% endblock %}
                        </sw-container>

                        {% block sw_sales_channel_detail_base_domains_delete_modal %}
                            <sw-modal
                                v-if="deleteDomain"
                                :title="$tc('sw-sales-channel.detail.deleteDomainModalTitle')"
                                variant="small"
                                @modal-close="onCloseDeleteDomainModal">

                                {% block sw_sales_channel_detail_base_domains_delete_modal_confirm_text %}
                                    {{ $tc('sw-sales-channel.detail.textConfirmDeleteDomain', 0, { url: deleteDomain.url }) }}
                                {% endblock %}

                                {% block sw_sales_channel_detail_base_domains_delete_modal_footer %}
                                    <template slot="modal-footer">
                                        {% block sw_sales_channel_detail_base_domains_delete_modal_abort %}
                                            <sw-button size="small" @click="onCloseDeleteDomainModal">
                                                {{ $tc('sw-sales-channel.detail.buttonCloseDeleteDomainModal') }}
                                            </sw-button>
                                        {% endblock %}

                                        {% block sw_sales_channel_detail_base_domains_delete_modal_confirm %}
                                            <sw-button
                                                size="small"
                                                variant="danger"
                                                @click="onConfirmDeleteDomain(deleteDomain)">
                                                {{ $tc('sw-sales-channel.detail.buttonConfirmDeleteDomain') }}
                                            </sw-button>
                                        {% endblock %}
                                    </template>
                                {% endblock %}
                            </sw-modal>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_sales_channel_detail_base_domains_add_button %}
                    <sw-button variant="ghost" size="small" @click="onClickAddDomain">
                        <sw-icon name="small-default-plus-line-small" size="16"></sw-icon>
                        {{ $tc('sw-sales-channel.detail.buttonAddDomain') }}
                    </sw-button>
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_base_options %}
            <sw-card v-if="salesChannel" :isLoading="isLoading" :title="$tc('sw-sales-channel.detail.titleOptionsCard')">
                {% block sw_sales_channel_detail_base_options_api %}
                    {% block sw_sales_channel_detail_base_options_input_access_key %}
                        <sw-field
                            :label="$tc('sw-sales-channel.detail.labelAccessKeyField')"
                            :disabled="true"
                            v-model="salesChannel.accessKey"
                            :copyable="true">
                        </sw-field>
                    {% endblock %}

                    {% block sw_sales_channel_detail_base_options_input_generate_key %}
                        <div class="sw-sales-channel-detail__action-button">
                            <sw-button
                                @click="onGenerateKeys"
                                variant="ghost"
                                size="small"
                                class="sw-sales-channel-detail-base__button-generate-keys">
                                {{ $tc('sw-sales-channel.detail.buttonCreateNewApiKeys') }}
                            </sw-button>
                        </div>
                    {% endblock %}
                {% endblock %}

                {% block sw_sales_channel_detail_base_options_delete %}
                    <div class="sw-sales-channel-detail-base__delete">
                        {% block sw_sales_channel_detail_base_options_delete_button %}
                            <div class="sw-sales-channel-detail-base__button-delete">
                                <sw-button
                                    variant="danger"
                                    size="small"
                                    @click="showDeleteModal = true">
                                    {{ $tc('sw-sales-channel.detail.buttonDelete') }}
                                </sw-button>
                            </div>
                        {% endblock %}
                    </div>

                    {% block sw_sales_channel_detail_base_options_delete_modal %}
                        <sw-modal
                            v-if="showDeleteModal"
                            class="sw-sales-channel-detail-base__delete-modal"
                            ref="modal"
                            variant="small"
                            :title="$tc('sw-sales-channel.detail.deleteModalTitle')"
                            @modal-close="onCloseDeleteModal">

                            {% block sw_sales_channel_detail_options_delete_modal_confirmtext %}
                                <p class="sw-sales-channel-detail-base__delete-modal-confirm-text">{{ $tc('sw-sales-channel.detail.textConfirmDelete') }}</p>
                                <p class="sw-sales-channel-detail-base__delete-modal-name">
                                    <strong>{{ placeholder(salesChannel, 'name') }}</strong>
                                </p>
                                <p>{{ $tc('sw-sales-channel.detail.textDeleteInfo') }}</p>
                            {% endblock %}

                            {% block sw_sales_channel_detail_options_delete_modal_footer %}
                                <template slot="modal-footer">
                                    {% block sw_sales_channel_detail_options_delete_modal_abort %}
                                        <sw-button size="small" @click="onCloseDeleteModal">
                                            {{ $tc('sw-sales-channel.detail.buttonCloseDeleteModal') }}
                                        </sw-button>
                                    {% endblock %}

                                    {% block sw_sales_channel_detail_options_delete_modal_confirm %}
                                        <sw-button
                                            size="small"
                                            variant="danger"
                                            @click="onConfirmDelete">
                                            {{ $tc('sw-sales-channel.detail.buttonConfirmDelete') }}
                                        </sw-button>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-modal>
                    {% endblock %}
                {% endblock %}
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_custom_field_sets %}
            <sw-card
                :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                v-if="salesChannel &&  customFieldSets.length > 0"
                :isLoading="isLoading">
                <sw-custom-field-set-renderer
                    :entity="salesChannel"
                    :sets="customFieldSets">
                </sw-custom-field-set-renderer>
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
