{% block sw_property_toolbar_items %}
    <div class="generate-variant-button-container">
        <sw-button @click="generateVariants">
            {{ $tc('sw-product.variant.generateVariantsButton') }}
        </sw-button>
    </div>
{% endblock %}