<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_youtube_video %}
<div class="sw-cms-block-youtube-video">
    <slot name="video">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_youtube_video_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
