<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_text_two_column %}
<div class="sw-cms-block-text-two-column">
    <slot name="left"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
