{% extends '@Administration/administration/layout/base.html.twig' %}

{% block administration_title %}
    <title>Page not found | Shopware Administration</title>
{% endblock %}

{% block administration_content %}
  <div class="sw-error-404">
      <div class="sw-error-404__content">
        <div class="sw-error-404__hero">
          <h1 class="sw-error-404__title">404</h1>

          <img
            src="{{ asset('static/img/not-found-stroke.svg', '@Administration') }}"
            alt=""
            role="presentation">
        </div>

        <p class="sw-error-404__description">We can’t seem to find the page you’re looking for. It might have been removed or is temporarily unavailable.</p>

        <a
          href="{{ path('administration.index') }}"
          class="sw-button sw-button--primary">
            <div class="sw-button__content">
                <svg class="sw-error-404__icon" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 23V12.0861C20 11.3843 19.754 10.7047 19.3047 10.1656L11.5364 0.843705C10.8293 -0.00484902 9.5682 -0.119497 8.7196 0.587631C8.6267 0.665069 8.541 0.750779 8.4636 0.843705L0.69534 10.1656C0.24605 10.7047 0 11.3843 0 12.0861V23C0 23.5523 0.44772 24 1 24H6C6.55228 24 7 23.5523 7 23V18C7 16.8954 7.89543 16 9 16H11C12.1046 16 13 16.8954 13 18V23C13 23.5523 13.4477 24 14 24H19C19.5523 24 20 23.5523 20 23z" fill="inherit"/></svg>

                <span>Back to the Administration</span>
            </div>
        </a>
      </div>
  </div>
{% endblock %}

