<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_two_column_preview %}
<div class="sw-cms-preview-image-two-column">
    <img
        :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
        alt=""
    >
    <img
        :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
        alt=""
    >
</div>
{% endblock %}
