{% block sw_product_settings_form %}
    <div class="sw-product-settings-form">

        {% block sw_product_settings_form_content %}
            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_product_settings_form_release_date_field %}
                    <sw-inherit-wrapper v-model="product.releaseDate"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.releaseDate">
                        <template #content="props">

                            <sw-field type="date"
                                      :mapInheritance="props"
                                      dateType="datetime"
                                      :disabled="props.isInherited"
                                      :error="productReleaseDateError"
                                      :label="$tc('sw-product.settingsForm.labelReleaseDate')"
                                      :placeholder="$tc('sw-product.settingsForm.placeholderReleaseDate')"
                                      :value="props.currentValue"
                                      @input="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block sw_product_settings_form_stock_field %}
                    <sw-inherit-wrapper v-model="product.stock"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.stock">
                        <template #content="props">

                            <sw-field type="number"
                                      name="sw-field--product-stock"
                                      :mapInheritance="props"
                                      numberType="int"
                                      :min="0"
                                      :disabled="props.isInherited"
                                      :label="$tc('sw-product.settingsForm.labelStock')"
                                      :placeholder="$tc('sw-product.settingsForm.placeholderStock')"
                                      required
                                      :value="props.currentValue"
                                      :error="productStockError"
                                      @change="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_product_settings_form_min_purchase_field %}
                    <sw-inherit-wrapper v-model="product.minPurchase"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.minPurchase">
                        <template #content="props">

                            <sw-field type="number"
                                      :mapInheritance="props"
                                      numberType="int"
                                      :min="0"
                                      :error="productMinPurchaseError"
                                      :label="$tc('sw-product.settingsForm.labelMinPurchase')"
                                      :placeholder="$tc('sw-product.settingsForm.placeholderMinPurchase')"
                                      :disabled="props.isInherited"
                                      :value="props.currentValue"
                                      @change="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block sw_product_settings_form_max_purchase_field %}
                    <sw-inherit-wrapper v-model="product.maxPurchase"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.maxPurchase">
                        <template #content="props">

                            <sw-field type="number"
                                      :mapInheritance="props"
                                      numberType="int"
                                      :min="0"
                                      :error="productMaxPurchaseError"
                                      :label="$tc('sw-product.settingsForm.labelMaxPurchase')"
                                      :placeholder="$tc('sw-product.settingsForm.placeholderMaxPurchase')"
                                      :disabled="props.isInherited"
                                      :value="props.currentValue"
                                      @change="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_product_settings_form_ean_field %}
                    <sw-inherit-wrapper v-model="product.ean"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.ean">
                        <template #content="props">

                            <sw-field type="text"
                                      :mapInheritance="props"
                                      :error="productEanError"
                                      :label="$tc('sw-product.settingsForm.labelEan')"
                                      :placeholder="$tc('sw-product.settingsForm.placeholderEan')"
                                      :disabled="props.isInherited"
                                      :value="props.currentValue"
                                      @change="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block sw_product_settings_form_manufacturer_number_field %}
                    <sw-inherit-wrapper v-model="product.manufacturerNumber"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.manufacturerNumber">
                        <template #content="props">

                            <sw-field type="text"
                                      :mapInheritance="props"
                                      :error="productManufacturerNumberError"
                                      :label="$tc('sw-product.settingsForm.labelManufacturerNumber')"
                                      :placeholder="$tc('sw-product.settingsForm.placeholderManufacturerNumber')"
                                      :disabled="props.isInherited"
                                      :value="props.currentValue"
                                      @input="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(200px, 1fr)" gap="0px 30px" align="center">
                {% block sw_product_settings_form_shipping_free_field %}
                    <sw-inherit-wrapper v-model="product.shippingFree"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.shippingFree">
                        <template #content="props">

                            <sw-field type="switch"
                                      :mapInheritance="props"
                                      :error="productShippingFreeError"
                                      bordered
                                      :label="$tc('sw-product.settingsForm.labelShippingFree')"
                                      :disabled="props.isInherited"
                                      :value="props.currentValue"
                                      @change="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}

                {% block sw_product_settings_form_mark_as_topseller_field %}
                    <sw-inherit-wrapper v-model="product.markAsTopseller"
                                        :hasParent="!!parentProduct.id"
                                        :inheritedValue="parentProduct.markAsTopseller">
                        <template #content="props">

                            <sw-field type="switch"
                                      bordered
                                      :error="productMarkAsTopsellerError"
                                      :mapInheritance="props"
                                      :label="$tc('sw-product.settingsForm.labelMarkAsTopseller')"
                                      :disabled="props.isInherited"
                                      :value="props.currentValue"
                                      @change="props.updateCurrentValue">
                            </sw-field>

                        </template>
                    </sw-inherit-wrapper>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}
