{% block sw_product_settings_form %}
    <div class="sw-product-settings-form">

        {% block sw_product_settings_form_content %}
            <sw-container grid="1fr 1fr" gap="0px 30px">

                {% block sw_product_settings_form_create_date_field %}
                    <sw-field type="datetime"
                              :label="$tc('sw-product.settingsForm.labelCreatedAt')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderCreatedAt')"
                              v-model="product.createdAt">
                        <sw-icon name="default-calendar-full" slot="suffix"></sw-icon>
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_release_date_field %}
                    <sw-field type="datetime"
                              :label="$tc('sw-product.settingsForm.labelReleaseDate')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderReleaseDate')"
                              v-model="product.releaseDate">
                        <sw-icon name="default-calendar-full" slot="suffix"></sw-icon>
                    </sw-field>
                {% endblock %}
            </sw-container>

            <sw-container grid="1fr 1fr" gap="0px 30px">
                {% block sw_product_settings_form_width_field %}
                    <sw-field type="number"
                              :label="$tc('sw-product.settingsForm.labelWidth')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderWidth')"
                              suffix="mm"
                              step="0.01"
                              v-model="product.width">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_height_field %}
                    <sw-field type="number"
                              :label="$tc('sw-product.settingsForm.labelHeight')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderHeight')"
                              suffix="mm"
                              step="0.01"
                              v-model="product.height">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_length_field %}
                    <sw-field type="number"
                              :label="$tc('sw-product.settingsForm.labelLength')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderLength')"
                              suffix="mm"
                              step="0.01"
                              v-model="product.length">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_weight_field %}
                    <sw-field type="number"
                              :label="$tc('sw-product.settingsForm.labelWeight')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderWeight')"
                              suffix="kg"
                              step="0.01"
                              v-model="product.weight">
                    </sw-field>
                {% endblock %}
            </sw-container>

            <sw-container grid="1fr 1fr" gap="0px 30px">
                <sw-container grid="1fr 1fr" gap="0px 30px">

                    {% block sw_product_settings_form_min_purchase_field %}
                        <sw-field type="number"
                                  :label="$tc('sw-product.settingsForm.labelMinPurchase')"
                                  :placeholder="$tc('sw-product.settingsForm.placeholderMinPurchase')"
                                  v-model="product.minPurchase">
                        </sw-field>
                    {% endblock %}

                    {% block sw_product_settings_form_max_purchase_field %}
                        <sw-field type="number"
                                  :label="$tc('sw-product.settingsForm.labelMaxPurchase')"
                                  :placeholder="$tc('sw-product.settingsForm.placeholderMaxPurchase')"
                                  v-model="product.maxPurchase">
                        </sw-field>
                    {% endblock %}
                </sw-container>

                {% block sw_product_settings_form_ean_field %}
                    <sw-field type="text"
                              :label="$tc('sw-product.settingsForm.labelEan')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderEan')"
                              v-model="product.ean">
                    </sw-field>
                {% endblock %}
            </sw-container>

            <sw-container grid="1fr 1fr" gap="0px 30px">
                {% block sw_product_settings_form_pseudo_sales_field %}
                    <sw-field type="number"
                              :label="$tc('sw-product.settingsForm.labelPseudoSales')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderPseudoSales')"
                              v-model="product.pseudoSales">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_stock_field %}
                    <sw-field type="number"
                              :label="$tc('sw-product.settingsForm.labelStock')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderStock')"
                              v-model="product.stock">
                    </sw-field>
                {% endblock %}
            </sw-container>

            <sw-container grid="1fr 1fr 1fr" gap="0px 30px" align="center">
                {% block sw_product_settings_form_active_field %}
                    <sw-field type="checkbox"
                              :label="$tc('sw-product.settingsForm.labelActive')"
                              v-model="product.active">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_shipping_free_field %}
                    <sw-field type="checkbox"
                              :label="$tc('sw-product.settingsForm.labelShippingFree')"
                              v-model="product.shippingFree">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_mark_as_topseller_field %}
                    <sw-field type="checkbox"
                              :label="$tc('sw-product.settingsForm.labelMarkAsTopseller')"
                              v-model="product.markAsTopseller">
                    </sw-field>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}