{% block sw_product_settings_form %}
    <div class="sw-product-settings-form">

        {% block sw_product_settings_form_content %}
            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_product_settings_form_release_date_field %}
                    <sw-field type="date"
                              dateType="datetime"
                              :label="$tc('sw-product.settingsForm.labelReleaseDate')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderReleaseDate')"
                              v-model="product.releaseDate">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_stock_field %}
                        <sw-field type="number"
                                numberType="int"
                                :min="0"
                                :label="$tc('sw-product.settingsForm.labelStock')"
                                :placeholder="$tc('sw-product.settingsForm.placeholderStock')"
                                required
                                v-model="product.stock">
                        </sw-field>
                {% endblock %}
            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                <sw-container columns="1fr 1fr" gap="0px 30px">
                    {% block sw_product_settings_form_width_field %}
                        <sw-field type="number"
                                  :label="$tc('sw-product.settingsForm.labelWidth')"
                                  :placeholder="$tc('sw-product.settingsForm.placeholderWidth')"
                                  :min="0"
                                  v-model="product.width">
                            <template #suffix>
                                <span>mm</span>
                            </template>
                        </sw-field>
                    {% endblock %}

                    {% block sw_product_settings_form_height_field %}
                        <sw-field type="number"
                                  :label="$tc('sw-product.settingsForm.labelHeight')"
                                  :placeholder="$tc('sw-product.settingsForm.placeholderHeight')"
                                  :min="0"
                                  v-model="product.height">
                            <template #suffix>
                                <span>mm</span>
                            </template>
                        </sw-field>
                    {% endblock %}
                </sw-container>

                <sw-container columns="1fr 1fr" gap="0px 30px">
                    {% block sw_product_settings_form_length_field %}
                        <sw-field type="number"
                                  :label="$tc('sw-product.settingsForm.labelLength')"
                                  :placeholder="$tc('sw-product.settingsForm.placeholderLength')"
                                  :min="0"
                                  v-model="product.length">
                            <template #suffix>
                                <span>mm</span>
                            </template>
                        </sw-field>
                    {% endblock %}

                    {% block sw_product_settings_form_weight_field %}
                        <sw-field type="number"
                                  :label="$tc('sw-product.settingsForm.labelWeight')"
                                  :placeholder="$tc('sw-product.settingsForm.placeholderWeight')"
                                  :min="0"
                                  v-model="product.weight">
                            <template #suffix>
                                <span>kg</span>
                            </template>
                        </sw-field>
                    {% endblock %}
                </sw-container>
            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_product_settings_form_min_purchase_field %}
                    <sw-field type="number"
                              numberType="int"
                              :min="0"
                              :label="$tc('sw-product.settingsForm.labelMinPurchase')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderMinPurchase')"
                              v-model="product.minPurchase">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_max_purchase_field %}
                    <sw-field type="number"
                              numberType="int"
                              :min="0"
                              :label="$tc('sw-product.settingsForm.labelMaxPurchase')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderMaxPurchase')"
                              v-model="product.maxPurchase">
                    </sw-field>
                {% endblock %}

            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
                {% block sw_product_settings_form_ean_field %}
                    <sw-field type="text"
                              :label="$tc('sw-product.settingsForm.labelEan')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderEan')"
                              v-model="product.ean">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_manufacturer_number_field %}
                    <sw-field type="text"
                              :label="$tc('sw-product.settingsForm.labelManufacturerNumber')"
                              :placeholder="$tc('sw-product.settingsForm.placeholderManufacturerNumber')"
                              v-model="product.manufacturerNumber">
                    </sw-field>
                {% endblock %}
            </sw-container>

            <sw-container columns="repeat(auto-fit, minmax(200px, 1fr)" gap="0px 30px" align="center">
                {% block sw_product_settings_form_shipping_free_field %}
                    <sw-field type="switch"
                              bordered
                              :label="$tc('sw-product.settingsForm.labelShippingFree')"
                              v-model="product.shippingFree">
                    </sw-field>
                {% endblock %}

                {% block sw_product_settings_form_mark_as_topseller_field %}
                    <sw-field type="switch"
                              bordered
                              :label="$tc('sw-product.settingsForm.labelMarkAsTopseller')"
                              v-model="product.markAsTopseller">
                    </sw-field>
                {% endblock %}
            </sw-container>
        {% endblock %}
    </div>
{% endblock %}
