@import "~scss/variables";

.sw-product-list {
    .sw-product-list__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .sw-product-list__variant-indicator {
        padding-top: var(--scale-size-4);
        padding-bottom: var(--scale-size-4);
        margin-right: var(--scale-size-12);
    }

    .sw-product-list__digital-indicator {
        height: var(--scale-size-24);
        padding: var(--scale-size-4) var(--scale-size8);
        margin: 0 0 0 var(--scale-size-8);
        min-width: auto;
        vertical-align: middle;
    }

    .sw-button-group a.sw-product-list__add-physical-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
