@import "~scss/variables";

$sw-product-list-color-error: $color-crimson-500;
$sw-product-list-color-success: $color-emerald-500;

.sw-product-list {
    .sw-product-list__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .is--inactive {
        color: $sw-product-list-color-error;
    }

    .is--active {
        color: $sw-product-list-color-success;
    }

    .sw-product-list__variant-indicator {
        padding-top: 4px;
        padding-bottom: 4px;
        margin-right: 12px;
    }
}
