.sw-product-packaging-form {
    &__description {
        margin-bottom: var(--scale-size-32);
        color: var(--color-text-primary-default);
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-regular);
        line-height: var(--font-line-height-s);
    }
}
