/* stylelint-disable max-nesting-depth */
@import "~scss/variables";
@import "~scss/mixins";

.sw-flow-app-action-modal {
    &__header {
        justify-content: flex-start;
    }

    &__app-badge {
        padding: 4px 6px;
        background: $color-gray-100;
        border-radius: 4px;
        margin-left: 8px;
        font-size: $font-size-xs;
    }

    .sw-field--checkbox__content .sw-field .sw-field__label label {
        flex-grow: inherit;
        margin-right: 10px;
    }

    &__headcontent {
        margin-bottom: 28px;
    }

    &__headline {
        font-family: $font-family-default;
        font-size: $font-size-s;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.08px;
        margin-bottom: 8px;
        color: $color-darkgray-200;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &__paragraph {
        font-family: $font-family-default;
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-s;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: 0.08px;
        margin-bottom: 8px;
        color: $color-darkgray-200;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
}
