{% block page_product_detail_gallery_inner %}
	<div class="product-detail-gallery">
		{#TODO: NEXT-1915 - gallery#}
		<img src="{{ asset(page.product.cover.media.url) }}"
		     class="product-detail-image img-fluid"
		     itemprop="image"
		     alt="{{ page.product.cover.media.fileName }}">
	</div>
{% endblock %}
