{% block page_product_detail_gallery_inner %}
	<div class="product-detail-gallery">
		{#TODO: NEXT-1915 - gallery#}
		{# <img src="{{ asset(page.product.cover.media.url) }}"
		     class="product-detail-image img-fluid"
		     itemprop="image"
		     alt="{{ page.product.cover.media.fileName }}"> #}

        <div id="customize_wrapper">
            <style>
                .tns-nav-active .img-thumbnail {
                    border-color: #0000F0;
                }
            </style>

            <div id="gallery" class="d-flex mb-3">
                <div class="h-100">
                    <img src="https://www.shopwaredemo.de/media/image/89/b5/50/SW10052_600x600.jpg" class="img-fluid">
                </div>
                <div class="h-100">
                    <img src="https://www.shopwaredemo.de/media/image/c2/04/00/SW10052_1_600x600.jpg" class="img-fluid">
                </div>
                <div class="h-100">
                    <img src="https://www.shopwaredemo.de/media/image/1e/e1/09/SW10052_2_600x600.jpg" class="img-fluid">
                </div>
            </div>

            <div class="customize-tools">
                <ul class="thumbnails list-inline list-unstyled" id="customize-thumbnails" aria-label="Carousel Pagination">
                    <li data-nav="0"
                        aria-label="Carousel Page 1"
                        aria-controls="gallery"
                        class="list-inline-item"
                        tabindex="-1"
                        style="width: 80px;">
                        <img src="https://www.shopwaredemo.de/media/image/89/b5/50/SW10052_600x600.jpg"
                            alt=""
                            width="600"
                            height="400"
                            class="img-thumbnail">
                    </li>
                    <li data-nav="1"
                        aria-label="Carousel Page 2"
                        aria-controls="gallery"
                        class="list-inline-item"
                        tabindex="-1"
                        style="width: 80px;">
                        <img src="https://www.shopwaredemo.de/media/image/c2/04/00/SW10052_1_600x600.jpg"
                            alt=""
                            width="600"
                            height="400"
                            class="img-thumbnail">
                    </li>
                    <li data-nav="2"
                        aria-label="Carousel Page 3 (Current Slide)"
                        aria-controls="gallery"
                        class="list-inline-item"
                        style="width: 80px;">
                        <img src="https://www.shopwaredemo.de/media/image/1e/e1/09/SW10052_2_600x600.jpg"
                            alt=""
                            width="600"
                            height="400"
                            class="img-thumbnail">
                    </li>
                </ul>
            </div>
        </div>

	</div>
{% endblock %}