{% block page_product_detail_tabs_inner %}
    <div class="card card-tabs">
        {% block page_product_detail_tabs_navigation %}
            <div class="card-header product-detail-tab-navigation">
                {% block page_product_detail_tabs_navigation_container %}
                    <ul class="nav nav-tabs product-detail-tab-navigation-list"
                        id="product-detail-tabs"
                        role="tablist">
                        {% block page_product_detail_tabs_navigation_description %}
                            <li class="nav-item">
                                <a class="nav-link {% if (ratingSuccess != 1) and (ratingSuccess != -1) %}active{% endif %} product-detail-tab-navigation-link"
                                   id="description-tab"
                                   data-toggle="tab"
                                   data-offcanvas-tabs="true"
                                   href="#description-tab-pane"
                                   role="tab"
                                   aria-controls="description-tab-pane"
                                   aria-selected="true">
                                    <span>{{ "detail.tabsDescription"|trans }}</span>
                                    <span class="product-detail-tab-navigation-icon">
                                        {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                                    </span>
                                    <span class="product-detail-tab-preview">
                                        {{ page.product.translated.description|raw|striptags|truncate(125) }} <span class="product-detail-tab-preview-more">{{ "detail.tabsPreviewMore"|trans }}</span>
                                    </span>
                                </a>
                            </li>
                        {% endblock %}
                        {% block page_product_detail_tabs_navigation_review %}
                            {% if shopware.config.detail.showReviews %}
                                <li class="nav-item">
                                    <a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link"
                                       id="review-tab"
                                       data-toggle="tab"
                                       data-offcanvas-tabs="true"
                                       href="#review-tab-pane"
                                       role="tab"
                                       aria-controls="review-tab-pane"
                                       aria-selected="true">
                                        {{ "detail.tabsReview"|trans }}
                                        <span class="product-detail-tab-navigation-icon">
                                            {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                                        </span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_product_detail_tabs_content %}
            <div class="product-detail-tabs-content card-body">
                {% block page_product_detail_tabs_content_container %}
                    <div class="tab-content">
                        {% block page_product_detail_tabs_content_description %}
                            <div class="tab-pane fade show {% if (ratingSuccess != 1) and (ratingSuccess != -1) %}active{% endif %}"
                                 id="description-tab-pane"
                                 role="tabpanel"
                                 aria-labelledby="description-tab">
                                {% sw_include '@Storefront/page/product-detail/description.html.twig' %}
                            </div>
                        {% endblock %}

                        {% block page_product_detail_tabs_content_review %}
                            {% if shopware.config.detail.showReviews %}
                                <div class="tab-pane fade show {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %}"
                                     id="review-tab-pane"
                                     role="tabpanel"
                                     aria-labelledby="review-tab">
                                    {% sw_include '@Storefront/page/product-detail/review/review.html.twig' %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
