<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_send_document_modal %}
<sw-modal
    class="sw-order-send-document-modal"
    :title="$tc('sw-order.documentCard.labelSendDocument')"
    :is-loading="isLoading"
    @modal-close="$emit('modal-close')"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_send_document_modal_info %}
    <sw-container
        class="sw-order-send-document-modal__info-container"
        columns="1fr 1fr 1fr"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_send_document_modal_info_number %}
        <sw-description-list>
            <dt>{{ $tc('sw-order.documentSendModal.labelNumber') }}</dt>
            <dd>{{ document.config.documentNumber }}</dd>
        </sw-description-list>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_send_document_modal_info_type %}
        <sw-description-list>
            <dt>{{ $tc('sw-order.documentSendModal.labelType') }}</dt>
            <dd>{{ document.documentType.name }}</dd>
        </sw-description-list>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_send_document_modal_info_date %}
        <sw-description-list>
            <dt>{{ $tc('sw-order.documentSendModal.labelDate') }}</dt>
            <dd>{{ document.createdAt | date({hour: '2-digit', minute: '2-digit'}) }}</dd>
        </sw-description-list>
        {% endblock %}
    </sw-container>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_send_document_modal_mail_template_select %}
    <sw-entity-single-select
        v-model="mailTemplateId"
        entity="mail_template"
        :criteria="mailTemplateCriteria"
        label-property="mailTemplateType.name"
        :label="$tc('sw-order.documentSendModal.labelMailTemplate')"
        required
        @change="onMailTemplateChange"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_send_document_modal_customer_mail_select %}
    <sw-text-field
        v-model="recipient"
        :label="$tc('sw-order.documentSendModal.labelRecipient')"
        required
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_send_document_modal_subject %}
    <sw-text-field
        v-model="subject"
        :label="$tc('sw-order.documentSendModal.labelSubject')"
        required
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_send_document_modal_mail_content %}
    <div
        class="sw-order-send-document-modal__email-content-label"
    >
        {{ $tc('sw-order.documentSendModal.labelContent') }}
    </div>

    <div
        class="sw-order-send-document-modal__email-content"
        v-html="$sanitize(content)"
    >
    </div>
    {% endblock %}

    <template #modal-footer>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_send_document_modal_secondary_action %}
        <sw-button
            @click="$emit('modal-close')"
        >
            {{ $tc('sw-order.documentSendModal.labelClose') }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_send_document_modal_primary_action %}
        <sw-button
            :disabled="primaryActionDisabled"
            variant="primary"
            @click="onSendDocument"
        >
            {{ $tc('sw-order.documentCard.labelSendDocument') }}
        </sw-button>
        {% endblock %}
    </template>
</sw-modal>
{% endblock %}
