@import "~scss/variables";

.sw-order-send-document-modal {
    &__info-container {
        margin-bottom: 25px;

        .sw-description-list {
            dt,
            dd {
                padding: 0;
            }
        }
    }

    &__email-content-label {
        line-height: $font-size-s;
        font-size: $font-size-xs;
        color: var(--color-text-secondary-default);
    }

    &__email-content {
        margin-top: 8px;
        padding: 15px;
        border: 1px solid var(--color-border-primary-default);
        border-radius: $border-radius-default;
        overflow: scroll;
        background: var(--color-background-tertiary-default);
        line-height: 22px;
        min-height: 125px;
        max-height: 300px;
        resize: vertical;
        cursor: default !important;
        height: 137px;
    }
}
