{% block layout_header_actions_cart_widget %}
    <span class="header-cart-icon">
        {% block layout_header_actions_cart_widget_icon %}
            {% sw_icon 'bag' %}
        {% endblock %}
    </span>
    {% if page.cart.lineItems|length > 0 %}
        {% block layout_header_actions_cart_widget_badge %}
            <span class="badge {{ bgClass }}-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
        {% endblock %}
    {% endif %}
    <span class="header-cart-total">
        {% block layout_header_actions_cart_widget_total %}
            {{ page.cart.price.positionPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        {% endblock %}
    </span>
{% endblock %}
