<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_error %}
<div class="sw-error">
    <div class="sw-error__container">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_error_illustration %}
        <div class="sw-error__illustration">
            <img
                :src="imagePath"
                alt=""
            >
        </div>
        {% endblock %}

        <div class="sw-error__content">
            <slot>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_error_contend %}
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_error_status_code %}
                <div class="sw-error__status-code">
                    {{ statusCode }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_error_message %}
                <div class="sw-error__message">
                    {{ message }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_error_stack %}
                <code
                    v-if="showStack"
                    class="sw-error__stack"
                >{{ error.stack }}</code>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_error_link %}
                <sw-button
                    v-if="showLink"
                    variant="primary"
                    :router-link="routerLink"
                >
                    {{ linkText }}
                </sw-button>
                {% endblock %}
                {% endblock %}
            </slot>
        </div>
    </div>
</div>
{% endblock %}
