{% block sw_cms_element_form %}
    <div class="sw-cms-el-form">

        <div v-html="form"></div>

        {#<div v-if="element.config.type.value == 'contact'">#}
            {#contact#}

        {#</div>#}
        {#<div v-else-if="element.config.type.value == 'newsletter'">#}
            {#newsletter#}
        {#</div>#}

        {#Typ: <span v-html="element.config.type.value"></span><br>#}
        {#Title: <span v-html="element.config.title.value"></span><br>#}
        {#Form Content: <div v-html="element.config.content.value"></div>#}
        {#confirmationText: <span v-html="element.config.confirmationText.value"></span>#}

    </div>
{% endblock %}
