<div class="sw-desktop">
    <h1>sw-desktop</h1>
    <aside>
        <ul>
            <li v-for="entry, routeName in mainMenuEntries">
                <router-link :to="{ name: routeName}">
                    <i :class="getIconName(entry.icon)" :style="{ 'color': entry.color }"></i>
                    {{ entry.name }}
                </router-link>
            </li>
            <li>
                <strong>Manually registered menu entries</strong>
            </li>
            <li>
                <router-link :to="{ name: 'core.dashboard.index'}">
                    Dashboard
                </router-link>
            </li>
            <li>
                <router-link :to="{ name: 'core.login.index'}">
                    Login / Signin
                </router-link>
            </li>

            <li>
                <router-link :to="{ name: 'core.product.index'}">
                    Product overview
                </router-link>
            </li>

            <li>
                <router-link :to="{ name: 'core.product.extension.index'}">
                    Product Extension
                </router-link>
            </li>
        </ul>
    </aside>
    <router-view></router-view>
</div>