@import '~scss/variables';

.is--drag-element {
    position: absolute;
    pointer-events: none;
    touch-action: none;
    user-focus: none;
    user-select: none;
    z-index: $z-index-dragdrop;
    box-shadow: 0 0 4px 0 $color-shopware-blue;
    cursor: grab;
    overflow: hidden;

    #{$dark-theme-class} & {
        box-shadow: 0 0 4px 0 lighten($color-shopware-blue, $dark-theme-contrast-factor);
    }

    & > * {
        user-focus: none;
        user-select: none;
        user-input: none;
        user-modify: none;
        pointer-events: none;
        touch-action: none;
        -webkit-user-drag: none;
    }

    &.is--valid-drag {
        box-shadow: 0 0 4px 0 $color-emerald;

        #{$dark-theme-class} & {
            box-shadow: 0 0 4px 0 lighten($color-emerald, $dark-theme-contrast-factor);
        }
    }

    &.is--invalid-drag {
        box-shadow: 0 0 4px 0 $color-crimson;

        #{$dark-theme-class} & {
            box-shadow: 0 0 4px 0 lighten($color-crimson, $dark-theme-contrast-factor);
        }
    }
}

.is--draggable {
    user-focus: none;
    user-select: none;
    cursor: grab;

    img {
        user-focus: none;
        user-select: none;
        user-input: none;
        user-modify: none;
        pointer-events: none;
        touch-action: none;
        -webkit-user-drag: none;
    }
}

.is--dragging {
    background: $color-light-gray;
    border: 1px dashed $color-steam-cloud;
    box-shadow: none;
    color: $color-light-gray;
    cursor: grab;

    #{$dark-theme-class} & {
        color: lighten($color-light-gray, $dark-theme-contrast-factor);
        background: darken($color-light-gray, $dark-theme-contrast-factor);
        border: 1px dashed lighten($color-steam-cloud, $dark-theme-contrast-factor);
    }

    & > * {
        opacity: 0;
    }
}
