@import '~scss/variables';

$sw-tooltip-z-index: $z-index-tooltip;
$sw-tooltip-color-background: $color-biscay;
$sw-tooltip-color: $color-white;
$sw-tooltip-border-radius: $border-radius-default;

.sw-tooltip {
    position: absolute;
    z-index: $sw-tooltip-z-index;
    background-color: $sw-tooltip-color-background;
    color: $sw-tooltip-color;
    border-radius: $sw-tooltip-border-radius;
    padding: 12px 16px;
    font-size: 14px;
    word-wrap: break-word;

    &:before {
        content: '';
        position: absolute;
        height: 8px;
        width: 8px;
        transform: rotate(45deg);
        background: $sw-tooltip-color-background;
    }

    &.sw-tooltip--top:before {
        bottom: -4px;
        margin-left: -4px;
        left: 50%;
    }

    &.sw-tooltip--bottom:before {
        top: -4px;
        margin-left: -4px;
        left: 50%;
    }

    &.sw-tooltip--left:before {
        top: 50%;
        margin-top: -4px;
        right: -4px;
    }

    &.sw-tooltip--right:before {
        top: 50%;
        margin-top: -4px;
        left: -4px;
    }
}
