.sw-notification-center__context-button--new-available::after {
    content: "";
    display: block;
    width: var(--scale-size-6);
    height: var(--scale-size-6);
    border-radius: 50%;
    background-color: var(--color-icon-critical-default);
    position: absolute;
    top: var(--scale-size-2);
    right: var(--scale-size-2);
}

.sw-notification-center__context-button.is--active {
    background-color: var(--color-interaction-secondary-hover);
}

.sw-notification-center__content {
    width: 22.5rem;
    background-color: var(--color-elevation-surface-default);
    border: 1px solid var(--color-border-secondary-default);
    border-radius: var(--border-radius-m);
    box-shadow: 0 6px 24px -8px var(--color-elevation-shadow-default);
    overflow: hidden;

    .sw-notification-center__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-border-secondary-default);
        padding: var(--scale-size-18) var(--scale-size-24);
    }

    .sw-notification-center__title {
        margin: 0;
        font-size: var(--font-size-s);
        line-height: var(--font-line-height-s);
        font-weight: var(--font-weight-semibold);
        color: var(--color-text-primary-default);
    }

    .sw-notification-center__notification-container {
        overflow-y: auto;
        max-height: 37.5rem;
    }

    .sw-notification-center__empty-text {
        color: var(--color-text-primary-default);
        padding: var(--scale-size-18) var(--scale-size-24);
        font-size: var(--font-size-xs);
    }
}
