@import "~scss/variables";

.sw-review-creation {
    .sw-review-creation__buttons {
        display: flex;
        align-items: center;

        .sw-button:not(:last-child) {
            margin-right: 16px;
        }

        .saas-rufus-gtc-checkbox {
            margin-bottom: 0;
        }
    }
}
