@import "~scss/variables";

.sw-category-detail-base {
    .sw-category-detail-base__type-container {
        position: relative;
    }

    .sw-category-detail-base__active {
        display: grid;
        align-items: center;
    }

    .sw-category-detail-base__tags {
        margin-bottom: 14px;
    }

    .sw-category-detail__menu {
        .sw-category-detail__menu-clickable {
            margin-top: 16px;
        }
    }

    .sw-category-detail-base__description {
        margin-top: 22px;
    }

    .sw-category-detail-base__products {
        &.sw-card .sw-card__content {
            padding: 0;
        }
    }

    .sw-category-detail-base__product-search {
        padding: 30px;
    }

    .sw-category-detail-base__product-delete {
        z-index: 5;
        position: absolute;
        right: 20px;
        top: 122px;
    }

    .sw-empty-state {
        position: relative;
    }

    .sw-category-detail-base__product-stream-preview-link {
        text-align: right;
        font-size: $font-size-small;
        margin-bottom: 32px;

        a {
            color: $color-shopware-brand-500;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
        }

        .sw-icon {
            margin-left: 6px;
        }
    }

    .sw-many-to-many-assignment-card__select-container {
        background-color: $color-gray-100;
    }

    .sw-product-stream-grid-preview__grid {
        border-top: 1px solid $color-gray-300;
    }

    .sw-category-detail__product-stream-select {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1580px) {
        .sw-card .sw-card__title {
            width: inherit;
            position: inherit;
            left: inherit;
            top: inherit;
            text-align: inherit;
        }
    }
}
