{% block sw_category_detail_base %}
<div class="sw-category-detail-base">
    {% block sw_category_detail_information %}
    <sw-card
        :title="$tc('sw-category.base.general.headlineInformationCard')"
        :is-loading="isLoading"
    >
        <sw-container
            columns="repeat(auto-fit, minmax(150px, 1fr))"
            gap="0px 30px"
        >
            {% block sw_category_detail_information_name %}
            <sw-text-field
                v-model="category.name"
                required
                name="categoryName"
                validation="required"
                :disabled="!acl.can('category.editor')"
                :label="$tc('sw-category.base.general.categoryNameLabel')"
                :placeholder="placeholder(category, 'name')"
                :error="categoryNameError"
            />
            {% endblock %}

            {% block sw_category_detail_information_active %}
            <sw-switch-field
                v-model="category.active"
                :disabled="!acl.can('category.editor')"
                name="categoryActive"
                class="sw-category-detail-base__active"
                :label="$tc('sw-category.base.general.isCategoryActiveLabel')"
            />
            {% endblock %}
        </sw-container>

        {% block sw_category_detail_information_tags %}
        <sw-entity-tag-select
            v-if="category && !isLoading"
            v-model="category.tags"
            class="sw-category-detail-base__tags"
            :label="$tc('sw-category.base.general.labelCategoryTags')"
            :placeholder="$tc('sw-category.base.general.labelCategoryTagsPlaceholder')"
            :disabled="!acl.can('category.editor')"
        />
        {% endblock %}

        {% block sw_category_detail_information_type %}
        <div class="sw-category-detail-base__type-container">

            {% block sw_category_detail_information_type_select %}
            <sw-single-select
                v-model="category.type"
                class="sw-category-detail-base__type-selection"
                :help-text="categoryTypeHelpText"
                :label="$tc('sw-category.base.general.types.title')"
                :disabled="!acl.can('category.editor')"
                :error="categoryTypeError"
                :options="categoryTypes"
            />
            {% endblock %}

        </div>
        {% endblock %}

    </sw-card>
    {% endblock %}

    <!-- Type specific settings -->

    {% block sw_category_detail_entry_point %}
    <sw-category-entry-point-card
        v-if="(category.type === 'folder' || category.type === 'page') && !category.isColumn"
        v-bind="{ category, isLoading }"
    />
    {% endblock %}

    {% block sw_category_detail_link %}
    <sw-category-link-settings
        v-if="category.type === 'link'"
        v-bind="{ category, isLoading }"
    />
    {% endblock %}

    {# @deprecated tag:v6.5.0 - moved to cms tab in block `sw_category_detail_cms_layout` #}
    {% block sw_category_detail_layout %}{% endblock %}

    <template v-if="category.type !== 'link'">
        {% block sw_category_detail_menu %}
        <sw-category-detail-menu v-bind="{ category, isLoading }" />
        {% endblock %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_products %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_type_select %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_type_select_field %}{% endblock %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_manual_alert %}{% endblock %}

        {% endblock %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_stream_select %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_stream_select_field %}{% endblock %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_stream_preview_link %}{% endblock %}

        {% endblock %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_product_assignment_stream_preview_grid %}{% endblock %}

        {% endblock %}

        {# @deprecated tag:v6.5.0 - moved to separate tab with same block name #}
        {% block sw_category_detail_seo %}{% endblock %}

        {# @deprecated tag:v6.5.0 - will be removed #}
        {% block sw_category_detail_seo_card %}{% endblock %}
    </template>

    {% block sw_category_detail_attribute_sets %}
    <sw-card
        v-if="customFieldSetsArray.length > 0 && category.type !=='folder'"
        :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
        :is-loading="isLoading"
    >
        <sw-custom-field-set-renderer
            :entity="category"
            :sets="customFieldSetsArray"
        />
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
