{% block sw_condition_value_content %}
<div class="sw-condition-shipping-method sw-condition__condition-value">
    {% block sw_condition_shipping_method_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_shipping_method_field_shipping_method_ids %}
    <sw-entity-multi-select
        size="medium"
        entity="shipping_method"
        :disabled="disabled"
        :entity-collection="shippingMethods"
        @change="setShippingMethodIds"
    />
    {% endblock %}
</div>
{% endblock %}
