{% block sw_maintain_currencies_modal %}
    <sw-modal class="sw-maintain-currencies-modal"
              :title="$tc('sw-maintain-currencies-modal.title')"
              @modal-close="onCancel">

        {% block sw_maintain_currencies_modal_grid %}
            <sw-data-grid :dataSource="currencies"
                          :columns="maintainCurrencyColumns"
                          :showSelection="false"
                          :compactMode="false"
                          :showActions="false">

                {% block sw_maintain_currencies_modal_grid_column_name %}
                    <template slot="column-name" slot-scope="{ item }">

                        {% block sw_maintain_currencies_modal_grid_column_name_inherit_field %}
                            <sw-inheritance-switch v-if="!item.isSystemDefault"
                                                   class="sw-price-form__inherited-icon"
                                                   :isInherited="isCurrencyInherited(item)"
                                                   @inheritance-restore="onInheritanceRestore(item.id)"
                                                   @inheritance-remove="onInheritanceRemove(item)">
                            </sw-inheritance-switch>
                        {% endblock %}

                        {% block sw_maintain_currencies_modal_grid_column_name_item_name %}
                            <p>{{ item.translated.name || item.name }}</p>
                        {% endblock %}
                    </template>
                {% endblock %}

                {% block sw_maintain_currencies_modal_grid_column_price %}
                    <template slot="column-price" slot-scope="{ item }">

                        {% block sw_maintain_currencies_modal_grid_column_price_field %}
                            <sw-price-field :price="prices"
                                            :defaultPrice="defaultPrice"
                                            :taxRate="taxRate"
                                            :label="false"
                                            enableInheritance
                                            :currency="item">
                            </sw-price-field>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-data-grid>
        {% endblock %}

        {% block sw_maintain_currencies_modal_footer %}
            <template slot="modal-footer">

                {% block sw_maintain_currencies_modal_footer_button_cancel %}
                    <sw-button size="small" @click="onCancel">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_maintain_currencies_modal_footer_button_apply %}
                    <sw-button variant="primary" size="small" @click="onApply">
                        {{ $tc('global.default.apply') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
