{% block sw_cms_element_product_listing_config %}
<div class="sw-cms-el-config-product-listing">

    <sw-tabs default-item="content">
        <template slot-scope="{ active }">
            <sw-tabs-item
                name="content"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>

            <sw-tabs-item
                name="sorting"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.productListing.config.tab.sorting') }}
            </sw-tabs-item>

            <sw-tabs-item
                name="filter"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.productListing.config.tab.filter') }}
            </sw-tabs-item>
        </template>

        <template
            slot="content"
            slot-scope="{ active }"
        >
            <template v-if="active === 'content'">

                {% block sw_cms_element_product_listing_config_layout_select %}
                <sw-select-field
                    v-model="element.config.boxLayout.value"
                    :label="$tc('sw-cms.elements.productBox.config.label.layoutType')"
                >
                    {% block sw_cms_element_product_listing_config_layout_select_options %}
                    <option value="standard">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
                    </option>
                    <option value="image">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
                    </option>
                    <option value="minimal">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
                    </option>
                    {% endblock %}
                </sw-select-field>
                {% endblock %}

                {% block sw_cms_element_product_listing_config_info %}
                <sw-alert variant="info">
                    {{ $tc('sw-cms.elements.general.config.infoText.listingElement') }}
                </sw-alert>
                {% endblock %}
            </template>

            <template v-if="active === 'sorting'">
                {% block sw_cms_element_product_listing_config_show_sorting %}
                <sw-switch-field
                    v-model="element.config.showSorting.value"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelShowSorting')"
                />
                {% endblock %}

                {% block sw_cms_element_product_listing_config_use_default_sorting %}
                <sw-switch-field
                    v-model="element.config.useCustomSorting.value"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelUseCustomSortings')"
                    :help-text="$tc('sw-cms.elements.productListing.config.sorting.helpTextUseCustomSortings')"
                    class="sw-cms-el-config-product-listing-custom-sortings"
                />
                {% endblock %}

                {% block sw_cms_element_product_listing_config_default_sorting %}
                <sw-entity-single-select
                    v-if="showSortingGrid"
                    :value="defaultSorting.id"
                    entity="product_sorting"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelDefaultSorting')"
                    :help-text="$tc('sw-cms.elements.productListing.config.sorting.helpTextDefaultSorting')"
                    :criteria="allProductSortingsCriteria"
                    label-property="label"
                    @option-select="onDefaultSortingChange"
                />
                {% endblock %}

                {% block sw_cms_element_product_listing_config_available_sortings %}
                <sw-entity-multi-select
                    v-if="showSortingGrid"
                    v-model="productSortings"
                    class="sw-cms-el-config-product-listing-config-sorting-grid__select"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelProductSortings')"
                    label-property="label"
                    :criteria="allProductSortingsCriteria"
                    :hide-labels="true"
                    :placeholder="$tc('sw-cms.elements.productListing.config.sorting.placeHolderProductSortings')"
                >
                    <template #result-item="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, isSelected, addItem, getKey }">
                        <slot
                            name="result-item"
                            v-bind="{ item, index, labelProperty, valueProperty: 'id', searchTerm, highlightSearchTerm, isSelected, addItem, getKey }"
                        >
                            <li
                                is="sw-select-result"
                                v-tooltip="{
                                    showDelay: 300,
                                    message: $tc('sw-cms.elements.productListing.config.sorting.defaultSortingInUse'),
                                    disabled: !isDefaultSorting(item)
                                }"
                                :selected="isSelected(item)"
                                :disabled="isDefaultSorting(item)"
                                v-bind="{ item, index }"
                                @item-select="addItem"
                            >
                                {% block sw_entity_multi_select_base_results_list_result_label %}
                                <slot
                                    name="result-label-property"
                                    v-bind="{ item, index, labelProperty, valueProperty: 'id', searchTerm, highlightSearchTerm, getKey }"
                                >
                                    <sw-highlight-text
                                        v-if="highlightSearchTerm"
                                        :text="getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`)"
                                        :search-term="searchTerm"
                                    />
                                    <template v-else>
                                        {{ getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                                    </template>
                                </slot>
                                {% endblock %}
                            </li>
                        </slot>
                    </template>
                </sw-entity-multi-select>
                {% endblock %}

                {% block sw_cms_element_product_listing_config_sorting_grid %}
                <sw-cms-el-config-product-listing-config-sorting-grid
                    v-if="showSortingGrid"
                    :product-sortings="productSortings"
                    :default-sorting="defaultSorting"
                />
                {% endblock %}
            </template>

            <template v-if="active === 'filter'">
                {% block sw_cms_element_product_listing_config_filter_info %}
                <sw-alert variant="info">
                    {{ $tc('sw-cms.elements.productListing.config.filter.infoText') }}
                </sw-alert>
                {% endblock %}

                {% block sw_cms_element_product_listing_config_filter_by_wrapper %}
                <sw-container
                    columns="1fr 1fr"
                    gap="0px 30px"
                >
                    {% block sw_cms_element_product_listing_config_filter_by_manufacturer %}
                    <sw-switch-field
                        v-model="filterByManufacturer"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterByManufacturer')"
                    />
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_by_rating %}
                    <sw-switch-field
                        v-model="filterByRating"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterByRating')"
                    />
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_by_price %}
                    <sw-switch-field
                        v-model="filterByPrice"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterByPrice')"
                    />
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_for_free_shipping %}
                    <sw-switch-field
                        v-model="filterByFreeShipping"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterForFreeShipping')"
                    />
                    {% endblock %}
                </sw-container>
                {% endblock %}

                {% block sw_cms_element_product_listing_config_filter_properties_wrapper %}
                <div v-if="showPropertySelection">

                    {% block sw_cms_element_product_listing_config_filter_spacer %}
                    <hr class="spacer">
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_properties_as_filter %}
                    {% block sw_cms_element_product_listing_config_filter_properties_as_filter_switch %}
                    <sw-switch-field
                        v-model="filterByProperties"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelUseFilterByProperties')"
                        :help-text="$tc('sw-cms.elements.productListing.config.filter.helpTextUseFilterByProperties')"
                    />
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_properties_as_filter_info_text %}
                    <div
                        class="sw-cms-el-config-product-listing-filter_properties_as_filter__description-text"
                        v-html="$tc('sw-cms.elements.productListing.config.filter.descriptionTextUseFilterByProperties')"
                    ></div>
                    {% endblock %}
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_property_search %}
                    <sw-simple-search-field
                        v-model="filterPropertiesTerm"
                        class="sw-cms-element-product-listing-config-filter-property-search"
                        variant="form"
                        :disabled="showFilterGrid"
                        @search-term-change="onFilterProperties"
                    />
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_property_grid %}
                    <template v-if="displayedProperties.length > 0">
                        <sw-cms-el-config-product-listing-config-filter-properties-grid
                            :disabled="showFilterGrid"
                            :properties="displayedProperties"
                            @property-status-changed="propertyStatusChanged"
                            @page-change="onPageChange"
                        />
                    </template>
                    {% endblock %}

                    {% block sw_cms_element_product_listing_config_filter_empty_state %}
                    <template v-if="displayedProperties.length < 1">
                        <div class="sw-cms-element-product-listing-config-filter__empty-state">
                            <img :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset">

                            <div class="sw-cms-element-product-listing-config-filter__empty-state--label">
                                <p></p><p>{{ $tc('sw-cms.elements.productListing.config.filter.gridEmptyStateLabel') }}</p>
                            </div>

                            <div class="sw-cms-element-product-listing-config-filter__empty-state--hint">
                                <p>{{ $tc('sw-cms.elements.productListing.config.filter.gridEmptyStateHint') }}</p>
                            </div>
                        </div>
                    </template>
                    {% endblock %}
                </div>
                {% endblock %}
            </template>
        </template>
    </sw-tabs>
</div>
{% endblock %}
