@import "~scss/variables";

.sw-cms-el-config-product-listing {
    div.sw-field--switch {
        margin: 0 0 0 5px;

        label {
            flex-grow: 0;
            margin-right: 0;
        }
    }

    div.sw-cms-el-config-product-listing-custom-sortings {
        margin-bottom: 18px;
    }

    .sw-select-selection-list {
        > li {
            width: 100%;
        }
    }

    .spacer {
        border: none;
        height: 1px;
        background-color: $color-gray-300;
        margin: 20px 0;
    }

    div.sw-cms-el-config-product-listing-filter_properties_as_filter__description-text {
        font-size: $font-size-small;
        margin-bottom: 20px;
        margin-left: 34px;
    }

    .sw-cms-element-product-listing-config-filter__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;

        .sw-cms-element-product-listing-config-filter__empty-state--label {
            margin-top: 25px;
            font-weight: 600;
        }
    }
}
