<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_listing_config %}
<div class="sw-cms-el-config-product-listing">

    <sw-tabs
        position-identifier="sw-cms-element-config-product-listing"
        default-item="content"
    >
        <template #default="{ active }">
            <sw-tabs-item
                class="sw-cms-el-config-product-listing__tab-content"
                name="content"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>

            <sw-tabs-item
                class="sw-cms-el-config-product-listing__tab-sorting"
                name="sorting"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.productListing.config.tab.sorting') }}
            </sw-tabs-item>

            <sw-tabs-item
                class="sw-cms-el-config-product-listing__tab-filter"
                name="filter"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.productListing.config.tab.filter') }}
            </sw-tabs-item>
        </template>

        <template
            #content="{ active }"
        >
            <template v-if="active === 'content'">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_layout_select %}
                <sw-select-field
                    v-model:value="element.config.boxLayout.value"
                    :label="$tc('sw-cms.elements.productBox.config.label.layoutType')"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_layout_select_options %}
                    <option value="standard">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
                    </option>
                    <option value="image">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
                    </option>
                    <option value="minimal">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
                    </option>
                    {% endblock %}
                </sw-select-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_info %}
                <sw-alert variant="info">
                    {{ $tc('sw-cms.elements.general.config.infoText.listingElement') }}
                </sw-alert>
                {% endblock %}
            </template>

            <template v-if="active === 'sorting'">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_show_sorting %}
                <sw-switch-field
                    v-model:value="element.config.showSorting.value"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelShowSorting')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_use_default_sorting %}
                <sw-switch-field
                    v-model:value="element.config.useCustomSorting.value"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelUseCustomSortings')"
                    :help-text="$tc('sw-cms.elements.productListing.config.sorting.helpTextUseCustomSortings')"
                    class="sw-cms-el-config-product-listing-custom-sortings"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_default_sorting %}
                <sw-entity-single-select
                    v-if="showSortingGrid"
                    class="sw-cms-element-config-product-listing__sorting-default-select"
                    entity="product_sorting"
                    label-property="label"
                    show-clearable-button
                    :value="defaultSorting.id"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelDefaultSorting')"
                    :help-text="$tc('sw-cms.elements.productListing.config.sorting.helpTextDefaultSorting')"
                    :criteria="allProductSortingsCriteria"
                    :placeholder="$tc('sw-cms.elements.productListing.config.sorting.placeholderDefaultProductSorting')"
                    @option-select="onDefaultSortingChange"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_available_sortings %}
                <sw-entity-multi-select
                    v-if="showSortingGrid"
                    v-model:entityCollection="productSortings"
                    class="sw-cms-el-config-product-listing-config-sorting-grid__select"
                    :label="$tc('sw-cms.elements.productListing.config.sorting.labelProductSortings')"
                    label-property="label"
                    :criteria="allProductSortingsCriteria"
                    :hide-labels="true"
                    :placeholder="$tc('sw-cms.elements.productListing.config.sorting.placeHolderProductSortings')"
                >
                    <template #result-item="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, isSelected, addItem, getKey }">
                        <slot
                            name="result-item"
                            v-bind="{ item, index, labelProperty, valueProperty: 'id', searchTerm, highlightSearchTerm, isSelected, addItem, getKey }"
                        >
                            <sw-select-result
                                v-tooltip="{
                                    showDelay: 300,
                                    message: $tc('sw-cms.elements.productListing.config.sorting.defaultSortingInUse'),
                                    disabled: !isDefaultSorting(item)
                                }"
                                :selected="isSelected(item)"
                                :disabled="isDefaultSorting(item)"
                                v-bind="{ item, index }"
                                @item-select="addItem"
                            >
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_entity_multi_select_base_results_list_result_label %}
                                <slot
                                    name="result-label-property"
                                    v-bind="{ item, index, labelProperty, valueProperty: 'id', searchTerm, highlightSearchTerm, getKey }"
                                >
                                    <sw-highlight-text
                                        v-if="highlightSearchTerm"
                                        :text="getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`)"
                                        :search-term="searchTerm"
                                    />
                                    <template v-else>
                                        {{ getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                                    </template>
                                </slot>
                                {% endblock %}
                            </sw-select-result>
                        </slot>
                    </template>
                </sw-entity-multi-select>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_sorting_grid %}
                <sw-cms-el-config-product-listing-config-sorting-grid
                    v-if="showSortingGrid"
                    :product-sortings="productSortings"
                    :default-sorting="defaultSorting"
                />
                {% endblock %}
            </template>

            <template v-if="active === 'filter'">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_filter_info %}
                <sw-alert variant="info">
                    {{ $tc('sw-cms.elements.productListing.config.filter.infoText') }}
                </sw-alert>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_filter_by_wrapper %}
                <sw-container
                    columns="1fr 1fr"
                    gap="0px 30px"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_by_manufacturer %}
                    <sw-switch-field
                        v-model:value="filterByManufacturer"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterByManufacturer')"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_by_rating %}
                    <sw-switch-field
                        v-model:value="filterByRating"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterByRating')"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_by_price %}
                    <sw-switch-field
                        v-model:value="filterByPrice"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterByPrice')"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_for_free_shipping %}
                    <sw-switch-field
                        v-model:value="filterByFreeShipping"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelFilterForFreeShipping')"
                    />
                    {% endblock %}
                </sw-container>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_listing_config_filter_properties_wrapper %}
                <div>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_spacer %}
                    <hr class="spacer">
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_properties_as_filter %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_properties_as_filter_switch %}
                    <sw-switch-field
                        v-model:value="filterByProperties"
                        :label="$tc('sw-cms.elements.productListing.config.filter.labelUseFilterByProperties')"
                        :help-text="$tc('sw-cms.elements.productListing.config.filter.helpTextUseFilterByProperties')"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_properties_as_filter_info_text %}
                    <div
                        class="sw-cms-el-config-product-listing-filter_properties_as_filter__description-text"
                        v-html="$tc('sw-cms.elements.productListing.config.filter.descriptionTextUseFilterByProperties')"
                    ></div>
                    {% endblock %}
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_property_search %}
                    <sw-simple-search-field
                        v-model:value="filterPropertiesTerm"
                        class="sw-cms-element-product-listing-config-filter-property-search"
                        variant="form"
                        :disabled="showFilterGrid"
                        @search-term-change="onFilterProperties"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_property_grid %}
                    <div
                        v-if="showPropertySelection"
                        class="sw-cms-el-config-product-listing-property-grid"
                        :class="gridClasses"
                    >
                        <sw-data-grid
                            :data-source="properties"
                            :columns="gridColumns"
                            :compact-mode="true"
                            :allow-inline-edit="false"
                            :show-actions="false"
                            :show-selection="false"
                            plain-appearance
                        >

                            <template #column-status="{ item, column }">
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_cms_element_product_listing_config_filter_property_grid_column_status %}
                                <sw-switch-field
                                    :disabled="column.disabled"
                                    :value="item.active"
                                    @update:value="propertyStatusChanged($event, item.id)"
                                />
                            {% endblock %}
                            </template>

                            <template #pagination>
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_cms_element_product_listing_config_filter_property_grid_pagination %}
                                <sw-pagination
                                    v-if="!disabled"
                                    :page="propertiesPage"
                                    :limit="propertiesLimit"
                                    :total="propertiesTotal"
                                    :auto-hide="false"
                                    :steps="[]"
                                    @page-change="onPropertiesPageChange"
                                />
                            {% endblock %}
                            </template>
                        </sw-data-grid>
                    </div>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_listing_config_filter_empty_state %}
                    <sw-empty-state
                        v-else
                        :absolute="false"
                        :title="$tc('sw-cms.elements.productListing.config.filter.gridEmptyStateLabel')"
                        :subline="$tc('sw-cms.elements.productListing.config.filter.gridEmptyStateHint')"
                    >
                        <template #icon>
                            <img
                                :src="assetFilter('/administration/static/img/empty-states/products-empty-state.svg')"
                                alt="$tc('sw-cms.elements.productListing.config.filter.gridEmptyStateLabel')"
                            >
                        </template>
                    </sw-empty-state>
                    {% endblock %}
                </div>
                {% endblock %}
            </template>
        </template>
    </sw-tabs>
</div>
{% endblock %}
