@import "~scss/variables";
@import "~scss/mixins";
@import "sw-label-variant";

$sw-label-border-radius: $border-radius-default / 2;
$sw-label-pill-border-radius: 50px;
$sw-label-color-background: $color-iron;
$sw-label-color-text: $color-gutenberg;
$sw-label-color-border: darken($color-light-gray, 15%);
$sw-label-info-color-background: lighten($color-shopware-blue, 40%);
$sw-label-info-color-text: $color-shopware-blue;
$sw-label-info-color-border: $color-shopware-blue;
$sw-label-success-color-background: lighten($color-emerald, 40%);
$sw-label-success-color-text: darken($color-emerald, 5%);
$sw-label-success-color-border: $color-emerald;
$sw-label-danger-color-background: lighten($color-crimson, 42%);
$sw-label-danger-color-text: $color-crimson;
$sw-label-danger-color-border: $color-crimson;
$sw-label-warning-color-background: lighten($color-pumpkin-spice, 25%);
$sw-label-warning-color-text: darken($color-pumpkin-spice, 10%);
$sw-label-warning-color-border: $color-pumpkin-spice;
$sw-label-neutral-color-background: $sw-label-color-background;
$sw-label-neutral-color-text: $sw-label-color-text;
$sw-label-neutral-color-border: $color-steam-cloud;

.sw-label {
    @include truncate();
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 4px 12px 4px 12px;
    line-height: 22px;
    font-size: 13px;
    height: 32px;
    border: 1px solid $color-steam-cloud;
    background: $sw-label-color-background;
    border-radius: $sw-label-border-radius;
    color: $sw-label-color-text;
    flex-shrink: 0;
    cursor: default;

    &.sw-label--dismiss-able {
        padding-right: 40px;

        &:hover {
            &, .sw-label__dismiss {
                border-color: $color-shopware-blue;
                color: $color-shopware-blue;
            }
        }
    }

    &.sw-label--small {
        height: 24px;
        font-size: 12px;
        line-height: 18px;
        padding: 2px 5px;

        .sw-label__dismiss {
            width: 28px;
        }
    }

    .sw-label__dismiss {
        display: inline-block;
        position: absolute;
        width: 35px;
        height: 100%;
        padding: 4px 10px;
        right: 0;
        top: 0;
        color: $sw-label-color-text;
        font-size: 14px;
        text-align: center;
        background: 0 none;
        border: 0 none;
        cursor: pointer;
        text-decoration: none;
        line-height: 0;
        font-weight: bold;
        outline: none;

        .sw-icon {
            width: 12px;
            height: 12px;
        }
    }

    &.sw-label--circle {
        width: 24px;
        height: 24px;
        border-radius: 16px;
        padding: 0 4px 4px 4px;
        border: 0;
    }

    &.sw-label--ghost {
        background: transparent;
        border-color: $sw-label-color-border;
    }

    &.sw-label--pill {
        border-radius: $sw-label-pill-border-radius;

        .sw-label__dismiss {
            border-radius: $sw-label-pill-border-radius;
        }
    }

    &.sw-label--caps {
        text-transform: uppercase;
    }

    &.sw-label--light {
        color: lighten($sw-label-color-text, 10);
    }

    &.sw-label--info,
    &.sw-label--danger,
    &.sw-label--success,
    &.sw-label--warning,
    &.sw-label--neutral {

        &.sw-label--small {
            border-radius: $sw-label-pill-border-radius;
            line-height: 14px;
            font-weight: 600;
            font-size: 12px;
            padding: 0 5px;
            padding-left: 15px;
            height: 16px;
        }

        &.sw-label--small::before {
            content: '';
            display: block;
            height: 6px;
            width: 6px;
            position: absolute;
            border-radius: 50%;
            top: 4px;
            left: 5px;
        }
    }

    &.sw-label--info {
        @include sw-label-variant($sw-label-info-color-background, $sw-label-info-color-text, $sw-label-info-color-border);
    }

    &.sw-label--success {
        @include sw-label-variant($sw-label-success-color-background, $sw-label-success-color-text, $sw-label-success-color-border);
    }

    &.sw-label--danger {
        @include sw-label-variant($sw-label-danger-color-background, $sw-label-danger-color-text, $sw-label-danger-color-border);
    }

    &.sw-label--warning {
        @include sw-label-variant($sw-label-warning-color-background, $sw-label-warning-color-text, $sw-label-warning-color-border);
    }

    &.sw-label--neutral {
        @include sw-label-variant($sw-label-neutral-color-background, $sw-label-neutral-color-text, $sw-label-neutral-color-border);
    }
}
