<sw-modal
    class="sw-extension-buy-modal"
    :title="$tc('sw-extension-store.component.sw-extension-buy-modal.title')"
    size="404px"
    :isLoading="isLoading"
    @modal-close="emitClose">

    <template v-if="!hasSuccessfullyInstalledExtension">
        <div class="sw-extension-buy-modal__variants-selection">
            <div class="sw-extension-buy-modal__extension-summary">
                <img :src="extension.icon" class="sw-extension-buy-modal__extension-summary-icon">
                <h4 class="sw-extension-buy-modal__extension-summary-name">
                    {{ extension.label }}
                </h4>
            </div>

            <ul>
                <li v-for="variant in recommendedVariants"
                    :key="variant.id"
                    class="sw-extension-buy-modal__variants-card"
                    :class="variantCardClass(variant)"
                    @click="onChangeVariantSelection(variant)">

                    <div class="sw-extension-buy-modal__variants-card-input sw-field--radio">
                        <div class="sw-field__radio-input">
                            <input type="radio"
                                   name="variant-selection"
                                   :id="`sw-extension-buy-modal__variant-${variant.type}`"
                                   :value="variant.id"
                                   :checked="variant.id === selectedVariantId"
                                   :disabled="isLoading"/>
                            <div class="sw-field__radio-state"></div>
                        </div>
                    </div>

                    <label :for="`sw-extension-buy-modal__variant-${variant.type}`"
                           class="sw-extension-buy-modal__variant-description">
                        {{ variantsCardLabel(variant) }}
                    </label>

                    <span v-if="variant.trialPhaseIncluded">
                        {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantCard.hasTrialPhase') }}
                    </span>
                </li>
            </ul>
        </div>
        <div class="sw-extension-buy-modal__variant-summary">
            <p :class="vatIncludedClasses">
                {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantSummary.labelVat') }}
            </p>

            <p class="sw-extension-buy-modal__variant-summary-price">

                <span>
                    {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantSummary.labelPrice') }}
                </span>

                <span class="sw-extension-buy-modal__variant-summary-actual-price">
                    {{ $tc('sw-extension-store.general.labelPrice', variantRecommendation(selectedVariant), { price: formattedPrice }) }}
                </span>

            </p>

            <p :class="renewalDateClasses">
                {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantSummary.renewal', 0, { renewalDate: dateFilter(todayPlusOneMonth) }) }}
            </p>

        </div>

        <sw-gtc-checkbox v-model="tocAccepted"></sw-gtc-checkbox>

        <div v-if="extensionHasPermissions" class="sw-extension-buy-modal__checkbox sw-field sw-field--checkbox">
            <div class="sw-field--checkbox__content">
                <div class="sw-field__checkbox">
                    <input type="checkbox"
                           :id="`permissions-checkbox--${extension.name}`"
                           :name="`permissions-checkbox--${extension.name}`"
                           v-model="permissionsAccepted">

                    <div class="sw-field__checkbox-state">
                        <sw-icon name="small-default-checkmark-line-small" size="16"></sw-icon>
                    </div>
                </div>

                <div class="sw-field__label">
                    <label :for="`permissions-checkbox--${extension.name}`" class="is--required">
                        <span>{{ $t('sw-extension-store.component.sw-extension-buy-modal.labelAcceptPermissions') }}</span>
                    </label>
                    <sw-button @click="openPermissionsModal">
                        {{ $t('sw-extension-store.detail.labelButtonShowPermissions') }}
                    </sw-button>
                </div>
            </div>
        </div>

        <div v-if="extension.privacyPolicyExtensions"
             class="sw-extension-buy-modal__checkbox sw-field sw-field--checkbox">
            <div class="sw-field--checkbox__content">
                <div class="sw-field__checkbox">
                    <input type="checkbox"
                           :id="`privacy-extensions-checkbox--${extension.name}`"
                           :name="`privacy-extensions-checkbox--${extension.name}`"
                           v-model="privacyExtensionsAccepted">

                    <div class="sw-field__checkbox-state">
                        <sw-icon name="small-default-checkmark-line-small" size="16"></sw-icon>
                    </div>
                </div>

                <div class="sw-field__label">
                    <label :for="`privacy-extensions-checkbox--${extension.name}`" class="is--required">
                        <span>{{ $t('sw-extension-store.component.sw-extension-buy-modal.labelAcceptPrivacyExtensions') }}</span>
                    </label>
                    <sw-button @click="openPrivacyModal">
                        {{ $t('sw-extension-store.component.sw-extension-buy-modal.buttonShowPrivacyExtensions') }}
                    </sw-button>
                </div>
            </div>
        </div>

        <sw-alert v-if="!userCanBuyFromStore" variant="info">
            {{ $tc('sw-extension-store.component.sw-extension-buy-modal.alertCanNotBuy.text') }}
        </sw-alert>

        <sw-button variant="primary"
                   block
                   :disabled="!canPurchaseExtension"
                   @click="purchaseExtension">
            {{ purchaseButtonLabel }}
        </sw-button>

        <sw-extension-permissions-modal
            v-if="showPermissionsModal"
            :extensionLabel="extension.label"
            :permissions="extension.permissions"
            @modal-close="closePermissionsModal">
        </sw-extension-permissions-modal>

        <sw-extension-privacy-policy-extensions-modal
            v-if="showPrivacyModal"
            :extensionName="extension.label"
            :privacyPolicyExtensions="extension.privacyPolicyExtensions"
            @modal-close="closePrivacyModal">
        </sw-extension-privacy-policy-extensions-modal>
    </template>

    <template v-else>
        <div class="sw-extension-buy-modal__content-installed">
            <saas-rufus-circle-icon
                size="72"
                iconName="default-basic-checkmark-line"
                variant="success">
            </saas-rufus-circle-icon>

            <h3>{{ $tc('sw-extension-store.component.sw-extension-buy-modal.successNotification.titleSuccess') }}</h3>

            <p>{{ $tc('sw-extension-store.component.sw-extension-buy-modal.successNotification.subtitleSuccess') }}</p>

            <sw-button variant="primary"
                       block
                       @click="emitClose">
                {{ $tc('sw-extension-store.component.sw-extension-buy-modal.successNotification.labelButtonBack') }}
            </sw-button>
        </div>
    </template>
</sw-modal>
