@import "~scss/variables";

.sw-modal.sw-extension-rating-modal {
    font-size: $font-size-xs;
    line-height: 22px;

    .sw-review-creation-inputs__review,
    .sw-field--textarea {
        margin-bottom: 0;
    }

    .sw-modal__footer {
        grid-auto-columns: initial;
        justify-content: unset;

        .sw-gtc-checkbox .sw-field--checkbox {
            margin-bottom: 0;
        }

        .sw-extension-rating-modal__buttons {
            justify-self: end;
            grid-column-gap: 8px;
            display: flex;
        }
    }
}
