.sw-product-detail-context-prices {
    .sw-card {
        max-width: 1330px;
    }

    .context-price__toolbar {
        display: grid;
        grid-template-columns: 300px auto auto 1fr;
        grid-column-gap: 20px;

        .sw-field--select {
            select {
                padding: 6px 16px;
                line-height: 26px;
            }

            .sw-icon {
                top: 13px;
            }
        }
    }

    .context-price__prices {

    }
}