{% block page_content_element_text %}
    <div class="col">
        {% block page_content_element_text_inner %}
            <p class="cms-text">
                {{ element.data.content }}
            </p>
        {% endblock %}
    </div>
{% endblock %}
