{% block page_content_element_text %}
    <div class="col">
        {% block page_content_element_text_inner %}
            <p class="cms-text">
				{% for text in element.viewData.config %}
                	{{ text }}
				{% endfor %}
            </p>
        {% endblock %}
    </div>
{% endblock %}
