@import "~scss/variables";

.sw-product-restriction-selection {
    .sw-product-restriction-selection__container {
        box-sizing: border-box;
        background-color: transparent;
        margin-bottom: var(--scale-size-10);

        .sw-product-restriction-selection__select-group-wrapper {
            display: grid;
            box-sizing: border-box;
            grid-template-columns:
                minmax(
                    calc(var(--scale-size-128) + var(--scale-size-22)),
                    calc(var(--scale-size-160) + var(--scale-size-40))
                )
                minmax(
                    calc(var(--scale-size-80) + var(--scale-size-40)),
                    calc(var(--scale-size-128) + var(--scale-size-22))
                );
            background-color: var(--color-white);
            max-height: var(--scale-size-48);
            border-radius: var(--border-radius-xs) 0 0 var(--border-radius-xs);
            border-top: var(--scale-size-1) solid var(--color-gray-300);
            border-bottom: var(--scale-size-1) solid var(--color-gray-300);
        }

        .sw-block-field__block {
            border-width: 0;
        }

        .sw-field.sw-product-restriction-selection__select-group {
            margin-bottom: 0;
        }

        .sw-field.sw-product-restriction-selection__select-group select {
            color: var(--color-white);
            background-color: var(--color-gray-900);
            border-width: 0;
        }

        .sw-field.sw-product-restriction-selection__select-group .sw-field__select select:focus {
            color: var(--color-white);
        }

        .sw-field.sw-product-restriction-selection__select-group .sw-field__input {
            display: flex;
            position: relative;
        }

        .sw-field.sw-product-restriction-selection__select-group .sw-field__input::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            height: calc(var(--scale-size-40) + var(--scale-size-6));
            width: var(--scale-size-26);
            right: 0;
        }

        .sw-field.sw-product-restriction-selection__select-group .sw-field__input::after {
            content: "";
            position: relative;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: var(--scale-size-24) 0 calc(var(--scale-size-20) + var(--scale-size-1)) var(--scale-size-16);
            border-color: transparent transparent transparent var(--color-gray-900);
            right: var(--scale-size-2);
        }

        .sw-field.sw-product-restriction-selection__select-group .mt-icon {
            color: var(--color-white);
        }

        .sw-field.sw-product-restriction-selection__select-group .sw-field__select select:focus + .mt-icon {
            color: var(--color-white);
        }

        .sw-product-restriction-selection__isFrom {
            display: flex;
            position: relative;
            z-index: 1;
            justify-content: center;
            align-items: center;
            height: calc(var(--scale-size-40) + var(--scale-size-6));
            margin-right: var(--scale-size-16);
            padding-right: var(--scale-size-8);
        }

        .sw-product-restriction-selection__isFrom::after .sw-product-restriction-selection__isFrom::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: var(--scale-size-24) 0 calc(var(--scale-size-20) + var(--scale-size-1)) var(--scale-size-16);
            border-color: transparent transparent transparent var(--color-gray-300);
            right: 0;
            transform: translate(calc(100% + var(--scale-size-1)), 0);
        }

        .sw-product-restriction-selection__isFrom::before {
            background-color: var(--color-white);
        }

        .sw-product-restriction-selection__isFrom::after {
            border-color: transparent transparent transparent var(--color-white);
            right: var(--scale-size-1);
        }

        .sw-multi-select {
            border: var(--scale-size-1) solid var(--color-gray-300);
            border-radius: 0;
        }

        .sw-multi-select .sw-multi-select__selection-item-input {
            max-width: 0;
        }

        .sw-multi-select .sw-multi-select__results {
            border-color: var(--color-gray-300);
        }

        .sw-multi-select .sw-multi-select__results-list {
            max-height: calc(var(--scale-size-128) + var(--scale-size-12));
        }

        .sw-product-restriction-selection__select-option-wrapper .sw-context-button {
            display: flex;
            justify-content: center;
            height: var(--scale-size-48);
            align-items: center;
            background-color: var(--color-white);
            border: var(--scale-size-1) solid var(--color-gray-300);
            border-left-width: 0;
            border-top-right-radius: var(--border-radius-xs);
            border-bottom-right-radius: var(--border-radius-xs);
        }

        .sw-block-field {
            .sw-block-field__block {
                height: auto;
            }
        }

        .mt-select.sw-product-restriction-selection__select-group {
            margin-top: -var(--scale-size-1);
        }
    }
}
