{% block sw_settings_usage_data_intro %}
    <div class="sw-settings-usage-data-intro">
        <div class="sw-settings-usage-data-intro__icon-wrapper">
            <sw-icon
                name="solid-analytics"
                size="24"
            />
        </div>

        {% block sw_settings_usage_data_intro_headline %}
            <p class="sw-settings-usage-data-intro__headline">
                {{ $tc('sw-usage-data.sw-settings-usage-data-intro.headline') }}
            </p>
        {% endblock %}

        {% block sw_settings_usage_data_intro_description %}
            <p>{{ $tc('sw-usage-data.sw-settings-usage-data-intro.description') }}</p>
        {% endblock %}
    </div>
{% endblock %}
