<div class="sw-settings-usage-data-intro">
    <div class="sw-settings-usage-data-intro__icon-wrapper">
        <sw-icon
            name="solid-analytics"
            size="24"
        />
    </div>

    <p class="sw-settings-usage-data-intro__headline">
        {{ $tc('sw-usage-data.sw-settings-usage-data-intro.headline') }}
    </p>

    <p>{{ $tc('sw-usage-data.sw-settings-usage-data-intro.description') }}</p>
</div>
