.sw-flow-sequence-condition {
    position: relative;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: min-content;

    &__container {
        grid-column: 1;
        grid-row: 1;
        width: 20.5rem;
    }

    &__true-arrow {
        grid-column: 2;
        grid-row: 1;
        position: relative;
        width: 100%;
        min-width: var(--scale-size-128);
        top: 40px;

        &.has--true-action {
            width: var(--scale-size-128);
        }

        .icon--regular-chevron-right-xs {
            position: absolute;
            top: -5px;
            right: -1.5px;
            color: var(--color-border-primary-default);
        }

        &.is--disabled {
            .sw-flow-sequence-condition__true-action {
                &.sw-context-button {
                    right: -13px;
                }
            }

            .sw-flow-sequence-condition__true-label {
                left: 50px;
            }
        }
    }

    &__oval {
        position: absolute;
        width: var(--scale-size-12);
        height: var(--scale-size-12);
        background: var(--color-elevation-surface-raised);
        border: 1px solid var(--color-border-primary-default);
        border-radius: var(--border-radius-round);
    }

    &__true-arrow &__oval {
        top: -5px;
        left: -6.5px;
    }

    &__false-arrow &__oval {
        top: -7px;
        left: -7px;
    }

    &__true-label {
        transform: translate(-50%, -55%);
        left: 50px;

        &.sw-label {
            height: var(--scale-size-24);
            padding: 0 var(--scale-size-10);
            background-color: var(--color-background-positive-default);
            border: 1px solid var(--color-border-positive-default);
            color: var(--color-text-primary-default);
            font-size: var(--font-size-2xs);
            line-height: var(--font-line-height-2xs);
            font-weight: var(--font-weight-medium);
            display: inline-flex;
            align-items: center;
        }
    }

    &__false-arrow {
        grid-column: 1;
        grid-row: 2;
        position: relative;
        left: 50%;
        height: 100%;
        min-height: var(--scale-size-72);
        width: 50%;

        &.has--false-action {
            height: var(--scale-size-72);
        }

        .icon--regular-chevron-down-xs {
            position: absolute;
            bottom: -2px;
            left: -7px;
            color: var(--color-border-primary-default);
        }
    }

    &__false-label {
        transform: translate(-50%, -50%);
        top: 30px;

        &.sw-label {
            height: var(--scale-size-24);
            padding: 0 var(--scale-size-10);
            background-color: var(--color-background-critical-default);
            border: 1px solid var(--color-border-critical-default);
            color: var(--color-text-primary-default);
            font-size: var(--font-size-2xs);
            line-height: var(--font-line-height-2xs);
            font-weight: var(--font-weight-medium);
            display: inline-flex;
            align-items: center;
        }
    }

    .arrow-action {
        &.sw-context-button {
            .sw-context-button__button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: var(--scale-size-24);
                height: var(--scale-size-24);
                background: var(--color-interaction-secondary-default);
                border: 1px solid var(--color-border-primary-default);
                border-radius: var(--border-radius-round);
                color: var(--color-text-primary-default);
                transition-property: color, background-color, border-color;
                transition-duration: 0.15s;
                transition-timing-function: ease-out;
                cursor: pointer;
                padding: 0;

                .mt-icon {
                    color: var(--color-icon-primary-default);
                    width: var(--scale-size-12) !important;
                    height: var(--scale-size-12) !important;
                    padding: 0;
                }

                &:hover,
                &:active {
                    background: var(--color-interaction-secondary-hover);
                }
            }

            &.is--disabled {
                .sw-context-button__button {
                    cursor: not-allowed;
                    color: var(--color-text-primary-disabled);
                    background: var(--color-interaction-secondary-disabled);
                }
            }
        }
    }

    &__true-line {
        border-top: 2px dashed var(--color-border-primary-default);
        width: calc(100% - var(--scale-size-6));
        position: absolute;
    }

    &__false-line {
        border-left: 2px dashed var(--color-border-primary-default);
        height: calc(100% - var(--scale-size-6));
        position: absolute;
        left: -2px;
    }

    &__true-action {
        &.sw-context-button {
            top: -11.5px;
            right: 0;
            position: absolute;
        }
    }

    &__false-action {
        &.sw-context-button {
            bottom: -14px;
            left: -13px;
            position: absolute;
        }
    }

    &__card {
        max-width: 20.5rem;
        background: var(--color-elevation-surface-raised);
        border-radius: var(--border-radius-card);
        border: 1px solid var(--color-border-secondary-default);
        box-shadow: 0 3px 6px 0 var(--color-elevation-shadow-default);
        grid-row: span 1;
        overflow: hidden;
        transition: all 100ms ease-in-out;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: var(--scale-size-16) var(--scale-size-12) var(--scale-size-12) var(--scale-size-20);
        border-bottom: 1px solid var(--color-border-secondary-default);
    }

    &__title-description {
        display: flex;
        gap: var(--scale-size-4);
    }

    &__title,
    &__description {
        font-size: var(--font-size-xs);
        font-weight: var(--font-weight-semi-bold);
        color: var(--color-text-primary-default);
        margin: 0;
    }

    &__rule {
        transition: all 100ms ease-in-out;

        &:has(.sw-flow-sequence-condition__rule-info) {
            cursor: pointer;

            &:hover {
                background: var(--color-elevation-surface-sunken);
            }
        }

        &:has(.sw-flow-sequence-condition__rule-empty) {
            cursor: default;
        }

        .sw-flow-sequence-condition__rule-info {
            padding: var(--scale-size-12) var(--scale-size-12) var(--scale-size-16) var(--scale-size-20);
        }

        .sw-flow-sequence-condition__rule-empty {
            color: var(--color-text-primary-default);
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-regular);
        }
    }

    &__rule-empty {
        display: flex;
        align-items: center;
        padding: var(--scale-size-16) var(--scale-size-20);
    }

    &__rule-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rule-icon {
        display: flex;
        color: var(--color-icon-primary-default);
    }

    &__rule-name {
        overflow: hidden;
        word-wrap: break-word;
        flex-basis: 100%;

        h3 {
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-medium);
            color: var(--color-text-primary-default);
            margin-left: var(--scale-size-6);
            margin-bottom: 0;
        }
    }

    &__rule-description {
        margin-top: var(--scale-size-6);
        margin-bottom: var(--scale-size-2);
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        color: var(--color-text-primary-default);
    }

    &__select {
        display: flex;
        align-items: center;
        padding: var(--scale-size-16) var(--scale-size-20);
        border-top: 1px solid var(--color-border-secondary-default);
        width: 100%;

        .icon--regular-times-circle-s {
            cursor: pointer;
        }
    }

    &__explains {
        position: absolute;
        top: 0;
        left: 360px;
        width: 20.5rem;
        padding: var(--scale-size-24);
        border: 2px dashed var(--color-border-primary-default);
        border-radius: var(--border-radius-card);
        color: var(--color-text-primary-default);

        h4 {
            font-size: var(--font-size-s);
            line-height: var(--font-line-height-s);
            font-weight: var(--font-weight-medium);
            margin-bottom: var(--scale-size-4);
        }

        p {
            font-size: var(--font-size-xs);
            line-height: var(--font-line-height-xs);
            font-weight: var(--font-weight-regular);
        }
    }
}

.sw-select-result-list-popover-wrapper {
    .sw-select-result__item-list {
        border-bottom: 1px solid var(--color-border-primary-default);
        padding-bottom: var(--scale-size-4);
        margin-bottom: var(--scale-size-4);

        .sw-select-result__create-new-rule[disabled="disabled"] {
            background: var(--color-background-tertiary-default);
            pointer-events: none;
        }
    }

    .sw-select-result:hover {
        background: var(--color-background-brand-default) !important;
    }

    .sw-select-result {
        margin: 0 var(--scale-size-4);
        padding: var(--scale-size-8) var(--scale-size-16);
        color: var(--color-text-primary-default);
    }

    .sw-select-result-list__content {
        padding: var(--scale-size-8) 0 !important;
    }

    .is--active {
        background: unset !important;
    }
}
