{% block sw_first_run_wizard_paypal_credentials %}
    <div>
        <h3>To get PayPal up an running you need to provide your PayPal API credentials.</h3>

        <sw-button variant="primary"
                   @click="onGetAPICredentials">
            {{ $tc('sw-first-run-wizard.general.buttonGetAPICredentials') }}
        </sw-button>

        <div>
            <sw-field type="text"
                      name="clientId"
                      :label="'Client ID'"
                      v-model="clientId"
                      ></sw-field>
        </div>

        <div>
            <sw-field type="text"
                      name="clientSecret"
                      :label="'Client Secret'"
                      v-model="clientSecret">
            </sw-field>
        </div>

        <sw-switch-field label="Sandbox" v-model="sandboxEnabled"></sw-switch-field>
    </div>
{% endblock %}
