.js-offcanvas.offcanvas-menu {
    overflow-x: hidden;

    .offcanvas-menu {
        position: relative;
    }

    .offcanvas-content-container {
        padding: 0;
    }
}

.offcanvas-menu-headline {
    @extend .nav-link;
    font-weight: $font-weight-bold;
    color: $secondary;
    padding: 20px $spacer-md $spacer-md;
}

.offcanvas-menu-list-item-link-icon {
    position: absolute;
    right: $spacer-md;
    top: 50%;
    transform: translateY(-50%);

    .loader {
        @extend .icon-sm;
    }
}

.offcanvas-menu-list-item {
    background-color: $white;
    border-top: 1px solid $gray-300;
    position: relative;

    &:last-child {
        border-bottom: 1px solid $gray-300;
    }
}

.offcanvas-menu-list-item-link {
    @include transition(color 0.45s cubic-bezier(0.3, 0, 0.15, 1));
    align-items: center;
    color: $body-color;
    display: flex;
    justify-content: space-between;
    padding: 12px $spacer-md;
    position: relative;

    &.go-home,
    &.go-back {
        justify-content: flex-start;
        padding-left: 40px;

        .offcanvas-menu-list-item-link-icon {
            right: auto;
        }
    }

    &.go-home {
        .offcanvas-menu-list-item-link-icon {
            left: 14px;
        }

        &,
        .icon {
            color: $primary;
        }
    }

    &.go-back {
        border-top: 1px solid $gray-300;
        font-weight: $font-weight-bold;
        color: $secondary;

        .offcanvas-menu-list-item-link-icon {
            left: 11px;

            .loader {
                left: 3px;
                position: relative;
            }
        }
    }

    &.current-category {
        color: $primary;
        font-weight: $font-weight-bold;
    }

    &:hover,
    &:active,
    &:focus {
        &,
        .offcanvas-menu-list-item-link-icon .icon {
            color: $primary;
        }
    }
}

.offcanvas-menu-overlay {
    &.has-transition {
        transition: left 0.5s ease-in;
    }
}

.offcanvas-menu-placeholder,
.offcanvas-menu-overlay {
    width: 100%;
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
}

