.navigation-flyouts {
    position: absolute;
    z-index: $menu-flyout-zindex;
    height: 0;
    width: 100%;
}

.navigation-flyout {
    width: 100%;
    box-shadow: 0 43px 43px -6px rgba($black, 0.2);
    background-color: $white;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    height: 0;

    &.is-open {
        pointer-events: all;
        opacity: 1;
        height: auto;
    }
}

.navigation-flyout-link {
    @include transition(padding 0.25s cubic-bezier(0, 0.77, 0.33, 1));
    padding-left: 0;

    &.level-0 {
        font-weight: $font-weight-bold;
        color: $gray-800;
    }

    &:not(.level-0) {
        margin-left: 10px;
    }

    &:hover {
        color: $primary;
        padding-left: 3px;
    }
}

.navigation-flyout-bar {
    align-items: center;
    padding: 20px 0;
}

.navigation-flyout-category-link {
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;

    i {
        font-size: $font-size-sm;
    }
}

.navigation-flyout-close {
    font-size: $font-size-lg;
    padding: 10px;
    cursor: pointer;
}

.navigation-flyout-content {
    padding-bottom: 60px;

    .navigation-flyout-teaser {
        border-left: 1px solid $border-color;
        padding-left: 30px;
    }

    .teaser-image {
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: block;
    }
}
