/*
Offcanvas cart
==============================================
Extends the basic offcanvas component with additional cart styles.
*/

.offcanvas-cart {
    .alert {
        margin-top: $spacer;
    }

    .cart-item {
        padding: $spacer 0;

        &.is-empty {
            padding-top: 0;
            border-bottom: 0;
        }

        &.is-nested,
        &.is-child {
            padding-left: $spacer;
        }

        &.is-nested {
            .cart-item-img {
                background: none;
                border: 0;
            }
        }

        &.is-discount {
            .cart-item-price {
                color: $success;
            }
        }
    }

    .cart-item-details {
        margin-bottom: $spacer;
    }

    .cart-quantity-price {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    .cart-item-price {
        font-weight: $font-weight-bold;
    }
}

.offcanvas-cart-items {
    margin: $spacer 0;
}

.offcanvas-summary-list {
    margin-bottom: 0;
}

.offcanvas-cart-promotion-form {
    margin-bottom: $spacer;
}
