{% block sw_promotion_v2_settings_discount_type %}
    <div class="sw-promotion-v2-settings-discount-type">
        <sw-container columns="1fr 1fr" gap="20px">

            {% block sw_promotion_v2_settings_discount_type_type %}
                <sw-select-field
                    v-model="discount.type"
                    class="sw-promotion-v2-settings-discount-type__field-select-discount-type"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelDiscountType')"
                    :disabled="!acl.can('promotion.editor')">

                    {% block sw_promotion_v2_settings_discount_type_type_options %}
                        <option
                            v-for="selection in getDiscountTypeSelection()"
                            :key="selection.value"
                            :value="selection.value">
                            {{ selection.display }}
                        </option>
                    {% endblock %}

                </sw-select-field>
            {% endblock %}

            {% block sw_promotion_v2_settings_discount_type_price %}
                <sw-number-field
                    v-model="discount.value"
                    class="sw-promotion-v2-settings-discount-type__field-price"
                    :idSuffix="discount.id"
                    :min="0"
                    :max="discount.type === 'percentage' ? 100 : null"
                    :label="labelValue"
                    :disabled="discount.type === 'free' || !acl.can('promotion.editor')">

                    <template #suffix>
                        <sw-icon v-if="discount.type !== 'percentage'" name="default-symbol-euro"></sw-icon>
                        <span v-else>%</span>
                    </template>
                </sw-number-field>
            {% endblock %}

        </sw-container>

        <sw-container columns="1fr 1fr" gap="20px">

            {% block sw_promotion_v2_settings_discount_type_apply_discount_to %}
                <sw-select-field
                    v-model="discount.applierKey"
                    class="sw-promotion-v2-settings-discount-type__field-apply-discount-to"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelApplyDiscountTo')"
                    :disabled="discount.type === 'free' || !acl.can('promotion.editor')">

                    {% block sw_promotion_v2_settings_discount_type_apply_discount_to_options %}
                        <option
                            v-for="selection in getApplyDiscountToSelection()"
                            :key="selection.value"
                            :value="selection.value">
                            {{ selection.display }}
                        </option>
                    {% endblock %}

                </sw-select-field>
            {% endblock %}

            {% block sw_promotion_v2_settings_discount_type_max_discount_value %}
                <sw-number-field
                    v-model="discount.maxValue"
                    class="sw-promotion-v2-settings-discount-type__field-max-discount"
                    :idSuffix="discount.id"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelMaxDiscountValue')"
                    :disabled="discount.type !== 'percentage' || !acl.can('promotion.editor')"
                    allowEmpty>

                    <template #suffix>
                        <sw-icon name="default-symbol-euro"></sw-icon>
                    </template>
                </sw-number-field>
            {% endblock %}

        </sw-container>
    </div>
{% endblock %}
