/**
 * @deprecated tag:v6.8.0 - Will be removed, use mt-button instead.
 */
@import "~scss/variables";

.sw-button {
    border: 1px solid var(--color-border-primary-default);
    background: var(--color-interaction-secondary-default);
    color: var(--color-text-primary-default);
    transition: all 0.15s ease-out;
    display: inline-block;
    border-radius: $border-radius-default;
    padding: 2px 24px;
    font-size: var(--font-size-xs);
    line-height: 34px;
    outline: none;
    font-weight: var(--font-weight-semibold);
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    margin: 0;
    position: relative;

    &:focus-visible {
        outline: revert;
    }

    .sw-button__content {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 0 8px;
    }

    .sw-button__content.is--hidden {
        visibility: hidden;
    }

    &:hover:not(.sw-button--disabled),
    &:hover:not([disabled]) {
        background: var(--color-interaction-secondary-hover);
    }

    &:active:not(.sw-button--disabled) {
        background: var(--color-interaction-secondary-pressed);
        border-color: var(--color-border-primary-default);
    }

    &:disabled,
    &.sw-button--disabled {
        color: var(--color-text-primary-disabled);
        border-color: var(--color-border-primary-default);
        cursor: not-allowed;

        .mt-icon {
            color: var(--color-icon-primary-disabled);
        }
    }

    .mt-icon {
        color: var(--color-icon-primary-default);
    }

    .sw-loader .sw-loader-element div {
        border-color: var(--color-icon-primary-default) transparent transparent transparent;
    }

    &.sw-button--primary {
        background: var(--color-interaction-primary-default);
        color: var(--color-static-white);
        line-height: 36px;
        border: 0 none;

        .mt-icon {
            color: var(--color-static-white);
        }

        .sw-loader .sw-loader-element div {
            border-color: var(--color-static-white) transparent transparent transparent;
        }

        &.sw-button--x-small {
            line-height: var(--font-line-height-s);
        }

        &.sw-button--small {
            line-height: var(--font-line-height-l);
        }

        &:hover {
            background: var(--color-interaction-primary-hover);
        }

        &:active {
            background: var(--color-interaction-primary-pressed);
        }

        &:disabled,
        &.sw-button--disabled {
            background: var(--color-interaction-primary-disabled);
        }

        &.sw-button--square .mt-icon {
            color: var(--color-static-white);
        }
    }

    &.sw-button--contrast {
        background: $color-module-yellow-500;
        color: $color-darkgray-200;
        line-height: 36px;
        border: 0 none;

        .mt-icon {
            color: $color-darkgray-200;
        }

        .sw-loader .sw-loader-element div {
            border-color: $color-darkgray-200 transparent transparent transparent;
        }

        &.sw-button--x-small {
            line-height: $line-height-sm;
        }

        &.sw-button--small {
            line-height: $line-height-lg;
        }

        &:hover {
            background: $color-module-yellow-700;
        }

        &:active {
            background: $color-module-yellow-800;
        }

        &:disabled,
        &.sw-button--disabled {
            background: $color-module-yellow-200;
            color: $color-gray-800;

            .mt-icon {
                color: $color-gray-400;
            }
        }
    }

    &.sw-button--danger {
        background: var(--color-interaction-critical-default);
        color: var(--color-static-white);
        line-height: 36px;
        border: 0 none;

        .mt-icon {
            color: var(--color-static-white);
        }

        .sw-loader .sw-loader-element div {
            border-color: var(--color-static-white) transparent transparent transparent;
        }

        &.sw-button--x-small {
            line-height: var(--font-line-height-s);
        }

        &.sw-button--small {
            line-height: var(--font-line-height-l);
        }

        &:hover {
            background: var(--color-interaction-critical-hover);
        }

        &:active {
            background: var(--color-interaction-critical-pressed);
        }

        &:disabled,
        &.sw-button--disabled {
            background: var(--color-interaction-critical-disabled);

            .mt-icon {
                color: var(--color-static-white);
            }
        }
    }

    &.sw-button--ghost {
        background-color: transparent;
        border-color: var(--color-border-brand-default);
        color: var(--color-text-brand-default);

        .mt-icon {
            color: var(--color-icon-brand-default);
        }

        .sw-loader .sw-loader-element div {
            border-color: var(--color-icon-brand-default) transparent transparent transparent;
        }

        &:hover {
            background-color: var(--color-background-brand-default);
        }

        &:active {
            background-color: var(--color-background-brand-default);
        }

        &:disabled,
        &.sw-button--disabled {
            background-color: transparent;
            border-color: var(--color-border-brand-disabled);
            color: var(--color-text-brand-disabled);

            .mt-icon {
                color: var(--color-icon-brand-disabled);
            }
        }
    }

    &.sw-button--ghost-danger {
        background: transparent;
        border-color: var(--color-border-critical-default);
        color: var(--color-text-critical-default);

        &:hover {
            background: var(--color-background-critical-default);
        }

        &:active {
            background: var(--color-background-critical-default);
        }

        &:disabled,
        &.sw-button--disabled {
            background-color: transparent;
            border-color: var(--color-border-critical-disabled);
            color: var(--color-text-critical-disabled);

            .mt-icon {
                color: var(--color-icon-critical-disabled);
            }
        }
    }

    &.sw-button--context {
        border: none;
        background-color: transparent;
        color: var(--color-text-primary-default);

        .mt-icon {
            color: var(--color-icon-primary-default);
        }

        .sw-loader .sw-loader-element div {
            border-color: var(--color-icon-primary-default) transparent transparent transparent;
        }

        &:hover {
            background-color: var(--color-interaction-secondary-hover);
        }
    }

    &.sw-button--block {
        display: block;
        width: 100%;
    }

    &.sw-button--x-small {
        padding-left: 10px;
        padding-right: 10px;
        font-size: var(--font-size-2xs);
        line-height: var(--font-line-height-xs);

        &.sw-button--square {
            width: 24px;
        }
    }

    &.sw-button--small {
        padding-left: 15px;
        padding-right: 15px;
        font-size: var(--font-size-2xs);
        line-height: 26px;

        &.sw-button--square {
            width: 32px;
        }
    }

    &.sw-button--square {
        width: 40px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .sw-button__content {
            display: inline;
        }
    }

    .sw-button__loader {
        position: absolute;
        left: 50%;
        top: 50%;
    }
}
