{% block sw_settings_list %}
<sw-page class="sw-settings-logging-list">

    {% block sw_settings_logging_list_search_bar %}
    <template slot="search-bar">
        <sw-search-bar
            initial-search-type="Logs"
            :placeholder="$tc('sw-settings-logging.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_settings_logging_list_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block sw_settings_logging_list_smart_bar_header_title %}
        <h2>
            {% block sw_settings_logging_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="small-arrow-medium-right"
                small
            />
            {{ $tc('sw-settings-logging.list.title') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_logging_list_smart_bar_actions %}
    <template slot="smart-bar-actions"></template>
    {% endblock %}

    {% block sw_settings_logging_list_content %}
    <template slot="content">
        {% block sw_settings_logging_list_content_listing %}
        <sw-entity-listing
            :data-source="logs"
            :columns="logColumns"
            :full-page="true"
            :show-settings="true"
            :show-selection="false"
            :show-actions="true"
            :sort-by="sortBy"
            :sort-direction="sortDirection"
            :is-loading="isLoading"
            :allow-column-edit="true"
            :repository="logEntryRepository"
            identifier="sw-log-entry-list"
        >

            <template
                slot="column-createdAt"
                slot-scope="{ item }"
            >
                {% block sw_settings_logging_list_column_created_at %}
                {{ item.createdAt | date({ hour: '2-digit', minute: '2-digit' }) }}
                {% endblock %}
            </template>

            <template
                slot="column-level"
                slot-scope="{ item }"
            >
                {% block sw_settings_logging_list_column_level %}
                {{ logLevelToString(item.level) }} ({{ item.level }})
                {% endblock %}
            </template>

            <template
                slot="column-context"
                slot-scope="{ item }"
            >
                {% block sw_settings_logging_list_column_context %}
                <a @click="showInfoModal(item)">{{ item.context }}</a>
                {% endblock %}
            </template>

            <template slot="pagination">
                {% block sw_settings_logging_list_content_listing_pagination %}
                <sw-pagination
                    :page="page"
                    :limit="limit"
                    :total="total"
                    :total-visible="7"
                    @page-change="onPageChange"
                />
                {% endblock %}
            </template>

            <template
                slot="actions"
                slot-scope="{ item }"
            >
                {% block sw_settings_logging_list_content_listing_actions %}
                <sw-context-menu-item @click="showInfoModal(item)">
                    {% block sw_settings_logging_list_content_listing_action_show_label %}
                    {{ $tc('sw-settings-logging.list.actionShowInfo') }}
                    {% endblock %}
                </sw-context-menu-item>
                {% endblock %}
            </template>

        </sw-entity-listing>
        {% endblock %}

        {% block sw_settings_logging_list_content_info_modal %}
        <component
            :is="modalNameFromLogEntry"
            v-if="displayedLog !== null"
            :log-entry="displayedLog"
            @close="closeInfoModal"
        />
        {% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
