{% block component_address %}
    <div class="address">
        {% if showShippingWarning and not address.country.shippingAvailable %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: "warning",
                content: "address.countryNoShippingAlert"|trans|sw_sanitize
            } %}
        {% endif %}

        {% sw_include '@Framework/snippets/render.html.twig' with {
            format: address.country.translated.addressFormat,
            address: address
        } %}<br/>
    </div>
{% endblock %}
