{% block sw_media_grid_media_item %}
    <div class="sw-media-grid-media-item">
        {% block sw_media_grid_media_item_grid_item %}
            <sw-media-grid-item
                :isList="isList"
                :selected="showSelectionIndicator && selected"
                :isLoading="item.isLoading"
                :showContextMenuButton="showContextMenuButton"
                @sw-media-grid-item-clicked="handleGridItemClick">

                {% block sw_media_grid_media_item_slot_media_preview %}
                    <template slot="media-item-preview">
                        {% block sw_media_grid_item_selected_indicator %}
                            <sw-field
                                v-if="!isList"
                                class="sw-media-grid-media-item__selected-indicator"
                                :class="selectedIndicatorClasses"
                                type="checkbox"
                                :value="selected"
                                @click.self="doSelectItem">
                            </sw-field>
                        {% endblock %}

                        {% block sw_media_grid_media_item_preview %}
                            <sw-media-preview :item="item" :class="mediaPreviewClasses" @sw-media-preview-play="emitPlayEvent">
                            </sw-media-preview>
                        {% endblock %}
                    </template>
                {% endblock %}

                {% block sw_media_grid_media_item_slot_name %}
                    <template slot="media-item-name">
                        <sw-field v-if="isInlineEdit"
                                  ref="inputItemName"
                                  class="sw-media-grid-media-item__name-field"
                                  type="text"
                                  :value="item.name"
                                  v-autofocus
                                  @click.stop
                                  @blur="endInlineEdit"
                                  @keyup.enter="updateName"
                                  @keyup.esc="endInlineEdit">
                        </sw-field>
                        <div v-else
                             class="sw-media-grid-media-item__name"
                             :title="item.name"
                             @dblclick="startInlineEdit">
                            {{ item.name }}
                        </div>
                    </template>
                {% endblock %}

                {% block sw_media_grid_media_item_context_menu %}
                    <template slot="media-item-context-menu">
                        {% block sw_media_griditem_context_item_detail %}
                            <sw-context-menu-item @click="showItemDetails">
                                {{ $tc('global.sw-media-grid-media-item.contextMenuDetailLabel') }}
                            </sw-context-menu-item>
                        {% endblock %}

                        {% block sw_media_grid_media_item_context_group_quick_actions %}
                            <div class="sw-context-menu__group">
                                {% block sw_media_griditem_context_item_copy_item_link %}
                                    <sw-context-menu-item v-if="item.hasFile" @click="copyItemLink">
                                        {{ $tc('global.sw-media-grid-media-item.contextMenuCopyLinkLabel') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_griditem_context_item_replace %}
                                    <sw-context-menu-item @click="openModalReplace">
                                        {{ $tc('global.sw-media-grid-media-item.contextMenuReplaceLabel') }}
                                    </sw-context-menu-item>
                                {% endblock %}

                                {% block sw_media_griditem_context_item_delete %}
                                    <sw-context-menu-item @click="openModalDelete" variant="danger">
                                        {{ $tc('global.sw-media-grid-media-item.contextMenuDeleteLabel') }}
                                    </sw-context-menu-item>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-media-grid-item>

            {% block sw_media_grid_media_item_modal_replace %}
                <sw-media-modal-replace
                    v-if="showModalReplace"
                    :itemToReplace="item"
                    @sw-media-modal-replace-close="closeModalReplace">
                </sw-media-modal-replace>
            {% endblock %}
        {% endblock %}

        {% block sw_media_grid_media_item_delete_modal %}
            <sw-media-modal-delete
                v-if="showModalDelete"
                :itemsToDelete="[item]"
                @sw-media-modal-delete-items-deleted="emitItemDeleted"
                @sw-media-modal-delete-close="closeModalDelete">
            </sw-media-modal-delete>
        {% endblock %}
    </div>
{% endblock %}