{% block sw_media_grid_item_content_preview %}
    {#<img :src="item.url" class="centeredPreview">#}
{% endblock %}

{% block sw_media_grid_item_content_item_name %}
    <input v-if="containerOptions.editable"
        type="text"
        ref="inputItemName"
        tabindex="-1"
        :value="item.name"
        disabled="true"
        @keydown.enter="signalItemNameChange"
        @keydown.esc="cancelInlineEdit"
        @blur="cancelInlineEditFromBlur">
    <div v-else>
        {{ itemTitle }}
    </div>
{% endblock %}