<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_data_grid_settings %}
<sw-context-button
    v-tooltip="{ message: $tc('global.sw-data-grid.tooltipListSettings') }"
    :disabled="disabled"
    :menu-width="300"
    :auto-close="false"
    :auto-close-outside-click="true"
    :additional-context-menu-classes="contextMenuClasses"
>

    <template #button>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_data_grid_settings_trigger %}
        <sw-button
            class="sw-data-grid-settings__trigger"
            :disabled="disabled"
            :aria-label="$tc('global.sw-data-grid.tooltipListSettings')"
            size="x-small"
            square
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_data_grid_settings_trigger_icon %}
            <sw-icon
                name="regular-bars-s"
                size="14px"
            />
            {% endblock %}
        </sw-button>
        {% endblock %}
    </template>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_settings_content %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_settings_general %}
    <div class="sw-data-grid__settings-container">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_data_grid_settings_compact_switch %}
        <sw-switch-field
            v-model:value="currentCompact"
            size="medium"
            no-margin-top
            :label="$tc('global.sw-data-grid.labelSettingsCompactMode')"
            @update:value="onChangeCompactMode(currentCompact)"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_data_grid_settings_preview_switch %}
        <sw-switch-field
            v-if="enablePreviews"
            v-model:value="currentPreviews"
            size="medium"
            no-margin-top
            :label="$tc('global.sw-data-grid.labelSettingsPreviewImages')"
            @update:value="onChangePreviews(currentPreviews)"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_data_grid_settings_additional_settings %}
        <slot name="additionalSettings">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_data_grid_settings_additional_settings_slot %}{% endblock %}
        </slot>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_settings_devider %}
    <sw-context-menu-divider />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_data_grid_settings_columns %}
    <transition-group
        name="columns-list"
        tag="div"
        class="sw-data-grid__settings-container sw-data-grid__settings-column-list"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_data_grid_settings_column_element %}
        <div
            v-for="(column, index) in currentColumns"
            :key="column.property"
            :class="['sw-data-grid__settings-column-item', 'sw-data-grid__settings-item--' + index]"
        >

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_data_grid_settings_column_visibility_checkbox %}
            <sw-checkbox-field
                :disabled="column.primary"
                :label="$te(column.label) ? $tc(column.label) : column.label"
                :value="currentColumns[index].visible"
                @update:value="onChangeColumnVisibility($event, index)"
            />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_data_grid_settings_column_item_conrols %}
            <sw-button-group
                v-if="currentColumns.length >= 2"
                class="sw-data-grid__settings-column-item-controls"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_data_grid_settings_column_control_up %}
                <sw-button
                    size="x-small"
                    square
                    :disabled="index === 0"
                    @click="onClickChangeColumnOrderUp(column)"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_data_grid_settings_column_control_up_icon %}
                    <sw-icon
                        name="regular-chevron-up-xxs"
                        size="14px"
                    />
                    {% endblock %}
                </sw-button>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_data_grid_settings_column_control_down %}
                <sw-button
                    size="x-small"
                    square
                    :disabled="index === (currentColumns.length - 1)"
                    class="down"
                    @click="onClickChangeColumnOrderDown(column)"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_data_grid_settings_column_control_down_icon %}
                    <sw-icon
                        name="regular-chevron-down-xxs"
                        size="14px"
                    />
                    {% endblock %}
                </sw-button>
                {% endblock %}
            </sw-button-group>
            {% endblock %}
        </div>
        {% endblock %}
    </transition-group>
    {% endblock %}
    {% endblock %}
</sw-context-button>
{% endblock %}
