<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_select_base %}
<sw-block-field
    class="sw-select"
    :class="swFieldClasses"
    v-bind="$attrs"
    :disabled="disabled"
    v-on="$listeners"
>
    <template #sw-field-input="{ identification, error, disabled, size, setFocusClass, removeFocusClass }">
        <div
            ref="selectWrapper"
            class="sw-select__selection"
            tabindex="0"
            @click="expand"
            @focus="expand"
            @keydown.tab="collapse"
            @keydown.esc="collapse"
        >
            <slot
                name="sw-select-selection"
                v-bind="{ identification, error, disabled, size, expand, collapse }"
            ></slot>
            <div class="sw-select__selection-indicators">
                <sw-loader
                    v-if="isLoading"
                    class="sw-select__select-indicator"
                    size="16px"
                />

                <button
                    v-if="!disabled && showClearableButton"
                    class="sw-select__select-indicator-hitbox"
                    data-clearable-button
                    @click.prevent.stop="emitClear"
                    @keydown.tab.stop="focusParentSelect"
                >
                    <sw-icon
                        class="sw-select__select-indicator sw-select__select-indicator-clear"
                        name="regular-times-s"
                        small
                    />
                </button>

                <sw-icon
                    class="sw-select__select-indicator sw-select__select-indicator-expand"
                    name="regular-chevron-down-xs"
                    small
                />
            </div>
        </div>

        <template v-if="expanded">
            <transition name="sw-select-result-list-fade-down">
                <slot
                    name="results-list"
                    v-bind="{ collapse }"
                ></slot>
            </transition>
        </template>
    </template>

    <template #label>
        <slot name="label"></slot>
    </template>
</sw-block-field>
{% endblock %}
