<div class="sw-select">
    <input class="input--element" type="text" :placeholder="placeholder" v-model="searchTerm">

    <transition name="fade">
        <div class="sw-drop-down" v-if="isExpanded">
            <ul class="sw-drop-down--list">
                <li v-for="entry in filteredEntries"
                    class="list--entry"
                    :data-uuid="entry.uuid"
                    @click="onSelectEntry(entry.uuid, entry.name)"
                >
                    {{ entry.name }}
                </li>
            </ul>
        </div>
    </transition>
</div>