<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_product_slider_preview %}
<div class="sw-cms-preview-product-slider">
    <sw-icon
        name="regular-chevron-left"
        size="20"
    />
    <div class="sw-cms-preview-product-slider__product-box">
        <sw-cms-product-box-preview has-text />
        <sw-cms-product-box-preview has-text />
    </div>
    <sw-icon
        name="regular-chevron-right"
        size="20"
    />
</div>
{% endblock %}
