{% block sw_cms_block_product_slider_preview %}
<div class="sw-cms-preview-product-slider">
    <sw-icon
        name="default-arrow-head-left"
        size="20"
    />
    <div class="sw-cms-preview-product-slider__product-box">
        <sw-cms-product-box-preview />
        <sw-cms-product-box-preview />
    </div>
    <sw-icon
        name="default-arrow-head-right"
        size="20"
    />
</div>
{% endblock %}
