<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_rating_stars %}
<div
    v-tooltip="ratingTooltip"
    class="sw-rating-stars"
    :style="dynamicWidthStyle"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_rating_stars_placeholder %}
    <div class="sw-rating-stars__placeholder">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_rating_stars_placeholder_stars %}
        <sw-icon
            v-for="currentStar in maxStars"
            :key="`placeholder${currentStar}`"
            class="sw-rating-stars__star star-empty"
            name="solid-star"
            :size="iconSize.toString()"
        />
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_rating_stars_value %}
    <div class="sw-rating-stars__value">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_rating_stars_value_stars %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_rating_stars_value_stars_full %}
        <sw-icon
            v-for="currentStar in Math.floor(cappedValue)"
            :key="`full${currentStar}`"
            class="sw-rating-stars__star star-full"
            name="solid-star"
            :size="iconSize.toString()"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_rating_stars_value_stars_partial %}
        <sw-icon
            v-if="(cappedValue % 1) > 0"
            class="sw-rating-stars__star star-partial"
            :style="partialStarCutStyle"
            name="solid-star"
            :size="iconSize.toString()"
        />
        {% endblock %}
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
