@import '~scss/variables';
@import '~scss/mixins';

.sw-page.sw-page--meteor-design {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    .sw-page__content {
        position: static;
        height: auto;
        padding: 0 12px;
    }

    &.sw-page--full-width {
        .sw-page__body {
            position: relative;
            display: grid;
            grid-template-rows: auto 1fr;
            overflow-y: hidden;
        }

        .sw-page__content {
            position: relative;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .meteor-smart-bar {
            grid-column: 1/4;
        }

        .meteor-smart-bar__tabs {
            grid-column: 1/4;
        }
    }

    .sw-page__scrollable-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .sw-page__body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .head-area {
        color: #0c1f34;
        position: sticky;
        top: 0;
        display: grid;
        grid-row-gap: 24px;
        grid-column-gap: 8px;
        grid-template-columns: 1fr minmax(0, 960px) 1fr;
        width: 100%;
        background: $color-white;
        padding: 12px 12px 0;
        z-index: $z-index-sidebar;
        margin-bottom: 48px;

        .saas-rufus-meteor-navigation {
            margin-bottom: 12px;
        }
    }

    .head-area.is--scrolled {
        .saas-rufus-meteor-navigation {
            margin-bottom: 4px;
        }
    }

    .head-area.is--scrolled::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        height: 4px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
    }

    .head-area__top-bar-content {
        grid-column: 2/3;

        .sw-search-bar {
            height: auto;
        }

        .sw-search-bar__container {
            max-width: unset;
            margin: 0;
            padding: 0;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            display: block;
            height: 1px;
            background-color: $color-gray-300;
            transform: translate(0, 12px);
        }
    }

    .head-area__global-actions {
        grid-row: 1;
        grid-column: 3;
        align-self: center;
        justify-self: end;
        margin-right: 32px;
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
    }

    .meteor-smart-bar {
        grid-column: 2/3;

        .meteor-smart-bar__content {
            display: grid;
            grid-template-columns: 70% 1fr;
            grid-template-rows: auto auto;
            grid-column-gap: 16px;
            grid-template-areas:
                "module secondary"
                "context context";
        }

        .meteor-smart-bar__module-info {
            display: grid;
            width: 100%;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto;
            grid-template-areas:
                "icon title"
                "icon description";

            .meteor-smart-bar__module-icon {
                grid-area: icon;
                align-self: start;
                margin-right: 8px;
            }

            .meteor-smart-bar__header {
                grid-area: title;
                align-self: center;
                display: flex;
                align-items: end;
                min-width: 100%;

                .meteor-smart-bar__title {
                    @include truncate();

                    color: #0c1f34;
                    // 1,5 x font-size
                    line-height: 42px;
                    font-size: 28px;
                    margin-right: 8px;
                    margin-bottom: 0;
                    min-width: 20%;
                }
            }

            .meteor-smart-bar__description {
                grid-area: description;
            }
        }

        .meteor-smart-bar__actions {
            grid-area: secondary;
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            & > * {
                margin: 5px 0;
            }
        }

        .meteor-smart-bar__context-buttons {
            grid-area: context;
            min-width: 20%;
        }

        &.is--collapsed {
            grid-row: 1;

            .meteor-smart-bar__content {
                grid-template-columns: minmax(10%, 50%) 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "module context secondary";
                align-items: center;
            }

            .meteor-smart-bar__description {
                display: none;
            }

            .meteor-smart-bar__actions {
                flex-direction: row-reverse;

                & > * {
                    margin: 0 0 0 4px;
                }
            }

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                display: block;
                height: 1px;
                background-color: $color-gray-300;
                transform: translate(0, 12px);
            }

            &:last-child {
                margin-bottom: 12px;
            }
        }
    }

    .meteor-smart-bar__tabs {
        grid-column: 2/3;

        .sw-tabs__content::before {
            content: unset;
        }

        .sw-tabs-item {
            padding: 10px 0;
            margin-right: 16px;
            border-bottom: none;
        }

        .sw-tabs__custom-content {
            display: none;
        }
    }
}
