{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    <header class="header-minimal">
        {% block layout_header_minimal_inner %}
            <div class="container">
                {% block layout_header_minimal_row %}
                    <div class="row header-row header-minimal-row">
                        {% block layout_header_minimal_logo %}
                            <div class="col-6 col-md-4 header-minimal-logo">
                                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                            </div>
                        {% endblock %}

                        {% block layout_header_minimal_contact %}
                            <div class="col-md-4 header-minimal-contact">
                                {{ "header.supportInfo"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}

                        {% block layout_header_minimal_button %}
                            <div class="col-md-4 header-minimal-back-to-shop">
                                <a href="{{ path('frontend.home.page') }}"
                                   class="btn btn-outline-primary header-minimal-back-to-shop-button"
                                   title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
                                    {{ "checkout.finishButtonBackToShop"|trans|striptags }}
                                </a>
                            </div>
                        {% endblock %}

                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_minimal_wishlist %}
                                {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' with {
                                    showCounter: false
                                } %}
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </header>
{% endblock %}
