{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {# @deprecated tag:6.4.0 class 'fixed-top' will be removed in version 6.4.0 #}
    <header class="header-minimal fixed-top">
        {% block layout_header_minimal_inner %}
            <div class="container">
                {% block layout_header_minimal_row %}
                    <div class="row header-row header-minimal-row">
                        {% block layout_header_minimal_logo %}
                            <div class="col-6 col-md-4 header-minimal-logo">
                                {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                            </div>
                        {% endblock %}

                        {% block layout_header_minimal_contact %}
                            <div class="col-md-4 header-minimal-contact">
                                {{ "header.supportInfo"|trans|sw_sanitize }}
                            </div>
                        {% endblock %}

                        {# @deprecated tag:v6.4.0 #}
                        {% block layout_header_minimal_switch %}{% endblock %}

                        {% block layout_header_minimal_button %}
                            <div class="col-md-4 header-minimal-back-to-shop">
                                <a href="{{ path('frontend.home.page') }}"
                                   class="btn btn-outline-primary header-minimal-back-to-shop-button"
                                   title="{{ "checkout.finishButtonBackToShop"|trans|striptags }}">
                                    {{ "checkout.finishButtonBackToShop"|trans|striptags }}
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </header>
{% endblock %}
