// Base colors
@color-shopware-blue:            #189EFF;
@color-biscay:                   #16325C;
@color-kashmir:                  #54698D;
@color-deep-cove:                #303A4F;
@color-iron:                     #FAFBFC;
@color-crimson:                  #DE294C;
@color-pumpkin-spice:            #FFB75D;
@color-emerald:                  #37D046;
@color-cadet-blue:               #E8F6FF;
@color-white:                    #FFF;
@color-black:                    #000;
@color-gutenberg:                #607182;
@color-steam-cloud:              #D8DDE6;
@color-link-water:               #FCFCFC;
@color-light-gray:               #F4F7FA;

// Gradients
@color-gradient-dark-gray-start: #303A4F;
@color-gradient-dark-gray-end:   #2A3345;
@gradient-dark-gray:             linear-gradient(to bottom, @color-gradient-dark-gray-start, @color-gradient-dark-gray-end);

// Typography
@font-family-default:            'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@font-size-default:              16px;
@font-size-small:                14px;

// Miscellaneous
@border-radius-default:          4px;
