.sw-settings-rule-list {
    .sw-settings-rule-list-invalid {
        color: var(--color-text-critical-default);
    }

    .sw-grid {
        overflow: scroll;
    }
}

.sw-settings-rule-list__content {
    .sw-settings-rule-list__empty-state {
        margin: 0 auto;
    }
}
