{% block sw_field_help_text %}
    <div class="sw-field__help" :for="id">
        <slot name="help-text">
            {% block sw_field_slot_help_text %}
                {{ helpText }}
            {% endblock %}
        </slot>
    </div>
{% endblock %}
