<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_value_content %}
<div class="sw-condition-date-range sw-condition__condition-value">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_date_range_field_use_time %}
    <sw-single-select
        {% if VUE3 %}
        v-model:value="useTime"
        {% else %}
        v-model="useTime"
        {% endif %}
        name="sw-field--useTime"
        size="medium"
        :options="selectValues"
        :disabled="disabled"
        :placeholder="$tc('global.sw-condition.condition.withTime')"
        show-clearable-button
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_date_range_field_from_date %}
    <sw-datepicker
        {% if VUE3 %}
        v-model:value="fromDate"
        {% else %}
        v-model="fromDate"
        {% endif %}
        name="sw-field--fromDate"
        size="medium"
        :date-type="isDateTime"
        required
        :disabled="disabled"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condiiton_date_range_field_to_date %}
    <sw-datepicker
        {% if VUE3 %}
        v-model:value="toDate"
        {% else %}
        v-model="toDate"
        {% endif %}
        name="sw-field--toDate"
        size="medium"
        :date-type="isDateTime"
        required
        :disabled="disabled"
    />
    {% endblock %}
</div>
{% endblock %}
