<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <!-- Versioning -->
        <service alias="Shopware\System\Config\ConfigFormRepository.v1" id="Shopware\System\Config\ConfigFormRepository" public="true" />
        <service alias="Shopware\System\Config\Aggregate\ConfigFormField\ConfigFormFieldRepository.v1" id="Shopware\System\Config\Aggregate\ConfigFormField\ConfigFormFieldRepository" public="true" />
        <service alias="Shopware\System\Config\Aggregate\ConfigFormFieldTranslation\ConfigFormFieldTranslationRepository.v1" id="Shopware\System\Config\Aggregate\ConfigFormFieldTranslation\ConfigFormFieldTranslationRepository" public="true" />
        <service alias="Shopware\System\Config\Aggregate\ConfigFormFieldValue\ConfigFormFieldValueRepository.v1" id="Shopware\System\Config\Aggregate\ConfigFormFieldValue\ConfigFormFieldValueRepository" public="true" />
        <service alias="Shopware\System\Config\Aggregate\ConfigFormTranslation\ConfigFormTranslationRepository.v1" id="Shopware\System\Config\Aggregate\ConfigFormTranslation\ConfigFormTranslationRepository" public="true"/>

        <service class="Shopware\System\Config\ConfigFormDefinition" id="Shopware\System\Config\ConfigFormDefinition" >
            <tag name="shopware.entity.definition" entity="config_form" />
        </service>

        <service class="Shopware\System\Config\ConfigFormRepository" id="Shopware\System\Config\ConfigFormRepository.v1" public="true">
          <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
          <argument id="Shopware\Framework\ORM\Version\Service\VersionManager" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
          <argument id="event_dispatcher" type="service"/>
        </service>
         <service class="Shopware\System\Config\Aggregate\ConfigFormField\ConfigFormFieldDefinition" id="Shopware\System\Config\Aggregate\ConfigFormField\ConfigFormFieldDefinition" >
            <tag name="shopware.entity.definition" entity="config_form_field" />
        </service>

        <service class="Shopware\System\Config\Aggregate\ConfigFormField\ConfigFormFieldRepository" id="Shopware\System\Config\Aggregate\ConfigFormField\ConfigFormFieldRepository.v1" public="true">
          <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
          <argument id="Shopware\Framework\ORM\Version\Service\VersionManager" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
          <argument id="event_dispatcher" type="service"/>
        </service>
         <service class="Shopware\System\Config\Aggregate\ConfigFormFieldTranslation\ConfigFormFieldTranslationDefinition" id="Shopware\System\Config\Aggregate\ConfigFormFieldTranslation\ConfigFormFieldTranslationDefinition" >
            <tag name="shopware.entity.definition" entity="config_form_field_translation" />
        </service>

        <service class="Shopware\System\Config\Aggregate\ConfigFormFieldTranslation\ConfigFormFieldTranslationRepository" id="Shopware\System\Config\Aggregate\ConfigFormFieldTranslation\ConfigFormFieldTranslationRepository.v1" public="true">
          <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
          <argument id="Shopware\Framework\ORM\Version\Service\VersionManager" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
          <argument id="event_dispatcher" type="service"/>
        </service>

         <service class="Shopware\System\Config\Aggregate\ConfigFormFieldValue\ConfigFormFieldValueDefinition" id="Shopware\System\Config\Aggregate\ConfigFormFieldValue\ConfigFormFieldValueDefinition" >
            <tag name="shopware.entity.definition" entity="config_form_field_value" />
        </service>

        <service class="Shopware\System\Config\Aggregate\ConfigFormFieldValue\ConfigFormFieldValueRepository" id="Shopware\System\Config\Aggregate\ConfigFormFieldValue\ConfigFormFieldValueRepository.v1" public="true">
          <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
          <argument id="Shopware\Framework\ORM\Version\Service\VersionManager" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
          <argument id="event_dispatcher" type="service"/>
        </service>
         <service class="Shopware\System\Config\Aggregate\ConfigFormTranslation\ConfigFormTranslationDefinition" id="Shopware\System\Config\Aggregate\ConfigFormTranslation\ConfigFormTranslationDefinition" >
            <tag name="shopware.entity.definition" entity="config_form_translation" />
        </service>


        <service class="Shopware\System\Config\Aggregate\ConfigFormTranslation\ConfigFormTranslationRepository" id="Shopware\System\Config\Aggregate\ConfigFormTranslation\ConfigFormTranslationRepository.v1" public="true">
          <argument id="Shopware\Framework\ORM\Dbal\EntityReader" type="service"/>
          <argument id="Shopware\Framework\ORM\Version\Service\VersionManager" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntitySearcher" type="service"/>
          <argument id="Shopware\Framework\ORM\Dbal\EntityAggregator" type="service"/>
          <argument id="event_dispatcher" type="service"/>
        </service>

        <!-- Config -->
        <service class="Shopware\System\Config\Util\CacheWarmer" id="Shopware\System\Config\Util\CacheWarmer">
            <tag name="kernel.cache_warmer" />

            <argument type="service" id="Shopware\System\Config\Util\ConfigService" />
        </service>

        <service class="Shopware\System\Config\Util\ConfigService" id="Shopware\System\Config\Util\ConfigService">
            <argument type="service" id="Doctrine\DBAL\Connection" />
        </service>

        <service class="Shopware\System\Config\Util\CachedConfigService" decorates="Shopware\System\Config\Util\ConfigService" id="Shopware\System\Config\Util\CachedConfigService">
            <argument type="service" id="Shopware\System\Config\Util\CachedConfigService.inner" />
            <argument type="service" id="shopware.cache" />
        </service>

        <service id="shopware.config" alias="Shopware\System\Config\Util\Config" />
        <service synthetic="true" id="Shopware\System\Config\Util\Config" class="Shopware\System\Config\Util\Config" />
    </services>
</container>                
                