{% block sw_settings_snippet_detail %}
    <sw-page class="sw-settings-snippet-detail">
        {% block sw_settings_snippet_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="snippet.translationKey">{{ snippet.translationKey }}</h2>
                <h2 v-else>{{ $tc('sw-settings-snippet.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_settings_snippet_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_snippet_detail_actions_abort %}
                    <sw-button :disabled="snippet.isLoading"
                               :routerLink="{ name: 'sw.settings.snippet.index' }">
                        {{ $tc('sw-settings-snippet.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_snippet_detail_actions_save %}
                    <sw-button :disabled="snippet.isLoading"
                               @click.prevent="onSave"
                               variant="primary">
                        {{ $tc('sw-settings-snippet.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_snippet_detail_content %}
            <sw-card-view slot="content">
                {% block sw_settings_snippet_set_detail_card %}
                    <div class="sw-settings-snippet-set-detail-card">
                        {% block sw_settings_snippet_set_detail_card_information %}
                            <sw-card :title="$tc('sw-settings-snippet.detail.cardGeneralTitle')" :isLoading="snippet.isLoading">
                                <div class="snippet-general-card">
                                    {% block sw_settings_snippet_set_detail_card_information_container %}
                                        <sw-container>
                                            {% block sw_settings_snippet_set_detail_card_information_key %}
                                                <sw-field type="text"
                                                          :label="$tc('sw-settings-snippet.detail.labelName')"
                                                          :placeholder="$tc('sw-settings-snippet.detail.labelNamePlaceholder')"
                                                          v-model="snippet.translationKey">
                                                </sw-field>
                                            {% endblock %}
                                        </sw-container>
                                    {% endblock %}
                                </div>
                            </sw-card>
                        {% endblock %}

                        {% block sw_settings_snippet_set_detail_card_snippets %}
                            <sw-card :title="$tc('sw-settings-snippet.detail.cardSnippetSetsTitle')" :isLoading="snippet.isLoading">
                                <div class="snippet-overview-card">
                                    {% block sw_settings_snippet_set_detail_card_snippets_container %}
                                        <sw-container>
                                            {#TODO: REMOVE ME - Make dynamic with NEXT-1380 #}
                                            {% block sw_settings_snippet_set_detail_card_snippets_fields %}
                                                <sw-field type="text"
                                                          {#v-for="snippetSet in snippetSets"#}
                                                          v-model="snippet.value"
                                                          {#:label="$tc('sw-settings-snippet.detail.labelContent', 0, { name: snippetSet.name })"#}
                                                          label="Snippet-Text:"
                                                          :placeholder="$tc('sw-settings-snippet.detail.labelContentPlaceholder')">
                                                </sw-field>
                                            {% endblock %}
                                            {#TODO: REMOVE ME - Make dynamic with NEXT-1380 #}
                                        </sw-container>
                                    {% endblock %}
                                </div>
                            </sw-card>
                        {% endblock %}
                    </div>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}