<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_page_form %}
<div
    v-responsive="{ 'is--compact': el => el.width <= 1620, timeout: 100 }"
    class="sw-cms-page-form"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_page_form_content %}
    <template
        v-for="section in page.sections"
        :key="section.id"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_page_form_section %}
        <div
            class="sw-cms-page-form__section"
        >
            <div class="sw-cms-page-form__section-actions">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_page_form_section_name_wrapper %}
                <div class="sw-cms-page-form__section-action sw-cms-page-form__section-name">

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_page_form_section_name_icon %}
                    <sw-icon
                        name="regular-layout"
                        size="20"
                        class="sw-cms-page-form__section-action-icon sw-cms-page-form__section-name-icon"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_page_form__section_name %}
                    <span class="sw-cms-page-form__section-action-label sw-cms-page-form__section-name-label">
                        {{ getSectionName(section) }}
                    </span>
                    {% endblock %}

                    <div class="sw-cms-page-form__device-actions">
                        <sw-icon :name="getDeviceActive('mobile', section)" />

                        <sw-icon :name="getDeviceActive('tablet', section)" />

                        <sw-icon :name="getDeviceActive('desktop', section)" />
                    </div>
                </div>
                {% endblock %}
            </div>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_page_form_section_empty_state_block %}
            <sw-card
                v-if="section.blocks.length === 0"
                position-identifier="sw-cms-page-form-empty"
                class="sw-cms-page-form__block-card is--empty"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_page_form_section_empty_state_block_text %}
                <p class="sw-cms-page-form__empty-state-text">
                    {{ $tc('sw-cms.section.sectionEmptyState') }}
                </p>
                {% endblock %}
            </sw-card>
            {% endblock %}

            <template
                v-for="(block, index) in section.blocks"
                v-else
                :key="block.id"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_page_form_section_type_label_wrapper %}
                <div
                    v-if="displaySectionType(block)"
                    class="sw-cms-page-form__section-type"
                >

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_page_form_section_type_label %}
                    <div class="sw-cms-page-form__section-type-label">

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_page_form_section_type_label_icon %}
                        <sw-icon
                            v-if="block.sectionPosition !== 'main'"
                            size="20"
                            name="regular-align-left-xs"
                            class="sw-cms-page-form__section-type-icon"
                        />

                        <sw-icon
                            v-else
                            size="20"
                            name="regular-align-right-xs"
                            class="sw-cms-page-form__section-type-icon"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_page_form_section_type %}
                        <span class="sw-cms-page-form__section-type-name">
                            {{ getSectionPosition(block) }}
                        </span>
                        {% endblock %}
                    </div>
                    {% endblock %}

                    <hr class="sw-cms-page-form__section-divider">
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_page_form_card %}
                <sw-card
                    position-identifier="sw-cms-page-form-block"
                    class="sw-cms-page-form__block-card"
                    :title="$tc(getBlockTitle(block))"
                >
                    <template #header-right>
                        <div class="sw-cms-page-form__block-device-actions">
                            <sw-icon :name="getDeviceActive('mobile', section, block)" />

                            <sw-icon :name="getDeviceActive('tablet', section, block)" />

                            <sw-icon :name="getDeviceActive('desktop', section, block)" />
                        </div>
                    </template>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_page_form_card_content %}
                    <div
                        v-for="(element, blockIndex) in block.slots"
                        :key="blockIndex"
                        class="sw-cms-page-form__element-config"
                    >

                        <template v-if="displayNotification(section, block)">
                            <sw-alert variant="info">
                                {{ $tc('sw-cms.blocks.blockDisableState') }}
                            </sw-alert>
                        </template>

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_page_form_element_config %}
                        <component
                            :is="cmsElements[element.type].configComponent"
                            :element="element"
                            :element-data="cmsElements[element.type]"
                            @element-update="elementUpdate"
                        />
                        {% endblock %}
                    </div>
                    {% endblock %}
                </sw-card>
                {% endblock %}
            </template>
        </div>
        {% endblock %}
    </template>
    {% endblock %}
</div>
{% endblock %}
