@import "~scss/variables";

.sw-sales-channel-modal-detail {
    margin: -20px -30px;
    padding: 20px 30px;
    overflow: hidden;

    .sw-sales-channel-modal-detail__header {
        margin-bottom: 30px;
    }

    .sw-sales-channel-modal-detail__header-icon {
        background: var(--color-background-tertiary-default);
        width: 64px;
        height: 64px;
        border-radius: 8px;

        .mt-icon {
            color: var(--color-icon-secondary-default);
            height: 24px;
            width: 24px;
            margin: 20px;
        }
    }

    .sw-sales-channel-modal-detail__screenshots {
        margin: 36px 30px 0;
    }

    .sw-sales-channel-modal-detail__header-name {
        font-size: $font-size-m;
        color: var(--color-text-primary-default);
        font-weight: $font-weight-semi-bold;
        margin: 6px 0;
    }

    .sw-sales-channel-modal-detail__header-manufacturer {
        font-size: $font-size-xs;
        color: var(--color-text-secondary-default);
    }

    .sw-sales-channel-modal-detail__description {
        margin-bottom: 20px;
    }

    .sw-sales-channel-modal-detail__description-title {
        margin-bottom: 20px;
        font-weight: $font-weight-semi-bold;
        color: var(--color-text-primary-default);
    }

    .sw-sales-channel-modal-detail__description-text {
        color: var(--color-text-primary-default);
    }
}
