.sw-settings-user-detail {
    .sw-settings-user-detail__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "FirstName LastName"
            "EMail ProfilePicture"
            "Username ProfilePicture"
            "Password IsAdmin"
            "ChangePassword none"
            "Language Timezone"
            "JobTitle AclRoles";
        grid-column-gap: var(--scale-size-32);
    }

    .sw-settings-user-detail__grid-firstName {
        grid-area: FirstName;
    }

    .sw-settings-user-detail__grid-lastName {
        grid-area: LastName;
    }

    .sw-settings-user-detail__grid-eMail {
        grid-area: EMail;
    }

    .sw-settings-user-detail__grid-username {
        grid-area: Username;
    }

    .sw-settings-user-detail__grid-password {
        grid-area: Password;
    }

    .sw-settings-user-detail__grid-language {
        grid-area: Language;
    }

    .sw-settings-user-detail__grid-profile-picture {
        grid-area: ProfilePicture;
    }

    .sw-settings-user-detail__grid-jobTitle {
        grid-area: JobTitle;
    }

    .sw-settings-user-detail__grid-aclRoles {
        grid-area: AclRoles;
    }

    .sw-settings-user-detail__grid-is-admin {
        grid-area: IsAdmin;
    }

    &__grid-timezone {
        grid-area: Timezone;
        margin-top: 0;
    }
}
