.sw-flow-sequence-action-error {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--scale-size-8);

    &__context-button {
        position: absolute;
        right: 0;
    }
}
