{% block sw_condition_value_content %}
    <div class="sw-condition-weight-of-cart sw-condition__condition-value">
        {% block sw_condition_weight_of_cart_field_operator %}
            <sw-condition-operator-select v-bind="{ operators, condition}"
                                          :disabled="disabled">
            </sw-condition-operator-select>
        {% endblock %}

        {% block sw_condition_weight_of_cart_field_weight %}
            <sw-number-field size="medium"
                             :step="0.01"
                             :digits="3"
                             v-model="weight"
                             :disabled="disabled">
            </sw-number-field>
        {% endblock %}
    </div>
{% endblock %}
