@import "~less/variables";
@import "~less/mixins";

@sw-media-grid-item-color-selected:          @color-shopware-blue;
@sw-media-grid-item-pseudo-padding:          10px;
@sw-media-grid-item-border-radius:           @border-radius-default;

@sw-media-grid-item-color-border:            @color-steam-cloud;
@sw-media-grid-item-color-text-inline-input: @color-gutenberg;
@sw-media-grid-item-color-details:           @color-gutenberg;

.sw-media-grid-item {
    padding: 10px;

    &.is--selected {
        color: @sw-media-grid-item-color-selected;

        .sw-media-grid-item__content.is--list {
            border: 1px solid @sw-media-grid-item-color-selected;
        }
    }

    .sw-context-button {
        .sw-icon {
            width: 16px;
            height: 16px;
        }

        .sw-context-button__button {
            .sw-icon {
                height: 100%;
            }

            height: 18px;
            padding: 0 2px;
            line-height: 16px;
        }
    }

    .sw-media-grid-item__content.is--grid {
        position: relative;

        .sw-media-grid-item__name-container {
            margin-top: 10px;
            text-align: center;
        }

        .sw-context-button {
            position: absolute;
            top: 5px;
            right: 9px;
        }
    }

    .sw-media-grid-item__content.is--list {
        border: 1px solid @sw-media-grid-item-color-border;
        border-radius: @sw-media-grid-item-border-radius;
        padding: 2px;
        margin: 0 5px;
        display: grid;

        grid-template-columns: 50px minmax(60px, 1fr);
        grid-auto-flow: column;
        align-items: center;
    }

    .sw-media-grid-item__name {
        max-width: 100%;
        .truncate();
    }

    .sw-media-grid-item__selected-indicator {
        visibility: hidden;
        position: absolute;
        top: @sw-media-grid-item-pseudo-padding;
        left: @sw-media-grid-item-pseudo-padding;
    }

    &:hover {
        .sw-media-grid-item__selected-indicator {
            visibility: visible;
        }

        .sw-context-button__button {
            background: #fff;
            border: 1px solid @sw-media-grid-item-color-border;
            border-radius: @sw-media-grid-item-border-radius;
        }
    }

    .selected-indicator--visible {
        visibility: visible;
    }
}