<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_slider %}
<div
    class="sw-cms-el-image-slider"
    :class="outsideNavArrows"
    :style="verticalAlignStyle"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_image_slider_img %}
    <div
        class="sw-cms-el-image-slider__image-box"
        :class="[displayModeClass, navDotsClass]"
        :style="styles"
    >
        <img
            class="sw-cms-el-image-slider__image"
            :src="imgSrc"
            alt=""
        >
    </div>
    {% endblock %}

    <template v-if="element.data !== null">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_slider_nav %}
        <div class="sw-cms-el-image-slider__navigation">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_slider_nav_dots %}
            <div
                v-if="element.config.navigationDots.value !== null"
                class="sw-cms-el-image-slider__navigation-dots"
                :class="navDotsClass"
            >
                <div class="sw-cms-el-image-slider__navigation-buttons">
                    <template v-if="sliderItems && sliderItems.length > 0">
                        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
                        <div
                            v-for="(sliderItem, index) in sliderItems"
                            :key="index"
                            :class="activeButtonClass(sliderItem.media.url)"
                            class="sw-cms-el-image-slider__navigation-button"
                            @click="setSliderItem(sliderItem.media, index)"
                        ></div>
                    </template>
                    <template v-else>
                        <div class="sw-cms-el-image-slider__navigation-button is--active"></div>
                        <div class="sw-cms-el-image-slider__navigation-button"></div>
                        <div class="sw-cms-el-image-slider__navigation-button"></div>
                    </template>
                </div>
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_slider_nav_arrows %}
            <div
                v-if="element.config.navigationArrows.value !== null"
                class="sw-cms-el-image-slider__navigation-arrows"
                :class="[navArrowsClass, navDotsClass]"
            >
                <sw-icon
                    class="sw-cms-el-image-slider__navigation-button"
                    name="regular-chevron-left"
                    size="24"
                    @click="setSliderArrowItem(-1)"
                />
                <sw-icon
                    class="sw-cms-el-image-slider__navigation-button"
                    name="regular-chevron-right"
                    size="24"
                    @click="setSliderArrowItem()"
                />
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </template>

    <template v-else>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_slider_nav_default %}
        <div class="sw-cms-el-image-slider__navigation">
            <div class="sw-cms-el-image-slider__navigation-arrows is--nav-outside">
                <sw-icon
                    class="sw-cms-el-image-slider__navigation-button"
                    name="regular-chevron-left"
                    size="24"
                />
                <sw-icon
                    class="sw-cms-el-image-slider__navigation-button"
                    name="regular-chevron-right"
                    size="24"
                />
            </div>
        </div>
        {% endblock %}
    </template>
</div>
{% endblock %}
