{% block sw_cms_element_image_slider_config %}
<div class="sw-cms-el-config-image-slider">
    {% block sw_cms_element_image_slider_config_tabs %}
    <sw-tabs
        class="sw-cms-el-config-image-slider__tabs"
        default-item="content"
    >
        <template slot-scope="{ active }">
            {% block sw_cms_element_image_slider_config_tab_content %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.content')"
                name="content"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
            {% endblock %}
            {% block sw_cms_element_image_slider_config_tab_options %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.settings')"
                name="settings"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
            {% endblock %}
        </template>

        <template
            slot="content"
            slot-scope="{ active }"
        >
            {% block sw_cms_element_image_slider_config_content %}
            <sw-container
                v-if="active === 'content'"
                class="sw-cms-el-config-image-slider__tab-content"
            >
                {% block sw_cms_element_image_slider_config_media_selection %}
                <sw-media-list-selection-v2
                    :entity-media-items="mediaItems"
                    :entity="entity"
                    :upload-tag="uploadTag"
                    :default-folder-name="defaultFolderName"
                    @upload-finish="onImageUpload"
                    @item-remove="onItemRemove"
                    @open-sidebar="onOpenMediaModal"
                />
                {% endblock %}

                {% block sw_cms_element_image_slider_config_media_modal %}
                <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="regular"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onItemRemove"
                    @media-modal-selection-change="onMediaSelectionChange"
                    @modal-close="onCloseMediaModal"
                />
                {% endblock %}
            </sw-container>
            {% endblock %}

            {% block sw_cms_element_image_slider_config_settings %}
            <sw-container
                v-if="active === 'settings'"
                class="sw-cms-el-config-image-slider__tab-settings"
            >
                <div class="sw-cms-el-config-image-slider__settings-options">

                    {% block sw_cms_element_image_gallery_config_settings_display_mode %}
                    <div class="sw-cms-el-config-image-slider__setting-option">

                        {% block sw_cms_element_image_gallery_config_settings_display_mode_select %}
                        <sw-select-field
                            v-model="element.config.displayMode.value"
                            :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                            class="sw-cms-el-config-image-slider__setting-display-mode"
                            @change="onChangeDisplayMode"
                        >
                            <option value="standard">
                                {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                            </option>
                            <option value="cover">
                                {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                            </option>
                            <option value="contain">
                                {{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
                            </option>
                        </sw-select-field>
                        {% endblock %}

                        {% block sw_cms_element_image_gallery_config_settings_min_height %}
                        <sw-text-field
                            v-model="element.config.minHeight.value"
                            :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                            :placeholder="$tc('sw-cms.elements.image.config.label.minHeight')"
                            :disabled="element.config.displayMode.value !== 'cover'"
                            @input="onChangeMinHeight"
                        />
                        {% endblock %}

                        {% block sw_cms_element_image_gallery_config_settings_vertical_align %}
                        <sw-select-field
                            v-model="element.config.verticalAlign.value"
                            :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                            :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                            :disabled="element.config.displayMode.value === 'cover'"
                        >
                            <option value="flex-start">
                                {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                            </option>
                            <option value="center">
                                {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                            </option>
                            <option value="flex-end">
                                {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                            </option>
                        </sw-select-field>
                        {% endblock %}
                    </div>
                    {% endblock %}

                    {% block sw_cms_element_image_slider_config_settings_navigation %}
                    <div class="sw-cms-el-config-image-slider__setting-navigations sw-cms-el-config-image-slider__setting-option">
                        <div class="sw-cms-el-config-image-slider__settings-navigation">

                            {% block sw_cms_element_image_slider_config_settings_navigation_arrow_position %}
                            <sw-field
                                v-model="element.config.navigationArrows.value"
                                type="select"
                                :label="$tc('sw-cms.elements.imageSlider.config.label.navigationArrows')"
                                @change="emitUpdateEl"
                            >

                                <option :value="null">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionNone') }}
                                </option>
                                <option value="inside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionInside') }}
                                </option>
                                <option value="outside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionOutside') }}
                                </option>
                            </sw-field>
                            {% endblock %}
                        </div>

                        <div class="sw-cms-el-config-image-slider__settings-navigation">

                            {% block sw_cms_element_image_slider_config_settings_navigation_dots_position %}
                            <sw-field
                                v-model="element.config.navigationDots.value"
                                type="select"
                                :label="$tc('sw-cms.elements.imageSlider.config.label.navigationDots')"
                                @change="emitUpdateEl"
                            >

                                <option :value="null">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionNone') }}
                                </option>
                                <option value="inside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionInside') }}
                                </option>
                                <option value="outside">
                                    {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionOutside') }}
                                </option>
                            </sw-field>
                            {% endblock %}
                        </div>
                    </div>
                    {% endblock %}

                    {% block sw_cms_element_image_slider_config_settings_links %}
                    <div class="sw-cms-el-config-image-slider__settings-links sw-cms-el-config-image-slider__setting-option">
                        <div
                            v-for="(sliderItem, index) in items"
                            :key="index"
                            class="sw-cms-el-config-image-slider__settings-link"
                        >

                            {% block sw_cms_element_image_slider_config_settings_link_url %}
                            <sw-field
                                :key="sliderItem.mediaId"
                                v-model="sliderItem.url"
                                class="sw-cms-el-config-image-slider__settings-link-input"
                                :name="sliderItem.mediaUrl"
                                type="text"
                                :label="$tc('sw-cms.elements.image.config.label.linkTo')"
                                :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterUrl')"
                            >
                                <template #prefix>
                                    <img
                                        v-if="sliderItem.mediaUrl"
                                        class="sw-cms-el-config-image-slider__settings-link-prefix"
                                        :src="sliderItem.mediaUrl"
                                    >
                                </template>
                            </sw-field>
                            {% endblock %}

                            {% block sw_cms_element_image_slider_config_settings_link_target %}
                            <sw-field
                                v-model="sliderItem.newTab"
                                class="sw-cms-el-config-image-slider__settings-link-tab"
                                type="switch"
                                :name="sliderItem.mediaId"
                                :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                            />
                            {% endblock %}
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
    {% endblock %}
</div>
{% endblock %}
