@import "~scss/variables";

.sw-cms-el-config-image-slider {
    .sw-cms-el-config-image-slider__setting-option {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
        gap: 0 32px;
    }

    .sw-cms-el-config-image-slider__setting-display-mode {
        grid-column: 1 / -1;
    }

    .sw-cms-el-config-image-slider__settings-links {
        .sw-cms-el-config-image-slider__settings-link {
            margin-top: 8px;

            .sw-cms-el-config-image-slider__settings-link-prefix {
                height: 36px;
                width: 44px;
                border-radius: 2px;
                object-fit: cover;
            }
        }
    }

    .sw-cms-el-config-image-slider__settings-link-input {
        margin-bottom: 8px;

        .sw-field__addition {
            &.is--prefix {
                padding: 5px 0 5px 5px;
                background: initial;
                border-right: none;
            }
        }
    }

    &__setting-auto-slide {
        &.sw-field--switch .sw-field__label label {
            margin-right: 0;
        }
    }
}
