@import "~scss/variables";

.sw-import-export-index {
  .sw-file-input {
    margin-bottom: 22px;
  }
  .sw-single-select {
    margin-bottom: 22px;
  }
  .sw-import-export-index__start-action {
    display: block;
    margin: auto;
  }
}