@import "~scss/variables";

.sw-entity-single-select {
    .sw-entity-single-select__selection-input {
        padding: 12px 0;
        width: 0;
        display: inline-block;

        &.is--expanded {
            width: 100%;
            display: block;
            padding: 12px 8px;
        }
    }

    .sw-entity-single-select__selection-text {
        display: inline-block;
        padding-left: 8px;

        &.is--placeholder {
            color: lighten($color-darkgray-200, 25%);
        }
    }

    &.sw-field--medium {
        .sw-select__selection {
            padding: 0 6px;
        }

        .sw-entity-single-select__selection-input {
            padding: 8px;
        }
    }

    &.sw-field--small {
        .sw-select__selection {
            padding: 0 6px;
        }

        .sw-entity-single-select__selection-input {
            padding: 4px 8px;
        }
    }

    &__selection {
        display: flex;
        align-items: center;
        padding-right: 48px;
    }
}
