<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_list %}
<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_payment_index %}
<sw-page class="sw-settings-payment-list">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_payment_list_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="payment_method"
            :placeholder="$tc('sw-settings-payment.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_payment_list_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_payment_list_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_payment_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }} <sw-icon
                name="regular-chevron-right-xs"
                small
            /> {{ $tc('sw-settings-payment.list.textHeadline') }}
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_payment_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_payment_list_smart_bar_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_payment_list_smart_bar_actions_add %}
        <sw-button
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('payment.creator'),
                showOnDisabledElements: true
            }"
            class="sw-settings-payment-list__button-create"
            :disabled="!acl.can('payment.creator')"
            :router-link="{ name: 'sw.settings.payment.create' }"
            variant="primary"
        >
            {{ $tc('sw-settings-payment.list.buttonAddPaymentMethod') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_payment_list_language_switch %}
    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_payment_list_content %}
    <template #content>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_payment_list_content_inner %}
        <div class="sw-settings-payment-list__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_payment_list_grid %}
            <sw-entity-listing
                v-if="isLoading || (payment && entitySearchable)"
                ref="swSettingsPaymentGrid"
                class="sw-settings-payment-list-grid"
                :items="payment"
                :columns="getPaymentColumns()"
                :repository="paymentRepository"
                detail-route="sw.settings.payment.detail"
                :show-selection="false"
                :allow-inline-edit="acl.can('payment.editor')"
                :is-loading="isLoading"
                :disable-data-fetching="true"
                :sort-by="currentSortBy"
                :sort-direction="sortDirection"
                @column-sort="onSortColumn"
                @page-change="onPageChange"
                @inline-edit-save="onInlineEditSave"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_payment_list_column_extension %}
                <template #column-extension="{ item }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_payment_list_column_extension_label %}
                    <span class="sw-data-grid__cell-value">
                        {{ getExtensionName(item) }}
                    </span>
                    {% endblock %}
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_payment_list_column_active %}
                <template #column-active="{ item, isInlineEdit }">
                    <template v-if="isInlineEdit">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_payment_list_column_active_editor %}
                        <sw-field
                            v-model="item.active"
                            type="checkbox"
                        />
                        {% endblock %}
                    </template>
                    <template v-else>
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_payment_list_column_active_label %}
                        <sw-icon
                            v-if="item.active"
                            name="regular-checkmark-xs"
                            small
                            class="is--active"
                        />
                        <sw-icon
                            v-else
                            name="regular-times-s"
                            small
                            class="is--inactive"
                        />
                        {% endblock %}
                    </template>
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_payment_list_column_position %}
                <template #column-position="{ item }">
                    <sw-data-grid-column-position
                        v-model="payment"
                        :item="item"
                        :disabled="disablePositioning || !acl.can('payment.editor')"
                        :show-value="true"
                        @position-changed="onPositionChanged"
                    />
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_payment_list_grid_columns_actions %}
                <template #actions="{ item }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_payment_list_grid_columns_actions_edit %}
                    <sw-context-menu-item
                        class="sw-settings-payment-list__edit-action"
                        :disabled="!acl.can('payment.editor')"
                        :router-link="{ name: 'sw.settings.payment.detail', params: { id: item.id, edit: 'edit' }}"
                    >
                        {{ $tc('sw-settings-payment.list.contextMenuEdit') }}
                    </sw-context-menu-item>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_payment_list_grid_columns_actions_delete %}
                    <sw-context-menu-item
                        class="sw-settings-payment-list__delete-action"
                        :disabled="!acl.can('payment.deleter')"
                        variant="danger"
                        @click="onDelete(item.id)"
                    >
                        {{ $tc('sw-settings-payment.list.contextMenuDelete') }}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_payment_list_grid_action_modals %}
                <template #action-modals="{ item }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_payment_list_delete_modal %}
                    <sw-modal
                        v-if="showDeleteModal === item.id"
                        :title="$tc('global.default.warning')"
                        variant="small"
                        @modal-close="onCloseDeleteModal"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_payment_list_delete_modal_confirm_delete_text %}
                        <p class="sw-settings-payment-list__confirm-delete-text">
                            {{ $tc('sw-settings-payment.list.textDeleteConfirm', 0, { name: item.name }) }}
                        </p>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_payment_list_delete_modal_footer %}
                        <template #modal-footer>
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_payment_list_delete_modal_cancel %}
                            <sw-button
                                size="small"
                                @click="onCloseDeleteModal"
                            >
                                {{ $tc('sw-settings-payment.list.buttonCancel') }}
                            </sw-button>
                            {% endblock %}

                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_settings_payment_list_delete_modal_confirm %}
                            <sw-button
                                variant="danger"
                                size="small"
                                @click="onConfirmDelete(item.id)"
                            >
                                {{ $tc('sw-settings-payment.list.buttonDelete') }}
                            </sw-button>
                            {% endblock %}
                        </template>
                        {% endblock %}
                    </sw-modal>
                    {% endblock %}
                </template>
                {% endblock %}
            </sw-entity-listing>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_payment_list_empty_state %}
            <sw-empty-state
                v-if="!isLoading && !total && isValidTerm(term)"
                :title="$tc('sw-empty-state.messageNoResultTitle')"
            >
                <template #default>
                    {{ $tc('sw-empty-state.messageNoResultSublineBefore') }}
                    <router-link
                        class="sw-empty-state__description-link"
                        :to="{ name: 'sw.profile.index.searchPreferences' }"
                    >
                        {{ $tc('sw-empty-state.messageNoResultSublineLink') }}
                    </router-link>
                    {{ $tc('sw-empty-state.messageNoResultSublineAfter') }}
                </template>
            </sw-empty-state>
            {% endblock %}
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_payment_list_content_deprecated_alert %}
        <sw-alert
            v-if="showDeprecatedAlert"
            class="sw-settings-payment-list__deprecated-alert"
            variant="warning"
            closable
            @close="showDeprecatedAlert = false"
        >
            {{ $tc('sw-settings-payment.deprecated-alert.message') }}
            <sw-internal-link
                inline
                :router-link="{ name: 'sw.settings.payment.overview' }"
            >
                {{ $tc('sw-settings-payment.deprecated-alert.link') }}
            </sw-internal-link>
        </sw-alert>
        {% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
{% endblock %}
