@import "~scss/variables";

$sw-payment-list-color-error: $color-crimson-500;
$sw-payment-list-color-success: $color-emerald-500;

.sw-settings-payment-list {
    .is--inactive {
        color: $sw-payment-list-color-error;
    }

    .is--active {
        color: $sw-payment-list-color-success;
    }
}
