<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_add_block %}
<div
    class="sw-cms-stage-add-block"
    role="button"
    tabindex="0"
    @click="$emit('stage-block-add')"
    @keydown.enter="$emit('stage-block-add')"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_add_block_handle %}
    <div class="sw-cms-stage-add-block__handle"></div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_add_block_button %}
    <div class="sw-cms-stage-add-block__button">
        <sw-icon
            name="regular-plus"
            size="16"
        />
    </div>
    {% endblock %}
</div>
{% endblock %}
