.sw-sales-channel-list {
    .sw-data-grid__cell--name {
        .sw-icon {
            margin-right: 8px;
        }
    }

    .favorite-switch .sw-field--switch__input {
        padding: 0;

        .sw-field__switch-state {
            position: relative;
        }
    }
}
