<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_confirm_modal %}
<sw-modal
    class="sw-confirm-modal"
    v-bind="$attrs"
    :variant="variant"
    :title="titleText"
    @modal-close="$emit('close')"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_confirm_modal_text %}
    <slot>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_confirm_modal_text_default %}
        <p class="sw-confirm-modal__text">
            {{ descriptionText }}
        </p>
        {% endblock %}

    </slot>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_confirm_modal_footer %}
    <template #modal-footer>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_confirm_modal_footer_cancel %}
        <sw-button
            class="sw-confirm-modal__button-cancel"
            size="small"
            @click="$emit('cancel')"
        >
            {{ cancelText }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_confirm_modal_footer_confirm %}
        <sw-button
            class="sw-confirm-modal__button-confirm"
            :variant="confirmButtonVariant"
            size="small"
            @click="$emit('confirm')"
        >
            {{ confirmText }}
        </sw-button>
        {% endblock %}

    </template>
    {% endblock %}

</sw-modal>
{% endblock %}
