.cart-item {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid $border-color;

    &.is-child {
        background-color: $gray-100;
    }
}

.cart-item-nested-icon {
    background-color: $gray-600;
}

.cart-item-img {
    padding: $spacer-xs;
    border: 1px solid $border-color;
    border-radius: $border-radius-sm;
}

.cart-item-ordernumber {
    margin-bottom: $spacer-sm;
    font-size: $font-size-sm;
}

.cart-item-variants {
    font-size: $font-size-sm;
}

.cart-item-variants-properties-name {
    font-weight: $font-weight-bold;
}

.cart-item-label {
    color: $body-color;
    font-weight: $font-weight-bold;

    a&:hover {
        color: $primary;
        text-decoration: none;
    }
}

.cart-item-quantity-label,
.cart-item-unit-price-label,
.cart-item-total-price-label,
.cart-item-tax-price-label {
    color: $gray-800;
}

@include media-breakpoint-up(md) {
    .cart-item {
        padding: 10px 0;
    }

    .cart-item-details-container {
        padding-left: $spacer;
    }
}

.cart-item-characteristics {
    margin: $spacer-sm 0;
    font-size: $font-size-sm;

    .cart-item-characteristics-option {
        font-weight: $font-weight-bold;
    }
}
