.sw-cms-preview-image-highlight-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: stretch;
    justify-items: center;
    grid-gap: 20px;
    padding: 15px;
    background: #e9e9e9;

    .sw-cms-preview-image-highlight-row__image {
        height: 100px;
        border: 8px solid #fff;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
