{% block element_product_listing %}
    {# @var result \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
    {% set searchResult = element.data.listing %}

    <div class="cms-element-{{ element.type }}">
        {% block element_product_listing_row %}
            <div class="row cms-listing-row js-listing-wrapper">
                {% block element_product_listing_col %}
                    {% for product in searchResult %}
                        <div class="cms-listing-col col-sm-6 col-lg-4 col-xl-3">
                            {% block element_product_listing_box %}
                                {% sw_include '@Storefront/component/product/card/box.html.twig' with {
                                    'layout': element.translated.config.boxLayout.value,
                                    'displayMode': element.translated.config.displayMode.value
                                } %}
                            {% endblock %}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block element_product_listing_pagination_bottom %}
            {% sw_include '@Storefront/component/pagination.html.twig'  with {
                searchResult: searchResult,
                isCmsSlot: 1,
                class: 'listing-bottom-pagination'
            } %}
        {% endblock %}
    </div>
{% endblock %}
