{% block element_product_box %}
    <div class="cms-element-{{ element.type }}">
        {% block element_product_box_inner %}
            {% sw_include '@Storefront/component/product/card/box.html.twig' with {
                'product': element.data.product,
                'layout': element.translated.config.boxLayout.value,
                'displayMode': element.translated.config.displayMode.value
            } %}
        {% endblock %}
    </div>
{% endblock %}
