{% block sw_context_menu_item %}
    <div class="sw-context-menu-item" v-on="$listeners" :class="{ 'is-disabled': disabled }">
        {% block sw_context_menu_item %}
            <sw-icon :name="icon" small v-if="icon"></sw-icon>
        {% endblock %}

        {% block sw_context_menu_item_text %}
            <span class="sw-context-menu-item__text">
                <slot>{% block sw_context_menu_item_text_slot_default %}{% endblock %}</slot>
            </span>
        {% endblock %}
    </div>
{% endblock %}