{% block sw_plugin_updates_grid %}
<div class="sw-plugin-updates-grid">
    {% block sw_plugin_updates_grid_top_actions %}
    <div class="sw-plugin-manager__top-actions">
        <h1>{{ $tc('sw-plugin.updates.updateHeader') }}</h1>
        <sw-button variant="ghost">
            {{ $tc('sw-plugin.updates.updateAllButton') }}
        </sw-button>
    </div>
    {% endblock %}

    <sw-card :isLoading="isLoading">
        {% block sw_plugin_updates_list_grid %}
        <sw-grid v-show="isLoading || total"
                 :items="updates"
                 :selectable="false"
                 slot="grid"
                 table>

            {% block sw_plugin_updates_list_grid_slots %}
            <template slot="columns" slot-scope="{ item }">

                {% block sw_plugin_updates_list_grid_columns_id %}
                <sw-grid-column flex="minmax(100px, 1fr)"
                                :label="$tc('sw-plugin.list.columnPlugin')"
                                dataIndex="name"
                                truncate
                                sortable>
                    {% block sw_plugin_updates_list_grid_columns_id_label %}
                    <div class="sw-plugin-updates-grid__info-container">
                        <div class="sw-plugin-updates-grid__plugin-info">
                            <p>{{ item.name }}</p>
                            <p class="sw-plugin-updates-grid__upgraded-date">Heute</p>
                        </div>
                    </div>
                    {% endblock %}
                </sw-grid-column>
                {% endblock %}

                {% block sw_plugin_updates_list_grid_columns_name %}
                    <sw-grid-column flex="minmax(100px, 1fr)"
                                    :label="$tc('sw-plugin.list.columnChangelog')"
                                    dataIndex="changelog"
                                    truncate
                                    sortable>
                        {% block sw_plugin_updates_list_grid_columns_name_label %}
                            {{ item.code }}
                        {% endblock %}
                    </sw-grid-column>
                {% endblock %}

                {% block sw_plugin_updates_list_grid_columns_action %}
                    <sw-grid-column flex="minmax(100px, 0.5fr)"
                                    align="center">
                        {% block sw_plugin_updates_list_grid_columns_update_button %}
                            <div class="sw-plugin-updates-grid__update-context">
                                <sw-button variant="primary">
                                    {{ $tc('sw-plugin.updates.updateButton') }}
                                </sw-button>
                                <p class="sw-plugin-updates-grid__version">
                                    {{ $tc('sw-plugin.general.version') }} {{ item.highestVersion }}
                                </p>
                            </div>
                        {% endblock %}
                    </sw-grid-column>
                {% endblock %}

            </template>
            {% endblock %}

        </sw-grid>
        {% endblock %}

        {% block sw_plugin_updates_list_empty_state %}
            <sw-empty-state v-if="!isLoading && !total"
                            :title="$tc('sw-plugin.updates.messageEmpty')"></sw-empty-state>
        {% endblock %}
    </sw-card>
</div>
{% endblock %}
