.sw-product-advanced-prices {
    margin-top: var(--spacer-sm);
    margin-bottom: 0;
    font-variant-numeric: tabular-nums;
}

.sw-product-advanced-prices__quantity {
    font-weight: normal;
    white-space: nowrap;
}
