.product-card {
    min-width: 100%;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-border-color: var(--bs-border-color);
    --bs-card-cap-padding-y: 1rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: none;
    --sw-product-card-media-height: 200px;
}

.product-card-title {
    // Reset global core styling. No border wanted here.
    border-bottom: none;
    // Reset global core styling. Spacing with margin already defined by --bs-card-title-spacer-y
    padding-bottom: 0;
    font-weight: 600;
}

.product-card-title-link {
    color: var(--bs-body-color);
    text-decoration: none;

    &.stretched-link::after {
        height: var(--sw-product-card-media-height);
    }

    &:hover {
        text-decoration: underline;
        color: var(--bs-primary);
    }
}

.product-card-badges {
    position: absolute;
    left: 0;
    bottom: 0;
}

.product-card-badge {
    --bs-badge-padding-x: 6px;
    --bs-badge-padding-y: 4px;
    --bs-badge-font-size: #{$font-size-sm};
    --bs-badge-font-weight: 600;
    --bs-badge-border-radius: 3px;
    margin: 0;
    height: auto;
    line-height: 1;
    width: max-content;
}

.product-card-price {
    font-variant-numeric: tabular-nums;
}

// Loading indicator
.product-card-loading-indicator {
    visibility: hidden;
    pointer-events: none;
}

.has-element-loader {
    .product-card > :not(.product-card-loading-indicator) {
        visibility: hidden;
        pointer-events: none;
    }

    .product-card-loading-indicator {
        visibility: visible;
    }
}

.product-card.is--layout-default {
    .product-card__inner {
        flex-direction: column;
    }
}

.product-card.is--layout-horizontal {
    // Apply .row styling
    .product-card__inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    // Apply .col-3 styling
    .product-card-header {
        flex: 0 0 auto;
        width: 25%;
    }

    // Apply .col-9 styling
    .sw-product-card__content {
        flex: 0 0 auto;
        width: 75%;
    }
}

