<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_product_grid %}
<sw-card
    class="sw-order-product-grid"
    position-identifier="sw-order-product-grid"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_product_grid_container %}
    <template #toolbar>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_product_grid_search_input %}
        <sw-card-filter
            @sw-card-filter-term-change="onSearch"
        />
        {% endblock %}
    </template>

    <template #grid>
        <div
            class="sw-order-product-grid__container"
            style="height: calc(100vh - (400px + 91px))"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_product_grid_product_list %}
            <sw-entity-listing
                ref="orderProductGrid"
                show-selection
                class="sw-order-product-grid-product-list"
                :allow-delete="false"
                :items="products"
                :columns="productColumns"
                :repository="productRepository"
                :is-loading="isLoading"
                @selection-change="onSelectionChange"
                @select-item="onSelectItem"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_product_grid_product_grid_column_amount %}
                <template #column-amount="{ item }">
                    <sw-number-field
                        v-model="item.amount"
                        size="small"
                        class="sw-order-product-grid__amount"
                        :placeholder="$tc('sw-order.itemModal.productGrid.textValue')"
                        :min="0"
                        @change="changeProductAmount(item)"
                    />
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_product_grid_product_grid_column_name %}
                <template #column-name="{ item }">
                    <sw-product-variant-info :variations="item.variation">
                        {{ item.name || item.translated.name }}
                    </sw-product-variant-info>
                </template>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_product_grid_product_grid_column_price %}
                <template #column-price="{ item }">
                    {{ getProductPrice(item) | currency(currency.shortName) }}
                </template>
                {% endblock %}

                <template #pagination>
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_order_product_grid_product_grid_listing_pagination %}
                    <sw-pagination
                        v-bind="{ page, limit, total }"
                        :total-visible="5"
                        :auto-hide="false"
                        @page-change="onPageChange"
                    />
                    {% endblock %}
                </template>

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_order_product_grid_product_grid_actions %}
                <template #actions="{ item }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_order_line_items_grid_sales_channel_grid_actions_show %}
                    <sw-context-menu-item
                        target="_blank"
                        rel="noopener"
                        :router-link="{ name: 'sw.product.detail', params: { id: item.id } }"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_order_product_grid_product_grid_actions_show_label %}
                        {{ $tc('sw-order.createBase.contextMenuShowProduct') }}
                        {% endblock %}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}
            </sw-entity-listing>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_order_customer_grid_empty_state %}
            <sw-empty-state
                v-if="!total && !isLoading"
                class="sw-order-product-grid__empty-state"
                :show-description="false"
                :title="emptyTitle"
            >
                <template #icon>
                    <img
                        :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset"
                        :alt="$tc('sw-product.list.messageEmpty')"
                    >
                </template>
            </sw-empty-state>
            {% endblock %}
        </div>
    </template>
    {% endblock %}
</sw-card>
{% endblock %}
