{% block layout_header_actions_cart_widget %}
	<span class="cart-widget-display">
        {% sw_include '@Storefront/layout/_utilities/icon.html.twig' with {
			'name': 'shopping-paper-bag'
		} %}
    </span>
	{% if page.cart.lineItems|length > 0 %}
		<span class="badge badge-primary cart-widget-badge">{{ page.cart.lineItems|length }}</span>
	{% endif %}
	<span class="cart-widget-total">
        {{ page.cart.price.positionPrice|localizedcurrency(page.context.currency.translated.shortName, app.request.locale) }}{{ "general.star"|trans }}
    </span>
{% endblock %}
