{% block layout_header_actions_service_menu_widget %}
	{#TODO: NEXT-2665 - add dynamic foreach loop#}
	<div class="top-bar-nav-item top-bar-menu">
		{% block layout_header_actions_service_menu_list %}
			<div class="service-menu dropdown">
				<button class="btn dropdown-toggle top-bar-nav-btn"
						type="button"
						id="serviceMenuDropdown"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false">
					<i class="icon-service far fa-question-circle"></i>
					<span class="top-bar-nav-name">{{ "header.indexLinkService"|trans }}</span>
				</button>
				{% block layout_header_actions_service_menu_items %}
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="serviceMenuDropdown">
						<a class="top-bar-list-item dropdown-item"
                           href="#"
                           title="Action">Action</a>
						<a class="top-bar-list-item dropdown-item"
                           href="#"
                           title="Action">Another action</a>
						<a class="top-bar-list-item dropdown-item"
                           href="#"
                           title="Action">Something else</a>
					</div>
				{% endblock %}
			</div>
		{% endblock %}
	</div>
{% endblock %}
