{% block sw_promotion_v2_settings_discount_type %}
    <div class="sw-promotion-v2-settings-discount-type">
        <sw-container columns="1fr 1fr 1fr" gap="20px">

            {% block sw_promotion_v2_settings_discount_type_type %}
                <sw-select-field
                    v-model="discountType"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelDiscountType')"
                    class="sw-promotion-v2-settings-discount-type__field-select-discount-type">

                    {% block sw_promotion_v2_settings_discount_type_type_options %}
                        <option
                            v-for="selection in getDiscountTypeSelection()"
                            :key="selection.value"
                            :value="selection.value">
                            {{ selection.display }}
                        </option>
                    {% endblock %}

                </sw-select-field>
            {% endblock %}

            {% block sw_promotion_v2_settings_discount_type_price %}
                <sw-number-field
                    :disabled="discountType === 'free'"
                    :placeholder="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.placeholderPrice')"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelPrice')"
                    class="sw-promotion-v2-settings-discount-type__field-price">
                    <template #suffix>
                        <sw-icon name="symbol-euro"></sw-icon>
                    </template>
                </sw-number-field>
            {% endblock %}

            {% block sw_promotion_v2_settings_discount_type_max_discount_value %}
                <sw-number-field
                    :disabled="discountType === 'fixed_price' || discountType === 'free'"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelMaxDiscountValue')"
                    class="sw-promotion-v2-settings-discount-type__field-max-discount">
                    <template #suffix>
                        <sw-icon name="symbol-euro"></sw-icon>
                    </template>
                </sw-number-field>
            {% endblock %}

        </sw-container>

        <sw-container columns="1fr 1fr" gap="20px">

            {% block sw_promotion_v2_settings_discount_type_apply_discount_to %}
                <sw-select-field
                    v-model="applyDiscountTo"
                    :disabled="discountType === 'free'"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelApplyDiscountTo')"
                    class="sw-promotion-v2-settings-discount-type__field-apply-discount-to">

                    {% block sw_promotion_v2_settings_discount_type_apply_discount_to_options %}
                        <option
                            v-for="selection in getApplyDiscountToSelection()"
                            :key="selection.value"
                            :value="selection.value">
                            {{ selection.display }}
                        </option>
                    {% endblock %}

                </sw-select-field>
            {% endblock %}

            {% block sw_promotion_v2_settings_discount_type_apply_to %}
                <sw-select-field
                    v-model="applyTo"
                    :disabled="discountType === 'free'"
                    :label="$tc('sw-promotion-v2.detail.discounts.settings.discountType.form.labelApplyTo')"
                    class="sw-promotion-v2-settings-discount-type__field-apply-to">

                    {% block sw_promotion_v2_settings_discount_type_apply_to_options %}
                        <option
                            v-for="selection in getApplyToSelection()"
                            :key="selection.value"
                            :value="selection.value">
                            {{ selection.display }}
                        </option>
                    {% endblock %}

                </sw-select-field>
            {% endblock %}

        </sw-container>
    </div>

{% endblock %}
