.sw-order-nested-line-items-modal {
    &.sw-modal .sw-modal__body {
        min-height: var(--scale-size-96);
        padding: 0;
    }

    &__container {
        display: table;
        width: 100%;
    }

    &__header-container {
        display: flex;
    }

    &__header-item {
        flex-grow: 1;
        padding: var(--scale-size-10);
        border-bottom: var(--scale-size-1) solid var(--color-border-secondary-default);
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        font-weight: var(--font-weight-semibold);

        &:first-child {
            padding-left: var(--scale-size-32);
        }

        &:last-child {
            padding-right: var(--scale-size-32);
        }
    }

    &__header-quantity {
        width: var(--scale-size-96);
        flex-grow: 0;
        text-align: right;
    }

    &__header-unit-price,
    &__header-tax,
    &__header-total-price {
        width: var(--scale-size-128);
        flex-grow: 0;
        text-align: right;
    }
}
