<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_promotion_v2_conditions %}
<div class="sw-promotion-v2-conditions">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_v2_conditions_pre_conditions_card %}
    <sw-card
        :title="$tc('sw-promotion-v2.detail.conditions.preConditions.cardTitlePreConditions')"
        position-identifier="sw-promotion-conditions-pre-conditions"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_conditions_pre_conditions_sales_channel_selection %}
        <sw-promotion-v2-sales-channel-select
            class="sw-promotion-v2-conditions__sales-channel-selection"
            :promotion="promotion"
            :entity-collection="promotion.salesChannels"
            :disabled="!acl.can('promotion.editor')"
            :label="$tc('sw-promotion-v2.detail.conditions.preConditions.labelPromotionSalesChannel')"
            :placeholder="$tc('sw-promotion-v2.detail.conditions.preConditions.labelPromotionSalesChannel')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_conditions_pre_conditions_prevent_combination %}
        <sw-switch-field
            v-model="promotion.preventCombination"
            class="sw-promotion-v2-conditions__prevent-combination"
            :label="$tc('sw-promotion-v2.detail.conditions.preConditions.labelPreventCombination')"
            :text="$tc('sw-promotion-v2.detail.conditions.preConditions.helpTextPreventCombination')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_conditions_pre_conditions_exclusions %}
        <sw-entity-multi-select
            class="sw-promotion-v2-conditions__rules-exclusion-selection"
            :label="$tc('sw-promotion-v2.detail.conditions.preConditions.labelPromotionExclusions')"
            :placeholder="$tc('sw-promotion-v2.detail.conditions.preConditions.placeholderPromotionExclusions')"
            :criteria="exclusionCriteria"
            :entity-collection="excludedPromotions"
            :disabled="!acl.can('promotion.editor') || promotion.preventCombination"
            @change="onChangeExclusions"
        />
        {% endblock %}

    </sw-card>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_promotion_v2_rule_conditions_card %}
    <sw-card
        :title="$tc('sw-promotion-v2.detail.conditions.preConditions.cardTitleRuleConditions')"
        position-identifier="sw-promotion-conditions-rules"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_rule_conditions_rule_select_customer %}
        <sw-promotion-v2-rule-select
            v-if="promotion"
            v-model="promotion.personaRules"
            class="sw-promotion-v2-conditions__rule-select-customer"
            :local-mode="promotion.isNew()"
            :criteria="personaRuleFilter"
            :label="$tc('sw-promotion-v2.detail.conditions.preConditions.labelCustomerSelect')"
            :placeholder="$tc('sw-promotion-v2.detail.conditions.preConditions.placeholderCustomerSelect')"
            :rule-scope="['checkout']"
            :disabled="!acl.can('promotion.editor')"
            rule-aware-group-key="personaPromotions"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_rule_conditions_rule_select_cart_conditions %}
        <sw-promotion-v2-cart-condition-form
            :promotion="promotion"
            :restricted-rules="cartRestrictedRules"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_promotion_v2_rule_conditions_rule_select_order_conditions %}
        <sw-promotion-v2-rule-select
            v-if="promotion"
            v-model="promotion.orderRules"
            class="sw-promotion-v2-conditions__rule-select-order-conditions"
            :label="$tc('sw-promotion-v2.detail.conditions.preConditions.labelOrderConditionSelect')"
            :placeholder="$tc('sw-promotion-v2.detail.conditions.preConditions.placeholderOrderConditionSelect')"
            :criteria="orderConditionsFilter"
            :rule-scope="['checkout']"
            :disabled="!acl.can('promotion.editor')"
            rule-aware-group-key="orderPromotions"
        />
        {% endblock %}

    </sw-card>
    {% endblock %}

</div>
{% endblock %}
