<aside class="sw--sidebar is--collapsed">
    <div class="sidebar--logo">
        <img :src="'/static/img/logo--nexus.png' | image" alt="Shopware Nexus Logo" />
    </div>

    <nav class="main-navigation">
        <ul class="nav">
            <li v-for="entry, routeName in mainMenuEntries" class="nav--link">
                <router-link :to="{ name: routeName}">
                    <i :class="getIconName(entry.icon)" :style="{ 'color': entry.color }"></i>
                    {{ entry.name }}
                </router-link>
            </li>
        </ul>
    </nav>
</aside>