@import "~less/variables";

.sw-integration-list {
    p {
        margin-bottom: 22px;
    }

    .sw-integration-list__overview {
        .sw-card__content {
            min-height: 215px;
        }
    }
    .sw-field.sw-field--checkbox {
        align-self: center;
        margin: 0;
    }

    .sw-empty-state {
        position:relative;
    }

    .sw-integration-list__app-icon {
        background-color: #9FE58A;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        .sw-icon {
            color: @color-white;
            width: 24px;
            height: 24px;
        }
    }
}

.sw-integration-list__detail {
    .sw-integration-list__secret-help-text-alert {
        margin-top: 22px;
    }
}

