{% block sw_integration_list %}
    <sw-page class="sw-integration-list">
        <template slot="smart-bar-header">
            {% block sw_integration_list_smart_bar_header %}
                <h2>{{ $tc('sw-integration.general.headlineIntegrations') }}</h2>
            {% endblock %}
        </template>

        <template slot="smart-bar-actions">
            {% block sw_integration_list_smart_bar_actions %}
                <sw-button @click="onShowDetailModal()" variant="primary">
                    {{ $tc('sw-integration.general.buttonCreateIntegration') }}
                </sw-button>
            {% endblock %}
        </template>

        <template slot="content">
            <div class="sw-integration-list__content">
                <sw-card-view class="sw-integration-list__content">
                    {% block sw_integration_list_content %}
                        {% block sw_integration_list_introduction %}
                            <sw-card :hero="true">
                                <h3>{{ $tc('sw-integration.general.heroHeadlineIntegrations') }}</h3>
                                <p>{{ $tc('sw-integration.general.heroDescriptionIntegrations') }}</p>
                            </sw-card>
                        {% endblock %}

                        {% block sw_integration_list_overview %}
                            <sw-card :isLoading="isLoading" class="sw-integration-list__overview">
                                {% block sw_integration_list_overview_inner %}
                                    {% block sw_integration_list_detail_modal %}
                                        <sw-modal v-if="currentIntegration"
                                                  class="sw-integration-list__detail"
                                                  :isLoading="isModalLoading"
                                                  :title="$tc('sw-integration.detail.detailModalTitle')"
                                                  @closeModal="onCloseDetailModal">
                                            {% block sw_integration_list_detail_modal_inner %}

                                                <sw-container grid="1fr 1fr" gap="30px 30px">
                                                    {% block sw_integration_list_detail_modal_inner_field_label %}
                                                        <sw-field :label="$tc('sw-integration.detail.labelFieldLabel')"
                                                                  validation="required"
                                                                  v-model="currentIntegration.label">
                                                        </sw-field>
                                                    {% endblock %}

                                                    {% block sw_integration_list_detail_modal_inner_field_writeaccess %}
                                                        <sw-field :label="$tc('sw-integration.detail.writeAccessFieldLabel')"
                                                                  type="boolean"
                                                                  v-model="currentIntegration.writeAccess">
                                                        </sw-field>
                                                    {% endblock %}
                                                </sw-container>

                                                {% block sw_integration_list_detail_modal_inner_field_accesskey %}
                                                    <sw-field :label="$tc('sw-integration.detail.idFieldLabel')"
                                                              :disabled="true"
                                                              v-model="currentIntegration.accessKey"
                                                              :copyAble="true">
                                                    </sw-field>
                                                {% endblock %}

                                                {% block sw_integration_list_detail_modal_inner_field_secretaccesskey %}
                                                    <sw-field :type="secretAccessKeyFieldType"
                                                              :label="$tc('sw-integration.detail.secretFieldLabel')"
                                                              :disabled="true"
                                                              v-model="currentIntegration.secretAccessKey"
                                                              :passwordToggleAble="false"
                                                              :copyAble="showSecretAccessKey">

                                                    </sw-field>

                                                    <sw-button v-if="!showSecretAccessKey" @click="onGenerateKeys"
                                                               variant="danger">
                                                        {{ $tc('sw-integration.detail.buttonCreateNewApiKeys') }}
                                                    </sw-button>
                                                {% endblock %}

                                                {% block sw_integration_list_detail_modal_inner_helptext %}
                                                    <sw-alert variant="info"
                                                              :title="$tc('sw-integration.detail.secretHelpTextTitle')"
                                                              class="sw-integration-list__secret-help-text-alert">
                                                        {{ $tc('sw-integration.detail.secretHelpText') }}
                                                    </sw-alert>
                                                {% endblock %}

                                                {% block sw_integration_list_detail_modal_inner_footer %}
                                                    <template slot="modal-footer">
                                                        {% block sw_integration_list_detail_modal_inner_footer_cancel %}
                                                            <sw-button size="small" @click="onCloseDetailModal">
                                                                {{ $tc('sw-integration.detail.buttonCancel') }}
                                                            </sw-button>
                                                        {% endblock %}

                                                        {% block sw_integration_list_detail_modal_inner_footer_apply %}
                                                            <sw-button size="small"
                                                                       variant="primary"
                                                                       @click="onSaveIntegration">
                                                                {{ $tc('sw-integration.detail.buttonApply') }}
                                                            </sw-button>
                                                        {% endblock %}
                                                    </template>
                                                {% endblock %}
                                            {% endblock %}
                                        </sw-modal>
                                    {% endblock %}

                                    {% block sw_integration_list_grid %}
                                        <sw-grid v-if="total"
                                                 :items="integrations"
                                                 :selectable="false"
                                                 :header="false"
                                                 :table="true">
                                            {% block sw_integration_list_grid_inner %}
                                                <template slot="columns" slot-scope="{ item }">
                                                    {% block sw_integration_list_grid_inner_slot_columns %}
                                                        {% block sw_integration_list_grid_inner_slot_columns_icon %}
                                                            <sw-grid-column flex="minmax(80px, 80px)" dataIndex="icon">
                                                                <span class="sw-integration-list__app-icon">
                                                                    <sw-icon name="default-action-share">
                                                                    </sw-icon>
                                                                </span>
                                                            </sw-grid-column>
                                                        {% endblock %}

                                                        {% block sw_integration_list_grid_inner_slot_columns_label %}
                                                            <sw-grid-column flex="minmax(150px, 1fr)" dataIndex="label">
                                                                {{ item.label }}
                                                            </sw-grid-column>
                                                        {% endblock %}
                                                        {% block sw_integration_list_grid_inner_slot_columns_actions %}
                                                            <sw-grid-column flex="minmax(100px, 100px)"
                                                                            dataIndex="actions">
                                                                <sw-context-button>
                                                                    {% block sw_integration_list_grid_inner_slot_columns_actions_edit %}
                                                                        <sw-context-menu-item
                                                                                @click="onShowDetailModal(item.id)">
                                                                            {{ $tc('sw-integration.list.contextMenuEdit') }}
                                                                        </sw-context-menu-item>
                                                                    {% endblock %}
                                                                    {% block sw_integration_list_grid_inner_slot_columns_actions_delete %}
                                                                        <sw-context-menu-item variant="danger"
                                                                                              @click="showDeleteModal = item.id">
                                                                            {{ $tc('sw-integration.list.contextMenuDelete') }}
                                                                        </sw-context-menu-item>
                                                                    {% endblock %}
                                                                </sw-context-button>
                                                            </sw-grid-column>
                                                        {% endblock %}

                                                        {% block sw_integration_list_grid_inner_slot_delete_modal %}
                                                            <sw-modal v-if="showDeleteModal === item.id"
                                                                      :title="$tc('sw-integration.detail.deleteModalTitle')"
                                                                      @closeModal="onCloseDeleteModal">
                                                                {% block sw_integration_list_grid_inner_slot_delete_modal_confirmtext %}
                                                                    <p>
                                                                        {{ $tc('sw-integration.detail.confirmDelete') }}
                                                                        {{ item.label }}
                                                                    </p>
                                                                {% endblock %}

                                                                {% block sw_integration_list_grid_inner_slot_delete_modal_footer %}
                                                                    <template slot="modal-footer">
                                                                        <sw-button size="small"
                                                                                   @click="onCloseDeleteModal">
                                                                            {{ $tc('sw-integration.detail.buttonCancel') }}
                                                                        </sw-button>
                                                                        <sw-button size="small"
                                                                                   variant="primary"
                                                                                   @click="onConfirmDelete(item.id)">
                                                                            {{ $tc('sw-integration.detail.buttonDelete') }}
                                                                        </sw-button>
                                                                    </template>
                                                                {% endblock %}
                                                            </sw-modal>
                                                        {% endblock %}
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                            <template slot="pagination">
                                                {% block sw_integration_list_grid_pagination %}
                                                    <sw-pagination :page="page"
                                                                   :limit="limit"
                                                                   :total="total"
                                                                   :total-visible="7"
                                                                   @page-change="onPageChange">
                                                    </sw-pagination>
                                                {% endblock %}
                                            </template>
                                        </sw-grid>
                                    {% endblock %}
                                    {% block sw_product_list_empty_state %}
                                        <sw-empty-state v-else-if="!isLoading && !total"
                                                        :title="$tc('sw-integration.list.messageEmpty')">
                                        </sw-empty-state>
                                    {% endblock %}
                                {% endblock %}
                            </sw-card>
                        {% endblock %}
                    {% endblock %}
                </sw-card-view>
            </div>
        </template>
    </sw-page>
{% endblock %}