.sw-customer-detail-order {
    .sw-empty-state {
        position: relative;
    }

    .mt-card__toolbar {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .mt-card__content {
        &:has(.mt-empty-state) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
