<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_youtube_video_config %}
<div class="sw-cms-el-config-youtube-video">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_youtube_video_config_video_id %}
    <sw-text-field
        v-model="videoID"
        class="sw-cms-el-config-youtube-video__video-id"
        :label="$tc('sw-cms.elements.vimeoVideo.config.label.videoId')"
        :placeholder="$tc('sw-cms.elements.vimeoVideo.config.placeholder.videoId')"
    />
    {% endblock %}

    <div class="sw-cms-el-config-youtube-video__switches">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_autoplay %}
        <sw-switch-field
            v-model="element.config.autoPlay.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.autoPlay')"
            :help-text="$tc('sw-cms.elements.vimeoVideo.config.helpText.autoPlay')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_loop %}
        <sw-switch-field
            v-model="element.config.loop.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.loop')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_show_controls %}
        <sw-switch-field
            v-model="element.config.showControls.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.showControls')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_advanced_privacy_mode %}
        <sw-switch-field
            v-model="element.config.advancedPrivacyMode.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.advancedPrivacy')"
            :help-text="$tc('sw-cms.elements.vimeoVideo.config.helpText.advancedPrivacy')"
        />
        {% endblock %}
    </div>

    <div class="sw-cms-el-config-youtube-video__start-and-end">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_start %}
        <sw-text-field
            :value="startValue"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.start')"
            placeholder="0:00"
            @change="setTimeValue($event, 'start')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_end %}
        <sw-text-field
            :value="endValue"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.end')"
            placeholder="0:00"
            @change="setTimeValue($event, 'end')"
        />
        {% endblock %}
    </div>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_youtube_video_config_display_mode %}
    <sw-select-field
        v-model="element.config.displayMode.value"
        :placeholder="$tc('sw-cms.elements.general.config.label.displayMode')"
        :label="$tc('sw-cms.elements.general.config.label.displayMode')"
    >
        <option value="standard">
            {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
        </option>
        <option value="streched">
            {{ $tc('sw-cms.elements.general.config.label.displayModeStretch') }}
        </option>
    </sw-select-field>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_youtube_video_config_needs_confirmation %}
    <div class="sw-cms-el-config-youtube-video__confirmation">
        <sw-switch-field
            v-model="element.config.needsConfirmation.value"
            :label="$tc('sw-cms.elements.vimeoVideo.config.label.needsConfirmation')"
        />
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_youtube_video_config_preview_media %}
    <sw-cms-mapping-field
        v-if="element.config.needsConfirmation.value"
        v-model="element.config.previewMedia"
        :label="$tc('sw-cms.elements.vimeoVideo.config.label.previewImage')"
        value-types="entity"
        entity="media"
    >
        <sw-media-upload-v2
            variant="regular"
            :upload-tag="uploadTag"
            :source="previewSource"
            :allow-multi-select="false"
            :default-folder="cmsPageState.pageEntityName"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            @media-upload-sidebar-open="onOpenMediaModal"
            @media-upload-remove-image="onImageRemove"
        />

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_youtube_video_config_preview_media_display %}
        <template #preview="{ demoValue }">
            <div class="sw-cms-el-config-image__mapping-preview">
                <img
                    v-if="demoValue.url"
                    :src="demoValue.url"
                    alt=""
                >
                <sw-alert
                    v-else
                    class="sw-cms-el-config-image__preview-info"
                    variant="info"
                >
                    {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                </sw-alert>
            </div>
        </template>
        {% endblock %}
    </sw-cms-mapping-field>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_youtube_video_config_preview_media_upload_listener %}
    <sw-upload-listener
        :upload-tag="uploadTag"
        auto-upload
        @media-upload-finish="onImageUpload"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_youtube_video_config_preview_media_modal %}
    <sw-media-modal-v2
        v-if="mediaModalIsOpen"
        variant="regular"
        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
        :entity-context="cmsPageState.entityName"
        :allow-multi-select="false"
        :initial-folder-id="cmsPageState.defaultMediaFolderId"
        @media-upload-remove-image="onImageRemove"
        @media-modal-selection-change="onSelectionChanges"
        @modal-close="onCloseModal"
    />
    {% endblock %}
    {% endblock %}
</div>
{% endblock %}
