<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bulk_edit_order %}
<sw-page class="sw-bulk-edit-order">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_order_search_bar %}
    <template #search-bar>

        <sw-search-bar />

    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_order_smart_bar_header %}
    <template #smart-bar-header>

        <h2>{{ $tc('sw-bulk-edit.order.textTitle', selectedIds.length, { orderTotal: selectedIds.length }) }}</h2>

    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_order_content_smart_bar_actions %}
    <template #smart-bar-actions>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_order_actions_save %}
        <sw-button-process
            class="sw-bulk-edit-order__save-action"
            variant="primary"
            :is-loading="isLoading"
            :process-success="false"
            :disabled="isLoading || !hasChanges"
            @click="openModal"
        >
            {{ $tc('sw-bulk-edit.applyChanges') }}
        </sw-button-process>
        {% endblock %}

    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_order_content %}
    <template #content>

        <sw-card-view
            v-if="selectedIds.length > 0 && isLoadedData"
        >
            <sw-card
                v-if="restrictedFields.length"
                class="sw-bulk-edit-order__restricted-fields"
                position-identifier="sw-bulk-edit-order-restricted-fields"
            >
                <sw-alert
                    :title="$tc('sw-bulk-edit.order.alertRestrictedFields.title')"
                    variant="warning"
                >
                    <span v-html="$tc('sw-bulk-edit.order.alertRestrictedFields.message')"></span>
                    <ul>
                        <li
                            v-for="(restrictedField, index) in restrictedFields"
                            :key="index"
                        >
                            {{ $tc(`sw-bulk-edit.order.alertRestrictedFields.${restrictedField}`) }}
                        </li>
                    </ul>
                </sw-alert>
            </sw-card>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_bulk_edit_order_content_order_status_card %}
            <sw-card
                class="sw-bulk-edit-order-base__status"
                position-identifier="sw-bulk-edit-order-status"
                :title="$tc('sw-bulk-edit.order.status.cardTitle')"
                :is-loading="isLoading"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_bulk_edit_order_content_order_status_section %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="statusFormFields"
                    :bulk-edit-data="bulkEditData"
                    :entity="order"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_bulk_edit_order_content_documents %}
            <sw-card
                class="sw-bulk-edit-order-base__documents"
                position-identifier="sw-bulk-edit-order-documents"
                :title="$tc('sw-bulk-edit.order.documents.cardTitle')"
                :is-loading="isLoading"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_bulk_edit_order_content_documents_content %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="documentsFormFields"
                    :bulk-edit-data="bulkEditData"
                    :entity="order"
                    @change-value="onChangeDocument"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_bulk_edit_order_tags_card %}
            <sw-card
                class="sw-bulk-edit-order-base__tags"
                position-identifier="sw-bulk-edit-order-tags"
                :title="$tc('sw-bulk-edit.order.tags.cardTitle')"
                :is-loading="isLoading"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_bulk_edit_order_tags %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="tagsFormFields"
                    :bulk-edit-data="bulkEditData"
                    :entity="order"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_bulk_edit_order_custom_field_card %}
            <sw-card
                class="sw-bulk-edit-order-base__custom_fields"
                position-identifier="sw-bulk-edit-order-custom-fields"
                :title="$tc('sw-bulk-edit.order.customFields.cardTitle')"
                :is-loading="isLoading"
            >
                <sw-bulk-edit-custom-fields
                    class="sw-bulk-edit__custom-fields"
                    :sets="customFieldSets"
                    @change="onCustomFieldsChange"
                />
            </sw-card>
            {% endblock %}
        </sw-card-view>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_order_empty_state %}
        <sw-empty-state
            v-if="selectedIds.length <= 0 && !isLoading"
            :title="$tc('sw-bulk-edit.order.messageEmptyTitle')"
            :subline="$tc('sw-bulk-edit.order.messageEmptySubline')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_order_save_modal %}
        <router-view
            :item-total="selectedIds.length"
            :is-loading="isLoading"
            :process-status="processStatus"
            :bulk-edit-data="bulkEditData"
            @modal-close="closeModal"
            @bulk-save="onSave"
        />
        {% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
