@import "~scss/variables";

.sw-theme-list {
    .sw-theme-list__content {
        max-width: $content-width;
        position: relative;
        margin: auto;

        @media screen and (max-width: 1360px) {
            padding: 15px;
        }
    }

    .sw-theme-list__actions {
        display: grid;
        grid-template-columns: auto 380px max-content;
        grid-column-gap: var(--scale-size-8);
        align-items: center;
        align-content: center;
        margin-bottom: var(--scale-size-32);

        @media screen and (max-width: 700px) {
            grid-template-columns: auto max-content;
        }

        h3 {
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-semibold);
            margin: 0;
        }
    }

    .sw-theme-list__actions-sorting {
        display: grid;

        @media screen and (max-width: 700px) {
            display: none;
        }
    }

    .sw-theme-list__list-grid-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        align-content: start;

        .sw-skeleton__gallery::before {
            padding-top: 65%;
        }
    }

    .sw-theme-list__list-data-grid {
        border-radius: 4px;
    }

    .sw-theme-list__icon-lock {
        margin-right: 10px;
        color: $color-gray-300;
    }

    .sw-theme-list__list-pagination {
        margin-top: 20px;
        background: none;
        border: none;
    }
}

.sw_theme_manager__duplicate-info,
.sw_theme_manager__rename-info {
    margin-bottom: 16px;
}
