{% block sw_cms_block_image_three_column_preview %}
<div class="sw-cms-preview-image-three-column">
    <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
    <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
    <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
</div>
{% endblock %}
