<sw-workspace>
    <header class="toolbar--middle-section" slot="header">
        <h1 class="workspace--headline">
            <span v-if="product.name">{{ product.name }} <span class="is--small">von {{ product.manufacturer.name }}</span></span>
            <span v-else class="headline--empty">(lade Produkt...)</span>
        </h1>

        <div class="toolbar--primary-actions">
            <sw-button :isDisabled="isWorking" link="core.product.index">
                Abbrechen
            </sw-button>

            <sw-button :isPrimary="true" :isDisabled="isWorking" @click.prevent="onSaveForm">
                Speichern
            </sw-button>
        </div>
    </header>

    <div class="sw-core-product--detail" slot="default">
        <ul class="container--tabs">
            <li class="tabs--item router-link-active">
                <a href="#" class="item--link">
                    Allgemein
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Cross Selling
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Tab
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Tab
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Tab
                </a>
            </li>
        </ul>

        <core-product-basic-form :product="product" :serviceProvider="productManufacturer" :isWorking="isWorking"></core-product-basic-form>
    </div>
</sw-workspace>
