<sw-workspace>
    <header class="toolbar--middle-section" slot="header">
        <h1 class="workspace--headline">
            <span v-if="product.name">{{ product.name }} <span v-if="product.manufacturer" class="is--small">von {{ product.manufacturer.name }}</span></span>
            <span v-else class="headline--empty">(neues Produkt)</span>
        </h1>

        <div class="toolbar--primary-actions">
            <sw-button :isDisabled="isWorking" link="core.product.index">
                Abbrechen
            </sw-button>

            <sw-button :isPrimary="true" :isDisabled="isWorking" @click.prevent="onSave">
                Speichern
            </sw-button>
        </div>
    </header>

    <div class="sw-core-product--detail" slot="default">
        <ul class="container--tabs">
            <li class="tabs--item router-link-active">
                <a href="#" class="item--link">
                    Allgemein
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Cross Selling
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Tab
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Tab
                </a>
            </li>
            <li class="tabs--item">
                <a href="#" class="item--link">
                    Tab
                </a>
            </li>
        </ul>

        <core-product-basic-form :product="product" :manufacturers="manufacturers" :isWorking="isWorking" :serviceProvider="categoryService"></core-product-basic-form>

        <sw-card title="Preise">
            <div class="split--container">
                <div class="container--item">
                    <sw-field label="Preis" id="price" type="number" name="price" placeholder="Your product price..." suffix="€"></sw-field>
                    <sw-field  label="Mehrwertsteuer" id="tax" type="select" name="tax" placeholder="Your product tax..." v-model="product.taxUuid">
                        <option v-for="tax in taxRates" :value="tax.uuid">{{ tax.name }}</option>
                    </sw-field>
                </div>
                <div class="container--item">
                    <sw-field label="Rabatt" id="rebate" type="text" name="rebate" placeholder="Your rebate..." suffix="€"></sw-field>
                    <sw-field label="Einkaufspreis (netto)" id="purchasePrice" type="number" name="purcharseprice" placeholder="Your purchase price..." suffix="€"></sw-field>
                </div>
            </div>

            <sw-loader v-if="isWorking"></sw-loader>
        </sw-card>
    </div>
</sw-workspace>
