{% block sw_order_document_settings_modal_form_first_row %}

        {% block sw_order_document_settings_modal_form_document_number %}
            <sw-field type="text"
                      :label="$tc('sw-order.documentModal.labelDocumentStornoNumber')"
                      v-model="documentConfig.documentNumber">
            </sw-field>
        {% endblock %}

    {% block sw_sales_channel_detail_base_general_input_type %}
        <sw-select-field :label="$tc('sw-order.documentModal.labelInvoiceNumber')"
                         v-model="documentConfig.custom.invoiceNumber"
                         :placeholder="$tc('sw-order.documentModal.selectInvoiceNumber')"
                         @change="onSelectInvoice">
            <option v-for="invoice in invoices" :value="invoice.config.custom.invoiceNumber">
                {{ invoice.config.custom.invoiceNumber }}
            </option>
        </sw-select-field>
    {% endblock %}
        {% block sw_order_document_settings_modal_form_document_date %}
            <sw-datepicker dateType="date"
                           required
                           :label="$tc('sw-order.documentModal.labelDocumentDate')"
                           v-model="documentConfig.documentDate">
            </sw-datepicker>
        {% endblock %}
{% endblock %}