.sw-condition-generic {
    .sw-condition__condition-value {
        display: flex;

        .sw-condition-operator-select,
        .is--max-content {
            max-width: max-content;
            min-width: var(--scale-size-128);
        }
    }

    &__input-wrapper {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
    }

    &__unit-menu {
        right: var(--scale-size-4);
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
    }
}
