{% block sw_catalog_detail_smart_bar_header %}
    <h2 v-if="catalog.name">{{ catalog.name }}</h2>
    <h2 v-else>{{ $tc('sw-catalog.create.headlineNewCatalog') }}</h2>
{% endblock %}

{% block sw_catalog_detail_info %}{% endblock %}