{% block sw_settings_logging_entry_info_tab_items %}

    <sw-tabs-item :active="activeTab === 'html'" @click="activeTab = 'html'">
        {{ $tc('sw-settings-logging.mailInfo.tabHTML') }}
    </sw-tabs-item>

    <sw-tabs-item :active="activeTab === 'plain'" @click="activeTab = 'plain'">
        {{ $tc('sw-settings-logging.mailInfo.tabPlain') }}
    </sw-tabs-item>

    {% parent() %}
{% endblock %}

{% block sw_settings_logging_entry_info_content %}

    {% parent() %}
    <template v-if="activeTab === 'html'">
        <span v-html="logEntry.context.additionalData.contents['text/html']"></span>
    </template>

    <template v-if="activeTab === 'plain'">
        {{ logEntry.context.additionalData.contents['text/plain'] }}
    </template>

{% endblock %}