.sw-app-topbar-button {
    .mt-button {
        background: var(--color-background-primary-default);
        color: var(--color-text-primary-default);

        svg {
            color: var(--color-icon-primary-default);
        }
    }
}
