{#

Notice for plugins and theme developer:     Do not extend this template!

This template will be rendered over the `block` function.
Templates which are rendered over the `block` function can not be extended.
Instead of extending this template, simply extend the `base.html.twig` (or the document specific template) and override the block you want.
All blocks of this template are available in the template which renders this template over the `block` function.

#}

{% block payment_shipping %}
    {% block document_payment_shipping %}
        <div class="payment-shipping-container">
            {% block document_payment_shipping_inner %}
                {% block document_payment %}
                    {{ 'document.paymentShippingInfo.paymentMethod'|trans({'%paymentMethod%': order.transactions.last.paymentMethod.name})|sw_sanitize }}<br>
                {% endblock %}
                {% block document_shipping %}
                    {{ 'document.paymentShippingInfo.shippingMethod'|trans({'%shippingMethod%': order.deliveries.first.shippingMethod.name})|sw_sanitize }}<br><br>
                {% endblock %}
                {% block document_payment_shipping_additional %}
                    {{ 'document.paymentShippingInfo.additionalInfo'|trans|sw_sanitize }}<br>
                {% endblock %}
                {% block document_payment_shipping_service_date_notice %}
                    {{ 'document.serviceDateNotice'|trans|sw_sanitize }}<br>
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
