{% sw_extends '@Storefront/page/checkout/confirm/confirm-product.html.twig' %}

{% block page_checkout_item_product_info_inner %}
    {% set productId = lineItem.identifier %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_item_product_quantity_select %}
    <div class="col-4 col-sm-12">
        {{ lineItem.quantity }}
    </div>
{% endblock %}