{% sw_extends '@Storefront/page/checkout/confirm/confirm-product.html.twig' %}

{% block page_checkout_item_product_info_inner %}
    {% set productId = lineItem.identifier %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_item_product_quantity_form %}
    {% block page_checkout_item_product_quantity_label %}
        <div class="cart-item-quantity-label">
            {{ "checkout.cartHeaderQuantity"|trans }}
        </div>
    {% endblock %}
    {% block page_product_detail_buy_quantity %}
        {{ lineItem.quantity }}
    {% endblock %}
{% endblock %}
