<sw-data-grid
    :dataSource="items"
    :columns="entityContext.addContext.gridColumns"
    :isRecordSelectable="isNotAssigned"
    :showActions="false"
    @select-item="onSelectItem">
    <template #selection-content="{
        item,
        isSelected,
        isRecordSelectable,
        selectItem,
        itemIdentifierProperty,
    }">
        <div class="sw-data-grid__cell-content">
            <sw-checkbox-field
                :disabled="!isRecordSelectable(item)"
                :value="isSelected(item[itemIdentifierProperty]) || !isNotAssigned(item)"
                @change="selectItem($event, item)"
            />
        </div>
    </template>

    <template
        slot="column-active"
        slot-scope="{ item }"
    >
        {% block sw_settings_rule_add_assignment_modal_listing_active_flag %}
            <sw-icon
                v-if="item.active"
                name="small-default-checkmark-line-medium"
                small
                class="is--active"
            />
            <sw-icon
                v-else
                name="small-default-x-line-medium"
                small
                class="is--inactive"
            />
        {% endblock %}
    </template>

    <template #pagination>
        <sw-pagination :limit="limit" :page="page" :total="total" @page-change="paginate" ></sw-pagination>
    </template>
</sw-data-grid>
