{% block sw_login_login %}
<form
    class="sw-login-login"
    @submit.prevent="loginUserWithPassword"
>
    {% block sw_login_login_form_headline %}
    <h2 class="sw-login__content-headline">
        {{ $tc('sw-login.index.headlineForm') }}
    </h2>
    {% endblock %}

    {% block sw_login_login_user_field %}
    <sw-text-field
        v-model="username"
        v-autofocus
        :label="$tc('sw-login.index.labelUsername')"
        :placeholder="$tc('sw-login.index.placeholderUsername')"
        required
    />
    {% endblock %}

    {% block sw_login_login_password_field %}
    <sw-password-field
        v-model="password"
        :label="$tc('sw-login.index.labelPassword')"
        :placeholder="$tc('sw-login.index.placeholderPassword')"
        required
    />
    {% endblock %}

    {% block sw_login_login_submit %}
    <div class="sw-login__submit">
        {% block sw_login_login_forgot_password %}
        <router-link
            :to="{ name: 'sw.login.index.recovery' }"
            class="sw-login__forgot-password-action"
        >
            {{ $tc('sw-login.index.forgottenPasswordLink') }}
        </router-link>
        {% endblock %}

        {% block sw_login_login_submit_button %}
        <sw-button
            :disabled="password.length <= 0 || username.length <= 0"
            class="sw-login__login-action"
            variant="primary"
        >
            {{ $tc('sw-login.index.buttonLogin') }}
        </sw-button>
        {% endblock %}
    </div>
    {% endblock %}
</form>
{% endblock %}