<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_product_slider_config %}
<div class="sw-cms-el-config-product-slider">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_product_slider_config_tabs %}
    <sw-tabs
        position-identifier="sw-cms-element-config-product-slider"
        class="sw-cms-el-config-product-slider__tabs"
        default-item="content"
    >
        <template #default="{ active }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_product_slider_config_tab_content %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.content')"
                name="content"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
            {% endblock %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_product_slider_config_tab_options %}
            <sw-tabs-item
                :title="$tc('sw-cms.elements.general.config.tab.settings')"
                name="settings"
                :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.settings') }}
            </sw-tabs-item>
            {% endblock %}
        </template>

        <template
            #content="{ active }"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_product_slider_config_content %}
            <sw-container
                v-if="active === 'content'"
                class="sw-cms-el-config-product-slider__tab-content"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_content_title %}
                <sw-field
                    v-model="element.config.title.value"
                    type="text"
                    :label="$tc('sw-cms.elements.productSlider.config.label.title')"
                    :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.title')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_content_product_assignment_type %}
                <sw-single-select
                    v-model="element.config.products.source"
                    class="sw-cms-el-config-product-slider__product-assignment-type-select"
                    :label="$tc('sw-cms.elements.productSlider.config.label.productAssignmentType')"
                    :options="productAssignmentTypes"
                    show-clearable-button
                    @change="onChangeAssignmentType"
                />
                {% endblock %}

                <template v-if="element.config.products.source === 'product_stream'">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_slider_config_content_product_stream_select %}
                    <sw-entity-single-select
                        v-model="element.config.products.value"
                        entity="product_stream"
                        class="sw-cms-el-config-product-slider__product-stream-select"
                        :label="$tc('sw-cms.elements.productSlider.config.label.productStreamChoice')"
                        :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.productStreamChoice')"
                        show-clearable-button
                        @change="onChangeProductStream"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_slider_config_content_product_stream_performance_hint %}
                    <sw-alert
                        class="sw-cms-el-config-product-slider__product-stream-performance-hint"
                        variant="info"
                    >
                        {{ $tc('sw-cms.elements.productSlider.config.textProductStreamPerformanceHint') }}
                    </sw-alert>
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_slider_config_content_product_stream_preview %}
                    <sw-modal
                        v-if="showProductStreamPreview"
                        :title="productStream.name"
                        class="sw-cms-el-config-product-slider__product-stream-preview-modal"
                        @modal-close="onCloseProductStreamModal"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_product_slider_config_content_product_stream_preview_grid %}
                        <sw-product-stream-grid-preview
                            :filters="productStream.apiFilter"
                            :columns="productStreamPreviewColumns"
                            :criteria="productStreamCriteria"
                        />
                        {% endblock %}
                        <template #modal-footer>
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_element_product_slider_config_content_product_stream_preview_action_close %}
                            <sw-button
                                size="small"
                                @click="onCloseProductStreamModal"
                            >
                                {{ $tc('global.sw-modal.labelClose') }}
                            </sw-button>
                            {% endblock %}
                        </template>
                    </sw-modal>
                    {% endblock %}

                    <sw-container
                        columns="1fr 1fr"
                        gap="30px"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_product_slider_config_content_product_stream_sorting %}
                        <sw-single-select
                            v-model="element.config.productStreamSorting.value"
                            :label="$tc('sw-cms.elements.productSlider.config.label.productStreamSorting')"
                            class="sw-cms-el-config-product-slider__product-stream-sorting"
                            :disabled="!productStream"
                            :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.productStreamSorting')"
                            :options="productStreamSortingOptions"
                            show-clearable-button
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_product_slider_config_content_product_stream_limit %}
                        <sw-number-field
                            v-model="element.config.productStreamLimit.value"
                            :label="$tc('sw-cms.elements.productSlider.config.label.productStreamLimit')"
                            class="sw-cms-el-config-product-slider__product-stream-limit"
                            :disabled="!productStream"
                            :min="1"
                        />
                        {% endblock %}
                    </sw-container>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_element_product_slider_config_content_product_stream_preview_link %}
                    <div class="sw-cms-el-config-product-slider__product-stream-preview-link-container">
                        <a
                            class="sw-cms-el-config-product-slider__product-stream-preview-link link"
                            :class="{ 'is--disabled': !productStream }"
                            href="#"
                            @click.prevent="onClickProductStreamPreview"
                        >
                            {{ $tc('sw-cms.elements.productSlider.config.textProductStreamPreviewLink') }}
                            <sw-icon
                                name="regular-long-arrow-right"
                                small
                            />
                        </a>
                    </div>
                    {% endblock %}
                </template>

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_content_products %}
                <sw-entity-multi-select
                    v-else
                    v-model="productCollection"
                    class="sw-cms-el-config-product-slider__products"
                    :label="$tc('sw-cms.elements.productSlider.config.label.selection')"
                    :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.selection')"
                    :context="productMultiSelectContext"
                    :criteria="productMediaFilter"
                    @change="onProductsChange"
                >
                    <template #selection-label-property="{ item }">
                        <sw-product-variant-info
                            :variations="item.variation"
                        >
                            {{ item.translated.name || item.name }}
                        </sw-product-variant-info>
                    </template>
                    <template #result-item="{ item, index }">
                        <slot
                            name="result-item"
                            v-bind="{ item, index }"
                        >
                            <li
                                is="sw-select-result"
                                v-bind="{ item, index, selected: isSelected(item.id)}"
                            >
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_entity_single_select_base_results_list_result_label %}
                                <span class="sw-select-result__result-item-text">
                                    <sw-product-variant-info
                                        :variations="item.variation"
                                    >
                                        {{ item.translated.name || item.name }}
                                    </sw-product-variant-info>
                                </span>
                                {% endblock %}
                            </li>
                        </slot>
                    </template>
                </sw-entity-multi-select>
                {% endblock %}
            </sw-container>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_product_slider_config_settings %}
            <sw-container
                v-if="active === 'settings'"
                class="sw-cms-el-config-product-slider__tab-settings"
            >

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_display_mode %}
                <sw-select-field
                    v-model="element.config.displayMode.value"
                    :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                >
                    <option value="standard">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                    </option>
                    <option value="cover">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                    </option>
                    <option value="contain">
                        {{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
                    </option>
                </sw-select-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_vertical_align %}
                <sw-select-field
                    v-model="element.config.verticalAlign.value"
                    :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                    :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                >
                    <option value="flex-start">
                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                    </option>
                    <option value="center">
                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                    </option>
                    <option value="flex-end">
                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                    </option>
                </sw-select-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_box_layout %}
                <sw-select-field
                    v-model="element.config.boxLayout.value"
                    :label="$tc('sw-cms.elements.productBox.config.label.layoutType')"
                >
                    <option value="standard">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
                    </option>
                    <option value="image">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
                    </option>
                    <option value="minimal">
                        {{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
                    </option>
                </sw-select-field>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_navigation %}
                <sw-field
                    v-model="element.config.navigation.value"
                    type="switch"
                    bordered
                    :label="$tc('sw-cms.elements.productSlider.config.label.navigation')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_rotate %}
                <sw-field
                    v-model="element.config.rotate.value"
                    type="switch"
                    bordered
                    :label="$tc('sw-cms.elements.productSlider.config.label.rotate')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_border %}
                <sw-field
                    v-model="element.config.border.value"
                    type="switch"
                    bordered
                    :label="$tc('sw-cms.elements.productSlider.config.label.border')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_element_product_slider_config_settings_min_width %}
                <sw-field
                    v-model="element.config.elMinWidth.value"
                    type="text"
                    :label="$tc('sw-cms.elements.productSlider.config.label.minWidth')"
                    :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.minWidth')"
                />
                {% endblock %}
            </sw-container>
            {% endblock %}
        </template>
    </sw-tabs>
    {% endblock %}
</div>
{% endblock %}
