{% block sw_media_tag %}
    <div class="sw-media-tag">
        <sw-media-collapse :title="$tc('global.sw-tag-field.title')"
                           :expandOnLoading="true">
            {% block sw_media_tag_input %}
                <template slot="content">
                    <sw-tag-field :entity="media" @input="onChange"></sw-tag-field>
                </template>
            {% endblock %}
        </sw-media-collapse>
    </div>
{% endblock %}