.sw-cms-block-image-two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    grid-gap: 40px;

    .sw-cms-el-image.is--cover {
        min-height: 340px;
    }
}
