
{% block sw_order_saveable_field %}
    <sw-container v-if="isEditing"
                  columns="1fr 25px 25px"
                  gap="0px 10px"
                  class="sw-order-saveable-field">
        {% block sw_order_saveable_field_input %}
            {% block  sw_order_saveable_field_input_field%}
                <sw-field v-if="type !== 'select'"
                          ref="edit-field"
                          :type="type"
                          :value="value"
                          :placeholder="placeholder"
                          class="sw-order-detail-base__select-inline">

                </sw-field>
            {% endblock %}

            {% block sw_order_saveable_field_input_select %}
                <sw-select v-else
                           ref="edit-field"
                           :id="value.id"
                           :value="value.id"
                           :placeholder="placeholder"
                           :store="selectStore"
                           class="sw-order-detail-base__select-inline">

                </sw-select>
            {% endblock %}
        {% endblock %}

        {% block sw_order_saveable_field_actions %}
            {%  block sw_order_saveable_field_save_button %}
                <sw-button size="small"
                           variant="primary"
                           square
                           @click="onSaveButtonClicked">
                    <sw-icon name = "small-default-checkmark-line-small"></sw-icon>
                </sw-button>
            {%  endblock %}

            {% block sw_order_saveable_field_cancel_button %}
                <sw-button size="small"
                           square
                           @click="onCancelButtonClicked">
                    <sw-icon name="small-default-x-line-small"></sw-icon>
                </sw-button>
            {%  endblock %}
        {% endblock %}
    </sw-container>
    <div v-else
        @dblclick="onDoubleClick">
        {% block w_order_saveable_field_content %}

            <div :class="textClasses">{{ displayValue() }}</div>
        {% endblock %}
    </div>


{% endblock %}