{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_account %}
        <div class="account account-content row">
            {% block page_account_sidebar %}
                <div class="account-content-aside col-lg-3 col-xl-2 d-none d-lg-block">
                    {% if context.customer and not context.customer.guest %}
                        {% sw_include '@Storefront/storefront/page/account/sidebar.html.twig' %}
                    {% endif %}
                </div>
            {% endblock %}

            {% block page_account_main %}
                <div class="account-content-main col-lg-9 offset-xl-1 col-xl-9">
                    {% block page_account_main_content %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
