{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_account %}
        <div class="account account-content">
            {% block page_account_sidebar %}
                <div class="account-content-aside">
                    {% sw_include '@Storefront/storefront/page/account/sidebar.html.twig' %}
                </div>
            {% endblock %}

            {% block page_account_main %}
                <div class="account-content-main">
                    {% block page_account_main_content %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
