@import "~scss/variables";

.sw-product-document-form {
    position: relative;
    height: 100%;

    .sw-product-document-form__empty-state {
        position: relative;
        min-height: 160px;
        border: var(--scale-size-1) dashed var(--color-gray-300);
        border-radius: var(--border-radius-xs);
    }

    .sw-product-document-form__title-field {
        margin-bottom: 0;
    }

    .sw-product-document-form__file-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.is--disabled::after {
        content: "";
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-gray-100);
        border-radius: var(--border-radius-xs);
        mix-blend-mode: multiply;
    }
}
