.sw-import-export-edit-profile-general {
    &__text {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        color: var(--color-text-primary-default);
        margin-bottom: var(--scale-size-24);
    }
}
