<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block %}
<div
    class="sw-cms-block"
    :class="customBlockClass"
    :style="blockStyles"
>
    <div
        v-if="invisibleBlock"
        class="sw-cms-block__visibility-wrapper"
        :class="expandedClass"
    >
        <div class="sw-cms-block__visibility">
            <sw-icon
                name="regular-eye-slash"
                size="24"
            />
            <span class="sw-cms-block__visibility-text">{{ $tc('sw-cms.detail.label.visibilityParagraph') }}</span>
            <button
                class="sw-cms-block__visibility-btn"
                @click="toggleVisibility"
            >
                <span>{{ toggleTextButton }}</span>
                <sw-icon
                    :name="isCollapsed ? 'regular-chevron-down-xs' : 'regular-chevron-up-xs'"
                    size="16"
                />
            </button>
        </div>
    </div>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_content %}
    <div
        v-if="!isCollapsed || !invisibleBlock"
        class="sw-cms-block__content"
        :class="expandedClass"
        :style="blockPadding"
    >
        <slot>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_slot_default %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_overlay %}
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
        v-if="!disabled"
        class="sw-cms-block__config-overlay"
        :class="overlayClasses"
        @click="onBlockOverlayClick"
    ></div>
    {% endblock %}
</div>
{% endblock %}
