<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block %}
<div
    class="sw-cms-block"
    :class="customBlockClass"
    :style="blockStyles"
>
    <sw-cms-visibility-toggle
        v-if="isVisible"
        :text="toggleButtonText"
        :is-collapsed="isCollapsed"
        :class="expandedClass"
        @toggle="toggleVisibility"
    />
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_content %}
    <div
        v-if="!isCollapsed || !isVisible"
        class="sw-cms-block__content"
        :class="expandedClass"
        :style="blockPadding"
    >
        <slot>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_slot_default %}{% endblock %}
        </slot>
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_overlay %}
    <div
        v-if="!disabled"
        class="sw-cms-block__config-overlay"
        :class="overlayClasses"
        role="button"
        tabindex="0"
        @click="onBlockOverlayClick"
        @keydown.enter="onBlockOverlayClick"
    ></div>
    {% endblock %}
</div>
{% endblock %}
