<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_language_info %}
<p
    v-if="infoText"
    class="sw-language-info"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_language_info_text %}
    <span
        class="sw_language-info__info"
        v-html="$sanitize(infoText)"
    ></span>
    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <span
        v-if="infoParent"
        class="sw-language-info__link-parent"
        @click="onClickParentLanguage"
    >
        "{{ infoParent }}".
    </span>
    {% endblock %}
</p>
{% endblock %}
