/Framework/Resources/demo-media export-ignore
/Framework/Test export-ignore
/Content/Test export-ignore
/Checkout/Test export-ignore
/System/Test export-ignore
/DevOps/Resources/generated export-ignore

