<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_custom_field_type_base_content %}
{% parent() %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_custom_field_type_select_multi %}
<sw-switch-field
    v-model="multiSelectSwitch"
    class="sw-custom-field-detail__switch"
    :label="$tc('sw-settings-custom-field.customField.detail.labelMultiSelect')"
    @change="onChangeMultiSelectSwitch"
/>
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_custom_field_type_select_options %}
<div
    v-for="(option, index) in currentCustomField.config.options"
    :key="index"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_custom_field_type_select_options_label %}
    <span>
        {{ $tc('sw-settings-custom-field.customField.detail.labelOption', 0, { count: (index+1) }) }}
    </span>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_custom_field_type_select_options_delete %}
    <sw-button
        class="sw-custom-field-type-select__delete-option-button"
        size="small"
        @click="onDeleteOption(index)"
    >
        {{ $tc('sw-settings-custom-field.customField.detail.labelDeleteOption') }}
    </sw-button>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_custom_field_type_select_options_container %}
    <sw-container
        class="sw-custom-field-type-select__option-container"
        columns="1fr 1fr"
        gap="20px"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_custom_field_type_select_options_container_technical_name %}
        <sw-field
            v-model="option.value"
            :label="$tc('sw-settings-custom-field.customField.detail.labelTechnicalName')"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_custom_field_type_select_options_container_labels %}
        <div>
            <sw-text-field
                v-for="locale in locales"
                :key="locale"
                v-model="option.label[locale]"
                class="sw-custom-field-type-select__option-label"
                :label="getLabel(locale)"
            />
        </div>
        {% endblock %}
    </sw-container>
    {% endblock %}
</div>
{% endblock %}

<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_custom_field_type_select_add_option %}
<sw-button
    size="small"
    class="sw-custom-field-type-select__button-add"
    @click="onClickAddOption"
>
    {{ $tc('sw-settings-custom-field.customField.detail.buttonAddOption') }}
</sw-button>
    {% endblock %}
{% endblock %}
