{% block sw_single_select %}
    <div class="sw-single-select"
         :class="selectClasses"
         tabindex="0"
         ref="swSelect"
         @focus="setFocus"
         @keyup.esc="closeResultList"
         @keyup.enter.prevent="onKeyUpEnter"
         @keydown.up.prevent="navigateUpResults"
         @keydown.down.prevent="navigateDownResults">

        {% block sw_single_select_label %}
            <label v-if="getInlineSnippet(label)" :for="selectId" class="sw-single-select__label">
                {{ getInlineSnippet(label) }}
            </label>
        {% endblock %}

        {% block sw_single_select_inner %}
            <div class="sw-single-select__inner">

                <div class="sw-single-select__single-selection">
                    {% block sw_single_select_single_selection_inner %}
                        <slot v-if="singleSelection !== null" name="selected_option" :item="singleSelection">
                            {% block sw_single_select_single_selection_slot_label %}
                                <slot name="labelProperty" :item="singleSelection">
                                    {{ getInlineSnippet(singleSelection[labelProperty]) }}
                                </slot>
                            {% endblock %}
                        </slot>

                        <span v-else-if="!isExpanded"
                              class="sw-single-select__searchPlaceholder">
                            {{ getInlineSnippet(searchPlaceholder) }}
                        </span>
                    {% endblock %}
                </div>

                {% block sw_single_select_indicators %}
                    <div class="sw-single-select__indicators">
                        {% block sw_single_select__indicators_loader %}
                            <sw-loader class="sw-single-select__indicator" v-if="isLoading" size="16px"></sw-loader>
                        {% endblock %}

                        {% block sw_single_select_indicators_helptext %}
                            <sw-help-text v-if="getInlineSnippet(helpText)"
                                          class="sw-single-select__indicator"
                                          :text="getInlineSnippet(helpText)">
                            </sw-help-text>
                        {% endblock %}

                        {% block sw_single_select_indicators_arrow %}
                            <sw-icon class="sw-single-select__indicator sw-single-select__indicator-button"
                                     name="small-arrow-medium-down"
                                     small>
                            </sw-icon>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_single_select_results_transition %}
                    <transition name="sw-single-select-fade-down">
                        {% block sw_single_select_results %}
                        <div @scroll="onScroll" class="sw-single-select__results" v-if="isExpanded">
                                {% block sw_single_select_results_single_input %}
                                    <div v-if="showSearch"
                                         class="sw-single-select__input-single-wrapper">
                                        <input ref="swSelectInput"
                                               class="sw-single-select__input-single"
                                               type="text"
                                               :placeholder="getInlineSnippet(searchPlaceholder)"
                                               v-model="searchTerm"
                                               @input="search">
                                        <sw-icon name="small-search" small></sw-icon>
                                    </div>
                                {% endblock %}

                                {% block sw_single_select_results_list %}
                                    <ul class="sw-single-select__results-list">
                                        {% block sw_single_select_result_item %}
                                           {% block sw_single_select_result_item_list_before %}
                                               <slot name="sw_single_select_list_before"></slot>
                                           {% endblock %}

                                            {% block sw_single_select_result_item_list %}
                                                {% block sw_single_select_result_item_list_option %}
                                                     <template v-if="currentOptions" v-for="(item, index) in currentOptions">
                                                         <slot name="result_items" :item="item" :index="index">
                                                             {% block sw_single_select_result_item_slot %}
                                                                 <sw-single-select-option
                                                                         ref="swSelectOption"
                                                                         :index="index"
                                                                         :item="item">
                                                                    <slot name="labelProperty">
                                                                        <span v-html="getInlineSnippet(item[labelProperty])"></span>
                                                                    </slot>
                                                                 </sw-single-select-option>
                                                             {% endblock %}
                                                         </slot>
                                                     </template>
                                                {% endblock %}
                                            {% endblock %}

                                            {% block sw_single_select_result_item_list_after %}
                                                <slot name="sw_single_select_list_after"></slot>
                                            {% endblock %}
                                        {% endblock %}
                                    </ul>

                                {% endblock %}

                                {% block sw_single_select_results_empty %}
                                    <div v-if="currentOptions.length <= 0 && !isLoading" class="sw-single-select__results-empty-message">
                                        {% block sw_single_select_results_empty_icon %}
                                            <sw-icon name="default-action-search" size="20px"></sw-icon>
                                        {% endblock %}

                                        {% block sw_single_select_results_empty_text %}
                                            {{ $tc('global.sw-single-select.messageNoResults', searchTerm, { term: searchTerm }) }}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
