@import "~scss/variables";

$sw-single-select-border-radius: $border-radius-default;
$sw-single-select-color-border: $color-steam-cloud;
$sw-single-select-color-border-focus: $color-shopware-blue;
$sw-single-select-color-background: $color-white;
$sw-single-select-color-background-single-input: $color-iron;
$sw-single-select-color-label: $color-kashmir;
$sw-single-select-color-background-default-item: $color-cadet-blue;
$sw-single-select-color-text-default-item: $color-shopware-blue;
$sw-single-select-color-border-default-item: $color-shopware-blue;
$sw-single-select-selection-item-color-text: $color-gutenberg;
$sw-single-select-font-family: $font-family-default;
$sw-single-select-selection-item-color-background: darken($color-light-gray, 5%);
$sw-single-select-input-color-text: $color-gutenberg;
$sw-single-select-input-color-placeholder: lighten($color-gutenberg, 25%);
$sw-single-select-results-max-height: 315px;
$sw-single-select-results-z-index: $z-index-select-results;
$sw-single-select-results-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
$sw-single-select-result-color-icon: darken($color-light-gray, 20%);
$sw-single-select-color-error: $color-crimson;
$sw-single-select-disabled-color-background: $color-light-gray;
$sw-single-select-disabled-color-text: lighten($color-gutenberg, 40%);
$sw-single-select-transition-results: all ease-in-out .2s;
$sw-single-select-transition-result-icon: all ease-in-out .15s;

.sw-single-select {
    outline: none;

    .is--highlighted {
        color: $sw-single-select-color-border-focus;
    }

    .sw-single-select__label {
        display: block;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 8px;
        color: $sw-single-select-color-label;
        font-weight: normal;
        cursor: pointer;
        user-select: none;
    }

    .sw-single-select__button-load-more {
        margin: 15px;
        width: calc(100% - 30px);
    }

    .sw-label--dismiss-able {
        padding-right: 12px;

        .sw-label__dismiss {
            display: none;
        }
    }

    .sw-single-select__load-more-list-item-button {
        padding: 2px 10px;
        line-height: 26px;
        color: $sw-single-select-color-border-focus;
    }

    .sw-single-select__inner {
        display: block;
        position: relative;
        width: 100%;
        padding: 6px 6px 0 6px;
        line-height: 20px;
        min-height: 45px;
        font-size: 14px;
        border-radius: $sw-single-select-border-radius;
        border: 1px solid $sw-single-select-color-border;
        background-color: $sw-single-select-color-background;
        transition: $sw-single-select-transition-results;
        cursor: default;
    }

    .sw-loader {
        width: 16px;
        height: 16px;
        border-radius: $sw-single-select-border-radius;
        background: none;
        position: static;
        display: inline-block;
    }

    .sw-single-select__indicators {
        position: absolute;
        display: flex;
        top: 12px;
        right: 14px;
        min-height: 20px;
        align-items: center;

        .sw-single-select__indicator {
            margin-left: 8px;
        }

        .sw-single-select__indicator:first-child {
            margin-left: 0;
        }

        .sw-single-select__indicator--button {
            cursor: pointer;
        }
    }

    &.sw-single-select--multi .sw-single-select__inner {
        cursor: text;
    }

    .sw-single-select__placeholder {
        color: $sw-single-select-input-color-placeholder;
    }

    .sw-single-select__selection-item-holder {
        max-width: 220px;
        padding-right: 6px;
        padding-bottom: 6px;
        line-height: 0;

        .sw-label {
            margin: 0;
        }

        &:hover .sw-label--dismiss-able {
            .sw-single-select__selection-item {
                display: block;
                width: calc(100% - 15px);
            }

            .sw-label__dismiss {
                display: block;
                color: $sw-single-select-color-text-default-item;
            }
        }
    }

    .sw-single-select__selection-item {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sw-single-select__selections {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: calc(100% - 20px);
    }

    .sw-single-select__load-more-list-item-label {
        color: $sw-single-select-color-text-default-item
    }

    .is--clickAble .sw-label {
        cursor: pointer;
    }

    .sw-single-select__item-is--default {
        color: $sw-single-select-color-text-default-item;
        border: none;
    }

    .sw-single-select__selection-item-input {
        flex-grow: 1;
        margin-bottom: 6px;
    }

    .sw-single-select__input {
        display: inline-block;
        min-width: 200px;
        width: 100%;
        padding: 2px 8px;
        font-size: 14px;
        line-height: 26px;
        border: 0 none;
        outline: none;
        color: $sw-single-select-input-color-text;
        font-family: $sw-single-select-font-family;
        background: 0 none;

        &::placeholder {
            color: $sw-single-select-input-color-placeholder;
        }
    }

    .sw-single-select__input-single-wrapper {
        padding: 8px 8px;
        font-size: 14px;
        position: sticky;
        top: 0;
        background-color: $color-white;
        border-bottom: 1px solid $color-steam-cloud;

        .sw-icon {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 22px;
        }
    }

    .sw-single-select__input-single {
        display: inline-block;
        border: 1px solid $sw-single-select-color-border;
        border-radius: 6px;
        background-color: $sw-single-select-color-background-single-input;
        width: 100%;
        line-height: 26px;
        padding: 8px 40px 8px 16px;
        outline: none;
        color: #607182;
        font-family: $sw-single-select-font-family;

        &::placeholder {
            color: $sw-single-select-input-color-placeholder;
        }
    }

    .sw-single-select__single-selection {
        padding: 2px 8px;
        line-height: 26px;
        font-size: 14px;

        .sw-icon {
            position: absolute;
            top: 14px;
            right: 12px;
        }
    }

    .sw-single-select__results {
        position: absolute;
        left: -1px;
        right: -1px;
        max-height: $sw-single-select-results-max-height;
        top: 100%;
        padding: 0;
        margin: 0;
        z-index: $sw-single-select-results-z-index;
        background: $sw-single-select-color-background;
        box-shadow: $sw-single-select-results-box-shadow;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid $sw-single-select-color-border-focus;
        border-left: 1px solid $sw-single-select-color-border-focus;
        border-right: 1px solid $sw-single-select-color-border-focus;
        border-top: 1px solid $sw-single-select-color-border;
        border-bottom-right-radius: $sw-single-select-border-radius;
        border-bottom-left-radius: $sw-single-select-border-radius;
    }

    &.is--searchable .sw-single-select__results {
        border-top: 0 none;
    }

    .sw-single-select__results-list {
        display: block;
        list-style: none;
        border-top: 0 none;
    }

    .sw-single-select__results-empty-message {
        padding: 10px 16px;

        .sw-icon {
            color: darken($sw-single-select-result-color-icon, 10%);
            margin-right: 10px;
        }
    }

    &.is--expanded .sw-single-select__inner {
        border-color: $sw-single-select-color-border-focus;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-color: transparent;
    }

    &.has--error {
        .sw-single-select__label {
            color: $sw-single-select-color-error;
        }

        .sw-single-select__inner,
        .sw-single-select__results {
            border-color: $sw-single-select-color-error;
        }
    }

    &.is--disabled {
        pointer-events: none;
        color: $sw-single-select-disabled-color-text;

        .sw-single-select__inner {
            background: $sw-single-select-disabled-color-background;
        }

        .sw-single-select__selection-item {
            opacity: 0.6;
        }

        .sw-single-select__input {
            color: $sw-single-select-disabled-color-text;

            &::placeholder {
                color: $sw-single-select-disabled-color-text;
            }
        }
    }

    // Vue.js transitions
    .sw-single-select-fade-down-enter-active,
    .sw-single-select-fade-down-leave-active {
        transition: $sw-single-select-transition-results;
        transform: translateY(0);
    }

    .sw-single-select-fade-down-enter,
    .sw-single-select-fade-down-leave-to {
        transform: translateY(-10px);
        opacity: 0;
    }
}
