/*
Alert
==============================================
Custom styling for bootstrap alert component.

https://getbootstrap.com/docs/4.3/components/alerts/
*/

.alert {
    border: 0;
}

.alert-primary {
    background: desaturate(lighten($primary, 42%), 20%);
    color: darken($primary, 15%);
}

.alert-secondary {
    background: desaturate(lighten($secondary, 42%), 20%);
    color: darken($secondary, 15%);
}

.alert-success {
    background: desaturate(lighten($success, 42%), 20%);
    color: darken($success, 15%);
}

.alert-info {
    background: desaturate(lighten($info, 36%), 20%);
    color: darken($info, 15%);
}

.alert-warning {
    background: desaturate(lighten($warning, 42%), 10%);
    color: darken($warning, 14%);
}

.alert-danger {
    background: desaturate(lighten($danger, 38%), 20%);
    color: $danger;
}

.alert-dark {
    background: desaturate(lighten($dark, 38%), 20%);
    color: $dark;
}
