/*
Form
==============================================
Custom styling for bootstrap form controls.

https://getbootstrap.com/docs/4.3/components/forms/
*/

.form-control {
    background: $gray-100;
    border: 1px solid $border-color;
    border-top-color: darken($border-color, 5%);
    box-shadow: inset 0 1px 1px $gray-300;
    color: lighten($gray-600, 15%);

    &:focus {
        background: $white;
        border-color: $primary;
        box-shadow: none;
        color: $gray-600;
    }
}

/* custom form-label class for screenreaders only */
.form-label {
    @include sr-only;
}
