/*
Spinner
==============================================
Custom styling for bootstrap spinner component.

https://getbootstrap.com/docs/4.3/components/spinners/
*/

.spinner-border {
    border-right-color: $gray-600;
    color: $gray-300;
}
