{% block sw_cms_block_category_navigation_preview %}
<div class="sw-cms-preview-category-navigation">
    <p>{{ $tc('sw-cms.detail.labelNavigation') }}</p>
    <hr>
    <div class="sw-cms-block-category-placeholder-listing">
        <div class="sw-cms-block-category-navigation__placeholder"></div>
        <hr>
        <div class="sw-cms-block-category-navigation__placeholder"></div>
        <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-block-category-navigation__placeholder--subcategory"></div>
        <hr>
    </div>
</div>
{% endblock %}
