{% block sw_condition_value_content %}
<div class="sw-condition-billing-street sw-condition__condition-value">
    {% block sw_condition_billing_street_field_operator %}
    <sw-condition-operator-select
        v-bind="{ condition, operators }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_billing_street_field_street_name %}
    <sw-text-field
        v-if="!isEmpty"
        v-model="streetName"
        class="sw-condition-billing-street__input"
        size="medium"
        :disabled="disabled"
    />
    {% endblock %}
</div>
{% endblock %}
