@import "~scss/variables";

.sw-first-run-wizard-welcome {
    width: 100%;
    align-self: flex-start;

    .center {
        text-align: center;
    }

    .headline-welcome {
        font-size: 32px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0.2px;
        line-height: 45px;
    }

    .text-welcome {
        width: 675px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 0.1px;
        margin: 0 auto 30px auto;
    }

    .text-change-language {
        height: 25px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1px;
        line-height: 25px;
    }

    .sw-container {
        grid-template-columns: 150px 1fr;
    }
}

.sw-first-run-wizard-confirmLanguageSwitch-modal {
    z-index: 1002 !important;

    .sw-first-run-wizard-welcome__modal-text {
        margin-bottom: 22px;
    }
}
