{% block sw_cms_element_text_config %}
    <div class="sw-cms-el-config-text">
        <sw-text-editor :label="$tc('sw-cms.elements.labelTextElementContent')"
                        v-model="element.config.content">
        </sw-text-editor>
    </div>
{% endblock %}
