<div class="sw-cms-list-item">
    <div class="sw-cms-list-item__image" @click="$emit('onItemClick', page)"></div>
    <div class="sw-cms-list-item__info">
        <sw-icon class="sw-cms-list-item__status" name="small-default-circle-medium" small></sw-icon>
        <div class="sw-cms-list-item__title" @click="$emit('onItemClick', page)">{{ page.meta.viewData.name }}</div>
    </div>
</div>
