@import "~scss/variables";

.sw-settings-shipping-detail {
    .sw-field.sw-field--textarea.sw-settings-shipping-detail__description textarea {
        min-height: 148px;
    }

    .sw-settings-shipping-detail__delivery-time {
        margin-bottom: 22px;
    }

    /** @deprecated tag:v6.7.0 - Can be removed: with technical names now required, the hint is no longer needed */
    .sw-settings-shipping-detail__field-technical-name.has--warning {
        .sw-block-field__block {
            background: $color-pumpkin-spice-50;
            border-color: $color-pumpkin-spice-500;

            input,
            textarea,
            select {
                background: $color-pumpkin-spice-50;
            }
        }

        .sw-field__hint {
            color: $color-pumpkin-spice-500;
        }
    }
}
