
<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_shipping_detail %}
<sw-page class="sw-settings-shipping-detail">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_shipping_detail_header %}
    <template #smart-bar-header>
        <h2>{{ placeholder(shippingMethod, 'name', $tc('sw-settings-shipping.detail.textHeadline')) }}</h2>
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_shipping_detail_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_shipping_detail_actions_abort %}
        <sw-button
            v-tooltip.bottom="tooltipCancel"
            :disabled="isLoading"
            @click="onCancel"
        >
            {{ $tc('sw-settings-shipping.detail.buttonCancel') }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_shipping_detail_actions_save %}
        <sw-button-process
            v-model="isSaveSuccessful"
            v-tooltip.bottom="tooltipSave"
            class="sw-settings-shipping-method-detail__save-action"
            :is-loading="isProcessLoading"
            :disabled="isProcessLoading || !acl.can('shipping.editor')"
            variant="primary"
            @click.prevent="onSave"
        >
            {{ $tc('sw-settings-shipping.detail.buttonSave') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_shipping_detail_language_switch %}
    <template #language-switch>
        <sw-language-switch
            :disabled="isNewShippingMethod"
            :save-changes-function="saveOnLanguageChange"
            :abort-change-function="abortOnLanguageChange"
            @on-change="onChangeLanguage"
        />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_shipping_detail_content %}
    <template #content>
        <sw-card-view>
            <template v-if="isLoading">
                <sw-skeleton variant="detail-bold" />
                <sw-skeleton />
            </template>

            <template v-else>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_shipping_detail_content_language_info %}
                <sw-language-info
                    :is-new-entity="isNewShippingMethod"
                    :entity-description="placeholder(shippingMethod, 'name', $tc('sw-settings-shipping.detail.textHeadline'))"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_shipping_detail_base %}
                <sw-card
                    position-identifier="sw-settings-shipping-detail-base"
                    :title="$tc('sw-settings-shipping.detail.labelBasicInfo')"
                    :is-loading="isLoading"
                >
                    <sw-container
                        columns="5fr 2fr 1fr"
                        gap="0px 30px"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_shipping_detail_base_content_field_name %}
                        <sw-field
                            v-model="shippingMethod.name"
                            type="text"
                            required
                            :disabled="!acl.can('shipping.editor')"
                            :error="shippingMethodNameError"
                            :label="$tc('sw-settings-shipping.detail.labelName')"
                            :placeholder="placeholder(shippingMethod, 'name', $tc('sw-settings-shipping.detail.placeholderName'))"
                        />
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_shipping_detail_base_content_field_position %}
                        <sw-field
                            v-model="shippingMethod.position"
                            type="number"
                            class="sw-settings-shipping-detail__field-position"
                            :disabled="!acl.can('shipping.editor')"
                            :label="$tc('sw-settings-shipping.detail.labelPosition')"
                            :placeholder="$tc('sw-settings-shipping.detail.placeholderPosition')"
                        />
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_shipping_detail_base_content_field_active %}
                        <sw-field
                            v-model="shippingMethod.active"
                            type="switch"
                            bordered
                            :disabled="!acl.can('shipping.editor')"
                            :label="$tc('sw-settings-shipping.detail.labelActive')"
                        />
                        {% endblock %}
                    </sw-container>
                    <sw-container
                        columns="repeat(auto-fit, minmax(250px, 1fr))"
                        gap="0px 30px"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_shipping_detail_base_content_field_description %}
                        <sw-textarea-field
                            v-model="shippingMethod.description"
                            :value="shippingMethod.description"
                            class="sw-settings-shipping-detail__description"
                            :disabled="!acl.can('shipping.editor')"
                            :label="$tc('sw-settings-shipping.detail.labelDescription')"
                            :placeholder="placeholder(shippingMethod, 'description', $tc('sw-settings-shipping.detail.placeholderDescription'))"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_shipping_detail_base_content_media_upload %}
                        <sw-upload-listener
                            :upload-tag="uploadTag"
                            auto-upload
                            @media-upload-finish="setMediaItem"
                        />
                        <sw-media-upload-v2
                            v-if="!isLoading"
                            :upload-tag="uploadTag"
                            :source="logoMediaItem"
                            class="sw-settings-shipping-detail__logo-image-upload"
                            :allow-multi-select="false"
                            variant="regular"
                            :disabled="!acl.can('shipping.editor')"
                            :label="$tc('sw-settings-shipping.detail.labelLogoUpload')"
                            :default-folder="shippingMethod.getEntityName()"
                            @media-drop="onDropMedia"
                            @media-upload-sidebar-open="openMediaSidebar"
                            @media-upload-remove-image="onUnlinkLogo"
                        />
                        {% endblock %}
                    </sw-container>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_shipping_detail_base_content_field_delivery_time %}
                    <sw-entity-single-select
                        v-model="shippingMethod.deliveryTimeId"
                        class="sw-settings-shipping-detail__delivery-time"
                        entity="delivery_time"
                        :disabled="!acl.can('shipping.editor')"
                        :criteria="deliveryTimeCriteria"
                        :label="$tc('sw-settings-shipping.detail.labelDeliveryTime')"
                        :placeholder="$tc('sw-settings-shipping.detail.placeholderDeliveryTime')"
                        :error="shippingMethodDeliveryTimeIdError"
                        show-clearable-button
                        required
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_shipping_detail_base_content_tracking_url_field %}
                    <sw-field
                        v-model="shippingMethod.trackingUrl"
                        type="text"
                        :disabled="!acl.can('shipping.editor')"
                        :label="$tc('sw-settings-shipping.detail.labelTrackingUrl')"
                        :placeholder="placeholder(shippingMethod, 'trackingUrl', $tc('sw-settings-shipping.detail.placeholderTrackingUrl'))"
                        :help-text="$tc('sw-settings-shipping.detail.helpTextTrackingUrl')"
                    />
                    {% endblock %}

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_shipping_detail_base_content_tags_field %}
                    <sw-entity-tag-select
                        v-if="!isLoading"
                        v-model="shippingMethod.tags"
                        :disabled="!acl.can('shipping.editor')"
                        :placeholder="$tc('sw-product.categoryForm.placeholderTags')"
                    />
                    {% endblock %}
                </sw-card>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_shipping_detail_top_ruleshippingPriceStore %}
                <sw-card
                    position-identifier="sw-settings-shipping-detail-condition-container"
                    class="sw-settings-shipping-detail__condition_container"
                    :title="$tc('sw-settings-shipping.detail.topRule')"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_shipping_detail_top_rule_select %}
                    <sw-select-rule-create
                        :rule-id="shippingMethod.availabilityRuleId"
                        :rule-filter="ruleFilter"
                        :disabled="!acl.can('shipping.editor')"
                        required
                        :error="shippingMethodAvailabilityRuleIdError"
                        :label="$tc('sw-settings-shipping.detail.topRule')"
                        class="sw-settings-shipping-detail__top-rule"
                        rule-aware-group-key="shippingMethods"
                        @save-rule="onSaveRule"
                    />
                    {% endblock %}
                </sw-card>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_shipping_detail_tax_cost %}
                <sw-settings-shipping-tax-cost
                    v-if="!isLoading"
                    :disabled="!acl.can('shipping.editor')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_shipping_detail_price_matrices %}
                <sw-settings-shipping-price-matrices
                    v-if="!isLoading"
                    ref="priceMatrices"
                    :disabled="!acl.can('shipping.editor')"
                />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_shipping_detail_custom_field_sets %}
                <sw-card
                    v-if="showCustomFields"
                    position-identifier="sw-settings-shipping-detail-custom-fields"
                    :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                    :is-loading="isLoading"
                >
                    <sw-custom-field-set-renderer
                        :entity="shippingMethod"
                        :disabled="!acl.can('shipping.editor')"
                        :sets="customFieldSets"
                    />
                </sw-card>
                {% endblock %}
            </template>
        </sw-card-view>
    </template>
    {% endblock %}

    <template #sidebar>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_shipping_detail_sidebar %}
        <sw-sidebar :propagate-width="true">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_setting_shipping_detail_sidebar_media_item %}
            <sw-sidebar-media-item ref="mediaSidebarItem">
                <template
                    #context-menu-items="media"
                >
                    <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                        {{ $tc('sw-settings-shipping.sidebar.labelUseAsLogo') }}
                    </sw-context-menu-item>
                </template>
            </sw-sidebar-media-item>
            {% endblock %}
        </sw-sidebar>
        {% endblock %}
    </template>

</sw-page>
{% endblock %}
