<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_salutation_detail %}
<sw-page class="sw-settings-salutation-detail">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_salutation_detail_search_bar %}
    <template #search-bar></template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_salutation_detail_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_salutation_detail_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_salutation_detail_smart_bar_header_title_text %}
            {{ placeholder(salutation, 'salutationKey', $tc('sw-settings-salutation.detail.placeholderNewSalutation')) }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_salutation_detail_language_switch %}
    <template #language-switch>
        <sw-language-switch
            :disabled="salutationId == null"
            @on-change="onChangeLanguage"
        />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_salutation_detail_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_salutation_detail_actions_cancel %}
        <sw-button
            v-tooltip.bottom="tooltipCancel"
            class="sw-settings-salutation-detail__cancel"
            @click="onCancel"
        >
            {{ $tc('sw-settings-salutation.general.buttonCancel') }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_salutation_detail_actions_save %}
        <sw-button-process
            v-tooltip.bottom="tooltipSave"
            class="sw-settings-salutation-detail__save"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            :disabled="invalidKey || isKeyChecking || !allowSave"
            variant="primary"
            @process-finish="saveFinish"
            @click="onSave"
        >
            {{ $tc('sw-settings-salutation.general.buttonSave') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_salutation_detail_cardview %}
    <template #content>
        <sw-card-view>
            <sw-skeleton v-if="isLoading" />

            <template v-else>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_salutation_detail_content_language_info %}
                <sw-language-info :entity-description="entityDescription" />
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_salutation_detail_content_card %}
                <sw-card
                    position-identifier="sw-settings-salutation-detail-content"
                    :is-loading="isLoading"
                    :title="$tc('sw-settings-salutation.detail.cardTitle')"
                >

                    <template v-if="salutation">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_salutation_detail_content_card_salutation_key %}
                        <sw-field
                            v-model="salutation.salutationKey"
                            class="sw-settings-salutation-detail__salutation_key"
                            :label="$tc('sw-settings-salutation.detail.fieldSalutationKeyLabel')"
                            :placeholder="$tc('sw-settings-salutation.detail.fieldSalutationKeyPlaceholder')"
                            :help-text="$tc('sw-settings-salutation.detail.fieldSalutationKeyTooltip')"
                            :error="salutationSalutationKeyError"
                            validation="required"
                            required
                            :disabled="!acl.can('salutation.editor')"
                            @input="onChange"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_salutation_detail_content_card_display_name %}
                        <sw-field
                            v-model="salutation.displayName"
                            required
                            class="sw-settings-salutation-detail__displayName"
                            :label="$tc('sw-settings-salutation.detail.fieldDisplayNameLabel')"
                            :error="salutationDisplayNameError"
                            :disabled="!acl.can('salutation.editor')"
                            :placeholder="placeholder(salutation, 'displayName', $tc('sw-settings-salutation.detail.fieldDisplayNamePlaceholder'))"
                        />
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_salutation_detail_content_card_letter_name %}
                        <sw-field
                            v-model="salutation.letterName"
                            required
                            class="sw-settings-salutation-detail__letterName"
                            :label="$tc('sw-settings-salutation.detail.fieldLetterNameLabel')"
                            :error="salutationLetterNameError"
                            :disabled="!acl.can('salutation.editor')"
                            :placeholder="placeholder(salutation, 'letterName', $tc('sw-settings-salutation.detail.fieldLetterNamePlaceholder'))"
                        />
                        {% endblock %}
                    </template>
                </sw-card>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_settings_salutation_detail_custom_field_sets %}
                <sw-card
                    v-if="showCustomFields"
                    position-identifier="sw-settings-salutation-detail-custom-fields"
                    :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                    :is-loading="isLoading"
                >
                    <sw-custom-field-set-renderer
                        :entity="salutation"
                        :disabled="!acl.can('salutation.editor')"
                        :sets="customFieldSets"
                    />
                </sw-card>
                {% endblock %}
            </template>
        </sw-card-view>
    </template>
    {% endblock %}

</sw-page>
{% endblock %}
