<sw-context-menu-item
    class="sw-meteor-page-context-menu-item"
    :icon="menuEntry.icon"
    @click="menuEntry.onElementClick">

    <span>{{menuEntry.label}}</span>

    <sw-icon class="sw-meteor-page-context-menu-item__icon-collapsed"
             :class="iconClasses"
             name="small-arrow-medium-right"
             small>
    </sw-icon>
</sw-context-menu-item>
