.sw-modal {
    --bs-modal-header-border-width: 1px;
    --bs-modal-footer-border-width: 1px;
    --bs-modal-header-border-color: var(--bs-gray-300);
    --bs-modal-footer-border-color: var(--bs-gray-300);
}

.sw-modal__title {
    font-size: 1.25rem;
}

.sw-modal__body {
    /* Reset the inline padding of cms containers. */
    /* Padding is already provided by the modal itself */
    .cms-block-container {
        padding: 0 !important;
    }
}
