@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.sw-content-page {
    @each $breakpoint, $value in $grid-breakpoints {
        .display-#{$breakpoint} {
            display: none;

            @include media-breakpoint-only($breakpoint) {
                display: block !important;
            }
        }
    }

    @each $breakpoint, $value in $grid-breakpoints {
        @include media-breakpoint-only($breakpoint) {
            @for $i from 1 through 12 {
                .col-span-#{$breakpoint}-#{$i} {
                    grid-column: span $i;
                }

                .row-span-#{$breakpoint}-#{$i} {
                    grid-row: span $i;
                }
            }

            $align-items: ('start', 'end', 'center', 'stretch');
            @each $align-item in $align-items {
                .align-items-#{$breakpoint}-#{$align-item} {
                    align-items: $align-item;
                }
            }

            $justify-items: ('start', 'end', 'center', 'stretch');
            @each $justify-item in $justify-items {
                .justify-items-#{$breakpoint}-#{$justify-item} {
                    justify-items: $justify-item;
                }
            }
        }
    }
}
