{% block sw_plugin_store_login_status %}
<div class="sw-plugin-store-login-status">

    <div class="sw-plugin-store-login-status__title">Shopware Account</div>

    <div class="sw-plugin-store-login-status__login-box">
        <div class="sw-plugin-store-login-status__box-content">
            <sw-avatar size="36px" color="#E3F3FF" placeholder></sw-avatar>
            <div class="sw-plugin-store-login-status__account-info">
                <span class="sw-plugin-store-login-status__name">Florian Klockenkemper</span>
                <span class="sw-plugin-store-login-status__email">fk@shopware.com</span>
            </div>
        </div>
        <sw-context-button class="sw-plugin-store-login-status__context-button" icon="default-action-more-vertical" :menuOffsetLeft="17">
            <sw-context-menu-item @click="navigateToAccount()">
                {{ $tc('sw-plugin.general.accountLink') }}
            </sw-context-menu-item>

            <sw-context-menu-item @click="logout()">
                {{ $tc('sw-plugin.general.logout') }}
            </sw-context-menu-item>
        </sw-context-button>
    </div>
</div>
{% endblock %}
