{% block sw_order_detail %}
<sw-page
    v-if="orderId"
    class="sw-order-detail"
>

    {% block sw_order_detail_header %}
    <template #smart-bar-header>

        {% block sw_order_detail_header_title %}
        <h2 v-if="identifier">
            {{ $tc('sw-order.detail.textHeadline') }} {{ identifier }}

            {% block sw_order_detail_header_label_manual_order %}
            <sw-label
                v-if="createdById"
                appearance="pill"
                size="small"
                class="sw-order-detail__manual-order-label"
            >
                {{ $tc('sw-order.detail.labelManualOrder') }}
            </sw-label>
            {% endblock %}
        </h2>
        {% endblock %}

        {% block sw_order_detail_header_title_new %}
        <h2 v-else>
            {{ $tc('sw-order.detail.textHeadlineNew') }}
        </h2>
        {% endblock %}

    </template>
    {% endblock %}

    {% block sw_order_detail_language_switch %}
    <!-- eslint-disable vue/valid-v-slot -->
    <sw-language-switch
        #language-switch
        @on-change="onChangeLanguage"
    />
    {% endblock %}

    {% block sw_order_detail_actions %}
    <template #smart-bar-actions>

        {% block sw_order_detail_actions_slot_smart_bar_actions %}
        {% block sw_order_detail_actions_abort %}
        <sw-button
            v-if="isEditing"
            class="sw-order-detail__smart-bar-cancel-button"
            :disabled="isLoading"
            @click="onCancelEditing"
        >
            {{ $tc('global.default.cancel') }}
        </sw-button>
        {% endblock %}

        {% block sw_order_detail_actions_edit %}
        <sw-button
            v-if="!isEditing"
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('order.editor'),
                showOnDisabledElements: true
            }"
            class="sw-order-detail__smart-bar-edit-button"
            variant="primary"
            :disabled="isLoading || !acl.can('order.editor')"
            @click="onStartEditing"
        >
            {{ $tc('global.default.edit') }}
        </sw-button>
        {% endblock %}

        {% block sw_order_detail_actions_save %}
        <sw-button-process
            v-if="isEditing"
            class="sw-order-detail__smart-bar-save-button"
            variant="primary"
            :disabled="isLoading"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            @process-finish="saveEditsFinish"
            @click.prevent="onSaveEdits"
        >
            {{ $tc('global.default.save') }}
        </sw-button-process>
        {% endblock %}
        {% endblock %}

    </template>
    {% endblock %}

    {% block sw_order_detail_content %}
    <template #content>
        <sw-card-view>

            {% block sw_order_detail_content_tabs %}
            <sw-tabs
                v-if="showTabs"
                class="sw-order-detail__tabs"
            >

                {% block sw_order_detail_content_tabs_general %}
                <sw-tabs-item
                    :route="{ name: 'sw.order.detail.base', params: { id: $route.params.id } }"
                    :title="$tc('sw-order.detail.tabGeneral')"
                >
                    {{ $tc('sw-order.detail.tabGeneral') }}
                </sw-tabs-item>
                {% endblock %}

            </sw-tabs>
            {% endblock %}

            {% block sw_order_detail_content_view %}
            <router-view
                ref="baseComponent"
                :order-id="orderId"
                :is-editing="isEditing"
                :is-loading="isLoading"
                :is-save-successful="isSaveSuccessful"
                @identifier-change="updateIdentifier"
                @created-by-id-change="updateCreatedById"
                @loading-change="onUpdateLoading"
                @editing-change="onUpdateEditing"
                @error="onError"
            />
            {% endblock %}

        </sw-card-view>
    </template>
    {% endblock %}

</sw-page>
{% endblock %}
