@import "~scss/variables";
@import "~scss/mixins";

$sw-media-modal-move-breadcrumbs-hover-background-color: $color-shopware-brand-50;
$sw-media-modal-move-breadcrumbs-right-arrow-color: $color-darkgray-200;
$sw-media-modal-move-breadcrumbs-default-color: $color-darkgray-200;
$sw-media-modal-move-breadcrumbs-target-color: $color-shopware-brand-500;
$sw-media-modal-move-breadcrumbs-parent-color: $color-gray-300;

.sw-media-modal-move {
    .sw-media-modal-move-folder-breadcrumbs {
        display: flex;
        font-size: $font-size-xs;
        line-height: var(--font-line-height-xs);
        margin-bottom: var(--scale-size-20);
        align-items: center;
        gap: var(--scale-size-8);
    }

    .sw-media-modal-move__breadcrumb-btn {
        display: inline-flex;
        align-items: center;
        gap: var(--scale-size-8);
        background: none;
        border: none;
        outline: none;
        padding: var(--scale-size-4) var(--scale-size-8);
        border-radius: $border-radius-default;
        color: $sw-media-modal-move-breadcrumbs-default-color;
        max-width: 400px;

        @include truncate;

        &:hover {
            background-color: $sw-media-modal-move-breadcrumbs-hover-background-color;
        }

        &.--target {
            color: $sw-media-modal-move-breadcrumbs-target-color;

            .mt-icon {
                color: $sw-media-modal-move-breadcrumbs-right-arrow-color;
            }
        }

        &.--parent {
            .mt-icon {
                color: $sw-media-modal-move-breadcrumbs-right-arrow-color;
            }
        }
    }

    .sw-media-modal-move__folder-icon {
        flex: 0 0 auto;
        width: var(--scale-size-16);
        height: var(--scale-size-16);
    }

    .sw-media-modal-move__breadcrumb-chevron {
        flex: 0 0 auto;
        color: $sw-media-modal-move-breadcrumbs-right-arrow-color;
    }
}
