{% block sw_product_stream_detail %}
    <sw-page class="sw-product-stream-detail">

        {% block sw_product_stream_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="productStream.name">{{ productStream.name }}</h2>
                <h2 v-else class="sw-product-stream-detail__empty-title">{{ placeholder(productStream, 'name', $tc('sw-product-stream.detail.textHeadline')) }}</h2>
            </template>
        {% endblock %}

        {% block sw_product_stream_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_product_stream_detail_actions_abort %}
                    <sw-button :disabled="productStream.isLoading" v-tooltip.bottom="tooltipCancel" @click="onCancel">
                        {{ $tc('sw-product-stream.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_product_stream_detail_actions_save %}
                <sw-button-process
                        class="sw-product-stream-detail__save-action"
                        :isLoading="isSaveLoading"
                        :processSuccess="isSaveSuccessful"
                        :disabled="productStream.isLoading"
                        variant="primary"
                        @process-finish="saveFinish"
                        v-tooltip.bottom="tooltipSave"
                        @click.prevent="onSave">
                    {{ $tc('sw-product-stream.detail.buttonSave') }}
                </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_product_stream_detail_language_switch %}
            <sw-language-switch slot="language-switch"
                                @on-change="onChangeLanguage"
                                :saveChangesFunction="saveOnLanguageChange"
                                :abortChangeFunction="abortOnLanguageChange">
            </sw-language-switch>
        {% endblock %}

        {% block sw_product_stream_detail_content %}
            <sw-card-view slot="content">
                {% block sw_product_stream_detail_content_language_info %}
                    <sw-language-info
                            :entityDescription="placeholder(productStream, 'name', $tc('sw-product-stream.detail.textHeadline'))">
                    </sw-language-info>
                {% endblock %}

                {% block sw_product_stream_detail_basic_info %}
                    <sw-card :large="true" :title="$tc('sw-product-stream.detail.titleCard')">
                        {% block sw_product_basic_form_name_field %}
                            <sw-field type="text"
                                      :label="$tc('sw-product-stream.detail.labelName')"
                                      :validation="nameRequired"
                                      required
                                      :placeholder="placeholder(productStream, 'name', $tc('sw-product-stream.detail.placeholderName'))"
                                      v-model="productStream.name">
                            </sw-field>
                        {% endblock %}

                        {% block sw_product_basic_form_description_field %}
                            <sw-field type="textarea"
                                      :label="$tc('sw-product-stream.detail.labelDescription')"
                                      :placeholder="placeholder(productStream, 'description', $tc('sw-product-stream.detail.placeholderDescription'))"
                                      v-model="productStream.description">
                            </sw-field>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                {% block sw_product_stream_detail_filter %}
                    <sw-card :large="true" class="sw-product-stream-detail__condition_container" :title="$tc('sw-product-stream.detail.titleFilter')">
                        {% block sw_product_stream_detail_filter %}
                            <sw-condition-tree v-if="productStream && !isLoading"
                                               :entity="productStream"
                                               :conditionStore="conditionStore"
                                               :config="treeConfig"
                                               ref="conditionTree">
                            </sw-condition-tree>
                        {% endblock %}

                        {% block sw_product_stream_detail_filter_preview_button %}
                            <sw-button class="sw-product-stream-detail__open_modal_preview" :disabled="productStream.isLoading" @click.prevent="openModalPreview">
                                {{ $tc('sw-product-stream.detail.buttonOpenPreview') }}
                            </sw-button>
                        {% endblock %}
                    </sw-card>
                {% endblock %}

                <sw-product-stream-modal-preview
                        v-if="showModalPreview"
                        :associationStore="filterAssociations"
                        ref="modalPreview"
                        @close="closeModalPreview">
                </sw-product-stream-modal-preview>
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
