{% block sw_plugin_license_list %}
    <div class="sw-plugin-licenses-list">

        {% block sw_plugin_licenses_list_top_actions %}
            <div class="sw-plugin-manager__top-actions">
                 {% block sw_plugin_licenses_list_top_actions_header %}
                    <h1>{{ $tc('sw-plugin.license-list.textMyPurchases') }}</h1>
                 {% endblock %}
            </div>
        {% endblock %}

        {% block sw_plugin_license_list_content %}
            <sw-card :isLoading="isLoading || pageLoading">
                {% block sw_plugin_license_list_grid %}
                    <template #grid>
                        <sw-data-grid v-show="isLoading || total"
                                      :dataSource="licenses"
                                      :columns="licensesColumns"
                                      :showSelection="false"
                                      :showActions="false"
                                      :compactMode="false">

                            <template #column-name=" { item }">
                                {% block sw_plugin_license_list_grid_columns_name_label %}
                                    <sw-plugin-table-entry :iconPath="item.iconPath"
                                                           :title="item.name"
                                                           :subtitle="item.producerName">
                                    </sw-plugin-table-entry>
                                {% endblock %}
                            </template>

                            <template #column-creationDate="{ item }">
                                {% block sw_plugin_license_list_grid_columns_creation_date_label %}
                                    {{ item.creationDate | date }}
                                {% endblock %}
                            </template>

                            <template #column-type="{ item }">
                                {% block sw_plugin_license_list_grid_columns_type_label %}
                                    {{  item.type.name }}
                                {% endblock %}
                            </template>

                            <template #column-expirationDate="{ item }">
                                {% block sw_plugin_license_list_grid_columns_expiration_date_label %}
                                    {{ getExpirationDate(item) | date }}
                                {% endblock %}
                            </template>

                            <template #column-availableVersion="{ item }">
                                {% block sw_plugin_license_list_grid_columns_actions_context %}
                                    <div class="context">
                                        <div>
                                            {% block sw_plugin_license_list_grid_columns_actions_context_download %}
                                                <sw-button v-if="!item.installed && item.availableVersion"
                                                           variant="ghost"
                                                           size="small"
                                                           @click="downloadPlugin(item.technicalPluginName)">
                                                    {{ $tc('sw-plugin.general.downloadButton') }}
                                                </sw-button>
                                            {% endblock %}

                                            {% block sw_plugin_license_list_grid_columns_actions_context_update %}
                                                <sw-button v-if="item.installed && item.updateAvailable"
                                                           variant="ghost"
                                                           size="small"
                                                           @click="downloadPlugin(item.technicalPluginName, true)">
                                                    {{ $tc('sw-plugin.updates.updateButton') }}
                                                </sw-button>
                                            {% endblock %}
                                        </div>
                                        {% block sw_plugin_license_list_grid_columns_actions_context_version %}
                                            <span v-if="item.availableVersion" class="version">
                                                {{ $tc('sw-plugin.general.version') }} {{ item.availableVersion }}
                                            </span>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </template>
                        </sw-data-grid>
                    </template>
                {% endblock %}

                {% block sw_plugin_license_list_card_empty_state %}
                    <template v-if="!isLoading">
                        <sw-empty-state v-if="!isLoggedIn"
                                        :title="$tc('sw-plugin.license-list.messageNotLoggedIn')">
                            <sw-button variant="primary" size="small" @click="openLoginModal()">
                                {{ $tc('sw-plugin.license-list.labelAccountLogin') }}
                            </sw-button>
                        </sw-empty-state>
                        <sw-empty-state v-if="isLoggedIn && !total"
                                        :title="$tc('sw-plugin.license-list.messageEmpty')">
                        </sw-empty-state>
                    </template>
                {% endblock %}

                {% block sw_plugin_license_list_card_login_modal %}
                    <sw-plugin-store-login v-if="showLoginModal" @close-modal="closeLoginModal"></sw-plugin-store-login>
                {% endblock %}
            </sw-card>
        {% endblock %}
    </div>
{% endblock %}
