@import "~scss/variables";

.sw-extension-store-landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .sw-extension-store-landing-page__wrapper {
        display: flex;
        justify-content: center;
        background-color: white;
        text-align: center;
        padding: 44px;
        width: 960px;
        max-width: 100%;
        height: 500px;
        max-height: 100%;

        .sw-loader {
            position: relative;
            height: unset;
            width: unset;
            margin: 0 0 24px;
        }
    }

    .sw-extension-store-landing-page__wrapper-content {
        max-width: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: $font-size-m;
        }

        p {
            padding-bottom: 24px;
        }
    }

    .sw-extension-store-landing-page__wrapper-label {
        color: $color-emerald-500;
        background-color: $color-emerald-50;
        border-radius: $border-radius-default;
        font-size: $font-size-xs;
        padding: 3px 5px;
        margin-bottom: 12px;
    }

    img {
        margin-bottom: 24px;
    }

    .sw-extension-store-landing-page__wrapper-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sw-extension-store-landing-page__wrapper-activated {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sw-label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 72px;
            height: 72px;
            margin-bottom: 24px;
        }

        h2 {
            margin-bottom: 12px;
        }

        .sw-button {
            margin-top: 24px;
        }
    }
}
