.sw-order-create-general-info__summary {
    display: flex;
    flex-direction: column;

    &-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-header {
            flex-grow: 1;
        }

        &-header,
        &-total {
            font-size: var(--font-size-s);
            font-weight: var(--font-weight-semibold);
            line-height: var(--font-line-height-s);
        }

        &-total {
            flex-shrink: 0;
        }
    }

    &-sub {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-description {
            flex-grow: 1;
        }

        &-description,
        &-last-changed {
            font-size: var(--font-size-xs);
            line-height: var(--font-line-height-xs);
        }

        &-last-changed {
            flex-shrink: 0;
            color: var(--color-text-secondary-default);

            &-user,
            &-time {
                display: inline;
            }
        }
    }
}

.sw-order-create-general-info__order {
    &-states {
        display: flex;
        justify-content: space-between;
        gap: var(--scale-size-24);
        margin-top: var(--scale-size-24);

        .sw-order-create-general-info__order-state {
            flex-grow: 1;
            flex-basis: 30%;
        }
    }

    &-tags {
        margin-top: var(--scale-size-24);
    }
}
