<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_create_general_info %}
<div>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_general_info_summary %}
    <div class="sw-order-create-general-info__summary">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_general_info_summary_main %}
        <div class="sw-order-create-general-info__summary-main">
            <div class="sw-order-create-general-info__summary-main-header">
                {{ summaryMainHeader }}
            </div>
            <div class="sw-order-create-general-info__summary-main-total">
                {{ currencyFilter(cart.price.totalPrice, context.currency.isoCode, context.currency.totalRounding.decimals) }}
            </div>
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_general_info_summary_sub %}
        <div class="sw-order-create-general-info__summary-sub">
            <div class="sw-order-create-general-info__summary-sub-description">
                {{ $tc('sw-order.generalTab.info.summary.with') }}
                {{ context.shippingMethod.translated.name }}
                {{ $tc('sw-order.generalTab.info.summary.and') }}
                {{ context.paymentMethod.translated.distinguishableName }}
            </div>
        </div>
        {% endblock %}

    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_general_info_order_states %}
    <div class="sw-order-create-general-info__order-states">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_general_info_order_state_payment %}
        <div class="sw-order-create-general-info__order-state">
            <sw-order-state-select-v2
                class="sw-order-create-general-info__order-state-payment"
                state-type="order_transaction"
                rounded-style
                :placeholder="$tc('sw-order.stateCard.draftPlaceholder')"
                :label="$tc('sw-order.stateCard.headlineTransactionState')"
                disabled
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_general_info_order_state_delivery %}
        <div class="sw-order-create-general-info__order-state">
            <sw-order-state-select-v2
                class="sw-order-create-general-info__order-state-delivery"
                state-type="order_delivery"
                rounded-style
                :placeholder="$tc('sw-order.stateCard.draftPlaceholder')"
                :label="$tc('sw-order.stateCard.headlineDeliveryState')"
                disabled
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_order_create_general_info_order_state_order %}
        <div class="sw-order-create-general-info__order-state">
            <sw-order-state-select-v2
                class="sw-order-create-general-info__order-state-order"
                rounded-style
                state-type="order"
                :placeholder="$tc('sw-order.stateCard.draftPlaceholder')"
                :label="$tc('sw-order.stateCard.headlineOrderState')"
                disabled
            />
        </div>
        {% endblock %}

    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_create_general_info_order_tags %}
    <sw-entity-tag-select
        class="sw-order-create-general-info__order-tags"
        size="small"
        :entity-collection="[]"
        disabled
        :placeholder="$tc('sw-order.generalTab.tagSelect.placeholder')"
        always-show-placeholder
    />
    {% endblock %}

</div>
{% endblock %}
