{% block sw_users_permissions_role_detail %}
    <sw-page class="sw-users-permissions-role-detail">

        {% block sw_users_permissions_role_detail_smart_bar_header %}
            <template #smart-bar-header>
                {% block sw_users_permissions_role_detail_smart_bar_header_title %}
                    <h2 v-if="role">{{ role.name }}</h2>
                    <h2 v-else>{{ $tc('sw-users-permissions.roles.detail.role') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_users_permissions_role_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block sw_users_permissions_role_detail_smart_bar_actions_button_cancel %}
                    <sw-button v-tooltip.bottom="tooltipCancel"
                               @click="onCancel">
                        {{ $tc('global.default.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_users_permissions_role_detail_smart_bar_actions_button_save %}
                    <sw-button-process
                        class="sw-users-permissions-role-detail__button-save"
                        :isLoading="isLoading"
                        :processSuccess="isSaveSuccessful"
                        :disabled="isLoading"
                        variant="primary"
                        @process-finish="saveFinish"
                        v-tooltip.bottom="tooltipSave"
                        @click.prevent="onSave">
                        {{ $tc('global.default.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_users_permissions_role_detail_content %}
            <template #content>
                {% block sw_users_permissions_role_detail_content_card_view %}
                    <sw-card-view v-if="!isLoading">
                        {% block sw_users_permissions_role_detail_content_card_view_basic_information %}
                            <sw-card :title="$tc('sw-users-permissions.roles.detail.basicInformation')">
                                {% block sw_users_permissions_role_detail_content_card_view_basic_information_name %}
                                    <sw-field
                                        type="text"
                                        v-model="role.name"
                                        :error="roleNameError"
                                        :label="$tc('sw-users-permissions.roles.detail.labelName')"
                                        required>
                                    </sw-field>
                                {% endblock %}

                                {% block sw_users_permissions_role_detail_content_card_view_basic_information_description %}
                                    <sw-field
                                        type="textarea"
                                        v-model="role.description"
                                        :error="roleDescriptionError"
                                        :label="$tc('sw-users-permissions.roles.detail.labelDescription')">
                                    </sw-field>
                                {% endblock %}
                            </sw-card>
                        {% endblock %}

                        {% block sw_users_permissions_role_detail_content_card_view_permissions %}
                            <sw-users-permissions-permissions-grid :role="role" />
                        {% endblock %}

                        {% block sw_users_permissions_role_detail_content_card_view_additional_permissions %}
                            <sw-users-permissions-additional-permissions :role="role" />
                        {% endblock %}
                    </sw-card-view>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
