{% sw_extends '@Storefront/frontend/index/index.html.twig' %}

{% block frontend_index_content %}
    <div class="detail-error content listing--content">
        <h1 class="detail-error--headline">{% trans from 'frontend/detail/error' %}DetailRelatedHeader{% endtrans %}</h1>
    </div>
{% endblock %}