@import "~scss/variables";

.sw-first-run-wizard-plugins {
    height: 100%;
    position: relative;

    .recommended-plugins__headline {
        font-size: $font-size-m;
        font-weight: $font-weight-semi-bold;
        line-height: 25px;
        margin-top: 20px;

        &.is--capitalized {
            text-transform: capitalize;
        }
    }

    .recommended-plugins__description {
        margin-bottom: 25px;
    }

    .select-region,
    .select-category {
        p {
            line-height: 22px;
            margin: 10px 0;
        }
    }

    .sw-label-region,
    .sw-label-category {
        &.sw-label {
            text-align: center;
            font-weight: $font-weight-semi-bold;

            &:hover {
                cursor: pointer;
            }
        }

        &.sw-label--neutral {
            color: $color-gray-500;
            border-color: $color-gray-500;
        }

        &.sw-label--info {
            border-color: $color-shopware-brand-500;
        }
    }

    .spacer {
        border: none;
        height: 1px;
        background-color: $color-gray-300;
        margin: 20px 0;
    }

    .plugins-category-lead {
        .sw-plugin-card {
            margin-bottom: 24px;
        }
    }

    .plugins-not-category-lead {
        .sw-plugin-card__icon {
            width: 96px;
            height: 96px;
        }

        .bottom {
            display: flex;
            flex: 1;
            align-items: flex-end;
        }
    }

    .plugins-category-lead,
    .plugins-not-category-lead {
        margin: 20px 0;
    }
}
