@import "~scss/variables";

.sw-import-export-new-profile-wizard {
    &__violation-modal {
        ul {
            margin-left: 31px;
            margin-top: 18px;
        }
    }

    &__footer-right-button-group {
        display: grid;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        grid-column-gap: 8px;
        justify-content: end;
        align-items: center;
    }
}
