{% block sw_sidebar_media_item %}
    <sw-sidebar-item
        class="sw-sidebar-media-item"
        icon="default-object-image"
        :title="$tc('global.sw-sidebar-media-item.title')"
        :disabled="disabled"
        ref="sidebarItem"
        v-on="additionalEventListeners">

        {% block sw_sidebar_media_item_content %}
            <div class="sw-sidebar-media-item__content">
                {% block sw_sidebar_media_item_search_field %}
                    <sw-simple-search-field v-model="term"></sw-simple-search-field>
                {% endblock %}

                {% block sw_sidebar_media_item_folder_navigation%}
                    <sw-media-breadcrumbs v-model="mediaFolderId" v-if="!term.length" small></sw-media-breadcrumbs>
                {% endblock %}

                {% block sw_sidebar_media_item_media_item_list %}
                    {% block sw_sidebar_media_item_media_item_list_folder_item %}
                        <sw-media-folder-item
                            v-if="!term.length"
                            v-for="folder in subFolders"
                            :key="folder.id"
                            :item="folder"
                            :showSelectionIndicator="false"
                            :showContextMenuButton="true"
                            :selected="false"
                            :isList="true"
                            @media-item-click="onNavigateToFolder(folder.id)"
                            @media-folder-delete="handleFolderGridItemDelete">
                        </sw-media-folder-item>
                    {% endblock %}

                    {% block sw_sidebar_media_item_media_item_list_media_item%}
                        <sw-media-media-item
                            v-for="mediaItem in mediaItems"
                            :key="mediaItem.id"
                            :item="mediaItem"
                            :showSelectionIndicator="false"
                            :showContextMenuButton="true"
                            :selected="false"
                            :isList="true"
                            v-draggable="{ dragGroup: 'media', data: { mediaItem } }"
                            @media-item-delete="handleMediaGridItemDelete">

                            {% block sw_sidebar_media_item_context_items %}
                                <slot name="context-menu-items" :mediaItem="mediaItem"></slot>
                            {% endblock %}
                        </sw-media-media-item>
                    {% endblock %}

                    {% block sw_sidebar_media_item_load_more_button %}
                        <sw-button
                            size="small"
                            block
                            v-if="showMore"
                            @click="onLoadMore"
                            class="sw-sidebar-media-item__load-more-button">

                            {{ $tc('global.sw-sidebar-media-item.labelLoadMore') }}
                        </sw-button>
                    {% endblock %}
                {% endblock %}

                {% block sw_sidebar_media_item_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}
            </div>
        {% endblock %}
    </sw-sidebar-item>
{% endblock %}
