.sw-sidebar-media-item {
    .sw-sidebar-media-item__content {
        margin: 0 25px;
    }

    .sw-sidebar-media-item__load-more-button {
        margin-bottom: 10px;
    }

    .mt-search {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    .sw-media-breadcrumbs {
        margin-bottom: 24px;
    }
}
