<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_button_group %}
<span
    class="sw-button-group"
    :class="buttonGroupClasses"
>
    <slot>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_button_group_slot_default %}{% endblock %}
    </slot>
</span>
{% endblock %}
