{% block sw_cms_el_config_product_listing_config_filter_properties_grid %}
<div
    class="sw-cms-el-config-product-listing-config-filter-properties-grid"
    :class="componentClasses"
>

    {% block sw_cms_el_config_product_listing_config_filter_properties_grid_grid %}
    <sw-data-grid
        class="sw-cms-el-config-product-listing-config-filter-properties-grid__grid"
        :data-source="visibleProperties"
        :columns="gridColumns"
        :compact-mode="true"
        :allow-inline-edit="false"
        :show-actions="false"
        :show-selection="false"
        plain-appearance
    >

        <template #column-status="{ item, column }">
            {% block sw_cms_el_config_product_listing_config_filter_properties_grid_column_status %}
            <sw-switch-field
                class="sw-cms-el-config-product-listing-config-filter-properties-grid__switch"
                :disabled="column.disabled"
                :value="item.active"
                @change="onChangePropertyStatus(item)"
            />
            {% endblock %}
        </template>

        <template #pagination>
            {% block sw_cms_el_config_product_listing_config_filter_properties_grid_pagination %}
            <sw-pagination
                v-if="!disabled"
                :page="page"
                :limit="limit"
                :total="total"
                :auto-hide="false"
                :steps="[]"
                @page-change="onPageChange"
            />
            {% endblock %}
        </template>
    </sw-data-grid>
    {% endblock %}
</div>
{% endblock %}
