{% sw_extends '@Storefront/base.html.twig' %}

{% block base_content %}
    <div class="account-password-reset">
        {% sw_include '@Storefront/layout/_utilities/alert.html.twig' with {
            type: "success",
            content: 'account.optInSuccessAlert'|trans
        } %}
        <a href="{{ path('frontend.account.password.page') }}" class="btn btn-dark">
            <i class="fas fa-chevron-left"></i> {{ 'general.backButton'|trans }}
        </a>
    </div>
{% endblock %}
