{% sw_extends '@Storefront/base.html.twig' %}

{% block base_content %}
    <div class="account-password">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Passwort vergessen?</h2>
                <form action="{{ path('frontend.account.password.page') }}"
                      method="post">
                    <div class="form-group">
                        <input type="email"
                               placeholder="Ihre E-Mail-Adresse"
                               required="required"
                               class="form-control">
                    </div>
                    <p>
                        Wir senden Ihnen eine Bestätigungs-E-Mail. Klicken Sie auf den darin enthaltenen Link, um Ihr Passwort zu ändern.
                    </p>
                    <div class="form-group">
                        <a href="{{ path('frontend.account.login.page') }}" class="btn btn-dark">
                            <i class="fas fa-chevron-left"></i> Zurück
                        </a>
                        <button class="btn btn-primary">
                            E-Mail senden <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}