{% sw_extends '@Storefront/base.html.twig' %}

{% block base_content %}
    <div class="account-password">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Ein neues Passwort definieren</h2>
                <form action="{{ path('frontend.account.password.reset.page', {'hash': 'asdfasdf'}) }}"
                      method="post">
                    <div class="form-group">
                        <input type="password"
                               placeholder="Neues Passwort*"
                               required="required"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password"
                               placeholder="Passwort-Wiederholung*"
                               required="required"
                               class="form-control">
                    </div>
                    <p>
                        {{ "account.passwordResetInfo"|trans }}
                    </p>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Passwort ändern <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
