<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_sidebar_filter %}
<div
    class="sw-cms-element-sidebar-filter"
    :class="componentClasses"
>
    <span class="sw-cms-element-sidebar-filter__element">
        <sw-icon
            name="regular-chevron-down-s"
            color="#C2CCD6"
            size="12px"
        />
    </span>
    <span class="sw-cms-element-sidebar-filter__element">
        <sw-icon
            name="regular-chevron-down-s"
            color="#C2CCD6"
            size="12px"
        />
    </span>
    <span class="sw-cms-element-sidebar-filter__element">
        <sw-icon
            name="regular-chevron-down-s"
            color="#C2CCD6"
            size="12px"
        />
    </span>
    <span class="sw-cms-element-sidebar-filter__element">
        <sw-icon
            name="regular-chevron-down-s"
            color="#C2CCD6"
            size="12px"
        />
    </span>
    <span class="sw-cms-element-sidebar-filter__element">
        <sw-icon
            name="regular-chevron-down-s"
            color="#C2CCD6"
            size="12px"
        />
    </span>
</div>
{% endblock %}
