<html>
    <head>
        <title>API-Debug</title>
        <style type="text/css">
            body {background: #18171B}
        </style>
    </head>

    <body>
        {{ dump(data) }}
    </body>

</html>
