{% sw_extends 'frontend/address/form.html.twig' %}

{# Error messages #}
{% block frontend_address_error_messages %}
    <div class="address-editor--errors is--hidden">
        {#{include file="frontend/_includes/messages.tpl" type="error" content="{s namespace="frontend/account/internalMessages" name="ErrorFillIn"}{/s}"}#}
    </div>
{% endblock %}

{% block frontend_address_action_buttons %}

    <div class="panel--actions address--form-actions is--wide">
        {% if formData.id %}
            {% block frontend_address_action_button_send %}
                <button class="btn is--primary address--form-submit"
                        data-value="update"
                        data-checkFormIsValid="false"
                        data-preloader-button="true">
                    {% trans from 'frontend/address/index' %}AddressesActionButtonSend{% endtrans %}
                </button>
            {% endblock %}
        {% endif %}

        {% block frontend_address_action_button_save_as_new %}
            <button class="btn is--primary address--form-submit"
                    data-value="create"
                    data-checkFormIsValid="false"
                    data-preloader-button="true">
                {% trans from 'frontend/address/index' %}AddressesActionButtonCreate{% endtrans %}
            </button>
        {% endblock %}

        {% block frontend_address_action_button_save_action %}
            <input type="hidden" name="saveAction" value="update" />
        {% endblock %}
    </div>

{% endblock %}

{% block frontend_address_form_input_set_default_shipping %}{% endblock %}
{% block frontend_address_form_input_set_default_billing %}{% endblock %}