.sw-extension-permissions-modal {
    .sw-modal__body {
        padding: var(--scale-size-36) 0 0;
    }

    .sw-extension-permissions-modal__intro {
        text-align: center;
        font-size: var(--font-size-xs);
        margin-bottom: var(--scale-size-24);
        padding: 0 var(--scale-size-24);

        img {
            margin-bottom: var(--scale-size-24);
        }
    }

    &__domain-hint {
        margin-top: var(--scale-size-24);
    }
}

.sw-extension-permissions-modal__categories {
    .sw-extension-permissions-modal__category {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: var(--scale-size-24) var(--scale-size-32);

        &:not(:last-child) {
            border-bottom: 1px solid var(--color-border-primary-default);
        }

        .sw-extension-permissions-modal__category-label {
            font-weight: var(--font-weight-semibold);
        }

        .sw-extension-permissions-modal__detail-link {
            justify-self: end;
            font-size: var(--font-size-2xs);
        }
    }
}
