@import "~scss/variables";

.sw-extension-permissions-modal {
    .sw-modal__body {
        padding: 36px 0 0;
    }

    .sw-extension-permissions-modal__intro {
        text-align: center;
        font-size: $font-size-xs;
        margin-bottom: 24px;
        padding: 0 24px;

        img {
            margin-bottom: 28px;
        }
    }

    &__domain-hint {
        margin-top: 22px;
    }
}

.sw-extension-permissions-modal__categories {
    .sw-extension-permissions-modal__category {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 22px 32px;

        &:not(:last-child) {
            border-bottom: 1px solid $color-gray-300;
        }

        .sw-extension-permissions-modal__category-label {
            font-weight: $font-weight-semi-bold;
        }

        .sw-extension-permissions-modal__link {
            border: none;
            outline: none;
            background: none;
            color: $color-shopware-brand-500;
            justify-self: end;
            text-decoration: underline;
            font-weight: $font-weight-regular;
            line-height: inherit;
            padding: 0;

            &:hover {
                color: $color-shopware-brand-800;
                background: none;

                .sw-icon {
                    color: $color-shopware-brand-800;
                }
            }

            .sw-icon {
                color: $color-shopware-brand-500;
            }
        }
    }
}
