{% block sw_media_upload_url_modal %}
    <sw-modal
        class="sw-media-upload-url-modal"
        variant="small"
        :title="$tc('global.sw-media-upload-url-modal.title')"
        v-on="$listeners">

        {% block sw_media_upload_url_modal_dialog %}
            {% block sw_media_upload_url_modal_input %}
                <sw-field label="URL"
                          :class="fieldClass"
                          v-model="url"
                          @input="validateUrl"
                          @change="checkFileExtension"
                          :placeholder="$tc('global.sw-media-upload-url-modal.example')">
                </sw-field>
                <sw-field v-if="missingFileExtension"
                          :label="$tc('global.sw-media-upload-url-modal.labelFileExtension')"
                          :class="fieldClass"
                          v-model="fileExtension"
                          validation="required"
                          placeholder="jpg">
                </sw-field>
            {% endblock %}
            <sw-alert v-if="hasError" variant="info">
                {{ $tc('global.sw-media-upload-url-modal.invalidUrl') }}
            </sw-alert>
            <sw-alert v-if="missingFileExtension && fileExtension === ''" variant="info">
                <p v-html="$tc('global.sw-media-upload-url-modal.missingFileExtension')">
                </p>
            </sw-alert>
        {% endblock %}

        {% block sw_media_upload_url_modal_footer %}
            <template slot="modal-footer">
                {% block sw_media_upload_url_modal_cancel_button %}
                    <sw-button size="small" @click="closeModal">
                        {{ $tc('global.sw-media-upload-url-modal.cancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_media_upload_url_modal_submit_button %}
                    <sw-button
                        variant="primary"
                        size="small"
                        @click.prevent="emitUrl">

                        {{ $tc('global.sw-media-upload-url-modal.upload') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}