<div class="sw-product-detail-variants">
    <sw-card class="sw-card__configurator" :title="$tc('sw-product.variant.configuratorCardTitle')">
        <sw-product-variants-configurator-selection
                :product="product"
                :options="configuratorStore"
                :overlay="false"
                :collapsible="false"
                @variationsGenerated="updateVariations">
        </sw-product-variants-configurator-selection>
    </sw-card>

    <sw-card class="sw-card__generated-variants" :title="$tc('sw-product.variant.generatedVariantsCardTitle')">

        <sw-product-variants-generated-variants
                :product="product"
                ref="generatedVariants">
        </sw-product-variants-generated-variants>

    </sw-card>
</div>