.sw-product-detail-variants {
  .sw-card__configurator .sw-card__content {
    padding: 0;
    background: #f8f9fa;
  }

  .sw-property-search .sw-property-search__toolbar {
    grid-template-columns: 1fr 1fr;
    padding: 30px 30px 0 30px;
  }

  .generate-variant-button-container {
    display: flex;

    .sw-button {
      margin-left: auto;
    }
  }
}