<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_preview_sidebar_filter %}
<div class="sw-cms-block-preview-sidebar-filter">
    <div class="sw-cms-block-preview-sidebar-filter__wrapper">
        <h2>Filter</h2>
        <span class="sw-cms-block-preview-sidebar-filter__element">
            <sw-icon
                name="regular-chevron-down-s"
                color="#C2CCD6"
                size="8px"
            />
        </span>
        <span class="sw-cms-block-preview-sidebar-filter__element">
            <sw-icon
                name="regular-chevron-down-s"
                color="#C2CCD6"
                size="8px"
            />
        </span>
        <span class="sw-cms-block-preview-sidebar-filter__element">
            <sw-icon
                name="regular-chevron-down-s"
                color="#C2CCD6"
                size="8px"
            />
        </span>
    </div>
</div>
{% endblock %}
