.sw-settings-search-searchable-content {
    &.mt-card .mt-card__content {
        padding: 0;
    }

    .sw-settings-search__searchable-content-title {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        padding: 0 var(--scale-size-24);
        margin: var(--scale-size-24) 0 var(--scale-size-18);
    }

    .sw-settings-search__searchable-content-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--scale-size-24);
        margin-bottom: var(--scale-size-24);
        gap: var(--scale-size-12);
    }

    .sw-settings-search__searchable-content-button-group {
        display: flex;
        gap: var(--scale-size-12);
    }

    .sw-settings-search__searchable-content-tabs {
        margin: 0 !important;

        .sw-tabs__custom-content {
            padding: 0 !important;
        }
    }
}
