.sidebar--filter-container {
    padding: 15px;
    .sw-field--switch {
        margin: 0;
    }

    .sw-field {
        margin-bottom: 16px;
    }

    .sw-selected-options {
        color: rgb(179, 191, 204);
    }
}
