/*
Button
==============================================
Custom skin styling for bootstrap button component.

https://getbootstrap.com/docs/5.2/components/buttons
*/

.btn {
    --#{$prefix}btn-disabled-color: #{$btn-link-disabled-color};
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// custom add to cart button, used e.g. in product-box and product detail buybox
.btn-buy {
    @extend .btn-lg;
    @include button-variant($buy-btn-bg, $buy-btn-bg, $buy-btn-color);

    &.disabled,
    &:disabled {
        opacity: 1;
        background: $disabled-btn-bg;
        border-color: $disabled-btn-border-color;
        color: $gray-300;
    }
}

.btn-link {
    --#{$prefix}btn-font-weight: #{$font-weight-semibold};
}
