/*
Button
==============================================
Custom skin styling for bootstrap button component.

https://getbootstrap.com/docs/4.3/components/buttons/
*/

.btn {
    font-weight: $font-weight-semibold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// custom add to cart button, used e.g. in product-box and product detail buybox
.btn-buy {
    @extend .btn-lg;
    @include button-variant($buy-btn-bg, $buy-btn-bg);
    color: $buy-btn-color;
}

.btn,
.btn-buy {
    &.disabled,
    &:disabled {
        opacity: 1;
        background: $disabled-btn-bg;
        border-color: $disabled-btn-border-color;
        color: $gray-300;
    }
}

.btn-link {
    &.disabled,
    &:disabled {
        border: 0 none;
        background: transparent;
    }
}
