/*
CMS elements
==============================================
Skin styling for cms elements
*/

.cms-element-product-listing {
    .cms-listing-row {
        margin-right: -$cms-element-product-listing-gutter-width / 2;
        margin-left: -$cms-element-product-listing-gutter-width / 2;
    }

    .cms-listing-col {
        padding-right: $cms-element-product-listing-gutter-width / 2;
        padding-left: $cms-element-product-listing-gutter-width / 2;
    }

    .cms-listing-col {
        margin-bottom: $cms-element-product-listing-gutter-width;
    }
}
