/*
CMS elements
==============================================
Skin styling for cms elements
*/

.cms-element-product-listing {
    .cms-listing-row {
        --#{$prefix}gutter-x: #{$cms-element-product-listing-gutter-width};
        --#{$prefix}gutter-y: #{$cms-element-product-listing-gutter-width};
        margin-bottom: $spacer-lg;
    }
}

.cms-element-text {
    blockquote {
        font-size: $font-size-lg;
        font-style: italic;
        line-height: 24px;
        margin-top: 16px;
        margin-left: 20px;
        position: relative;

        &::before {
            content: '"';
            font-size: 40px;
            line-height: 16px;
            color: $cms-element-text-quotes-color;
            position: absolute;
            top: 10px;
            left: -24px;
        }
    }
}
