/*
Product box
==============================================
Styling for productbox component.
*/

.product-box {
    --#{$prefix}card-bg: var(--bs-body-bg);
    border-color: $border-color;

    .card-body {
        --#{$prefix}card-spacer-y: #{$spacer};
        --#{$prefix}card-spacer-x: #{$spacer};
    }
}

.product-name {
    font-weight: $font-weight-semibold;
}

.product-price {
    color: $price-color;
}
