.quickview-minimal-product-name {
    color: $headings-color;

    &:hover {
        text-decoration: none;
    }
}

.quickview-minimal-product-number {
    font-size: if(feature('EXPERIENCE_THEME'), var(--sw-font-size-sm), $font-size-sm);
}

.quickview-minimal-footer-heading {
    border-bottom: 1px solid if(feature('EXPERIENCE_THEME'), var(--sw-border-color), $border-color);
}
