/*
Tab Menu
==============================================
Custom skin styling for bootstrap card with included tab navigation.

https://getbootstrap.com/docs/5.2/components/card/#navigation
*/

.card-tabs {
    border: 0;

    .card-header {
        background: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-item {
        margin-right: 10px;
    }

    .nav-link {
        border: 0;
        border-bottom: 2px solid $border-color;
        border-radius: 0;
        color: $body-color;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 5px;

        &:hover {
            border-color: $primary;
            color: $primary;
        }

        &.active {
            border-color: $primary;
            color: $body-color;
        }

        &.active,
        &:hover {
            background-image: none;
        }

        &:hover {
            background-color: darken($body-bg, 20%);
        }

        .product-cross-selling-tab-navigation {
            padding: 0;
        }
    }

    .card-body {
        padding-top: 30px;
    }
}
