.sw-user-card {
    .sw-user-card__metadata-user-name {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-m);
        margin-bottom: 8px;
    }

    .sw-user-card__metadata-item {
        margin-bottom: 8px;
        font-size: var(--font-size-xs);
    }

    .sw-user-card__actions {
        padding-top: 10px;

        .mt-button {
            margin-right: 6px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
