@import "~scss/variables";

$sw-attribute-list-color-label-link: $color-shopware-blue;
$sw-attribute-list-color-toolbar-background: $color-light-gray;
$sw-attribute-list-color-toolbar-bottom: $color-steam-cloud;
$sw-attribute-list-color-border: $color-crimson;
$sw-attribute-list-color-label-link: $color-shopware-blue;

.sw-attribute-list {
	height: 865px;

	.sw-empty-state {
		position: static
	}

	.media-column .sw-grid__cell-content {
		padding: 0;
	}

	&.sw-card .sw-card__content {
		padding: 0;
	}

	.sw-attribute-list__toolbar {
		padding: 25px 35px;
		background-color: $sw-attribute-list-color-toolbar-background;
		border-bottom: 1px solid $sw-attribute-list-color-toolbar-bottom;

		.sw-attribute-list__delete-button.sw-button--square {
			border-color: $sw-attribute-list-color-border;

			.sw-icon {
				color: $sw-attribute-list-color-border;
			}
			&.sw-button--disabled {
				opacity: 0.2;
			}
		}

		.sw-simple-search-field .sw-simple-search-field__input {
			margin-bottom: 0;

			input {
				height: 32px;
				padding: 0 20px 0 56px;
			}
		}
	}

	.sw-attribute-list__attribute-label {
		cursor: pointer;
		&:hover {
			color: $sw-attribute-list-color-label-link;
			text-decoration: underline;
		}
	}

	.sw-simple-search-field {
		margin: unset;
	}
}
