<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_ai_copilot_warning %}
    <div class="sw-ai-copilot-warning">
        <sw-icon
            name="solid-exclamation-triangle"
            size="14px"
        />
        {{ warningText }}
    </div>
{% endblock %}
