.sw-media-quickinfo-multiple {
    .sw-media-sidebar__quickaction--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .sw-media-quickinfo-multiple__summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin: 0 0 20px;
    }

    .sw-media-media-item > * {
        grid-row: 1 / span 2;
    }
}

.sw-media-quickinfo-multiple .sw-media-quickinfo-multiple__second-headline {
    display: block;
    margin: 0;
    color: var(--color-text-primary-default);
}
