{% block sw_media_quickinfo_multiple %}
    <div class="sw-media-quickinfo-multiple">
        {% block sw_media_quickinfo_multiple_quickactions %}
            <sw-media-collapse
                v-if="editable"
                :title="$tc('sw-media.sidebar.sections.actions')"
                :expandOnLoading="true">

                {% block sw_media_quickinfo_multiple_quickactions_content %}
                    <template slot="content">
                        <ul class="sw-media-sidebar__quickactions-list">
                            {% block sw_media_quickinfo_multiple_quickactions_move %}
                                <li class="quickaction--move"
                                    :class="quickActionClasses(!acl.can('media.editor'))"
                                    @click="openModalMove">

                                    <sw-icon small name="default-action-move-file" class="sw-media-sidebar__quickactions-icon"></sw-icon>
                                    {{ $tc('sw-media.sidebar.actions.move') }}
                                </li>
                            {% endblock %}

                            {% block sw_media_quickinfo_multiple_quickactions_delete %}
                                <li class="is--danger"
                                    :class="quickActionClasses(!acl.can('media.deleter'))"
                                    v-if="!isPrivate"
                                    @click="openModalDelete">

                                    <sw-icon small name="default-action-trash" class="sw-media-sidebar__quickactions-icon is--danger"></sw-icon>
                                    {{ $tc('sw-media.sidebar.actions.delete') }}
                                </li>
                            {% endblock %}

                            {% block sw_media_quickinfo_folder_quickactions_dissolve %}
                                <li v-if="!hasMedia"
                                    class="quickaction--dissolve"
                                    :class="quickActionClasses(!acl.can('media.editor'))"
                                    @click="openFolderDissolve">

                                    <sw-icon small name="default-web-loading-star" class="sw-media-sidebar__quickactions-icon"></sw-icon>
                                    {{ $tc('sw-media.sidebar.actions.dissolve') }}
                                </li>
                            {% endblock %}
                        </ul>
                    </template>
                {% endblock %}
            </sw-media-collapse>
        {% endblock %}

        {% block sw_media_quickinfo_multiple_file_names %}
            <sw-media-collapse
                :expandOnLoading="true"
                :title="$tc('sw-media.sidebar.sections.selectedFiles')">

                {% block sw_media_quickinfo_multiple_file_names_content %}
                    <template slot="content">
                        <label class="sw-media-quickinfo-multiple__second-headline">{{ getFileSizeLabel }}</label>
                        <sw-media-entity-mapper
                            v-for="mediaItem in items"
                            :key="mediaItem.id"
                            :item="mediaItem"
                            :selected="true"
                            :isList="true"
                            :showContextMenuButton="false"
                            :showSelectionIndicator="true"
                            @media-item-selection-remove="onRemoveItemFromSelection">
                        </sw-media-entity-mapper>
                    </template>
                {% endblock %}
            </sw-media-collapse>
        {% endblock %}

        {% block sw_media_sidebar_modal_delete %}
            <sw-media-modal-delete
                v-if="showModalDelete"
                :itemsToDelete="items"
                @media-delete-modal-close="closeModalDelete"
                @media-delete-modal-items-delete="deleteSelectedItems">
            </sw-media-modal-delete>
        {% endblock %}

        {% block sw_media_sidebar_folder_dissolve_modal %}
            <sw-media-modal-folder-dissolve
                v-if="!hasMedia && showFolderDissolve"
                :itemsToDissolve="items"
                @media-folder-dissolve-modal-dissolve="onFolderDissolved"
                @media-folder-dissolve-modal-close="closeFolderDissolve">
            </sw-media-modal-folder-dissolve>
        {% endblock %}

        {% block sw_media_sidebar_folder_move_modal %}
            <sw-media-modal-move
                v-if="showModalMove"
                :itemsToMove="items"
                @media-move-modal-close="closeModalMove"
                @media-move-modal-items-move="onFolderMoved">
            </sw-media-modal-move>
        {% endblock %}
    </div>
{% endblock %}

