{% block sw_context_menu %}
<div class="sw-context-menu">
    {% block sw_context_menu_content %}
    <div class="sw-context-menu__content">
        <slot>{% block sw_context_menu_slot_default %}{% endblock %}</slot>
    </div>
    {% endblock %}
</div>
{% endblock %}
