.sw-sales-channel-products-assignment-dynamic-product-groups {
    .sw-card {
        margin: 0;
    }

    .sw-card .sw-card__content {
        padding: 0;
    }

    .sw-data-grid__wrapper {
        max-height: 350px;
    }
}
