<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_el_location_renderer %}
    <div class="sw-cms-el-location-renderer">
        <sw-iframe-renderer
            :src="src"
            :location-id="elementLocation"
        />
    </div>
{% endblock %}
