<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_product_description_reviews %}
<div class="sw-cms-block-product-description-reviews">
    <slot name="content">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_product_description_reviews_slot_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
