.sw-cms-el-preview-text {
    h1, h2, h3, h4, h5, h6 {
        font-size: 22px;
        line-height: 26px;
        margin: 0 0 20px 0;
    }

    p {
        font-size: 14px;
        line-height: 16px;
    }
}

