{% block sw_settings_sitemap_index %}
<sw-page class="sw-settings-sitemap">

    {% block sw_settings_sitemap_search_bar %}
    <template slot="search-bar">
        <sw-search-bar />
    </template>
    {% endblock %}

    {% block sw_settings_sitemap_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block sw_settings_sitemap_smart_bar_header_title %}
        <h2>
            {% block sw_settings_sitemap_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="small-arrow-medium-right"
                small
            />
            {{ $tc('sw-settings-sitemap.general.textHeadline') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_sitemap_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block sw_settings_sitemap_actions_save %}
        <sw-button-process
            class="sw-settings-sitemap__save-action"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            :disabled="isLoading"
            variant="primary"
            @process-finish="saveFinish"
            @click="onSave"
        >
            {{ $tc('sw-settings-sitemap.general.buttonSave') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_settings_sitemap_content %}
    <template slot="content">
        <sw-card-view>
            <sw-system-config
                ref="systemConfig"
                sales-channel-switchable
                domain="core.sitemap"
            />
        </sw-card-view>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
