/*
Main navigation
==============================================
Custom styling for bootstrap navbar.

https://getbootstrap.com/docs/4.3/components/navbar/
*/

.nav-main {
    .navbar-toggler {
        margin-bottom: 10px;
    }

    .navbar {
        background: $light;
    }
}

.navigation-menu {
    display: none;
}

@include media-breakpoint-up(lg) {
    .navigation-menu {
        display: inherit;
    }
}
