{% block sw_landing_page_detail_cms %}
<div class="sw-landing-page-detail__cms">

    {% block sw_landing_page_detail_cms_layout %}
    <sw-category-layout-card
        v-bind="{ cmsPage, isLoading }"
        :category="landingPage"
        :page-types="['landingpage']"
        :headline="$tc('sw-landing-page.base.cms.cmsLayoutModalHeadline')"
    />
    {% endblock %}

    {% block sw_landing_page_detail_cms_form %}
    <sw-cms-page-form
        v-if="cmsPage"
        :page="cmsPage"
    />
    {% endblock %}

</div>
{% endblock %}
