.sw-landing-page-detail__cms {
    @media screen and (min-width: 1580px) {
        .sw-card .sw-card__title {
            width: inherit;
            position: inherit;
            left: inherit;
            top: inherit;
            text-align: inherit;
        }
    }
}
