{% block swag_speech %}
    <div class="swag-speech">
        {% block swag_speech_headline %}
            <h1>Read out some text component</h1>
        {% endblock %}
        <div class="swag-speech__text">
            <input type="text" v-model="text" placeholder="Type message...">
        </div>
        <div class="swag-speech__language">
            <select class="swag-speech__language-field" @change="onChangeLanguage">
                <option v-for="(voice, index) in voices"
                        @key="index"
                        :value="voice.lang"
                        :selected="voice === activeVoice">
                    {{ voice.name }} ({{ voice.lang }})
                </option>
            </select>
        </div>
        <button @click="onSayText">
            Read out: {{ text }}
        </button>
    </div>
{% endblock %}