<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_text_editor_table_toolbar %}
<div class="sw-text-editor-table-toolbar">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_text_editor_table_toolbar_buttons %}
    <div class="sw-text-editor-table-toolbar__buttons">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_row_before %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onAddRow('before')"
        >
            <sw-icon
                name="icons-regular-insert-row-before"
                size="12"
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_row_after %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onAddRow('after')"
        >
            <sw-icon
                name="regular-insert-row-after"
                size="12"
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_row_delete %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onDeleteRow"
        >
            <sw-icon
                name="regular-delete-row"
                size="12"
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_column_before %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onAddColumn('before')"
        >
            <sw-icon
                name="regular-insert-column-before"
                size="12"
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_column_after %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onAddColumn('after')"
        >
            <sw-icon
                name="regular-insert-column-after"
                size="12"
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_column_delete %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onDeleteColumn"
        >
            <sw-icon
                name="regular-delete-column"
                size="12"
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_text_editor_table_toolbar_button_table_delete %}
        <div
            class="sw-text-editor-table-toolbar__button"
            @mousedown="onDeleteTable"
        >
            <sw-icon
                name="regular-times"
                size="12"
            />
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
