.sw-text-editor-table-toolbar {
    .sw-text-editor-table-toolbar__buttons {
        padding: 0 6px;
        background: var(--color-elevation-surface-raised);
        color: var(--color-icon-primary-default);
        display: grid;
        grid-auto-flow: column dense;
        height: 36px;
        user-select: none;
        border-bottom: 1px solid var(--color-border-primary-default);
        grid-auto-columns: 32px;

        .sw-text-editor-table-toolbar__button {
            display: flex;
            width: 32px;
            cursor: pointer;
            justify-content: center;
            align-self: center;

            &:hover {
                color: var(--color-icon-brand-default);
            }
        }
    }
}
