@import "~scss/mixins";

.sw-import-export-activity {
    .sw-import-export-activity__invalid-records-help-text {
        margin-left: 10px;
    }

    .sw-color-badge {
        margin: 0 10px 0 0;
    }

    &__progress-indicator {
        @include animated-truncate;

        &::after {
            right: 0;
            transform: translateX(calc(100% + 4px));
        }
    }
}

.sw-import-export-activity__download-action {
    text-decoration: none;
}
