{% block sw_manufacturer_detail %}
    <sw-page class="sw-manufacturer-detail">

        {% block sw_manufacturer_detail_header %}
            <template #smart-bar-header>
                <h2>{{ placeholder(manufacturer, 'name', $tc('sw-manufacturer.detail.textHeadline')) }}</h2>
            </template>
        {% endblock %}

        {% block sw_manufacturer_detail_actions %}
            <template #smart-bar-actions>

                {% block sw_manufacturer_detail_actions_abort %}
                    <sw-button :disabled="manufacturerIsLoading" v-tooltip.bottom="tooltipCancel" @click="onCancel">
                        {{ $tc('sw-manufacturer.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_manufacturer_detail_actions_save %}
                <sw-button-process
                        class="sw-manufacturer-detail__save-action"
                        :isLoading="isLoading"
                        v-model="isSaveSuccessful"
                        :disabled="isLoading"
                        variant="primary"
                        v-tooltip.bottom="tooltipSave"
                        @click.prevent="onSave">
                    {{ $tc('sw-manufacturer.detail.buttonSave') }}
                </sw-button-process>
                {% endblock %}

            </template>
        {% endblock %}

        {% block sw_manufacturer_detail_language_switch %}
            <template #language-switch>
                <sw-language-switch
                    :disabled="manufacturerId == null"
                    :saveChangesFunction="saveOnLanguageChange"
                    :abortChangeFunction="abortOnLanguageChange"
                    @on-change="onChangeLanguage">
                </sw-language-switch>
            </template>
        {% endblock %}

        {% block sw_manufacturer_detail_content %}
            <sw-card-view slot="content">

            {% block sw_manufacturer_detail_content_language_info %}
                <sw-language-info
                    :entityDescription="placeholder(manufacturer, 'name', $tc('sw-manufacturer.detail.textHeadline'))">
                </sw-language-info>
            {% endblock %}

            {% block sw_manufacturer_detail_base_basic_info_card %}
                <sw-card :title="$tc('sw-manufacturer.detail.cardTitleManufacturerInfo')" :isLoading="manufacturerIsLoading">
                    <template v-if="!manufacturerIsLoading">
                        <sw-container class="sw-manufacturer-detail__container"
                                      columns="repeat(auto-fit, minmax(250px, 1fr)"
                                      gap="0 30px">
                            <div class="sw-manufacturer-detail__base-info-wrapper">

                                {% block sw_manufacturer_detail_base_info_field_name %}
                                    <sw-field type="text"
                                        :label="$tc('sw-manufacturer.detail.labelName')"
                                        :placeholder="placeholder(manufacturer, 'name', $tc('sw-manufacturer.detail.placeholderName'))"
                                        name="name"
                                        validation="required"
                                        required
                                        :error="manufacturerNameError"
                                        v-model="manufacturer.name">
                                    </sw-field>
                                {% endblock %}

                                {% block sw_manufacturer_detail_base_info_field_link %}
                                <sw-field type="text"
                                    :label="$tc('sw-manufacturer.detail.labelLink')"
                                    :placeholder="$tc('sw-manufacturer.detail.placeholderLink')"
                                    name="link"
                                    v-model="manufacturer.link">
                                </sw-field>
                                {% endblock %}
                            </div>

                            {% block sw_manufacturer_detail_logo_upload %}
                                <sw-upload-listener
                                    :uploadTag="mediaUploadTag"
                                    autoUpload
                                    @media-upload-finish="setMediaItem">
                                </sw-upload-listener>
                                <sw-media-upload-v2
                                    class="sw-manufacturer-detail__logo-upload"
                                    :source="manufacturer.mediaId"
                                    :allowMultiSelect="false"
                                    variant="regular"
                                    :uploadTag="mediaUploadTag"
                                    :label="$tc('sw-manufacturer.detail.labelLogo')"
                                    :defaultFolder="manufacturerRepository.entityName"
                                    @sw-media-upload-v2-media-upload-success="setMediaItem"
                                    @media-drop="onDropMedia"
                                    @media-upload-remove-image="onUnlinkLogo">
                                </sw-media-upload-v2>
                            {% endblock %}
                        </sw-container>

                        {% block sw_manufacturer_detail_base_info_field_description %}
                            <sw-text-editor
                                :label="$tc('sw-manufacturer.detail.labelDescription')"
                                :placeholder="placeholder(manufacturer, 'description', $tc('sw-manufacturer.detail.placeholderDescription'))"
                                name="description"
                                v-model="manufacturer.description">
                            </sw-text-editor>
                        {% endblock %}
                    </template>
                </sw-card>
            {% endblock %}

            {% block sw_manufacturer_detail_custom_field_sets %}
                <sw-card :title="$tc('sw-settings-custom-field.general.mainMenuItemGeneral')"
                         v-if="customFieldSets.length > 0"
                         :isLoading="manufacturerIsLoading">
                    <sw-custom-field-set-renderer
                            v-if="manufacturer"
                            :entity="manufacturer"
                            :sets="customFieldSets">
                    </sw-custom-field-set-renderer>
                </sw-card>
            {% endblock %}
        </sw-card-view>
    {% endblock %}

    {% block sw_manufacturer_detail_sidebar %}
        <template slot="sidebar">
            <sw-sidebar :propagateWidth="true">
                <sw-sidebar-media-item ref="mediaSidebarItem">
                    <template slot="context-menu-items" slot-scope="media">
                        <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                            {{ $tc('sw-manufacturer.detail.labelUseAsLogo') }}
                        </sw-context-menu-item>
                    </template>
                </sw-sidebar-media-item>
            </sw-sidebar>
        </template>
     {% endblock %}

    </sw-page>
{% endblock %}
