<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_value_content %}
<div class="sw-condition-line-item-goods-total">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_line_item_goods_total_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    <div class="sw-condition-line-item-goods-total__value">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_condition_line_item_goods_total_field_count %}
        <sw-number-field
            v-model="count"
            class="sw-contidion-line-item-goods-total__numfield"
            size="medium"
            number-type="int"
            :step="1"
            :disabled="disabled"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_condition_line_item_goods_total_filter_button %}
        <div class="sw-condition-line-item-goods-total__filter">
            <sw-button
                v-tooltip="{ message: $tc('sw-settings-rule.conditionFilter.infoText') }"
                :disabled="disabled"
                @click="showFilterModal = true"
            >
                <sw-icon
                    name="regular-filter-s"
                    small
                />
            </sw-button>
        </div>
        {% endblock %}
    </div>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_line_item_goods_total_condition_modal %}
    <sw-condition-modal
        v-if="showFilterModal"
        :disabled="disabled"
        v-bind="{ condition, conditionDataProviderService }"
        @modal-close="showFilterModal = false"
    />
    {% endblock %}
</div>
{% endblock %}
