{% block sw_cms_block_text_preview %}
    <div class="sw-cms-preview-text">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
{% endblock %}
