@import "~scss/variables";

$sw-settings-language-list-color-success: $color-emerald-500;
$sw-settings-language-list-color-border-collapse: $color-gray-300;

.sw-settings-language-list {
    .is--default {
        color: $sw-settings-language-list-color-success;
    }

    .sw-settings-language-list__collapse-title {
        font-size: 16px;
        font-weight: normal;
        margin: 0 25px 0;
    }

    .sw-settings-language-list__collapse-header {
        display: grid;
        grid-template-columns: 1fr auto;
        cursor: pointer;
        padding-bottom: 16px;
        color: #607182;
        border-bottom: 1px solid $sw-settings-language-list-color-border-collapse;

        .sw-media-collapse__button {
            margin-right: 25px;
        }
    }

    .sw-settings-language-list__filterField.sw-field--switch {
        margin: 16px 0 0 16px;
    }
}
