{% block sw_admin %}
    <div id="app">
        <sw-notifications ref="notifications"></sw-notifications>
        <sw-duplicated-media></sw-duplicated-media>
        <router-view></router-view>
        <sw-license-violation></sw-license-violation>
    </div>
{% endblock %}
