{% block sw_media_list_selection_v1 %}
    <div class="sw-media-list-selection-v1">

        {% block sw_media_list_selection_v1_upload %}
            <sw-upload-listener
                :uploadTag="uploadId"
                @media-upload-add="onUploadsAdded"
                @media-upload-finish="successfulUpload"
                @media-upload-fail="onUploadFailed">
            </sw-upload-listener>

            <sw-media-upload-v1
                    :uploadTag="uploadId"
                    variant="regular"
                    :defaultFolder="defaultFolderName"
                    @media-upload-sidebar-open="onMediaUploadButtonOpenSidebar">
            </sw-media-upload-v1>
        {% endblock %}

        {% block sw_media_list_selection_v1_grid %}
            <div class="sw-media-list-selection-v1__grid" ref="grid" :style="gridAutoRows">
                <sw-loader v-if="entity.isLoading"></sw-loader>
                {%  block sw_media_list_selection_v1_grid_items %}
                    <sw-media-list-selection-item-v1 v-for="(mediaItem, i) in mediaItems"
                            @item-remove="removeItem(mediaItem, i)"
                            :key="i"
                            :item="mediaItem">
                    </sw-media-list-selection-item-v1>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
