.workspace-container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .workspace--toolbar {
        height: 70px;
        border-bottom: 2px solid;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .workspace--headline {
        display: block;
        padding-top: 24px;
        font-size: 18px;
        line-height: 23px;
        color: #000;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .headline--empty {
            color: rgba(20,36,50,0.2);
            font-style: italic;
        }

        .is--small {
            color: rgb(20,36,50);
            font-weight: normal;
            font-size: 15px;
        }
    }

    .toolbar--middle-section {
        max-width: 800px;
        margin: 0 auto;

        .toolbar--primary-actions {
            float: right;
            margin-top: 12px;
        }
    }

    .toolbar--back-btn {
        text-decoration: none;
        padding-left: 32px;
        display: block;
        float: left;

        i {
            font-size: 21px;
            line-height: 28px;

            &.chevron {
                font-style: normal;
                font-size: 38px;
                line-height: 65px;
            }
        }
    }

    .workspace--content {
        background: #f5f6fa;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .content--main {
        display: block;
        width: 100%;
        height: 100%;
    }
}