<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_form_preview %}
<div class="sw-cms-preview-form">
    <h4 class="sw-cms-preview-form-headline">
        {{ $tc('sw-cms.elements.form.preview.label.form') }}
    </h4>
    <div class="sw-cms-preview-form-inputs">
        <div class="sw-cms-preview-form-input"></div>
        <div class="sw-cms-preview-form-input"></div>
    </div>
    <div class="sw-cms-preview-form-input"></div>
    <div class="sw-cms-preview-form-inputs__action">
        {{ $tc('sw-cms.elements.form.preview.label.send') }}
    </div>
</div>
{% endblock %}
