{# @deprecated tag:v6.4.0.0 file will be renamed to page/account/order/confirm-payment.html.twig #}

{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{# @deprecated tag:v6.4.0.0 renamed to page_checkout_change_payment_form #}
{% block page_checkout_confirm_payment_modal_body %}
    <div class="modal-body">
        {% sw_include '@Storefront/storefront/page/account/order/change-payment-modal.html.twig' with {
            'redirect': 'frontend.home.page',
            'action':  'frontend.home.page'
        } %}
    </div>
{% endblock %}
