{# @deprecated tag:v6.4.0.0 file will be renamed to page/account/order/confirm-shipping.html.twig #}

{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}

{# @deprecated tag:v6.4.0.0 renamed to page_checkout_change_shipping_form #}
{% block page_checkout_confirm_shipping_current %}
    <p class="confirm-shipping-current">

        {# @deprecated tag:v6.4.0.0 removed #}
        {% block page_checkout_confirm_shipping_current_image %}
            {% if context.shippingMethod.media %}
                {% sw_thumbnails 'confirm-shipping-current-image-thumbnails' with {
                    media: context.shippingMethod.media,
                    sizes: {
                        'default': '100px'
                    },
                    attributes: {
                        'class': 'confirm-shipping-method-image',
                        'alt': (context.shippingMethod.media.translated.alt ?: context.shippingMethod.translated.name),
                        'title': (context.shippingMethod.media.translated.title ?: context.shippingMethod.translated.name)
                    }
                } %}
            {% endif %}
        {% endblock %}

        {# @deprecated tag:v6.4.0.0 removed #}
        {% block page_checkout_confirm_shipping_current_text %}
            <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans|sw_sanitize }}</strong>
            {{ context.shippingMethod.translated.name }}
        {% endblock %}

        {# @deprecated tag:v6.4.0.0 removed #}
        {% block page_checkout_confirm_shipping_invalid_tooltip %}{% endblock %}
    </p>
{% endblock %}

{# @deprecated tag:v6.4.0.0 removed #}
{% block page_checkout_confirm_shipping_modal_toggle %}{% endblock %}

{# @deprecated tag:v6.4.0.0 removed #}
{% block page_checkout_confirm_shipping_modal %}{% endblock %}
