 <sw-popover class="sw-extension-page-context-menu"
             popoverClass="sw-extension-page-context-menu__menu-popover"
             :zIndex="700">
     <sw-context-menu class="sw-extension-page-context-menu__menu">
         <template v-if="!isRootMenu">
             <sw-context-menu-item
                 icon="small-arrow-medium-left"
                 @click="menuEntry.showParentSubMenu">
                 <span>{{ menuEntry.label }}</span>
             </sw-context-menu-item>
             <sw-context-menu-divider></sw-context-menu-divider>
         </template>

         <template v-for="(subMenuItem, index) in subMenuItems">
             <sw-meteor-page-context-menu-item
                 v-for="(renderedChild, innerIndex) in subMenuItem.renderedChildren"
                 :menuEntry="renderedChild"
                :key="`${index}.${innerIndex}`">
             </sw-meteor-page-context-menu-item>


             <sw-meteor-page-context-menu-item
                 v-if="subMenuItem.hasCollapsedChildren || !subMenuItem.hasChildren"
                 :menuEntry="subMenuItem"
                 :key="`${index}`">
             </sw-meteor-page-context-menu-item>
         </template>
     </sw-context-menu>
 </sw-popover>

