.sw-media-gallery {
    --sw-media-gallery-thumbnail-size: 70;
    --sw-media-thumbnail-border-color: var(--bs-gray-300);
    --sw-media-thumbnail-hover-border-color: var(--bs-primary);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: map-get($spacers, 2);

}

.sw-media-gallery__previews {
    overflow: hidden;
    background-color: var(--bs-gray-200);
    flex: 1;
    min-width: 0;
}

.sw-media-gallery__preview {
    display: block;
}

.sw-media-gallery__preview {
    // overflow: hidden;
    cursor: zoom-in;
}

.sw-media-gallery__fullscreen-image-media {
    cursor: zoom-in;
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
    transform-origin: center center;
}

.sw-media-gallery__fullscreen-image-media.is--zoomed {
    transform: scale(1.8);
    cursor: zoom-out;
}