.sw-media-gallery {
    --sw-media-thumbnail-border-color: var(--bs-gray-300);
    --sw-media-thumbnail-hover-border-color: var(--bs-primary);

    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: map-get($spacers, 2);
}

.sw-media-gallery--thumbnail-nav-underneath {
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr;

    .sw-media-gallery__thumbnail-nav {
        order: 2;
    }
}

.sw-media-gallery__previews {
    overflow: hidden;
    flex: 1;
    min-width: 0;
}

.sw-media-gallery__preview {
    display: block;
}

.sw-media-gallery__preview {
    cursor: zoom-in;
}
