.sw-thumbnail-nav {
    --sw-thumbnail-nav-thumbnail-size: var(--sw-media-gallery-thumbnail-size, 70px);
    --sw-thumbnail-nav-thumbnail-border-color: var(--bs-gray-300);
    --sw-thumbnail-nav-thumbnail-hover-border-color: var(--bs-primary);
    --sw-thumbnail-nav-thumbnail-border-width: 2px;
    --sw-thumbnail-nav-scroll-control-size: 40px;
    --sw-thumbnail-nav-gap: var(--spacer-sm);
    --sw-thumbnail-nav-padding: calc(var(--sw-thumbnail-nav-thumbnail-border-width) * 2);
    align-self: stretch; 
    height: 100%;
    position: relative;
    width: var(--sw-thumbnail-nav-thumbnail-size);
}

.sw-thumbnail-nav__inner {
    display: flex;
    flex-direction: column;
    gap: var(--sw-thumbnail-nav-gap);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Hide scrollbar */
    inset: 0;
}

.sw-thumbnail-nav__media {
    display: block;
    max-height: 100%;
}

.sw-thumbnail-nav__button {
    padding: var(--sw-thumbnail-nav-thumbnail-border-width);
    margin: 0;
    border: var(--sw-thumbnail-nav-thumbnail-border-width) solid var(--sw-thumbnail-nav-thumbnail-border-color);
    width: var(--sw-thumbnail-nav-thumbnail-size);
    height: var(--sw-thumbnail-nav-thumbnail-size);
    background-color: transparent;
    cursor: pointer;
    display: block;
    line-height: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &.is--active {
        border-color: var(--sw-thumbnail-nav-thumbnail-hover-border-color);
    }

    &:focus-visible {
        outline: 0;
        box-shadow: inset 0 0 0 var(--sw-thumbnail-nav-thumbnail-border-width) var(--sw-thumbnail-nav-thumbnail-hover-border-color);
        border-color: var(--bs-primary-border-subtle);
    }
}

.sw-thumbnail-nav__scroll-control {
    --bs-btn-border-color: var(--bs-gray-300);
    --sw-btn-icon-size: var(--sw-thumbnail-nav-scroll-control-size);

    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    &.is--backward {
        top: 0;
    }

    &.is--forward {
        bottom: 0;
    }
}

/**
 * Horizontal layout (Vertical layout is the default)
 */
.sw-thumbnail-nav--horizontal {
    width: 100%;
    height: auto;
    min-width: 0;

    .sw-thumbnail-nav__inner {
        width: 100%;
        min-width: 0;
        height: auto;
        inset: auto;
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        position: relative;
    }

    .sw-thumbnail-nav__scroll-control {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        left: auto;

        &.is--forward {
            right: 0;
        }

        &.is--backward {
            left: 0;
        }
    }
}