@import "~less/variables";
@import "~less/mixins";

@sw-media-quickinfo-icon-color:       @color-shopware-blue;
@sw-media-quickinfo-hover-background: @color-cadet-blue;
@sw-media-quickinfo-border-color:     @color-steam-cloud;
@sw-media-quickinfo-border-radius:    @border-radius-default;
@sw-media-quickinfo-metadata-color:   @color-gutenberg;

.sw-media-quickinfo {

    .sw-media-quickinfo-collapse {
        margin: 0 -25px;
    }

    .sw-media-quickinfo__collapse-content {
        padding: 0 25px;
        margin-top: 16px;
    }

    .sw-media-quickinfo__two-columns {
        list-style: none;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    a:-webkit-any-link {
        color: inherit;
        text-decoration: none;
    }

    .sw-media-quickinfo__quickaction {
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 16px;

        &:hover {
            color: @sw-media-quickinfo-icon-color;
        }
    }

    .sw-media-quickinfo__quickactions-icon {
        color: @sw-media-quickinfo-icon-color;
        margin-right: 20px;
    }

    .sw-media-quickinfo__preview {
        position: relative;
        margin: 10px 0;
        width: 100%;
        border: 1px solid @sw-media-quickinfo-border-color;
        border-radius: @sw-media-quickinfo-border-radius;
    }

    .sw-media-quickinfo__preview:before {
        content: "";
        display: block;
        padding-top: 75%;
    }

    .sw-media-quickinfo__image {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .sw-media-quickinfo__metadata-grid {
        margin: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .sw-media-quickinfo__metadata-description {
        color: @sw-media-quickinfo-metadata-color;
        font-weight: bold;
    }

    .sw-media-quickinfo__metadata-value {
        .truncate();
    }
}