@import "~scss/variables";

$sw-media-quickinfo-border-color-preview:  $color-steam-cloud;
$sw-media-quickinfo-border-radius-preview: $border-radius-default;

.sw-media-quickinfo {
    .sw-media-quickinfo__alert-file-missing {
        margin: 0 25px 25px;
    }

    a:any-link {
        color: inherit;
        text-decoration: none;
    }

    .sw-media-quickinfo__media-preview {
        position: relative;
        border: 1px solid $sw-media-quickinfo-border-color-preview;
        border-radius: $sw-media-quickinfo-border-radius-preview;

        &:after {
            content: "";
            display: block;
            padding-bottom: 75%;
        }
    }
}
