@import "~less/variables";
@import "~less/mixins";

@sw-media-quickinfo-icon-color:       @color-shopware-blue;
@sw-media-quickinfo-hover-background: @color-cadet-blue;
@sw-media-quickinfo-border-color:     @color-steam-cloud;
@sw-media-quickinfo-border-radius:    @border-radius-default;
@sw-media-quickinfo-metadata-color:   @color-gutenberg;

.sw-media-quickinfo {

    .sw-media-quickinfo__collapse {
        margin: 0 -25px;
    }

    .sw-media-quickinfo__collapse-content {
        padding: 25px;
    }

    .sw-media-quickinfo__two-columns {
        list-style: none;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    a:any-link {
        color: inherit;
        text-decoration: none;
    }

    .sw-media-quickinfo__quickaction {
        cursor: pointer;
        margin-bottom: 16px;

        &:hover {
            color: @sw-media-quickinfo-icon-color;
        }
    }

    .sw-media-quickinfo__quickactions-icon {
        color: @sw-media-quickinfo-icon-color;
        margin-right: 20px;
    }
}
