<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_tax_rule_type_individual_states_cell %}
<span>
    {{ taxRule.type.typeName }}:
    <template v-if="individualStates">
        {{ individualStates.join(', ') }}
    </template>
    <template v-else>
        -
    </template>
</span>
{% endblock %}
