@import "~scss/variables";
@import "~scss/mixins";

.sw-radio-panel {
    background: var(--color-background-primary-default);
    display: block;
    position: relative;
    max-width: 300px;

    .sw-radio-panel__image {
        width: 80px;
        height: 80px;
        background-color: var(--color-background-brand-default);
        color: var(--color-icon-brand-default);
        border-radius: 50%;
        margin: 0 auto 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sw-radio-panel__title {
        display: block;
        font-size: var(--font-size-m);
        font-weight: normal;
        margin: 0 0 12px;
        color: var(--color-text-primary-default);
        transition: all 0.2s ease-in-out;

        &.is--truncate {
            @include truncate;

            display: block;
        }
    }

    .sw-radio-panel__description {
        display: block;
        font-size: var(--font-size-xs);

        &.is--truncate {
            @include truncate;

            display: block;
        }
    }

    .sw-radio-panel__body {
        display: block;
        padding: 30px;
        height: 100%;
        border: 1px solid var(--color-border-primary-default);
        border-radius: $border-radius-default;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .sw-radio-panel__radio {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 15px;
        height: 15px;
        background-color: var(--color-background-secondary-default);
        border: 2px solid var(--color-border-primary-default);
        border-radius: 50%;
        transition: all 0.2s ease-in-out;
    }

    input[type="radio"] {
        position: absolute;
        top: 15px;
        right: 15px;
        visibility: hidden;

        &:checked + .sw-radio-panel__body {
            border-color: var(--color-border-brand-default);

            .sw-radio-panel__title {
                color: var(--color-text-brand-default);
            }

            .sw-radio-panel__radio {
                border: 5px solid var(--color-border-brand-default);
                background-color: var(--color-background-primary-default);
            }
        }
    }

    &:hover {
        .sw-radio-panel__title {
            color: var(--color-text-brand-default);
        }

        .sw-radio-panel__body {
            border-color: var(--color-border-brand-default);
        }
    }
}
