{% block sw_seo_url_template_card %}
    <sw-card class="sw-seo-url-template-card"
             :title="$tc('sw-seo-url-template-card.general.titleCard')"
             :isLoading="isLoading">
        <template slot="toolbar">
            <sw-sales-channel-switch
                    :label="$tc('sw-seo-url-template-card.general.labelSalesChannelSelect')"
                    @change-sales-channel-id="onSalesChannelChanged">
            </sw-sales-channel-switch>
        </template>
        {% block sw_seo_url_template_card_entries %}
            <template v-if="!isLoading && !salesChannelIsHeadless">
                <div v-for="(seoUrlTemplate, index) in getTemplatesForSalesChannel(salesChannelId)"
                     class="sw-seo-url-template-card__seo-url">
                    <sw-container columns="3fr 1fr" gap="5px" >
                        {% block sw_seo_url_template_card_entries_input_wrapper %}
                            <sw-inherit-wrapper v-model="seoUrlTemplate.template"
                                                :hasParent="seoUrlTemplate.salesChannelId !== null"
                                                :inheritedValue="getPlaceholder(seoUrlTemplate)"
                                                @input=onInput(seoUrlTemplate)>

                                <template #content="props">
                                    {% block sw_seo_url_template_card_entries_input %}
                                        <sw-text-field :mapInheritance="props"
                                                       :value="props.currentValue"
                                                       @input="props.updateCurrentValue"
                                                       :disabled="props.isInherited"
                                                       :error="seoUrlTemplatesTemplateError[index]"
                                                       :name="`sw-field--seo-url-template-${seoUrlTemplate.entity}`"
                                                       :label="getLabel(seoUrlTemplate)"
                                                       :placeholder="getPlaceholder(seoUrlTemplate)">

                                            <template slot="suffix">
                                                {% block sw_seo_url_template_card_entries_input_suffix %}
                                                    <sw-loader v-if="previewLoadingStates[seoUrlTemplate.id]" size="16px"></sw-loader>
                                                    <sw-icon v-else-if="!errorMessages[seoUrlTemplate.id]"
                                                             name="default-basic-checkmark-line"
                                                             v-tooltip="$tc('sw-seo-url-template-card.general.tooltipValidTemplate')"
                                                             color="#37D046"
                                                             size="16">
                                                    </sw-icon>
                                                    <sw-icon v-else-if="errorMessages[seoUrlTemplate.id]"
                                                             name="default-basic-x-line"
                                                             v-tooltip="$tc('sw-seo-url-template-card.general.tooltipInvalidTemplate')"
                                                             color="#DE294C"
                                                             size="16">
                                                    </sw-icon>
                                                {% endblock %}
                                            </template>

                                        </sw-text-field>
                                    {% endblock %}
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}
                        {% block sw_seo_url_template_card_entries_variables %}
                            <sw-single-select v-if="getVariableOptions(seoUrlTemplate.id) && !noEntityError.includes(seoUrlTemplate.id)"
                                              :value="selectedProperty"
                                              valueProperty="name"
                                              labelProperty="name"
                                              :options="getVariableOptions(seoUrlTemplate.id)"
                                              :placeholder="$tc('sw-seo-url-template-card.general.placeholderSelectVariables')"
                                              :disabled="seoUrlTemplate.template === null"
                                              @change="(propertyName) => onSelectInput(propertyName, seoUrlTemplate)"
                                              :label="$tc('sw-seo-url-template-card.general.labelPossibleValues')">
                            </sw-single-select>
                        {% endblock %}
                    </sw-container>
                    {% block sw_seo_url_template_card_entries_preview %}
                        <div v-if="seoUrlTemplate.template !== null" class="sw-seo-url-template-card__preview">
                            {% block sw_seo_url_template_card_entries_preview_label %}
                                <label class="sw-seo-url-template-card__preview-label">
                                    {{ $tc('sw-seo-url-template-card.general.preview') }}
                                </label>
                            {% endblock %}
                            {% block sw_seo_url_template_card_entries_preview_item %}
                                <div class="sw-seo-url-template-card__preview-item">
                                    <span v-if="previews[seoUrlTemplate.id] && previews[seoUrlTemplate.id].length > 0">
                                        {{ previews[seoUrlTemplate.id][0].seoPathInfo }}
                                    </span>
                                    <span v-else>
                                        {{ $tc('sw-seo-url-template-card.general.textUrlPreviewNotPossible') }}
                                    </span>
                                    <span v-if="noEntityError.includes(seoUrlTemplate.id)">
                                        {{ $tc('sw-seo-url-template-card.general.textUrlNoEntitiesForPreview',0,{entity:seoUrlTemplate.entityName}) }}
                                    </span>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </template>
            <div v-if="salesChannelIsHeadless && !isLoading">
                {{ $tc('sw-seo-url.textSeoUrlsDisallowedForHeadless') }}
            </div>
        {% endblock %}
    </sw-card>
{% endblock %}
