{% block sw_promotion_v2_discounts %}
    <div class="sw-promotion-v2-discounts">

        {% block sw_promotion_v2_discounts_cards %}
            <sw-card
                :title="$tc('sw-promotion-v2.detail.tabs.tabDiscounts')"
                class="sw-promotion-v2-discounts__card">

                {% block sw_promotion_v2_discounts_empty_state %}
                    <sw-empty-state
                        :title="$tc('sw-promotion-v2.detail.discounts.emptyStateTitle')"
                        :absolute="false">

                        {% block sw_promotion_v2_discounts_empty_state_icon %}
                            <template #icon>
                                <img :src="'/administration/static/img/empty-states/promotion-empty-state.svg' | asset">
                            </template>
                        {% endblock %}

                        {% block sw_promotion_v2_discounts_empty_state_actions %}
                            <template #actions>
                                <sw-button
                                    variant="ghost"
                                    @click="onShowDiscountModal">
                                    {{ $tc('sw-promotion-v2.detail.discounts.emptyStateButton') }}
                                </sw-button>
                            </template>
                        {% endblock %}

                    </sw-empty-state>
                {% endblock %}

            </sw-card>
        {% endblock %}

        {% block sw_promotion_v2_discounts_wizard %}
            <sw-wizard
                v-if="showDiscountModal"
                :showNavigationDots="selectedDiscountType !== null"
                @close="onCloseDiscountModal"
                @finish="onCloseDiscountModal">

                {% block sw_promotion_v2_discounts_wizard_selection %}
                    <sw-promotion-v2-wizard-discount-selection
                        @change-selection="onChangeSelection">
                    </sw-promotion-v2-wizard-discount-selection>
                {% endblock %}

                {% block sw_promotion_v2_discounts_wizard_shipping_discount %}
                    <template v-if="selectedDiscountType === 'shipping-discount'">
                        <sw-promotion-v2-wizard-shipping-discount-trigger>
                        </sw-promotion-v2-wizard-shipping-discount-trigger>
                    </template>
                {% endblock %}

            </sw-wizard>
        {% endblock %}

    </div>
{% endblock %}
