{% block sw_condition_value_content %}
<div class="sw-condition-currency sw-condition__condition-value">
    {% block sw_condition_currency_field_operator %}
    <sw-condition-operator-select
        v-bind="{ operators, condition }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_currency_field_currency_ids %}
    <sw-entity-multi-select
        size="medium"
        entity="currency"
        :entity-collection="currencies"
        :disabled="disabled"
        @change="setCurrencyIds"
    />
    {% endblock %}
</div>
{% endblock %}
