{% block sw_category_tree %}
    <div class="sw-category-tree">
        <sw-tree class="sw-category-tree__inner"
            v-if="!isLoadingInitialData"
            after-id-property="afterCategoryId"
            :items="categories"
            :sortable="allowEdit"
            :searchable="false"
            :activeTreeItemId="categoryId"
            :translationContext="translationContext"
            :onChangeRoute="changeCategory"
            :disableContextMenu="disableContextMenu"
            :allowDeleteCategories="allowDelete"
            @batch-delete="deleteCheckedItems"
            @delete-element="onDeleteCategory"
            @drag-end="onUpdatePositions"
            @get-tree-items="onGetTreeItems"
            @editing-end="syncSiblings">

            {% block sw_category_tree_items %}
                <template
                    #items="{
                        treeItems,
                        sortable,
                        draggedItem,
                        newElementId,
                        checkItem,
                        translationContext,
                        onChangeRoute,
                        disableContextMenu
                    }">
                    <sw-tree-item
                        v-for="item in treeItems"
                        :key="item.id"
                        :item="item"
                        :allowNewCategories="allowCreate"
                        :allowDeleteCategories="allowDelete"
                        :active="item.active"
                        :translationContext="translationContext"
                        :onChangeRoute="onChangeRoute"
                        :sortable="sortable"
                        :draggedItem="draggedItem"
                        :disableContextMenu="disableContextMenu"
                        :displayCheckbox="allowEdit"
                        :contextMenuTooltipText="contextMenuTooltipText"
                        :newElementId="newElementId"
                        @check-item="checkItem">
                    </sw-tree-item>
                </template>
            {% endblock %}
        </sw-tree>

        <sw-loader v-else></sw-loader>
    </div>
{% endblock %}
