<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_select_rule_create %}
<div class="sw-select-rule-create">
    <sw-entity-multi-select
        v-if="rules !== null"
        v-model="collection"
        :criteria="ruleFilter"
        v-bind="$attrs"
        advanced-selection-component="sw-advanced-selection-rule"
        :advanced-selection-parameters="getAdvancedSelectionParameters()"
    >

        <template #before-item-list>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_select_rule_create_select_before %}
            <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
            <div
                class="sw-select-rule-create__create-rule-item sw-select-result"
                @click="openCreateRuleModal"
            >
                {{ $tc('sw-select-rule-create.addNewRule') }}
            </div>
            {% endblock %}
        </template>

        <template #result-item="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, isSelected, addItem, getKey }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_select_rule_create_select_multi_select_result_list_item %}
            <slot
                name="result-item"
                v-bind="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, isSelected, addItem, getKey }"
            >
                <li
                    is="sw-select-result"
                    v-tooltip="tooltipConfig(item)"
                    :selected="isSelected(item)"
                    :disabled="isRuleRestricted(item)"
                    v-bind="{ item, index }"
                    @item-select="addItem"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_select_rule_create_select_multi_select_result_item_label %}
                    <slot
                        name="result-label-property"
                        v-bind="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, getKey }"
                    >
                        <sw-highlight-text
                            v-if="highlightSearchTerm"
                            :text="getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`)"
                            :search-term="searchTerm"
                        />
                        <template v-else>
                            {{ getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                        </template>
                    </slot>
                    {% endblock %}
                </li>
            </slot>
            {% endblock %}
        </template>

    </sw-entity-multi-select>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_select_rule_create_select %}
    <sw-entity-single-select
        v-else
        entity="rule"
        :criteria="ruleFilter"
        :value="ruleId"
        v-bind="$attrs"
        show-clearable-button
        advanced-selection-component="sw-advanced-selection-rule"
        :advanced-selection-parameters="getAdvancedSelectionParameters()"
        @change="onSelectRule"
    >
        <template #before-item-list>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_select_rule_create_single_select_before %}
            <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
            <div
                class="sw-select-rule-create__create-rule-item sw-select-result"
                @click="openCreateRuleModal"
            >
                {{ $tc('sw-select-rule-create.addNewRule') }}
            </div>
            {% endblock %}
        </template>
        <template #result-item="{ item, index, labelProperty, searchTerm, highlightSearchTerm, isSelected, setValue, getKey }">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_select_rule_create_select_entity_select_result_list_item %}
            <slot
                name="result-item"
                v-bind="{ item, index, labelProperty, searchTerm, highlightSearchTerm, isSelected, setValue, getKey }"
            >
                <li
                    is="sw-select-result"
                    v-tooltip="tooltipConfig(item)"
                    :selected="isSelected(item)"
                    :disabled="isRuleRestricted(item)"
                    v-bind="{ item, index }"
                    @item-select="setValue"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_select_rule_create_select_entity_select_result_item_label %}
                    <slot
                        name="result-label-property"
                        v-bind="{ item, index, labelProperty, searchTerm, highlightSearchTerm, getKey }"
                    >
                        <sw-highlight-text
                            v-if="highlightSearchTerm"
                            :text="getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`)"
                            :search-term="searchTerm"
                        />
                        <template v-else>
                            {{ getKey(item, labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                        </template>
                    </slot>
                    {% endblock %}
                </li>
            </slot>
            {% endblock %}
        </template>
    </sw-entity-single-select>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_select_rule_create_rule_modal %}
    <slot
        name="rule-modal"
        v-bind="{ showRuleModal, onSaveRule, onCloseRuleModal }"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_select_rule_create_rule_modal_inner%}
        <sw-rule-modal
            v-if="showRuleModal"
            @save="onSaveRule"
            @modal-close="onCloseRuleModal"
            :rule-aware-group-key="ruleAwareGroupKey">
        </sw-rule-modal>
        {% endblock %}
    </slot>
    {% endblock %}
</div>
{% endblock %}
