{% block sw_select_rule_create %}
    <div class="sw-select-rule-create">
        {% block sw_select_rule_create_select %}
            <sw-entity-single-select
                entity="rule"
                :criteria="ruleFilter"
                :value="ruleId"
                @change="onSaveRule">
                    <template #before-item-list>
                        {% block sw_select_rule_create_select_before %}
                            <div class="sw-select-rule-create__create-rule-item sw-select-result" @click="openCreateRuleModal">
                                {{ $tc('sw-select-rule-create.addNewRule') }}
                            </div>
                        {% endblock %}
                    </template>
            </sw-entity-single-select>
        {% endblock %}

        {% block sw_select_rule_create_rule_modal %}
            <sw-rule-modal
                v-if="showRuleModal"
                @save="onSaveRule"
                @modal-close="onCloseRuleModal"
                :allowedRuleScopes="['cart', 'checkout', 'global', 'lineItem']">
            </sw-rule-modal>
        {% endblock %}
    </div>
{% endblock %}
