.sw-select-result-list__content {
    .sw-select-rule-create__create-rule-item:hover {
        background-color: var(--color-background-brand-default);
        color: var(--color-text-primary-default);
    }

    .sw-select-result-list__item-list {
        border-top: 1px solid var(--color-border-primary-default);
    }
}
