@import "~less/variables";

.sw-mediamanager-sidebar {
    height: 100%;

    .sw-mediamanager-sidebar__item-container {
        display: grid;
        height: 100%;
        grid-template-columns: 64px;
        grid-template-rows: 50% 50%;

        .sw-mediamanager-sidebar__items-top {
            align-self: start;
        }

        .sw-mediamanager-sidebar__items-bottom {
            align-self: end;
        }
    }
}