.sw-media-folder-item {
    position: relative;

    .sw-media-folder-item__folder-thumbnails {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 64px;
        width: 100%;

        &.is--inner {
            max-width: 20px;
            transform: translate(-50%, -30%);
        }

        &.icon--solid-chevron-left {
            color: var(--color-icon-brand-default);
        }
    }

    &.is--list {
        .sw-media-folder-item__folder-thumbnails.is--inner {
            width: 16px;
            height: 16px;
            max-width: 16px;
            transform: translate(-50%, -40%);

            svg {
                width: 16px !important;
                height: 16px !important;
            }
        }

        .sw-media-base-item__preview-container {
            border: none;
        }
    }
}
