.sw-navbar {

}

.sw-navbar__nav {
    --bs-nav-link-color: var(--bs-body-color);
    --bs-nav-link-hover-color: var(--bs-primary);
    row-gap: 0;
}

.sw-navbar__nav-item {

}

.sw-navbar__nav-link {

}
