<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_users_permissions_detailed_additional_permissions %}
<sw-card
    class="sw-users-permissions-detailed-additional-permissions"
    position-identifier="sw-users-permissions-detailed-additional-permissions"
    :title="$tc('sw-users-permissions.roles.detailed-additional-permissions.title')"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_users_permissions_detailed_additional_permissions_additional_privileges %}
    <template v-for="privilege in detailedAdditionalPermissions">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_users_permissions_detailed_additional_permissions_additional_privileges_headline %}
        <h4
            :key="privilege.key"
            :class="'sw-users-permissions-additional-permissions_' + privilege.key"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_users_permissions_detailed_additional_permissions_additional_privileges_headline_content %}
            <strong>
                {{ $tc('sw-privileges.additional_permissions.' + privilege.key + '.label') }}
            </strong>
            {% endblock %}
        </h4>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_users_permissions_detailed_additional_permissions_additional_privileges_switches %}
        <div
            :key="`body-${privilege.key}`"
            class="sw-users-permissions-detailed-additional-permissions__switches"
        >
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_users_permissions_detailed_additional_permissions_additional_privileges_switches_content %}
            <template v-for="(value, roleName) in privilege.roles">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_users_permissions_detailed_additional_permissions_additional_privileges_switches_content_switch %}
                <sw-field
                    :key="`field-${privilege.key}-${roleName}`"
                    type="switch"
                    :class="'sw_users_permissions_detailed_additional_permissions_' + privilege.key + '_' + roleName"
                    :value="isEntitySelected(roleName)"
                    :disabled="isEntityDisabled(roleName) || disabled"
                    :label="roleName"
                    :bordered="true"
                    @change="changePermissionForEntity(roleName)"
                />
                {% endblock %}
            </template>
            {% endblock %}
        </div>
        {% endblock %}
    </template>
    {% endblock %}
</sw-card>
{% endblock %}
