@import "~scss/variables";

.sw-plugin-last-updates-grid {
    .sw-plugin-last-updates-grid__info-container {
        align-items: center;

        img {
            margin-right: 10px;
            height: 32px;
            width: 32px;
        }

        .sw-plugin-last-updates-grid__plugin-info {
            display: flex;
            flex-direction: column;

            .sw-plugin-last-updates-grid__upgraded-date {
                color: $color-gray;
                font-size: $font-size-small;
            }
        }

    }

    .sw-data-grid.sw-plugin-last-updates__grid,
    .sw-data-grid.sw-plugin-last-updates__grid.is--compact {
        border-radius: $border-radius-default;

        .sw-data-grid__cell-content {
            height: auto;
        }

        .sw-data-grid__cell--changelog .sw-data-grid__cell-content {
            white-space: normal;
            word-wrap: break-word;
            display: block;
        }
    }

    .sw-plugin-last-updates-grid__version {
        font-size: $font-size-small;
        color: $color-gray;
    }
}
