{% block sw_first_run_wizard_paypal_info %}
    <div>
        <img class="sw-dashboard__paypal-icon" :src="'/administration/static/img/paypal-official-logo.svg' | asset">

        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h3>

        <sw-container columns="1fr 1fr 1fr">
            <div>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
            <div>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
            <div>
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
            </div>
        </sw-container>
    </div>
{% endblock %}
