
h1 {
    text-align: center;
}

.alert {
    padding: 15px 30px 15px 15px;
    border: 1px solid #faebcc;
    border-radius: 4px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    position: relative;
    max-width: 450px;
    margin: 0 auto 20px;

    p {
        margin: 0;
    }

    .icon--close {
        position: absolute;
        top: 12px;
        right: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 21px;
    }
}

.sw-form {
    text-align: center;
}

button {
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-out .5s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounce-out {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}
