@import "~less/variables";

.sw-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('assets/login-background.jpg');
    background-size: cover;
}

.sw-login__container {
    width: 400px;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}