<div class="sw-login">
    <sw-card class="sw-login__container" title="">
        <transition name="bounce">
            <sw-alert warning v-if="message.length && error.length" :title="error">
                {{ message }}
            </sw-alert>
        </transition>

        <form v-on:submit.prevent="loginUserWithPassword">
            <sw-field v-model="username" label="Username" placeholder="Your username..."></sw-field>
            <sw-field v-model="password" label="Password" type="password" placeholder="Your password..."></sw-field>

            <sw-alert title="Info" info>
                The default username is <strong>"admin"</strong> and the default password <strong>"shopware"</strong>.
            </sw-alert>

            <sw-button :isPrimary="true">Login</sw-button>
        </form>
    </sw-card>

    <sw-loader v-if="isLoading"></sw-loader>
</div>