.sw-app-topbar-sidebar__icon {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-button);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

    &-active,
    &:hover {
        background: var(--color-interaction-secondary-hover);
    }
}
