<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text %}
<div class="sw-cms-block-image-text">
    <slot name="left">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_image_text_slot_left %}{% endblock %}
    </slot>
    <slot name="right">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_image_text_slot_right %}{% endblock %}
    </slot>
</div>
{% endblock %}
