{% block sw_cms_block_image_text %}
<div class="sw-cms-block-image-text">
    <slot name="left">
        {% block sw_cms_block_image_text_slot_left %}{% endblock %}
    </slot>
    <slot name="right">
        {% block sw_cms_block_image_text_slot_right %}{% endblock %}
    </slot>
</div>
{% endblock %}
