{% block sw_settings_privacy_index %}
    <sw-page class="sw-settings-privacy-index">

        {% block sw_settings_privacy_index_search_bar %}
            <template slot="search-bar">
                <sw-search-bar initialSearchType="privacy"
                               :placeholder="$tc('sw-settings-privacy.general.placeholderSearchBar')"
                               :initialSearch="term">
                </sw-search-bar>
            </template>
        {% endblock %}

        {% block sw_settings_privacy_index_smart_bar_header %}
            <template slot="smart-bar-header">
                {% block sw_settings_privacy_index_smart_bar_header_title %}
                    <h2>
                        {% block sw_settings_privacy_index_smart_bar_header_title_text %}
                            {{ $tc('sw-settings.index.title') }}
                            <sw-icon name="small-arrow-medium-right" small></sw-icon>
                            {{ $tc('sw-settings-privacy.general.mainMenuItemGeneral') }}
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_privacy_index_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_privacy_index_actions_save %}
                    <sw-button class="sw-settings-privacy-index__save"
                               variant="primary"
                               @click="onSave(settings)">
                        {{ $tc('sw-settings-privacy.general.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_privacy_index_cardview %}
            <template slot="content">
                <sw-card-view>
                    {% block sw_settings_privacy_index_card_content %}
                        <sw-card :isLoading="isLoading"
                                 :title="$tc('sw-settings-privacy.index.cardTitle')">

                            {% block sw_settings_privacy_index_grid %}
                                <template slot="grid">
                                    <sw-data-grid :isLoading="isLoading"
                                                  :dataSource="items"
                                                  :columns="columns"
                                                  class="sw-settings-privacy-index-grid"
                                                  identifier="sw-settings-privacy-index"
                                                  :skeletonItemAmount="skeletonItemAmount"
                                                  :sortBy="sortBy"
                                                  :sortDirection="sortDirection"
                                                  :allowInlineEdit="true"
                                                  :allowColumnEdit="true"
                                                  :showSettings="true"
                                                  :showSelection="false"
                                                  :showActions="true"
                                                  @column-sort="onSortColumn"
                                                  @inline-edit-cancel="onInlineEditCancel"
                                                  @inline-edit-save="onInlineEditSave">

                                        {% block sw_settings_privacy_index_columns %}
                                            {% block sw_settings_privacy_index_column_sales_channel %}
                                                <template slot="column-salesChannelId" slot-scope="{ item, compact, isInlineEdit }">

                                                    {% block sw_settings_privacy_index_column_sales_channel_inline_edit %}
                                                        <sw-field v-if="isInlineEdit"
                                                                  type="select"
                                                                  size="small"
                                                                  v-model="item.salesChannelId">
                                                            <option :value="null">
                                                                {{ $tc('sw-settings-privacy.index.salesChannelOptionEmpty') }}
                                                            </option>

                                                            <option v-for="salesChannel in salesChannels"
                                                                    :value="salesChannel.id">
                                                                {{ salesChannel.meta.viewData.name }}
                                                            </option>
                                                        </sw-field>
                                                    {% endblock %}

                                                    {% block sw_settings_privacy_index_column_sales_channel_content %}
                                                        <template v-else>
                                                            {{ salesChannelPlaceholder(item) }}
                                                        </template>
                                                    {% endblock %}

                                                </template>
                                            {% endblock %}
                                        {% endblock %}
                                    </sw-data-grid>
                                </template>
                            {% endblock %}

                        </sw-card>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}