{% sw_extends '@Storefront/base/footer/footer.html.twig' %}

{% block base_footer_inner_container %}
    <footer class="footer-minimal">
        {% block base_footer_minimal_navigation %}
            {% block base_footer_minimal_content %}
                <ul class="footer-minimal-list">
                    {#TODO: NEXT-2669 - Replace with service links#}
                    {% for treeItem in page.header.navigation.tree %}
                        {% block base_footer_minimal_item %}
                            <li class="footer-minimal-item">
                                <a class="footer-minimal-link"
                                   href="{{ path('frontend.navigation.page', {'navigationId': treeItem.entity.id}) }}"
                                   title="{{ treeItem.entity.name }}">
                                    {{ treeItem.entity.name }}
                                </a>
                            </li>
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}

        {% block base_footer_bottom %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}
