{% block sw_context_menu_button %}
    <div class="sw-context-menu__button" @mouseenter="onToggleMenu" @mouseleave="onToggleMenu">
        {% block sw_context_menu_button_icon %}
            <slot name="icon">
                <sw-icon :name="icon" decorative></sw-icon>
            </slot>
        {% endblock %}

        {% block sw_context_menu_button_menu %}
            <ul class="sw-context-menu" v-if="showMenu" :style="{ 'right': rightPos }">
                <slot>{% block sw_context_menu_button_menu_default_slot %}{% endblock %}</slot>
            </ul>
        {% endblock %}
    </div>
{% endblock %}