<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_category_navigation_preview %}
<div class="sw-cms-el-preview-category-navigation">
    <p>{{ $tc('sw-cms.elements.sidebarCategoryNavigation.preview.label.navigation') }}</p>
    <hr>
    <div class="sw-cms-el-category-placeholder-listing">
        <div class="sw-cms-el-category-navigation__placeholder"></div>
        <hr>
        <div class="sw-cms-el-category-navigation__placeholder"></div>
        <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-el-category-navigation__placeholder--subcategory"></div>
    </div>
</div>
{% endblock %}
