.sw-header-widget {
    background: var(--bs-body);
    border: 0 none;
    padding: 0.5rem;
    display: flex;
    gap: 0.4rem;
    color: var(--bs-body-color);

    &:focus {
        outline: 2px solid var(--bs-primary);
        outline-offset: 2px solid var(--bs-primary);
    }

    &:hover {
        color: var(--bs-primary);
    }
}

.sw-header-widget__label {
    color: var(--bs-primary);
    font-variant-numeric: tabular-nums;
    display: block;
    font-weight: 600;
}
