@import "~scss/variables";

.sw-order-customer-address-select {
    .sw-single-select .sw-single-select__selection-text {
        padding-right: 22px;
    }
}

.sw-select-result-list-popover-wrapper {
    .sw-select-result__item-list {
        border-bottom: 1px solid $color-gray-300;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
}
