.sw-wizard-dot-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .sw-wizard-dot-navigation__item {
        display: inline-block;
        background: var(--color-background-primary-default);
        width: 12px;
        height: 12px;
        border: 1px solid var(--color-border-secondary-default);
        border-radius: 100%;
        margin: 0 5px;

        &.is--active {
            background: var(--color-interaction-primary-default);
            border-color: var(--color-border-brand-default);
        }
    }
}
