<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_wizard_dot_navigation %}
<ul class="sw-wizard-dot-navigation">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_wizard_dot_navigation_item %}
    <li
        v-for="(page, index) in pages"
        :key="index"
        class="sw-wizard-dot-navigation__item"
        :class="{ 'is--active': index === activePage }"
    ></li>
    {% endblock %}

</ul>
{% endblock %}
