{% block sw_tree_item %}
    <div class="sw-tree-item" :class="styling">
        {% block sw_tree_item_element %}
            <div class="sw-tree-item__element"
                 v-droppable="{ dragGroup: 'sw-tree-item', data: item }"
                 v-draggable="dragConf">
                {% block sw_tree_item_element_leaf_icon %}
                    <div class="sw-tree-item__leaf" v-if="item.childCount <= 0"></div>
                {% endblock %}

                {% block sw_tree_item_element_toggle %}
                    <div class="sw-tree-item__toggle" @click="openTreeItem(); getTreeItemChildren(item)" v-else>

                        {% block sw_tree_item_element_toggle_loader %}
                            <sw-loader v-if="isLoading" size="14"></sw-loader>
                        {% endblock %}

                        {% block sw_tree_item_element_toggle_icon %}
                            <sw-icon :name="opened ? 'small-arrow-small-down' : 'small-arrow-small-right'" size="18"
                                     v-else></sw-icon>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_tree_item_element_selection %}
                    <div class="sw-tree-item__selection">
                        <sw-field v-if="displayCheckbox"
                                  :disabled="currentEditElement === item.data.id"
                                  @change="toggleItemCheck($event, item)"
                                  type="checkbox"
                                  :ghostValue="checkedGhost"
                                  :value="checked">
                        </sw-field>
                    </div>
                {% endblock %}

                {% block sw_tree_item_element_grip %}
                    <div v-if="item.childCount > 0" class="sw-tree-item__icon">
                        <sw-icon name="multicolor-folder-tree-open" multicolor small v-if="opened"></sw-icon>
                        <sw-icon name="multicolor-folder-tree" multicolor small v-else></sw-icon>
                    </div>
                    <div v-else class="sw-tree-item__icon">
                        <sw-icon name="small-default-circle-small" size="18"></sw-icon>
                    </div>
                {% endblock %}

                {% block sw_tree_item_element_content %}
                    <div class="sw-tree-item__content" ref="item">
                        <slot name="content" v-bind="{ item, openTreeItem, getName }">
                            {% block sw_tree_items_item_content_edit %}
                                <template v-if="currentEditElement === item.data.id">
                                    <sw-confirm-field class="sw-tree-detail__edit-tree-item"
                                                      v-model="item.data.name"
                                                      :preventEmptySubmit="true"
                                                      @input="onFinishNameingElement"
                                                      @blur="onCancelSubmit(item)"
                                                      @submit-cancel="onBlurTreeItemInput(item)"
                                                      :placeholder="$tc(`${translationContext}.general.buttonCreate`)">
                                    </sw-confirm-field>
                                </template>
                            {% endblock %}

                            {% block sw_tree_items_item_content_default %}
                                <template v-else>
                                    <a v-if="onChangeRoute" class="tree-link" @click="onChangeRoute(item)">
                                        <span class="sw-tree-item__label">{{ getName(item) }}</span>
                                    </a>
                                    <span v-else class="sw-tree-item__label">{{ getName(item) }}</span>
                                </template>
                            {% endblock %}
                        </slot>
                    </div>
                {% endblock %}

                {% block sw_tree_item_element_actions %}
                    <div class="sw-tree-item__actions">
                        <slot name="actions" :item="item" :openTreeItem="openTreeItem">
                            <sw-context-button class="sw-tree-item__context_button" v-tooltip="toolTip" :disabled="isDisabled">
                            {% block sw_tree_items_actions_before %}
                                <sw-context-menu-item
                                    :disabled="!allowNewCategories"
                                    class="sw-tree-item__before-action"
                                    @click="addElement(item, 'before');">
                                    {{ $tc(`${translationContext}.general.actions.createBefore`) }}
                                </sw-context-menu-item>
                            {% endblock %}
                            {% block sw_tree_items_actions_after %}
                                <sw-context-menu-item
                                    :disabled="!allowNewCategories"
                                    class="sw-tree-item__after-action"
                                    @click="addElement(item, 'after');">
                                    {{ $tc(`${translationContext}.general.actions.createAfter`) }}
                                </sw-context-menu-item>
                            {% endblock %}
                            {% block sw_tree_items_actions_sub %}
                                <sw-context-menu-item
                                    :disabled="!allowNewCategories"
                                    class="sw-tree-item__sub-action"
                                    @click="addSubElement(item); openTreeItem(true)">
                                    {{ $tc(`${translationContext}.general.actions.createSub`) }}
                                </sw-context-menu-item>
                            {% endblock %}

                            {% block sw_tree_items_actions_group %}
                                <div class="sw-context-menu__group">
                                    {% block sw_tree_items_actions_edit %}
                                        <sw-context-menu-item @click="onChangeRoute(item)">
                                            {{ $tc('global.default.edit') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                    {% block sw_tree_items_actions_delete %}
                                        <sw-context-menu-item
                                            class="sw-context-menu__group-button-delete"
                                            :disabled="!allowDeleteCategories"
                                            variant="danger"
                                            @click="deleteElement(item)">
                                            {{ $tc('global.default.delete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                            </sw-context-button>
                        </slot>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {# ToDO: Repeat statt duplicated Content #}
        {% block sw_tree_item_children_transition %}
            <transition name="fade">
                {% block sw_tree_item_children_content %}
                    <div class="sw-tree-item__children" v-if="isOpened && item.children.length > 0">
                        {% block sw_tree_item_children_items %}
                            <sw-tree-item v-for="child in item.children"
                                          :key="child.id"
                                          :item="child"
                                          :draggedItem="draggedItem"
                                          :parentScope="parentScope"
                                          :newElementId="newElementId"
                                          :translationContext="translationContext"
                                          :onChangeRoute="onChangeRoute"
                                          @check-item="emitCheckedItem"
                                          :activeParentIds="activeParentIds"
                                          :activeItemIds="activeItemIds"
                                          :markInactive="markInactive"
                                          :sortable="sortable"
                                          :shouldFocus="shouldFocus"
                                          :activeFocusId="activeFocusId"
                                          :displayCheckbox="displayCheckbox"
                                          :disableContextMenu="disableContextMenu">
                                {% block sw_tree_item_children_items_slots %}
                                    <template #content="{ item, openTreeItem, getName: innerGetName }">
                                        {% block sw_tree_item_children_items_slot_content %}
                                            <sw-vnode-renderer :node="$scopedSlots.content({ item, openTreeItem, getName })"
                                                               v-if="$scopedSlots.content"></sw-vnode-renderer>
                                            {% block sw_tree_item_children_items_slot_content_default_block %}
                                                <template v-else>
                                                    {% block sw_tree_item_children_items_slot_content_edit %}
                                                        <template v-if="currentEditElement === item.data.id">
                                                            <sw-confirm-field class="sw-tree-detail__edit-tree-item"
                                                                              v-model="item.data.name"
                                                                              :preventEmptySubmit="true"
                                                                              @input="onFinishNameingElement"
                                                                              @blur="onBlurTreeItemInput(item)"
                                                                              @submit-cancel="onCancelSubmit(item)"
                                                                              :placeholder="$tc(`${translationContext}.general.buttonCreate`)">
                                                            </sw-confirm-field>
                                                        </template>
                                                    {% endblock %}

                                                    {% block sw_tree_item_children_items_slot_content_default %}
                                                        <template v-else>
                                                            <a v-if="onChangeRoute" class="tree-link" @click="onChangeRoute(item)">
                                                                <span class="sw-tree-item__label">{{ getName(item) }}</span>
                                                            </a>
                                                            <span v-else class="sw-tree-item__label">{{ getName(item) }}</span>
                                                        </template>
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                        {% endblock %}
                                    </template>

                                    <template #actions="{ item, openTreeItem }">
                                        {% block sw_tree_item_children_items_slot_actions %}
                                            <sw-vnode-renderer :node="$scopedSlots.actions({ item, openTreeItem })"
                                                               v-if="$scopedSlots.actions"></sw-vnode-renderer>
                                            <div v-else class="sw-tree-item__actions">
                                                <slot name="actions" v-bind="{ item, openTreeItem }">
                                                    <sw-context-button v-tooltip="toolTip" :disabled="isDisabled">
                                                        {% block sw_tree_items_actions_before %}
                                                            <sw-context-menu-item
                                                                :disabled="!allowNewCategories"
                                                                @click="addElement(item, 'before');">
                                                                {{ $tc(`${translationContext}.general.actions.createBefore`) }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}
                                                        {% block sw_tree_items_actions_after %}
                                                            <sw-context-menu-item
                                                                :disabled="!allowNewCategories"
                                                                @click="addElement(item, 'after');">
                                                                {{ $tc(`${translationContext}.general.actions.createAfter`) }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}
                                                        {% block sw_tree_items_actions_sub %}
                                                            <sw-context-menu-item
                                                                :disabled="!allowNewCategories"
                                                                @click="addSubElement(item); openTreeItem(true)">
                                                                {{ $tc(`${translationContext}.general.actions.createSub`) }}
                                                            </sw-context-menu-item>
                                                        {% endblock %}

                                                        {% block sw_tree_items_actions_group %}
                                                        <div class="sw-context-menu__group">
                                                            {% block sw_tree_items_actions_edit %}
                                                                <sw-context-menu-item @click="onChangeRoute(item)">
                                                                    {{ $tc('sw-tree.actions.edit') }}
                                                                </sw-context-menu-item>
                                                            {% endblock %}
                                                            {% block sw_tree_items_actions_delete %}
                                                                <sw-context-menu-item
                                                                    variant="danger"
                                                                    :disabled="!allowDeleteCategories"
                                                                    @click="deleteElement(item)">
                                                                    {{ $tc('sw-tree.actions.delete') }}
                                                                </sw-context-menu-item>
                                                            {% endblock %}
                                                        </div>
                                                        {% endblock %}
                                                    </sw-context-button>
                                                </slot>
                                            </div>
                                        {% endblock %}
                                    </template>
                                {% endblock %}
                            </sw-tree-item>
                        {% endblock %}
                    </div>
                {% endblock %}
            </transition>
        {% endblock %}
    </div>
{% endblock %}
