{% block sw_text_field %}
    <div class="sw-field" :class="fieldClasses">
        {% block sw_text_field_label %}
            <label v-if="getInlineSnippet(label)" :for="id">
                <slot name="label">{{ getInlineSnippet(label) }}</slot>
            </label>
        {% endblock %}
        {% block sw_text_field_input %}
            <div class="sw-field__input">

                {% block sw_prefix %}
                    <sw-field-addition v-if="containPrefix" :text="prefix" :isPrefix="true">
                        <slot name="prefix"></slot>
                    </sw-field-addition>
                {% endblock %}

                <div class="sw_field_input__wrapper">
                    {% block sw_text_field_input_element %}
                        <input type=text
                               :id="id"
                               ref="textfield"
                               :name="displayName"
                               :placeholder="getInlineSnippet(placeholder)"
                               :disabled="disabled ? 'disabled' : false"
                               @change="onChange"
                               @input="onInput"
                               v-on="additionalEventListeners"
                               v-bind="$attrs"
                               :value="currentValue" />
                    {% endblock %}

                    {% block sw_text_field_input_extras %}
                    {% endblock %}

                    {% block sw_tooltip %}
                        <sw-help-text
                                v-if="tooltipText"
                                :text="getInlineSnippet(tooltipText)"
                                :tooltipPosition="tooltipPosition">
                        </sw-help-text>
                    {% endblock %}

                    {% block sw_text_field_copyable_tooltip %}
                        <sw-field-copyable
                                v-if="copyAble && copyAbleTooltip"
                                :tooltip="true"
                                :displayName="displayName"
                        >
                        </sw-field-copyable>
                    {% endblock %}
                </div>

                {% block sw_suffix %}
                    <sw-field-addition v-if="containSuffix" :text="suffix">
                        <slot name="suffix"></slot>
                    </sw-field-addition>
                {% endblock %}

                {% block sw_text_field_copyable %}
                    <sw-field-copyable v-if="copyAble && !copyAbleTooltip" :displayName="displayName"></sw-field-copyable>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_text_field_extras %}
        {% endblock %}

        {% block sw_text_field_error %}
            <sw-field-error
                    v-if="hasError"
                    :errorMessage="getInlineSnippet(errorMessage)"
                    :formError="formError">
            </sw-field-error>
        {% endblock %}

        {% block sw_text_field_helptext %}
            <sw-field-helptext v-if="helpText" :helpText="getInlineSnippet(helpText)" :id="id"></sw-field-helptext>
        {% endblock %}
    </div>
{% endblock %}
