{% block sw_bulk_edit_product %}
<sw-page class="sw-bulk-edit-product">
    {% block sw_bulk_edit_product_search_bar %}
    <template #search-bar>
        <sw-search-bar />
    </template>
    {% endblock %}

    {% block sw_bulk_edit_product_smart_bar_header %}
    <template #smart-bar-header>
        {% block sw_bulk_edit_product_smart_bar_header_title %}
        <h2>{{ $tc('sw-bulk-edit.product.textTitle', 0, { productTotal: selectedIds.length }) }}</h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_bulk_edit_product_content_language_switch %}
    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>
    {% endblock %}

    {% block sw_bulk_edit_product_content_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block sw_bulk_edit_product_actions_save %}
        <sw-button-process
            class="sw-bulk-edit-product__save-action"
            variant="primary"
            :is-loading="isLoading"
            :process-success="isSaveSuccessful"
            :disabled="isLoading || !hasSelectedChanges"
            @click="openModal"
        >
            {{
                feature.isActive('FEATURE_NEXT_17261')
                    ? $tc('sw-bulk-edit.applyChanges')
                    : $tc('sw-settings-basic-information.general.buttonSave')
            }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_bulk_edit_product_content %}
    <template #content>
        <sw-card-view v-if="selectedIds.length > 0 && isLoadedData">
            {% block sw_bulk_edit_product_content_gereral_information_card %}
            <sw-card
                class="sw-bulk-edit-product-base__info"
                :title="$tc('sw-bulk-edit.product.generalInformation.cardTitle')"
            >
                {% block sw_bulk_edit_product_content_gereral_information %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="generalFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_prices_card %}
            <sw-card
                v-if="feature.isActive('FEATURE_NEXT_17261')"
                class="sw-bulk-edit-product-base__prices"
                :title="$tc('sw-bulk-edit.product.prices.cardTitle')"
            >
                {% block sw_bulk_edit_product_content_prices %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="pricesFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                    @change-value="onChangePrices"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_advanced_prices_card %}
            <sw-card
                v-if="feature.isActive('FEATURE_NEXT_17261')"
                class="sw-bulk-edit-product-base__advanced-prices"
                :title="$tc('sw-bulk-edit.product.advancedPrices.cardTitle')"
            >
                {% block sw_bulk_edit_product_content_advanced_prices %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="advancedPricesFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                >
                    <template #valueFieldWithBoxType="{ formField, entity, index }">
                        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
                        <a
                            v-if="['add', 'overwrite'].includes(bulkEditProduct[formField.name].type)"
                            class="sw-card__quick-link"
                            @click="displayAdvancePricesModal = true"
                        >
                            {{ $tc('sw-bulk-edit.product.advancedPrices.newAdvancedPrices', 0, { count: entity[formField.name] ? Object.keys(priceRuleGroups).length : 0 }) }}
                            <sw-icon
                                name="default-arrow-simple-right"
                                small
                            />
                        </a>

                        {% block sw_bulk_edit_product_content_advanced_prices_rule_selection %}
                        <sw-entity-multi-select
                            v-else-if="bulkEditProduct[formField.name].type === 'remove'"
                            class="sw-bulk-edit-product-base__advanced-prices-selection"
                            :placeholder="$tc('sw-bulk-edit.product.advancedPrices.selectRule')"
                            :criteria="ruleCriteria"
                            entity-name="rule"
                            :entity-collection="entity[formField.name]"
                            @change="onRuleChange"
                        >
                            <template #selection-label-property="{ item }">
                                {{ item.ruleName }}
                            </template>

                            <template #result-item="{ item, index, labelProperty, isSelected, addItem, getKey }">
                                <li
                                    is="sw-select-result"
                                    :selected="isSelected(item)"
                                    :disabled="!!priceRuleGroups[item.id]"
                                    v-bind="{ item, index }"
                                    @item-select="addItem"
                                >
                                    <template>
                                        {{ getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`) }}
                                    </template>
                                </li>
                            </template>
                        </sw-entity-multi-select>
                        {% endblock %}
                    </template>
                </sw-bulk-edit-change-type-field-renderer>
                {% endblock %}

                {% block sw_bulk_edit_product_content_advanced_prices_modal %}
                <sw-modal
                    v-if="displayAdvancePricesModal"
                    variant="large"
                    :title="$tc('sw-bulk-edit.product.advancedPrices.cardTitle')"
                    @modal-close="displayAdvancePricesModal = false"
                >
                    <template v-if="feature.isActive('FEATURE_NEXT_17261')">
                        <sw-product-detail-context-prices :is-set-default-price="true" />
                    </template>

                    <template v-if="!feature.isActive('FEATURE_NEXT_17261')">
                        <sw-product-detail-context-prices />
                    </template>

                    {% block sw_bulk_edit_product_content_advanced_prices_modal_footer %}
                    <template #modal-footer>
                        <slot name="sw-bulk-edit-modal-cancel">
                            <sw-button
                                size="small"
                                @click="displayAdvancePricesModal = false"
                            >
                                {{ $tc('global.default.close') }}
                            </sw-button>
                        </slot>
                    </template>
                    {% endblock %}
                </sw-modal>
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_property_card %}
            <sw-card
                class="sw-bulk-edit-product-base__property"
                :title="$tc('sw-bulk-edit.product.property.cardTitle')"
                :is-loading="isLoading"
            >
                {% block sw_bulk_edit_product_content_property %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="propertyFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_deliverability_card %}
            <sw-card
                class="sw-bulk-edit-product-base__deliverability"
                :title="$tc('sw-bulk-edit.product.deliverability.cardTitle')"
                :is-loading="isLoading"
            >
                {% block sw_bulk_edit_product_content_deliverability %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="deliverabilityFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_assignments_card %}
            <sw-card
                class="sw-bulk-edit-product-base__assignment"
                :title="$tc('sw-bulk-edit.product.assignment.cardTitle')"
                :is-loading="isLoading"
            >
                {% block sw_bulk_edit_product_content_assignments %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="assignmentFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_media_card %}
            <sw-card
                class="sw-bulk-edit-product-base__media"
                :title="$tc('sw-bulk-edit.product.media.cardTitle')"
                :is-loading="isLoading"
            >
                {% block media %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="mediaFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_labelling_card %}
            <sw-card
                class="sw-bulk-edit-product-base__labelling"
                :title="$tc('sw-bulk-edit.product.labelling.cardTitle')"
                :is-loading="isLoading"
            >
                {% block sw_bulk_edit_product_content_labelling %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="labellingFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_seo_card %}
            <sw-card
                class="sw-bulk-edit-product-base__seo"
                :title="$tc('sw-bulk-edit.product.seo.cardTitle')"
                :is-loading="isLoading"
            >
                {% block sw_bulk_edit_product_content_seo %}
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="seoFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
                {% endblock %}
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_meansures_packaging_card %}
            <sw-card
                class="sw-bulk-edit-product-base__measures"
                :title="$tc('sw-bulk-edit.product.measuresAndPackaging.cardTitle')"
                :is-loading="isLoading"
            >
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="measuresPackagingFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_essential_card %}
            <sw-card
                class="sw-bulk-edit-product-base___essential"
                :title="$tc('sw-bulk-edit.product.featureSets.cardTitle')"
                :is-loading="isLoading"
            >
                <sw-bulk-edit-change-type-field-renderer
                    :form-fields="essentialCharacteristicsFormFields"
                    :bulk-edit-data="bulkEditProduct"
                    :entity="product"
                />
            </sw-card>
            {% endblock %}

            {% block sw_bulk_edit_product_content_meansures_custom_field_card %}
            <sw-card
                v-if="customFieldSets.length > 0"
                class="sw-bulk-edit-product-base__custom_fields"
                :title="$tc('sw-bulk-edit.product.customFields.cardTitle')"
                :is-loading="isLoading"
            >
                <sw-bulk-edit-custom-fields
                    class="sw-bulk-edit__custom-fields"
                    :sets="customFieldSets"
                    @change="onCustomFieldsChange"
                />
            </sw-card>
            {% endblock %}
        </sw-card-view>
        <sw-empty-state
            v-if="!isLoading && selectedIds.length == 0"
            :title="$tc('sw-bulk-edit.product.messageEmptyTitle')"
            :subline="$tc('sw-bulk-edit.product.messageEmptySubline')"
        />

        {% block sw_bulk_edit_product_save_modal %}
        <router-view
            :item-total="selectedIds.length"
            :is-loading="isLoading"
            :process-status="processStatus"
            @modal-close="closeModal"
            @bulk-save="onSave"
        />
        {% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
