@import "~scss/variables";

.sw-product-variants-delivery-media {
    display: flex;
    height: 100%;
    padding: 0;

    .sw-product-variants-delivery-media__groups {
        font-size: var(--font-size-xs);
        flex-basis: 270px;
        height: 100%;
        overflow: auto;
        border-right: 1px solid var(--color-gray-300);
        padding: var(--scale-size-20) 0;

        .mt-icon {
            margin-right: var(--scale-size-8);
        }
    }

    .sw-product-variants-delivery-media__groupElement {
        cursor: pointer;
        display: flex;
        align-items: center;
        min-height: 34px;
        line-height: 34px;
        list-style: none;
        padding-left: var(--scale-size-20);

        &:hover {
            background-color: #f0f8ff;
        }

        &.is--selected {
            background-color: var(--color-background-secondary-default);
        }
    }

    .sw-product-variants-delivery-media__media {
        position: relative;
        flex: 1;
    }

    .sw-media-upload-v2 {
        width: 100%;
    }
}
