<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_line_chart %}
<div
    v-if="!isLoading"
    class="sw-chart"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_line_chart_multiple %}
    <template
        v-if="needOneDimensionalArray"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_line_chart_multiple_chart %}
        <template
            v-for="(serie, index) in optimizedSeries"
            :key="`multiple-chart-${index}`"
        >
            <apexchart
                v-bind="$attrs"
                :type="type"
                :options="mergedOptions"
                :series="serie.data"
                :height="height"
                v-on="listeners"
            />
        </template>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_line_chart_single %}
    <apexchart
        v-else
        v-bind="$attrs"
        :type="type"
        :options="mergedOptions"
        :series="optimizedSeries"
        :height="height"
        v-on="listeners"
    />
    {% endblock %}
</div>
{% endblock %}
