<div style="font-family:arial; font-size:12px;">

    {% if order.orderCustomer.salutation %}{{ order.orderCustomer.salutation.translated.letterName ~ ' ' }}{% endif %}{{ order.orderCustomer.firstName }} {{ order.orderCustomer.lastName }},<br>
    <br>
    Attached to this email you will find the delivery note for your order with the number: {{ order.orderNumber }}<br>
    <br>
    If you have any questions, do not hesitate to contact us.
    <br>
</div>
