@import "~scss/variables";

$sw-category-select-input-background: $color-white;

.sw-select.sw-category-select {
    .sw-select__inner {
        padding: 0;
    }

    .sw-select__input-single-wrapper {
        border-radius: 6px;
        padding: 0;
        border: none;
        height: 43px;

        .sw-icon {
            display: none;
        }
    }

    .sw-select__input-single {
        border: none;
        font-size: 14px;
        background: $sw-category-select-input-background;
        padding: 8px 16px;

        #{$dark-theme-class} & {
            background: darken($sw-category-select-input-background, $dark-theme-contrast-factor);
        }
    }

    .sw-category-select__product-number {
        color: $color-gray-400;
        margin-left: 10px;

        #{$dark-theme-class} & {
            color: lighten($color-gray-400, $dark-theme-contrast-factor);
        }
    }

    .sw-select-option__result-item-text {
        display: inline-block;
    }
}
