{% block sw_select %}
    <div class="sw-select sw-category-select"
        :class="selectClasses"
        tabindex="0"
        ref="swSelect"
        @click="setFocus"
        @focus="setFocus"
        @keyup.esc="closeResultList"
        @keyup.enter.prevent="onKeyUpEnter"
        @keydown.up.prevent="navigateUpResults"
        @keydown.down.prevent="navigateDownResults">

        {% block sw_category_select_label %}
            <label v-if="label" :for="id" class="sw-select__label">{{ label }}</label>
        {% endblock %}

        {% block sw_select_inner %}
            <div class="sw-select__inner">
                {% block sw_select_results_single_input %}
                    <div class="sw-select__input-single-wrapper">
                        <input ref="swSelectInput"
                                class="sw-select__input-single"
                                type="text"
                                :placeholder="placeholder"
                                v-model="searchTerm"
                                @input="onSearchTermChange">
                        <sw-icon name="small-arrow-medium-down" small></sw-icon>
                    </div>
                {% endblock %}

                {% block sw_select_results_transition %}
                    <transition name="sw-select-fade-down">
                        {% block sw_select_results %}
                            <div class="sw-select__results" v-if="isExpanded">

                                {% block sw_select_results_list %}
                                    <ul class="sw-select__results-list">
                                        <template v-for="(item, index) in results">
                                            <slot name="result_items" :item="item" :index="index">
                                                <sw-select-option :noPreview="true" :index="index" :item="item" :selected="checkAssociation(item.id)">
                                                    {{ item.translated.name }}
                                                    <span class="sw-category-select__product-number">{{ item.productNumber }}</span>
                                                </sw-select-option>
                                            </slot>
                                        </template>
                                    </ul>
                                {% endblock %}

                                {% block sw_select_results_empty %}
                                    <div v-if="results.length <= 0" class="sw-select__results-empty-message">
                                        {% block sw_select_results_empty_text %}
                                            {{ $tc('sw-category.base.products.productAssignmentEmptyText') }}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </transition>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
