{% block sw_cms_block_image_text_row_preview %}
<div class="sw-cms-preview-image-text-row">
    <div class="sw-cms-preview-image-text-row__left">
        <div class="sw-cms-preview-image-text-row__image">
            <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-row__center">
        <div class="sw-cms-preview-image-text-row__image">
            <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-row__right">
        <div class="sw-cms-preview-image-text-row__image">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>
</div>
{% endblock %}
