@import "~scss/variables";

$sw-search-bar-item-border-radius: $border-radius-default;
$sw-search-bar-item-color-label: $color-darkgray-200;
$sw-search-bar-item-color-type: darken($color-gray-100, 25%);
$sw-search-bar-item-hover-color-background: lighten($color-shopware-brand-500, 40%);
$sw-search-bar-item-label-hover-color-text: $color-shopware-brand-500;

.sw-search-bar-item {
    border-radius: $sw-search-bar-item-border-radius;
    padding: 6px;

    .sw-search-bar-item__link {
        padding: 4px 10px;
        border-radius: $sw-search-bar-item-border-radius;
        display: flex;
        text-decoration: none;
        line-height: 20px;
    }

    .sw-icon {
        margin-right: 20px;
        flex-shrink: 0;
    }

    .sw-search-bar-item__label {
        color: $sw-search-bar-item-color-label;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
    }

    .sw-search-bar-item__type {
        color: $sw-search-bar-item-color-type;
        font-size: 13px;
        margin-left: auto;
    }

    &.is--active {
        background: $sw-search-bar-item-hover-color-background;

        .sw-search-bar-item__label {
            color: $sw-search-bar-item-label-hover-color-text;
        }
    }

    &--v2 {
        display: flex;
        justify-items: center;

        .sw-search-bar-item__link {
            flex: 1;
        }

        .sw-icon {
            width: 14px;
            height: auto;
            margin-left: 8px;
            margin-right: 2px;
        }

        .sw-search-bar-item__label {
            display: flex;
            flex: 1;
            justify-content: space-between;
        }
    }
}
