{% block sw_settings_tax_area_rule_modal %}
    <sw-modal :title="$tc('sw-settings-tax.taxAreaRuleCard.labelCountryName')"
        @modal-close="$emit('modal-close')"
        class="sw-settings-tax-area-rule-modal__settings-modal">
            {% block sw_settings_tax_area_rule_modal_form_first_row %}
                <sw-container columns="1fr 1fr" gap="0px 32px">
                    {% block sw_settings_tax_area_rule_modal_country_select %}
                        <sw-entity-single-select required
                                                 :label="$tc('sw-settings-tax.taxAreaRuleCard.labelCountryName')"
                                                 v-model="taxAreaRule.countryId"
                                                 :error="taxAreaRuleCountryIdError"
                                                 entity="country">
                        </sw-entity-single-select>
                    {% endblock %}
                    {% block sw_settings_tax_area_rule_modal_type_select %}
                        <sw-entity-single-select required
                                                 :label="$tc('sw-settings-tax.taxAreaRuleCard.labelAppliesOn')"
                                                 v-model="taxAreaRule.taxAreaRuleTypeId"
                                                 labelProperty="typeName"
                                                 :error="taxAreaRuleTaxAreaRuleTypeIdError"
                                                 @change="changeRuleType"
                                                 entity="tax_area_rule_type">
                        </sw-entity-single-select>
                    {% endblock %}
                </sw-container>
            {% endblock %}

            {% block sw_settings_tax_area_rule_modal_form_second_row %}
                <sw-container columns="1fr 1fr" gap="0 32px">
                    {% block sw_settings_tax_area_rule_modal_additional_component %}
                        <component v-if="additionalComponent"
                                   :is="additionalComponent"
                                   :taxAreaRule="taxAreaRule">
                        </component>
                    {% endblock %}

                    {% block sw_settings_tax_area_rule_modal_tax_rate %}
                        <sw-number-field required
                                         v-model="taxAreaRule.taxRate"
                                         :error="taxAreaRuleTaxRateError"
                                         :label="$tc('sw-settings-tax.taxAreaRuleCard.labelTaxRate')">
                            <template #suffix>
                               <span>
                                    <span v-html="$sanitize($tc('sw-settings-tax.general.taxRateSymbol'))"></span>
                               </span>
                            </template>
                        </sw-number-field>
                    {% endblock %}
                </sw-container>
        {% endblock %}

        {% block sw_settings_tax_area_rule_modal_form_footer %}
            <template slot="modal-footer">
                {% block sw_settings_tax_area_rule_modal_form_footer_cancel %}
                    <sw-button size="small" @click="$emit('modal-close')">
                        {{ $tc('sw-settings-tax.taxAreaRuleCard.labelCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_tax_area_rule_modal_form_footer_button_create %}
                    <sw-button variant="primary"
                               size="small"
                               @click="onConfirm">
                        {{ $tc('sw-settings-tax.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
