<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_condition_value_content %}
<div class="sw-condition-is-always-valid">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_condition_is_always_valid %}
    <sw-single-select
        v-model="isAlwaysValid"
        size="medium"
        :options="selectValues"
        :disabled="disabled"
        show-clearable-button
    />
    {% endblock %}
</div>
{% endblock %}
