.product-detail-cross-selling {

    @include media-breakpoint-down(sm) {
        .product-detail-tabs-content {
            display: block;
        }

        .product-cross-selling-tab-navigation {
            display: none;
        }

        .tab-pane {
            margin-top: $spacer-lg;
            display: block;
            opacity: 1;

            .cms-element-title {
                display: block;
            }

            .cms-element-title-paragraph {
                margin: 0;
            }
        }
    }

    .card {
        margin-top: $spacer-lg;
    }

    .cms-element-title {
        display: none;
    }
}
