.sw-help-text {
    width: var(--scale-size-16);
    height: var(--scale-size-16);
    color: var(--color-icon-brand-default);
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;

    &:hover {
        color: var(--color-icon-brand-hover);
    }

    .mt-icon {
        width: var(--scale-size-16);
        height: var(--scale-size-16);
    }
}
