<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_help_text %}
<span
    v-tooltip="{
        message: text,
        width: width,
        position: tooltipPosition,
        showDelay: showDelay,
        hideDelay: hideDelay
    }"
    class="sw-help-text"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_help_text_icon %}
    <sw-icon
        name="regular-questionmark-s"
    />
    {% endblock %}
</span>
{% endblock %}
