@import "~scss/variables";

.sw-help-text {
    width: 16px;
    height: 16px;
    background-color: $color-shopware-brand-500;
    color: $color-white;
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .sw-icon {
        width: 14px;
        height: 14px;
    }
}
