@import "~scss/variables";

.sw-help-text {
    width: 16px;
    height: 16px;
    background-color: $color-shopware-brand-500;
    color: $color-white;
    border-radius: 50%;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;

    .sw-icon {
        width: 16px;
        height: 16px;
        padding-top: 4px;
        padding-right: 5px;
        padding-bottom: 3px;
        padding-left: 5px;
    }
}
