{% block sw_sales_channel_detail_products %}
    <div v-if="salesChannel" class="sw-sales-channel-detail-products">
        {% block sw_sales_channel_detail_products_product_sync %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleProductSync')">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, animi!
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_products_synced_products %}
            <sw-card :title="$tc('sw-sales-channel.detail.titleSyncedProducts')">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, earum.
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_products_category_mapping %}
            <sw-card
                :title="$tc('sw-sales-channel.detail.titleCategoryMapping')"
                class="sw-sales-channel-detail-products__category-mapping">
                <sw-container columns="1fr 1fr">
                    {% block sw_sales_channel_detail_products_category_mapping_shop %}
                        <sw-sales-channel-detail-shop-categories
                            :isLoadingCategories="isLoadingCategories"
                            :categories="categories"
                            :categoryId="categoryId"
                            :onChangeRoute="onChangeRoute"
                            @get-tree-items="onGetTreeItems">
                        </sw-sales-channel-detail-shop-categories>
                    {% endblock %}

                    {% block sw_sales_channel_detail_products_category_mapping_google %}
                        <sw-sales-channel-detail-empty-categories
                            v-if="!categoryId || !category">
                        </sw-sales-channel-detail-empty-categories>

                        <router-view
                            v-else
                            :selectedShopCategory="category"
                            @on-change-google-category="onChangeGoogleCategory">
                        </router-view>
                    {% endblock %}
                </sw-container>
            </sw-card>
        {% endblock %}

        {% block sw_sales_channel_detail_products_template %}
            <sw-sales-channel-detail-product-comparison v-bind="$props">
            </sw-sales-channel-detail-product-comparison>
        {% endblock %}
    </div>
{% endblock %}
