.sw-sales-channel-detail-products {
    &.sw-card .sw-card__content {
        min-height: 420px;
        padding: 0;
    }

    .sw-card-section.sw-card-section--divider-top {
        position: relative;
        padding: 0;
    }

    .sw-data-grid .sw-data-grid__bulk-selected {
        margin: 12px 8px;
    }
}
