<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_import_export_progress %}
<div class="sw-import-export-progress">
    <div class="sw-import-export-progress__progress">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_progress_start_process %}
        <sw-button
            :disabled="disableButton"
            class="sw-import-export-progress__start-process-action"
            size="small"
            variant="primary"
            @click="$emit('process-start')"
        >
            <template v-if="activityType === 'import'">
                {{ $tc('sw-import-export.progress.startImportLabel') }}
            </template>
            <template v-else>
                {{ $tc('sw-import-export.progress.startExportLabel') }}
            </template>
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_progress_start_process_dryrun %}
        <sw-button
            v-if="activityType === 'import'"
            :disabled="disableButton"
            class="sw-import-export-progress__start-process-dryrun-action"
            size="small"
            @click="$emit('process-start-dryrun')"
        >
            {{ $tc('sw-import-export.progress.startImportDryrunLabel') }}
        </sw-button>
        {% endblock %}
    </div>
</div>
{% endblock %}
