.sw-pagination {
    border-top: 1px solid #ddd;
    padding: 10px 15px;
    background: #eef1f6;

    .sw-pagination--page-selection, .sw-pagination--per-page, .sw-pagination--total {
        display: inline-block;
    }

    .sw-pagination--page-selection-field {
        width: 40px;
    }
}