// @deprecated tag:v6.8.0 - Will be removed
@import "~scss/variables";

.sw-empty-state {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    &--absolute {
        position: absolute;
    }

    &--empty-module {
        height: 400px;
    }

    &--auto-height {
        height: auto;
    }

    &__element {
        max-width: 600px;
        padding: 20px;
        margin: 0 auto;
        align-self: center;
        text-align: center;
    }

    &__title {
        font-size: var(--font-size-m);
        line-height: var(--font-line-height-m);
        margin-bottom: var(--scale-size-4);
        color: var(--color-text-primary-default);
    }

    &__description {
        color: var(--color-text-primary-default);
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
    }

    &__description-link {
        display: inline-block;
        cursor: pointer;
        color: var(--color-text-brand-default);
        text-decoration: underline;
    }

    &__icon {
        margin-bottom: var(--scale-size-24);
    }

    &__actions {
        margin-top: var(--scale-size-16);
    }
}
