{% block sw_plugin_store_login_status %}
    <div class="sw-plugin-store-login-status">

        {% block sw_plugin_store_login_status_title %}
            <div class="sw-plugin-store-login-status__title">Shopware Account</div>
        {% endblock %}

        {% block sw_plugin_store_login_status_box %}
            <div class="sw-plugin-store-login-status__login-box">
                {% block sw_plugin_store_login_status_box_content %}
                    <div class="sw-plugin-store-login-status__box-content">
                        <sw-avatar size="36px" color="#E3F3FF" placeholder></sw-avatar>
                        <div class="sw-plugin-store-login-status__account-info">
                            <template v-if="isLoggedIn && shopwareId">
                                <span class="sw-plugin-store-login-status__text">{{ $tc('sw-plugin.general.loggedIn') }}</span>
                                <span class="sw-plugin-store-login-status__shopware-id">{{ shopwareId }}</span>
                            </template>
                            <template v-else>
                                <p @click="login()" class="sw-plugin-store-login-status__login">{{ $tc('sw-plugin.general.login') }}</p>
                            </template>
                        </div>
                    </div>
                {% endblock %}
                {% block sw_plugin_store_login_status_box_actions %}
                    <sw-context-button class="sw-plugin-store-login-status__context-button" icon="default-action-more-vertical" :menuOffsetLeft="17">
                        {% block sw_plugin_store_login_status_box_actions_to_account %}
                            <sw-context-menu-item @click="openAccount">
                                {{ $tc('sw-plugin.general.accountLabel') }}
                            </sw-context-menu-item>
                        {% endblock %}

                        {% block sw_plugin_store_login_status_box_actions_logout %}
                            <sw-context-menu-item v-if="isLoggedIn && shopwareId" @click="logout">
                                {{ $tc('sw-plugin.general.logout') }}
                            </sw-context-menu-item>
                        {% endblock %}
                </sw-context-button>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_plugin_store_login_status_login_modal %}
            <sw-plugin-store-login v-if="showLoginModal" @close-modal="closeModal"></sw-plugin-store-login>
        {% endblock %}

    </div>
{% endblock %}
