{% block sw_text_editor %}
    <div class="sw-text-editor">

        {% block sw_text_editor_label %}
            <div class="sw-text-editor__label" v-if="label.length">{{ label }}</div>
        {% endblock %}

        {% block sw_text_editor_editor %}
            <div class="editor" ref="editor"></div>
        {% endblock %}

        {% block sw_text_editor_sub_toolbar %}
            <div class="editor__sub-toolbar">
                <sw-container grid="1fr" justify="right">
                    <span class="editor__text-length">{{ $tc('global.sw-text-editor.labelTextLength', textLength, { count: textLength }) }}</span>
                </sw-container>
            </div>
        {% endblock %}
    </div>
{% endblock %}
