{% block sw_settings_rule_detail %}
    <sw-page class="sw-settings-rule-detail">
        {% block sw_settings_rule_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="rule.name">{{ rule.name }}</h2>
                <h2 v-else>{{ $tc('sw-settings-rule.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_settings_rule_detail_actions %}
            <template slot="smart-bar-actions">

                {% block sw_settings_rule_detail_actions_cancel %}
                    <sw-button :disabled="rule.isLoading" :routerLink="{ name: 'sw.settings.rule.index' }">
                        {{ $tc('sw-settings-rule.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_rule_detail_actions_save %}
                    <sw-button class="sw-settings-rule-detail__save-action" variant="primary" :disabled="rule.isLoading" @click="onSave">
                        {{ $tc('sw-settings-rule.detail.buttonSave') }}
                    </sw-button>
                {% endblock %}

            </template>
        {% endblock %}

        {% block sw_settings_rule_detail_content %}
            <sw-card-view slot="content">
                {% block sw_settings_rule_detail_content_card %}
                    <sw-card :title="$tc('sw-settings-rule.detail.titleCard')">
                        <sw-container grid="1fr 1fr" gap="0px 30px">
                            {% block sw_settings_rule_detail_content_card_field_label %}
                                <sw-field type="text"
                                          :label="$tc('sw-settings-rule.detail.labelName')"
                                          :placeholder="$tc('sw-settings-rule.detail.placeholderName')"
                                          validation="required"
                                          v-model="rule.name">
                                </sw-field>
                            {% endblock %}

                            {% block sw_settings_rule_detail_content_card_field_description %}
                                <sw-field type="textarea"
                                          :label="$tc('sw-settings-rule.detail.labelDescription')"
                                          :placeholder="$tc('sw-settings-rule.detail.placeholderDescription')"
                                          v-model="rule.description">
                                </sw-field>
                            {% endblock %}

                            {% block sw_settings_rule_detail_content_card_field_priority %}
                                <sw-field type="number"
                                          :label="$tc('sw-settings-rule.detail.labelPriority')"
                                          :placeholder="$tc('sw-settings-rule.detail.placeholderPriority')"
                                          validation="required"
                                          v-model="rule.priority">
                                </sw-field>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}

                {% block sw_settings_rule_detail_conditions_card %}
                    <sw-card :title="$tc('sw-settings-rule.detail.ruleCard')">
                        <sw-container grid="1fr" gap="0px">

                            {# @todo add nested conditions with twig blocks #}

                            <sw-field type="hidden" v-model="rule.conditions"></sw-field>

                            <div v-for="condition in nestedConditions.children">
                                <sw-condition-group :condition="condition">
                                </sw-condition-group>
                            </div>

                        </sw-container>
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}