{% block sw_cms_block_layout_config %}
<div class="sw-cms-block-layout-config">
    {% block sw_cms_block_layout_config_css_class %}
    <sw-text-field
        v-model="block.cssClass"
        :label="$tc('sw-cms.detail.label.cssClassField')"
        :help-text="$tc('sw-cms.detail.helpText.cssClassField')"
    />
    {% endblock %}

    {% block sw_cms_block_layout_config_top_margin_field %}
    <sw-text-field
        v-model="block.marginTop"
        :label="$tc('sw-cms.detail.label.blockTopMarginField')"
    />
    {% endblock %}

    {% block sw_cms_block_layout_config_bottom_margin_field %}
    <sw-text-field
        v-model="block.marginBottom"
        :label="$tc('sw-cms.detail.label.blockBottomMarginField')"
    />
    {% endblock %}

    {% block sw_cms_block_layout_config_left_margin_field %}
    <sw-text-field
        v-model="block.marginLeft"
        :label="$tc('sw-cms.detail.label.blockLeftMarginField')"
    />
    {% endblock %}

    {% block sw_cms_block_layout_config_right_margin_field %}
    <sw-text-field
        v-model="block.marginRight"
        :label="$tc('sw-cms.detail.label.blockRightMarginField')"
    />
    {% endblock %}
</div>
{% endblock %}
