{% block sw_card %}
    <div class="sw-card" :class="cardClasses">
        {% block sw_card_title %}
            <slot name="title">
                <div class="sw-card__title" v-if="title">{{ title }}</div>
            </slot>
        {% endblock %}

        <slot name="tabs"></slot>

        {% block sw_card_toolbar %}
            <div class="sw-card__toolbar"
                 v-if="!!$slots.toolbar">
                {% block sw_card_toolbar_inner %}
                    <slot name="toolbar">
                        {% block sw_card_slot_toolbar %}{% endblock %}
                    </slot>
                {% endblock %}
            </div>
        {% endblock %}
        {% block sw_card_content %}
            <div class="sw-card__content">
                <slot>
                    {% block sw_card_slot_default %}{% endblock %}
                </slot>
                <slot name="grid" :title="title">
                    {% block sw_card_slot_grid %}{% endblock %}
                </slot>
                <slot name="footer">
                    {% block sw_card_slot_footer %}{% endblock %}
                </slot>

                {% block sw_card_loader %}
                    <sw-loader v-if="isLoading"></sw-loader>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}