<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_product_variants_delivery_order %}
<div class="sw-product-variants-delivery-order">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_variants_delivery_order_groups %}
    <div class="sw-product-variants-delivery-order__groups">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_variants_delivery_order_groups_sw_tree %}
        <sw-tree
            v-if="orderObjects.length"
            :items="orderObjects"
            :searchable="false"
            :disable-context-menu="true"
            bind-items-to-folder
            @drag-end="orderChanged"
        >

            <template
                #items="{ treeItems, sortable, draggedItem, disableContextMenu, onChangeRoute }"
            >
                <sw-tree-item
                    v-for="item in treeItems"
                    :key="item.id"
                    :item="item"
                    :disable-context-menu="true"
                    :sortable="true"
                />
            </template>
        </sw-tree>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_variants_delivery_order_loader %}
        <sw-loader v-else />
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
