<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_simple_grid %}
<div class="sw-cms-block-image-simple-grid">
    <div class="sw-cms-block-image-simple-grid__side-images">
        <div class="sw-cms-block-image-simple-grid__image-top">
            <slot name="left-top"></slot>
        </div>
        <div class="sw-cms-block-image-simple-grid__image-bottom">
            <slot name="left-bottom"></slot>
        </div>
    </div>
    <slot name="right"></slot>
</div>
{% endblock %}
