@import "~scss/variables";

.sw-product-layout-assignment {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: var(--scale-size-32);

    &__figure {
        width: calc(var(--scale-size-224) + var(--scale-size-26));
    }

    &__heading {
        font-size: var(--font-size-xs);

        * {
            word-break: break-all;
        }

        &.is--disabled {
            * {
                color: var(--color-gray-500);
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: var(--scale-size-16);
        margin: auto 0;
    }

    &__title {
        font-weight: var(--font-weight-semibold);
    }

    &__subtitle {
        font-weight: var(--font-weight-regular);
    }

    &__buttons {
        font-size: 0;
    }

    &__button {
        &:not(:first-child) {
            margin-left: var(--scale-size-8);
        }
    }
}
