<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_gallery_preview %}
<div class="sw-cms-preview-image-text-gallery">
    <div class="sw-cms-preview-image-text-gallery__left">
        <div class="sw-cms-preview-image-text-gallery__image">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-text-gallery__text">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-gallery__center">
        <div class="sw-cms-preview-image-text-gallery__image">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-text-gallery__text">
            <h2>Ipsum</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-gallery__right">
        <div class="sw-cms-preview-image-text-gallery__image">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-text-gallery__text">
            <h2>Dolor</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>
{% endblock %}
