{% block sw_settings_shipping_price_matrix %}
    <sw-card :title="priceGroup.rule ? priceGroup.rule.name : $tc('sw-settings-shipping.priceMatrix.titleCard')"
             class="sw-settings-shipping-price-matrix">
        {% block sw_settings_shipping_price_matrix_topbar %}
            <sw-container columns="1fr 160px 35px"
                          gap="0px 24px"
                          class="sw-settings-shipping-price-matrix__top-container">
                {% block sw_settings_shipping_price_matrix_topbar_rule_select %}
                    <sw-select-rule-create :ruleId="priceGroup.ruleId"
                                           :ruleFilter="ruleFilter"
                                           size="small"
                                           :placeholder="$tc('sw-settings-shipping.priceMatrix.noRestriction')"
                                           :required="hasNoRuleMatrix"
                                           @save-rule="onSaveRule"
                                           @dismiss-rule="$emit('rule-change', $event, priceGroup.ruleId)">
                        <template slot="result_items" slot-scope="{ item, index }">
                            {% block sw_settings_shipping_price_matrix_topbar_rule_select_result %}
                                <sw-select-option
                                        :disabled="!!priceRuleGroups[item.id]"
                                        :index="index"
                                        :item="item">
                                    {{ item.name }}
                                </sw-select-option>
                            {% endblock %}
                        </template>
                    </sw-select-rule-create>
                {% endblock %}

                {% block sw_settings_shipping_price_matrix_topbar_new_price %}
                    <sw-button size="x-small"
                               :variant="!showDataGrid ? '': 'ghost'"
                               :disabled="!showDataGrid"
                               @click="onAddNewPriceRule">
                        {{ $tc('sw-settings-shipping.priceMatrix.addNewPriceRule') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_shipping_price_matrix_topbar_context_button %}
                    <sw-context-button :disabled="!showDataGrid"
                                       class="sw-settings-shipping-price-matrix__price-group-context">
                        {% block sw_settings_shipping_price_matrix_topbar_context_button_duplicate %}
                            <sw-context-menu-item :disabled="!priceGroup.ruleId"
                                                  @click="$emit('duplicate-price-matrix', priceGroup)"
                                                  class="sw-settings-shipping-price-matrix__action-duplicate">
                                {{ $tc('sw-settings-shipping.priceMatrix.duplicateMatrixContextLabel') }}
                            </sw-context-menu-item>
                        {% endblock %}
                        {% block sw_settings_shipping_price_matrix_topbar_context_button_delete %}
                            <sw-context-menu-item @click="onDeletePriceMatrix"
                                                  class="sw-settings-shipping-price-matrix__action-delete"
                                                  variant="danger">
                                {{ $tc('sw-settings-shipping.priceMatrix.deleteMatrixContextLabel') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    </sw-context-button>
                {% endblock %}
            </sw-container>
        {% endblock %}

        {% block sw_settings_shipping_price_matrix_price_grid %}
            <sw-data-grid v-if="showDataGrid"
                          :identifier="`sw-settings-shipping-price-grid__${priceGroup.calculation}`"
                          :dataSource="priceGroup.prices"
                          :columns="ruleColumns"
                          :showSettings="true"
                          :allowInlineEdit="allowInlineEdit"
                          @inline-edit-save="onSaveInlineEdit">
                {% block sw_settings_shipping_price_matrix_price_grid_column_quantity_end %}
                    <template slot="column-quantityEnd" slot-scope="{ item, isInlineEdit, compact }">
                        <template v-if="isInlineEdit">
                            <sw-number-field :size="compact ? 'small' : 'default'" v-model="item.quantityEnd"></sw-number-field>
                        </template>
                        <template v-else>
                            {{ item.quantityEnd !== null ? item.quantityEnd : $tc('sw-settings-shipping.priceMatrix.any') }}
                        </template>
                    </template>
                {% endblock %}
                {% block sw_settings_shipping_price_matrix_price_grid_column_price %}
                    <template slot="column-price" slot-scope="{ item, isInlineEdit, compact }">
                        <template v-if="isInlineEdit">
                            <sw-number-field :size="compact ? 'small' : 'default'" v-model="item.price"></sw-number-field>
                        </template>
                        <template v-else>
                            {{ item.price | currency(priceGroup.currency.shortName) }}
                        </template>
                    </template>
                {% endblock %}
                {% block sw_settings_shipping_price_matrix_price_grid_actions %}
                    <template slot="actions" slot-scope="{ item }">
                        {% block sw_settings_shipping_price_matrix_price_grid_actions_modify %}
                            <sw-context-menu-item v-if="item.calculationRuleId" @click="onModifyPriceRule(item)">
                                {{ $tc('sw-settings-shipping.priceMatrix.contextMenuModifyPrice') }}
                            </sw-context-menu-item>
                        {% endblock %}

                        {% block sw_settings_shipping_price_matrix_price_grid_actions_duplicate %}
                            <sw-context-menu-item @click="onDuplicatePriceRule(item)">
                                {{ $tc('sw-settings-shipping.priceMatrix.contextMenuDuplicatePrice') }}
                            </sw-context-menu-item>
                        {% endblock %}

                        {% block sw_settings_shipping_price_matrix_price_grid_actions_delete %}
                            <sw-context-menu-item :disabled="disableDeleteButton"
                                                  @click="onDeletePriceRule(item)"
                                                  variant="danger">
                                {{ $tc('sw-settings-shipping.priceMatrix.contextMenuDeletePrice') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-data-grid>
        {% endblock %}

        {% block sw_settings_shipping_price_matrix_empty %}
            <div v-else class="sw-settings-shipping-price-matrix__empty">
                {% block sw_settings_shipping_price_matrix_empty_text %}
                    <p class="sw-settings-shipping-price-matrix__empty-text">
                        {{ $tc('sw-settings-shipping.priceMatrix.emptyText') }}
                    </p>
                {% endblock %}
                <sw-container columns="240px 133px" gap="0px 24px">
                    {% block sw_settings_shipping_price_matrix_empty_property_store %}
                        <sw-select :store="propertyStore"
                                   size="small"
                                   required
                                   :value="priceGroup.calculation"
                                   :showSearch="false"
                                   :placeholder="$tc('sw-settings-shipping.priceMatrix.selectProperty')"
                                   itemValueKey="value"
                                   @input="onCalculationChange">
                        </sw-select>
                    {% endblock %}

                    {% block sw_settings_shipping_price_matrix_empty_rule_select %}
                        <p class="sw-settings-shipping-price-matrix__use-rules"
                           @click="openCreatePriceRuleModal">
                            {{ $tc('sw-settings-shipping.priceMatrix.useRules') }}
                        </p>
                    {% endblock %}
                </sw-container>
            </div>
        {% endblock %}

        {% block sw_settings_shipping_price_rule_modal %}
            <sw-price-rule-modal v-if="showPriceRuleModal"
                                 :ruleId="priceRuleId"
                                 :priceRule="priceRule"
                                 :priceRuleStore="priceRuleStore"
                                 :allowedRuleScopes="['cart', 'checkout', 'global']"
                                 @save="onSavePriceRule"
                                 @modal-close="onClosePriceRuleModal">
            </sw-price-rule-modal>
        {% endblock %}

        {% block sw_settings_shipping_price_matrix_delete_modal %}
            <sw-modal v-if="showDeleteModal"
                      @modal-close="onCloseDeleteModal"
                      :title="$tc('sw-settings-shipping.priceMatrix.modalTitleDelete')"
                      variant="small">
                {% block sw_settings_shipping_price_matrix_delete_modal_confirm_delete_text %}
                    <p class="sw-settings-shipping-price-matrix__confirm-delete-text">
                        {{ confirmDeleteText }}
                    </p>
                {% endblock %}

                {% block sw_settings_shipping_price_matrix_delete_modal_footer %}
                    <template slot="modal-footer">
                        {% block sw_settings_shipping_price_matrix_delete_modal_cancel %}
                            <sw-button @click="onCloseDeleteModal" size="small">
                                {{ $tc('sw-settings-shipping.priceMatrix.buttonCancel') }}
                            </sw-button>
                        {% endblock %}

                        {% block sw_settings_shipping_price_matrix_delete_modal_confirm %}
                            <sw-button @click="onConfirmDeletePriceRule" variant="primary" size="small">
                                {{ $tc('sw-settings-shipping.priceMatrix.buttonDelete') }}
                            </sw-button>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-modal>
        {% endblock %}
    </sw-card>
{% endblock %}
