.btn {
    --bs-btn-disabled-color: var(--bs-secondary-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-buy {
    --sw-btn-buy-bg: #0042a0;
    --sw-btn-buy-color: #fff;
    --sw-btn-buy-disabled-bg: #eee;
    --sw-btn-buy-disabled-border-color: #eee;

    --bs-btn-color: var(--sw-btn-buy-color);
    --bs-btn-bg: var(--sw-btn-buy-bg);
    --bs-btn-border-color: var(--sw-btn-buy-bg);
    --bs-btn-hover-color: var(--sw-btn-buy-color);
    --bs-btn-hover-bg: var(--sw-btn-buy-bg);
    --bs-btn-hover-border-color: var(--sw-btn-buy-bg);
    --bs-btn-active-color: var(--sw-btn-buy-color);
    --bs-btn-active-bg: var(--sw-btn-buy-bg);
    --bs-btn-active-border-color: var(--sw-btn-buy-bg);
    --bs-btn-focus-box-shadow: var(--bs-focus-ring-box-shadow);

    &.disabled,
    &:disabled {
        opacity: 1;
        background: var(--sw-btn-buy-disabled-bg);
        border-color: var(--sw-btn-buy-disabled-border-color);
        color: #dee2e6;
    }
}

.btn-link {
    --bs-btn-font-weight: 600;
    --bs-btn-focus-box-shadow: var(--bs-focus-ring-box-shadow);
}

// Button styling with the appearance of a regular text link
.btn-link-inline {
    --bs-btn-color: var(--bs-link-color);
    --bs-btn-hover-color: var(--bs-link-hover-color);
    --bs-btn-font-weight: 400;
    --bs-btn-font-size: inherit;
    --bs-btn-focus-box-shadow: var(--bs-focus-ring-box-shadow);
    --bs-btn-line-height: 1.5;
    --bs-btn-padding-y: 0;
    --bs-btn-padding-x: 0;
    --bs-btn-border-width: 0;
    text-decoration: underline;
    vertical-align: baseline;
    text-align: left;
    white-space: normal;

    &:hover {
        text-decoration: underline;
    }
}