{% block sw_promotion_discount_form %}
    <div class="promotion-discount-form">
        <b>{{ $tc('sw-promotion.discountForm.descriptionTitleDiscount') }}</b>
        <p>
            {{ $tc('sw-promotion.discountForm.descriptionTextDiscount') }}
            <router-link :to="{ name: 'sw.settings.rule.index' }">
                {{ $tc('sw-promotion.discountForm.ruleModuleLink') }}
            </router-link>
        </p>

        {% block sw_promotion_discount_form_discount_rule_id_field %}
            <sw-select
                    class="sw-product-detail__select-visibility"
                    id="rule" :store="ruleStore"
                    :value="promotion.discountRuleId"
                    @input="onDiscountRuleChange($event, promotion.discountRuleId)"
                    :label="$tc('sw-promotion.discountForm.labelDiscountRule')">
                <template slot="result_items" slot-scope="{ item, index }">
                    <sw-select-option
                            :index="index"
                            :item="item">
                        {{ item.name }}
                    </sw-select-option>
                </template>
            </sw-select>
        {% endblock %}
    </div>
{% endblock %}
