{% block sw_flow_list_index %}
<sw-page class="sw-flow-list-index">
    {% block sw_flow_list_index_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="flow"
            :placeholder="$tc('sw-flow.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_flow_list_index_smart_bar_header %}
    <template #smart-bar-header>
        {% block sw_flow_list_index_smart_bar_header_title %}
        <h2>
            {% block sw_flow_list_index_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('sw-flow.list.textHeadline') }}
            {% endblock %}

            {% block sw_flow_list_index_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_flow_list_index_smart_bar_actions %}
    <template #smart-bar-actions>

        {% block sw_flow_list_smart_bar_actions_extension %}
        {% endblock %}

        {% block sw_flow_list_index_smart_bar_actions_add %}
        <sw-button
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('flow.creator'),
                position: 'bottom',
                showOnDisabledElements: true
            }"
            class="sw-flow-list__create"
            variant="primary"
            :router-link="{ name: 'sw.flow.create' }"
            :disabled="!acl.can('flow.creator')"
        >
            {{ $tc('sw-flow.list.buttonAddFlow') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}l

    {% block sw_flow_list_index_content %}
    <template #content>
        <sw-card-view>
            {% block sw_flow_list_index_tabs_header %}
            <sw-tabs
                class="sw-flow-list__tab"
                position-identifier="sw-flow-listing"
                :small="false"
            >

                {% block sw_flow_index_tabs_header_my_flows %}
                <sw-tabs-item
                    class="sw-flow-listing__tab-my-flows"
                    name="flows"
                    :title="$tc('sw-flow.general.tabMyFlows')"
                    :route="{ name: 'sw.flow.index.flows'}"
                >
                    {{ $tc('sw-flow.general.tabMyFlows') }}
                </sw-tabs-item>
                {% endblock %}

                {% block sw_flow_inddex_tabs_header_flow_templates %}
                <sw-tabs-item
                    class="sw-flow-listing__tab-flow-templates"
                    name="templates"
                    :title="$tc('sw-flow.general.tabFlowTemplates')"
                    :route="{ name: 'sw.flow.index.templates'}"
                >
                    {{ $tc('sw-flow.general.tabFlowTemplates') }}
                </sw-tabs-item>
                {% endblock %}

                {% block sw_flow_tabs_header_extension %}{% endblock %}

                <template #content="{ active }">
                    {% block sw_flow_list_index_tabs_content %}
                    <template v-if="isLoading">
                        <sw-skeleton />
                        <sw-skeleton />
                    </template>

                    <router-view
                        v-else
                        :is-loading="isLoading"
                        :search-term="term"
                    />
                    {% endblock %}
                </template>
            </sw-tabs>
            {% endblock %}
        </sw-card-view>

        {% block sw_flow_list_index_upload_modal %}
        <sw-flow-upload-modal
            v-if="showUploadModal"
            @modal-upload="onUploadFlowTemplateFile"
            @modal-close="onCloseUploadModal"
        />
        {% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
