<div class="sw-settings-import-export-importer">
    <h3>
        <strong>{{  $tc('sw-settings-import-export.importer.uploadCsvLabel')  }}</strong>
    </h3>
    <p>
        <span v-html="$tc('sw-settings-import-export.importer.warningBlock')"></span>
    </p>

    {#
        TODO: Die Komponente müsste noch ausgearbeitet werden. Sie ist aktuell nur sehr rudimentär.
         Bitte auch hier gegen testen: "sw-order-document-settings-modal". Dort wird sie auch verwendet.
         Folgende Features sollten noch hinzu kommen:
         - Upload from URL
         - Drag & Drop Support
         - Anpassung wie im Screendesign (Keine Datei hochgeladen, Vorschau der Datei)
         - Restriktionen von Dateiendungen (via Prop)
    #}
    <sw-file-input
        v-model="importFile"
        :allowedMimeTypes="['text/csv']">
    </sw-file-input>

    <h3>
        <strong>{{  $tc('sw-settings-import-export.importer.selectProfileLabel')  }}</strong>
    </h3>

    <sw-entity-single-select
        :disabled="isLoading"
        :label="$tc('sw-settings-import-export.importer.profileLabel')"
        entity="import_export_profile"
        v-model="selectedProfile"
        required>
    </sw-entity-single-select>

    <sw-settings-import-export-progress
        activityType="import"
        :offset="this.progressOffset"
        :total="this.progressTotal"
        :logEntry="this.progressLogEntry"
        :state="this.progressState"
        :isLoading="isLoading"
        :disableButton="disableImporting"
        @process-start="onStartProcess">
    </sw-settings-import-export-progress>
</div>
