.sw-label-variant(@color-background, @color-text, @color-border) {
    background-color: @color-background;
    color: @color-text;

    .sw-label__dismiss {
        color: @color-text;
    }

    &.sw-label--ghost {
        background: transparent;
        border-color: @color-border;
    }
}