<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_card_base %}
<sw-meteor-card
    class="sw-extension-card-base"
    :class="extensionCardClasses"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_loader %}
    <sw-loader v-if="isLoading" />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_activation_switch %}
    <div class="sw-extension-card-base__switch">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_activation_switch_switch %}
        <sw-switch-field
            v-model="isActive"
            v-tooltip="{
                showDelay: 300,
                message: $tc('sw-extension-store.component.sw-extension-card-base.allowDisableTooltip'),
                disabled: allowDisable
            }"
            :disabled="!isInstalled || (isActive && !allowDisable)"
        />
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_icon %}
    <sw-extension-icon :src="image" />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_info %}
    <div class="sw-extension-card-base__info">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_info_content %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_info_head %}
        <section>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_card_base_info_name %}
            <span class="sw-extension-card-base__info-name">
                {{ extension.label }}
            </span>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_card_base_info_inactive_label %}
            <span
                v-if="isInstalled && !extension.active"
                class="sw-extension-card-base__info-inactive"
            >
                {{ $tc('sw-extension-store.component.sw-extension-card-base.inactiveLabel') }}
            </span>
            {% endblock %}
        </section>
        {% endblock %}
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_meta_info %}
    <div class="sw-extension-card-base__meta-info">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_meta_info_version %}
        <section>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_card_base_meta_info_version_label %}
            <span
                v-if="extension.version"
                class="sw-extension-card-base__meta-info-version"
            >
                {{ $tc('sw-extension.my-extensions.listing.version') }}: {{ extension.version }}
            </span>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_extension_card_base_meta_info_version_update %}
            <span v-if="isUpdateable">
                <a
                    href="#"
                    @click.prevent="updateExtension(false)"
                >
                    {{ $tc('sw-extension.my-extensions.listing.update') }}
                </a>
            </span>
            {% endblock %}
        </section>
        {% endblock %}
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_meta_info_content %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_meta_date %}
        <span v-if="isInstalled">
            {{ $tc('sw-extension-store.component.sw-extension-card-base.installedLabel') }}
            {{ dateFilter(extension.installedAt.date, { month: 'numeric', year: 'numeric', hour: undefined, minute: undefined }) }}
        </span>

        <span v-else-if="extension.storeLicense">
            {{ $tc('sw-extension-store.component.sw-extension-card-base.purchasedLabel') }}
            {{ dateFilter(extension.storeLicense.creationDate, { month: 'numeric', year: 'numeric', hour: undefined, minute: undefined }) }}
        </span>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_main_action %}
    <div class="sw-extension-card-base__main-action">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_main_action_content %}
        <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
        <span
            v-if="!isInstalled"
            class="sw-extension-card-base__open-extension"
            @click="openPermissionsModalForInstall"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.installExtensionLabel') }}
        </span>
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_context_menu %}
    <sw-context-button
        class="sw-extension-card-base__context-menu"
        :menu-width="180"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_actions %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_settings %}
        <sw-context-menu-item
            v-if="isInstalled && extension.configurable"
            :router-link="{ name: 'sw.extension.config', params: { namespace: extension.name } }"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.config') }}
        </sw-context-menu-item>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_theme_settings %}
        <sw-context-menu-item
            v-if="openLinkExists && extension.active"
            :disabled="!openLinkExists"
            :router-link="link"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.openExtension') }}
        </sw-context-menu-item>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_privacy_safety %}
        <sw-context-menu-item
            v-if="privacyPolicyLink"
            @click="openPrivacyAndSafety"
        >
            <span class="sw-extension-card-base__context-menu-privacy-link">
                {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.privacyAndSafetyLabel') }}
                <sw-icon
                    name="regular-external-link-s"
                    size="10px"
                />
            </span>
        </sw-context-menu-item>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_privacy_extensions %}
        <sw-context-menu-item
            v-if="isInstalled && extension.privacyPolicyExtension"
            @click="openPrivacyModal"
        >

            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.policyExtensions') }}
        </sw-context-menu-item>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_permissions %}
        <sw-context-menu-item
            v-if="isInstalled && permissions"
            @click="openPermissionsModal"
        >

            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.permissions') }}
        </sw-context-menu-item>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_lifecycle_actions %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_card_base_context_menu_remove_extension %}
        <sw-context-menu-item
            v-if="isUpdateable"
            @click="updateExtension(false)"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.updateLabel', 0, { version: extension.latestVersion }) }}
        </sw-context-menu-item>

        <sw-context-menu-item
            v-if="extension.storeLicense && extension.storeLicense.variant === 'rent' && extension.storeLicense.expirationDate === null"
            class="sw-extension-card-base__cancel-and-remove-link"
            variant="danger"
            @click="openRemovalModal"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.cancelAndRemoveLabel') }}
        </sw-context-menu-item>

        <sw-context-menu-item
            v-else-if="isRemovable"
            class="sw-extension-card-base__remove-link"
            variant="danger"
            @click="openRemovalModal"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.removeLabel') }}
        </sw-context-menu-item>

        <sw-context-menu-item
            v-if="isUninstallable"
            variant="danger"
            @click="openUninstallModal"
        >
            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.uninstallLabel') }}
        </sw-context-menu-item>
        {% endblock %}
        {% endblock %}
        {% endblock %}
    </sw-context-button>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_modals %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_uninstall_modal %}
    <sw-extension-uninstall-modal
        v-if="showUninstallModal"
        :extension-name="extension.label"
        :is-licensed="extension.storeLicense !== null"
        :is-loading="isLoading"
        @modal-close="closeUninstallModal"
        @uninstall-extension="closeModalAndUninstallExtension"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_removal_modal %}
    <sw-extension-removal-modal
        v-if="showRemovalModal"
        :extension-name="extension.label"
        :is-licensed="extension.storeLicense !== null && extension.storeLicense.variant === 'rent'"
        :is-loading="isLoading"
        @modal-close="closeRemovalModal"
        @remove-extension="closeModalAndRemoveExtension"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_permissions_modal %}
    <sw-extension-permissions-modal
        v-if="showPermissionsModal"
        :extension-label="extension.label"
        :permissions="permissions"
        :domains="extension.domains"
        :action-label="permissionModalActionLabel"
        @modal-close="closePermissionsModal"
        @close-with-action="closePermissionsModalAndInstallExtension"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_privacy_modal %}
    <sw-extension-privacy-policy-extensions-modal
        v-if="showPrivacyModal"
        :extension-name="extension.label"
        :privacy-policy-extension="extension.privacyPolicyExtension"
        @modal-close="closePrivacyModal"
    />
    {% endblock %}
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_card_base_consent_affirmation_modal %}
    <sw-extension-permissions-modal
        v-if="showConsentAffirmationModal"
        :title="consentAffirmationModalTitle"
        :extension-label="extension.label"
        :permissions="consentAffirmationDeltas.permissions"
        :domains="consentAffirmationDeltas.domains"
        :action-label="consentAffirmationModalActionLabel"
        :close-label="consentAffirmationModalCloseLabel"
        :description="consentAffirmationModalDescription"
        @modal-close="closeConsentAffirmationModal"
        @close-with-action="closeConsentAffirmationModalAndUpdateExtension"
    />
    {% endblock %}
</sw-meteor-card>
{% endblock %}
