{% block sw_extension_card_base %}
    <sw-meteor-card class="sw-extension-card-base" :class="extensionCardClasses">
        {% block sw_extension_card_base_loader %}
            <sw-loader v-if="isLoading"></sw-loader>
        {% endblock %}

        {% block sw_extension_card_base_activation_switch %}
            <div class="sw-extension-card-base__switch">
                {% block sw_extension_card_base_activation_switch_switch %}
                    <sw-switch-field
                        :disabled="!isInstalled"
                        v-model="isActive">
                    </sw-switch-field>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_extension_card_base_icon %}
            <img class="sw-extension-card-base__icon" :src="image">
        {% endblock %}

        {% block sw_extension_card_base_info %}
            <div class="sw-extension-card-base__info">
                {% block sw_extension_card_base_info_content %}
                    {% block sw_extension_card_base_info_head %}
                        <section>
                            {% block sw_extension_card_base_info_name %}
                                <span class="sw-extension-card-base__info-name">
                                    {{ label }}
                                </span>
                            {% endblock %}

                            {% block sw_extension_card_base_info_inactive_label %}
                                <span v-if="isInstalled && !extension.active" class="sw-extension-card-base__info-inactive">
                                    {{ $tc('sw-extension-store.component.sw-extension-card-base.inactiveLabel') }}
                                </span>
                            {% endblock %}
                        </section>
                    {% endblock %}

                    {% block sw_extension_card_base_info_description %}
                        <section class="sw-extension-card-base__info-description">
                            {{ description }}
                        </section>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_extension_card_base_meta_info %}
            <div class="sw-extension-card-base__meta-info">
                {% block sw_extension_card_base_meta_info_content %}
                    {% block sw_extension_card_base_meta_date %}
                        <span v-if="isInstalled">
                            {{ $tc('sw-extension-store.component.sw-extension-card-base.installedLabel') }}
                            {{ dateFilter(extension.installedAt.date, { year: 'numeric' }) }}
                        </span>

                        <span v-else-if="license">
                            {{ $tc('sw-extension-store.component.sw-extension-card-base.purchasedLabel') }}
                            {{ dateFilter(license.creationDate, { year: 'numeric' }) }}
                        </span>
                    {% endblock %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_extension_card_base_main_action %}
            <div class="sw-extension-card-base__main-action">
                {% block sw_extension_card_base_main_action_content %}
                    <span v-if="!isInstalled" class="sw-extension-card-base__open-extension" @click="openPermissionsModalForInstall">
                        {{ $tc('sw-extension-store.component.sw-extension-card-base.installExtensionLabel') }}
                    </span>

                    <span v-else-if="canBeOpened" class="sw-extension-card-base__open-extension" @click="openExtension">
                        {{ $tc('sw-extension-store.component.sw-extension-card-base.openExtensionLabel') }}
                    </span>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_extension_card_base_context_menu %}
            <sw-context-button class="sw-extension-card-base__context-menu" :menuWidth="180">
                {% block sw_extension_card_base_context_menu_actions %}
                    {% block sw_extension_card_base_context_menu_settings %}
                        <sw-context-menu-item
                            v-if="isInstalled && extension.configurable"
                            :routerLink="{ name: 'sw.extension.config', params: { namespace: extension.name } }">

                            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.config') }}
                        </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_extension_card_base_context_menu_privacy_safety %}
                        <sw-context-menu-item v-if="privacyPolicyLink" @click="openPrivacyAndSafety">
                            <span class="sw-extension-card-base__context-menu-privacy-link">
                                {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.privacyAndSafetyLabel') }}
                                <sw-icon name="small-arrow-small-external" size="10px"></sw-icon>
                            </span>
                        </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_extension_card_base_context_menu_privacy_extensions %}
                        <sw-context-menu-item
                            v-if="isInstalled && extension.privacyPolicyExtensions"
                            @click="openPrivacyModal">

                            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.policyExtensions') }}
                        </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_extension_card_base_context_menu_permissions %}
                        <sw-context-menu-item
                            v-if="isInstalled && permissions"
                            @click="openPermissionsModal">

                            {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.permissions') }}
                        </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_extension_card_base_context_menu_lifecycle_actions %}
                        {% block sw_extension_card_base_context_menu_remove_extension %}
                            <sw-context-menu-item v-if="isUpdateable" @click="updateExtension">
                                {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.updateLabel', 0, { version: extension.latestVersion }) }}
                            </sw-context-menu-item>

                            <sw-context-menu-item v-if="license && license.expirationDate === null" variant="danger" @click="openRemovalModal">
                                {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.cancelAndRemoveLabel') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item v-else-if="isRemovable" variant="danger" @click="openRemovalModal">
                                {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.removeLabel') }}
                            </sw-context-menu-item>

                            <sw-context-menu-item v-if="isUninstallable" variant="danger" @click="openUninstallModal">
                                {{ $tc('sw-extension-store.component.sw-extension-card-base.contextMenu.uninstallLabel') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    {% endblock %}
                {% endblock %}
            </sw-context-button>
        {% endblock %}

        {% block sw_extension_card_base_modals %}
            {% block sw_extension_card_base_uninstall_modal %}
                <sw-extension-uninstall-modal
                    v-if="showUninstallModal"
                    :extensionName="label"
                    :isLicensed="license !== null"
                    :isLoading="isLoading"
                    @modal-close="closeUninstallModal"
                    @uninstall-extension="closeModalAndUninstallExtension">
                </sw-extension-uninstall-modal>
            {% endblock %}

            {% block sw_extension_card_base_removal_modal %}
                <sw-extension-removal-modal
                    v-if="showRemovalModal"
                    :extensionName="label"
                    :isLicensed="license !== null"
                    :isLoading="isLoading"
                    @modal-close="closeRemovalModal"
                    @remove-extension="closeModalAndRemoveExtension">
                </sw-extension-removal-modal>
            {% endblock %}

            {% block sw_extension_card_base_permissions_modal %}
                <sw-extension-permissions-modal
                    v-if="showPermissionsModal"
                    :extensionLabel="label"
                    :permissions="permissions"
                    :actionLabel="permissionModalActionLabel"
                    @modal-close="closePermissionsModal"
                    @close-with-action="closePermissionsModalAndInstallExtension">
                </sw-extension-permissions-modal>
            {% endblock %}

            {% block sw_extension_card_base_privacy_modal %}
                <sw-extension-privacy-policy-extensions-modal
                    v-if="showPrivacyModal"
                    :extensionName="label"
                    :privacyPolicyExtensions="extension.privacyPolicyExtensions"
                    @modal-close="closePrivacyModal">
                </sw-extension-privacy-policy-extensions-modal>
            {% endblock %}
        {% endblock %}
    </sw-meteor-card>
{% endblock %}
