<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bulk_edit_save_modal_error %}
<div class="sw-bulk-edit-save-modal-error">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_save_modal_error_icon %}
    <sw-label
        class="sw-bulk-edit-save-modal__icon"
        appearance="pill"
        variant="danger"
    >
        <sw-icon
            name="regular-times-hexagon"
            size="30px"
        />
    </sw-label>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_save_modal_error_content %}
    <p class="sw-bulk-edit-save-modal__help-text">
        {{ $tc('sw-bulk-edit.modal.error.description') }}
    </p>
    {% endblock %}

</div>
{% endblock %}
