{% block sw_cms_layout_modal %}
<sw-modal
    class="sw-cms-layout-modal"
    :title="$tc('sw-cms.components.cmsLayoutModal.modalTitle')"
    @modal-close="closeModal"
>

    {% block sw_cms_layout_modal_header %}
    <div class="sw-cms-layout-modal__header">

        {% block sw_cms_layout_modal_header_title %}
        <div class="sw-cms-layout-modal__header-title">
            {{ headline ? headline : $tc('sw-cms.components.cmsLayoutModal.headline') }}
        </div>
        {% endblock %}

        {% block sw_cms_layout_modal_header_search %}
        <sw-simple-search-field
            class="sw-cms-layout-modal__header-search"
            :placeholder="$tc('sw-cms.general.placeholderSearchBar')"
            @search-term-change="onSearch"
        />
        {% endblock %}

    </div>
    {% endblock %}

    {% block sw_cms_layout_modal_content %}
    <div class="sw-cms-layout-modal__content">

        {% block sw_cms_layout_modal_loader %}
        <sw-loader v-if="isLoading" />
        {% endblock %}

        {% block sw_cms_layout_modal_content_container %}
        <sw-container
            v-else
            columns="repeat(auto-fill, minmax(250px, 1fr))"
            gap="24px"
        >

            {% block sw_cms_layout_modal_content_listing %}
            <div
                v-for="(cmsPage, index) in pages"
                :key="index"
                class="sw-cms-layout-modal__content-item"
                :class="[{ 'is--selected': cmsPage.id === selected }, 'sw-cms-layout-modal__content-item--' + index]"
            >
                {% block sw_cms_layout_modal_content_listing_item %}

                {% block sw_cms_layout_modal_content_listing_item_checkbox %}
                {# @deprecated tag:v6.5.0 cmsPage.id is redundant and should be removed as an argument #}
                <sw-checkbox-field
                    :value="cmsPage.id === selected"
                    type="checkbox"
                    @change="onSelection(cmsPage.id, cmsPage)"
                />
                {% endblock %}

                {% block sw_cms_layout_modal_content_listing_item_inner %}
                {# @deprecated tag:v6.5.0 cmsPage.id is redundant and should be removed as an argument #}
                <sw-cms-list-item
                    :key="cmsPage.id"
                    :page="cmsPage"
                    @item-click="selectItem(cmsPage.id, cmsPage)"
                />
                {% endblock %}

                {% endblock %}
            </div>
            {% endblock %}
        </sw-container>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_cms_layout_modal_footer %}
    <template slot="modal-footer">
        <sw-button @click="closeModal">
            {{ $tc('sw-cms.components.cmsLayoutModal.actionCancel') }}
        </sw-button>
        <sw-button
            variant="primary"
            @click="selectLayout"
        >
            {{ $tc('sw-cms.components.cmsLayoutModal.actionConfirm') }}
        </sw-button>
    </template>
    {% endblock %}

</sw-modal>
{% endblock %}
