.sw-product-feature-set__toolbar {
    padding: var(--scale-size-24) var(--scale-size-32);
    background-color: var(--color-background-secondary-default);
    border-bottom: var(--scale-size-1) solid var(--color-border-primary-default);
}
