@import "~scss/variables";
$sw-field-color-secure: $color-emerald;

.sw-field {
    .sw-field__url-input__prefix {
        cursor: pointer;
        &.is--ssl {
            color: $sw-field-color-secure;
        }
    }
}
