@import "~scss/variables";
$sw-field-color-secure: $color-emerald;

.sw-field {
    .sw-field__url-input__prefix {
        display: inline-flex;
        cursor: pointer;
        user-select: none;

        &.is--ssl {
            color: $sw-field-color-secure;

            #{$dark-theme-class} & { 
                color: lighten($sw-field-color-secure, $dark-theme-contrast-factor);
            }
        }

        .sw-icon {
            margin-right: 4px;
        }
    }
}
