{% block page_checkout_confirm_payment_inner %}
    <div class="card checkout-card">
        <div class="card-body">
            {% block page_checkout_confirm_payment_title %}
                <div class="card-title">
                    {{ "checkout.confirmPaymentHeader"|trans }}
                </div>
            {% endblock %}

            {% block page_checkout_confirm_payment_form %}
                <form id="confirmPaymentForm"
                      name="confirmPaymentForm"
                      action="{{ path('frontend.checkout.configure') }}"
                      method="post"
                      data-form-ajax-submit="true"
                      data-form-ajax-submit-options='{
                            "replaceSelectors": [
                                ".js-reload-on-confirm-change",
                                ".flashbags"
                            ],
                            "submitOnChange": [
                                "[name=paymentMethodId]"
                            ]
                      }'>
                    {% block page_checkout_confirm_payment_form_redirect %}
                        <input type="hidden" name="redirectTo" value="{{ 'frontend.checkout.confirm.page' }}">
                    {% endblock %}

                    {% block page_checkout_confirm_payment_form_fields %}
                        {% sw_include '@Storefront/component/payment/payment-fields.html.twig' with {
                            'defaultPaymentMethodId': context.paymentMethod.id,
                        } %}
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
