{% sw_extends '@Storefront/page/checkout/_page.html.twig' %}

{% block base_header %}
    {% sw_include '@Storefront/layout/header/header-minimal.html.twig' %}
{% endblock %}

{% block base_navigation %}{% endblock %}

{% block page_checkout_main_content %}
    {% sw_include '@Storefront/page/checkout/confirm/confirm-page.html.twig' %}
{% endblock %}

{% block page_checkout_aside_actions %}
    <div class="checkout-aside-action">
        <form id="confirmOrderForm"
              data-form-submit-loader="true"
              action="{{ path('frontend.checkout.finish.order') }}"
              method="post">
            {% block page_checkout_confirm_form_submit %}
                <button id="confirmFormSubmit"
                        class="btn btn-primary btn-block btn-lg"
                        form="confirmOrderForm"
                        type="submit">
                    {{ "checkout.confirmSubmit"|trans }}
                </button>
            {% endblock %}
        </form>
    </div>
{% endblock %}

{% block base_footer %}
    {% sw_include '@Storefront/layout/footer/footer-minimal.html.twig' %}
{% endblock %}
