<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_order_saveable_field %}
<sw-container
    v-if="isEditing"
    columns="1fr 20px 25px"
    gap="0px 10px"
    class="sw-order-saveable-field"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_saveable_field_input %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block  sw_order_saveable_field_input_field%}
    <sw-field ref="edit-field"
        :type="type"
        :value="value"
        :placeholder="placeholder">
    </sw-field>
    {% endblock %}
    {% endblock %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_saveable_field_actions %}
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_saveable_field_cancel_button %}
    <sw-button
        size="x-small"
        square
        @click="onCancelButtonClicked"
    >
        <sw-icon
            name="regular-times-xs"
            small
        />
    </sw-button>
    {%  endblock %}
    {%  block sw_order_saveable_field_save_button %}
    <sw-button
        size="x-small"
        variant="primary"
        square
        @click="onSaveButtonClicked"
    >
        <sw-icon
            name="regular-checkmark-xxs"
            small
        />
    </sw-button>
    {%  endblock %}
    {% endblock %}
</sw-container>
<!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
<div
    v-else
    @click="onClick"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_order_saveable_field_content %}
    <slot></slot>
    {% endblock %}
</div>
{% endblock %}
