@import "~scss/variables";

$sw-field--switch-color-border: $color-steam-cloud;
$sw-field--switch-color-background: $color-white;
$sw-field--switch-color-text: $color-gutenberg;
$sw-field--switch-color-focus: $color-shopware-blue;
$sw-field--switch-color-error: $color-crimson;

.sw-field--switch {
    margin-top: 24px;
    margin-bottom: 22px;

    &.sw-field--switch-no-margin-top {
        margin-top: 0;
    }

    .sw-field {
        margin-bottom: 0;
    }

    .sw-field__label {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .sw-field--switch__content {
        display: grid;
        grid-template-columns: 24px 1fr auto;
        align-items: center;
        grid-column-gap: 10px;
        background: $sw-field--switch-color-background;
        color: $sw-field--switch-color-text;
    }

    &.sw-field--switch-bordered .sw-field--switch__content {
        border-radius: 4px;
        border: 1px solid $sw-field--switch-color-border;
        padding: 12px 16px;
    }

    .sw-field--switch__input {
        position: relative;
        padding-top: 3px;
        width: 24px;
        height: 22px;

        input[type="checkbox"] {
            opacity: 0;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 0 none;
            background: none;
            -webkit-appearance: none;
            cursor: pointer;
            z-index: 2;

            &:disabled {
                cursor: auto;
            }

            &:disabled ~ .sw-field__switch-state {
                background: $color-light-gray;

                .sw-field__switch-state-knob {
                    background: $sw-field--switch-color-border;
                }
            }

            &:checked ~ .sw-field__switch-state {
                background: $sw-field--switch-color-focus;

                .sw-field__switch-state-knob {
                    left: 10px;
                }
            }

            &:checked:disabled ~ .sw-field__switch-state {
                background: $color-light-gray;
            }
        }

        .sw-field__switch-state {
            position: absolute;
            width: 100%;
            height: 16px;
            z-index: 1;
            text-align: center;
            background: $sw-field--switch-color-border;
            border-radius: 8px;

            .sw-field__switch-state-knob {
                transition: all 0.3s ease-in-out;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 2px;
                left: 2px;
                background: $sw-field--switch-color-background;
                border-radius: 7px;
            }
        }
    }

    &.sw-field--small.sw-field--switch-bordered {
        .sw-field--switch__content {
            padding: 4px 16px;
        }
    }

    &.sw-field--medium.sw-field--switch-bordered {
        .sw-field--switch__content {
            padding: 8px 16px;
        }
    }

    &.has--error {
        .sw-field__switch-state {
            background: $sw-field--switch-color-error;
        }

        input[type="checkbox"] {
            &:disabled ~ .sw-field__switch-state {
                background: $sw-field--switch-color-error;

                .sw-field__switch-state-knob {
                    background: darken($sw-field--switch-color-error, 5%);
                }
            }

            &:checked ~ .sw-field__switch-state {
                background: $sw-field--switch-color-error;
            }

            &:checked:disabled ~ .sw-field__switch-state {
                background: $sw-field--switch-color-error;
            }
        }
    }

    &.is--inherited {
        input[type="checkbox"] {
            &:checked ~ .sw-field__switch-state {
                background: $sw-field--switch-color-border;
            }
        }
    }
}
