<div class="sw-field sw-field--switch" :class="switchFieldClasses">
    <div class="sw-field--switch__content">
        <div class="sw-field--switch__input">
            <input type="checkbox"
                   :id="formFieldName || identification"
                   :name="formFieldName || identification"
                   :checked="currentValue"
                   :disabled="disabled"
                   @change="onChange">
            <div class="sw-field__switch-state">
                <div class="sw-field__switch-state-knob"></div>
            </div>
        </div>

        <label v-if="label" class="sw-field--switch__label" :for="formFieldName || identification">
            {{ label }}{{ this.inherited ? '*' : '' }}
        </label>

        <span>
            <button v-if="inherited" class="sw-field__button-restore">{{ $tc('global.sw-field.buttonRestoreInheritance') }}</button>
            <sw-help-text v-if="helpText" :text="helpText"></sw-help-text>
        </span>
    </div>
</div>