{% block sw_media_grid %}
<div class="sw-media-grid">
    <slot name="content">
        {% block sw_media_grid_slot_content %}
            <div class="sw-media-grid-content"
                 :style="mediaColumnDefinitions"
                 @click.self="clearSelection">
                <template v-for="mediaItem in mediaItems">
                    {% block sw_media_grid_content_cell %}
                    <div class="sw-media-grid-content__cell">
                        <sw-media-grid-item
                                :key="mediaItem.id"
                                :showInline="showItemsInline"
                                :selected="isItemSelected(mediaItem)"
                                :mediaItem="mediaItem"
                                :showCheckbox="showCheckboxes"
                                @media-item-add-to-selection="addToSelection"
                                @media-item-remove-from-selection="removeFromSelection">
                        </sw-media-grid-item>
                    </div>
                    {% endblock %}
                </template>
            </div>
        {% endblock %}
    </slot>
</div>
{% endblock %}