{% block sw_media_grid %}
    <div class="sw-media-grid" @mousedown.left="onMouseDown" >
        <slot name="content">
            {% block sw_media_grid_slot_content %}
                <div class="sw-media-grid__content"
                     :style="mediaColumnDefinitions">
                    {% block sw_media_grid_content_cell %}
                        <div class="sw-media-grid__content-cell"
                             v-for="item in items"
                             :key="item.key" >
                            <component
                                :is="previewComponent"
                                :selected="isItemSelected(item)"
                                :item="item"
                                :containerOptions="containerOptions"
                                @sw-media-grid-item-selection-add="handleSelection"
                                @sw-media-grid-item-clicked="mediaItemClicked"
                                @sw-media-grid-item-play="mediaItemPlayed"
                                @sw-media-grid-item-selection-remove="removeFromSelection"
                                v-on="$listeners"
                                :showContextMenuButton="showContextMenuButton">
                            </component>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </slot>
    </div>
{% endblock %}