@import "~less/variables";

@media-grid-cell-color-highlight: @color-cadet-blue;

.media-grid {
    width: 100%;
    justify-self: stretch;
    overflow-x: hidden;
    overflow-y: auto;

    .media-grid__content {
        display: grid;
        justify-items: stretch;
        justify-content: space-evenly;
        grid-auto-flow: row;

        .media-grid-content__cell:hover {
            background-color: @media-grid-cell-color-highlight;
            border-radius: 5px;
        }
    }
}