@import "~less/variables";

@media-grid-cell-color-highlight:       @color-cadet-blue;
@media-grid-border-radius-content-cell: @border-radius-default;

.sw-media-grid {
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;

    .sw-media-grid__content {
        display: grid;
    }

    &.is--grid {
        .sw-media-grid__content {
            grid-column-gap: 15px;
            grid-row-gap: 10px;
        }

        .sw-media-grid__content-cell:hover {
            background-color: @media-grid-cell-color-highlight;
            border-radius: @media-grid-border-radius-content-cell;
        }
    }
}