@import "~less/variables";

@sw-media-grid-cell-color-highlight: @color-cadet-blue;

.sw-media-grid {
    width: 100%;
    justify-self: stretch;
    overflow-x: hidden;
    overflow-y: auto;

    .sw-media-grid-content {
        display: grid;
        grid-gap: 10px 10px;
        justify-items: stretch;
        justify-content: center;
        grid-auto-flow: row;

        .sw-media-grid-content__cell:hover {
            background-color: @sw-media-grid-cell-color-highlight;
            border-radius: 5px;
        }
    }
}