<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_bulk_edit_order_documents %}
<div class="sw-bulk-edit-order-documents">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_bulk_edit_order_documents_container %}
    <sw-container
        columns="1fr"
        rows="50px"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_order_documents_type %}
        <sw-checkbox-field
            v-for="document in documentTypes"
            :key="document.id"
            v-model="value.documentType[document.technicalName]"
            :label="document.name"
            :disabled="documents?.disabled"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_bulk_edit_order_documents_skip_sent_documents %}
        <sw-switch-field
            v-model="value.skipSentDocuments"
            :label="$tc('sw-bulk-edit.order.status.documents.skipSentDocuments')"
            :disabled="documents?.disabled"
        />
        {% endblock %}
    </sw-container>
    {% endblock %}
</div>
{% endblock %}
