{% block sw_first_run_wizard_demodata %}
    <div>
        <img class="sw-first-run-wizard__demodata-image" :src="'/administration/static/img/first-run-wizard/demodata.svg' | asset">
        <h5>Install demodata blahh blah bla</h5>
        <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
        </p>
    </div>
{% endblock %}
