<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_mailer_smtp %}
<div class="sw-settings-mailer-smtp">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_host %}
    <sw-field
        v-model="mailerSettings['core.mailerSettings.host']"
        type="text"
        :label="$tc('sw-settings-mailer.card-smtp.host')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.host-placeholder')"
        :error="hostError"
        required
        @change="$emit('host-changed')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_port %}
    <sw-field
        v-model="mailerSettings['core.mailerSettings.port']"
        type="number"
        :max="65536"
        :label="$tc('sw-settings-mailer.card-smtp.port')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.port-placeholder')"
        :error="portError"
        required
        @change="$emit('port-changed')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_username %}
    <sw-field
        v-model="mailerSettings['core.mailerSettings.username']"
        type="text"
        :label="$tc('sw-settings-mailer.card-smtp.username')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.username-placeholder')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_password %}
    <sw-field
        v-model="mailerSettings['core.mailerSettings.password']"
        type="password"
        :label="$tc('sw-settings-mailer.card-smtp.password')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.password-placeholder')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_encryption %}
    <sw-single-select
        v-model="mailerSettings['core.mailerSettings.encryption']"
        :label="$tc('sw-settings-mailer.card-smtp.encryption')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.encryption-placeholder')"
        :options="encryptionOptions"
        show-clearable-button
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_sender_address %}
    <sw-field
        v-model="mailerSettings['core.mailerSettings.senderAddress']"
        type="text"
        :label="$tc('sw-settings-mailer.card-smtp.sender-address')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.sender-address-placeholder')"
        validation="email"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_delivery_address %}
    <sw-field
        v-model="mailerSettings['core.mailerSettings.deliveryAddress']"
        type="text"
        :label="$tc('sw-settings-mailer.card-smtp.delivery-address')"
        :placeholder="$tc('sw-settings-mailer.card-smtp.delivery-address-placeholder')"
        :help-text="$tc('sw-settings-mailer.card-smtp.delivery-address-helptext')"
        validation="email"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_mailer_smtp_disable_delivery %}
    <sw-switch-field
        v-model="mailerSettings['core.mailerSettings.disableDelivery']"
        :label="$tc('sw-settings-mailer.card-smtp.disable-delivery')"
    />
    {% endblock %}
</div>
{% endblock %}
