@sw-customer-detail-addresses-card-width: 1330px;

.sw-customer-detail-addresses {
    .sw-customer-detail-addresses__toolbar {
        margin-bottom: 30px;
    }

    .sw-card {
        max-width: @sw-customer-detail-addresses-card-width;
    }

    .sw-customer-detail-addresses__confirm-delete-text {
        margin-bottom: 10px;
    }

    .sw-field__radio-option label {
        display: none;
    }
}