.sw-customer-detail-addresses {
    .sw-customer-detail-addresses__toolbar {
        margin: 20px;
    }

    .sw-customer-detail-addresses__confirm-delete-text {
        margin-bottom: 10px;
    }
}

.sw-customer-detail-addresses__confirm-delete-address {
    margin: 15px;
}