{% block sw_cms_element_product_slider_preview %}
    <div class="sw-cms-preview-category-navigation">
        <sw-cms-el-category-navigation></sw-cms-el-category-navigation>
    </div>
{% endblock %}
