.sw-cms-el-preview-category-navigation {
    align-items: center;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-gap: 5px;
    height: 100%;
    padding: 5px;

    .sw-cms-preview-category-navigation__category-box {
        border-color: #0c5460;
        border-radius: 2px;
    }
}
