<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_color_badge %}
<span
    class="sw-color-badge"
    :class="variantClass"
    v-bind="$attrs"
    :style="colorStyle"
>
    <slot>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_color_badfge_slot_default %}{% endblock %}
    </slot>
</span>
{% endblock %}
