{% block component_privacy_notice %}
    <p class="form-text privacy-notice">
        {% block component_privacy_label %}
            <label>
                <strong>{{ "general.privacyTitle"|trans }}</strong><br />
                {#TODO: NEXT-2757 - configured cms id needed#}
                {{ "general.privacyNotice"|trans({
                    '%tosUrl%': path('frontend.cms.page',{ id: shopware.config.cms.tosCmsPageId })
                })|raw }}
            </label>
        {% endblock %}
    </p>
{% endblock %}
