<div class="js-pseudo-modal-template">
    <div class="modal fade"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content">
                <div class="modal-header only-close">
                    <button type="button"
                            class="modal-close close"
                            data-dismiss="modal"
                            aria-label="Close">
                        {% block product_detail_zoom_modal_close_button_content %}
                            <span aria-hidden="true">
                                {% sw_icon 'x' style { 'size': 'sm' } %}
                            </span>
                        {% endblock %}
                    </button>
                </div>
                <div class="modal-body js-pseudo-modal-template-content-element">
                </div>
            </div>
        </div>
    </div>
</div>
