{% set config = { sorting: current } %}

<div class="sorting" data-sorting="true" data-sorting-options='{{ config|json_encode }}'>
    <select class="sorting custom-select">
        {% for sorting in sortings %}
            <option value="{{ sorting.key }}" {% if sorting.key == current %}selected{% endif %}>{{ sorting.snippet|trans }}</option>
        {% endfor %}
    </select>
</div>