.sw-plugin-list {
    height: 100%;

    .top-actions {
        max-width: 800px;
        margin: 0 auto 40px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
