@use "sass:map";

$sw-grid-breakpoints: (
    xs: (max: 575.98px),
    sm: (min: 576px, max: 767.98px),
    md: (min: 768px, max: 991.98px),
    lg: (min: 992px, max: 1199.98px),
    xl: (min: 1200px, max: 1399.98px),
    xxl: (min: 1400px),
);

@mixin sw-breakpoint-only($breakpoint) {
    $config: map.get($sw-grid-breakpoints, $breakpoint);
    $min: map.get($config, min);
    $max: map.get($config, max);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $min != null {
        @media (min-width: $min) {
            @content;
        }
    } @else if $max != null {
        @media (max-width: $max) {
            @content;
        }
    }
}

.grid-column {
    min-width: 0;

    @for $i from 1 through 12 {
        &.span-#{$i} {
            grid-column: span #{$i};
        }
    }

    @each $breakpoint, $value in $sw-grid-breakpoints {
        @include sw-breakpoint-only($breakpoint) {
            @for $i from 1 through 12 {
                &.span-#{$breakpoint}-#{$i} {
                    grid-column: span #{$i};
                }
            }
        }
    }

    // TODO: This should be generic later and not bound to the grid-column, done on "slot" level (layout options)
    @each $breakpoint, $value in $sw-grid-breakpoints {
        @include sw-breakpoint-only($breakpoint) {
            &.d-#{$breakpoint}-hidden {
                display: none !important;
            }
        }
    }

    &.align-start {
        align-self: start;
    }

    &.align-end {
        align-self: end;
    }

    &.align-center {
        align-self: center;
    }

    &.align-stretch {
        align-self: stretch;
    }

    &.justify-start {
        justify-self: start;
    }

    &.justify-end {
        justify-self: end;
    }

    &.justify-center {
        justify-self: center;
    }

    &.justify-stretch {
        justify-self: stretch;
    }
}
