<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_category_layout_card %}
<sw-card
    class="sw-category-layout-card"
    position-identifier="sw-category-layout"
    :title="$tc('sw-category.base.cms.title')"
    :is-loading="isLoading"
>
    <div class="sw-category-layout-card__base-layout">

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_detail_layout_preview %}
        <div
            class="sw-category-layout-card__preview"
            role="button"
            tabindex="0"
            @click="openLayoutModal"
            @keydown.enter="openLayoutModal"
        >
            <sw-cms-list-item
                :page="cmsPage"
                :disabled="!acl.can('category.editor')"
                active
            />
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_detail_layout_modal %}
        <sw-cms-layout-modal
            v-if="showLayoutSelectionModal"
            :cms-page-types="pageTypes"
            :headline="headline"
            :pre-selection="cmsPage"
            @modal-layout-select="onLayoutSelect"
            @modal-close="closeLayoutModal"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_category_detail_layout_desc %}
        <div class="sw-category-layout-card__desc">

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_category_detail_layout_desc_info %}
            <div class="sw-category-layout-card__desc-info">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_detail_layout_desc_info_headline %}
                <div
                    class="sw-category-layout-card__desc-headline"
                    :class="{ 'is--empty': !cmsPage }"
                >
                    {{ cmsPage ? cmsPage.name : $tc('sw-category.base.cms.defaultTitle') }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_detail_layout_desc_info_subheadline %}
                <div
                    class="sw-category-layout-card__desc-subheadline"
                    :class="{ 'is--empty': !cmsPage }"
                >
                    {{ pageTypeTitle }}
                </div>
                {% endblock %}

            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_category_detail_layout_desc_actions %}
            <div class="sw-category-layout-card__desc-actions">

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_detail_layout_desc_actions_layout %}
                <sw-button
                    class="sw-category-detail-layout__change-layout-action"
                    size="small"
                    :disabled="!acl.can('category.editor')"
                    @click="openLayoutModal"
                >
                    {{ cmsPage ? $tc('sw-category.base.cms.changeLayout') : $tc('sw-category.base.cms.changeLayoutEmpty') }}
                </sw-button>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_detail_layout_desc_actions_designer %}
                <sw-button
                    class="sw-category-detail-layout__open-in-pagebuilder"
                    size="small"
                    :disabled="!acl.can('category.editor')"
                    @click="openInPagebuilder"
                >
                    {{ cmsPage ? $tc('sw-category.base.cms.editInPagebuilder') : $tc('sw-category.base.cms.editInPagebuilderEmpty') }}
                </sw-button>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_category_detail_layout_desc_actions_remove %}
                <sw-button
                    v-if="cmsPage"
                    size="small"
                    :disabled="!acl.can('category.editor')"
                    class="sw-category-detail-layout__layout-reset"
                    square
                    @click="onLayoutReset"
                >
                    <sw-icon
                        name="regular-trash"
                        small
                    />
                </sw-button>
                {% endblock %}

            </div>
            {% endblock %}

        </div>
        {% endblock %}

    </div>
</sw-card>
{% endblock %}
