@import "~less/variables";

.sw-condition-or-container {
    &.is--odd {
        background-color: @color-white;
    }

    &.is--even {
        background-color: @color-light-gray;
    }

    .sw-condition-or-container__condition-content {
        padding: 20px;
    }

    .condition-content__spacer--or {
        padding: 10px 0;
        margin-left: -10px;
        font-weight: bold;
    }

    .sw-condition-or-container__actions {
        margin-top: 20px;

        .sw-condition-or-container__actions--or {
            margin-right: 10px;
        }

        .sw-condition-or-container__actions--delete {
            float: right;
        }
    }
}