@import "~less/variables";

@sw-condition-or-container-background-even: @color-white;
@sw-condition-or-container-background-odd: #F0F2F5;
@sw-condition-or-container-border: #788A9B;
@sw-condition-or-container-button-border: #D1D9E0;
@sw-condition-or-container-button: #52667A;

.sw-condition-or-container {
    &.container-condition-level__is--even {
        background-color: @sw-condition-or-container-background-even;
    }

    &.container-condition-level__is--odd {
        background-color: @sw-condition-or-container-background-odd;
    }

    .sw-condition-or-container__condition-content {
        padding: 32px;
    }

    .condition-content__spacer--or {
        padding: 10px 0;
        margin-left: -10px;
        font-weight: bold;
        display: inline-block;
        position: relative;
        width: calc(100% - 32px);
        text-transform: uppercase;

        &:after {
            content: "";
            position: absolute;
            border-top: 1px dashed @sw-condition-or-container-border;
            top: 50%;
            width: calc(100% - 15px);
            margin-left: 15px;
        }
    }

    .sw-condition-or-container__actions {
        margin-top: 20px;

        .sw-button {
            height: 32px;
            border: 1px solid @sw-condition-or-container-button-border;
            border-radius: 4px;
            padding: auto;
        }

        .sw-button__content {
            color: @sw-condition-or-container-button;
            font-size: 12px;
            font-weight: 600;
            line-height: 19px;
            text-align: center;
        }

        .sw-condition-or-container__actions--or {
            margin-right: 10px;
            text-transform: uppercase;
        }

        .sw-condition-or-container__actions--sub {
            text-transform: uppercase;
        }

        .sw-condition-or-container__actions--delete {
            float: right;
        }
    }
}