{% block sw_product_price_form %}
    <div class="sw-product-price-form">

        <sw-container grid="1fr 1fr" gap="30px">
            {% block sw_product_price_form_tax_field %}
                <sw-field type="select"
                          :label="$tc('sw-product.priceForm.labelTaxRate')"
                          :placeholder="$tc('sw-product.priceForm.placeholderTaxRate')"
                          name="tax"
                          v-model="product.taxId">
                    {% block sw_product_price_form_tax_field_options %}
                        <option slot="options" v-for="tax in taxRates" :value="tax.id">{{ tax.name }}</option>
                    {% endblock %}
                </sw-field>
            {% endblock %}

            {% block sw_product_price_form_purchase_price_field %}
                <sw-field type="number"
                          :label="$tc('sw-product.priceForm.labelPriceGross')"
                          :placeholder="$tc('sw-product.priceForm.placeholderPriceGross')"
                          name="purchasePrice"
                          suffix="EUR"
                          min="0.00"
                          step="0.01"
                          v-model="product.purchasePrice">
                </sw-field>
            {% endblock %}
        </sw-container>

        {% block sw_product_price_form_price_field %}
            <sw-price-field :price="product.price" :taxRate="productTaxRate" :currency="defaultCurrency"></sw-price-field>
        {% endblock %}

        <sw-container grid="1fr 1fr 1fr 1fr" gap="30px">

            {% block sw_product_price_form_unit_field %}
                <sw-field type="select"
                          :label="$tc('sw-product.priceForm.labelUnit')"
                          :placeholder="$tc('sw-product.priceForm.placeholderUnit')"
                          v-model="product.unitId">
                    <option slot="options" :value="1">{{ $tc('sw-product.priceForm.optionLitre') }}</option>
                    <option slot="options" :value="2">{{ $tc('sw-product.priceForm.optionKilogram') }}</option>
                    <option slot="options" :value="3">{{ $tc('sw-product.priceForm.optionMetre') }}</option>
                </sw-field>
            {% endblock %}

            {% block sw_product_price_form_purchase_unit_field %}
                <sw-field type="number"
                          :label="$tc('sw-product.priceForm.labelPurchaseUnit')"
                          :placeholder="$tc('sw-product.priceForm.placeholderPurchaseUnit')"
                          min="0.00"
                          step="0.01"
                          v-model="product.purchaseUnit">
                </sw-field>
            {% endblock %}

            {% block sw_product_price_form_reference_unit_field %}
                <sw-field type="number"
                          :label="$tc('sw-product.priceForm.labelReferenceUnit')"
                          :placeholder="$tc('sw-product.priceForm.placeholderReferenceUnit')"
                          min="0.00"
                          step="0.01"
                          v-model="product.referenceUnit">
                </sw-field>
            {% endblock %}

            {% block sw_product_price_form_pack_unit_field %}
                <sw-field type="text"
                          :label="$tc('sw-product.priceForm.labelPackUnit')"
                          :placeholder="$tc('sw-product.priceForm.placeholderPackUnit')"
                          v-model="product.packUnit">
                </sw-field>
            {% endblock %}
        </sw-container>
    </div>
{% endblock %}
