@import "~less/variables";

@sw-product-price-suffix-font-size:       20px;
@sw-product-price-suffix-font-weight:     400;

.sw-product-price-form {
    .sw-product-price-form__field-price {
        .sw-field__suffix {
            font-weight: @sw-product-price-suffix-font-weight;
            font-size: @sw-product-price-suffix-font-size;
        }
    }
}

