{% block sw_product_price_form %}
    <div class="sw-product-price-form">

        <sw-container columns="1fr 2fr" gap="0px 30px" class="sw-product-price-form__prices">
            {% block sw_product_price_form_tax_field %}
                <sw-inherit-wrapper v-model="product.taxId"
                                    :inheritedValue="parentProduct.taxId"
                                    :label="$tc('sw-product.priceForm.labelTaxRate')"
                                    class="sw-product-price-form__tax-rate"
                                    ref="taxIdInheritation"
                                    required>
                    <template #content="{ currentValue, updateCurrentValue, isInherited }">

                        <sw-field type="select"
                                  name="sw-field--product-taxId"
                                  :placeholder="$tc('sw-product.priceForm.placeholderTaxRate')"
                                  validation="required"
                                  :disabled="isInherited"
                                  :value="currentValue"
                                  :error="productTaxIdError"
                                  @change="updateCurrentValue">
                            <option v-for="tax in taxes"
                                    :key="tax.id"
                                    :value="tax.id"
                                    :selected="currentValue === tax.id">
                                {{ tax.name }}
                            </option>
                        </sw-field>

                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block sw_product_price_form_price_field %}
                <sw-inherit-wrapper v-if="!isLoading"
                                    v-model="product.price"
                                    label=" "
                                    :hasParent="!!parentProduct.id"
                                    :inheritedValue="parentProduct.price"
                                    :customRemoveInheritanceFunction="removePriceInheritation">
                    <template #content="{ currentValue, updateCurrentValue, isInherited }">

                        <sw-price-field :price="currentValue"
                                        required
                                        :taxRate="productTaxRate"
                                        :disabled="isInherited"
                                        :error="productPriceError ? productPriceError[0] : null"
                                        :currency="defaultCurrency">
                        </sw-price-field>

                    </template>
                </sw-inherit-wrapper>
            {% endblock %}
        </sw-container>

        <sw-container columns="repeat(auto-fit, minmax(150px, 1fr))" gap="0px 30px">
            {% block sw_product_price_form_purchase_price_field %}
                <sw-inherit-wrapper v-model="product.purchasePrice"
                                    :hasParent="!!parentProduct.id"
                                    :inheritedValue="parentProduct.purchasePrice"
                                    :label="$tc('sw-product.priceForm.labelPurchasePriceGross')">
                    <template #content="{ currentValue, updateCurrentValue, isInherited }">

                        <sw-field type="number"
                                  :error="productPurchasePriceError"
                                  :min="0"
                                  :disabled="isInherited"
                                  :placeholder="$tc('sw-product.priceForm.placeholderPurchasePriceGross')"
                                  :value="currentValue"
                                  @change="updateCurrentValue">
                            <template #suffix>
                                <span class="sw-product-price-form__currency" v-if="defaultCurrency">{{ defaultCurrency.symbol }}</span>
                            </template>
                        </sw-field>

                    </template>
                </sw-inherit-wrapper>
            {% endblock %}
        </sw-container>

        <sw-container columns="1fr" justify="end" class="sw-product-price-form__links">
            {% block sw_product_price_form_advanced_prices_link %}
                <router-link  :to="{ name: 'sw.product.detail.prices', params: { id: $route.params.id } }"
                              v-if="!product._isNew"
                             class="sw-card__quick-link">
                    {{ $tc('sw-product.detailBase.linkAdvancedPrices') }} <sw-icon name="default-arrow-simple-right" small></sw-icon>
                </router-link>
            {% endblock %}

            {% block sw_product_price_form_maintain_currencies_link %}
                <a @click.prevent="displayMaintainCurrencies = true" v-if="product.price" class="sw-card__quick-link">
                    {{ $tc('sw-product.detailBase.linkMaintainCurrencyPrices') }} <sw-icon name="default-arrow-simple-right" small></sw-icon>
                </a>
            {% endblock %}
        </sw-container>

        {% block sw_product_price_form_maintain_currencies_modal %}
            <sw-maintain-currencies-modal v-if="displayMaintainCurrencies"
                                          :currencies="currencies"
                                          :prices="product.price"
                                          :defaultPrice="defaultPrice"
                                          :taxRate="productTaxRate"
                                          @modal-close="onMaintainCurrenciesClose">
            </sw-maintain-currencies-modal>
        {% endblock %}
    </div>
{% endblock %}
