{% block sw_shopware_updates_requirements %}
<sw-card
    :title="$t('sw-settings-shopware-updates.cards.requirements')"
    :is-loading="isLoading"
>
    <template #grid>
        <sw-data-grid

            :show-actions="false"
            :show-selection="false"
            :columns="columns"
            :data-source="requirements"
        >

            {% block sw_shopware_updates_requirements_column_result %}
            <template
                slot="column-result"
                slot-scope="{ item, isInlineEdit }"
            >
                <template v-if="item.result">
                    <sw-color-badge
                        variant="success"
                        :rounded="true"
                    />&nbsp;
                    {{ $t('sw-settings-shopware-updates.requirements.ready') }}
                </template>

                <template v-else>
                    <sw-color-badge
                        variant="error"
                        :rounded="true"
                    />&nbsp;
                    {{ $t('sw-settings-shopware-updates.requirements.notReady') }}
                </template>
            </template>
            {% endblock %}

            {% block sw_shopware_updates_requirements_column_message %}
            <template
                slot="column-message"
                slot-scope="{ item, isInlineEdit }"
            >
                <span v-html="$t('sw-settings-shopware-updates.requirements.message.' + item.message, item.vars)"></span>
            </template>
            {% endblock %}
        </sw-data-grid>
    </template>
</sw-card>
{% endblock %}
