.sw-tagged-field {
    .sw-tagged-field__tag-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 8px 8px 0;
    }

    .sw-tagged-field__input-list-entry {
        flex: auto;
    }

    .sw-tagged-field__input {
        padding: 4px 8px 12px;
    }

    .sw-label {
        margin: 0 8px 8px 0;
    }

    &.sw-field--medium {
        .sw-tagged-field__tag-list {
            padding-top: 4px;
        }

        .sw-label {
            margin: 4px 6px 0 0;
        }

        .sw-tagged-field__input {
            padding: 4px 8px 8px;
        }
    }

    &.sw-field--small {
        .sw-tagged-field__tag-list {
            padding-top: 4px;
        }

        .sw-label {
            margin: 2px 8px 4px;
        }

        .sw-tagged-field__input {
            padding: 2px 16px 4px 8px;
        }
    }

    .sw-tagged-field__input--full-width {
        width: 100%;
    }

    .sw-tagged-field__input.sw-tagged-field__input--hidden {
        width: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
