{% block sw_flow_list %}
<sw-page class="sw-flow-list">
    {% block sw_flow_list_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="flow"
            :placeholder="$tc('sw-flow.general.placeholderSearchBar')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    {% block sw_flow_list_smart_bar_header %}
    <template #smart-bar-header>
        {% block sw_flow_list_smart_bar_header_title %}
        <h2>
            {% block sw_flow_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="small-arrow-medium-right"
                small
            />
            {{ $tc('sw-flow.list.textHeadline') }}
            {% endblock %}

            {% block sw_flow_list_smart_bar_header_amount %}
            <span
                v-if="!isLoading"
                class="sw-page__smart-bar-amount"
            >
                ({{ total }})
            </span>
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block sw_flow_list_smart_bar_actions %}
    <template #smart-bar-actions>
        {% block sw_flow_list_smart_bar_actions_add %}
        <sw-button
            v-tooltip="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('flow.creator'),
                position: 'bottom',
                showOnDisabledElements: true
            }"
            class="sw-flow-list__create"
            variant="primary"
            :router-link="{ name: 'sw.flow.create' }"
            :disabled="!acl.can('flow.creator')"
        >
            {{ $tc('sw-flow.list.buttonAddFlow') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}l

    {% block sw_flow_list_content %}
    <template #content>
        <div class="sw-flow-list__content">
            <sw-entity-listing
                class="sw-flow-list__grid"
                show-selection
                :show-settings="false"
                :allow-column-edit="false"
                :allow-view="acl.can('flow.viewer')"
                :allow-edit="acl.can('flow.editor')"
                :allow-delete="acl.can('flow.deleter')"
                :columns="flowColumns"
                :sort-by="sortBy"
                :sort-direction="sortDirection"
                :repository="flowRepository"
                :items="flows"
                :is-loading="isLoading"
                @column-sort="onSortColumn"
                @page-change="onPageChange"
                @update-records="updateRecords"
            >
                {% block sw_flow_list_grid_columns %}
                {% block sw_flow_list_grid_columns_active %}
                <template #column-active="{ item }">
                    {% block sw_flow_list_columns_active_label %}
                    <sw-icon
                        small
                        :color="item.active ? `#37d046` : `#de294c`"
                        :name="item.active ? `small-default-checkmark-line-medium` : `small-default-x-line-medium`"
                    />
                    {% endblock %}
                </template>
                {% endblock %}

                {% block sw_flow_list_grid_columns_event_name %}
                <template #column-eventName="{ item }">
                    <strong>
                        {{ $tc('global.businessEvents.' + getTranslatedEventName(item.eventName)) }}
                    </strong>
                    <p>{{ item.eventName }}</p>
                </template>
                {% endblock %}
                {% endblock %}

                {% block sw_flow_list_grid_actions %}
                <template #actions="{ item }">
                    {% block sw_flow_list_grid_actions_edit %}
                    <sw-context-menu-item
                        class="sw-flow-list__item-edit"
                        :disabled="!acl.can('flow.editor') && !acl.can('flow.viewer')"
                        @click="onEditFlow(item)"
                    >
                        {{ detailPageLinkText }}
                    </sw-context-menu-item>
                    {% endblock %}

                    {% block sw_flow_list_grid_actions_delete %}
                    <sw-context-menu-item
                        class="sw-context-menu-item--danger sw-flow-list__item-delete"
                        :disabled="!acl.can('flow.deleter')"
                        @click="onDeleteFlow(item)"
                    >
                        {{ $tc('global.default.delete') }}
                    </sw-context-menu-item>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block sw_flow_list_grid_action_modal %}
                <template #action-modals="{ item }">
                    <sw-modal
                        v-if="currentFlow.id === item.id"
                        variant="small"
                        :title="$tc('global.default.warning')"
                        @modal-close="onCloseDeleteModal"
                    >
                        <p class="sw-flow-list__confirm-delete-text">
                            {{ $tc('sw-flow.list.confirmText') }}
                        </p>

                        <template #modal-footer>
                            {% block sw_flow_list_grid_action_modal_buttons %}
                            <sw-button
                                size="small"
                                @click="onCloseDeleteModal"
                            >
                                {{ $tc('global.default.cancel') }}
                            </sw-button>
                            <sw-button
                                size="small"
                                variant="danger"
                                @click="onConfirmDelete(item)"
                            >
                                {{ $tc('global.default.delete') }}
                            </sw-button>
                            {% endblock %}
                        </template>
                    </sw-modal>
                </template>
                {% endblock %}
            </sw-entity-listing>

            {% block sw_flow_list_empty_state %}
            <sw-empty-state
                v-if="!total && !isLoading"
                class="sw-flow-list__empty-state"
                :title="$tc('sw-flow.list.emptyStateTitle')"
                :subline="$tc('sw-flow.list.emptyStateSubTitle')"
            >
                {% block sw_flow_list_empty_state_icon %}
                <template #icon>
                    <img
                        :alt="$tc('sw-flow.list.emptyStateTitle')"
                        :src="'/administration/static/img/empty-states/settings-empty-state.svg' | asset"
                    >
                </template>
                {% endblock %}
            </sw-empty-state>
            {% endblock %}
        </div>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
