{%  block sw_media_base_item %}
    <div class="sw-media-base-item" :class="mediaItemClasses" @click="handleItemClick">
        {% block sw_media_base_item_selected_indicator %}
            <div v-if="!isList"
                 class="sw-media-base-item__selected-indicator"
                 :class="selectionIndicatorClasses"
                 @click="onClickedItem">

                <sw-icon
                    v-if="listSelected"
                    size="16px"
                    name="small-default-checkmark-line-small">
                </sw-icon>
            </div>
        {% endblock %}

        {% block sw_media_base_item_preview %}
            <slot name="media-item-preview">
                {% block sw_media_base_item_slot_media_preview %}{% endblock %}
            </slot>
        {% endblock %}

        {% block sw_media_base_item_name_container %}
            <div class="sw-media-base-item__name-container">
                {% block sw_media_base_item_name %}
                    <slot name="media-item-name">
                        {% block sw_media_base_item_slot_media_item_name %}{% endblock %}
                    </slot>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_media_base_item_metadata_container %}
            <div v-if="isList" class="sw-media-base-item__metadata-container">
                {% block sw_media_base_item_metadata %}
                    <slot name="media-item-metadata">
                        {% block sw_media_base_item_slot_media_item_metadata %}{% endblock %}
                    </slot>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sw_media_base_item_context_menu %}
            <sw-context-button v-if="showContextMenuButton && !isLoading" ref="swContextButton">
                {% block sw_media_base_item_context_items%}
                    <slot name="media-item-context-menu">
                        {% block sw_media_base_item_slot_media_item_context_menu %}{% endblock %}
                    </slot>
                {% endblock %}
            </sw-context-button>
        {% endblock %}

        {% block sw_media_base_item_loading_indicator %}
            <sw-icon
                v-if="isLoading"
                class="sw-media-base-item__loader"
                name="default-web-loading-star"
                size="16px">
            </sw-icon>
        {% endblock %}
    </div>
{% endblock %}