@import "~less/variables";

@sw-media-base-item-color:                   @color-kashmir;
@sw-media-base-item-border-radius:           @border-radius-default;
@sw-media-base-item-small-font-size:         @font-size-small;
@sw-media-base-item-color-border:            @color-steam-cloud;
@sw-media-base-item-color-text-inline-input: @color-gutenberg;
@sw-media-base-item-color-context-button:    @color-white;
@sw-media-base-item-color-loading-indicator: @color-gutenberg;
@sw-media-base-item-color-hover:             @color-cadet-blue;
@sw-media-base-item-color-metadata:          lighten(@color-gutenberg, 30);
@sw-media-base-pseudo-padding:               33px;
@sw-media-base-color-input-background:       @color-white;
@sw-media-base-color-input-border:           @color-steam-cloud;
@sw-media-base-border-radius-input:          @border-radius-default;
@sw-media-base-color-selected:               @color-shopware-blue;
@sw-media-color-checkmark:                   @color-white;

.sw-media-base-item {
    position: relative;
    padding: 16px;
    color: @sw-media-base-item-color;

    &:hover {
        background-color: @sw-media-base-item-color-hover;

        .sw-media-item__selected-indicator {
            visibility: visible;
        }

        .sw-context-button {
            visibility: visible;
        }
    }

    .sw-media-item__selected-indicator {
        display: grid;
        visibility: hidden;
        position: absolute;
        top: @sw-media-base-pseudo-padding;
        left: @sw-media-base-pseudo-padding;
        width: 16px;
        height: 16px;
        background: @sw-media-base-color-input-background;
        border: 1px solid @sw-media-base-color-input-border;
        border-radius: @sw-media-base-border-radius-input;
        z-index: 1;

        &.selected-indicator--checked {
            background: @sw-media-base-color-selected;
            border: 1px solid @sw-media-base-color-selected;
        }

        .sw-icon {
            color: @sw-media-color-checkmark;
            position: relative;
            top: -1px;
            left: -1px;
        }
    }

    .selected-indicator--visible {
        visibility: visible;
    }

    .sw-context-button {
        position: absolute;
        top: calc(@sw-media-base-pseudo-padding - 4px);
        right: @sw-media-base-pseudo-padding;
        visibility: hidden;

        .sw-context-button__button {
            height: 16px;
            padding: 0 2px;
            line-height: 13px;
            background: @sw-media-base-item-color-context-button;
            border: 1px solid @sw-media-base-item-color-border;
            border-radius: @sw-media-base-item-border-radius;

            .sw-icon {
                width: 16px;
                height: 100%;
            }
        }
    }

    .sw-media-base-item__name-container {
        max-width: 100%;
        margin: 15px 0 5px;
        text-align: center;
        font-size: @sw-media-base-item-small-font-size;
        font-weight: 600;
    }

    .sw-media-base-item__loader {
        top: 18px;
        right: 24px;
        position: absolute;
        color: @sw-media-base-item-color-loading-indicator;
        animation-name: sw-media-loader-rotation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes sw-media-loader-rotation {
        from { transform: rotate(0deg); }
        to { transform: rotate(180deg)}
    }

    &.is--list {
        display: grid;
        grid-template-columns: auto minmax(60px, 1fr) 30px;
        grid-column-gap: 10px;
        grid-auto-flow: column;
        align-items: center;
        padding: 8px;
        margin: 0 0 8px;
        border: 1px solid @sw-media-base-item-color-border;
        border-radius: @sw-media-base-item-border-radius;

        .sw-media-base-item__name-container {
            margin: 0;
            text-align: left;
            font-weight: normal;
            font-size: @font-size-small;
        }

        .sw-media-media-item__name {
            line-height: 18px;
        }

        .sw-media-base-item__metadata-container {
            display: block;
            margin: -5px 0 0 0;
            text-align: left;
            font-weight: normal;
            color: @sw-media-base-item-color-metadata;
            font-size: @font-size-small;
        }

        .sw-media-preview {
            width: 40px;
            height: 40px;
            grid-row: 1 / span 2;
            overflow: hidden;

            .sw-media-preview__item {
                padding: 0;
                height: 100%;
                width: 100%;
                max-height: none;
                max-width: none;

                &.sw-icon {
                    height: 80%;
                    width: 80%;
                }
            }
        }

        &:hover {
            background-color: transparent;
        }

        .sw-context-button {
            position: static;
            grid-row: 1 / span 2;
            visibility: visible;
        }

        .sw-context-button__button {
            border: 0;
        }

        .sw-media-base-item__loader {
            position: static;
        }
    }
}