@import "~scss/variables";

.sw-cms-el-product-listing {
    .sw-cms-el-product-listing__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
        gap: 30px;
    }

    .sw-cms-el-product-listing__pagination {
        display: grid;
        grid-template-columns: repeat(auto-fit, 40px);
        justify-content: center;
        margin-top: 24px;

        .sw-cms-el-product-listing__pagination-entry {
            height: 40px;
            width: 40px;
            display: grid;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            border-right: 1px solid $color-steam-cloud;
            border-bottom: 1px solid $color-steam-cloud;
            border-top: 1px solid $color-steam-cloud;

            #{$dark-theme-class} & {
                border-right: 1px solid lighten($color-steam-cloud, $dark-theme-contrast-factor);
                border-bottom: 1px solid lighten($color-steam-cloud, $dark-theme-contrast-factor);
                border-top: 1px solid lighten($color-steam-cloud, $dark-theme-contrast-factor);
            }

            .sw-icon {
                color: $color-gutenberg;

                #{$dark-theme-class} & {
                    color: lighten($color-gutenberg, $dark-theme-contrast-factor);
                }
            }

            &:first-of-type {
                border-radius: 4px 0 0 4px;
                border-left: 1px solid $color-steam-cloud;

                #{$dark-theme-class} & {
                    border-left: 1px solid lighten($color-steam-cloud, $dark-theme-contrast-factor);
                }
            }

            &:last-of-type {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
