@import "~scss/variables";

.sw-cms-el-product-listing {
    min-height: 200px;
    padding: 60px 200px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background: $color-light-gray;
    border: 1px dashed $color-steam-cloud;
    border-radius: 4px;
}