{% block sw_product_media_form %}
    <div class="sw-product-media-form">

        {% block sw_product_media_form_upload %}
            <sw-media-upload
                    :uploadTag="product.id"
                    :variant="'regular'"
                    :autoUpload="false"
                    :caption="$tc('sw-product.mediaForm.uploadCaption')"
                    :scrollTarget="$parent.$el"
                    :defaultFolder="product.entityName"
                    @sw-media-upload-media-upload-success="successfulUpload"
                    @sw-media-upload-new-uploads-added="onUploadsAdded"
                    @sw-media-upload-open-sidebar="onMediaUploadButtonOpenSidebar">
            </sw-media-upload>
        {% endblock %}

        {% block sw_product_media_form_grid %}
            <div class="sw-product-media-form__grid" ref="grid" :style="gridAutoRows">
                {%  block sw_product_media_form_grid_items %}
                    <template v-for="mediaItem in mediaItems">
                        <sw-loader v-if="mediaItem.isLoading"></sw-loader>
                        <sw-product-image v-else
                                @sw-product-image-delete="removeFile(mediaItem.mediaId)"
                                @sw-product-image-cover="markMediaAsCover(mediaItem)"
                                :key="mediaItem.mediaId"
                                :isCover="isCover(mediaItem)"
                                :isPlaceholder="mediaItem.isPlaceholder"
                                :item="mediaItem.media">
                        </sw-product-image>
                    </template>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
