{% block sw_product_media_form %}
    <div class="sw-product-media-form">

        {% block sw_product_media_form_upload_button %}
            <sw-media-upload-button
                    :uploadTag="product.id"
                    :variant="'regular'"
                    :autoUpload="false"
                    :caption="$tc('sw-product.mediaForm.uploadCaption')"
                    :scrollTarget="$parent.$el"
                    @media-upload-success="successfulUpload"
                    @new-upload="onNewUpload">
            </sw-media-upload-button>
        {% endblock %}

        {% block sw_product_media_form_grid %}
            <div class="sw-product-media-form__grid" ref="grid" :style="gridAutoRows">
                {%  block sw_product_media_form_grid_items %}
                    <template v-for="mediaItem in mediaItems">
                        <sw-loader v-if="mediaItem.isLoading"></sw-loader>
                        <sw-image v-else
                                @sw-image-delete="removeFile(mediaItem.mediaId)"
                                @sw-image-cover="markMediaAsCover(mediaItem)"
                                :key="mediaItem.mediaId"
                                :isCover="isCover(mediaItem)"
                                :isPlaceholder="mediaItem.isPlaceholder"
                                :tooltip="getTooltipForMedia(mediaItem.media)"
                                :url="getPreviewForMedia(mediaItem.media)"
                                :downloadable="true"></sw-image>
                    </template>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
