@import "~scss/variables";
@import "~scss/mixins";

.sw-import-export-activity-log-info-modal {
    .sw-import-export-activity-log-info-modal &__color-badge {
        margin: 0 5px 0 0;
    }

    &__description-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 16px;
        margin-bottom: 32px;
    }

    &__list-item {
        font-size: $font-size-xs;
    }

    &__list-item dt {
        font-weight: $font-weight-semi-bold;
    }

    &__download {
        color: $color-darkgray-200;
        text-decoration: none;
        font-size: $font-size-xs;
    }

    &__item-state--processing dd {
        @include animated-truncate;
    }
}
