<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_bubble_preview %}
<div class="sw-cms-preview-image-text-bubble">
    <div class="sw-cms-preview-image-text-bubble__left">
        <div class="sw-cms-preview-image-text-bubble__image">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-text-bubble__text">
            <h2>Lorem</h2>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-bubble__center">
        <div class="sw-cms-preview-image-text-bubble__image">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_plant_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-text-bubble__text">
            <h2>Ipsum</h2>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-bubble__right">
        <div class="sw-cms-preview-image-text-bubble__image">
            <img
                :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
                alt=""
            >
        </div>
        <div class="sw-cms-preview-image-text-bubble__text">
            <h2>Dolor</h2>
        </div>
    </div>
</div>
{% endblock %}
