{% block sw_seo_url %}
    <div class="sw-seo-url">
        {% block sw_seo_url_card %}
            <sw-card class="sw-seo-url-card"
                     :title="$tc('sw-seo-url.titleCard')"
                     :isLoading="isLoading">
                <template v-if="showEmptySeoUrlError">
                    {{ $tc('sw-seo-url.textEmptySeoUrls') }}
                </template>
                <template v-else>
                    {% block sw_seo_url_card_toolbar %}
                        <template slot="toolbar">
                            <sw-sales-channel-switch
                                    ref="salesChannelSwitch"
                                    :label="$tc('sw-seo-url.labelSalesChannelSelect')"
                                    @change-sales-channel-id="onSalesChannelChanged">
                            </sw-sales-channel-switch>
                        </template>
                    {% endblock %}

                    {% block sw_seo_url_card_seo_path %}
                        <sw-text-field
                                :label="$tc('sw-seo-url.labelSeoPathInfo')"
                                v-model="currentSeoUrl.seoPathInfo">
                        </sw-text-field>
                    {% endblock %}
                </template>

            </sw-card>
        {% endblock %}
    </div>
{% endblock %}