<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_import_export_edit_profile_indicators %}
<div class="sw-import-export-edit-profile-indicators">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_import_export_edit_profile_indicators_headline %}
    <h3>{{ $tc('sw-import-export.profile.indicatorHeadline') }}</h3>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_import_export_edit_profile_indicators_text %}
    <p class="sw-import-export-edit-profile-indicators__text">
        {{ $tc('sw-import-export.profile.csvDescriptionBlock') }}
    </p>
    {% endblock %}

    <sw-container
        columns="repeat(2, 1fr)"
        gap="0 32px"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_edit_profile_indicators_separator_field %}
        <sw-single-select
            v-model="profile.delimiter"
            required
            show-clearable-button
            class="sw-import-export-edit-profile-indicators__separator-select"
            :label="$tc('sw-import-export.profile.separatorFieldLabel')"
            :error="profileDelimiterError"
            :disabled="profile.systemDefault"
            :options="supportedDelimiter"
        />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_import_export_edit_profile_indicators_enclosure_field %}
        <sw-single-select
            v-model="profile.enclosure"
            required
            show-clearable-button
            class="sw-import-export-edit-profile-indicators__enclosure-select"
            :label="$tc('sw-import-export.profile.enclosureFieldLabel')"
            :error="profileEnclosureError"
            :disabled="profile.systemDefault"
            :options="supportedEnclosures"
        />
        {% endblock %}
    </sw-container>
</div>
{% endblock %}
