{% block sw_attribute_type_text_editor %}
    <div class="sw-attribute-type-text-editor">
        {% block sw_attribute_type_text_editor_labels %}
            <sw-attribute-translated-labels
                    v-model="currentAttribute.config"
                    :propertyNames="propertyNames"
                    :locales="locales">
            </sw-attribute-translated-labels>
        {% endblock %}
    </div>
{% endblock %}