{% block sw_first_run_wizard_paypal_install %}
    <div class="sw-first-run-wizard-paypal-install">
        <sw-loader size="48"></sw-loader>
        <p class="sw-loader-info-text">Installing the PayPal plugin.<br>This may take a while...</p>
    </div>
{% endblock %}
