{% for block in cmsPage.blocks.elements %}
    {% block page_content_block %}
        <div class="row cms-row">
            {% block page_content_elements %}
                {% for element in block.slots.elements %}
                    <div data-slot-id="{{ element.id }}">
                        {% block page_content_element %}
                            {% if element.type == 'text' %}
                                {% sw_include "@Storefront/content/cms-text.html.twig" %}
                            {% elseif element.type == 'product-box' %}
                                {% sw_include "@Storefront/content/cms-product-box.html.twig" %}
                            {% elseif element.type == 'product-listing' %}
                                {% sw_include "@Storefront/content/cms-product-listing.html.twig" %}
                            {% elseif element.type == 'image' %}
                                {% sw_include "@Storefront/content/cms-image.html.twig" %}
                            {% endif %}
                        {% endblock %}
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}
{% endfor %}
