<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_settings_delivery_time_list %}
<sw-page class="sw-settings-delivery-time-list">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_delivery_time_list_smart_bar_header %}
    <template #smart-bar-header>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_delivery_time_list_smart_bar_header_title %}
        <h2>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_delivery_time_list_smart_bar_header_title_text %}
            {{ $tc('sw-settings.index.title') }}
            <sw-icon
                name="regular-chevron-right-xs"
                small
            />
            {{ $tc('sw-settings-delivery-time.list.textHeadline') }}
            {% endblock %}
        </h2>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_delivery_time_list_search_bar %}
    <template #search-bar>
        <sw-search-bar
            initial-search-type="delivery_time"
            :placeholder="$tc('sw-settings-delivery-time.general.placeholder')"
            :initial-search="term"
            @search="onSearch"
        />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_delivery_time_list_language_switch %}
    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage" />
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_delivery_time_list_smart_bar_actions %}
    <template #smart-bar-actions>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_delivery_time_list_smart_bar_actions_create %}
        <sw-button
            v-tooltip.bottom="{
                message: $tc('sw-privileges.tooltip.warning'),
                disabled: acl.can('delivery_times.creator'),
                showOnDisabledElements: true
            }"
            class="sw-settings-delivery-time-list__create"
            variant="primary"
            :disabled="!acl.can('delivery_times.creator')"
            :router-link="{ name: 'sw.settings.delivery.time.create' }"
        >
            {{ $tc('sw-settings-delivery-time.general.buttonCreate') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_settings_delivery_time_list_content %}
    <template #content>

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_settings_delivery_time_list_content_inner %}
        <sw-card-view>

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_settings_delivery_time_list_grid_wrapper %}
            <sw-card position-identifier="sw-settings-delivery-time-list-grid-wrapper">
                <template #grid>

                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_settings_delivery_time_list_grid %}
                    <sw-entity-listing
                        class="sw-settings-delivery-time-list-grid"
                        :items="deliveryTimes"
                        :columns="deliveryTimeColumns()"
                        :repository="deliveryTimeRepository"
                        detail-route="sw.settings.delivery.time.detail"
                        :allow-view="acl.can('delivery_times.viewer')"
                        :allow-edit="acl.can('delivery_times.editor')"
                        :allow-delete="acl.can('delivery_times.deleter')"
                        :sort-by="sortBy"
                        :sort-direction="sortDirection"
                        :allow-column-edit="false"
                        :show-selection="acl.can('delivery_times.deleter')"
                        :show-settings="false"
                        :is-loading="isLoading"
                        :full-page="false"
                        :disable-data-fetching="true"
                        @column-sort="onSortColumn"
                        @page-change="onPageChange"
                    >

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_settings_delivery_time_list_grid_column_unit %}
                        <template #column-unit="{ item }">
                            {{ $tc(`sw-settings-delivery-time.list.columnUnit_${item.unit}`) }}
                        </template>
                        {% endblock %}
                    </sw-entity-listing>
                    {% endblock %}
                </template>
            </sw-card>
            {% endblock %}
        </sw-card-view>
        {% endblock %}
    </template>
    {% endblock %}
</sw-page>
{% endblock %}
