{% block sw_product_detail_properties %}
    <div class="sw-product-detail-properties">
        <sw-card :title="$tc('sw-product.properties.cardTitleProperties')">
            <sw-property-assignment v-if="propertiesAvailable && product.properties" :propertyCollection="product.properties"></sw-property-assignment>

            <sw-empty-state v-else
                            :title="$tc('sw-product.properties.emptyStateNoOptionsTitle')"
                            :subline="$tc('sw-product.properties.emptyStateNoOptionsDescription')">
            </sw-empty-state>
        </sw-card>
    </div>
{% endblock %}
