{% block sw_product_detail_properties %}
<div class="sw-product-detail-properties">
    {% block sw_product_detail_properties_loading_card %}
    <sw-card
        v-if="isLoading"
        :is-loading="isLoading"
    />
    {% endblock %}

    {% block sw_product_detail_properties_assignment_card %}
    <sw-card
        v-else-if="product.properties && product.properties.length > 0"
        :title="$tc('sw-product.specifications.cardTitleProperties')"
    >
        {% block sw_product_detail_properties_assignment_card_assignment %}
        <sw-property-assignment
            v-if="propertiesAvailable && product.properties"
            :disabled="!acl.can('product.editor')"
            :property-collection="product.properties"
        />
        {% endblock %}

        {% block sw_product_detail_properties_assignment_card_empty %}
        <sw-empty-state
            v-else
            :title="$tc('sw-product.properties.emptyStateNoOptionsTitle')"
            :subline="$tc('sw-product.properties.emptyStateNoOptionsDescription')"
        />
        {% endblock %}
    </sw-card>
    {% endblock %}

    {% block sw_product_detail_properties_empty_card %}
    <sw-card
        v-else
        class="sw-product-detail-properties__empty-state-card"
        :title="$tc('sw-product.properties.cardTitleProperties')"
    >        {% block sw_product_detail_properties_empty_state %}
        <div class="sw-product-detail-properties__empty-state">
            <template v-if="propertiesAvailable">
                {% block sw_product_detail_properties_empty_state_image %}
                <img :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset">
                {% endblock %}

                {% block sw_product_detail_properties_empty_state_text %}
                <template v-if="isChild">
                    {% block sw_product_detail_properties_empty_state_text_child %}
                    <template v-if="isInherited">
                        {% block sw_product_detail_properties_empty_state_text_inherited %}
                        <p>{{ $tc('sw-product.properties.propertiesInherited') }}</p>

                        {% block sw_product_detail_properties_empty_state_text_link %}
                        <router-link
                            v-if="isInherited"
                            :to="{ name: 'sw.product.detail.specifications', params: { id: product.parentId } }"
                            class="sw-product-detail-properties__parent-properties-link"
                        >                        {{ $tc('sw-product.properties.linkPropertiesOfParent') }}
                            <sw-icon
                                name="default-arrow-simple-right"
                                small
                            />
                        </router-link>
                        {% endblock %}
                        {% endblock %}
                    </template>
                    <template v-else>
                        {% block sw_product_detail_properties_empty_state_text_not_inherited %}
                        <p>{{ $tc('sw-product.properties.propertiesNotInherited') }}</p>
                        {% endblock %}
                    </template>
                    {% endblock %}
                </template>
                <div v-else>
                    {% block sw_product_detail_properties_empty_state_text_empty %}
                    <p>{{ $tc('sw-product.properties.propertiesNotExisting') }}</p>
                    {% endblock %}
                </div>
                {% endblock %}
            </template>

            {% block sw_product_detail_properties_empty_state__inherit_switch %}
            <template v-if="isChild">
                <div
                    class="sw-product-detail-properties__inherit-toggle-wrapper"
                    :class="{ 'is--inherited': isInherited }"
                >
                    <sw-switch-field
                        v-model="isInherited"
                        class="sw-product-detail-properties__inherit-switch"
                    />
                    <sw-inheritance-switch
                        class="sw-product-detail-properties__inheritance-icon"
                        :is-inherited="isInherited"
                        @inheritance-restore="restoreInheritance"
                        @inheritance-remove="removeInheritance"
                    />
                    <label class="sw-product-detail-properties__inheritance-label">
                        {{ $tc('sw-product.properties.inheritSwitchLabel') }}
                    </label>
                </div>
            </template>
            {% endblock %}

            {% block sw_product_detail_properties_assginment %}
            <sw-property-assignment
                v-if="propertiesAvailable && product.properties"
                :disabled="isInherited || !acl.can('product.editor')"
                :property-collection="product.properties"
            />
            {% endblock %}

            {% block sw_product_detail_properties_empty %}
            <sw-empty-state
                v-else
                :absolute="false"
                :title="$tc('sw-product.properties.emptyStateNoOptionsTitle')"
                :subline="$tc('sw-product.properties.emptyStateNoOptionsDescription')"
            />
            {% endblock %}
        </div>
        {% endblock %}
    </sw-card>
    {% endblock %}
</div>
{% endblock %}
