@import "~scss/variables";

$sw-property-assignment-background-color-options-item: $color-gray-100;

.sw-product-detail-properties {
    .sw-empty-state {
        position: relative;
        margin-top: 40px;
    }

    .sw-product-detail-properties__empty-state {
        max-width: 350px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            font-size: $font-size-default;
            text-align: center;
            margin: 20px 0;
        }

        .sw-single-select {
            width: 100%;
        }

        .sw-product-detail-properties__parent-properties-link {
            color: $color-shopware-brand-500;
            margin-bottom: 20px;
        }

        .sw-property-assignment {
            width: 100%;
        }
    }

    .sw-product-detail-properties__inherit-toggle-wrapper {
        display: flex;
        align-items: center;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 20px;
        color: $color-darkgray-200;

        .sw-product-detail-properties__inheritance-icon {
            margin-right: 8px;
        }

        &.is--inherited {
            color: $color-module-purple-900;
        }

        .sw-product-detail-properties__inherit-switch {
            margin: 0 10px 0 0;

            .sw-field--switch__input {
                height: 16px;
                padding: 0;
            }
        }
    }
}
