{% block sw_condition_fields %}
    {% block sw_condition_fields_operator %}
        <sw-field type="select"
                  name="operator"
                  v-model="condition.value.operator"
                  class="field field--select has--arrow">
            <template slot="options">
                <option v-for="operator in operators" :value="operator.identifier">
                    {{ $tc(operator.label) }}
                </option>
            </template>
        </sw-field>
    {% endblock %}
    {% block sw_condition_fields_value %}
        <sw-condition-value multi
                            :id="condition.id"
                            :store="getCustomerGroupStore()"
                            class="field field--main field--multi"
                            v-model="condition.value.customerGroupIds">
        </sw-condition-value>
    {% endblock %}
{% endblock %}