{% block sw_cms_element_youtube_video %}
<div
    class="sw-cms-el-youtube-video"
    :class="displayModeClass"
>
    <iframe
        class="sw-cms-el-youtube-video__video"
        :src="videoUrl"
    ></iframe>
</div>
{% endblock %}
