<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_youtube_video %}
<div
    class="sw-cms-el-youtube-video"
    :class="displayModeClass"
>
    <!-- eslint-disable-next-line vuejs-accessibility/iframe-has-title -->
    <iframe
        class="sw-cms-el-youtube-video__video"
        :src="videoUrl"
    ></iframe>
</div>
{% endblock %}
