@import "~scss/variables";

.sw-cms-slot {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    &:hover {
        .sw-cms-slot__overlay {
            display: block;
        }
    }

    .sw-cms-slot__overlay,
    .sw-cms-slot__preview-overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 1px solid $color-shopware-blue;
        box-shadow: 0 0 4px 0 rgba($color-shopware-blue, 0.3);
        pointer-events: none;
        z-index: 210;
    }

    .sw-cms-slot__preview-overlay {
        display: none;
        border: 1px dashed rgba($color-shopware-blue, 0.4);
        box-shadow: none;
    }

    .sw-cms-slot__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: right;
        justify-items: right;
        align-content: center;
        align-items: center;
        pointer-events: auto;
        position: absolute;
        top: -1px;
        right: -1px;
        background: $color-white;
        border: 1px solid $color-shopware-blue;
        border-bottom-left-radius: 4px;
    }

    .sw-cms-slot__settings-action,
    .sw-cms-slot__element-action {
        padding: 10px;
        line-height: 16px;
        color: $color-gutenberg;
        cursor: pointer;

        &.is--disabled {
            color: $color-gray-200;
            cursor: default;

            &:hover {
                color: $color-gray-200;
            }
        }

        &:hover {
            color: $color-shopware-blue;
        }
    }
}

.sw-cms-slot__config-modal {
    .sw-media-modal-v2__body {
        min-height: 440px;
    }
}

.sw-cms-slot__element-selection {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;

    .element-selection__element-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .element-selection__element {
        width: 174px;
        height: 134px;
        padding: 10px;
        background: $color-white;
        border: 1px solid $color-steam-cloud;
        border-radius: 5px;
        background-clip: padding-box;
        position: relative;
        cursor: pointer;

        &:hover {
            border-color: $color-shopware-blue;
            box-shadow: 0 0 4px 0 rgba($color-shopware-blue, 0.4);

            .element-selection__overlay {
                display: grid;
            }
        }

        .element-selection__overlay {
            width: 100%;
            height: 100%;
            display: none;
            align-content: center;
            align-items: center;
            justify-content: center;
            justify-items: center;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
        }
    }
}

.element-selection__label {
    display: block;
    width: 100%;
    margin-top: 7px;
    text-align: center;
}
