{% block sw_cms_slot %}
<div
    class="sw-cms-slot"
    :class="componentClasses"
>

    {% block sw_cms_slot_content %}

    {% block sw_cms_slot_content_component %}
    <component
        :is="elementConfig.component"
        v-model="element"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_cms_slot_content_preview_overlay %}
    <div
        v-if="!active"
        class="sw-cms-slot__preview-overlay"
    ></div>
    {% endblock %}

    {% block sw_cms_slot_content_overlay %}
    <div
        v-if="active"
        class="sw-cms-slot__overlay"
    >
        {% block sw_cms_slot_content_overlay_content %}
        <div class="sw-cms-slot__actions">
            {% block sw_cms_slot_content_overlay_action_settings %}
            <div
                v-tooltip.bottom="tooltipDisabled"
                class="sw-cms-slot__settings-action"
                :class="cmsSlotSettingsClasses"
                @click="onSettingsButtonClick"
            >
                <sw-icon
                    name="default-action-settings"
                    size="16"
                />
            </div>
            {% endblock %}

            {% block sw_cms_slot_content_overlay_action_swap %}
            <div
                v-if="elementConfig.removable !== false"
                class="sw-cms-slot__element-action"
                @click="onElementButtonClick"
            >
                <sw-icon
                    name="default-arrow-switch"
                    size="16"
                />
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block sw_cms_slot_content_settings_modal %}
    <sw-modal
        v-if="showElementSettings"
        class="sw-cms-slot__config-modal"
        :title="$tc('sw-cms.detail.title.elementSettingsModal')"
        @modal-close="onCloseSettingsModal"
    >
        {% block sw_cms_slot_content_settings_modal_component %}
        <component
            :is="elementConfig.configComponent"
            v-model="element"
        />
        {% endblock %}

        {% block sw_cms_slot_content_settings_modal_footer %}
        <template slot="modal-footer">
            {% block sw_cms_slot_content_settings_modal_action_confirm %}
            <sw-button
                variant="primary"
                @click="onCloseSettingsModal"
            >
                {{ $tc('sw-cms.detail.label.buttonElementSettingsConfirm') }}
            </sw-button>
            {% endblock %}
        </template>
        {% endblock %}
    </sw-modal>
    {% endblock %}

    {% block sw_cms_slot_content_element_modal %}
    <sw-modal
        v-if="showElementSelection"
        :title="$tc('sw-cms.detail.title.elementChangeModal')"
        @modal-close="onCloseElementModal"
    >
        {% block sw_cms_slot_content_element_modal_selection %}
        <div class="sw-cms-slot__element-selection">
            {% block sw_cms_slot_content_element_modal_selection_element %}
            <!-- eslint-disable vue/no-use-v-if-with-v-for -->
            <div
                v-for="(element, index) in cmsElements"
                v-if="!element.hidden && element.previewComponent"
                :key="index"
                class="element-selection__element-wrapper"
                @click="onSelectElement(element.name)"
            >
                <div class="element-selection__element">
                    {% block sw_cms_slot_content_element_modal_selection_element_component %}
                    <component
                        :is="element.previewComponent"
                        class="sw-cms-slot__element-preview"
                    />
                    {% endblock %}

                    {% block sw_cms_slot_content_element_modal_selection_element_overlay %}
                    <div class="element-selection__overlay">
                        <sw-icon
                            name="default-arrow-switch"
                            size="28"
                        />
                    </div>
                    {% endblock %}
                </div>

                {% block sw_cms_slot_content_element_modal_selection_element_label %}
                <span class="element-selection__label">{{ $tc(element.label) }}</span>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        {% block sw_cms_slot_content_element_modal_footer %}
        <template slot="modal-footer">

            {% block sw_cms_slot_content_element_modal_action_abort %}
            <sw-button @click="onCloseElementModal">
                {{ $tc('sw-cms.detail.label.buttonElementChangeAbort') }}
            </sw-button>
            {% endblock %}
        </template>
        {% endblock %}
    </sw-modal>
    {% endblock %}
    {% endblock %}
</div>
{% endblock %}
