{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="container-main">
        <h1>Hello, {{ customer.firstName }} {{ customer.lastName }}</h1>
    </div>
{% endblock %}
