<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_extension_review_creation %}
<div class="sw-extension-review-creation">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_review_creation_inputs %}
    <sw-extension-review-creation-inputs
        :errors="errors"
        @changed="onChange"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_review_creation_gtc_checkbox %}
    <sw-gtc-checkbox
        v-model:value="tocAccepted"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_extension_review_creation_buttons %}
    <div class="sw-extension-review-creation__buttons">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_extension_review_creation_buttons_submit_button %}
        <sw-button-process
            class="sw-extension-review-creation__submit"
            variant="primary"
            size="small"
            :is-loading="isLoading"
            :process-success="isCreatedSuccessful"
            :disabled="disabled"
            @update:process-success="emitCreated"
            @click="handleCreateReview"
        >
            {{ $tc('sw-extension-store.component.sw-extension-ratings.sw-extension-review-creation.submitBtn') }}
        </sw-button-process>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
