<div class="sw-users-permissions-role-view-detailed">
    <sw-alert>
        {{ $tc('sw-users-permissions.roles.view.detailed.alertText') }}
    </sw-alert>

    <sw-users-permissions-detailed-permissions-grid
        :role="role"
        :detailed-privileges="detailedPrivileges"
        :disabled="!acl.can('users_and_permissions.editor') || undefined"
    />

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_users_permissions_role_role_view_general_card_view_additional_permissions %}
    <sw-users-permissions-detailed-additional-permissions
        :role="role"
        :detailed-privileges="detailedPrivileges"
        :disabled="!acl.can('users_and_permissions.editor') || undefined"
    />
    {% endblock %}
</div>
