{% block sw_customer_address_form_options %}
    <div>
        {% block sw_customer_address_form_options_default_shipping_address %}
            <sw-field type="checkbox"
                    v-model="isDefaultShippingAddressId"
                    :disabled="isDefaultShippingAddressId"
                    @change="onChangeDefaultShippingAddress"
                    :label="$tc('sw-customer.detailAddresses.contextMenuDefaultShippingAddress')">
            </sw-field>
        {% endblock %}

        {% block sw_customer_address_form_options_default_billing_address %}
            <sw-field class="sw-customer-address-form__set-default-billing-address-action"
                    type="checkbox"
                    v-model="isDefaultBillingAddressId"
                    :disabled="isDefaultBillingAddressId"
                    @change="onChangeDefaultBillingAddress"
                    :label="$tc('sw-customer.detailAddresses.contextMenuDefaultBillingAddress')">
            </sw-field>
        {% endblock %}

        {% block sw_customer_address_form_options_custom_field_sets %}
            <sw-custom-field-set-renderer
                    :entity="address"
                    variant="tabs"
                    :sets="customFieldSets">
            </sw-custom-field-set-renderer>
        {% endblock %}
    </div>
{% endblock %}