.sw-condition-line-item {
    .sw-label {
        .sw-product-variant-info {
            max-width: 180px;
        }
    }

    .sw-select-result__result-item-text {
        display: flex;
        align-items: center;
    }
}
