@import "~scss/variables";

.sw-field__error {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: var(--scale-size-4);
    font-size: var(--font-size-xs);
    line-height: var(--font-line-height-xs);
    color: var(--color-text-critical-default);
}
