<div class="sw-property-assignment">

    <sw-property-search ref="searchField" :collapsible="false" :overlay="false" :options="options" @sw-property-search-option-selected="onSelectOption"/>

    <sw-grid class="sw-property-assignment__grid" :selectable="false" :items="groups" :isFullpage="false" table>
        <template slot="columns" slot-scope="{ item }">
            <sw-grid-column flex="200px" dataIndex="group.name" :label="$tc('sw-property-assignment.columnGroup')">
                {{ item.group.name }}
            </sw-grid-column>

            <sw-grid-column dataIndex="options" :label="$tc('sw-property-assignment.columnOptions')" flex="minmax(100px, 1fr)" class="sw-property-assignment__grid_option_column">
                <div v-for="(option, index) in item.options" :key="option.id" class="sw-property-assignment__grid_option_item">
                    <span class="sw-property-assignment__grid_option_item_value">{{ option.name }}</span><span class="sw-property-assignment__grid_option_item_delete" @click="deleteOption(option)"><sw-icon name="default-basic-x-line" size="14" /></span>
                </div>
            </sw-grid-column>
        </template>
    </sw-grid>
</div>