{% block sw_property_assignment %}
    <div class="sw-property-assignment">

        {% block sw_property_assignment_search_field %}
            <sw-property-search ref="searchField" :collapsible="true" :overlay="true" :options="options" @sw-property-search-option-selected="onSelectOption"/>
        {% endblock %}

        {% block sw_property_assignment_grid %}
            <sw-grid class="sw-property-assignment__grid" :selectable="false" :items="groups" :isFullpage="false" table>

                {% block sw_property_assignment_grid_columns %}
                    <template slot="columns" slot-scope="{ item }">

                        {% block sw_property_assignment_grid_columns_name %}
                            <sw-grid-column flex="200px" dataIndex="group.translated.name" :label="$tc('sw-property-assignment.columnGroup')" class="sw-property-assignment__grid_group_column">
                                {{ item.group.translated.name }}
                            </sw-grid-column>
                        {% endblock %}

                        {% block sw_property_assignment_grid_columns_options %}
                            <sw-grid-column dataIndex="options" :label="$tc('sw-property-assignment.columnOptions')" flex="minmax(100px, 1fr)" class="sw-property-assignment__grid_option_column">
                                {% block sw_property_assignment_grid_columns_options_loop %}
                                    <div v-for="(option, index) in item.options" :key="option.id" class="sw-property-assignment__grid_option_item">
                                        <sw-label @dismiss="deleteOption(option)" :dismissAble="true">{{ option.translated.name }}</sw-label>
                                    </div>
                                {% endblock %}
                            </sw-grid-column>
                        {% endblock %}
                    </template>
                {% endblock %}

                {% block sw_property_assignment_empty_state %}
                    <template slot="empty">
                        <sw-empty-state
                                v-if="!isLoading"
                                :title="$tc('sw-property-assignment.messageEmptyTitle')"
                                :subline="$tc('sw-property-assignment.messageEmptySubline')">
                        </sw-empty-state>
                    </template>
                {% endblock %}
            </sw-grid>
        {% endblock %}
    </div>
{% endblock %}