@import "~scss/variables";

$sw-order-line-item-grid-trash: $color-crimson-500;
$sw-order-line-item-border: $color-gray-300;

.sw-order-line-items-grid {
    .sw-order-line-items-grid__actions-container {
        padding: 24px;
        border-bottom: 1px solid $sw-order-line-item-border;
        background: $color-gray-100;

        .sw-order-line-items-grid__delete-button {
            &.sw-button--square:not([disabled]) .sw-icon,
            &.sw-button--square:not(.sw-button--disabled) .sw-icon {
                color: $sw-order-line-item-grid-trash;
            }
        }
    }

    .sw-order-line-items-grid__item {
        &-label {
            display: inline-block;
        }

        &-nested-indicator {
            display: inline-block;
            margin-right: 12px;
            height: 24px;
        }

        &-product {
            display: flex;
            flex-direction: row;
        }

        &-payload-options span {
            margin-right: 3px;
        }
    }

    .sw-order-line-items-grid__item-payload-options--group {
        font-weight: $font-weight-bold;
    }

    .sw-icon {
        width: 16px;
        height: 16px;
    }

    .sw-order-line-items-grid__item-payload-options {
        .sw-product-variant-info {
            white-space: normal;
            text-overflow: unset;
        }

        .sw-product-variant-info__product-name > div {
            width: 100%;
        }
    }

    .sw-entity-single-select__selection-text .sw-product-variant-info {
        max-width: 280px;
    }

    .sw-data-grid .sw-data-grid__cell--selection {
        width: 65px;
        min-width: 65px;
        max-width: 65px;
    }

    .sw-data-grid__row.is--inline-edit .sw-data-grid__cell-content > span:not(.sw-order-product-select) {
        padding: 0 10px;
    }
}
