{% block sw_category_detail_seo %}
    <div class="sw-category-detail-seo">

        {% block sw_category_detail_seo_config %}
            <sw-card :title="$tc('sw-category.base.seo.title')"
                     :isLoading="isLoading">
                <sw-category-seo-form :category="category"></sw-category-seo-form>
            </sw-card>
        {% endblock %}

        {% block sw_category_detail_seo_list %}
            <sw-seo-url v-if="category.seoUrls"
                        :isLoading="isLoading"
                        :hasDefaultTemplate="false"
                        :disabled="!acl.can('category.editor')"
                        :urls="category.seoUrls">
            </sw-seo-url>
        {% endblock %}

    </div>
{% endblock %}
