<div class="sw-search-bar">
    <div class="sw-search-bar__controls">
        {#controls_before#}
    </div>
    <div class="sw-search-bar__holder">
        <div class="sw-search-bar__field" :class="{ 'is--active': isActive }">


            <span v-if="useTypeSearch" class="sw-search-bar__type" :style="searchTypeColor">
                <slot name="search-type"></slot>
            </span>

            <slot name="search-input">
                <input class="sw-search-bar__input"
                       placeholder="Finde Producte, Kunden, Einkaufwelten, Module"
                       v-model="searchTerm"
                       @input="onSearchTermChange"
                       @focus="onFocusInput"
                       @blur="onBlur"
                       @keydown="onKeydownInput">
            </slot>

            <sw-icon name="small-search" small></sw-icon>
        </div>
    </div>
    <div class="sw-search-bar__controls">
        {#controls_after#}
    </div>

    <div v-if="showResultsContainer" class="sw-search-bar__results">
        <sw-alert v-if="!searchResults.length" variant="warning" title="Keine Ergebnisse">
            {{ tc('sw-search-bar.general.textNoSearchResults') }}
        </sw-alert>

        <ul v-else class="sw-search-bar__results-list">
            <sw-search-bar-item v-for="item in searchResults" :item="item" :key="item.id"></sw-search-bar-item>
        </ul>
    </div>
</div>