{% block sw_search_bar %}
    <div class="sw-search-bar"
         :class="{ 'is--search-bar-shown': this.isSearchBarShown }"
         :style="searchBarStyles">

        {% block sw_search_bar_container %}
            <div class="sw-search-bar__container">

                <button v-if="!isSearchBarShown" class="sw-search-bar__button" @click="toggleOffCanvas">
                    <sw-icon v-if="isOffCanvasShown" name="default-basic-x-line"></sw-icon>
                    <sw-icon v-else="isOffCanvasShown" name="small-default-stack-line"></sw-icon>
                </button>

                <button v-if="!isSearchBarShown" class="sw-search-bar__button" @click="showSearchBar">
                    <sw-icon name="default-action-search" color="#fff"></sw-icon>
                </button>

                {% block sw_search_bar_field %}
                    <div v-if="isSearchBarShown" class="sw-search-bar__field" :class="searchBarFieldClasses">

                        {% block sw_search_bar_type %}
                            <span v-if="useTypeSearch" class="sw-search-bar__type" :style="searchTypeColor">
                                <slot name="search-type">
                                    {% block sw_search_bar_slot_type %}{% endblock %}
                                </slot>
                            </span>
                        {% endblock %}

                        {% block sw_search_bar_input %}
                            <slot name="search-input">
                                {% block sw_search_bar_slot_input %}
                                    <input class="sw-search-bar__input"
                                           :placeholder="$tc('global.sw-search-bar.placeholderSearchField')"
                                           v-model="searchTerm"
                                           @input="onSearchTermChange"
                                           @focus="onFocusInput"
                                           @blur="onBlur"
                                           @keydown.delete="resetSearchType">
                                {% endblock %}
                            </slot>
                        {% endblock %}

                        {% block sw_search_bar_icon %}
                            <span v-if="isSearchBarShown" @click="hideSearchBar">
                                <sw-icon
                                         name="small-default-x-line-medium"
                                         small>
                                </sw-icon>
                            </span>
                            <sw-icon v-else
                                     name="small-search"
                                     small>
                            </sw-icon>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_search_bar_results %}
                    <div v-if="showResultsContainer" class="sw-search-bar__results">

                        {% block sw_search_bar_results_empty_message %}
                            <sw-alert v-if="!searchResults.length" variant="info">
                                {% block sw_search_bar_results_empty_message_text %}
                                    {{ $tc('global.sw-search-bar.textNoSearchResults') }}
                                {% endblock %}
                            </sw-alert>
                        {% endblock %}

                        {% block sw_search_bar_results_list %}
                            <ul v-else class="sw-search-bar__results-list">
                                {% block sw_search_bar_results_items %}
                                    <sw-search-bar-item v-for="item in searchResults" :item="item" :key="item.id"></sw-search-bar-item>
                                {% endblock %}
                            </ul>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}