{% block sw_search_bar %}
    <div class="sw-search-bar"
         @keyup.esc="clearSearchTerm()"
         @keyup.enter.prevent="onKeyUpEnter"
         @keydown.left.prevent="navigateLeftResults"
         @keydown.right.prevent="navigateRightResults"
         @keydown.up.prevent="navigateUpResults"
         @keydown.down.prevent="navigateDownResults">

        {% block sw_search_bar_container %}
            <div class="sw-search-bar__container">

                {% block sw_search_bar_mobile_controls %}
                    <div v-if="!isSearchBarShown" class="sw-search-bar__mobile-controls">

                        {% block sw_search_bar_button_off_canvas_toggle %}
                            <button class="sw-search-bar__button" @click="toggleOffCanvas">
                                <sw-icon v-if="isOffCanvasShown" name="default-basic-x-line"></sw-icon>
                                <sw-icon v-else name="small-default-stack-line"></sw-icon>
                            </button>
                        {% endblock %}

                        {% block sw_search_bar_version_display %}
                            <sw-version></sw-version>
                        {% endblock %}

                        {% block sw_search_bar_button_search %}
                            <button class="sw-search-bar__button" @click="showSearchBar">
                                <sw-icon name="default-action-search"></sw-icon>
                            </button>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_search_bar_field %}
                    <div v-if="isSearchBarShown" class="sw-search-bar__field" :class="searchBarFieldClasses">

                        {% block sw_search_bar_type %}
                            <span v-if="currentSearchType"
                                  class="sw-search-bar__type"
                                  :style="{ 'background-color': getSearchTypeProperty(currentSearchType, 'iconColor') }">
                                {{ getLabelSearchType() }}
                            </span>
                        {% endblock %}

                        {% block sw_search_bar_input %}
                            <slot name="search-input">
                                {% block sw_search_bar_slot_input %}
                                    <input class="sw-search-bar__input"
                                           ref="searchInput"
                                           :placeholder="placeholderSearchInput"
                                           v-model="searchTerm"
                                           @input="onSearchTermChange"
                                           @mouseenter="onMouseEnter"
                                           @mouseleave="onMouseLeave"
                                           @focus="onFocusInput"
                                           @blur="onBlur"
                                           @keydown.delete="resetSearchType">
                                {% endblock %}
                            </slot>
                        {% endblock %}

                        {% block sw_search_bar_icon %}
                            <button class="sw-search-bar__field-icon sw-search-bar__field-close" @click="hideSearchBar">
                                <sw-icon name="small-default-x-line-medium" small></sw-icon>
                            </button>

                            <span class="sw-search-bar__field-icon sw-search-bar__field-search-icon">
                                <sw-icon name="small-search" small></sw-icon>
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_search_bar_results %}
                    <div
                         v-if="showResultsContainer"
                         ref="resultsContainer"
                         class="sw-search-bar__results">

                        {% block sw_search_bar_results_empty_state %}
                            <sw-loader v-if="this.isLoading"></sw-loader>
                        {% endblock %}

                        <template v-else
                                  v-for="entity,column in results">
                            {% block sw_search_bar_results_list %}
                                <div v-if="entity.entities.length > 0 && searchTypes.hasOwnProperty(entity.entity)"
                                     class="sw-search-bar__results-column">
                                    {% block sw_search_bar_results_list_column %}
                                        <div v-if="entity.entities.length > 0">
                                            {% block sw_search_bar_results_list_column_header %}
                                                <div class="sw-search-bar__results-column-header">
                                                    <router-link v-tooltip="$tc('global.sw-search-bar.tooltipAllResults')"
                                                                 class="sw-search-bar__results-column-header-router-link"
                                                                 :to="{ name: getSearchTypeProperty(entity.entity, 'listingRoute'),
                                                                  query: { term: searchTerm }}">
                                                        <sw-icon v-if="getSearchTypeProperty(entity.entity, 'iconName')"
                                                                 :name="getSearchTypeProperty(entity.entity, 'iconName')"
                                                                 size="20px"
                                                                 :color="getSearchTypeProperty(entity.entity, 'iconColor')">
                                                        </sw-icon>
                                                        {{ $tc(`global.entities.${entity.entity}`, entity.total) }}
                                                        ({{ entity.total }})
                                                    </router-link>
                                                </div>
                                            {% endblock %}
                                            <ul class="sw-search-bar__results-list">
                                                <sw-search-bar-item
                                                        v-for="item,index in entity.entities"
                                                        :item="item"
                                                        :type="entity.entity"
                                                        :searchTerm="searchTerm"
                                                        :column="column"
                                                        :index="index"
                                                        :key="item.id">
                                                </sw-search-bar-item>
                                            </ul>
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </template>


                        {% block sw_search_bar_results_empty %}
                            <div v-if="isResultEmpty() && !isLoading" class="sw-search-bar__results-empty-message">
                                {% block sw_search_bar_results_empty_icon %}
                                    <sw-icon name="default-action-search" size="20px"></sw-icon>
                                {% endblock %}

                                {% block sw_search_bar_results_empty_text %}
                                    {{ $tc('global.sw-search-bar.messageNoResults', 0, { term: searchTerm }) }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sw_search_bar_types_container %}
                    <div v-if="showTypeSelectContainer"
                         class="sw-search-bar__types_container">
                            <div v-for="type,index in typeSelectResults"
                                class="sw-search-bar__type-item"
                                :class="{ 'is--active': activeTypeListIndex === index }"
                                @mouseenter="onMouseEnterSearchType(index)"
                                @click="onClickType(type.entityName)">
                                <span class="sw-search-bar__type"
                                      :style="{ 'background-color': getSearchTypeProperty(type.entityName, 'iconColor') }">
                                    {{ getLabelSearchType(type.entityName) }}
                                </span>
                            </div>
                        {% block sw_search_bar_types_container_empty %}
                            <div v-if="typeSelectResults.length < 1" class="sw-search-bar__type-results-empty-message">
                                {% block sw_search_bar_types_container_empty_text %}
                                    {{ $tc('global.sw-search-bar.messageNoTypeResults') }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
