@import "~less/variables";

@sw-search-bar-border-color:             @color-steam-cloud;
@sw-search-bar-background-color:         @color-white;
@sw-search-bar-results-background-color: @color-white;
@sw-search-bar-border-radius:            @border-radius-default;
@sw-search-bar-results-box-shadow:       0 3px 6px 0 rgba(120, 138, 155, 0.3);
@sw-search-bar-results-z-index:          800;
@sw-search-bar-z-index:                  500;

.sw-search-bar {
    width: 100%;
    height: 80px;
    background: @sw-search-bar-background-color;
    z-index: @sw-search-bar-z-index;
    border-bottom: 1px solid @sw-search-bar-border-color;
    align-content: center;

    .sw-search-bar__container {
        padding: 15px 0;
        max-width: 800px;
        margin: 0 auto;
        position: relative;

        @media screen and (max-width: 1360px) {
            padding: 15px;
        }
    }

    .sw-search-bar__field {
        margin-bottom: 0;
        border: 1px solid @sw-search-bar-border-color;
        border-radius: @sw-search-bar-border-radius;
        padding: 9px 10px;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        height: 50px;

        &.is--active {
            border-color: @color-shopware-blue;
        }

        .sw-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
            color: @color-gutenberg;
            pointer-events: none;
        }
    }

    .sw-search-bar__type {
        background-color: darken(@color-light-gray, 20%);
        color: @color-white;
        display: inline-block;
        padding: 5px 12px;
        border-radius: @sw-search-bar-border-radius;
        flex-shrink: 0;
        font-weight: 600;
    }

    .sw-search-bar__input {
        font-family: @font-family-default;
        color: @color-gutenberg;
        flex-grow: 1;
        font-size: 15px;
        padding: 0 40px 0 15px;
        border: 0;
        background: none;
        outline: none;
    }

    .sw-search-bar__controls {
        width: 100px;
    }

    .sw-search-bar__results {
        height: 340px;
        position: absolute;
        right: 0;
        left: 0;
        top: 73px;
        z-index: @sw-search-bar-results-z-index;
        padding: 25px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: @sw-search-bar-results-background-color;
        border: 1px solid @sw-search-bar-border-color;
        border-radius: @sw-search-bar-border-radius;
        box-shadow: @sw-search-bar-results-box-shadow;

        @media screen and (max-width: 1360px) {
            right: 15px;
            left: 15px;
        }
    }

    .sw-search-bar__results-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}