{% block sw_settings_seo_entity_detail %}
    <div class="sw-settings-seo-entity-detail">
        {% block sw_settings_seo_entity_detail_content %}
            <sw-container columns="1fr 1fr">
                {% block sw_settings_seo_entity_detail_meta_title %}
                    <sw-text-field
                            v-if="entity.hasOwnProperty('metaTitle')"
                            :label="$tc('sw-settings-seo-entity-detail.labelMetaTitle')"
                            v-model="entity.metaTitle">
                    </sw-text-field>
                {% endblock %}
            </sw-container>
            {% block sw_settings_seo_entity_detail_content_additional_text %}
                <sw-text-editor
                        v-if="entity.hasOwnProperty('additionalText')"
                        :label="$tc('sw-settings-seo-entity-detail.labelAdditionalText')"
                        v-model="entity.additionalText">
                </sw-text-editor>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
