{% block sw_import_export_profile_csv_mapping_modal %}
    <sw-modal class="sw-import-export-profile-csv-mapping-modal"
              variant="full"
              :title="title"
              @modal-close="onCloseModal">
        {% block sw_import_export_profile_csv_mapping_modal_grid %}
            <sw-data-grid :columns="columns"
                          :data-source="mappingDefinitions"
                          :showSelection="false">
                {% block sw_import_export_profile_csv_mapping_modal_grid_columns_file_field %}
                    <template #column-fileField="{ item }">
                        <sw-text-field v-model="item.fileField"></sw-text-field>
                    </template>
                {% endblock %}

                {% block sw_import_export_profile_csv_mapping_modal_grid_columns_entity_field %}
                    <template #column-entityField="{ item }">
                        <sw-select-field v-model="item.entityField">
                            <option v-for="(type, name) in availableEntityFields" :value="name">
                                {{ name }}
                            </option>
                        </sw-select-field>
                    </template>
                {% endblock %}

                {% block sw_import_export_profile_csv_mapping_modal_grid_columns_value_substitution %}
                    <template #column-valueSubstitution="{ item }">
                        <sw-text-field v-model="item.valueSubstitution"
                                       v-if="availableEntityFields[item.entityField] == 'uuid'"></sw-text-field>
                        <span v-else></span>
                    </template>
                {% endblock %}

                {% block sw_import_export_profile_csv_mapping_modal_grid_columns_is_identifier %}
                    <template #column-isIdentifier="{ item, itemIndex }">
                        <sw-checkbox-field v-model="item.isIdentifier" @change="onIdentifierChange(itemIndex)">
                        </sw-checkbox-field>
                    </template>
                {% endblock %}

                {% block sw_import_export_profile_csv_mapping_modal_grid_columns_actions %}
                    <template #actions="{ item }">
                        {% block sw_import_export_profile_csv_mapping_modal_grid_columns_actions_delete %}
                            <sw-context-menu-item @click="onConfirmDelete(item)" variant="danger">
                                {{ $tc('sw-import-export-profile.mapping.deleteCsvMappingItem') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    </template>
                {% endblock %}
            </sw-data-grid>
        {% endblock %}

        {% block sw_import_export_profile_csv_mapping_modal_footer %}
            <template #modal-footer>
                {% block sw_import_export_profile_csv_mapping_modal_footer_add_item %}
                    <sw-button @click="addMappingField" size="small">
                        {{ $tc('sw-import-export-profile.mapping.addCsvMappingItem') }}
                    </sw-button>
                {% endblock %}

                {% block sw_import_export_profile_csv_mapping_modal_footer_save %}
                    <sw-button @click="onSaveMapping" size="small" variant="primary">
                        {{ $tc('sw-import-export-profile.mapping.saveButton') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
