{% block sw_order_state_select %}
<div class="sw-order-state-select">
    {% block sw_order_state_select_field %}
    <sw-field
        v-model="selectedActionName"
        :class="`${selectStyle} ${backgroundStyle}`"
        type="select"
        :disabled="disabled"
        :placeholder="selectPlaceholder"
        :options="transitionOptions"
        size="small"
    />
    {% endblock %}
</div>
{% endblock %}
