<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_cover %}
<div class="sw-cms-block-image-cover">
    <slot name="image"></slot>
</div>
{% endblock %}
