<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_admin %}
<div
    id="app"
    @mousemove="onUserActivity"
    @keyup="onUserActivity"
>
    <sw-notifications ref="notifications" />
    <sw-duplicated-media-v2 v-if="isLoggedIn" />
    <router-view />
    <sw-settings-cache-modal v-if="isLoggedIn" />
    <sw-license-violation />
    <sw-hidden-iframes />
    <sw-modals-renderer />
    <sw-app-wrong-app-url-modal v-if="isLoggedIn" />
    <sw-settings-usage-data-modal v-if="isLoggedIn" />
</div>
{% endblock %}
