{% block sw_cms_element_product_slider_preview %}
<div class="sw-cms-el-preview-product-slider">
    <sw-icon
        name="default-arrow-head-left"
        size="10"
    />
    <sw-cms-product-box-preview :has-text="false" />
    <sw-icon
        name="default-arrow-head-right"
        size="10"
    />
</div>
{% endblock %}
