<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image %}
<div class="sw-cms-block-image">
    <slot name="image">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_block_image_slot_image %}{% endblock %}
    </slot>
</div>
{% endblock %}
