<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_sidebar_navigator_element %}
<div class="sw-cms-sidebar__navigator-element">

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_sidebar_navigator_element_label %}
    <div class="navigator-element__label">
        {{ block.name ? block.name : block.type }}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_sidebar_navigator_element_duplicate %}
    <div
        v-if="duplicable && removable"
        class="navigator-element__action-duplicate"
        role="button"
        tabindex="0"
        @click="onBlockDuplicate"
        @keydown.enter="onBlockDuplicate"
    >
        <sw-icon
            name="regular-duplicate"
            size="16"
        />
    </div>
    <div
        v-else
        class="navigator-element__action-duplicate"
    ></div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_sidebar_sidebar_navigator_element_delete %}
    <div
        v-if="removable"
        class="navigator-element__action-delete"
        role="button"
        tabindex="0"
        @click="onBlockDelete"
        @keydown.enter="onBlockDelete"
    >
        <sw-icon
            name="regular-trash"
            size="16"
        />
    </div>
    {% endblock %}
</div>
{% endblock %}
