{% sw_extends '@Storefront/frontend/index/sidebar.html.twig' %}

{% block frontend_index_sidebar %}
    <div class="listing--sidebar">
        {{ parent() }}

        {#{% if criteria %}#}
            <div class="sidebar-filter">
                <div class="sidebar-filter--content">
                    {% sw_include '@Storefront/frontend/listing/actions/action-filter-panel.html.twig' %}
                </div>
            </div>
        {#{% endif %}#}
    </div>
{% endblock %}