<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_el_youtube_video_preview %}
<div class="sw-cms-el-preview-youtube-video">
    <img
        class="sw-cms-el-preview-youtube-video__img"
        :src="assetFilter('/administration/static/img/cms/preview_youtube.jpg')"
        alt=""
    >
    <img
        class="sw-cms-el-preview-youtube-video__icon"
        :src="assetFilter('/administration/static/img/cms/youtube-icon.png')"
        alt=""
    >
</div>
{% endblock %}
