{% block sw_cms_el_youtube_video_preview %}
<div class="sw-cms-el-preview-youtube-video">
    <img
        class="sw-cms-el-preview-youtube-video__img"
        :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
    >
    <img
        class="sw-cms-el-preview-youtube-video__icon"
        :src="'/administration/static/img/cms/youtube-icon.png' | asset"
    >
</div>
{% endblock %}
