@import "~scss/variables";

.sw-cms-list {
    .sw-cms-list__content {
        padding: 80px 30px 30px 30px;
        margin: 0 auto;
        max-width: 1460px;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-column-gap: 30px;

        .sw-search-bar {
            background: #FAFBFC;
            z-index:9;
        }
    }

    .sw-cms-list__sidebar {
        h3 {
            font-size: 32px;
            font-weight: normal;
        }
    }

    .sw-cms-list__actions {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 30px;
        align-items: center;
        align-content: center;
        margin-bottom: 30px;

        .sw-field {
            margin: 0;
        }

        .actions__sorting {
            display: grid;

            .sw-field {
                display: grid;
                width: auto;
                grid-template-columns: auto auto;
                align-items: center;
                margin-bottom: 0;

                label {
                    margin: 8px 10px 8px 0;
                    text-align: right;
                }
            }
        }
    }

    .sw-cms-list__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}
