@import "~scss/variables";

.sw-cms-list {
    .sw-cms-list__content {
        padding: 80px 30px 30px 30px;
        margin: 0 auto;
        max-width: 1260px;
        display: grid;
        grid-template-columns: 240px auto;
        grid-column-gap: 30px;

        .sw-search-bar {
            background: $color-iron;
            z-index:9;
        }
    }

    .sw-cms-list__sidebar {
        h3 {
            font-size: 32px;
            font-weight: normal;
        }
    }

    .sw-cms-list__actions {
        display: grid;
        grid-template-columns: auto 330px;
        grid-column-gap: 30px;
        align-items: center;
        align-content: center;
        margin-bottom: 30px;

        .sw-field {
            margin: 0;
        }

        .sw-simple-search-field {
            margin-bottom: 0;
            height: 100%;

            .sw-simple-search-field__input {
                input {
                    height: auto;
                    padding: 10px 20px 10px 45px;
                }
            }
        }
    }

    .sw-cms-list__actions-sorting {
        display: grid;

        .sw-field {
            display: grid;
            width: auto;
            grid-template-columns: auto auto;
            align-items: center;
            margin-bottom: 0;

            label {
                margin: 8px 10px 8px 0;
                text-align: right;
            }
        }
    }

    .sw-cms-list__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}
