<sw-page class="sw-cms-list" :showSearchBar="false" :showSmartBar="false">
    <template slot="content">
        <sw-cms-toolbar>
            <sw-language-switch slot="language-switch" @on-change="onChangeLanguage"></sw-language-switch>
            <h2 slot="title">Content Management</h2>
            <sw-button slot="actions" variant="primary">Create new layout</sw-button>
        </sw-cms-toolbar>

        <div class="sw-cms-list__content">
            <div class="sw-cms-list__sidebar">
                <h3>Welcome.</h3>

                <sw-tabs isVertical small class="sw-cms-list__type-nav">
                    <sw-tabs-item :to="{ name: 'sw.cms.index' }">Recently updated</sw-tabs-item>
                    <sw-tabs-item :to="{ name: 'sw.cms.index' }">Landingpages</sw-tabs-item>
                    <sw-tabs-item :to="{ name: 'sw.cms.index' }">Listings</sw-tabs-item>
                    <sw-tabs-item :to="{ name: 'sw.cms.index' }">Shop pages</sw-tabs-item>
                    <sw-tabs-item :to="{ name: 'sw.cms.index' }">Blog articles</sw-tabs-item>
                </sw-tabs>
            </div>

            <div class="sw-cms-list__listing">
                <div class="sw-cms-list__actions">
                    <sw-text-field type="text" placeholder="Search">
                        <sw-icon name="default-action-search" slot="suffix"></sw-icon>
                    </sw-text-field>

                    <div class="actions__sorting">
                        <span>Sort by:</span>
                        <sw-field type="select">
                            <option slot="options" selected>Create date</option>
                        </sw-field>
                    </div>
                </div>

                <div class="sw-cms-list__list">
                    <sw-cms-list-item :page="cmsPage" :key="cmsPage.id" v-for="cmsPage in pages" @onItemClick="onListItemClick"></sw-cms-list-item>
                </div>
            </div>
        </div>
    </template>
</sw-page>
