<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_product_add_properties_modal %}
<sw-modal
    v-if="properties"
    class="sw-product-add-properties-modal"
    :title="$tc('sw-product.properties.addPropertiesModal.title')"
    @modal-close="onCancel"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_add_properties_modal_filled_state %}
    <div v-if="propertiesAvailable">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_add_properties_modal_filled_state_header %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_add_properties_modal_filled_state_search_field %}
        <sw-property-search
            ref="propertySearch"
            :options="newProperties"
            :overlay="false"
            :collapsible="false"
            @option-select="onSelectOption"
        >
            <template
                #toolbar="{focus, input}"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_property_search_field %}
                <div class="sw-property-search__toolbar sw-product-add-properties-modal__toolbar">
                    <slot name="toolbar">
                        <div class="sw-property-search__search-field-container">
                            <slot name="toolbar-search-field">
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block sw_productadd_properties_selection_search_field %}
                                <sw-simple-search-field
                                    ref="searchField"
                                    size="small"
                                    variant="form"
                                    class="sw-property-search__search-field sw-product-add-properties-modal__search-field"
                                    :placeholder="$tc('sw-property-search.placeholderSearch')"
                                    @focus="focus"
                                    @input="input"
                                    @option-select="onSelectOption"
                                />
                                {% endblock %}
                            </slot>
                        </div>
                    </slot>
                </div>
                {% endblock %}
            </template>
        </sw-property-search>
        {% endblock %}
        {% endblock %}
    </div>
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_product_add_properties_modal_empty_state %}
    <sw-empty-state
        v-if="!propertiesAvailable"
        :absolute="false"
        :title="$tc('sw-product.properties.addPropertiesModal.titleEmptyState')"
        :subline="$tc('sw-product.properties.addPropertiesModal.descriptionEmptyState')"
    >
        <template #icon>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_add_properties_modal_empty_state_image %}
            <img
                :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset"
                :alt="$tc('sw-product.properties.addPropertiesModal.titleEmptyState')"
            >
            {% endblock %}
        </template>

        <template #actions>
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_product_properties_empty_state_button_property %}
            <sw-button
                variant="ghost"
                @click="onOpenProperties"
            >
                {{ $tc('sw-product.properties.buttonAddProperties') }}
            </sw-button>
            {% endblock %}
        </template>
    </sw-empty-state>
    {% endblock %}

    <template #modal-footer>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_add_properties_modal_button_cancel %}
        <sw-button
            size="small"
            @click="onCancel"
        >
            {{ $tc('global.default.cancel') }}
        </sw-button>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_product_add_properties_modal_button_save %}
        <sw-button
            v-if="showSaveButton"
            class="sw-product-add-properties-modal__button-save"
            variant="primary"
            size="small"
            @click="onSave"
        >
            {{ $tc('global.default.save') }}
        </sw-button>
        {% endblock %}
    </template>
</sw-modal>
{% endblock %}
