{% block sw_plugin_updates %}
    <div class="sw-plugin-updates">
        {% block sw_plugin_updates_updates_grid %}
            <sw-plugin-updates-grid :pageLoading="pageLoading"></sw-plugin-updates-grid>
        {% endblock %}

        {% block sw_plugin_updates_last_updates_grid %}
            <sw-plugin-last-updates-grid :pageLoading="pageLoading"></sw-plugin-last-updates-grid>
        {% endblock %}
    </div>
{% endblock %}
