{% block sw_plugin_updates %}
<div class="sw-plugin-updates">
    <sw-plugin-updates-grid></sw-plugin-updates-grid>

    <sw-plugin-last-updates-grid></sw-plugin-last-updates-grid>
</div>
{% endblock %}
