{% block sw_settings_document_detail %}
    <sw-page class="sw-settings-document-detail">

        {% block sw_settings_document_detail_header %}
            <template slot="smart-bar-header">
                <h2 v-if="documentConfig.name">{{ documentConfig.name }}</h2>
                <h2 v-else>{{ $tc('sw-settings-document.detail.textHeadline') }}</h2>
            </template>
        {% endblock %}

        {% block sw_settings_document_detail_actions %}
            <template slot="smart-bar-actions">
                {% block sw_settings_document_detail_actions_abort %}
                    <sw-button :disabled="isLoading" v-tooltip.bottom="tooltipCancel" @click="onCancel">
                        {{ $tc('sw-settings-document.detail.buttonCancel') }}
                    </sw-button>
                {% endblock %}

                {% block sw_settings_document_detail_actions_save %}
                    <sw-button-process
                            class="sw-settings-document-detail__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="documentConfig.isLoading"
                            variant="primary"
                            @process-finish="saveFinish"
                            v-tooltip.bottom="tooltipSave"
                            @click.prevent="onSave">
                        {{ $tc('sw-settings-document.detail.buttonSave') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block sw_settings_document_detail_content %}
            <sw-card-view slot="content">
                {% block sw_settings_document_detail_content_card %}
                    <sw-card
                        :title="$tc('sw-settings-document.detail.configCard')"
                        :isLoading="isLoading">
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
                            {% block sw_settings_document_detail_content_field_name %}
                                <div class="sw-settings-document-detail__field_name">
                                    <sw-field type="text"
                                              :label="$tc('sw-settings-document.detail.labelName')"
                                              :placeholder="$tc('sw-settings-document.detail.placeholderName')"
                                              validation="required"
                                              required
                                              v-model="documentConfig.name">
                                    </sw-field>
                                </div>
                            {% endblock %}
                            {% block sw_settings_document_detail_content_field_media %}
                                <div flex="250px" align="stretch"  class="media-column">
                                    <sw-media-field v-model="documentConfig.logoId"
                                                    :label="$tc('sw-settings-document.detail.labelOptionMedia')">
                                    </sw-media-field>
                                </div>
                            {% endblock %}
                            {% block sw_settings_document_detail_content_field_file_name_prefix %}
                            <div class="sw-settings-document-detail__field_file_name_prefix">
                                <sw-field type="text"
                                          :label="$tc('sw-settings-document.detail.labelFileNamePrefix')"
                                          v-model="documentConfig.filenamePrefix">
                                </sw-field>
                            </div>
                            {% endblock %}
                            {% block sw_settings_document_detail_content_field_file_name_suffix %}
                            <div class="sw-settings-document-detail__field_file_name_suffix">
                                <sw-field type="text"
                                          :label="$tc('sw-settings-document.detail.labelFileNameSuffix')"
                                          v-model="documentConfig.filenameSuffix">
                                </sw-field>
                            </div>
                            {% endblock %}
                            {% block sw_settings_document_detail_content_form_field_renderer_content %}
                                <template v-if="documentConfig.config" v-for="formField in generalFormFields">
                                    {% block sw_settings_document_detail_content_form_field_renderer %}
                                        <sw-form-field-renderer
                                            class="sw-settings-document-detail__form-field-renderer"
                                            v-bind="formField"
                                            v-model="documentConfig.config[formField.name]">
                                        </sw-form-field-renderer>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}

                {% block sw_settings_document_detail_company_card %}
                    <sw-card
                        :title="$tc('sw-settings-document.detail.companyCard')"
                        :isLoading="isLoading">
                        <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
                            {% block sw_settings_document_detail_company_form_field_renderer_content %}
                                <template v-if="documentConfig.config">
                                    <template v-for="formField in companyFormFields">
                                        {% block sw_settings_document_detail_company_form_field_renderer %}
                                            <sw-form-field-renderer
                                                    v-bind="formField"
                                                    v-model="documentConfig.config[formField.name]">
                                            </sw-form-field-renderer>
                                        {% endblock %}
                                    </template>
                                </template>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}

                {% block sw_settings_document_detail_assignment_card %}
                    <sw-card
                        :title="$tc('sw-settings-document.detail.assignmentCard')"
                        :isLoading="isLoading || typeIsLoading">
                        <sw-container columns="repeat(auto-fit, minmax(100%, 1fr))" gap="0px 30px">
                            {% block sw_document_detail_base_general_input_type %}
                                <sw-entity-single-select
                                    required
                                    entity="document_type"
                                    v-model="documentConfig.documentTypeId"
                                    id="documentConfigTypes"
                                    :label="$tc('sw-settings-document.detail.labelType')"
                                    class="sw-settings-document-detail__select-type"
                                    :disabled="documentConfig.global"
                                    v-tooltip="{
                                        showDelay: 300,
                                        message: $tc('sw-settings-document.detail.disabledTypeSelect'),
                                        disabled: !documentConfig.global
                                    }"
                                    @change="(id, type) => onChangeType(type)"
                                    >
                                </sw-entity-single-select>
                            {% endblock %}
                            {% block sw_document_detail_base_general_input_sales_channel %}
                                <sw-multi-select
                                    required
                                    id="documentSalesChannel"
                                    labelProperty="name"
                                    valueProperty="id"
                                    v-model="documentConfigSalesChannels"
                                    :options="documentConfigSalesChannelOptionsCollection"
                                    :label="$tc('sw-settings-document.detail.labelSalesChannel')"
                                    :disabled="!documentConfig.documentType"
                                    v-tooltip="{
                                        showDelay: 300,
                                        message: $tc('sw-settings-document.detail.disabledSalesChannelSelect'),
                                        disabled: !!documentConfig.documentType
                                    }"
                                    class="sw-document-detail__select-type"
                                    v-if="documentConfig.salesChannels && (!documentConfig.global || documentConfig.global === false)">
                                    {% block sw_document_detail_base_general_input_sales_channel_label %}
                                        <template #selection-label-property="{ item }">
                                            {{ item.salesChannel.translated.name }}
                                        </template>
                                    {% endblock %}
                                    {% block sw_document_detail_base_general_input_sales_channel_result_item %}
                                        <template #result-item="{ item, index, labelProperty, valueProperty, searchTerm, highlightSearchTerm, isSelected, addItem, getKey }">
                                            <li is="sw-select-result"
                                                :selected="isSelected(item)"
                                                @item-select="addItem"
                                                :disabled="alreadyAssignedSalesChannelIdsToType.includes(item.salesChannel.id)"
                                                v-tooltip="{
                                                    showDelay: 300,
                                                    message: $tc('sw-settings-document.detail.disabledSalesChannel'),
                                                    disabled: !alreadyAssignedSalesChannelIdsToType.includes(item.salesChannel.id)
                                                }"
                                                v-bind="{ item, index }">
                                                <sw-highlight-text v-if="highlightSearchTerm"
                                                                   :text="item.salesChannel.translated.name"
                                                                   :searchTerm="searchTerm">
                                                </sw-highlight-text>
                                                <template v-else>
                                                    {{ item.salesChannel.translated.name }}
                                                </template>
                                            </li>
                                        </template>
                                    {% endblock %}
                                </sw-multi-select>
                            {% endblock %}
                        </sw-container>
                    </sw-card>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
