{% block sw_addition_field %}
    <span class="sw-field__addition" :class="fieldClasses">
        <slot>
            {% block sw_field_slot_addition %}
                {{ text }}
            {% endblock %}
        </slot>
    </span>
{% endblock %}
