.sw-flow-list {
    &-card {
        overflow: hidden;

        .mt-card__content {
            padding: 0;
        }
    }

    &__empty-state {
        min-height: 34.375rem;
    }

    &__event-name {
        min-width: var(--scale-size-256);
    }

    .sw-empty-state__icon {
        display: flex;
        justify-content: center;
    }
}
