@import "~scss/variables";

.sw-flow-list-card {
    overflow: hidden;

    .mt-card__content {
        padding: 0;
    }
}

.sw-flow-list {
    .sw-flow-list__empty-state {
        min-height: 550px;
    }
}
