{% block sw_settings_country_preview_template_modal %}
<sw-modal
    :title="$tc('sw-settings-country.detail.previewModalTitle')"
    @modal-close="onCancelShowPreview"
>
    <span v-html="previewAddress"></span>

    {% block sw_settings_country_preview_template_modal_footer %}
    <template #modal-footer>
        {% block sw_settings_country_preview_template_modal_footer_cancel %}
        <sw-button
            size="small"
            @click="onCancelShowPreview"
        >
            {{ $tc('global.default.close') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}
</sw-modal>
{% endblock %}
