<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_product_box_preview %}
<div
    class="sw-cms-product-box-preview"
    :class="{ 'has--text': hasText }"
>
    <div class="sw-cms-product-box-preview__image">
        <img
            :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
            alt=""
        >
    </div>

    <div v-if="hasText">
        <div class="sw-cms-product-box-preview__name">
            Lorem Ipsum
        </div>

        <div class="sw-cms-product-box-preview__description">
            Lorem ipsum dolor sit amet conset...
        </div>

        <div class="sw-cms-product-box-preview__price">
            19,90 €
        </div>
    </div>

    <div class="sw-cms-product-box-preview__action">
        Add to cart
    </div>
</div>
{% endblock %}
