{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_unit_price %}
    {# display tax instead of item price in confirm item #}
    {% block page_checkout_item_tax_price %}
        {% if context.salesChannel.taxCalculationType == 'horizontal' %}
            <div class="col-12 col-sm-4 col-md-2 cart-item-tax-price">
                {% block page_checkout_item_tax_price_label %}
                    <div class="cart-item-tax-price-label">
                        {% if context.taxState == "gross" %}
                            {{ "checkout.cartHeaderTaxIncludeVat"|trans|sw_sanitize }}
                        {% else %}
                            {{ "checkout.cartHeaderTaxExcludeVat"|trans|sw_sanitize }}
                        {% endif %}
                    </div>
                {% endblock %}

                {% block page_checkout_item_tax_price_inner %}
                    {% for calculatedTax in lineItem.price.calculatedTaxes %}
                        {{ calculatedTax.tax|currency }}
                        <br>
                    {% endfor %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block page_checkout_item_total_price_tax_symbol %}{% endblock %}

{% block page_checkout_item_quantity_redirect %}
    <input type="hidden"
           name="redirectTo"
           value="frontend.checkout.confirm.page">
{% endblock %}

{% block page_checkout_item_remove_redirect %}
    <input type="hidden"
           name="redirectTo"
           value="frontend.checkout.confirm.page">
{% endblock %}

{% block page_checkout_item_children %}
    {% set childTemplate = '@Storefront/storefront/page/checkout/confirm/confirm-item.html.twig' %}
    {{ parent() }}
{% endblock %}
