{% block sw_condition_value_content %}
<div class="sw-condition-billing-customer-number sw-condition__condition-value">
    {% block sw_condition_billing_customer_number_field_operator %}
    <sw-condition-operator-select
        v-bind="{ condition, operators }"
        :disabled="disabled"
    />
    {% endblock %}

    {% block sw_condition_billing_customer_number_field_numbers %}
    <sw-tagged-field
        v-model="customerNumbers"
        size="medium"
        :disabled="disabled"
    />
    {% endblock %}
</div>
{% endblock %}
