{% block sw_settings_newsletter_receiver_boolean_filter %}
    <div class="sw-settings-newsletter-receiver-boolean-filter">
        <slot name="template">
            {% block sw_settings_newsletter_receiver_boolean_filter_field %}
                <slot name="field">
                    <sw-field type="switch"
                              :name="id"
                              @change="onChange"
                              :label="label">
                    </sw-field>
                </slot>
            {% endblock %}
        </slot>
    </div>
{% endblock %}
